Repository mui/material-ui, pull requests merged in 2018-11, with the labels that each got.

#13429 [core] Upgrade dev dependencies
  .size-limit.js
  package.json
  packages/material-ui/package.json
  test/karma.conf.js
  yarn.lock
Labels: core

#13478 [docs] Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#13474 [docs] Fix material-ui-popup-state IE 11 issue
  docs/src/pages/demos/menus/MenuPopupState.js
  docs/src/pages/demos/menus/menus.md
  docs/src/pages/demos/snackbars/snackbars.md
  docs/src/pages/demos/tables/tables.md
  docs/src/pages/demos/text-fields/text-fields.md
  docs/src/pages/utils/popover/PopoverPopupState.js
  docs/src/pages/utils/popover/popover.md
  docs/src/pages/utils/popper/PopperPopupState.js
  docs/src/pages/utils/popper/popper.md
Labels: PR: needs revision, docs

#13483 [ButtonBase] Update focusVisible ponyfill for shadowRoots
  .size-limit.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/ButtonBase/focusVisible.js
Labels: component: ButtonBase, enhancement

#13500 [docs] Add Typography example for MenuItem
  docs/src/pages/demos/menus/TypographyMenu.js
  docs/src/pages/demos/menus/menus.md
  packages/material-ui/src/MenuItem/MenuItem.js
  pages/demos/menus.js
Labels: component: Menu, docs

#13499 [FormControlLabel] Add top and bottom `labelPlacement` property variants
  docs/src/pages/demos/selection-controls/FormControlLabelPosition.js
  docs/src/pages/demos/selection-controls/selection-controls.md
  packages/material-ui/src/FormControlLabel/FormControlLabel.d.ts
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.test.js
  packages/material-ui/src/utils/helpers.js
  pages/api/form-control-label.md
  pages/demos/selection-controls.js
Labels: enhancement

#13498 [List] Use stable context API
  docs/src/pages/demos/lists/CheckboxListSecondary.js
  packages/material-ui/src/List/List.js
  packages/material-ui/src/List/List.test.js
  packages/material-ui/src/List/ListContext.d.ts
  packages/material-ui/src/List/ListContext.js
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/ListItem/MergeListContext.d.ts
  packages/material-ui/src/ListItem/MergeListContext.js
  packages/material-ui/src/ListItemAvatar/ListItemAvatar.js
  packages/material-ui/src/ListItemAvatar/ListItemAvatar.test.js
  packages/material-ui/src/ListItemText/ListItemText.js
  packages/material-ui/src/ListItemText/ListItemText.test.js
Labels: component: List, enhancement

#13519 [OutlinedInput] Remove Firefox workaround
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
Labels: bug, component: TextField

#13511 [TextField] Fix style focus issue on mobile
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: bug, component: TextField

#13517 [test] Improve tests related to lists
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/ListItemText/ListItemText.test.js
  packages/material-ui/src/test-utils/findOutermostIntrinsic.d.ts
  packages/material-ui/src/test-utils/findOutermostIntrinsic.js
  packages/material-ui/src/test-utils/findOutermostIntrinsic.test.js
  packages/material-ui/src/test-utils/index.d.ts
  packages/material-ui/src/test-utils/index.js
Labels: component: List, test

#13487 [InputBase] Remove legacy lifecycle methods
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/FormControl/FormControl.test.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
Labels: component: TextField, enhancement

#13525 [core] Remove recompose/wrapDisplayName usage
  packages/material-ui/src/Badge/Badge.js
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/styles/withTheme.js
  packages/material-ui/src/withWidth/withWidth.js
Labels: core

#13528 [docs] Advanced filter added to the documentation
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#13537 [docs] Save one component in the demo
  docs/src/pages/page-layout-examples/dashboard/Dashboard.js
  docs/src/pages/page-layout-examples/sign-in/SignIn.js
Labels: docs

#13536 [Chip] Alignment fix
  docs/src/pages/demos/chips/ChipsPlayground.js
  packages/material-ui/src/Chip/Chip.js
Labels: bug, component: Chip

#13540 [core] Fix the CDN release
  package.json
  packages/material-ui/.size-snapshot.json
  packages/material-ui/scripts/rollup.config.js
  yarn.lock
Labels: core

#13534 [Badge] Add invisible property
  docs/src/pages/demos/badges/BadgeVisibility.js
  docs/src/pages/demos/badges/badges.md
  packages/material-ui/src/Badge/Badge.d.ts
  packages/material-ui/src/Badge/Badge.js
  packages/material-ui/src/Badge/Badge.test.js
  pages/api/badge.md
  pages/demos/badges.js
Labels: component: Badge, enhancement

#13542 [docs] Make the lab > core dependency more explicit
  docs/src/pages/lab/about/about.md
Labels: docs

#13544 [docs] Add language menu
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/Notifications.js
  docs/src/modules/components/PageContext.js
  docs/src/modules/components/withRoot.js
  docs/src/modules/utils/helpers.js
  packages/material-ui/src/Tooltip/Tooltip.js
  pages/api/tooltip.md
Labels: docs, enhancement

#13555 [docs] Misc of fixes
  .size-limit.js
  README.md
  crowdin.yml
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/pages/premium-themes/PremiumThemes.js
  docs/src/pages/style/color/ColorTool.js
Labels: docs

#13529 [Table] Use stable context API
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/Table/TableContext.d.ts
  packages/material-ui/src/Table/TableContext.js
  packages/material-ui/src/Table/Tablelvl2Context.d.ts
  packages/material-ui/src/Table/Tablelvl2Context.js
  packages/material-ui/src/TableBody/TableBody.js
  packages/material-ui/src/TableBody/TableBody.test.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableCell/TableCell.test.js
  packages/material-ui/src/TableFooter/TableFooter.js
  packages/material-ui/src/TableFooter/TableFooter.test.js
  packages/material-ui/src/TableHead/TableHead.js
  packages/material-ui/src/TableHead/TableHead.test.js
  packages/material-ui/src/TableRow/TableRow.js
  packages/material-ui/src/TableRow/TableRow.test.js
  packages/material-ui/test/integration/TableCell.test.js
  packages/material-ui/test/integration/TableRow.test.js
  pages/api/table-body.md
  pages/api/table-head.md
Labels: component: Table, core

#13524 [TablePagination] Allow more rows per pages
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
  docs/src/pages/demos/tables/EnhancedTable.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TablePagination/TablePaginationActions.d.ts
  packages/material-ui/src/TablePagination/TablePaginationActions.js
  packages/material-ui/src/TablePaginationActions/index.d.ts
  packages/material-ui/src/TablePaginationActions/index.js
  pages/api/table-pagination.md
Labels: component: Table, enhancement

#13562 [LinearProgress] Fix TypeScript definition
  packages/material-ui/src/LinearProgress/LinearProgress.d.ts
Labels: component: LinearProgress, typescript

#13565 [core] Pass import filename through normalizePath function
  docs/src/modules/utils/generateMarkdown.js
Labels: core

#13567 [docs] Add cookie for persistant colors
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/withRoot.js
  docs/src/modules/redux/themeReducer.js
  docs/src/modules/styles/getPageContext.js
  docs/src/modules/styles/themeInitialState.js
  docs/src/pages/style/color/ColorTool.js
Labels: docs

#13580 [core] Update the benchmark
  CHANGELOG.md
  packages/material-ui-benchmark/src/benchmark.js
  packages/material-ui-styles/src/withStyles.js
Labels: core

#13582 [ExpansionPanelSummary] Fix event forwarding
  .size-limit.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
Labels: bug, component: ExpansionPanel

#13584 [Button] Move deprecated variants at the end of the list
  packages/material-ui/src/Button/Button.js
  pages/api/button.md
Labels: component: Button, docs

#13588 [docs] Add redirect rule for moved page layout examples
  docs/static/_redirects
Labels: docs

#13479 [Slider] Fix sticky slider when mousing off the window then back in
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: lab: Slider

#13573 [Fab] Extract from Button as new component
  .size-limit.js
  docs/src/pages/demos/app-bar/BottomAppBar.js
  docs/src/pages/demos/buttons/ButtonSizes.js
  docs/src/pages/demos/buttons/FloatingActionButtonZoom.js
  docs/src/pages/demos/buttons/FloatingActionButtons.js
  docs/src/pages/demos/buttons/buttons-zh.md
  docs/src/pages/demos/buttons/buttons.md
  docs/src/pages/demos/progress/CircularIntegration.js
  docs/src/pages/demos/snackbars/FabIntegrationSnackbar.js
  docs/src/pages/demos/tooltips/SimpleTooltips.js
  docs/src/pages/style/color/ColorDemo.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.test.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.test.js
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/Fab/Fab.d.ts
  packages/material-ui/src/Fab/Fab.js
  packages/material-ui/src/Fab/Fab.test.js
  packages/material-ui/src/Fab/index.d.ts
  packages/material-ui/src/Fab/index.js
  packages/material-ui/src/index.js
  pages/api/button.md
  pages/api/fab.js
  pages/api/fab.md
Labels: component: Fab, enhancement

#13590 [FormControl] Use stable context API
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/FormControl/FormControl.test.js
  packages/material-ui/src/FormControl/FormControlContext.d.ts
  packages/material-ui/src/FormControl/FormControlContext.js
  packages/material-ui/src/FormControl/formControlState.js
  packages/material-ui/src/FormControl/withFormControlContext.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.test.js
  packages/material-ui/src/FormHelperText/FormHelperText.js
  packages/material-ui/src/FormHelperText/FormHelperText.test.js
  packages/material-ui/src/FormLabel/FormLabel.js
  packages/material-ui/src/FormLabel/FormLabel.test.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/InputLabel/InputLabel.test.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: core

#13601 [TablePagination] Improve TypeScript definition
  packages/material-ui/src/TablePagination/TablePagination.d.ts
Labels: component: Table, typescript

#13553 [ListItem] Add three-line support
  docs/src/pages/demos/app-bar/BottomAppBar.js
  docs/src/pages/demos/avatars/IconAvatars.js
  docs/src/pages/demos/avatars/ImageAvatars.js
  docs/src/pages/demos/avatars/LetterAvatars.js
  docs/src/pages/demos/chips/Chips.js
  docs/src/pages/demos/chips/ChipsPlayground.js
  docs/src/pages/demos/chips/OutlinedChips.js
  docs/src/pages/demos/lists/AlignItemsList.js
  docs/src/pages/demos/lists/CheckboxList.js
  docs/src/pages/demos/lists/CheckboxListSecondary.js
  docs/src/pages/demos/lists/FolderList.js
  docs/src/pages/demos/lists/InsetList.js
  docs/src/pages/demos/lists/NestedList.js
  docs/src/pages/demos/lists/SwitchListSecondary.js
  docs/src/pages/demos/lists/lists.md
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/ListItem/MergeListContext.js
  packages/material-ui/src/ListItemAvatar/ListItemAvatar.js
  packages/material-ui/src/ListItemAvatar/ListItemAvatar.test.js
  pages/api/list-item-avatar.md
  pages/api/list-item.md
  pages/demos/lists.js
  static/images/adeel.jpg
  static/images/avatar/1.jpg
  static/images/avatar/2.jpg
  static/images/avatar/3.jpg
  static/images/avatar/4.jpg
  static/images/avatar/5.jpg
  static/images/avatar/6.jpg
  static/images/avatar/7.jpg
Labels: component: List, enhancement

#13620 [docs] Add the selfeducation.app showcase
  docs/src/pages/discover-more/showcase/Showcase.js
  static/images/showcase/selfeducationapp.jpg
Labels: docs

#13612 [styles] Add TypeScript declarations
  packages/material-ui-styles/src/index.d.ts
  packages/material-ui-styles/src/index.spec.tsx
  packages/material-ui-styles/test/index.spec.tsx
  packages/material-ui-styles/test/styles.spec.tsx
  packages/material-ui/src/index.d.ts
Labels: styles, typescript

#13626 [core] Update dev dependencies
  package.json
  yarn.lock
Labels: core

#13579 [docs] Add a Firebase example in the premium-theme section
  docs/src/pages/demos/drawers/ResponsiveDrawer.js
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/getting-started/page-layout-examples/PageLayoutExamples.js
  docs/src/pages/premium-themes/PremiumThemes.js
  docs/src/pages/premium-themes/paperbase/Content.js
  docs/src/pages/premium-themes/paperbase/Header.js
  docs/src/pages/premium-themes/paperbase/Navigator.js
  docs/src/pages/premium-themes/paperbase/Paperbase.js
  packages/material-ui/src/Tab/Tab.js
  pages/premium-themes/paperbase.js
  static/images/misc/circle.png
  static/images/themes/paperbase.png
Labels: docs

#13628 [docs] Increase clarity around the usage of font icons
  docs/src/pages/demos/buttons/IconLabelButtons.js
Labels: component: Button, docs

#13638 [Slider] Fix visual hover state on disabled slider
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: accessibility, bug, lab: Slider

#13645 [Zoom] Correct transition delay value of the example
  docs/src/pages/utils/transitions/SimpleZoom.js
Labels: component: Transition, docs

#13640 [Tabs] Improve the warning message
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/2.feature.md
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/bootstrap.js
  docs/src/modules/components/withRoot.js
  docs/src/modules/utils/find.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
  pages/_app.js
  pages/_document.js
Labels: component: Tabs, docs

#13650 [Slider] Add missing thumb TypeScript definition
  packages/material-ui-lab/src/Slider/Slider.d.ts
Labels: lab: Slider

#13654 [test] Fix codecov failing on merge commits
  .circleci/config.yml
Labels: test

#13651 [docs] Correct typo in comment of snackbar, children
  packages/material-ui/src/Snackbar/Snackbar.js
  pages/api/snackbar.md
Labels: docs

#13621 [core] Make prettier run programmatically
  .circleci/config.yml
  package.json
  scripts/listChangedFiles.js
  scripts/prettier.js
  yarn.lock
Labels: test

#13642 [test] Run unit/integration test on Chrome 41
  docs/src/modules/components/bootstrap.js
  pages/_app.js
  test/karma.conf.js
  test/karma.tests.js
Labels: test

#13604 [core] Move unit test commands to their package
  package.json
  packages/eslint-plugin-material-ui/README.md
  packages/eslint-plugin-material-ui/package.json
  packages/material-ui-benchmark/package.json
  packages/material-ui-codemod/package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
Labels: core, test

#13634 [SpeedDialAction] Follow the classes root convention
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  pages/lab/api/speed-dial-action.md
Labels: lab: SpeedDial

#13665 [Grow] Condense the demo
  docs/src/pages/utils/transitions/SimpleGrow.js
Labels: component: Grow, docs

#13668 [docs] Improve Grid limitation description
  docs/src/pages/layout/grid/grid.md
Labels: component: Grid, docs

#13669 [docs] Fix theme menu link
  docs/src/pages/customization/overrides/overrides.md
  docs/src/pages/customization/themes/themes-zh.md
  docs/src/pages/customization/themes/themes.md
  packages/material-ui-docs/src/MarkdownElement/MarkdownElement.js
Labels: docs

#13667 [Tooltip] Fix the property forwarding priority
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui/src/Avatar/Avatar.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  pages/lab/api/speed-dial-action.md
Labels: bug, component: Tooltip

#13674 [Modal] Fix the close jump on Windows
  .size-limit.js
  docs/notifications.json
  docs/src/modules/components/DemoFrame.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/ModalManager.js
  packages/material-ui/src/Modal/ModalManager.test.js
Labels: bug, component: Modal

#13678 [docs] Change &quote; to &apos;
  docs/src/pages/demos/steppers/CustomizedStepper.js
  docs/src/pages/demos/steppers/HorizontalLinearStepper.js
  docs/src/pages/demos/steppers/HorizontalNonLinearAlternativeLabelStepper.js
  docs/src/pages/demos/steppers/HorizontalNonLinearStepper.js
  docs/src/pages/demos/steppers/HorizontalNonLinearStepperWithError.js
  docs/src/pages/demos/steppers/VerticalLinearStepper.js
Labels: docs

#13661 [Select] Support object value
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputBase/InputBase.d.ts
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.test.js
  pages/api/input-base.md
  pages/api/input.md
Labels: component: Select, enhancement

#13675 [Menu] Fix wrong condition
  packages/material-ui/src/Menu/Menu.js
Labels: bug, component: Menu

#13688 [docs] Fix typo in URL
  docs/src/pages/getting-started/installation/installation-zh.md
  docs/src/pages/getting-started/installation/installation.md
Labels: docs

#13694 [Dialog] Add xl maxWidth and demo component
  docs/src/pages/demos/dialogs/MaxWidthDialog.js
  docs/src/pages/demos/dialogs/dialogs.md
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  pages/api/dialog.md
  pages/demos/dialogs.js
Labels: component: Dialog, enhancement

#13686 [docs] Add support for changing react version in codesandbox demos
  docs/src/modules/components/Demo.js
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
  docs/src/pages/css-in-js/advanced/advanced.md
  docs/src/pages/css-in-js/basics/basics.md
Labels: docs

#13689 [ClickAwayListener] Ignore touchend after touchmove
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: bug, component: ClickAwayListener

#13700 [CHANGELOG] Add deprecation notice for Divider
  CHANGELOG.md
Labels: docs

#13685 [docs] Add notistack demo to the snackbar page
  docs/src/pages/demos/snackbars/IntegrationNotistack.js
  docs/src/pages/demos/snackbars/snackbars.md
  next.config.js
  package.json
  pages/demos/snackbars.js
  yarn.lock
Labels: component: Tooltip, docs

#13690 [Tooltip] Hide native title when disableHoverListener is true
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug, component: Tooltip

#13707 [withTheme] Fix typography warning
  packages/material-ui/src/styles/withTheme.js
Labels: enhancement

#13709 [test] Correct the link to the example test
  test/README.md
Labels: test

#13715 [Fab] Add Fab type declaration to index and theme
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/overrides.d.ts
Labels: component: Fab, typescript

#13720 [InputBase] Remove dead disableUnderline property
  packages/material-ui/src/InputBase/InputBase.d.ts
Labels: typescript

#13719 [FilledInput] Fix disableUnderline property
  packages/material-ui/src/FilledInput/FilledInput.d.ts
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/FilledInput/FilledInput.test.js
  packages/material-ui/src/Input/Input.d.ts
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  pages/api/filled-input.md
Labels: bug, component: TextField

#13731 [docs] Remove Grid List dead code
  docs/src/pages/demos/grid-list/ImageGridList.js
Labels: docs

#13726 [SwitchBase] Fix error not being thrown when controlled state is changed
  .size-limit.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: bug, component: Switch

#13730 [TextField] Better support select object value
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  pages/api/filled-input.md
  pages/api/outlined-input.md
Labels: component: TextField, enhancement

#13737 [TablePagination] Support native selection
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: component: Table, enhancement

#13741 [docs] Reduce the no-results rate on Algolia
  docs/src/pages/getting-started/page-layout-examples/page-layout-examples.md
  docs/src/pages/guides/migration-v0x/migration-v0x.md
  packages/material-ui/src/InputBase/InputBase.js
Labels: docs

#13743 [Modal] Fix concurrency regression
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/ModalManager.js
Labels: bug, component: Modal

#13747 [docs] Fix concurrency with Frame demos
  docs/src/modules/components/DemoFrame.js
Labels: bug, docs

#13755 [styles] Loosen props consistency check in styled
  package.json
  packages/material-ui-styles/src/index.d.ts
  packages/material-ui-styles/src/index.spec.tsx
  yarn.lock
Labels: styles, typescript

#13749 [LinearProgress] Remove dead code
  packages/material-ui/src/LinearProgress/LinearProgress.js
  pages/api/linear-progress.md
Labels: component: LinearProgress, enhancement

#13754 [typescript] Add test case for FormControl type limitations
  packages/material-ui/src/FormControl/FormControl.spec.tsx
Labels: test, typescript

#13758 [Popover] Handle resize close concurrency issue
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
Labels: bug, component: Popover

#13759 [Avatar] Remove truthiness check on childrenProp
  packages/material-ui/src/Avatar/Avatar.js
  packages/material-ui/src/Avatar/Avatar.test.js
  pages/api/avatar.md
Labels: bug, component: Avatar
