Repository mui/material-ui, pull requests merged in 2018-08, with the labels that each got.

#12360 [ToggleButton] Fix TypeScript definition
  packages/material-ui-lab/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui-lab/src/ToggleButton/ToggleButtonGroup.d.ts
Labels: typescript

#12375 [Chip] Remove reference to checked prop in the docs
  packages/material-ui/src/Chip/Chip.js
  pages/api/chip.md
Labels: component: Chip, docs

#12389 [styles] Improve the dangerouslyUseGlobalCSS story
  packages/material-ui/src/styles/createGenerateClassName.js
  packages/material-ui/src/styles/createGenerateClassName.test.js
Labels: enhancement

#12372 [Tooltip] Fix autoFocus issue
  .size-limit.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug, component: Tooltip

#12373 [FormLabel] [FormHelperText] classes keys
  packages/material-ui/src/FormHelperText/FormHelperText.js
  packages/material-ui/src/FormLabel/FormLabel.js
  pages/api/form-helper-text.md
  pages/api/form-label.md
Labels: component: TextField, enhancement

#12378 [Chip] Add color prop to chip component
  .size-limit.js
  docs/src/pages/demos/chips/Chips.js
  docs/src/pages/demos/chips/ChipsPlayground.js
  docs/src/pages/demos/chips/chips.md
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
  pages/api/chip.md
  pages/demos/chips.js
Labels: component: Chip, enhancement

#12395 [docs] Fix contast => contrast typo
  docs/src/pages/customization/themes/themes.md
Labels: docs

#12397 [docs] Fix two typos in Lists.md
  packages/material-ui/src/List/List.js
  pages/api/list.md
Labels: docs

#12401 [docs] Fix ChipPlayground generated code
  docs/src/pages/demos/chips/ChipsPlayground.js
Labels: component: Chip, docs

#12394 [Tooltip] Fix hover issues
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug, component: Tooltip

#12402 [palette] Better defensive logic
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
Labels: enhancement

#12393 [docs] Add Tomahawk boilerplate to the related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#12404 [MobileStepper] Add a LinearProgressProps property
  packages/material-ui/src/MobileStepper/MobileStepper.d.ts
  packages/material-ui/src/MobileStepper/MobileStepper.js
  pages/api/mobile-stepper.md
Labels: component: Stepper, enhancement

#12406 [Textarea] Add back defensive branch logic
  .size-limit.js
  packages/material-ui/src/Input/Textarea.js
  packages/material-ui/src/Input/Textarea.test.js
Labels: component: TextField, enhancement

#12412 [docs] Fix react-select multiselection wrapping
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
Labels: component: Autocomplete, docs

#12366 [docs] Add some Render Props demos
  docs/src/pages/demos/menus/FadeMenu.js
  docs/src/pages/demos/menus/LongMenu.js
  docs/src/pages/demos/menus/RenderPropsMenu.js
  docs/src/pages/demos/menus/menus.md
  docs/src/pages/utils/popover/MouseOverPopover.js
  docs/src/pages/utils/popover/RenderPropsPopover.js
  docs/src/pages/utils/popover/SimplePopover.js
  docs/src/pages/utils/popover/popover.md
  docs/src/pages/utils/popper/FakedReferencePopper.js
  docs/src/pages/utils/popper/RenderPropsPopper.js
  docs/src/pages/utils/popper/ScrollPlayground.js
  docs/src/pages/utils/popper/popper.md
  pages/demos/menus.js
  pages/utils/popover.js
  pages/utils/popper.js
Labels: docs, enhancement

#12414 [v0] Update react-event-listener to 0.6.2
  package.json
Labels: core

#12410 [docs] Add example layouts
  .size-limit.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/withRoot.js
  docs/src/pages/layouts/Layouts.js
  docs/src/pages/layouts/album/Album.js
  docs/src/pages/layouts/album/README.md
  docs/src/pages/layouts/blog/Blog.js
  docs/src/pages/layouts/blog/Markdown.js
  docs/src/pages/layouts/blog/README.md
  docs/src/pages/layouts/blog/blog-post.1.md
  docs/src/pages/layouts/blog/blog-post.2.md
  docs/src/pages/layouts/blog/blog-post.3.md
  docs/src/pages/layouts/checkout/AddressForm.js
  docs/src/pages/layouts/checkout/Checkout.js
  docs/src/pages/layouts/checkout/PaymentForm.js
  docs/src/pages/layouts/checkout/README.md
  docs/src/pages/layouts/checkout/Review.js
  docs/src/pages/layouts/dashboard/Dashboard.js
  docs/src/pages/layouts/dashboard/README.md
  docs/src/pages/layouts/dashboard/SimpleLineChart.js
  docs/src/pages/layouts/dashboard/SimpleTable.js
  docs/src/pages/layouts/dashboard/listItems.js
  docs/src/pages/layouts/layouts.md
  docs/src/pages/layouts/pricing/Pricing.js
  docs/src/pages/layouts/pricing/README.md
  docs/src/pages/layouts/sign-in/README.md
  docs/src/pages/layouts/sign-in/SignIn.js
  package.json
  pages/index.js
  pages/layouts.js
  pages/layouts/album.js
  pages/layouts/blog.js
  pages/layouts/checkout.js
  pages/layouts/dashboard.js
  pages/layouts/pricing.js
  pages/layouts/sign-in.js
  static/images/layouts/album.png
  static/images/layouts/blog.png
  static/images/layouts/checkout.png
  static/images/layouts/dashboard.png
  static/images/layouts/pricing.png
  static/images/layouts/sign-in.png
  static/images/showcase/posters-galore.jpg
  static/images/showcase/typekev.jpg
  test/regressions/index.js
  yarn.lock
Labels: docs, enhancement

#12417 [core] Fix some errors when porting demos to TypeScript
  packages/material-ui/src/Input/Input.d.ts
  packages/material-ui/src/Popper/Popper.d.ts
Labels: typescript

#12428 [docs] Improve the withTheme example
  docs/src/pages/customization/themes/themes.md
Labels: docs

#12429 [Select] Accept boolean
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.d.ts
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/Select/SelectInput.js
  pages/api/native-select.md
  pages/api/select.md
Labels: component: Select, enhancement

#12430 [docs] Rename layouts to page-layout-examples + minor fixes
  docs/src/modules/components/withRoot.js
  docs/src/pages/layouts/layouts.md
  docs/src/pages/page-layout-examples/PageLayoutExamples.js
  docs/src/pages/page-layout-examples/album/Album.js
  docs/src/pages/page-layout-examples/album/README.md
  docs/src/pages/page-layout-examples/blog/Blog.js
  docs/src/pages/page-layout-examples/blog/Markdown.js
  docs/src/pages/page-layout-examples/blog/README.md
  docs/src/pages/page-layout-examples/blog/blog-post.1.md
  docs/src/pages/page-layout-examples/blog/blog-post.2.md
  docs/src/pages/page-layout-examples/blog/blog-post.3.md
  docs/src/pages/page-layout-examples/checkout/AddressForm.js
  docs/src/pages/page-layout-examples/checkout/Checkout.js
  docs/src/pages/page-layout-examples/checkout/PaymentForm.js
  docs/src/pages/page-layout-examples/checkout/README.md
  docs/src/pages/page-layout-examples/checkout/Review.js
  docs/src/pages/page-layout-examples/dashboard/Dashboard.js
  docs/src/pages/page-layout-examples/dashboard/README.md
  docs/src/pages/page-layout-examples/dashboard/SimpleLineChart.js
  docs/src/pages/page-layout-examples/dashboard/SimpleTable.js
  docs/src/pages/page-layout-examples/dashboard/listItems.js
  docs/src/pages/page-layout-examples/page-layout-examples.md
  docs/src/pages/page-layout-examples/pricing/Pricing.js
  docs/src/pages/page-layout-examples/pricing/README.md
  docs/src/pages/page-layout-examples/sign-in/README.md
  docs/src/pages/page-layout-examples/sign-in/SignIn.js
  pages/page-layout-examples.js
  pages/page-layout-examples/album.js
  pages/page-layout-examples/blog.js
  pages/page-layout-examples/checkout.js
  pages/page-layout-examples/dashboard.js
  pages/page-layout-examples/pricing.js
  pages/page-layout-examples/sign-in.js
Labels: docs, enhancement

#12356 [icons] Resize svg icons
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/package.json
  packages/material-ui-icons/renameFilters/material-design-icons.js
  packages/material-ui-icons/scripts/download.js
  packages/material-ui-icons/src/CastForEducation.js
  packages/material-ui-icons/src/Domain.js
  packages/material-ui-icons/src/PlayCircleFilledWhite.js
  packages/material-ui-icons/src/Settings.js
  packages/material-ui-icons/src/StarRate.js
  packages/material-ui-icons/src/StarRateOutlined.js
  packages/material-ui-icons/src/StarRateRounded.js
  packages/material-ui-icons/src/StarRateSharp.js
  packages/material-ui-icons/src/StarRateTwoTone.js
  packages/material-ui-icons/src/Weekend.js
  packages/material-ui-icons/src/index.js
Labels: component: Icon, enhancement

#12244 [SpeedDialAction] Allow a tooltip placement prop
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.test.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  pages/lab/api/speed-dial-action.md
  pages/lab/api/speed-dial.md
Labels: lab

#12436 [Collapse] Add all class keys to the types
  packages/material-ui/src/Collapse/Collapse.d.ts
Labels: component: Collapse, typescript

#12415 [Table] Padding feature
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/TableBody/TableBody.js
  packages/material-ui/src/TableBody/TableBody.test.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableCell/TableCell.test.js
  packages/material-ui/src/TableFooter/TableFooter.js
  packages/material-ui/src/TableHead/TableHead.js
  packages/material-ui/src/TableHead/TableHead.test.js
  packages/material-ui/src/TableRow/TableRow.js
  packages/material-ui/src/TableRow/TableRow.test.js
  pages/api/table-cell.md
  pages/api/table-row.md
  pages/api/table.md
Labels: component: Table, enhancement

#12444 [docs] Ensure `inputRef` is wired up to react-number-format's input
  docs/src/pages/demos/text-fields/FormattedInputs.js
Labels: docs

#12447 [docs] Expand on the JSS and class name generator docs
  docs/src/pages/getting-started/faq/faq.md
Labels: docs

#12451 [docs] Better autocomplete docs
  docs/src/pages/demos/autocomplete/IntegrationAutosuggest.js
  docs/src/pages/demos/autocomplete/IntegrationDownshift.js
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
  docs/src/pages/demos/autocomplete/autocomplete.md
Labels: component: Autocomplete, docs

#12455 [core] Add hoverOpacity to TypeAction interface
  packages/material-ui/src/styles/createPalette.d.ts
Labels: core, typescript

#12452 [icons] Remove clip-path from all icons
  docs/src/pages/style/icons/SvgMaterialIconsAll.js
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/src/AddAPhoto.js
  packages/material-ui-icons/src/Airplay.js
  packages/material-ui-icons/src/CallMissedOutgoing.js
  packages/material-ui-icons/src/CompareArrows.js
  packages/material-ui-icons/src/ConfirmationNumber.js
  packages/material-ui-icons/src/Copyright.js
  packages/material-ui-icons/src/DonutLarge.js
  packages/material-ui-icons/src/DragHandle.js
  packages/material-ui-icons/src/EventSeat.js
  packages/material-ui-icons/src/FiberDvr.js
  packages/material-ui-icons/src/FiberNew.js
  packages/material-ui-icons/src/FlightLand.js
  packages/material-ui-icons/src/FlightTakeoff.js
  packages/material-ui-icons/src/Forward10.js
  packages/material-ui-icons/src/Forward30.js
  packages/material-ui-icons/src/Forward5.js
  packages/material-ui-icons/src/Gavel.js
  packages/material-ui-icons/src/Gif.js
  packages/material-ui-icons/src/Highlight.js
  packages/material-ui-icons/src/ImportContacts.js
  packages/material-ui-icons/src/IndeterminateCheckBox.js
  packages/material-ui-icons/src/Laptop.js
  packages/material-ui-icons/src/LineStyle.js
  packages/material-ui-icons/src/LineWeight.js
  packages/material-ui-icons/src/LinearScale.js
  packages/material-ui-icons/src/NextWeek.js
  packages/material-ui-icons/src/OfflinePin.js
  packages/material-ui-icons/src/PanTool.js
  packages/material-ui-icons/src/PersonPinCircle.js
  packages/material-ui-icons/src/PlaylistAddCheck.js
  packages/material-ui-icons/src/PregnantWoman.js
  packages/material-ui-icons/src/QueuePlayNext.js
  packages/material-ui-icons/src/RemoveFromQueue.js
  packages/material-ui-icons/src/Replay10.js
  packages/material-ui-icons/src/Replay30.js
  packages/material-ui-icons/src/Replay5.js
  packages/material-ui-icons/src/RoundedCorner.js
  packages/material-ui-icons/src/Rowing.js
  packages/material-ui-icons/src/ShortText.js
  packages/material-ui-icons/src/StarHalf.js
  packages/material-ui-icons/src/StrikethroughS.js
  packages/material-ui-icons/src/TabletAndroid.js
  packages/material-ui-icons/src/TextFields.js
  packages/material-ui-icons/src/Timeline.js
  packages/material-ui-icons/src/TouchApp.js
  packages/material-ui-icons/src/Unarchive.js
  packages/material-ui-icons/src/Update.js
  packages/material-ui-icons/src/WatchLater.js
  packages/material-ui-icons/src/ZoomOutMap.js
  test/regressions/index.js
Labels: bug, component: SvgIcon

#12458 [Input] Use the color from the theme
  packages/material-ui/src/Input/Input.js
Labels: component: TextField, enhancement

#12454 [docs] Fix typo
  packages/material-ui/src/Input/Input.js
  pages/api/input.md
Labels: docs

#12462 [NoSrr] Add a defer property
  docs/src/pages/utils/no-ssr/no-ssr.md
  packages/material-ui/src/NoSsr/NoSsr.js
  packages/material-ui/src/NoSsr/NoSsr.test.js
  pages/api/no-ssr.md
Labels: enhancement, performance

#12459 [Popover] Allow to pass repeated props to modal
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  pages/api/input-label.md
  pages/api/menu.md
  pages/api/popover.md
Labels: component: Popover, enhancement

#12470 [lab] Depend on @babel/runtime.
  packages/material-ui-lab/package.json
Labels: lab

#12464 [docs] Better descriptive Table demos
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
  docs/src/pages/demos/tables/CustomizedTable.js
  docs/src/pages/demos/tables/EnhancedTable.js
  docs/src/pages/demos/tables/SimpleTable.js
Labels: component: Table, docs

#12467 [SelectInput] Add "name" to event.target for onBlur callback
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
Labels: component: Select, enhancement

#12475 [README] New iteration on the backers
  BACKERS.md
  README.md
  docs/src/modules/components/HomeBackers.js
Labels: docs

#12466 [docs] Font vs SVG. Which approach to use?
  docs/src/pages/style/icons/icons.md
Labels: docs

#12476 [core] Save some bytes in the super() logic
  docs/src/modules/components/withRoot.js
  docs/src/pages/demos/dialogs/ConfirmationDialog.js
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
  docs/src/pages/demos/tables/EnhancedTable.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/Input/Textarea.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/styles/MuiThemeProvider.js
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/styles/withTheme.js
  pages/api/root-ref.md
Labels: core

#12477 [core] Upgrade the dependencies
  package.json
  packages/material-ui/.size-snapshot.json
  packages/material-ui/src/FormHelperText/FormHelperText.d.ts
  packages/material-ui/src/FormLabel/FormLabel.d.ts
  packages/material-ui/src/Popper/Popper.d.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/material-ui/src/styles/createTypography.js
  yarn.lock
Labels: core

#12456 [typescript] improve autocomplete for css properties in createStyles
  packages/material-ui/src/styles/createStyles.d.ts
Labels: typescript

#12368 [docs] Add a Table Of Contents
  docs/src/modules/components/AppContent.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Link.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/pages/demos/lists/lists.md
  docs/src/pages/demos/pickers/pickers.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/premium-themes/PremiumThemes.js
  docs/src/pages/style/icons/icons.md
  docs/src/pages/style/typography/typography.md
  packages/material-ui-docs/src/MarkdownElement/MarkdownElement.js
Labels: docs

#12473 [Button] Make the outlined variant better leverage the color
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/styles/MuiThemeProvider.test.js
  pages/api/button.md
Labels: component: Button, enhancement

#12488 [Tooltip] Hide the tooltip as soon as an exit event triggers
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: component: Tooltip, enhancement

#12495 [Tab] Fix fullWidth CSS
  packages/material-ui/src/Tab/Tab.js
Labels: bug, component: Tabs

#12489 [TextField] Fix disabled prop only affecting the Input component
  packages/material-ui/src/TextField/TextField.js
Labels: bug, component: TextField

#12492 [typescript] Style typing improvements
  docs/src/pages/guides/typescript/typescript.md
  packages/material-ui/src/ButtonBase/TouchRipple.d.ts
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/withMobileDialog/withMobileDialog.d.ts
  packages/material-ui/src/withWidth/withWidth.d.ts
  packages/material-ui/src/withWidth/withWidth.spec.tsx
  packages/material-ui/test/typescript/styles.spec.tsx
  packages/material-ui/test/typescript/styling-comparison.spec.tsx
Labels: typescript

#12502 [docs] Fix a typo in the Modal page
  docs/src/pages/utils/modal/modal.md
Labels: docs

#12503 [Table] Sync typings with #12415
  packages/material-ui/src/Table/Table.d.ts
Labels: component: Table, typescript

#12505 [Table] Remove padding from getting spread to native element
  packages/material-ui/src/Table/Table.js
Labels: bug, component: Table

#12509 [docs] Don't load the ad on mobile
  .eslintrc.js
  docs/src/modules/components/CodeFund.js
  yarn.lock
Labels: docs

#12513 [docs] Fix typo (suot to suit)
  docs/src/pages/page-layout-examples/dashboard/README.md
Labels: docs

#12514 [docs] Fix typo in the icons section
  docs/src/pages/style/icons/icons.md
Labels: docs

#12521 [docs] Document breakpoint argument for withMobileDialog
  docs/src/pages/demos/dialogs/dialogs.md
Labels: component: Dialog, docs

#12519 [Avatar] Prepare Preact support
  packages/material-ui/src/Avatar/Avatar.js
Labels: component: Avatar, enhancement

#12510 [core] Should run the tests when needed
  .circleci/config.yml
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/builder.test.js
Labels: test

#12525 [docs] Increase SEO potential
  docs/src/pages/utils/popper/popper.md
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: docs

#12511 [docs] "codestyle" comment typo fix
  packages/material-ui/src/LinearProgress/LinearProgress.js
  pages/api/linear-progress.md
Labels: docs

#12533 [SpeedDial] Fix invalid prop direction supplied
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
Labels: lab: SpeedDial

#12528 [Drawer] Change height from 100vh to 100%
  docs/src/pages/demos/drawers/ClippedDrawer.js
  docs/src/pages/demos/drawers/MiniDrawer.js
  docs/src/pages/demos/drawers/PermanentDrawer.js
  docs/src/pages/demos/drawers/ResponsiveDrawer.js
  packages/material-ui/src/Drawer/Drawer.js
Labels: component: Drawer, enhancement

#12541 [docs] Document the meta viewport
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/usage/usage.md
  examples/cdn/README.md
  examples/create-react-app-with-jss/public/index.html
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app/public/index.html
  examples/nextjs/pages/_document.js
  examples/parcel/src/index.html
  pages/_document.js
Labels: docs

#12538 [TextField] Accept boolean
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/TextField/TextField.js
  pages/api/text-field.md
  pages/lab/api/speed-dial.md
Labels: component: TextField, enhancement

#12542 [withWidth] Remove broken innerRef
  packages/material-ui/src/withWidth/withWidth.js
Labels: enhancement

#12543 [docs] Throttle the active toc instead of debouncing
  docs/src/modules/components/AppTableOfContents.js
  docs/src/pages/getting-started/faq/faq.md
Labels: docs

#12481 [CardMedia] Add an example with the component property
  docs/src/pages/demos/cards/ImgMediaCard.js
  docs/src/pages/demos/cards/MediaCard.js
  docs/src/pages/demos/cards/MediaControlCard.js
  docs/src/pages/demos/cards/RecipeReviewCard.js
  docs/src/pages/demos/cards/SimpleCard.js
  docs/src/pages/demos/cards/SimpleMediaCard.js
  docs/src/pages/demos/cards/cards.md
  pages/demos/cards.js
Labels: component: Card, docs

#12547 [docs] Add material-ui-next-pickers
  docs/src/pages/demos/pickers/pickers.md
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#12535 [Slider] fix failing handler test
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: lab

#12573 [test] Disable CircleCI cache
  .circleci/config.yml
Labels: test

#12569 [docs] Fix the broken Table sorting logic
  docs/src/pages/demos/tables/EnhancedTable.js
Labels: component: Table, docs

#12570 [ListSubheader] Add a disableGutters property
  docs/src/pages/demos/lists/NestedList.js
  packages/material-ui/src/ListSubheader/ListSubheader.d.ts
  packages/material-ui/src/ListSubheader/ListSubheader.js
  packages/material-ui/src/ListSubheader/ListSubheader.test.js
  pages/api/list-subheader.md
Labels: component: List, enhancement

#12574 [docs] Link a new Menu demo
  docs/src/pages/demos/app-bar/app-bar.md
  pages/api/menu.md
Labels: docs

#12564 [test] Introduce prettier into CI pipeline
  .circleci/config.yml
  .eslintrc.js
  package.json
  packages/material-ui/src/ButtonBase/TouchRipple.d.ts
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
  yarn.lock
Labels: test

#12560 [docs] Improve typescript issue assistance
  .github/ISSUE_TEMPLATE/1.bug.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/tsconfig.json
Labels: docs, typescript

#12577 [Dialog] Simplify the DialogContentText implementation
  packages/material-ui/src/DialogContentText/DialogContentText.js
  packages/material-ui/src/DialogContentText/DialogContentText.test.js
Labels: component: Dialog, enhancement

#12562 [Popover] Fix wrong getContentAnchorEl definition
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
Labels: component: Popover, typescript

#12578 [docs] Add notistack in the related projects
  BACKERS.md
  docs/src/pages/demos/autocomplete/autocomplete.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  packages/material-ui-docs/package.json
  packages/material-ui/src/ButtonBase/TouchRipple.test.js
  yarn.lock
Labels: docs

#12579 [test] Fix prettier ci task with multiple changed files
  .circleci/config.yml
Labels: test

#12537 [Slider] Fix memory leaks
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: bug, lab

#12593 [examples] Update ts example to be closer to the official docs
  examples/create-react-app-with-typescript/src/pages/index.tsx
Labels: docs, typescript

#12584 [core] Better Windows support for the API generation
  docs/scripts/buildApi.js
Labels: core

#12599 [docs] Fix a display issue on IE11
  docs/src/pages/page-layout-examples/PageLayoutExamples.js
  docs/src/pages/page-layout-examples/sign-in/SignIn.js
Labels: bug, docs

#12595 [TypeScript] Update SnackbarContent type def to accept action prop as array
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/SnackbarContent/SnackbarContent.d.ts
  packages/material-ui/src/SnackbarContent/SnackbarContent.test.js
Labels: component: Snackbar, typescript

#12611 [test] Fix the missing libxcursor1 binary
  .circleci/config.yml
Labels: test

#12605 [core] Fix recompose version
  packages/material-ui-icons/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: core

#12601 [docs] Warn about checking for version mismatch
  docs/src/pages/guides/server-rendering/server-rendering.md
Labels: docs

#12556 [docs] Consistent content height in Albumn layout example
  docs/src/pages/page-layout-examples/album/Album.js
Labels: docs

#12613 [ClickAwayListener] Prevent rerendering
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
Labels: bug, component: ClickAwayListener, performance

#12331 [example] Support Gatsby v2
  examples/gatsby/.babelrc
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/src/withRoot.js
Labels: docs

#12589 [typescript] Fix AnyComponent for functional components.
  packages/material-ui/src/index.d.ts
Labels: typescript

#12615 [core] Let's see if the CI catch the issue
  .size-limit.js
  babel.config.js
  packages/material-ui/src/ListSubheader/ListSubheader.d.ts
  packages/material-ui/src/test-utils/createShallow.js
Labels: core

#12619 [docs] xlarge = extra-large
  docs/src/pages/layout/breakpoints/breakpoints.md
Labels: docs

#12616 [typescript] Use interfaces for typography types
  packages/material-ui/src/styles/createTypography.d.ts
Labels: typescript

#12625 [Chip] Add missing ChipClassKey values
  packages/material-ui/src/Chip/Chip.d.ts
Labels: component: Chip, typescript

#12626 [Dialog] Add 'lg' support to maxWidth
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  pages/api/dialog.md
Labels: component: Dialog, enhancement

#12627 [ci] Consider only files changed on the built branch
  .circleci/config.yml
Labels: test

#12620 [docs] Add "Insights" by justaskusers.com to the list of showcases.
  docs/src/pages/discover-more/showcase/Showcase.js
  static/images/showcase/justaskusers.jpg
Labels: docs

#12630 [TableSortLabel] Support custom icon component
  packages/material-ui/src/TableSortLabel/TableSortLabel.d.ts
  packages/material-ui/src/TableSortLabel/TableSortLabel.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.test.js
  pages/api/table-sort-label.md
Labels: component: Table, enhancement

#12629 [docs] Use public api of jss instead of private vars
  docs/src/modules/styles/getPageContext.js
  docs/src/pages/customization/css-in-js/css-in-js.md
Labels: docs

#12634 [SvgIcon] Add Icon suffix to SVG icons
  packages/material-ui-icons/src/utils/createSvgIcon.js
Labels: component: SvgIcon, enhancement

#12637 [test] Lint typescript definitions
  .circleci/config.yml
  package.json
  packages/material-ui/src/Hidden/Hidden.d.ts
  packages/material-ui/src/Hidden/HiddenCss.d.ts
  packages/material-ui/src/Hidden/HiddenJs.d.ts
  packages/material-ui/src/Popper/Popper.d.ts
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/styles/createGenerateClassName.d.ts
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
  packages/material-ui/src/styles/transitions.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/utils/helpers.d.ts
  packages/material-ui/src/utils/reactHelpers.d.ts
  packages/material-ui/src/withWidth/withWidth.spec.tsx
  packages/material-ui/test/typescript/colors.spec.ts
  packages/material-ui/test/typescript/components.spec.tsx
  packages/material-ui/test/typescript/styles.spec.tsx
  packages/material-ui/test/typescript/stylingComparison.spec.tsx
  tsconfig.json
  tslint.json
  yarn.lock
Labels: typescript

#12641 [docs] Improve Autocomplete filtering suggestions
  docs/src/pages/demos/autocomplete/IntegrationAutosuggest.js
  docs/src/pages/demos/autocomplete/IntegrationDownshift.js
Labels: docs

#12652 [docs] Fix typos
  docs/src/pages/layout/grid/grid.md
Labels: component: Grid, docs

#12644 [docs] Use the event.target.checked API systematically
  docs/src/pages/demos/app-bar/MenuAppBar.js
  docs/src/pages/demos/lists/InteractiveList.js
  docs/src/pages/demos/tables/EnhancedTable.js
Labels: component: Checkbox, docs

#12657 [Input] Extract helpers to their own module
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/Input/Input.test.js
  packages/material-ui/src/Input/utils.js
  packages/material-ui/src/Input/utils.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: component: TextField, performance

#12660 [Chip] Add onKeyUp handler for correct behavior
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
Labels: component: Chip, enhancement

#12658 [core] Upgrade dev dependencies
  README.md
  package.json
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Select/SelectInput.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/Select.test.js
  yarn.lock
Labels: core

#12624 [CardActionArea] Add CardActionArea component
  .size-limit.js
  docs/src/pages/demos/cards/ImgMediaCard.js
  docs/src/pages/demos/cards/MediaCard.js
  docs/src/pages/demos/cards/cards.md
  packages/material-ui/src/CardActionArea/CardActionArea.d.ts
  packages/material-ui/src/CardActionArea/CardActionArea.js
  packages/material-ui/src/CardActionArea/CardActionArea.test.js
  packages/material-ui/src/CardActionArea/index.d.ts
  packages/material-ui/src/CardActionArea/index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  pages/api/card-action-area.js
  pages/api/card-action-area.md
Labels: component: Card, enhancement

#12662 [icons] Save 22 MegaBytes from the package
  packages/material-ui-icons/package.json
Labels: breaking change, component: SvgIcon, performance

#12531 [Slider] fix transitions
  packages/material-ui-lab/src/Slider/Slider.js
Labels: lab

#12663 [docs] Correct `by and enum` typo in api.md
  docs/src/pages/guides/api/api.md
Labels: docs

#12664 [docs] Autocomplete react-select dropdown overlay
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
Labels: docs

#12666 [docs] Fix typo in usage.md
  docs/src/pages/getting-started/usage/usage.md
Labels: docs

#12602 [ListItem] Move the selected prop from MenuItem to ListItem
  docs/src/pages/demos/lists/SelectedListItem.js
  docs/src/pages/demos/lists/lists.md
  docs/src/pages/demos/menus/menus.md
  packages/material-ui/src/ListItem/ListItem.d.ts
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/MenuItem/MenuItem.d.ts
  packages/material-ui/src/MenuItem/MenuItem.js
  packages/material-ui/test/typescript/components.spec.tsx
  pages/api/list-item.md
  pages/api/menu-item.md
  pages/demos/lists.js
  test/regressions/tests/List/IconListItem.js
  test/regressions/tests/List/PrimaryActionCheckboxListItem.js
  test/regressions/tests/List/SecondaryActionCheckboxListItem.js
  test/regressions/tests/List/SimpleListItem.js
Labels: component: List, enhancement

#12675 [docs] Typo
  CHANGELOG.md
Labels: docs

#12671 [Checkbox] Improve indeterminate status
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
Labels: component: Checkbox, enhancement

#12677 [core] Fix for incorrect peer dependency version warning
  examples/create-react-app-with-flow/package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
Labels: core

#12692 [docs] Warn about using withRoot HOC more than one time per page
  examples/gatsby/README.md
Labels: docs

#12694 [StepLabel] Fix custom icon spacing
  packages/material-ui/src/StepLabel/StepLabel.js
Labels: component: Stepper, enhancement

#12684 [Stepper] Add a new test case
  packages/material-ui/src/Stepper/Stepper.test.js
Labels: component: Stepper, test

#12705 [docs] Fix typo in Overrides chapter
  docs/src/pages/customization/overrides/overrides.md
Labels: docs

#12703 [docs] Improve the Downshift demo
  docs/src/pages/demos/autocomplete/IntegrationDownshift.js
Labels: docs

#12706 [Tab] Ability change font size of tab
  packages/material-ui/src/Tab/Tab.js
Labels: component: Tabs, enhancement

#12712 [examples] Fix typing of `withRoot` to accept props
  examples/create-react-app-with-typescript/src/withRoot.tsx
Labels: docs, typescript

#12717 [docs] Fix class name in overrides example
  docs/src/pages/customization/overrides/ClassNames.js
Labels: docs, enhancement

#12718 [Dialog] Remove dialog margin when fullScreen=true and scroll=body
  packages/material-ui/src/Dialog/Dialog.js
Labels: bug, component: Dialog

#12724 [typescript] Illustrate issue with ambiguous css class names
  docs/src/pages/guides/typescript/typescript.md
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: docs, typescript

#12736 [Table] Improved sorting in table for demo EnhancedTable
  docs/src/pages/demos/tables/EnhancedTable.js
Labels: bug, component: Table, docs
