Repository mui/material-ui, pull requests merged in 2018-09, with the labels that each got.

#12730 [SpeedDialAction] Update tooltipPlacement propTypes
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  pages/lab/api/speed-dial-action.md
Labels: lab, lab: SpeedDial

#12735 [Snackbar] Add `ClickAwayListenerProps` property
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/Snackbar/Snackbar.js
  pages/api/snackbar.md
Labels: component: Snackbar, enhancement

#12716 [docs] Explain how to pass props down to overridden components
  docs/src/pages/customization/overrides/ClassNames.js
  docs/src/pages/customization/overrides/ClassesShorthand.js
  docs/src/pages/customization/overrides/overrides.md
  pages/customization/overrides.js
Labels: docs

#12743 [IconButton] Fix border radius cutting of badges on IE11
  packages/material-ui/src/IconButton/IconButton.js
Labels: bug, component: IconButton

#12745 [Slider] Add missing packages
  packages/material-ui-lab/package.json
Labels: lab, lab: Slider

#12750 [withStyles] Better theme.props support
  packages/material-ui/src/styles/getThemeProps.js
  packages/material-ui/src/styles/getThemeProps.test.js
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/styles/withStyles.test.js
  packages/material-ui/src/withWidth/withWidth.js
Labels: bug, core

#12722 [SwipeableDrawer] Add hysteresis and velocity property
  .size-limit.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  pages/api/swipeable-drawer.md
  test/utils/performance.js
  yarn.lock
Labels: component: Drawer, enhancement

#12752 [docs] More transparency around the release strategy
  CHANGELOG.md
  ROADMAP.md
  docs/src/pages/versions/StableVersions.js
  docs/src/pages/versions/versions.md
Labels: docs

#12590 [SpeedDial] Allow tooltip to always be displayed
  docs/src/pages/lab/speed-dial/SpeedDialTooltipOpen.js
  docs/src/pages/lab/speed-dial/speed-dial.md
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  pages/lab/api/speed-dial-action.md
  pages/lab/speed-dial.js
Labels: lab

#12758 [SpeedDialAction] Update tooltipPlacement propTypes
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui/src/Tooltip/Tooltip.d.ts
Labels: typescript

#12761 [typescript] Fix ModalClasses prop type on popover
  packages/material-ui/src/InputLabel/InputLabel.d.ts
  packages/material-ui/src/Menu/Menu.d.ts
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
Labels: typescript

#12785 [docs] Remove function call from onChange handler
  docs/src/pages/guides/migration-v0x/migration-v0x.md
Labels: docs

#12778 [docs] Unescapes character in markdown
  docs/src/modules/utils/generateMarkdown.js
  pages/api/native-select.md
  pages/api/stepper.md
Labels: docs

#12775 [docs] Enable service worker by default as the latest CRA
  examples/create-react-app/src/index.js
  examples/create-react-app/src/registerServiceWorker.js
Labels: docs

#12790 [AppBar] Add position="relative"
  packages/material-ui/src/AppBar/AppBar.d.ts
  packages/material-ui/src/AppBar/AppBar.js
  pages/api/app-bar.md
Labels: component: AppBar, enhancement

#12803 [Checkbox] Revert input indeterminate support
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
  pages/api/checkbox.md
Labels: bug, component: Checkbox

#12802 [typescript] Revert type checking for inputProps
  packages/material-ui/src/Input/Input.d.ts
Labels: typescript

#12804 [Checkbox] Indeterminate CSS & DOM helpers
  packages/material-ui/src/Checkbox/Checkbox.d.ts
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/internal/SwitchBase.d.ts
  packages/material-ui/src/internal/SwitchBase.js
  pages/api/checkbox.md
Labels: component: Checkbox, enhancement

#12763 [ci] Use yarn offline mirror
  .circleci/config.yml
Labels: test

#12549 [ToggleButtons] normalize onChange api
  docs/src/pages/lab/toggle-button/ToggleButtons.js
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui-lab/src/ToggleButton/ToggleButton.test.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.test.js
  pages/lab/api/toggle-button-group.md
Labels: breaking change, lab

#12695 [docs] Add AppBar demos with exapandable & primary search fields
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.js
  docs/src/pages/demos/app-bar/SearchAppBar.js
  docs/src/pages/demos/app-bar/SimpleAppBar.js
  docs/src/pages/demos/app-bar/app-bar.md
  pages/demos/app-bar.js
Labels: docs

#12769 [docs] Document the shrink status input limitation
  docs/src/pages/demos/progress/progress.md
  docs/src/pages/demos/text-fields/text-fields.md
  packages/material-ui/src/Checkbox/Checkbox.js
  pages/api/checkbox.md
  static/images/progress/heavy-load.gif
  static/images/text-fields/shrink.png
Labels: component: TextField, docs

#12809 [Chip] Add verticalAlign: 'middle' to root
  packages/material-ui/src/Chip/Chip.js
Labels: component: Chip, enhancement

#12812 [core] Small changes investigating issues
  .circleci/config.yml
  .size-limit.js
  BACKERS.md
  docs/src/pages/demos/menus/menus.md
  package.json
  packages/material-ui-icons/package.json
  packages/material-ui/.size-snapshot.json
  packages/material-ui/package.json
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Input/Input.js
  pages/api/popover.md
  yarn.lock
Labels: core

#12813 [autocomplete] Fix delete chip not working on mobile
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
Labels: component: Autocomplete, docs

#12814 [styles] Support multiple withStyles instances
  .size-limit.js
  docs/src/pages/customization/css-in-js/css-in-js.md
  packages/material-ui/src/NoSsr/NoSsr.test.js
  packages/material-ui/src/styles/createGenerateClassName.js
  packages/material-ui/src/styles/createGenerateClassName.test.js
  packages/material-ui/src/styles/packageId.js
  packages/material-ui/src/styles/withStyles.js
Labels: enhancement

#12815 [Checkbox] Add indeterminateIcon type definition
  packages/material-ui/src/Checkbox/Checkbox.d.ts
Labels: component: Checkbox, typescript

#12817 [docs] Fix the gatsby example
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/package.json
  examples/gatsby/src/withRoot.js
  packages/material-ui/src/styles/withStyles.js
Labels: docs

#12816 [Popover] Change to offsetWidth and offsetHeight
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
Labels: bug, component: Popover

#12818 [styles] Use the same class name generator
  docs/src/modules/components/Demo.js
  docs/src/pages/customization/css-in-js/css-in-js.md
  docs/src/pages/guides/server-rendering/server-rendering.md
  examples/gatsby/gatsby-ssr.js
  examples/nextjs/next.config.js
  examples/ssr/client.js
  examples/ssr/server.js
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui/src/NoSsr/NoSsr.test.js
  packages/material-ui/src/styles/MuiThemeProvider.test.js
  packages/material-ui/src/styles/createGenerateClassName.js
  packages/material-ui/src/styles/createGenerateClassName.test.js
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/styles/withStyles.test.js
  packages/material-ui/src/test-utils/createMount.js
Labels: core, docs

#12821 [docs] Fix Typo in Pricing.js
  docs/src/pages/page-layout-examples/pricing/Pricing.js
Labels: docs

#12824 [typescript] Update createGenerateClassName.d.ts
  packages/material-ui/src/styles/createGenerateClassName.d.ts
Labels: typescript

#12826 [withStyles] Fix JSS issues in IE11 in development
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/utils/getDisplayName.js
  packages/material-ui/src/utils/getDisplayName.test.js
Labels: bug

#12825 [withWidth] Prevent Rerendering
  packages/material-ui/src/Hidden/HiddenJs.test.js
  packages/material-ui/src/withMobileDialog/withMobileDialog.test.js
  packages/material-ui/src/withWidth/withWidth.js
  packages/material-ui/src/withWidth/withWidth.test.js
Labels: bug

#12822 [SvgIcon] Improve accessibility
  docs/src/pages/style/icons/icons.md
  packages/material-ui/src/SvgIcon/SvgIcon.js
Labels: accessibility, component: SvgIcon

#12835 [CircularProgress] Update missing type definitions
  packages/material-ui/src/CircularProgress/CircularProgress.d.ts
Labels: component: CircularProgress, typescript

#12842 [Slider] Don't pass component props down to root div
  packages/material-ui-lab/src/Slider/Slider.js
Labels: enhancement, lab: Slider

#12673 [typescript] Fix with* injectors ignoring defaultProps
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/withWidth/withWidth.d.ts
  packages/material-ui/src/withWidth/withWidth.spec.tsx
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: typescript

#12843 [Slider] Faster transitions
  packages/material-ui-lab/src/Slider/Slider.js
Labels: lab: Slider

#12841 [docs] Add documentation for css-to-mui-loader
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#12844 [styles] Remove the packageId
  packages/material-ui/src/styles/packageId.js
  packages/material-ui/src/styles/withStyles.js
Labels: core

#12845 [docs] Fix ToggleButtons example typography variant
  docs/src/pages/lab/toggle-button/ToggleButtons.js
Labels: docs

#12837 [Typography] Add inherit and screen reader only
  docs/src/pages/style/icons/icons.md
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/Modal/isOverflowing.js
  packages/material-ui/src/Typography/Typography.d.ts
  packages/material-ui/src/Typography/Typography.js
  packages/material-ui/src/styles/createTypography.d.ts
  pages/api/typography.md
Labels: component: Typography, enhancement

#12849 [docs] Fix very minor typo (Docs - page layout examples)
  docs/src/pages/page-layout-examples/album/README.md
Labels: docs

#12848 [SvgIcon] Fix minor typo in docs
  packages/material-ui/src/SvgIcon/SvgIcon.js
  pages/api/svg-icon.md
Labels: component: SvgIcon, docs

#12846 [SpeedDial] Fix ARIA & fix duplicate id in docs example
  docs/src/pages/lab/speed-dial/SpeedDialTooltipOpen.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
Labels: bug, lab: SpeedDial

#12852 [Select] Test if child passed to onChange handler
  packages/material-ui/src/Select/Select.test.js
Labels: component: Select, test

#12847 [SpeedDial] Remove redundant aria-labelledby
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
Labels: lab: SpeedDial

#12864 [core] Set required yarn version
  CONTRIBUTING.md
Labels: docs

#12771 [SpeedDial] Fix not opening on first tap in mobile
  docs/src/pages/lab/speed-dial/SpeedDialTooltipOpen.js
  docs/src/pages/lab/speed-dial/SpeedDials.js
  docs/src/pages/lab/speed-dial/speed-dial.md
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.test.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
Labels: lab, lab: SpeedDial

#12600 [Slider] Feature Custom Icon
  docs/src/pages/lab/slider/CustomIconSlider.js
  docs/src/pages/lab/slider/slider.md
  packages/material-ui-lab/src/Slider/Slider.js
  pages/lab/api/slider.md
  pages/lab/slider.js
  static/images/misc/circle.png
Labels: lab

#12877 [docs] Update comparison.md
  docs/src/pages/getting-started/comparison/comparison.md
Labels: docs

#12874 [TableSortLabel] Remove sort icon when not active
  packages/material-ui/src/TableSortLabel/TableSortLabel.d.ts
  packages/material-ui/src/TableSortLabel/TableSortLabel.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.test.js
  pages/api/table-sort-label.md
Labels: component: Table, enhancement

#12878 [docs] Split test ad networks
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Carbon.js
  docs/src/modules/components/CodeFund.js
Labels: docs

#12865 [IconButton] Add a size prop to control IconButton size
  docs/src/pages/demos/buttons/ButtonSizes.js
  docs/src/pages/demos/buttons/buttons.md
  docs/src/pages/demos/selection-controls/CheckboxLabels.js
  docs/src/pages/demos/selection-controls/RadioButtons.js
  docs/src/pages/style/icons/FontAwesome.js
  docs/src/pages/style/icons/Icons.js
  docs/src/pages/style/icons/SvgIcons.js
  packages/material-ui/src/Icon/Icon.d.ts
  packages/material-ui/src/Icon/Icon.js
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
  packages/material-ui/src/SvgIcon/SvgIcon.js
  packages/material-ui/src/Switch/Switch.js
  pages/api/icon.md
  pages/api/svg-icon.md
Labels: component: IconButton, enhancement

#12884 [core] Upgrade dev dependencies
  CHANGELOG.md
  package.json
  packages/material-ui/.size-snapshot.json
  packages/material-ui/src/styles/mergeClasses.js
  test/utils/rerender.js
  yarn.lock
Labels: core

#12896 [docs] Make jss insertion point reference the same as html comment
  docs/src/pages/customization/css-in-js/css-in-js.md
Labels: docs

#12901 [core] Add setRef helper
  .size-limit.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/Textarea.js
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/utils/reactHelpers.d.ts
  packages/material-ui/src/utils/reactHelpers.js
  packages/material-ui/src/utils/reactHelpers.test.js
Labels: core

#12904 [docs] Small fixes
  docs/src/modules/components/Ad.js
  docs/src/pages/demos/app-bar/app-bar.md
  docs/src/pages/demos/text-fields/text-fields.md
  docs/src/pages/style/color/ColorTool.js
Labels: docs

#12888 [docs] Add reference to material-ui-theme-editor
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/style/color/color.md
Labels: docs

#12908 [docs] Add another case to check when SSR fails
  docs/src/pages/guides/server-rendering/server-rendering.md
Labels: docs

#12911 [docs] Use core package for (peer-)dependency badges
  README.md
Labels: core

#12912 [core] Use .browserlistrc as single point of thruth for target env
  .browserslistrc
  babel.config.js
Labels: core

#12923 [Slider] Remove touchend event listener
  packages/material-ui-lab/src/Slider/Slider.js
Labels: bug, lab: Slider

#12906 [TextField] Fix alignment bug in Safari
  docs/src/pages/guides/right-to-left/Direction.js
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/InputBase/InputBase.js
Labels: bug, component: TextField

#12926 [InputLabel] Fix Chrome's autofill
  packages/material-ui/src/InputLabel/InputLabel.js
Labels: bug, component: TextField

#12929 [Tooltip] Fix unwanted tooltip opening
  docs/src/modules/components/GoogleTag.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug, component: Tooltip

#12938 [typescript] Add missing `MuiFilledInput` to 'Overrides'
  packages/material-ui/src/styles/overrides.d.ts
Labels: typescript

#12939 [TextField] Fix RTL support of outlined
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
Labels: bug, component: TextField

#12933 [Button] Make the outlined button border grey when disabled
  packages/material-ui/src/Button/Button.js
Labels: bug, component: Button

#12942 [docs] Update themes.md
  docs/src/pages/customization/themes/themes.md
Labels: docs

#12953 [RootRef] Keep track of the DOM node changes
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/RootRef/RootRef.test.js
Labels: bug

#12952 [Grid] Fix rounding errors
  packages/material-ui/src/Grid/Grid.js
Labels: component: Grid, enhancement

#12954 [Tooltip] Back to 100% test coverage
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: component: Tooltip, test

#12955 [docs] Fix documentation error in <Input />
  BACKERS.md
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  pages/api/filled-input.md
  pages/api/input.md
  pages/api/outlined-input.md
Labels: docs

#12959 [SpeedDialAction] Add missing TypeScript property
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
Labels: lab: SpeedDial, typescript

#12958 [docs] Minor style update of the tabs demos
  docs/src/pages/demos/tabs/IconLabelTabs.js
  docs/src/pages/demos/tabs/IconTabs.js
Labels: component: Tabs, docs

#12963 [docs] Glamorous is deprecated for emotion
  docs/src/modules/components/Demo.js
  docs/src/pages/guides/interoperability/ReactJss.js
  docs/src/pages/guides/interoperability/interoperability.md
  pages/guides/interoperability.js
Labels: docs

#12968 [docs] Show how to combine OutlinedInput and FilledInput
  docs/src/pages/demos/text-fields/ComposedTextField.js
  docs/src/pages/demos/text-fields/text-fields.md
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
  packages/material-ui/src/OutlinedInput/NotchedOutline.test.js
  packages/material-ui/src/TextField/TextField.js
Labels: docs

#12969 [SwipableDrawer] Don't break when backdrop is null
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: bug, component: Drawer

#12974 [docs] Fix Typo in page-layout-examples
  docs/src/pages/page-layout-examples/PageLayoutExamples.js
  docs/src/pages/page-layout-examples/album/README.md
  docs/src/pages/page-layout-examples/blog/README.md
  docs/src/pages/page-layout-examples/blog/blog-post.1.md
Labels: docs

#12975 [InputAdornment] Fix flexbox alignment bug for IE
  docs/src/pages/demos/text-fields/FilledInputAdornments.js
  docs/src/pages/demos/text-fields/OutlinedInputAdornments.js
  packages/material-ui/src/InputAdornment/InputAdornment.js
  packages/material-ui/src/InputBase/InputBase.js
Labels: bug

#12977 [FilledInput] Update the background color to match the spec
  packages/material-ui/src/FilledInput/FilledInput.js
Labels: component: TextField, material design spec

#12976 [ListItem] Fix background color bug on mobile
  packages/material-ui/src/ListItem/ListItem.js
Labels: bug, component: List

#12982 [core] Upgrade the @types/jss dependency to 9.5.6
  packages/material-ui/package.json
  yarn.lock
Labels: typescript

#12992 [examples] Clean up create-react-app-with-typescript
  examples/create-react-app-with-typescript/tsconfig.prod.json
  examples/create-react-app-with-typescript/typings/misc.d.ts
Labels: docs, typescript

#13007 [FormControlLabel] Reverse margins values when labelPlacement="start"
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
Labels: bug

#13008 [InputBase] Fix cursor on disabled state
  packages/material-ui/src/InputBase/InputBase.js
Labels: bug, component: TextField

#13009 [InputLabel] Add `variant` property to InputLabel type definition
  packages/material-ui/src/InputLabel/InputLabel.d.ts
Labels: component: TextField, typescript

#12972 [Slider] Replace reversed with rtl support on horizontal sliders
  docs/src/pages/lab/slider/ReverseSlider.js
  docs/src/pages/lab/slider/VerticalSlider.js
  docs/src/pages/lab/slider/slider.md
  packages/material-ui-lab/src/Slider/Slider.d.ts
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
  pages/lab/api/slider.md
  pages/lab/slider.js
Labels: breaking change, lab: Slider

#13003 [StepLabel] Introduce StepIconComponent property
  packages/material-ui/src/StepLabel/StepLabel.d.ts
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/StepLabel/StepLabel.test.js
  pages/api/step-label.md
Labels: component: Stepper, enhancement

#13016 [core] Upgrade the dev dependencies
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/GoogleAnalytics.js
  package.json
  packages/material-ui-icons/package.json
  yarn.lock
Labels: core

#13022 [core] Remove redundant class field initializers
  .size-limit.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/withRoot.js
  docs/src/pages/customization/css-in-js/JssRegistry.js
  docs/src/pages/demos/autocomplete/IntegrationAutosuggest.js
  docs/src/pages/demos/dialogs/ConfirmationDialog.js
  docs/src/pages/demos/menus/SimpleListMenu.js
  docs/src/pages/demos/progress/CircularDeterminate.js
  docs/src/pages/demos/progress/CircularIntegration.js
  docs/src/pages/demos/progress/CircularStatic.js
  docs/src/pages/demos/progress/DelayingAppearance.js
  docs/src/pages/demos/progress/LinearBuffer.js
  docs/src/pages/demos/progress/LinearDeterminate.js
  docs/src/pages/demos/text-fields/ComposedTextField.js
  docs/src/pages/utils/popover/AnchorPlayground.js
  docs/src/pages/utils/popper/ScrollPlayground.js
  docs/src/pages/utils/portal/SimplePortal.js
  examples/gatsby/src/withRoot.js
  examples/nextjs/pages/_app.js
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/ButtonBase/TouchRipple.test.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/Textarea.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/NoSsr/NoSsr.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/styles/MuiThemeProvider.js
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/styles/withTheme.js
  packages/material-ui/src/withWidth/withWidth.js
  test/regressions/tests/Input/Inputs.js
Labels: core, performance

#13026 [docs] Add closing tag in the Popover snippet
  docs/src/pages/utils/popover/AnchorPlayground.js
Labels: docs

#13031 [docs] Fewer
  packages/material-ui-docs/src/MarkdownElement/MarkdownElement.js
Labels: docs

#13038 [OutlinedInput] `notched` should be boolean type
  packages/material-ui/src/OutlinedInput/OutlinedInput.d.ts
Labels: component: TextField, typescript

#13040 [TextField] Add "pointerEvents: none" to outline and filled variants
  packages/material-ui/src/InputLabel/InputLabel.js
Labels: bug, component: TextField

#13041 [docs] Improve the Gatsby demo
  examples/create-react-app-with-flow/package.json
  examples/create-react-app-with-jss/package.json
  examples/create-react-app/package.json
  examples/gatsby/gatsby-browser.js
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/package.json
  examples/gatsby/src/pages/about.js
  examples/gatsby/src/pages/index.js
  examples/gatsby/src/withRoot.js
  examples/nextjs/package.json
  examples/parcel/package.json
  examples/ssr/package.json
Labels: docs

#13017 [TextField] Fix the recent regressions
  docs/src/pages/demos/autocomplete/IntegrationDownshift.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: bug, component: TextField

#13043 [Portal] container should allow being 'null' type
  packages/material-ui/src/Portal/Portal.d.ts
Labels: component: Portal, typescript
