Repository mui/material-ui, pull requests merged in 2018-05, with the labels that each got.

#11189 [ButtonBase] Update TypeScript to sync with the implementation
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
Labels: component: ButtonBase, typescript

#11194 [docs] Fix dark theme display
  docs/src/pages/layout/grid/InteractiveGrid.js
  docs/src/pages/style/icons/SvgMaterialIcons.js
  docs/src/pages/style/typography/Types.js
  docs/src/pages/style/typography/TypographyTheme.js
Labels: bug, docs

#11195 [example] Revert wrong change
  examples/create-react-app-with-flow/flow-typed/npm/material-ui_v1.x.x.js
Labels: docs

#11199 [styles] Simpler outline reset
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Table/TableRow.js
Labels: core, enhancement

#11201 [Transition] Add a TransitionProps
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/Stepper/StepContent.js
  pages/api/dialog.md
  pages/api/popover.md
  pages/api/snackbar.md
  pages/api/step-content.md
  pages/lab/api/speed-dial.md
Labels: enhancement

#11200 [TablePagination] Allow the MenuItem customization
  packages/material-ui/src/Table/TablePagination.d.ts
  packages/material-ui/src/Table/TablePagination.js
  pages/api/table-pagination.md
Labels: component: Table, enhancement

#11203 [Snackbar] Rename SnackbarContentProps
  docs/src/modules/components/Notifications.js
  docs/src/pages/demos/snackbars/ConsecutiveSnackbars.js
  docs/src/pages/demos/snackbars/DirectionSnackbar.js
  docs/src/pages/demos/snackbars/FabIntegrationSnackbar.js
  docs/src/pages/demos/snackbars/FadeSnackbar.js
  docs/src/pages/demos/snackbars/PositionedSnackbar.js
  docs/src/pages/demos/snackbars/SimpleSnackbar.js
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/Snackbar/SnackbarContent.d.ts
  packages/material-ui/src/Stepper/StepContent.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
  pages/api/snackbar.md
Labels: breaking change

#11206 [ListItemIcon] Take advantage of CSS inheritance
  packages/material-ui/src/List/ListItemIcon.js
Labels: component: List, enhancement

#11210 [docs] Improve server-rendering, replace render by hydrate
  docs/src/pages/guides/server-rendering/server-rendering.md
Labels: docs

#11213 [docs] Update notification
  docs/notifications.json
Labels: docs

#11221 [StepButton] Allow null to be assigned to icon prop
  packages/material-ui/src/Stepper/StepButton.d.ts
Labels: component: Stepper, typescript

#11215 [TextField] Increase shrunk label width to match 100% input width
  packages/material-ui/src/Input/InputLabel.js
Labels: component: TextField, enhancement

#11204 [core] Standardize the component injection pattern
  ROADMAP.md
  docs/src/pages/demos/dialogs/AlertDialogSlide.js
  docs/src/pages/demos/dialogs/FullScreenDialog.js
  docs/src/pages/demos/menus/FadeMenu.js
  docs/src/pages/demos/snackbars/DirectionSnackbar.js
  docs/src/pages/demos/snackbars/FadeSnackbar.js
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
  docs/src/pages/guides/api/api.md
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  packages/material-ui/src/Stepper/StepContent.d.ts
  packages/material-ui/src/Stepper/StepContent.js
  packages/material-ui/src/Table/TablePagination.d.ts
  packages/material-ui/src/Table/TablePagination.js
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  pages/api/dialog.md
  pages/api/popover.md
  pages/api/snackbar.md
  pages/api/step-content.md
  pages/api/table-pagination.md
  pages/api/tabs.md
  pages/lab/api/speed-dial.md
Labels: breaking change, core

#11136 [Select] Add IconComponent property
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
  pages/api/select.md
Labels: component: Select, enhancement

#11228 [docs] Clarify the difference with enzyme
  docs/src/pages/guides/testing/testing.md
Labels: docs, test

#11227 [docs] Add a note on the override of internal states
  docs/src/pages/customization/overrides/ClassesNesting.js
  docs/src/pages/customization/overrides/ClassesState.js
  docs/src/pages/customization/overrides/overrides.md
  pages/customization/overrides.js
Labels: docs

#11239 [docs] Misc fixes
  docs/src/pages/customization/css-in-js/css-in-js.md
  docs/src/pages/customization/themes/FontSizeTheme.js
  docs/src/pages/demos/menus/menus.md
  docs/src/pages/demos/selection-controls/selection-controls.md
  docs/src/pages/demos/selects/NativeSelect.js
  docs/src/pages/demos/selects/SimpleSelect.js
  docs/src/pages/demos/selects/selects.md
  docs/src/pages/demos/tabs/tabs.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/supported-components/supported-components.md
  docs/src/pages/guides/api/api.md
  docs/src/pages/guides/migration-v0.x/migration-v0.x.md
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/src/pages/guides/testing/testing.md
  docs/src/pages/style/icons/Icons.js
  docs/src/pages/style/icons/SvgIcons.js
  docs/src/pages/style/icons/icons.md
  packages/material-ui/src/Icon/Icon.js
  packages/material-ui/src/SvgIcon/SvgIcon.js
  packages/material-ui/src/Table/TableRow.js
  pages/api/icon.md
  pages/api/svg-icon.md
  pages/api/table-row.md
  test/regressions/tests/Select/SelectAlignment.js
Labels: docs

#11240 [core] Update dependencies
  .size-limit
  package.json
  packages/material-ui/package.json
  yarn.lock
Labels: core

#11202 [withStyles] Memoization the classes property
  .size-limit
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/styles/withStyles.test.js
Labels: performance

#11245 [docs] Document the theme.props feature
  docs/src/pages/customization/themes/OverridesCss.js
  docs/src/pages/customization/themes/OverridesProperties.js
  docs/src/pages/customization/themes/themes.md
  pages/customization/themes.js
Labels: docs

#11246 [NProgress] Better RTL support and closer to YouTube version
  packages/material-ui-docs/src/NProgressBar/NProgressBar.js
Labels: enhancement

#11248 [docs] Speedup a bit the homepage
  docs/src/modules/components/HomeSteps.js
  static/icons/48x48.png
  static/icons/70x70.png
  static/images/material-ui-logo.svg
  static/images/themes/creative-tim.png
Labels: docs, performance

#11249 [codemod] Prepare the import path breaking change
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
  packages/material-ui-codemod/README.md
  packages/material-ui-codemod/src/v0.15.0/import-path.js
  packages/material-ui-codemod/src/v1.0.0/color-imports.js
  packages/material-ui-codemod/src/v1.0.0/import-path.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/actual.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/expected.js
  packages/material-ui-codemod/src/v1.0.0/svg-icon-imports.js
Labels: enhancement

#11253 [codemod] Support the private and direct imports
  packages/material-ui-codemod/src/v1.0.0/import-path.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/actual.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/expected.js
Labels: core, enhancement

#11255 [Table] Fix Typescript classes support
  packages/material-ui-codemod/src/v1.0.0/import-path.test.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/actual.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/expected.js
  packages/material-ui/src/Table/TableBody.d.ts
  packages/material-ui/src/Table/TableBody.test.js
  packages/material-ui/src/Table/TableHead.d.ts
  packages/material-ui/src/Table/TableHead.test.js
  packages/material-ui/test/typescript/components.spec.tsx
Labels: bug, component: Table, typescript

#11256 [docs] Improve the table examples' accessibility
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
  docs/src/pages/demos/tables/CustomizedTable.js
  docs/src/pages/demos/tables/EnhancedTable.js
  docs/src/pages/demos/tables/SimpleTable.js
  docs/src/pages/demos/tables/tables.md
  packages/material-ui/src/Table/TableCell.js
Labels: accessibility, component: Table

#11254 [Tabs] Add a TabIndicatorProps property
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  pages/api/tabs.md
Labels: component: Tabs, enhancement

#11264 [Table] Add table-footer-group CSS
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/TableBody.js
  packages/material-ui/src/Table/TableFooter.d.ts
  packages/material-ui/src/Table/TableFooter.js
  packages/material-ui/src/Table/TableFooter.test.js
  packages/material-ui/src/Table/TableHead.js
  packages/material-ui/src/styles/overrides.d.ts
  pages/api/table-footer.md
Labels: component: Table, enhancement

#11274 [docs] Add Pilcro to showcase apps
  docs/src/pages/discover-more/showcase/showcase.md
Labels: docs

#11277 [ButtonBase] Better performance
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/ButtonBase/TouchRipple.js
  test/utils/rerender.js
Labels: component: ButtonBase, performance

#10964 [core] Upgrade Babel 6 to Babel 7
  .babelrc
  .size-limit
  .yarnrc
  docs/src/modules/components/Link.js
  docs/src/modules/components/withRoot.js
  docs/src/pages/customization/css-in-js/JssRegistry.js
  docs/src/pages/demos/dialogs/ConfirmationDialog.js
  next.config.js
  package.json
  packages/material-ui-codemod/package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui/package.json
  packages/material-ui/src/Hidden/HiddenCss.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/utils/reactHelpers.js
  scripts/get-replacement.js
  scripts/material-ui-babel-preset.js
  scripts/material-ui-babel-preval.js
  test/mocha.opts
  yarn.lock
Labels: core

#11280 [typescript] Fix withStyles edge cases, require TS 2.8
  docs/src/pages/guides/typescript/typescript.md
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/utils/withWidth.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: typescript

#11292 [docs] Remove BrainBOK from showcase
  docs/src/app/components/pages/discover-more/Showcase.js
Labels: docs

#11293 [withStyles] Support createRef()
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/styles/withStyles.js
Labels: enhancement

#11297 [InputLabel] Remove the width style property
  packages/material-ui/src/Input/InputLabel.js
Labels: bug, component: TextField

#11298 [core] Add @babel/runtime as a dependency
  .babelrc
  packages/material-ui/package.json
  yarn.lock
Labels: bug, core

#11296 [typescript] Add CreateMuiTheme props Typescript definition
  packages/material-ui/src/styles/createMuiTheme.d.ts
  packages/material-ui/src/styles/createMuiTheme.test.js
  packages/material-ui/src/styles/props.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: enhancement, typescript

#11300 [docs] Add a new premium-theme
  docs/src/pages/premium-themes/PremiumThemes.js
  static/images/themes/creative-tim-dashboard.jpg
  static/images/themes/creative-tim-kit.jpg
  static/images/themes/creative-tim.png
Labels: docs

#11313 [CircularProgress] Add transition for static variant
  .size-limit
  docs/src/pages/demos/progress/CircularDeterminate.js
  docs/src/pages/demos/progress/CircularStatic.js
  packages/material-ui/src/Progress/CircularProgress.js
  packages/material-ui/src/Progress/CircularProgress.test.js
  packages/material-ui/src/Progress/LinearProgress.js
  pages/api/circular-progress.md
Labels: component: CircularProgress, enhancement

#11317 [docs] Prepare the v1 release
  docs/src/pages/versions/LatestVersion.js
  docs/src/pages/versions/StableVersions.js
  docs/src/pages/versions/versions.md
Labels: docs

#11322 [createTypography] Add primary text color to 'button' typography variant
  packages/material-ui/src/styles/createTypography.js
Labels: bug, material design spec

#11326 [styles] Fix typings for FontStyle
  packages/material-ui/src/styles/createTypography.d.ts
Labels: bug, typescript

#11328 [docs] Add HIJUP.com to the showcase site
  docs/src/pages/discover-more/showcase/showcase.md
Labels: docs

#11302 [typescript] Fix color type in augmentColor function
  packages/material-ui/src/styles/createPalette.d.ts
Labels: bug, typescript

#11338 [Grid] Add 32px gutter to grid spacing
  docs/src/pages/layout/grid/SpacingGrid.js
  docs/src/pages/layout/grid/grid.md
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grid/Grid.js
  pages/api/grid.md
Labels: component: Grid, enhancement

#11346 [Button] Add outlined variant
  docs/src/pages/demos/buttons/OutlinedButtons.js
  docs/src/pages/demos/buttons/buttons.md
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/styles/MuiThemeProvider.test.js
  pages/api/button.md
  pages/demos/buttons.js
Labels: component: Button, material design spec

#11347 [core] Remove React 15 support
  .size-limit
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui/package.json
  packages/material-ui/src/Portal/LegacyPortal.js
  packages/material-ui/src/Portal/Portal.test.js
  packages/material-ui/src/Portal/index.js
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: breaking change, core

#11348 [Grid] Remove the hidden property
  docs/src/pages/layout/hidden/GridIntegration.js
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
  packages/material-ui/test/typescript/components.spec.tsx
  pages/api/grid.md
Labels: breaking change, component: Grid

#11325 Make WithStylesOptions extend the options argument of createStyleSheet
  packages/material-ui/package.json
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
  yarn.lock
Labels: typescript

#11357 [docs] Install with yarn
  README.md
Labels: docs

#11361 [core] Require React 16.3.0 or greater
  .size-limit
  docs/src/modules/components/AppWrapper.js
  examples/create-react-app-with-flow/package.json
  package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui/package.json
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  yarn.lock
Labels: breaking change, core

#11359 [docs] Update the examples, docs and READMEs for RC.0
  README.md
  docs/src/modules/components/HomeSteps.js
  docs/src/pages/guides/migration-v0.x/migration-v0.x.md
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/src/pages/lab/about/about.md
  examples/cdn/README.md
  examples/cdn/index.html
  examples/create-react-app-with-flow/README.md
  examples/create-react-app-with-flow/package.json
  examples/create-react-app-with-flow/src/pages/index.js
  examples/create-react-app-with-flow/src/withRoot.js
  examples/create-react-app-with-jss/README.md
  examples/create-react-app-with-jss/package.json
  examples/create-react-app-with-jss/src/pages/index.js
  examples/create-react-app-with-jss/src/withRoot.js
  examples/create-react-app-with-typescript/README.md
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app-with-typescript/src/pages/index.tsx
  examples/create-react-app-with-typescript/src/withRoot.tsx
  examples/create-react-app/README.md
  examples/create-react-app/package.json
  examples/create-react-app/src/pages/index.js
  examples/create-react-app/src/withRoot.js
  examples/gatsby/README.md
  examples/gatsby/package.json
  examples/gatsby/src/getPageContext.js
  examples/gatsby/src/pages/index.js
  examples/gatsby/src/withRoot.js
  examples/nextjs/README.md
  examples/nextjs/package.json
  examples/nextjs/pages/index.js
  examples/nextjs/src/getPageContext.js
  examples/nextjs/src/withRoot.js
  examples/parcel/README.md
  examples/parcel/package.json
  examples/parcel/src/pages/index.js
  examples/parcel/src/withRoot.js
  packages/material-ui-docs/README.md
  packages/material-ui-icons/README.md
  packages/material-ui-lab/README.md
Labels: PR: on hold, docs

#11351 [docs] Update notifications for v1.0.0-rc.0
  docs/notifications.json
Labels: docs

#11378 [typescript] Fix DialogContent export
  packages/material-ui/src/index.d.ts
Labels: typescript

#11398 [core] Workaround a Babel regression
  .babelrc
  packages/material-ui-codemod/package.json
  packages/material-ui-lab/package.json
  packages/material-ui/package.json
Labels: core

#11399 [docs] Remove react@15 message
  packages/material-ui/src/CssBaseline/CssBaseline.js
  packages/material-ui/src/styles/MuiThemeProvider.js
  pages/api/css-baseline.md
  pages/api/mui-theme-provider.md
Labels: docs

#11358 [core] Do not include polyfills in the ES modules build
  .babelrc
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: enhancement, performance

#11401 [core] Fix size-limit for the new Next path
  .size-limit
  .size-limit.js
  package.json
  yarn.lock
Labels: core

#11364 [NativeSelect] New component
  .size-limit.js
  docs/src/pages/demos/selects/NativeSelects.js
  docs/src/pages/demos/selects/selects.md
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.d.ts
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.test.js
  packages/material-ui/src/NativeSelect/index.d.ts
  packages/material-ui/src/NativeSelect/index.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
  pages/api/native-select.js
  pages/api/native-select.md
  pages/demos/selects.js
Labels: enhancement, performance

#11349 [Popover] fix max height issue in some mobile browsers
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Popover/Popover.js
Labels: bug, component: Popover

#11404 [docs] Better netlify cache control
  docs/_headers
  package.json
  pages/_document.js
  yarn.lock
Labels: docs

#11360 [core] Bundle UMD with rollup
  .babelrc
  package.json
  packages/material-ui/.size-snapshot.json
  packages/material-ui/package.json
  packages/material-ui/scripts/rollup.config.js
  packages/material-ui/scripts/umd.webpack.config.js
  scripts/material-ui-babel-preset.js
  yarn.lock
Labels: enhancement, performance

#11437 [docs] Fix import in demo InputAdornment.js
  docs/src/pages/demos/text-fields/InputAdornments.js
Labels: docs

#11433 [core] Remove some dead code
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  pages/api/tooltip.md
Labels: core

#11448 [docs] Remove reference to props to retrieve classname
  docs/src/pages/demos/tooltips/SimpleTooltips.js
Labels: docs

#11449 [Switch,Radio] Updated 'secondary' property spelling
  packages/material-ui/src/Radio/Radio.d.ts
  packages/material-ui/src/Switch/Switch.d.ts
Labels: typescript

#11365 [docs] Update for v1 release
  CHANGELOG.md
  README.md
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppWrapper.js
  docs/src/pages/guides/migration-v0.x/migration-v0.x.md
  docs/src/pages/versions/LatestVersion.js
  docs/src/pages/versions/StableVersions.js
  docs/versions.json
  packages/material-ui-icons/README.md
  packages/material-ui/src/Zoom/Zoom.js
  pages/_document.js
  pages/api/zoom.md
Labels: PR: on hold, docs

#11466 [docs] Fixed notification releases message
  docs/notifications.json
Labels: docs

#11469 [examples] Fix imports for Dialog
  examples/create-react-app-with-typescript/src/pages/index.tsx
Labels: docs, typescript

#11473 [docs] Remove trailing slash on progress-indicators link
  docs/src/pages/getting-started/supported-components/supported-components.md
Labels: docs

#11456 [typescript] Make TypographyStyle assignable to CSSProperties, misc other typing fixes
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: typescript

#11476 [docs] Add missing word to documentation
  docs/src/pages/guides/testing/testing.md
Labels: docs

#11477 [core] Cut the head of the snake 🐍
  docs/src/pages/demos/grid-list/TitlebarGridList.js
  docs/src/pages/demos/lists/PinnedSubheaderList.js
  docs/src/pages/demos/steppers/DotsMobileStepper.js
  docs/src/pages/demos/steppers/ProgressMobileStepper.js
  docs/src/pages/demos/steppers/SwipeableTextMobileStepper.js
  docs/src/pages/demos/steppers/TextMobileStepper.js
  docs/src/pages/demos/text-fields/TextFields.js
  packages/material-ui-codemod/src/v1.0.0/import-path.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/actual.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test/expected.js
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  yarn.lock
Labels: core

#11479 [docs] Specify correct corner to locate directional toggle
  docs/src/pages/guides/right-to-left/right-to-left.md
Labels: docs

#11451 [ListItem] Take the focusVisibleClassName property into account
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/ListItem/ListItem.test.js
Labels: bug, component: List

#11485 [examples] Fix create-react-app-with-jss theme object
  examples/create-react-app-with-jss/src/withRoot.js
Labels: docs

#11487 [docs] Add Snippets Chrome extension to showcase
  docs/src/pages/discover-more/showcase/showcase.md
Labels: docs

#11491 [docs] Small fixes
  docs/src/pages/premium-themes/PremiumThemes.js
  pages/index.js
  yarn.lock
Labels: docs

#11411 [Grid] Allow shrink in items so text will wrap by default
  packages/material-ui/src/Grid/Grid.js
Labels: component: Grid, enhancement

#11446 [StepLabel] Allow StepIcon customization
  packages/material-ui/src/StepLabel/StepLabel.d.ts
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/StepLabel/StepLabel.test.js
  pages/api/step-label.md
Labels: PR: accepted, component: Stepper, enhancement

#11478 [StepConnector] Exposes the component
  docs/src/pages/demos/steppers/steppers.md
  packages/material-ui/src/StepConnector/StepConnector.js
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
  pages/api/step-connector.js
  pages/api/step-connector.md
Labels: PR: accepted, component: Stepper, enhancement

#11489 [core] Add esm bundle to start tracking treeshakability
  packages/material-ui/.size-snapshot.json
  packages/material-ui/package.json
  packages/material-ui/scripts/rollup.config.js
Labels: PR: accepted, core

#11494 [Tabs] Fix TabIndicatorProps merge
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: PR: accepted, bug, component: Tabs

#11492 [core] More aggressive transpilation
  .babelrc
  .size-limit.js
  packages/material-ui/.size-snapshot.json
  packages/material-ui/src/styles/withStyles.js
Labels: PR: accepted, core, performance

#11501 [docs] Prevent content-type: application/octet-stream
  docs/src/modules/components/withRoot.js
  docs/src/pages/guides/migration-v0x/migration-v0x.md
  pages/guides/migration-v0x.js
Labels: docs

#11511 [core] Enable loose mode for staged featues
  .babelrc
  .size-limit.js
  packages/material-ui/.size-snapshot.json
  packages/material-ui/package.json
Labels: core

#11513 [SpeedDial] Clean up SpeedDialIcon transition
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.js
Labels: lab, lab: SpeedDial

#11505 [docs] Add Customized Switches section
  docs/src/pages/demos/selection-controls/CustomizedSwitches.js
  docs/src/pages/demos/selection-controls/RadioButtonsGroup.js
  docs/src/pages/demos/selection-controls/SwitchLabels.js
  docs/src/pages/demos/selection-controls/selection-controls.md
  pages/demos/selection-controls.js
Labels: docs

#11516 [docs] Remove Firebase config file & deploy script
  firebase.json
  package.json
Labels: docs

#11519 [ButtonBase] Fix React propTypes buttonRef warning
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.js
  pages/api/button-base.md
Labels: component: ButtonBase

#11522 [docs] Pull versions from github API
  docs/src/pages/versions/StableVersions.js
  docs/versions.json
Labels: docs

#11523 [core] Internalize ScrollbarSize
  .size-limit.js
  package.json
  packages/material-ui/package.json
  packages/material-ui/src/Tabs/ScrollbarSize.js
  packages/material-ui/src/Tabs/ScrollbarSize.test.js
  packages/material-ui/src/Tabs/Tabs.js
  yarn.lock
Labels: core, performance

#11529 [docs] Removed references to Grid's hidden property
  docs/src/pages/layout/hidden/hidden.md
Labels: docs

#11544 [ListItemText] Shouldn't be a heading by default
  packages/material-ui/src/ListItemText/ListItemText.js
Labels: component: List, enhancement

#11570 [GridListTileBar] Add missing title and subtitle keys
  packages/material-ui/src/GridListTileBar/GridListTileBar.d.ts
Labels: bug, component: GridList, typescript

#11562 [docs] Remove background grid from Typography variants demo
  docs/src/pages/style/typography/Types.js
Labels: docs

#11568 [TableCell] Fix padding for last TableCell if checkbox
  packages/material-ui/src/TableCell/TableCell.js
Labels: component: Table, enhancement

#11509 [docs] Add outlined buttons to ButtonSizes demo
  docs/src/pages/demos/buttons/ButtonSizes.js
  docs/src/pages/demos/buttons/buttons.md
Labels: docs

#11574 [Button][ButtonBase] Take advantage of defaultProps for component prop
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  pages/api/button-base.md
  pages/api/button.md
Labels: component: Button, enhancement

#11579 [docs] Add a Troubleshooting section for SSR
  docs/src/pages/customization/css-in-js/css-in-js.md
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/src/pages/guides/server-rendering/server-rendering.md
  packages/material-ui/package.json
  yarn.lock
Labels: docs

#11512 [typescript] add sample with return types
  docs/src/pages/guides/typescript/typescript.md
Labels: typescript

#11580 [docs] Fix a little typo in typescript docs
  docs/src/pages/guides/typescript/typescript.md
Labels: docs, typescript

#11583 [StepConnector] Add to default export from @material-ui/core
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: bug, component: Stepper

#11582 [docs] Add react-admin to related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#11040 [Slider] Port component
  docs/src/modules/components/withRoot.js
  docs/src/pages/getting-started/supported-components/supported-components.md
  docs/src/pages/lab/slider/DisabledSlider.js
  docs/src/pages/lab/slider/ReverseSlider.js
  docs/src/pages/lab/slider/SimpleSlider.js
  docs/src/pages/lab/slider/StepSlider.js
  docs/src/pages/lab/slider/VerticalSlider.js
  docs/src/pages/lab/slider/slider.md
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
  packages/material-ui-lab/src/Slider/index.js
  packages/material-ui-lab/src/utils/clamp.js
  pages/lab/api/slider.js
  pages/lab/api/slider.md
  pages/lab/slider.js
Labels: component: Slider, lab

#11578 [docs] Update the showcase
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/discover-more/showcase/showcase.md
  pages/discover-more/showcase.js
  static/images/showcase/audionodes.jpg
  static/images/showcase/builderbook.jpg
  static/images/showcase/componofy.jpg
  static/images/showcase/cryptoverview.jpg
  static/images/showcase/hijup.jpg
  static/images/showcase/jdupont.jpg
  static/images/showcase/johnnymetrics.jpg
  static/images/showcase/localinsights.jpg
  static/images/showcase/localmonero.jpg
  static/images/showcase/manty.jpg
  static/images/showcase/meetingku.jpg
  static/images/showcase/modole.jpg
  static/images/showcase/npm-registry-browser.jpg
  static/images/showcase/pilcro.jpg
  static/images/showcase/planalyze.jpg
  static/images/showcase/rung.jpg
  static/images/showcase/sc.bnu.edu.cn.jpg
  static/images/showcase/slidesup.jpg
  static/images/showcase/snippets.jpg
  static/images/showcase/venuemob.jpg
  test/regressions/index.js
Labels: docs

#11585 [ButtonBase] Improve enter & space handling
  docs/src/pages/guides/composition/ComponentProperty.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/ButtonBase/focusVisible.js
Labels: bug, component: ButtonBase

#11599 [SpeedDial] Fix classes prop description
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  pages/lab/api/speed-dial.md
Labels: docs

#11603 [docs] Update Wertarbyte components link
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#11604 [docs] Add a changelog page
  CHANGELOG.md
  docs/src/modules/components/withRoot.js
  docs/src/pages/discover-more/changelog/changelog.md
  pages/discover-more/changelog.js
Labels: docs

#11595 [docs] Keep the current version into account
  docs/src/pages/versions/StableVersions.js
Labels: docs

#11597 [Snackbar] Add customization example
  docs/src/pages/demos/snackbars/CustomizedSnackbars.js
  docs/src/pages/demos/snackbars/snackbars.md
  docs/src/pages/demos/text-fields/text-fields.md
  pages/demos/snackbars.js
Labels: component: Snackbar, docs

#11608 Depend directly on CSSType
  packages/material-ui/package.json
  yarn.lock
Labels: typescript

#11614 [Menu] Fix a regression on Edge
  packages/material-ui/src/MenuList/MenuList.js
Labels: bug, component: Menu

#11616 [core] Upgrade dependencies
  .size-limit.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/Link.js
  docs/src/modules/redux/initRedux.js
  docs/src/pages/layout/css-in-js/MediaQuery.js
  docs/src/pages/layout/hidden/BreakpointDown.js
  docs/src/pages/layout/hidden/BreakpointOnly.js
  docs/src/pages/layout/hidden/BreakpointUp.js
  docs/src/pages/layout/hidden/GridIntegration.js
  examples/create-react-app-with-typescript/src/pages/index.tsx
  package.json
  packages/material-ui-codemod/src/v1.0.0/import-path.test/actual.js
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui/.size-snapshot.json
  packages/material-ui/package.json
  packages/material-ui/scripts/rollup.config.js
  packages/material-ui/src/CircularProgress/CircularProgress.js
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/GridList/GridList.js
  packages/material-ui/src/MobileStepper/MobileStepper.js
  packages/material-ui/src/styles/createTypography.js
  packages/material-ui/src/transitions/transition.d.ts
  pages/index.js
  yarn.lock
Labels: core

#11606 [ROADMAP] Update the roadmap
  ROADMAP.md
  docs/src/modules/components/Notifications.js
  docs/src/pages/demos/snackbars/CustomizedSnackbars.js
  docs/src/pages/versions/StableVersions.js
Labels: docs

#11617 [TextField] replace underline content text with nbsp
  packages/material-ui/src/Input/Input.js
Labels: component: TextField

#11623 [example] Fix missing brackets typescript
  examples/create-react-app-with-typescript/src/pages/index.tsx
Labels: typescript

#11630 [docs] Update overrides.md
  docs/src/pages/customization/overrides/overrides.md
Labels: docs

#11620 [docs] Styled API Example (5 lines)
  docs/src/pages/customization/css-in-js/css-in-js.md
Labels: docs

#11633 [TextField] Fix grammar for docs
  packages/material-ui/src/TextField/TextField.js
  pages/api/text-field.md
Labels: component: TextField, docs

#11639 [docs] Mention view port size in SVGIcon documentation
  docs/src/pages/style/icons/icons.md
Labels: docs

#11645 [ListItem] Fix typings for ListItem
  packages/material-ui/src/ListItem/ListItem.d.ts
Labels: typescript

#11647 [docs] Update README for codemod
  packages/material-ui-codemod/README.md
Labels: docs

#11497 [Button] Add text and contained variants
  .size-limit.js
  docs/src/modules/components/HomeSteps.js
  docs/src/pages/demos/badges/SimpleBadge.js
  docs/src/pages/demos/buttons/ButtonSizes.js
  docs/src/pages/demos/buttons/ContainedButtons.js
  docs/src/pages/demos/buttons/CustomizedButtons.js
  docs/src/pages/demos/buttons/IconLabelButtons.js
  docs/src/pages/demos/buttons/TextButtons.js
  docs/src/pages/demos/buttons/buttons.md
  docs/src/pages/demos/progress/CircularIntegration.js
  docs/src/pages/demos/steppers/HorizontalLinearAlternativeLabelStepper.js
  docs/src/pages/demos/steppers/HorizontalLinearStepper.js
  docs/src/pages/demos/steppers/HorizontalNonLinearAlternativeLabelStepper.js
  docs/src/pages/demos/steppers/HorizontalNonLinearStepper.js
  docs/src/pages/demos/steppers/HorizontalNonLinearStepperWithError.js
  docs/src/pages/demos/steppers/SwipeableTextMobileStepper.js
  docs/src/pages/demos/steppers/TextMobileStepper.js
  docs/src/pages/demos/steppers/VerticalLinearStepper.js
  docs/src/pages/getting-started/usage/usage.md
  docs/src/pages/guides/api/api.md
  docs/src/pages/guides/migration-v0x/migration-v0x.md
  docs/src/pages/utils/popovers/AnchorPlayground.js
  docs/src/pages/utils/popovers/SimplePopover.js
  examples/create-react-app-with-flow/src/pages/index.js
  examples/create-react-app-with-jss/src/pages/index.js
  examples/create-react-app/src/pages/index.js
  examples/gatsby/src/pages/index.js
  examples/nextjs/pages/index.js
  examples/parcel/src/pages/index.js
  package.json
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/styles/MuiThemeProvider.test.js
  pages/api/button.md
  pages/demos/buttons.js
  test/regressions/tests/Button/MaterialV1Buttons.js
  test/regressions/tests/Button/MultilineButton.js
Labels: component: Button, material design spec

#11642 [Slider] Fire the right event on mouseDown
  packages/material-ui-lab/src/Slider/Slider.js
Labels: lab, lab: Slider

#11613 [Chip] Add `clickable` property
  docs/src/pages/demos/chips/Chips.js
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  pages/api/chip.md
Labels: component: Chip, enhancement

#11657 [Popover] Add timeout prop to TransitionComponent
  packages/material-ui/src/Popover/Popover.js
Labels: bug, component: Popover
