Repository mui/material-ui, pull requests merged in 2018-04, with the labels that each got.

#10874 [examples] Demonstrate how to use the icons CDN
  examples/cdn/index.html
Labels: docs

#10875 [core] Upgrade the dependencies
  docs/notifications.json
  docs/scripts/buildServiceWorker.js
  docs/src/sw.js
  package.json
  src/Tooltip/Tooltip.js
  src/Tooltip/Tooltip.test.js
  yarn.lock
Labels: core

#10878 [Table] Fix EnhancedTable example to not scroll TablePagination
  docs/src/pages/demos/tables/EnhancedTable.js
  docs/src/pages/demos/tables/tables.md
  src/Table/TablePagination.js
Labels: component: Table, docs, enhancement

#10887 [docs] Add hideHeader option to Demo component
  docs/src/modules/components/Demo.js
  docs/src/pages/discover-more/team/team.md
  docs/src/pages/getting-started/usage/usage.md
  docs/src/pages/premium-themes/premium-themes.md
  docs/src/pages/style/color/color.md
Labels: docs

#10888 [docs] Document the /es folder
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs

#10894 [docs] More transparent exportPathMap method
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/withRoot.js
  next.config.js
  pages/premium-themes.js
Labels: bug, docs

#10896 [docs] Dodge issue with hoist-non-react-statics
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/utils/find.js
  next.config.js
  yarn.lock
Labels: docs

#10897 [Zoom] Export Zoom in the TypeScript definitions
  src/index.d.ts
Labels: typescript

#10871 [IconButton] Add hover effect to IconButton
  src/ExpansionPanel/ExpansionPanelSummary.js
  src/IconButton/IconButton.js
  src/internal/SwitchBase.js
Labels: component: IconButton, enhancement

#10899 [TextField] Add an icon example
  docs/src/pages/demos/text-fields/InputWithIcon.js
  docs/src/pages/demos/text-fields/text-fields.md
  pages/demos/text-fields.js
Labels: component: TextField, docs

#10903 [typescript] Upgrade React and JSS typings, which both make use of csstype now
  package.json
  test/typescript/styling-comparison.spec.tsx
  yarn.lock
Labels: typescript

#10877 [SwipeableDrawer] Disable swiping on iOS by default
  .size-limit
  docs/src/modules/components/AppDrawer.js
  pages/api/swipeable-drawer.md
  src/SwipeableDrawer/SwipeableDrawer.d.ts
  src/SwipeableDrawer/SwipeableDrawer.js
  src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: component: Drawer, enhancement

#10906 [SwipeableDrawer] Fix crash when swiping during an update
  src/SwipeableDrawer/SwipeableDrawer.js
  src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: bug, component: Drawer

#10905 [docs] Improve the search experience
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/withRoot.js
Labels: docs

#10901 [docs] Improve the layout for premium themes
  docs/src/modules/components/AppContent.js
  docs/src/pages/premium-themes/PremiumThemes.js
Labels: docs

#10924 [docs] Fix example in TypeScript docs
  docs/src/pages/guides/typescript/typescript.md
Labels: docs

#10936 [docs] Atomic state update in the Stepper demo
  docs/src/pages/demos/steppers/TextMobileStepper.js
Labels: component: Stepper, docs

#10883 [docs] Add versions page
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/withRoot.js
  docs/src/pages/versions/LatestVersion.js
  docs/src/pages/versions/StableVersions.js
  docs/src/pages/versions/versions.md
  pages/versions/index.js
  test/regressions/index.js
Labels: docs

#10902 [material-ui-icons] Reduce code duplication
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/src/utils/createSvgIcon.js
  packages/material-ui-icons/test/fixtures/material-design-icons/expected/Accessibility.js
  packages/material-ui-icons/test/index.test.js
  packages/material-ui-icons/tpl/SvgIcon.js
Labels: component: Icon, performance

#10933 [material-ui-icons] Check if `global` is defined before trying to use it
  packages/material-ui-icons/src/utils/createSvgIcon.js
Labels: bug, component: Icon

#10948 [ListItemText] Fix invalid ListItemText 'children' proptype
  pages/api/list-item-text.md
  src/List/ListItemText.js
Labels: bug, component: List

#10949 [docs] Fix npm urls
  README.md
  docs/src/pages/getting-started/installation/installation.md
Labels: docs

#10937 [BottomNavigationAction] Use default childIndex value only if value undefined
  src/BottomNavigation/BottomNavigation.js
  src/BottomNavigation/BottomNavigation.test.js
  src/Tabs/Tabs.js
Labels: component: BottomNavigation, enhancement

#10954 [docs] Add "Do I have to use JSS?" to FAQ
  docs/src/pages/getting-started/faq/faq.md
Labels: docs

#10956 [Select] Fix width update
  .size-limit
  src/Select/SelectInput.js
  src/Select/SelectInput.test.js
Labels: bug, component: Select

#10962 [core] Upgrade dev dependencies
  docs/src/modules/components/AppWrapper.js
  package.json
  src/ButtonBase/ButtonBase.js
  src/Modal/Modal.js
  src/Snackbar/Snackbar.js
  src/SwipeableDrawer/SwipeableDrawer.js
  src/transitions/Slide.js
  yarn.lock
Labels: core

#10963 [core] Prune dead dependencies
  .babelrc
  .circleci/config.yml
  docker-compose.yml
  package.json
  test/utils/setup.js
  yarn.lock
Labels: core

#10965 [ButtonBase] More robust button keyboard accessibility
  src/ButtonBase/ButtonBase.js
  src/ButtonBase/ButtonBase.test.js
  src/utils/keyboardFocus.js
Labels: accessibility, bug, component: ButtonBase

#10977 [Tooltip] Remove title from chldrenProps
  src/Tooltip/Tooltip.js
Labels: bug, component: Tooltip

#10978 [core] Add fallback to ownerWindow
  src/ButtonBase/ButtonBase.js
  src/Modal/isOverflowing.js
  src/Popover/Popover.js
  src/transitions/Slide.js
  src/utils/ownerWindow.d.ts
  src/utils/ownerWindow.js
Labels: bug, core

#10990 [docs] Fix typo
  docs/src/pages/style/color/color.md
Labels: docs

#10994 Removed unnecessary Partial<> for `style` prop
  src/index.d.ts
Labels: typescript

#10985 [theme] Expose augmentColor for colors outside the palette
  src/styles/createPalette.d.ts
  src/styles/createPalette.js
Labels: enhancement

#11012 [Select] Update onChange props definition to match with SelectInput
  src/Select/Select.d.ts
  src/Select/SelectInput.d.ts
Labels: component: Select, typescript

#11010 [Drawer] Improve the "Mini variant drawer" demo
  docs/src/pages/demos/drawers/MiniDrawer.js
Labels: component: Drawer, docs

#11020 [Step] Remove private modules from the export
  src/styles/overrides.d.ts
Labels: component: Stepper, typescript

#11021 [core] Export all the style modules
  src/index.d.ts
  src/index.js
Labels: core

#11007 [typescript] Upgrade types, use string index fallback for CSSProperties to allow nested pseudos
  package.json
  src/styles/withStyles.d.ts
  test/typescript/styles.spec.tsx
  yarn.lock
Labels: typescript

#11022 [Grid] Update propTypes to accept false
  pages/api/grid.md
  src/Grid/Grid.js
  src/Grid/Grid.test.js
Labels: component: Grid, enhancement

#11023 [Chip] only transition the CSS properties we need
  docs/src/pages/demos/buttons/CustomizedButtons.js
  src/Chip/Chip.js
Labels: component: Chip, enhancement

#11024 [docs] Better private/public API description
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs

#11025 [CssBaseline] Add key to theme overrides type definition
  src/CssBaseline/CssBaseline.d.ts
  src/styles/overrides.d.ts
Labels: typescript

#10952 [theme] Use a single theme variable for the hover effects of Button, IconButton and ListItem
  src/Button/Button.js
  src/CssBaseline/CssBaseline.d.ts
  src/IconButton/IconButton.js
  src/Select/Select.d.ts
  src/styles/createPalette.js
  test/typescript/styles.spec.tsx
Labels: material design spec

#11030 [core] Upgrade the dependencies
  .size-limit
  package.json
  packages/material-ui-codemod/package.json
  packages/material-ui-docs/package.json
  yarn.lock
Labels: core

#11026 [ButtonBase] Fix wrong touchMove wiring
  src/ButtonBase/ButtonBase.js
Labels: bug, component: ButtonBase

#10984 [Tooltip] Minor fixes
  .size-limit
  pages/api/tooltip.md
  src/Tooltip/Tooltip.js
Labels: bug, component: Tooltip

#11035 [Collapse] Fix typo in comment
  pages/api/collapse.md
  src/transitions/Collapse.js
Labels: component: Collapse, docs

#11031 [SwipeableDrawer] Add a blocking div to the edge of the screen
  .size-limit
  src/SwipeableDrawer/SwipeArea.js
  src/SwipeableDrawer/SwipeableDrawer.js
  src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: bug, component: Drawer

#11032 [SwipeableDrawer] Simplify isSwiping logic
  src/SwipeableDrawer/SwipeableDrawer.js
  src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: component: Drawer, enhancement

#11003 [typescript] Constrain props type param appropriately in withStyles, withTheme, withWidth HOCs
  docs/src/pages/guides/typescript/typescript.md
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/utils/withWidth.d.ts
  packages/material-ui/src/utils/withWidth.spec.tsx
  packages/material-ui/test/typescript/components.spec.tsx
  packages/material-ui/test/typescript/styles.spec.tsx
  packages/material-ui/test/typescript/styling-comparison.spec.tsx
Labels: typescript

#11041 [typescript] make Select's onChange prop optional
  packages/material-ui/src/Select/Select.d.ts
Labels: typescript

#11051 [core] Better distinction between the private and public components
  .size-limit
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/Hidden/HiddenCss.js
  packages/material-ui/src/Input/Textarea.js
  packages/material-ui/src/Stepper/StepConnector.js
  packages/material-ui/src/Stepper/StepPositionIcon.js
  packages/material-ui/src/Table/TablePaginationActions.js
  packages/material-ui/src/Tabs/TabIndicator.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/styles/overrides.d.ts
  pages/api/switch-base.js
  pages/api/switch-base.md
  pages/api/touch-ripple.js
  pages/api/touch-ripple.md
Labels: core

#11058 [TablePagination] Allow the override of the action buttons
  packages/material-ui/src/Table/TablePagination.d.ts
  packages/material-ui/src/Table/TablePagination.js
  packages/material-ui/src/Table/TablePaginationActions.js
Labels: bug, component: Table

#11050 [Popover] Add option to disable Menu auto positioning
  .size-limit
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  pages/api/popover.md
Labels: component: Popover, enhancement

#11078 [CONTRIBUTING] Update the docs
  CONTRIBUTING.md
Labels: docs

#11077 [Input] Allow div props on InputAdornment in TypeScript
  packages/material-ui/src/Input/InputAdornment.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
  packages/material-ui/test/typescript/styling-comparison.spec.tsx
Labels: bug, component: TextField, typescript

#11066 [Dialog] Fix iOS momentum scroll
  packages/material-ui/src/Dialog/DialogContent.js
Labels: bug, component: Dialog

#11086 [Portal] Global option to disable the portal
  .size-limit
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/utils/portal/portal.md
  packages/material-ui/src/Portal/Portal.js
  packages/material-ui/src/Portal/Portal.test.js
Labels: component: Portal, test

#11087 [ExpansionPanel] Fix display on IE11 and Edge
  .size-limit
  BACKERS.md
  docs/src/pages/demos/expansion-panels/ControlledExpansionPanels.js
  docs/src/pages/demos/expansion-panels/DetailedExpansionPanel.js
  docs/src/pages/demos/expansion-panels/SimpleExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanelDetails.js
Labels: bug, component: ExpansionPanel

#11096 [core] Upgrade dev dependencies
  CHANGELOG.md
  package.json
  packages/material-ui-icons/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: core

#11091 [SwipeableDrawer] Prevent interaction with the drawer content if no opened
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
Labels: bug, component: Drawer

#11097 [Icon] Prevent shrinking when inside a flex container
  packages/material-ui/src/Icon/Icon.js
Labels: component: Icon

#11095 [Tabs] Better Ant Design demo
  docs/src/pages/customization/themes/TypographyTheme.js
  docs/src/pages/demos/buttons/CustomizedButtons.js
  docs/src/pages/demos/tabs/CustomizedTabs.js
  docs/src/pages/demos/tabs/tabs.md
  docs/src/pages/demos/text-fields/CustomizedInputs.js
Labels: component: Tabs, docs

#11102 [Grid] Fix TypeScript definitions of class keys
  packages/material-ui/src/Grid/Grid.d.ts
Labels: component: Grid, typescript

#11114 [docs] Add npm-registry-browser into showcase
  docs/src/pages/discover-more/showcase/showcase.md
Labels: docs

#11118 [docs] Fix the flow example
  examples/create-react-app-with-flow/flow-typed/npm/material-ui_v1.x.x.js
Labels: bug, docs, flow

#11111 [Snackbar] Add a consecutive demo
  docs/src/pages/demos/snackbars/ConsecutiveSnackbars.js
  docs/src/pages/demos/snackbars/snackbars.md
  pages/demos/snackbars.js
Labels: component: Snackbar, docs

#11130 [ButtonBase] Simpler global focus visible style override
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/styles/MuiThemeProvider.test.js
  pages/api/button-base.md
Labels: component: ButtonBase, enhancement

#11131 [docs] Add showcase for Local Insights
  docs/src/pages/discover-more/showcase/showcase.md
Labels: docs

#11115 [Modal] Prevent IE11 from crashing on modal close
  packages/material-ui/src/Modal/Modal.js
Labels: bug, component: Modal

#11126 [CardMedia] Escape background image url
  packages/material-ui/src/Card/CardMedia.js
  packages/material-ui/src/Card/CardMedia.test.js
Labels: bug, component: Card

#11140 [docs] Add iOS momentum scrolling
  packages/material-ui-docs/src/MarkdownElement/MarkdownElement.js
Labels: docs

#11144 [core] Reduce the size of the npm package
  package.json
  packages/material-ui/scripts/copy-files.js
  packages/material-ui/src/Tabs/Tab.js
  yarn.lock
Labels: core

#11145 [typescript] allow pseudos on any theme mixins
  packages/material-ui/src/styles/createMixins.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: typescript

#11146 [core] Upgrade dev dependencies
  yarn.lock
Labels: core

#11149 [docs] Fix typo in themes.md
  docs/src/pages/customization/themes/themes.md
Labels: docs

#11156 [styles] Fix constraint on withStyles P parameter to allow StyledComponentProps
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: typescript

#11160 [lab] Fix the tests
  .babelrc
Labels: lab, test

#11168 [docs] Make sure next@6 is working
  examples/nextjs/.babelrc
Labels: docs

#11171 [docs] Add a CSS modules example
  docs/src/modules/components/AppFrame.js
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#11167 Add sideEffects: false for webpack 4
  package.json
Labels: v0.x

#11172 [docs] Remove devextreme-reactive
  docs/src/pages/demos/tables/tables.md
Labels: docs

#11175 [Popover] Improve the demos
  docs/src/pages/utils/popovers/AnchorPlayground.js
  docs/src/pages/utils/popovers/SimplePopover.js
  docs/src/pages/utils/popovers/popovers.md
  pages/utils/popovers.js
Labels: component: Popover, docs

#11176 [docs] Correct spelling error in FormDialog.js example
  docs/src/pages/demos/dialogs/FormDialog.js
Labels: docs

#11187 [test] Fix the CI
  yarn.lock
Labels: test
