Repository mui/material-ui, pull requests merged in 2018-06, with the labels that each got.

#11669 Fix keyof for typescript@2.9
  packages/material-ui/src/index.d.ts
Labels: typescript

#11542 [lab] [SpeedDial] [typescript] Added type definitions to lab, so SpeedDial can be use with TypeScript project
  packages/material-ui-lab/scripts/copy-files.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDial/index.d.ts
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui-lab/src/SpeedDialAction/index.d.ts
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui-lab/src/SpeedDialIcon/index.d.ts
  packages/material-ui-lab/src/index.d.ts
Labels: lab, typescript

#11674 [docs] Update link to flow-typed definitions
  docs/src/pages/guides/flow/flow.md
Labels: docs, typescript

#11676 [core] Some fixes looking into issues
  docs/src/modules/redux/initRedux.js
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tab/Tab.test.js
Labels: core

#11684 [core] Upgrade dependencies
  .size-limit.js
  package.json
  packages/material-ui/package.json
  packages/material-ui/src/styles/createBreakpoints.test.js
  packages/material-ui/src/withMobileDialog/withMobileDialog.test.js
  yarn.lock
Labels: core

#11685 [styles] Better class name conflict warning
  .size-limit.js
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/guides/server-rendering/server-rendering.md
  packages/material-ui/src/styles/createGenerateClassName.js
Labels: docs, enhancement

#11688 [Grid] Better support for theme.props
  package.json
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
Labels: component: Grid, enhancement

#11686 [ListItemText] Fix primary={0} display
  packages/material-ui/src/ListItemText/ListItemText.js
  packages/material-ui/src/ListItemText/ListItemText.test.js
Labels: bug, component: List

#11691 [docs] Minor grammitcal error
  packages/material-ui/src/FormControl/FormControl.js
  pages/api/form-control.md
Labels: docs

#11681 [RootRef] Allow using React.createRef api with RootRef component
  packages/material-ui/.size-snapshot.json
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/RootRef/RootRef.test.js
  pages/api/root-ref.md
Labels: enhancement

#11694 [docs] Property !== attribute
  packages/material-ui/src/Avatar/Avatar.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/internal/SwitchBase.js
  pages/api/avatar.md
  pages/api/input.md
  pages/api/native-select.md
  pages/api/radio.md
  pages/api/select.md
  pages/api/switch-base.md
  pages/api/switch.md
  pages/api/text-field.md
Labels: docs

#11706 [docs] Add a placeholder demo
  docs/src/modules/components/AppWrapper.js
  docs/src/pages/demos/selects/ControlledOpenSelect.js
  docs/src/pages/demos/selects/NativeSelects.js
  docs/src/pages/demos/selects/SimpleSelect.js
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  yarn.lock
Labels: component: Select, docs

#11716 [docs] Add Trafikito.com to showcase.
  docs/src/pages/discover-more/showcase/Showcase.js
  static/images/showcase/trafikito-monitoring.jpg
Labels: docs

#11724 [docs] Update meetingku image
  static/images/icons/icons.png
  static/images/showcase/meetingku.jpg
  static/images/showcase/trafikito-monitoring.jpg
Labels: docs

#11728 [ButtonBase] Document the `type` property
  packages/material-ui/src/ButtonBase/ButtonBase.js
  pages/api/button-base.md
Labels: component: ButtonBase, docs

#11729 [Popover] Fix default value
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/StepContent/StepContent.js
  packages/material-ui/src/StepContent/StepContent.test.js
Labels: bug, component: Popover

#11727 [Slider] Fix for IE11
  packages/material-ui-lab/src/Slider/Slider.js
Labels: lab, lab: Slider

#11730 [withWidth] Second iteration on the component
  docs/src/modules/components/withRoot.js
  docs/src/pages/customization/css-in-js/css-in-js.md
  docs/src/pages/layout/basics/basics.md
  docs/src/pages/layout/breakpoints/MediaQuery.js
  docs/src/pages/layout/breakpoints/WithWidth.js
  docs/src/pages/layout/breakpoints/breakpoints.md
  docs/src/pages/layout/css-in-js/css-in-js.md
  docs/src/pages/layout/grid/grid.md
  docs/src/pages/layout/hidden/hidden.md
  packages/material-ui/src/withWidth/withWidth.js
  packages/material-ui/src/withWidth/withWidth.test.js
  pages/layout/breakpoints.js
  pages/layout/css-in-js.js
Labels: docs, enhancement

#11743 [transition] Fix IE11 issue in dev mode
  packages/material-ui/src/styles/transitions.js
Labels: bug

#11748 [Tabs] Better flex layout
  packages/material-ui/src/Tab/Tab.js
Labels: component: Tabs, enhancement

#11752 [docs] Improve docs:dev init by ~2 s and HMR by ~200 ms
  pages/_document.js
Labels: docs, performance

#11756 [docs] Change app bar to button on the getting started
  docs/src/pages/getting-started/usage/usage.md
Labels: docs

#11763 [core] Remove parser specification to fix JSON issue
  examples/create-react-app-with-typescript/src/pages/index.tsx
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDial/index.d.ts
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui-lab/src/SpeedDialAction/index.d.ts
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui-lab/src/SpeedDialIcon/index.d.ts
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/transitions/transition.d.ts
  packages/material-ui/src/withWidth/withWidth.spec.tsx
  packages/material-ui/test/typescript/components.spec.tsx
  packages/material-ui/test/typescript/styles.spec.tsx
  packages/material-ui/test/typescript/styling-comparison.spec.tsx
  prettier.config.js
Labels: typescript

#11753 [docs] Add React Most Wanted to related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#11757 [core] Add React.createRef support
  .size-limit.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/Input/Input.d.ts
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/Input/Input.test.js
  packages/material-ui/src/Input/Textarea.d.ts
  packages/material-ui/src/Input/Textarea.js
  packages/material-ui/src/Input/Textarea.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/internal/SwitchBase.js
  pages/api/checkbox.md
  pages/api/form-control-label.md
  pages/api/input.md
  pages/api/radio.md
  pages/api/switch-base.md
  pages/api/switch.md
  pages/api/text-field.md
Labels: core, enhancement

#11771 [docs] error in example in Migration From v0.x Guide
  docs/src/pages/guides/migration-v0x/migration-v0x.md
Labels: docs

#11744 [Slider] Value can still be updated while disabled
  packages/material-ui-lab/src/Slider/Slider.js
Labels: lab, lab: Slider

#11779 [core] Throw if react >= 16.3.0 requirement isn't matched
  package.json
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  yarn.lock
Labels: core

#11781 [CircularProgress] Fix centering
  packages/material-ui/src/CircularProgress/CircularProgress.js
Labels: bug, component: CircularProgress

#11787 [docs] Fix typo
  docs/src/pages/customization/themes/OverridesCss.js
  docs/src/pages/customization/themes/themes.md
Labels: docs

#11788 [core] Better warnings for class names duplicates
  packages/material-ui/src/styles/createGenerateClassName.js
Labels: core

#11792 [docs] Better troubleshooting action for the hydration mismatch
  docs/src/pages/guides/server-rendering/server-rendering.md
Labels: docs

#11791 [core] Remove dead code
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.test.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/DialogTitle/DialogTitle.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/test/integration/fixtures/menus/SimpleMenu.js
Labels: core

#11789 [TextField] Bind the focus/blur explicitly
  .size-limit.js
  docs/src/pages/demos/selection-controls/SwitchLabels.js
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/FormControl/FormControl.test.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/Input/Input.test.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: bug, component: TextField

#11793 [RadioGroup] Fix onChange chaining
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/utils/helpers.js
Labels: bug, component: Radio

#11797 [core] Misc
  lerna.json
  package.json
  packages/material-ui-docs/src/MarkdownElement/MarkdownElement.js
  packages/material-ui-docs/src/MarkdownElement/prism.js
  packages/material-ui/.size-snapshot.json
  packages/material-ui/scripts/rollup.config.js
  yarn.lock
Labels: core

#11798 [docs] Add structured data
  pages/index.js
Labels: docs

#11804 [Grid] Add support a auto value
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
  pages/api/grid.md
Labels: bug, component: Grid

#11814 [StepButton] Fix IE 11 flexbox
  packages/material-ui/src/StepButton/StepButton.js
Labels: component: Stepper

#11808 [styles] Re-add default parameter of string for WithStyles
  packages/material-ui/src/styles/withStyles.d.ts
Labels: typescript

#11805 [SwipeableDrawer] Allow custom style
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: bug, component: Drawer

#11817 [RootRef] Updated main index.js to include RootRef export
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: bug

#11802 [typography] Add a variants key in the theme
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/styles/createTypography.js
  packages/material-ui/src/styles/createTypography.test.js
Labels: enhancement

#11820 [ButtonBase] Add a disableTouchRipple property
  .size-limit.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/ButtonBase/createRippleHandler.js
  pages/api/button-base.md
Labels: component: ButtonBase, enhancement

#11825 [Tabs] Fix calculating tab indicator position
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: bug, component: Tabs

#11828 [Table] Derive sorted rows from state at render time in demo
  docs/src/pages/demos/tables/EnhancedTable.js
Labels: component: Table, docs

#11832 [Tabs] Fix IE11 support
  packages/material-ui/src/Tabs/Tabs.js
Labels: bug, component: Tabs

#11831 [withWidth] Reading initialWidth from the theme
  docs/src/pages/layout/breakpoints/breakpoints.md
  packages/material-ui/src/withWidth/withWidth.js
  packages/material-ui/src/withWidth/withWidth.test.js
Labels: enhancement

#11838 [docs] Add a Select required example
  docs/src/pages/demos/selects/NativeSelects.js
  docs/src/pages/demos/selects/SimpleSelect.js
Labels: docs

#11846 [docs] Better class names conflict FAQ
  docs/src/pages/customization/css-in-js/css-in-js.md
  docs/src/pages/getting-started/faq/faq.md
Labels: docs

#11844 [Tabs] Add support for a `component` property
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  pages/api/tabs.md
Labels: component: Tabs, enhancement

#11849 [ListItemText] Detect and avoid re-wrapping Typography
  packages/material-ui/src/ListItemText/ListItemText.js
  packages/material-ui/src/ListItemText/ListItemText.test.js
Labels: component: List, enhancement

#11859 [docs] Add a link toward dx-react-chart-material-ui
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#11858 [ListItemText] Add primaryTypographyProps and secondaryTypographyProps
  .size-limit.js
  packages/material-ui/src/ListItemText/ListItemText.d.ts
  packages/material-ui/src/ListItemText/ListItemText.js
  packages/material-ui/src/ListItemText/ListItemText.test.js
  pages/api/list-item-text.md
Labels: component: List, enhancement

#11862 [Tooltip] Update react-popper
  .size-limit.js
  docs/src/pages/demos/menus/MenuListComposition.js
  docs/src/pages/utils/popovers/MouseOverPopover.js
  package.json
  packages/material-ui/package.json
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  test/regressions/tests/Tooltip/PositionedTooltips.js
  yarn.lock
Labels: component: Tooltip, enhancement

#11870 [TableCell] Fix property name
  packages/material-ui/src/TableCell/TableCell.d.ts
Labels: component: Table, typescript

#11873 [core] Remove some unneeded code
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/Select/Select.js
Labels: core

#11590 [docs] Update npm downloads badge to point to @material-ui/core
  README.md
  docs/src/pages/getting-started/comparison/comparison.md
Labels: docs

#11878 [core] Fix the UMD release
  examples/cdn/README.md
  package.json
  packages/material-ui/.size-snapshot.json
  packages/material-ui/package.json
  packages/material-ui/scripts/rollup.config.js
  yarn.lock
Labels: core

#11880 [examples] Add Server Rendering implementation
  docs/src/pages/guides/server-rendering/server-rendering.md
  examples/parcel/package.json
  examples/ssr/.babelrc
  examples/ssr/.gitignore
  examples/ssr/App.js
  examples/ssr/README.md
  examples/ssr/client.js
  examples/ssr/package.json
  examples/ssr/server.js
  examples/ssr/webpack.config.js
Labels: docs

#11888 [CircularProgress] End of line shape: use butt
  packages/material-ui/src/CircularProgress/CircularProgress.js
Labels: component: CircularProgress, material design spec

#11891 [Select] Fix reflow in render
  CHANGELOG.md
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
Labels: bug, component: Select

#11901 [docs] Document jss-nested rule reference feature
  docs/src/pages/customization/overrides/overrides.md
Labels: docs

#11907 [NoSSR] Add a fallback property
  docs/src/pages/customization/overrides/DynamicCSSVariables.js
  docs/src/pages/customization/overrides/DynamicClassName.js
  docs/src/pages/customization/overrides/DynamicThemeNesting.js
  docs/src/pages/customization/overrides/overrides.md
  packages/material-ui-docs/src/NoSSR/NoSSR.js
  packages/material-ui/src/GridListTile/GridListTile.js
Labels: docs

#11747 [Slider] Add TypeScript definitions
  packages/material-ui-lab/src/Slider/Slider.d.ts
  packages/material-ui-lab/src/Slider/index.d.ts
Labels: lab, lab: Slider, typescript

#11914 [Dialog] Add max-height back
  packages/material-ui/src/Dialog/Dialog.js
Labels: bug, component: Dialog

#11922 [docs] Correct markdown example from svg icon
  docs/src/pages/guides/migration-v0x/migration-v0x.md
Labels: docs

#11920 [Tooltip] Revert update react-popper
  .size-limit.js
  docs/src/pages/demos/menus/MenuListComposition.js
  docs/src/pages/utils/popovers/MouseOverPopover.js
  package.json
  packages/material-ui/package.json
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  test/regressions/tests/Tooltip/PositionedTooltips.js
  yarn.lock
Labels: bug, component: Tooltip

#11904 [Select] Fix classes merge issue
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/styles/mergeClasses.js
  packages/material-ui/src/styles/withStyles.js
Labels: PR: needs revision, component: Select

#11923 [docs] TS decorating reword
  docs/src/pages/guides/typescript/typescript.md
Labels: docs

#11931 [FormControl] Correct minor typo in text
  packages/material-ui/src/FormControl/FormControl.js
  pages/api/form-control.md
Labels: component: TextField, docs

#11933 [Grid] Add `auto` to TypeScript definitions
  packages/material-ui/src/Grid/Grid.d.ts
Labels: component: Grid, typescript

#11943 [styles] Safer prefix logic
  packages/material-ui/src/styles/createGenerateClassName.js
  packages/material-ui/src/styles/withStyles.js
Labels: enhancement

#11944 [typescript] Fix Typings for disableTouchRipple and allVariants
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/styles/createTypography.d.ts
Labels: typescript

#11939 [Showcase] Add posters galore (react-admin)
  docs/src/pages/discover-more/showcase/Showcase.js
  packages/material-ui-lab/src/Slider/Slider.d.ts
  packages/material-ui-lab/src/Slider/index.d.ts
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  static/images/showcase/posters-galore.jpg
Labels: docs

#11941 [Button] Add extended FAB variant
  docs/src/pages/demos/buttons/FloatingActionButtons.js
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/styles/MuiThemeProvider.test.js
  pages/api/button.md
Labels: component: Button, material design spec

#11953 [styles] Warn when the first argument is wrong
  docs/src/pages/customization/css-in-js/css-in-js.md
  packages/material-ui/src/styles/getStylesCreator.js
Labels: enhancement

#11954 [core] Upgrade the dev dependencies
  package.json
  yarn.lock
Labels: core

#11955 [ClickAwayListener] Handle null child
  .size-limit.js
  packages/material-ui/package.json
  packages/material-ui/src/ButtonBase/focusVisible.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/ModalManager.js
  packages/material-ui/src/Modal/isOverflowing.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Portal/Portal.js
  packages/material-ui/src/utils/ownerDocument.js
  packages/material-ui/src/utils/ownerWindow.js
  yarn.lock
Labels: bug, component: ClickAwayListener

#11958 [core] Upgrade preval
  .babelrc
  docs/src/modules/utils/findPages.js
  docs/src/pages/style/typography/typography.md
  package.json
  scripts/get-replacement.js
  scripts/material-ui-babel-preval.js
  yarn.lock
Labels: core

#11960 [docs] Add Outline docs
  packages/material-ui-icons/README.md
Labels: docs

#11847 [theme] Add border-radius to the theme
  docs/src/modules/components/Carbon.js
  docs/src/pages/demos/cards/cards.md
  packages/material-ui-docs/src/MarkdownElement/MarkdownElement.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Card/Card.js
  packages/material-ui/src/Card/Card.test.js
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/Input/Textarea.js
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/Tabs/ScrollbarSize.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/styles/createMuiTheme.d.ts
  packages/material-ui/src/styles/createMuiTheme.js
  packages/material-ui/src/styles/shape.d.ts
  packages/material-ui/src/styles/shape.js
  packages/material-ui/src/styles/spacing.js
  packages/material-ui/src/withWidth/withWidth.js
  pages/api/paper.md
Labels: enhancement, material design spec

#11974 [Dialog] Add a scroll property
  .size-limit.js
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Modal/Modal.js
  pages/api/dialog.md
Labels: component: Dialog, enhancement

#11975 [docs] In Typescript doc, add missing `createStyles` to import
  docs/src/pages/guides/typescript/typescript.md
Labels: docs, typescript

#11983 [Select] Fix some W3C issues
  docs/src/pages/customization/css-in-js/css-in-js.md
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/Select/SelectInput.js
Labels: component: Select, enhancement

#11986 [Icon] Add a fontSize prop which accepts default and inherit
  .size-limit.js
  packages/material-ui/src/Icon/Icon.d.ts
  packages/material-ui/src/Icon/Icon.js
  packages/material-ui/src/Icon/Icon.test.js
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
  packages/material-ui/src/SvgIcon/SvgIcon.js
  packages/material-ui/src/SvgIcon/SvgIcon.test.js
  pages/api/icon.md
  pages/api/svg-icon.md
Labels: component: Icon, component: SvgIcon, enhancement

#11989 [docs] Use _app.js instead of wrapping every page by withRoot()
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/_document.js
  examples/nextjs/pages/about.js
  examples/nextjs/pages/index.js
  examples/nextjs/src/withRoot.js
Labels: docs, enhancement

#11987 [SvgIcon] Add component property
  .size-limit.js
  docs/src/pages/style/icons/SvgIcons.js
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
  packages/material-ui/src/SvgIcon/SvgIcon.js
  packages/material-ui/src/SvgIcon/SvgIcon.test.js
  pages/api/svg-icon.md
Labels: component: SvgIcon, enhancement

#11993 [typescript] [createMuiTheme] Fix typings & deepmerge shape
  packages/material-ui/src/styles/createMuiTheme.js
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: bug, typescript

#11998 [GridList] Clean the rendering logic
  packages/material-ui/src/GridList/GridList.js
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/GridListTile/GridListTile.test.js
Labels: component: GridList

#12002 [Snackbar] Add check for autoHideDuration if equals 0
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
Labels: bug, component: Snackbar

#12003 [Menu] Fix scrolling issue
  packages/material-ui/src/Menu/Menu.js
Labels: bug, component: Menu

#12005 [docs] Link RootRef in the FAQ
  docs/src/pages/getting-started/faq/faq.md
Labels: docs

#12015 [docs] Add Core UI
  BACKERS.md
  docs/src/modules/components/HomeBackers.js
Labels: docs

#12019 [docs] Switch autosuggest highlighting
  docs/src/pages/demos/autocomplete/IntegrationAutosuggest.js
Labels: docs

#12021 [core] Warn about Children.map & Fragment
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/BottomNavigation/BottomNavigation.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/GridList/GridList.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Step/Step.js
  packages/material-ui/src/Step/Step.test.js
  packages/material-ui/src/Tabs/Tabs.js
Labels: core
