Repository mui/material-ui, pull requests merged in 2018-07, with the labels that each got.

#12025 [docs] Document the scroll property
  docs/src/pages/demos/dialogs/ScrollDialog.js
  docs/src/pages/demos/dialogs/dialogs.md
  packages/material-ui/src/Modal/Modal.js
  pages/api/dialog-content-text.md
  pages/demos/dialogs.js
Labels: docs

#12026 [Stepper] Merge StepPositionIcon in StepIcon
  packages/material-ui/src/StepIcon/StepIcon.d.ts
  packages/material-ui/src/StepIcon/StepIcon.js
  packages/material-ui/src/StepIcon/StepIcon.test.js
  packages/material-ui/src/StepIcon/StepPositionIcon.js
  packages/material-ui/src/StepIcon/StepPositionIcon.test.js
  pages/api/step-icon.md
Labels: component: Stepper, enhancement

#12024 [Input] Add read only demo
  docs/src/pages/demos/text-fields/TextFields.js
  packages/material-ui/src/Input/Input.test.js
Labels: component: TextField, enhancement

#12028 [docs] Small spelling fix
  docs/src/pages/style/typography/typography.md
Labels: docs

#12027 [docs] Add a demo with Font Awesome
  .size-limit.js
  docs/src/modules/components/Link.js
  docs/src/pages/demos/tabs/tabs.md
  docs/src/pages/style/icons/FontAwesome.js
  docs/src/pages/style/icons/icons.md
  pages/style/icons.js
  yarn.lock
Labels: docs

#12049 [core] Upgrade the dev dependencies
  .eslintrc.js
  package.json
  packages/material-ui-icons/package.json
  yarn.lock
Labels: core

#12050 [docs] Fix typo
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#10144 [ToggleButtons]: Add toggle buttons
  .size-limit.js
  docs/src/modules/components/withRoot.js
  docs/src/pages/lab/toggle-button/ToggleButtons.js
  docs/src/pages/lab/toggle-button/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui-lab/src/ToggleButton/ToggleButton.test.js
  packages/material-ui-lab/src/ToggleButton/ToggleButtonGroup.d.ts
  packages/material-ui-lab/src/ToggleButton/ToggleButtonGroup.js
  packages/material-ui-lab/src/ToggleButton/ToggleButtonGroup.test.js
  packages/material-ui-lab/src/ToggleButton/hasValue.js
  packages/material-ui-lab/src/ToggleButton/hasValue.test.js
  packages/material-ui-lab/src/ToggleButton/index.d.ts
  packages/material-ui-lab/src/ToggleButton/index.js
  packages/material-ui-lab/src/ToggleButton/isValueSelected.js
  packages/material-ui-lab/src/ToggleButton/isValueSelected.test.js
  packages/material-ui-lab/src/index.js
  pages/lab/api/toggle-button-group.js
  pages/lab/api/toggle-button-group.md
  pages/lab/api/toggle-button.js
  pages/lab/api/toggle-button.md
  pages/lab/toggle-button.js
Labels: component: ToggleButton, lab

#12064 [docs] Fix Typo
  docs/src/pages/lab/speed-dial/speed-dial.md
Labels: docs, lab: SpeedDial

#12062 [docs] Add known issues/limitations for progress animations
  docs/src/pages/demos/progress/progress.md
Labels: component: CircularProgress, docs

#12066 [docs] Correct the normalize-function
  docs/src/pages/demos/progress/progress.md
Labels: component: LinearProgress, docs

#12068 [docs] Add react-media-material-ui in the related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#12080 [docs] Fix example code to accept production mode rendering
  examples/ssr/package.json
  examples/ssr/webpack.config.js
Labels: docs

#12083 [Snackbar] Fix SnackbarOrigin TypeScript definition
  examples/create-react-app-with-flow/flow-typed/npm/material-ui_v1.x.x.js
  packages/material-ui/src/Snackbar/Snackbar.d.ts
Labels: bug, typescript

#12081 [Dialog] Fix action width issue
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/DialogActions/DialogActions.js
Labels: bug, component: Dialog

#12098 [core] Improve the prop-types of shape
  docs/scripts/buildApi.js
  docs/src/modules/components/Demo.js
  docs/src/modules/utils/generateMarkdown.js
  docs/src/pages/demos/snackbars/PositionedSnackbar.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Snackbar/Snackbar.js
  pages/api/backdrop.md
  pages/api/collapse.md
  pages/api/dialog.md
  pages/api/drawer.md
  pages/api/fade.md
  pages/api/grow.md
  pages/api/menu.md
  pages/api/popover.md
  pages/api/slide.md
  pages/api/snackbar.md
  pages/api/step-content.md
  pages/api/swipeable-drawer.md
  pages/api/zoom.md
  pages/lab/api/speed-dial.md
Labels: core, enhancement

#12100 [theme] Use `isPlainObject` to avoid dropping prototypes
  .size-limit.js
  packages/material-ui/package.json
  packages/material-ui/src/styles/createMuiTheme.js
  packages/material-ui/src/styles/createMuiTheme.test.js
Labels: enhancement

#12104 [docs] Use the de-structured "children" variable
  docs/src/pages/customization/css-in-js/RenderProps.js
Labels: docs

#12099 [docs] Add Tidelift banner
  docs/src/modules/components/Tidelift.js
  pages/index.js
  static/images/tidelift.svg
Labels: docs

#12107 [docs] Fix some broken links
  docs/src/pages/demos/dialogs/dialogs.md
  docs/src/pages/guides/api/api.md
  docs/src/pages/utils/portal/portal.md
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/ModalManager.js
  packages/material-ui/src/Popper/Popper.js
  pages/api/fade.md
  pages/api/grow.md
  pages/api/modal.md
  pages/api/popper.md
Labels: docs

#12108 [Popper] Add a modifiers property
  docs/src/pages/utils/popper/ScrollPlayground.js
  packages/material-ui/src/Popper/Popper.d.ts
  packages/material-ui/src/Popper/Popper.js
  pages/api/popper.md
Labels: component: Popper, enhancement

#12113 [docs] Preconnect to load the fonts
  pages/_document.js
Labels: docs

#12112 [docs] Improve grid demo descriptions
  docs/src/pages/layout/grid/grid.md
Labels: docs

#12053 [docs] Add color selector
  .size-limit.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/redux/actionTypes.js
  docs/src/modules/redux/themeReducer.js
  docs/src/modules/styles/getPageContext.js
  docs/src/pages/style/color/ColorDemo.js
  docs/src/pages/style/color/ColorTool.js
  docs/src/pages/style/color/color.md
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/styles/colorManipulator.d.ts
  packages/material-ui/src/styles/colorManipulator.js
  packages/material-ui/src/styles/colorManipulator.test.js
  packages/material-ui/src/styles/createPalette.js
  pages/api/root-ref.md
  pages/style/color.js
  test/regressions/index.js
Labels: docs, enhancement

#12117 [core] Upgrade dev dependencies
  docs/src/pages/style/color/ColorDemo.js
  docs/src/pages/style/color/ColorTool.js
  package.json
  yarn.lock
Labels: core

#12118 [core] Error typo fix
  packages/material-ui/src/Popover/Popover.js
Labels: core

#12119 [Button] Fix IE11 support of CSS 'width:initial'
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
Labels: bug, component: Button

#12122 [docs] Add Tentu in the showcase
  docs/src/pages/discover-more/showcase/Showcase.js
  static/images/showcase/tentu.jpg
Labels: docs

#12128 [SpeedDial] Inline the Add icon
  packages/material-ui-lab/package.json
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui-lab/src/internal/svg-icons/.eslintrc.js
  packages/material-ui-lab/src/internal/svg-icons/Add.js
Labels: enhancement, lab: SpeedDial

#12142 [test] Fix Argos-CI flakyness
  test/regressions/TestViewer.js
  test/regressions/index.js
Labels: test

#12141 [FormControlLabel] Add a failing test case and fix it
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.test.js
Labels: enhancement

#12144 [docs] Add Subheader to v0.x migration guide
  docs/src/pages/guides/migration-v0x/migration-v0x.md
Labels: docs

#12145 [docs] Add a comment that React 16.3.0 is a peer dependency
  docs/src/pages/getting-started/installation/installation.md
Labels: docs

#12146 [Typography] Fix display2 cuts off the bottom of a 'g'
  packages/material-ui/src/styles/createTypography.js
Labels: bug, component: Typography

#12147 [Table] Document the CSS API
  packages/material-ui/src/TableBody/TableBody.js
  packages/material-ui/src/TableFooter/TableFooter.js
  packages/material-ui/src/TableHead/TableHead.js
  pages/api/table-body.md
  pages/api/table-footer.md
  pages/api/table-head.md
Labels: component: Table, docs

#12149 [docs] Add Toggle Selection Control to 'Migration From v0.x' Document
  docs/src/pages/guides/migration-v0x/migration-v0x.md
Labels: docs

#12148 [docs] New ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/2.feature.md
  .github/ISSUE_TEMPLATE/3.support.md
  .github/ISSUE_TEMPLATE/4.support-us.md
Labels: docs

#12155 [docs] copyedit: typo in testing.md
  docs/src/pages/guides/testing/testing.md
Labels: docs

#12156 [core] Upgrade dev dependencies
  .eslintrc.js
  BACKERS.md
  docs/notifications.json
  docs/src/modules/components/AppFrame.js
  docs/src/pages/customization/themes/themes.md
  docs/src/pages/demos/buttons/FloatingActionButtonZoom.js
  docs/src/pages/demos/tables/tables.md
  docs/src/pages/guides/migration-v0x/migration-v0x.md
  docs/src/pages/guides/testing/testing.md
  package.json
  packages/material-ui/.size-snapshot.json
  pages/_document.js
  yarn.lock
Labels: core

#12158 [Tab] Fix maxWidth issue with fullWidth mode
  packages/material-ui/src/Tab/Tab.js
Labels: bug, component: Tabs

#12161 [Popper] Update TypeScript definitions
  packages/material-ui/src/Popper/Popper.d.ts
Labels: component: Popper, typescript

#12166 [CardHeader] Add typography/props controls like in ListItemText
  .size-limit.js
  packages/material-ui/src/CardHeader/CardHeader.d.ts
  packages/material-ui/src/CardHeader/CardHeader.js
  pages/api/card-header.md
Labels: component: Card, enhancement

#12168 [Tooltip] Fix some new issues
  .size-limit.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug, component: Tooltip

#12173 [Slider] Fix typescript typings
  packages/material-ui-lab/src/Slider/Slider.d.ts
Labels: lab: Slider, typescript

#12184 [core] Add missing unwrap export to test-utils type definition
  packages/material-ui/src/test-utils/index.d.ts
Labels: core

#12191 [test] Conditional tests
  .circleci/config.yml
  docs/src/pages/style/icons/SvgMaterialIconsAll.js
  test/regressions/index.js
Labels: test

#12202 [Modal] Ignore if the event prevent default is called
  packages/material-ui/src/ButtonBase/createRippleHandler.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
Labels: component: Modal, enhancement

#12213 [Grid] Add "space-evenly" value for justify prop
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
  pages/api/grid.md
Labels: component: Grid, enhancement

#12199 [Grow] Fix scroll on entered
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Menu/Menu.js
Labels: bug, component: Grow

#12218 [Popper] Fix update logic
  docs/src/pages/utils/popper/PositionedPopper.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
Labels: bug, component: Popper

#12221 [Badge] Increase readability
  BACKERS.md
  docs/src/pages/demos/badges/CustomizedBadge.js
  docs/src/pages/demos/badges/SimpleBadge.js
  docs/src/pages/demos/badges/badges.md
  packages/material-ui/src/Badge/Badge.js
  pages/demos/badges.js
Labels: component: Badge, enhancement

#12222 [styles] Increase the class name lenght limit before raising
  packages/material-ui/src/styles/createGenerateClassName.js
Labels: enhancement

#12229 [docs] An iteration on the SSR Troubleshooting section
  docs/src/pages/guides/server-rendering/server-rendering.md
  examples/ssr/server.js
Labels: docs

#12231 [Select] Simpler onChange event.target logic
  packages/material-ui/src/Select/SelectInput.js
Labels: component: Select

#12230 [SpeedDial] Fix SpeedDialAction dark theme
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui/src/Button/Button.js
  pages/api/button.md
Labels: lab, lab: SpeedDial

#12233 [lab] Build and export fixes
  packages/material-ui-lab/package.json
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.js
Labels: lab

#12235 [core] Rename node to ref
  docs/src/modules/components/AppSearch.js
  docs/src/pages/demos/dialogs/ConfirmationDialog.js
  docs/src/pages/utils/popper/ScrollPlayground.js
  docs/src/pages/utils/portal/SimplePortal.js
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/Input/Input.test.js
  packages/material-ui/src/Input/Textarea.js
  packages/material-ui/src/Input/Textarea.test.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Portal/Portal.test.js
  packages/material-ui/src/RootRef/RootRef.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tab/Tab.test.js
  packages/material-ui/src/Tabs/ScrollbarSize.js
  packages/material-ui/src/Tabs/ScrollbarSize.test.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/test/integration/Menu.test.js
Labels: core

#12234 [input] Forward required, readOnly and autoFocus
  .eslintrc.js
  packages/material-ui-lab/src/ToggleButton/ToggleButtonGroup.js
  packages/material-ui/src/Input/Input.d.ts
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/internal/SwitchBase.d.ts
  packages/material-ui/src/internal/SwitchBase.js
  pages/api/input.md
  pages/api/text-field.md
  pages/lab/api/toggle-button-group.md
Labels: enhancement

#12236 [HOC] Add `innerRef` to withWidth and withTheme
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/styles/withTheme.js
  packages/material-ui/src/styles/withTheme.test.js
  packages/material-ui/src/withWidth/withWidth.d.ts
  packages/material-ui/src/withWidth/withWidth.js
  packages/material-ui/src/withWidth/withWidth.test.js
Labels: enhancement

#12238 [Textarea] Simplification of the code
  packages/material-ui/src/Input/Textarea.js
  packages/material-ui/src/Input/Textarea.test.js
Labels: component: TextField, enhancement

#12239 [Tabs] Small changes investigating #11624
  .size-limit.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: component: Tabs, enhancement

#12248 [docs] Fix typo
  docs/src/pages/demos/steppers/HorizontalLinearAlternativeLabelStepper.js
Labels: docs

#12258 [Popper] Increase the minimal required version of popper.js
  packages/material-ui/package.json
  yarn.lock
Labels: component: Popper, typescript

#12243 [docs] Add typekev.com to showcase page
  docs/src/pages/discover-more/showcase/Showcase.js
  static/images/showcase/typekev.jpg
Labels: docs

#12267 [TablePagination] Add missing selectIcon ClassKey definition
  packages/material-ui/src/TablePagination/TablePagination.d.ts
Labels: component: Table, typescript

#12265 [Tooltip] Add some docs for disabled elements
  docs/src/pages/demos/tooltips/DisabledTooltips.js
  docs/src/pages/demos/tooltips/tooltips.md
  pages/demos/tooltips.js
Labels: component: Tooltip, docs

#12254 [docs] Fix escape "|" char
  docs/src/modules/utils/generateMarkdown.js
  packages/material-ui/src/Button/Button.js
  pages/api/button.md
  pages/api/swipeable-drawer.md
Labels: docs

#12276 [Tabs] Prevent unwanted auto-move in scrolling tabs
  packages/material-ui/src/Tabs/Tabs.js
Labels: bug, component: Tabs

#12241 [SpeedDial] Prevent opening when hovering closed actions
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  pages/lab/api/speed-dial.md
Labels: lab

#12278 [Button] Fix icon positioning on Safari iOS
  packages/material-ui/src/Button/Button.js
Labels: bug, component: Button

#12242 [Slider] Remove visual zero state from thumb
  packages/material-ui-lab/src/Slider/Slider.d.ts
  packages/material-ui-lab/src/Slider/Slider.js
  pages/lab/api/slider.md
Labels: lab, lab: Slider

#12280 [docs] Add an example with Popper and react-autosuggest
  .size-limit.js
  docs/src/pages/demos/autocomplete/IntegrationAutosuggest.js
  docs/src/pages/demos/autocomplete/IntegrationDownshift.js
  yarn.lock
Labels: component: Autocomplete, docs

#12269 Add Complementary Project - create-mui-theme
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#12281 [docs] Add a note on the name option and dangerouslyUseGlobalCSS
  docs/src/pages/customization/css-in-js/css-in-js.md
Labels: docs

#12292 [Card] Align icons with ListItem
  docs/src/pages/demos/cards/RecipeReviewCard.js
  packages/material-ui/src/CardHeader/CardHeader.js
Labels: component: Card, enhancement

#12294 [TextField] Improve onChange type definition
  packages/material-ui/src/TextField/TextField.d.ts
Labels: component: TextField, typescript

#12295 [docs] Improve ListItem and BottomNavigationAction docs
  CONTRIBUTING.md
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/ListItem/ListItem.js
  pages/api/bottom-navigation-action.md
  pages/api/list-item.md
Labels: docs

#12296 [docs] Add placeholder for search bar
  .size-limit.js
  docs/src/modules/components/AppSearch.js
Labels: docs

#12301 [DialogContentText] Inherit TypographyProps in type definition
  packages/material-ui/.size-snapshot.json
  packages/material-ui/src/DialogContentText/DialogContentText.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
Labels: component: Dialog, typescript

#12303 [FormControlLabel] Add labelPlacement prop
  docs/src/pages/demos/selection-controls/CheckboxesGroup.js
  docs/src/pages/demos/selection-controls/RadioButtonsGroup.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.d.ts
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.test.js
  pages/api/form-control-label.md
Labels: enhancement

#12307 [docs] Upgrade react-select
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
  docs/src/pages/demos/autocomplete/autocomplete.md
  package.json
  yarn.lock
Labels: component: Autocomplete, docs

#12310 [Typography] Add color=textPrimary option
  packages/material-ui/src/Typography/Typography.d.ts
  packages/material-ui/src/Typography/Typography.js
  pages/api/typography.md
Labels: component: Typography, enhancement

#12313 [Grid] Document the nested capability
  docs/src/pages/layout/grid/ComplexGrid.js
  docs/src/pages/layout/grid/InteractiveGrid.js
  docs/src/pages/layout/grid/NestedGrid.js
  docs/src/pages/layout/grid/grid.md
  pages/layout/grid.js
  static/images/grid/complex.jpg
Labels: component: Grid, docs

#12314 [SwipeableDrawer] Fix SSR issue on iOS
  .size-limit.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/HomeBackers.js
  docs/src/modules/components/HomeSteps.js
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
  packages/material-ui-docs/src/index.js
  packages/material-ui/src/NoSSR/NoSSR.d.ts
  packages/material-ui/src/NoSSR/NoSSR.js
  packages/material-ui/src/NoSSR/NoSSR.test.js
  packages/material-ui/src/NoSSR/index.d.ts
  packages/material-ui/src/NoSSR/index.js
  packages/material-ui/src/SwipeableDrawer/SwipeArea.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/withWidth/withWidth.test.js
Labels: bug, component: Drawer

#12317 [docs] Document NoSsr
  docs/src/modules/components/HomeBackers.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/withRoot.js
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
  docs/src/pages/utils/no-ssr/SimpleNoSsr.js
  docs/src/pages/utils/no-ssr/no-ssr.md
  packages/material-ui/src/NoSSR/NoSSR.d.ts
  packages/material-ui/src/NoSSR/index.d.ts
  packages/material-ui/src/NoSSR/index.js
  packages/material-ui/src/NoSsr/NoSsr.d.ts
  packages/material-ui/src/NoSsr/NoSsr.js
  packages/material-ui/src/NoSsr/NoSsr.test.js
  packages/material-ui/src/NoSsr/index.d.ts
  packages/material-ui/src/NoSsr/index.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  pages/api/no-ssr.js
  pages/api/no-ssr.md
  pages/utils/no-ssr.js
Labels: docs

#12322 [docs] Improve the docs to have matches
  docs/src/pages/demos/app-bar/app-bar.md
  docs/src/pages/demos/buttons/buttons.md
  docs/src/pages/demos/pickers/pickers.md
  docs/src/pages/demos/snackbars/snackbars.md
  docs/src/pages/demos/text-fields/text-fields.md
Labels: docs

#12339 [Step] Add completed class to the root
  packages/material-ui/src/Step/Step.js
  pages/api/step.md
Labels: component: Stepper, enhancement

#12348 [docs] Improve the Table sorting logic
  docs/src/pages/demos/tables/EnhancedTable.js
Labels: component: Table, docs
