Repository mui/material-ui, pull requests merged in 2018-02, with the labels that each got.

#10224 [ButtonBase] Use parent Window of ButtonBase when listening for keyboard events
  src/ButtonBase/ButtonBase.js
  src/utils/keyboardFocus.d.ts
  src/utils/keyboardFocus.js
Labels: component: ButtonBase, enhancement

#10218 [StepLabel] Give more flexibility to the style of span surrounding label
  pages/api/step-label.md
  src/Stepper/Step.d.ts
  src/Stepper/StepButton.d.ts
  src/Stepper/StepConnector.d.ts
  src/Stepper/StepLabel.d.ts
  src/Stepper/StepLabel.js
  src/Stepper/Stepper.d.ts
Labels: PR: accepted, component: Stepper, enhancement

#10225 [ButtonBase] Save one line of code
  src/utils/keyboardFocus.js
Labels: component: ButtonBase, performance

#10196 [Checkbox, Radio, Switch] Fix id in internal input
  pages/api/checkbox.md
  pages/api/radio.md
  pages/api/switch.md
  src/Checkbox/Checkbox.js
  src/Radio/Radio.js
  src/Switch/Switch.js
  src/internal/SwitchBase.d.ts
  src/internal/SwitchBase.js
  src/internal/SwitchBase.spec.js
Labels: breaking change, bug, component: Checkbox, component: Radio, component: Switch

#10227 [docs] Update links on showcase.md
  docs/src/pages/discover-more/showcase.md
Labels: docs

#10229 [Input] Fix infinite loop
  src/Form/FormControl.js
  src/Input/Input.js
Labels: bug, component: TextField

#10230 [docs] Remove dead code in Drawers
  docs/src/pages/demos/drawers/MiniDrawer.js
  docs/src/pages/demos/drawers/PersistentDrawer.js
Labels: component: Drawer, docs

#10228 [CircularProgress] Add static variant
  docs/src/pages/demos/app-bar/ButtonAppBar.js
  docs/src/pages/demos/app-bar/MenuAppBar.js
  docs/src/pages/demos/app-bar/SimpleAppBar.js
  docs/src/pages/demos/expansion-panels/ControlledExpansionPanels.js
  docs/src/pages/demos/expansion-panels/DetailedExpansionPanel.js
  docs/src/pages/demos/expansion-panels/SimpleExpansionPanel.js
  docs/src/pages/demos/progress/CircularDeterminate.js
  docs/src/pages/demos/progress/CircularIndeterminate.js
  docs/src/pages/demos/progress/CircularStatic.js
  docs/src/pages/demos/progress/LinearBuffer.js
  docs/src/pages/demos/progress/LinearDeterminate.js
  docs/src/pages/demos/progress/LinearIndeterminate.js
  docs/src/pages/demos/progress/LinearQuery.js
  docs/src/pages/demos/progress/progress.md
  docs/src/pages/layout/AutoGrid.js
  docs/src/pages/layout/BreakpointDown.js
  docs/src/pages/layout/BreakpointOnly.js
  docs/src/pages/layout/BreakpointUp.js
  docs/src/pages/layout/CenteredGrid.js
  docs/src/pages/layout/FullWidthGrid.js
  docs/src/pages/layout/GridIntegration.js
  docs/src/pages/layout/basics.md
  docs/src/pages/layout/hidden.md
  pages/_document.js
  pages/api/circular-progress.md
  pages/api/linear-progress.md
  pages/demos/progress.js
  src/Progress/CircularProgress.d.ts
  src/Progress/CircularProgress.js
  src/Progress/CircularProgress.spec.js
  src/Progress/LinearProgress.js
Labels: component: CircularProgress, enhancement

#10244 [Transition] Add the missing teardown logic
  src/transitions/Collapse.js
  src/transitions/Grow.js
Labels: bug, component: Transition

#10245 [docs] Fix small issues
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/Carbon.js
Labels: docs

#10247 [docs] Add modole.io to showcase
  docs/src/pages/discover-more/showcase.md
Labels: docs

#10249 [docs] Better API generator
  docs/scripts/buildApi.js
  docs/src/modules/utils/generateMarkdown.js
  pages/api/collapse.md
  pages/api/grid-list.md
  pages/api/grow.md
  pages/api/hidden.md
  pages/api/input.md
  pages/api/menu.md
  pages/api/popover.md
  pages/api/select.md
  pages/api/snackbar.md
  pages/api/step-content.md
  pages/api/tabs.md
  pages/api/text-field.md
Labels: bug, docs

#10252 [docs] Use non-breaking space
  .size-limit
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/utils/generateMarkdown.js
  pages/api/app-bar.md
  pages/api/backdrop.md
  pages/api/badge.md
  pages/api/bottom-navigation.md
  pages/api/button.md
  pages/api/click-away-listener.md
  pages/api/dialog-title.md
  pages/api/dialog.md
  pages/api/expansion-panel-actions.md
  pages/api/expansion-panel-details.md
  pages/api/expansion-panel.md
  pages/api/grid-list.md
  pages/api/input-adornment.md
  pages/api/list-item-avatar.md
  pages/api/list-item-icon.md
  pages/api/menu.md
  pages/api/mobile-stepper.md
  pages/api/modal.md
  pages/api/mui-theme-provider.md
  pages/api/popover.md
  pages/api/portal.md
  pages/api/step-icon.md
  pages/api/stepper.md
  pages/api/svg-icon.md
  pages/api/table-body.md
  pages/api/table-head.md
  pages/api/table-pagination.md
  pages/api/table.md
  pages/api/tooltip.md
Labels: docs

#10257 [docs] Fix the migration guide doc page
  docs/src/pages/guides/migration-v0.x.md
Labels: docs

#10254 [core] Fix the es distribution
  .babelrc
  package.json
  scripts/material-ui-babel-preset.js
Labels: bug, core

#10259 [docs] Update example in README.md
  README.md
Labels: docs

#10260 [docs] Fix typo in button component demo
  docs/src/pages/demos/buttons/buttons.md
Labels: docs

#10268 [Avatar] Use theme.spacing.unit
  src/Avatar/Avatar.js
Labels: component: Avatar

#10138 [Selection Controls] Change default color, add color prop
  .size-limit
  docs/src/pages/demos/selection-controls/Checkboxes.js
  docs/src/pages/demos/selection-controls/RadioButtons.js
  docs/src/pages/demos/selection-controls/RadioButtonsGroup.js
  docs/src/pages/demos/selection-controls/Switches.js
  docs/src/pages/demos/selection-controls/selection-controls.md
  pages/api/checkbox.md
  pages/api/radio.md
  pages/api/switch.md
  src/Checkbox/Checkbox.js
  src/Radio/Radio.js
  src/Switch/Switch.js
Labels: breaking change, component: Checkbox, component: Radio, component: Switch

#10282 [InputLabel] Add inheritance docs
  pages/api/input-label.md
  src/Input/InputLabel.js
Labels: component: TextField, docs

#10266 [docs] styled components non-root components
  docs/src/pages/guides/interoperability.md
Labels: docs

#10290 [Input][ExpansionPane] Remove the use of legacy easing-curve
  src/ExpansionPanel/ExpansionPanel.js
  src/ExpansionPanel/ExpansionPanelSummary.js
  src/Input/Input.js
Labels: performance

#10295 [typescript] Add missing exports in index.d.ts
  .eslintrc.js
  src/Drawer/Drawer.d.ts
  src/Snackbar/Snackbar.d.ts
  src/Stepper/Stepper.d.ts
  src/index.d.ts
  src/styles/index.d.ts
  src/transitions/Collapse.d.ts
  src/transitions/transition.d.ts
  test/typescript/components.spec.tsx
Labels: typescript

#10277 [TableCell] Add "scope" attribute for th
  pages/api/table-cell.md
  src/Table/TableCell.js
  src/Table/TableCell.spec.js
Labels: component: Table, enhancement

#10299 [core] Upgrade react-popper
  .size-limit
  package.json
  yarn.lock
Labels: core, performance

#10267 [docs] Add precaching Service Worker to exported docs builds
  docs/scripts/buildServiceWorker.js
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/Carbon.js
  docs/src/sw.js
  firebase.json
  package.json
  yarn.lock
Labels: docs

#10307 [docs] Add missing rel=noopener
  .size-limit
  BACKERS.md
  README.md
  pages/index.js
Labels: docs

#10310 [Button] Add fullWidth to ButtonClassKey
  src/Button/Button.d.ts
Labels: component: Button, typescript

#10308 [docs] Add the average response time
  README.md
  pages/index.js
Labels: docs

#10313 [docs] Update TextFields.js
  docs/src/pages/demos/text-fields/TextFields.js
Labels: docs

#10302 [docs] Add toggling with react-popper
  docs/src/pages/demos/menus/MenuListComposition.js
  docs/src/pages/demos/menus/menus.md
Labels: docs, enhancement

#10315 [core] Fix IE 11 issues
  src/ExpansionPanel/ExpansionPanel.js
  src/ExpansionPanel/ExpansionPanelSummary.js
  src/Input/Textarea.js
  src/Input/Textarea.spec.js
Labels: core

#10318 [ClickAwayListener] Fix interaction with SVGElement
  src/utils/ClickAwayListener.js
Labels: bug

#10323 [docs] Add the latest backers ♥
  BACKERS.md
Labels: docs

#10317 [Icon] Add fontSize to typings
  src/Icon/Icon.d.ts
  src/SvgIcon/SvgIcon.d.ts
Labels: component: Icon, component: SvgIcon, typescript

#10325 [Slide] Work with SVG too
  docs/src/modules/components/AppWrapper.js
  src/transitions/Slide.js
Labels: bug, component: Slide

#10326 [docs] Expose the theme as a global object
  docs/src/modules/styles/getPageContext.js
  examples/create-react-app/src/withRoot.js
Labels: bug, docs

#10332 [docs] Add an example with Google Web Fonts
  docs/src/pages/demos/badges/badges.md
  docs/src/pages/style/icons.md
Labels: docs

#10334 [Stepper] Add style override types
  src/styles/overrides.d.ts
Labels: enhancement, typescript

#10322 [Transitions] Document transition style prop handling
  docs/src/pages/utils/transitions/transitions.md
Labels: docs, enhancement

#10330 [Drawer] Add clipped navigation drawer demo
  docs/src/pages/demos/drawers/ClippedDrawer.js
  docs/src/pages/demos/drawers/MiniDrawer.js
  docs/src/pages/demos/drawers/PermanentDrawer.js
  docs/src/pages/demos/drawers/PersistentDrawer.js
  docs/src/pages/demos/drawers/ResponsiveDrawer.js
  docs/src/pages/demos/drawers/TemporaryDrawer.js
  docs/src/pages/demos/drawers/drawers.md
  pages/demos/drawers.js
  src/List/List.js
Labels: component: Drawer, docs

#10338 [core] Upgrade some dependency to start looking into React 16.3
  .size-limit
  yarn.lock
Labels: core

#10328 [core] Remove remaining direct references to window/document objects
  src/Modal/Modal.js
  src/Modal/ModalManager.js
  src/Modal/isOverflowing.js
  src/Popover/Popover.js
  src/transitions/Slide.js
  src/utils/ClickAwayListener.js
Labels: core, enhancement

#10346 [Input] Reset the line-height
  src/Input/Input.js
Labels: bug, component: TextField

#10347 [Select] Revert #9964
  src/Select/Select.js
Labels: component: Select, enhancement

#10352 [docs] Add react-final-form to Related Projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#10355 [Button] Update Button mini description
  pages/api/button.md
  src/Button/Button.js
Labels: component: Button, docs

#10360 [docs] Fix modal page link
  docs/src/pages/utils/portal/portal.md
Labels: docs

#10368 [lab][SpeedDial] Fix onClick target element
  docs/src/pages/lab/speed-dial/OpenIconSpeedDial.js
  docs/src/pages/lab/speed-dial/SpeedDials.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
Labels: bug, lab: SpeedDial

#10374 [IconButton] Fix class key types
  src/IconButton/IconButton.d.ts
Labels: component: IconButton, typescript

#10372 [Chip] Ignore events generated by descendants
  src/Chip/Chip.js
  src/Chip/Chip.spec.js
Labels: bug, component: Chip

#10379 [CardHeader] Add missing "action" classes key definition
  src/Card/CardHeader.d.ts
Labels: typescript

#10377 [Dialog] Consistent description
  pages/api/dialog.md
  src/Dialog/Dialog.js
  test/regressions/index.js
Labels: component: Dialog, docs

#10380 [Select] Fix the vertical-align
  src/Select/SelectInput.js
  src/Select/SelectInput.spec.js
Labels: bug, component: Select

#10390 [Snackbar] Disable pausing of auto hide when window loses focus
  pages/api/snackbar.md
  src/Snackbar/Snackbar.d.ts
  src/Snackbar/Snackbar.js
  src/Snackbar/Snackbar.spec.js
Labels: component: Snackbar, enhancement

#10348 [docs] Plan the breaking changes before v1
  ROADMAP.md
Labels: docs

#10394 [docs] Fix IE 11 and W3C warnings
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/style/icons/icons.md
  docs/src/pages/style/typography/typography.md
  package.json
  yarn.lock
Labels: bug, docs

#10396 [docs] Sort the pages by path and ignore dashes
  docs/src/modules/utils/find.js
Labels: docs

#10397 [docs] Autocomplete migration
  docs/src/pages/guides/migration-v0.x/migration-v0.x.md
Labels: component: Autocomplete, docs

#10415 [docs] Add material-ui-autosuggest to related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#10420 [Popover] Support anchorEl as a function
  pages/api/popover.md
  src/Popover/Popover.js
  src/Popover/Popover.spec.js
Labels: component: Popover, enhancement

#10408 [Select] Add `SelectDisplayProps` prop
  pages/api/select.md
  src/Select/Select.d.ts
  src/Select/Select.js
  src/Select/SelectInput.d.ts
  src/Select/SelectInput.js
  src/Select/SelectInput.spec.js
Labels: component: Select, enhancement

#10345 [SelectInput] Add tabIndex prop
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
  docs/src/pages/demos/drawers/TemporaryDrawer.js
  docs/src/pages/demos/lists/CheckboxList.js
  docs/src/pages/demos/tables/EnhancedTable.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  pages/api/checkbox.md
  pages/api/radio.md
  pages/api/switch.md
  src/ButtonBase/ButtonBase.js
  src/ButtonBase/ButtonBase.spec.js
  src/Checkbox/Checkbox.js
  src/Chip/Chip.js
  src/Chip/Chip.spec.js
  src/Input/Textarea.js
  src/Menu/MenuItem.js
  src/Menu/MenuItem.spec.js
  src/Radio/Radio.js
  src/Select/SelectInput.d.ts
  src/Select/SelectInput.js
  src/Select/SelectInput.spec.js
  src/Switch/Switch.js
  src/Tabs/TabScrollButton.js
  src/internal/SwitchBase.spec.js
  test/regressions/tests/List/PrimaryActionCheckboxListItem.js
Labels: component: Select, enhancement

#10361 [Select] Make 'type' prop able to be overwritten
  src/Select/Select.js
  src/Select/SelectInput.js
  src/Select/SelectInput.spec.js
Labels: component: Select, enhancement

#10430 [Select] Set type undefined rather than null
  src/Select/Select.js
  src/Select/SelectInput.js
Labels: component: Select

#10431 [core] Use tabIndex as number
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.js
  docs/src/pages/demos/drawers/TemporaryDrawer.js
  docs/src/pages/demos/lists/CheckboxList.js
  docs/src/pages/demos/tables/EnhancedTable.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  src/Chip/Chip.js
  src/Chip/Chip.spec.js
  src/ExpansionPanel/ExpansionPanelSummary.js
  src/Input/Textarea.js
  src/Menu/MenuItem.js
  src/Menu/MenuItem.spec.js
  src/Select/SelectInput.js
  src/Select/SelectInput.spec.js
  src/Tabs/TabScrollButton.js
  src/internal/SwitchBase.spec.js
  test/regressions/tests/List/PrimaryActionCheckboxListItem.js
Labels: core

#10434 [ButtonBase] Fix accessibility
  docs/src/pages/demos/lists/CheckboxList.js
  src/ButtonBase/ButtonBase.js
  src/ButtonBase/ButtonBase.spec.js
Labels: accessibility, component: ButtonBase

#10432 [docs] Description of how component will render
  docs/src/pages/guides/composition/composition.md
Labels: docs

#10441 [core] Last mile so we can release the lab 🔬
  lerna.json
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/material-ui-codemod/package.json
  packages/material-ui-dependents/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-icons/scripts/copy-files.js
  packages/material-ui-lab/package.json
  packages/material-ui-lab/scripts/copy-files.js
  yarn.lock
Labels: core

#10444 [SwitchBase] Fix defaultChecked issue
  src/internal/SwitchBase.js
Labels: bug, component: Switch

#10445 [SwitchBase] Prevent defaultChecked regression
  src/internal/SwitchBase.spec.js
Labels: component: Switch, test

#10447 [Table] Default display style for all table components
  pages/api/table-body.md
  pages/api/table-head.md
  src/Table/Table.js
  src/Table/TableBody.js
  src/Table/TableBody.spec.js
  src/Table/TableCell.js
  src/Table/TableHead.js
  src/Table/TableHead.spec.js
Labels: component: Table, enhancement

#10454 [Collapse] Fix description
  pages/api/collapse.md
  src/transitions/Collapse.js
Labels: component: Collapse, docs

#10446 [SvgIcon] Allow changing the width with the font-size
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/customization/themes/themes.md
  docs/src/pages/demos/buttons/IconLabelButtons.js
  docs/src/pages/style/color/color.md
  docs/src/pages/style/icons/Icons.js
  docs/src/pages/style/icons/SvgIcons.js
  docs/src/pages/style/icons/icons.md
  package.json
  pages/api/icon.md
  pages/api/svg-icon.md
  pages/index.js
  src/Button/Button.js
  src/Button/Button.spec.js
  src/Icon/Icon.js
  src/IconButton/IconButton.js
  src/IconButton/IconButton.spec.js
  src/SvgIcon/SvgIcon.js
  static/images/color/colorTool.png
  static/images/icons/icons.png
  yarn.lock
Labels: breaking change, component: SvgIcon

#10456 [core] Upgrade the dev dependencies
  .size-limit
  package.json
  yarn.lock
Labels: core

#10470 [ButtonBase] Add a TouchRippleProps property
  pages/api/button-base.md
  src/ButtonBase/ButtonBase.d.ts
  src/ButtonBase/ButtonBase.js
Labels: component: ButtonBase, enhancement

#10474 [Select] Ensure label is shrinked when using startAdornment
  docs/src/pages/demos/text-fields/InputAdornments.js
  src/Form/FormControl.js
  src/Form/FormControl.spec.js
Labels: component: Select, enhancement

#10477 [Card][List] Implement responsive gutters
  docs/src/pages/demos/drawers/MiniDrawer.js
  src/Card/CardActions.js
  src/Card/CardContent.js
  src/Card/CardHeader.js
  src/GridList/GridListTileBar.js
  src/List/ListItem.js
  src/List/ListSubheader.js
  src/Menu/MenuItem.js
  src/Toolbar/Toolbar.js
  src/styles/createMixins.js
Labels: component: Card, material design spec
