Repository mui/material-ui, pull requests merged in 2019-11, with the labels that each got.

#18131 [InputBase] Fix onChange event handler callback of inputProps
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
Labels: bug, component: InputBase

#18129 [TextField] Fix typo in FromControl warning
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/InputBase/InputBase.test.js
Labels: PR: ready to ship, component: TextField, docs

#18127 [OutlinedInput] Simplify customizations
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: ready to ship, component: TextField, enhancement

#18137 [Autocomplete] Rename autoHightlight prop to autoHighlight
  docs/pages/api/autocomplete.md
  docs/src/pages/components/autocomplete/CountrySelect.js
  docs/src/pages/components/autocomplete/CountrySelect.tsx
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: breaking change, component: Autocomplete

#18141 [TextField] Fix label not being associated with native select
  docs/src/pages/components/text-fields/ValidationTextFields.js
  docs/src/pages/components/text-fields/ValidationTextFields.tsx
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/TextField/TextField.test.js
Labels: bug, component: TextField

#18128 [types] Simplify some of the conditional types
  packages/material-ui-types/index.d.ts
Labels: package: types, performance

#18148 [types] Fix IsEmptyInterface with optional members
  packages/material-ui-styles/test/IsEmptyInterface.spec.ts
  packages/material-ui-types/index.d.ts
Labels: bug, package: types

#18146 [docs] Fix various a11y issues reported by lighthouse
  docs/src/pages/components/app-bar/ProminentAppBar.js
  docs/src/pages/components/app-bar/ProminentAppBar.tsx
  docs/src/pages/components/buttons/SplitButton.js
  docs/src/pages/components/buttons/SplitButton.tsx
  docs/src/pages/components/checkboxes/CustomizedCheckbox.js
  docs/src/pages/components/checkboxes/CustomizedCheckbox.tsx
  docs/src/pages/components/menus/MenuListComposition.js
  docs/src/pages/components/menus/MenuListComposition.tsx
Labels: accessibility, docs

#18125 [styles] Fix props based styles callback not including defaultProps
  packages/material-ui-styles/src/withStyles/withStyles.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
Labels: PR: ready to ship, bug, package: styles

#18144 [docs] Add TagSpaces to the showcase
  docs/src/pages/discover-more/showcase/appList.js
  docs/static/images/showcase/fluxguard.jpg
  docs/static/images/showcase/localinsights.jpg
  docs/static/images/showcase/modole.jpg
  docs/static/images/showcase/tagspaces.jpg
  docs/static/images/showcase/tentu.jpg
Labels: PR: ready to ship, docs

#18142 [Autocomplete] Fix aria-controls and aria-activedescendant
  package.json
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  patches/jsdom+15.2.0.patch
  yarn.lock
Labels: accessibility, lab: Autocomplete

#18163 [test] Fix tests polluting DOM
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
Labels: test

#18162 [Autocomplete] Fix disableListWrapp affecting initial focus
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18160 [Autocomplete] Fix display in modal
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18156 [Chip] Fix Avatar CSS issue
  docs/pages/api/chip.md
  packages/material-ui/src/Chip/Chip.js
Labels: PR: ready to ship, bug, component: Chip

#18154 [TreeView] Change when node map is built
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
Labels: PR: ready to ship, bug, lab: TreeView

#18116 [Avatar] Add square variant and documentation
  docs/pages/api/avatar.md
  docs/src/pages/components/avatars/VariantAvatars.js
  docs/src/pages/components/avatars/VariantAvatars.tsx
  docs/src/pages/components/avatars/avatars.md
  packages/material-ui/src/Avatar/Avatar.d.ts
  packages/material-ui/src/Avatar/Avatar.js
Labels: PR: ready to ship, component: Avatar, enhancement

#18155 [core] Batch small changes
  CHANGELOG.md
  README.md
  docs/notifications.json
  docs/pages/_app.js
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/scripts/buildIcons.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdInHouse.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/HomeFooter.js
  docs/src/modules/components/HomeQuickWord.js
  docs/src/modules/components/backers.md
  docs/src/pages/components/autocomplete/UseAutocomplete.js
  docs/src/pages/components/autocomplete/UseAutocomplete.tsx
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/discover-more/team/Team.js
  docs/src/pages/discover-more/team/team.md
  docs/src/pages/getting-started/learn/learn.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  docs/src/pages/getting-started/usage/usage.md
  docs/src/pages/guides/server-rendering/server-rendering.md
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.js
  docs/src/pages/styles/advanced/advanced.md
  docs/static/icons/150x150.png
  docs/static/icons/152x152.png
  docs/static/icons/180x180.png
  docs/static/icons/310x310.png
  docs/static/icons/70x70.png
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs/pages/_app.js
  examples/parcel/.babelrc
  examples/parcel/.gitignore
  examples/parcel/README.md
  examples/parcel/package.json
  examples/parcel/src/App.js
  examples/parcel/src/ProTip.js
  examples/parcel/src/index.html
  examples/parcel/src/index.js
  examples/parcel/src/theme.js
  examples/ssr/client.js
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/GridListTile/GridListTile.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Portal/Portal.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/test-utils/createMount.js
Labels: PR: ready to ship, umbrella

#18192 Bump @testing-library/react from 9.3.0 to 9.3.2
  package.json
  test/utils/initMatchers.js
  yarn.lock
Labels: dependencies, test

#18161 [Autocomplete] Fix crash with freeSolo and rich options
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18195 [Autocomplete] Add disabled prop
  docs/pages/api/autocomplete.md
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#18074 [Slider] Increase hover target size
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, component: Slider, enhancement

#18174 [Slider] Improve UX for pointing device with limited accuracy
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, component: Slider, enhancement

#18222 [core] Remove nodemod
  packages/material-ui-benchmark/package.json
  yarn.lock
Labels: core

#18224 [docs] Fix error in Select options
  docs/src/pages/components/selects/selects.md
Labels: docs

#18204 [Autocomplete] Improve accessibility
  docs/pages/api/autocomplete.md
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  docs/src/pages/components/autocomplete/UseAutocomplete.js
  docs/src/pages/components/autocomplete/UseAutocomplete.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, accessibility, lab: Autocomplete

#18229 [Autocomplete] Fix Enter key clearing selected option
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18220 [TextField] Add demo for color prop
  docs/src/pages/components/text-fields/ColorTextFields.js
  docs/src/pages/components/text-fields/ColorTextFields.tsx
  docs/src/pages/components/text-fields/text-fields.md
Labels: PR: ready to ship, component: TextField, docs

#18257 [Select] Fix id not being present when native
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
Labels: bug, component: Select

#18250 [core] Add funding entry to manifests
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui/package.json
Labels: PR: ready to ship, package: core, package: styles, package: system

#18247 [core] Fix createMuiTheme side-effect
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
Labels: PR: ready to ship, bug

#18238 [core] Increase specificity to get correct style
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/CardActions/CardActions.js
  packages/material-ui/src/DialogActions/DialogActions.js
  packages/material-ui/src/ExpansionPanelActions/ExpansionPanelActions.js
Labels: PR: ready to ship, bug, core

#18241 [docs] Improve demo clarity by using form elements
  docs/src/pages/components/text-fields/CustomizedInputBase.js
  docs/src/pages/components/text-fields/CustomizedInputBase.tsx
  packages/material-ui/src/Paper/Paper.d.ts
Labels: PR: ready to ship, component: TextField, docs

#18260 [docs] Fix show all rows in table pagination
  docs/src/pages/components/tables/CustomPaginationActionsTable.js
  docs/src/pages/components/tables/CustomPaginationActionsTable.tsx
Labels: bug, component: Table, docs

#18261 [test] Misc cleanup
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/MenuList.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
  packages/material-ui/test/integration/Select.test.js
  test/utils/init.d.ts
  test/utils/initMatchers.js
Labels: PR: ready to ship, test

#18268 [useAutocomplete] Fix missing inputValue
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: bug, lab: Autocomplete

#18259 [TreeView] Support empty array
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
Labels: PR: ready to ship, enhancement, lab: TreeView

#18239 [blog] October 2019 Product Update
  docs/pages/blog/october-2019-update.js
  docs/pages/blog/october-2019-update.md
  docs/src/pages.js
  docs/static/blog/october-2019-update/preview.png
Labels: PR: ready to ship, docs

#18274 [ButtonGroup] Fix typings for disabled classes property
  packages/material-ui/src/ButtonGroup/ButtonGroup.d.ts
Labels: PR: ready to ship, component: ButtonGroup, typescript

#18275 [useAutocomplete] Handle Opera fullscreen mode
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, lab: Autocomplete

#18153 [Autocomplete] Fix Multiple tag delete action
  docs/pages/api/autocomplete.md
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/FixedTags.js
  docs/src/pages/components/autocomplete/FixedTags.tsx
  docs/src/pages/components/autocomplete/Tags.js
  docs/src/pages/components/autocomplete/Tags.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18264 [core] Batch changes
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdCodeFund.js
  docs/src/modules/components/AdInHouse.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  docs/static/in-house/tidelift.png
  docs/translations/translations.json
  examples/cdn/README.md
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, umbrella

#18165 [TreeView] Add controlled API to TreeView
  docs/pages/api/tree-view.md
  docs/src/pages/components/tree-view/ControlledTreeView.js
  docs/src/pages/components/tree-view/ControlledTreeView.tsx
  docs/src/pages/components/tree-view/tree-view.md
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeView/TreeView.d.ts
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
Labels: PR: ready to ship, breaking change, enhancement, lab: TreeView

#18284 [Rating] Add random name when none is provided
  docs/src/modules/components/DiamondSponsors.js
  docs/src/pages/components/rating/HoverRating.js
  docs/src/pages/components/rating/HoverRating.tsx
  docs/src/pages/components/rating/SimpleRating.js
  docs/src/pages/components/rating/SimpleRating.tsx
  packages/material-ui-lab/src/Rating/Rating.js
Labels: PR: ready to ship, enhancement, lab: Rating

#18286 [Autocomplete] Improve focus logic
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/UseAutocomplete.js
  docs/src/pages/components/autocomplete/UseAutocomplete.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18266 [Autocomplete] Add closeIcon and popupIcon props
  docs/pages/api/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#18289 [Autocomplete] Fix popup placement
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18285 [Autocomplete] Add controllable input value API
  docs/pages/api/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/utils/useEventCallback.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#18316 [docs] Replace alert with console.info
  docs/src/pages/components/.eslintrc.js
  docs/src/pages/components/breadcrumbs/CollapsedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CollapsedBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/CustomSeparator.js
  docs/src/pages/components/breadcrumbs/CustomSeparator.tsx
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/IconBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/IconBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/SimpleBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/SimpleBreadcrumbs.tsx
  docs/src/pages/components/buttons/SplitButton.js
  docs/src/pages/components/buttons/SplitButton.tsx
  docs/src/pages/components/chips/Chips.js
  docs/src/pages/components/chips/Chips.tsx
  docs/src/pages/components/chips/ChipsArray.js
  docs/src/pages/components/chips/ChipsArray.tsx
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/chips/OutlinedChips.js
  docs/src/pages/components/chips/OutlinedChips.tsx
  docs/src/pages/components/chips/SmallChips.js
  docs/src/pages/components/chips/SmallChips.tsx
  docs/src/pages/components/chips/SmallOutlinedChips.js
  docs/src/pages/components/chips/SmallOutlinedChips.tsx
  docs/src/pages/components/links/ButtonLink.js
  docs/src/pages/components/links/ButtonLink.tsx
Labels: PR: ready to ship, docs

#18318 [ButtonBase] Test keyboard events of child elements
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: component: ButtonBase, test

#18283 [Autocomplete] Fix the errors reported by Wave
  docs/src/modules/components/prism-okaidia.css
  docs/src/pages/components/autocomplete/Asynchronous.js
  docs/src/pages/components/autocomplete/Asynchronous.tsx
  docs/src/pages/components/autocomplete/CheckboxesTags.js
  docs/src/pages/components/autocomplete/CheckboxesTags.tsx
  docs/src/pages/components/autocomplete/ComboBox.js
  docs/src/pages/components/autocomplete/ComboBox.tsx
  docs/src/pages/components/autocomplete/CountrySelect.js
  docs/src/pages/components/autocomplete/CountrySelect.tsx
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/DisabledOptions.js
  docs/src/pages/components/autocomplete/DisabledOptions.tsx
  docs/src/pages/components/autocomplete/Filter.js
  docs/src/pages/components/autocomplete/Filter.tsx
  docs/src/pages/components/autocomplete/FixedTags.js
  docs/src/pages/components/autocomplete/FixedTags.tsx
  docs/src/pages/components/autocomplete/FreeSolo.js
  docs/src/pages/components/autocomplete/FreeSolo.tsx
  docs/src/pages/components/autocomplete/GoogleMaps.js
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/autocomplete/Grouped.js
  docs/src/pages/components/autocomplete/Grouped.tsx
  docs/src/pages/components/autocomplete/Highlights.js
  docs/src/pages/components/autocomplete/Highlights.tsx
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  docs/src/pages/components/autocomplete/Tags.js
  docs/src/pages/components/autocomplete/Tags.tsx
  docs/src/pages/components/autocomplete/UseAutocomplete.js
  docs/src/pages/components/autocomplete/UseAutocomplete.tsx
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, accessibility, lab: Autocomplete

#18281 [Autocomplete] Remove aria-activedescendant
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, accessibility, lab: Autocomplete

#17662 [docs] Replace react-inspector with custom TreeView implementation
  docs/package.json
  docs/src/pages/customization/default-theme/DefaultTheme.js
  yarn.lock
Labels: docs, lab: TreeView

#18321 [examples] Fix Gatsby broken example
  examples/gatsby/plugins/gatsby-plugin-top-layout/index.js
Labels: bug, docs

#18320 [SpeedDial] Fix crash when using custom style in FabProps
  docs/pages/api/speed-dial-action.md
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
Labels: bug, lab: SpeedDial

#18319 [ButtonBase] Fix space calling onClick on keyDown instead of keyUp
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
Labels: accessibility, bug, component: ButtonBase

#18325 [docs] Fix useMediaQuery ssr implementation example
  docs/src/pages/components/use-media-query/use-media-query.md
Labels: docs

#18338 [Autocomplete] Fix usage of Home/End keys
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18346 [Autocomplete] Add popperDisablePortal to classes
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
Labels: lab: Autocomplete, typescript

#18343 [docs] Fix typo in autocomplete docs
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: PR: ready to ship, docs

#18341 [TreeView] Fix control state error
  packages/material-ui-lab/src/TreeView/TreeView.js
Labels: PR: ready to ship, bug, lab: TreeView

#18362 [docs] Fix grammar in app-bar.md
  docs/src/pages/components/app-bar/app-bar.md
Labels: docs

#18364 [docs] Remove outdated showcase
  docs/src/pages/discover-more/showcase/appList.js
  docs/static/images/showcase/code-typing-tutor.png
Labels: docs

#18355 [Autocomplete] Add tag keyboard navigation test
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: PR: ready to ship, lab: Autocomplete, test

#18366 [Avatar] Tip about what srcset can be used for
  docs/pages/api/avatar.md
  packages/material-ui/src/Avatar/Avatar.js
Labels: PR: ready to ship, docs

#18382 [HiddenCss] Fix warning when using custom breakpoints
  packages/material-ui/src/Hidden/HiddenCss.js
  packages/material-ui/src/Hidden/HiddenCss.test.js
Labels: bug, component: Hidden

#18383 [getContrastText] Throw descriptive exception when passing falsy argument
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
Labels: enhancement, package: core

#18384 [CardMedia] Use propTypes for "at least one"-check
  packages/material-ui/src/CardMedia/CardMedia.js
  packages/material-ui/src/CardMedia/CardMedia.test.js
Labels: enhancement, package: core

#18376 [Autocomplete] Better handle native browsers' autofill and autocomplete
  docs/src/pages/components/autocomplete/DisabledOptions.js
  docs/src/pages/components/autocomplete/DisabledOptions.tsx
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18380 [Autocomplete] Fix bug on disableOpenOnFocus prop
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18381 [Popper] Use context for RTL support
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
Labels: PR: ready to ship, bug, component: Popper

#18219 [core] Add localization
  docs/pages/api/autocomplete.md
  docs/pages/api/table-pagination.md
  docs/pages/guides/localization.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/ThemeContext.js
  docs/src/pages.js
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/components/tables/StickyHeadTable.js
  docs/src/pages/components/tables/StickyHeadTable.tsx
  docs/src/pages/customization/theming/theming.md
  docs/src/pages/guides/localization/Locales.js
  docs/src/pages/guides/localization/Locales.tsx
  docs/src/pages/guides/localization/localization.md
  docs/translations/translations.json
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.js
  packages/material-ui/src/styles/createMuiTheme.d.ts
  packages/material-ui/src/styles/createMuiTheme.js
  packages/material-ui/src/styles/createMuiTheme.test.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#18385 [test] Improve coverage
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui/scripts/rollup.config.js
  packages/material-ui/src/BottomNavigation/BottomNavigation.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/GridList/GridList.js
  packages/material-ui/src/GridList/GridList.test.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/Paper/Paper.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Step/Step.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/styles/createTypography.js
  packages/material-ui/src/styles/createTypography.test.js
Labels: PR: ready to ship, test

#18035 [docs] Add related project links
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#18419 [Autocomplete] Fix CreateFilterOptions definition
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: PR: ready to ship, lab: Autocomplete, typescript

#18356 [docs] Reduce .html response size
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownElement.js
Labels: PR: ready to ship, docs, performance

#18428 [docs] Fix some markdown spec issue
  docs/pages/api/hidden.md
  docs/pages/api/slider.md
  docs/pages/api/tree-view.md
  docs/src/modules/utils/generateMarkdown.js
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/customization/theming/theming.md
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/styles/api/api.md
  docs/static/images/logos/github.svg
  docs/static/images/logos/spectrum.svg
  docs/static/images/logos/stackoverflow.svg
  docs/static/images/logos/tidelift.svg
  docs/static/images/logos/twitter.svg
Labels: docs

#18271 [Chip] Document accessibility
  docs/src/pages/components/chips/chips.md
  packages/material-ui/src/Chip/Chip.test.js
Labels: accessibility, component: Chip, docs, test

#18361 [Snackbar] Fix timer restarting when parent component re-render
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
Labels: PR: ready to ship, bug, component: Snackbar

#18422 [l10n] Improve Russian translation
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship, core

#18437 [utils] Simplify refType
  packages/material-ui-utils/src/refType.js
Labels: package: utils

#18438 [Slider] Make the slider work as intended when max%step !== 0
  docs/pages/api/slider.md
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: PR: ready to ship, bug, component: Slider

#18433 [test] Check a11y tree inclusion in CI only
  CONTRIBUTING.md
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/test/integration/Menu.test.js
  test/utils/init.js
Labels: PR: ready to ship, performance, test

#18445 [Modal] Prefer to lock scroll on body than html element
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/ModalManager.js
Labels: PR: ready to ship, bug, component: Modal

#18451 [Skeleton] Keep the size 1:1 to replaced text content
  docs/src/pages/components/skeleton/Facebook.js
  docs/src/pages/components/skeleton/Facebook.tsx
  docs/src/pages/components/skeleton/YouTube.js
  docs/src/pages/components/skeleton/YouTube.tsx
  packages/material-ui-lab/src/Skeleton/Skeleton.js
Labels: PR: ready to ship, enhancement, lab: Skeleton

#18429 [Slider] Increase interaction area
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, accessibility, component: Slider

#18455 [Autocomplete] Fix virtualization demo
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
Labels: PR: ready to ship, bug, docs, lab: Autocomplete

#18461 [Collapse] Add a warn when collapsedHeight misses units
  docs/pages/api/collapse.md
  docs/src/pages/components/transitions/SimpleCollapse.js
  docs/src/pages/components/transitions/SimpleCollapse.tsx
  packages/material-ui/src/Collapse/Collapse.d.ts
  packages/material-ui/src/Collapse/Collapse.js
Labels: PR: ready to ship, component: Collapse, enhancement

#18458 [Tooltip] Use hysteresis with the enterDelay
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: PR: ready to ship, component: Tooltip, enhancement

#18468 [core] Add displayName to contexts
  docs/src/modules/components/PageContext.js
  docs/src/modules/components/ThemeContext.js
  packages/material-ui-lab/src/TreeView/TreeViewContext.js
  packages/material-ui-styles/src/StylesProvider/StylesProvider.js
  packages/material-ui-styles/src/useTheme/ThemeContext.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanelContext.js
  packages/material-ui/src/FormControl/FormControlContext.js
  packages/material-ui/src/List/ListContext.js
  packages/material-ui/src/RadioGroup/RadioGroupContext.js
  packages/material-ui/src/Table/TableContext.js
  packages/material-ui/src/Table/Tablelvl2Context.js
  packages/material-ui/src/test-utils/RenderMode.js
Labels: docs, enhancement, package: core, package: styles

#18481 [Grid] Infer `displayName`
  packages/material-ui/src/Grid/Grid.js
Labels: PR: ready to ship, component: Grid

#18480 [Autocomplete] Ignore object keys in default filter
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18506 [Autocomplete] Fix typo in test
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: lab: Autocomplete

#18507 [l10n] Add Italian translation
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship, enhancement

#18500 [styles] Fix ThemeProvider requiring full theme
  docs/src/pages/customization/components/DynamicThemeNesting.js
  docs/src/pages/customization/components/DynamicThemeNesting.tsx
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: PR: ready to ship, package: styles, typescript

#18501 [useMediaQuery] Fix ssrMatchMedia requiring listener mixin
  docs/package.json
  docs/src/pages/components/use-media-query/ServerSide.tsx
  packages/material-ui/src/useMediaQuery/useMediaQuery.d.ts
  yarn.lock
Labels: hook: useMediaQuery, typescript

#17978 [Select] Improve response, react to mouse down
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/test/integration/Select.test.js
Labels: PR: ready to ship, bug, component: Select

#18513 [docs] Include mention to Persian in localization.md
  docs/src/pages/guides/localization/localization.md
Labels: docs

#18516 [Autocomplete] Document value equality check
  docs/pages/api/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: PR: ready to ship, docs, lab: Autocomplete

#18543 [test] Improve merging tests for createMuiTheme
  packages/material-ui/src/styles/createMuiTheme.test.js
Labels: PR: ready to ship, test

#18306 [core] Export everything from the second level
  packages/material-ui-codemod/src/v4.0.0/top-level-imports.js
  packages/material-ui-codemod/src/v4.0.0/top-level-imports.test.js
  packages/material-ui-codemod/src/v4.0.0/top-level-imports.test/actual.js
  packages/material-ui-codemod/src/v4.0.0/top-level-imports.test/expected.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.js
  packages/material-ui-styles/src/index.d.ts
  packages/material-ui-styles/src/index.js
  packages/material-ui/src/TableCell/TableCell.d.ts
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: PR: ready to ship, core, typescript

#18539 [core] Batch small changes
  docs/pages/components/integrated-autocomplete.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages.js
  docs/src/pages/components/autocomplete/GoogleMaps.js
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/integrated-autocomplete/IntegrationAutosuggest.js
  docs/src/pages/components/integrated-autocomplete/IntegrationAutosuggest.tsx
  docs/src/pages/components/integrated-autocomplete/IntegrationDownshift.js
  docs/src/pages/components/integrated-autocomplete/IntegrationDownshift.tsx
  docs/src/pages/components/integrated-autocomplete/IntegrationReactSelect.js
  docs/src/pages/components/integrated-autocomplete/IntegrationReactSelect.tsx
  docs/src/pages/components/integrated-autocomplete/autocomplete-fr.md
  docs/src/pages/components/integrated-autocomplete/autocomplete-pt.md
  docs/src/pages/components/integrated-autocomplete/autocomplete-ru.md
  docs/src/pages/components/integrated-autocomplete/autocomplete-zh.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-aa.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-de.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-es.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-fr.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-ja.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-pt.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-ru.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete-zh.md
  docs/src/pages/components/integrated-autocomplete/integrated-autocomplete.md
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/discover-more/showcase/showcase.md
  docs/src/pages/getting-started/templates/dashboard/Chart.js
  docs/src/pages/getting-started/templates/dashboard/Deposits.js
  docs/src/pages/getting-started/templates/dashboard/Orders.js
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sign-in/SignIn.js
  docs/src/pages/getting-started/templates/sign-up/SignUp.js
  docs/src/pages/getting-started/templates/sticky-footer/StickyFooter.js
  docs/src/pages/versions/LatestVersions.js
  docs/src/pages/versions/StableVersions.js
  docs/src/pages/versions/versions.md
Labels: PR: ready to ship, core

#18520 [Autocomplete] Improve icons display
  docs/pages/api/autocomplete.md
  docs/pages/api/filled-input.md
  docs/pages/api/input-base.md
  docs/pages/api/outlined-input.md
  docs/src/pages/components/text-fields/InputAdornments.js
  docs/src/pages/components/text-fields/InputAdornments.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.d.ts
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#18553 [core] Fix dependabot not ignoring babel-plugin-preval
  .dependabot/config.yml
Labels: dependencies

#18552 [core] Bump `@babel/*` deps
  docs/package.json
  package.json
  yarn.lock
Labels: dependencies, worktree

#18548 [Skeleton] Fix non-breakable space
  docs/src/pages/components/skeleton/Variants.js
  docs/src/pages/components/skeleton/Variants.tsx
  docs/src/pages/components/skeleton/YouTube.js
  docs/src/pages/components/skeleton/YouTube.tsx
  docs/src/pages/components/skeleton/skeleton.md
  packages/material-ui-lab/src/Skeleton/Skeleton.js
Labels: PR: ready to ship, bug, lab: Skeleton

#18565 [docs] Fix yarn start command
  docs/README.md
Labels: PR: ready to ship, docs

#18562 [docs] Fix bug in Popper component's Scroll playground example
  docs/src/pages/components/popper/ScrollPlayground.js
Labels: PR: ready to ship, component: Popper, docs

#18551 [core] Add react-is dependency
  packages/material-ui-lab/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: PR: ready to ship, bug

#18566 [docs] Reduce confusion in picker link
  docs/src/pages/components/pickers/pickers.md
Labels: docs

#18571 [Autocomplete] Only trigger onInputChange when the value changes
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: lab: Autocomplete

#18584 [Autocomplete] Only call .focus() when necessary
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18578 [Autocomplete] Fix CSS specificity issue
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: PR: ready to ship, lab: Autocomplete

#18591 [l10n] Add svSE translations (Swedish)
  docs/pages/api/autocomplete.md
  docs/pages/api/rating.md
  docs/pages/api/table-pagination.md
  docs/src/pages/guides/localization/localization.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship, enhancement

#18598 [docs] Add monday.com to in-house ads
  docs/src/modules/components/Ad.js
  docs/src/modules/components/HomeQuickWord.js
  docs/static/blog/april-2019-update/responsive.png
  docs/static/blog/august-2019-update/typescript.png
  docs/static/blog/july-2019-update/vertical-tabs.png
  docs/static/blog/june-2019-update/rating.png
  docs/static/blog/material-ui-v4-is-out/cookbook.png
  docs/static/blog/material-ui-v4-is-out/demo3.png
  docs/static/blog/material-ui-v4-is-out/font-size.png
  docs/static/blog/material-ui-v4-is-out/layout.png
  docs/static/blog/material-ui-v4-is-out/switch.png
  docs/static/blog/may-2019-update/slider.png
  docs/static/blog/september-2019-update/multiselect.png
  docs/static/brand.png
  docs/static/images/showcase/quintoandar.png
  docs/static/images/templates/blog.png
  docs/static/images/templates/dashboard.png
  docs/static/images/templates/sign-in-side.png
  docs/static/in-house/monday.jpg
  docs/static/in-house/tidelift.png
  docs/static/themes/paperbase.png
Labels: PR: ready to ship, docs

#18602 [Portal] Fix circular PortalProps Types
  packages/material-ui/src/Portal/Portal.d.ts
Labels: component: Portal, typescript

#18603 [Rating] Improve mobile support
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/Link/Link.js
  packages/material-ui/src/Modal/SimpleBackdrop.js
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, lab: Rating

#18589 [Backdrop] Comment on z-index use case
  packages/material-ui/src/Backdrop/Backdrop.js
Labels: PR: ready to ship, component: Backdrop

#18617 [docs] Fix typo in media query docs
  docs/src/pages/components/use-media-query/use-media-query.md
Labels: PR: ready to ship, docs

#18612 [docs] Update v3 migration guide for ExpansionPanel
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: PR: ready to ship, docs

#18611 [Autocomplete] Fix selecting undefined on updated options
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#18609 [test] Assert accessible name
  package.json
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/TextField/TextField.test.js
  packages/material-ui/test/integration/Select.test.js
  test/utils/createDOM.js
  test/utils/init.d.ts
  test/utils/initMatchers.js
  yarn.lock
Labels: PR: ready to ship, accessibility, test

#18560 [docs] Improve the SvgIcon documentation
  docs/src/pages/components/icons/FontAwesome.js
  docs/src/pages/components/icons/FontAwesome.tsx
  docs/src/pages/components/icons/Icons.js
  docs/src/pages/components/icons/Icons.tsx
  docs/src/pages/components/icons/SvgIcons.js
  docs/src/pages/components/icons/SvgIcons.tsx
  docs/src/pages/components/icons/SvgIconsColor.js
  docs/src/pages/components/icons/SvgIconsColor.tsx
  docs/src/pages/components/icons/SvgIconsSize.js
  docs/src/pages/components/icons/SvgIconsSize.tsx
  docs/src/pages/components/icons/icons.md
Labels: PR: ready to ship, docs

#18614 [misc] Batch small changes
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/styles/basics/basics.md
  packages/material-ui/src/CircularProgress/CircularProgress.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/styles/colorManipulator.js
Labels: umbrella
