Repository mui/material-ui, pull requests merged in 2019-09, with the labels that each got.

#17249 [docs] Only server-side render the popular languages
  docs/cdn/_redirects
  docs/next.config.js
  docs/package.json
  docs/pages/_app.js
  docs/pages/_document.js
  docs/pages/index.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoLanguages.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/Head.js
  docs/src/modules/components/HomeBackers.js
  docs/src/modules/components/HomeFooter.js
  docs/src/modules/components/HomeQuickWord.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/HomeUsers.js
  docs/src/modules/components/Link.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/Notifications.js
  docs/src/modules/constants.js
  docs/src/modules/redux/optionsReducer.js
  docs/src/pages/customization/default-theme/DefaultTheme.js
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/getting-started/templates/Templates.js
  docs/src/server.js
Labels: PR: ready to ship, docs

#17247 [Badge] Improve shape of 2 digit badge
  docs/src/pages/components/badges/CustomizedBadges.js
  docs/src/pages/components/badges/CustomizedBadges.tsx
  packages/material-ui/src/Badge/Badge.js
Labels: PR: ready to ship, component: Badge, enhancement

#17266 [docs] Update translations.json
  docs/scripts/i18n.js
  docs/src/pages.js
  docs/src/pages/components/pickers/pickers.md
  docs/translations/translations.json
Labels: PR: ready to ship, docs

#17272 [docs] Add new synonyms for Material Icons
  docs/src/pages/components/material-icons/synonyms.js
Labels: PR: ready to ship, docs

#17270 [Rating] Fix a few issues
  docs/pages/api/rating.md
  docs/src/pages/components/rating/RatingSize.js
  docs/src/pages/components/rating/RatingSize.tsx
  docs/src/pages/components/rating/SimpleRating.js
  docs/src/pages/components/rating/SimpleRating.tsx
  packages/material-ui-lab/src/Rating/Rating.d.ts
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/Rating/Rating.test.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: PR: ready to ship, breaking change, bug, lab: Rating

#17268 [docs] Batch small changes
  docs/cdn/_redirects
  docs/next.config.js
  docs/pages/blog/material-ui-v4-is-out.md
  docs/src/modules/components/Ad.js
  docs/src/pages/components/icons/FontAwesome.js
  docs/src/pages/components/icons/FontAwesome.tsx
  docs/src/pages/components/icons/Icons.js
  docs/src/pages/components/icons/Icons.tsx
  docs/src/pages/components/icons/SvgIcons.js
  docs/src/pages/components/icons/SvgIcons.tsx
  docs/src/pages/components/icons/SvgMaterialIcons.js
  docs/src/pages/components/icons/SvgMaterialIcons.tsx
  docs/src/pages/components/icons/icons.md
  docs/src/pages/getting-started/templates/album/Album.js
  docs/src/pages/getting-started/templates/blog/Blog.js
  docs/src/pages/getting-started/templates/checkout/Checkout.js
  docs/src/pages/getting-started/templates/dashboard/Dashboard.js
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sign-in/SignIn.js
  docs/src/pages/getting-started/templates/sign-up/SignUp.js
  docs/src/pages/getting-started/templates/sticky-footer/StickyFooter.js
  examples/cdn/index.html
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app/src/App.js
  examples/gatsby/src/pages/about.js
  examples/gatsby/src/pages/index.js
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs-with-typescript/pages/about.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs/pages/_document.js
  examples/nextjs/pages/about.js
  examples/nextjs/pages/index.js
  examples/parcel/src/App.js
  examples/preact/src/App.js
  examples/ssr/App.js
  packages/material-ui-docs/src/NProgressBar/NProgressBar.js
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/CircularProgress/CircularProgress.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
Labels: PR: ready to ship, docs

#17240 [Slider] Add getAriaLabel prop
  docs/pages/api/slider.md
  docs/src/pages/components/slider/slider.md
  packages/material-ui/src/Slider/Slider.d.ts
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: PR: ready to ship, accessibility, component: Slider

#17280 [core] Fix typo contaniners -> containers
  packages/material-ui/src/Modal/ModalManager.js
Labels: PR: ready to ship, component: Modal, core

#17278 [ToggleButton] Update TypeScript class keys
  packages/material-ui-lab/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
Labels: PR: ready to ship, lab: ToggleButton, typescript

#17285 [Table] Fix sticky header table with buttons/inputs
  packages/material-ui/src/TableCell/TableCell.js
Labels: component: Table

#17284 [docs] Remove section about modal performance
  docs/src/pages/components/modal/modal.md
Labels: PR: ready to ship, docs, performance

#17288 [SvgIcon] Fix color type definition including default
  docs/pages/api/svg-icon.md
  packages/material-ui/scripts/generateProptypes.ts
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
  packages/material-ui/src/SvgIcon/SvgIcon.js
Labels: component: SvgIcon, typescript

#16777 [styles] Support augmenting a default theme type
  docs/src/pages/styles/typescript/typescript.md
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.d.ts
  packages/material-ui-styles/src/defaultTheme/defaultTheme.spec.ts
  packages/material-ui-styles/src/defaultTheme/index.d.ts
  packages/material-ui-styles/src/index.d.ts
  packages/material-ui-styles/src/makeStyles/makeStyles.d.ts
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/src/useTheme/useTheme.d.ts
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/src/withTheme/withTheme.d.ts
Labels: package: styles, typescript

#17286 [core] Add ref type to every component
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui/src/ListItemAvatar/ListItemAvatar.d.ts
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/index.d.ts
Labels: package: core, package: lab, typescript

#16487 [typescript] Generify props with component property
  packages/material-ui-lab/src/Skeleton/Skeleton.d.ts
  packages/material-ui-lab/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui/src/Avatar/Avatar.d.ts
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.d.ts
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.d.ts
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/ButtonGroup/ButtonGroup.d.ts
  packages/material-ui/src/CardActionArea/CardActionArea.d.ts
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Divider/Divider.d.ts
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.d.ts
  packages/material-ui/src/Fab/Fab.d.ts
  packages/material-ui/src/FormControl/FormControl.d.ts
  packages/material-ui/src/FormLabel/FormLabel.d.ts
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/IconButton/IconButton.d.ts
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/List/List.d.ts
  packages/material-ui/src/MenuItem/MenuItem.d.ts
  packages/material-ui/src/OverridableComponent.d.ts
  packages/material-ui/src/StepButton/StepButton.d.ts
  packages/material-ui/src/Tab/Tab.d.ts
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TableSortLabel/TableSortLabel.d.ts
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
Labels: typescript

#17292 [docs] Remove unnecessary any cast
  docs/src/pages/components/buttons/ButtonRouter.tsx
  docs/src/pages/components/links/LinkRouter.tsx
  packages/material-ui/src/Button/Button.spec.tsx
Labels: docs, typescript

#17290 [ToggleButton] Improve accessibility
  docs/src/pages/components/toggle-button/ToggleButtons.js
  docs/src/pages/components/toggle-button/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: PR: ready to ship, accessibility, lab: ToggleButton

#17296 [docs] Improve grammar in snackbars
  docs/src/pages/components/snackbars/snackbars.md
Labels: docs

#17303 [Select] Follow spec with placement of dropdown icon
  docs/pages/api/native-select.md
  docs/pages/api/select.md
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, component: Select, material design spec

#17304 [Select] Changes the default input based on variant prop
  docs/pages/api/select.md
  docs/src/pages/components/selects/NativeSelects.js
  docs/src/pages/components/selects/NativeSelects.tsx
  docs/src/pages/components/selects/SimpleSelect.js
  docs/src/pages/components/selects/SimpleSelect.tsx
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
Labels: PR: ready to ship, component: Select, enhancement

#17312 [docs] Add script to merge MD icon tags with synonyms
  docs/scripts/updateIconSynonyms.js
  docs/src/pages/components/material-icons/synonyms.js
  package.json
Labels: PR: ready to ship, docs

#17317 [core] Fix various dependency issues
  docs/package.json
  package.json
  packages/material-ui-benchmark/package.json
  yarn.lock
Labels: PR: ready to ship, dependencies, workspace

#17311 [docs] Remove wrong alternate languages
  docs/pages/_document.js
  docs/pages/blog/material-ui-v1-is-out.md
  docs/src/modules/constants.js
  docs/src/pages/components/badges/CustomizedBadges.js
  docs/src/pages/components/badges/CustomizedBadges.tsx
  docs/src/pages/getting-started/templates/album/Album.js
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHero.js
  docs/src/pages/premium-themes/paperbase/Paperbase.js
Labels: PR: ready to ship, docs

#17331 [docs] Fix CHANGELOG.md
  CHANGELOG.md
Labels: docs

#17315 [useMediaQuery] Workaround Safari wrong implementation of matchMedia
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
Labels: PR: ready to ship, bug, hook: useMediaQuery

#17316 [misc] Batch small changes
  docs/pages/api/checkbox.md
  docs/pages/api/filled-input.md
  docs/pages/api/form-control-label.md
  docs/pages/api/input-base.md
  docs/pages/api/input.md
  docs/pages/api/outlined-input.md
  docs/pages/api/popover.md
  docs/pages/api/popper.md
  docs/pages/api/radio.md
  docs/pages/api/root-ref.md
  docs/pages/api/slider.md
  docs/pages/api/switch.md
  docs/pages/api/tabs.md
  docs/pages/api/text-field.md
  docs/src/pages/components/autocomplete/autocomplete.md
  docs/src/pages/components/checkboxes/CustomizedCheckbox.js
  docs/src/pages/components/checkboxes/CustomizedCheckbox.tsx
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/radio-buttons/CustomizedRadios.js
  docs/src/pages/components/radio-buttons/CustomizedRadios.tsx
  docs/src/pages/components/radio-buttons/RadioButtonsGroup.js
  docs/src/pages/components/radio-buttons/RadioButtonsGroup.tsx
  docs/src/pages/components/radio-buttons/radio-buttons.md
  docs/src/pages/components/rating/rating.md
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  docs/src/pages/components/tables/tables.md
  docs/src/pages/customization/color/color.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/faq/faq.md
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Radio/RadioButtonIcon.js
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/Slider/Slider.d.ts
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: PR: ready to ship

#17274 [icons] Add social icons
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/custom/Apple.js
  packages/material-ui-icons/custom/Facebook.js
  packages/material-ui-icons/custom/Instagram.js
  packages/material-ui-icons/custom/LinkedIn.js
  packages/material-ui-icons/custom/Pinterest.js
  packages/material-ui-icons/custom/Reddit.js
  packages/material-ui-icons/custom/Telegram.js
  packages/material-ui-icons/custom/Twitter.js
  packages/material-ui-icons/custom/WhatsApp.js
  packages/material-ui-icons/custom/YouTube.js
  packages/material-ui-icons/src/Apple.js
  packages/material-ui-icons/src/Facebook.js
  packages/material-ui-icons/src/Instagram.js
  packages/material-ui-icons/src/LinkedIn.js
  packages/material-ui-icons/src/Pinterest.js
  packages/material-ui-icons/src/Reddit.js
  packages/material-ui-icons/src/Telegram.js
  packages/material-ui-icons/src/Twitter.js
  packages/material-ui-icons/src/WhatsApp.js
  packages/material-ui-icons/src/YouTube.js
  packages/material-ui-icons/src/index.js
Labels: PR: ready to ship, package: icons

#17307 [docs] Improve /customization/typography/
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/customization/palette/palette.md
  docs/src/pages/customization/spacing/spacing.md
  docs/src/pages/customization/typography/TypographyTheme.js
  docs/src/pages/customization/typography/TypographyTheme.tsx
  docs/src/pages/customization/typography/TypographyVariants.js
  docs/src/pages/customization/typography/TypographyVariants.tsx
  docs/src/pages/customization/typography/typography.md
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/styles/createTypography.js
Labels: PR: ready to ship, docs

#17337 [Modal] Support theme default props
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
Labels: component: Modal, enhancement

#17336 [core] Guard against bad Symbol polyfills
  packages/material-ui-styles/src/ThemeProvider/nested.js
Labels: PR: ready to ship, core

#17300 [lab] Generate proptypes from type definitions
  docs/package.json
  docs/pages/api/speed-dial-action.md
  docs/pages/api/speed-dial.md
  docs/pages/api/toggle-button-group.md
  package.json
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeView/TreeView.d.ts
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui/src/AppBar/AppBar.js
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/Badge/Badge.js
  packages/material-ui/src/BottomNavigation/BottomNavigation.js
  packages/material-ui/src/Portal/Portal.js
  packages/material-ui/src/SvgIcon/SvgIcon.js
  scripts/generateProptypes.ts
  yarn.lock
Labels: package: lab, typescript

#17310 [TextareaAutosize] Show scrollbar when rowsMax is exceeded
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
Labels: PR: ready to ship, bug, component: TextareaAutosize

#17345 [styles] Fix global classnames being disabled in deserialized themes
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.js
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.test.js
Labels: PR: ready to ship, package: styles

#17354 [Cars] Fix export issue for consistency
  packages/material-ui/src/CardMedia/CardMedia.d.ts
Labels: component: Card, typescript

#17363 [core] Bump `@babel/*` deps
  docs/package.json
  package.json
  yarn.lock
Labels: dependencies, workspace

#17374 [StepButton] Fix overlap with StepContent
  packages/material-ui/src/StepButton/StepButton.js
Labels: PR: ready to ship, bug, component: Stepper

#17371 [docs] Add tubular-react in related project
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: ready to ship, docs

#17372 [docs] Add material-ui-flat-pagination to related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: ready to ship, docs

#17380 [docs] Fix color tool crash
  docs/src/pages/customization/color/ColorTool.js
Labels: PR: ready to ship, docs

#17378 [core] Fix incorrect focus handler types for FormControl and TextField
  packages/material-ui/src/FormControl/FormControl.d.ts
  packages/material-ui/src/InputBase/InputBase.d.ts
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/TextField/TextField.spec.tsx
Labels: bug, component: FormControl, component: TextField, typescript

#17389 [Radio] Add zIndex to SwitchBase
  packages/material-ui/src/internal/SwitchBase.js
Labels: component: Radio

#17400 [docs] Fix typo
  CONTRIBUTING.md
Labels: docs

#17406 [Skeleton] Make default CSS display mode to block
  packages/material-ui-lab/src/Skeleton/Skeleton.js
Labels: PR: ready to ship, lab: Skeleton

#17401 [docs] Add a customization example with ToggleButton
  docs/src/pages/components/toggle-button/CustomizedDividers.js
  docs/src/pages/components/toggle-button/CustomizedDividers.tsx
  docs/src/pages/components/toggle-button/toggle-button.md
Labels: PR: ready to ship, docs, lab: ToggleButton

#17390 [SelectInput] Use `@testing-library` for test
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
Labels: PR: ready to ship, test

#17420 [core] Prevent empty useEffect in production
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, core

#17422 [core] Warn when changing between controlled uncontrolled
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: PR: ready to ship, docs

#17421 [docs] Add a note in disabled tooltip
  docs/src/pages/components/tooltips/tooltips.md
Labels: PR: ready to ship, component: Tooltip, docs

#17343 [docs] Improve the documentation covering react-router
  docs/src/pages/components/.eslintrc.js
  docs/src/pages/components/buttons/ButtonRouter.js
  docs/src/pages/components/buttons/ButtonRouter.tsx
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/links/LinkRouter.js
  docs/src/pages/components/links/links.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/guides/composition/ButtonRouter.js
  docs/src/pages/guides/composition/ButtonRouter.tsx
  docs/src/pages/guides/composition/LinkRouter.js
  docs/src/pages/guides/composition/LinkRouter.tsx
  docs/src/pages/guides/composition/ListRouter.js
  docs/src/pages/guides/composition/ListRouter.tsx
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/guides/typescript/typescript.md
Labels: PR: ready to ship, docs

#17455 [docs] Add synonyms for brand icons
  docs/scripts/updateIconSynonyms.js
  docs/src/pages/components/material-icons/synonyms.js
Labels: docs

#17450 [docs] Improve in-site search
  docs/src/modules/components/AppSearch.js
Labels: accessibility, docs

#17453 [ButtonBase] Fix blurry text issue
  packages/material-ui/src/ButtonBase/TouchRipple.js
Labels: PR: ready to ship, component: ButtonBase

#17458 [docs] Revert hits per page change
  docs/src/modules/components/AppSearch.js
Labels: PR: ready to ship, docs

#17460 [docs] Fix heading format in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: PR: ready to ship, docs

#17469 [Chip] Load the right version of Avatar
  packages/material-ui/src/Chip/Chip.js
Labels: PR: ready to ship, bug, component: Chip

#17467 [TablePagination] Merge root classes properly
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/test-utils/describeConformance.js
Labels: PR: ready to ship, bug, component: TablePagination

#17468 [Breadcrumbs] Improve API docs
  docs/pages/api/breadcrumbs.md
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
Labels: PR: ready to ship, component: Breadcrumbs, docs, test

#17436 [TextField] Handle Chrome autofill
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/InputBase/InputBase.js
Labels: PR: ready to ship, bug, component: InputBase

#17466 [docs] Clarify props spread for ListItem when button flag is set
  docs/pages/api/list-item.md
  packages/material-ui/src/ListItem/ListItem.js
Labels: component: List, docs

#17482 [CircularProgress] Fix centering
  packages/material-ui/src/CircularProgress/CircularProgress.js
Labels: bug, component: CircularProgress

#17437 [docs] Add a support page
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/1.support-us.md
  .github/ISSUE_TEMPLATE/2.feature.md
  .github/ISSUE_TEMPLATE/3.support.md
  .github/ISSUE_TEMPLATE/4.support.md
  .github/support.yml
  README.md
  SUPPORT.md
  docs/pages/getting-started/support.js
  docs/pages/index.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/HomeFooter.js
  docs/src/modules/components/HomePro.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/useMarkdownDocsContents.js
  docs/src/modules/components/usePageTitle.js
  docs/src/modules/utils/textToHash.js
  docs/src/pages.js
  docs/src/pages/discover-more/changelog/changelog.md
  docs/src/pages/discover-more/community/community-aa.md
  docs/src/pages/discover-more/community/community-de.md
  docs/src/pages/discover-more/community/community-es.md
  docs/src/pages/discover-more/community/community-fr.md
  docs/src/pages/discover-more/community/community-ja.md
  docs/src/pages/discover-more/community/community-pt.md
  docs/src/pages/discover-more/community/community-ru.md
  docs/src/pages/discover-more/community/community-zh.md
  docs/src/pages/discover-more/community/community.md
  docs/src/pages/discover-more/team/Team.js
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/versions/versions.md
  docs/static/images/misc/circle.png
  docs/translations/translations.json
Labels: PR: ready to ship, docs

#17439 [docs] August Update
  ROADMAP.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/august-2019-update.js
  docs/pages/blog/august-2019-update.md
  docs/pages/blog/july-2019-update.md
  docs/pages/blog/june-2019-update.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/may-2019-update.md
  docs/src/pages.js
  docs/static/blog/august-2019-update/material-icons.png
  docs/static/blog/august-2019-update/typescript.png
  docs/static/blog/july-2019-update/rating.png
  docs/static/blog/july-2019-update/skeleton.png
  docs/static/blog/july-2019-update/tree-view.gif
  docs/static/blog/july-2019-update/vertical-tabs.png
Labels: PR: ready to ship, docs

#17490 [Menu] Isolate more integration tests
  packages/material-ui/test/integration/MenuList.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
  packages/material-ui/test/integration/fixtures/menus/NestedMenu.js
  test/utils/init.js
  test/utils/initMatchers.js
Labels: package: core, test

#17489 [docs] Remove Access to premium modules from the support page
  ROADMAP.md
  docs/src/pages/getting-started/support/support.md
Labels: docs

#17500 [docs] Spelling mistake
  docs/src/pages/customization/density/density.md
Labels: docs

#17488 [TreeItem] Use the ‘endIcon’ prop where appropriate
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
Labels: PR: ready to ship, bug, lab: TreeView

#17487 [docs] Use Button for language menu
  docs/src/modules/components/AppFrame.js
  docs/src/modules/constants.js
  docs/translations/translations-fr.json
  docs/translations/translations.json
Labels: PR: ready to ship, docs

#17520 [styles] Bump jss dependencies to 10.0.0-alpha.25
  docs/package.json
  packages/material-ui-benchmark/package.json
  packages/material-ui-styles/package.json
  yarn.lock
Labels: dependencies, docs, package: benchmark, package: styles

#17522 [docs] Fix Popper demo link typo
  docs/src/pages/components/popper/popper.md
Labels: docs

#17523 [Box] Fix demo item name
  docs/src/pages/system/flexbox/flexbox.md
Labels: docs

#17501 [docs] CONTRIBUTING.md reword branch structure, remove Build, Yarn Link
  CONTRIBUTING.md
Labels: PR: ready to ship, docs

#17508 [docs] Move BACKERS.md file
  README.md
  crowdin.yml
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/discover-more/backers.js
  docs/src/pages/discover-more/backers/backers.md
Labels: docs

#17526 [docs] Fix english language link
  docs/src/pages/discover-more/languages/Languages.js
Labels: docs

#17528 [Slider] Remove from the lab
  packages/material-ui-lab/src/Slider/index.d.ts
  packages/material-ui-lab/src/Slider/index.js
  packages/material-ui-lab/src/index.js
Labels: breaking change, package: lab

#17527 [docs] Batch small fixes
  ROADMAP.md
  docs/pages/blog/august-2019-update.md
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/breadcrumbs.md
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/dialogs/dialogs.md
  docs/src/pages/components/expansion-panels/expansion-panels.md
  docs/src/pages/components/links/links.md
  docs/src/pages/components/modal/modal.md
  docs/src/pages/components/radio-buttons/radio-buttons.md
  docs/src/pages/components/rating/rating.md
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/switches/switches.md
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/versions/versions.md
Labels: docs

#17388 [Table] Adjust table styles to the latest specs
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/tables/CustomPaginationActionsTable.js
  docs/src/pages/components/tables/CustomPaginationActionsTable.tsx
  docs/src/pages/components/tables/StickyHeadTable.js
  docs/src/pages/components/tables/StickyHeadTable.tsx
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.js
Labels: PR: ready to ship, component: Table, material design spec

#17525 [docs] Remove already moved SUPPORT.md file
  SUPPORT.md
Labels: PR: ready to ship, docs

#17506 [Menu] Fix menu being focused instead of item when opening
  docs/pages/api/menu.md
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
  test/utils/initMatchers.js
Labels: accessibility, component: Menu

#17534 [system] Fix props being required from `style` function
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.spec.tsx
Labels: package: system, typescript

#17536 [styles] Bump jss dependencies to 10.0.0
  docs/package.json
  packages/material-ui-benchmark/package.json
  packages/material-ui-styles/package.json
  yarn.lock
Labels: dependencies, docs, package: benchmark, package: styles

#17332 [MenuItem] Fix text vertical alignment in IE 11
  docs/src/pages/components/menus/CustomizedMenus.js
  docs/src/pages/components/menus/CustomizedMenus.tsx
  docs/src/pages/components/menus/TypographyMenu.js
  docs/src/pages/components/menus/TypographyMenu.tsx
  packages/material-ui/src/MenuItem/MenuItem.js
Labels: PR: ready to ship, bug, component: Menu, material design spec

#17531 [docs] Move GOVERNANCE.md and ROADMAP.md files from root
  CONTRIBUTING.md
  README.md
  crowdin.yml
  docs/pages/discover-more/governance.js
  docs/pages/discover-more/roadmap.js
  docs/src/pages/discover-more/governance/governance.md
  docs/src/pages/discover-more/roadmap/roadmap.md
Labels: PR: ready to ship, docs

#17538 [Select] Make internal tests public
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.test.js
Labels: PR: ready to ship, component: Select, test

#17552 [InputBase] Fix remaining issues with Chrome autofill
  packages/material-ui/src/InputBase/InputBase.js
Labels: PR: ready to ship, component: InputBase, enhancement

#17561 [codemod] Fix build importing esm version of babel/runtime
  packages/material-ui-codemod/package.json
Labels: PR: ready to ship

#17537 [Button] Increase elevation on hover when contained
  docs/src/pages/components/buttons/CustomizedButtons.js
  docs/src/pages/components/buttons/CustomizedButtons.tsx
  packages/material-ui/src/Button/Button.js
Labels: PR: ready to ship, component: Button, material design spec

#17557 [docs] Improve testing readme
  test/README.md
Labels: docs, test

#17533 [SwipeableDrawer] Calculate transition duration based on swipe speed
  docs/pages/api/swipeable-drawer.md
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
Labels: PR: ready to ship, component: SwipeableDrawer, enhancement

#17394 [test] Isolate each test case using testing-library
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/ButtonBase/Ripple.test.js
  packages/material-ui/src/ButtonBase/TouchRipple.test.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Fab/Fab.test.js
  packages/material-ui/src/FilledInput/FilledInput.test.js
  packages/material-ui/src/FormControl/FormControl.test.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.test.js
  packages/material-ui/src/FormHelperText/FormHelperText.test.js
  packages/material-ui/src/FormLabel/FormLabel.test.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/InputLabel/InputLabel.test.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/OutlinedInput/NotchedOutline.test.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/TextField/TextField.test.js
  packages/material-ui/src/Toolbar/Toolbar.test.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  test/utils/createClientRender.js
Labels: test

#17558 [docs] Reword icons page
  docs/src/pages/components/icons/icons.md
  docs/static/images/icons/icons.png
Labels: PR: ready to ship, docs

#17587 [docs] Remove an un-used className in template Blog
  docs/src/pages/getting-started/templates/blog/Blog.js
Labels: docs

#17584 [Chip] Update style to match the specification
  docs/pages/api/chip.md
  docs/src/pages/components/chips/Chips.js
  docs/src/pages/components/chips/Chips.tsx
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/chips/OutlinedChips.js
  docs/src/pages/components/chips/OutlinedChips.tsx
  docs/src/pages/components/chips/SmallChips.js
  docs/src/pages/components/chips/SmallChips.tsx
  docs/src/pages/components/chips/SmallOutlinedChips.js
  docs/src/pages/components/chips/SmallOutlinedChips.tsx
  packages/material-ui/src/Avatar/Avatar.d.ts
  packages/material-ui/src/Avatar/Avatar.js
  packages/material-ui/src/Avatar/Avatar.test.js
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/test/typescript/components.spec.tsx
  test/regressions/tests/Chip/DeletableAvatarChip.js
Labels: PR: ready to ship, component: Chip, material design spec

#17591 [CardMedia] Add separate rules for Image components
  docs/pages/api/card-media.md
  packages/material-ui/src/CardMedia/CardMedia.js
Labels: PR: ready to ship, bug, component: Card

#17598 [examples] Fix CRA start script
  examples/create-react-app/package.json
Labels: docs

#17594 [docs] Improve CSP nonce docs
  docs/src/pages/styles/advanced/advanced.md
Labels: PR: ready to ship, docs

#17577 [docs] Improve bundle size option 2 advantage wording
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: PR: ready to ship, docs

#17573 [test] Bump `@testing-library/dom`
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/test/integration/Menu.test.js
  yarn.lock
Labels: PR: ready to ship, accessibility, test

#17599 [core] Warn if anchor element is not visible
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popper/Popper.js
Labels: PR: ready to ship, component: Popover, component: Popper, enhancement

#17631 [ci] Use azure aws tasks instead of aws-sdk
  azure-pipelines.yml
  package.json
  scripts/sizeSnapshot/upload.js
  yarn.lock
Labels: workspace

#17632 [core] Fix missing peer dependency warning
  docs/package.json
  yarn.lock
Labels: dependencies, worktree
