Repository mui/material-ui, pull requests merged in 2019-10, with the labels that each got.

#17597 [docs] Improve Contributing.md
  CONTRIBUTING.md
Labels: PR: ready to ship, docs

#17419 [core] Re-export all the styles modules from core
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
Labels: PR: ready to ship, core

#17571 [Menulist] Add autoFocusItem for initial focus control
  docs/pages/api/menu-list.md
  docs/src/pages/components/menus/MenuListComposition.js
  docs/src/pages/components/menus/MenuListComposition.tsx
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/MenuList/MenuList.d.ts
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/MenuList/MenuList.test.js
  packages/material-ui/test/integration/MenuList.test.js
  tslint.json
Labels: PR: ready to ship, accessibility, package: core

#17648 [ButtonGroup] Fix missing divider if background color is set
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: bug, component: ButtonGroup

#17640 [Button] Improve vertical padding
  docs/pages/api/button.md
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.test.js
Labels: PR: ready to ship, component: Button

#16473 [docs] Improve /styles vs /core/styles description
  docs/src/pages/customization/default-theme/default-theme.md
  docs/src/pages/styles/basics/basics.md
Labels: PR: ready to ship, docs

#17651 [dependencies] Put dependabot config in vcs
  .dependabot/config.yml
Labels: dependencies

#17649 [Tabs] Add new updateScrollButtonState() action
  docs/pages/api/tabs.md
  packages/material-ui/src/Tabs/Tabs.js
Labels: PR: ready to ship, component: Tabs, enhancement

#17659 [theme] Allow an arbitrary number of elevations
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/styles/createMuiTheme.js
Labels: PR: ready to ship, enhancement

#17657 [docs] Fix calculation of height for empty rows
  docs/src/pages/components/tables/CustomPaginationActionsTable.js
  docs/src/pages/components/tables/CustomPaginationActionsTable.tsx
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
Labels: docs, good first issue

#17600 [Button] Add startIcon / endIcon props
  docs/pages/api/button.md
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/pages/components/buttons/IconLabelButtons.js
  docs/src/pages/components/buttons/IconLabelButtons.tsx
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Button/Button.spec.tsx
  packages/material-ui/src/Button/Button.test.js
Labels: PR: ready to ship, component: Button, enhancement

#17652 [TextareaAutosize] Improve line computation and avoid infinite loop
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
Labels: PR: ready to ship, bug, component: TextareaAutosize

#17299 [Select] Simplify blur logic
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/test/integration/Select.test.js
Labels: PR: ready to ship, bug, component: Select

#17661 [system] Fallback to value if theme's value is an array and index missing
  packages/material-ui-system/src/style.js
  packages/material-ui-system/src/style.test.js
Labels: PR: ready to ship, enhancement, package: system

#17653 [docs] Improve contributing guidelines
  README.md
  docs/src/pages/getting-started/faq/faq.md
Labels: PR: ready to ship, docs

#17642 [docs] Update useMediaQuery example to avoid confusion with print
  docs/src/modules/components/ThemeContext.js
  docs/src/pages/components/use-media-query/use-media-query.md
  docs/src/pages/customization/palette/palette.md
Labels: PR: ready to ship, docs

#17677 [Button] Add missing class keys for icon sizing
  packages/material-ui/src/Button/Button.d.ts
Labels: component: Button, typescript

#17676 [Portal] Remove redundant circular PortalProps import
  packages/material-ui/src/Portal/Portal.d.ts
Labels: PR: ready to ship, typescript

#17678 [Dialog] Forward the id in example
  docs/src/pages/components/dialogs/CustomizedDialogs.js
  docs/src/pages/components/dialogs/CustomizedDialogs.tsx
Labels: component: Dialog, docs

#17675 [docs] Fix react-number-format example for FormattedInputs
  docs/src/pages/components/text-fields/FormattedInputs.js
  docs/src/pages/components/text-fields/FormattedInputs.tsx
Labels: docs

#17683 [docs] Migrate Palette demo to TypeScript
  docs/src/pages/customization/palette/Palette.tsx
Labels: docs, typescript

#17633 [docs] Extend size-snapshot
  azure-pipelines.yml
  dangerfile.js
  package.json
  scripts/sizeSnapshot/webpack.config.js
  yarn.lock
Labels: PR: ready to ship, docs

#17690 [Button] Fix duplicate class names
  packages/material-ui/src/Button/Button.js
Labels: PR: ready to ship, bug, component: Button

#17684 [docs] Better strict mode switch
  docs/next.config.js
  docs/package.json
  docs/pages/_app.js
  yarn.lock
Labels: docs

#17694 [Avatar] Allow to set src and children
  packages/material-ui/src/Avatar/Avatar.js
Labels: PR: ready to ship, component: Avatar, enhancement

#17691 [Select] Warn for unmatched value
  docs/pages/api/select.md
  docs/src/pages/components/selects/DialogSelect.js
  docs/src/pages/components/selects/DialogSelect.tsx
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
  test/utils/consoleError.js
Labels: PR: ready to ship, component: Select, enhancement

#17704 [docs] Fixed typo in Components/Modal
  docs/src/pages/components/modal/TransitionsModal.js
  docs/src/pages/components/modal/TransitionsModal.tsx
Labels: docs

#17716 [Select] Add missing y to setDisplaNode
  packages/material-ui/src/Select/SelectInput.js
Labels: component: Select, docs

#17763 [test] Fix test_browser timing out
  package.json
  yarn.lock
Labels: dependencies, worktree

#17765 [Slider] Fix drag interruption when leaving browser
  packages/material-ui/src/Slider/Slider.js
Labels: bug, component: Slider

#17770 [docs] Add useWidth demos in ts
  docs/src/pages/components/use-media-query/UseWidth.tsx
Labels: docs, typescript

#17766 [docs] Add Media Query TS demo
  docs/src/pages/customization/breakpoints/MediaQuery.js
  docs/src/pages/customization/breakpoints/MediaQuery.tsx
Labels: docs, typescript

#17768 [test] Use testing-library for ToggleButton* tests
  docs/pages/api/toggle-button-group.md
  docs/pages/api/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.test.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.test.js
Labels: lab: ToggleButton, test

#17782 [docs] Fix typo in versions.md
  docs/src/pages/versions/versions.md
Labels: docs

#17785 [docs] Migrate Globals demo to TypeScript
  docs/src/pages/customization/globals/DefaultProps.tsx
  docs/src/pages/customization/globals/GlobalCss.tsx
Labels: PR: ready to ship, docs, typescript

#17773 [Select] Fix opening select requiring double enter with NVDA
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
Labels: PR: ready to ship, accessibility, component: Select

#17793 [docs] Add dynamic class name TS demo
  docs/src/pages/customization/components/DynamicClassName.tsx
Labels: docs, typescript

#17783 [SpeedDial] Pass event and reason to onOpen, onClose
  docs/pages/api/speed-dial.md
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
Labels: PR: ready to ship, enhancement, lab: SpeedDial

#17781 [Popper] Fix placement update logic
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
Labels: PR: ready to ship, bug, component: Popper

#17714 [Slider] Add support for removed and inverted track
  docs/pages/api/slider.md
  docs/src/pages/components/slider/TrackFalseSlider.js
  docs/src/pages/components/slider/TrackFalseSlider.tsx
  docs/src/pages/components/slider/TrackInvertedSlider.js
  docs/src/pages/components/slider/TrackInvertedSlider.tsx
  docs/src/pages/components/slider/slider.md
  packages/material-ui/src/Slider/Slider.d.ts
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: PR: ready to ship, component: Slider, enhancement

#17805 [docs] Prepare the DatePicker developer survey notification
  docs/notifications.json
  docs/src/modules/components/Notifications.js
Labels: docs

#17798 [Modal] Remove mentions of legacy classes
  docs/pages/api/popover.md
  packages/material-ui/src/Modal/Modal.d.ts
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
Labels: PR: ready to ship, component: Modal, component: Popover

#17807 [core] Batch small changes
  docs/src/pages/components/material-icons/material-icons.md
  docs/src/pages/discover-more/roadmap/roadmap.md
  docs/translations/translations.json
  packages/material-ui/src/Tabs/TabScrollButton.test.js
Labels: PR: ready to ship, core

#17802 [docs] Mentioned CSS required for disabling transitions
  docs/src/pages/getting-started/faq/faq.md
Labels: PR: ready to ship, docs

#17819 [AppBar] Fix display of elevation with position static
  packages/material-ui/src/AppBar/AppBar.js
Labels: PR: ready to ship, component: AppBar

#17821 [docs] Fix typo and improve consistency
  docs/pages/api/button-group.md
  docs/pages/api/button.md
  docs/pages/api/drawer.md
  docs/pages/api/linear-progress.md
  docs/pages/api/speed-dial-icon.md
  docs/pages/api/step-label.md
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/StepLabel/StepLabel.js
Labels: PR: ready to ship, docs, enhancement

#17822 [docs] Add TS Demos for component/toggle-button
  docs/src/pages/components/toggle-button/StandaloneToggleButton.tsx
  docs/src/pages/components/toggle-button/ToggleButtonSizes.tsx
  docs/src/pages/components/toggle-button/ToggleButtons.tsx
Labels: PR: ready to ship, docs, typescript

#17778 [ButtonBase] Document how to use cursor not-allowed
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/tooltips/tooltips.md
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, component: ButtonBase, docs

#17830 [docs] Update "Who's using"
  docs/src/modules/components/HomeUsers.js
  docs/static/images/users/bethesda.png
  docs/static/images/users/bethesda.svg
  docs/static/images/users/capgemini.png
  docs/static/images/users/capgemini.svg
  docs/static/images/users/jpmorgan.png
  docs/static/images/users/jpmorgan.svg
  docs/static/images/users/nasa.png
  docs/static/images/users/nasa.svg
  docs/static/images/users/shutterstock.svg
  docs/static/images/users/uniqlo.png
  docs/static/images/users/uniqlo.svg
  docs/static/images/users/walmart-labs.png
  docs/static/images/users/walmart-labs.svg
Labels: docs

#17837 [BottomNavigationAction] Test in StrictMode
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.test.js
Labels: test

#17825 [Link] Warn when using plain function component in `component`
  docs/pages/api/link.md
  packages/material-ui/src/Link/Link.js
  packages/material-ui/src/Link/Link.test.js
Labels: PR: ready to ship, component: Link, docs

#17865 [docs] Fix RTL-toggle tooltip bug in app bar
  docs/src/modules/components/AppFrame.js
Labels: PR: ready to ship, component: Tooltip, docs

#17835 [TextareaAutoSize] Add ref prop
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.d.ts
Labels: PR: ready to ship, component: TextareaAutosize, typescript

#17841 [core] Reduce eslint-disables
  .eslintrc.js
  docs/pages/_document.js
  docs/src/modules/components/.eslintrc.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/Head.js
  docs/src/modules/components/HomeFooter.js
  docs/src/modules/components/HomePro.js
  docs/src/modules/components/useMarkdownDocsContents.js
  docs/src/modules/utils/generateMarkdown.js
  docs/src/modules/utils/textToHash.js
  docs/src/pages/components/links/Links.js
  docs/src/pages/components/links/Links.tsx
  docs/src/pages/components/material-icons/SearchIcons.js
  docs/src/pages/components/modal/SpringModal.js
  docs/src/pages/components/modal/SpringModal.tsx
  docs/src/sw.js
  docs/translations/translations.json
  package.json
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/styles/transitions.js
  packages/material-ui/src/styles/transitions.test.js
  test/utils/rerender.js
  yarn.lock
Labels: PR: ready to ship, core

#17852 [docs] September 2019 Update
  CHANGELOG.md
  README.md
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/august-2019-update.md
  docs/pages/blog/july-2019-update.md
  docs/pages/blog/june-2019-update.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/may-2019-update.md
  docs/pages/blog/september-2019-update.js
  docs/pages/blog/september-2019-update.md
  docs/src/pages.js
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/discover-more/roadmap/roadmap.md
  docs/static/blog/september-2019-update/autocomplete.png
  docs/static/blog/september-2019-update/autofill.png
  docs/static/blog/september-2019-update/button-icon.png
  docs/static/blog/september-2019-update/combobox.png
  docs/static/blog/september-2019-update/multiselect.png
Labels: PR: ready to ship, docs

#17870 [docs] Clarify aria role of Switch
  docs/src/pages/components/switches/switches.md
  packages/material-ui/src/Switch/Switch.test.js
Labels: accessibility, component: Switch, docs

#17874 [test] Add codesandbox CI config
  .codesandbox/ci.json
  package.json
Labels: test

#17878 [docs] document use of theme.mixins.toolbar & <Toolbar /> when using Appbar variant fixed
  docs/src/pages/components/app-bar/app-bar.md
Labels: docs

#17863 [TextField] Improve chrome autofill dark theme support
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: ready to ship, component: TextField, enhancement

#17873 [ExpansionPanelSummary] Test in StrictMode
  package.json
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.test.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Tab/Tab.test.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
  test/utils/init.d.ts
  test/utils/initMatchers.js
  yarn.lock
Labels: test

#17827 [docs] Lazy load landing page images
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/HomeUsers.js
  docs/src/modules/components/backers.md
Labels: PR: ready to ship, docs, enhancement

#17889 [docs] Fix grammar in docs
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/click-away-listener/click-away-listener.md
Labels: PR: ready to ship, docs

#17911 [docs] Fix "Unknown" typo
  docs/src/pages/components/steppers/HorizontalLinearAlternativeLabelStepper.js
  docs/src/pages/components/steppers/HorizontalLinearAlternativeLabelStepper.tsx
Labels: docs

#17902 [docs] Remove unused styles in EnhancedTable demo
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
Labels: PR: ready to ship, docs

#17893 [docs] Prevent layout shift when rendering ads
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppContent.js
  docs/src/modules/components/MarkdownDocs.js
Labels: PR: ready to ship, docs

#17894 [docs] Add demo for prominent app bar
  docs/src/pages/components/app-bar/ProminentAppBar.js
  docs/src/pages/components/app-bar/ProminentAppBar.tsx
  docs/src/pages/components/app-bar/app-bar.md
Labels: docs

#17914 [Popper] Revert position fix
  packages/material-ui/src/Popper/Popper.js
Labels: bug, component: Popper

#17897 [Snackbar] Change default role from 'alertdialog' to 'alert'
  docs/pages/api/snackbar-content.md
  docs/src/pages/components/snackbars/snackbars.md
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.test.js
Labels: accessibility, component: Snackbar

#17924 [core] Ignore meta, ctrl and alt in keyboard modality detection
  packages/material-ui/src/utils/focusVisible.js
Labels: accessibility, package: core

#17839 [Menu] Add new context menu demo
  docs/src/pages/components/menus/ContextMenu.js
  docs/src/pages/components/menus/ContextMenu.tsx
  docs/src/pages/components/menus/menus.md
Labels: PR: ready to ship, component: Menu, docs

#17912 [Select] Document how values are compared
  docs/pages/api/select.md
  packages/material-ui/src/Select/Select.js
Labels: PR: ready to ship, component: Select, docs

#17929 [core] Remove redundant production check
  packages/material-ui/src/styles/createPalette.js
Labels: PR: ready to ship, core

#17926 [docs] Replace negative actions from fab examples
  docs/src/pages/components/buttons/FloatingActionButtons.js
  docs/src/pages/components/buttons/FloatingActionButtons.tsx
  docs/src/pages/components/speed-dial/OpenIconSpeedDial.js
  docs/src/pages/components/speed-dial/OpenIconSpeedDial.tsx
  docs/src/pages/components/speed-dial/SpeedDialTooltipOpen.js
  docs/src/pages/components/speed-dial/SpeedDialTooltipOpen.tsx
  docs/src/pages/components/speed-dial/SpeedDials.js
  docs/src/pages/components/speed-dial/SpeedDials.tsx
Labels: PR: ready to ship, docs

#17880 [docs] Fix typos and grammar in getting started
  CHANGELOG.md
  docs/README.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/learn/learn.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/getting-started/supported-components/supported-components.md
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  docs/src/pages/getting-started/templates/templates.md
  docs/src/pages/getting-started/usage/usage.md
Labels: PR: ready to ship, docs

#17885 [TablePagination] Support display of all rows
  docs/pages/api/table-pagination.md
  docs/src/pages/components/tables/CustomPaginationActionsTable.js
  docs/src/pages/components/tables/CustomPaginationActionsTable.tsx
  docs/src/pages/components/tables/tables.md
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: PR: ready to ship, component: Table, enhancement

#17831 [docs] Show the JSX by default for small examples
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/utils/getJsxPreview.js
  docs/src/modules/utils/getJsxPreview.test.js
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/container/container.md
  docs/src/pages/components/grid-list/grid-list.md
  docs/src/pages/components/menus/MenuPopupState.js
  docs/src/pages/components/modal/ServerModal.js
  docs/src/pages/components/modal/ServerModal.tsx
  docs/src/pages/components/modal/SimpleModal.js
  docs/src/pages/components/modal/SimpleModal.tsx
  docs/src/pages/components/paper/PaperSheet.js
  docs/src/pages/components/paper/PaperSheet.tsx
  docs/src/pages/components/progress/CircularDeterminate.js
  docs/src/pages/components/progress/CircularDeterminate.tsx
  docs/src/pages/components/progress/CircularIndeterminate.js
  docs/src/pages/components/progress/CircularIndeterminate.tsx
  docs/src/pages/components/progress/CircularStatic.js
  docs/src/pages/components/progress/CircularStatic.tsx
  docs/src/pages/components/progress/LinearBuffer.js
  docs/src/pages/components/progress/LinearBuffer.tsx
  docs/src/pages/components/progress/LinearDeterminate.js
  docs/src/pages/components/progress/LinearDeterminate.tsx
  docs/src/pages/components/progress/LinearIndeterminate.js
  docs/src/pages/components/progress/LinearIndeterminate.tsx
  docs/src/pages/components/progress/LinearQuery.js
  docs/src/pages/components/progress/LinearQuery.tsx
  docs/src/pages/components/progress/progress.md
  docs/src/pages/components/rating/HalfRating.js
  docs/src/pages/components/rating/HalfRating.tsx
  docs/src/pages/components/skeleton/skeleton.md
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/components/use-media-query/use-media-query.md
  docs/src/pages/system/borders/borders.md
  docs/src/pages/system/display/display.md
  docs/src/pages/system/flexbox/flexbox.md
  docs/src/pages/system/palette/palette.md
  docs/src/pages/system/positions/positions.md
  docs/src/pages/system/shadows/shadows.md
  docs/src/pages/system/sizing/sizing.md
  docs/src/pages/system/spacing/spacing.md
  docs/src/pages/system/typography/typography.md
  docs/translations/translations.json
Labels: PR: ready to ship, docs

#17695 [styles] Add ref prop to withTheme
  packages/material-ui-styles/src/withTheme/withTheme.d.ts
  packages/material-ui-styles/test/styles.spec.tsx
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: package: core, package: styles, typescript

#17715 [ListSubheader] Reduce specificity of typescript type
  packages/material-ui/src/ListSubheader/ListSubheader.d.ts
Labels: package: core, typescript

#17939 [Modal] Fix tabIndex customization
  packages/material-ui/src/Modal/Modal.js
Labels: PR: ready to ship, bug, component: Modal

#17963 [FormControlLabel] Add missing CSS class keys to TS
  packages/material-ui/src/FormControlLabel/FormControlLabel.d.ts
Labels: package: core, typescript

#17933 [Table] Demo multiple group headers
  docs/src/pages/components/tables/SpanningTable.js
  docs/src/pages/components/tables/SpanningTable.tsx
Labels: PR: ready to ship, component: Table, docs

#17967 [docs] README: change material design link to use material.io
  README.md
Labels: docs

#17941 [SwipeableDrawer] Change close swipe behavior and fix touch bug
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: PR: ready to ship, bug, component: SwipeableDrawer

#17968 [Table] Fix sticky header interaction with checkboxes
  packages/material-ui/src/TableCell/TableCell.js
Labels: PR: ready to ship, bug, component: Table

#17984 [docs] Fix typo in Paperbase theme
  docs/src/pages/premium-themes/paperbase/Header.js
  docs/src/pages/premium-themes/paperbase/Header.tsx
Labels: PR: ready to ship, docs

#17942 [SnackbarContent] Convert unit tests to @testing-library/react
  packages/material-ui/src/SnackbarContent/SnackbarContent.test.js
Labels: PR: ready to ship, test

#17943 [docs] Document mui-rff
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: ready to ship, docs

#17979 [docs] Improve TabelCell description
  docs/pages/api/table-cell.md
  packages/material-ui/src/TableCell/TableCell.js
Labels: PR: ready to ship, component: Table, docs

#17972 [Modal] Improve Gatsby support
  docs/src/pages/components/modal/ServerModal.js
  docs/src/pages/components/modal/ServerModal.tsx
  docs/src/pages/components/modal/SpringModal.js
  docs/src/pages/components/modal/SpringModal.tsx
  docs/src/pages/components/popper/SpringPopper.js
  docs/src/pages/components/popper/SpringPopper.tsx
  docs/src/pages/components/tree-view/CustomizedTreeView.js
  docs/src/pages/components/tree-view/CustomizedTreeView.tsx
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/ModalManager.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  packages/material-ui/src/test-utils/createMount.js
Labels: PR: ready to ship, bug, component: Modal

#17969 [docs] Add demo for actions in ExpansionPanelSummary
  docs/src/pages/components/expansion-panels/ActionsInExpansionPanelSummary.js
  docs/src/pages/components/expansion-panels/ActionsInExpansionPanelSummary.tsx
  docs/src/pages/components/expansion-panels/DetailedExpansionPanel.js
  docs/src/pages/components/expansion-panels/DetailedExpansionPanel.tsx
  docs/src/pages/components/expansion-panels/expansion-panels.md
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
Labels: PR: ready to ship, component: ExpansionPanel, docs

#17982 [core] Custom deepmerge implementation
  docs/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-styles/src/getStylesCreator/getStylesCreator.js
  packages/material-ui-system/package.json
  packages/material-ui-system/src/merge.js
  packages/material-ui-utils/src/deepmerge.js
  packages/material-ui-utils/src/deepmerge.test.js
  packages/material-ui-utils/src/index.js
  packages/material-ui/package.json
  packages/material-ui/src/styles/createMuiTheme.js
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createTypography.js
  yarn.lock
Labels: PR: ready to ship, performance

#17985 [Slider] Format value passed to ValueLabelComponent
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/Slider/ValueLabel.js
Labels: PR: ready to ship, component: Slider, enhancement

#18008 [test] Run tests periodically with `react@next`
  .circleci/config.yml
  scripts/use-react-dist-tag.js
Labels: test

#17892 [Select] Add labelId to implement proper labelling
  docs/pages/api/select.md
  docs/src/pages/components/selects/ControlledOpenSelect.js
  docs/src/pages/components/selects/ControlledOpenSelect.tsx
  docs/src/pages/components/selects/CustomizedSelects.js
  docs/src/pages/components/selects/CustomizedSelects.tsx
  docs/src/pages/components/selects/DialogSelect.js
  docs/src/pages/components/selects/DialogSelect.tsx
  docs/src/pages/components/selects/MultipleSelect.js
  docs/src/pages/components/selects/MultipleSelect.tsx
  docs/src/pages/components/selects/SimpleSelect.js
  docs/src/pages/components/selects/SimpleSelect.tsx
  docs/src/pages/components/selects/selects.md
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/TextField/TextField.test.js
Labels: accessibility, component: Select

#18020 [docs] Workaround next.js AMP support limitation
  docs/pages/_document.js
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
Labels: PR: ready to ship, bug, docs

#18011 [Slider] Apply the disabled pseudo class on the thumb too
  docs/pages/api/slider.md
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, component: Slider, enhancement

#18024 [test] Add silent option to CodeSandbox CI config
  .codesandbox/ci.json
Labels: test

#17976 [test] Only build component packages for codesandbox
  .codesandbox/ci.json
Labels: test

#18040 [docs] Fix a typo while reading the doc :)
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs

#18034 [Switch] Fix hover style on mobile
  packages/material-ui/src/Switch/Switch.js
Labels: PR: ready to ship, bug, component: Switch

#18032 [Dialog] Fix labelledby and describedby placement
  docs/pages/api/dialog.md
  docs/src/pages/components/dialogs/ConfirmationDialog.js
  docs/src/pages/components/dialogs/ConfirmationDialog.tsx
  docs/src/pages/components/dialogs/CustomizedDialogs.js
  docs/src/pages/components/dialogs/CustomizedDialogs.tsx
  docs/src/pages/components/dialogs/DraggableDialog.js
  docs/src/pages/components/dialogs/DraggableDialog.tsx
  docs/src/pages/components/dialogs/FullScreenDialog.js
  docs/src/pages/components/dialogs/FullScreenDialog.tsx
  docs/src/pages/components/dialogs/MaxWidthDialog.js
  docs/src/pages/components/dialogs/MaxWidthDialog.tsx
  docs/src/pages/components/dialogs/ResponsiveDialog.js
  docs/src/pages/components/dialogs/ResponsiveDialog.tsx
  docs/src/pages/components/dialogs/ScrollDialog.js
  docs/src/pages/components/dialogs/ScrollDialog.tsx
  docs/src/pages/components/dialogs/SimpleDialog.js
  docs/src/pages/components/dialogs/SimpleDialog.tsx
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
Labels: accessibility, component: Dialog

#18038 [Table] Improve RTL virtualized demo support
  docs/src/pages/components/tables/ReactVirtualizedTable.js
  docs/src/pages/components/tables/ReactVirtualizedTable.tsx
Labels: PR: ready to ship, component: Table, docs

#18033 [docs] Explain checks in Contributing
  CONTRIBUTING.md
Labels: docs

#18026 [Avatar] Revert #17694, correct the API docs, add tests
  docs/pages/api/avatar.md
  packages/material-ui/src/Avatar/Avatar.js
  packages/material-ui/src/Avatar/Avatar.test.js
Labels: PR: ready to ship, component: Avatar

#18027 [Select] Better support Preact
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, component: Select, enhancement

#18037 [Tab] Run tests in StrictMode
  packages/material-ui/src/Tab/Tab.test.js
Labels: PR: ready to ship, package: core, test

#18030 [system] Support style.transform return React.CSSProperties
  packages/material-ui-system/src/index.d.ts
Labels: PR: ready to ship, package: system, typescript

#18073 [test] Use Performance implementation of vendors
  test/karma.tests.js
  test/utils/performance.js
Labels: test

#18072 [docs] Add warning disabled button in safari
  docs/src/pages/components/tooltips/tooltips.md
Labels: PR: ready to ship, component: Tooltip, docs

#17483 [docs] Break up TextField demos
  docs/src/pages/components/text-fields/BasicTextFields.js
  docs/src/pages/components/text-fields/BasicTextFields.tsx
  docs/src/pages/components/text-fields/FilledTextFields.js
  docs/src/pages/components/text-fields/FilledTextFields.tsx
  docs/src/pages/components/text-fields/FormPropsTextFields.js
  docs/src/pages/components/text-fields/FormPropsTextFields.tsx
  docs/src/pages/components/text-fields/InputAdornments.js
  docs/src/pages/components/text-fields/InputAdornments.tsx
  docs/src/pages/components/text-fields/LayoutTextFields.js
  docs/src/pages/components/text-fields/LayoutTextFields.tsx
  docs/src/pages/components/text-fields/MultilineTextFields.js
  docs/src/pages/components/text-fields/MultilineTextFields.tsx
  docs/src/pages/components/text-fields/OutlinedTextFields.js
  docs/src/pages/components/text-fields/OutlinedTextFields.tsx
  docs/src/pages/components/text-fields/SelectTextFields.js
  docs/src/pages/components/text-fields/SelectTextFields.tsx
  docs/src/pages/components/text-fields/StateTextFields.js
  docs/src/pages/components/text-fields/StateTextFields.tsx
  docs/src/pages/components/text-fields/TextFieldMargins.js
  docs/src/pages/components/text-fields/TextFieldMargins.tsx
  docs/src/pages/components/text-fields/TextFields.js
  docs/src/pages/components/text-fields/TextFields.tsx
  docs/src/pages/components/text-fields/ValidationTextFields.js
  docs/src/pages/components/text-fields/ValidationTextFields.tsx
  docs/src/pages/components/text-fields/text-fields.md
Labels: PR: ready to ship, component: TextField, docs

#17643 [docs] Move "TextField" section higher in the "Selects" page
  docs/src/pages/components/selects/selects.md
Labels: docs

#18045 [Drawer] Improve "ResponsiveDrawer" demo
  docs/src/pages/components/drawers/ResponsiveDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.tsx
Labels: component: Drawer, docs

#18076 [test] Fix tests failing on subsequent runs in watchmode
  packages/material-ui-lab/src/ToggleButton/ToggleButton.test.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/Fab/Fab.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/test-utils/createRender.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/withWidth/withWidth.test.js
  packages/material-ui/test/integration/Select.test.js
  test/utils/createServerRender.js
  test/utils/init.js
Labels: test

#18084 [SpeedDial] Fix fab items alignment
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
Labels: bug, lab: SpeedDial

#18088 [docs] Improve TypeScript support of Next.js examples
  docs/pages/_document.js
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
Labels: PR: ready to ship, docs, typescript

#18093 [docs] Rename interface headCell to HeadCell
  docs/src/pages/components/tables/EnhancedTable.tsx
Labels: PR: ready to ship, docs, typescript

#18096 [Autocomplete] Fix typo + types
  docs/pages/api/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: PR: ready to ship, component: Autocomplete, docs

#17993 [SwipeableDrawer] Only trigger a swipe when appropriate
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: PR: ready to ship, bug, component: SwipeableDrawer

#18071 [docs] Add ScaffoldHub to ads and example projects
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdCodeFund.js
  docs/src/modules/components/AdInHouse.js
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/static/in-house/scaffoldhub.png
  docs/static/in-house/themes.png
Labels: PR: ready to ship, docs

#17829 [Chip] Add ripple when clickable
  docs/pages/api/chip.md
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
Labels: PR: ready to ship, component: Chip, enhancement

#17891 [TextField] Add support for "secondary" color
  docs/pages/api/filled-input.md
  docs/pages/api/form-control.md
  docs/pages/api/form-label.md
  docs/pages/api/input-base.md
  docs/pages/api/input-label.md
  docs/pages/api/input.md
  docs/pages/api/outlined-input.md
  docs/pages/api/text-field.md
  packages/material-ui/src/FilledInput/FilledInput.d.ts
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/FormControl/FormControl.d.ts
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/FormLabel/FormLabel.d.ts
  packages/material-ui/src/FormLabel/FormLabel.js
  packages/material-ui/src/Input/Input.d.ts
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputBase/InputBase.d.ts
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.d.ts
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/TextField/TextField.js
Labels: PR: ready to ship, component: TextField, enhancement

#18085 [ExpansionPanel] Use context instead of cloneElement
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanelContext.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.d.ts
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
Labels: component: ExpansionPanel, enhancement

#18100 [test] Build all `@material-ui/*` packages for Codesandbox CI
  .codesandbox/ci.json
Labels: test

#18118 [Button] Fix horizontal padding on small button with icon
  packages/material-ui/src/Button/Button.js
Labels: PR: ready to ship, component: Button, enhancement

#18117 [Autocomplete] Fix multiple blur/focus crash
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, component: Autocomplete
