Repository mui/material-ui, pull requests merged in 2019-03, with the labels that each got.

#14704 [core] Fix .yarnrc syntax
  .yarnrc
Labels: bug, core

#14701 [docs] Link the mui-tables project in the documentation
  docs/src/pages/demos/tables/tables.md
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: good for merge, docs

#14703 [docs] Generate unique hash
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/pages/guides/interoperability/interoperability.md
  packages/material-ui-docs/src/MarkdownElement/MarkdownElement.js
  packages/material-ui-docs/src/MarkdownElement/textToHash.js
  packages/material-ui-docs/src/MarkdownElement/textToHash.test.js
Labels: docs

#14699 [core] Use official prop-type cache invalidation
  packages/material-ui-styles/src/styled.js
  packages/material-ui-styles/src/styled.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
Labels: PR: good for merge, test

#14561 [Table] Add dense support
  docs/src/pages/demos/tables/CustomPaginationActionsTable.hooks.js
  docs/src/pages/demos/tables/DenseTable.js
  docs/src/pages/demos/tables/EnhancedTable.hooks.js
  docs/src/pages/demos/tables/EnhancedTable.js
  docs/src/pages/demos/tables/ReactVirtualizedTable.js
  docs/src/pages/demos/tables/SimpleTable.js
  docs/src/pages/demos/tables/tables.md
  packages/material-ui/src/Table/Table.d.ts
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/Table/TableContext.d.ts
  packages/material-ui/src/TableBody/TableBody.js
  packages/material-ui/src/TableCell/TableCell.d.ts
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableCell/TableCell.test.js
  packages/material-ui/src/TableFooter/TableFooter.js
  packages/material-ui/src/TableHead/TableHead.js
  packages/material-ui/src/TableRow/TableRow.js
  pages/api/table-cell.md
  pages/api/table-row.md
  pages/api/table.md
  test/regressions/tests/Table/DenseCheckboxTable.js
  test/regressions/tests/Table/PaddingTable.js
Labels: PR: good for merge, breaking change, component: Table, material design spec

#14485 [docs] Add simple list typescript demo
  docs/src/pages/demos/lists/SimpleList.tsx
  packages/material-ui/src/ListItem/ListItem.d.ts
  pages/demos/lists.js
Labels: docs, typescript

#14697 [styles] Fix the theme update support
  docs/src/pages/css-in-js/basics/StressTest.js
  docs/src/pages/css-in-js/basics/basics.md
  packages/material-ui-styles/src/makeStyles.js
  packages/material-ui-styles/src/makeStyles.test.js
  packages/material-ui-styles/src/withStyles.test.js
  packages/material-ui/src/Modal/TrapFocus.js
  test/regressions/index.js
Labels: bug, package: styles

#14715 [Container] Fix two exceptions
  docs/src/modules/components/HomeBackers.js
  docs/src/modules/components/HomeFooter.js
  packages/material-ui-lab/src/Container/Container.js
  packages/material-ui-lab/src/Container/Container.test.js
  packages/material-ui/src/Dialog/Dialog.js
  pages/index.js
Labels: bug

#14722 [core] Replace hoistMuiStatics usages
  packages/material-ui-icons/builder.js
  packages/material-ui-styles/src/withStyles.js
  packages/material-ui-styles/src/withStyles.test.js
  packages/material-ui-styles/src/withTheme.js
  packages/material-ui-styles/src/withTheme.test.js
  packages/material-ui-utils/src/hoistMuiStatics.js
  packages/material-ui-utils/src/index.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/utils/withForwardedRef.js
Labels: PR: good for merge, core

#14714 [Tabs] forward refs
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: PR: good for merge, breaking change, component: Tabs

#14725 [Button] New filled variant override example
  docs/src/pages/demos/text-fields/CustomizedInputs.js
  docs/src/pages/demos/text-fields/CustomizedInputs.tsx
Labels: PR: good for merge, component: TextField, docs

#14719 [FilledInput] Simplify border overrides
  packages/material-ui/src/FilledInput/FilledInput.js
Labels: PR: good for merge, component: TextField

#14728 [docs] Fix Drawer demos accessibility
  docs/src/pages/demos/drawers/SwipeableTemporaryDrawer.hooks.js
  docs/src/pages/demos/drawers/SwipeableTemporaryDrawer.js
  docs/src/pages/demos/drawers/TemporaryDrawer.hooks.js
  docs/src/pages/demos/drawers/TemporaryDrawer.js
Labels: PR: good for merge, accessibility, bug, docs

#14723 [test] Ignore the image load issue
  test/regressions/index.js
Labels: PR: good for merge, test

#14726 [icons] Fix builder failing on Windows
  packages/material-ui-icons/builder.js
Labels: PR: good for merge, bug, package: icons

#14720 [docs] Add "Portals" to the styled components documentation
  docs/src/pages/guides/interoperability/StyledComponentsPortal.js
  docs/src/pages/guides/interoperability/interoperability.md
Labels: PR: good for merge, docs

#14727 [docs] Specify PaletteIntention syntax
  docs/src/pages/customization/themes/themes.md
Labels: PR: good for merge, docs

#14729 [CssBaseline] Apply body2 styling to the body element
  packages/material-ui/src/CssBaseline/CssBaseline.js
Labels: PR: good for merge, component: CssBaseline, enhancement

#14649 [IconButton] Add a size prop
  docs/src/pages/demos/buttons/ButtonSizes.js
  packages/material-ui/src/Icon/Icon.js
  packages/material-ui/src/IconButton/IconButton.d.ts
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/SvgIcon/SvgIcon.js
  pages/api/icon-button.md
Labels: PR: good for merge, component: IconButton, enhancement

#14737 [Popover] forward refs
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
Labels: PR: good for merge, breaking change, component: Popover

#14738 [Modal] Forward refs
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Popover/Popover.test.js
Labels: PR: good for merge, breaking change, component: Modal

#14745 [createSpacing] Narrow return type
  packages/material-ui/src/styles/createSpacing.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: bug, typescript

#13676 [styles] Improve ref forwarding
  docs/src/modules/components/AppDrawerNavItem.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/PageTitle.js
  docs/src/pages/css-in-js/api/api.md
  packages/material-ui-styles/src/RefHolder.js
  packages/material-ui-styles/src/install.js
  packages/material-ui-styles/src/withStyles.js
  packages/material-ui-styles/src/withStyles.test.js
  packages/material-ui-styles/src/withTheme.js
  packages/material-ui-styles/src/withTheme.test.js
  packages/material-ui-utils/src/chainPropTypes.js
  packages/material-ui-utils/src/exactProp.js
  packages/material-ui/src/ButtonBase/createRippleHandler.js
  packages/material-ui/src/CircularProgress/CircularProgress.js
  packages/material-ui/src/Divider/Divider.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/styles/MuiThemeProvider.js
  packages/material-ui/src/styles/withStyles.js
  packages/material-ui/src/styles/withTheme.js
  packages/material-ui/src/test-utils/testRef.js
  packages/material-ui/src/utils/deprecatedPropType.js
  packages/material-ui/src/utils/requirePropFactory.js
  packages/material-ui/src/utils/unsupportedProp.js
Labels: breaking change, enhancement, package: styles

#14741 [docs] Document the migration from v3 to v4
  docs/src/modules/components/AppTableOfContents.js
  docs/src/pages/css-in-js/basics/basics.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/guides/migration-v0x/migration-v0x.md
  docs/src/pages/guides/migration-v3/migration-v3.md
  docs/src/pages/system/basics/basics.md
  packages/material-ui-lab/src/Container/Container.js
  pages/_app.js
  pages/guides/migration-v3.js
  pages/lab/api/container.md
Labels: PR: good for merge, docs

#14750 [Chip] Correct Chip Typescript Definition Class Keys
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  pages/api/chip.md
Labels: PR: good for merge, component: Chip, typescript

#14771 [docs] Include `innerRef` breaking change in changelog
  CHANGELOG.md
Labels: PR: good for merge, breaking change, docs

#14779 [ci] Don't use -browser images
  .circleci/config.yml
Labels: bug, test

#14641 [SpeedDialAction] Pass onTouchEnd event onto called onClick handler
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
Labels: PR: good for merge, lab: SpeedDial

#14743 [docs] before() is Mocha; beforeEach() is Jest
  docs/src/pages/guides/testing/testing.md
Labels: PR: good for merge, docs, test

#14757 [MenuList] Remove focus method and test dependencies on instance methods
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/test/integration/MenuList.test.js
Labels: PR: good for merge, breaking change, component: MenuList, test

#14775 [Dialog] Forward refs
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
Labels: PR: good for merge, breaking change, component: Dialog

#14781 [docs] Fix IE 11 build
  babel.config.js
  package.json
Labels: bug, docs

#14593 [useMediaQuery] Remove unstable prefix
  docs/src/pages/layout/use-media-query/ServerSide.js
  docs/src/pages/layout/use-media-query/SimpleMediaQuery.js
  docs/src/pages/layout/use-media-query/ThemeHelper.js
  docs/src/pages/layout/use-media-query/UseWidth.js
  docs/src/pages/layout/use-media-query/use-media-query.md
  docs/src/pages/premium-themes/instapaper/pages/instapaper/Profile.js
  packages/material-ui-styles/src/index.js
  packages/material-ui/src/styles/getThemeProps.js
  packages/material-ui/src/styles/getThemeProps.test.js
  packages/material-ui/src/styles/index.js
  packages/material-ui/src/useMediaQuery/index.d.ts
  packages/material-ui/src/useMediaQuery/index.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.d.ts
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/useMediaQuery/useMediaQueryTheme.js
  packages/material-ui/src/useMediaQuery/useMediaQueryTheme.test.js
  packages/material-ui/src/withWidth/withWidth.js
Labels: PR: good for merge, enhancement

#14799 [MenuItem] Remove fixed height
  packages/material-ui/src/MenuItem/MenuItem.js
Labels: PR: good for merge, breaking change, component: Menu

#14758 [IconButton] Implement a new edge prop
  docs/src/modules/components/AppFrame.js
  docs/src/pages/demos/app-bar/BottomAppBar.js
  docs/src/pages/demos/app-bar/BottomAppBar.tsx
  docs/src/pages/demos/app-bar/ButtonAppBar.js
  docs/src/pages/demos/app-bar/ButtonAppBar.tsx
  docs/src/pages/demos/app-bar/DenseAppBar.js
  docs/src/pages/demos/app-bar/DenseAppBar.tsx
  docs/src/pages/demos/app-bar/MenuAppBar.hooks.js
  docs/src/pages/demos/app-bar/MenuAppBar.js
  docs/src/pages/demos/app-bar/MenuAppBar.tsx
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.hooks.js
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.js
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.tsx
  docs/src/pages/demos/app-bar/SearchAppBar.js
  docs/src/pages/demos/app-bar/SearchAppBar.tsx
  docs/src/pages/demos/dialogs/FullScreenDialog.hooks.js
  docs/src/pages/demos/dialogs/FullScreenDialog.js
  docs/src/pages/demos/drawers/MiniDrawer.hooks.js
  docs/src/pages/demos/drawers/PersistentDrawerLeft.hooks.js
  docs/src/pages/demos/drawers/PersistentDrawerRight.hooks.js
  docs/src/pages/demos/drawers/ResponsiveDrawer.hooks.js
  docs/src/pages/demos/snackbars/CustomizedSnackbars.hooks.js
  docs/src/pages/demos/snackbars/FabIntegrationSnackbar.hooks.js
  docs/src/pages/demos/snackbars/FabIntegrationSnackbar.js
  docs/src/pages/getting-started/page-layout-examples/dashboard/Dashboard.js
  docs/src/pages/style/color/ColorDemo.js
  packages/material-ui/src/AppBar/AppBar.js
  packages/material-ui/src/IconButton/IconButton.d.ts
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/IconButton/IconButton.test.js
  pages/api/icon-button.md
Labels: PR: good for merge, component: IconButton, enhancement

#14796 [test] Increase the Codecov threshold
  .codecov.yml
Labels: PR: good for merge, test

#14804 [test] Disable the user sandbox security feature
  packages/material-ui/test/umd/run.js
  test/karma.conf.js
Labels: PR: good for merge, test

#14795 [Dialog] Add a dividers boolean prop
  docs/src/pages/demos/dialogs/ConfirmationDialog.hooks.js
  docs/src/pages/demos/dialogs/CustomizedDialog.js
  docs/src/pages/demos/dialogs/ScrollDialog.hooks.js
  docs/src/pages/demos/dialogs/SimpleDialog.hooks.js
  packages/material-ui/src/DialogActions/DialogActions.js
  packages/material-ui/src/DialogActions/DialogActions.test.js
  packages/material-ui/src/DialogContent/DialogContent.js
  packages/material-ui/src/DialogContentText/DialogContentText.js
  packages/material-ui/src/DialogTitle/DialogTitle.js
  pages/api/dialog-actions.md
  pages/api/dialog-content.md
Labels: PR: good for merge, breaking change, component: Dialog, enhancement

#14811 [docs] Speed-up pull requests build
  docs/src/modules/components/Notifications.js
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.js
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.tsx
  next.config.js
Labels: PR: good for merge, docs

#14822 [docs] Simplify the /examples
  CHANGELOG.md
  docs/src/modules/utils/helpers.js
  examples/create-react-app-next/src/withRoot.js
  examples/gatsby-next/plugins/gatsby-plugin-material-ui/gatsby-browser.js
  examples/gatsby-next/plugins/gatsby-plugin-material-ui/gatsby-ssr.js
  examples/nextjs-next-with-typescript/pages/_app.tsx
  examples/nextjs-next-with-typescript/pages/about.tsx
  examples/nextjs-next-with-typescript/pages/index.tsx
  examples/nextjs-next-with-typescript/src/bootstrap.ts
  examples/nextjs-next/pages/_app.js
  examples/nextjs-next/pages/about.js
  examples/nextjs-next/pages/index.js
  examples/nextjs-next/src/bootstrap.js
Labels: docs

#14824 [docs] Add missing breaking changes from #14795
  CHANGELOG.md
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: PR: good for merge, docs

#14825 [TouchRipple] Remove findDOMNode usage
  packages/material-ui/src/ButtonBase/TouchRipple.d.ts
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/ButtonBase/TouchRipple.test.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  pages/api/expansion-panel-summary.md
Labels: PR: good for merge, enhancement

#14828 [ExpansionPanelSummary] Styling simplifications
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
Labels: PR: good for merge, component: ExpansionPanel, enhancement

#14831 [docs] Minor fixes to system demos
  docs/src/pages/system/flexbox/flexbox.md
  docs/src/pages/system/shadows/Demo.js
Labels: PR: good for merge, docs, package: system

#14829 [Popper] Use refs instead of findDOMNode
  packages/material-ui/src/Popper/Popper.js
Labels: PR: good for merge, enhancement

#14826 [Divider] Remove Divider inset prop
  docs/src/pages/demos/dividers/dividers.md
  packages/material-ui/src/Divider/Divider.d.ts
  packages/material-ui/src/Divider/Divider.js
  packages/material-ui/src/Divider/Divider.test.js
  pages/api/divider.md
Labels: PR: good for merge, breaking change, component: Divider

#14838 [docs] Enable the i18n search
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/MarkdownLinks.js
  docs/src/pages.js
  docs/src/pages/customization/themes/themes.md
  docs/src/pages/discover-more/languages/Languages.js
  docs/src/pages/discover-more/languages/languages.md
  docs/src/pages/versions/LatestVersions.js
  docs/src/server.js
  docs/translations/translations.json
  pages/_app.js
  pages/discover-more/languages.js
  test/regressions/index.js
Labels: docs

#14844 [Tab] Fix alignment when using multiple children
  packages/material-ui/src/Tab/Tab.js
Labels: PR: good for merge, component: Tabs

#14833 [TextField] Convert to function component
  packages/material-ui/src/TextField/TextField.js
Labels: PR: good for merge, component: TextField, enhancement

#14849 [docs] Fix babel generator extra line
  docs/scripts/formattedTSDemos.js
  docs/src/pages/demos/buttons/ButtonBases.js
  docs/src/pages/demos/buttons/ContainedButtons.js
  docs/src/pages/demos/buttons/OutlinedButtons.js
  docs/src/pages/demos/buttons/TextButtons.js
  docs/src/pages/demos/text-fields/ComposedTextField.js
  docs/src/pages/demos/text-fields/CustomizedInputs.js
  docs/src/pages/demos/text-fields/FilledInputAdornments.js
  docs/src/pages/demos/text-fields/FilledTextFields.js
  docs/src/pages/demos/text-fields/InputAdornments.js
  docs/src/pages/demos/text-fields/InputWithIcon.js
  docs/src/pages/demos/text-fields/Inputs.js
  docs/src/pages/demos/text-fields/OutlinedInputAdornments.js
  docs/src/pages/demos/text-fields/OutlinedTextFields.js
  docs/src/pages/demos/text-fields/TextFieldMargins.js
  docs/src/pages/demos/text-fields/TextFields.js
Labels: PR: good for merge, docs

#14852 [core] Stop using @types/jss
  packages/material-ui/package.json
  packages/material-ui/src/styles/withStyles.d.ts
  yarn.lock
Labels: PR: good for merge, typescript

#14837 [Slider] Fix possible touchstart leak
  packages/material-ui-lab/src/Slider/Slider.js
Labels: bug, lab: Slider

#14836 [docs] Remove unnecessary findDOMNode usage
  docs/src/pages/demos/selects/NativeSelects.js
  docs/src/pages/demos/selects/SimpleSelect.js
  docs/src/pages/demos/text-fields/ComposedTextField.js
  docs/src/pages/demos/text-fields/ComposedTextField.tsx
  packages/material-ui/src/FormLabel/FormLabel.d.ts
  packages/material-ui/src/InputLabel/InputLabel.d.ts
Labels: PR: good for merge, docs

#14850 [core] Babel plugin unwrap createStyles now handle material-ui/styles package
  packages/babel-plugin-unwrap-createStyles/README.md
  packages/babel-plugin-unwrap-createStyles/package.json
  packages/babel-plugin-unwrap-createStyles/src/unwrapCreateStyles.js
  packages/babel-plugin-unwrap-createStyles/test/__fixtures__/styles/code.js
  packages/babel-plugin-unwrap-createStyles/test/__fixtures__/styles/output.js
Labels: PR: good for merge, typescript

#14851 [core] Clean useless import + Fix ButtonBase
  packages/material-ui-lab/src/Slider/Slider.d.ts
  packages/material-ui-lab/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/FilledInput/FilledInput.d.ts
  packages/material-ui/src/IconButton/IconButton.d.ts
  packages/material-ui/src/Input/Input.d.ts
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/ListItem/ListItem.d.ts
  packages/material-ui/src/MenuItem/MenuItem.d.ts
  packages/material-ui/src/MobileStepper/MobileStepper.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/OutlinedInput/NotchedOutline.d.ts
  packages/material-ui/src/OutlinedInput/OutlinedInput.d.ts
  packages/material-ui/src/TablePagination/TablePaginationActions.d.ts
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/styles/createMixins.d.ts
  packages/material-ui/src/styles/createStyles.d.ts
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/transitions/transition.d.ts
Labels: PR: good for merge, typescript

#14802 [styles] Make CSSProperties public
  packages/material-ui-styles/src/index.d.ts
Labels: package: styles, typescript

#14848 [Table] Fix demo parse rowsPerPage value as an integer
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
Labels: PR: good for merge, component: Table, docs

#14832 [test] Fix unwrapCreateStyles tests for windows
  packages/babel-plugin-unwrap-createStyles/test/.gitattributes
Labels: PR: good for merge, test

#14845 [Box] Remove the unstable prefix & import the right version
  docs/src/pages/premium-themes/instapaper/pages/instapaper/Profile.js
  docs/src/pages/premium-themes/tweeper/components/tweeper/Tweet.js
  docs/src/pages/premium-themes/tweeper/pages/tweeper/Profile.js
  docs/src/pages/system/basics/Demo.js
  docs/src/pages/system/basics/RealWorld.js
  docs/src/pages/system/basics/basics.md
  docs/src/pages/system/borders/BorderAdditive.js
  docs/src/pages/system/borders/BorderColor.js
  docs/src/pages/system/borders/BorderRadius.js
  docs/src/pages/system/borders/BorderSubtractive.js
  docs/src/pages/system/display/Block.js
  docs/src/pages/system/display/Hiding.js
  docs/src/pages/system/display/Inline.js
  docs/src/pages/system/display/Print.js
  docs/src/pages/system/flexbox/AlignContent.js
  docs/src/pages/system/flexbox/AlignItems.js
  docs/src/pages/system/flexbox/AlignSelf.js
  docs/src/pages/system/flexbox/Display.js
  docs/src/pages/system/flexbox/FlexDirection.js
  docs/src/pages/system/flexbox/FlexGrow.js
  docs/src/pages/system/flexbox/FlexShrink.js
  docs/src/pages/system/flexbox/FlexWrap.js
  docs/src/pages/system/flexbox/JustifyContent.js
  docs/src/pages/system/flexbox/Order.js
  docs/src/pages/system/palette/BackgroundColor.js
  docs/src/pages/system/palette/Color.js
  docs/src/pages/system/positions/ZIndex.js
  docs/src/pages/system/shadows/Demo.js
  docs/src/pages/system/sizing/Height.js
  docs/src/pages/system/sizing/Values.js
  docs/src/pages/system/sizing/Width.js
  docs/src/pages/system/spacing/Demo.js
  docs/src/pages/system/spacing/HorizontalCentering.js
  docs/src/pages/system/typography/FontFamily.js
  docs/src/pages/system/typography/FontSize.js
  docs/src/pages/system/typography/FontWeight.js
  docs/src/pages/system/typography/TextAlignment.js
  docs/src/pages/utils/box/box-ru.md
  docs/src/pages/utils/box/box.md
  packages/material-ui-benchmark/src/server.js
  packages/material-ui-benchmark/src/styles.js
  packages/material-ui/src/Box/Box.d.ts
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/Box/index.d.ts
  packages/material-ui/src/Box/index.js
Labels: PR: good for merge, bug

#14859 [Grid] Adding missing 'spacing-xs-*' to TypeScript definition
  packages/material-ui/src/Grid/Grid.d.ts
Labels: PR: good for merge, component: Grid, typescript

#13664 [ButtonBase] Fix findDOMNode deprecation warnings
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/Link.js
  docs/src/pages/demos/buttons/buttons.md
  docs/src/pages/guides/composition/ComponentProperty.js
  docs/src/pages/guides/composition/composition.md
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  pages/_app.js
  pages/api/button-base.md
  pages/index.js
Labels: PR: good for merge, breaking change, component: ButtonBase

#14664 [Tabs] Fix an infinite loop
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: PR: good for merge, bug, component: Tabs

#14869 [NoSsr] Add missing defer prop to TypeScript definition
  packages/material-ui/src/NoSsr/NoSsr.d.ts
Labels: PR: good for merge, package: core, typescript

#14863 [SvgIcon] Rename nativeColor -> htmlColor
  docs/src/modules/utils/textToHash.js
  docs/src/modules/utils/textToHash.test.js
  docs/src/pages/style/color/ColorDemo.js
  docs/src/pages/versions/LatestVersions.js
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
  packages/material-ui/src/SvgIcon/SvgIcon.js
  pages/api/svg-icon.md
Labels: PR: good for merge, breaking change, component: SvgIcon

#14877 [core] Remove dom-helpers dependency
  packages/material-ui/package.json
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/ModalManager.js
  packages/material-ui/src/Modal/ModalManager.test.js
  packages/material-ui/src/Modal/isOverflowing.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Tabs/ScrollbarSize.js
  packages/material-ui/src/utils/getScrollbarSize.js
Labels: PR: good for merge, core, performance

#14879 [TextField] Add typing for theme wide props override
  packages/material-ui/src/styles/props.d.ts
Labels: PR: good for merge, component: TextField, typescript

#14881 [Autocomplete] Add a downshift variant demo
  docs/src/pages/demos/autocomplete/IntegrationDownshift.js
  docs/src/pages/demos/autocomplete/autocomplete.md
Labels: PR: good for merge, component: Autocomplete, docs, enhancement

#14856 [TypeScript] Add WithThemeCreator typing
  packages/material-ui-styles/src/index.d.ts
  packages/material-ui-styles/src/withTheme/withTheme.d.ts
  packages/material-ui-styles/test/styles.spec.tsx
Labels: package: styles, typescript

#14862 [styles] defaultTheme option interface for makeStyles
  packages/material-ui-styles/src/makeStyles/makeStyles.d.ts
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/test/index.spec.tsx
Labels: PR: good for merge, package: styles, typescript

#13468 [Popover][Popper] Warn when `anchorEl` is invalid
  packages/material-ui-styles/src/withStyles/withStyles.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
  packages/material-ui-styles/src/withTheme/withTheme.js
  packages/material-ui-styles/src/withTheme/withTheme.test.js
  packages/material-ui-utils/src/chainPropTypes.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
  packages/material-ui/test/integration/fixtures/menus/NestedMenu.js
  packages/material-ui/test/integration/fixtures/menus/SimpleMenu.js
Labels: PR: good for merge, component: Popover, enhancement

#14882 [LinearProgress] Improve customization capability
  docs/src/pages/demos/progress/CustomizedProgress.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/LinearProgress/LinearProgress.test.js
Labels: PR: good for merge, component: LinearProgress, enhancement

#14896 [docs] Prepare full TypeScript demos
  package.json
  pages/demos/autocomplete.js
  pages/demos/avatars.js
  pages/demos/badges.js
  pages/demos/bottom-navigation.js
  pages/demos/breadcrumbs.js
  pages/demos/cards.js
  pages/demos/chips.js
  pages/demos/dialogs.js
  pages/demos/dividers.js
  pages/demos/drawers.js
  pages/demos/expansion-panels.js
  pages/demos/grid-list.js
  pages/demos/paper.js
  pages/demos/pickers.js
  pages/demos/progress.js
  pages/demos/selection-controls.js
  pages/demos/selects.js
  pages/demos/snackbars.js
  pages/demos/steppers.js
  pages/demos/tables.js
  pages/demos/tabs.js
  pages/demos/tooltips.js
Labels: docs, typescript

#14902 [Popover] Fix PaperProps classname concat
  packages/material-ui/src/Popover/Popover.js
Labels: PR: good for merge, bug, component: Popover

#14772 [MenuItem] Add buttonRef (and other button props) type
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.tsx
  package.json
  packages/material-ui/src/ListItem/ListItem.d.ts
  packages/material-ui/src/MenuItem/MenuItem.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
  yarn.lock
Labels: PR: good for merge, bug, typescript

#14883 [docs] Improve documentation for new component + ref behavior
  docs/src/modules/utils/generateMarkdown.js
  docs/src/pages/guides/composition/composition.md
  packages/material-ui-utils/src/elementTypeAcceptingRef.js
  packages/material-ui-utils/src/elementTypeAcceptingRef.test.js
  packages/material-ui-utils/src/index.js
  packages/material-ui/scripts/rollup.config.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  pages/api/button-base.md
Labels: PR: good for merge, docs, package: utils

#14903 [docs] Add perf section to ExpansionPanel
  docs/src/pages/demos/expansion-panels/expansion-panels.md
Labels: PR: good for merge, component: ExpansionPanel, docs, performance

#14901 [test] Leaner eslint config
  .eslintrc.js
  docs/.eslintrc.js
  docs/src/pages/.eslintrc.js
  package.json
  packages/material-ui-docs/src/svgIcons/GitHub.js
  packages/material-ui-docs/src/svgIcons/Hooks.js
  packages/material-ui-docs/src/svgIcons/JavaScript.js
  packages/material-ui-docs/src/svgIcons/LightbulbFull.js
  packages/material-ui-docs/src/svgIcons/LightbulbOutline.js
  packages/material-ui-docs/src/svgIcons/Twitter.js
  packages/material-ui-docs/src/svgIcons/TypeScript.js
  packages/material-ui-lab/src/internal/svg-icons/.eslintrc.js
  packages/material-ui-lab/src/internal/svg-icons/Add.js
  packages/material-ui-styles/src/withStyles/withStyles.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
  packages/material-ui-styles/src/withTheme/withTheme.js
  packages/material-ui-styles/src/withTheme/withTheme.test.js
  packages/material-ui-utils/src/getDisplayName.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Portal/Portal.test.js
  packages/material-ui/src/internal/svg-icons/.eslintrc.js
  packages/material-ui/src/internal/svg-icons/ArrowDownward.js
  packages/material-ui/src/internal/svg-icons/ArrowDropDown.js
  packages/material-ui/src/internal/svg-icons/Cancel.js
  packages/material-ui/src/internal/svg-icons/CheckBox.js
  packages/material-ui/src/internal/svg-icons/CheckBoxOutlineBlank.js
  packages/material-ui/src/internal/svg-icons/CheckCircle.js
  packages/material-ui/src/internal/svg-icons/IndeterminateCheckBox.js
  packages/material-ui/src/internal/svg-icons/KeyboardArrowLeft.js
  packages/material-ui/src/internal/svg-icons/KeyboardArrowRight.js
  packages/material-ui/src/internal/svg-icons/MoreHoriz.js
  packages/material-ui/src/internal/svg-icons/RadioButtonChecked.js
  packages/material-ui/src/internal/svg-icons/RadioButtonUnchecked.js
  packages/material-ui/src/internal/svg-icons/Warning.js
  packages/material-ui/src/internal/svg-icons/createSvgIcon.js
  packages/material-ui/src/internal/svg-icons/index.test.js
  packages/material-ui/src/test-utils/until.test.js
  packages/material-ui/test/integration/.eslintrc.js
  pages/.eslintrc.js
  pages/_document.js
  pages/getting-started/page-layout-examples/.eslintrc.js
  pages/index.js
Labels: PR: good for merge, test

#14922 [docs] Fix internal links in the developer survey
  pages/blog/2019-developer-survey-results.md
Labels: docs

#14924 [docs] Fix docs build regression
  package.json
  yarn.lock
Labels: PR: good for merge, docs

#14919 [docs] Remove flow examples as outdated
  docs/src/pages.js
  docs/src/pages/guides/flow/flow.md
  examples/create-react-app-with-flow/.flowconfig
  examples/create-react-app-with-flow/.gitignore
  examples/create-react-app-with-flow/README.md
  examples/create-react-app-with-flow/flow-typed/npm/flow-bin_v0.x.x.js
  examples/create-react-app-with-flow/flow-typed/npm/jss-preset-default_vx.x.x.js
  examples/create-react-app-with-flow/flow-typed/npm/material-ui_v1.x.x.js
  examples/create-react-app-with-flow/flow-typed/npm/prop-types_v15.x.x.js
  examples/create-react-app-with-flow/flow-typed/npm/react-jss_vx.x.x.js
  examples/create-react-app-with-flow/flow-typed/npm/react-scripts_vx.x.x.js
  examples/create-react-app-with-flow/flow-typed/npm/recompose_v0.x.x.js
  examples/create-react-app-with-flow/flow/webpack.js
  examples/create-react-app-with-flow/package.json
  examples/create-react-app-with-flow/public/favicon.ico
  examples/create-react-app-with-flow/public/index.html
  examples/create-react-app-with-flow/public/manifest.json
  examples/create-react-app-with-flow/src/index.js
  examples/create-react-app-with-flow/src/pages/index.js
  examples/create-react-app-with-flow/src/serviceWorker.js
  examples/create-react-app-with-flow/src/withRoot.js
Labels: PR: good for merge, docs

#14925 [Popover] Correct warning for tall component
  packages/material-ui/src/Popover/Popover.js
Labels: PR: good for merge, bug, component: Popover

#14941 [docs] Add react-basket to related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: good for merge, docs

#14934 [List] Memoize context value
  packages/material-ui/src/List/List.js
  packages/material-ui/src/List/List.test.js
Labels: PR: good for merge, component: List, performance

#14923 [docs] Update the ROADMAP
  ROADMAP.md
  docs/src/pages/demos/tables/tables.md
Labels: PR: good for merge, core

#14854 [core] Refactor a subset of components from classes to functions
  docs/src/pages/discover-more/languages/languages.md
  packages/material-ui/src/BottomNavigation/BottomNavigation.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/CssBaseline/CssBaseline.js
  packages/material-ui/src/CssBaseline/CssBaseline.test.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/Drawer/Drawer.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/GridListTile/GridListTile.test.js
  packages/material-ui/src/MobileStepper/MobileStepper.js
Labels: PR: good for merge, core

#14945 [docs] Take advantage of the default theme
  docs/src/pages/demos/buttons/FloatingActionButtonZoom.hooks.js
  docs/src/pages/demos/drawers/MiniDrawer.js
  docs/src/pages/demos/drawers/PersistentDrawerLeft.js
  docs/src/pages/demos/drawers/PersistentDrawerRight.js
  docs/src/pages/demos/drawers/ResponsiveDrawer.js
  docs/src/pages/demos/selects/MultipleSelect.js
  docs/src/pages/demos/steppers/DotsMobileStepper.js
  docs/src/pages/demos/steppers/ProgressMobileStepper.js
  docs/src/pages/demos/steppers/SwipeableTextMobileStepper.js
  docs/src/pages/demos/steppers/TextMobileStepper.js
  docs/src/pages/demos/tables/CustomPaginationActionsTable.js
  docs/src/pages/demos/tabs/FullWidthTabs.js
  packages/material-ui/src/internal/animate.test.js
Labels: PR: good for merge, docs

#14940 [docs] Improve the styles interpolation documentation
  docs/src/pages/css-in-js/advanced/Theming.js
  docs/src/pages/css-in-js/advanced/UseTheme.js
  docs/src/pages/css-in-js/advanced/WithTheme.js
  docs/src/pages/css-in-js/advanced/advanced.md
  docs/src/pages/css-in-js/basics/AdaptingHOC.js
  docs/src/pages/css-in-js/basics/AdaptingHook.js
  docs/src/pages/css-in-js/basics/AdaptingStyledComponents.js
  docs/src/pages/css-in-js/basics/basics.md
  pages/_document.js
Labels: PR: good for merge, docs

#14878 [RadioGroup] Warn for uncontrolled <-> controlled switch
  docs/src/pages/demos/selection-controls/selection-controls.md
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
Labels: component: Radio, enhancement

#14960 [docs] Grammar fix
  docs/src/pages/getting-started/usage/usage.md
Labels: PR: good for merge, docs

#14847 [Slide] Attach ref to child instead of Transition
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
  pages/api/slide.md
Labels: PR: good for merge, breaking change, component: Slide

#14954 [docs] Enable avatar ts demos
  docs/src/pages/demos/avatars/IconAvatars.tsx
  docs/src/pages/demos/avatars/ImageAvatars.tsx
  docs/src/pages/demos/avatars/LetterAvatars.tsx
Labels: PR: good for merge, docs, typescript

#14952 [docs] Add PaperSheet TypeScript demo
  docs/src/pages/demos/paper/PaperSheet.tsx
Labels: PR: good for merge, docs, typescript

#14967 [Grid] Fix zeroMinWidth proptype warning
  packages/material-ui/src/Grid/Grid.js
Labels: PR: good for merge, component: Grid

#14953 [TextField] Reduce the specificity
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: good for merge, component: TextField, enhancement

#14968 [benchmark] Use deterministic version tags
  packages/material-ui-benchmark/package.json
  yarn.lock
Labels: PR: good for merge, package: benchmark

#14974 [docs] Grammar fix in FAQ
  docs/src/pages/getting-started/faq/faq.md
Labels: PR: good for merge, docs

#14865 [MenuList] Convert to a function component
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/MenuList/MenuList.test.js
  packages/material-ui/test/integration/MenuList.test.js
Labels: PR: good for merge, breaking change, component: MenuList, enhancement

#14957 [docs] Document how to nest style selectors
  docs/src/pages/css-in-js/basics/NestedStylesHook.js
  docs/src/pages/css-in-js/basics/NestedStylesHook.tsx
  docs/src/pages/css-in-js/basics/basics.md
Labels: PR: good for merge, docs, package: styles

#14986 [Popper] Add ClickAwayListener documentation
  docs/src/pages/utils/popper/popper.md
Labels: PR: good for merge, component: Popper, docs

#14964 [RadioGroup] Convert to a function component
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/test-utils/testRef.d.ts
  packages/material-ui/src/test-utils/testRef.js
Labels: PR: good for merge, breaking change, component: Radio, enhancement

#14979 [docs] BottomNavigation TypeScript docs
  docs/src/pages/demos/bottom-navigation/LabelBottomNavigation.tsx
  docs/src/pages/demos/bottom-navigation/SimpleBottomNavigation.tsx
Labels: PR: good for merge, docs, typescript

#14988 [TextField] Prevent fullwidth textfield expanding the screen
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: good for merge, breaking change, component: TextField

#15011 [docs] Add card demos in ts
  docs/src/pages/demos/cards/MediaCard.tsx
  docs/src/pages/demos/cards/MediaControlCard.tsx
  docs/src/pages/demos/cards/RecipeReviewCard.tsx
  docs/src/pages/demos/cards/SimpleCard.tsx
Labels: docs, typescript

#15003 [Tab] Enable generic props for Tab component
  packages/material-ui/src/Tab/Tab.d.ts
Labels: PR: good for merge, component: Tabs, typescript

#15013 [docs] Add Badge Typescript demo for Maximum Value
  docs/src/pages/demos/badges/BadgeMax.tsx
Labels: PR: good for merge, docs, typescript

#15008 [Tooltip] Make enterTouchDelay match the specification
  packages/material-ui/src/Tooltip/Tooltip.js
  pages/api/tooltip.md
Labels: PR: good for merge, component: Tooltip, enhancement

#14991 [Modal] Ignore event.defaultPrevented
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
Labels: PR: good for merge, breaking change, component: Modal

#14978 [Chip] Support pressing delete to delete a chip
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
Labels: PR: good for merge, component: Chip, enhancement

#15020 [docs] Add note to docs README regarding translations
  docs/README.md
Labels: docs

#15017 [test] Remove test-only class wrappers for higher-order components
  package.json
  packages/material-ui-styles/src/styled/styled.test.js
  packages/material-ui-styles/src/withStyles/withStyles.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
  packages/material-ui-styles/src/withTheme/withTheme.js
  packages/material-ui-styles/src/withTheme/withTheme.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/FormControl/FormControl.test.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/MenuList/MenuList.test.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/TextField/TextField.test.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/test-utils/getClasses.js
  packages/material-ui/src/test-utils/testRef.js
  yarn.lock
Labels: PR: good for merge, package: styles, test

#15014 [docs] Content's max width changed for large displays
  docs/src/modules/components/AppContent.js
  docs/src/modules/components/AppFrame.js
  pages/index.js
Labels: PR: good for merge, docs

#15024 [Box] Improve TypeScript definitions
  packages/material-ui/src/Box/Box.d.ts
Labels: component: Box, typescript

#15021 [misc] Batch small improvements
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/layout/grid/grid.md
  docs/src/pages/system/flexbox/flexbox.md
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/internal/animate.test.js
  packages/material-ui/src/styles/createSpacing.js
Labels: PR: good for merge, enhancement

#15019 [Box] Use the default theme
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/Box/Box.test.js
Labels: PR: good for merge, component: Box, enhancement

#15025 [ToggleButtonGroup] Convert to function component
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.test.js
Labels: PR: good for merge, enhancement, lab: ToggleButton

#14965 [ToggleButton] Convert to function component
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui-lab/src/ToggleButton/ToggleButton.test.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.test.js
Labels: PR: good for merge, enhancement, lab: ToggleButton

#15034 [styles] Fix IE 11 issue
  package.json
  packages/material-ui-styles/package.json
  packages/material-ui/scripts/rollup.config.js
  yarn.lock
Labels: PR: good for merge, package: styles

#15039 [docs] Add keyframes in the v3 -> v4 upgrade guide
  docs/src/pages/css-in-js/advanced/advanced.md
  docs/src/pages/demos/drawers/SwipeableTemporaryDrawer.js
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/guides/migration-v3/migration-v3.md
  pages/_document.js
Labels: PR: good for merge, docs

#15027 [Fade] Convert to function component
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Fade/Fade.test.js
Labels: PR: good for merge, component: Transition, enhancement

#15031 [docs] Migrate one demo to the hooks
  docs/src/pages/demos/badges/BadgeMax.js
  docs/src/pages/demos/badges/BadgeMax.tsx
Labels: PR: good for merge, docs

#15029 [styles] Use the hook directly in styled()
  packages/material-ui-benchmark/src/styles.js
  packages/material-ui-styles/src/styled/styled.js
  packages/material-ui-styles/src/styled/styled.test.js
Labels: PR: good for merge, package: styles

#15028 [styles] Add a new injectFirst prop
  docs/src/pages/css-in-js/advanced/advanced.md
  docs/src/pages/css-in-js/api/api.md
  packages/material-ui-styles/src/StylesProvider/StylesProvider.js
  packages/material-ui-styles/src/StylesProvider/StylesProvider.test.js
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.js
Labels: PR: good for merge, package: styles

#15046 [performance] Add live pages
  pages/performance/table-component.js
  pages/performance/table-emotion.js
  pages/performance/table-hook.js
  pages/performance/table-mui.js
  pages/performance/table-raw.js
  pages/performance/table-styled-components.js
Labels: docs, performance

#15038 [SwipeableDrawer] Ignore open swipe if it didn't start on the swipe area
  packages/material-ui/src/SwipeableDrawer/SwipeArea.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: PR: good for merge, bug, component: Drawer

#15045 [SwipeableDrawer] Ignore open swipe if it didn't start on the swipe area
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: PR: good for merge, bug, component: Drawer

#15043 [ExpansionPanelSummary] Convert to function component
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
Labels: PR: good for merge, component: ExpansionPanel, enhancement

#15040 [Divider] Enable component generic props
  packages/material-ui/src/Divider/Divider.d.ts
Labels: PR: good for merge, component: Divider, docs, typescript

#15037 [docs] Add TypeScript demos for Dividers
  docs/src/pages/demos/dividers/InsetDividers.tsx
  docs/src/pages/demos/dividers/ListDividers.tsx
  docs/src/pages/demos/dividers/MiddleDividers.tsx
  docs/src/pages/demos/dividers/SubheaderDividers.tsx
Labels: docs, typescript

#15052 [docs] Add TS examples for Chips and OutlinedChips
  docs/src/pages/demos/chips/Chips.tsx
  docs/src/pages/demos/chips/OutlinedChips.tsx
  packages/material-ui/src/Chip/Chip.d.ts
Labels: component: Chip, docs, typescript

#15033 [docs] Add MQTT Explorer to showcases
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/discover-more/showcase/appList.js
  docs/translations/translations.json
  static/images/customization/dev-tools.png
  static/images/layouts/blog.png
  static/images/layouts/sign-in-side.png
  static/images/layouts/sign-up.png
  static/images/layouts/sticky-footer.png
  static/images/progress/heavy-load.gif
  static/images/showcase/cloudhealth.jpg
  static/images/showcase/mqtt-explorer.png
Labels: PR: good for merge, docs

#14998 [Slider] Fix onChange not being fired on single touch
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: bug, lab: Slider

#15065 [docs] Fix CustomizedTabs demo
  docs/src/pages/demos/tabs/CustomizedTabs.js
Labels: PR: good for merge, bug, docs

#15064 [docs] Add a new site to showcase (learnseeker)
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/discover-more/showcase/appList.js
  static/images/showcase/learnseeker.jpg
Labels: docs

#15049 [ListItem] Add type test for button prop
  packages/material-ui/src/ListItem/ListItem.spec.tsx
Labels: component: ListItem, test, typescript

#15062 [Container] Move to the core
  docs/src/modules/components/AppContent.js
  docs/src/modules/components/HomeBackers.js
  docs/src/modules/components/HomeFooter.js
  docs/src/pages.js
  docs/src/pages/getting-started/page-layout-examples/album/Album.js
  docs/src/pages/getting-started/page-layout-examples/blog/Blog.js
  docs/src/pages/getting-started/page-layout-examples/pricing/Pricing.js
  docs/src/pages/getting-started/page-layout-examples/sign-in/SignIn.js
  docs/src/pages/getting-started/page-layout-examples/sign-up/SignUp.js
  docs/src/pages/getting-started/page-layout-examples/sticky-footer/StickyFooter.js
  docs/src/pages/layout/basics/basics.md
  docs/src/pages/layout/breakpoints/breakpoints.md
  docs/src/pages/layout/layout/FixedContainer.js
  docs/src/pages/layout/layout/SimpleContainer.js
  docs/src/pages/layout/layout/layout-de.md
  docs/src/pages/layout/layout/layout-es.md
  docs/src/pages/layout/layout/layout-fr.md
  docs/src/pages/layout/layout/layout-ja.md
  docs/src/pages/layout/layout/layout-pt.md
  docs/src/pages/layout/layout/layout-ru.md
  docs/src/pages/layout/layout/layout-zh.md
  docs/src/pages/layout/layout/layout.md
  packages/material-ui/src/Container/Container.d.ts
  packages/material-ui/src/Container/Container.js
  packages/material-ui/src/Container/Container.test.js
  packages/material-ui/src/Container/index.d.ts
  packages/material-ui/src/Container/index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  pages/api/container.js
  pages/api/container.md
  pages/index.js
  pages/layout/layout.js
Labels: breaking change, component: Layout

#15077 [Button] Fix typing for type-attribute
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Fab/Fab.d.ts
Labels: PR: good for merge, bug, component: Button, component: Fab, typescript

#15069 [RadioGroup] Remove cloneElement, use the context
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/RadioGroup/RadioGroupContext.js
  packages/material-ui/src/utils/helpers.js
  packages/material-ui/src/utils/helpers.test.js
  pages/api/radio.md
Labels: PR: good for merge, component: Radio, enhancement

#15068 [Menu] Convert to function component
  packages/material-ui/src/Fade/Fade.test.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/TextField/TextField.js
Labels: PR: good for merge, component: Menu, enhancement

#15053 [docs] Add Tabs TypeScript demo
  docs/src/pages/demos/tabs/CenteredTabs.tsx
  docs/src/pages/demos/tabs/CustomizedTabs.tsx
  docs/src/pages/demos/tabs/DisabledTabs.tsx
  docs/src/pages/demos/tabs/FullWidthTabs.tsx
  docs/src/pages/demos/tabs/IconLabelTabs.tsx
  docs/src/pages/demos/tabs/IconTabs.tsx
  docs/src/pages/demos/tabs/NavTabs.tsx
  docs/src/pages/demos/tabs/ScrollableTabsButtonAuto.tsx
  docs/src/pages/demos/tabs/ScrollableTabsButtonForce.tsx
  docs/src/pages/demos/tabs/ScrollableTabsButtonPrevent.tsx
  docs/src/pages/demos/tabs/SimpleTabs.tsx
  docs/src/pages/demos/tabs/TabsWrappedLabel.tsx
  packages/material-ui/src/Tab/Tab.d.ts
Labels: PR: good for merge, docs, typescript

#14987 [test] Update enzyme
  package.json
  packages/material-ui-styles/src/makeStyles/makeStyles.test.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.test.js
  packages/material-ui/src/GridListTile/GridListTile.test.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/test-utils/createMount.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/useMediaQuery/useMediaQueryTheme.test.js
  yarn.lock
Labels: PR: good for merge, bug, test

#15096 [Button] Narrow type for `type` prop
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Fab/Fab.d.ts
Labels: component: Button, typescript

#15004 [styled] Correct doc and typings for styled with theme
  docs/src/pages/css-in-js/api/api.md
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/test/index.spec.tsx
Labels: PR: good for merge, docs, package: styles, typescript

#15090 [Popover] Add warning to Popover if anchorRef is not visible
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/internal/animate.test.js
Labels: PR: good for merge, component: Popover, enhancement

#15109 [docs] Migrate docs' badge page to hooks
  docs/src/pages/demos/badges/CustomizedBadge.js
  docs/src/pages/demos/badges/CustomizedBadge.tsx
  docs/src/pages/demos/badges/DotBadge.js
  docs/src/pages/demos/badges/DotBadge.tsx
  docs/src/pages/demos/badges/SimpleBadge.js
  docs/src/pages/demos/badges/SimpleBadge.tsx
Labels: PR: good for merge, docs

#15110 [docs] Migrate docs' buttons page to hooks
  docs/src/pages/demos/buttons/ContainedButtons.js
  docs/src/pages/demos/buttons/ContainedButtons.tsx
  docs/src/pages/demos/buttons/CustomizedButtons.js
  docs/src/pages/demos/buttons/CustomizedButtons.tsx
  docs/src/pages/demos/buttons/FloatingActionButtons.js
  docs/src/pages/demos/buttons/FloatingActionButtons.tsx
  docs/src/pages/demos/buttons/IconButtons.js
  docs/src/pages/demos/buttons/IconButtons.tsx
  docs/src/pages/demos/buttons/IconLabelButtons.js
  docs/src/pages/demos/buttons/IconLabelButtons.tsx
  docs/src/pages/demos/buttons/OutlinedButtons.js
  docs/src/pages/demos/buttons/OutlinedButtons.tsx
  docs/src/pages/demos/buttons/TextButtons.js
  docs/src/pages/demos/buttons/TextButtons.tsx
Labels: PR: good for merge, docs

#15108 [MobileStepper] Support variant "text"
  docs/src/pages/demos/steppers/SwipeableTextMobileStepper.js
  docs/src/pages/demos/steppers/TextMobileStepper.js
  packages/material-ui/src/MobileStepper/MobileStepper.js
  packages/material-ui/src/MobileStepper/MobileStepper.test.js
Labels: PR: good for merge, component: Stepper, enhancement

#15114 [Tabs] Update so that tabs keep equal widths
  packages/material-ui/src/Tab/Tab.js
Labels: PR: good for merge, component: Tabs

#15100 [Typography] Better defaults
  docs/src/modules/components/AppFrame.js
  docs/src/pages/demos/cards/ImgMediaCard.js
  docs/src/pages/demos/cards/MediaCard.js
  docs/src/pages/demos/cards/MediaCard.tsx
  docs/src/pages/demos/cards/RecipeReviewCard.js
  docs/src/pages/demos/cards/RecipeReviewCard.tsx
  docs/src/pages/demos/cards/SimpleCard.js
  docs/src/pages/demos/cards/SimpleCard.tsx
  docs/src/pages/demos/dividers/MiddleDividers.js
  docs/src/pages/demos/dividers/MiddleDividers.tsx
  docs/src/pages/demos/lists/AlignItemsList.js
  docs/src/pages/layout/grid/ComplexGrid.js
  docs/src/pages/style/links/Links.js
  packages/material-ui/src/CssBaseline/CssBaseline.js
  packages/material-ui/src/FormHelperText/FormHelperText.js
  packages/material-ui/src/FormLabel/FormLabel.js
  packages/material-ui/src/ListItemText/ListItemText.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/Typography/Typography.d.ts
  packages/material-ui/src/Typography/Typography.js
  packages/material-ui/src/Typography/Typography.test.js
  packages/material-ui/src/styles/createTypography.js
  pages/api/typography.md
Labels: PR: good for merge, breaking change, component: Typography, enhancement

#15103 [docs] Add Pickers TypeScript demos
  docs/src/pages/demos/pickers/DateAndTimePickers.tsx
  docs/src/pages/demos/pickers/DatePickers.tsx
  docs/src/pages/demos/pickers/MaterialUIPickers.tsx
  docs/src/pages/demos/pickers/TimePickers.tsx
Labels: docs, typescript

#15115 [core] Batch of fixes
  docs/src/modules/components/HomeQuickWord.js
  docs/src/pages/demos/tables/CustomizedTable.js
  docs/src/pages/demos/tables/DenseTable.js
  docs/src/pages/demos/tables/EnhancedTable.js
  docs/src/pages/demos/tables/ReactVirtualizedTable.js
  docs/src/pages/demos/tables/SimpleTable.js
  docs/src/pages/demos/tables/SimpleTable.tsx
  docs/src/pages/demos/text-fields/FilledInputAdornments.js
  docs/src/pages/demos/text-fields/FilledInputAdornments.tsx
  docs/src/pages/demos/text-fields/OutlinedInputAdornments.js
  docs/src/pages/demos/text-fields/OutlinedInputAdornments.tsx
  docs/src/pages/getting-started/page-layout-examples/dashboard/SimpleTable.js
  docs/src/pages/premium-themes/onepirate/modules/views/terms-pt.md
  docs/src/pages/premium-themes/onepirate/modules/views/terms-zh.md
  docs/src/pages/premium-themes/onepirate/modules/views/terms.md
  docs/src/pages/utils/modal/modal-de.md
  docs/src/pages/utils/modal/modal-es.md
  docs/src/pages/utils/modal/modal-fr.md
  docs/src/pages/utils/modal/modal-ja.md
  docs/src/pages/utils/modal/modal-pt.md
  docs/src/pages/utils/modal/modal-ru.md
  docs/src/pages/utils/modal/modal-zh.md
  docs/src/pages/utils/modal/modal.md
  packages/material-ui-styles/src/StylesProvider/StylesProvider.js
  packages/material-ui-styles/src/StylesProvider/StylesProvider.test.js
  packages/material-ui-styles/src/makeStyles/makeStyles.js
  packages/material-ui-styles/src/makeStyles/makeStyles.test.js
  packages/material-ui/src/styles/colorManipulator.js
  packages/material-ui/src/utils/helpers.d.ts
  packages/material-ui/src/utils/helpers.js
  pages/index.js
  pages/performance/table-component.js
  pages/performance/table-emotion.js
  pages/performance/table-hook.js
  pages/performance/table-mui.js
  pages/performance/table-raw.js
  pages/performance/table-styled-components.js
  test/regressions/index.js
  test/regressions/tests/Table/DenseCheckboxTable.js
Labels: core
