Repository mui/material-ui, pull requests merged in 2019-08, with the labels that each got.

#16838 [Tooltip] Fix tooltips's demo arrow dimensions
  docs/src/pages/components/tooltips/CustomizedTooltips.js
  docs/src/pages/components/tooltips/CustomizedTooltips.tsx
Labels: PR: good for merge, component: Tooltip, docs

#16839 [Transition] Change the default behavior, 0ms duration if prop missing
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/transitions/utils.js
Labels: PR: good for merge, component: Transition

#16814 [TreeView] Iterate on the component
  docs/pages/api/tree-view.md
  docs/src/pages/components/tree-view/FileSystemNavigator.js
  docs/src/pages/components/tree-view/FileSystemNavigator.tsx
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeView/TreeView.js
Labels: lab: TreeView

#16785 [TreeView] Add customization demo
  docs/package.json
  docs/pages/api/tree-item.md
  docs/src/pages/components/tree-view/CustomizedTreeView.js
  docs/src/pages/components/tree-view/CustomizedTreeView.tsx
  docs/src/pages/components/tree-view/tree-view.md
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  yarn.lock
Labels: PR: good for merge, docs, lab: TreeView

#16836 [docs] Improve the issue template
  .github/ISSUE_TEMPLATE/1.bug.md
  .github/ISSUE_TEMPLATE/1.support-us.md
  .github/ISSUE_TEMPLATE/2.bug.md
  .github/ISSUE_TEMPLATE/2.feature.md
  .github/ISSUE_TEMPLATE/3.feature.md
  .github/ISSUE_TEMPLATE/4.support.md
Labels: PR: good for merge, docs

#16850 [Modal] Fix Modal default open with disablePortal behavior
  docs/pages/api/modal.md
  docs/src/pages/components/modal/ServerModal.js
  docs/src/pages/components/modal/ServerModal.tsx
  docs/src/pages/components/modal/SimpleModal.js
  docs/src/pages/components/modal/SimpleModal.tsx
  docs/src/pages/components/modal/modal.md
  packages/material-ui/src/Modal/Modal.d.ts
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/ModalManager.js
  packages/material-ui/src/Modal/ModalManager.test.js
  packages/material-ui/src/Modal/TrapFocus.js
  packages/material-ui/src/Portal/Portal.d.ts
Labels: PR: good for merge, bug, component: Modal

#16856 [docs] Link react-most-wanted
  docs/src/pages/getting-started/example-projects/example-projects.md
Labels: docs

#16870 [docs] Fix build on windows
  docs/next.config.js
Labels: PR: good for merge, docs

#16863 [docs] Add react compatibility in supported platforms
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
Labels: PR: good for merge, docs

#16877 [Fab] Add FabProps to the customizable theme's default props
  packages/material-ui/src/styles/props.d.ts
Labels: typescript

#16786 [Skeleton] New component
  docs/package.json
  docs/pages/api/skeleton.js
  docs/pages/api/skeleton.md
  docs/pages/components/skeleton.js
  docs/src/pages.js
  docs/src/pages/components/skeleton/Facebook.js
  docs/src/pages/components/skeleton/Facebook.tsx
  docs/src/pages/components/skeleton/YouTube.js
  docs/src/pages/components/skeleton/YouTube.tsx
  docs/src/pages/components/skeleton/skeleton.md
  packages/material-ui-lab/src/Skeleton/Skeleton.d.ts
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui-lab/src/Skeleton/Skeleton.test.js
  packages/material-ui-lab/src/Skeleton/index.d.ts
  packages/material-ui-lab/src/Skeleton/index.js
Labels: PR: good for merge, lab: Skeleton

#16872 [blog] July 2019 update
  docs/pages/blog/2019-july-update.js
  docs/pages/blog/2019-july-update.md
  docs/pages/blog/june-2019-update.md
  docs/src/pages.js
  docs/static/blog/2019-july-update/rating.png
  docs/static/blog/2019-july-update/skeleton.png
  docs/static/blog/2019-july-update/tree-view.gif
  docs/static/blog/2019-july-update/vertical-tabs.png
Labels: docs

#16869 [docs] Add Material-UI with React course in learning
  docs/src/pages/getting-started/learn/learn.md
Labels: PR: good for merge, docs

#16886 [docs] Fix grammatical error in components docs
  docs/src/pages/customization/components/components.md
Labels: PR: good for merge, docs

#16642 [core] Generate PropTypes from type definitions
  .circleci/config.yml
  docs/package.json
  docs/pages/api/app-bar.md
  docs/pages/api/backdrop.md
  docs/pages/api/badge.md
  docs/pages/api/bottom-navigation.md
  docs/pages/api/portal.md
  docs/scripts/buildApi.js
  docs/scripts/formattedTSDemos.js
  docs/scripts/helpers.js
  docs/src/modules/utils/generateMarkdown.js
  docs/src/pages/components/autocomplete/IntegrationDownshift.js
  docs/src/pages/components/drawers/ResponsiveDrawer.js
  docs/src/pages/styles/basics/AdaptingHOC.js
  package.json
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui/scripts/generateProptypes.ts
  packages/material-ui/src/AppBar/AppBar.d.ts
  packages/material-ui/src/AppBar/AppBar.js
  packages/material-ui/src/Backdrop/Backdrop.d.ts
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/Badge/Badge.d.ts
  packages/material-ui/src/Badge/Badge.js
  packages/material-ui/src/BottomNavigation/BottomNavigation.d.ts
  packages/material-ui/src/BottomNavigation/BottomNavigation.js
  packages/material-ui/src/Portal/Portal.d.ts
  packages/material-ui/src/Portal/Portal.js
  tslint.json
  yarn.lock
Labels: docs, typescript

#16893 [ci] Ignore dependabot branches
  .circleci/config.yml
  azure-pipelines.yml
Labels: test

#16874 [TreeView] Fix the height of the customization demo
  docs/src/pages/components/tree-view/CustomizedTreeView.js
  docs/src/pages/components/tree-view/CustomizedTreeView.tsx
Labels: PR: good for merge, docs, lab: TreeView

#16876 [ButtonGroup] Separate button colors
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: PR: good for merge, component: ButtonGroup, enhancement

#16861 [ToggleButton] Fix horizontal shift
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
Labels: PR: good for merge, lab: ToggleButton

#16880 [CssBaseline] Add backdrop base styles
  packages/material-ui/src/CssBaseline/CssBaseline.js
Labels: PR: good for merge, component: CssBaseline, enhancement

#16883 Batch small changes
  docs/cdn/_redirects
  docs/package.json
  docs/pages/blog/april-2019-update.md
  docs/pages/customization/theming.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdCodeFund.js
  docs/src/pages.js
  docs/src/pages/components/modal/modal.md
  docs/src/pages/components/pickers/MaterialUIPickers.js
  docs/src/pages/components/pickers/MaterialUIPickers.tsx
  docs/src/pages/components/pickers/pickers.md
  docs/src/pages/components/use-media-query/JavaScriptMedia.tsx
  docs/src/pages/components/use-media-query/ThemeHelper.tsx
  docs/src/pages/customization/color/color.md
  docs/src/pages/customization/components/components.md
  docs/src/pages/customization/theming/CustomStyles.js
  docs/src/pages/customization/theming/CustomStyles.tsx
  docs/src/pages/customization/theming/ThemeNesting.js
  docs/src/pages/customization/theming/ThemeNesting.tsx
  docs/src/pages/customization/theming/ThemeNestingExtend.js
  docs/src/pages/customization/theming/ThemeNestingExtend.tsx
  docs/src/pages/customization/theming/themes-zh.md
  docs/src/pages/customization/theming/theming-de.md
  docs/src/pages/customization/theming/theming-es.md
  docs/src/pages/customization/theming/theming-fr.md
  docs/src/pages/customization/theming/theming-ja.md
  docs/src/pages/customization/theming/theming-pt.md
  docs/src/pages/customization/theming/theming-ru.md
  docs/src/pages/customization/theming/theming.md
  docs/src/pages/customization/typography/typography.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/getting-started/usage/usage.md
  docs/src/pages/guides/interoperability/StyledComponentsTheme.js
  docs/src/pages/guides/migration-v0x/migration-v0x.md
  docs/static/favicon.ico
  docs/translations/translations.json
  packages/material-ui/src/styles/props.d.ts
  packages/material-ui/src/useMediaQuery/index.d.ts
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
  static/icons/180x180.png
  test/regressions/index.js
  yarn.lock
Labels: PR: good for merge, umbrella

#16882 [Box] Forward props into cloned element
  packages/material-ui-styles/src/styled/styled.js
  packages/material-ui-styles/src/styled/styled.test.js
Labels: PR: good for merge, component: Box

#16900 [benchmark] Fix not running
  babel.config.js
  packages/material-ui-benchmark/package.json
  packages/material-ui-benchmark/src/docs.js
Labels: PR: good for merge, bug, package: benchmark

#16916 [Stepper] Improve the description of the icon prop
  docs/pages/api/step-icon.md
  docs/pages/api/step-label.md
  packages/material-ui/src/StepIcon/StepIcon.js
  packages/material-ui/src/StepLabel/StepLabel.js
Labels: PR: good for merge, component: Stepper, docs

#16871 [docs] Add error boundary to demos
  docs/src/modules/components/DemoErrorBoundary.js
  docs/src/modules/components/DemoSandboxed.js
Labels: PR: good for merge, docs

#16917 [Transition] Forward isAppearing to onEnter, onEntering, onEntered
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Zoom/Zoom.js
Labels: PR: good for merge, bug, component: Transition

#16937 [docs] Hide header in DefaultTheme demo
  docs/src/pages/customization/default-theme/default-theme.md
Labels: PR: good for merge, docs

#16936 [Textfield] Add left property to prevent scrollbars on IE 11
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
Labels: PR: good for merge, bug, component: TextareaAutosize

#16946 [ButtonGroup] Allow override of the variant prop
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: PR: good for merge, component: ButtonGroup, enhancement

#16903 [TextField] How to leverage CSS input validation
  docs/src/pages/components/text-fields/CustomizedInputs.js
  docs/src/pages/components/text-fields/CustomizedInputs.tsx
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: good for merge, component: TextField, docs

#16923 [FormControl] Warn if rendered mulitple inputs
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
Labels: PR: good for merge, component: TextField, docs

#16941 [docs] Migrate WithTheme demo to Typescript
  docs/src/pages/styles/advanced/WithTheme.js
  docs/src/pages/styles/advanced/WithTheme.tsx
Labels: PR: good for merge, docs, typescript

#16948 [Popper] Fix ScrollPlayground.js demo
  docs/src/pages/components/popper/ScrollPlayground.js
Labels: PR: good for merge, bug, component: Popper, docs

#16842 [core] Optimise destructuring for useState, useReducer
  docs/src/pages/components/portal/portal.md
  docs/src/pages/components/textarea-autosize/textarea-autosize.md
  package.json
  yarn.lock
Labels: PR: good for merge, performance

#16951 [docs] Batch small changes
  BACKERS.md
  README.md
  docs/notifications.json
  docs/pages/blog/material-ui-v1-is-out.js
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/src/modules/components/HomeQuickWord.js
  docs/src/modules/components/backers.md
  docs/src/pages.js
  docs/src/pages/components/buttons/SplitButton.js
  docs/src/pages/components/expansion-panels/expansion-panels.md
  docs/src/pages/getting-started/templates/album/Album.js
  docs/src/pages/getting-started/templates/blog/Blog.js
  docs/src/pages/getting-started/templates/checkout/Checkout.js
  docs/src/pages/getting-started/templates/dashboard/Dashboard.js
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sign-in/SignIn.js
  docs/src/pages/getting-started/templates/sign-up/SignUp.js
  docs/src/pages/getting-started/templates/sticky-footer/StickyFooter.js
  docs/src/pages/guides/interoperability/interoperability.md
  examples/cdn/index.html
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app/src/App.js
  examples/gatsby/src/pages/about.js
  examples/gatsby/src/pages/index.js
  examples/nextjs-with-typescript/pages/about.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs/pages/about.js
  examples/nextjs/pages/index.js
  examples/parcel/src/App.js
  examples/preact/src/App.js
  examples/ssr/App.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui/src/Divider/Divider.js
  packages/material-ui/src/Link/Link.js
  test/regressions/index.js
Labels: PR: good for merge, docs

#16957 [Slider] Update TypeScript demo to cast types to values
  docs/src/pages/components/slider/ContinuousSlider.tsx
  docs/src/pages/components/slider/RangeSlider.tsx
Labels: PR: good for merge, component: Slider, typescript

#16960 [Skeleton] Add missing exports from the barrel
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.js
Labels: PR: good for merge, lab: Skeleton

#16961 [Tabs] Fix issue where scrollable tabs auto move to selected tab
  packages/material-ui/src/Tabs/Tabs.js
Labels: PR: good for merge, bug, component: Tabs

#16982 [TextareaAutosize] Update spelling in props (umber to number)
  docs/pages/api/textarea-autosize.md
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
Labels: PR: good for merge, docs

#16980 [Dialog] Add support for a Dialog without a DialogTitle
  packages/material-ui/src/DialogContent/DialogContent.js
  packages/material-ui/src/DialogContentText/DialogContentText.js
Labels: PR: good for merge, component: Dialog, enhancement

#16986 [Slider] Fix mouse enter edge case for Firefox
  packages/material-ui/src/Slider/Slider.js
Labels: PR: good for merge, bug, component: Slider

#16988 [docs] Adjust React + Material-UI + Firebase for v2.0
  docs/src/pages/getting-started/example-projects/example-projects.md
Labels: PR: good for merge, docs

#16991 [example] Remove unused MuiLink declaration
  examples/nextjs-with-typescript/pages/about.tsx
  examples/nextjs-with-typescript/pages/index.tsx
Labels: docs

#17003 [TextareaAutosize] Export component in barrel index.js
  packages/material-ui/src/index.js
Labels: PR: good for merge, component: TextareaAutosize

#16956 [docs] Make it easier to find material icons
  docs/package.json
  docs/pages/api/icon.md
  docs/pages/api/svg-icon.md
  docs/pages/components/material-icons.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages.js
  docs/src/pages/components/icons/icons.md
  docs/src/pages/components/material-icons/SearchIcons.js
  docs/src/pages/components/material-icons/material-icons.md
  yarn.lock
Labels: PR: good for merge, docs

#16992 [Select] Hide SVG icon for native multiple select
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Select/Select.test.js
Labels: PR: good for merge, bug, component: Select

#16990 [core] Upgrade the dependencies
  docs/src/pages/components/skeleton/YouTube.js
  docs/src/pages/components/skeleton/YouTube.tsx
  package.json
  packages/material-ui-benchmark/package.json
  packages/material-ui-styles/package.json
  yarn.lock
Labels: core

#17009 [core] yarn docs:export support for Windows
  docs/package.json
  package.json
  yarn.lock
Labels: core

#17021 [docs] Add synonyms for Material icons
  docs/src/pages/components/material-icons/SearchIcons.js
  docs/src/pages/components/material-icons/synonyms.js
  test/regressions/index.js
Labels: PR: ready to ship, component: Icon, docs

#17020 [Tooltip] Fix word wrapping
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, bug, component: Tooltip

#17024 [Slider] Hide mark labels to screen readers
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, accessibility, component: Slider

#16993 [docs] Improve instructions for Babel import plugins
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: PR: ready to ship, docs

#17058 [Tooltip] Improve arrow demo
  docs/src/pages/components/popper/ScrollPlayground.js
Labels: PR: ready to ship, component: Tooltip, docs

#17013 [Rating] Improve rendering of arbitrary precision
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/Rating/Rating.test.js
Labels: PR: ready to ship, bug, lab: Rating

#17005 [Grid] Better support custom theme spacing values
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
Labels: PR: ready to ship, bug, component: Grid

#17063 [Divider] Add vertical support
  docs/pages/api/divider.md
  docs/src/pages/components/text-fields/CustomizedInputBase.js
  docs/src/pages/components/text-fields/CustomizedInputBase.tsx
  packages/material-ui/src/Divider/Divider.d.ts
  packages/material-ui/src/Divider/Divider.js
Labels: PR: ready to ship, component: Divider, enhancement

#17045 [CardHeader] Remove mention of children from API docs
  docs/pages/api/card-header.md
  packages/material-ui/src/CardHeader/CardHeader.js
Labels: PR: ready to ship, component: CardHeader, docs

#17046 [TreeView] Lazy render the tree items
  docs/src/pages/components/tree-view/CustomizedTreeView.js
  docs/src/pages/components/tree-view/CustomizedTreeView.tsx
  docs/src/pages/components/tree-view/FileSystemNavigator.js
  docs/src/pages/components/tree-view/FileSystemNavigator.tsx
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
Labels: PR: ready to ship, enhancement, lab: TreeView

#17074 [docs] Migration guide to v4: include change to dense Lists
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: PR: ready to ship, component: List, docs

#17062 [AppBar] Add back to top demo
  docs/src/pages/components/app-bar/BackToTop.js
  docs/src/pages/components/app-bar/BackToTop.tsx
  docs/src/pages/components/app-bar/SimpleAppBar.js
  docs/src/pages/components/app-bar/SimpleAppBar.tsx
  docs/src/pages/components/app-bar/app-bar.md
  packages/material-ui/src/internal/animate.js
Labels: PR: ready to ship, component: AppBar, docs

#17056 [docs] Prefer SVG over font icons in the demos
  docs/src/pages/components/bottom-navigation/LabelBottomNavigation.js
  docs/src/pages/components/bottom-navigation/LabelBottomNavigation.tsx
  docs/src/pages/components/buttons/FloatingActionButtons.js
  docs/src/pages/components/buttons/FloatingActionButtons.tsx
  docs/src/pages/components/buttons/IconButtons.js
  docs/src/pages/components/buttons/IconButtons.tsx
  test/regressions/tests/Button/FontSvgIcons.js
Labels: PR: ready to ship, component: Fab, docs

#17061 [core] Classes to hooks
  docs/pages/api/root-ref.md
  docs/pages/getting-started/templates/checkout.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdCodeFund.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/DemoSandboxed.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/MarkdownLinks.js
  docs/src/modules/components/Notifications.js
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/popover/AnchorPlayground.js
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/customization/color/Color.js
  docs/src/pages/customization/color/ColorDemo.js
  docs/src/pages/customization/color/ColorTool.js
  docs/src/pages/customization/default-theme/DefaultTheme.js
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/premium-themes/onepirate/modules/form/defer.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.js
  docs/src/pages/premium-themes/paperbase/Header.js
  docs/src/pages/premium-themes/paperbase/Paperbase.js
  docs/src/pages/styles/api/api.md
  docs/src/pages/versions/StableVersions.js
  packages/material-ui-benchmark/src/core.js
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/Container/Container.js
  packages/material-ui/src/CssBaseline/CssBaseline.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/Drawer/Drawer.test.js
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Hidden/HiddenCss.js
  packages/material-ui/src/Hidden/HiddenJs.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
  packages/material-ui/src/OutlinedInput/NotchedOutline.test.js
  packages/material-ui/src/RootRef/RootRef.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Typography/Typography.js
  test/regressions/tests/Input/Inputs.js
Labels: PR: ready to ship, core

#17059 [Modal] Add transition documentation
  docs/src/pages/components/modal/ServerModal.js
  docs/src/pages/components/modal/ServerModal.tsx
  docs/src/pages/components/modal/SimpleModal.js
  docs/src/pages/components/modal/SimpleModal.tsx
  docs/src/pages/components/modal/SpringModal.js
  docs/src/pages/components/modal/SpringModal.tsx
  docs/src/pages/components/modal/TransitionsModal.js
  docs/src/pages/components/modal/TransitionsModal.tsx
  docs/src/pages/components/modal/modal.md
Labels: PR: ready to ship, component: Modal, docs

#17019 [styles] Better support right-to-left
  packages/material-ui-styles/src/getStylesCreator/getStylesCreator.js
  packages/material-ui-styles/src/makeStyles/makeStyles.js
  packages/material-ui-styles/src/makeStyles/makeStyles.test.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
Labels: PR: ready to ship, enhancement, package: styles

#17091 [Drawer] Fix ref forwarding when variant="persistent"
  packages/material-ui/src/Drawer/Drawer.js
Labels: PR: ready to ship, bug, component: Drawer

#17085 [Slider] Avoid mutating user's value prop
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, bug, component: Slider

#17093 [Rating] Improve signature in docs
  docs/pages/api/rating.md
  docs/pages/api/skeleton.md
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/Skeleton/Skeleton.d.ts
  packages/material-ui-lab/src/Skeleton/Skeleton.js
Labels: PR: ready to ship, docs, lab: Rating

#17081 [CircularProgress] Document String format for size prop
  docs/pages/api/circular-progress.md
  packages/material-ui/src/CircularProgress/CircularProgress.js
Labels: PR: ready to ship, component: CircularProgress, enhancement

#17078 [Rating] Add Custom prop-type to prop name
  docs/pages/api/rating.md
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, docs, lab: Rating

#17080 [TreeView] Support node label
  docs/pages/api/tree-item.md
  docs/src/pages/components/tree-view/GmailTreeView.js
  docs/src/pages/components/tree-view/GmailTreeView.tsx
  docs/src/pages/components/tree-view/tree-view.md
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
Labels: PR: ready to ship, enhancement, lab: TreeView

#17095 [Switch] Fix rendering in IE 11 and Safari
  docs/src/pages/components/switches/CustomizedSwitches.js
  docs/src/pages/components/switches/CustomizedSwitches.tsx
  packages/material-ui/src/Switch/Switch.js
Labels: PR: ready to ship, bug, component: Switch

#17104 [docs] Fix popover demo event.target is null
  docs/src/pages/components/popover/AnchorPlayground.js
Labels: PR: ready to ship, component: Popper

#17097 [Popover] Fix update position action
  docs/pages/api/popover.md
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
Labels: PR: ready to ship, bug, component: Popover

#17115 [Backdrop] Render children inside div
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/Backdrop/Backdrop.test.js
Labels: PR: ready to ship, component: Backdrop, enhancement

#17122 [docs] Fix typo in modal demo
  docs/src/pages/components/modal/SpringModal.js
  docs/src/pages/components/modal/SpringModal.tsx
Labels: docs

#17103 [MenuItem] Add missing dense classkey
  packages/material-ui/src/MenuItem/MenuItem.d.ts
Labels: PR: ready to ship, component: Menu, typescript

#17109 [ButtonGroup] Fix border color when disabled and contained
  docs/pages/api/button-group.md
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: PR: ready to ship, bug, component: ButtonGroup

#17120 [docs] Fix edit dependencies extraction
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
Labels: PR: ready to ship, docs

#17118 [docs] Improve custom styles of the demos
  docs/src/pages/components/app-bar/BackToTop.js
  docs/src/pages/components/app-bar/BackToTop.tsx
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.tsx
  docs/src/pages/components/dividers/ListDividers.js
  docs/src/pages/components/dividers/ListDividers.tsx
  docs/src/pages/components/drawers/MiniDrawer.js
  docs/src/pages/components/drawers/MiniDrawer.tsx
  docs/src/pages/components/drawers/PersistentDrawerLeft.js
  docs/src/pages/components/drawers/PersistentDrawerLeft.tsx
  docs/src/pages/components/drawers/PersistentDrawerRight.js
  docs/src/pages/components/drawers/PersistentDrawerRight.tsx
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  docs/src/pages/components/switches/CustomizedSwitches.js
  docs/src/pages/components/switches/CustomizedSwitches.tsx
  docs/src/pages/components/text-fields/CustomizedInputBase.js
  docs/src/pages/components/text-fields/CustomizedInputBase.tsx
  docs/src/pages/components/text-fields/FilledTextFields.js
  docs/src/pages/components/text-fields/FilledTextFields.tsx
Labels: PR: ready to ship, docs

#17128 [Popover] Fix anchorEl positioning within popup window
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popper/Popper.js
Labels: PR: ready to ship, bug, component: Popover

#17135 Fix page rendering on Crowdin
  docs/src/pages/components/icons/icons.md
Labels: docs

#17164 [docs] Remove unecessary createStyles in TypeScript Tabs demo
  docs/src/pages/components/tabs/CustomizedTabs.tsx
  docs/src/pages/components/tabs/FullWidthTabs.tsx
  docs/src/pages/components/tabs/NavTabs.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonAuto.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonForce.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonPrevent.tsx
  docs/src/pages/components/tabs/SimpleTabs.tsx
  docs/src/pages/components/tabs/TabsWrappedLabel.tsx
  docs/src/pages/components/tabs/VerticalTabs.tsx
Labels: docs, typescript

#17181 [examples] Fix warnings Container in _app.js with Next.js
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs/pages/_app.js
Labels: docs

#17133 [examples] Fix warning in next.js example
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/about.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/src/Link.tsx
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/about.js
  examples/nextjs/src/Link.js
Labels: PR: ready to ship, docs

#17141 [docs] Improve enhanced table variable name
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
Labels: PR: ready to ship, component: Table, docs

#17189 [docs] Missing degree/option symbol
  docs/src/pages/components/icons/icons.md
Labels: docs

#17174 [Tooltip] Fix interactive + enterDelay combination
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: PR: ready to ship, bug, component: Tooltip

#17205 [Menu] Include 'list' in class key
  packages/material-ui/src/Menu/Menu.d.ts
Labels: PR: ready to ship, component: Menu, typescript

#17192 [TextField] Specs alignment
  packages/material-ui/src/FormHelperText/FormHelperText.js
Labels: PR: ready to ship, component: TextField, enhancement

#17198 [docs] Better document the ref props in the API
  docs/pages/api/button-base.md
  docs/pages/api/checkbox.md
  docs/pages/api/filled-input.md
  docs/pages/api/form-control-label.md
  docs/pages/api/input-base.md
  docs/pages/api/input.md
  docs/pages/api/outlined-input.md
  docs/pages/api/popover.md
  docs/pages/api/radio.md
  docs/pages/api/switch.md
  docs/pages/api/text-field.md
  docs/src/modules/utils/generateMarkdown.js
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/src/withStyles/withStyles.js
  packages/material-ui-styles/src/withTheme/withTheme.js
  packages/material-ui-utils/src/chainPropTypes.js
  packages/material-ui-utils/src/elementAcceptingRef.js
  packages/material-ui-utils/src/exactProp.js
  packages/material-ui-utils/src/getDisplayName.js
  packages/material-ui-utils/src/index.js
  packages/material-ui-utils/src/refType.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputBase/InputBase.d.ts
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/withWidth/withWidth.d.ts
Labels: PR: ready to ship, docs

#17200 [docs] Minor Update to remove "n°" notations
  docs/src/pages/components/icons/icons.md
Labels: PR: ready to ship, docs

#17187 [ToggleButton] Improve customizability
  docs/pages/api/toggle-button-group.md
  docs/src/pages/components/toggle-button/StandaloneToggleButton.js
  docs/src/pages/components/toggle-button/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: PR: ready to ship, enhancement, lab: ToggleButton

#17206 [Typography] noWrap requires display block
  docs/pages/api/typography.md
  packages/material-ui/src/Typography/Typography.js
Labels: PR: ready to ship, component: Typography, docs

#17139 [Table] Add sticky header support
  docs/pages/api/table-cell.md
  docs/pages/api/table.md
  docs/src/pages/components/tables/StickyHeadTable.js
  docs/src/pages/components/tables/StickyHeadTable.tsx
  docs/src/pages/components/tables/tables.md
  packages/material-ui/src/Table/Table.d.ts
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/TableCell/TableCell.d.ts
  packages/material-ui/src/TableCell/TableCell.js
Labels: PR: ready to ship, component: Table, enhancement

#17214 [docs] Require less strict tsconfig
  docs/src/pages/guides/typescript/typescript.md
Labels: PR: ready to ship, docs, typescript

#17217 [TextField] Update outlined label when prop changes
  packages/material-ui/src/TextField/TextField.js
Labels: PR: ready to ship, component: TextField, enhancement

#17230 [Button] Fix typo in demo text
  docs/src/pages/components/buttons/buttons.md
Labels: PR: ready to ship, docs

#17221 [CardActionArea] Fix 'border-radius'
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/CardActionArea/CardActionArea.js
Labels: PR: ready to ship, bug, component: CardActionArea

#17218 [docs] Improve style of the demos
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  docs/src/pages/components/switches/CustomizedSwitches.js
  docs/src/pages/components/switches/CustomizedSwitches.tsx
Labels: PR: ready to ship, docs

#17232 [Button] Remove code leftover from < v4
  packages/material-ui/src/Button/Button.js
Labels: component: Button

#17204 [Badge] Add alignment options to badges
  docs/pages/api/badge.md
  docs/src/pages/components/badges/BadgeAlignment.js
  docs/src/pages/components/badges/BadgeAlignment.tsx
  docs/src/pages/components/badges/BadgeMax.js
  docs/src/pages/components/badges/BadgeMax.tsx
  docs/src/pages/components/badges/BadgeOverlap.js
  docs/src/pages/components/badges/BadgeOverlap.tsx
  docs/src/pages/components/badges/BadgeVisibility.js
  docs/src/pages/components/badges/BadgeVisibility.tsx
  docs/src/pages/components/badges/CustomizedBadges.js
  docs/src/pages/components/badges/CustomizedBadges.tsx
  docs/src/pages/components/badges/DotBadge.js
  docs/src/pages/components/badges/DotBadge.tsx
  docs/src/pages/components/badges/badges.md
  packages/material-ui/src/Badge/Badge.d.ts
  packages/material-ui/src/Badge/Badge.js
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Snackbar/Snackbar.d.ts
Labels: PR: ready to ship, component: Badge, enhancement

#17219 [LinearProgress] Make color adapt to theme type
  packages/material-ui/src/Container/Container.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
Labels: PR: ready to ship, accessibility, component: LinearProgress
