Repository mui/material-ui, pull requests merged in 2019-06, with the labels that each got.

#15987 [system] Fix typing for flexDirection prop
  packages/material-ui-system/src/index.d.ts
Labels: PR: good for merge

#15981 [docs] Update FUNDING.yml with Tidelift string
  .github/FUNDING.yml
Labels: PR: good for merge, docs

#15996 [docs] Batch of fixes
  BACKERS.md
  README.md
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/backers.md
  docs/src/pages/components/app-bar/app-bar.md
  docs/src/pages/components/cards/RecipeReviewCard.js
  docs/src/pages/components/cards/RecipeReviewCard.tsx
  docs/src/pages/components/dialogs/ConfirmationDialog.js
  docs/src/pages/components/dialogs/ConfirmationDialog.tsx
  docs/src/pages/customization/color/ColorDemo.js
  examples/cdn/index.html
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
  examples/parcel/src/index.html
  examples/ssr/server.js
  packages/material-ui/src/CircularProgress/CircularProgress.js
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/Tooltip/Tooltip.js
  pages/api/form-control.md
Labels: PR: good for merge, docs

#15949 [example] Fix ssr example to work on Windows
  examples/create-react-app/src/App.js
  examples/parcel/src/App.js
  examples/preact/src/App.js
  examples/ssr/package.json
  examples/ssr/server.js
Labels: PR: good for merge, docs

#15995 [lab] Consume correct core utils in lab
  docs/src/pages/components/speed-dial/SpeedDials.js
  docs/src/pages/customization/color/ColorTool.js
  docs/src/pages/premium-themes/onepirate/modules/components/Paper.js
  docs/src/pages/premium-themes/onepirate/modules/components/TextField.js
  docs/src/pages/premium-themes/onepirate/modules/components/Typography.js
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  test/regressions/tests/SpeedDial/Directions.js
Labels: PR: good for merge, package: lab

#15982 [core] Add dependency react>=16.3.0 requested by @emotion/core and react-jss
  packages/material-ui-benchmark/package.json
Labels: PR: good for merge, core

#16000 [core] upgrade dependencies with esm support
  packages/material-ui/package.json
  yarn.lock
Labels: PR: good for merge, core

#16010 [docs] Fix syntax error in v3 migration guide
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: docs

#15990 [styles] Fix createStyles for TypeScript v3.5
  packages/material-ui-styles/src/createStyles/createStyles.d.ts
Labels: package: styles, typescript

#15720 [system] Fix breakpoints typescript types
  docs/src/pages/system/basics/CollocationApi.js
  docs/src/pages/system/basics/CollocationApi.tsx
  docs/src/pages/system/basics/basics.md
  docs/src/pages/system/typography/FontFamily.tsx
  docs/src/pages/system/typography/FontSize.tsx
  docs/src/pages/system/typography/FontWeight.tsx
  docs/src/pages/system/typography/TextAlignment.tsx
  packages/material-ui-system/src/index.d.ts
  packages/material-ui/src/Box/Box.spec.tsx
Labels: package: system, typescript

#16032 [docs] Use immediate export in MenuAppBar.js
  docs/src/pages/components/app-bar/MenuAppBar.js
  docs/src/pages/components/app-bar/MenuAppBar.tsx
Labels: docs

#15744 [ButtonGroup] New component
  docs/src/pages/components/buttons/GroupedButtons.js
  docs/src/pages/components/buttons/SplitButton.js
  docs/src/pages/components/buttons/buttons.md
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.d.ts
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.test.js
  packages/material-ui/src/ButtonGroup/index.d.ts
  packages/material-ui/src/ButtonGroup/index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
  pages/api/button-group.js
  pages/api/button-group.md
Labels: PR: good for merge, component: ButtonGroup, enhancement

#15678 [withWidth] Migrate to hooks
  docs/src/modules/utils/generateMarkdown.js
  docs/src/pages/components/use-media-query/JavaScriptMedia.js
  docs/src/pages/components/use-media-query/UseWidth.js
  docs/src/pages/components/use-media-query/use-media-query.md
  package.json
  packages/material-ui/src/Hidden/HiddenJs.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/withMobileDialog/withMobileDialog.test.js
  packages/material-ui/src/withWidth/withWidth.js
  packages/material-ui/src/withWidth/withWidth.test.js
  yarn.lock
Labels: PR: good for merge, enhancement, package: core

#16039 [docs] Bump material-table and @material-ui/pickers versions
  next.config.js
  package.json
  yarn.lock
Labels: PR: good for merge, docs

#16031 [core] Fix type definition for theme.spacing
  packages/material-ui/src/styles/createSpacing.d.ts
  packages/material-ui/src/styles/createSpacing.js
Labels: PR: good for merge, package: core, typescript

#16009 [LinearProgress] Fix direction issue in RTL
  packages/material-ui/src/LinearProgress/LinearProgress.js
Labels: PR: good for merge, bug, component: LinearProgress

#16045 [system] Add flex to FlexboxProps type definitions
  packages/material-ui-system/src/index.d.ts
Labels: component: Box, package: system, typescript

#15983 [docs] Move the themes to themes.material-ui.com
  docs/src/modules/components/HomeSteps.js
  docs/src/pages.js
  docs/src/pages/premium-themes/PremiumThemes.js
  docs/src/pages/premium-themes/premium-themes-de.md
  docs/src/pages/premium-themes/premium-themes-es.md
  docs/src/pages/premium-themes/premium-themes-fr.md
  docs/src/pages/premium-themes/premium-themes-ja.md
  docs/src/pages/premium-themes/premium-themes-pt.md
  docs/src/pages/premium-themes/premium-themes-ru.md
  docs/src/pages/premium-themes/premium-themes-zh.md
  docs/src/pages/premium-themes/premium-themes.md
  docs/static/_redirects
  docs/translations/translations.json
  pages/premium-themes.js
  static/images/themes-dark.jpg
  static/images/themes-light.jpg
  static/images/themes-preview.jpg
  static/images/themes.jpg
Labels: docs

#16048 [core] Remove export of describeConformance
  packages/material-ui/src/Box/Box.test.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.test.js
  packages/material-ui/src/Fade/Fade.test.js
  packages/material-ui/src/Grow/Grow.test.js
  packages/material-ui/src/InputBase/Textarea.test.js
  packages/material-ui/src/ListItemAvatar/ListItemAvatar.test.js
  packages/material-ui/src/MenuList/MenuList.test.js
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.test.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/StepIcon/StepIcon.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/material-ui/src/Zoom/Zoom.test.js
  packages/material-ui/src/test-utils/index.js
Labels: PR: good for merge, bug, package: core

#16054 [docs] Fix bundle doc typos
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: PR: good for merge, docs

#16056 [docs] change http to https
  CODE_OF_CONDUCT.md
  GOVERNANCE.md
  README.md
  docs/src/pages/styles/api/api.md
  examples/preact/config/jest/cssTransform.js
  examples/preact/config/jest/fileTransform.js
  modules/waterfall/Batcher.js
  packages/material-ui-icons/fixtures/game-icons/README.md
  packages/material-ui/src/styles/createTypography.js
  pages/index.js
  test/README.md
Labels: PR: good for merge, docs

#16059 [core] Fix incorrect typings for hexToRgb
  packages/material-ui/src/styles/colorManipulator.d.ts
Labels: package: core, typescript

#16061 [docs] Batch of small fixes
  .eslintrc.js
  BACKERS.md
  docs/src/modules/components/MarkdownDocs.js
  docs/src/pages/components/no-ssr/FrameDeferring.js
  docs/src/pages/customization/themes/ResponsiveFontSizes.js
  docs/src/pages/customization/themes/ResponsiveFontSizes.tsx
  docs/src/pages/customization/typography/ResponsiveFontSizesChart.js
  docs/src/pages/guides/migration-v3/migration-v3.md
  docs/src/pages/styles/api/api.md
  examples/gatsby/src/components/Link.js
  examples/nextjs-with-typescript/src/Link.tsx
  examples/nextjs/src/Link.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/MobileStepper/MobileStepper.js
  packages/material-ui/src/Stepper/Stepper.js
  pages/performance/table-component.js
  pages/performance/table-emotion.js
  pages/performance/table-hook.js
  pages/performance/table-mui.js
  pages/performance/table-raw.js
  pages/performance/table-styled-components.js
Labels: PR: good for merge, docs

#16070 [Snackbar] Fix wrong event call
  packages/material-ui/src/Snackbar/Snackbar.js
Labels: PR: good for merge, bug, component: Snackbar

#16057 [docs] Remove unsupported textDense styles
  docs/src/pages/premium-themes/paperbase/Navigator.js
Labels: PR: good for merge, docs

#16066 [docs] Remove duplicate font icons instruction
  docs/src/pages/getting-started/installation/installation.md
Labels: PR: good for merge, docs

#16074 [docs] Migrate Popover demo to Hooks
  docs/src/pages/components/popover/MouseOverPopover.js
Labels: docs

#16036 [theme] Add fontWeightBold to theme.typography
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/utils/getDemoConfig.js
  docs/src/pages/components/css-baseline/css-baseline.md
  docs/src/pages/components/tooltips/CustomizedTooltips.js
  docs/src/pages/components/tooltips/CustomizedTooltips.tsx
  docs/src/pages/components/typography/typography.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/system/typography/FontWeight.js
  docs/src/pages/system/typography/FontWeight.tsx
  docs/src/pages/system/typography/typography.md
  examples/cdn/index.html
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app/public/index.html
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
  examples/parcel/src/index.html
  examples/preact/public/index.html
  examples/ssr/server.js
  packages/material-ui/src/CssBaseline/CssBaseline.js
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/src/styles/createTypography.js
  pages/_app.js
Labels: PR: good for merge, enhancement

#16082 [docs] Remove duplicate link to migration helper
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: docs

#16077 [docs] Add redirect for typography migration
  docs/static/_redirects
  packages/material-ui-styles/src/index.js
  packages/material-ui-utils/src/elementAcceptingRef.js
  packages/material-ui-utils/src/elementTypeAcceptingRef.js
  packages/material-ui/src/styles/createMuiTheme.js
Labels: docs, package: core

#16071 [core] Remove direct type dependency to jss/csstype
  packages/material-ui-styles/package.json
  packages/material-ui/package.json
  packages/material-ui/src/styles/withStyles.d.ts
Labels: package: core, package: styles, typescript

#16064 [docs] Fix grammar in migration doc
  docs/src/pages.js
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/guides/interoperability/interoperability.md
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: PR: good for merge, docs

#16067 [docs] Add global override demos
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandboxed.js
  docs/src/pages/customization/components/GlobalCssOverride.js
  docs/src/pages/customization/components/GlobalCssOverride.tsx
  docs/src/pages/customization/components/GlobalThemeOverride.js
  docs/src/pages/customization/components/GlobalThemeOverride.tsx
  docs/src/pages/customization/components/ThemeVariables.js
  docs/src/pages/customization/components/ThemeVariables.tsx
  docs/src/pages/customization/components/components.md
  docs/src/pages/customization/typography/TypographyTheme.js
  docs/src/pages/customization/typography/TypographyTheme.tsx
Labels: PR: good for merge, docs

#16086 [docs] Fix chip array removal
  docs/src/pages/components/chips/ChipsArray.js
  docs/src/pages/components/chips/ChipsArray.tsx
Labels: PR: good for merge, bug, docs

#16083 [icons] Simplify generated index.d.ts to reduce TS compile time
  packages/material-ui-icons/scripts/create-typings.js
Labels: package: icons, typescript

#16098 [docs] Fix spelling and usage of MuiCssBaseline
  docs/src/pages/getting-started/faq/faq.md
Labels: docs

#16087 [TextField] Improve dense height to better match the specification
  docs/src/pages/components/text-fields/FilledTextFields.js
  docs/src/pages/components/text-fields/FilledTextFields.tsx
  docs/src/pages/components/text-fields/OutlinedTextFields.js
  docs/src/pages/components/text-fields/OutlinedTextFields.tsx
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  pages/api/filled-input.md
  pages/api/outlined-input.md
Labels: PR: good for merge, component: Input, important, material design spec

#16109 [system] Add fontStyle, letterSpacing, lineHeight props
  docs/src/pages/system/typography/FontStyle.js
  docs/src/pages/system/typography/FontStyle.tsx
  docs/src/pages/system/typography/LetterSpacing.js
  docs/src/pages/system/typography/LetterSpacing.tsx
  docs/src/pages/system/typography/LineHeight.js
  docs/src/pages/system/typography/LineHeight.tsx
  docs/src/pages/system/typography/typography.md
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/typography.js
Labels: PR: good for merge, enhancement, package: system

#16115 [docs] Minor typo correction in breakpoints' docs
  docs/src/pages/customization/themes/themes.md
Labels: PR: good for merge, docs

#16106 [docs] Fix some warnings/regressions
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandboxed.js
Labels: PR: good for merge, docs

#16108 [Dialog] Fix double scroll issue
  packages/material-ui/src/DialogActions/DialogActions.js
Labels: PR: good for merge, bug, component: Dialog

#16069 [Popper] Add popperRef prop
  packages/material-ui/src/Popper/Popper.d.ts
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.spec.tsx
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  pages/api/popper.md
Labels: PR: good for merge, component: Popper, enhancement

#16063 [docs] Make demos linkable
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/Demo.js
  docs/translations/translations.json
Labels: PR: good for merge, docs

#16119 [test] Bump karma-webpack
  package.json
  yarn.lock
Labels: PR: good for merge, test

#16099 [docs] Add system example for prop + theme key
  docs/src/pages/system/basics/basics.md
Labels: PR: good for merge, docs, package: system

#16085 [Tab] Improve the textColor description
  packages/material-ui/src/Tab/Tab.js
  pages/api/tab.md
Labels: PR: good for merge, component: Tabs, docs

#16124 [docs] Upgrade notistack and migrate the demo to hooks
  docs/src/pages/components/snackbars/IntegrationNotistack.js
  docs/src/pages/components/snackbars/IntegrationNotistack.tsx
  package.json
  yarn.lock
Labels: PR: good for merge, docs

#16130 [examples] Fix typo in the Gatsby example
  examples/gatsby/src/components/Link.js
Labels: PR: good for merge, docs

#16121 [styles] Upgrade jss
  package.json
  packages/material-ui-benchmark/package.json
  packages/material-ui-styles/package.json
  yarn.lock
Labels: enhancement, package: styles

#16127 [docs] Revert unreleased changes to the useMediaQuery API
  docs/src/pages/components/use-media-query/UseWidth.js
  docs/src/pages/components/use-media-query/use-media-query.md
Labels: docs

#15947 [SwipeableDrawer] Convert to function component
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: PR: good for merge, bug, component: SwipeableDrawer, performance

#16120 [docs] Pseudo-class: the style rules that require an increase of specificity
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/CardActionArea/CardActionArea.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Fab/Fab.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/FormHelperText/FormHelperText.js
  packages/material-ui/src/FormLabel/FormLabel.js
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/Link/Link.js
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Step/Step.js
  packages/material-ui/src/StepConnector/StepConnector.js
  packages/material-ui/src/StepIcon/StepIcon.js
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/TableRow/TableRow.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.js
  pages/api/bottom-navigation-action.md
  pages/api/button-base.md
  pages/api/button.md
  pages/api/card-action-area.md
  pages/api/checkbox.md
  pages/api/fab.md
  pages/api/form-control-label.md
  pages/api/form-helper-text.md
  pages/api/form-label.md
  pages/api/icon-button.md
  pages/api/input-label.md
  pages/api/link.md
  pages/api/list-item.md
  pages/api/native-select.md
  pages/api/radio.md
  pages/api/select.md
  pages/api/step-connector.md
  pages/api/step-icon.md
  pages/api/step-label.md
  pages/api/step.md
  pages/api/switch.md
  pages/api/tab.md
  pages/api/table-row.md
  pages/api/table-sort-label.md
  pages/api/toggle-button.md
Labels: PR: good for merge, docs

#16133 [core] Add TypeScript types for styled
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/styled.d.ts
Labels: package: core, typescript

#16129 [system] Add overflow, textOverflow, whiteSpace properties
  packages/material-ui-system/src/display.js
  packages/material-ui-system/src/index.d.ts
Labels: PR: good for merge, enhancement, package: system

#16142 [ButtonBase] Fix riple not stoping on mouse up
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: bug, component: ButtonBase

#16139 [icons] Fix generated index.d.ts
  .circleci/config.yml
  packages/material-ui-icons/package.json
  packages/material-ui-icons/scripts/create-typings.js
  packages/material-ui-icons/test/generated-types/Test.tsx
  packages/material-ui-icons/test/generated-types/tsconfig.json
  packages/material-ui-icons/test/generated-types/tslint.json
Labels: package: icons, typescript

#16157 [docs] import Omit Type from @material-ui/types
  docs/src/pages/components/buttons/ButtonRouter.tsx
  docs/src/pages/components/links/LinkRouter.tsx
Labels: docs, package: types, typescript

#16141 [docs] Add 700 font weight support
  docs/src/pages/components/typography/typography.md
Labels: PR: good for merge, docs

#16160 [docs] Lowercase text to demo text-transform
  docs/src/pages/customization/components/ClassesShorthand.js
  docs/src/pages/customization/components/ClassesShorthand.tsx
Labels: PR: good for merge, docs

#16165 [core] Fix yarn docs:api removing <br> tags on windows
  docs/src/modules/utils/generateMarkdown.js
Labels: PR: good for merge, bug, core

#16148 [docs] Improve the CssBaseline description
  docs/src/pages/components/css-baseline/css-baseline.md
  packages/material-ui/src/styles/createTypography.js
Labels: PR: good for merge, component: CssBaseline, docs

#16171 [docs] Change http to https part 2
  .editorconfig
  .github/support.yml
  SUPPORT.md
  docs/src/pages/components/icons/icons.md
  docs/src/pages/guides/server-rendering/server-rendering.md
  packages/material-ui-icons/builder.md
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: docs

#16175 [docs] Remove `CSS to MUI webpack Loader`
  docs/src/pages/guides/interoperability/interoperability.md
Labels: PR: good for merge

#16174 [docs] Fix small typos in v3->v4 migration guide
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: PR: good for merge, docs

#16154 [docs] Fix build on windows
  next.config.js
  package.json
  yarn.lock
Labels: PR: good for merge, docs

#16177 [core] Remove bootstrap v4-alpha
  packages/material-ui/src/Grid/Grid.js
Labels: PR: good for merge

#16196 [useMediaQuery] Defensive logic against matchMedia not available
  docs/src/modules/components/AppTableOfContents.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
Labels: test

#16195 [styles] Fix react-hot-loader regression
  packages/material-ui-styles/src/makeStyles/makeStyles.js
Labels: bug, package: styles

#16164 [system] Add remaining flexbox properties
  packages/material-ui-system/src/flexbox.js
  packages/material-ui-system/src/index.d.ts
Labels: PR: good for merge, package: system

#16187 [Typography] Fix variantMapping rejecting partial type
  package.json
  packages/material-ui/package.json
  packages/material-ui/src/Typography/Typography.d.ts
  packages/material-ui/src/Typography/Typography.test.js
  packages/material-ui/src/test-utils/describeConformance.js
  packages/material-ui/tsconfig.test.json
  test/utils/createDOM.d.ts
  yarn.lock
Labels: component: Typography, test, typescript

#16167 [core] Fix yarn docs:api forcing unix line endings
  docs/scripts/buildApi.js
Labels: core

#16182 [core] Move size tracking to azure pipelines
  .circleci/config.yml
  README.md
  azure-pipelines.yml
  package.json
  scripts/sizeSnapshot/upload.js
  yarn.lock
Labels: core

#16207 [ci] Run azure on master
  azure-pipelines.yml
Labels: core

#16197 [docs] Convert SideEffects to hooks
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/Demo.js
Labels: PR: good for merge, docs

#16208 [ci] Use sinon browser build
  test/karma.conf.js
Labels: PR: good for merge, test

#16170 [docs] Add docs for Overflow, TextOverflow, WhiteSpace
  docs/src/pages/system/display/Block.js
  docs/src/pages/system/display/Hiding.js
  docs/src/pages/system/display/Inline.js
  docs/src/pages/system/display/Overflow.js
  docs/src/pages/system/display/Print.js
  docs/src/pages/system/display/TextOverflow.js
  docs/src/pages/system/display/WhiteSpace.js
  docs/src/pages/system/display/display.md
Labels: PR: good for merge, docs, package: system

#16137 [Select] Fix specificity issue
  docs/src/pages/components/selects/CustomizedSelects.js
  docs/src/pages/components/selects/CustomizedSelects.tsx
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
  packages/material-ui/src/TablePagination/TablePagination.js
  pages/api/filled-input.md
  pages/api/input-base.md
  pages/api/native-select.md
  pages/api/outlined-input.md
  pages/api/select.md
  pages/api/table-pagination.md
Labels: PR: good for merge, bug, component: Select

#16214 [Select] Fix autowidth not working with open controlled
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: good for merge, bug, component: Select

#16220 [core] Add missing MuiTableHead and MuiTableBody type to theme.props
  packages/material-ui/src/styles/props.d.ts
Labels: PR: good for merge, package: core, typescript

#16217 [styles] Remove withTheme type from makeStyles options
  docs/src/pages/styles/api/api.md
  packages/material-ui-styles/src/makeStyles/makeStyles.d.ts
  packages/material-ui/src/styles/makeStyles.d.ts
Labels: PR: good for merge, package: styles

#16225 [core] Change <> to <React.Fragment>
  packages/material-ui-styles/test/index.spec.tsx
  packages/material-ui/test/typescript/components.spec.tsx
Labels: core

#16235 [core] Add MuiCardActionArea prop
  packages/material-ui/src/styles/props.d.ts
Labels: typescript

#16246 [docs] Fix IE 11 rendering issue on the pickers page
  package.json
  yarn.lock
Labels: docs

#16229 [docs] Batch of fixes
  README.md
  docs/src/modules/components/Demo.js
  docs/src/pages/components/progress/progress.md
  docs/src/pages/versions/StableVersions.js
  docs/static/_redirects
  packages/material-ui-lab/package.json
Labels: PR: good for merge, docs

#16226 [docs] Include and explain value type change in migration guide
  docs/src/pages/guides/migration-v3/migration-v3.md
  docs/src/pages/guides/typescript/typescript.md
Labels: docs, typescript

#16236 [docs] Instapaper, fix contained+secondary button border
  docs/src/pages/premium-themes/instapaper/theme/instapaper/components/button.js
Labels: PR: good for merge, docs

#16252 [Slider] Mitigate floating point errors
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: PR: good for merge, enhancement, lab: Slider

#16231 [system] Add visibility property to display
  docs/src/pages/system/display/Visibility.js
  docs/src/pages/system/display/display.md
  packages/material-ui-system/src/display.js
  packages/material-ui-system/src/index.d.ts
Labels: PR: good for merge, package: system

#16211 [docs] Improve code variant switch perf
  docs/src/modules/components/AppWrapper.js
Labels: PR: good for merge, docs, performance

#16230 [types] Explicitly use react types
  packages/material-ui-types/index.d.ts
  packages/material-ui-types/package.json
Labels: PR: good for merge, package: types, typescript

#16250 [ButtonBase] Fix dragging issue
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: PR: good for merge, bug, component: ButtonBase

#16257 [Snackbar] Fix type definition of autoHideDuration prop
  packages/material-ui/src/Snackbar/Snackbar.d.ts
Labels: PR: good for merge, component: Snackbar, typescript

#16256 [Divider] Add aria role if it's not implicit
  packages/material-ui/src/Divider/Divider.js
  packages/material-ui/src/Divider/Divider.test.js
Labels: accessibility, component: Divider

#16199 [docs] Remove import if there are no specifiers left
  package.json
  packages/babel-plugin-unwrap-createStyles/src/unwrapCreateStyles.js
  packages/babel-plugin-unwrap-createStyles/test/.gitattributes
  packages/babel-plugin-unwrap-createStyles/test/__fixtures__/remove-import/code.js
  packages/babel-plugin-unwrap-createStyles/test/__fixtures__/remove-import/output.js
  packages/babel-plugin-unwrap-createStyles/test/unwrapCreateStyles.test.js
  yarn.lock
Labels: PR: good for merge, docs

#16261 [ci] Build packages in parallel for size snapshot
  azure-pipelines.yml
Labels: PR: good for merge, test

#16266 [TextField] Fix media hover specificity issue
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: good for merge, bug, component: TextField

#16268 [examples] Fix the styled-jsx integration of the Next.js examples
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
Labels: PR: good for merge, bug, docs

#16275 [Slider] Fix various tick mark issues
  docs/src/pages/components/slider/DiscreteSlider.js
  docs/src/pages/components/slider/DiscreteSlider.tsx
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: bug, lab: Slider

#16279 [docs] Fix code example
  docs/src/pages/styles/advanced/advanced.md
Labels: PR: good for merge, docs

#16267 [docs] Material Sense is only using v3
  docs/src/pages/getting-started/example-projects/example-projects.md
Labels: PR: good for merge, docs

#16286 [ci] Fix a typo emooji -> emoji
  dangerfile.js
Labels: core

#16274 [docs] Fix outdated react-transition-group docs link
  docs/scripts/buildApi.js
  pages/api/collapse.md
  pages/api/fade.md
  pages/api/grow.md
  pages/api/slide.md
  pages/api/zoom.md
Labels: docs

#16169 [system] Add support for marginX, marginY, paddingX, and paddingY
  docs/src/pages/system/spacing/spacing.md
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/spacing.js
  packages/material-ui-system/src/spacing.test.js
Labels: PR: good for merge, enhancement, package: system

#16254 [Modal] Migrate to hooks
  docs/src/pages/components/modal/modal.md
  packages/material-ui/src/Modal/Modal.js
Labels: PR: good for merge, component: Modal, performance

#16288 [example] Hooks are standards now, no need to mention it
  examples/nextjs-with-typescript/README.md
  examples/nextjs/README.md
Labels: PR: good for merge, docs

#16290 [core] theme.spacing - remove string from SpacingArgument
  packages/material-ui/src/styles/createSpacing.d.ts
Labels: package: core, typescript

#16281 [Slide] Remove the transform property once open
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
Labels: PR: good for merge, bug, component: Slide

#16284 [styles] Only run the check on the client-side
  .github/ISSUE_TEMPLATE/1.bug.md
  docs/src/pages/components/portal/portal.md
  docs/webpackBaseConfig.js
  packages/material-ui-styles/src/index.js
  packages/material-ui/src/ButtonBase/createRippleHandler.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  pages/api/dialog.md
  scripts/sizeSnapshot/webpack.config.js
Labels: PR: good for merge, package: styles

#16289 [Menu] Add missing `autoFocus` TypeScript types
  packages/material-ui/src/ListItem/ListItem.d.ts
  packages/material-ui/src/Menu/Menu.d.ts
  packages/material-ui/src/MenuList/MenuList.d.ts
Labels: package: core, typescript

#16291 [TouchRipple] Fix ripple staying on fast updates
  packages/material-ui/src/ButtonBase/TouchRipple.js
Labels: bug, package: core

#15732 [test] Introduce @testing-library/react
  .eslintrc.js
  package.json
  packages/material-ui/src/ButtonBase/Ripple.test.js
  test/utils/createClientRender.js
  test/utils/createDOM.js
  test/utils/init.js
  yarn.lock
Labels: discussion, test

#16298 [Textarea] Update height when maxRows prop changes
  packages/material-ui/src/InputBase/Textarea.js
  packages/material-ui/src/InputBase/Textarea.test.js
Labels: PR: good for merge, bug, component: Textarea

#16304 [TextField] Reduce specificity of notchedOutline
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: good for merge, component: TextField, enhancement

#16296 [Select] Fix forward ref logic
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
Labels: PR: good for merge, bug, component: Select

#16311 [core] Add missing exports from styles in core
  packages/material-ui/src/index.js
Labels: PR: good for merge, core

#16297 [Grow][Zoom] Remove transform value when entered
  docs/src/pages/components/transitions/SimpleGrow.js
  docs/src/pages/components/transitions/SimpleGrow.tsx
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Zoom/Zoom.js
Labels: PR: good for merge, docs

#15839 [Modal] Fix aria-hidden restore logic
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/ModalManager.js
  packages/material-ui/src/Modal/ModalManager.test.js
  packages/material-ui/src/Modal/isOverflowing.js
  packages/material-ui/src/Modal/manageAriaHidden.d.ts
  packages/material-ui/src/Modal/manageAriaHidden.js
Labels: PR: good for merge, accessibility, component: Modal

#16326 [docs] Fix links that point to the next branch
  docs/src/pages/customization/default-theme/default-theme.md
  docs/src/pages/customization/z-index/z-index.md
Labels: docs

#16323 [MenuList] Fix keyboard a11y when no item is focused when opening
  .eslintrc.js
  docs/src/pages/components/selects/SimpleSelect.js
  docs/src/pages/components/selects/SimpleSelect.tsx
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/test/integration/.eslintrc.js
  packages/material-ui/test/integration/MenuList.test.js
  test/utils/init.js
Labels: accessibility, bug, component: Menu

#14992 [Dialog] Prepare deprecation of withMobileDialog
  docs/src/pages/components/dialogs/ResponsiveDialog.js
  docs/src/pages/components/dialogs/ResponsiveDialog.tsx
  docs/src/pages/components/dialogs/dialogs.md
Labels: PR: good for merge, component: Dialog, docs

#16294 [Select] Fix display when no value is selected
  packages/material-ui-styles/src/index.js
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
  pages/api/list-item.md
  pages/api/menu-list.md
  test/regressions/tests/Select/SelectAlignment.js
  test/regressions/tests/Select/SelectMissingValue.js
  test/regressions/tests/Select/SelectOverflow.js
Labels: PR: good for merge, bug, component: Select

#16329 [Slider] Fix onChangeCommitted firing on mouseenter
  packages/material-ui-lab/src/Slider/Slider.js
Labels: PR: good for merge, bug, lab: Slider

#16335 [docs] Better react-router-dom version comment
  docs/src/pages/components/links/LinkRouter.js
  docs/src/pages/components/links/LinkRouter.tsx
Labels: component: Link, docs

#16342 [docs] Use latest size snapshot from master
  docs/static/_redirects
Labels: docs

#16350 [Slider] Fix label contrast color
  docs/src/pages/components/buttons/ButtonRouter.js
  docs/src/pages/components/buttons/ButtonRouter.tsx
  docs/src/pages/components/links/LinkRouter.js
  docs/src/pages/components/links/LinkRouter.tsx
  docs/src/pages/components/slider/slider.md
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/customization/themes/ResponsiveFontSizesChart.js
  docs/src/pages/getting-started/example-projects/example-projects.md
  packages/material-ui-benchmark/README.md
  packages/material-ui-benchmark/package.json
  packages/material-ui-benchmark/src/system.js
  packages/material-ui-lab/src/Slider/ValueLabel.js
Labels: PR: good for merge, accessibility, lab: Slider

#16345 [docs] Some fixes to the Link component page
  docs/src/pages/components/links/links.md
Labels: PR: good for merge, docs

#16321 [theme] Validate fontSize in createTypography
  packages/material-ui/src/styles/createTypography.js
Labels: PR: good for merge, docs

#16324 [docs] Improve colors reliably
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdCodeFund.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/HomeBackers.js
  docs/src/modules/components/HomeFooter.js
  docs/src/modules/components/HomeQuickWord.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/HomeUsers.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/ThemeContext.js
  docs/src/modules/components/prism-okaidia.css
  docs/src/modules/components/prism.js
  docs/src/pages/components/snackbars/CustomizedSnackbars.js
  docs/src/pages/components/snackbars/CustomizedSnackbars.tsx
  docs/src/pages/customization/color/ColorDemo.js
  pages/_document.js
  pages/index.js
Labels: PR: good for merge, accessibility, docs

#16370 [docs] Fix link to Button API in FAQ
  docs/src/pages/getting-started/faq/faq.md
Labels: PR: good for merge, docs

#16365 [docs] Fix typo in TypeScript doc
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/guides/typescript/typescript.md
Labels: PR: good for merge, docs, typescript

#16375 [docs] Add missing page title for translations
  docs/translations/translations.json
Labels: PR: good for merge, docs

#16368 [docs] Update testing guide
  docs/src/pages/guides/testing/testing.md
Labels: PR: good for merge, docs

#16378 [docs] [TableCell] Fix padding and size property descriptions
  packages/material-ui/src/TableCell/TableCell.js
  pages/api/table-cell.md
Labels: PR: good for merge, component: Table, docs

#16380 [docs] Replace hardcoded content with translation
  docs/src/modules/components/.eslintrc.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DemoLanguages.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/Notifications.js
  docs/translations/translations.json
  packages/eslint-plugin-material-ui/README.md
  packages/eslint-plugin-material-ui/package.json
  packages/eslint-plugin-material-ui/src/index.js
  packages/eslint-plugin-material-ui/src/rules/no-hardcoded-labels.js
  packages/eslint-plugin-material-ui/src/rules/no-hardcoded-labels.test.js
  yarn.lock
Labels: docs

#16387 [TextareaAutosize] Fix one possible case of infinite render loop
  packages/material-ui/src/InputBase/Textarea.js
Labels: PR: good for merge, bug, component: TextareaAutosize

#16361 [ButtonBase] Improve test coverage
  docs/tsconfig.json
  package.json
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/test-utils/createShallow.d.ts
  packages/material-ui/tsconfig.test.json
  pages/api/button-base.md
  test/utils/createClientRender.js
  test/utils/createDOM.d.ts
  test/utils/init.d.ts
  tsconfig.json
  yarn.lock
Labels: component: ButtonBase, test, typescript

#16388 [docs] Fix typo in interoperability guide
  docs/src/pages/guides/interoperability/interoperability.md
Labels: PR: good for merge, docs

#16385 [Modal] Make the modal demo style more "agnostic"
  CHANGELOG.md
  docs/src/pages/components/modal/SimpleModal.js
  docs/src/pages/components/modal/SimpleModal.tsx
  docs/src/pages/customization/palette/DarkTheme.js
  docs/src/pages/customization/palette/DarkTheme.tsx
  docs/src/pages/customization/palette/Palette.js
  docs/src/pages/customization/palette/palette.md
  docs/src/pages/customization/themes/WithTheme.tsx
  pages/_app.js
Labels: PR: good for merge, component: Modal, docs

#16397 [ButtonBase] Fix anchors with href having a button role
  docs/src/modules/components/Link.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: PR: good for merge, accessibility, component: ButtonBase

#16392 [Modal] Fix persisting aria-hidden
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/ModalManager.test.js
  test/utils/init.d.ts
  test/utils/init.js
Labels: PR: good for merge, bug, component: Modal

#16404 [docs] Fix typo in customizing components
  docs/src/pages/customization/components/components.md
Labels: docs

#16401 [Select] Fix node reference
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/SelectInput.test.js
Labels: PR: good for merge, bug, component: Select

#16376 [docs] Update displayEmpty prop description in Select API docs
  packages/material-ui/src/Select/Select.js
  pages/api/select.md
Labels: PR: good for merge, docs

#16395 [Slider] Fix small step regression
  docs/src/pages/components/slider/DiscreteSlider.js
  docs/src/pages/components/slider/DiscreteSlider.tsx
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/Slider/Slider.test.js
Labels: PR: good for merge, bug, lab: Slider

#16362 [TextareaAutosize] New public component
  docs/src/pages.js
  docs/src/pages/components/textarea-autosize/EmptyTextarea.js
  docs/src/pages/components/textarea-autosize/EmptyTextarea.tsx
  docs/src/pages/components/textarea-autosize/MaxHeightTextarea.js
  docs/src/pages/components/textarea-autosize/MaxHeightTextarea.tsx
  docs/src/pages/components/textarea-autosize/MinHeightTextarea.js
  docs/src/pages/components/textarea-autosize/MinHeightTextarea.tsx
  docs/src/pages/components/textarea-autosize/textarea-autosize.md
  packages/material-ui/package.json
  packages/material-ui/src/GridListTile/GridListTile.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/InputBase/Textarea.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Tabs/ScrollbarSize.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.d.ts
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
  packages/material-ui/src/TextareaAutosize/index.d.ts
  packages/material-ui/src/TextareaAutosize/index.js
  packages/material-ui/src/utils/debounce.js
  packages/material-ui/src/utils/debounce.test.js
  pages/_document.js
  pages/api/textarea-autosize.js
  pages/api/textarea-autosize.md
  pages/components/textarea-autosize.js
  scripts/sizeSnapshot/webpack.config.js
  yarn.lock
Labels: PR: good for merge, component: TextareaAutosize, enhancement

#16398 [ListItemIcon] Add margin to line up when using flex-start
  packages/material-ui/src/ListItemIcon/ListItemIcon.js
  packages/material-ui/src/ListItemIcon/ListItemIcon.test.js
  pages/api/list-item-icon.md
Labels: PR: good for merge, component: ListItem

#16406 [docs] Fix typo in docs server
  docs/src/server.js
Labels: docs

#16405 [ci] Move TypeScript tests into separate job
  .circleci/config.yml
Labels: test

#16396 [CardMedia] Change prop requirements to conform html picture semantics
  packages/material-ui/src/CardMedia/CardMedia.js
  packages/material-ui/src/CardMedia/CardMedia.test.js
Labels: Component: CardMedia, PR: good for merge, enhancement

#16412 [Tooltip] Fix arrow demos
  docs/src/pages/components/tooltips/CustomizedTooltips.js
  docs/src/pages/components/tooltips/CustomizedTooltips.tsx
Labels: PR: good for merge, component: Tooltip, docs
