Repository mui/material-ui, pull requests merged in 2019-05, with the labels that each got.

#15534 [ListItem][ExpansionPanel] Follow the style convention
  docs/src/pages/css-in-js/advanced/advanced.md
  docs/src/pages/guides/migration-v3/migration-v3.md
  packages/material-ui-styles/src/createGenerateClassName/createGenerateClassName.js
  packages/material-ui-styles/src/createGenerateClassName/createGenerateClassName.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ListItem/ListItem.js
Labels: PR: good for merge, breaking change, bug, component: ExpansionPanel, component: ListItem

#15541 [TableCell] Update TypeScript definitions
  packages/material-ui/src/TableCell/TableCell.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
Labels: typescript

#15547 [core] Fix createStyles not being defined
  packages/material-ui/src/index.js
Labels: typescript

#15549 [core] Set default theme type for makeStyles
  packages/material-ui/src/styles/makeStyles.d.ts
  packages/material-ui/test/typescript/hoc-interop.spec.tsx
  packages/material-ui/test/typescript/styles.spec.tsx
  packages/material-ui/tsconfig.json
Labels: typescript

#15552 [docs] Fix Draggable Dialog interactions with the content
  docs/src/pages/demos/dialogs/DraggableDialog.js
  docs/src/pages/demos/dialogs/DraggableDialog.tsx
Labels: PR: good for merge, bug, component: Dialog, docs

#15539 [docs] Simplify wording for customization demo descriptions
  docs/src/pages/demos/badges/badges.md
  docs/src/pages/demos/breadcrumbs/breadcrumbs.md
  docs/src/pages/demos/buttons/buttons.md
  docs/src/pages/demos/dialogs/dialogs.md
  docs/src/pages/demos/expansion-panels/expansion-panels.md
  docs/src/pages/demos/menus/menus.md
  docs/src/pages/demos/progress/progress.md
  docs/src/pages/demos/selects/selects.md
  docs/src/pages/demos/snackbars/snackbars.md
  docs/src/pages/demos/steppers/steppers.md
  docs/src/pages/demos/switches/CustomizedSwitches.js
  docs/src/pages/demos/switches/CustomizedSwitches.tsx
  docs/src/pages/demos/switches/switches.md
  docs/src/pages/demos/tables/tables.md
  docs/src/pages/demos/tabs/tabs.md
  docs/src/pages/demos/text-fields/text-fields.md
  docs/src/pages/demos/tooltips/tooltips.md
  docs/src/pages/lab/slider/CustomizedSlider.js
  docs/src/pages/lab/slider/CustomizedSlider.tsx
  docs/src/pages/lab/slider/slider.md
Labels: PR: good for merge, docs

#15556 [Menu] Add 'variant' prop TypeScript declaration
  packages/material-ui/src/Menu/Menu.d.ts
Labels: component: Menu, typescript

#15538 [core] Set default theme type for useTheme
  docs/src/pages/demos/autocomplete/IntegrationReactSelect.tsx
  docs/src/pages/demos/cards/MediaControlCard.tsx
  docs/src/pages/demos/drawers/MiniDrawer.tsx
  docs/src/pages/demos/drawers/PersistentDrawerLeft.tsx
  docs/src/pages/demos/drawers/PersistentDrawerRight.tsx
  docs/src/pages/demos/drawers/ResponsiveDrawer.tsx
  packages/material-ui/src/styles/useTheme.d.ts
Labels: PR: good for merge, package: core, typescript

#15501 [docs] Fix typechecking
  docs/src/pages/css-in-js/basics/AdaptingHook.tsx
  docs/src/pages/demos/autocomplete/IntegrationAutosuggest.tsx
  docs/src/pages/demos/chips/ChipsArray.tsx
  docs/src/pages/demos/dialogs/ConfirmationDialog.tsx
  docs/src/pages/demos/dialogs/FullScreenDialog.tsx
  docs/src/pages/demos/drawers/MiniDrawer.tsx
  docs/src/pages/demos/progress/CircularIntegration.tsx
  docs/src/pages/demos/selects/CustomizedSelects.tsx
  docs/src/pages/demos/selects/DialogSelect.tsx
  docs/src/pages/demos/selects/MultipleSelect.tsx
  docs/src/pages/demos/selects/NativeSelects.tsx
  docs/src/pages/demos/selects/SimpleSelect.tsx
  docs/src/pages/demos/snackbars/CustomizedSnackbars.js
  docs/src/pages/demos/snackbars/CustomizedSnackbars.tsx
  docs/src/pages/demos/snackbars/FabIntegrationSnackbar.js
  docs/src/pages/demos/snackbars/FabIntegrationSnackbar.tsx
  docs/src/pages/system/basics/CssProp.tsx
  docs/src/pages/system/basics/JSS.tsx
  packages/material-ui-system/src/index.d.ts
  tsconfig.json
Labels: typescript

#15439 [Slider] Save focus on slider after click
  packages/material-ui-lab/src/Slider/Slider.js
Labels: accessibility, lab: Slider

#15560 [styles] Create a new JSS instance with injectFirst
  docs/src/modules/components/AppWrapper.js
  packages/material-ui-styles/src/StylesProvider/StylesProvider.js
Labels: package: styles

#15571 [docs] Document v4 theme.spacing.unit deprecation
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: docs

#14573 [theme] Responsive font sizes
  .circleci/config.yml
  docs/src/pages/customization/themes/ResponsiveFontSizes.js
  docs/src/pages/customization/themes/themes.md
  packages/material-ui/package.json
  packages/material-ui/src/styles/createTypography.js
  packages/material-ui/src/styles/cssUtils.js
  packages/material-ui/src/styles/cssUtils.test.js
  packages/material-ui/src/styles/index.js
  packages/material-ui/src/styles/responsiveFontSizes.js
  packages/material-ui/src/styles/responsiveFontSizes.test.js
  yarn.lock
Labels: PR: good for merge, enhancement

#15398 [Tooltip] Display only on keyboard focus
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/focusVisible.d.ts
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/utils/focusVisible.js
Labels: PR: good for merge, accessibility, breaking change, component: Tooltip

#15576 [Box] Add to core index TypeScript definitions
  docs/src/pages/utils/box/box.md
  packages/material-ui/src/index.d.ts
Labels: bug, component: Box, docs, typescript

#15567 [docs] Update Changelog
  CHANGELOG.md
  docs/src/pages/demos/pickers/pickers.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/server.js
  examples/cdn-next/README.md
  examples/cdn-next/index.html
  examples/create-react-app-next/README.md
  examples/create-react-app-next/src/App.js
  examples/create-react-app-with-typescript-next/README.md
  examples/create-react-app-with-typescript-next/src/App.tsx
  examples/gatsby-next/README.md
  examples/gatsby-next/src/pages/about.js
  examples/gatsby-next/src/pages/index.js
  examples/nextjs-next/README.md
  examples/nextjs-next/pages/about.js
  examples/nextjs-next/pages/index.js
  examples/parcel-next/README.md
  examples/parcel-next/src/App.js
  examples/preact-next/README.md
  examples/preact-next/src/App.js
  examples/ssr-next/App.js
  examples/ssr-next/README.md
  package.json
  packages/material-ui/package.json
Labels: core

#15550 [example] Fix TypeScript compilation error
  examples/create-react-app-with-typescript-next/src/App.tsx
  examples/create-react-app-with-typescript-next/src/ProTip.tsx
  examples/nextjs-next-with-typescript/src/ProTip.tsx
Labels: bug, docs, typescript

#15583 [docs] Link FlatLogic theme
  docs/src/pages/premium-themes/PremiumThemes.js
  static/themes/react-material-admin.png
Labels: docs

#15522 [AppBar] Hide and Elevate on Scroll
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DemoFrame.js
  docs/src/pages/demos/app-bar/ButtonAppBar.js
  docs/src/pages/demos/app-bar/ButtonAppBar.tsx
  docs/src/pages/demos/app-bar/ElevateAppBar.js
  docs/src/pages/demos/app-bar/ElevateAppBar.tsx
  docs/src/pages/demos/app-bar/HideAppBar.js
  docs/src/pages/demos/app-bar/HideAppBar.tsx
  docs/src/pages/demos/app-bar/MenuAppBar.js
  docs/src/pages/demos/app-bar/MenuAppBar.tsx
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.js
  docs/src/pages/demos/app-bar/PrimarySearchAppBar.tsx
  docs/src/pages/demos/app-bar/SearchAppBar.js
  docs/src/pages/demos/app-bar/SearchAppBar.tsx
  docs/src/pages/demos/app-bar/app-bar.md
  docs/src/pages/demos/dialogs/FullScreenDialog.js
  docs/src/pages/demos/dialogs/FullScreenDialog.tsx
  docs/src/pages/demos/drawers/ClippedDrawer.js
  docs/src/pages/demos/drawers/ClippedDrawer.tsx
  docs/src/pages/demos/drawers/MiniDrawer.js
  docs/src/pages/demos/drawers/MiniDrawer.tsx
  docs/src/pages/demos/drawers/PermanentDrawerLeft.js
  docs/src/pages/demos/drawers/PermanentDrawerLeft.tsx
  docs/src/pages/demos/drawers/PermanentDrawerRight.js
  docs/src/pages/demos/drawers/PermanentDrawerRight.tsx
  docs/src/pages/demos/drawers/PersistentDrawerLeft.js
  docs/src/pages/demos/drawers/PersistentDrawerLeft.tsx
  docs/src/pages/demos/drawers/PersistentDrawerRight.js
  docs/src/pages/demos/drawers/PersistentDrawerRight.tsx
  docs/src/pages/demos/drawers/ResponsiveDrawer.js
  docs/src/pages/demos/drawers/ResponsiveDrawer.tsx
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/useScrollTrigger/index.d.ts
  packages/material-ui/src/useScrollTrigger/index.js
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.d.ts
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.js
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.test.js
Labels: PR: good for merge, component: AppBar, enhancement

#15562 [docs] Extract inherited component from test
  docs/scripts/buildApi.js
  docs/src/modules/utils/parseTest.js
  packages/material-ui/src/AppBar/AppBar.js
  packages/material-ui/src/Backdrop/Backdrop.test.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Card/Card.js
  packages/material-ui/src/CardActionArea/CardActionArea.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/DialogContentText/DialogContentText.js
  packages/material-ui/src/Drawer/Drawer.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
  packages/material-ui/src/Fab/Fab.js
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Fade/Fade.test.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Grow/Grow.test.js
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/Link/Link.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/MenuItem/MenuItem.js
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/src/MobileStepper/MobileStepper.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/StepButton/StepButton.js
  packages/material-ui/src/Stepper/Stepper.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.js
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/Zoom/Zoom.js
  packages/material-ui/src/Zoom/Zoom.test.js
  packages/material-ui/src/internal/SwitchBase.js
Labels: PR: good for merge, docs, test

#15578 [core] Better handle theme.overrides pseudo-classes
  docs/src/pages/customization/overrides/overrides.md
  packages/material-ui/src/styles/createMuiTheme.js
  packages/material-ui/src/styles/createMuiTheme.test.js
Labels: PR: good for merge, docs

#15581 [core] Handle undefined badgeContent rendering empty bubble
  packages/material-ui/src/Badge/Badge.d.ts
  packages/material-ui/src/Badge/Badge.js
  packages/material-ui/src/Badge/Badge.test.js
Labels: PR: good for merge, bug, component: Badge

#15555 [MenuList] Ignore disableListWrap for text focus navigation
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/test/integration/MenuList.test.js
Labels: PR: good for merge, component: MenuList, test

#15577 [types] Add @material-ui/types package
  docs/src/pages/demos/breadcrumbs/RouterBreadcrumbs.tsx
  packages/material-ui-styles/package.json
  packages/material-ui-styles/src/getThemeProps/getThemeProps.d.ts
  packages/material-ui-styles/src/getThemeProps/getThemeProps.spec.ts
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/src/withTheme/withTheme.d.ts
  packages/material-ui-styles/test/index.spec.tsx
  packages/material-ui-types/README.md
  packages/material-ui-types/index.d.ts
  packages/material-ui-types/package.json
  packages/material-ui-types/tsconfig.json
  packages/material-ui/package.json
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grow/Grow.d.ts
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/OverridableComponent.d.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/styles/withTheme.d.ts
  packages/material-ui/src/withMobileDialog/withMobileDialog.d.ts
  packages/material-ui/src/withWidth/withWidth.d.ts
  tsconfig.json
Labels: PR: good for merge, package: types, typescript

#15591 [docs] Fix typography demo in dark mode
  docs/src/pages/style/typography/TypographyTheme.js
Labels: PR: good for merge, bug, docs

#15590 [core] Upgrade the dev dependencies
  .eslintignore
  README.md
  docs/src/modules/components/HomeQuickWord.js
  package.json
  yarn.lock
Labels: PR: good for merge, core

#15613 [docs] Fix plural spelling
  docs/src/pages/premium-themes/premium-themes.md
Labels: docs

#15602 [Box] Add export to barrel (index.js)
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/index.js
Labels: PR: good for merge, component: Box, enhancement

#15621 [docs] Fix the adapting makeStyles based on props example syntax
  docs/src/pages/css-in-js/basics/basics.md
Labels: PR: good for merge, bug, docs

#15608 [docs] Improve installation instructions for running the docs locally
  docs/README.md
Labels: PR: good for merge, docs

#15617 [blog] April 2019 Update
  pages/_app.js
  pages/blog/april-2019-update.js
  pages/blog/april-2019-update.md
  static/blog/april-2019-update/global-class-names.png
  static/blog/april-2019-update/responsive.png
  static/blog/april-2019-update/scroll-trigger.mp4
  static/blog/april-2019-update/transfer-list.png
  static/blog/april-2019-update/typescript.png
Labels: PR: good for merge, docs

#15622 [docs] Add QuintoAndar in the showcase
  docs/src/pages/discover-more/showcase/appList.js
  docs/src/pages/versions/versions.md
  static/images/showcase/onepixel.jpg
  static/images/showcase/quintoandar.png
Labels: docs

#15589 [core] Optimize clsx usage
  babel.config.js
  package.json
  packages/material-ui/src/Chip/Chip.js
  yarn.lock
Labels: PR: good for merge, performance

#15611 [system] Fix css function rejecting certain prop types
  docs/src/pages/system/basics/CssProp.tsx
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.spec.tsx
Labels: PR: good for merge, package: system, typescript

#15619 [Select] Add to docs that options must be direct descendants
  packages/material-ui/src/Select/Select.js
  pages/api/select.md
Labels: PR: good for merge, docs

#15469 [SwipeableDrawer] Remove internal accesses in the tests
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/Drawer/Drawer.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeArea.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: PR: good for merge, component: SwipeableDrawer, enhancement, test

#15630 [core] Drop partial chrome 41 support
  babel.config.js
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  test/karma.conf.js
Labels: PR: good for merge, performance

#15615 [docs] Improve v3 migration guide
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: docs

#15637 [docs] Link Devias theme
  docs/src/pages/premium-themes/PremiumThemes.js
  static/themes/react-material-dashboard.jpg
Labels: docs

#15627 [ButtonBase] Extend error message for invalid `component` prop
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: bug, component: ButtonBase, docs

#15640 [docs] Fix some dev-only warnings
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/Link.js
Labels: docs

#15643 [docs] Fix few grammar issues
  docs/src/pages/components/dialogs/dialogs.md
  docs/src/pages/components/icons/icons.md
  docs/src/pages/components/progress/progress.md
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/snackbars/snackbars.md
Labels: docs

#15652 [SpeedDial] Fix classname override logic
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
Labels: PR: good for merge, bug, lab: SpeedDial

#15634 [useScrollTrigger] Enhance trigger, improve tests
  docs/src/pages/components/app-bar/app-bar.md
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.js
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.test.js
Labels: PR: good for merge, enhancement

#15659 [docs] Link edit page button to github editor
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownDocs.js
Labels: PR: good for merge, docs

#15665 [docs] Miscellaneous polish
  docs/src/pages/components/.eslintrc.js
  docs/src/pages/components/app-bar/ElevateAppBar.js
  docs/src/pages/components/app-bar/ElevateAppBar.tsx
  docs/src/pages/components/app-bar/HideAppBar.js
  docs/src/pages/components/app-bar/HideAppBar.tsx
  docs/src/pages/components/autocomplete/IntegrationReactSelect.js
  docs/src/pages/components/autocomplete/IntegrationReactSelect.tsx
  docs/src/pages/components/breadcrumbs/CollapsedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CollapsedBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/CustomSeparator.js
  docs/src/pages/components/breadcrumbs/CustomSeparator.tsx
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/IconBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/IconBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/SimpleBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/SimpleBreadcrumbs.tsx
  docs/src/pages/components/chips/Chips.js
  docs/src/pages/components/chips/Chips.tsx
  docs/src/pages/components/chips/ChipsArray.js
  docs/src/pages/components/chips/ChipsArray.tsx
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/chips/OutlinedChips.js
  docs/src/pages/components/chips/OutlinedChips.tsx
  docs/src/pages/components/dialogs/ScrollDialog.js
  docs/src/pages/components/dialogs/ScrollDialog.tsx
  docs/src/pages/components/icons/FontAwesome.js
  docs/src/pages/components/icons/SvgMaterialIconsAll.js
  docs/src/pages/components/links/ButtonLink.js
  docs/src/pages/components/menus/MenuPopupState.js
  docs/src/pages/components/popover/PopoverPopupState.js
  docs/src/pages/components/popper/PopperPopupState.js
  docs/src/pages/components/tables/ReactVirtualizedTable.js
  docs/src/pages/components/tooltips/CustomizedTooltips.js
  docs/src/pages/components/tooltips/CustomizedTooltips.tsx
Labels: PR: good for merge, docs

#15646 [Tabs] scrollButtons have an empty button error in compliance tools
  packages/material-ui/src/Tabs/TabScrollButton.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: PR: good for merge, accessibility, component: Tabs

#15633 [core] Remove react-event-listener from function components
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Snackbar/Snackbar.js
Labels: PR: good for merge, core, enhancement

#15667 [docs] Fix dead David DM badges in README
  README.md
Labels: PR: good for merge, docs

#15656 [docs] Add next page link
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdCodeFund.js
  docs/src/modules/components/AppContent.js
  docs/src/modules/components/AppTheme.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/HomeFooter.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/styles/getTheme.js
  docs/src/pages/discover-more/team/Team.js
  docs/src/pages/getting-started/page-layout-examples/blog/Markdown.js
  docs/src/pages/getting-started/page-layout-examples/checkout/AddressForm.js
  docs/src/pages/getting-started/page-layout-examples/sign-in/SignIn.js
  docs/src/pages/getting-started/page-layout-examples/sticky-footer/StickyFooter.js
Labels: PR: good for merge, docs

#15683 [icons] Forward ref
  packages/material-ui-icons/src/utils/createSvgIcon.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/MobileStepper/MobileStepper.test.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/StepIcon/StepIcon.test.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.test.js
  packages/material-ui/src/Tabs/TabScrollButton.test.js
  packages/material-ui/src/internal/svg-icons/createSvgIcon.js
Labels: enhancement, package: icons

#15691 [docs] Use pickers from material-ui namespace
  docs/src/modules/utils/helpers.test.js
  docs/src/pages/components/pickers/MaterialUIPickers.js
  docs/src/pages/components/pickers/MaterialUIPickers.tsx
  next.config.js
  package.json
  yarn.lock
Labels: docs

#15446 [InputBase] Convert to function component
  packages/material-ui/src/CardMedia/CardMedia.test.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
  pages/api/input-base.md
Labels: PR: good for merge, component: InputBase, enhancement

#15709 [docs] Fix a typo
  CHANGELOG.md
  docs/src/pages/guides/migration-v3/migration-v3-de.md
  docs/src/pages/guides/migration-v3/migration-v3-es.md
  docs/src/pages/guides/migration-v3/migration-v3-fr.md
  docs/src/pages/guides/migration-v3/migration-v3-ja.md
  docs/src/pages/guides/migration-v3/migration-v3-pt.md
  docs/src/pages/guides/migration-v3/migration-v3-ru.md
  docs/src/pages/guides/migration-v3/migration-v3-zh.md
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: docs

#15707 [Popups] Allow Element as anchor el
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Popper/Popper.d.ts
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
  test/utils/createDOM.js
Labels: component: Popover, component: Popper, enhancement

#15701 [Portal] Fix disablePortal not working
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/Portal/Portal.js
  packages/material-ui/src/Portal/Portal.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
  packages/material-ui/test/integration/Select.test.js
Labels: PR: good for merge, bug, component: Portal

#15714 [test] Extend StrictMode tests
  packages/material-ui/src/Avatar/Avatar.test.js
  packages/material-ui/src/Badge/Badge.test.js
  packages/material-ui/src/Box/Box.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/Card/Card.test.js
  packages/material-ui/src/CardActionArea/CardActionArea.test.js
  packages/material-ui/src/CardActions/CardActions.test.js
  packages/material-ui/src/CardContent/CardContent.test.js
  packages/material-ui/src/CardHeader/CardHeader.test.js
  packages/material-ui/src/CardMedia/CardMedia.test.js
  packages/material-ui/src/CircularProgress/CircularProgress.test.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/DialogContent/DialogContent.test.js
  packages/material-ui/src/DialogContentText/DialogContentText.test.js
  packages/material-ui/src/DialogTitle/DialogTitle.test.js
  packages/material-ui/src/Divider/Divider.test.js
  packages/material-ui/src/ExpansionPanelActions/ExpansionPanelActions.test.js
  packages/material-ui/src/ExpansionPanelDetails/ExpansionPanelDetails.test.js
  packages/material-ui/src/Fab/Fab.test.js
  packages/material-ui/src/FormGroup/FormGroup.test.js
  packages/material-ui/src/Grid/Grid.test.js
  packages/material-ui/src/GridList/GridList.test.js
  packages/material-ui/src/GridListTileBar/GridListTileBar.test.js
  packages/material-ui/src/Grow/Grow.test.js
  packages/material-ui/src/Icon/Icon.test.js
  packages/material-ui/src/LinearProgress/LinearProgress.test.js
  packages/material-ui/src/Link/Link.test.js
  packages/material-ui/src/ListItemIcon/ListItemIcon.test.js
  packages/material-ui/src/ListItemSecondaryAction/ListItemSecondaryAction.test.js
  packages/material-ui/src/ListSubheader/ListSubheader.test.js
  packages/material-ui/src/MobileStepper/MobileStepper.test.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.test.js
  packages/material-ui/src/Switch/Switch.test.js
  packages/material-ui/src/Toolbar/Toolbar.test.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/Typography/Typography.test.js
Labels: PR: good for merge, package: core, test

#15719 [docs] Fix "enebles" typo on Palette page
  docs/src/pages/customization/palette/palette.md
Labels: docs

#15704 [docs] Persist the side nav scroll
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppDrawerNavItem.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/pages/components/switches/CustomizedSwitches.js
  docs/src/pages/components/switches/CustomizedSwitches.tsx
  docs/src/pages/components/text-fields/CustomizedInputs.js
  docs/src/pages/components/text-fields/CustomizedInputs.tsx
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/customization/globals/globals.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/usage/usage.md
  docs/src/pages/premium-themes/onepirate/SignIn.js
  docs/src/pages/styles/advanced/GlobalClassName.js
  docs/src/pages/styles/advanced/advanced.md
Labels: docs

#15686 [docs] Add showcase criteria
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/discover-more/showcase/appList.js
  docs/src/pages/discover-more/showcase/showcase.md
Labels: docs

#15712 [test] Colocate shadow root test for focus visible with implementation
  package.json
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/utils/focusVisible.test.js
  test/karma.conf.js
Labels: PR: good for merge, accessibility, test

#15723 Fix typo and formatting in app-bar docs
  docs/src/pages/components/app-bar/app-bar.md
Labels: docs

#15702 [docs] Simplify /related-projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: good for merge, docs

#15711 [docs] Port blog to next
  docs/src/modules/components/AppContent.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages.js
  docs/src/pages/getting-started/usage/usage.md
  pages/_app.js
  pages/_document.js
  pages/blog/2019-developer-survey-results.js
  pages/blog/2019-developer-survey-results.md
  pages/blog/april-2019-update.js
  pages/blog/april-2019-update.md
  pages/blog/march-2019-update.js
  pages/blog/march-2019-update.md
  static/blog/2019-survey/1.png
  static/blog/2019-survey/10.png
  static/blog/2019-survey/11.png
  static/blog/2019-survey/12.png
  static/blog/2019-survey/13.png
  static/blog/2019-survey/16.png
  static/blog/2019-survey/2.png
  static/blog/2019-survey/3.png
  static/blog/2019-survey/5a.png
  static/blog/2019-survey/5b.png
  static/blog/2019-survey/6.png
  static/blog/2019-survey/7.png
  static/blog/2019-survey/8.png
  static/blog/2019-survey/9.png
  static/blog/2019-survey/vote.gif
  static/blog/april-2019-update/global-class-names.png
  static/blog/april-2019-update/responsive.png
  static/blog/april-2019-update/scroll-trigger.mp4
  static/blog/april-2019-update/transfer-list.png
  static/blog/april-2019-update/typescript.png
Labels: PR: good for merge, docs

#15672 [Tabs] Update onChange signature to match docs
  packages/material-ui/src/Tabs/Tabs.js
  pages/api/tabs.md
Labels: PR: good for merge, component: Tabs, docs

#15740 [docs] Warn about ButtonBase#disableRipple and a11y
  docs/src/modules/components/AppDrawerNavItem.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  pages/api/button-base.md
  pages/api/button.md
Labels: PR: good for merge, accessibility, component: ButtonBase, docs

#15743 [ClickAwayListener] Fix scrollbar interaction
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  pages/api/click-away-listener.md
Labels: PR: good for merge, component: ClickAwayListener, enhancement

#15738 [docs] Fix Algolia top level duplication
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppDrawerNavItem.js
  docs/src/pages/components/click-away-listener/click-away-listener.md
  docs/src/pages/components/tabs/CustomizedTabs.js
  docs/src/pages/components/tabs/CustomizedTabs.tsx
Labels: PR: good for merge, docs

#15739 [docs] Overhaul bundle size guide
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: PR: good for merge, docs

#15716 [ButtonBase] Convert to function component
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/src/test-utils/createRender.js
  test/utils/RenderMode.js
  test/utils/init.js
Labels: PR: good for merge, component: ButtonBase, performance

#15737 [SpeedDial] Convert to function component
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.test.js
  pages/api/speed-dial.md
Labels: PR: good for merge, lab: SpeedDial

#15747 [CssBaseline] Fix wrong default font weight
  docs/src/modules/components/AdCodeFund.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/getting-started/page-layout-examples/blog/Blog.js
  packages/material-ui/src/CssBaseline/CssBaseline.js
Labels: PR: good for merge, breaking change, component: CssBaseline

#15748 [docs] Core a11y improvements
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/prism.js
  package.json
  yarn.lock
Labels: PR: good for merge, accessibility, docs

#15644 [ToggleButtonGroup] Add size prop
  docs/src/pages/components/toggle-button/ToggleButtonSizes.js
  docs/src/pages/components/toggle-button/ToggleButtons.js
  docs/src/pages/components/toggle-button/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui-lab/src/ToggleButton/ToggleButton.test.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  pages/api/toggle-button-group.md
  pages/api/toggle-button.md
Labels: PR: good for merge, enhancement, lab: ToggleButton

#15671 [Radio] Animate the check state change
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Radio/RadioButtonIcon.js
  packages/material-ui/src/internal/svg-icons/RadioButtonChecked.js
Labels: PR: good for merge, component: Radio, enhancement, material design spec

#15670 [Tabs] Remove deprecated fullWidth and scrollable props
  packages/material-ui/src/Tabs/Tabs.js
  pages/api/tabs.md
  test/regressions/tests/Tabs/AdvancedTabs.js
Labels: PR: good for merge, breaking change, component: Tabs

#15753 [docs] Add ClickAwayListener breaking change
  CHANGELOG.md
Labels: docs

#15757 [docs] Fix some apostrophe in TypeScript doc
  docs/src/pages/guides/typescript/typescript.md
Labels: PR: good for merge, docs

#15676 [Tabs] Update rendering of auto-scrollable buttons
  packages/material-ui/src/Tabs/TabScrollButton.js
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
  pages/api/tabs.md
Labels: PR: good for merge, breaking change, component: Tabs

#15749 [docs] Fix Nav components subsections to be open by default
  docs/src/modules/components/AppDrawer.js
Labels: docs

#15776 [docs] Fix some gramma in testing doc
  docs/src/pages/guides/testing/testing.md
Labels: docs

#15783 [core] Change cssutils responsiveProperty unit type
  packages/material-ui/src/styles/cssUtils.js
Labels: package: core

#15789 [docs] Fix some gramma in right to left doc
  docs/src/pages/guides/right-to-left/right-to-left.md
Labels: docs

#15781 [system] Add missing TypeScript types for display, flexbox positions, shadows
  packages/material-ui-system/src/index.d.ts
Labels: package: system, typescript

#15792 [docs] Fix typo
  packages/material-ui/src/OverridableComponent.d.ts
Labels: docs

#15796 [docs] Reference the article with it's full name in icon doc
  docs/src/pages/components/icons/icons.md
Labels: docs

#15761 [lab] Fix missing @material-ui/icons dependency
  packages/material-ui-lab/package.json
Labels: PR: good for merge, package: lab

#15797 [docs] Revert the marked change
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/prism.js
  package.json
  yarn.lock
Labels: docs

#15766 [docs] Material-UI v4 is out 🎉
  docs/src/modules/components/MarkdownDocs.js
  docs/src/pages.js
  pages/blog/material-ui-v4-is-out.js
  pages/blog/material-ui-v4-is-out.md
  static/blog/material-ui-v4-is-out/Box.png
  static/blog/material-ui-v4-is-out/banner.png
  static/blog/material-ui-v4-is-out/bundle-size.png
  static/blog/material-ui-v4-is-out/cookbook.png
  static/blog/material-ui-v4-is-out/demo1.png
  static/blog/material-ui-v4-is-out/demo2.png
  static/blog/material-ui-v4-is-out/demo3.png
  static/blog/material-ui-v4-is-out/devtools.png
  static/blog/material-ui-v4-is-out/font-size.png
  static/blog/material-ui-v4-is-out/injectFirst.png
  static/blog/material-ui-v4-is-out/inlinepickers.png
  static/blog/material-ui-v4-is-out/layout.png
  static/blog/material-ui-v4-is-out/material1.png
  static/blog/material-ui-v4-is-out/material2.png
  static/blog/material-ui-v4-is-out/pickers.png
  static/blog/material-ui-v4-is-out/spacing.png
  static/blog/material-ui-v4-is-out/styled-components.png
  static/blog/material-ui-v4-is-out/switch.png
  static/blog/material-ui-v4-is-out/trackbundle.png
  static/blog/material-ui-v4-is-out/typescript.png
Labels: PR: on hold, docs

#15810 [example] Update gatsby-plugin-material-ui dependency
  examples/gatsby/package.json
Labels: PR: good for merge, docs

#15809 [lab] Add missing clsx calls
  packages/material-ui-lab/src/Slider/Slider.js
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
Labels: PR: good for merge, performance

#15813 [docs] Add missing Breadcrumbs CSS API
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  pages/api/breadcrumbs.md
Labels: PR: good for merge, bug, component: Breadcrumbs, docs

#15814 [styles] Add MuiLink to ComponentsPropsList
  packages/material-ui/src/styles/props.d.ts
Labels: PR: good for merge, package: core, typescript

#15817 [docs] Fixes typo in README
  README.md
Labels: PR: good for merge, docs

#15815 [docs] Hide the Ad fallback to Google
  docs/notifications.json
  docs/src/modules/components/Ad.js
  pages/blog/material-ui-v4-is-out.md
Labels: docs

#15816 [core] Add cross-env to docs:size-why
  package.json
Labels: core

#15818 [docs] Update Installation.md for v4.0.0
  docs/src/pages/getting-started/installation/installation.md
Labels: PR: good for merge, docs

#15822 [ListItemText] Update classes type definitions
  packages/material-ui/src/ListItemText/ListItemText.d.ts
Labels: PR: good for merge, component: ListItem, typescript

#15811 [Tooltip] Fix alignment issues
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: good for merge, bug, component: Tooltip

#15838 [docs] Redirect next.material-ui.com to material-ui.com
  docs/static/_redirects
Labels: PR: good for merge, docs

#15836 [docs] Minor fixes
  CONTRIBUTING.md
  examples/preact/package.json
Labels: PR: good for merge, docs

#15826 [docs] Let's take our time, we don't need to rush v5
  docs/src/pages/guides/migration-v3/migration-v3.md
  docs/src/pages/versions/versions.md
Labels: PR: good for merge, docs

#15844 [docs] Fix typo in styles advanced guide
  docs/src/pages/styles/advanced/advanced.md
Labels: docs

#15847 [docs] Add Transitions header in the dialogs page
  docs/src/pages/components/dialogs/dialogs.md
Labels: docs

#15845 [docs] Use makeStyles from core in layout examples
  docs/src/pages/components/selects/CustomizedSelects.js
  docs/src/pages/components/selects/CustomizedSelects.tsx
  docs/src/pages/components/typography/Types.js
  docs/src/pages/components/typography/Types.tsx
  docs/src/pages/getting-started/page-layout-examples/dashboard/Deposits.js
  docs/src/pages/getting-started/page-layout-examples/dashboard/Orders.js
  docs/src/pages/premium-themes/instapaper/pages/instapaper/Profile.js
  docs/src/pages/premium-themes/tweeper/components/tweeper/Tweet.js
  docs/src/pages/premium-themes/tweeper/pages/tweeper/Profile.js
Labels: PR: good for merge, docs

#15758 [docs] Improve lighthouse performance score
  BACKERS.md
  README.md
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/backers.md
  docs/src/modules/utils/getDemoConfig.js
  docs/src/pages/components/typography/typography.md
  docs/src/pages/getting-started/installation/installation.md
  examples/cdn/index.html
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app/public/index.html
  examples/gatsby/plugins/gatsby-plugin-top-layout/TopLayout.js
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
  examples/parcel/src/index.html
  examples/preact/public/index.html
  examples/ssr/server.js
  pages/_app.js
  static/images/blokt.jpg
  static/images/themes-preview.jpg
Labels: PR: good for merge, docs, performance

#15804 [docs] Add SECURITY.md
  SECURITY.md
Labels: PR: good for merge, docs

#15849 [core] Remove dependency on workspace
  packages/material-ui/src/test-utils/RenderMode.js
  packages/material-ui/src/test-utils/createRender.js
  test/utils/init.js
Labels: PR: good for merge, package: core, test

#15843 [Buttons] Consolidate ripple props type declarations
  packages/material-ui-lab/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Fab/Fab.d.ts
  packages/material-ui/src/IconButton/IconButton.d.ts
  packages/material-ui/src/Tab/Tab.d.ts
Labels: component: Button, component: ButtonBase, lab: ToggleButton, typescript

#15764 [core] Remove babel-node for server/shared modules
  docs/scripts/buildIcons.js
  docs/scripts/buildServiceWorker.js
  docs/src/modules/constants.js
  docs/src/modules/utils/helpers.js
  docs/src/server.js
  modules/handleKillSignals.js
  modules/log.js
  package.json
  packages/material-ui/test/umd/run.js
  scripts/listChangedFiles.js
  scripts/prettier.js
Labels: core

#15851 [core] Prepare focus visible polyfill in ref phase
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/utils/focusVisible.js
  packages/material-ui/src/utils/focusVisible.test.js
Labels: PR: good for merge, component: ButtonBase, component: Tooltip

#15853 [test] Remove FontAwesome from screenshot tests
  test/regressions/index.js
Labels: test

#15859 [core] Fix not appearing in github used/dependents
  package.json
  packages/material-ui-codemod/package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui-types/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
Labels: core

#15862 [docs] Update the v4 blog post
  pages/blog/material-ui-v4-is-out.md
Labels: docs

#15782 [codemod] Create spacing api codemod
  docs/src/pages/guides/migration-v3/migration-v3.md
  packages/material-ui-codemod/README.md
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test/actual.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test/expected.js
  packages/material-ui/src/styles/createSpacing.js
Labels: PR: good for merge, codemod

#15857 [docs] Minor improvements to codesandbox demos and examples
  docs/src/modules/utils/getDemoConfig.js
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
  examples/create-react-app-with-typescript/package.json
Labels: PR: good for merge, docs

#15861 [icons] Fix the TypeScript definition of createSvgIcon
  packages/material-ui-icons/src/utils/createSvgIcon.d.ts
Labels: PR: good for merge, package: icons, typescript

#15866 [docs] Add extendedFab migration
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: docs

#15762 [Tabs] Hide scrollbar on MacOS
  examples/ssr/package.json
  packages/material-ui/src/Tabs/ScrollbarSize.js
  packages/material-ui/src/Tabs/Tabs.js
Labels: PR: good for merge, bug, component: Tabs

#15856 [styles] Fix Symbol() usage in IE11
  packages/material-ui-styles/src/ThemeProvider/nested.js
Labels: PR: good for merge, bug

#15871 [docs] Fix Link import
  docs/src/pages/guides/composition/composition.md
Labels: docs

#15865 [docs] Global at rule is called font-face
  docs/src/pages/customization/typography/typography.md
Labels: docs

#15864 [IconButton] Add disable ripple props
  packages/material-ui/src/IconButton/IconButton.d.ts
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/Tab/Tab.d.ts
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tab/Tab.test.js
  pages/api/icon-button.md
  pages/api/tab.md
Labels: component: IconButton, enhancement

#15880 [docs] Fix Boolan -> Boolean
  docs/src/pages/styles/api/api.md
Labels: docs

#15885 [TablePagination] Fix classes type
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TablePagination/TablePagination.spec.tsx
Labels: bug, component: TablePagination, typescript

#15886 [docs] v4 Migration doc slight clean up
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: PR: good for merge, docs

#15780 [docs] Fix most lighthouse a11y issues in input demos
  docs/src/pages/components/autocomplete/IntegrationAutosuggest.js
  docs/src/pages/components/autocomplete/IntegrationAutosuggest.tsx
  docs/src/pages/components/autocomplete/IntegrationDownshift.js
  docs/src/pages/components/autocomplete/IntegrationDownshift.tsx
  docs/src/pages/components/autocomplete/IntegrationReactSelect.js
  docs/src/pages/components/autocomplete/IntegrationReactSelect.tsx
  docs/src/pages/components/buttons/FloatingActionButtonZoom.js
  docs/src/pages/components/buttons/FloatingActionButtonZoom.tsx
  docs/src/pages/components/buttons/IconButtons.js
  docs/src/pages/components/buttons/IconButtons.tsx
  docs/src/pages/components/checkboxes/Checkboxes.js
  docs/src/pages/components/checkboxes/Checkboxes.tsx
  docs/src/pages/components/pickers/MaterialUIPickers.js
  docs/src/pages/components/pickers/MaterialUIPickers.tsx
  docs/src/pages/components/radio-buttons/RadioButtons.js
  docs/src/pages/components/radio-buttons/RadioButtons.tsx
  docs/src/pages/components/selects/CustomizedSelects.js
  docs/src/pages/components/selects/CustomizedSelects.tsx
  docs/src/pages/components/selects/NativeSelects.js
  docs/src/pages/components/selects/NativeSelects.tsx
  docs/src/pages/components/switches/Switches.js
  docs/src/pages/components/switches/Switches.tsx
  docs/src/pages/components/text-fields/CustomizedInputBase.js
  docs/src/pages/components/text-fields/CustomizedInputBase.tsx
  docs/src/pages/components/text-fields/CustomizedInputs.js
  docs/src/pages/components/text-fields/CustomizedInputs.tsx
  docs/src/pages/components/text-fields/FilledTextFields.js
  docs/src/pages/components/text-fields/FilledTextFields.tsx
  docs/src/pages/components/text-fields/OutlinedTextFields.js
  docs/src/pages/components/text-fields/OutlinedTextFields.tsx
  docs/src/pages/components/text-fields/TextFields.js
  docs/src/pages/components/text-fields/TextFields.tsx
  docs/src/pages/components/transfer-list/SelectAllTransferList.js
  docs/src/pages/components/transfer-list/SelectAllTransferList.tsx
  docs/src/pages/components/transfer-list/TransferList.js
  docs/src/pages/components/transfer-list/TransferList.tsx
Labels: PR: good for merge, accessibility, docs

#15890 [ci] Move static tests into separate job
  .circleci/config.yml
Labels: test

#15894 [core] Update babel-plugin-optimize-clsx
  package.json
  yarn.lock
Labels: core

#15623 [Popover] Convert to function component
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  pages/api/popover.md
Labels: PR: good for merge, component: Popover, enhancement

#15884 [Box] Fix prop-types and TypeScript warnings
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/responsivePropType.js
  packages/material-ui/src/Box/Box.d.ts
  packages/material-ui/src/Box/Box.spec.tsx
Labels: bug, component: Box, package: system, typescript

#15874 [docs] Improve interactive performance
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppWrapper.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandboxed.js
  docs/src/modules/components/Link.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/ThemeContext.js
  docs/src/modules/constants.js
  docs/src/modules/redux/initRedux.js
  docs/src/modules/redux/themeReducer.js
  docs/src/modules/styles/getTheme.js
  docs/src/modules/styles/themeInitialState.js
  docs/src/pages/customization/color/ColorTool.js
  package.json
  pages/_document.js
  yarn.lock
Labels: docs

#15891 [theme] Return default value for spacing when no args provided
  docs/src/pages/guides/migration-v3/migration-v3.md
  packages/material-ui/src/styles/createSpacing.js
  packages/material-ui/src/styles/createSpacing.test.js
Labels: PR: good for merge, core

#15908 [docs] Fix wrong variable name (styles => useStyles)
  docs/src/pages/styles/api/api.md
Labels: docs

#15916 [codemod] Improve theme codemod to handle destructured theme.spacing
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test/actual_destructured.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test/expected_destructured.js
Labels: PR: good for merge, codemod, enhancement

#15921 [core] Fix IE 11 crashes related to Object.assign
  babel.config.js
Labels: bug, core

#15913 [styles] Remove warning when component with no displayName is provided
  packages/material-ui-styles/src/makeStyles/makeStyles.js
  packages/material-ui-styles/src/styled/styled.js
  packages/material-ui-styles/src/withStyles/withStyles.js
Labels: bug, package: styles

#15869 [core] Migrate extend ButtonBaseProps typings
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.d.ts
  packages/material-ui/src/CardActionArea/CardActionArea.d.ts
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.d.ts
  packages/material-ui/src/StepButton/StepButton.d.ts
  packages/material-ui/src/TableSortLabel/TableSortLabel.d.ts
  packages/material-ui/src/Tabs/TabScrollButton.d.ts
Labels: core, typescript

#15919 [Container] Document the classes API
  packages/material-ui/src/Container/Container.js
  pages/api/container.md
Labels: PR: good for merge, component: Container, docs

#15875 [core] Minor fixes
  docs/src/pages/components/autocomplete/IntegrationDownshift.tsx
  docs/src/pages/components/no-ssr/FrameDeferring.js
  docs/src/pages/system/flexbox/AlignContent.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Divider/Divider.d.ts
  packages/material-ui/src/Hidden/Hidden.d.ts
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/props.d.ts
  packages/material-ui/src/test-utils/createMount.d.ts
  packages/material-ui/src/useScrollTrigger/index.d.ts
  scripts/sizeSnapshot/create.js
Labels: PR: good for merge, core

#15952 [Radio] Fix dot misalignment in IE11
  packages/material-ui/src/Radio/RadioButtonIcon.js
Labels: bug, component: Radio

#15950 [Breadcrumbs] Add theme props and overrides TypeScript definitions
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
Labels: PR: good for merge, component: Breadcrumbs, typescript

#15943 [Portal] Synchronously call onRendered
  packages/material-ui/src/Portal/Portal.js
Labels: PR: good for merge, bug, component: Portal

#15939 [core] Upgrade rollup and related plugins
  package.json
  yarn.lock
Labels: PR: good for merge, core

#15915 [docs] Add React + Material-UI + Firebase as an example project
  docs/src/pages/getting-started/example-projects/example-projects.md
Labels: PR: good for merge, docs

#15934 [docs] Mention Virtuoso as a possible virtualization integration
  docs/src/pages/components/lists/lists.md
Labels: docs

#15751 [Chip] Add size prop for small option
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/chips/SmallChips.js
  docs/src/pages/components/chips/SmallChips.tsx
  docs/src/pages/components/chips/SmallOutlinedChips.js
  docs/src/pages/components/chips/SmallOutlinedChips.tsx
  docs/src/pages/components/chips/chips.md
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
  pages/api/chip.md
Labels: PR: good for merge, component: Chip, enhancement

#15966 [docs] SignIn -> SignUp typo
  docs/src/pages/getting-started/page-layout-examples/sign-up/SignUp.js
Labels: PR: good for merge, docs

#15958 [core] Export useMediaQuery & useScrollTrigger in index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: PR: good for merge, core

#15863 [Link] Better support of component="button"
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/Link/Link.js
  packages/material-ui/src/Link/Link.test.js
  pages/api/link.md
Labels: PR: good for merge, accessibility, component: Link
