Repository mui/material-ui, pull requests merged in 2020-09, with the labels that each got.

#22401 [Slider] Edge against swallowing of mouse up event
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: bug 🐛, component: Slider

#22440 [docs] Improve styles basics.md section
  docs/src/pages/styles/basics/basics.md
Labels: docs

#22436 [docs] Add DoiT diamond sponsor
  README.md
  docs/public/static/images/blokt.jpg
  docs/public/static/in-house/doit-intl.png
  docs/src/modules/components/DiamondSponsors.js
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/backers.md
Labels: docs

#22444 [TextField] Remove excessive catching of hiddenLabel prop
  packages/material-ui/src/TextField/TextField.js
Labels: component: TextField, performance

#22441 [test] Migrate more components to react-testing-library
  packages/material-ui/src/AccordionDetails/AccordionDetails.test.js
  packages/material-ui/src/FormGroup/FormGroup.test.js
  packages/material-ui/src/Icon/Icon.test.js
  packages/material-ui/src/Paper/Paper.test.js
Labels: test

#22448 [core] Fix useEventCallback type
  packages/material-ui/src/utils/useEventCallback.d.ts
Labels: package: core, typescript

#22438 [Tabs] New option to show scrollbar
  docs/pages/api-docs/tabs.md
  docs/src/pages/components/tabs/tabs.md
  framer/Material-UI.framerfx/code/Tabs.tsx
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: component: Tabs, enhancement

#22346 [docs] Improve export to CodeSandbox
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
Labels: docs

#22457 [docs] Improve next.js example
  examples/nextjs/src/Link.js
Labels: docs

#22458 [docs] Update Backstage showcase img
  docs/public/static/images/showcase/backstage.jpg
Labels: docs

#22461 [core] Batch small changes
  CHANGELOG.md
  docs/public/static/studies.mp4
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/modules/utils/helpers.js
  docs/src/pages/customization/color/color.md
  docs/src/pages/customization/theming/theming.md
  packages/material-ui/src/CardMedia/CardMedia.test.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
Labels: umbrella

#22464 [core] Remove onRendered from Modal and Portal
  docs/pages/api-docs/modal.md
  docs/pages/api-docs/portal.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Modal/Modal.d.ts
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Portal/Portal.d.ts
  packages/material-ui/src/Portal/Portal.js
  packages/material-ui/src/Portal/Portal.test.js
Labels: breaking change, component: Modal, component: Portal

#22463 [docs] Close context menu if repeated
  docs/src/pages/components/menus/ContextMenu.js
  docs/src/pages/components/menus/ContextMenu.tsx
Labels: bug 🐛, component: Menu, docs

#22474 [docs] Bump markdown-to-jsx
  docs/package.json
  yarn.lock
Labels: dependencies, docs, security

#22478 [docs] Fix md files to use styleOverrides instead of overrides
  docs/src/pages/customization/globals/globals.md
Labels: docs

#22459 [docs] Fix unresolved returntypes for props
  docs/pages/api-docs/autocomplete.md
  docs/src/modules/utils/generateMarkdown.ts
Labels: docs

#22455 [core] Try out new JSX transform where available
  azure-pipelines.yml
  packages/material-ui/scripts/rollup.config.js
  scripts/react-next.diff
  scripts/sizeSnapshot/webpack.config.js
Labels: core

#22465 [Modal] Convert ModalManager to TypeScript
  packages/material-ui/src/Modal/ModalManager.d.ts
  packages/material-ui/src/Modal/ModalManager.ts
  packages/material-ui/src/utils/getScrollbarSize.ts
  packages/material-ui/src/utils/ownerDocument.d.ts
  packages/material-ui/src/utils/ownerDocument.js
  packages/material-ui/src/utils/ownerDocument.ts
  packages/material-ui/src/utils/ownerWindow.d.ts
  packages/material-ui/src/utils/ownerWindow.ts
Labels: component: Modal, typescript

#22494 [Paper] Display elevation warning when rendering
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/Paper/Paper.test.js
Labels: component: Paper

#22521 [docs] Change "Let Us Know" button URL
  docs/src/pages/landing/Users.js
Labels: docs

#22517 [theme] Convert transitions from object to ES module
  packages/material-ui/src/styles/createMuiTheme.js
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
  packages/material-ui/src/styles/transitions.d.ts
  packages/material-ui/src/styles/transitions.js
  packages/material-ui/src/styles/transitions.test.js
Labels: package: core

#22524 [BottomNavigation] onClick does not fire if tapped while scrolling
  docs/src/pages/components/bottom-navigation/FixedBottomNavigation.js
  docs/src/pages/components/bottom-navigation/FixedBottomNavigation.tsx
  docs/src/pages/components/bottom-navigation/SimpleBottomNavigation.js
  docs/src/pages/components/bottom-navigation/SimpleBottomNavigation.tsx
  docs/src/pages/components/bottom-navigation/bottom-navigation.md
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.test.js
Labels: component: BottomNavigation, enhancement

#22430 [Chip] Replace :focus with :focus-visible
  docs/pages/api-docs/chip.md
  docs/src/pages/premium-themes/paperbase/Navigator.js
  docs/src/pages/premium-themes/paperbase/Navigator.tsx
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/utils/useIsFocusVisible.test.js
  test/utils/focusVisible.ts
  test/utils/index.js
Labels: bug 🐛, component: Chip

#22525 [SwipeableDrawer] Avoid blocking events
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
Labels: component: SwipeableDrawer, enhancement

#22523 [core] Remove references to other objects from created theme
  packages/material-ui/src/Paper/Paper.test.js
  packages/material-ui/src/styles/createMuiTheme.js
Labels: bug 🐛, package: core

#22555 [Autocomplete] Fix interfaces in the Google Maps demo
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
Labels: component: Autocomplete, docs, typescript

#22537 [theme] Remove palette.text.hint key
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/styles/adaptV4Theme.js
  packages/material-ui/src/styles/adaptV4Theme.test.js
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/src/styles/createPalette.js
Labels: breaking change, core

#22530 [theme] Allow spacing and border radius with CSS unit
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui/src/styles/createSpacing.d.ts
  packages/material-ui/src/styles/createSpacing.test.js
  packages/material-ui/src/styles/index.js
  packages/material-ui/src/styles/shape.d.ts
Labels: enhancement

#22558 [docs] Clarify SSG acronym in Next.js example
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
Labels: docs

#22560 [docs] Fix typo, extra 'you'
  docs/src/pages/components/switches/switches.md
Labels: docs

#22559 [StepIcon] Add className in render SvgIcon
  packages/material-ui/src/StepIcon/StepIcon.js
  packages/material-ui/src/StepIcon/StepIcon.test.js
Labels: component: Stepper, enhancement

#22548 [Slider] Simplify integration with form libraries
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: component: Slider, enhancement

#22569 [core] Remove usage of deprecated .keyCode
  docs/src/modules/components/AppSearch.js
  packages/material-ui/src/Unstable_TrapFocus/Unstable_TrapFocus.js
  packages/material-ui/src/Unstable_TrapFocus/Unstable_TrapFocus.test.js
Labels: core

#22567 [Accordion] Normalize focusVisible logic
  docs/pages/api-docs/accordion-summary.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/AccordionSummary/AccordionSummary.d.ts
  packages/material-ui/src/AccordionSummary/AccordionSummary.js
  packages/material-ui/src/AccordionSummary/AccordionSummary.test.js
Labels: breaking change, component: Accordion, performance

#22568 [docs] Add LightyearVPN to showcase
  docs/public/static/images/showcase/lightyearvpn.jpg
  docs/src/pages/discover-more/showcase/appList.js
Labels: docs

#22566 [Button] Remove dead code
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Fab/Fab.js
Labels: component: Button, design system

#22574 [docs] Option to disable ads
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownDocs.js
Labels: docs

#22575 [docs] Add redirection for links published on npm
  docs/public/_redirects
Labels: docs

#22565 [core] Batch small changes
  dangerfile.js
  docs/pages/_app.js
  docs/pages/api-docs/chip.md
  docs/pages/api-docs/native-select.md
  docs/pages/api-docs/select.md
  docs/pages/api-docs/swipeable-drawer.md
  docs/scripts/buildApi.ts
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/utils/generateMarkdown.ts
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/parseMarkdown.js
  docs/src/modules/utils/parseTest.js
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/customization/default-theme/DefaultTheme.js
  docs/src/pages/customization/theming/theming.md
  docs/src/pages/customization/typography/typography.md
  docs/src/pages/discover-more/roadmap/roadmap.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/versions/versions.md
  framer/Material-UI.framerfx/code/utils/index.ts
  packages/babel-plugin-unwrap-createstyles/src/unwrapCreateStyles.js
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/renameFilters/default.js
  packages/material-ui-styles/src/createStyles/createStyles.d.ts
  packages/material-ui-styles/src/propsToClassKey/propsToClassKey.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-types/index.d.ts
  packages/material-ui-utils/macros/MuiError.macro.js
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/SwipeableDrawer/SwipeArea.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/styles/adaptV4Theme.d.ts
  packages/material-ui/src/styles/colorManipulator.js
  packages/material-ui/src/styles/createMuiTheme.d.ts
  packages/material-ui/src/styles/cssUtils.js
  packages/material-ui/src/styles/transitions.d.ts
  packages/material-ui/src/utils/createChainedFunction.js
  packages/material-ui/src/utils/setRef.ts
  packages/material-ui/src/utils/useEventCallback.js
  scripts/copy-files.js
  scripts/sizeSnapshot/create.js
  test/regressions/index.js
  test/utils/createClientRender.js
  test/utils/createServerRender.js
  test/utils/describeConformance.js
  test/utils/findOutermostIntrinsic.js
Labels: core, umbrella

#22570 [theme] Using disabled opacity from the theme
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Tab/Tab.js
Labels: material design

#22571 [Rating] Explain some styles in code comments
  packages/material-ui-lab/src/Rating/Rating.js
Labels: component: Rating

#22564 [Stepper] Remove Paper and built-in padding
  docs/pages/api-docs/stepper.md
  docs/src/pages/components/steppers/CustomizedSteppers.js
  docs/src/pages/components/steppers/CustomizedSteppers.tsx
  docs/src/pages/components/steppers/HorizontalLinearAlternativeLabelStepper.js
  docs/src/pages/components/steppers/HorizontalLinearAlternativeLabelStepper.tsx
  docs/src/pages/components/steppers/HorizontalLinearStepper.js
  docs/src/pages/components/steppers/HorizontalLinearStepper.tsx
  docs/src/pages/components/steppers/HorizontalNonLinearAlternativeLabelStepper.js
  docs/src/pages/components/steppers/HorizontalNonLinearAlternativeLabelStepper.tsx
  docs/src/pages/components/steppers/HorizontalNonLinearStepper.js
  docs/src/pages/components/steppers/HorizontalNonLinearStepper.tsx
  docs/src/pages/components/steppers/HorizontalNonLinearStepperWithError.js
  docs/src/pages/components/steppers/HorizontalNonLinearStepperWithError.tsx
  docs/src/pages/components/steppers/HorizontalStepperWithError.js
  docs/src/pages/components/steppers/HorizontalStepperWithError.tsx
  docs/src/pages/components/steppers/SwipeableTextMobileStepper.js
  docs/src/pages/components/steppers/SwipeableTextMobileStepper.tsx
  docs/src/pages/components/steppers/TextMobileStepper.js
  docs/src/pages/components/steppers/TextMobileStepper.tsx
  docs/src/pages/components/steppers/VerticalLinearStepper.js
  docs/src/pages/components/steppers/VerticalLinearStepper.tsx
  docs/src/pages/components/steppers/steppers.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Stepper/Stepper.d.ts
  packages/material-ui/src/Stepper/Stepper.js
  packages/material-ui/src/Stepper/Stepper.test.js
Labels: breaking change, component: Stepper

#22573 [Rating] Add form integration test suite
  package.json
  packages/material-ui-lab/src/Rating/Rating.test.js
  test/karma.tests.js
  yarn.lock
Labels: component: Rating, test

#22605 [docs] Customized hook at Autocomplete issue in dark mode
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
Labels: component: Autocomplete, docs

#22591 [Autocomplete] Get root elements of options via renderOption
  docs/pages/api-docs/autocomplete.md
  docs/src/pages/components/autocomplete/CheckboxesTags.js
  docs/src/pages/components/autocomplete/CheckboxesTags.tsx
  docs/src/pages/components/autocomplete/CountrySelect.js
  docs/src/pages/components/autocomplete/CountrySelect.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/components/autocomplete/GoogleMaps.js
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/autocomplete/Highlights.js
  docs/src/pages/components/autocomplete/Highlights.tsx
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: breaking change, component: Autocomplete, enhancement

#22606 [Rating] Treat as input when readOnly
  docs/pages/api-docs/rating.md
  packages/material-ui-lab/src/Rating/Rating.d.ts
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/Rating/Rating.test.js
Labels: bug 🐛, component: Rating

#22603 [Chip] Fix prop-type support for custom variants
  docs/pages/api-docs/chip.md
  packages/material-ui/src/Chip/Chip.js
Labels: bug 🐛, component: Chip

#22613 [Rating] Simpler customization of active "no value" styles
  docs/pages/api-docs/rating.md
  docs/src/pages/components/rating/SimpleRating.js
  docs/src/pages/components/rating/SimpleRating.tsx
  packages/material-ui-lab/src/Rating/Rating.d.ts
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/Rating/Rating.test.js
Labels: breaking change, component: Rating, enhancement

#22616 [docs] Use codesandbox deploy for demos created from deploy previews
  docs/next.config.js
  docs/src/modules/utils/getDemoConfig.js
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
Labels: docs

#22624 [test] Only run on push for master/next
  .circleci/config.yml
  .github/workflows/maintenance.yml
  azure-pipelines.yml
Labels: test

#22600 [Tabs] Only scroll the visible tabs
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: component: Tabs, enhancement

#22627 [test] Only run on push for master/next
  .circleci/config.yml
  .github/workflows/maintenance.yml
  azure-pipelines.yml
Labels: test

#22619 [docs] Improve DX for docs generation
  .circleci/config.yml
  docs/scripts/formattedTSDemos.js
  docs/src/modules/utils/parseTest.js
  docs/src/modules/utils/parseTest.ts
Labels: docs

#22621 [docs] Add additional context to Autocomplete asynchronous documentation
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: component: Autocomplete, docs

#22614 [Slider] Fix value label display for custom value component
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/Slider/ValueLabel.js
Labels: bug 🐛, component: Slider

#22601 [Select] Improve docs for displayEmpty prop
  docs/pages/api-docs/select.md
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
Labels: component: Select, docs

#22642 [docs] Reduce indirections
  docs/src/pages/components/app-bar/MenuAppBar.js
  docs/src/pages/components/app-bar/MenuAppBar.tsx
Labels: docs

#22639 [Rating] Treat read-only as image
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/Rating/Rating.test.js
Labels: component: Rating

#22634 [icons] Expose a data-test-id attribute on all svg icons
  docs/src/pages/components/icons/icons.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/Pagination/Pagination.test.js
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.test.js
  packages/material-ui/src/Avatar/Avatar.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/MobileStepper/MobileStepper.test.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/StepIcon/StepIcon.test.js
  packages/material-ui/src/StepLabel/StepLabel.test.js
  packages/material-ui/src/TabScrollButton/TabScrollButton.test.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/utils/createSvgIcon.js
Labels: component: SvgIcon, test

#22644 [docs] Add ui-schema in related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#22629 [docs] Fix markdown metadata yaml
  docs/src/modules/utils/parseMarkdown.js
  docs/src/modules/utils/parseMarkdown.test.js
  docs/src/pages/components/accordion/accordion.md
  docs/src/pages/components/alert/alert.md
  docs/src/pages/components/app-bar/app-bar.md
  docs/src/pages/components/autocomplete/autocomplete.md
  docs/src/pages/components/avatars/avatars.md
  docs/src/pages/components/backdrop/backdrop.md
  docs/src/pages/components/badges/badges.md
  docs/src/pages/components/bottom-navigation/bottom-navigation.md
  docs/src/pages/components/box/box.md
  docs/src/pages/components/breadcrumbs/breadcrumbs.md
  docs/src/pages/components/button-group/button-group.md
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/cards/cards.md
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/chips/chips.md
  docs/src/pages/components/click-away-listener/click-away-listener.md
  docs/src/pages/components/container/container.md
  docs/src/pages/components/css-baseline/css-baseline.md
  docs/src/pages/components/dialogs/dialogs.md
  docs/src/pages/components/dividers/dividers.md
  docs/src/pages/components/drawers/drawers.md
  docs/src/pages/components/floating-action-button/floating-action-button.md
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/hidden/hidden.md
  docs/src/pages/components/image-list/image-list.md
  docs/src/pages/components/links/links.md
  docs/src/pages/components/lists/lists.md
  docs/src/pages/components/menus/menus.md
  docs/src/pages/components/modal/modal.md
  docs/src/pages/components/pagination/pagination.md
  docs/src/pages/components/paper/paper.md
  docs/src/pages/components/pickers/pickers.md
  docs/src/pages/components/popover/popover.md
  docs/src/pages/components/popper/popper.md
  docs/src/pages/components/portal/portal.md
  docs/src/pages/components/progress/progress.md
  docs/src/pages/components/radio-buttons/radio-buttons.md
  docs/src/pages/components/rating/rating.md
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/skeleton/skeleton.md
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/components/speed-dial/speed-dial.md
  docs/src/pages/components/steppers/steppers.md
  docs/src/pages/components/switches/switches.md
  docs/src/pages/components/tables/tables.md
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/components/textarea-autosize/textarea-autosize.md
  docs/src/pages/components/timeline/timeline.md
  docs/src/pages/components/toggle-button/toggle-button.md
  docs/src/pages/components/tooltips/tooltips.md
  docs/src/pages/components/transitions/transitions.md
  docs/src/pages/components/trap-focus/trap-focus.md
  docs/src/pages/components/tree-view/tree-view.md
  docs/src/pages/components/typography/typography.md
Labels: docs

#22647 [docs] Improve Dashboard template
  docs/src/pages/getting-started/templates/dashboard/Dashboard.js
  docs/src/pages/getting-started/templates/dashboard/Dashboard.tsx
Labels: docs

#22645 [theme] Fix createSpacing.d.ts definition
  packages/material-ui/src/styles/createSpacing.d.ts
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: typescript

#22646 [docs] Batch small changes
  README.md
  docs/pages/_app.js
  docs/public/_redirects
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/utils/helpers.js
  docs/src/pages/components/icons/icons.md
  docs/src/pages/components/material-icons/material-icons.md
  docs/src/pages/components/use-media-query/use-media-query.md
  docs/src/pages/premium-themes/paperbase/Header.js
  docs/src/pages/premium-themes/paperbase/Header.tsx
Labels: docs

#22637 [docs] Encourage DataGrid in /components/tables/ over alternatives
  docs/next.config.js
  docs/package.json
  docs/src/pages/components/tables/BasicTable.js
  docs/src/pages/components/tables/BasicTable.tsx
  docs/src/pages/components/tables/MaterialTableDemo.js
  docs/src/pages/components/tables/MaterialTableDemo.tsx
  docs/src/pages/components/tables/tables.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  yarn.lock
Labels: component: DataGrid, docs

#22676 [test] Run CircleCI anytime
  .circleci/config.yml
Labels: test

#22686 [test] Run CircleCI anytime
  .circleci/config.yml
Labels: test

#22683 [Chip] Rename `default` variant to `filled`
  docs/pages/api-docs/chip.md
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/chips/chips.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/Chip/Chip.js
Labels: breaking change, component: Chip

#22672 [Autocomplete] Add "remove-option" to AutocompleteCloseReason type
  docs/pages/api-docs/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: component: Autocomplete, typescript

#22690 [Tabs] Fix TabScrollButton using absolute path
  packages/material-ui/src/TabScrollButton/TabScrollButton.d.ts
Labels: component: Tabs, typescript

#22635 [Checkbox] Improve indeterminate UI
  docs/src/pages/components/checkboxes/IndeterminateCheckbox.js
  docs/src/pages/components/checkboxes/IndeterminateCheckbox.tsx
  docs/src/pages/components/checkboxes/checkboxes.md
  packages/material-ui/src/Checkbox/Checkbox.js
Labels: component: Checkbox, enhancement

#22681 [docs] Avoid confusion between layout grid and data grid
  docs/public/_redirects
  docs/src/pages/components/grid/grid.md
Labels: docs

#22654 [Stepper] Add slight transition
  packages/material-ui/src/MobileStepper/MobileStepper.js
  packages/material-ui/src/StepIcon/StepIcon.js
  packages/material-ui/src/StepLabel/StepLabel.js
Labels: component: Stepper, enhancement

#22680 [icons] Synchronize with Google
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/src/AlignHorizontalCenter.js
  packages/material-ui-icons/src/AlignHorizontalCenterOutlined.js
  packages/material-ui-icons/src/AlignHorizontalCenterRounded.js
  packages/material-ui-icons/src/AlignHorizontalCenterSharp.js
  packages/material-ui-icons/src/AlignHorizontalCenterTwoTone.js
  packages/material-ui-icons/src/AlignHorizontalLeft.js
  packages/material-ui-icons/src/AlignHorizontalLeftOutlined.js
  packages/material-ui-icons/src/AlignHorizontalLeftRounded.js
  packages/material-ui-icons/src/AlignHorizontalLeftSharp.js
  packages/material-ui-icons/src/AlignHorizontalLeftTwoTone.js
  packages/material-ui-icons/src/AlignHorizontalRight.js
  packages/material-ui-icons/src/AlignHorizontalRightOutlined.js
  packages/material-ui-icons/src/AlignHorizontalRightRounded.js
  packages/material-ui-icons/src/AlignHorizontalRightSharp.js
  packages/material-ui-icons/src/AlignHorizontalRightTwoTone.js
  packages/material-ui-icons/src/AlignVerticalBottom.js
  packages/material-ui-icons/src/AlignVerticalBottomOutlined.js
  packages/material-ui-icons/src/AlignVerticalBottomRounded.js
  packages/material-ui-icons/src/AlignVerticalBottomSharp.js
  packages/material-ui-icons/src/AlignVerticalBottomTwoTone.js
  packages/material-ui-icons/src/AlignVerticalCenter.js
  packages/material-ui-icons/src/AlignVerticalCenterOutlined.js
  packages/material-ui-icons/src/AlignVerticalCenterRounded.js
  packages/material-ui-icons/src/AlignVerticalCenterSharp.js
  packages/material-ui-icons/src/AlignVerticalCenterTwoTone.js
  packages/material-ui-icons/src/AlignVerticalTop.js
  packages/material-ui-icons/src/AlignVerticalTopOutlined.js
  packages/material-ui-icons/src/AlignVerticalTopRounded.js
  packages/material-ui-icons/src/AlignVerticalTopSharp.js
  packages/material-ui-icons/src/AlignVerticalTopTwoTone.js
  packages/material-ui-icons/src/HorizontalDistribute.js
  packages/material-ui-icons/src/HorizontalDistributeOutlined.js
  packages/material-ui-icons/src/HorizontalDistributeRounded.js
  packages/material-ui-icons/src/HorizontalDistributeSharp.js
  packages/material-ui-icons/src/HorizontalDistributeTwoTone.js
  packages/material-ui-icons/src/LeaveBagsAtHome.js
  packages/material-ui-icons/src/LeaveBagsAtHomeOutlined.js
  packages/material-ui-icons/src/LeaveBagsAtHomeRounded.js
  packages/material-ui-icons/src/LeaveBagsAtHomeSharp.js
  packages/material-ui-icons/src/LeaveBagsAtHomeTwoTone.js
  packages/material-ui-icons/src/QrCode2.js
  packages/material-ui-icons/src/QrCode2Outlined.js
  packages/material-ui-icons/src/QrCode2Rounded.js
  packages/material-ui-icons/src/QrCode2Sharp.js
  packages/material-ui-icons/src/QrCode2TwoTone.js
  packages/material-ui-icons/src/UpdateDisabled.js
  packages/material-ui-icons/src/UpdateDisabledOutlined.js
  packages/material-ui-icons/src/UpdateDisabledRounded.js
  packages/material-ui-icons/src/UpdateDisabledSharp.js
  packages/material-ui-icons/src/UpdateDisabledTwoTone.js
  packages/material-ui-icons/src/VerticalDistribute.js
  packages/material-ui-icons/src/VerticalDistributeOutlined.js
  packages/material-ui-icons/src/VerticalDistributeRounded.js
  packages/material-ui-icons/src/VerticalDistributeSharp.js
  packages/material-ui-icons/src/VerticalDistributeTwoTone.js
  packages/material-ui-icons/src/index.js
Labels: package: icons

#22687 [theme] Rename `type` to `mode`
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/ThemeContext.js
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/progress/CustomizedProgressBars.js
  docs/src/pages/components/progress/CustomizedProgressBars.tsx
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/customization/default-theme/DefaultTheme.js
  docs/src/pages/customization/palette/DarkTheme.js
  docs/src/pages/getting-started/templates/dashboard/Dashboard.js
  docs/src/pages/getting-started/templates/dashboard/Dashboard.tsx
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/templates/pricing/Pricing.tsx
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.tsx
  docs/src/pages/getting-started/templates/sticky-footer/StickyFooter.js
  docs/src/pages/getting-started/templates/sticky-footer/StickyFooter.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/landing/Themes.js
  framer/Material-UI.framerfx/code/ThemeProvider.tsx
  framer/Material-UI.framerfx/design/document.json
  framer/scripts/additionalProps.js
  packages/material-ui-lab/src/Alert/Alert.js
  packages/material-ui-lab/src/PaginationItem/PaginationItem.js
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui/src/AppBar/AppBar.js
  packages/material-ui/src/Avatar/Avatar.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/StepConnector/StepConnector.js
  packages/material-ui/src/StepContent/StepContent.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/adaptV4Theme.js
  packages/material-ui/src/styles/adaptV4Theme.test.js
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
  packages/material-ui/test/typescript/styles.spec.tsx
Labels: breaking change

#22695 [theme] Improve breakpoints definitions
  docs/src/modules/components/Demo.js
  docs/src/pages/components/buttons/ButtonBase.js
  docs/src/pages/components/buttons/ButtonBase.tsx
  docs/src/pages/components/dialogs/ResponsiveDialog.js
  docs/src/pages/components/dialogs/ResponsiveDialog.tsx
  docs/src/pages/components/dialogs/dialogs.md
  docs/src/pages/components/snackbars/FabIntegrationSnackbar.js
  docs/src/pages/components/snackbars/FabIntegrationSnackbar.tsx
  docs/src/pages/customization/breakpoints/MediaQuery.js
  docs/src/pages/customization/breakpoints/MediaQuery.tsx
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCategories.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCategories.tsx
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/styles/createBreakpoints.js
  packages/material-ui/src/styles/createBreakpoints.test.js
Labels: breaking change

#22696 [Autocomplete] Don't close popup when Ctrl/Meta is pressed
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: accessibility, component: Autocomplete

#22671 [lab] Fix transitive dependencies in @material-ui/lab
  packages/material-ui-lab/package.json
  packages/material-ui-lab/src/Alert/Alert.js
  packages/material-ui-lab/src/Pagination/Pagination.js
  packages/material-ui-lab/src/PaginationItem/PaginationItem.js
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui-lab/src/TimelineDot/TimelineDot.js
  packages/material-ui/src/styles/index.js
Labels: bug 🐛, package: lab

#22684 [test] Skip CI for crowdin commits
  crowdin.yml
Labels: test

#22685 [test] Skip CI for crowdin commits
  crowdin.yml
Labels: test

#22651 [Alert] Move from lab to core
  docs/pages/api-docs/alert-title.md
  docs/pages/api-docs/alert.md
  docs/src/pages.js
  docs/src/pages/components/alert/ActionAlerts.js
  docs/src/pages/components/alert/ActionAlerts.tsx
  docs/src/pages/components/alert/BasicAlerts.js
  docs/src/pages/components/alert/BasicAlerts.tsx
  docs/src/pages/components/alert/ColorAlerts.js
  docs/src/pages/components/alert/ColorAlerts.tsx
  docs/src/pages/components/alert/DescriptionAlerts.js
  docs/src/pages/components/alert/DescriptionAlerts.tsx
  docs/src/pages/components/alert/FilledAlerts.js
  docs/src/pages/components/alert/FilledAlerts.tsx
  docs/src/pages/components/alert/IconAlerts.js
  docs/src/pages/components/alert/IconAlerts.tsx
  docs/src/pages/components/alert/OutlinedAlerts.js
  docs/src/pages/components/alert/OutlinedAlerts.tsx
  docs/src/pages/components/alert/TransitionAlerts.js
  docs/src/pages/components/alert/TransitionAlerts.tsx
  docs/src/pages/components/alert/alert-de.md
  docs/src/pages/components/alert/alert-es.md
  docs/src/pages/components/alert/alert-fr.md
  docs/src/pages/components/alert/alert-ja.md
  docs/src/pages/components/alert/alert-pt.md
  docs/src/pages/components/alert/alert-ru.md
  docs/src/pages/components/alert/alert-zh.md
  docs/src/pages/components/alert/alert.md
  docs/src/pages/components/snackbars/CustomizedSnackbars.js
  docs/src/pages/components/snackbars/CustomizedSnackbars.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-lab/src/Alert/Alert.d.ts
  packages/material-ui-lab/src/Alert/Alert.js
  packages/material-ui-lab/src/Alert/Alert.test.js
  packages/material-ui-lab/src/AlertTitle/AlertTitle.d.ts
  packages/material-ui-lab/src/AlertTitle/AlertTitle.js
  packages/material-ui-lab/src/AlertTitle/AlertTitle.test.js
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.test.js
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
  packages/material-ui-lab/src/themeAugmentation/props.d.ts
  packages/material-ui/src/Alert/Alert.d.ts
  packages/material-ui/src/Alert/Alert.js
  packages/material-ui/src/Alert/Alert.test.js
  packages/material-ui/src/Alert/index.d.ts
  packages/material-ui/src/Alert/index.js
  packages/material-ui/src/AlertTitle/AlertTitle.d.ts
  packages/material-ui/src/AlertTitle/AlertTitle.js
  packages/material-ui/src/AlertTitle/AlertTitle.test.js
  packages/material-ui/src/AlertTitle/index.d.ts
  packages/material-ui/src/AlertTitle/index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/index.test.js
  packages/material-ui/src/internal/svg-icons/ErrorOutline.js
  packages/material-ui/src/internal/svg-icons/InfoOutlined.js
  packages/material-ui/src/internal/svg-icons/ReportProblemOutlined.js
  packages/material-ui/src/internal/svg-icons/SuccessOutlined.js
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
Labels: breaking change, component: Alert

#22706 [ttp] Use sources directly
  babel.config.js
  docs/package.json
  package.json
  packages/typescript-to-proptypes/.mocharc.js
  packages/typescript-to-proptypes/package.json
  packages/typescript-to-proptypes/tsconfig.json
  scripts/generateProptypes.ts
  webpackBaseConfig.js
  yarn.lock
Labels: typescript

#22712 [Autocomplete] Fix accessibility issue with empty option set
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.test.js
Labels: accessibility, component: Autocomplete

#22716 [core] Replace ChangeEvent<{}> with SyntheticEvent
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/components/tree-view/ControlledTreeView.tsx
  framer/Material-UI.framerfx/code/Tabs.tsx
  framer/scripts/templates/tabs.txt
  packages/material-ui-lab/src/Rating/Rating.d.ts
  packages/material-ui-lab/src/SliderStyled/SliderStyled.spec.tsx
  packages/material-ui-lab/src/TreeView/TreeView.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui/src/Accordion/Accordion.spec.tsx
  packages/material-ui/src/BottomNavigation/BottomNavigation.spec.tsx
  packages/material-ui/src/FormControlLabel/FormControlLabel.d.ts
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/Slider/Slider.spec.tsx
  packages/material-ui/src/Tabs/Tabs.spec.tsx
Labels: component: Autocomplete, component: Rating, component: Select, component: TreeView, typescript

#22702 [theme] Fix Hidden breakpoints issues and updates the migration guide
  docs/src/modules/components/AppDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.tsx
  docs/src/pages/getting-started/templates/blog/FeaturedPost.js
  docs/src/pages/getting-started/templates/blog/FeaturedPost.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.tsx
  docs/src/pages/premium-themes/paperbase/Paperbase.js
  docs/src/pages/premium-themes/paperbase/Paperbase.tsx
  packages/material-ui/src/Hidden/HiddenJs.test.js
  packages/material-ui/src/styles/adaptV4Theme.js
  packages/material-ui/src/withMobileDialog/withMobileDialog.test.js
  packages/material-ui/src/withWidth/withWidth.js
Labels: bug 🐛

#22557 [Slider] Better tracking of mouse events
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: component: Slider, enhancement

#22638 [Slider] Better tracking of mouse events
  packages/material-ui-lab/src/SliderStyled/SliderStyled.test.js
  packages/material-ui-lab/src/SliderUnstyled/SliderUnstyled.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: bug 🐛, component: Slider

#22724 [docs] Remove minimum-scale from meta viewport in docs
  docs/src/modules/components/Head.js
  docs/src/pages/getting-started/usage/usage-de.md
  docs/src/pages/getting-started/usage/usage-es.md
  docs/src/pages/getting-started/usage/usage-fr.md
  docs/src/pages/getting-started/usage/usage-ja.md
  docs/src/pages/getting-started/usage/usage-pt.md
  docs/src/pages/getting-started/usage/usage-ru.md
  docs/src/pages/getting-started/usage/usage-zh.md
  docs/src/pages/getting-started/usage/usage.md
  examples/cdn/index.html
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app/public/index.html
  examples/gatsby/plugins/gatsby-plugin-top-layout/TopLayout.js
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs/pages/_app.js
  examples/preact/public/index.html
  examples/ssr/server.js
  test/regressions/debug.html
Labels: docs

#22710 [docs] Remove wrong migration instruction
  CHANGELOG.md
  docs/src/pages/customization/spacing/spacing.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#22720 [core] Port createSpacing to TypeScript
  docs/src/pages/components/progress/CircularIntegration.js
  docs/src/pages/components/progress/CircularIntegration.tsx
  docs/src/pages/components/progress/DelayingAppearance.js
  docs/src/pages/components/progress/DelayingAppearance.tsx
  docs/tsconfig.json
  framer/tsconfig.json
  package.json
  packages/material-ui-system/src/index.d.ts
  packages/material-ui/src/styles/createSpacing.spec.ts
  packages/material-ui/src/styles/createSpacing.test.ts
  packages/material-ui/src/styles/createSpacing.ts
  packages/material-ui/tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: package: core, package: system, typescript

#22723 [Slider] Export components from lab and renamed to fit file names
  docs/pages/api-docs/slider-unstyled.md
  packages/material-ui-lab/src/SliderStyled/SliderStyled.d.ts
  packages/material-ui-lab/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/material-ui-lab/src/SliderUnstyled/SliderUnstyled.js
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.js
Labels: component: Slider

#22732 [docs] Prevent toolbar tooltips overlapping demos
  docs/src/modules/components/Demo.js
Labels: docs

#22731 [docs] Fix emotion broken in SSR
  docs/package.json
  docs/pages/_app.js
  docs/pages/_document.js
  yarn.lock
Labels: bug 🐛, docs

#22733 [docs] Add props from Unstyled component to Styled API page
  docs/pages/api-docs/slider-styled.md
  packages/material-ui-lab/src/SliderStyled/SliderStyled.js
  scripts/generateProptypes.ts
Labels: docs

#22735 [Autocomplete] Update GitHub customization example
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
Labels: component: Autocomplete, docs

#22739 [theme] convertLength does not work for fromUnit !== 'px'
  packages/material-ui/src/styles/cssUtils.js
  packages/material-ui/src/styles/cssUtils.test.js
Labels: bug 🐛

#22700 [Tabs] Add allowScrollButtonsMobile prop for mobile view
  docs/pages/api-docs/tabs.md
  docs/src/pages/components/tabs/ScrollableTabsButtonForce.js
  docs/src/pages/components/tabs/ScrollableTabsButtonForce.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonPrevent.js
  docs/src/pages/components/tabs/ScrollableTabsButtonPrevent.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonVisible.js
  docs/src/pages/components/tabs/ScrollableTabsButtonVisible.tsx
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  framer/Material-UI.framerfx/code/Tabs.tsx
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: breaking change, component: Tabs

#22697 [docs] Add live demo with DataGrid
  docs/next.config.js
  docs/package.json
  docs/src/pages/components/progress/CircularIntegration.js
  docs/src/pages/components/progress/CircularIntegration.tsx
  docs/src/pages/components/progress/DelayingAppearance.js
  docs/src/pages/components/progress/DelayingAppearance.tsx
  docs/src/pages/components/tables/DataTable.js
  docs/src/pages/components/tables/DataTable.tsx
  docs/src/pages/components/tables/tables.md
  yarn.lock
Labels: component: DataGrid, docs

#22725 [Rating] Move from lab to core
  docs/pages/api-docs/rating.md
  docs/src/modules/utils/getJsxPreview.test.js
  docs/src/pages.js
  docs/src/pages/components/rating/BasicRating.js
  docs/src/pages/components/rating/BasicRating.tsx
  docs/src/pages/components/rating/CustomizedRating.js
  docs/src/pages/components/rating/CustomizedRating.tsx
  docs/src/pages/components/rating/HalfRating.js
  docs/src/pages/components/rating/HalfRating.tsx
  docs/src/pages/components/rating/HoverRating.js
  docs/src/pages/components/rating/HoverRating.tsx
  docs/src/pages/components/rating/RatingSize.js
  docs/src/pages/components/rating/RatingSize.tsx
  docs/src/pages/components/rating/SimpleRating.js
  docs/src/pages/components/rating/SimpleRating.tsx
  docs/src/pages/components/rating/TextRating.js
  docs/src/pages/components/rating/TextRating.tsx
  docs/src/pages/components/rating/rating.md
  docs/src/pages/guides/localization/Locales.js
  docs/src/pages/guides/localization/Locales.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-lab/src/Rating/Rating.d.ts
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
  packages/material-ui-lab/src/themeAugmentation/props.d.ts
  packages/material-ui/src/Rating/Rating.d.ts
  packages/material-ui/src/Rating/Rating.js
  packages/material-ui/src/Rating/Rating.test.js
  packages/material-ui/src/Rating/index.d.ts
  packages/material-ui/src/Rating/index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/internal/svg-icons/Star.js
  packages/material-ui/src/internal/svg-icons/StarBorder.js
  packages/material-ui/src/locale/index.ts
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
Labels: breaking change, component: Rating

#22736 [docs] Add emotion dependencies in codesandbox examples
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
Labels: docs

#22738 [docs] Reference experimental slider demos correctly
  docs/pages/api-docs/slider-styled.md
  docs/pages/api-docs/slider-unstyled.md
  docs/pages/api-docs/slider.md
  docs/src/pages/components/slider-styled/slider-styled.md
  packages/material-ui-lab/src/SliderStyled/SliderStyled.d.ts
  packages/material-ui-lab/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/material-ui/src/Slider/Slider.d.ts
Labels: docs

#22740 [Skeleton] Move from lab to core
  docs/pages/api-docs/skeleton.md
  docs/src/pages.js
  docs/src/pages/components/skeleton/Animations.js
  docs/src/pages/components/skeleton/Animations.tsx
  docs/src/pages/components/skeleton/Facebook.js
  docs/src/pages/components/skeleton/Facebook.tsx
  docs/src/pages/components/skeleton/SkeletonChildren.js
  docs/src/pages/components/skeleton/SkeletonChildren.tsx
  docs/src/pages/components/skeleton/SkeletonTypography.js
  docs/src/pages/components/skeleton/SkeletonTypography.tsx
  docs/src/pages/components/skeleton/Variants.js
  docs/src/pages/components/skeleton/Variants.tsx
  docs/src/pages/components/skeleton/YouTube.js
  docs/src/pages/components/skeleton/YouTube.tsx
  docs/src/pages/components/skeleton/skeleton.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-lab/src/Skeleton/Skeleton.d.ts
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
  packages/material-ui-lab/src/themeAugmentation/props.d.ts
  packages/material-ui/src/Skeleton/Skeleton.d.ts
  packages/material-ui/src/Skeleton/Skeleton.js
  packages/material-ui/src/Skeleton/Skeleton.test.js
  packages/material-ui/src/Skeleton/index.d.ts
  packages/material-ui/src/Skeleton/index.js
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
Labels: breaking change, component: Skeleton

#22749 [useAutocomplete] Fix getXProps functions type
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: component: Autocomplete, typescript

#22754 [docs] CONTRIBUTING.md only yarn is supported
  CONTRIBUTING.md
Labels: docs

#22747 [docs] Simplify locales example
  docs/src/pages/guides/localization/Locales.js
  docs/src/pages/guides/localization/Locales.tsx
  docs/translations/translations.json
Labels: docs

#22776 [docs] Add Spotify to users
  docs/public/static/images/users/coursera.svg
  docs/public/static/images/users/spotify.svg
  docs/src/modules/utils/parseMarkdown.js
  docs/src/pages/landing/Users.js
Labels: docs

#22778 [test] Solve 2000ms timeout
  packages/material-ui/src/Rating/Rating.test.js
Labels: test

#22711 [docs] Fix dark theme for input field on autocomplete
  docs/src/pages/components/autocomplete/CustomInputAutocomplete.js
  docs/src/pages/components/autocomplete/CustomInputAutocomplete.tsx
  docs/src/pages/components/autocomplete/UseAutocomplete.js
  docs/src/pages/components/autocomplete/UseAutocomplete.tsx
  docs/src/pages/components/text-fields/CustomizedInputs.js
  docs/src/pages/components/text-fields/CustomizedInputs.tsx
Labels: docs

#22787 [docs] Update installation guide to contain peer dependencies
  docs/src/pages/getting-started/installation/installation.md
Labels: docs

#22781 [docs] Improve perf when opening the drawer
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppFrame.js
Labels: docs, performance

#22729 [Tooltip] Use label semantics
  docs/pages/api-docs/tooltip.md
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/Notifications.js
  docs/src/pages/components/tooltips/AccessibilityTooltips.js
  docs/src/pages/components/tooltips/AccessibilityTooltips.tsx
  docs/src/pages/components/tooltips/tooltips.md
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  test/utils/initMatchers.ts
Labels: accessibility, breaking change, component: Tooltip

#22742 [docs] Improve SEO on titles
  docs/src/modules/utils/parseMarkdown.test.js
  docs/src/pages/components/accordion/accordion.md
  docs/src/pages/components/alert/alert.md
  docs/src/pages/components/autocomplete/autocomplete.md
  docs/src/pages/components/avatars/avatars.md
  docs/src/pages/components/badges/badges.md
  docs/src/pages/components/box/box.md
  docs/src/pages/components/breadcrumbs/breadcrumbs.md
  docs/src/pages/components/button-group/button-group.md
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/cards/cards.md
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/chips/chips.md
  docs/src/pages/components/container/container.md
  docs/src/pages/components/dialogs/dialogs.md
  docs/src/pages/components/dividers/dividers.md
  docs/src/pages/components/drawers/drawers.md
  docs/src/pages/components/floating-action-button/floating-action-button.md
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/hidden/hidden.md
  docs/src/pages/components/lists/lists.md
  docs/src/pages/components/menus/menus.md
  docs/src/pages/components/modal/modal.md
  docs/src/pages/components/pagination/pagination.md
  docs/src/pages/components/paper/paper.md
  docs/src/pages/components/popover/popover.md
  docs/src/pages/components/popper/popper.md
  docs/src/pages/components/portal/portal.md
  docs/src/pages/components/rating/rating.md
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/skeleton/skeleton.md
  docs/src/pages/components/slider-styled/slider-styled.md
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/components/steppers/steppers.md
  docs/src/pages/components/switches/switches.md
  docs/src/pages/components/tables/tables.md
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/components/timeline/timeline.md
  docs/src/pages/components/tooltips/tooltips.md
  docs/src/pages/components/transitions/transitions.md
  docs/src/pages/components/typography/typography-pt.md
  docs/src/pages/components/typography/typography.md
Labels: docs

#22790 [ToggleButtonGroup] Match component name and render function name
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: component: ToggleButton

#22793 [docs] Fix material icon search details view
  docs/src/modules/components/DemoErrorBoundary.js
  docs/src/pages/components/material-icons/SearchIcons.js
Labels: docs

#22318 [docs] Document inherited props
  docs/pages/api-docs/bottom-navigation-action.md
  docs/pages/api-docs/filled-input.md
  docs/pages/api-docs/input-base.md
  docs/pages/api-docs/input.md
  docs/pages/api-docs/list-item.md
  docs/pages/api-docs/menu-item.md
  docs/pages/api-docs/outlined-input.md
  docs/pages/api-docs/step.md
  docs/pages/api-docs/table-cell.md
  docs/pages/api-docs/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.d.ts
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputBase/InputBase.d.ts
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/ListItem/ListItem.d.ts
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/MenuItem/MenuItem.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Step/Step.d.ts
  packages/material-ui/src/Step/Step.js
  packages/material-ui/src/TableCell/TableCell.d.ts
  packages/material-ui/src/TableCell/TableCell.js
Labels: docs

#22748 [Popper] Use placement viewport instead of window
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
Labels: bug 🐛, component: Popper

#22743 [SpeedDial] Move from lab to core
  docs/pages/api-docs/speed-dial-action.md
  docs/pages/api-docs/speed-dial-icon.md
  docs/pages/api-docs/speed-dial.md
  docs/src/pages.js
  docs/src/pages/components/speed-dial/BasicSpeedDial.js
  docs/src/pages/components/speed-dial/BasicSpeedDial.tsx
  docs/src/pages/components/speed-dial/ControlledOpenSpeedDial.js
  docs/src/pages/components/speed-dial/ControlledOpenSpeedDial.tsx
  docs/src/pages/components/speed-dial/OpenIconSpeedDial.js
  docs/src/pages/components/speed-dial/OpenIconSpeedDial.tsx
  docs/src/pages/components/speed-dial/SpeedDialTooltipOpen.js
  docs/src/pages/components/speed-dial/SpeedDialTooltipOpen.tsx
  docs/src/pages/components/speed-dial/speed-dial.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui-lab/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
  packages/material-ui-lab/src/themeAugmentation/props.d.ts
  packages/material-ui-lab/tsconfig.json
  packages/material-ui/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/SpeedDial/SpeedDial.test.js
  packages/material-ui/src/SpeedDial/index.d.ts
  packages/material-ui/src/SpeedDial/index.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.test.js
  packages/material-ui/src/SpeedDialAction/index.d.ts
  packages/material-ui/src/SpeedDialAction/index.js
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.test.js
  packages/material-ui/src/SpeedDialIcon/index.d.ts
  packages/material-ui/src/SpeedDialIcon/index.js
  packages/material-ui/src/internal/svg-icons/Add.js
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/props.d.ts
  test/regressions/tests/SpeedDial/Directions.js
Labels: breaking change, component: SpeedDial

#22806 [docs] Fix typo in guides/typescript
  docs/src/pages/guides/typescript/typescript.md
Labels: docs, typescript

#22788 [docs] Add example for using styled-components as styled-engine
  docs/src/pages/getting-started/example-projects/example-projects.md
  examples/create-react-app-with-styled-components/.gitignore
  examples/create-react-app-with-styled-components/README.md
  examples/create-react-app-with-styled-components/config-overrides.js
  examples/create-react-app-with-styled-components/package.json
  examples/create-react-app-with-styled-components/public/favicon.ico
  examples/create-react-app-with-styled-components/public/index.html
  examples/create-react-app-with-styled-components/public/manifest.json
  examples/create-react-app-with-styled-components/public/robots.txt
  examples/create-react-app-with-styled-components/src/App.js
  examples/create-react-app-with-styled-components/src/index.js
  examples/create-react-app-with-styled-components/src/serviceWorker.js
  examples/create-react-app-with-styled-components/src/setupTests.js
  examples/create-react-app/package.json
  examples/create-react-app/src/App.js
Labels: docs

#22800 [test] Fix react-next patch
  scripts/react-next.diff
Labels: test

#22802 [core] Drop babel-plugin-transform-dev-warning
  babel.config.js
  docs/babel.config.js
  docs/package.json
  package.json
  yarn.lock
Labels: core
