Repository mui/material-ui, pull requests merged in 2020-04, with the labels that each got.

#20344 [ExpansionPanel] Use theme.spacing in summary
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
Labels: PR: ready to ship, component: ExpansionPanel

#20350 [core] Add missing test case for restricted-path-imports
  packages/eslint-plugin-material-ui/src/rules/restricted-path-imports.test.js
Labels: test

#20356 [Select] Fix validator.w3.org error
  docs/src/pages/components/selects/MultipleSelect.js
  docs/src/pages/components/selects/MultipleSelect.tsx
  docs/src/pages/components/selects/SimpleSelect.js
  docs/src/pages/components/selects/SimpleSelect.tsx
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: PR: ready to ship, accessibility, component: Select

#20368 [Chip] Fix input integration
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
Labels: PR: ready to ship, bug, component: Chip

#20377 [MenuItem] Add prop ListItemClasses
  docs/pages/api-docs/menu-item.md
  docs/pages/api-docs/speed-dial-action.md
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui/src/MenuItem/MenuItem.d.ts
  packages/material-ui/src/MenuItem/MenuItem.js
  packages/material-ui/src/MenuItem/MenuItem.test.js
Labels: PR: ready to ship, component: Menu, enhancement

#20382 [docs] Next.js: Remove unused config files
  examples/nextjs-with-typescript/.babelrc
  examples/nextjs-with-typescript/next.config.js
  examples/nextjs/.babelrc
  examples/nextjs/next.config.js
Labels: docs

#20354 [core] Export core utils modules from barrel
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/Link/Link.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/utils/capitalize.d.ts
  packages/material-ui/src/utils/createSvgIcon.d.ts
  packages/material-ui/src/utils/debounce.d.ts
  packages/material-ui/src/utils/deprecatedPropType.d.ts
  packages/material-ui/src/utils/focusVisible.test.js
  packages/material-ui/src/utils/index.d.ts
  packages/material-ui/src/utils/index.js
  packages/material-ui/src/utils/ownerDocument.d.ts
  packages/material-ui/src/utils/ownerWindow.d.ts
  packages/material-ui/src/utils/setRef.js
  packages/material-ui/src/utils/unsupportedProp.d.ts
  packages/material-ui/src/utils/useEventCallback.d.ts
  packages/material-ui/src/utils/useIsFocusVisible.d.ts
  packages/material-ui/src/utils/useIsFocusVisible.js
Labels: PR: ready to ship, core

#20376 [Autocomplete] Go back to the initial groupBy tradeoff
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#20383 [examples] Move Copyright into its own component
  docs/pages/_app.js
  examples/gatsby-theme/src/components/Copyright.js
  examples/gatsby-theme/src/pages/about.js
  examples/gatsby-theme/src/pages/index.js
  examples/gatsby/src/components/Copyright.js
  examples/gatsby/src/pages/about.js
  examples/gatsby/src/pages/index.js
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/about.tsx
  examples/nextjs-with-typescript/pages/index.tsx
  examples/nextjs-with-typescript/src/Copyright.tsx
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/about.js
  examples/nextjs/pages/index.js
  examples/nextjs/src/Copyright.js
Labels: PR: ready to ship, docs

#20397 [docs] Fix masked text field bug
  docs/src/pages/components/text-fields/FormattedInputs.js
  docs/src/pages/components/text-fields/FormattedInputs.tsx
Labels: bug, docs

#20390 [styles] Export ThemeProviderProps in core
  packages/material-ui/src/styles/index.d.ts
Labels: PR: ready to ship, package: styles, typescript

#20396 [Drawer] Fix clipped scroll overflow
  .circleci/config.yml
  docs/src/pages/components/drawers/ClippedDrawer.js
  docs/src/pages/components/drawers/ClippedDrawer.tsx
Labels: component: Drawer, docs

#20401 [ButtonBase] Warn with wrong component prop
  docs/src/pages/guides/composition/composition.md
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: PR: ready to ship, component: ButtonBase, docs

#20403 [Autocomplete] Warn when mixing controlled/uncontrolled inputValue states
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Pagination/usePagination.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/src/utils/useControlled.js
  packages/material-ui/src/utils/useControlled.test.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#20409 [ClickAwayListener] Fix support for removed DOM node
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, bug, component: ClickAwayListener

#20408 [theme] Support string args in theme.spacing
  docs/src/pages/customization/spacing/spacing.md
  packages/material-ui/src/styles/createSpacing.js
  packages/material-ui/src/styles/createSpacing.test.js
Labels: PR: ready to ship, enhancement

#20432 [Select] Add aria-disabled attribute
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, accessibility, component: Select

#20433 [core] Avoid popper.js npm warning
  packages/material-ui/package.json
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
  yarn.lock
Labels: PR: ready to ship, core

#20389 [docs] Fix various issues with heading structure
  docs/pages/index.js
  docs/src/pages/customization/breakpoints/MediaQuery.js
  docs/src/pages/customization/breakpoints/MediaQuery.tsx
  docs/src/pages/customization/breakpoints/WithWidth.js
  docs/src/pages/customization/breakpoints/WithWidth.tsx
  docs/src/pages/customization/color/ColorDemo.js
  docs/src/pages/customization/color/ColorTool.js
  docs/src/pages/landing/Steps.js
  docs/src/pages/styles/api/api.md
Labels: accessibility, docs

#17057 [Slider] Allow individual mark customization
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: PR: ready to ship, component: Slider, enhancement

#20443 [core] Fix support for older versions of TypeScript
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Pagination/Pagination.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.d.ts
  packages/material-ui-styles/src/createStyles/createStyles.d.ts
  packages/material-ui-styles/src/getStylesCreator/getStylesCreator.d.ts
  packages/material-ui-styles/src/makeStyles/makeStyles.d.ts
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/src/withTheme/withTheme.d.ts
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-types/index.d.ts
  packages/material-ui/src/Backdrop/Backdrop.d.ts
  packages/material-ui/src/Box/Box.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/CardHeader/CardHeader.d.ts
  packages/material-ui/src/Fade/Fade.d.ts
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.d.ts
  packages/material-ui/src/styles/createMixins.d.ts
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/src/styles/createSpacing.d.ts
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/src/styles/makeStyles.d.ts
  packages/material-ui/src/styles/responsiveFontSizes.d.ts
  packages/material-ui/src/styles/shadows.d.ts
  packages/material-ui/src/styles/styled.d.ts
  packages/material-ui/src/styles/transitions.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/test-utils/createMount.d.ts
  packages/material-ui/src/test-utils/getClasses.d.ts
  packages/material-ui/src/test-utils/until.d.ts
  packages/material-ui/src/useMediaQuery/useMediaQuery.d.ts
  packages/material-ui/src/utils/debounce.d.ts
  packages/material-ui/src/utils/setRef.d.ts
  packages/material-ui/src/utils/unsupportedProp.d.ts
  packages/material-ui/src/withMobileDialog/withMobileDialog.d.ts
  packages/material-ui/src/withWidth/withWidth.d.ts
  prettier.config.js
Labels: PR: ready to ship, typescript

#20435 [theme] Fix typing for theme.spacing
  packages/material-ui/src/styles/createSpacing.d.ts
Labels: PR: ready to ship, typescript

#20450 [Dialog] Fix TypeScript type for `children`
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.spec.tsx
Labels: component: Dialog, typescript

#20444 [Select] onChange fired with current value test
  packages/material-ui/src/Select/Select.test.js
Labels: PR: ready to ship, component: Select, test

#20454 [CssBaseline] Fix typings for `@global` override
  packages/material-ui/src/CssBaseline/CssBaseline.d.ts
  packages/material-ui/src/CssBaseline/CssBaseline.spec.tsx
  packages/material-ui/src/styles/overrides.d.ts
Labels: PR: ready to ship, component: CssBaseline, typescript

#20451 [test] Use .checkPropTypes instead of render + propTypes
  .eslintrc.js
  packages/material-ui-styles/src/styled/styled.test.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
  packages/material-ui-styles/src/withTheme/withTheme.test.js
  packages/material-ui-utils/src/chainPropTypes.test.js
  packages/material-ui-utils/src/elementAcceptingRef.test.js
  packages/material-ui-utils/src/elementTypeAcceptingRef.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/CardMedia/CardMedia.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/GridList/GridList.test.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/utils/deprecatedPropType.test.js
Labels: PR: ready to ship, test

#20407 [core] Introduce useId hook
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/utils/index.js
  packages/material-ui/src/utils/unstable_useId.js
  packages/material-ui/src/utils/unstable_useId.test.js
Labels: PR: ready to ship, core

#20464 [Popper] Fix links to popper.js
  docs/pages/api-docs/popper.md
  packages/material-ui/src/Popper/Popper.d.ts
  packages/material-ui/src/Popper/Popper.js
Labels: component: Popper, docs

#20458 [core] Fix TypeScript type for optional `children`
  packages/material-ui-lab/src/AvatarGroup/AvatarGroup.d.ts
  packages/material-ui/src/Badge/Badge.d.ts
  packages/material-ui/src/StepContent/StepContent.d.ts
  packages/material-ui/src/StepLabel/StepLabel.d.ts
Labels: core, typescript

#20465 [Popper] Fix outdated typescript props docs
  packages/material-ui/src/Popper/Popper.d.ts
Labels: component: Popper, typescript

#20463 [examples] Fix next.js AMP support
  docs/pages/_document.js
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
Labels: docs

#20472 [test] Fix broken tests in `react@next`
  .circleci/config.yml
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.test.js
  packages/material-ui/src/FormControl/FormControl.test.js
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/Paper/Paper.test.js
  packages/material-ui/src/Popover/Popover.test.js
  scripts/use-react-dist-tag.js
  scripts/use-typescript-dist-tag.js
Labels: test

#20474 [examples] Fix Next.js prop-type warning
  docs/pages/_app.js
  examples/nextjs/pages/_app.js
Labels: PR: ready to ship, docs

#20469 [TextareaAutosize] Update rows/rowMax to use number for better clarity
  docs/src/pages/components/text-fields/MultilineTextFields.js
  docs/src/pages/components/text-fields/MultilineTextFields.tsx
  packages/material-ui/src/InputBase/InputBase.test.js
  test/regressions/tests/Textarea/Textarea.js
Labels: PR: ready to ship, component: TextareaAutosize, docs

#20481 [docs] Add limitation for ScopedCssBaseline
  docs/src/pages/components/css-baseline/css-baseline.md
Labels: PR: ready to ship, component: CssBaseline

#20491 [Rating] Warn if precision prop is less than 0.1
  packages/material-ui-lab/src/Rating/Rating.js
Labels: PR: ready to ship, enhancement, lab: Rating

#20490 [Alert] Fix support for nested elements
  docs/src/pages/components/alert/DescriptionAlerts.js
  docs/src/pages/components/alert/DescriptionAlerts.tsx
  packages/material-ui-lab/src/Alert/Alert.js
Labels: PR: ready to ship, bug, lab: Alert

#20486 [theme] Fix types to pass array for spacing
  packages/material-ui/src/styles/createSpacing.d.ts
Labels: PR: ready to ship, typescript

#20475 [Table] Add role if the default role of elements can't be used
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/TableBody/TableBody.js
  packages/material-ui/src/TableBody/TableBody.test.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableFooter/TableFooter.js
  packages/material-ui/src/TableFooter/TableFooter.test.js
  packages/material-ui/src/TableHead/TableHead.js
  packages/material-ui/src/TableHead/TableHead.test.js
  packages/material-ui/src/TableRow/TableRow.js
  packages/material-ui/src/TableRow/TableRow.test.js
  packages/material-ui/test/integration/TableCell.test.js
Labels: PR: ready to ship, accessibility, component: Table

#20489 [Breadcrumbs] Keep focus in the component after expanding
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
Labels: PR: ready to ship, accessibility, component: Breadcrumbs

#20493 [ToggleButton] Don't set default for disableRipple prop
  docs/pages/api-docs/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
Labels: PR: ready to ship, bug, lab: ToggleButton

#20496 [Autocomplete] Correct example of virtualization
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
Labels: docs, lab: Autocomplete

#20498 [docs] Sync translations
  docs/src/pages/components/alert/alert-zh.md
  docs/src/pages/components/autocomplete/autocomplete-de.md
  docs/src/pages/components/box/box-de.md
  docs/src/pages/components/cards/cards-zh.md
  docs/src/pages/components/container/container-de.md
  docs/src/pages/components/container/container-zh.md
  docs/src/pages/components/dialogs/dialogs-zh.md
  docs/src/pages/components/drawers/drawers-zh.md
  docs/src/pages/components/grid/grid-zh.md
  docs/src/pages/components/icons/icons-es.md
  docs/src/pages/components/icons/icons-zh.md
  docs/src/pages/components/lists/lists-zh.md
  docs/src/pages/components/rating/rating-de.md
  docs/src/pages/components/switches/switches-de.md
  docs/src/pages/components/tabs/tabs-zh.md
  docs/src/pages/components/tooltips/tooltips-zh.md
  docs/src/pages/components/typography/typography-de.md
  docs/src/pages/customization/color/color-zh.md
  docs/src/pages/discover-more/related-projects/related-projects-es.md
  docs/src/pages/discover-more/related-projects/related-projects-zh.md
  docs/src/pages/getting-started/example-projects/example-projects-es.md
  docs/src/pages/getting-started/faq/faq-ru.md
  docs/src/pages/getting-started/templates/templates-es.md
  docs/src/pages/getting-started/templates/templates-zh.md
  docs/src/pages/getting-started/usage/usage-zh.md
  docs/src/pages/guides/right-to-left/right-to-left-zh.md
  docs/src/pages/landing/backers-ru.md
  docs/src/pages/styles/advanced/advanced-es.md
  docs/src/pages/system/palette/palette-zh.md
  docs/translations/translations-zh.json
Labels: docs

#20499 [Autocomplete] Add test cases for createFilterOptions
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.test.js
Labels: PR: ready to ship, lab: Autocomplete, test

#20500 [Backdrop] Document Fade inherited component
  docs/pages/api-docs/backdrop.md
  docs/scripts/buildApi.js
  packages/material-ui/src/Backdrop/Backdrop.d.ts
  packages/material-ui/src/Backdrop/Backdrop.test.js
Labels: PR: ready to ship, component: Backdrop, docs

#20522 [docs] Use reactStrictMode over custom switch
  docs/next.config.js
  docs/pages/_app.js
Labels: docs

#20294 [docs] Improve a11y of the chip array example
  docs/src/pages/components/chips/ChipsArray.js
  docs/src/pages/components/chips/ChipsArray.tsx
Labels: accessibility, component: Chip, docs

#20524 [docs] Add link for help on creating a custom transition
  docs/src/pages/components/transitions/transitions.md
Labels: PR: ready to ship, docs

#20535 [TextField] Fix long label scrollbar
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
Labels: bug, component: TextField

#20538 [Autocomplete] Add fullWidth prop
  docs/pages/api-docs/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: enhancement, lab: Autocomplete

#20542 [Autocomplete] Add missing startAfter type
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: lab: Autocomplete, typescript

#20545 [test] Use method calls over property access expressions
  .eslintrc.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/Pagination/Pagination.test.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
  packages/material-ui/src/Fab/Fab.test.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/ModalManager.test.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.test.js
  packages/material-ui/src/Step/Step.test.js
  packages/material-ui/src/StepButton/StepButton.test.js
  packages/material-ui/src/Switch/Switch.test.js
  packages/material-ui/src/Tab/Tab.test.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/TextField/TextField.test.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/src/utils/unstable_useId.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/MenuList.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
  packages/material-ui/test/integration/Select.test.js
  test/utils/init.d.ts
  test/utils/initMatchers.js
Labels: PR: ready to ship, test

#20543 [l10n] Improve persian (fa-IR) locale
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship, enhancement

#20541 [SwitchBase] Prepare v5 removal of the second argument of onChange
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/customization/color/ColorTool.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/test/typescript/components.spec.tsx
Labels: PR: ready to ship, component: Checkbox, component: Radio, component: Switch

#20547 [test] Add StrictMode compat layer test
  packages/material-ui/src/ListItem/ListItem.test.js
Labels: test

#20536 [blog] Q1 2020 Update
  CHANGELOG.md
  docs/pages/blog/2020-q1-update.js
  docs/pages/blog/2020-q1-update.md
  docs/public/static/blog/2020-q1-update/alert.png
  docs/public/static/blog/2020-q1-update/autocomplete.gif
  docs/public/static/blog/2020-q1-update/chinese.png
  docs/public/static/blog/2020-q1-update/colors.png
  docs/public/static/blog/2020-q1-update/data-grid.png
  docs/public/static/blog/2020-q1-update/date-picker.png
  docs/public/static/blog/2020-q1-update/figma.png
  docs/public/static/blog/2020-q1-update/pagination.png
  docs/public/static/blog/2020-q1-update/props.png
  docs/public/static/blog/2020-q1-update/skeleton.webm
  docs/public/static/blog/2020-q1-update/sketch.png
  docs/public/static/blog/2020-q1-update/snippets.gif
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/TopLayoutBlog.js
Labels: PR: ready to ship

#20550 [Popper] Fix support for TypeScript 3.2
  packages/material-ui/src/Popper/Popper.d.ts
Labels: component: Popper, typescript

#20549 [docs] Refactor markdown parsing
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/utils/parseMarkdown.js
Labels: docs

#20566 [docs] Correct "row" to "col" in Table
  docs/src/pages/components/tables/tables.md
Labels: component: Table, docs

#20571 [Checkbox] Add test showcase for checked checkbox
  packages/material-ui/src/Checkbox/Checkbox.test.js
Labels: test

#20572 [docs] Fix filerOption typo in autocomplete
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: docs, lab: Autocomplete

#20563 [docs] Remove unnecessary webpack loaders
  docs/next.config.js
  docs/public/static/styles/prism-okaidia.css
  docs/src/modules/components/ThemeContext.js
  docs/src/modules/components/prism.js
Labels: docs

#20577 [List] Change ListItemIcon `children` type from element to Node
  docs/pages/api-docs/list-item-icon.md
  packages/material-ui/src/ListItemIcon/ListItemIcon.d.ts
  packages/material-ui/src/ListItemIcon/ListItemIcon.js
Labels: PR: ready to ship, component: List, enhancement

#20575 [TextareaAutosize] Fix height inconsistency for empty last row
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
Labels: PR: ready to ship, bug, component: TextareaAutosize

#20567 [theme] Allow palette tonalOffset light and dark values
  docs/src/pages/customization/palette/palette.md
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
Labels: PR: ready to ship, enhancement

#20589 [docs] Fix small typo in Container
  docs/src/pages/components/container/container.md
Labels: docs

#20596 [docs] Fix punctuation and english grammar
  docs/src/pages/getting-started/support/support.md
Labels: docs

#20595 [Tabs] Fix the types of the color props
  packages/material-ui/src/Tabs/Tabs.d.ts
Labels: PR: ready to ship, component: Tabs, typescript

#20603 [Autocomplete] Reset input on blur for freeSolo mode too
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: bug, lab: Autocomplete

#20523 [core] Add createMuiStrictModeTheme
  docs/src/modules/components/AppDrawerNavItem.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoLanguages.js
  docs/src/modules/components/Notifications.js
  docs/src/modules/components/ThemeContext.js
  packages/material-ui/package.json
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Collapse/StrictModeCollapse.js
  packages/material-ui/src/Collapse/index.d.ts
  packages/material-ui/src/Collapse/index.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Fade/StrictModeFade.js
  packages/material-ui/src/Fade/index.d.ts
  packages/material-ui/src/Fade/index.js
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Grow/StrictModeGrow.js
  packages/material-ui/src/Grow/index.d.ts
  packages/material-ui/src/Grow/index.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/StrictModeSlide.js
  packages/material-ui/src/Slide/index.d.ts
  packages/material-ui/src/Slide/index.js
  packages/material-ui/src/Zoom/StrictModeZoom.js
  packages/material-ui/src/Zoom/Zoom.js
  packages/material-ui/src/Zoom/index.d.ts
  packages/material-ui/src/Zoom/index.js
  packages/material-ui/src/styles/createMuiStrictModeTheme.js
  packages/material-ui/src/styles/index.js
Labels: PR: ready to ship, core

#20586 [ExpansionPanel] Unify paddings with ListItem and similar components
  packages/material-ui/src/ExpansionPanelDetails/ExpansionPanelDetails.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
Labels: PR: ready to ship, component: ExpansionPanel, enhancement

#20587 [docs] Remove old workarounds
  docs/pages/_app.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/modules/components/useMarkdownDocs.js
  docs/src/modules/redux/initRedux.js
Labels: docs

#20606 [Autocomplete] Fix autoHighlight behavior
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#20614 [docs] Add TypeScript demo for PopoverPopupState
  docs/src/pages/components/popover/PopoverPopupState.tsx
  docs/src/pages/components/popper/PopperPopupState.tsx
Labels: PR: ready to ship, docs, typescript

#20617 [Autocomplete] Update doc for method getOptionSelected
  docs/pages/api-docs/autocomplete.md
  docs/src/modules/utils/generateMarkdown.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: docs, lab: Autocomplete

#20620 [docs] Allow string literal type in jsdoc markdown generation
  docs/src/modules/utils/generateMarkdown.js
Labels: docs

#20638 [ToggleButton] Document how values are compared
  docs/pages/api-docs/toggle-button-group.md
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: PR: ready to ship, docs, lab: ToggleButton

#20624 [Autocomplete] Improve search box & create options support
  docs/pages/api-docs/autocomplete.md
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/autocomplete/ControllableStates.js
  docs/src/pages/components/autocomplete/ControllableStates.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#20649 [docs] Update vision.md
  docs/src/pages/discover-more/vision/vision.md
Labels: docs

#20644 [docs] Batch small changes
  README.md
  dangerfile.js
  docs/notifications.json
  docs/pages/blog/december-2019-update.md
  docs/pages/blog/july-2019-update.md
  docs/pages/blog/june-2019-update.md
  docs/pages/blog/may-2019-update.md
  docs/pages/blog/september-2019-update.md
  docs/public/_redirects
  docs/src/modules/components/Notifications.js
  docs/src/modules/constants.js
  docs/src/modules/redux/initRedux.js
  docs/src/modules/redux/notificationsReducer.js
  docs/src/modules/redux/optionsReducer.js
  docs/src/pages/components/tables/StickyHeadTable.js
  docs/src/pages/components/tables/StickyHeadTable.tsx
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/discover-more/team/Team.js
  docs/src/pages/discover-more/team/team.md
  docs/src/pages/landing/backers.md
  docs/src/pages/versions/LatestVersions.js
Labels: docs

#20651 [Slider] Fix focus after click
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: PR: ready to ship, accessibility, component: Slider

#20654 [ButtonBase] Fix ripple size when clientX or clientY is 0
  packages/material-ui/src/ButtonBase/TouchRipple.js
Labels: PR: ready to ship, bug, component: ButtonBase

#20648 [Tabs] Use a native element for the tabpanel role
  docs/src/pages/components/tabs/FullWidthTabs.js
  docs/src/pages/components/tabs/FullWidthTabs.tsx
  docs/src/pages/components/tabs/NavTabs.js
  docs/src/pages/components/tabs/NavTabs.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonAuto.js
  docs/src/pages/components/tabs/ScrollableTabsButtonAuto.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonForce.js
  docs/src/pages/components/tabs/ScrollableTabsButtonForce.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonPrevent.js
  docs/src/pages/components/tabs/ScrollableTabsButtonPrevent.tsx
  docs/src/pages/components/tabs/SimpleTabs.js
  docs/src/pages/components/tabs/SimpleTabs.tsx
  docs/src/pages/components/tabs/TabsWrappedLabel.js
  docs/src/pages/components/tabs/TabsWrappedLabel.tsx
  docs/src/pages/components/tabs/VerticalTabs.js
  docs/src/pages/components/tabs/VerticalTabs.tsx
Labels: PR: ready to ship, component: Tabs, docs

#20647 [ClickAwayListener] Fix support of leading edge
  docs/src/pages/components/click-away-listener/LeadingClickAway.js
  docs/src/pages/components/click-away-listener/LeadingClickAway.tsx
  docs/src/pages/components/click-away-listener/click-away-listener.md
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
Labels: PR: ready to ship, bug, component: ClickAwayListener, docs

#20663 [Autocomplete] Remove dead code
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: lab: Autocomplete, performance

#20664 [docs] Modernize DemoFrame
  docs/src/modules/components/DemoSandboxed.js
  docs/src/pages/components/drawers/ResponsiveDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.tsx
Labels: docs

#20672 [l10n] Improve pl-PL locale
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship

#20673 [I10n] Improve pt-PT locale
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship

#20623 [docs] Fix warning and crash in dev mode
  docs/pages/components/autocomplete.js
  docs/pages/guides/interoperability.js
  docs/pages/styles/advanced.js
  docs/pages/system/basics.js
Labels: PR: ready to ship, docs

#20677 [docs] Replace react-frame-component with concurrent safe impl
  docs/package.json
  docs/src/modules/components/DemoSandboxed.js
  yarn.lock
Labels: docs

#20679 [docs] Add "Persian" to the list of RTL languages
  docs/src/pages/guides/right-to-left/right-to-left.md
Labels: docs

#20678 [useScrollTrigger] Fix out of sync trigger
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.js
  scripts/sizeSnapshot/webpack.config.js
Labels: PR: ready to ship, bug, hook: useScrollTrigger

#20680 [useScrollTrigger] Add test to fix useScrollTrigger on first load
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.test.js
Labels: PR: ready to ship, hook: useScrollTrigger, test

#20686 [docs] Fix dropped iframe content in firefox
  docs/src/modules/components/DemoSandboxed.js
Labels: bug, docs

#20687 [Autocomplete] Fix "fixed tags" demo
  docs/src/pages/components/autocomplete/FixedTags.js
  docs/src/pages/components/autocomplete/FixedTags.tsx
Labels: docs, lab: Autocomplete

#20693 [AppBar] Migrate to testing-library
  packages/material-ui/src/AppBar/AppBar.test.js
Labels: component: AppBar, test

#20670 [l10n] Improve cs-CZ locale
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship

#20699 [core] Bump `@material-ui/react-transition-group`
  docs/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: bug, package: core

#20691 [Autocomplete] Add new feature onHighlightChange
  docs/pages/api-docs/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#20688 [Popper] Add ref type definition
  packages/material-ui/src/Popper/Popper.d.ts
Labels: PR: ready to ship, component: Popper, typescript

#20702 [test] Relax lint rules in test
  .eslintrc.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/Portal/Portal.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/SvgIcon/SvgIcon.test.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/NestedMenu.test.js
Labels: test

#20697 [Avatar] Migrate to testing-library
  packages/material-ui/src/Avatar/Avatar.test.js
Labels: PR: ready to ship, component: Avatar, test

#20684 [l10n] Improve de-DE locale
  packages/material-ui/src/locale/index.js
Labels: package: core

#20715 [TextField] Fix required outlined label space with no asterisk
  packages/material-ui/src/TextField/TextField.js
  test/regressions/tests/TextField/OutlinedHiddenRequiredIndicator.js
Labels: bug, component: TextField

#20710 [Badge] Migrate to testing-library
  packages/material-ui/src/Badge/Badge.test.js
Labels: component: Badge, test

#20685 [l10n] Port locale to TypeScript
  babel.config.js
  docs/next.config.js
  docs/pages/api-docs/table-pagination.md
  docs/webpackBaseConfig.js
  packages/material-ui/package.json
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.d.ts
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.ts
  packages/material-ui/tsconfig.build.json
Labels: PR: ready to ship, package: core, typescript

#20694 [Modal] Prevent focus steal from other windows
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Modal/TrapFocus.js
  test/utils/createClientRender.js
Labels: PR: ready to ship, accessibility, bug, component: Modal, component: unstable_TrapFocus

#20720 [ExpansionPanel] Increase contrast for focus state
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.js
Labels: PR: ready to ship, accessibility, component: ExpansionPanel

#20721 [Snackbar] Improve consecutive demos
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.js
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.tsx
Labels: PR: ready to ship, component: Snackbar, docs

#20729 [Autocomplete] Remove startAfter props
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.test.js
Labels: breaking change, lab: Autocomplete

#20739 [Select] Forward onClick event to menuItem
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, bug, component: Select

#20734 [l10n] Improve pt-BR locale
  packages/material-ui/src/locale/index.ts
Labels: PR: ready to ship

#20732 [Autocomplete] Fix popup open logic when non empty
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#20728 [BottomNavigation] Migrate to testing library
  packages/material-ui/src/BottomNavigation/BottomNavigation.test.js
Labels: PR: ready to ship, component: BottomNavigation, test

#20736 [Box] Migrate to testing library
  packages/material-ui/src/Box/Box.test.js
Labels: test

#20724 [docs] Add "reset focus" control to demo tools
  docs/src/modules/components/Demo.js
  docs/translations/translations.json
Labels: accessibility, docs

#20747 [ButtonGroup] Add disableElevation prop
  docs/pages/api-docs/button-group.md
  docs/src/pages/components/button-group/DisableElevation.js
  docs/src/pages/components/button-group/DisableElevation.tsx
  docs/src/pages/components/button-group/button-group.md
  packages/material-ui/src/ButtonGroup/ButtonGroup.d.ts
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.test.js
Labels: PR: ready to ship, component: ButtonGroup, enhancement

#20745 [Tooltip] Fix flip invalid CSS property error
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, bug, component: Tooltip

#20742 [TextField] Use aria-hidden on required asterisk
  packages/material-ui/src/FormLabel/FormLabel.js
  packages/material-ui/src/FormLabel/FormLabel.test.js
Labels: PR: ready to ship, accessibility, component: TextField

#20737 [l10n] Document how far Material-UI should go
  docs/src/pages/guides/localization/localization.md
Labels: PR: ready to ship, docs

#20775 [docs] English fix: fewer boilerplate -> less boilerplate
  examples/gatsby/README.md
Labels: docs

#20780 [Select] Fix height inconsistency between input and select
  packages/material-ui/src/NativeSelect/NativeSelect.js
Labels: PR: ready to ship, bug, component: Select

#20771 [material-ui-docs] Fix extraneous dependencies
  packages/material-ui-docs/package.json
Labels: PR: ready to ship, bug, package: docs

#20777 [docs] Allow default actions of nested elements
  docs/src/modules/components/Demo.js
Labels: PR: ready to ship, accessibility, docs

#20773 [Card] Migrate to testing-library
  packages/material-ui/src/Card/Card.test.js
  packages/material-ui/src/CardHeader/CardHeader.test.js
  packages/material-ui/src/CardMedia/CardMedia.test.js
Labels: PR: ready to ship, component: Card, test

#20770 [test] Improve textToHash test
  docs/src/modules/utils/textToHash.js
  docs/src/modules/utils/textToHash.test.js
Labels: PR: ready to ship, docs, test

#20749 [core] Force visibility on a few components in ink save print mode
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Switch/Switch.js
Labels: PR: ready to ship, bug, package: core

#20085 [TreeView] Update firstCharMap when a TreeItem is removed
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.js
Labels: PR: ready to ship, bug, lab: TreeView

#20784 [docs] Never transition preview if not shown
  docs/src/modules/components/Demo.js
Labels: docs

#20791 [docs] Fix "Find the source" link in localization.md
  docs/src/pages/guides/localization/localization.md
Labels: docs

#20657 [TreeView] Add onIconClick and onLabelClick
  docs/pages/api-docs/tree-item.md
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
Labels: PR: ready to ship, enhancement, lab: TreeView

#20781 [Tabs] Implement keyboard navigation
  .eslintrc.js
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: PR: ready to ship, accessibility, component: Tabs

#20786 [Modal] Should propagate event if disableEscapeKeyDown
  docs/pages/api-docs/modal.md
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
Labels: PR: ready to ship, bug, component: Modal

#20753 [system] Improve breakpoints types
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.spec.tsx
Labels: PR: ready to ship, package: system, typescript

#20792 [colorManipulator] assert ---> expect
  packages/material-ui/src/styles/colorManipulator.test.js
Labels: PR: ready to ship, test

#20803 [Skeleton] Remove z-index
  packages/material-ui-lab/src/Skeleton/Skeleton.js
Labels: lab: Skeleton

#20783 [Tabs] Improve customizability of the scroll buttons
  docs/pages/api-docs/grid.md
  docs/pages/api-docs/paper.md
  docs/pages/api-docs/popover.md
  docs/pages/api-docs/step-label.md
  docs/pages/api-docs/tab-scroll-button.js
  docs/pages/api-docs/tab-scroll-button.md
  docs/pages/api-docs/tabs.md
  docs/src/pages/components/tabs/tabs.md
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/TabScrollButton/TabScrollButton.d.ts
  packages/material-ui/src/TabScrollButton/TabScrollButton.js
  packages/material-ui/src/TabScrollButton/TabScrollButton.test.js
  packages/material-ui/src/TabScrollButton/index.d.ts
  packages/material-ui/src/TabScrollButton/index.js
  packages/material-ui/src/Tabs/TabScrollButton.test.js
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: PR: ready to ship, component: Tabs

#20793 [AvatarGroup] Improve limit display
  docs/src/pages/components/avatars/GroupAvatars.js
  docs/src/pages/components/avatars/GroupAvatars.tsx
  packages/material-ui-lab/src/AvatarGroup/AvatarGroup.js
  packages/material-ui-lab/src/AvatarGroup/AvatarGroup.test.js
Labels: PR: ready to ship, component: Avatar, enhancement

#19795 [docs] Add collapsible table demo
  docs/src/pages/components/tables/CollapsibleTable.js
  docs/src/pages/components/tables/CollapsibleTable.tsx
  docs/src/pages/components/tables/tables.md
Labels: PR: ready to ship, component: Table, docs

#20810 [example] Add next.js SSG clarification comment
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
Labels: PR: ready to ship, docs

#20817 [docs] Fix typo in Select type definitions
  docs/pages/api-docs/select.md
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
Labels: PR: ready to ship, docs

#20743 [ClickAwayListener] Remove misleading code comment
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
Labels: PR: ready to ship, component: ClickAwayListener

#20822 [Select] Fix height overflow
  packages/material-ui/src/NativeSelect/NativeSelect.js
  test/regressions/tests/Select/SelectChips.js
Labels: PR: ready to ship, bug, component: Select

#20826 [Pagination] Refactor boundaryCount
  packages/material-ui-lab/src/Pagination/usePagination.js
Labels: lab: Pagination

#20823 [core] Batch small changes
  docs/notifications.json
  docs/pages/_app.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/Notifications.js
  docs/src/pages/components/autocomplete/autocomplete.md
  docs/src/pages/customization/typography/typography.md
  docs/src/pages/getting-started/learn/learn.md
  docs/src/pages/guides/localization/Locales.js
  docs/src/pages/guides/localization/Locales.tsx
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/SvgIcon/SvgIcon.js
  packages/material-ui/src/SvgIcon/SvgIcon.test.js
  packages/material-ui/src/locale/index.ts
Labels: umbrella

#20807 [Tooltip] Fix disableTouchListener behavior
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: PR: ready to ship, bug, component: Tooltip

#20830 [styles] Improve component props inference of styled
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/src/styled/styled.spec.tsx
Labels: package: styles, typescript

#20841 [docs] Fix emojis/html being included in toc
  docs/src/modules/utils/parseMarkdown.js
  docs/src/modules/utils/parseMarkdown.test.js
  docs/src/modules/utils/textToHash.js
Labels: bug, docs

#20843 [docs] Use mathematical interval notation for breakpoints
  docs/src/pages/customization/breakpoints/breakpoints.md
Labels: docs
