Repository mui/material-ui, pull requests merged in 2020-03, with the labels that each got.

#19921 Bump `@babel/*` to 7.8.6
  docs/package.json
  docs/src/modules/utils/parseTest.js
  package.json
  yarn.lock
Labels: dependencies, worktree

#19898 [Tooltip] Reduce enterDelay to 100ms
  docs/pages/api/tooltip.md
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, component: Tooltip

#19896 Batch small changes
  .github/ISSUE_TEMPLATE/3.support.md
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  docs/notifications.json
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/progress/progress.md
  docs/src/pages/discover-more/showcase/appList.js
  docs/src/pages/getting-started/learn/learn.md
Labels: umbrella

#19722 [TextField] Fix outlined render gap if label = empty string
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/TextField/TextField.test.js
Labels: bug, component: TextField

#19899 [Tooltip] Fix useMemo dependency
  docs/pages/api/tooltip.md
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, component: Tooltip

#19901 [Autocomplete] Autocomplete popup improvement
  docs/pages/api/autocomplete.md
  docs/src/pages/components/autocomplete/GoogleMaps.js
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, breaking change, enhancement, lab: Autocomplete

#19900 [system] Array reject on spacing transformation fixed
  docs/src/pages/customization/spacing/spacing.md
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/spacing.js
  packages/material-ui/src/styles/createSpacing.js
  packages/material-ui/src/styles/createSpacing.test.js
Labels: PR: ready to ship, package: system

#19874 [TablePagination] Out of range warning when "count={-1}"
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
Labels: bug, component: Table

#19939 [docs] Fix @material-ui/styles release version number
  CHANGELOG.md
Labels: docs, package: styles

#19944 [docs] Fix Sketch link
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#19949 [Link] Fix color mismatch with Typography component
  docs/pages/api/link.md
  packages/material-ui/src/Link/Link.js
Labels: PR: ready to ship, bug, component: Link

#19923 [Autocomplete] Better synchronize the highlight with the value
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#19934 [Drawer] Add a comment for clarity on the styling of height of the toolbar
  docs/src/pages/components/drawers/ClippedDrawer.js
  docs/src/pages/components/drawers/ClippedDrawer.tsx
  docs/src/pages/components/drawers/MiniDrawer.js
  docs/src/pages/components/drawers/MiniDrawer.tsx
  docs/src/pages/components/drawers/PermanentDrawerLeft.js
  docs/src/pages/components/drawers/PermanentDrawerLeft.tsx
  docs/src/pages/components/drawers/PermanentDrawerRight.js
  docs/src/pages/components/drawers/PermanentDrawerRight.tsx
  docs/src/pages/components/drawers/PersistentDrawerLeft.js
  docs/src/pages/components/drawers/PersistentDrawerLeft.tsx
  docs/src/pages/components/drawers/PersistentDrawerRight.js
  docs/src/pages/components/drawers/PersistentDrawerRight.tsx
  docs/src/pages/components/drawers/ResponsiveDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.tsx
Labels: PR: ready to ship, component: Drawer, docs

#19954 [docs] Flexbox: update item number
  docs/src/pages/system/flexbox/FlexDirection.js
  docs/src/pages/system/flexbox/FlexDirection.tsx
Labels: docs

#19951 [docs] Document typescript:transpile script
  docs/scripts/formattedTSDemos.js
  package.json
  yarn.lock
Labels: docs

#19962 [theme] Describe what each argument of theme.spacing affects
  packages/material-ui/src/styles/createSpacing.d.ts
Labels: package: core, typescript

#19956 [docs] Flexbox, add element for show the good effect
  docs/src/pages/system/flexbox/AlignSelf.js
  docs/src/pages/system/flexbox/AlignSelf.tsx
  docs/src/pages/system/flexbox/FlexWrap.js
  docs/src/pages/system/flexbox/FlexWrap.tsx
Labels: docs, package: system

#19959 [Autocomplete] Add more details in the onChange event
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: enhancement, lab: Autocomplete

#19964 [Pagination] Fix prop forwarding of `onChange` and `page`
  packages/material-ui-lab/src/Pagination/Pagination.js
  packages/material-ui-lab/src/Pagination/Pagination.test.js
Labels: PR: ready to ship, bug, lab: Pagination

#19969 [Autocomplete] Add scrollbar support in IE11
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#19974 [Autocomplete] Use getOptionLabel over stringify
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.test.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#19971 [Container] Reset display block for IE11
  packages/material-ui/src/Container/Container.js
Labels: PR: ready to ship, bug, component: Container

#19979 [test] Resize screenshots with sharp
  package.json
  test/README.md
  test/regressions/index.js
  yarn.lock
Labels: test

#19937 [TextField] Avoid outline label CSS leak
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
Labels: PR: ready to ship, bug, component: TextField

#19599 [docs] Add radio error demo
  docs/src/pages/components/radio-buttons/ErrorRadios.js
  docs/src/pages/components/radio-buttons/ErrorRadios.tsx
  docs/src/pages/components/radio-buttons/FormControlLabelPlacement.js
  docs/src/pages/components/radio-buttons/FormControlLabelPlacement.tsx
  docs/src/pages/components/radio-buttons/radio-buttons.md
Labels: PR: ready to ship, docs

#19993 [docs] Fix missing OutlinedLabel#label link in Select API docs
  docs/pages/api-docs/select.md
  packages/material-ui/src/Select/Select.js
Labels: component: Select, docs

#19992 [docs] Fix incorrect type for fontWeight
  docs/src/pages/getting-started/templates/checkout/Review.js
Labels: docs

#19966 [Pagination] Leverage `@default` over default values
  docs/src/modules/utils/defaultPropsHandler.js
  packages/material-ui-lab/src/Pagination/Pagination.js
  packages/material-ui-lab/src/Pagination/usePagination.js
Labels: PR: ready to ship, docs, lab: Pagination

#19950 [docs] Improve font size scaling of some demos
  docs/src/pages/components/app-bar/PrimarySearchAppBar.js
  docs/src/pages/components/app-bar/PrimarySearchAppBar.tsx
  docs/src/pages/components/app-bar/SearchAppBar.js
  docs/src/pages/components/app-bar/SearchAppBar.tsx
  docs/src/pages/components/lists/AlignItemsList.js
  docs/src/pages/components/lists/AlignItemsList.tsx
  docs/src/pages/components/menus/LongMenu.js
  docs/src/pages/components/menus/LongMenu.tsx
  docs/src/pages/components/menus/SimpleListMenu.js
  docs/src/pages/components/menus/SimpleListMenu.tsx
  docs/src/pages/components/text-fields/BasicTextFields.js
  docs/src/pages/components/text-fields/BasicTextFields.tsx
  docs/src/pages/components/text-fields/ColorTextFields.js
  docs/src/pages/components/text-fields/ColorTextFields.tsx
  docs/src/pages/components/text-fields/FormPropsTextFields.js
  docs/src/pages/components/text-fields/FormPropsTextFields.tsx
  docs/src/pages/components/text-fields/InputAdornments.js
  docs/src/pages/components/text-fields/InputAdornments.tsx
  docs/src/pages/components/text-fields/LayoutTextFields.js
  docs/src/pages/components/text-fields/LayoutTextFields.tsx
  docs/src/pages/components/text-fields/MultilineTextFields.js
  docs/src/pages/components/text-fields/MultilineTextFields.tsx
  docs/src/pages/components/text-fields/SelectTextFields.js
  docs/src/pages/components/text-fields/SelectTextFields.tsx
  docs/src/pages/components/text-fields/StateTextFields.js
  docs/src/pages/components/text-fields/StateTextFields.tsx
Labels: PR: ready to ship, accessibility, docs

#19978 [docs] Track bundle size of pages
  azure-pipelines.yml
  dangerfile.js
  scripts/sizeSnapshot/create.js
  scripts/sizeSnapshot/webpack.config.js
Labels: docs, performance

#19996 [styles] Name anonymous function type
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/test/styles.spec.tsx
Labels: package: styles, typescript

#19987 [pagination] Remove children prop
  docs/pages/api-docs/pagination.md
  docs/src/pages/components/pagination/pagination.md
  packages/material-ui-lab/src/Pagination/Pagination.js
  packages/material-ui-lab/src/Pagination/Pagination.test.js
Labels: lab: Pagination

#19972 [docs] Remove premium support offerings
  docs/src/pages/getting-started/support/support.md
Labels: docs

#20006 [docs] Fix OutlinedLabel typo
  docs/pages/api-docs/select.md
  packages/material-ui/src/Select/Select.js
Labels: docs

#20015 [core] Use Babel 7 version of transform-react-constant-elements
  babel.config.js
  docs/babel.config.js
  docs/package.json
  package.json
  yarn.lock
Labels: core

#20017 [ci] Let failed types-next jobs pass
  .circleci/config.yml
Labels: test, typescript

#20019 [test] Run snapshot tests on the a11y tree
  .github/workflows/scripts.yml
Labels: accessibility, test

#20021 [ci] Fix incorre pr number for experimental scripts
  .github/workflows/scripts.yml
Labels: test

#20016 [TextField] Minimize usage of z-index
  packages/material-ui/src/FormControl/FormControl.js
Labels: component: TextField

#20039 [ListItemText] Fix display block issue
  packages/material-ui/src/ListItemText/ListItemText.js
Labels: PR: ready to ship, bug, component: ListItem

#20046 [test] Match against messages not args on console methods
  package.json
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
  packages/material-ui-styles/src/StylesProvider/StylesProvider.test.js
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.test.js
  packages/material-ui-styles/src/makeStyles/makeStyles.test.js
  packages/material-ui-styles/src/styled/styled.test.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
  packages/material-ui-styles/src/withTheme/withTheme.test.js
  packages/material-ui-system/src/spacing.test.js
  packages/material-ui-utils/src/chainPropTypes.test.js
  packages/material-ui-utils/src/elementAcceptingRef.test.js
  packages/material-ui-utils/src/elementTypeAcceptingRef.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/CardMedia/CardMedia.test.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.test.js
  packages/material-ui/src/GridList/GridList.test.js
  packages/material-ui/src/Hidden/HiddenCss.test.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/LinearProgress/LinearProgress.test.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Paper/Paper.test.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/RadioGroup/RadioGroup.test.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/src/styles/createMuiTheme.test.js
  packages/material-ui/src/styles/createPalette.test.js
  packages/material-ui/src/styles/createSpacing.test.js
  packages/material-ui/src/styles/createTypography.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/utils/deprecatedPropType.test.js
  packages/material-ui/src/utils/useControlled.test.js
  test/utils/consoleErrorMock.js
  test/utils/consoleErrorMock.test.js
  yarn.lock
Labels: test

#20052 [docs] Simplify checkbox examples
  docs/src/pages/components/checkboxes/CheckboxLabels.js
  docs/src/pages/components/checkboxes/CheckboxLabels.tsx
  docs/src/pages/components/checkboxes/CheckboxesGroup.js
  docs/src/pages/components/checkboxes/CheckboxesGroup.tsx
Labels: docs

#20051 [Chip] prevent event default when onDelete is triggered
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Chip/Chip.test.js
Labels: accessibility, bug, component: Chip

#20048 [Grid] Fix row-reverse typo
  packages/material-ui/src/Grid/Grid.js
Labels: docs

#20047 [Skeleton] Fix SkeletonClassKey type
  packages/material-ui-lab/src/Skeleton/Skeleton.d.ts
Labels: lab: Skeleton, typescript

#19995 [docs] Bump next to latest
  .dependabot/config.yml
  dangerfile.js
  docs/package.json
  package.json
  scripts/sizeSnapshot/create.js
  yarn.lock
Labels: dependencies, docs

#19933 [Pagination] Add TypeScript types
  docs/pages/api-docs/pagination.md
  packages/material-ui-lab/src/Pagination/Pagination.d.ts
  packages/material-ui-lab/src/Pagination/Pagination.js
  packages/material-ui-lab/src/Pagination/usePagination.d.ts
  packages/material-ui-lab/src/PaginationItem/PaginationItem.d.ts
Labels: lab: Pagination, typescript

#20066 [docs] Fix grammar in autocomplete doc
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: PR: ready to ship, docs

#20075 [core] Add missing properties to TypeAction
  packages/material-ui/src/styles/createPalette.d.ts
Labels: package: core, typescript

#20073 [core] Add spacing after prettier command
  scripts/prettier.js
Labels: core

#20103 [Autocomplete] Simplify error for wrong getOptionLabel
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#20076 [Select] Simplify the demos (remove ref)
  docs/src/pages/components/selects/NativeSelects.js
  docs/src/pages/components/selects/NativeSelects.tsx
  docs/src/pages/components/selects/SimpleSelect.js
  docs/src/pages/components/selects/SimpleSelect.tsx
Labels: PR: ready to ship, component: Select, docs

#20127 [ci] Fix azure not running
  azure-pipelines.yml
Labels: test

#20101 [Autocomplete] Document listbox limitation
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: PR: ready to ship, docs, lab: Autocomplete

#20086 [Autocomplete] Fix typo in prop description
  docs/pages/api-docs/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, docs, lab: Autocomplete

#20128 [core] Improve the DX when iterating on components
  docs/next.config.js
Labels: core, docs

#20065 [Autocomplete] Fix clearOnEscape + multiple combination
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#19928 [Autocomplete] Fix GitHub's demo behavior
  docs/pages/api-docs/autocomplete.md
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/Snackbar/Snackbar.d.ts
Labels: PR: ready to ship, bug, lab: Autocomplete

#19853 [AvatarGroup] Add max avatar prop
  docs/pages/api-docs/avatar-group.md
  docs/src/pages/components/avatars/GroupAvatars.js
  docs/src/pages/components/avatars/GroupAvatars.tsx
  packages/material-ui-lab/src/AvatarGroup/AvatarGroup.d.ts
  packages/material-ui-lab/src/AvatarGroup/AvatarGroup.js
  packages/material-ui-lab/src/AvatarGroup/AvatarGroup.test.js
Labels: PR: ready to ship, component: Avatar, enhancement

#20091 [styles] Fix theme default props overriden by Component default props
  packages/material-ui-styles/src/withStyles/withStyles.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
Labels: PR: ready to ship, package: styles

#20111 [core] Batch small changes
  docs/pages/api-docs/checkbox.md
  docs/pages/api-docs/switch.md
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/autocomplete/autocomplete.md
  docs/src/pages/components/checkboxes/CheckboxLabels.js
  docs/src/pages/components/checkboxes/CheckboxLabels.tsx
  docs/src/pages/components/checkboxes/Checkboxes.js
  docs/src/pages/components/checkboxes/Checkboxes.tsx
  docs/src/pages/components/checkboxes/CheckboxesGroup.js
  docs/src/pages/components/checkboxes/CheckboxesGroup.tsx
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/dialogs/MaxWidthDialog.js
  docs/src/pages/components/dialogs/MaxWidthDialog.tsx
  docs/src/pages/components/lists/InteractiveList.js
  docs/src/pages/components/lists/InteractiveList.tsx
  docs/src/pages/components/popover/AnchorPlayground.js
  docs/src/pages/components/selects/NativeSelects.js
  docs/src/pages/components/selects/NativeSelects.tsx
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  docs/src/pages/components/speed-dial/SpeedDials.js
  docs/src/pages/components/speed-dial/SpeedDials.tsx
  docs/src/pages/components/switches/CustomizedSwitches.js
  docs/src/pages/components/switches/CustomizedSwitches.tsx
  docs/src/pages/components/switches/SwitchLabels.js
  docs/src/pages/components/switches/SwitchLabels.tsx
  docs/src/pages/components/switches/Switches.js
  docs/src/pages/components/switches/Switches.tsx
  docs/src/pages/components/switches/SwitchesGroup.js
  docs/src/pages/components/switches/SwitchesGroup.tsx
  docs/src/pages/components/text-fields/FormattedInputs.js
  docs/src/pages/components/text-fields/FormattedInputs.tsx
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sticky-footer/StickyFooter.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/TableRow/TableRow.js
Labels: PR: ready to ship, umbrella

#20108 [docs] Fix SEO issues
  .eslintrc.js
  docs/pages/_app.js
  docs/pages/_document.js
  docs/pages/blog/material-ui-v1-is-out.md
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/Head.js
  docs/src/modules/components/HomeSteps.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/MarkdownLinks.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/modules/components/TopLayoutCompany.js
  docs/src/modules/components/useMarkdownDocs.js
  docs/src/modules/utils/generateMarkdown.js
Labels: PR: ready to ship, docs

#20112 [Skeleton] Improve wave dark mode support
  packages/material-ui-lab/src/Skeleton/Skeleton.js
Labels: PR: ready to ship, enhancement, lab: Skeleton

#20100 [core] Fix deepmerge of DOM elements
  packages/material-ui-utils/src/deepmerge.js
  packages/material-ui-utils/src/deepmerge.test.js
Labels: PR: ready to ship, bug, core

#20110 [core] Update type defs to use OverridableComponent
  packages/material-ui/src/Badge/Badge.d.ts
  packages/material-ui/src/BottomNavigation/BottomNavigation.d.ts
  packages/material-ui/src/CardContent/CardContent.d.ts
  packages/material-ui/src/CardHeader/CardHeader.d.ts
  packages/material-ui/src/Container/Container.d.ts
  packages/material-ui/src/FormHelperText/FormHelperText.d.ts
  packages/material-ui/src/GridList/GridList.d.ts
  packages/material-ui/src/GridListTile/GridListTile.d.ts
  packages/material-ui/src/Icon/Icon.d.ts
  packages/material-ui/src/InputAdornment/InputAdornment.d.ts
  packages/material-ui/src/Slider/Slider.d.ts
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
  packages/material-ui/src/Table/Table.d.ts
  packages/material-ui/src/TableBody/TableBody.d.ts
  packages/material-ui/src/TableContainer/TableContainer.d.ts
  packages/material-ui/src/TableFooter/TableFooter.d.ts
  packages/material-ui/src/TableHead/TableHead.d.ts
  packages/material-ui/src/TableRow/TableRow.d.ts
  packages/material-ui/src/Toolbar/Toolbar.d.ts
Labels: typescript

#20040 [docs] Simplify drawer examples
  docs/src/pages/components/drawers/SwipeableTemporaryDrawer.js
  docs/src/pages/components/drawers/SwipeableTemporaryDrawer.tsx
  docs/src/pages/components/drawers/TemporaryDrawer.js
  docs/src/pages/components/drawers/TemporaryDrawer.tsx
  docs/src/pages/components/drawers/drawers.md
Labels: PR: ready to ship, component: Drawer, docs

#20142 [Autocomplete] Make categories more obvious
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: PR: ready to ship, lab: Autocomplete

#20164 [core] Fix docs:api cleaning the wrong directory
  package.json
Labels: PR: ready to ship, core

#20167 [docs] Add select prop to TextField example
  docs/src/pages/components/selects/selects.md
Labels: docs

#20155 [test] Restore nextjs cache for size snapshot
  azure-pipelines.yml
  docs/package.json
Labels: test

#19155 [ListItemText] Add comonent prop to primaryTypographyProps and second…
  packages/material-ui/src/ListItemText/ListItemText.d.ts
  packages/material-ui/src/ListItemText/ListItemText.spec.tsx
Labels: typescript

#20171 [ListItemText] Add JSDOC to typescript props
  packages/material-ui/src/ListItemText/ListItemText.d.ts
  packages/material-ui/src/ListItemText/ListItemText.js
Labels: docs, typescript

#20177 [docs] Improve demo error boundary
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoErrorBoundary.js
  docs/src/modules/components/DemoSandboxed.js
  docs/translations/translations.json
Labels: docs

#20190 [docs] Fix wording in backdrop.md
  docs/src/pages/components/backdrop/backdrop.md
Labels: docs

#20169 [core] Automatically apply "PR: needs rebase" PR label
  .github/workflows/maintenance.yml
Labels: core

#20195 [core] Fix maintenance workflow failing on fork PRs
  .github/workflows/maintenance.yml
Labels: core

#20194 [test] Improve regression test suite debugging
  package.json
  test/regressions/index.js
Labels: test

#20187 [docs] Extract landing-only modules
  docs/pages/index.js
  docs/src/modules/components/HomePro.js
  docs/src/pages/landing/Pro.js
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/Quotes.js
  docs/src/pages/landing/Sponsors.js
  docs/src/pages/landing/Steps.js
  docs/src/pages/landing/Themes.js
  docs/src/pages/landing/Users.js
  docs/src/pages/landing/backers-aa.md
  docs/src/pages/landing/backers-de.md
  docs/src/pages/landing/backers-es.md
  docs/src/pages/landing/backers-fr.md
  docs/src/pages/landing/backers-ja.md
  docs/src/pages/landing/backers-pt.md
  docs/src/pages/landing/backers-ru.md
  docs/src/pages/landing/backers-zh.md
  docs/src/pages/landing/backers.md
  test/regressions/index.js
Labels: docs

#20199 [docs] Page size tracking fixes
  azure-pipelines.yml
  scripts/sizeSnapshot/create.js
  yarn.lock
Labels: docs, performance

#20005 [docs] Improve loading experience
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandboxed.js
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/Quotes.js
  docs/src/pages/landing/Sponsors.js
  docs/src/pages/landing/Themes.js
  docs/src/pages/landing/Users.js
Labels: docs, performance

#20200 Bump babel to 7.9.1
  azure-pipelines.yml
  babel.config.js
  docs/package.json
  package.json
  yarn.lock
Labels: dependencies, worktree

#20202 [core] Fix docs:start which should start next.js server
  package.json
Labels: core

#20207 [docs] Improve doc for textField and buttons
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/text-fields/text-fields.md
Labels: docs

#20213 [docs] Fix icons + locale
  docs/pages/components/material-icons.js
Labels: docs

#20102 [TreeItem] correct single-select aria-selected
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
Labels: accessibility, bug, lab: TreeView

#19515 [core] Add debug values to various hooks
  packages/material-ui-styles/src/makeStyles/makeStyles.js
  packages/material-ui-styles/src/useTheme/useTheme.js
  packages/material-ui/scripts/rollup.config.js
  packages/material-ui/src/styles/useTheme.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
  packages/material-ui/src/utils/focusVisible.js
Labels: enhancement, package: core, package: styles

#20209 [Autocomplete] Add limitTags prop
  docs/pages/api-docs/autocomplete.md
  docs/src/pages/components/autocomplete/LimitTags.js
  docs/src/pages/components/autocomplete/LimitTags.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#20233 [core] Format all ts files
  packages/material-ui-styles/src/defaultTheme/defaultTheme.spec.ts
  packages/material-ui/src/styles/createMixins.spec.ts
  packages/material-ui/test/typescript/colors.spec.ts
  scripts/generateProptypes.ts
  scripts/prettier.js
Labels: PR: ready to ship, core

#20082 [docs] Add color preview to default theme tree
  docs/src/pages/customization/default-theme/DefaultTheme.js
Labels: PR: ready to ship, docs

#20235 [Autocomplete] Warn when value does not match options
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/Tabs/Tabs.js
  test/utils/consoleErrorMock.js
Labels: PR: ready to ship, docs, lab: Autocomplete

#20212 [core] Enable module augmentation of CommonColors
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/src/styles/createPalette.spec.ts
Labels: PR: ready to ship, enhancement, package: core

#20247 [Pagination] Add RTL support
  packages/material-ui-lab/src/Pagination/Pagination.test.js
  packages/material-ui-lab/src/PaginationItem/PaginationItem.js
Labels: PR: ready to ship, bug, lab: Pagination

#20255 [core] Batch small changes
  docs/pages/api-docs/list-item-text.md
  docs/pages/company/software-engineer.js
  docs/src/modules/components/AppContainer.js
  docs/src/modules/components/AppFooter.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/company/jobs/jobs.md
  docs/src/pages/components/modal/SimpleModal.js
  docs/src/pages/components/modal/SimpleModal.tsx
  docs/src/pages/landing/Quotes.js
  docs/translations/translations.json
  packages/material-ui/src/ListItemText/ListItemText.d.ts
  packages/material-ui/src/ListItemText/ListItemText.js
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
  packages/material-ui/src/styles/createPalette.spec.ts
  packages/material-ui/src/styles/index.d.ts
Labels: PR: ready to ship, umbrella

#20262 [docs] Add demo link
  docs/src/pages/getting-started/templates/album/README.md
  docs/src/pages/getting-started/templates/blog/README.md
  docs/src/pages/getting-started/templates/checkout/README.md
  docs/src/pages/getting-started/templates/dashboard/README.md
  docs/src/pages/getting-started/templates/pricing/README.md
  docs/src/pages/getting-started/templates/sign-in-side/README.md
  docs/src/pages/getting-started/templates/sign-in/README.md
  docs/src/pages/getting-started/templates/sign-up/README.md
  docs/src/pages/getting-started/templates/sticky-footer/README.md
Labels: PR: ready to ship, docs

#20260 [docs] Add a new site to showcase (google-keep clone)
  docs/public/static/images/showcase/googlekeepclone.jpg
  docs/src/pages/discover-more/showcase/appList.js
Labels: PR: ready to ship, docs

#20252 [Tooltip] Fix TextField integration
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: PR: ready to ship, bug, component: Tooltip

#20253 [theme] Warn when palette structure is wrong
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
Labels: PR: ready to ship, enhancement

#20265 [docs] Fix popover anchor playground crash
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/popover/AnchorPlayground.js
Labels: bug, docs

#20146 [TreeView] disable all selection when disableSelection
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.js
Labels: bug, lab: TreeView

#20237 [TreeView] fix inconsistent focus for programmatically focused tree item #20141
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
Labels: bug, lab: TreeView

#20269 [ci] Retry mergable state for 30 minutes
  .github/workflows/maintenance.yml
Labels: core

#20270 [MenuList] Remove if-statement that is always true
  packages/material-ui/src/MenuList/MenuList.js
Labels: package: core

#20271 [Tooltip] Remove superfluous argument in handleBlur call
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: component: Tooltip

#20274 [docs] Fix TablePagination props swap descriptions
  docs/pages/api-docs/table-pagination.md
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: component: Table, docs

#20278 [core] Mark context value as nullable for optional providers
  packages/material-ui/src/FormControl/useFormControl.d.ts
  packages/material-ui/src/RadioGroup/useRadioGroup.d.ts
Labels: component: FormControl, component: RadioGroup, typescript

#20290 [docs] Improve material icons installation instructions
  docs/src/pages/components/icons/icons.md
Labels: PR: ready to ship, docs

#20287 [Select] Apply disabled color to the icon
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, component: Select, enhancement

#19967 [MenuList] Include disabled items in keyboard navigation
  docs/pages/api-docs/autocomplete.md
  docs/pages/api-docs/menu-list.md
  docs/src/pages/components/autocomplete/LimitTags.js
  docs/src/pages/components/autocomplete/LimitTags.tsx
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/MenuList/MenuList.d.ts
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/test/integration/MenuList.test.js
Labels: PR: ready to ship, accessibility, component: Menu

#20293 [core] Fix Checkbox and Radio type propType
  docs/pages/api-docs/checkbox.md
  docs/pages/api-docs/radio.md
  packages/material-ui/src/Checkbox/Checkbox.d.ts
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Radio/Radio.d.ts
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/internal/SwitchBase.d.ts
Labels: component: Checkbox, component: Radio, docs, typescript

#20232 [TreeView] Fix focus steal
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.js
Labels: bug, lab: TreeView

#20301 [docs] Update v3 wording to indicate that v4 was already released
  docs/src/modules/components/AppFrame.js
Labels: docs

#20300 [docs] Update v0 wording to indicate that v1 was already released
  docs/src/app/components/Master.js
Labels: docs

#20298 [docs] Move more prop docs into IntelliSense
  docs/pages/api-docs/dialog.md
  docs/pages/api-docs/native-select.md
  docs/pages/api-docs/select.md
  docs/pages/api-docs/table-cell.md
  docs/pages/api-docs/textarea-autosize.md
  docs/pages/api-docs/zoom.md
  package.json
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/ListItemSecondaryAction/ListItemSecondaryAction.d.ts
  packages/material-ui/src/ListItemSecondaryAction/ListItemSecondaryAction.js
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.d.ts
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.d.ts
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/Step/Step.d.ts
  packages/material-ui/src/Step/Step.js
  packages/material-ui/src/TableCell/TableCell.d.ts
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.d.ts
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
  packages/material-ui/src/Zoom/Zoom.d.ts
  packages/material-ui/src/Zoom/Zoom.js
  yarn.lock
Labels: PR: ready to ship, docs

#20304 [docs] Fix a few WAVE errors
  docs/src/pages/components/buttons/CustomizedButtons.js
  docs/src/pages/components/buttons/CustomizedButtons.tsx
  docs/src/pages/components/selects/GroupedSelect.js
  docs/src/pages/components/selects/GroupedSelect.tsx
  docs/src/pages/components/slider/TrackFalseSlider.js
  docs/src/pages/components/slider/TrackFalseSlider.tsx
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/components/tables/tables.md
  docs/src/pages/landing/Quotes.js
Labels: PR: ready to ship, accessibility, docs

#20305 [Autocomplete] Add startAfter option
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.test.js
Labels: enhancement, lab: Autocomplete

#20306 [core] Fix incorrect typings regarding transition components and chilren
  docs/src/pages/components/dialogs/AlertDialogSlide.tsx
  docs/src/pages/components/dialogs/FullScreenDialog.tsx
  docs/src/pages/components/snackbars/DirectionSnackbar.tsx
  docs/src/pages/components/snackbars/TransitionsSnackbar.tsx
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.d.ts
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Slide/Slide.d.ts
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/Tooltip/Tooltip.d.ts
Labels: package: core, typescript

#20307 [SvgIcon] Remove wrong role
  packages/material-ui/src/SvgIcon/SvgIcon.js
Labels: accessibility, component: SvgIcon

#20312 [docs] Batch small changes
  docs/pages/blog/2019-developer-survey-results.md
  docs/src/modules/components/AppContainer.js
  docs/src/modules/components/Demo.js
  docs/src/pages/components/autocomplete/LimitTags.js
  docs/src/pages/components/autocomplete/LimitTags.tsx
  docs/src/pages/landing/Steps.js
Labels: umbrella

#20309 [TreeView] Don't move focus when pressing a modifier key + letter
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
Labels: PR: ready to ship, bug, lab: TreeView

#20315 [Autocomplete] Fix multiselect regression
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#20314 [Autocomplete] Fix blurOnSelect consistency for keyboard
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#20295 [blog] Introducing Material-UI for Sketch
  docs/pages/blog/2020-introducing-sketch.js
  docs/pages/blog/2020-introducing-sketch.md
  docs/public/static/blog/2020-introducing-sketch/design-tools.png
  docs/public/static/blog/2020-introducing-sketch/product-preview.png
  docs/src/modules/components/TopLayoutBlog.js
Labels: PR: ready to ship, docs

#20157 [TreeView] Correct visibleNodes on re-render
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.js
Labels: bug, lab: TreeView

#20238 [TreeView] Allow TreeItem to have conditional child
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
Labels: lab: TreeView

#20337 [docs] Improve analytics
  README.md
  docs/notifications.json
  docs/pages/blog/2020-introducing-sketch.md
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppFrame.js
  docs/src/pages.js
  docs/src/pages/components/material-icons/SearchIcons.js
  docs/src/pages/components/material-icons/synonyms.js
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/templates/templates.md
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/Quotes.js
  docs/src/pages/landing/Themes.js
  docs/src/pages/landing/backers.md
Labels: docs, umbrella

#20308 [core] Remove createSvgIcon duplication
  packages/material-ui-icons/src/utils/createSvgIcon.js
  packages/material-ui-lab/src/internal/svg-icons/Add.js
  packages/material-ui-lab/src/internal/svg-icons/ArrowDropDown.js
  packages/material-ui-lab/src/internal/svg-icons/Close.js
  packages/material-ui-lab/src/internal/svg-icons/ErrorOutline.js
  packages/material-ui-lab/src/internal/svg-icons/FirstPage.js
  packages/material-ui-lab/src/internal/svg-icons/InfoOutlined.js
  packages/material-ui-lab/src/internal/svg-icons/LastPage.js
  packages/material-ui-lab/src/internal/svg-icons/NavigateBefore.js
  packages/material-ui-lab/src/internal/svg-icons/NavigateNext.js
  packages/material-ui-lab/src/internal/svg-icons/ReportProblemOutlined.js
  packages/material-ui-lab/src/internal/svg-icons/Star.js
  packages/material-ui-lab/src/internal/svg-icons/SuccessOutlined.js
  packages/material-ui-lab/src/internal/svg-icons/createSvgIcon.js
  packages/material-ui/src/internal/svg-icons/ArrowDownward.js
  packages/material-ui/src/internal/svg-icons/ArrowDropDown.js
  packages/material-ui/src/internal/svg-icons/Cancel.js
  packages/material-ui/src/internal/svg-icons/CheckBox.js
  packages/material-ui/src/internal/svg-icons/CheckBoxOutlineBlank.js
  packages/material-ui/src/internal/svg-icons/CheckCircle.js
  packages/material-ui/src/internal/svg-icons/Close.js
  packages/material-ui/src/internal/svg-icons/IndeterminateCheckBox.js
  packages/material-ui/src/internal/svg-icons/KeyboardArrowLeft.js
  packages/material-ui/src/internal/svg-icons/KeyboardArrowRight.js
  packages/material-ui/src/internal/svg-icons/MoreHoriz.js
  packages/material-ui/src/internal/svg-icons/Person.js
  packages/material-ui/src/internal/svg-icons/RadioButtonChecked.js
  packages/material-ui/src/internal/svg-icons/RadioButtonUnchecked.js
  packages/material-ui/src/internal/svg-icons/Warning.js
  packages/material-ui/src/utils/createSvgIcon.d.ts
  packages/material-ui/src/utils/createSvgIcon.js
  packages/material-ui/src/utils/index.js
Labels: PR: ready to ship, core

#20276 [TextField] Add `focused` prop
  docs/pages/api-docs/form-control.md
  packages/material-ui/src/FormControl/FormControl.d.ts
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/FormControl/FormControl.test.js
Labels: PR: ready to ship, component: TextField, enhancement

#20338 [Slide] Mark `direction` as optional in TypeScript
  packages/material-ui/src/Slide/Slide.d.ts
Labels: component: Slider, typescript

#20341 [core] Improve out-of-date PR story
  .circleci/config.yml
  .github/workflows/maintenance.yml
Labels: core

#20339 [docs] Explain mini-theme example
  docs/src/pages/styles/advanced/advanced.md
Labels: docs

#20179 [Card] Fix TypeScript not recognizing "component" prop
  packages/material-ui/src/CardHeader/CardHeader.d.ts
  packages/material-ui/src/CardHeader/CardHeader.spec.tsx
Labels: component: Card, typescript

#20348 [docs] Fix Tidelift UTM parameters
  README.md
  docs/src/modules/components/Ad.js
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/backers.md
Labels: docs

#20349 [core] Batch of small changes
  docs/notifications.json
  netlify.toml
  packages/material-ui/src/styles/overrides.d.ts
Labels: umbrella

#20363 [TextFIeld] Fix line-height and height that cut text
  packages/material-ui/src/InputBase/InputBase.js
Labels: PR: ready to ship, bug, component: TextField

#20361 [Select] onChange fired with current value
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, component: Select
