Repository mui/material-ui, pull requests merged in 2020-11, with the labels that each got.

#23327 [core] Batch small changes
  docs/src/pages/components/box/box.md
  docs/src/pages/components/menus/menus.md
  docs/src/pages/components/rating/rating.md
  docs/src/pages/components/tables/tables.md
  docs/src/pages/components/tree-view/BarTreeView.tsx
  docs/src/pages/components/tree-view/IconExpansionTreeView.tsx
  docs/src/pages/guides/localization/localization.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItemContent.d.ts
  test/regressions/index.js
Labels: core, umbrella

#23321 [test] Prevent growing call stack in custom keyDown/keyUp
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  test/utils/createClientRender.js
Labels: test

#23315 [ClickAwayListener] Fix mounting behavior in Portals in React 17
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  scripts/react-next.diff
Labels: bug 🐛, component: ClickAwayListener

#23311 [core] Allow React 17
  framer/Material-UI.framerfx/package.json
  package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui-unstyled/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: enhancement

#23342 [docs] Add Material-UI Builder to in-house ads
  docs/public/static/ads-in-house/doit-intl.png
  docs/public/static/ads-in-house/figma.png
  docs/public/static/ads-in-house/octopus-dark.png
  docs/public/static/ads-in-house/octopus-light.png
  docs/public/static/ads-in-house/scaffoldhub.png
  docs/public/static/ads-in-house/shuffledev.jpg
  docs/public/static/ads-in-house/sketch.png
  docs/public/static/ads-in-house/themes-2.jpg
  docs/public/static/ads-in-house/themes.png
  docs/public/static/ads-in-house/tidelift.png
  docs/public/static/images/themes-dark.jpg
  docs/public/static/images/themes-light.jpg
  docs/src/modules/components/Ad.js
  docs/src/modules/components/DiamondSponsors.js
Labels: docs

#23367 [ClickAwayListener] Fix mounting behavior in Portals in React 17
  .eslintrc.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  scripts/react-next.diff
Labels: bug 🐛, component: ClickAwayListener

#23242 [lab] Migrate Timeline to TypeScript
  docs/pages/api-docs/timeline.md
  docs/scripts/buildApi.ts
  docs/src/modules/utils/find.js
  docs/src/modules/utils/generateMarkdown.ts
  packages/material-ui-lab/package.json
  packages/material-ui-lab/src/Timeline/Timeline.d.ts
  packages/material-ui-lab/src/Timeline/Timeline.js
  packages/material-ui-lab/src/Timeline/Timeline.test.tsx
  packages/material-ui-lab/src/Timeline/Timeline.tsx
  packages/material-ui-lab/src/Timeline/TimelineContext.ts
  packages/material-ui-lab/src/Timeline/index.js
  packages/material-ui-lab/src/Timeline/index.tsx
  packages/material-ui-lab/tsconfig.build.json
  packages/material-ui-lab/tsconfig.json
  packages/typescript-to-proptypes/src/injector.ts
  scripts/generateProptypes.ts
Labels: core, typescript

#23372 [test] Improve test debugging
  .mocharc.js
  test/cli.js
Labels: test

#23371 [theme] Improve error message for augmentColor failure
  docs/public/static/error-codes.json
  docs/src/pages/customization/color/ColorDemo.js
  docs/src/pages/customization/color/ColorTool.js
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/styles/createPalette.d.ts
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.spec.ts
  packages/material-ui/src/styles/createPalette.test.js
Labels: breaking change, docs

#23375 [TextField] Fix disabled color in Safari
  packages/material-ui/src/InputBase/InputBase.js
Labels: bug 🐛, component: TextField

#23381 [test] Fix various issues with the new cli on windows
  test/cli.js
Labels: test

#23387 [docs] Fix the Netlify proxy for localization of X
  docs/public/_redirects
Labels: docs

#23388 [test] Make sure system properties are in the same order when generating CSS
  packages/material-ui/src/Box/Box.test.js
Labels: package: system, test

#23390 [docs] Allow to host code in a different repo
  docs/src/modules/components/AppFrame.js
  docs/src/modules/constants.js
Labels: docs

#23382 [core] Switch to globby and fast-glob
  package.json
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/scripts/create-typings.js
  packages/typescript-to-proptypes/package.json
  packages/typescript-to-proptypes/test/index.test.ts
  scripts/build.js
  scripts/copy-files.js
  scripts/generateProptypes.ts
  scripts/jsonlint.js
  scripts/prettier.js
  scripts/sizeSnapshot/webpack.config.js
  yarn.lock
Labels: core

#23380 [system] Merge breakpoints in correct order
  packages/material-ui/src/Box/styleFunction.js
  packages/material-ui/src/Box/styleFunction.test.js
Labels: bug 🐛, package: system

#23414 [docs] Fix usage of palette.type instead of palette.mode in docs
  docs/src/pages/customization/palette/palette.md
Labels: docs

#23377 [Autocomplete] Remove `debug` in favor of react-devtools
  docs/pages/api-docs/autocomplete.md
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
Labels: breaking change, component: Autocomplete

#23416 [docs] Improve migration guide for theme.palette
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#23412 [theme] Add htmlFontSize to Typography interface
  packages/material-ui/src/styles/createTypography.d.ts
Labels: bug 🐛, typescript

#23408 [Stepper] Fix the icon prop support in StepLabel
  packages/material-ui/src/StepLabel/StepLabel.js
Labels: bug 🐛, component: Stepper

#23421 [Tooltip] Fix PopperProps popper modifiers not being merged properly
  docs/pages/api-docs/tooltip.md
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug 🐛, component: Tooltip

#23407 [CssBaseline] Add dark mode scrollbar support
  docs/src/pages/components/css-baseline/css-baseline.md
  packages/material-ui/src/CssBaseline/CssBaseline.js
Labels: component: CssBaseline, enhancement

#23283 [docs] Avoid confusing nav items with disabled items
  docs/src/modules/components/AppDrawerNavItem.js
Labels: docs

#23445 [test] Prefer longhand properties
  packages/material-ui/src/Box/Box.test.js
  test/utils/initMatchers.ts
Labels: test

#23455 [docs] Remove redundant aria-label when wrapped in Tooltip
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/components/tooltips/SimpleTooltips.js
  docs/src/pages/components/tooltips/SimpleTooltips.tsx
Labels: component: Tooltip, docs

#23456 [docs] Redirect legacy GridList pages to ImageList
  docs/public/_redirects
Labels: docs

#23422 [core] Batch small changes
  README.md
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  test/karma.tests.js
  test/utils/setupKarma.js
Labels: umbrella

#23459 [docs] Improve feedback a11y
  docs/src/modules/components/MarkdownDocsFooter.js
  docs/translations/translations.json
Labels: accessibility, docs

#23460 [system] Warn for spacing when non integer value is used with theme.spacing array
  packages/material-ui-system/src/spacing.js
  packages/material-ui-system/src/spacing.test.js
Labels: docs, package: system

#23463 [test] Increase timeout threshold for slow Firefox tests
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
Labels: test

#23370 [docs] Update buildAPI script to handle the "styled" components
  docs/data/slider-styled.json
  docs/pages/api-docs/slider-styled.md
  docs/scripts/buildApi.ts
  docs/src/modules/utils/generateMarkdown.ts
Labels: docs

#23397 [system] Export styleFunctionSx and improve signature
  packages/material-ui-system/src/breakpoints.js
  packages/material-ui-system/src/getThemeValue.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/styleFunctionSx.js
  packages/material-ui-system/src/styleFunctionSx.test.js
  packages/material-ui/src/Box/styleFunction.js
  packages/material-ui/src/Box/styleFunction.test.js
  packages/material-ui/src/styles/experimentalStyled.js
Labels: package: system

#23467 [docs] Fix examples download URLs to match the correct branch name
  examples/cdn/README.md
  examples/create-react-app-with-typescript/README.md
  examples/create-react-app/README.md
  examples/gatsby-theme/README.md
  examples/gatsby/README.md
  examples/nextjs-with-typescript/README.md
  examples/nextjs/README.md
  examples/preact/README.md
  examples/ssr/README.md
Labels: docs

#23464 [test] Use fake timers in visual regression tests
  test/regressions/index.js
Labels: test

#23454 [system] Remove css utility in favor of sx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/system/basics/CssProp.js
  docs/src/pages/system/basics/CssProp.tsx
  docs/src/pages/system/basics/basics.md
  packages/material-ui-system/src/css.js
  packages/material-ui-system/src/css.test.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/index.spec.tsx
  packages/material-ui/src/Box/Box.d.ts
Labels: breaking change, component: Box, package: system

#23476 [DatePicker] Skip flaky tests
  packages/material-ui-lab/src/DatePicker/DatePickerKeyboard.test.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerLocalization.test.tsx
Labels: component: DatePicker, test

#23452 [system] Create separate margin and padding functions
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/spacing.js
  packages/material-ui-system/src/spacing.test.js
Labels: package: system

#23474 [core] Fix skipped ignore patterns
  .eslintignore
  scripts/prettier.js
  test/cli.js
Labels: core

#23451 [system] Add typography prop that will pull from theme.typography
  docs/src/pages/system/api/api.md
  docs/src/pages/system/typography/typography.md
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/styleFunctionSx.test.js
  packages/material-ui-system/src/typography.js
  packages/material-ui/src/Box/styleFunction.test.js
Labels: enhancement, package: system

#23475 [test] Use adapter instead of native Date
  .circleci/config.yml
  packages/material-ui-lab/src/ClockPicker/ClockPickerStandalone.test.tsx
  packages/material-ui-lab/src/DatePicker/DatePicker.test.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerKeyboard.test.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerLocalization.test.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.test.tsx
  packages/material-ui-lab/src/DateRangePicker/date-range-manager.test.ts
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.test.tsx
  packages/material-ui-lab/src/DayPicker/DayPicker.test.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.test.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.test.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.test.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.test.tsx
  packages/material-ui-lab/src/internal/pickers/date-utils.test.ts
  packages/material-ui-lab/src/internal/pickers/test-utils.tsx
  test/karma.conf.js
Labels: test

#23263 [Autocomplete] Use Popper with when disablePortal
  docs/src/pages/components/autocomplete/ComboBox.js
  docs/src/pages/components/autocomplete/ComboBox.tsx
  packages/material-ui/src/Autocomplete/Autocomplete.js
Labels: accessibility, docs

#23482 [Tooltip] Unexpected behaviour onOpen/onClose
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug 🐛, component: Tooltip

#23465 [codemod] Add a codemod for the Box sx prop
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-codemod/README.md
  packages/material-ui-codemod/src/v5.0.0/box-sx-prop.js
  packages/material-ui-codemod/src/v5.0.0/box-sx-prop.test.js
  packages/material-ui-codemod/src/v5.0.0/box-sx-prop.test/actual.js
  packages/material-ui-codemod/src/v5.0.0/box-sx-prop.test/expected.js
Labels: package: system

#23466 [Tooltip] Long press select text on iOS
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: bug 🐛, component: Tooltip

#23294 [docs] Improve documentation of the system
  benchmark/browser/README.md
  benchmark/browser/index.js
  benchmark/browser/scenarios/basic-styled-components/index.js
  benchmark/browser/scenarios/box-chakra-ui/index.js
  benchmark/browser/scenarios/box-emotion/index.js
  benchmark/browser/scenarios/box-material-ui-styles/index.js
  benchmark/browser/scenarios/box-styled-components/index.js
  benchmark/browser/scenarios/components/index.js
  benchmark/browser/scenarios/make-styles/index.js
  benchmark/browser/scenarios/primitives/index.js
  benchmark/browser/scenarios/styled-emotion/index.js
  benchmark/browser/scenarios/styled-material-ui/index.js
  benchmark/browser/scenarios/styled-sc/index.js
  benchmark/browser/scenarios/sx-prop-box-material-ui/index.js
  benchmark/browser/scenarios/sx-prop-box-theme-ui/index.js
  benchmark/browser/scenarios/sx-prop-div-theme-ui/index.js
  benchmark/browser/scripts/benchmark.js
  docs/pages/system/properties.js
  docs/public/static/images/system/demo.jpg
  docs/src/pages.js
  docs/src/pages/system/basics/BreakpointsAsArray.js
  docs/src/pages/system/basics/BreakpointsAsArray.tsx
  docs/src/pages/system/basics/BreakpointsAsObject.js
  docs/src/pages/system/basics/BreakpointsAsObject.tsx
  docs/src/pages/system/basics/Demo.js
  docs/src/pages/system/basics/Demo.tsx
  docs/src/pages/system/basics/ValueAsFunction.js
  docs/src/pages/system/basics/ValueAsFunction.tsx
  docs/src/pages/system/basics/Why.js
  docs/src/pages/system/basics/Why.tsx
  docs/src/pages/system/basics/basics.md
  docs/src/pages/system/properties/properties-de.md
  docs/src/pages/system/properties/properties-es.md
  docs/src/pages/system/properties/properties-fr.md
  docs/src/pages/system/properties/properties-ja.md
  docs/src/pages/system/properties/properties-pt.md
  docs/src/pages/system/properties/properties-ru.md
  docs/src/pages/system/properties/properties-zh.md
  docs/src/pages/system/properties/properties.md
  docs/translations/translations.json
  test/regressions/index.js
Labels: docs, package: system

#23488 [test] Remove keyDown#force
  packages/eslint-plugin-material-ui/src/rules/disallow-active-element-as-key-event-target.js
  packages/eslint-plugin-material-ui/src/rules/disallow-active-elements-as-key-event-target.test.js
  packages/material-ui-lab/src/DatePicker/DatePickerKeyboard.test.tsx
  test/utils/createClientRender.js
Labels: test

#23491 [docs] Fix links being opened when dismissing context menus
  docs/src/modules/components/MarkdownLinks.js
Labels: docs

#23498 [test] Remove data-mui-test from tests
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.test.tsx
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/Backdrop/Backdrop.test.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/SimpleBackdrop.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/test/integration/Menu.test.js
  test/utils/initMatchers.ts
Labels: test

#23480 [Box] Deprecate css prop in favor of sx
  docs/src/pages/system/basics/CssProp.tsx
  docs/src/pages/system/basics/SxProp.js
  docs/src/pages/system/basics/SxProp.tsx
  docs/src/pages/system/basics/basics.md
  docs/src/pages/system/flexbox/AlignContent.js
  docs/src/pages/system/flexbox/AlignContent.tsx
  docs/src/pages/system/flexbox/AlignItems.js
  docs/src/pages/system/flexbox/AlignItems.tsx
  docs/src/pages/system/flexbox/AlignSelf.js
  docs/src/pages/system/flexbox/AlignSelf.tsx
  docs/src/pages/system/flexbox/FlexWrap.js
  docs/src/pages/system/flexbox/FlexWrap.tsx
  packages/material-ui-system/src/css.js
  packages/material-ui-system/src/css.test.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/index.spec.tsx
  packages/material-ui-system/src/styleFunctionSx.js
  packages/material-ui-system/src/styleFunctionSx.test.js
  packages/material-ui/src/Box/Box.d.ts
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/Box/Box.test.js
Labels: component: Box, deprecation, package: system

#22893 [Slider] Extract slots as standalone components
  docs/src/pages/components/slider-styled/CustomizedSlider.js
  docs/src/pages/components/slider-styled/CustomizedSlider.tsx
  docs/src/pages/components/slider-styled/UnstyledSlider.js
  docs/src/pages/components/slider-styled/UnstyledSlider.tsx
  packages/material-ui-lab/src/SliderStyled/SliderStyled.js
  packages/material-ui-lab/src/SliderStyled/index.js
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.js
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.test.js
Labels: component: Slider, enhancement

#23507 [docs] Update new components in the roadmap
  docs/src/pages/discover-more/roadmap/roadmap.md
Labels: docs

#23509 [docs] Improve formatting of the system
  docs/src/pages/system/basics/BreakpointsAsArray.js
  docs/src/pages/system/basics/Why.js
  docs/src/pages/system/basics/Why.tsx
  docs/src/pages/system/basics/basics.md
  docs/src/pages/system/display/Overflow.js
  docs/src/pages/system/flexbox/AlignSelf.js
  docs/src/pages/system/palette/BackgroundColor.js
  docs/src/pages/system/sizing/Values.js
  docs/src/pages/system/sizing/Width.js
  docs/src/pages/system/spacing/HorizontalCentering.js
  docs/src/pages/system/typography/FontFamily.js
  docs/src/pages/system/typography/TextAlignment.js
  prettier.config.js
Labels: docs

#23007 [styled-engine] Upgrade emotion to 11 RC
  benchmark/package.json
  benchmark/server/scenarios/styles.js
  docs/package.json
  docs/pages/_app.js
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/guides/interoperability/EmotionCSS.js
  docs/src/pages/guides/interoperability/EmotionCSS.tsx
  docs/src/pages/guides/interoperability/interoperability.md
  docs/src/pages/guides/right-to-left/RtlOptOutStylis.js
  docs/src/pages/guides/right-to-left/RtlOptOutStylis.tsx
  docs/src/pages/guides/right-to-left/RtlOptOutStylist.js
  docs/src/pages/guides/right-to-left/right-to-left.md
  docs/src/pages/guides/server-rendering/server-rendering.md
  docs/src/pages/landing/Steps.js
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby-theme/package.json
  examples/gatsby/package.json
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs/package.json
  examples/nextjs/pages/_app.js
  examples/preact/package.json
  examples/ssr/cache.js
  examples/ssr/client.js
  examples/ssr/package.json
  examples/ssr/server.js
  package.json
  packages/material-ui-styled-engine/README.md
  packages/material-ui-styled-engine/package.json
  packages/material-ui-styled-engine/src/index.d.ts
  packages/material-ui-styled-engine/src/index.js
  packages/material-ui/package.json
  yarn.lock
Labels: enhancement, package: styled-engine

#23511 [docs] Cache next build dir
  netlify.toml
  packages/netlify-plugin-cache-docs/index.js
  packages/netlify-plugin-cache-docs/manifest.yml
  packages/netlify-plugin-cache-docs/package.json
  yarn.lock
Labels: docs

#23504 [docs] Prevent layout jumps from img loading in system demo
  docs/src/pages/system/basics/Demo.js
  docs/src/pages/system/basics/Demo.tsx
Labels: docs

#23515 [CHANGELOG] Prepare v5.0.0-alpha.16
  CHANGELOG.md
Labels: docs

#23516 [core] Fix tracked component size regression
  scripts/sizeSnapshot/webpack.config.js
Labels: core

#23560 [lab] Fix build
  packages/material-ui-lab/package.json
Labels: bug 🐛, package: lab, typescript

#23555 Bump @date-io/* packages
  .dependabot/config.yml
  packages/material-ui-lab/package.json
  yarn.lock
Labels: dependencies

#23556 [core] Cleanup emotion dependencies
  benchmark/package.json
  docs/package.json
  package.json
  yarn.lock
Labels: core

#23554 [core] Batch small changes
  docs/src/pages.js
  docs/src/pages/components/date-range-picker/date-range-picker.md
  docs/src/pages/system/basics/CollocationApi.js
  docs/src/pages/system/basics/CollocationApi.tsx
  docs/src/pages/system/basics/Emotion.js
  docs/src/pages/system/basics/Emotion.tsx
  docs/src/pages/system/basics/JSS.js
  docs/src/pages/system/basics/JSS.tsx
  docs/src/pages/system/basics/RealWorld.js
  docs/src/pages/system/basics/RealWorld.tsx
  docs/src/pages/system/basics/StyledComponents.js
  docs/src/pages/system/basics/StyledComponents.tsx
  docs/src/pages/system/basics/Variant.js
  docs/src/pages/system/basics/Variant.tsx
  docs/translations/translations.json
  packages/material-ui-codemod/README.md
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/MenuItem/MenuItem.d.ts
Labels: umbrella

#23567 [core] Fix formatting
  .eslintignore
  docs/src/pages/system/basics/BreakpointsAsArray.tsx
  docs/src/pages/system/display/Overflow.tsx
  docs/src/pages/system/flexbox/AlignSelf.tsx
  docs/src/pages/system/palette/BackgroundColor.tsx
  docs/src/pages/system/sizing/Values.tsx
  docs/src/pages/system/sizing/Width.tsx
  docs/src/pages/system/spacing/HorizontalCentering.tsx
  docs/src/pages/system/typography/FontFamily.tsx
  docs/src/pages/system/typography/TextAlignment.tsx
Labels: core

#23564 [lab] Fix missing manifest for typescript packages
  packages/material-ui-lab/package.json
  packages/material-ui/package.json
  scripts/copy-files.js
Labels: bug 🐛, package: lab

#23563 [TimePicker] Prevent scroll when interacting with the clock
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
Labels: bug 🐛, component: TimePicker

#23557 [docs] Replace emotion-server packages with @emotion/server
  benchmark/package.json
  benchmark/server/scenarios/styles.js
  docs/package.json
  docs/pages/_document.js
  docs/src/pages/guides/server-rendering/server-rendering.md
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/package.json
  examples/nextjs/pages/_document.js
  examples/ssr/package.json
  examples/ssr/server.js
  yarn.lock
Labels: docs, package: styled-engine

#23510 [docs] Add docs for typography in system
  docs/src/pages/system/typography/Variant.js
  docs/src/pages/system/typography/Variant.tsx
  docs/src/pages/system/typography/typography.md
Labels: docs

#23566 [docs] Explain the information listed on the system properties page
  docs/src/pages/system/properties/properties.md
Labels: docs

#23569 [Slider] General cleanup and add classes prop for unstyled
  docs/data/slider-styled.json
  docs/pages/api-docs/slider-styled.json
  docs/pages/api-docs/slider-unstyled.json
  docs/scripts/buildApi.ts
  docs/scripts/helpers.js
  docs/src/modules/utils/helpers.test.js
  docs/src/pages/components/slider-styled/CustomizedSlider.js
  docs/src/pages/components/slider-styled/CustomizedSlider.tsx
  docs/translations/class-descriptions.json
  docs/translations/prop-descriptions.json
  packages/material-ui-lab/src/SliderStyled/SliderStyled.js
  packages/material-ui-lab/src/SliderStyled/SliderStyled.test.js
  packages/material-ui-lab/src/SliderStyled/ValueLabelStyled.js
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.js
  packages/material-ui-unstyled/src/SliderUnstyled/SliderValueLabelUnstyled.d.ts
  packages/material-ui-unstyled/src/SliderUnstyled/SliderValueLabelUnstyled.js
  packages/material-ui-unstyled/src/SliderUnstyled/index.d.ts
  packages/material-ui-unstyled/src/SliderUnstyled/index.js
  scripts/generateProptypes.ts
Labels: component: Slider, package: unstyled

#23576 [docs] Enable TS language service for docs/src
  docs/scripts/tsconfig.json
  docs/tsconfig.json
  docs/types/react-docgen.d.ts
Labels: docs, typescript

#23571 [Modal] Add support for onKeyDown and remove onEscapeKeyDown
  docs/pages/api-docs/dialog.md
  docs/pages/api-docs/modal.md
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Modal/Modal.d.ts
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/typescript-to-proptypes/src/injector.ts
  packages/typescript-to-proptypes/test/getThemeProps/input.d.ts
  packages/typescript-to-proptypes/test/getThemeProps/input.js
  packages/typescript-to-proptypes/test/getThemeProps/output.js
Labels: breaking change, component: Modal

#23517 [CHANGELOG] Prepare v4.12.0
  CHANGELOG.md
Labels: docs

#23588 [codemod] Add moved-lab-modules
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-codemod/README.md
  packages/material-ui-codemod/package.json
  packages/material-ui-codemod/src/v5.0.0/moved-lab-modules.js
  packages/material-ui-codemod/src/v5.0.0/moved-lab-modules.test.js
  packages/material-ui-codemod/src/v5.0.0/moved-lab-modules.test/actual.js
  packages/material-ui-codemod/src/v5.0.0/moved-lab-modules.test/expected.js
  test/regressions/tests/Skeleton/SkeletonChildren.js
  test/regressions/tests/SpeedDial/Directions.js
  yarn.lock
Labels: package: codemod

#23599 [system] Improve the `sx` prop IntelliSense
  packages/material-ui-lab/src/SliderStyled/SliderStyled.d.ts
  packages/material-ui-system/package.json
  packages/material-ui-system/src/index.d.ts
  packages/material-ui/src/Box/Box.d.ts
Labels: package: system, typescript

#23587 [CircularProgress][LinearProgress] Change components from div to span
  packages/material-ui/src/CircularProgress/CircularProgress.d.ts
  packages/material-ui/src/CircularProgress/CircularProgress.js
  packages/material-ui/src/CircularProgress/CircularProgress.test.js
  packages/material-ui/src/LinearProgress/LinearProgress.d.ts
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/LinearProgress/LinearProgress.test.js
Labels: component: CircularProgress, component: LinearProgress, enhancement

#23586 [docs] Fix /api client-side routing
  docs/next.config.js
  docs/scripts/i18n.js
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/Link.js
  docs/src/modules/components/PageContext.js
  docs/src/modules/utils/find.js
  docs/src/pages.ts
  package.json
Labels: bug 🐛, docs

#23595 [test] Enable experimental-timezone tests
  .circleci/config.yml
  packages/material-ui-lab/src/DatePicker/DatePicker.test.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerKeyboard.test.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerLocalization.test.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.test.tsx
  packages/material-ui-lab/src/DayPicker/DayPicker.test.tsx
Labels: test

#23602 [DatePicker] Fix false-positive when validating mask in Safari
  packages/material-ui-lab/src/internal/pickers/text-field-helper.ts
Labels: bug 🐛, component: DatePicker

#23570 [Dialog] Add deprecation warning for withMobileDialog
  docs/public/_redirects
  packages/material-ui/src/withMobileDialog/withMobileDialog.js
  packages/material-ui/src/withMobileDialog/withMobileDialog.test.js
Labels: component: Dialog, deprecation

#23500 [test] Use playwright instead of vrtest
  .circleci/config.yml
  .gitignore
  docker-compose.yml
  package.json
  test/README.md
  test/regressions/.mocharc.js
  test/regressions/TestViewer.js
  test/regressions/debug.html
  test/regressions/index.js
  test/regressions/index.test.js
  test/regressions/serve.json
  test/regressions/template.html
  test/regressions/webpack.config.js
  yarn.lock
Labels: test

#23518 [test] Create chunks for Argos
  package.json
  scripts/listChangedFiles.js
  scripts/pushArgos.js
Labels: test

#23623 [test] Debug argos-cli upload failures
  package.json
  patches/argos-cli+0.3.0.patch
  yarn.lock
Labels: test

#23619 [test] Misc visual regression flakiness improvements
  test/regressions/TestViewer.js
  test/regressions/index.js
  test/regressions/index.test.js
Labels: test

#23618 [core] Fix transpilation target of UMD bundle
  babel.config.js
  packages/material-ui/package.json
  packages/material-ui/src/Slider/Slider.js
Labels: package: core

#23621 [DatePicker] Add missing exports
  docs/src/pages/components/date-range-picker/ResponsiveDateRangePicker.tsx
  docs/src/pages/components/date-range-picker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.test.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/PickersCalendarSkeleton/index.ts
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/Timeline/index.tsx
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.js
Labels: bug 🐛, component: DatePicker

#23630 [Grid] Improve warning when a prop is missing
  packages/material-ui-utils/src/requirePropFactory.js
Labels: component: Grid, docs, package: utils

#23625 [docs] Remove controlled Tooltip example in Slider
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
Labels: component: Tooltip, docs

#23607 [Dialog][Modal] Remove disableBackdropClick
  docs/pages/api-docs/dialog.md
  docs/pages/api-docs/modal.md
  docs/src/pages/components/dialogs/ConfirmationDialog.js
  docs/src/pages/components/dialogs/ConfirmationDialog.tsx
  docs/src/pages/components/selects/DialogSelect.js
  docs/src/pages/components/selects/DialogSelect.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Modal/Modal.d.ts
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
Labels: breaking change, component: Dialog, component: Modal

#23614 [docs] Generate default values for docs from the unstyled components
  docs/pages/api-docs/slider.md
  docs/scripts/buildApi.ts
  docs/scripts/helpers.js
  scripts/generateProptypes.ts
Labels: docs

#23596 [docs] Add advanced page for the system
  docs/pages/system/advanced.js
  docs/src/pages.ts
  docs/src/pages/system/advanced/CombiningStyleFunctionsDemo.js
  docs/src/pages/system/advanced/CombiningStyleFunctionsDemo.tsx
  docs/src/pages/system/advanced/StyleFunctionSxDemo.js
  docs/src/pages/system/advanced/StyleFunctionSxDemo.tsx
  docs/src/pages/system/advanced/advanced.md
  docs/src/pages/system/properties/properties.md
  docs/translations/translations.json
  packages/material-ui-system/src/breakpoints.js
Labels: docs, package: system

#23642 [Slider] Add test case for triggering a specific value
  packages/material-ui/src/Slider/Slider.test.js
Labels: component: Slider, test

#23617 [Autocomplete] Rename `closeIcon` to `clearIcon`
  docs/pages/api-docs/autocomplete.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/internal/svg-icons/Close.js
Labels: breaking change, component: Autocomplete

#23302 [Select] Replace displayNode state with displayRef for ref value
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: bug 🐛, component: Select

#23613 [Icon] Allow customizing the 'material-icons' base class name
  docs/pages/_app.js
  docs/pages/api-docs/icon.md
  docs/src/pages/components/icons/FontAwesomeIcon.js
  docs/src/pages/components/icons/FontAwesomeIcon.tsx
  docs/src/pages/components/icons/Icons.js
  docs/src/pages/components/icons/Icons.tsx
  docs/src/pages/components/icons/TwoToneIcons.js
  docs/src/pages/components/icons/TwoToneIcons.tsx
  docs/src/pages/components/icons/icons.md
  framer/Material-UI.framerfx/code/Icon.tsx
  packages/material-ui/src/Icon/Icon.d.ts
  packages/material-ui/src/Icon/Icon.js
  packages/material-ui/src/Icon/Icon.test.js
Labels: component: Icon, enhancement

#23605 [docs] Create pickers migration guide
  docs/pages/guides/pickers-migration.js
  docs/src/pages.ts
  docs/src/pages/guides/pickers-migration/pickers-migration.md
  docs/translations/translations.json
Labels: component: DatePicker, docs

#23633 [core] Add support for TypeScript 4.1
  package.json
  packages/material-ui-styles/src/makeStyles/makeStyles.d.ts
  packages/material-ui-styles/src/makeStyles/makeStyles.spec.tsx
  packages/material-ui-utils/src/deepmerge.ts
  packages/material-ui/src/styles/makeStyles.d.ts
Labels: package: core, package: styles, package: utils, test, typescript

#23679 [docs] Fix the Box section title on migration-v4 guide
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#23678 [core] Batch small changes
  .eslintrc.js
  docs/public/_redirects
  docs/src/modules/components/DemoToolbar.js
  docs/src/pages/components/speed-dial/speed-dial.md
  docs/src/pages/guides/api/api.md
  docs/src/pages/system/basics/basics.md
  docs/translations/translations.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-styled-engine-sc/package.json
  packages/material-ui-styled-engine/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-unstyled/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
Labels: umbrella

#23680 [CHANGELOG] Prepare v5.0.0-alpha.17
  CHANGELOG.md
Labels: docs

#23676 [DatePicker] Found one prop that was renamed
  docs/src/pages/guides/pickers-migration/pickers-migration.md
Labels: component: DatePicker, docs

#23643 [docs] DataGrid is in the lab
  docs/src/pages.js
Labels: docs

#23694 [benchmark] Update dependencies with latest
  benchmark/browser/README.md
  benchmark/browser/scenarios/box-chakra-ui/index.js
  benchmark/package.json
  yarn.lock
Labels: performance

#23635 [system] Allow values to use shorter string when the prop name is contained in the value
  docs/src/pages/system/basics/Demo.js
  docs/src/pages/system/basics/Demo.tsx
  docs/src/pages/system/borders/borders.md
  docs/src/pages/system/display/display.md
  docs/src/pages/system/flexbox/flexbox.md
  docs/src/pages/system/palette/palette.md
  docs/src/pages/system/positions/positions.md
  docs/src/pages/system/sizing/sizing.md
  docs/src/pages/system/typography/FontFamily.js
  docs/src/pages/system/typography/FontFamily.tsx
  docs/src/pages/system/typography/FontSize.js
  docs/src/pages/system/typography/FontSize.tsx
  docs/src/pages/system/typography/FontWeight.js
  docs/src/pages/system/typography/FontWeight.tsx
  docs/src/pages/system/typography/typography.md
  packages/material-ui-system/src/style.js
  packages/material-ui-system/src/style.test.js
  packages/material-ui-system/src/styleFunctionSx.test.js
Labels: breaking change, enhancement, package: system

#23473 [core] Remove unused classes
  docs/src/modules/components/AppDrawerNavItem.js
  docs/src/pages/components/selects/SelectAutoWidth.js
  docs/src/pages/components/selects/SelectAutoWidth.tsx
  docs/src/pages/components/selects/SelectVariants.js
  docs/src/pages/components/selects/SelectVariants.tsx
  docs/src/pages/landing/Quotes.js
  docs/src/pages/landing/Steps.js
  packages/eslint-plugin-material-ui/README.md
Labels: enhancement

#23686 [Box] Fix TypeScript issue when component prop is used
  docs/src/pages/system/basics/Demo.js
  docs/src/pages/system/basics/Demo.tsx
  packages/material-ui/src/Box/Box.d.ts
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/Box/Box.spec.tsx
Labels: component: Box, typescript

#23702 [benchmark] Test styleFunctionSx vs. @styled-system/css
  benchmark/browser/README.md
  benchmark/browser/scenarios/box-baseline/index.js
  benchmark/browser/scenarios/box-chakra-ui/index.js
  benchmark/browser/scenarios/box-material-ui-styles/index.js
  benchmark/browser/scenarios/box-material-ui/index.js
  benchmark/browser/scenarios/box-theme-ui/index.js
  benchmark/browser/scenarios/sx-prop-div-theme-ui/index.js
  benchmark/browser/scripts/benchmark.js
  benchmark/package.json
  benchmark/server/README.md
  benchmark/server/scenarios/system.js
  yarn.lock
Labels: package: benchmark

#23699 [test] Misc improvements to experimental and browser test runner
  package.json
  packages/material-ui/src/Divider/Divider.test.js
  test/cli.js
  test/karma.conf.js
  test/utils/createClientRender.js
  test/utils/createMount.js
  test/utils/mochaHooks.js
  yarn.lock
Labels: test

#23705 [styles] Update mergeClasses types to more closely match its implementation
  packages/material-ui-styles/src/mergeClasses/mergeClasses.d.ts
  packages/material-ui-styles/src/mergeClasses/mergeClasses.test.js
Labels: package: styles, typescript

#23700 [system] Make borderRadius multiply a theme's design token
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/system/basics/Why.js
  docs/src/pages/system/basics/Why.tsx
  docs/src/pages/system/basics/basics.md
  docs/src/pages/system/borders/BorderRadius.js
  docs/src/pages/system/borders/BorderRadius.tsx
  docs/src/pages/system/borders/borders.md
  docs/src/pages/system/properties/properties.md
  packages/material-ui-system/src/borders.js
  packages/material-ui-system/src/spacing.js
  packages/material-ui-system/src/style.js
Labels: breaking change, package: system

#23530 [TextareaAutosize] Deprecate rowsMax->maxRows & rowsMin->minRows
  docs/pages/api-docs/filled-input.md
  docs/pages/api-docs/input-base.md
  docs/pages/api-docs/input.md
  docs/pages/api-docs/outlined-input.md
  docs/pages/api-docs/text-field.md
  docs/pages/api-docs/textarea-autosize.md
  docs/src/pages/components/text-fields/MultilineTextFields.js
  docs/src/pages/components/text-fields/MultilineTextFields.tsx
  docs/src/pages/components/textarea-autosize/MaxHeightTextarea.js
  docs/src/pages/components/textarea-autosize/MaxHeightTextarea.tsx
  docs/src/pages/components/textarea-autosize/MinHeightTextarea.js
  docs/src/pages/components/textarea-autosize/MinHeightTextarea.tsx
  framer/scripts/framerConfig.js
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputBase/InputBase.d.ts
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/Menu/Menu.d.ts
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.d.ts
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
  scripts/generateProptypes.ts
  test/regressions/tests/Textarea/Textarea.js
Labels: component: TextareaAutosize, deprecation

#23723 [docs] Improve classes descriptions
  docs/pages/api-docs/timeline-item.md
  packages/material-ui-lab/src/TimelineItem/TimelineItem.d.ts
  packages/material-ui-lab/src/TimelineItem/TimelineItem.js
Labels: docs

#23724 [docs] Remove unused abstraction
  docs/src/modules/utils/i18n.js
  docs/src/modules/utils/mapTranslations.js
Labels: docs

#23718 [Autocomplete] Make highlight change work better
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
Labels: bug 🐛, component: Autocomplete

#23561 [Tabs] Remove duplicate styles
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: component: Tabs

#23733 [system] Fix transform return value to support CSSObject
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.spec.tsx
Labels: package: system, typescript

#23729 [benchmark] Improve printed results
  benchmark/browser/README.md
  benchmark/browser/scripts/benchmark.js
  docs/src/pages/system/basics/basics.md
Labels: performance

#23722 [docs] Add settings panel to allow system mode
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/ThemeContext.js
  docs/src/modules/utils/helpers.js
  docs/translations/translations.json
Labels: docs

#23736 [test] Stay busy until document.fonts is ready
  test/regressions/TestViewer.js
Labels: test

#23732 [test] Cleanup skipped tests
  packages/material-ui-styles/src/StylesProvider/StylesProvider.test.js
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.test.js
  packages/material-ui-styles/src/createGenerateClassName/createGenerateClassName.test.js
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.test.js
  packages/material-ui-utils/src/useIsFocusVisible.test.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Fab/Fab.test.js
  packages/material-ui/src/Portal/Portal.test.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
  packages/material-ui/src/ToggleButton/ToggleButton.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.test.js
  packages/material-ui/test/integration/MenuList.test.js
Labels: test

#23737 [system] Another round of perf improvements
  benchmark/browser/README.md
  packages/material-ui-system/src/breakpoints.js
  packages/material-ui-system/src/compose.js
  packages/material-ui-system/src/getThemeValue.js
  packages/material-ui-system/src/styleFunctionSx.js
  packages/material-ui-system/src/styleFunctionSx.test.js
Labels: package: system, performance

#23701 [DateRangePicker] Allow same date selection
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.test.tsx
  packages/material-ui-lab/src/internal/pickers/date-utils.ts
  packages/material-ui-lab/src/internal/pickers/test-utils.tsx
Labels: bug 🐛, component: DateRangePicker

#23704 [Autocomplete] Better isolate test case
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
Labels: component: Autocomplete, test

#23751 [docs] Add v5 peer dependencies in README
  README.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#23748 [docs] Improve SEO structure
  docs/pages/_document.js
  docs/src/pages/components/timeline/CustomizedTimeline.js
  docs/src/pages/components/timeline/CustomizedTimeline.tsx
  docs/src/pages/components/timeline/timeline.md
  docs/src/pages/versions/versions.md
Labels: docs

#23756 [docs] Misc fixes and improvements
  CHANGELOG.md
  docs/pages/api-docs/toolbar.md
  docs/src/pages/components/button-group/button-group.md
  docs/src/pages/components/lists/lists.md
  docs/src/pages/components/modal/modal.md
  docs/src/pages/components/transitions/transitions.md
  docs/src/pages/components/typography/typography.md
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Toolbar/Toolbar.d.ts
  packages/material-ui/src/Toolbar/Toolbar.js
Labels: docs

#23778 [Select] Add disabled attribute in input element when disabled
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: bug 🐛, component: Select

#23697 [core] Support React 17
  README.md
  docs/src/pages/versions/versions.md
  framer/Material-UI.framerfx/package.json
  package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: enhancement

#23786 [Switch] Add preventDefault check for state change
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: bug 🐛, component: Switch

#23487 [Autocomplete] Add ability to override key down events handlers
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
Labels: breaking change, component: Autocomplete, enhancement

#23754 [docs] Improve settings toggle button styling
  docs/src/modules/components/AppSettingsDrawer.js
Labels: docs
