Repository mui/material-ui, pull requests merged in 2020-05, with the labels that each got.

#20866 [docs] Fix incorrect signature of createStyles
  docs/src/pages/styles/api/api.md
Labels: docs, typescript

#20873 [docs] Fix header and row shift on pagination click
  docs/src/pages/components/tables/CustomPaginationActionsTable.js
  docs/src/pages/components/tables/CustomPaginationActionsTable.tsx
Labels: PR: ready to ship, component: Table, docs

#20851 [Slider] Improve RTL support
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: PR: ready to ship, bug, component: Slider

#20850 [Autocomplete] Fix support for limitTags={0}
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: PR: ready to ship, bug, component: Autocomplete

#20874 [styles] Fix wording in indexCounter comment
  packages/material-ui-styles/src/makeStyles/indexCounter.js
Labels: docs, package: styles

#20847 [SpeedDial] Fix direct dependency on react-transition-group
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
Labels: component: SpeedDial, typescript

#20857 [TextField] Fix caret color in autofill dark theme
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
Labels: PR: ready to ship, bug, component: TextField

#20848 [TrapFocus] Guard against dropped memo cache
  packages/material-ui/src/Modal/TrapFocus.js
Labels: PR: ready to ship, component: unstable_TrapFocus, core

#20853 [test] Replace all assert with expect
  packages/material-ui-codemod/src/v0.15.0/import-path.test.js
  packages/material-ui-codemod/src/v1.0.0/color-imports.test.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test.js
  packages/material-ui-codemod/src/v1.0.0/svg-icon-imports.test.js
  packages/material-ui-codemod/src/v4.0.0/optimal-imports.test.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test.js
  packages/material-ui-codemod/src/v4.0.0/top-level-imports.test.js
  packages/material-ui-icons/builder.test.js
  packages/material-ui-styles/src/makeStyles/makeStyles.test.js
  packages/material-ui-styles/src/withTheme/withTheme.test.js
  packages/material-ui/src/Hidden/HiddenJs.test.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/MobileStepper/MobileStepper.test.js
  packages/material-ui/src/styles/createTypography.test.js
  packages/material-ui/src/styles/responsiveFontSizes.test.js
  packages/material-ui/src/utils/index.test.js
  packages/material-ui/src/utils/requirePropFactory.test.js
  scripts/listChangedFiles.test.js
Labels: PR: ready to ship, test

#20869 [Autocomplete] Display loading feedback with freeSolo
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, component: Autocomplete

#20870 [docs] Fix table zebra customization demo
  docs/src/pages/components/tables/CustomizedTables.js
  docs/src/pages/components/tables/CustomizedTables.tsx
Labels: PR: ready to ship, component: Table, docs

#20798 [docs] Implement keyboard navigation for demo toolbar
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoLanguages.js
  docs/src/modules/components/HighlightedCode.js
Labels: accessibility, docs

#20894 Bump `@babel/*` packages
  docs/package.json
  package.json
  yarn.lock
Labels: dependencies, worktree

#20860 [docs] Make CSS interoperability examples easier to use
  docs/src/pages/guides/interoperability/interoperability.md
Labels: PR: ready to ship, docs

#20898 [docs] Fix groups name in autocomplete virtualization example
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
Labels: component: Autocomplete, docs

#20893 [docs] Improve svgr documentation
  docs/src/pages/components/icons/icons.md
Labels: PR: ready to ship, docs

#20900 [Tooltip] Fix Arrow placement overlap
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: bug, component: Tooltip

#20902 [docs] Remove redirection to v0 (#17637)
  docs/pages/index.js
Labels: PR: ready to ship, docs

#20789 [test] Migrate CircularProgress and Collapse to testing-library
  packages/material-ui/src/CircularProgress/CircularProgress.test.js
  packages/material-ui/src/Collapse/Collapse.test.js
Labels: PR: ready to ship, test

#20876 [docs] Label accessibility for native select
  docs/src/pages/components/selects/selects.md
Labels: PR: ready to ship, accessibility, component: Select, docs

#20833 [Select] Focus labelled element on click
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, accessibility, component: Select

#20903 [docs] Fix leaking lazy stylesheets
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/ThemeContext.js
  docs/src/modules/utils/useLazyCSS.js
  docs/src/pages/components/icons/FontAwesome.js
  docs/src/pages/components/icons/FontAwesome.tsx
Labels: docs

#20875 [sponsors] Add diamond Sencha
  README.md
  docs/public/static/in-house/sencha-125x35.svg
  docs/public/static/in-house/sencha-256x256.png
  docs/src/modules/components/AppDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/Themes.js
  docs/src/pages/landing/backers.md
Labels: docs

#20854 [styles] Return simpler type from ComponentCreator
  packages/material-ui-styles/src/styled/styled.d.ts
Labels: typescript

#20916 [l10n] Add Hindi (hi-IN) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.ts
Labels: PR: ready to ship

#20910 [Autocomplete] Add new handleHomeEndKeys prop
  docs/pages/api-docs/autocomplete.md
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, component: Autocomplete, enhancement

#20922 [system] Add csstype as dependency to material-ui-system
  packages/material-ui-system/package.json
Labels: package: system

#20923 [Autocomplete] Fix onHighlightChange when filtering
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: bug, component: Autocomplete

#20901 [theme] Add support to override breakpoints
  docs/src/pages/customization/breakpoints/breakpoints.md
  packages/material-ui-types/index.d.ts
  packages/material-ui/src/styles/createBreakpoints.d.ts
Labels: docs, package: core, typescript

#20806 [lab] Add new experimental Tabs API
  .eslintrc.js
  docs/pages/api-docs/tab-context.js
  docs/pages/api-docs/tab-context.md
  docs/pages/api-docs/tab-list.js
  docs/pages/api-docs/tab-list.md
  docs/pages/api-docs/tab-panel.js
  docs/pages/api-docs/tab-panel.md
  docs/src/pages/components/tabs/LabTabs.js
  docs/src/pages/components/tabs/LabTabs.tsx
  docs/src/pages/components/tabs/tabs.md
  packages/material-ui-lab/src/TabContext/TabContext.d.ts
  packages/material-ui-lab/src/TabContext/TabContext.js
  packages/material-ui-lab/src/TabContext/TabContext.test.js
  packages/material-ui-lab/src/TabContext/index.d.ts
  packages/material-ui-lab/src/TabContext/index.js
  packages/material-ui-lab/src/TabList/TabList.d.ts
  packages/material-ui-lab/src/TabList/TabList.js
  packages/material-ui-lab/src/TabList/TabList.test.js
  packages/material-ui-lab/src/TabList/index.d.ts
  packages/material-ui-lab/src/TabList/index.js
  packages/material-ui-lab/src/TabPanel/TabPanel.d.ts
  packages/material-ui-lab/src/TabPanel/TabPanel.js
  packages/material-ui-lab/src/TabPanel/TabPanel.test.js
  packages/material-ui-lab/src/TabPanel/index.d.ts
  packages/material-ui-lab/src/TabPanel/index.js
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.js
  packages/material-ui-lab/test/integration/Tabs.test.js
Labels: accessibility, package: lab

#20934 [core] Fix typo in internal ScrollbarSize
  packages/material-ui/src/Tabs/ScrollbarSize.js
Labels: PR: ready to ship, core

#20936 [Tabs] Add `selectionFollowsFocus`
  docs/pages/api-docs/tabs.md
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: accessibility, component: Tabs

#20943 [core] Fix typo in test description
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: component: Autocomplete, test

#20942 [Slider] Center Slider label horizontally in IE11
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  packages/material-ui/src/Slider/Slider.js
Labels: bug, component: Slider

#20945 [test] Use actual element over document.activeElement
  .eslintrc.js
  packages/eslint-plugin-material-ui/README.md
  packages/eslint-plugin-material-ui/package.json
  packages/eslint-plugin-material-ui/src/index.js
  packages/eslint-plugin-material-ui/src/rules/disallow-active-element-as-key-event-target.js
  packages/eslint-plugin-material-ui/src/rules/disallow-active-elements-as-key-event-target.test.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/ExpansionPanelSummary/ExpansionPanelSummary.test.js
  packages/material-ui/src/InputBase/InputBase.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/Tab/Tab.test.js
  packages/material-ui/test/integration/Menu.test.js
  packages/material-ui/test/integration/MenuList.test.js
  packages/material-ui/test/integration/Select.test.js
  test/utils/createClientRender.js
  yarn.lock
Labels: PR: ready to ship, test

#20931 [core] Add support #rrggbbaa pattern in hexToRgb function
  packages/material-ui/src/styles/colorManipulator.js
  packages/material-ui/src/styles/colorManipulator.test.js
Labels: PR: ready to ship, core

#20908 [TextField] Fix typography inheritance issue
  packages/material-ui/src/InputBase/InputBase.js
Labels: PR: ready to ship, bug, component: TextField

#20914 [test] Migrate all Table components to testing-library
  packages/material-ui/src/TableBody/TableBody.test.js
  packages/material-ui/src/TableCell/TableCell.test.js
  packages/material-ui/src/TableFooter/TableFooter.test.js
  packages/material-ui/src/TableHead/TableHead.test.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
  packages/material-ui/src/TableRow/TableRow.test.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.test.js
Labels: PR: ready to ship, component: Table, test

#20958 [docs] Add missing spot do DiamondSponsors
  docs/src/modules/components/AppDrawer.js
Labels: docs

#20961 [docs] Reduce likelyhood of overflow in ToC
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/utils/parseMarkdown.js
  docs/src/modules/utils/parseMarkdown.test.js
Labels: PR: ready to ship, docs

#20937 [Popper] Fix keepMounted visibility
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Popper/Popper.test.js
Labels: PR: ready to ship, bug, component: Popper

#20952 [core] Remove unstable_StrictMode transition components
  docs/pages/api-docs/collapse.md
  docs/pages/api-docs/fade.md
  docs/pages/api-docs/grow.md
  docs/pages/api-docs/zoom.md
  docs/src/modules/components/AppDrawerNavItem.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/HighlightedCode.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/Notifications.js
  docs/src/pages/customization/theming/theming.md
  packages/material-ui/package.json
  packages/material-ui/src/Collapse/Collapse.d.ts
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/Collapse/StrictModeCollapse.js
  packages/material-ui/src/Collapse/index.d.ts
  packages/material-ui/src/Collapse/index.js
  packages/material-ui/src/Fade/Fade.d.ts
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Fade/Fade.test.js
  packages/material-ui/src/Fade/StrictModeFade.js
  packages/material-ui/src/Fade/index.d.ts
  packages/material-ui/src/Fade/index.js
  packages/material-ui/src/Grow/Grow.d.ts
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Grow/Grow.test.js
  packages/material-ui/src/Grow/StrictModeGrow.js
  packages/material-ui/src/Grow/index.d.ts
  packages/material-ui/src/Grow/index.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/Slide/StrictModeSlide.js
  packages/material-ui/src/Slide/index.d.ts
  packages/material-ui/src/Slide/index.js
  packages/material-ui/src/Zoom/StrictModeZoom.js
  packages/material-ui/src/Zoom/Zoom.d.ts
  packages/material-ui/src/Zoom/Zoom.js
  packages/material-ui/src/Zoom/Zoom.test.js
  packages/material-ui/src/Zoom/index.d.ts
  packages/material-ui/src/Zoom/index.js
  packages/material-ui/src/styles/createMuiStrictModeTheme.js
  packages/material-ui/src/styles/createMuiTheme.d.ts
  packages/material-ui/src/styles/index.d.ts
  scripts/generateProptypes.ts
  yarn.lock
Labels: PR: ready to ship, component: Transition, enhancement

#20966 [test] Prepare patch for `react@next`
  scripts/react-next.diff
  scripts/use-react-dist-tag.js
Labels: test

#20964 [test] Improve assertion mismatch messages
  test/utils/initMatchers.js
Labels: test

#20983 [Autocomplete] Fix Google Map demo warnings
  docs/src/pages/components/autocomplete/GoogleMaps.js
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
Labels: PR: ready to ship, component: Autocomplete, docs

#20985 [core] Add missing args to createMuiStrictModeTheme
  packages/material-ui/src/styles/createMuiStrictModeTheme.js
Labels: package: core

#20967 [ToggleButton] Reduce gap with ButtonGroup
  docs/pages/api-docs/toggle-button-group.md
  docs/src/pages/components/toggle-button/CustomizedDividers.js
  docs/src/pages/components/toggle-button/CustomizedDividers.tsx
  docs/src/pages/components/toggle-button/ToggleButtonSizes.js
  docs/src/pages/components/toggle-button/ToggleButtonSizes.tsx
  docs/src/pages/components/toggle-button/ToggleButtons.js
  docs/src/pages/components/toggle-button/ToggleButtons.tsx
  docs/src/pages/components/toggle-button/ToggleButtonsMultiple.js
  docs/src/pages/components/toggle-button/ToggleButtonsMultiple.tsx
  docs/src/pages/components/toggle-button/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: PR: ready to ship, component: ToggleButton, enhancement

#20986 [Tabs] Forward aria-label* attributes to tablist
  docs/pages/api-docs/tabs.md
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: accessibility, bug, component: Tabs

#20980 [core] Batch small changes
  CHANGELOG.md
  docs/pages/discover-more/backers.js
  docs/pages/discover-more/showcase.js
  docs/pages/getting-started/templates.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Demo.js
  docs/src/modules/constants.js
  docs/src/pages/components/material-icons/SearchIcons.js
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  docs/src/pages/components/tables/ReactVirtualizedTable.js
  docs/src/pages/components/tables/ReactVirtualizedTable.tsx
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/customization/theming/theming.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui-styles/src/withStyles/withStyles.test.js
  packages/material-ui-system/src/spacing.test.js
  packages/material-ui-system/src/style.test.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/internal/animate.test.js
  packages/material-ui/src/test-utils/describeConformance.js
  packages/material-ui/src/test-utils/testRef.js
  packages/material-ui/src/test-utils/until.test.js
  packages/material-ui/src/withWidth/withWidth.js
  test/utils/consoleErrorMock.test.js
Labels: PR: ready to ship, umbrella

#20965 [docs] Add a11y section to Tabs
  docs/src/pages/components/tabs/AccessibleTabs.js
  docs/src/pages/components/tabs/AccessibleTabs.tsx
  docs/src/pages/components/tabs/tabs.md
Labels: accessibility, component: Tabs, docs

#21006 [core] Reject undefined coefficient in emphasize, darken, lighten
  packages/material-ui/src/styles/colorManipulator.d.ts
Labels: package: core, typescript

#21007 [core] Allow undefined coefficient in emphasize
  packages/material-ui/src/styles/colorManipulator.d.ts
Labels: package: core, typescript

#21005 [docs] Improve custom progress bar demo
  docs/src/pages/components/progress/CustomizedProgressBars.js
  docs/src/pages/components/progress/CustomizedProgressBars.tsx
Labels: component: CircularProgress, docs

#21014 [core] Explicitly declare children
  packages/material-ui-lab/src/AlertTitle/AlertTitle.d.ts
  packages/material-ui-lab/src/TabContext/TabContext.d.ts
  packages/material-ui-lab/src/TabPanel/TabPanel.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeView/TreeView.d.ts
  packages/material-ui/src/Backdrop/Backdrop.d.ts
  packages/material-ui/src/CardActions/CardActions.d.ts
  packages/material-ui/src/DialogActions/DialogActions.d.ts
  packages/material-ui/src/DialogContent/DialogContent.d.ts
  packages/material-ui/src/DialogTitle/DialogTitle.d.ts
  packages/material-ui/src/ExpansionPanelActions/ExpansionPanelActions.d.ts
  packages/material-ui/src/FormGroup/FormGroup.d.ts
  packages/material-ui/src/Paper/Paper.d.ts
  packages/material-ui/src/ScopedCssBaseline/ScopedCssBaseline.d.ts
  packages/material-ui/src/TabScrollButton/TabScrollButton.d.ts
  scripts/generateProptypes.ts
Labels: package: core, package: lab, typescript

#21027 [core] Narrow type definition for useControlled hook
  packages/material-ui/src/utils/useControlled.d.ts
Labels: PR: ready to ship, package: core, typescript

#21017 [TabPanel] Allow flow content
  packages/material-ui-lab/src/TabPanel/TabPanel.js
  packages/material-ui-lab/src/TabPanel/TabPanel.test.js
Labels: bug, component: Tabs, package: lab

#21032 [test] Isolate transition tests
  packages/material-ui/src/Fade/Fade.test.js
  packages/material-ui/src/Grow/Grow.test.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/Zoom/Zoom.test.js
Labels: test

#21003 [styles] Increase counter only for non global styles
  packages/material-ui-styles/src/createGenerateClassName/createGenerateClassName.js
  packages/material-ui-styles/src/createGenerateClassName/createGenerateClassName.test.js
Labels: package: styles

#21035 [docs] Recommend no-restricted-imports to catch treeshake issues
  .eslintrc.js
  docs/src/pages/customization/typography/ResponsiveFontSizesChart.js
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
  packages/eslint-plugin-material-ui/README.md
  packages/eslint-plugin-material-ui/src/index.js
  packages/eslint-plugin-material-ui/src/rules/restricted-path-imports.js
  packages/eslint-plugin-material-ui/src/rules/restricted-path-imports.test.js
Labels: PR: ready to ship, docs

#21047 [Select] Fix possible crash when clicking on the label
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: bug, component: Select

#21043 [test] Add test for undesired behavior of TreeView
  packages/material-ui-lab/src/TreeView/TreeView.test.js
Labels: PR: ready to ship, component: TreeView, test

#21039 [Tooltip] Add PopperComponent prop
  docs/pages/api-docs/tooltip.md
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
Labels: PR: ready to ship, component: Tooltip, enhancement

#21056 [docs] Reduce confusion around higher order component
  docs/src/pages/styles/basics/HigherOrderComponent.js
  docs/src/pages/styles/basics/HigherOrderComponent.tsx
Labels: PR: ready to ship, docs

#21054 [docs] Improve mui-treasury integration
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/cards/cards.md
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/lists/lists.md
  docs/src/pages/components/menus/menus.md
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/switches/switches.md
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/components/text-fields/text-fields.md
Labels: PR: ready to ship, docs

#21041 [docs] Keep the same header between locales
  docs/src/modules/utils/parseMarkdown.js
  docs/src/modules/utils/parseMarkdown.test.js
Labels: PR: ready to ship, docs

#21051 [ToggleButtonGroup] Add orientation prop
  docs/pages/api-docs/button-group.md
  docs/pages/api-docs/toggle-button-group.md
  docs/src/pages/components/toggle-button/VerticalToggleButtons.js
  docs/src/pages/components/toggle-button/VerticalToggleButtons.tsx
  docs/src/pages/components/toggle-button/toggle-button.md
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui-lab/src/ToggleButtonGroup/ToggleButtonGroup.test.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: PR: ready to ship, component: ToggleButton, enhancement

#21052 [Snackbar] Explain how to place the snackbar
  docs/src/pages/components/snackbars/PositionedSnackbar.js
  docs/src/pages/components/snackbars/PositionedSnackbar.tsx
  docs/src/pages/components/snackbars/snackbars.md
Labels: PR: ready to ship, component: Snackbar, docs

#21060 [Autocomplete] Fix iOS double tap
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: PR: ready to ship, bug, component: Autocomplete

#21061 [docs] Add new twitter quotes to the homepage
  docs/src/pages/landing/Quotes.js
Labels: PR: ready to ship, docs

#20656 [l10n] Prepare iteration on number formatting
  docs/pages/api-docs/table-pagination.md
  docs/src/pages/guides/localization/Locales.js
  docs/src/pages/guides/localization/Locales.tsx
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/locale/index.ts
Labels: PR: ready to ship

#21057 [docs] Show font smoothing override
  docs/src/pages/components/css-baseline/css-baseline.md
  docs/src/pages/customization/globals/globals.md
Labels: PR: ready to ship, docs

#21059 [Snackbar] Fix double click issue on demos
  docs/src/pages/components/snackbars/DirectionSnackbar.js
  docs/src/pages/components/snackbars/DirectionSnackbar.tsx
  docs/src/pages/components/snackbars/TransitionsSnackbar.js
  docs/src/pages/components/snackbars/TransitionsSnackbar.tsx
Labels: PR: ready to ship, component: Snackbar, docs

#21063 [AppBar] Fix z-index issue on Firefox
  packages/material-ui/src/AppBar/AppBar.js
Labels: PR: ready to ship, bug, component: AppBar

#21062 [docs] Fix typo in Modal accessibility description
  docs/src/pages/components/modal/modal.md
Labels: PR: ready to ship, accessibility, docs

#21094 [docs] Add CssBaseline to auto dark mode example
  docs/src/pages/customization/palette/palette.md
Labels: docs

#21058 [test] Migrate some tests to testing-library
  packages/material-ui-lab/src/SpeedDialAction/SpeedDialAction.test.js
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.test.js
  packages/material-ui/src/ListItemText/ListItemText.test.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  packages/material-ui/src/StepIcon/StepIcon.test.js
  packages/material-ui/src/Tabs/ScrollbarSize.test.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
Labels: test

#21064 [core] Small changes
  docs/pages/api-docs/click-away-listener.md
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/pages.js
  docs/src/pages/components/tabs/AccessibleTabs.js
  docs/src/pages/components/tabs/AccessibleTabs.tsx
  docs/src/pages/components/tabs/CustomizedTabs.js
  docs/src/pages/components/tabs/CustomizedTabs.tsx
  docs/translations/translations.json
  packages/material-ui-lab/src/Pagination/Pagination.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.d.ts
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.js
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/utils/useControlled.d.ts
  test/utils/createDOM.js
Labels: PR: ready to ship, umbrella

#21095 [Tooltip] Support different arrow border & background colors
  packages/material-ui/src/Tooltip/Tooltip.js
  test/regressions/tests/Tooltip/PositionedTooltips.js
Labels: PR: ready to ship, component: Tooltip, enhancement

#21106 [Popper] Remove duplicate handleOpen call from effect
  packages/material-ui/src/Popper/Popper.js
Labels: PR: ready to ship, component: Popper, core

#21109 [test] Fix react next patch
  scripts/react-next.diff
Labels: test

#21097 [Skeleton] Allow children to influence width / height
  docs/pages/api-docs/skeleton.md
  docs/src/pages/components/skeleton/SkeletonChildren.js
  docs/src/pages/components/skeleton/SkeletonChildren.tsx
  docs/src/pages/components/skeleton/SkeletonTypography.js
  docs/src/pages/components/skeleton/SkeletonTypography.tsx
  docs/src/pages/components/skeleton/skeleton.md
  packages/material-ui-lab/src/Skeleton/Skeleton.d.ts
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui-lab/src/Skeleton/Skeleton.test.js
Labels: PR: ready to ship, component: Skeleton, enhancement

#20949 [Autocomplete] Improve value type inference
  docs/pages/api-docs/autocomplete.md
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/autocomplete/Virtualize.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.spec.tsx
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.spec.ts
Labels: PR: ready to ship, breaking change, component: Autocomplete, typescript

#21115 [Slide] Fix double negation in CSS translate
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
Labels: PR: ready to ship, bug 🐛, component: Transition

#21121 [test] Reduce SkeletonChildren flakyness
  test/regressions/index.js
  test/regressions/tests/Skeleton/SkeletonChildren.js
Labels: component: Skeleton, test

#21107 [Pagination] Document difference with TablePagination
  docs/src/pages/components/pagination/TablePagination.js
  docs/src/pages/components/pagination/TablePagination.tsx
  docs/src/pages/components/pagination/pagination.md
Labels: PR: ready to ship, component: Pagination, docs

#21116 [docs] Fix disableFocusRipple prop description
  docs/pages/api-docs/button-base.md
  docs/pages/api-docs/button-group.md
  docs/pages/api-docs/button.md
  docs/pages/api-docs/fab.md
  docs/pages/api-docs/icon-button.md
  docs/pages/api-docs/tab.md
  docs/pages/api-docs/toggle-button.md
  packages/material-ui-lab/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/Fab/Fab.js
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/Tab/Tab.js
Labels: PR: ready to ship, docs, package: core, package: lab

#21090 [Autocomplete] Fix autoHighlight for dynamic options
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug 🐛, component: Autocomplete

#21138 [docs] Fix autocomplete attributes
  docs/src/pages/getting-started/templates/checkout/AddressForm.js
  docs/src/pages/getting-started/templates/checkout/PaymentForm.js
Labels: PR: ready to ship, docs

#21131 [docs] Improve text based sizing for larger font scales
  docs/src/modules/components/Ad.js
  docs/src/modules/components/MarkdownElement.js
Labels: PR: ready to ship, accessibility, docs

#21141 [Avatar] Fix group positioning
  packages/material-ui-lab/src/AvatarGroup/AvatarGroup.js
Labels: bug 🐛, component: Avatar

#21149 [docs] Minor fixes in theming, link to Context
  docs/src/pages/customization/theming/theming.md
Labels: docs

#21151 [docs] Fix anchor link to using inline vs. classes
  docs/src/pages/customization/components/components.md
Labels: docs

#21150 [docs] Sort ways to support MUI; clarify clsx
  docs/src/pages/getting-started/faq/faq.md
Labels: docs

#21160 [docs] Fix typo, principals -> principles
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#21161 [docs] Small grammar fix
  docs/src/pages/customization/components/components.md
Labels: docs

#21122 [Skeleton] Improve contrast on light themes
  packages/material-ui-lab/src/Skeleton/Skeleton.js
Labels: accessibility, breaking change, component: Skeleton

#21159 [docs] English improvements in api.md
  docs/src/pages/guides/api/api.md
Labels: PR: ready to ship, docs

#21187 Adapt CONTRIBUTING.md for https instead of SSH git clone
  CONTRIBUTING.md
Labels: PR: ready to ship, docs

#21186 [docs] Mention laying out radio buttons horizontally
  docs/src/pages/components/radio-buttons/radio-buttons.md
Labels: PR: ready to ship, docs

#21134 [SvgIcon] Add displayName in react-devtools
  packages/material-ui/src/utils/createSvgIcon.js
Labels: component: SvgIcon

#21158 [Transition] Prevent passing undefined argument to callbacks
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Zoom/Zoom.js
Labels: PR: ready to ship, bug 🐛, component: Transition

#21195 [LinearProgress] Set aria-valuemin and aria-valuemax
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/LinearProgress/LinearProgress.test.js
Labels: accessibility, component: LinearProgress

#21209 [docs] Track pixel ratio
  docs/pages/_app.js
Labels: docs

#21156 [core] Batch small changes
  docs/pages/blog/2020-introducing-sketch.md
  docs/pages/versions.js
  docs/public/static/in-house/figma.png
  docs/src/modules/components/Ad.js
  docs/src/pages/components/progress/CircularDeterminate.js
  docs/src/pages/components/progress/CircularDeterminate.tsx
  docs/src/pages/components/progress/CircularStatic.js
  docs/src/pages/components/progress/CircularStatic.tsx
  docs/src/pages/components/progress/CustomizedProgressBars.js
  docs/src/pages/components/progress/CustomizedProgressBars.tsx
  docs/src/pages/components/progress/LinearBuffer.js
  docs/src/pages/components/progress/LinearBuffer.tsx
  docs/src/pages/components/progress/LinearDeterminate.js
  docs/src/pages/components/progress/LinearDeterminate.tsx
  docs/src/pages/components/progress/LinearQuery.js
  docs/src/pages/components/progress/LinearQuery.tsx
  docs/src/pages/components/progress/progress.md
  docs/src/pages/components/skeleton/SkeletonChildren.js
  docs/src/pages/components/skeleton/SkeletonChildren.tsx
  docs/src/pages/components/tabs/AccessibleTabs.tsx
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/versions/StableVersions.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/locale/index.ts
  packages/material-ui/src/utils/index.d.ts
  packages/material-ui/src/utils/index.js
Labels: PR: ready to ship, umbrella

#21194 [Autocomplete] Fix dynamic changes of multiple={boolean}
  packages/material-ui/src/utils/useControlled.js
  packages/material-ui/src/utils/useControlled.test.js
Labels: PR: ready to ship, bug 🐛, component: Autocomplete

#21207 [Autocomplete] Improve getOptionLabel usage warning
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, component: Autocomplete, docs

#21196 [docs] Simplify CONTRIBUTING.md
  CONTRIBUTING.md
Labels: PR: ready to ship, docs

#21190 [docs] Add Progress value label examples
  docs/src/pages/components/progress/CircularWithValueLabel.js
  docs/src/pages/components/progress/CircularWithValueLabel.tsx
  docs/src/pages/components/progress/LinearWithValueLabel.js
  docs/src/pages/components/progress/LinearWithValueLabel.tsx
  docs/src/pages/components/progress/progress.md
Labels: component: CircularProgress, component: LinearProgress, docs

#21203 [Tooltip] Improve arrow customization
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, component: Tooltip, enhancement

#21223 [Stepper] Add focus ripple to StepButton
  packages/material-ui/src/StepButton/StepButton.js
Labels: PR: ready to ship, accessibility, component: Stepper

#21201 [TrapFocus] Make an unstable version public
  docs/pages/api-docs/unstable-trap-focus.js
  docs/pages/api-docs/unstable-trap-focus.md
  docs/src/modules/utils/find.js
  packages/material-ui/src/Modal/Modal.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Unstable_TrapFocus/Unstable_TrapFocus.d.ts
  packages/material-ui/src/Unstable_TrapFocus/Unstable_TrapFocus.js
  packages/material-ui/src/Unstable_TrapFocus/Unstable_TrapFocus.test.js
  packages/material-ui/src/Unstable_TrapFocus/index.d.ts
  packages/material-ui/src/Unstable_TrapFocus/index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: PR: ready to ship, component: TrapFocus

#21226 [Table] Add React node support to TablePagination.labelRowsPerPage
  docs/pages/api-docs/table-pagination.md
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
Labels: accessibility, component: Table

#21219 [docs] Improve ad display
  docs/public/static/in-house/bonsaiilabs.png
  docs/public/static/in-house/sencha-125x35-dark.svg
  docs/public/static/in-house/sencha-125x35-light.svg
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdCodeFund.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/MarkdownDocs.js
Labels: docs

#21240 [test] Track size of `@material-ui/utils`
  scripts/sizeSnapshot/webpack.config.js
Labels: package: utils, performance

#21237 [TextField] Fix missing autofill events
  packages/material-ui/src/InputBase/InputBase.js
Labels: PR: ready to ship, bug 🐛, component: TextField

#21243 [docs] Fix typo in default palette value
  docs/src/pages/customization/palette/palette.md
Labels: docs

#21244 [Slider] Fix missing type definitions
  packages/material-ui/src/Slider/Slider.d.ts
Labels: component: Slider, typescript

#21248 [CircularProgress] Fix IE 11 wobbling
  packages/material-ui/src/CircularProgress/CircularProgress.js
Labels: PR: ready to ship, bug 🐛, component: CircularProgress

#21252 [Pagination] Fix selected item style
  packages/material-ui-lab/src/PaginationItem/PaginationItem.js
Labels: PR: ready to ship, bug 🐛, component: Pagination

#21256 [List] Add ‘alignItemsFlexStart’ to ListItemIconClassKey
  packages/material-ui/src/ListItemIcon/ListItemIcon.d.ts
Labels: component: List, typescript

#21234 [docs] Document the onClick handler on Button
  docs/src/pages/components/buttons/buttons.md
Labels: PR: ready to ship, component: Button, docs
