Repository mui/material-ui, pull requests merged in 2020-01, with the labels that each got.

#19056 [docs] Disable in-context translation
  docs/src/modules/components/EditPage.js
Labels: PR: ready to ship, docs

#19058 [docs] Add hexToRgb rename to v3 to v4 changelog
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: docs

#19062 [docs] Fix grammar
  README.md
  docs/src/modules/components/backers.md
  docs/src/pages/discover-more/backers/backers.md
Labels: PR: ready to ship, docs

#19060 [Autocomplete] Warn when mixing uncontrolled and controlled
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, lab: Autocomplete

#18702 [Alert] Introduce new component
  docs/pages/api/alert-title.js
  docs/pages/api/alert-title.md
  docs/pages/api/alert.js
  docs/pages/api/alert.md
  docs/pages/api/snackbar-content.md
  docs/pages/api/snackbar.md
  docs/pages/api/typography.md
  docs/pages/components/alert.js
  docs/src/pages.js
  docs/src/pages/components/alert/ActionAlerts.js
  docs/src/pages/components/alert/ActionAlerts.tsx
  docs/src/pages/components/alert/ColorAlerts.js
  docs/src/pages/components/alert/ColorAlerts.tsx
  docs/src/pages/components/alert/DescriptionAlerts.js
  docs/src/pages/components/alert/DescriptionAlerts.tsx
  docs/src/pages/components/alert/FilledAlerts.js
  docs/src/pages/components/alert/FilledAlerts.tsx
  docs/src/pages/components/alert/IconAlerts.js
  docs/src/pages/components/alert/IconAlerts.tsx
  docs/src/pages/components/alert/OutlinedAlerts.js
  docs/src/pages/components/alert/OutlinedAlerts.tsx
  docs/src/pages/components/alert/SimpleAlerts.js
  docs/src/pages/components/alert/SimpleAlerts.tsx
  docs/src/pages/components/alert/TransitionAlerts.js
  docs/src/pages/components/alert/TransitionAlerts.tsx
  docs/src/pages/components/alert/alert.md
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.js
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.tsx
  docs/src/pages/components/snackbars/CustomizedSnackbars.js
  docs/src/pages/components/snackbars/CustomizedSnackbars.tsx
  docs/src/pages/components/snackbars/LongTextSnackbar.js
  docs/src/pages/components/snackbars/LongTextSnackbar.tsx
  docs/src/pages/components/snackbars/SimpleSnackbar.js
  docs/src/pages/components/snackbars/SimpleSnackbar.tsx
  docs/src/pages/discover-more/roadmap/roadmap.md
  packages/material-ui-lab/src/Alert/Alert.d.ts
  packages/material-ui-lab/src/Alert/Alert.js
  packages/material-ui-lab/src/Alert/Alert.test.js
  packages/material-ui-lab/src/Alert/index.d.ts
  packages/material-ui-lab/src/Alert/index.js
  packages/material-ui-lab/src/AlertTitle/AlertTitle.d.ts
  packages/material-ui-lab/src/AlertTitle/AlertTitle.js
  packages/material-ui-lab/src/AlertTitle/AlertTitle.test.js
  packages/material-ui-lab/src/AlertTitle/index.d.ts
  packages/material-ui-lab/src/AlertTitle/index.js
  packages/material-ui-lab/src/index.d.ts
  packages/material-ui-lab/src/index.js
  packages/material-ui-lab/src/internal/svg-icons/ErrorOutline.js
  packages/material-ui-lab/src/internal/svg-icons/InfoOutlined.js
  packages/material-ui-lab/src/internal/svg-icons/ReportProblemOutlined.js
  packages/material-ui-lab/src/internal/svg-icons/SuccessOutlined.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/Typography/Typography.js
  packages/material-ui/src/internal/svg-icons/Close.js
  packages/material-ui/src/locale/index.js
  packages/material-ui/src/styles/createPalette.js
Labels: PR: ready to ship, enhancement, lab: Alert

#19065 [docs] Improve theme.breakpoints description
  docs/src/pages/customization/breakpoints/breakpoints.md
Labels: docs

#19043 [Snackbar] Improve accessibility
  docs/pages/api/snackbar.md
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.js
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.tsx
  docs/src/pages/components/snackbars/DirectionSnackbar.js
  docs/src/pages/components/snackbars/DirectionSnackbar.tsx
  docs/src/pages/components/snackbars/FabIntegrationSnackbar.js
  docs/src/pages/components/snackbars/FabIntegrationSnackbar.tsx
  docs/src/pages/components/snackbars/PositionedSnackbar.js
  docs/src/pages/components/snackbars/PositionedSnackbar.tsx
  docs/src/pages/components/snackbars/SimpleSnackbar.js
  docs/src/pages/components/snackbars/SimpleSnackbar.tsx
  docs/src/pages/components/snackbars/TransitionsSnackbar.js
  docs/src/pages/components/snackbars/TransitionsSnackbar.tsx
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/premium-themes/onepirate/modules/components/Snackbar.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/test/typescript/components.spec.tsx
Labels: accessibility, component: Snackbar

#19071 [Rating] Fix hover state stuck
  packages/material-ui-lab/src/Rating/Rating.js
Labels: bug, lab: Rating

#19073 [example] Make sure next.js Links can accept url objects as href
  examples/nextjs-with-typescript/src/Link.tsx
  examples/nextjs/src/Link.js
Labels: PR: ready to ship, docs

#19072 [Autocomplete] Fix form submit with freeSolo and multiple
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#19075 [docs] Improve Next.js usage
  docs/pages/_document.js
  docs/src/modules/components/Head.js
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app/public/index.html
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/_document.js
  examples/preact/public/index.html
  examples/ssr/server.js
Labels: PR: ready to ship, docs

#17211 [core] Fix missing type peer deps
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui-types/package.json
  packages/material-ui/package.json
Labels: PR: ready to ship, bug, typescript

#18964 [docs] Add company page
  crowdin.yml
  docs/pages/company/about.js
  docs/pages/company/contact.js
  docs/pages/discover-more/governance.js
  docs/pages/index.js
  docs/src/modules/components/AppContent.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/Head.js
  docs/src/modules/components/HomeFooter.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/TopLayoutCompany.js
  docs/src/modules/components/useMarkdownDocs.js
  docs/src/modules/components/useMarkdownDocsContents.js
  docs/src/modules/components/usePageTitle.js
  docs/src/modules/constants.js
  docs/src/pages.js
  docs/src/pages/company/about/about.md
  docs/src/pages/company/contact/contact.md
  docs/src/pages/discover-more/governance/governance.md
  docs/src/pages/discover-more/vision/vision.md
  docs/translations/translations.json
Labels: docs

#19103 [Rating] Add default value prop
  docs/pages/api/rating.md
  docs/src/pages/components/rating/CustomizedRatings.js
  docs/src/pages/components/rating/CustomizedRatings.tsx
  docs/src/pages/components/rating/HalfRating.js
  docs/src/pages/components/rating/HalfRating.tsx
  docs/src/pages/components/rating/HoverRating.js
  docs/src/pages/components/rating/HoverRating.tsx
  docs/src/pages/components/rating/RatingSize.js
  docs/src/pages/components/rating/RatingSize.tsx
  docs/src/pages/components/rating/rating.md
  packages/material-ui-lab/src/Rating/Rating.d.ts
  packages/material-ui-lab/src/Rating/Rating.js
  packages/material-ui-lab/src/Rating/Rating.test.js
Labels: PR: ready to ship, enhancement, lab: Rating

#19097 [core] Batch small changes
  .github/CODEOWNERS
  README.md
  docs/pages/api/alert-title.md
  docs/pages/api/chip.md
  docs/pages/api/icon.md
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/Head.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/utils/generateMarkdown.js
  docs/src/pages/components/alert/alert.md
  docs/src/pages/components/backdrop/SimpleBackdrop.js
  docs/src/pages/components/backdrop/SimpleBackdrop.tsx
  docs/src/pages/components/dividers/MiddleDividers.js
  docs/src/pages/components/dividers/MiddleDividers.tsx
  docs/src/pages/components/hidden/BreakpointDown.js
  docs/src/pages/components/hidden/BreakpointDown.tsx
  docs/src/pages/components/hidden/BreakpointOnly.js
  docs/src/pages/components/hidden/BreakpointOnly.tsx
  docs/src/pages/components/hidden/BreakpointUp.js
  docs/src/pages/components/hidden/BreakpointUp.tsx
  docs/src/pages/components/lists/VirtualizedList.js
  docs/src/pages/components/lists/VirtualizedList.tsx
  docs/src/pages/components/paper/SimplePaper.js
  docs/src/pages/components/paper/SimplePaper.tsx
  docs/src/pages/discover-more/team/Team.js
  docs/src/pages/getting-started/templates/templates.md
  docs/src/pages/getting-started/usage/usage.md
  examples/cdn/index.html
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app/public/index.html
  examples/gatsby/plugins/gatsby-plugin-top-layout/TopLayout.js
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs/pages/_app.js
  examples/preact/public/index.html
  examples/ssr/server.js
  packages/material-ui-lab/src/AlertTitle/AlertTitle.js
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Icon/Icon.js
  packages/material-ui/src/styles/createBreakpoints.d.ts
Labels: PR: ready to ship, umbrella

#19123 [docs] Fix alert severity of customized snackbar
  docs/src/pages/components/snackbars/CustomizedSnackbars.js
  docs/src/pages/components/snackbars/CustomizedSnackbars.tsx
Labels: PR: ready to ship, docs

#19119 [blog] December 2019 Update
  docs/pages/blog/december-2019-update.js
  docs/pages/blog/december-2019-update.md
  docs/src/pages.js
  docs/static/blog/december-2019-update/alert-filled.png
  docs/static/blog/december-2019-update/alert.png
  docs/static/blog/december-2019-update/data-grid.png
  docs/static/blog/december-2019-update/date-picker.png
  docs/static/blog/december-2019-update/pagination.png
  docs/static/blog/december-2019-update/stacking.png
  docs/static/blog/december-2019-update/vertical-buttons.png
Labels: PR: ready to ship, docs

#19121 [Autocomplete] Fix option grouping
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#19001 [RadioGroup] Update useRadioGroup.d.ts
  packages/material-ui/src/RadioGroup/useRadioGroup.d.ts
Labels: PR: ready to ship, component: RadioGroup, typescript

#19129 [docs] Add a new site to showcase (hifivework)
  docs/src/pages/discover-more/showcase/appList.js
  docs/static/images/showcase/hifivework.png
Labels: docs

#19138 [l10n] Add Bulgarian (pg-BG) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.js
Labels: enhancement

#19070 [core] Warn when defaultValue changes
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/RadioGroup/RadioGroup.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/src/utils/index.js
  packages/material-ui/src/utils/useControlled.d.ts
  packages/material-ui/src/utils/useControlled.js
  packages/material-ui/src/utils/useControlled.test.js
Labels: PR: ready to ship, core

#19146 [docs] Minor typo fix in testing docs
  docs/src/pages/guides/testing/testing.md
Labels: docs

#19102 [DialogContentText] Fix component prop
  packages/material-ui/src/DialogContentText/DialogContentText.d.ts
  packages/material-ui/src/DialogContentText/DialogContentText.spec.tsx
Labels: PR: ready to ship, component: Dialog, typescript

#19170 [docs] Fix "Edit this page" link
  docs/src/modules/components/useMarkdownDocs.js
  docs/src/modules/constants.js
  docs/src/modules/utils/generateMarkdown.js
Labels: docs

#19126 [Autocomplete] Document how to disable chrome autofill
  docs/src/pages/components/autocomplete/CountrySelect.js
  docs/src/pages/components/autocomplete/CountrySelect.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: PR: ready to ship, docs, lab: Autocomplete

#18854 [Autocomplete] Improve typings
  docs/pages/api/autocomplete.md
  docs/pages/api/bottom-navigation.md
  docs/pages/api/tree-view.md
  docs/src/pages/components/autocomplete/CheckboxesTags.tsx
  docs/src/pages/components/autocomplete/ComboBox.tsx
  docs/src/pages/components/autocomplete/CountrySelect.tsx
  docs/src/pages/components/autocomplete/DisabledOptions.tsx
  docs/src/pages/components/autocomplete/Filter.tsx
  docs/src/pages/components/autocomplete/FixedTags.tsx
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/autocomplete/Grouped.tsx
  docs/src/pages/components/autocomplete/Highlights.tsx
  docs/src/pages/components/autocomplete/Playground.tsx
  docs/src/pages/components/autocomplete/Sizes.tsx
  docs/src/pages/components/autocomplete/Tags.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/TreeView/TreeView.d.ts
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/BottomNavigation/BottomNavigation.d.ts
  packages/material-ui/src/BottomNavigation/BottomNavigation.js
Labels: PR: ready to ship, lab: Autocomplete, typescript

#19172 [docs] Fix a tiny mistake in Chips playground
  docs/src/pages/components/chips/ChipsPlayground.js
Labels: docs

#19174 [core] Batch small changes
  docs/pages/api/alert.md
  docs/pages/blog/december-2019-update.md
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/alert/ActionAlerts.js
  docs/src/pages/components/alert/ActionAlerts.tsx
  docs/src/pages/components/alert/ColorAlerts.js
  docs/src/pages/components/alert/ColorAlerts.tsx
  docs/src/pages/components/alert/FilledAlerts.js
  docs/src/pages/components/alert/FilledAlerts.tsx
  docs/src/pages/components/alert/OutlinedAlerts.js
  docs/src/pages/components/alert/OutlinedAlerts.tsx
  docs/src/pages/components/alert/SimpleAlerts.js
  docs/src/pages/components/alert/SimpleAlerts.tsx
  docs/src/pages/components/alert/TransitionAlerts.js
  docs/src/pages/components/alert/TransitionAlerts.tsx
Labels: umbrella

#19177 [Autocomplete] Fix misleading warning
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: lab: Autocomplete

#19178 [docs] Remove Glamor link
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#19107 [styles] Reexport ts definitions for StylesHook from @material-ui/styles
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/makeStyles.d.ts
Labels: PR: ready to ship, typescript

#19198 [TextField] Support padding for helperText
  docs/pages/api/form-helper-text.md
  packages/material-ui/src/FormHelperText/FormHelperText.js
Labels: PR: ready to ship, component: TextField, enhancement

#19200 [Stepper] Add support for expanding all the steps
  docs/pages/api/step.md
  docs/pages/api/stepper.md
  packages/material-ui/src/Step/Step.js
  packages/material-ui/src/StepContent/StepContent.js
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/Stepper/Stepper.js
Labels: PR: ready to ship, component: Stepper, enhancement

#19175 [test] Improve visual regression tests
  docs/pages/components/material-icons.js
  docs/src/pages/components/modal/ServerModal.js
  docs/src/pages/components/modal/ServerModal.tsx
  packages/material-ui/src/utils/deprecatedPropType.js
  packages/material-ui/src/utils/getScrollbarSize.js
  packages/material-ui/src/utils/ownerDocument.js
  packages/material-ui/src/utils/ownerWindow.js
  packages/material-ui/src/utils/requirePropFactory.js
  packages/material-ui/src/utils/unsupportedProp.js
  test/regressions/debug.html
  test/regressions/index.js
  test/regressions/tests/Chip/DeletableAvatarChip.js
  test/regressions/tests/Grid/AutoGrid.js
  test/regressions/tests/Grid/SimpleGrid.js
  test/regressions/tests/Input/InputSearch.js
  test/regressions/tests/Input/Inputs.js
  test/regressions/tests/List/IconListItem.js
  test/regressions/tests/List/SecondaryActionCheckboxListItem.js
  test/regressions/tests/List/SimpleListItem.js
  test/regressions/tests/ListSubheader/InsetListSubheader.js
  test/regressions/tests/ListSubheader/PrimaryListSubheader.js
  test/regressions/tests/ListSubheader/SimpleListSubheader.js
  test/regressions/tests/Paper/SimplePaper.js
  test/regressions/tests/RadioGroup/RadioGroupWithLabel.js
  test/regressions/tests/RadioGroup/RadioGroupWithLabelError.js
  test/regressions/tests/RadioGroup/RadioGroupWithLabelRequired.js
  test/regressions/tests/RadioGroup/SimpleRadioGroup.js
  test/regressions/tests/Tabs/AdvancedTabs.js
  test/regressions/tests/Tabs/SimpleTabs.js
  test/regressions/tests/TextField/TextFieldError.js
  test/regressions/tests/TextField/TextFieldMargin.js
  test/regressions/tests/TextField/TextFieldMultiline.js
  test/regressions/tests/TextField/TextFieldRequired.js
  test/regressions/webpack.config.js
Labels: PR: ready to ship, test

#19122 [docs] Improve the documentation of the dark theme
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/customization/default-theme/DefaultTheme.js
  docs/src/pages/customization/default-theme/default-theme.md
  docs/src/pages/customization/palette/DarkTheme.js
  docs/src/pages/customization/palette/DarkTheme.tsx
  docs/src/pages/customization/palette/Intentions.js
  docs/src/pages/customization/palette/Intentions.tsx
  docs/src/pages/customization/palette/palette.md
  docs/src/pages/system/palette/BackgroundColor.js
  docs/src/pages/system/palette/BackgroundColor.tsx
  docs/src/pages/system/palette/Color.js
  docs/src/pages/system/palette/Color.tsx
  docs/src/pages/system/palette/palette.md
  docs/translations/translations.json
Labels: PR: ready to ship, docs

#19216 [docs] Improve typography documentation
  docs/src/pages/customization/typography/typography.md
Labels: PR: ready to ship, docs

#19201 [docs] Improve transition documentation
  docs/pages/api/dialog.md
  docs/pages/api/expansion-panel.md
  docs/pages/api/popover.md
  docs/pages/api/snackbar.md
  docs/pages/api/speed-dial.md
  docs/pages/api/step-content.md
  docs/pages/api/tooltip.md
  docs/pages/api/tree-item.md
  docs/src/pages/components/transitions/transitions.md
  packages/material-ui-lab/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui-lab/src/SpeedDial/SpeedDial.js
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/ExpansionPanel/ExpansionPanel.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/StepContent/StepContent.js
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: PR: ready to ship, docs

#19215 [Autocomplete] Don't delete tag if exists (in freesolo mode)
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: bug, lab: Autocomplete

#19226 [core] Ignore a few flaky visual tests
  test/regressions/index.js
Labels: test

#19243 [core] Simplify types of styled
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui/src/styles/styled.d.ts
Labels: package: core, package: styles, typescript

#19237 [docs] Add "material-ui-confirm" to the related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: ready to ship, docs

#19232 [Autocomplete] Extend support to textarea
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, lab: Autocomplete

#19234 [Breadcrumbs] Remove private separator component
  packages/material-ui/src/Breadcrumbs/BreadcrumbSeparator.js
  packages/material-ui/src/Breadcrumbs/BreadcrumbSeparator.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
Labels: PR: ready to ship, component: Breadcrumbs

#19236 [docs] Fix broken TypeScript hash link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: PR: ready to ship, docs, typescript

#19259 [types] Remove CoerceEmptyInterface
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-types/index.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
Labels: breaking change, package: types

#19260 [docs] Use reasonable unitless line-height for Box
  docs/src/pages/system/typography/LineHeight.js
  docs/src/pages/system/typography/LineHeight.tsx
Labels: PR: ready to ship, docs

#19256 [docs] Fix link in switches.md
  docs/src/pages/components/switches/switches.md
Labels: docs

#19266 [docs] Improve EnhancedTable.tsx demo
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
Labels: component: Table, docs

#19269 [core] Fix TypographyStyle not allowing media queries and allowing unsafe undefined access
  docs/src/pages/customization/typography/CustomResponsiveFontSizes.js
  docs/src/pages/customization/typography/CustomResponsiveFontSizes.tsx
  docs/src/pages/customization/typography/typography.md
  packages/material-ui/src/Typography/Typography.d.ts
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/src/styles/createTypography.spec.ts
  packages/material-ui/src/styles/responsiveFontSizes.d.ts
Labels: package: core, typescript

#19278 [Skeleton] Use span element
  docs/pages/api/skeleton.md
  packages/material-ui-lab/src/Skeleton/Skeleton.d.ts
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui-lab/src/Skeleton/Skeleton.test.js
Labels: PR: ready to ship, bug, lab: Skeleton

#19257 [Autocomplete] Decrease padding when icon buttons aren't rendered
  docs/pages/api/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
Labels: PR: ready to ship, lab: Autocomplete

#19158 [Slider] Add a custom scale support
  docs/pages/api/slider.md
  docs/src/pages/components/slider/NonLinearSlider.js
  docs/src/pages/components/slider/NonLinearSlider.tsx
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/steppers/steppers.md
  packages/material-ui/src/Slider/Slider.d.ts
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, component: Slider, enhancement

#19282 [docs] Use button in backdrop demo
  docs/src/pages/components/backdrop/SimpleBackdrop.js
  docs/src/pages/components/backdrop/SimpleBackdrop.tsx
  docs/src/pages/components/dialogs/CustomizedDialogs.js
  docs/src/pages/components/dialogs/CustomizedDialogs.tsx
  docs/src/pages/components/dialogs/SimpleDialog.js
  docs/src/pages/components/dialogs/SimpleDialog.tsx
Labels: PR: ready to ship, docs

#19283 [Alert] Improve Transition demo
  docs/src/pages/components/alert/TransitionAlerts.js
  docs/src/pages/components/alert/TransitionAlerts.tsx
Labels: PR: ready to ship, docs, lab: Alert

#19281 [useAutocomplete] Add selectOnFocus prop
  docs/pages/api/autocomplete.md
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, enhancement, lab: Autocomplete

#19286 [Autocomplete] Add missing 'clear' to onInputChange typing
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
Labels: lab: Autocomplete, typescript

#19301 [core] Use node 10 in every CI/CD pipeline
  .circleci/config.yml
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
Labels: test

#19263 [core] Distinguish JSSProperties and CSSProperties
  docs/src/pages/customization/components/DynamicInlineStyle.tsx
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/test/styles.spec.tsx
  packages/material-ui/src/styles/createMixins.d.ts
  packages/material-ui/src/styles/createTypography.d.ts
Labels: docs, package: core, typescript

#18512 [build] Clarify transform-runtime, runtime version
  babel.config.js
  docs/babel.config.js
  docs/package.json
  yarn.lock
Labels: performance

#19304 [Tooltip] Fix popper.js re-instantiation
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  test/utils/createClientRender.js
Labels: PR: ready to ship, bug, component: Tooltip

#19291 [docs] Improve the demos copy experience
  docs/src/modules/components/Demo.js
  docs/translations/translations.json
Labels: PR: ready to ship, docs

#19307 [docs] Add a new site to showcase (tradenba)
  docs/src/pages/discover-more/showcase/appList.js
  docs/static/images/showcase/hifivework.png
  docs/static/images/showcase/tradenba.jpg
  docs/static/images/showcase/typekev.jpg
Labels: PR: ready to ship, docs

#19305 [Autocomplete] Fix hidden items during keyboard navigation
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#19320 [styles] Overload function signature instead of conditional
  packages/material-ui-styles/src/makeStyles/makeStyles.d.ts
  packages/material-ui-styles/src/makeStyles/makeStyles.spec.tsx
  packages/material-ui-styles/src/styled/styled.spec.tsx
  packages/material-ui-styles/test/IsEmptyInterface.spec.ts
  packages/material-ui-types/index.d.ts
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/makeStyles.d.ts
Labels: breaking change, package: types

#17680 [OutlinedInput] Fix offscreen label strikethrough
  docs/pages/api/outlined-input.md
  docs/pages/api/select.md
  docs/src/pages/components/text-fields/ComposedTextField.js
  docs/src/pages/components/text-fields/ComposedTextField.tsx
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.d.ts
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/TextField/TextField.test.js
Labels: PR: ready to ship, bug, component: TextField

#19321 [docs] Fix typo in the accessible table demo
  docs/src/pages/components/tables/AcccessibleTable.js
  docs/src/pages/components/tables/AcccessibleTable.tsx
Labels: PR: ready to ship, docs

#19287 [Autocomplete] Polish CustomizedHook demo
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
Labels: docs, lab: Autocomplete

#19330 [Slider] Center the value label
  packages/material-ui/src/Slider/ValueLabel.js
Labels: PR: ready to ship, bug, component: Slider

#19333 [ButtonBase] Fix potential memory leak for multi-touch devices
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/ButtonBase/TouchRipple.test.js
Labels: bug, component: ButtonBase

#19339 [docs] Improve draggable dialog demo
  docs/src/pages/components/dialogs/DraggableDialog.js
  docs/src/pages/components/dialogs/DraggableDialog.tsx
Labels: component: Dialog, docs

#19228 [TextField] Improve outlined transition
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
Labels: component: TextField, material design spec

#19277 [TableRow] Improve hover/selected styles
  packages/material-ui/src/TableRow/TableRow.js
  packages/material-ui/src/styles/createPalette.js
Labels: PR: ready to ship, component: Table, material design spec

#19332 [StepButton] Fix prop-types warning regarding `expanded`
  packages/material-ui/src/Step/Step.test.js
  packages/material-ui/src/StepButton/StepButton.js
  packages/material-ui/src/StepButton/StepButton.test.js
Labels: PR: ready to ship, bug, component: Stepper

#19337 [core] Remove unecessary exports from styles/transitions.js
  packages/material-ui/src/styles/transitions.js
  packages/material-ui/src/styles/transitions.test.js
Labels: PR: ready to ship, core

#19342 [Tab] Remove font-size media-query
  packages/material-ui/src/Tab/Tab.js
Labels: PR: ready to ship, component: Tabs, material design spec

#19334 [docs] Add links to mui-treasury
  docs/src/pages/components/cards/cards.md
  docs/src/pages/components/lists/lists.md
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: PR: ready to ship, docs

#19319 [SwitchBase] Fix ignoring disabled from FormControl
  docs/pages/api/checkbox.md
  docs/pages/api/radio.md
  docs/pages/api/switch.md
  framer/Material-UI.framerfx/code/Avatar.tsx
  framer/Material-UI.framerfx/code/Button.tsx
  framer/Material-UI.framerfx/code/Checkbox.tsx
  framer/Material-UI.framerfx/code/Paper.tsx
  framer/Material-UI.framerfx/code/Radio.tsx
  framer/Material-UI.framerfx/code/TextField.tsx
  framer/Material-UI.framerfx/design/document.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  framer/scripts/additionalProps.js
  framer/scripts/framerConfig.js
  framer/scripts/templates/radio.txt
  framer/scripts/templates/selection_control.txt
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/Switch/Switch.test.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: bug

#19366 [docs] Fix a small typo ("idea" ==> "ID")
  docs/pages/api/select.md
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, component: Select, docs

#19380 test: Exclude inaccessible elements by default in browser tests
  test/karma.conf.js
Labels: test

#19369 [FormControl] Add `fullWidth` prop to `FormControl` context
  packages/material-ui/src/FormControl/FormControl.js
  packages/material-ui/src/FormControl/FormControl.test.js
  packages/material-ui/src/FormControl/useFormControl.d.ts
Labels: component: FormControl, enhancement

#19383 [example] Add @types/node dependency
  examples/nextjs-with-typescript/package.json
Labels: PR: ready to ship, docs

#19324 [docs] Fix some typos and correct a grammar mistake
  CONTRIBUTING.md
Labels: PR: ready to ship, docs

#19350 [Slider] Support marks={false}
  docs/pages/api/slider.md
  packages/material-ui/src/Slider/Slider.js
Labels: PR: ready to ship, component: Slider, enhancement

#19384 [Autocomplete] Fix autoSelect logic
  packages/material-ui-lab/src/Autocomplete/Autocomplete.test.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, bug, lab: Autocomplete

#19410 [docs] Include more info on RMUIF v2.2.0
  docs/src/pages/getting-started/example-projects/example-projects.md
Labels: docs

#19412 [core] Misc dependency fixes
  docs/package.json
  package.json
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/package.json
  packages/material-ui-styles/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: dependencies, umbrella

#19381 [docs] Separate ButtonGroup and Fab pages from Button page
  docs/pages/api/button-group.md
  docs/pages/api/button.md
  docs/pages/api/fab.md
  docs/pages/api/zoom.md
  docs/pages/components/button-group.js
  docs/pages/components/floating-action-button.js
  docs/src/pages.js
  docs/src/pages/components/button-group/BasicButtonGroup.js
  docs/src/pages/components/button-group/BasicButtonGroup.tsx
  docs/src/pages/components/button-group/GroupOrientation.js
  docs/src/pages/components/button-group/GroupOrientation.tsx
  docs/src/pages/components/button-group/GroupSizesColors.js
  docs/src/pages/components/button-group/GroupSizesColors.tsx
  docs/src/pages/components/button-group/SplitButton.js
  docs/src/pages/components/button-group/SplitButton.tsx
  docs/src/pages/components/button-group/button-group.md
  docs/src/pages/components/buttons/ButtonBase.js
  docs/src/pages/components/buttons/ButtonBase.tsx
  docs/src/pages/components/buttons/ButtonSizes.js
  docs/src/pages/components/buttons/ButtonSizes.tsx
  docs/src/pages/components/buttons/GroupOrientation.js
  docs/src/pages/components/buttons/GroupOrientation.tsx
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/floating-action-button/FloatingActionButtonSize.js
  docs/src/pages/components/floating-action-button/FloatingActionButtonSize.tsx
  docs/src/pages/components/floating-action-button/FloatingActionButtonZoom.js
  docs/src/pages/components/floating-action-button/FloatingActionButtonZoom.tsx
  docs/src/pages/components/floating-action-button/FloatingActionButtons.js
  docs/src/pages/components/floating-action-button/FloatingActionButtons.tsx
  docs/src/pages/components/floating-action-button/floating-action-button.md
Labels: PR: ready to ship, docs

#19377 [core] cross-os jsonlint
  .circleci/config.yml
  package.json
  scripts/jsonlint.js
  yarn.lock
Labels: PR: ready to ship, enhancement, worktree

#19409 [TextField] Fix label notch for custom htmlFontSize
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
Labels: PR: ready to ship, bug, component: TextField

#19389 [OutlinedInput] Prevent overriding legend display styles
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
Labels: PR: ready to ship, bug, component: TextField

#19390 [TextField] Reduce helper text height to match spec
  packages/material-ui/src/FormHelperText/FormHelperText.js
Labels: PR: ready to ship, component: TextField, enhancement

#19375 [test] Test type libs in docs
  docs/package.json
  docs/tsconfig.json
  scripts/jsonlint.js
  yarn.lock
Labels: test, typescript

#19417 [test] Check exhaustive deps of useEnhancedEffect
  .eslintrc.js
Labels: test

#19392 [docs] Increase button variant demos consistency
  docs/src/pages/components/buttons/TextButtons.js
  docs/src/pages/components/buttons/TextButtons.tsx
  docs/src/pages/components/buttons/buttons.md
Labels: PR: ready to ship, docs

#19425 [test] Misc polish
  test/utils/createDOM.js
  yarn.lock
Labels: test

#19223 [docs] Fix /versions GitHub API rate limitation
  docs/next.config.js
  docs/pages/_app.js
  docs/pages/versions.js
  docs/src/modules/components/PageContext.js
  docs/src/pages/versions/StableVersions.js
Labels: PR: ready to ship, docs

#19431 [Autocomplete] Update docs for defaultValue prop
  docs/pages/api/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.js
Labels: PR: ready to ship, docs, lab: Autocomplete

#19440 [docs] Replace switch with checkbox and radio
  docs/pages/api/checkbox.md
  docs/pages/api/radio.md
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Radio/Radio.js
Labels: PR: ready to ship, docs

#19428 [l10n] Add Catalan (ca-ES) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship, core, enhancement

#19439 [l10n] Add vietnamese (vi-VN) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship, enhancement

#19471 [l10n] Add Finnish (fi-FI) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.d.ts
  packages/material-ui/src/locale/index.js
Labels: PR: ready to ship, enhancement

#19457 [docs] Improve Style Library Interoperability
  docs/src/pages/customization/palette/DarkTheme.js
  docs/src/pages/guides/interoperability/EmotionCSS.js
  docs/src/pages/guides/interoperability/EmotionCSS.tsx
  docs/src/pages/guides/interoperability/EmotionTheme.js
  docs/src/pages/guides/interoperability/EmotionTheme.tsx
  docs/src/pages/guides/interoperability/StyledComponents.js
  docs/src/pages/guides/interoperability/StyledComponents.tsx
  docs/src/pages/guides/interoperability/StyledComponentsDeep.js
  docs/src/pages/guides/interoperability/StyledComponentsDeep.tsx
  docs/src/pages/guides/interoperability/StyledComponentsTheme.js
  docs/src/pages/guides/interoperability/StyledComponentsTheme.tsx
  docs/src/pages/guides/interoperability/interoperability.md
Labels: PR: ready to ship, docs

#19414 [Rating] Fix readOnly + precision combination
  docs/src/pages/components/rating/HalfRating.js
  docs/src/pages/components/rating/HalfRating.tsx
  docs/src/pages/components/rating/HoverRating.js
  docs/src/pages/components/rating/HoverRating.tsx
  docs/src/pages/components/rating/RatingSize.js
  docs/src/pages/components/rating/RatingSize.tsx
  packages/material-ui-lab/src/Rating/Rating.js
Labels: PR: ready to ship, bug, lab: Rating

#19434 [Select] Right click opens select menu
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: PR: ready to ship, bug, component: Select

#19416 [core] Batch small changes
  docs/pages/api/autocomplete.md
  docs/pages/index.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppFooter.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Head.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/cards/ImgMediaCard.js
  docs/src/pages/components/cards/ImgMediaCard.tsx
  docs/src/pages/components/cards/MediaCard.js
  docs/src/pages/components/cards/MediaCard.tsx
  docs/src/pages/components/cards/MediaControlCard.js
  docs/src/pages/components/cards/MediaControlCard.tsx
  docs/src/pages/components/cards/OutlinedCard.js
  docs/src/pages/components/cards/OutlinedCard.tsx
  docs/src/pages/components/cards/RecipeReviewCard.js
  docs/src/pages/components/cards/RecipeReviewCard.tsx
  docs/src/pages/components/cards/SimpleCard.js
  docs/src/pages/components/cards/SimpleCard.tsx
  docs/src/pages/components/skeleton/Facebook.js
  docs/src/pages/components/skeleton/Facebook.tsx
  docs/src/pages/customization/typography/CustomResponsiveFontSizes.js
  docs/src/pages/customization/typography/CustomResponsiveFontSizes.tsx
  docs/src/pages/customization/typography/TypographyVariants.js
  docs/src/pages/customization/typography/TypographyVariants.tsx
  docs/src/pages/customization/typography/typography.md
  docs/src/pages/discover-more/languages/Languages.js
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/usage/Usage.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.js
  docs/src/pages/premium-themes/onepirate/modules/withRoot.js
  docs/static/in-house/monday.jpg
  docs/static/in-house/sketch.png
  docs/static/in-house/themes-2.jpg
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
  packages/material-ui-lab/src/Skeleton/Skeleton.js
  packages/material-ui-lab/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui-styles/src/ServerStyleSheets/ServerStyleSheets.js
  packages/material-ui-styles/src/StylesProvider/StylesProvider.js
  packages/material-ui-styles/src/getStylesCreator/getStylesCreator.js
  packages/material-ui-styles/src/getThemeProps/getThemeProps.js
  packages/material-ui-styles/src/jssPreset/jssPreset.js
  packages/material-ui-styles/src/makeStyles/makeStyles.js
  packages/material-ui-styles/src/mergeClasses/mergeClasses.js
  packages/material-ui-styles/src/styled/styled.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/MenuItem/MenuItem.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/styles/createTypography.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
  packages/material-ui/src/useMediaQuery/useMediaQueryTheme.js
  packages/material-ui/src/utils/setRef.js
  test/regressions/index.js
Labels: PR: ready to ship, umbrella

#19491 [core] Fix mixins not being assignable as JSS styles
  packages/material-ui/src/styles/createMixins.d.ts
  packages/material-ui/src/styles/createMixins.spec.ts
Labels: bug, package: core, typescript

#19492 [docs] Fix typo
  docs/src/pages/versions/versions.md
Labels: docs

#19503 [docs] Fix typo in Autocomplete CSS API
  docs/pages/api/autocomplete.md
  packages/material-ui-lab/src/Autocomplete/Autocomplete.js
Labels: docs, lab: Autocomplete
