Repository mui/material-ui, pull requests merged in 2021-03, with the labels that each got.

#25139 [core] Properly use BABEL_ENV test and development
  babel.config.js
  framer/package.json
  package.json
  packages/typescript-to-proptypes/package.json
Labels: core

#25137 [core] Modernize icons `builder:src`
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/builder.test.js
Labels: core

#25146 [Pagination] Migrate Pagination and PaginationItem to emotion
  docs/pages/api-docs/pagination-item.json
  docs/pages/api-docs/pagination.json
  docs/translations/api-docs/pagination-item/pagination-item.json
  docs/translations/api-docs/pagination/pagination.json
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Pagination/Pagination.d.ts
  packages/material-ui/src/Pagination/Pagination.js
  packages/material-ui/src/Pagination/Pagination.test.js
  packages/material-ui/src/Pagination/index.d.ts
  packages/material-ui/src/Pagination/index.js
  packages/material-ui/src/Pagination/paginationClasses.d.ts
  packages/material-ui/src/Pagination/paginationClasses.js
  packages/material-ui/src/PaginationItem/PaginationItem.d.ts
  packages/material-ui/src/PaginationItem/PaginationItem.js
  packages/material-ui/src/PaginationItem/PaginationItem.test.js
  packages/material-ui/src/PaginationItem/index.d.ts
  packages/material-ui/src/PaginationItem/index.js
  packages/material-ui/src/PaginationItem/paginationItemClasses.d.ts
  packages/material-ui/src/PaginationItem/paginationItemClasses.js
  packages/material-ui/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: component: Pagination, enhancement

#25143 [styled] Fix override logic to support component without root
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/styles/experimentalStyled.js
  packages/material-ui/src/styles/experimentalStyled.test.js
  test/utils/describeConformanceV5.js
Labels: bug 🐛

#25105 [Table] Remove default role logic in TableCell
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableCell/TableCell.test.js
  packages/material-ui/test/integration/TableCell.test.js
Labels: accessibility, component: Table

#25138 [docs] Migrate Button demos to emotion
  docs/src/pages/components/buttons/ButtonSizes.js
  docs/src/pages/components/buttons/ButtonSizes.tsx
  docs/src/pages/components/buttons/ContainedButtons.js
  docs/src/pages/components/buttons/ContainedButtons.tsx
  docs/src/pages/components/buttons/IconButtons.js
  docs/src/pages/components/buttons/IconButtons.tsx
  docs/src/pages/components/buttons/IconLabelButtons.js
  docs/src/pages/components/buttons/IconLabelButtons.tsx
  docs/src/pages/components/buttons/LoadingButtons.js
  docs/src/pages/components/buttons/LoadingButtons.tsx
  docs/src/pages/components/buttons/LoadingButtonsTransition.js
  docs/src/pages/components/buttons/LoadingButtonsTransition.tsx
  docs/src/pages/components/buttons/OutlinedButtons.js
  docs/src/pages/components/buttons/OutlinedButtons.tsx
  docs/src/pages/components/buttons/TextButtons.js
  docs/src/pages/components/buttons/TextButtons.tsx
  docs/src/pages/components/buttons/UploadButtons.js
  docs/src/pages/components/buttons/UploadButtons.tsx
Labels: docs

#25142 [Snackbar] Migrate to emotion
  docs/pages/api-docs/snackbar.json
  docs/translations/api-docs/snackbar/snackbar.json
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  packages/material-ui/src/Snackbar/index.d.ts
  packages/material-ui/src/Snackbar/index.js
  packages/material-ui/src/Snackbar/snackbarClasses.d.ts
  packages/material-ui/src/Snackbar/snackbarClasses.js
Labels: component: Snackbar, enhancement

#24801 [docs] Remove CircleCI from backers
  README.md
  docs/src/pages/discover-more/backers/backers.md
Labels: docs

#25092 [Stepper] Migrate StepConnector to emotion
  docs/pages/api-docs/step-connector.json
  docs/translations/api-docs/step-connector/step-connector.json
  packages/material-ui/src/StepConnector/StepConnector.d.ts
  packages/material-ui/src/StepConnector/StepConnector.js
  packages/material-ui/src/StepConnector/StepConnector.test.js
  packages/material-ui/src/StepConnector/index.d.ts
  packages/material-ui/src/StepConnector/index.js
  packages/material-ui/src/StepConnector/stepConnectorClasses.d.ts
  packages/material-ui/src/StepConnector/stepConnectorClasses.js
  packages/material-ui/src/Stepper/Stepper.test.js
  test/utils/describeConformanceV5.js
Labels: component: Stepper, enhancement

#25091 [Drawer] Migrate to emotion
  docs/pages/api-docs/drawer.json
  docs/translations/api-docs/drawer/drawer.json
  packages/material-ui/src/Drawer/Drawer.d.ts
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/Drawer/Drawer.test.js
  packages/material-ui/src/Drawer/drawerClasses.d.ts
  packages/material-ui/src/Drawer/drawerClasses.js
  packages/material-ui/src/Drawer/index.d.ts
  packages/material-ui/src/Drawer/index.js
Labels: component: Drawer, enhancement

#25144 [docs] Update the used testing libraries
  test/README.md
Labels: docs, test

#25160 [test] Add (manual) visual regression test for icons
  test/regressions/index.test.js
  test/regressions/manual/README.md
  test/regressions/manual/icons/AllIcons.js
Labels: package: icons, test

#25155 [Autocomplete] Support readonly type for the options
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui/src/useAutocomplete/useAutocomplete.spec.ts
Labels: component: Autocomplete, typescript

#25145 [docs] Migrate Divider demos to emotion
  docs/src/pages/components/dividers/InsetDividers.js
  docs/src/pages/components/dividers/InsetDividers.tsx
  docs/src/pages/components/dividers/ListDividers.js
  docs/src/pages/components/dividers/ListDividers.tsx
  docs/src/pages/components/dividers/MiddleDividers.js
  docs/src/pages/components/dividers/MiddleDividers.tsx
  docs/src/pages/components/dividers/SubheaderDividers.js
  docs/src/pages/components/dividers/SubheaderDividers.tsx
  docs/src/pages/components/dividers/VerticalDividers.js
  docs/src/pages/components/dividers/VerticalDividers.tsx
Labels: docs

#25162 [Pickers] Remove `dateAdapter` prop
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-range-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-range-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-range-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-range-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  docs/translations/api-docs/date-picker/date-picker.json
  docs/translations/api-docs/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-time-picker/date-time-picker.json
  docs/translations/api-docs/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/desktop-time-picker/desktop-time-picker.json
  docs/translations/api-docs/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/mobile-date-range-picker/mobile-date-range-picker.json
  docs/translations/api-docs/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/mobile-time-picker/mobile-time-picker.json
  docs/translations/api-docs/static-date-picker/static-date-picker.json
  docs/translations/api-docs/static-date-range-picker/static-date-range-picker.json
  docs/translations/api-docs/static-date-time-picker/static-date-time-picker.json
  docs/translations/api-docs/static-time-picker/static-time-picker.json
  docs/translations/api-docs/time-picker/time-picker.json
  packages/material-ui-lab/src/DatePicker/DatePicker.spec.tsx
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/makeDateRangePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/SharedPickerProps.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/makePickerWithState.tsx
  packages/material-ui-lab/src/internal/pickers/withDateAdapterProp.tsx
Labels: Pickers, breaking change

#25173 [pickers][internal] Use React.forwardRef instead of forwardedRef prop
  packages/material-ui-lab/src/internal/pickers/KeyboardDateInput.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/makePickerWithState.tsx
  packages/material-ui-lab/src/internal/pickers/PureDateInput.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/WrapperProps.ts
Labels: Pickers

#25152 [Radio] Migrate to emotion
  docs/pages/api-docs/radio.json
  docs/src/pages/components/radio-buttons/RadioButtons.js
  docs/src/pages/components/radio-buttons/RadioButtons.tsx
  docs/translations/api-docs/radio/radio.json
  framer/scripts/framerConfig.js
  packages/material-ui/src/Radio/Radio.d.ts
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/Radio/index.d.ts
  packages/material-ui/src/Radio/index.js
  packages/material-ui/src/Radio/radioClasses.d.ts
  packages/material-ui/src/Radio/radioClasses.js
Labels: component: Radio

#25180 [docs] Migrate Bottom Navigation demos to emotion
  docs/src/pages/components/bottom-navigation/FixedBottomNavigation.js
  docs/src/pages/components/bottom-navigation/FixedBottomNavigation.tsx
  docs/src/pages/components/bottom-navigation/LabelBottomNavigation.js
  docs/src/pages/components/bottom-navigation/LabelBottomNavigation.tsx
  docs/src/pages/components/bottom-navigation/SimpleBottomNavigation.js
  docs/src/pages/components/bottom-navigation/SimpleBottomNavigation.tsx
Labels: docs

#25183 [docs] Migrate Pagination demos to emotion
  docs/src/pages/components/dividers/MiddleDividers.js
  docs/src/pages/components/dividers/MiddleDividers.tsx
  docs/src/pages/components/pagination/BasicPagination.js
  docs/src/pages/components/pagination/BasicPagination.tsx
  docs/src/pages/components/pagination/PaginationButtons.js
  docs/src/pages/components/pagination/PaginationButtons.tsx
  docs/src/pages/components/pagination/PaginationControlled.js
  docs/src/pages/components/pagination/PaginationControlled.tsx
  docs/src/pages/components/pagination/PaginationOutlined.js
  docs/src/pages/components/pagination/PaginationOutlined.tsx
  docs/src/pages/components/pagination/PaginationRanges.js
  docs/src/pages/components/pagination/PaginationRanges.tsx
  docs/src/pages/components/pagination/PaginationRounded.js
  docs/src/pages/components/pagination/PaginationRounded.tsx
  docs/src/pages/components/pagination/PaginationSize.js
  docs/src/pages/components/pagination/PaginationSize.tsx
  docs/src/pages/components/pagination/UsePagination.js
  docs/src/pages/components/pagination/UsePagination.tsx
Labels: docs

#25166 [SpeedDial] Migrate to emotion
  docs/pages/api-docs/speed-dial-action.json
  docs/pages/api-docs/speed-dial-icon.json
  docs/pages/api-docs/speed-dial.json
  docs/translations/api-docs/speed-dial-action/speed-dial-action.json
  docs/translations/api-docs/speed-dial-icon/speed-dial-icon.json
  docs/translations/api-docs/speed-dial/speed-dial.json
  packages/material-ui/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/SpeedDial/SpeedDial.test.js
  packages/material-ui/src/SpeedDial/index.d.ts
  packages/material-ui/src/SpeedDial/index.js
  packages/material-ui/src/SpeedDial/speedDialClasses.d.ts
  packages/material-ui/src/SpeedDial/speedDialClasses.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.test.js
  packages/material-ui/src/SpeedDialAction/index.d.ts
  packages/material-ui/src/SpeedDialAction/index.js
  packages/material-ui/src/SpeedDialAction/speedDialActionClasses.d.ts
  packages/material-ui/src/SpeedDialAction/speedDialActionClasses.js
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.test.js
  packages/material-ui/src/SpeedDialIcon/index.d.ts
  packages/material-ui/src/SpeedDialIcon/index.js
  packages/material-ui/src/SpeedDialIcon/speedDialIconClasses.d.ts
  packages/material-ui/src/SpeedDialIcon/speedDialIconClasses.js
Labels: component: SpeedDial

#25164 [docs] Migrate Typography demos to emotion
  docs/src/pages/components/typography/Types.js
  docs/src/pages/components/typography/Types.tsx
  docs/src/pages/components/typography/TypographyTheme.js
  docs/src/pages/components/typography/TypographyTheme.tsx
Labels: docs

#25182 [Table] Use primary cover over secondary for selected state
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  packages/material-ui/src/TableRow/TableRow.js
Labels: breaking change, component: Table, material design

#25191 [docs] Add GlobalStyles API
  docs/pages/api-docs/global-styles.js
  docs/pages/api-docs/global-styles.json
  docs/src/pages/customization/how-to-customize/how-to-customize.md
  docs/src/pagesApi.js
  docs/translations/api-docs/global-styles/global-styles-de.json
  docs/translations/api-docs/global-styles/global-styles-es.json
  docs/translations/api-docs/global-styles/global-styles-fr.json
  docs/translations/api-docs/global-styles/global-styles-ja.json
  docs/translations/api-docs/global-styles/global-styles-pt.json
  docs/translations/api-docs/global-styles/global-styles-ru.json
  docs/translations/api-docs/global-styles/global-styles-zh.json
  docs/translations/api-docs/global-styles/global-styles.json
  packages/material-ui/src/GlobalStyles/GlobalStyles.d.ts
  packages/material-ui/src/GlobalStyles/GlobalStyles.js
Labels: docs

#25209 [test] Improve typescript-to-proptypes test suite
  packages/typescript-to-proptypes/test/index.test.ts
  packages/typescript-to-proptypes/test/typescript-to-proptypes.test.ts
Labels: test

#25220 [docs] Migrate Container demos to emotion
  docs/src/pages/components/container/FixedContainer.js
  docs/src/pages/components/container/FixedContainer.tsx
  docs/src/pages/components/container/SimpleContainer.js
  docs/src/pages/components/container/SimpleContainer.tsx
Labels: component: Container, docs

#25216 [Dialog] Migrate Dialog to emotion
  docs/pages/api-docs/dialog.json
  docs/translations/api-docs/dialog/dialog.json
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/Dialog.test.js
  packages/material-ui/src/Dialog/dialogClasses.d.ts
  packages/material-ui/src/Dialog/dialogClasses.js
  packages/material-ui/src/Dialog/index.d.ts
  packages/material-ui/src/Dialog/index.js
Labels: component: Dialog

#25213 [docs] Migrate Paper demos to emotion
  docs/src/pages/components/paper/SimplePaper.js
  docs/src/pages/components/paper/SimplePaper.tsx
  docs/src/pages/components/paper/Variants.js
  docs/src/pages/components/paper/Variants.tsx
Labels: component: Paper, docs

#25212 [docs] Migrate Skeleton demos to emotion
  docs/src/pages/components/buttons/ContainedButtons.js
  docs/src/pages/components/buttons/ContainedButtons.tsx
  docs/src/pages/components/buttons/IconLabelButtons.js
  docs/src/pages/components/buttons/IconLabelButtons.tsx
  docs/src/pages/components/buttons/LoadingButtons.js
  docs/src/pages/components/buttons/LoadingButtons.tsx
  docs/src/pages/components/buttons/OutlinedButtons.js
  docs/src/pages/components/buttons/OutlinedButtons.tsx
  docs/src/pages/components/buttons/TextButtons.js
  docs/src/pages/components/buttons/TextButtons.tsx
  docs/src/pages/components/buttons/UploadButtons.js
  docs/src/pages/components/buttons/UploadButtons.tsx
  docs/src/pages/components/skeleton/Animations.js
  docs/src/pages/components/skeleton/Animations.tsx
  docs/src/pages/components/skeleton/Facebook.js
  docs/src/pages/components/skeleton/Facebook.tsx
  docs/src/pages/components/skeleton/SkeletonChildren.js
  docs/src/pages/components/skeleton/SkeletonChildren.tsx
  docs/src/pages/components/skeleton/Variants.js
  docs/src/pages/components/skeleton/Variants.tsx
Labels: component: Skeleton, docs

#25188 [docs] Remove dead generatePropTypeDescription method
  docs/scripts/buildApi.ts
  docs/src/modules/utils/generatePropTypeDescription.ts
Labels: core, docs

#25210 [Stepper] Migrate StepContent to emotion
  docs/pages/api-docs/step-content.json
  docs/translations/api-docs/step-content/step-content.json
  packages/material-ui/src/StepContent/StepContent.d.ts
  packages/material-ui/src/StepContent/StepContent.js
  packages/material-ui/src/StepContent/StepContent.test.js
  packages/material-ui/src/StepContent/index.d.ts
  packages/material-ui/src/StepContent/index.js
  packages/material-ui/src/StepContent/stepContentClasses.d.ts
  packages/material-ui/src/StepContent/stepContentClasses.js
  packages/material-ui/src/Stepper/Stepper.test.js
Labels: component: Stepper

#25248 [test] Increase ttp setup timeout
  packages/typescript-to-proptypes/test/typescript-to-proptypes.test.ts
Labels: test

#25249 [test] Convert createClientRender to TypeScript
  package.json
  test/utils/createClientRender.tsx
  tslint.json
  yarn.lock
Labels: test, typescript

#25193 [ttp] Remove .propTypes when the props are empty
  docs/src/pages/guides/composition/Composition.js
  packages/typescript-to-proptypes/src/injector.ts
  packages/typescript-to-proptypes/test/code-order/options.ts
  packages/typescript-to-proptypes/test/propTypes-casting/input.tsx
  packages/typescript-to-proptypes/test/propTypes-casting/output.js
  packages/typescript-to-proptypes/test/reconcile-prop-types/options.ts
Labels: core

#25140 [test] Fix warnings in the demos
  docs/package.json
  docs/src/pages/components/tables/DataTable.tsx
  test/regressions/index.js
  test/regressions/tests/Select/SelectMissingValue.js
  yarn.lock
Labels: test

#25247 [CircularProgress] Fix animation when disableShrink={true}
  packages/material-ui/src/CircularProgress/CircularProgress.js
Labels: bug 🐛, component: CircularProgress

#25253 [docs] Migrate Transfer List demos to emotion
  docs/src/pages/components/transfer-list/SelectAllTransferList.js
  docs/src/pages/components/transfer-list/SelectAllTransferList.tsx
  docs/src/pages/components/transfer-list/TransferList.js
  docs/src/pages/components/transfer-list/TransferList.tsx
Labels: docs

#25252 [docs] Migrate Rating demos to emotion
  docs/src/pages/components/rating/BasicRating.js
  docs/src/pages/components/rating/BasicRating.tsx
  docs/src/pages/components/rating/CustomizedRating.js
  docs/src/pages/components/rating/CustomizedRating.tsx
  docs/src/pages/components/rating/HalfRating.js
  docs/src/pages/components/rating/HalfRating.tsx
  docs/src/pages/components/rating/HoverRating.js
  docs/src/pages/components/rating/HoverRating.tsx
  docs/src/pages/components/rating/RatingSize.js
  docs/src/pages/components/rating/RatingSize.tsx
  docs/src/pages/components/rating/TextRating.js
  docs/src/pages/components/rating/TextRating.tsx
Labels: docs

#25251 [docs] Migrate Fab demos to emotion
  docs/src/pages/components/floating-action-button/FloatingActionButtonExtendedSize.js
  docs/src/pages/components/floating-action-button/FloatingActionButtonExtendedSize.tsx
  docs/src/pages/components/floating-action-button/FloatingActionButtonSize.js
  docs/src/pages/components/floating-action-button/FloatingActionButtonSize.tsx
  docs/src/pages/components/floating-action-button/FloatingActionButtonZoom.js
  docs/src/pages/components/floating-action-button/FloatingActionButtonZoom.tsx
  docs/src/pages/components/floating-action-button/FloatingActionButtons.js
  docs/src/pages/components/floating-action-button/FloatingActionButtons.tsx
  docs/src/pages/components/floating-action-button/floating-action-button.md
  packages/material-ui/src/Fab/Fab.test.js
Labels: component: Fab, docs

#25197 [Popover] Migrate to emotion
  docs/pages/api-docs/popover.json
  docs/translations/api-docs/popover/popover.json
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Popover/index.js
  packages/material-ui/src/Popover/popoverClasses.d.ts
  packages/material-ui/src/Popover/popoverClasses.js
Labels: component: Popover

#25207 [docs] Improve accessibility of the basic menu demo
  docs/src/modules/branding/BrandingPersona.tsx
  docs/src/pages/components/dividers/MiddleDividers.js
  docs/src/pages/components/dividers/MiddleDividers.tsx
  docs/src/pages/components/menus/BasicMenu.js
  docs/src/pages/components/menus/BasicMenu.tsx
  docs/src/pages/components/menus/ContextMenu.js
  docs/src/pages/components/menus/ContextMenu.tsx
  docs/src/pages/components/menus/CustomizedMenus.js
  docs/src/pages/components/menus/CustomizedMenus.tsx
  docs/src/pages/components/menus/FadeMenu.js
  docs/src/pages/components/menus/FadeMenu.tsx
  docs/src/pages/components/menus/LongMenu.js
  docs/src/pages/components/menus/LongMenu.tsx
  docs/src/pages/components/menus/MenuListComposition.js
  docs/src/pages/components/menus/MenuListComposition.tsx
  docs/src/pages/components/menus/MenuPopupState.js
  docs/src/pages/components/menus/MenuPopupState.tsx
  docs/src/pages/components/menus/PositionedMenu.js
  docs/src/pages/components/menus/PositionedMenu.tsx
  docs/src/pages/components/menus/SimpleListMenu.js
  docs/src/pages/components/menus/SimpleListMenu.tsx
  docs/src/pages/components/menus/TypographyMenu.js
  docs/src/pages/components/menus/TypographyMenu.tsx
  docs/src/pages/components/menus/menus.md
Labels: accessibility, component: Menu, docs

#25254 [docs] Add missing props to *DatePicker API
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/translations/api-docs/date-picker/date-picker.json
  docs/translations/api-docs/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/static-date-picker/static-date-picker.json
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-utils/src/visuallyHidden.ts
Labels: docs

#25268 [docs] Migrate Chip demos to emotion
  docs/src/pages/components/chips/Chips.js
  docs/src/pages/components/chips/Chips.tsx
  docs/src/pages/components/chips/ChipsArray.js
  docs/src/pages/components/chips/ChipsArray.tsx
  docs/src/pages/components/chips/OutlinedChips.js
  docs/src/pages/components/chips/OutlinedChips.tsx
  docs/src/pages/components/chips/SmallChips.js
  docs/src/pages/components/chips/SmallChips.tsx
  docs/src/pages/components/chips/SmallOutlinedChips.js
  docs/src/pages/components/chips/SmallOutlinedChips.tsx
Labels: component: Chip, docs

#25267 [Dialog] Migrate DialogContentText to emotion
  docs/pages/api-docs/dialog-content-text.json
  docs/translations/api-docs/dialog-content-text/dialog-content-text.json
  packages/material-ui/src/DialogContentText/DialogContentText.d.ts
  packages/material-ui/src/DialogContentText/DialogContentText.js
  packages/material-ui/src/DialogContentText/DialogContentText.test.js
  packages/material-ui/src/DialogContentText/dialogContentTextClasses.d.ts
  packages/material-ui/src/DialogContentText/dialogContentTextClasses.js
  packages/material-ui/src/DialogContentText/index.js
Labels: component: Dialog

#25266 [docs] Migrate List demos to emotion
  docs/src/pages/components/lists/AlignItemsList.js
  docs/src/pages/components/lists/AlignItemsList.tsx
  docs/src/pages/components/lists/CheckboxList.js
  docs/src/pages/components/lists/CheckboxList.tsx
  docs/src/pages/components/lists/CheckboxListSecondary.js
  docs/src/pages/components/lists/CheckboxListSecondary.tsx
  docs/src/pages/components/lists/FolderList.js
  docs/src/pages/components/lists/FolderList.tsx
  docs/src/pages/components/lists/GutterlessList.js
  docs/src/pages/components/lists/GutterlessList.tsx
  docs/src/pages/components/lists/InsetList.js
  docs/src/pages/components/lists/InsetList.tsx
  docs/src/pages/components/lists/InteractiveList.js
  docs/src/pages/components/lists/InteractiveList.tsx
  docs/src/pages/components/lists/NestedList.js
  docs/src/pages/components/lists/NestedList.tsx
  docs/src/pages/components/lists/PinnedSubheaderList.js
  docs/src/pages/components/lists/PinnedSubheaderList.tsx
  docs/src/pages/components/lists/SelectedListItem.js
  docs/src/pages/components/lists/SelectedListItem.tsx
  docs/src/pages/components/lists/SimpleList.js
  docs/src/pages/components/lists/SimpleList.tsx
  docs/src/pages/components/lists/SwitchListSecondary.js
  docs/src/pages/components/lists/SwitchListSecondary.tsx
  docs/src/pages/components/lists/VirtualizedList.js
  docs/src/pages/components/lists/VirtualizedList.tsx
Labels: component: List, docs

#25255 [Tooltip] Fix placement regression
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: bug 🐛, component: Tooltip

#25245 [Transition] Add easing prop to override default timing function
  docs/pages/api-docs/collapse.json
  docs/pages/api-docs/fade.json
  docs/pages/api-docs/grow.json
  docs/pages/api-docs/slide.json
  docs/pages/api-docs/zoom.json
  docs/translations/api-docs/collapse/collapse.json
  docs/translations/api-docs/fade/fade.json
  docs/translations/api-docs/grow/grow.json
  docs/translations/api-docs/slide/slide.json
  docs/translations/api-docs/zoom/zoom.json
  packages/material-ui/src/Collapse/Collapse.d.ts
  packages/material-ui/src/Collapse/Collapse.js
  packages/material-ui/src/Fade/Fade.d.ts
  packages/material-ui/src/Fade/Fade.js
  packages/material-ui/src/Grow/Grow.d.ts
  packages/material-ui/src/Grow/Grow.js
  packages/material-ui/src/Slide/Slide.d.ts
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/Zoom/Zoom.d.ts
  packages/material-ui/src/Zoom/Zoom.js
  packages/material-ui/src/transitions/transition.d.ts
  packages/material-ui/src/transitions/utils.js
Labels: component: Transition, enhancement

#25276 [Autocomplete] Fix styleOverrides support
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, component: Autocomplete

#25281 [Stepper] Migrate StepIcon to emotion
  docs/pages/api-docs/step-icon.json
  docs/translations/api-docs/step-icon/step-icon.json
  packages/material-ui/src/StepIcon/StepIcon.d.ts
  packages/material-ui/src/StepIcon/StepIcon.js
  packages/material-ui/src/StepIcon/StepIcon.test.js
  packages/material-ui/src/StepIcon/index.d.ts
  packages/material-ui/src/StepIcon/index.js
  packages/material-ui/src/StepIcon/stepIconClasses.d.ts
  packages/material-ui/src/StepIcon/stepIconClasses.js
  packages/material-ui/src/StepLabel/StepLabel.test.js
Labels: component: Stepper

#25224 [Pagination] Warn when not providing an integer to the 'count' prop
  docs/pages/api-docs/pagination.json
  docs/src/modules/utils/generatePropTypeDescription.ts
  packages/material-ui-utils/src/index.ts
  packages/material-ui-utils/src/integerPropType.js
  packages/material-ui-utils/src/integerPropType.test.js
  packages/material-ui/src/Pagination/Pagination.js
Labels: component: Pagination, enhancement

#25287 [Dialog] Fix typo
  packages/material-ui/src/Dialog/Dialog.js
Labels: component: Dialog

#25285 [docs] Add the new demo page
  docs/src/pages.js
Labels: docs

#25284 [docs] Add the new demo page for the data grid
  docs/src/pages.ts
  docs/translations/translations.json
Labels: docs

#25297 [test] Minor improvements to `describeConformance`
  test/utils/describeConformance.js
Labels: test

#25262 [docs] Bring clarity about the IE 11 support policy: it's partial
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
Labels: docs

#25301 [docs] Migrate Image List to emotion
  docs/src/pages/components/image-list/CustomImageList.js
  docs/src/pages/components/image-list/CustomImageList.tsx
  docs/src/pages/components/image-list/MasonryImageList.js
  docs/src/pages/components/image-list/MasonryImageList.tsx
  docs/src/pages/components/image-list/QuiltedImageList.js
  docs/src/pages/components/image-list/QuiltedImageList.tsx
  docs/src/pages/components/image-list/StandardImageList.js
  docs/src/pages/components/image-list/StandardImageList.tsx
  docs/src/pages/components/image-list/TitlebarBelowImageList.js
  docs/src/pages/components/image-list/TitlebarBelowImageList.tsx
  docs/src/pages/components/image-list/TitlebarBelowMasonryImageList.js
  docs/src/pages/components/image-list/TitlebarBelowMasonryImageList.tsx
  docs/src/pages/components/image-list/TitlebarImageList.js
  docs/src/pages/components/image-list/TitlebarImageList.tsx
  docs/src/pages/components/image-list/WovenImageList.js
  docs/src/pages/components/image-list/WovenImageList.tsx
Labels: component: ImageList, docs

#25172 [pickers] Remove `make*` HOCs
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  docs/translations/api-docs/date-picker/date-picker.json
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/makeDateRangePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/makePickerWithState.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/makeWrapperComponent.tsx
Labels: Pickers

#25306 [core] Drop support for node 10
  .browserslistrc
  .circleci/config.yml
  azure-pipelines.yml
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  netlify.toml
  package.json
Labels: breaking change

#25315 [core] Use Promise.allSettled over .all where appropriate
  docs/scripts/buildApi.ts
  scripts/generateProptypes.ts
  scripts/jsonlint.js
  tsconfig.json
Labels: core

#25259 [SpeedDial] Reset tooltip state when the speed dial is closed
  packages/material-ui/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/SpeedDial/SpeedDial.test.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.js
  test/utils/fireDiscreteEvent.js
Labels: bug 🐛, component: SpeedDial

#25330 [core] Batch small changes
  .mocharc.js
  docs/package.json
  docs/public/_redirects
  docs/src/pages/components/material-icons/material-icons.md
  docs/src/pages/components/speed-dial/speed-dial.md
  netlify.toml
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
  packages/material-ui/src/Accordion/Accordion.test.js
  packages/material-ui/src/Backdrop/Backdrop.test.js
  packages/material-ui/src/Collapse/Collapse.test.js
  packages/material-ui/src/Fade/Fade.test.js
  packages/material-ui/src/Grow/Grow.test.js
  packages/material-ui/src/ListItem/ListItem.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Slide/Slide.test.js
  packages/material-ui/src/Snackbar/Snackbar.test.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.test.js
  packages/material-ui/src/StepContent/StepContent.test.js
  packages/material-ui/src/StepLabel/StepLabel.test.js
  packages/material-ui/src/Stepper/Stepper.test.js
  packages/material-ui/src/Tooltip/Tooltip.test.js
  packages/material-ui/src/Zoom/Zoom.test.js
Labels: core, umbrella

#25303 [docs] Migrate Links to emotion
  docs/src/pages/components/links/Links.js
  docs/src/pages/components/links/Links.tsx
  docs/src/pages/components/links/UnderlineLink.js
  docs/src/pages/components/links/UnderlineLink.tsx
Labels: component: Link, docs

#25333 [docs] Migrate Toggle Button to emotion
  docs/src/pages/components/toggle-button/ToggleButtonNotEmpty.js
  docs/src/pages/components/toggle-button/ToggleButtonNotEmpty.tsx
Labels: component: ToggleButton, docs

#25323 [ButtonBase] Fix default type attribute (submit -> button)
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: bug 🐛, component: ButtonBase

#25332 [docs] Migrate Grid to emotion
  docs/src/pages/components/grid/AutoGrid.js
  docs/src/pages/components/grid/AutoGrid.tsx
  docs/src/pages/components/grid/AutoGridNoWrap.js
  docs/src/pages/components/grid/AutoGridNoWrap.tsx
  docs/src/pages/components/grid/CSSGrid.js
  docs/src/pages/components/grid/CSSGrid.tsx
  docs/src/pages/components/grid/CenteredGrid.js
  docs/src/pages/components/grid/CenteredGrid.tsx
  docs/src/pages/components/grid/ComplexGrid.js
  docs/src/pages/components/grid/ComplexGrid.tsx
  docs/src/pages/components/grid/FullWidthGrid.js
  docs/src/pages/components/grid/FullWidthGrid.tsx
  docs/src/pages/components/grid/InteractiveGrid.js
  docs/src/pages/components/grid/InteractiveGrid.tsx
  docs/src/pages/components/grid/NestedGrid.js
  docs/src/pages/components/grid/NestedGrid.tsx
  docs/src/pages/components/grid/SpacingGrid.js
  docs/src/pages/components/grid/SpacingGrid.tsx
Labels: component: Grid, docs

#25335 [docs] Migrate AppBar demos to emotion
  docs/src/pages/components/app-bar/BackToTop.js
  docs/src/pages/components/app-bar/BackToTop.tsx
  docs/src/pages/components/app-bar/BottomAppBar.js
  docs/src/pages/components/app-bar/BottomAppBar.tsx
  docs/src/pages/components/app-bar/ButtonAppBar.js
  docs/src/pages/components/app-bar/ButtonAppBar.tsx
  docs/src/pages/components/app-bar/DenseAppBar.js
  docs/src/pages/components/app-bar/DenseAppBar.tsx
  docs/src/pages/components/app-bar/MenuAppBar.js
  docs/src/pages/components/app-bar/MenuAppBar.tsx
  docs/src/pages/components/app-bar/PrimarySearchAppBar.js
  docs/src/pages/components/app-bar/PrimarySearchAppBar.tsx
  docs/src/pages/components/app-bar/ProminentAppBar.js
  docs/src/pages/components/app-bar/ProminentAppBar.tsx
  docs/src/pages/components/app-bar/SearchAppBar.js
  docs/src/pages/components/app-bar/SearchAppBar.tsx
  docs/src/pages/components/app-bar/app-bar.md
Labels: component: AppBar, docs

#25334 [docs] Refine the used prop-type to discriminate number from integer
  docs/pages/api-docs/autocomplete.json
  docs/pages/api-docs/breadcrumbs.json
  docs/pages/api-docs/drawer.json
  docs/pages/api-docs/image-list-item.json
  docs/pages/api-docs/image-list.json
  docs/pages/api-docs/mobile-stepper.json
  docs/pages/api-docs/pagination-item.json
  docs/pages/api-docs/pagination.json
  docs/pages/api-docs/paper.json
  docs/pages/api-docs/popover.json
  docs/pages/api-docs/step.json
  docs/pages/api-docs/stepper.json
  docs/pages/api-docs/table-pagination.json
  docs/src/modules/utils/generatePropTypeDescription.ts
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/ImageList/ImageList.js
  packages/material-ui/src/ImageListItem/ImageListItem.js
  packages/material-ui/src/MobileStepper/MobileStepper.js
  packages/material-ui/src/Pagination/Pagination.js
  packages/material-ui/src/PaginationItem/PaginationItem.d.ts
  packages/material-ui/src/PaginationItem/PaginationItem.js
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Step/Step.js
  packages/material-ui/src/Stepper/Stepper.js
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: component: Pagination, docs

#25286 [TextField] Migrate to emotion
  docs/pages/api-docs/text-field.json
  docs/translations/api-docs/text-field/text-field.json
  framer/scripts/framerConfig.js
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/TextField/TextField.js
  packages/material-ui/src/TextField/TextField.test.js
  packages/material-ui/src/TextField/index.js
  packages/material-ui/src/TextField/textFieldClasses.d.ts
  packages/material-ui/src/TextField/textFieldClasses.js
Labels: component: TextField

#25279 [TextField] Migrate InputAdornment to emotion
  docs/pages/api-docs/input-adornment.json
  docs/translations/api-docs/input-adornment/input-adornment.json
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/InputAdornment/InputAdornment.d.ts
  packages/material-ui/src/InputAdornment/InputAdornment.js
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
  packages/material-ui/src/InputAdornment/index.d.ts
  packages/material-ui/src/InputAdornment/index.js
  packages/material-ui/src/InputAdornment/inputAdornmentClasses.d.ts
  packages/material-ui/src/InputAdornment/inputAdornmentClasses.js
Labels: component: TextField

#25367 [docs] Migrate SpeedDial to emotion
  docs/src/pages/components/speed-dial/BasicSpeedDial.js
  docs/src/pages/components/speed-dial/BasicSpeedDial.tsx
  docs/src/pages/components/speed-dial/ControlledOpenSpeedDial.js
  docs/src/pages/components/speed-dial/ControlledOpenSpeedDial.tsx
  docs/src/pages/components/speed-dial/OpenIconSpeedDial.js
  docs/src/pages/components/speed-dial/OpenIconSpeedDial.tsx
  docs/src/pages/components/speed-dial/PlaygroundSpeedDial.js
  docs/src/pages/components/speed-dial/PlaygroundSpeedDial.tsx
  docs/src/pages/components/speed-dial/SpeedDialTooltipOpen.js
  docs/src/pages/components/speed-dial/SpeedDialTooltipOpen.tsx
  docs/src/pages/components/speed-dial/speed-dial.md
Labels: component: SpeedDial, docs

#25264 [Menu] Migrate to emotion
  docs/pages/api-docs/menu.json
  docs/translations/api-docs/menu/menu.json
  packages/material-ui/src/Menu/Menu.d.ts
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Menu/index.js
  packages/material-ui/src/Menu/menuClasses.d.ts
  packages/material-ui/src/Menu/menuClasses.js
Labels: component: Menu

#25373 [docs] Use `env` next config over DefinePlugin
  docs/next.config.js
  docs/package.json
  package.json
  yarn.lock
Labels: docs

#25369 [pickers] Simplify internals of *Wrapper components
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/makeDateRangePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/DesktopTooltipWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/DesktopWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/MobileWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/ResponsiveWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/StaticWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/Wrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/WrapperProps.ts
Labels: Pickers

#25378 [utils] Allow functional updates in TypeScript declaration of useControlled
  packages/material-ui-utils/src/useControlled.d.ts
Labels: enhancement, package: utils, typescript

#25386 [docs] Consolidate environment variables into next.config
  docs/next.config.js
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/constants.js
  docs/src/modules/utils/helpers.js
  docs/src/modules/utils/helpers.test.js
Labels: docs

#25384 [doc] Fix typo in migration-v4.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#25383 [docs] Fix multiline textfields docs to use minRows/maxRows
  docs/src/pages/components/text-fields/text-fields.md
Labels: component: TextField, docs

#25393 [Select] Fix focus background when variant="outlined"
  packages/material-ui/src/NativeSelect/NativeSelect.js
Labels: bug 🐛, component: Select

#25398 [Radio] Fix html structure
  packages/material-ui/src/Radio/RadioButtonIcon.js
Labels: bug 🐛, component: Radio

#25258 [website] Add pricing page
  docs/pages/branding/about.tsx
  docs/pages/branding/pricing.tsx
  docs/public/static/branding/block5.svg
  docs/public/static/branding/card.png
  docs/public/static/branding/pricing/avatar.svg
  docs/public/static/branding/pricing/community.svg
  docs/public/static/branding/pricing/coursera.svg
  docs/public/static/branding/pricing/customizable.svg
  docs/public/static/branding/pricing/documentation.svg
  docs/public/static/branding/pricing/dropdown.svg
  docs/public/static/branding/pricing/fast.svg
  docs/public/static/branding/pricing/nasa.svg
  docs/public/static/branding/pricing/netflix-enterprise.svg
  docs/public/static/branding/pricing/premium.svg
  docs/public/static/branding/pricing/pro.svg
  docs/public/static/branding/pricing/rectangle.jpg
  docs/public/static/branding/pricing/shutterstock.svg
  docs/public/static/branding/x/card.png
  docs/src/modules/branding/BrandingBulletItem.tsx
  docs/src/modules/branding/BrandingCard.tsx
  docs/src/modules/branding/BrandingHeader.tsx
  docs/src/modules/branding/BrandingRoot.tsx
  docs/src/modules/branding/ComparisonTable.tsx
  docs/src/modules/branding/StartMaterialCard.tsx
  docs/src/modules/branding/icons/CircleClose.js
  docs/src/modules/branding/icons/Close.js
  docs/src/modules/branding/icons/Dropdown.js
  docs/src/modules/branding/icons/Pending.js
  docs/src/modules/branding/icons/Watch.js
  docs/src/modules/components/Head.js
Labels: website

#25388 [Slider] Add `tabIndex` prop
  docs/pages/api-docs/slider-unstyled.json
  docs/pages/api-docs/slider.json
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/slider/slider.json
  framer/Material-UI.framerfx/code/Slider.tsx
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: component: Slider, enhancement

#25402 [benchmark] Set intended environment
  babel.config.js
  benchmark/browser/README.md
  benchmark/browser/webpack.config.js
Labels: core

#25406 [test] Transpile more similar to prod bundle
  babel.config.js
  test/utils/mochaHooks.test.js
Labels: test

#25385 [core] Bump missed node versions
  azure-pipelines.yml
  test/utils/initMatchers.test.js
Labels: core

#25410 [docs] Update icon link to fonts.google.com
  docs/src/pages/components/icons/icons.md
  docs/src/pages/components/material-icons/material-icons.md
  docs/src/pages/getting-started/installation/installation.md
  packages/material-ui-icons/README.md
Labels: docs

#25331 [ButtonBase] Allow to customize the link component via theme
  docs/pages/api-docs/button-base.json
  docs/pages/guides/routing.js
  docs/src/pages.ts
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/links/Links.js
  docs/src/pages/components/links/Links.tsx
  docs/src/pages/components/links/UnderlineLink.js
  docs/src/pages/components/links/UnderlineLink.tsx
  docs/src/pages/components/links/links.md
  docs/src/pages/components/lists/lists.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/guides/routing/ButtonDemo.js
  docs/src/pages/guides/routing/ButtonDemo.tsx
  docs/src/pages/guides/routing/ButtonRouter.js
  docs/src/pages/guides/routing/ButtonRouter.tsx
  docs/src/pages/guides/routing/LinkDemo.js
  docs/src/pages/guides/routing/LinkDemo.tsx
  docs/src/pages/guides/routing/LinkRouter.js
  docs/src/pages/guides/routing/LinkRouter.tsx
  docs/src/pages/guides/routing/LinkRouterWithTheme.js
  docs/src/pages/guides/routing/LinkRouterWithTheme.tsx
  docs/src/pages/guides/routing/ListRouter.js
  docs/src/pages/guides/routing/ListRouter.tsx
  docs/src/pages/guides/routing/routing.md
  docs/src/pages/guides/typescript/typescript.md
  docs/translations/api-docs/button-base/button-base.json
  docs/translations/translations.json
  examples/nextjs-with-typescript/README.md
  examples/nextjs/README.md
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  test/docs-regressions-before.png
  test/docs-regressions-diff.png
Labels: component: ButtonBase, enhancement

#25394 [docs] Migrate Checkbox demos to emotion
  docs/src/pages/components/checkboxes/CheckboxLabels.js
  docs/src/pages/components/checkboxes/CheckboxLabels.tsx
  docs/src/pages/components/checkboxes/Checkboxes.js
  docs/src/pages/components/checkboxes/Checkboxes.tsx
  docs/src/pages/components/checkboxes/CheckboxesGroup.js
  docs/src/pages/components/checkboxes/CheckboxesGroup.tsx
  docs/src/pages/components/checkboxes/ColorCheckboxes.js
  docs/src/pages/components/checkboxes/ColorCheckboxes.tsx
  docs/src/pages/components/checkboxes/ControlledCheckbox.js
  docs/src/pages/components/checkboxes/ControlledCheckbox.tsx
  docs/src/pages/components/checkboxes/CustomizedCheckbox.js
  docs/src/pages/components/checkboxes/CustomizedCheckbox.tsx
  docs/src/pages/components/checkboxes/FormControlLabelPosition.js
  docs/src/pages/components/checkboxes/FormControlLabelPosition.tsx
  docs/src/pages/components/checkboxes/IconCheckboxes.js
  docs/src/pages/components/checkboxes/IconCheckboxes.tsx
  docs/src/pages/components/checkboxes/IndeterminateCheckbox.js
  docs/src/pages/components/checkboxes/IndeterminateCheckbox.tsx
  docs/src/pages/components/checkboxes/SizeCheckboxes.js
  docs/src/pages/components/checkboxes/SizeCheckboxes.tsx
  docs/src/pages/components/checkboxes/checkboxes.md
Labels: docs

#25311 [Autocomplete] Warn when the input didn't resolve in time
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.test.js
Labels: bug 🐛, component: Autocomplete

#25414 [Table] Consistency with DataTable
  packages/material-ui/src/TableRow/TableRow.js
Labels: component: Table, material design

#25413 [ButtonGroup] Support custom colors
  docs/pages/api-docs/button-group.json
  packages/material-ui/src/ButtonGroup/ButtonGroup.d.ts
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: component: ButtonGroup, enhancement

#25390 [ToggleButton] Add color prop
  docs/pages/api-docs/toggle-button-group.json
  docs/pages/api-docs/toggle-button.json
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/pages/components/toggle-button/ColorToggleButton.js
  docs/src/pages/components/toggle-button/ColorToggleButton.tsx
  docs/src/pages/components/toggle-button/CustomizedDividers.js
  docs/src/pages/components/toggle-button/CustomizedDividers.tsx
  docs/src/pages/components/toggle-button/ToggleButtonSizes.js
  docs/src/pages/components/toggle-button/ToggleButtonSizes.tsx
  docs/src/pages/components/toggle-button/toggle-button.md
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  docs/translations/api-docs/toggle-button/toggle-button.json
  packages/material-ui/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/ToggleButton/ToggleButton.test.js
  packages/material-ui/src/ToggleButton/toggleButtonClasses.js
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: component: ToggleButton, enhancement

#25309 [Table] Fix duplicated keys in TablePagination rows per page
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
Labels: bug 🐛, component: Table

#25423 [TextField] Size small for multiline
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  test/regressions/tests/TextField/MultilineTextField.js
Labels: bug 🐛, component: TextField

#25426 [Paper] Fix component prop type error
  packages/material-ui/src/AppBar/AppBar.d.ts
  packages/material-ui/src/AppBar/AppBar.js
  packages/material-ui/src/Paper/Paper.d.ts
  packages/material-ui/src/Paper/Paper.spec.tsx
Labels: bug 🐛, component: Paper, typescript

#25453 [Drawer] Fix RTL support
  docs/src/modules/components/DemoSandboxed.js
  docs/src/pages/components/drawers/ResponsiveDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.tsx
  packages/material-ui/src/Drawer/Drawer.js
Labels: bug 🐛, component: Drawer

#25372 [Stepper] Migrate StepLabel to emotion
  docs/pages/api-docs/step-label.json
  docs/translations/api-docs/step-label/step-label.json
  packages/material-ui/src/Step/Step.test.js
  packages/material-ui/src/StepButton/StepButton.test.js
  packages/material-ui/src/StepLabel/StepLabel.d.ts
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/StepLabel/StepLabel.test.js
  packages/material-ui/src/StepLabel/index.d.ts
  packages/material-ui/src/StepLabel/index.js
  packages/material-ui/src/StepLabel/stepLabelClasses.d.ts
  packages/material-ui/src/StepLabel/stepLabelClasses.js
Labels: component: Stepper, enhancement

#25455 [Tooltip] Make `disableFocusListener` prop comment clearer
  docs/translations/api-docs/tooltip/tooltip.json
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: component: Tooltip, docs

#25457 [docs] Support RTL with styled components
  docs/package.json
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/DemoSandboxed.js
  docs/src/modules/utils/StyledEngineProvider.js
  yarn.lock
Labels: bug 🐛, docs

#25424 [internal][pickers] Follow "private by default" in makeDateRangePicker
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/makeDateRangePicker.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
Labels: Pickers

#25418 [docs] Use defaultCodeOpen where appropriate
  docs/src/pages/guides/interoperability/StyledComponentsDeep.js
  docs/src/pages/guides/interoperability/StyledComponentsDeep.tsx
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#25416 [core] Switch to React 17
  babel.config.js
  benchmark/package.json
  docs/package.json
  docs/src/pages/guides/interoperability/EmotionCSS.js
  docs/src/pages/guides/interoperability/EmotionCSS.tsx
  package.json
  scripts/use-react-dist-tag.js
  test/utils/init.js
  tsconfig.json
  yarn.lock
Labels: core

#25431 [Snackbar] Fix prop type error for 'key' prop
  docs/pages/api-docs/snackbar.json
  docs/src/modules/utils/generatePropTypeDescription.ts
  packages/material-ui/src/Snackbar/Snackbar.js
  packages/typescript-to-proptypes/src/generator.ts
  packages/typescript-to-proptypes/test/injector/should-include-filename-based/output.js
Labels: bug 🐛, component: Snackbar

#25405 [test] Create end-to-end testing CI job
  .circleci/config.yml
  package.json
  packages/material-ui-unstyled/src/Unstable_TrapFocus/Unstable_TrapFocus.js
  packages/material-ui-unstyled/src/Unstable_TrapFocus/Unstable_TrapFocus.test.js
  test/README.md
  test/e2e/.mocharc.js
  test/e2e/README.md
  test/e2e/TestViewer.js
  test/e2e/index.js
  test/e2e/index.test.ts
  test/e2e/serve.json
  test/e2e/template.html
  test/e2e/tests/Unstable_TrapFocus/OpenTrapFocus.tsx
  test/e2e/webpack.config.js
  test/tsconfig.json
  test/utils/createClientRender.tsx
  test/utils/user-event/index.js
  test/utils/user-event/index.test.js
Labels: test

#25468 [utils] Fix useForkRef typings rejecting nullish
  packages/material-ui-utils/src/useForkRef.d.ts
  packages/material-ui-utils/src/useForkRef.ts
Labels: package: utils, typescript

#25464 [core] Drop support for React 16
  babel.config.js
  framer/Material-UI.framerfx/package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-styled-engine/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui-unstyled/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
  yarn.lock
Labels: core

#25473 [pickers][internal] Sort properties
  packages/material-ui-lab/src/DayPicker/PickersCalendar.tsx
  packages/material-ui-lab/src/DayPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/DayPicker/PickersFadeTransitionGroup.tsx
  packages/material-ui-lab/src/DayPicker/PickersSlideTransition.tsx
  packages/material-ui-lab/src/DayPicker/useCalendarState.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.tsx
  packages/material-ui-lab/src/YearPicker/PickersYear.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/SharedPickerProps.tsx
  packages/material-ui-lab/src/internal/pickers/PureDateInput.tsx
  packages/material-ui-lab/src/internal/pickers/date-utils.ts
  packages/material-ui-lab/src/internal/pickers/hooks/useMaskedInput.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/usePickerState.ts
  packages/material-ui-lab/src/internal/pickers/hooks/useViews.tsx
  packages/material-ui-lab/src/internal/pickers/typings/BasePicker.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/DesktopTooltipWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/Wrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/WrapperProps.ts
Labels: Pickers

#25469 [Tabs] Don't animate scroll on first render
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: component: Tabs, enhancement

#25412 [docs] Migrate Icons demos to emotion
  docs/pages/_document.js
  docs/src/pages/components/icons/CreateSvgIcon.js
  docs/src/pages/components/icons/CreateSvgIcon.tsx
  docs/src/pages/components/icons/FontAwesomeIcon.js
  docs/src/pages/components/icons/FontAwesomeIcon.tsx
  docs/src/pages/components/icons/FontAwesomeIconSize.js
  docs/src/pages/components/icons/FontAwesomeIconSize.tsx
  docs/src/pages/components/icons/FontAwesomeSvgIconDemo.js
  docs/src/pages/components/icons/FontAwesomeSvgIconDemo.tsx
  docs/src/pages/components/icons/Icons.js
  docs/src/pages/components/icons/Icons.tsx
  docs/src/pages/components/icons/SvgIconsColor.js
  docs/src/pages/components/icons/SvgIconsColor.tsx
  docs/src/pages/components/icons/SvgIconsSize.js
  docs/src/pages/components/icons/SvgIconsSize.tsx
  docs/src/pages/components/icons/SvgMaterialIcons.js
  docs/src/pages/components/icons/SvgMaterialIcons.tsx
  docs/src/pages/components/icons/icons.md
Labels: docs

#25470 [DateRangePickerInput][internal] Inline `makeDateRangePicker` calls
  docs/pages/api-docs/date-range-picker.json
  docs/pages/api-docs/desktop-date-range-picker.json
  docs/pages/api-docs/mobile-date-range-picker.json
  docs/pages/api-docs/static-date-range-picker.json
  docs/scripts/buildApi.ts
  docs/src/modules/utils/defaultPropsHandler.js
  docs/src/modules/utils/findAnnotatedComponentsResolver.js
  docs/types/react-docgen.d.ts
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerView.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/material-ui-lab/src/DateRangePicker/index.ts
  packages/material-ui-lab/src/DateRangePicker/makeDateRangePicker.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/usePickerState.ts
  packages/material-ui-lab/src/internal/pickers/wrappers/DesktopTooltipWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/DesktopWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/MobileWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/Wrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/WrapperProps.ts
Labels: component: DateRangePicker

#25476 [test] Wait on e2e server to start before starting runner
  test/e2e/index.test.ts
Labels: test

#25483 [StaticDateRangePicker] Fix inconsistent name for theme props
  .eslintrc.js
  packages/eslint-plugin-material-ui/src/index.js
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.js
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.test.js
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
Labels: breaking change, component: DateRangePicker

#25484 [Stack] Fix the :not selector
  packages/material-ui/src/Stack/Stack.js
  packages/material-ui/src/Stack/Stack.test.js
Labels: bug 🐛, component: Stack

#25491 [docs] Fix Stack divider demo
  docs/src/pages/components/stack/DividerStack.js
  docs/src/pages/components/stack/DividerStack.tsx
Labels: bug 🐛, component: Stack, docs

#25488 [docs] Migrate Transitions demos to emotion
  docs/src/pages/components/transitions/SimpleCollapse.js
  docs/src/pages/components/transitions/SimpleCollapse.tsx
  docs/src/pages/components/transitions/SimpleFade.js
  docs/src/pages/components/transitions/SimpleFade.tsx
  docs/src/pages/components/transitions/SimpleGrow.js
  docs/src/pages/components/transitions/SimpleGrow.tsx
  docs/src/pages/components/transitions/SimpleSlide.js
  docs/src/pages/components/transitions/SimpleSlide.tsx
  docs/src/pages/components/transitions/SimpleZoom.js
  docs/src/pages/components/transitions/SimpleZoom.tsx
Labels: docs

#25487 [docs] Cover change of React support
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#25501 [core] Update the codesandbox issue templates
  docs/public/_redirects
Labels: core

#25504 [DateRangePicker] Fix props naming in DatePicker components
  docs/src/pages/components/date-picker/CustomDay.js
  docs/src/pages/components/date-picker/CustomDay.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/material-ui-lab/src/DayPicker/PickersCalendar.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
Labels: bug 🐛, component: DateRangePicker

#25507 [docs] Migrate ClickAwayListener demos to emotion
  docs/src/pages/components/click-away-listener/ClickAway.js
  docs/src/pages/components/click-away-listener/ClickAway.tsx
  docs/src/pages/components/click-away-listener/LeadingClickAway.js
  docs/src/pages/components/click-away-listener/LeadingClickAway.tsx
  docs/src/pages/components/click-away-listener/PortalClickAway.js
  docs/src/pages/components/click-away-listener/PortalClickAway.tsx
Labels: component: ClickAwayListener, docs

#25506 [docs] Migrate NoSSR demos to emotion
  docs/src/pages/components/no-ssr/FrameDeferring.js
  docs/src/pages/components/no-ssr/FrameDeferring.tsx
  docs/src/pages/components/no-ssr/SimpleNoSsr.js
  docs/src/pages/components/no-ssr/SimpleNoSsr.tsx
  docs/src/pages/components/no-ssr/no-ssr.md
Labels: docs

#25505 [docs] Migrate Portal demos to emotion
  docs/src/pages/components/portal/SimplePortal.js
  docs/src/pages/components/portal/SimplePortal.tsx
Labels: component: Portal, docs

#25503 [Grid] Support decimal spacing
  docs/pages/api-docs/grid.json
  docs/pages/api-docs/stack.json
  docs/src/pages/components/grid/SpacingGrid.js
  docs/src/pages/components/grid/SpacingGrid.tsx
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/stack/InteractiveStack.js
  docs/src/pages/components/stack/InteractiveStack.tsx
  docs/src/pages/components/stack/stack.md
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
  packages/material-ui/src/Stack/Stack.d.ts
  packages/material-ui/src/Stack/Stack.js
Labels: component: Grid, enhancement

#25498 [pickers][internal] Move own internals from lab internals to dedicated file
  docs/pages/api-docs/clock-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumber.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPickerStandalone.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPointer.tsx
  packages/material-ui-lab/src/ClockPicker/index.ts
  packages/material-ui-lab/src/ClockPicker/shared.ts
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerToolbar.tsx
  packages/material-ui-lab/src/DatePicker/shared.ts
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/material-ui-lab/src/DateTimePicker/shared.ts
  packages/material-ui-lab/src/DayPicker/DayPicker.tsx
  packages/material-ui-lab/src/DayPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/DayPicker/index.ts
  packages/material-ui-lab/src/DayPicker/shared.ts
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/constants/ClockType.ts
  packages/material-ui-lab/src/internal/pickers/constants/dimensions.ts
  packages/material-ui-lab/src/internal/pickers/date-utils.ts
  packages/material-ui-lab/src/internal/pickers/time-utils.ts
  packages/material-ui-lab/src/internal/pickers/typings/Views.ts
  packages/material-ui-lab/src/internal/pickers/typings/helpers.ts
Labels: Pickers

#25509 [SpeedDial] Call focus on escape
  packages/material-ui/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/SpeedDial/SpeedDial.test.js
Labels: bug 🐛, component: SpeedDial

#25512 [core] Use latest TypeScript in typescript-to-proptypes
  docs/src/pages/premium-themes/onepirate/modules/form/FormButton.js
  packages/typescript-to-proptypes/package.json
  packages/typescript-to-proptypes/src/parser.ts
  scripts/generateProptypes.ts
  yarn.lock
Labels: core

#25526 [Stack] Add component prop
  docs/pages/api-docs/stack.json
  docs/translations/api-docs/stack/stack.json
  packages/material-ui/src/Stack/Stack.js
Labels: bug 🐛, component: Stack

#25524 [Backdrop] Remove z-index: -1
  docs/pages/api-docs/dialog.json
  docs/src/pages/components/modal/ServerModal.js
  docs/src/pages/components/modal/ServerModal.tsx
  docs/translations/api-docs/dialog/dialog.json
  packages/material-ui/src/Backdrop/Backdrop.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Modal/Modal.js
Labels: bug 🐛, component: Backdrop

#25521 [Stepper] Migrate Stepper to emotion
  docs/pages/api-docs/stepper.json
  docs/translations/api-docs/stepper/stepper.json
  packages/material-ui/src/Stepper/Stepper.d.ts
  packages/material-ui/src/Stepper/Stepper.js
  packages/material-ui/src/Stepper/Stepper.test.js
  packages/material-ui/src/Stepper/index.d.ts
  packages/material-ui/src/Stepper/index.js
  packages/material-ui/src/Stepper/stepperClasses.d.ts
  packages/material-ui/src/Stepper/stepperClasses.js
Labels: component: Stepper

#25530 [Autocomplete] Fix TypeScript wrapper example
  packages/material-ui/src/Autocomplete/Autocomplete.spec.tsx
Labels: component: Autocomplete, typescript

#25516 [Stepper] Migrate StepButton to emotion
  docs/pages/api-docs/step-button.json
  docs/translations/api-docs/step-button/step-button.json
  packages/material-ui/src/Step/Step.test.js
  packages/material-ui/src/StepButton/StepButton.d.ts
  packages/material-ui/src/StepButton/StepButton.js
  packages/material-ui/src/StepButton/StepButton.test.js
  packages/material-ui/src/StepButton/index.d.ts
  packages/material-ui/src/StepButton/index.js
  packages/material-ui/src/StepButton/stepButtonClasses.d.ts
  packages/material-ui/src/StepButton/stepButtonClasses.js
Labels: component: Stepper

#25535 [Tooltip] Fix forwarded classes
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: bug 🐛, component: Tooltip

#25536 [Autocomplete] Fix Async demo in docs
  docs/src/pages/components/autocomplete/Asynchronous.js
  docs/src/pages/components/autocomplete/Asynchronous.tsx
Labels: component: Autocomplete, docs

#25534 [docs] Update minimizing-bundle-size.md
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs

#25532 [List] Remove background inheritance of ListSubheader
  docs/src/pages/components/lists/PinnedSubheaderList.js
  docs/src/pages/components/lists/PinnedSubheaderList.tsx
  docs/src/pages/components/lists/lists.md
  docs/src/pages/components/tables/tables.md
  packages/material-ui/src/ListSubheader/ListSubheader.js
Labels: component: List

#25489 [docs] Improve coverage of TypeScript theme augmentation
  docs/src/modules/branding/BrandingRoot.tsx
  docs/src/pages/customization/palette/palette.md
  docs/src/pages/customization/theming/CustomStyles.js
  docs/src/pages/customization/theming/CustomStyles.tsx
  docs/src/pages/customization/theming/theming.md
Labels: docs, typescript

#25542 [docs] Document changing skeleton color
  docs/src/pages/components/skeleton/SkeletonColor.js
  docs/src/pages/components/skeleton/SkeletonColor.tsx
  docs/src/pages/components/skeleton/skeleton.md
Labels: component: Skeleton, docs

#25541 [CssBaseline] Migrate ScopedCssBaseline to emotion
  docs/pages/api-docs/scoped-css-baseline.json
  docs/translations/api-docs/scoped-css-baseline/scoped-css-baseline.json
  packages/material-ui/src/ScopedCssBaseline/ScopedCssBaseline.d.ts
  packages/material-ui/src/ScopedCssBaseline/ScopedCssBaseline.js
  packages/material-ui/src/ScopedCssBaseline/ScopedCssBaseline.test.js
  packages/material-ui/src/ScopedCssBaseline/index.d.ts
  packages/material-ui/src/ScopedCssBaseline/index.js
  packages/material-ui/src/ScopedCssBaseline/scopedCssBaselineClasses.d.ts
  packages/material-ui/src/ScopedCssBaseline/scopedCssBaselineClasses.js
Labels: component: CssBaseline

#25543 [Avatar] Remove circle variant deprecation
  packages/material-ui/src/Avatar/Avatar.js
  packages/material-ui/src/Avatar/Avatar.test.js
Labels: bug 🐛, component: Avatar

#25551 [docs] Fix <kbd> style in dark mode
  docs/src/modules/components/MarkdownElement.js
Labels: docs

#25554 [docs] Migrate Menu demos to emotion
  docs/src/pages/components/menus/CustomizedMenus.js
  docs/src/pages/components/menus/CustomizedMenus.tsx
  docs/src/pages/components/menus/SimpleListMenu.js
  docs/src/pages/components/menus/SimpleListMenu.tsx
Labels: component: Menu, docs

#25545 [Select] Set aria-expanded to false when listbox is collapsed
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: accessibility, component: Select, enhancement

#25490 [website] Fix layout shift and improve purpose
  docs/pages/branding/about.tsx
  docs/pages/branding/pricing.tsx
  docs/src/modules/branding/BrandingRoot.tsx
  docs/src/modules/branding/UnderlinedText.tsx
Labels: website

#25561 [docs] Fix typo in data grid
  docs/src/pages/components/tables/tables.md
Labels: PR: out-of-date, component: Table, docs

#25547 [Slider] Allow disabling the left and right thumbs swap
  docs/pages/api-docs/slider-unstyled.json
  docs/pages/api-docs/slider.json
  docs/src/pages/components/slider/MinimumDistanceSlider.js
  docs/src/pages/components/slider/MinimumDistanceSlider.tsx
  docs/src/pages/components/slider/slider.md
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/slider/slider.json
  framer/Material-UI.framerfx/code/Slider.tsx
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: component: Slider, enhancement

#25456 [AppBar] Fix type support of overridable component
  docs/src/pages/components/snackbars/CustomizedSnackbars.tsx
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
  packages/material-ui/src/AppBar/AppBar.d.ts
  packages/material-ui/src/AppBar/AppBar.js
  packages/material-ui/src/AppBar/AppBar.spec.tsx
  packages/material-ui/src/Paper/Paper.d.ts
  packages/material-ui/test/typescript/components.spec.tsx
Labels: component: AppBar, typescript

#25537 [Card] Add component prop support
  packages/material-ui/src/Card/Card.d.ts
  packages/material-ui/src/Card/Card.test.tsx
Labels: component: Card, typescript
