Repository mui/material-ui, pull requests merged in 2021-05, with the labels that each got.

#26065 [docs] Add links for demo in different deploys
  docs/next.config.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoToolbar.js
Labels: docs

#26074 [internal][pickers] Move validation from config to module
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/date-time-utils.ts
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/date-time-utils.ts
  packages/material-ui-lab/src/internal/pickers/date-utils.ts
  packages/material-ui-lab/src/internal/pickers/hooks/useValidation.ts
Labels: performance, pickers

#25860 [test] testing-library patterns for playwright tests
  test/e2e/index.js
  test/e2e/index.test.ts
  test/utils/initPlaywrightMatchers.ts
Labels: test

#26075 [internal][pickers] Explicit default toolbar components
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
Labels: pickers

#26071 [docs] Remove `makeStyles` dependency from core in modules
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdDisplay.js
  docs/src/modules/components/AdReadthedocs.js
  docs/src/modules/components/AppContainer.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandboxed.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/Notifications.js
Labels: docs

#26081 [core] ComponentType -> JSXElementConstructor
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
  packages/material-ui-lab/src/internal/pickers/typings/BasePicker.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/DesktopWrapper.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/MobileWrapper.tsx
  packages/material-ui-styles/src/StylesProvider/StylesProvider.d.ts
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/src/withTheme/withTheme.d.ts
  packages/material-ui-utils/src/requirePropFactory.d.ts
  packages/material-ui/src/Accordion/Accordion.d.ts
  packages/material-ui/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui/src/ButtonBase/TouchRipple.d.ts
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Hidden/Hidden.d.ts
  packages/material-ui/src/Hidden/HiddenCss.d.ts
  packages/material-ui/src/Hidden/HiddenJs.d.ts
  packages/material-ui/src/NativeSelect/NativeSelectInput.d.ts
  packages/material-ui/src/OutlinedInput/NotchedOutline.d.ts
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/SpeedDial/SpeedDial.d.ts
  packages/material-ui/src/StepContent/StepContent.d.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TablePagination/TablePaginationActions.d.ts
  packages/material-ui/src/TableSortLabel/TableSortLabel.d.ts
  packages/material-ui/src/Tooltip/Tooltip.d.ts
  packages/material-ui/src/internal/SwitchBase.d.ts
  packages/material-ui/src/styles/experimentalStyled.d.ts
  packages/material-ui/src/styles/styled.d.ts
  packages/typescript-to-proptypes/src/parser.ts
Labels: core

#26083 [core] Batch small changes
  docs/pages/branding/pricing.tsx
  docs/src/modules/branding/ComparisonTable.tsx
  docs/src/modules/components/DemoToolbar.js
  docs/src/pages/getting-started/templates/blog/FeaturedPost.js
  docs/src/pages/getting-started/templates/blog/FeaturedPost.tsx
  docs/src/pages/getting-started/templates/blog/Main.js
  docs/src/pages/getting-started/templates/blog/Main.tsx
  docs/src/pages/getting-started/templates/blog/MainFeaturedPost.js
  docs/src/pages/getting-started/templates/blog/MainFeaturedPost.tsx
  docs/src/pages/getting-started/templates/blog/Markdown.js
  docs/src/pages/getting-started/templates/blog/Markdown.tsx
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: core, umbrella

#26077 [docs] Consistent type name in docs
  docs/src/pages/components/app-bar/app-bar.md
  docs/src/pages/components/autocomplete/autocomplete.md
  docs/src/pages/components/radio-buttons/radio-buttons.md
  docs/src/pages/components/use-media-query/use-media-query.md
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/customization/theming/theming.md
  docs/src/pages/customization/transitions/transitions.md
  docs/src/pages/styles/api/api.md
Labels: docs

#26093 [docs] Normalize name use for state in pickers demo
  docs/src/pages/components/date-picker/LocalizedDatePicker.js
  docs/src/pages/components/date-picker/LocalizedDatePicker.tsx
  docs/src/pages/components/date-picker/SubComponentsPickers.js
  docs/src/pages/components/date-picker/SubComponentsPickers.tsx
  docs/src/pages/components/date-range-picker/CustomDateRangeInputs.js
  docs/src/pages/components/date-range-picker/CustomDateRangeInputs.tsx
  docs/src/pages/components/date-range-picker/CustomDateRangePickerDay.js
  docs/src/pages/components/date-range-picker/CustomDateRangePickerDay.tsx
  docs/src/pages/components/pickers/MaterialUIPickers.js
  docs/src/pages/components/pickers/MaterialUIPickers.tsx
  docs/src/pages/components/time-picker/LocalizedTimePicker.js
  docs/src/pages/components/time-picker/LocalizedTimePicker.tsx
  docs/src/pages/components/time-picker/SubComponentsTimePickers.js
  docs/src/pages/components/time-picker/SubComponentsTimePickers.tsx
Labels: docs, pickers

#26055 [pickers] Rely on native behavior for disabled/readOnly behavior
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerInput.tsx
  packages/material-ui-lab/src/internal/pickers/KeyboardDateInput.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/usePickerState.ts
Labels: accessibility, pickers

#26090 [internal][pickers] Move useInterceptProps into module
  .eslintrc.js
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.js
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.test.js
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DatePicker/shared.ts
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/shared.ts
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/TimePicker/shared.tsx
Labels: performance, pickers

#26095 [docs] Fix 301 link to store
  docs/public/_redirects
  docs/src/pages/components/date-range-picker/date-range-picker.md
Labels: bug 🐛, docs

#26092 [Dialog] Improve support for custom breakpoints
  packages/material-ui/src/Dialog/Dialog.js
Labels: component: Dialog, enhancement

#26121 [pickers] Fix ref types
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
Labels: pickers, typescript

#26120 [internal][pickers] Pass desktop wrapper props explicitly
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
Labels: pickers

#26101 [core] Remove `styled` from `@material-ui/styles` in core
  docs/src/modules/components/AppFooter.js
  docs/src/pages/css-in-js/basics/AdaptingHook.js
  docs/src/pages/css-in-js/basics/AdaptingHook.tsx
  docs/src/pages/css-in-js/basics/AdaptingStyledComponents.js
  docs/src/pages/css-in-js/basics/AdaptingStyledComponents.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/production-error/ErrorDecoder.js
  docs/src/pages/styles/api/api.md
  docs/src/pages/styles/basics/AdaptingStyledComponents.js
  docs/src/pages/styles/basics/AdaptingStyledComponents.tsx
  docs/src/pages/styles/basics/StyledComponents.js
  docs/src/pages/styles/basics/StyledComponents.tsx
  docs/src/pages/styles/basics/basics.md
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/PickerView.tsx
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
  packages/material-ui/src/styles/styled.d.ts
  packages/material-ui/src/styles/styled.js
  packages/material-ui/test/typescript/styles.spec.tsx
  scripts/buildTypes.js
Labels: breaking change, package: styles

#26113 [Box] Remove render prop
  docs/src/pages/components/box/BoxRenderProps.js
  docs/src/pages/components/box/BoxRenderProps.tsx
  docs/src/pages/components/box/box.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Box/Box.d.ts
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/Box/Box.test.js
Labels: breaking change, component: Box

#26128 [test] Add test for behavior when picker variant changes
  test/regressions/fixtures/pickers/UncontrolledDateTimePicker.tsx
  test/regressions/index.test.js
Labels: pickers, test

#26129 [docs] Explicitly describe how the media query affects the rendered version
  docs/src/pages/components/date-picker/date-picker.md
  docs/src/pages/components/date-range-picker/date-range-picker.md
  docs/src/pages/components/date-time-picker/date-time-picker.md
  docs/src/pages/components/time-picker/time-picker.md
Labels: docs, pickers

#25883 [TextField] Allow to customize Typography in FormControlLabel
  docs/pages/api-docs/form-control-label.json
  docs/translations/api-docs/form-control-label/form-control-label.json
  packages/material-ui/src/FormControlLabel/FormControlLabel.d.ts
  packages/material-ui/src/FormControlLabel/FormControlLabel.js
  packages/material-ui/src/FormControlLabel/FormControlLabel.test.js
Labels: component: TextField, enhancement

#26115 [TextField] Fix missing `standard` variant classes in types
  docs/pages/api-docs/input-adornment.json
  docs/pages/api-docs/input-label.json
  docs/pages/api-docs/native-select.json
  docs/pages/api-docs/select.json
  docs/translations/api-docs/input-adornment/input-adornment.json
  docs/translations/api-docs/input-label/input-label.json
  docs/translations/api-docs/native-select/native-select.json
  docs/translations/api-docs/select/select.json
  packages/material-ui/src/InputAdornment/InputAdornment.d.ts
  packages/material-ui/src/InputAdornment/InputAdornment.js
  packages/material-ui/src/InputAdornment/inputAdornmentClasses.js
  packages/material-ui/src/InputLabel/InputLabel.d.ts
  packages/material-ui/src/InputLabel/inputLabelClasses.js
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/nativeSelectClasses.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/selectClasses.js
Labels: component: TextField, typescript

#26118 [pickers] Remove customization of internal components
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.test.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersCalendar.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersFadeTransitionGroup.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersSlideTransition.tsx
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumber.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPointer.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerToolbar.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/material-ui-lab/src/MonthPicker/PickersMonth.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.test.tsx
  packages/material-ui-lab/src/YearPicker/PickersYear.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/PickersArrowSwitcher.tsx
  packages/material-ui-lab/src/internal/pickers/PickersModalDialog.tsx
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
  packages/material-ui-lab/src/internal/pickers/PickersToolbar.tsx
  packages/material-ui-lab/src/internal/pickers/PickersToolbarButton.tsx
  packages/material-ui-lab/src/internal/pickers/PickersToolbarText.tsx
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
Labels: breaking change, pickers

#26140 [docs] More explicit breakpoint documentation in `sx`
  docs/src/pages/components/box/box.md
  docs/src/pages/customization/how-to-customize/how-to-customize.md
  docs/src/pages/system/advanced/advanced.md
  docs/src/pages/system/basics/BreakpointsAsObject.js
  docs/src/pages/system/basics/BreakpointsAsObject.tsx
  docs/src/pages/system/basics/basics.md
Labels: docs

#26116 [core] Improve `react@experimental` compat
  docs/babel.config.js
  test/e2e/.mocharc.js
  test/e2e/index.js
  test/e2e/index.test.ts
  test/regressions/.mocharc.js
  test/regressions/index.js
  test/utils/initPlaywrightMatchers.ts
  test/utils/setupBabelPlaywright.js
Labels: core

#26146 [docs] Migrate TreeView demos
  docs/src/pages/components/tree-view/BarTreeView.js
  docs/src/pages/components/tree-view/BarTreeView.tsx
  docs/src/pages/components/tree-view/ControlledTreeView.js
  docs/src/pages/components/tree-view/ControlledTreeView.tsx
  docs/src/pages/components/tree-view/CustomizedTreeView.js
  docs/src/pages/components/tree-view/CustomizedTreeView.tsx
  docs/src/pages/components/tree-view/DisabledTreeItems.js
  docs/src/pages/components/tree-view/DisabledTreeItems.tsx
  docs/src/pages/components/tree-view/FileSystemNavigator.js
  docs/src/pages/components/tree-view/FileSystemNavigator.tsx
  docs/src/pages/components/tree-view/GmailTreeView.js
  docs/src/pages/components/tree-view/GmailTreeView.tsx
  docs/src/pages/components/tree-view/IconExpansionTreeView.js
  docs/src/pages/components/tree-view/IconExpansionTreeView.tsx
  docs/src/pages/components/tree-view/MultiSelectTreeView.js
  docs/src/pages/components/tree-view/MultiSelectTreeView.tsx
  docs/src/pages/components/tree-view/RichObjectTreeView.js
  docs/src/pages/components/tree-view/RichObjectTreeView.tsx
Labels: component: TreeView, docs

#26131 [docs] Update templates, premium-themes to use `makeStyles` from `@material-ui/styles`
  docs/src/pages/getting-started/templates/checkout/Checkout.js
  docs/src/pages/getting-started/templates/checkout/Checkout.tsx
  docs/src/pages/getting-started/templates/checkout/Review.js
  docs/src/pages/getting-started/templates/checkout/Review.tsx
  docs/src/pages/getting-started/templates/dashboard/Dashboard.js
  docs/src/pages/getting-started/templates/dashboard/Dashboard.tsx
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/templates/pricing/Pricing.tsx
  docs/src/pages/premium-themes/onepirate/ForgotPassword.js
  docs/src/pages/premium-themes/onepirate/ForgotPassword.tsx
  docs/src/pages/premium-themes/onepirate/SignIn.js
  docs/src/pages/premium-themes/onepirate/SignIn.tsx
  docs/src/pages/premium-themes/onepirate/SignUp.js
  docs/src/pages/premium-themes/onepirate/SignUp.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.tsx
Labels: docs

#26126 [docs] Remove `@material-ui/core/styles` from the styles pages
  docs/src/pages/styles/advanced/GlobalCss.js
  docs/src/pages/styles/advanced/GlobalCss.tsx
  docs/src/pages/styles/advanced/HybridGlobalCss.js
  docs/src/pages/styles/advanced/HybridGlobalCss.tsx
  docs/src/pages/styles/advanced/ThemeNesting.js
  docs/src/pages/styles/advanced/ThemeNesting.tsx
  docs/src/pages/styles/advanced/Theming.js
  docs/src/pages/styles/advanced/Theming.tsx
  docs/src/pages/styles/advanced/UseTheme.js
  docs/src/pages/styles/advanced/UseTheme.tsx
  docs/src/pages/styles/basics/AdaptingHOC.js
  docs/src/pages/styles/basics/AdaptingHOC.tsx
  docs/src/pages/styles/basics/AdaptingHook.js
  docs/src/pages/styles/basics/AdaptingHook.tsx
  docs/src/pages/styles/basics/HigherOrderComponent.js
  docs/src/pages/styles/basics/HigherOrderComponent.tsx
  docs/src/pages/styles/basics/Hook.js
  docs/src/pages/styles/basics/Hook.tsx
  docs/src/pages/styles/basics/NestedStylesHook.js
  docs/src/pages/styles/basics/NestedStylesHook.tsx
  docs/src/pages/styles/basics/StressTest.js
  docs/src/pages/styles/basics/StressTest.tsx
Labels: docs

#26127 [docs] Migrate Autocomplete demos
  docs/src/pages/components/autocomplete/Asynchronous.js
  docs/src/pages/components/autocomplete/Asynchronous.tsx
  docs/src/pages/components/autocomplete/ComboBox.js
  docs/src/pages/components/autocomplete/ComboBox.tsx
  docs/src/pages/components/autocomplete/ControllableStates.js
  docs/src/pages/components/autocomplete/ControllableStates.tsx
  docs/src/pages/components/autocomplete/CountrySelect.js
  docs/src/pages/components/autocomplete/CountrySelect.tsx
  docs/src/pages/components/autocomplete/CustomInputAutocomplete.js
  docs/src/pages/components/autocomplete/CustomInputAutocomplete.tsx
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/DisabledOptions.js
  docs/src/pages/components/autocomplete/DisabledOptions.tsx
  docs/src/pages/components/autocomplete/Filter.js
  docs/src/pages/components/autocomplete/Filter.tsx
  docs/src/pages/components/autocomplete/FreeSolo.js
  docs/src/pages/components/autocomplete/FreeSolo.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/components/autocomplete/GoogleMaps.js
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/autocomplete/Grouped.js
  docs/src/pages/components/autocomplete/Grouped.tsx
  docs/src/pages/components/autocomplete/Highlights.js
  docs/src/pages/components/autocomplete/Highlights.tsx
  docs/src/pages/components/autocomplete/LimitTags.js
  docs/src/pages/components/autocomplete/LimitTags.tsx
  docs/src/pages/components/autocomplete/Playground.js
  docs/src/pages/components/autocomplete/Playground.tsx
  docs/src/pages/components/autocomplete/Sizes.js
  docs/src/pages/components/autocomplete/Sizes.tsx
  docs/src/pages/components/autocomplete/Tags.js
  docs/src/pages/components/autocomplete/Tags.tsx
  docs/src/pages/components/autocomplete/UseAutocomplete.js
  docs/src/pages/components/autocomplete/UseAutocomplete.tsx
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
Labels: component: Autocomplete, docs

#26135 [Hidden] Remove component
  docs/pages/api-docs/hidden.js
  docs/pages/api-docs/hidden.json
  docs/pages/components/hidden.js
  docs/src/modules/branding/ComparisonTable.tsx
  docs/src/modules/components/AppNavDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.js
  docs/src/pages/components/drawers/ResponsiveDrawer.tsx
  docs/src/pages/components/hidden/BreakpointDown.js
  docs/src/pages/components/hidden/BreakpointDown.tsx
  docs/src/pages/components/hidden/BreakpointOnly.js
  docs/src/pages/components/hidden/BreakpointOnly.tsx
  docs/src/pages/components/hidden/BreakpointUp.js
  docs/src/pages/components/hidden/BreakpointUp.tsx
  docs/src/pages/components/hidden/GridIntegration.js
  docs/src/pages/components/hidden/GridIntegration.tsx
  docs/src/pages/components/hidden/hidden-de.md
  docs/src/pages/components/hidden/hidden-es.md
  docs/src/pages/components/hidden/hidden-fr.md
  docs/src/pages/components/hidden/hidden-ja.md
  docs/src/pages/components/hidden/hidden-pt.md
  docs/src/pages/components/hidden/hidden-ru.md
  docs/src/pages/components/hidden/hidden-zh.md
  docs/src/pages/components/hidden/hidden.md
  docs/src/pages/components/use-media-query/use-media-query.md
  docs/src/pages/getting-started/templates/blog/FeaturedPost.js
  docs/src/pages/getting-started/templates/blog/FeaturedPost.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.tsx
  docs/src/pages/premium-themes/paperbase/Header.js
  docs/src/pages/premium-themes/paperbase/Header.tsx
  docs/src/pages/premium-themes/paperbase/Paperbase.js
  docs/src/pages/premium-themes/paperbase/Paperbase.tsx
  docs/src/pagesApi.js
  docs/translations/api-docs/hidden/hidden-de.json
  docs/translations/api-docs/hidden/hidden-es.json
  docs/translations/api-docs/hidden/hidden-fr.json
  docs/translations/api-docs/hidden/hidden-ja.json
  docs/translations/api-docs/hidden/hidden-pt.json
  docs/translations/api-docs/hidden/hidden-ru.json
  docs/translations/api-docs/hidden/hidden-zh.json
  docs/translations/api-docs/hidden/hidden.json
  packages/material-ui/src/Hidden/Hidden.d.ts
  packages/material-ui/src/Hidden/Hidden.js
  packages/material-ui/src/Hidden/Hidden.test.js
  packages/material-ui/src/Hidden/HiddenCss.d.ts
  packages/material-ui/src/Hidden/HiddenCss.js
  packages/material-ui/src/Hidden/HiddenCss.test.js
  packages/material-ui/src/Hidden/HiddenJs.d.ts
  packages/material-ui/src/Hidden/HiddenJs.js
  packages/material-ui/src/Hidden/HiddenJs.test.js
  packages/material-ui/src/Hidden/hiddenCssClasses.js
  packages/material-ui/src/Hidden/index.d.ts
  packages/material-ui/src/Hidden/index.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: breaking change, component: Hidden

#26096 [docs] Add new customized switch examples
  docs/src/pages/components/switches/CustomizedSwitches.js
  docs/src/pages/components/switches/CustomizedSwitches.tsx
Labels: component: Switch, docs

#26125 [core] Update typings for theme's components
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/variants.d.ts
Labels: typescript

#26130 [docs] Remove `makeStyles` from landing pages
  docs/src/pages/customization/breakpoints/MediaQuery.js
  docs/src/pages/customization/breakpoints/MediaQuery.tsx
  docs/src/pages/customization/how-to-customize/DynamicClassName.js
  docs/src/pages/customization/how-to-customize/DynamicClassName.tsx
  docs/src/pages/customization/how-to-customize/how-to-customize.md
  docs/src/pages/customization/palette/Intentions.js
  docs/src/pages/customization/theme-components/GlobalThemeVariants.js
  docs/src/pages/customization/theme-components/GlobalThemeVariants.tsx
  docs/src/pages/discover-more/languages/Languages.js
  docs/src/pages/landing/Pro.js
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/Quotes.js
  docs/src/pages/landing/Sponsors.js
  docs/src/pages/landing/Steps.js
  docs/src/pages/landing/Themes.js
  docs/src/pages/landing/Users.js
Labels: docs, package: styles

#26162 [docs] Migrate Dialog demos to emotion
  docs/src/pages/components/dialogs/ConfirmationDialog.js
  docs/src/pages/components/dialogs/ConfirmationDialog.tsx
  docs/src/pages/components/dialogs/CustomizedDialogs.js
  docs/src/pages/components/dialogs/CustomizedDialogs.tsx
  docs/src/pages/components/dialogs/FullScreenDialog.js
  docs/src/pages/components/dialogs/FullScreenDialog.tsx
  docs/src/pages/components/dialogs/MaxWidthDialog.js
  docs/src/pages/components/dialogs/MaxWidthDialog.tsx
  docs/src/pages/components/dialogs/SimpleDialog.js
  docs/src/pages/components/dialogs/SimpleDialog.tsx
Labels: component: Dialog, docs

#26170 [Tabs] Fix support for null children in TabList
  docs/pages/api-docs/tab-list.json
  packages/material-ui-lab/src/TabList/TabList.d.ts
  packages/material-ui-lab/src/TabList/TabList.js
  packages/material-ui-lab/src/TabList/TabList.test.js
Labels: bug 🐛, component: Tabs

#26165 [docs] Migrate Tooltip, Steppers demos to emotion
  docs/src/pages/components/steppers/CustomizedSteppers.js
  docs/src/pages/components/steppers/CustomizedSteppers.tsx
  docs/src/pages/components/steppers/DotsMobileStepper.js
  docs/src/pages/components/steppers/DotsMobileStepper.tsx
  docs/src/pages/components/steppers/HorizontalLinearAlternativeLabelStepper.js
  docs/src/pages/components/steppers/HorizontalLinearAlternativeLabelStepper.tsx
  docs/src/pages/components/steppers/HorizontalLinearStepper.js
  docs/src/pages/components/steppers/HorizontalLinearStepper.tsx
  docs/src/pages/components/steppers/HorizontalNonLinearStepper.js
  docs/src/pages/components/steppers/HorizontalNonLinearStepper.tsx
  docs/src/pages/components/steppers/HorizontalStepperWithError.js
  docs/src/pages/components/steppers/HorizontalStepperWithError.tsx
  docs/src/pages/components/steppers/ProgressMobileStepper.js
  docs/src/pages/components/steppers/ProgressMobileStepper.tsx
  docs/src/pages/components/steppers/SwipeableTextMobileStepper.js
  docs/src/pages/components/steppers/SwipeableTextMobileStepper.tsx
  docs/src/pages/components/steppers/TextMobileStepper.js
  docs/src/pages/components/steppers/TextMobileStepper.tsx
  docs/src/pages/components/steppers/VerticalLinearStepper.js
  docs/src/pages/components/steppers/VerticalLinearStepper.tsx
  docs/src/pages/components/tooltips/CustomizedTooltips.js
  docs/src/pages/components/tooltips/CustomizedTooltips.tsx
  docs/src/pages/components/tooltips/PositionedTooltips.js
  docs/src/pages/components/tooltips/PositionedTooltips.tsx
  docs/src/pages/components/tooltips/VariableWidth.js
  docs/src/pages/components/tooltips/VariableWidth.tsx
Labels: docs

#26160 [docs] Fixed React.forwardRef missing display name ESLint error
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/guides/routing/ListRouter.js
  docs/src/pages/guides/routing/ListRouter.tsx
Labels: docs

#26159 [Table] Synchronize horizontal sticky header position with body
  packages/material-ui/src/TableCell/TableCell.js
Labels: bug 🐛, component: Table

#25690 [docs] Fix dynamic global styles
  docs/package.json
  docs/pages/_document.js
  package.json
  yarn.lock
Labels: bug 🐛, docs

#26171 [theme] Remove `MuiThemeProvider` alias
  docs/src/pages/guides/migration-v4/migration-v4.md
  framer/Material-UI.framerfx/code/ThemeProvider.tsx
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
Labels: breaking change

#26172 [Autocomplete] Rename values of the reason argument
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
Labels: breaking change, component: Autocomplete

#26179 [core] Link to experimental size-comparison page
  dangerfile.js
Labels: core

#26175 [docs] Migrate Tabs, Table, Snackbar demos to emotion
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.js
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.tsx
  docs/src/pages/components/snackbars/CustomizedSnackbars.js
  docs/src/pages/components/snackbars/CustomizedSnackbars.tsx
  docs/src/pages/components/snackbars/FabIntegrationSnackbar.js
  docs/src/pages/components/snackbars/FabIntegrationSnackbar.tsx
  docs/src/pages/components/snackbars/LongTextSnackbar.js
  docs/src/pages/components/snackbars/LongTextSnackbar.tsx
  docs/src/pages/components/tables/AcccessibleTable.js
  docs/src/pages/components/tables/AcccessibleTable.tsx
  docs/src/pages/components/tables/BasicTable.js
  docs/src/pages/components/tables/BasicTable.tsx
  docs/src/pages/components/tables/CollapsibleTable.js
  docs/src/pages/components/tables/CollapsibleTable.tsx
  docs/src/pages/components/tables/ColumnGroupingTable.js
  docs/src/pages/components/tables/ColumnGroupingTable.tsx
  docs/src/pages/components/tables/CustomPaginationActionsTable.js
  docs/src/pages/components/tables/CustomPaginationActionsTable.tsx
  docs/src/pages/components/tables/CustomizedTables.js
  docs/src/pages/components/tables/CustomizedTables.tsx
  docs/src/pages/components/tables/DenseTable.js
  docs/src/pages/components/tables/DenseTable.tsx
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/components/tables/SpanningTable.js
  docs/src/pages/components/tables/SpanningTable.tsx
  docs/src/pages/components/tables/StickyHeadTable.js
  docs/src/pages/components/tables/StickyHeadTable.tsx
  docs/src/pages/components/tabs/FullWidthTabs.js
  docs/src/pages/components/tabs/FullWidthTabs.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonVisible.js
  docs/src/pages/components/tabs/ScrollableTabsButtonVisible.tsx
  docs/src/pages/components/tabs/VerticalTabs.js
  docs/src/pages/components/tabs/VerticalTabs.tsx
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/src/pages/styles/api/api.md
  docs/src/pages/styles/basics/basics.md
  packages/material-ui/src/TableCell/tableCellClasses.d.ts
Labels: docs

#26193 [docs] Fix Workbox that are causing infinite loading of site
  docs/pages/_app.js
Labels: bug 🐛, docs

#26169 [docs] Improve react-admin coverage in the showcase
  docs/public/static/images/showcase/atomiccrm.jpg
  docs/public/static/images/showcase/posters-galore.jpg
  docs/src/pages/discover-more/showcase/Showcase.js
  docs/src/pages/discover-more/showcase/appList.js
Labels: docs

#25989 [pickers] Migrate PickersToolbarButton to emotion
  packages/material-ui-lab/src/internal/pickers/PickersToolbarButton.tsx
Labels: breaking change, pickers

#26189 [ButtonBase] Omit aria-disabled if not disabled
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: accessibility, bug 🐛, component: Checkbox

#26177 [examples] Fix dynamic global styles & global styles leak in the ssr examples
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
  examples/ssr/server.js
Labels: docs

#26161 [docs] Ensure TreeView demos don't overflow demo container
  docs/src/pages/components/tree-view/ControlledTreeView.js
  docs/src/pages/components/tree-view/ControlledTreeView.tsx
  docs/src/pages/components/tree-view/CustomizedTreeView.js
  docs/src/pages/components/tree-view/CustomizedTreeView.tsx
  docs/src/pages/components/tree-view/DisabledTreeItems.js
  docs/src/pages/components/tree-view/DisabledTreeItems.tsx
  docs/src/pages/components/tree-view/FileSystemNavigator.js
  docs/src/pages/components/tree-view/FileSystemNavigator.tsx
  docs/src/pages/components/tree-view/GmailTreeView.js
  docs/src/pages/components/tree-view/GmailTreeView.tsx
  docs/src/pages/components/tree-view/IconExpansionTreeView.js
  docs/src/pages/components/tree-view/IconExpansionTreeView.tsx
  docs/src/pages/components/tree-view/MultiSelectTreeView.js
  docs/src/pages/components/tree-view/MultiSelectTreeView.tsx
  docs/src/pages/components/tree-view/RichObjectTreeView.js
  docs/src/pages/components/tree-view/RichObjectTreeView.tsx
Labels: component: TreeView, docs

#26191 [docs] Remove remnants Hidden component
  docs/src/pages.ts
  docs/src/pages/components/drawers/drawers.md
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/guides/responsive-ui/responsive-ui.md
  docs/translations/translations.json
Labels: docs

#26233 [docs] Use public next/router events API
  docs/src/modules/components/AppFrame.js
Labels: docs

#26196 [colors] Fix A color inconsistencies
  docs/public/static/colors-preview/grey-A100-24x24.svg
  docs/public/static/colors-preview/grey-A200-24x24.svg
  docs/public/static/colors-preview/grey-A400-24x24.svg
  packages/material-ui/src/colors/grey.d.ts
  packages/material-ui/src/colors/grey.js
Labels: material design

#26098 [styled-engine] Fix styled-components not supporting empty style
  packages/material-ui-styled-engine-sc/package.json
  packages/material-ui-styled-engine-sc/src/index.js
  packages/material-ui-styled-engine-sc/src/styled.test.js
  packages/material-ui-styled-engine/src/index.js
  packages/material-ui-styled-engine/src/styled.test.js
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/StepContent/StepContent.js
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: bug 🐛, package: styled-engine

#26228 [styles] Fix overrides type issues
  docs/src/modules/branding/BrandingHeader.tsx
  docs/src/pages/components/drawers/MiniDrawer.tsx
  docs/src/pages/components/drawers/PersistentDrawerLeft.tsx
  docs/src/pages/components/drawers/PersistentDrawerRight.tsx
  docs/src/pages/components/grid/AutoGrid.js
  docs/src/pages/components/grid/AutoGrid.tsx
  docs/src/pages/components/grid/BasicGrid.js
  docs/src/pages/components/grid/BasicGrid.tsx
  docs/src/pages/components/grid/CSSGrid.js
  docs/src/pages/components/grid/CSSGrid.tsx
  docs/src/pages/components/grid/ColumnsGrid.js
  docs/src/pages/components/grid/ColumnsGrid.tsx
  docs/src/pages/components/grid/FullWidthGrid.js
  docs/src/pages/components/grid/FullWidthGrid.tsx
  docs/src/pages/components/grid/NestedGrid.js
  docs/src/pages/components/grid/NestedGrid.tsx
  docs/src/pages/components/menus/CustomizedMenus.tsx
  docs/src/pages/components/paper/Elevation.js
  docs/src/pages/components/paper/Elevation.tsx
  docs/src/pages/components/stack/BasicStack.js
  docs/src/pages/components/stack/BasicStack.tsx
  docs/src/pages/components/stack/DirectionStack.js
  docs/src/pages/components/stack/DirectionStack.tsx
  docs/src/pages/components/stack/DividerStack.js
  docs/src/pages/components/stack/DividerStack.tsx
  docs/src/pages/components/stack/ResponsiveStack.js
  docs/src/pages/components/stack/ResponsiveStack.tsx
  docs/src/pages/components/typography/TypographyTheme.tsx
  packages/material-ui/src/styles/createMixins.d.ts
  packages/material-ui/src/styles/createMixins.spec.ts
  packages/material-ui/src/styles/createTheme.spec.ts
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/src/styles/createTypography.spec.ts
  packages/material-ui/src/styles/experimentalStyled.d.ts
  packages/material-ui/src/styles/experimentalStyled.spec.tsx
  packages/material-ui/src/styles/overrides.d.ts
Labels: typescript

#25995 [pickers] Migrate PickersDay to emotion
  docs/pages/api-docs/date-range-picker-day.json
  docs/pages/api-docs/pickers-day.json
  docs/translations/api-docs/date-range-picker-day/date-range-picker-day.json
  docs/translations/api-docs/pickers-day/pickers-day.json
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.test.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.tsx
  packages/material-ui-lab/src/PickersDay/index.ts
Labels: pickers

#26184 [docs] Improve documentation for Buttons
  docs/src/pages/components/buttons/BasicButtons.js
  docs/src/pages/components/buttons/BasicButtons.tsx
  docs/src/pages/components/buttons/ButtonSizes.js
  docs/src/pages/components/buttons/ButtonSizes.tsx
  docs/src/pages/components/buttons/ColorButtons.js
  docs/src/pages/components/buttons/ColorButtons.tsx
  docs/src/pages/components/buttons/ContainedButtons.js
  docs/src/pages/components/buttons/ContainedButtons.tsx
  docs/src/pages/components/buttons/CustomizedButtons.js
  docs/src/pages/components/buttons/CustomizedButtons.tsx
  docs/src/pages/components/buttons/IconLabelButtons.js
  docs/src/pages/components/buttons/IconLabelButtons.tsx
  docs/src/pages/components/buttons/LoadingButtons.js
  docs/src/pages/components/buttons/LoadingButtons.tsx
  docs/src/pages/components/buttons/LoadingButtonsTransition.js
  docs/src/pages/components/buttons/LoadingButtonsTransition.tsx
  docs/src/pages/components/buttons/OutlinedButtons.js
  docs/src/pages/components/buttons/OutlinedButtons.tsx
  docs/src/pages/components/buttons/TextButtons.js
  docs/src/pages/components/buttons/TextButtons.tsx
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/text-fields/BasicTextFields.js
  docs/src/pages/components/text-fields/BasicTextFields.tsx
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/customization/palette/CustomColor.js
  docs/src/pages/customization/palette/CustomColor.tsx
  docs/src/pages/customization/palette/palette.md
Labels: component: Button, docs

#26021 [pickers] Migrate PickersMonth to emotion
  packages/material-ui-lab/src/MonthPicker/PickersMonth.tsx
Labels: pickers

#25949 [DatePicker] Migrate PickersYear to emotion
  packages/material-ui-lab/src/YearPicker/PickersYear.tsx
  packages/material-ui-unstyled/src/composeClasses/composeClasses.ts
Labels: component: DatePicker

#25983 [DateRangePicker] Migrate PickersToolbarText to emotion
  packages/material-ui-lab/src/internal/pickers/PickersToolbarText.tsx
Labels: component: DateRangePicker

#26261 [core] Don't download monorepo packages
  benchmark/package.json
  docs/package.json
  yarn.lock
Labels: benchmark, docs

#26246 [docs] Remove last dependencies on `makeStyles` from `@material-ui/core/styles`
  benchmark/browser/scenarios/make-styles/index.js
  docs/pages/index.tsx
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/buttons/ButtonBase.js
  docs/src/pages/components/buttons/ButtonBase.tsx
  docs/src/pages/components/date-picker/CustomDay.js
  docs/src/pages/components/date-picker/CustomDay.tsx
  docs/src/pages/components/date-range-picker/CustomDateRangePickerDay.js
  docs/src/pages/components/date-range-picker/CustomDateRangePickerDay.tsx
  docs/src/pages/components/dividers/DividerText.js
  docs/src/pages/components/dividers/DividerText.tsx
  docs/src/pages/components/dividers/VerticalDividerText.js
  docs/src/pages/components/dividers/VerticalDividerText.tsx
  docs/src/pages/components/material-icons/SearchIcons.js
  docs/src/pages/components/popper/ScrollPlayground.js
  docs/src/pages/customization/default-theme/DefaultTheme.js
  docs/src/pages/customization/palette/DarkTheme.js
  docs/src/pages/guides/right-to-left/RtlOptOut.js
  docs/src/pages/guides/right-to-left/RtlOptOut.tsx
  docs/src/pages/production-error/ErrorDecoder.js
  test/regressions/fixtures/Menu/MenuContentAnchors.js
  test/regressions/fixtures/Textarea/Textarea.js
Labels: docs

#26262 [core] Drop support for blocking mode
  docs/next.config.js
Labels: core

#26181 [Autocomplete] Apply `.Mui-focused` instead of `data-focus` on the focused option
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
Labels: breaking change, component: Autocomplete

#26243 [docs] Add Jalali date picker demo
  docs/package.json
  docs/src/pages/components/date-picker/JalaliDatePicker.js
  docs/src/pages/components/date-picker/JalaliDatePicker.tsx
  docs/src/pages/components/date-picker/date-picker.md
  yarn.lock
Labels: docs, pickers

#26057 [pickers] Migrate ClockPointer to emotion
  packages/material-ui-lab/src/ClockPicker/ClockPointer.tsx
Labels: pickers

#26058 [pickers] Migrate ClockNumber to emotion
  packages/material-ui-lab/src/ClockPicker/ClockNumber.tsx
Labels: pickers

#26273 [pickers] Migrate PickersToolbar to emotion
  packages/material-ui-lab/src/internal/pickers/PickersToolbar.tsx
Labels: pickers

#26269 [docs] Remove dependency on `withStyles` from `@material-ui/core/styles`
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppFooter.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/modules/components/TopLayoutCompany.js
  docs/src/pages/components/chips/ChipsPlayground.js
  docs/src/pages/components/tables/ReactVirtualizedTable.js
  docs/src/pages/components/tables/ReactVirtualizedTable.tsx
  docs/src/pages/customization/color/Color.js
  docs/src/pages/customization/color/ColorDemo.js
  docs/src/pages/customization/color/ColorTool.js
  docs/src/pages/discover-more/team/Team.js
  docs/src/pages/getting-started/templates/Templates.js
  docs/src/pages/premium-themes/onepirate/modules/components/AppBar.js
  docs/src/pages/premium-themes/onepirate/modules/components/AppBar.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Button.js
  docs/src/pages/premium-themes/onepirate/modules/components/Button.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Markdown.js
  docs/src/pages/premium-themes/onepirate/modules/components/Markdown.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Paper.js
  docs/src/pages/premium-themes/onepirate/modules/components/Paper.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Snackbar.js
  docs/src/pages/premium-themes/onepirate/modules/components/Snackbar.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/TextField.js
  docs/src/pages/premium-themes/onepirate/modules/components/TextField.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Toolbar.js
  docs/src/pages/premium-themes/onepirate/modules/components/Toolbar.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Typography.js
  docs/src/pages/premium-themes/onepirate/modules/components/Typography.tsx
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.js
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/AppAppBar.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppAppBar.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/AppForm.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppForm.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCategories.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCategories.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHero.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHero.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHeroLayout.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHeroLayout.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHowItWorks.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHowItWorks.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductSmokingHero.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductSmokingHero.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductValues.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductValues.tsx
  docs/src/pages/premium-themes/paperbase/Content.js
  docs/src/pages/premium-themes/paperbase/Content.tsx
  docs/src/pages/premium-themes/paperbase/Header.js
  docs/src/pages/premium-themes/paperbase/Header.tsx
  docs/src/pages/premium-themes/paperbase/Navigator.js
  docs/src/pages/premium-themes/paperbase/Navigator.tsx
  docs/src/pages/versions/LatestVersions.js
  docs/src/pages/versions/ReleasedVersions.js
Labels: docs

#26265 [core] Move `StyledEngineProvider` to `@material-ui/core/styles`
  docs/pages/_app.js
  docs/src/modules/utils/getDemoConfig.js
  docs/src/pages/guides/interoperability/interoperability.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  examples/create-react-app-with-styled-components-typescript/src/index.tsx
  examples/create-react-app-with-styled-components/src/index.js
  examples/create-react-app-with-typescript/src/index.tsx
  examples/create-react-app/src/index.js
  examples/gatsby-theme/src/pages/about.js
  examples/gatsby-theme/src/pages/index.js
  examples/gatsby/src/pages/about.js
  examples/gatsby/src/pages/index.js
  examples/preact/src/App.js
  packages/material-ui/scripts/rollup.config.js
  packages/material-ui/src/StyledEngineProvider/index.d.ts
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
  test/e2e/TestViewer.js
  test/regressions/TestViewer.js
Labels: breaking change

#26275 [pickers] Migrate StaticWrapper to emotion
  packages/material-ui-lab/src/internal/pickers/wrappers/StaticWrapper.tsx
Labels: pickers

#26186 [Select][NativeSelect] Polish CSS classes
  docs/pages/api-docs/native-select.json
  docs/pages/api-docs/select.json
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/native-select/native-select.json
  docs/translations/api-docs/select/select.json
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/NativeSelect/nativeSelectClasses.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/selectClasses.js
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: breaking change, component: Select

#26295 [core] Add file for git-blame --ignore-revs-file
  .git-blame-ignore-revs
Labels: core

#26308 [icons] Remove extraneous React.Fragment
  packages/material-ui-icons/builder.js
  packages/material-ui-icons/builder.test.js
  packages/material-ui-icons/fixtures/material-design-icons/expected/AccessAlarmsTwoTone.js
  packages/material-ui-icons/fixtures/material-design-icons/svg/access_alarms_two_tone_24px.svg
  packages/material-ui-icons/lib/AdminPanelSettingsOutlined.js
  packages/material-ui-icons/lib/BuildCircleOutlined.js
  packages/material-ui-icons/lib/FactCheckOutlined.js
  packages/material-ui-icons/lib/esm/AdminPanelSettingsOutlined.js
  packages/material-ui-icons/lib/esm/BuildCircleOutlined.js
  packages/material-ui-icons/lib/esm/FactCheckOutlined.js
Labels: package: icons, performance

#26305 [core] Fix NotchedOutlineProps type
  packages/material-ui/src/OutlinedInput/NotchedOutline.d.ts
Labels: core, typescript

#26231 [TextField] Fix classes forward to InputBase
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/FilledInput/FilledInput.test.js
  packages/material-ui/src/Input/Input.test.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.test.js
Labels: bug 🐛, component: TextField

#26322 [core] Include human readable target in the browserstack build
  test/karma.conf.js
Labels: core

#26257 [Slider] Center value label for disabled slider
  docs/src/pages/components/progress/progress.md
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  docs/src/pages/components/slider/slider.md
  packages/material-ui/src/Slider/Slider.js
  test/regressions/fixtures/Slider/SimpleDisabledSlider.js
Labels: bug 🐛, component: Slider

#26285 [Slider] Fix support for non primary colors
  packages/material-ui/src/Slider/Slider.js
Labels: bug 🐛, component: Slider

#26278 [pickers] Migrate Clock to emotion
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
Labels: pickers

#26235 [core] Skip sx prop in internal components
  packages/material-ui/src/Breadcrumbs/BreadcrumbCollapsed.js
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/OutlinedInput/NotchedOutline.js
  packages/material-ui/src/Radio/RadioButtonIcon.js
  packages/material-ui/src/SwipeableDrawer/SwipeArea.js
  packages/material-ui/src/internal/SwitchBase.js
Labels: core, performance

#26290 [TextField] Fix `hiddenLabel` type of FilledInput
  docs/pages/api-docs/filled-input.json
  docs/src/pages/components/text-fields/TextFieldHiddenLabel.js
  docs/src/pages/components/text-fields/TextFieldHiddenLabel.tsx
  docs/translations/api-docs/filled-input/filled-input.json
  packages/material-ui/src/FilledInput/FilledInput.d.ts
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/FilledInput/FilledInput.spec.tsx
Labels: bug 🐛, component: TextField, typescript

#26329 [blog] Siriwat Kunaporn joins Material-UI
  docs/pages/blog/siriwat-kunaporn-joining.js
  docs/pages/blog/siriwat-kunaporn-joining.md
  docs/public/static/blog/siriwat-kunaporn-joining/card.png
Labels: website

#26173 [Autocomplete] Rename `getOptionSelected` to `isOptionEqualToValue`
  docs/pages/api-docs/autocomplete.json
  docs/src/pages/components/autocomplete/Asynchronous.js
  docs/src/pages/components/autocomplete/Asynchronous.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
Labels: breaking change, component: Autocomplete

#26328 [Container] Fix support for custom breakpoints
  docs/pages/api-docs/container.json
  packages/material-ui/src/Container/Container.d.ts
  packages/material-ui/src/Container/Container.js
  packages/material-ui/test/typescript/moduleAugmentation/breakpointsOverrides.spec.tsx
  packages/material-ui/test/typescript/moduleAugmentation/breakpointsOverrides.tsconfig.json
Labels: bug 🐛, component: Container

#26327 [DateTimePicker] Migrate DateTimePickerTabs and Toolbar to emotion
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerToolbar.tsx
Labels: component: DateTimePicker

#26292 [pickers] Migrate DatePickerToolbar to emotion
  packages/material-ui-lab/src/DatePicker/DatePickerToolbar.tsx
  packages/material-ui-lab/src/internal/pickers/PickersToolbar.tsx
Labels: pickers

#26274 [pickers] Migrate TimePickerToolbar to emotion
  packages/material-ui-lab/src/TimePicker/TimePickerToolbar.tsx
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
Labels: breaking change, pickers

#26280 [website] Add careers page for intern
  docs/pages/company/software-engineer-intern.js
  docs/src/pages/company/careers/careers.md
  docs/src/pages/company/software-engineer-intern/software-engineer-intern.md
Labels: website

#26339 [styled-engine] Fix styled() util to respect `options`
  packages/material-ui-styled-engine-sc/src/index.js
  packages/material-ui-styled-engine-sc/src/styled.test.js
Labels: bug 🐛, package: styled-engine

#26353 [pickers] Migrate PickersTransition to emotion
  packages/material-ui-lab/src/CalendarPicker/PickersFadeTransitionGroup.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersSlideTransition.tsx
Labels: pickers

#26348 [docs] Clarify migration from Hidden
  CHANGELOG.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#26271 [ButtonBase] Fix role="button" attribute
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: bug 🐛, component: ButtonBase

#26097 [Tooltip] Improve handling of small vs. touch screens
  packages/material-ui/src/Tooltip/Tooltip.js
Labels: bug 🐛, component: Tooltip

#26355 [pickers] Migrate PickersModalDialog to emotion
  packages/material-ui-lab/src/internal/pickers/PickersModalDialog.tsx
Labels: pickers

#26326 [DateRangePicker] Migrate internal components to emotion
  packages/material-ui-lab/src/CalendarPicker/PickersCalendar.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerInput.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
Labels: component: DateRangePicker

#26335 [DatePicker] Migrate CalendarPickerSkeleton to emotion
  docs/pages/api-docs/calendar-picker-skeleton.json
  docs/translations/api-docs/calendar-picker-skeleton/calendar-picker-skeleton.json
  packages/material-ui-lab/src/CalendarPicker/PickersCalendar.tsx
  packages/material-ui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.test.tsx
  packages/material-ui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.tsx
  packages/material-ui-lab/src/CalendarPickerSkeleton/index.ts
Labels: component: DatePicker

#26325 [docs] Fix grammar for style library page
  docs/src/pages/guides/styled-engine/styled-engine.md
Labels: docs

#26331 [Dialog] Fix support for custom breakpoints
  docs/pages/api-docs/dialog.json
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/test/typescript/moduleAugmentation/breakpointsOverrides.spec.tsx
Labels: bug 🐛, component: Dialog

#26259 [docs] Add TypeScript convention
  TYPESCRIPT_CONVENTION.md
Labels: docs

#26354 [pickers] Migrate PickersCalendarHeader to emotion
  packages/material-ui-lab/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/internal/pickers/PickersArrowSwitcher.tsx
Labels: pickers

#26391 [pickers] Migrate PickersPopper to emotion
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
Labels: pickers

#26368 [DateRangePicker] Migrate DateRangePickerDay to emotion
  docs/pages/api-docs/date-range-picker-day.json
  docs/translations/api-docs/date-range-picker-day/date-range-picker-day.json
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.tsx
Labels: component: DateRangePicker

#26370 [Button] Migrate LoadingButton to emotion
  docs/pages/api-docs/loading-button.json
  docs/translations/api-docs/loading-button/loading-button.json
  packages/material-ui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/material-ui-lab/src/LoadingButton/LoadingButton.js
  packages/material-ui-lab/src/LoadingButton/LoadingButton.spec.tsx
  packages/material-ui-lab/src/LoadingButton/LoadingButton.test.js
  packages/material-ui-lab/src/LoadingButton/index.d.ts
  packages/material-ui-lab/src/LoadingButton/index.js
  packages/material-ui-lab/src/LoadingButton/loadingButtonClasses.ts
Labels: component: Button

#26407 [test] Move ClockPicker tests to ClockPicker.test
  packages/material-ui-lab/src/ClockPicker/ClockPicker.test.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.test.tsx
Labels: pickers, test

#26400 [ClockPicker] Rework keyboard implementation
  docs/pages/api-docs/clock-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  docs/src/pages/components/time-picker/SubComponentsTimePickers.js
  docs/src/pages/components/time-picker/SubComponentsTimePickers.tsx
  docs/translations/api-docs/clock-picker/clock-picker.json
  docs/translations/api-docs/desktop-time-picker/desktop-time-picker.json
  docs/translations/api-docs/mobile-time-picker/mobile-time-picker.json
  docs/translations/api-docs/static-time-picker/static-time-picker.json
  docs/translations/api-docs/time-picker/time-picker.json
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumber.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.test.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
Labels: accessibility, breaking change, component: TimePicker

#26390 [DatePicker] Migrate CalendarPicker to emotion
  docs/pages/api-docs/calendar-picker.json
  docs/translations/api-docs/calendar-picker/calendar-picker.json
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.test.tsx
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/CalendarPicker/index.ts
Labels: component: DatePicker

#26406 [website] Add Siriwat to team
  docs/pages/branding/about.tsx
  docs/public/static/branding/about/siriwat.jpg
  docs/src/modules/branding/BrandingPersona.tsx
  docs/src/pages/discover-more/team/Team.js
Labels: website

#26389 [TimePicker] Migrate ClockPicker to emotion
  docs/pages/api-docs/clock-picker.json
  docs/translations/api-docs/clock-picker/clock-picker.json
  packages/material-ui-lab/src/ClockPicker/ClockPicker.test.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
  packages/material-ui-lab/src/ClockPicker/index.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
Labels: component: TimePicker

#26382 [core] Remove `makeStyles` from `@material-ui/core/styles`
  docs/package.json
  docs/src/pages/components/snackbars/IntegrationNotistack.js
  docs/src/pages/components/snackbars/IntegrationNotistack.tsx
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/components/tables/DataTable.js
  docs/src/pages/components/tables/DataTable.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
  packages/material-ui/src/styles/makeStyles.d.ts
  packages/material-ui/src/styles/makeStyles.js
  packages/material-ui/test/typescript/styles.spec.tsx
  yarn.lock
Labels: breaking change

#26414 [codemod] Correct codemod path and add target placeholder in examples
  packages/material-ui-codemod/README.md
Labels: docs

#26413 [TreeView] Correctly select items in deeply nested trees
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
Labels: bug 🐛, component: TreeView

#26393 [template] Demo how to retreive value
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.tsx
  docs/src/pages/getting-started/templates/sign-in/SignIn.js
  docs/src/pages/getting-started/templates/sign-in/SignIn.tsx
  docs/src/pages/getting-started/templates/sign-up/SignUp.js
  docs/src/pages/getting-started/templates/sign-up/SignUp.tsx
Labels: docs

#26430 [docs] Fix 404 link (Evergreen Box)
  docs/src/pages/system/basics/basics.md
Labels: docs

#26433 [core] Fix peer dependencies declaration with yarn v2
  packages/material-ui-docs/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-system/package.json
Labels: core

#26336 [docs] Persist copied state indefinitely or until the user moves their cursor
  docs/src/pages/components/material-icons/SearchIcons.js
  docs/src/pages/components/material-icons/synonyms.js
Labels: docs

#26405 [test] setProps from createPickerRender should set props on the rendered element
  packages/material-ui-lab/src/internal/pickers/test-utils.tsx
Labels: test

#26394 [core] Leverage CircleCI workspaces for jobs after checkout
  .circleci/config.yml
Labels: core

#26434 [core] Batch small changes
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppFrame.js
  docs/src/pages/components/modal/ModalUnstyled.js
  docs/src/pages/components/modal/ModalUnstyled.tsx
  docs/src/pages/components/modal/modal.md
  docs/src/pages/components/portal/portal.md
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/toggle-button/ToggleButtons.js
  docs/src/pages/components/toggle-button/ToggleButtons.tsx
  docs/src/pages/components/trap-focus/trap-focus.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: core, docs

#26444 Revert "[core] Leverage CircleCI workspaces for jobs after checkout"
  .circleci/config.yml
Labels: core

#26411 [ClockPicker] Selected option is the active descendant
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumber.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumbers.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.test.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
Labels: accessibility, pickers

#26432 [test] Fix prop-type warning
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
Labels: test

#26448 [test] Don't hoist constant elements
  babel.config.js
Labels: test

#26447 [test] Flush scheduled effects before user event returns
  test/utils/userEvent.ts
Labels: test

#26466 [docs] Typo in MultipleSelect
  docs/src/pages/components/selects/MultipleSelect.js
  docs/src/pages/components/selects/MultipleSelect.tsx
  docs/src/pages/components/selects/MultipleSelectCheckmarks.js
  docs/src/pages/components/selects/MultipleSelectCheckmarks.tsx
  docs/src/pages/components/selects/MultipleSelectChip.js
  docs/src/pages/components/selects/MultipleSelectChip.tsx
Labels: component: Select, docs

#26468 [TextField] Add sizeMedium & variants support
  docs/pages/api-docs/input-base.json
  docs/translations/api-docs/input-base/input-base.json
  packages/material-ui/src/InputBase/inputBaseClasses.ts
  packages/material-ui/src/styles/components.d.ts
Labels: component: TextField

#26458 [Tabs] Update `min` & `max` width and remove `minWidth` media query
  docs/src/pages/components/tabs/TabsWrappedLabel.js
  docs/src/pages/components/tabs/TabsWrappedLabel.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Tab/Tab.js
Labels: breaking change, component: Tabs, material design

#26361 [docs] Add page for `experimentalStyled()`
  docs/pages/customization/styled.js
  docs/public/static/images/customization/styled-options.png
  docs/src/pages.ts
  docs/src/pages/customization/how-to-customize/how-to-customize.md
  docs/src/pages/customization/styled/BasicUsage.js
  docs/src/pages/customization/styled/BasicUsage.tsx
  docs/src/pages/customization/styled/ThemeUsage.js
  docs/src/pages/customization/styled/ThemeUsage.tsx
  docs/src/pages/customization/styled/UsingOptions.js
  docs/src/pages/customization/styled/UsingOptions.tsx
  docs/src/pages/customization/styled/styled.md
  docs/src/pages/guides/interoperability/interoperability.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/guides/styled-engine/styled-engine.md
  docs/src/pages/styles/basics/basics.md
  docs/translations/translations.json
Labels: docs

#26482 [TextField] Revert InputBase sizeMedium from classes
  docs/pages/api-docs/input-base.json
  docs/translations/api-docs/input-base/input-base.json
  packages/material-ui/src/InputBase/inputBaseClasses.ts
Labels: component: TextField

#26487 [docs] Add warning about git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: docs

#26200 [Select] Open popup below button
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Select/SelectInput.js
Labels: component: Select, material design

#26491 [utils] Convert useId to TypeScript
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumbers.tsx
  packages/material-ui-utils/src/useId.d.ts
  packages/material-ui-utils/src/useId.ts
Labels: package: utils, typescript

#26501 [website] Add open application section
  docs/src/pages/company/careers/careers.md
Labels: website

#26451 [pickers] Remove `allowKeyboardControl`
  docs/pages/api-docs/calendar-picker.json
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-range-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-range-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-range-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/pickers-day.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-range-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/src/pages/components/date-picker/SubComponentsPickers.js
  docs/src/pages/components/date-picker/SubComponentsPickers.tsx
  docs/translations/api-docs/calendar-picker/calendar-picker.json
  docs/translations/api-docs/date-picker/date-picker.json
  docs/translations/api-docs/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-time-picker/date-time-picker.json
  docs/translations/api-docs/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/mobile-date-range-picker/mobile-date-range-picker.json
  docs/translations/api-docs/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/pickers-day/pickers-day.json
  docs/translations/api-docs/static-date-picker/static-date-picker.json
  docs/translations/api-docs/static-date-range-picker/static-date-range-picker.json
  docs/translations/api-docs/static-date-time-picker/static-date-time-picker.json
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersCalendar.tsx
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePickerKeyboard.test.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
Labels: pickers

#26485 [system] Add createStyled utility
  packages/material-ui-system/src/createStyled.d.ts
  packages/material-ui-system/src/createStyled.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/propsToClassKey.d.ts
  packages/material-ui-system/src/propsToClassKey.js
  packages/material-ui-system/src/propsToClassKey.test.js
  packages/material-ui-system/src/styled.d.ts
  packages/material-ui-system/src/styled.js
  packages/material-ui-system/src/styled.test.js
  packages/material-ui/src/styles/experimentalStyled.d.ts
  packages/material-ui/src/styles/experimentalStyled.js
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/overrides.d.ts
  packages/material-ui/src/styles/variants.d.ts
Labels: enhancement, package: system

#26481 [docs] Update system installation
  docs/src/pages/system/basics/basics.md
  packages/material-ui-system/README.md
Labels: docs

#26323 [Dialog] Flatten DialogTitle DOM structure, remove `disableTypography`
  docs/pages/api-docs/dialog-title.json
  docs/src/modules/utils/defaultPropsHandler.js
  docs/src/pages/components/dialogs/CustomizedDialogs.js
  docs/src/pages/components/dialogs/CustomizedDialogs.tsx
  docs/src/pages/components/dialogs/SimpleDialog.js
  docs/src/pages/components/dialogs/SimpleDialog.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/dialog-title/dialog-title.json
  packages/material-ui/src/DialogContent/DialogContent.js
  packages/material-ui/src/DialogContentText/DialogContentText.js
  packages/material-ui/src/DialogTitle/DialogTitle.d.ts
  packages/material-ui/src/DialogTitle/DialogTitle.js
  packages/material-ui/src/DialogTitle/DialogTitle.test.js
Labels: breaking change, component: Dialog
