Repository mui/material-ui, pull requests merged in 2021-09, with the labels that each got.

#27956 [docs] Markdown redesign polish
  docs/public/static/sponsors/doit.png
  docs/public/static/sponsors/doit.svg
  docs/public/static/sponsors/octopus.png
  docs/public/static/sponsors/octopus.svg
  docs/src/components/header/ThemeModeToggle.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/References.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/ThemeChip.tsx
  docs/src/modules/branding/CommunitySayCard.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppContainer.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/ThemeContext.js
  docs/src/modules/components/ad.styles.js
  docs/src/pages.ts
  docs/src/pages/discover-more/team/Team.js
  docs/translations/translations.json
Labels: docs

#28085 [website] Make AppBar height and border consistent with nav header
  docs/src/modules/components/AppFrame.js
Labels: website

#27952 [website] Add product core page
  docs/pages/branding/core.tsx
  docs/public/static/branding/store-templates/template-bazar-dark.jpeg
  docs/public/static/branding/store-templates/template-bazar-light.jpeg
  docs/public/static/images/cards/real-estate.png
  docs/public/static/images/cards/yosemite.jpeg
  docs/src/components/action/Frame.tsx
  docs/src/components/action/Highlighter.tsx
  docs/src/components/action/Item.tsx
  docs/src/components/action/More.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/DesignKits.tsx
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/StoreTemplatesBanner.tsx
  docs/src/components/pricing/PricingList.tsx
  docs/src/components/productCore/CoreComponents.tsx
  docs/src/components/productCore/CoreHero.tsx
  docs/src/components/productCore/CoreHeroEnd.tsx
  docs/src/components/productCore/CoreStyling.tsx
  docs/src/components/productCore/CoreTheming.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/RealEstateCard.tsx
  docs/src/components/typography/SectionHeadline.tsx
  docs/src/icons/RootSvg.tsx
  docs/src/icons/SvgHamburgerMenu.tsx
  docs/src/icons/SvgMaterialDesign.tsx
  docs/src/icons/SvgMuiLogo.tsx
  docs/src/icons/SvgMuiX.tsx
  docs/src/icons/SvgTwinkle.tsx
  docs/src/modules/brandingTheme.ts
Labels: website

#28086 [docs] Update toolbar menu to behave closer to default
  docs/src/modules/components/DemoToolbar.js
Labels: docs

#28070 [InputBase] Fix autofill issue
  packages/material-ui/src/InputBase/InputBase.js
Labels: bug 🐛, component: TextField

#28088 [docs] Add a recommendation for hoisting GlobalStyles to static constant
  docs/src/pages/customization/how-to-customize/how-to-customize.md
Labels: docs

#27998 [ToggleButtonGroup] Add "disabled" prop
  docs/pages/api-docs/toggle-button-group.json
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.test.js
  packages/material-ui/src/ToggleButtonGroup/toggleButtonGroupClasses.ts
Labels: enhancement, component: ToggleButton

#28092 [docs] Fix preview for multiline JSX attributes
  docs/src/modules/utils/getJsxPreview.js
  docs/src/modules/utils/getJsxPreview.test.js
Labels: bug 🐛, docs

#28036 [core] Batch small changes
  CHANGELOG.md
  CHANGELOG.old.md
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/pages/company/contact/contact.md
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/masonry/masonry.md
  docs/src/pages/components/material-icons/material-icons.md
  docs/src/pages/components/stack/stack.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/supported-components/supported-components.md
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  docs/src/pages/guides/server-rendering/server-rendering.md
  docs/src/pages/production-error/index.md
  docs/src/pages/system/the-sx-prop/the-sx-prop.md
Labels: umbrella

#28072 [docs] Remove unnecessary comma
  docs/translations/translations.json
Labels: docs

#28090 [docs] Improve diamond sponsors in the navigation
  docs/public/static/sponsors/octopus-dark.svg
  docs/public/static/sponsors/octopus-light.svg
  docs/public/static/sponsors/octopus.png
  docs/src/modules/components/DiamondSponsors.js
Labels: docs

#27957 [Masonry] Improve the styling on the demos
  docs/src/pages/components/masonry/BasicMasonry.js
  docs/src/pages/components/masonry/BasicMasonry.tsx
  docs/src/pages/components/masonry/DiffColSizeMasonry.js
  docs/src/pages/components/masonry/DiffColSizeMasonry.tsx
  docs/src/pages/components/masonry/DiffColSizeMasonryBroken.js
  docs/src/pages/components/masonry/DiffColSizeMasonryBroken.tsx
  docs/src/pages/components/masonry/FixedColumns.js
  docs/src/pages/components/masonry/FixedColumns.tsx
  docs/src/pages/components/masonry/FixedSpacing.js
  docs/src/pages/components/masonry/FixedSpacing.tsx
  docs/src/pages/components/masonry/ResponsiveColumns.js
  docs/src/pages/components/masonry/ResponsiveColumns.tsx
  docs/src/pages/components/masonry/ResponsiveSpacing.js
  docs/src/pages/components/masonry/ResponsiveSpacing.tsx
  docs/src/pages/components/masonry/SSRMasonry.js
  docs/src/pages/components/masonry/SSRMasonry.tsx
Labels: enhancement, component: Masonry

#28094 [core] Include TS modules in rollup import resolution
  packages/material-ui/scripts/rollup.config.js
Labels: core

#28054 [Select] Merge `ref` of `Select` and `input` element
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
Labels: bug 🐛, component: Select

#28113 [docs] Fix migration guide typo
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#28087 [docs] Remove style duplication
  docs/src/modules/components/DemoToolbar.js
Labels: docs

#27932 [system] Shorten class names in production
  packages/material-ui-system/src/createStyled.js
Labels: performance, package: system

#28118 [docs] Fix wrong package name in codemod
  packages/material-ui-codemod/README.md
Labels: docs

#28037 [core] Simplify ResizeObserver logic
  packages/material-ui-lab/src/MasonryItem/MasonryItem.js
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
Labels: core

#28101 [Link] Infer `ref` type from `component`
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/Link/Link.spec.tsx
Labels: bug 🐛, typescript, component: Link

#28040 [website] Update `utm` referral params
  README.md
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
  docs/src/pages/discover-more/backers/backers.md
Labels: website

#28134 [docs] Fix Link outdated default `underline` prop
  docs/src/pages/components/links/links.md
Labels: docs

#28131 [website] Polish design-kits & templates
  docs/pages/branding/design-kits.tsx
  docs/pages/branding/templates.tsx
  docs/src/components/productDesignKit/DesignKitDemo.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/productDesignKit/DesignKitHero.tsx
  docs/src/components/productDesignKit/DesignKitValues.tsx
  docs/src/components/productTemplate/TemplateDemo.tsx
  docs/src/components/productTemplate/TemplateHero.tsx
Labels: website

#28171 [core] Fix PR detection mechanism for upstream PRs
  test/karma.conf.js
Labels: core

#28068 [test] Update test to consider unsuppressed double render logs in React 18
  packages/material-ui-private-theming/src/ThemeProvider/ThemeProvider.test.js
  packages/material-ui-styles/src/StylesProvider/StylesProvider.test.js
  packages/material-ui-styles/src/useThemeVariants/useThemeVariants.test.js
  packages/material-ui-unstyled/src/AutocompleteUnstyled/useAutocomplete.test.js
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/Breadcrumbs/Breadcrumbs.test.js
  packages/material-ui/src/Hidden/HiddenCss.test.js
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
  packages/material-ui/src/LinearProgress/LinearProgress.test.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Paper/Paper.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  test/utils/index.js
Labels: test

#28124 [docs] Improve legibility of CTA on landing page
  docs/pages/index.tsx
Labels: enhancement, docs

#28042 [docs] Remove demo for re-creating Material-UI switches
  docs/src/pages/components/switches/UnstyledSwitchesMaterial.js
  docs/src/pages/components/switches/UseSwitchesMaterial.js
  docs/src/pages/components/switches/switches.md
Labels: docs

#28183 [codemod] Fix various reported issues on `preset-safe`
  packages/mui-codemod/src/util/renameClassKey.js
  packages/mui-codemod/src/v5.0.0/avatar-circle-circular.js
  packages/mui-codemod/src/v5.0.0/badge-overlap-value.js
  packages/mui-codemod/src/v5.0.0/circularprogress-variant.js
  packages/mui-codemod/src/v5.0.0/circularprogress-variant.test/actual.js
  packages/mui-codemod/src/v5.0.0/circularprogress-variant.test/expected.js
  packages/mui-codemod/src/v5.0.0/fab-variant.js
  packages/mui-codemod/src/v5.0.0/pagination-round-circular.js
  packages/mui-codemod/src/v5.0.0/skeleton-variant.js
  packages/mui-codemod/src/v5.0.0/table-props.js
  packages/mui-codemod/src/v5.0.0/table-props.test/actual.js
  packages/mui-codemod/src/v5.0.0/table-props.test/expected.js
Labels: bug 🐛, package: codemod

#28186 [ButtonBase] Fix ripple persisting on blur
  packages/mui-material/src/ButtonBase/ButtonBase.test.js
  packages/mui-material/src/useTouchRipple/useTouchRipple.ts
Labels: bug 🐛, component: ButtonBase

#28128 [website] Disable Next.js font optimization
  docs/next.config.js
Labels: website

#28074 [Button] Use deeper imports from unstyled, correct docs
  docs/src/pages/components/buttons/UnstyledButtonsSimple.js
  docs/src/pages/components/buttons/UnstyledButtonsSimple.tsx
  docs/src/pages/components/buttons/UnstyledButtonsSpan.js
  docs/src/pages/components/buttons/UnstyledButtonsSpan.tsx
  docs/src/pages/components/buttons/buttons.md
  packages/mui-core/src/ButtonUnstyled/ButtonUnstyled.tsx
  packages/mui-material/src/ButtonBase/ButtonBase.js
Labels: enhancement, component: Button

#28073 [docs] Don't use Material theme in unstyled demos
  docs/src/pages/components/buttons/UnstyledButtonCustom.js
  docs/src/pages/components/buttons/UnstyledButtonCustom.tsx
Labels: docs

#28104 [docs] Improve docs for creating dark theme
  docs/pages/customization/dark-mode.js
  docs/src/pages.ts
  docs/src/pages/customization/dark-mode/DarkTheme.js
  docs/src/pages/customization/dark-mode/DarkThemeWithCustomPalette.js
  docs/src/pages/customization/dark-mode/DarkThemeWithCustomPalette.tsx
  docs/src/pages/customization/dark-mode/ToggleColorMode.js
  docs/src/pages/customization/dark-mode/ToggleColorMode.tsx
  docs/src/pages/customization/dark-mode/dark-mode.md
  docs/src/pages/customization/palette/palette.md
  docs/src/pages/customization/theming/theming.md
  docs/src/pages/getting-started/faq/faq.md
  docs/translations/translations.json
Labels: docs

#28129 [Autocomplete] Fix virtualization regression
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
Labels: bug 🐛, docs, component: Autocomplete, regression

#28211 [docs] Demo how to use a specific slide direction for Snackbar
  docs/src/pages/components/snackbars/snackbars.md
Labels: docs, component: Snackbar

#27499 [typescript] Make types of componentsProps consistent
  packages/mui-core/src/BackdropUnstyled/BackdropUnstyled.d.ts
  packages/mui-core/src/BadgeUnstyled/BadgeUnstyled.d.ts
  packages/mui-core/src/ButtonUnstyled/ButtonUnstyledProps.ts
  packages/mui-core/src/FormControlUnstyled/FormControlUnstyledProps.ts
  packages/mui-core/src/ModalUnstyled/ModalUnstyled.d.ts
  packages/mui-core/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/mui-core/src/SliderUnstyled/SliderValueLabelUnstyled.d.ts
  packages/mui-core/src/SwitchUnstyled/SwitchUnstyled.tsx
  packages/mui-core/test/typescript/moduleAugmentation/sliderComponentsProps.spec.tsx
  packages/mui-core/test/typescript/moduleAugmentation/sliderComponentsProps.tsconfig.json
  packages/mui-core/test/typescript/moduleAugmentation/sliderOwnerState.spec.tsx
  packages/mui-core/test/typescript/moduleAugmentation/sliderOwnerState.tsconfig.json
  packages/mui-lab/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/mui-lab/src/ClockPicker/ClockPicker.tsx
  packages/mui-lab/src/internal/pickers/PickersArrowSwitcher.tsx
  packages/mui-material/src/InputBase/InputBase.d.ts
  packages/mui-material/src/ListItem/ListItem.d.ts
Labels: typescript, package: core

#28219 [system] Fix zero value condition
  packages/mui-system/src/borders.js
  packages/mui-system/src/borders.test.js
  packages/mui-system/src/breakpoints.js
  packages/mui-system/src/grid.js
  packages/mui-system/src/grid.test.js
  packages/mui-system/src/sizing.js
  packages/mui-system/src/sizing.test.js
Labels: bug 🐛, package: system

#28202 [MasonryItem] Fix crash on unmount when using React 18
  packages/mui-lab/src/MasonryItem/MasonryItem.js
Labels: bug 🐛, component: Masonry

#28220 [system] Change type of `styles` arg and return value of `overridesResolver`
  docs/src/pages/system/styled/UsingOptions.js
  docs/src/pages/system/styled/UsingOptions.tsx
  packages/mui-lab/src/PickersDay/PickersDay.tsx
  packages/mui-system/src/createStyled.d.ts
Labels: typescript, package: system

#28207 [ClockPicker] Fix to narrow hover area for am hours in am/pm clock
  packages/mui-lab/src/ClockPicker/shared.ts
Labels: bug 🐛, component: TimePicker

#28172 [Tabs] Improve error message formatting for invalid `value`
  packages/mui-material/src/Tabs/Tabs.js
  packages/mui-material/src/Tabs/Tabs.test.js
Labels: enhancement, component: Tabs

#28205 [core] Misc bundle size tracking improvements
  scripts/sizeSnapshot/create.js
  scripts/sizeSnapshot/webpack.config.js
Labels: core

#28223 [docs] Update previews
  docs/src/pages/components/buttons/UnstyledButtonCustom.tsx.preview
  docs/src/pages/customization/dark-mode/DarkThemeWithCustomPalette.tsx.preview
  docs/src/pages/customization/dark-mode/ToggleColorMode.tsx.preview
Labels: docs

#28222 [docs] Fix some outdated migration guide
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#28224 [pickers] Add visual regression tests for open views
  test/regressions/fixtures/pickers/OpenDatePicker.tsx
  test/regressions/fixtures/pickers/OpenDateTimePicker.tsx
  test/regressions/fixtures/pickers/OpenDateTimePickerClock.tsx
  test/regressions/fixtures/pickers/OpenTimePicker.tsx
  test/regressions/index.test.js
Labels: test

#28227 [docs] Prepare for v4.material-ui.com deploy
  docs/package.json
  docs/pages/blog/2019.md
  docs/pages/index.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/Head.js
Labels: docs, v4.x

#27534 [DateTimePicker] Change bottom position of AM/PM buttons
  packages/mui-lab/src/ClockPicker/Clock.tsx
Labels: bug 🐛, component: DateTimePicker

#28235 [docs] Fix DataGrid demo console warning in Table docs
  docs/src/pages/components/tables/DataTable.js
  docs/src/pages/components/tables/DataTable.tsx
  docs/src/pages/components/tables/DataTable.tsx.preview
Labels: docs, component: DataGrid

#28190 [Autocomplete] Fix reset value on blur for freeSolo input
  packages/mui-core/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-core/src/AutocompleteUnstyled/useAutocomplete.test.js
Labels: bug 🐛, component: Autocomplete

#28246 [docs] How to compose theme in steps
  docs/src/pages/customization/theming/theming.md
Labels: docs

#28270 [docs] Change Material-UI to MUI in the console
  docs/pages/_app.js
Labels: docs

#28225 [ButtonBase] Revert to the pre-unstyled implementation
  packages/mui-material/src/ButtonBase/ButtonBase.js
Labels: component: ButtonBase

#28106 [website] Add product-x page
  docs/next.config.js
  docs/package.json
  docs/pages/_app.js
  docs/pages/branding/x.tsx
  docs/public/static/branding/companies/boeing-dark.svg
  docs/public/static/branding/companies/boeing-light.svg
  docs/public/static/branding/companies/deloitte-dark.svg
  docs/public/static/branding/companies/deloitte-light.svg
  docs/public/static/branding/companies/siemens-dark.svg
  docs/public/static/branding/companies/siemens-light.svg
  docs/public/static/branding/companies/southwest-dark.svg
  docs/public/static/branding/companies/southwest-light.svg
  docs/public/static/branding/companies/volvo-dark.svg
  docs/public/static/branding/companies/volvo-light.svg
  docs/public/static/branding/mui-x/chart-dark1.png
  docs/public/static/branding/mui-x/chart-dark2.png
  docs/public/static/branding/mui-x/chart-dark3.png
  docs/public/static/branding/mui-x/chart-dark4.png
  docs/public/static/branding/mui-x/chart-light1.png
  docs/public/static/branding/mui-x/chart-light2.png
  docs/public/static/branding/mui-x/chart-light3.png
  docs/public/static/branding/mui-x/chart-light4.png
  docs/public/static/branding/mui-x/sparkline-dark1.png
  docs/public/static/branding/mui-x/sparkline-dark2.png
  docs/public/static/branding/mui-x/sparkline-light1.png
  docs/public/static/branding/mui-x/sparkline-light2.png
  docs/src/components/action/Highlighter.tsx
  docs/src/components/action/Item.tsx
  docs/src/components/action/More.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/animation/FlashCode.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/CompaniesGrid.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/components/home/XGridGlobalStyles.tsx
  docs/src/components/productCore/CoreStyling.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/components/productX/XTheming.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/showcase/FolderTreeView.tsx
  docs/src/components/showcase/RealEstateCard.tsx
  docs/src/components/x-grid/EditProgress.tsx
  docs/src/components/x-grid/EditStatus.tsx
  docs/src/components/x-grid/ProgressBar.tsx
  docs/src/components/x-grid/Status.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/pages/components/tables/DataTable.js
  docs/src/pages/components/tables/DataTable.tsx
  docs/src/route.ts
  yarn.lock
Labels: website

#28265 [Checkbox] Fix color proptype typo
  docs/pages/api-docs/checkbox.json
  packages/mui-material/src/Checkbox/Checkbox.js
Labels: docs, component: Checkbox

#28260 [docs] Fix quotes in font-face literal
  docs/src/pages/customization/typography/typography.md
Labels: bug 🐛, docs

#28254 [test] Recommend yarn t over test:watch
  package.json
  test/README.md
  test/cli.js
Labels: test

#28312 [docs] Fix typo in transition docs
  docs/src/pages/customization/transitions/TransitionHover.js
  docs/src/pages/customization/transitions/TransitionHover.tsx
  docs/src/pages/customization/transitions/TransitionHover.tsx.preview
Labels: docs, component: transitions

#28328 [core] Various updates to what we consider the default branch
  .circleci/config.yml
  CONTRIBUTING.md
  scripts/prettier.js
Labels: core

#28239 [test] Lazily import fixtures
  test/e2e/TestViewer.js
  test/e2e/index.js
  test/regressions/TestViewer.js
  test/regressions/index.js
Labels: test

#28321 [codemod] Fix jss-to-styled to support other export class, function etc.
  packages/mui-codemod/src/v5.0.0/jss-to-styled.js
  packages/mui-codemod/src/v5.0.0/jss-to-styled.test.js
  packages/mui-codemod/src/v5.0.0/jss-to-styled.test/exportClass.actual.js
  packages/mui-codemod/src/v5.0.0/jss-to-styled.test/exportClass.expected.js
  packages/mui-codemod/src/v5.0.0/jss-to-styled.test/exportFunction.actual.js
  packages/mui-codemod/src/v5.0.0/jss-to-styled.test/exportFunction.expected.js
Labels: bug 🐛, package: codemod

#28334 [core] Remove experimental bundle size tracking page
  dangerfile.js
Labels: core

#28344 [core] Consider v4.x as the base
  scripts/listChangedFiles.js
Labels: core

#28343 [docs] Remove job ad on the website
  docs/src/modules/components/AppTableOfContents.js
  docs/src/pages/company/careers/developer-advocate.md
  docs/src/pages/company/careers/full-stack-engineer.md
  docs/src/pages/company/careers/product-manager.md
  docs/src/pages/company/careers/react-engineer.md
  docs/src/pages/company/careers/technical-product-manager.md
Labels: docs

#28329 [docs] No import from `react-router`
  docs/package.json
  docs/src/pages/components/breadcrumbs/RouterBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/RouterBreadcrumbs.tsx
  docs/src/pages/components/pagination/PaginationLink.js
  docs/src/pages/components/pagination/PaginationLink.tsx
  docs/src/pages/guides/routing/ButtonRouter.js
  docs/src/pages/guides/routing/ButtonRouter.tsx
  docs/src/pages/guides/routing/LinkRouter.js
  docs/src/pages/guides/routing/LinkRouter.tsx
  docs/src/pages/guides/routing/LinkRouterWithTheme.js
  docs/src/pages/guides/routing/LinkRouterWithTheme.tsx
  docs/src/pages/guides/routing/ListRouter.js
  docs/src/pages/guides/routing/ListRouter.tsx
  packages/mui-material/test/typescript/hoc-interop.spec.tsx
  yarn.lock
Labels: docs

#28351 [docs] Replace remaining unstyled package reference
  docs/src/pages/customization/unstyled-components/unstyled-components.md
Labels: docs

#28353 [Docs] Fix typo in v4 to v5 migration guide
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#28355 [website] Update manifest to new logo
  docs/public/static/icons/180x180.png
  docs/public/static/icons/192x192.png
  docs/public/static/icons/256x256.png
  docs/public/static/icons/384x384.png
  docs/public/static/icons/48x48.png
  docs/public/static/icons/512x512.png
  docs/public/static/icons/96x96.png
  docs/public/static/manifest.json
Labels: website

#28323 [docs] Update the nav order
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/pages.ts
  docs/translations/translations.json
Labels: docs

#28349 [core] Remove unnecessary titleize warning
  docs/src/modules/utils/helpers.ts
Labels: core

#28318 [core] Support release:build with cmd.exe
  packages/mui-icons-material/package.json
  yarn.lock
Labels: core

#28356 [docs] Fix failing client-side navigation for /api routes
  docs/next.config.js
  docs/src/modules/components/MarkdownLinks.js
Labels: bug 🐛, docs

#28361 [system] Fix missing typings for createSpacing
  .github/workflows/ci.yml
  packages/mui-lab/package.json
  packages/mui-system/package.json
  packages/mui-system/tsconfig.build.json
Labels: bug 🐛, typescript, package: system

#28365 [website] Revert store URL to material-ui.com/store
  README.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-introducing-sketch.md
  docs/pages/blog/2020-q2-update.md
  docs/pages/blog/august-2019-update.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/may-2019-update.md
  docs/public/_redirects
  docs/src/components/pricing/PricingList.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/productTemplate/TemplateDemo.tsx
  docs/src/modules/components/Ad.js
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/pages.ts
  docs/src/pages/components/date-range-picker/date-range-picker.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/templates/templates.md
  docs/src/pages/landing/Themes.js
  docs/src/route.ts
  docs/translations/translations-de.json
  docs/translations/translations-es.json
  docs/translations/translations-fr.json
  docs/translations/translations-ja.json
  docs/translations/translations-pt.json
  docs/translations/translations-ru.json
  docs/translations/translations-zh.json
  docs/translations/translations.json
Labels: website

#28372 [Tooltip] Ensure `user-select` CSS property is reverted after touch end
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
Labels: bug 🐛, component: Tooltip

#28378 [test] Assert on user-select that has the same value across browsers
  packages/mui-material/src/Tooltip/Tooltip.test.js
Labels: test

#28384 [website] Fix production issues
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/getBuildContextVars.ts
  docs/src/modules/components/AppSearch.js
Labels: website

#28389 [docs] Fix the notification display logic
  docs/notifications.json
  docs/src/modules/components/Notifications.js
  docs/src/modules/utils/helpers.ts
Labels: docs

#28382 [core] Update publish tag to latest
  package.json
Labels: core

#28391 [docs] Correct the migration doc
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#28348 [docs] Explain how `<Alert icon={false} />` behaves
  docs/translations/api-docs/alert/alert.json
  packages/mui-material/src/Alert/Alert.d.ts
  packages/mui-material/src/Alert/Alert.js
Labels: docs, component: Alert

#26772 [Radio] Fix support for number value type
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/RadioGroup/RadioGroup.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: bug 🐛, component: Radio

#28267 [test] Use testing-library alpha when running React 18 tests
  package.json
  scripts/use-react-dist-tag.js
  yarn.lock
Labels: test

#28177 [core] Batch small changes
  .circleci/config.yml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/next.config.js
  docs/src/pages/getting-started/installation/installation.md
  test/README.md
  test/karma.conf.js
Labels: core

#28248 [core] Switch to webpack 5
  azure-pipelines.yml
  benchmark/browser/webpack.config.js
  benchmark/package.json
  package.json
  scripts/sizeSnapshot/create.js
  scripts/sizeSnapshot/webpack.config.js
  test/e2e/webpack.config.js
  test/karma.conf.js
  test/karma.conf.profile.js
  test/regressions/index.js
  test/regressions/webpack.config.js
  test/utils/createClientRender.tsx
  test/utils/setupKarma.js
  webpackBaseConfig.js
  yarn.lock
Labels: core

#28410 [core] Ensure both docs bundles are analyzeable
  docs/next.config.js
Labels: core

#28412 [useMediaQuery] Reduce bundle size
  packages/mui-material/src/useMediaQuery/useMediaQuery.js
Labels: performance, hook: useMediaQuery

#28176 [docs] Fix 404 links to MUI X API
  docs/src/pages.ts
  docs/translations/translations.json
Labels: docs

#28475 [docs] Update examples to remove 'beta'
  examples/cdn/index.html
  examples/create-react-app-with-styled-components-typescript/src/App.tsx
  examples/create-react-app-with-styled-components/src/App.js
  examples/create-react-app-with-typescript/src/App.tsx
  examples/create-react-app/src/App.js
  examples/gatsby/src/pages/about.js
  examples/gatsby/src/pages/index.js
  examples/nextjs/pages/about.js
  examples/nextjs/pages/index.js
  examples/preact/src/App.js
  examples/ssr/App.js
Labels: docs

#28426 [docs] Update caret position in comments to match npm scope
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs

#28428 [website] Close the open engineering roles
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/danilo-leal-joining.md
  docs/pages/blog/michal-dudak-joining.md
  docs/pages/careers.tsx
  docs/pages/company/careers.js
  docs/public/_redirects
  docs/src/pages/company/careers/careers.md
  docs/src/pages/company/careers/developer-advocate.md
  docs/src/pages/company/careers/full-stack-engineer.md
  docs/src/pages/company/careers/product-manager.md
  docs/src/pages/company/careers/react-engineer.md
  docs/src/pages/company/careers/technical-product-manager.md
Labels: website

#28469 [framer] Update @mui/* dependencies
  framer/Material-UI.framerfx/package.json
  framer/Material-UI.framerfx/yarn.lock
  package.json
Labels: framer

#28468 [core] Remove unused dependencies
  .github/renovate.json
  docs/package.json
  package.json
  yarn.lock
Labels: core

#28400 [codemod] Cover edge case for theme-spacing
  packages/mui-codemod/src/v5.0.0/theme-spacing.js
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/actual.js
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/expected.js
Labels: package: codemod

#28476 [test] Increase BS timeout for Firefox
  test/karma.conf.js
Labels: test

#28429 [docs] Fix html compliance
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawerItem.js
Labels: docs

#28474 [website] Fix crash
  docs/src/components/productCore/CoreComponents.tsx
  docs/src/layouts/AppHeader.tsx
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/utils/helpers.ts
Labels: docs

#28478 [website] Fix typo
  docs/pages/blog/material-ui-is-now-mui.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/core.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/ProductsSwitcher.tsx
Labels: docs

#28485 [website] Add components index page
  docs/pages/components.tsx
  docs/src/modules/brandingTheme.ts
Labels: website

#26600 [TimePicker] Fire change event when meridiem changes (#26600)
  packages/mui-lab/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/mui-lab/src/internal/pickers/hooks/date-helpers-hooks.tsx
Labels: bug 🐛, component: Timeline

#25095 [DateTimePicker] Support `seconds` `view`
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  packages/mui-lab/src/DateTimePicker/DateTimePicker.test.tsx
  packages/mui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/mui-lab/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/mui-lab/src/DateTimePicker/shared.ts
  packages/mui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/mui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/mui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
Labels: enhancement, component: DateTimePicker

#28504 [test] Run listChangedFiles against master
  scripts/listChangedFiles.test.js
Labels: test

#28507 [test] Add custom queries to `screen`
  test/utils/createClientRender.tsx
Labels: test

#28498 [website] Update /company pages to use marketing website Header and Footer
  docs/pages/careers.tsx
  docs/src/modules/components/TopLayoutCompany.js
Labels: website

#28505 [website] Cleanup unused files after rebranding
  docs/pages/branding/home.tsx
  docs/public/static/images/users/amazon.svg
  docs/public/static/images/users/bethesda.svg
  docs/public/static/images/users/capgemini.svg
  docs/public/static/images/users/jpmorgan.svg
  docs/public/static/images/users/nasa.svg
  docs/public/static/images/users/netflix.svg
  docs/public/static/images/users/shutterstock.svg
  docs/public/static/images/users/spotify.svg
  docs/public/static/images/users/uniqlo.svg
  docs/public/static/images/users/unity.svg
  docs/public/static/images/users/walmart-labs.svg
  docs/public/static/sponsors/doit-intl.png
  docs/public/static/sponsors/doit.png
  docs/public/static/sponsors/octopus-dark.png
  docs/public/static/sponsors/octopus-light.png
  docs/src/pages/landing/Pro.js
  docs/src/pages/landing/QuickWord.js
  docs/src/pages/landing/Quotes.js
  docs/src/pages/landing/Sponsors.js
  docs/src/pages/landing/Steps.js
  docs/src/pages/landing/Themes.js
  docs/src/pages/landing/Users.js
  docs/src/pages/landing/backers-de.md
  docs/src/pages/landing/backers-es.md
  docs/src/pages/landing/backers-fr.md
  docs/src/pages/landing/backers-ja.md
  docs/src/pages/landing/backers-pt.md
  docs/src/pages/landing/backers-ru.md
  docs/src/pages/landing/backers-zh.md
  docs/src/pages/landing/backers.md
Labels: website

#28521 [docs] Fix typo
  docs/src/pages/customization/how-to-customize/how-to-customize.md
Labels: docs

#28495 [docs] Avoid re-mounting the whole tree when switching theme direction
  docs/pages/_app.js
  docs/src/modules/utils/StyledEngineProvider.js
Labels: docs, performance

#28530 [docs] Fix migration v5 docs
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#28506 [docs] Fix missing exit animation for transition Poppers
  docs/src/pages/components/popper/SpringPopper.js
  docs/src/pages/components/popper/SpringPopper.tsx
  docs/src/pages/components/popper/TransitionsPopper.js
  docs/src/pages/components/popper/TransitionsPopper.tsx
Labels: bug 🐛, docs

#28252 [website] Implement algolia redesign
  docs/package.json
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
  yarn.lock
Labels: website

#28541 [docs] Fix wrong name for zIndex's property example in /system/
  docs/src/pages/system/the-sx-prop/the-sx-prop.md
Labels: docs

#28423 [Checkbox] Fix form submission with empty value
  packages/mui-material/src/internal/SwitchBase.js
  packages/mui-material/src/internal/SwitchBase.test.js
Labels: bug 🐛, component: Checkbox

#28553 [core] Batch small changes
  docs/pages/blog/material-ui-is-now-mui.md
  docs/src/modules/components/HighlightedCode.js
  docs/src/modules/components/TopLayoutBlog.js
Labels: core

#28178 [docs] Push the fixes on Next.js's Link to the examples
  docs/src/modules/components/Link.tsx
  examples/nextjs-with-styled-components-typescript/src/Link.tsx
  examples/nextjs-with-typescript/src/Link.tsx
  examples/nextjs/src/Link.js
Labels: docs

#28565 [docs] Update examples to use `latest` mui
  examples/create-react-app-with-styled-components-typescript/package.json
  examples/create-react-app-with-styled-components/package.json
  examples/create-react-app-with-typescript/package.json
  examples/create-react-app/package.json
  examples/gatsby/package.json
  examples/nextjs-with-styled-components-typescript/package.json
  examples/nextjs-with-typescript/package.json
  examples/nextjs/package.json
  examples/preact/package.json
  examples/ssr/package.json
Labels: docs

#28564 [website] Batch fixes
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/modules/components/AppSearch.js
Labels: docs

#28406 [website] Iteration on the pricing page
  docs/src/components/pricing/EarlyBird.tsx
  docs/src/components/pricing/PricingTable.tsx
Labels: website

#28581 [docs] Mention Premium pricing cap
  docs/src/components/pricing/EarlyBird.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppTheme.js
  docs/src/modules/components/ad.styles.js
  docs/src/pages/components/buttons/buttons.md
Labels: docs, website

#28549 [docs] Fix typo in generated class names section
  docs/public/static/images/system/styled-options.png
  docs/src/pages/system/styled/UsingOptions.js
  docs/src/pages/system/styled/UsingOptions.tsx
  docs/src/pages/system/styled/styled.md
Labels: docs

#28527 [docs] Fix color in example
  docs/src/pages/customization/theme-components/theme-components.md
Labels: docs

#28253 [docs] Improve migration-v4.md phrasing
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs, v5.x migration

#28255 [docs] Polish email validation logic
  docs/src/pages/premium-themes/onepirate/modules/form/validation.js
  docs/src/pages/premium-themes/onepirate/modules/form/validation.ts
Labels: docs

#28570 [system] Fix types to support theme callbacks on pseudo and nested selectors
  packages/mui-system/src/Box/Box.spec.tsx
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.d.ts
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: typescript, package: system

#28472 [Slider] Don't error on minimal changes with readonly value
  packages/mui-core/src/SliderUnstyled/SliderUnstyled.js
  packages/mui-core/src/SliderUnstyled/SliderUnstyled.test.js
  packages/mui-material/src/Slider/Slider.test.js
Labels: bug 🐛, component: Slider

#28634 [docs] Fix title MUI x2
  docs/src/modules/components/ApiPage.js
Labels: bug 🐛, docs

#28413 [useMediaQuery] Add types for `matchMedia` option and deprecate exported interfaces
  packages/mui-material/src/useMediaQuery/useMediaQuery.d.ts
  packages/mui-material/src/useMediaQuery/useMediaQuery.ts
Labels: enhancement, typescript, hook: useMediaQuery

#28511 [test] Make `seconds` `views` test pass in browsers
  packages/mui-lab/src/DateTimePicker/DateTimePicker.test.tsx
  packages/mui-lab/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
Labels: test, component: DateTimePicker

#28635 [docs] Removed duplicate line in date-ranger-picker.md file
  docs/src/pages/components/date-range-picker/date-range-picker.md
Labels: docs, component: DateRangePicker

#28642 [core] Improve Renovate groups
  .github/renovate.json
Labels: core

#28638 [test] Document where the value for SwitchBase#value comes from
  packages/mui-material/src/internal/SwitchBase.test.js
Labels: test, component: Switch

#28661 [examples] Nextjs Link missing passHref #28588
  examples/nextjs-with-styled-components-typescript/src/Link.tsx
  examples/nextjs-with-typescript/src/Link.tsx
  examples/nextjs/src/Link.js
Labels: bug 🐛, docs

#28582 [docs] Uniformize the code's font family
  docs/pages/_document.js
  docs/public/static/fonts/IBMPlexMono-Regular.ttf
  docs/public/static/fonts/IBMPlexMono-Regular.woff
  docs/public/static/fonts/IBMPlexMono-Regular.woff2
  docs/public/static/fonts/IBMPlexMono-SemiBold.ttf
  docs/public/static/fonts/IBMPlexMono-SemiBold.woff
  docs/public/static/fonts/IBMPlexMono-SemiBold.woff2
  docs/public/static/styles/prism-okaidia.css
  docs/src/components/markdown/MarkdownElement.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownElement.js
  test/regressions/index.js
Labels: docs, website

#28656 [docs] Make the Toggle Button size demo use default icon size
  docs/src/pages/components/toggle-button/ToggleButtonSizes.js
  docs/src/pages/components/toggle-button/ToggleButtonSizes.tsx
Labels: docs

#28651 [docs] Improve old doc versions discoverability
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/DiamondSponsors.js
Labels: enhancement, docs

#28509 [test] Move ByMuiTest to test/utils
  packages/mui-lab/src/CalendarPicker/CalendarPicker.test.tsx
  packages/mui-lab/src/ClockPicker/ClockPicker.test.tsx
  packages/mui-lab/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/mui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/mui-lab/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/mui-lab/src/MobileDatePicker/MobileDatePickerLocalization.test.tsx
  packages/mui-lab/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/mui-lab/src/MobileTimePicker/MobileTimePicker.test.tsx
  packages/mui-lab/src/StaticDatePicker/StaticDatePicker.test.tsx
  packages/mui-lab/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/mui-lab/src/internal/pickers/test-utils.tsx
  test/utils/createClientRender.tsx
Labels: test
