Repository mui/material-ui, pull requests merged in 2021-04, with the labels that each got.

#25570 [docs] Fix spelling error in roadmap.md file
  docs/src/pages/discover-more/roadmap/roadmap.md
Labels: docs

#25567 [Select] Fix selection of non-options
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: bug 🐛, component: Select

#25572 [docs] Replace incorrect instances of defined with define
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/styles/api/api.md
Labels: docs

#25576 [docs] Add note for typescript on the styled() customization guide
  docs/src/pages/customization/how-to-customize/DynamicCSS.tsx
  docs/src/pages/customization/how-to-customize/how-to-customize.md
Labels: docs, typescript

#25584 [docs] Provide an alternative to right-to-left
  docs/src/pages/guides/right-to-left/right-to-left.md
Labels: docs

#25619 [docs] Fix side nav scroll position
  docs/src/modules/components/AppNavDrawer.js
Labels: bug 🐛, docs

#25585 [ToggleButton] Add fullWidth prop
  docs/pages/api-docs/toggle-button-group.json
  docs/pages/api-docs/toggle-button.json
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/pages/components/toggle-button/ToggleButtons.js
  docs/src/pages/components/toggle-button/ToggleButtons.tsx
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  docs/translations/api-docs/toggle-button/toggle-button.json
  packages/material-ui/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: component: ToggleButton, enhancement

#25575 [docs] Add interoperability section for Portal
  docs/src/pages/guides/interoperability/StyledComponentsPortal.js
  docs/src/pages/guides/interoperability/StyledComponentsPortal.tsx
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#25590 [website] Matheus Wichman joins Material-UI
  docs/pages/blog/matheus-wichman-joining.js
  docs/pages/blog/matheus-wichman-joining.md
  docs/public/static/blog/matheus-wichman-joining/card.png
Labels: website

#25589 [Stepper] Migrate MobileStepper to emotion
  docs/pages/api-docs/mobile-stepper.json
  docs/translations/api-docs/mobile-stepper/mobile-stepper.json
  packages/material-ui/src/MobileStepper/MobileStepper.d.ts
  packages/material-ui/src/MobileStepper/MobileStepper.js
  packages/material-ui/src/MobileStepper/MobileStepper.test.js
  packages/material-ui/src/MobileStepper/index.d.ts
  packages/material-ui/src/MobileStepper/index.js
  packages/material-ui/src/MobileStepper/mobileStepperClasses.d.ts
  packages/material-ui/src/MobileStepper/mobileStepperClasses.js
Labels: component: Stepper

#25622 [Pagination] Allow to differentiate more item types
  docs/pages/api-docs/pagination-item.json
  docs/translations/api-docs/pagination-item/pagination-item.json
  packages/material-ui/src/PaginationItem/PaginationItem.d.ts
  packages/material-ui/src/PaginationItem/PaginationItem.js
  packages/material-ui/src/PaginationItem/PaginationItem.test.js
  packages/material-ui/src/PaginationItem/paginationItemClasses.js
Labels: component: Pagination, enhancement

#25639 [docs] Fix typo in switches.md doc
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/switches/switches.md
Labels: docs

#25583 [CssBaseline] Fix @font-face rule broken in styleOverrides
  docs/src/pages/customization/how-to-customize/OverrideCssBaseline.js
  docs/src/pages/customization/how-to-customize/OverrideCssBaseline.tsx
  docs/src/pages/customization/typography/typography.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/CssBaseline/CssBaseline.js
  packages/material-ui/src/CssBaseline/CssBaseline.test.js
  packages/material-ui/src/styles/overrides.d.ts
Labels: bug 🐛, component: CssBaseline, docs

#25620 [docs] Migrate Popover demos to emotion
  docs/src/pages/components/popover/AnchorPlayground.js
  docs/src/pages/components/popover/BasicPopover.js
  docs/src/pages/components/popover/BasicPopover.tsx
  docs/src/pages/components/popover/MouseOverPopover.js
  docs/src/pages/components/popover/MouseOverPopover.tsx
  docs/src/pages/components/popover/PopoverPopupState.js
  docs/src/pages/components/popover/PopoverPopupState.tsx
  docs/src/pages/components/popover/popover.md
Labels: component: Popover, docs

#25638 [Table] Migrate TableSortLabel to emotion
  docs/pages/api-docs/table-sort-label.json
  docs/translations/api-docs/table-sort-label/table-sort-label.json
  packages/material-ui/src/TableSortLabel/TableSortLabel.d.ts
  packages/material-ui/src/TableSortLabel/TableSortLabel.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.test.js
  packages/material-ui/src/TableSortLabel/index.d.ts
  packages/material-ui/src/TableSortLabel/index.js
  packages/material-ui/src/TableSortLabel/tableSortLabelClasses.d.ts
  packages/material-ui/src/TableSortLabel/tableSortLabelClasses.js
Labels: component: Table

#25634 [TextareaAutosize] Fix resizing bug on Firefox
  docs/src/pages/components/textarea-autosize/EmptyTextarea.js
  docs/src/pages/components/textarea-autosize/EmptyTextarea.tsx
  docs/src/pages/components/textarea-autosize/MaxHeightTextarea.js
  docs/src/pages/components/textarea-autosize/MaxHeightTextarea.tsx
  docs/src/pages/components/textarea-autosize/MinHeightTextarea.js
  docs/src/pages/components/textarea-autosize/MinHeightTextarea.tsx
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
Labels: bug 🐛, component: TextareaAutosize

#25640 [docs] Cover TypeScript commands in codemod readme
  packages/material-ui-codemod/README.md
Labels: docs

#25637 [styles] Outdated warning message
  packages/material-ui-styles/src/getStylesCreator/getStylesCreator.js
  packages/material-ui-styles/src/makeStyles/makeStyles.test.js
Labels: docs, package: styles

#25588 [Rating] Migrate to emotion
  docs/pages/api-docs/rating.json
  docs/translations/api-docs/rating/rating.json
  packages/material-ui/src/Rating/Rating.d.ts
  packages/material-ui/src/Rating/Rating.js
  packages/material-ui/src/Rating/Rating.test.js
  packages/material-ui/src/Rating/index.d.ts
  packages/material-ui/src/Rating/index.js
  packages/material-ui/src/Rating/ratingClasses.d.ts
  packages/material-ui/src/Rating/ratingClasses.js
Labels: component: Rating

#24698 [Select] Migrate NativeSelect to emotion
  docs/pages/api-docs/native-select.json
  docs/translations/api-docs/native-select/native-select.json
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.d.ts
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.test.js
  packages/material-ui/src/NativeSelect/index.d.ts
  packages/material-ui/src/NativeSelect/index.js
  packages/material-ui/src/NativeSelect/nativeSelectClasses.d.ts
  packages/material-ui/src/NativeSelect/nativeSelectClasses.js
Labels: component: Select, component: TextField

#25663 [Timeline] Migrate TimelineConnector to emotion
  docs/pages/api-docs/timeline-connector.json
  docs/translations/api-docs/timeline-connector/timeline-connector.json
  packages/material-ui-lab/src/TimelineConnector/TimelineConnector.d.ts
  packages/material-ui-lab/src/TimelineConnector/TimelineConnector.js
  packages/material-ui-lab/src/TimelineConnector/TimelineConnector.test.js
  packages/material-ui-lab/src/TimelineConnector/index.d.ts
  packages/material-ui-lab/src/TimelineConnector/index.js
  packages/material-ui-lab/src/TimelineConnector/timelineConnectorClasses.d.ts
  packages/material-ui-lab/src/TimelineConnector/timelineConnectorClasses.js
Labels: component: Timeline

#25654 [Alert] Vertically align action on top
  packages/material-ui/src/Alert/Alert.js
Labels: component: Alert, enhancement

#25668 [core] Ensure react-is uses v17
  package.json
  yarn.lock
Labels: core

#25669 [docs] Fix a11y issue in the SpeedDial docs
  docs/src/pages/components/speed-dial/PlaygroundSpeedDial.js
  docs/src/pages/components/speed-dial/PlaygroundSpeedDial.tsx
Labels: component: SpeedDial, docs

#25670 [docs] Fix useLayoutEffect warning
  docs/src/modules/components/AppNavDrawer.js
Labels: docs

#25672 [core] Fix build step for unstyled package
  packages/material-ui-unstyled/package.json
Labels: core

#25678 [docs] Fix typo in v4 migration doc
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#25684 [test] Test types of .spec lab files
  packages/material-ui-lab/src/DatePicker/DatePicker.spec.tsx
  packages/material-ui-lab/tsconfig.json
Labels: package: lab, test, typescript

#25682 [test] Use public api in lab
  packages/material-ui-lab/src/TabPanel/TabPanel.d.ts
  packages/material-ui-lab/src/TabPanel/TabPanel.test.tsx
  packages/material-ui-lab/src/TabPanel/index.d.ts
  packages/material-ui-lab/src/TimelineConnector/TimelineConnector.d.ts
  packages/material-ui-lab/src/TimelineConnector/TimelineConnector.test.js
  packages/material-ui-lab/src/TimelineSeparator/TimelineSeparator.d.ts
  packages/material-ui-lab/src/TimelineSeparator/TimelineSeparator.test.js
Labels: test

#25665 [SpeedDial] Fix broken aria reference issue
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.test.js
Labels: accessibility, component: SpeedDial

#25673 [TreeView] Migrate to emotion
  docs/pages/api-docs/tree-view.json
  docs/translations/api-docs/tree-view/tree-view.json
  packages/material-ui-lab/src/TreeView/TreeView.d.ts
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/TreeView/TreeView.test.js
  packages/material-ui-lab/src/TreeView/index.d.ts
  packages/material-ui-lab/src/TreeView/index.js
  packages/material-ui-lab/src/TreeView/treeViewClasses.d.ts
  packages/material-ui-lab/src/TreeView/treeViewClasses.js
Labels: component: TreeView

#25591 [website] Q1 2021 Update
  docs/pages/blog/2021-q1-update.js
  docs/pages/blog/2021-q1-update.md
  docs/public/static/blog/2021-q1-update/card.png
  docs/public/static/blog/2021-q1-update/column-selector.png
  docs/public/static/blog/2021-q1-update/csv-export.png
  docs/public/static/blog/2021-q1-update/docs-after.png
  docs/public/static/blog/2021-q1-update/docs-before.png
  docs/public/static/blog/2021-q1-update/stack.png
  docs/src/modules/components/TopLayoutBlog.js
Labels: website

#25692 [Table] Remove legacy fix for JSS
  packages/material-ui/src/TableSortLabel/TableSortLabel.js
Labels: component: Table, enhancement

#25649 [Rating] Add highlight selected rating only
  docs/pages/api-docs/rating.json
  docs/src/pages/components/rating/CustomizedRating.js
  docs/src/pages/components/rating/CustomizedRating.tsx
  docs/src/pages/components/rating/RadioGroupRating.js
  docs/src/pages/components/rating/RadioGroupRating.tsx
  docs/src/pages/components/rating/rating.md
  docs/translations/api-docs/rating/rating.json
  packages/material-ui/src/Rating/Rating.d.ts
  packages/material-ui/src/Rating/Rating.js
Labels: accessibility, component: Rating

#25680 [docs] Ensure old api-docs translations are cleaned
  docs/scripts/buildApi.ts
Labels: docs

#25695 [Popover] Add popoverClasses export to type declarations
  packages/material-ui/src/Popover/index.d.ts
Labels: component: Popover, typescript

#25661 [docs] Bump stylis-plugin-rtl requirement
  docs/package.json
  yarn.lock
Labels: docs

#25676 [Autocomplete] Fix text field standard visual regression
  packages/material-ui/src/Autocomplete/Autocomplete.js
  test/regressions/fixtures/Autocomplete/StandardAutocomplete.js
Labels: bug 🐛, component: Autocomplete

#25653 [Select] Migrate to emotion
  docs/pages/api-docs/select.json
  docs/src/pages/components/selects/CustomizedSelects.js
  docs/src/pages/components/selects/CustomizedSelects.tsx
  docs/translations/api-docs/select/select.json
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/NativeSelect/index.d.ts
  packages/material-ui/src/NativeSelect/index.js
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/index.d.ts
  packages/material-ui/src/Select/index.js
  packages/material-ui/src/Select/selectClasses.d.ts
  packages/material-ui/src/Select/selectClasses.js
  test/utils/describeConformance.js
Labels: component: Select

#25730 [theme] Change default bgColor to white in light mode
  docs/src/modules/components/ThemeContext.js
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/styles/createPalette.js
Labels: breaking change, material design

#25689 [typescript] Add muiName to declarations
  packages/material-ui-lab/src/TimelineOppositeContent/TimelineOppositeContent.d.ts
  packages/material-ui/src/FilledInput/FilledInput.d.ts
  packages/material-ui/src/Icon/Icon.d.ts
  packages/material-ui/src/Input/Input.d.ts
  packages/material-ui/src/ListItemSecondaryAction/ListItemSecondaryAction.d.ts
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/OutlinedInput/OutlinedInput.d.ts
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.d.ts
  packages/material-ui/src/StepLabel/StepLabel.d.ts
  packages/material-ui/src/SvgIcon/SvgIcon.d.ts
Labels: typescript

#25626 [docs] Migrate TextField demos to emotion
  docs/src/pages/components/text-fields/BasicTextFields.js
  docs/src/pages/components/text-fields/BasicTextFields.tsx
  docs/src/pages/components/text-fields/ColorTextFields.js
  docs/src/pages/components/text-fields/ColorTextFields.tsx
  docs/src/pages/components/text-fields/ComposedTextField.js
  docs/src/pages/components/text-fields/ComposedTextField.tsx
  docs/src/pages/components/text-fields/CustomizedInputBase.js
  docs/src/pages/components/text-fields/CustomizedInputBase.tsx
  docs/src/pages/components/text-fields/FormPropsTextFields.js
  docs/src/pages/components/text-fields/FormPropsTextFields.tsx
  docs/src/pages/components/text-fields/FormattedInputs.js
  docs/src/pages/components/text-fields/FormattedInputs.tsx
  docs/src/pages/components/text-fields/HelperTextAligned.js
  docs/src/pages/components/text-fields/HelperTextAligned.tsx
  docs/src/pages/components/text-fields/HelperTextMisaligned.js
  docs/src/pages/components/text-fields/HelperTextMisaligned.tsx
  docs/src/pages/components/text-fields/InputAdornments.js
  docs/src/pages/components/text-fields/InputAdornments.tsx
  docs/src/pages/components/text-fields/InputWithIcon.js
  docs/src/pages/components/text-fields/InputWithIcon.tsx
  docs/src/pages/components/text-fields/Inputs.js
  docs/src/pages/components/text-fields/Inputs.tsx
  docs/src/pages/components/text-fields/LayoutTextFields.js
  docs/src/pages/components/text-fields/LayoutTextFields.tsx
  docs/src/pages/components/text-fields/MultilineTextFields.js
  docs/src/pages/components/text-fields/MultilineTextFields.tsx
  docs/src/pages/components/text-fields/SelectTextFields.js
  docs/src/pages/components/text-fields/SelectTextFields.tsx
  docs/src/pages/components/text-fields/StateTextFields.js
  docs/src/pages/components/text-fields/StateTextFields.tsx
  docs/src/pages/components/text-fields/TextFieldHiddenLabel.js
  docs/src/pages/components/text-fields/TextFieldHiddenLabel.tsx
  docs/src/pages/components/text-fields/TextFieldSizes.js
  docs/src/pages/components/text-fields/TextFieldSizes.tsx
  docs/src/pages/components/text-fields/ValidationTextFields.js
  docs/src/pages/components/text-fields/ValidationTextFields.tsx
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/guides/api/api.md
  docs/src/pages/system/basics/Why.js
  docs/src/pages/system/basics/Why.tsx
  docs/src/pages/system/basics/basics.md
Labels: component: TextField, docs

#25569 [TimePicker] Use clock icon when editing in mobile mode
  packages/material-ui-lab/src/TimePicker/TimePickerToolbar.tsx
  packages/material-ui-lab/src/internal/pickers/PickersToolbar.tsx
Labels: PR: needs test, bug 🐛, component: TimePicker

#25641 [LinearProgress] Add color="inherit" support
  docs/pages/api-docs/linear-progress.json
  docs/src/pages/components/progress/LinearColor.js
  docs/src/pages/components/progress/LinearColor.tsx
  docs/src/pages/components/progress/LinearIndeterminate.js
  docs/src/pages/components/progress/LinearIndeterminate.tsx
  docs/src/pages/components/progress/progress.md
  packages/material-ui/src/LinearProgress/LinearProgress.js
  test/regressions/fixtures/LinearProgress/DeterminateLinearProgress.js
Labels: component: LinearProgress, enhancement

#25696 [TextField] Add textFieldClasses export to type declarations
  packages/material-ui/src/TextField/index.d.ts
Labels: component: TextField, typescript

#25636 [Grid] Support custom number of columns
  docs/pages/api-docs/grid.json
  docs/src/pages/components/grid/ColumnsGrid.js
  docs/src/pages/components/grid/ColumnsGrid.tsx
  docs/src/pages/components/grid/grid.md
  docs/translations/api-docs/grid/grid.json
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/GridContext.js
Labels: component: Grid, enhancement

#25733 [docs] Add package headings to 5.0.0-alpha.30 changelog
  CHANGELOG.md
Labels: docs

#25732 [core] Document token permissions of release:changelog
  scripts/releaseChangelog.js
Labels: core

#25698 [Rating] Fix focus visible regression
  packages/material-ui/src/Rating/Rating.js
  test/regressions/fixtures/Rating/FocusVisibleRating.js
  test/regressions/index.js
  test/regressions/index.test.js
Labels: bug 🐛, component: Rating

#25685 [Pickers] Rename `date` `view` to `day`
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/day-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  docs/src/pages/components/date-picker/ResponsiveDatePickers.js
  docs/src/pages/components/date-picker/ResponsiveDatePickers.tsx
  docs/src/pages/components/date-picker/StaticDatePickerLandscape.js
  docs/src/pages/components/date-picker/StaticDatePickerLandscape.tsx
  docs/src/pages/components/date-picker/ViewsDatePicker.js
  docs/src/pages/components/date-picker/ViewsDatePicker.tsx
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerViewMobile.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/material-ui-lab/src/DateTimePicker/shared.ts
  packages/material-ui-lab/src/DayPicker/DayPicker.spec.tsx
  packages/material-ui-lab/src/DayPicker/DayPicker.tsx
  packages/material-ui-lab/src/DayPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/DayPicker/shared.ts
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePickerLocalization.test.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.test.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/typings/Views.ts
Labels: Pickers, breaking change

#25745 [theme] Avoid mutating args in createSpacing
  packages/material-ui/src/styles/createSpacing.d.ts
  packages/material-ui/src/styles/createSpacing.ts
Labels: package: core, typescript

#25752 [docs] Fix autocommplete disable event value
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: component: Autocomplete, docs

#25750 [docs] Breakdown Chip demos into smaller ones
  docs/src/pages/components/chips/AvatarChips.js
  docs/src/pages/components/chips/AvatarChips.tsx
  docs/src/pages/components/chips/BasicChips.js
  docs/src/pages/components/chips/BasicChips.tsx
  docs/src/pages/components/chips/Chips.js
  docs/src/pages/components/chips/Chips.tsx
  docs/src/pages/components/chips/ClickeableAndDeleteableChips.js
  docs/src/pages/components/chips/ClickeableAndDeleteableChips.tsx
  docs/src/pages/components/chips/ClickeableChips.js
  docs/src/pages/components/chips/ClickeableChips.tsx
  docs/src/pages/components/chips/ClickeableLinkChips.js
  docs/src/pages/components/chips/ClickeableLinkChips.tsx
  docs/src/pages/components/chips/ColorChips.js
  docs/src/pages/components/chips/ColorChips.tsx
  docs/src/pages/components/chips/CustomDeleteIconChips.js
  docs/src/pages/components/chips/CustomDeleteIconChips.tsx
  docs/src/pages/components/chips/DeleteableChips.js
  docs/src/pages/components/chips/DeleteableChips.tsx
  docs/src/pages/components/chips/IconChips.js
  docs/src/pages/components/chips/IconChips.tsx
  docs/src/pages/components/chips/OutlinedChips.js
  docs/src/pages/components/chips/OutlinedChips.tsx
  docs/src/pages/components/chips/SizesChips.js
  docs/src/pages/components/chips/SizesChips.tsx
  docs/src/pages/components/chips/SmallChips.js
  docs/src/pages/components/chips/SmallChips.tsx
  docs/src/pages/components/chips/SmallOutlinedChips.js
  docs/src/pages/components/chips/SmallOutlinedChips.tsx
  docs/src/pages/components/chips/chips.md
Labels: docs

#25751 [styled-engine] Improve GlobalStyles props
  packages/material-ui-styled-engine/src/GlobalStyles/GlobalStyles.d.ts
Labels: package: styled-engine

#25736 [docs] Document circular progress inherit
  docs/src/pages/components/progress/CircularColor.js
  docs/src/pages/components/progress/CircularColor.tsx
  docs/src/pages/components/progress/CircularIndeterminate.js
  docs/src/pages/components/progress/CircularIndeterminate.tsx
  docs/src/pages/components/progress/LinearColor.js
  docs/src/pages/components/progress/LinearColor.tsx
  docs/src/pages/components/progress/progress.md
Labels: component: CircularProgress, docs

#25749 [TextField] Fix InputAdornment classes
  packages/material-ui/src/InputAdornment/InputAdornment.js
  test/regressions/fixtures/TextField/FilledHiddenLabelInputAdornment.js
Labels: component: TextField

#25753 [unstyled] Convert generateUtilityClass(es) to TypeScript
  packages/material-ui-unstyled/src/generateUtilityClass/generateUtilityClass.d.ts
  packages/material-ui-unstyled/src/generateUtilityClass/generateUtilityClass.ts
  packages/material-ui-unstyled/src/generateUtilityClass/index.d.ts
  packages/material-ui-unstyled/src/generateUtilityClass/index.ts
  packages/material-ui-unstyled/src/generateUtilityClasses/generateUtilityClasses.d.ts
  packages/material-ui-unstyled/src/generateUtilityClasses/generateUtilityClasses.ts
  packages/material-ui-unstyled/src/generateUtilityClasses/index.d.ts
  packages/material-ui-unstyled/src/generateUtilityClasses/index.ts
Labels: typescript

#25769 [docs] Move DataGrid editing nav link
  docs/src/pages.ts
  docs/translations/translations.json
Labels: component: DataGrid, docs

#25758 [DateRangePicker] Add DateRangePickerDay to theme augmentation list
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
  packages/material-ui-lab/src/themeAugmentation/props.d.ts
Labels: bug 🐛, component: DateRangePicker, typescript

#25768 [Alert] Fix action to be aligned with the text
  packages/material-ui/src/Alert/Alert.js
  test/regressions/fixtures/Alert/MultilineAlertWithAction.js
Labels: bug 🐛, component: Alert

#25775 [docs] Use gender neutral pronoun for Swipeable Drawer
  docs/translations/api-docs/swipeable-drawer/swipeable-drawer.json
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
Labels: component: SwipeableDrawer, docs

#25739 [Snackbar] Fix hidden overlay blocking interactions regression
  packages/material-ui/src/Snackbar/Snackbar.js
Labels: bug 🐛, component: Snackbar

#25645 [Rating] Allow clearing ratings with arrow keys
  packages/material-ui/src/Rating/Rating.js
  packages/material-ui/src/Rating/Rating.test.js
  test/e2e/fixtures/Rating/BasicRating.tsx
  test/e2e/index.test.ts
Labels: accessibility, component: Rating, enhancement

#25746 [core] Use readonly arrays where possible
  docs/scripts/buildApi.ts
  docs/src/pages.ts
  docs/src/pages/components/autocomplete/Asynchronous.tsx
  docs/src/pages/components/autocomplete/CountrySelect.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOption.tsx
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/autocomplete/Tags.tsx
  docs/src/pages/components/bottom-navigation/FixedBottomNavigation.tsx
  docs/src/pages/components/chips/ChipsArray.tsx
  docs/src/pages/components/date-picker/CustomDay.js
  docs/src/pages/components/date-picker/CustomDay.tsx
  docs/src/pages/components/drawers/SwipeableTemporaryDrawer.tsx
  docs/src/pages/components/drawers/TemporaryDrawer.tsx
  docs/src/pages/components/selects/MultipleSelectCheckmarks.tsx
  docs/src/pages/components/selects/MultipleSelectChip.tsx
  docs/src/pages/components/selects/MultipleSelectPlaceholder.tsx
  docs/src/pages/components/skeleton/SkeletonTypography.tsx
  docs/src/pages/components/snackbars/ConsecutiveSnackbars.tsx
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/components/tables/ReactVirtualizedTable.tsx
  docs/src/pages/components/tables/SpanningTable.tsx
  docs/src/pages/components/tables/StickyHeadTable.tsx
  docs/src/pages/components/transfer-list/SelectAllTransferList.tsx
  docs/src/pages/components/transfer-list/TransferList.tsx
  docs/src/pages/components/tree-view/RichObjectTreeView.tsx
  docs/src/pages/components/use-media-query/UseWidth.tsx
  docs/src/pages/getting-started/templates/blog/Header.tsx
  docs/src/pages/getting-started/templates/blog/Main.tsx
  docs/src/pages/getting-started/templates/blog/Sidebar.tsx
  docs/src/pages/premium-themes/onepirate/modules/form/validation.ts
  docs/types/react-docgen.d.ts
  framer/Material-UI.framerfx/code/BottomNavigation.tsx
  framer/Material-UI.framerfx/code/List.tsx
  framer/Material-UI.framerfx/code/RadioGroup.tsx
  framer/Material-UI.framerfx/code/Tabs.tsx
  framer/scripts/buildFramer.js
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPickerStandalone.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerViewMobile.tsx
  packages/material-ui-lab/src/DayPicker/DayPicker.tsx
  packages/material-ui-lab/src/DayPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/SharedPickerProps.tsx
  packages/material-ui-lab/src/internal/pickers/date-utils.ts
  packages/material-ui-lab/src/internal/pickers/hooks/useIsLandscape.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/useViews.tsx
  packages/material-ui-lab/src/internal/pickers/typings/BasePicker.tsx
  packages/material-ui-unstyled/src/ModalUnstyled/ModalManager.ts
  packages/material-ui-unstyled/src/composeClasses/composeClasses.ts
  packages/material-ui-utils/src/isMuiElement.ts
  packages/typescript-to-proptypes/src/injector.ts
  packages/typescript-to-proptypes/src/parser.ts
  packages/typescript-to-proptypes/src/types/props.ts
  scripts/generateProptypes.ts
  test/utils/initMatchers.ts
Labels: package: core, package: lab, typescript

#25782 [core] Don't call noop event.persist()
  packages/material-ui/src/Autocomplete/Autocomplete.test.js
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/ButtonBase/TouchRipple.test.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
  packages/material-ui/src/Chip/Chip.test.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Slider/Slider.test.js
  packages/material-ui/src/SpeedDial/SpeedDial.js
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/test/integration/PopperChildrenLayout.test.js
Labels: enhancement, package: core

#25778 [core] Remove incorrect overridesResolver usages
  packages/material-ui/src/StepContent/StepContent.js
  packages/material-ui/src/StepIcon/StepIcon.js
  packages/material-ui/src/StepLabel/StepLabel.js
Labels: core

#25777 [List] Add support for list item container style overrides
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/ListItem/ListItem.test.js
Labels: component: List

#25780 [styled-engine] Fix shouldForwardProp on slots
  packages/material-ui-lab/src/TabPanel/TabPanel.js
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/styles/experimentalStyled.js
  packages/material-ui/src/styles/experimentalStyled.test.js
Labels: bug 🐛, package: styled-engine

#25781 [Timeline] Migrate TimelineContent to emotion
  docs/pages/api-docs/timeline-content.json
  docs/translations/api-docs/timeline-content/timeline-content.json
  packages/material-ui-lab/src/TimelineContent/TimelineContent.d.ts
  packages/material-ui-lab/src/TimelineContent/TimelineContent.js
  packages/material-ui-lab/src/TimelineContent/TimelineContent.test.js
  packages/material-ui-lab/src/TimelineContent/index.d.ts
  packages/material-ui-lab/src/TimelineContent/index.js
  packages/material-ui-lab/src/TimelineContent/timelineContentClasses.d.ts
  packages/material-ui-lab/src/TimelineContent/timelineContentClasses.js
Labels: component: Timeline

#25787 [docs] Fix Horizontally centered demo
  docs/src/pages/system/spacing/HorizontalCentering.js
  docs/src/pages/system/spacing/HorizontalCentering.tsx
  docs/src/pages/system/spacing/spacing.md
Labels: docs

#25793 [Avatar] Fix onload event not firing when img cached
  packages/material-ui/src/Avatar/Avatar.js
Labels: bug 🐛, component: Avatar

#25789 [Avatar] backgroundColor from string
  docs/src/pages/components/avatars/BackgroundLetterAvatars.js
  docs/src/pages/components/avatars/BackgroundLetterAvatars.tsx
  docs/src/pages/components/avatars/avatars.md
Labels: component: Avatar, docs

#25796 [Select] Fix overrides for slots
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/Select/SelectInput.js
Labels: bug 🐛, component: Select

#25795 [core] Error when installing in unsupported node environments
  .codesandbox/ci.json
  packages/material-ui-codemod/package.json
  packages/material-ui-docs/package.json
  packages/material-ui-icons/package.json
  packages/material-ui-lab/package.json
  packages/material-ui-styled-engine-sc/package.json
  packages/material-ui-styled-engine/package.json
  packages/material-ui-styles/package.json
  packages/material-ui-system/package.json
  packages/material-ui-unstyled/package.json
  packages/material-ui-utils/package.json
  packages/material-ui/package.json
  packages/netlify-plugin-cache-docs/package.json
Labels: core

#25802 [Box] Add utility mui class
  packages/material-ui/src/Box/Box.js
  packages/material-ui/src/Box/Box.test.js
Labels: component: Box

#25817 [internal][pickers] Rename DayPickerView to CalendarPickerView
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/CalendarPicker/shared.ts
Labels: Pickers

#25815 [Select] Fix className overwritten
  packages/material-ui/src/NativeSelect/NativeSelect.js
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/Select/Select.js
  packages/material-ui/src/Select/Select.test.js
Labels: bug 🐛, component: Select

#25819 [Pickers] Use passive effect to attach close-on-escape listener
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePickerKeyboard.test.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.test.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/useIsLandscape.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/useKeyDown.ts
Labels: Pickers

#25818 [Pickers] Remove `TView` generic in CalendarPicker
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/SharedPickerProps.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/useViews.tsx
  packages/material-ui-lab/src/internal/pickers/typings/BasePicker.tsx
Labels: Pickers, typescript

#25804 [core] Batch small changes
  docs/pages/blog/2021-q1-update.md
  docs/pages/branding/pricing.tsx
  docs/src/modules/components/DemoSandboxed.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/switches/CustomizedSwitches.js
  docs/src/pages/components/switches/CustomizedSwitches.tsx
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/templates/album/Album.js
  docs/src/pages/getting-started/templates/album/Album.tsx
  docs/src/pages/getting-started/templates/blog/Blog.js
  docs/src/pages/getting-started/templates/blog/Blog.tsx
  docs/src/pages/getting-started/templates/blog/Footer.js
  docs/src/pages/getting-started/templates/blog/Footer.tsx
  docs/src/pages/getting-started/templates/blog/Header.js
  docs/src/pages/getting-started/templates/blog/Header.tsx
  docs/src/pages/getting-started/templates/blog/Sidebar.js
  docs/src/pages/getting-started/templates/blog/Sidebar.tsx
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.js
  docs/src/pages/getting-started/templates/sign-in-side/SignInSide.tsx
  packages/material-ui-lab/src/YearPicker/PickersYear.tsx
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
  packages/material-ui/src/NativeSelect/nativeSelectClasses.js
  packages/material-ui/src/Select/SelectInput.js
  packages/material-ui/src/Select/selectClasses.js
Labels: core, umbrella

#25825 [core] Fix rgba to hex conversion
  packages/material-ui/src/styles/colorManipulator.js
  packages/material-ui/src/styles/colorManipulator.test.js
Labels: bug 🐛, design system

#25827 [Tabs] Add demo for routing with Tabs
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/guides/routing/ListRouter.js
  docs/src/pages/guides/routing/ListRouter.tsx
  docs/src/pages/guides/routing/TabsRouter.js
  docs/src/pages/guides/routing/TabsRouter.tsx
  docs/src/pages/guides/routing/routing.md
Labels: component: Tabs, docs

#25813 [docs] Improve pickers migration docs from v3
  docs/src/pages/guides/pickers-migration/pickers-migration.md
Labels: Pickers, docs

#25766 [Select] Fix specificity of style overrides
  packages/material-ui/src/Select/SelectInput.js
Labels: bug 🐛, component: Select

#25816 [Timeline] Migrate TimelineOppositeContent to emotion
  docs/pages/api-docs/timeline-opposite-content.json
  docs/translations/api-docs/timeline-opposite-content/timeline-opposite-content.json
  packages/material-ui-lab/src/TimelineOppositeContent/TimelineOppositeContent.d.ts
  packages/material-ui-lab/src/TimelineOppositeContent/TimelineOppositeContent.js
  packages/material-ui-lab/src/TimelineOppositeContent/TimelineOppositeContent.test.js
  packages/material-ui-lab/src/TimelineOppositeContent/TimelineOppositeContentClasses.d.ts
  packages/material-ui-lab/src/TimelineOppositeContent/index.d.ts
  packages/material-ui-lab/src/TimelineOppositeContent/index.js
  packages/material-ui-lab/src/TimelineOppositeContent/timelineOppositeContentClasses.js
Labels: component: Timeline

#25831 [docs] Fix ad duplication
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdGuest.js
  docs/src/modules/components/AdManager.js
Labels: bug 🐛, docs

#25823 [docs] Add example with switch dark/light mode
  docs/src/pages/customization/palette/ToggleColorMode.js
  docs/src/pages/customization/palette/ToggleColorMode.tsx
  docs/src/pages/customization/palette/palette.md
Labels: docs

#25830 [Timeline] Migrate TimelineDot to emotion
  docs/pages/api-docs/timeline-dot.json
  docs/translations/api-docs/timeline-dot/timeline-dot.json
  packages/material-ui-lab/src/TimelineDot/TimelineDot.d.ts
  packages/material-ui-lab/src/TimelineDot/TimelineDot.js
  packages/material-ui-lab/src/TimelineDot/TimelineDot.test.js
  packages/material-ui-lab/src/TimelineDot/index.d.ts
  packages/material-ui-lab/src/TimelineDot/index.js
  packages/material-ui-lab/src/TimelineDot/timelineDotClasses.d.ts
  packages/material-ui-lab/src/TimelineDot/timelineDotClasses.js
Labels: component: Timeline

#25833 [core] Remove unused public types
  packages/material-ui-lab/src/TimelineDot/TimelineDot.d.ts
  packages/material-ui-types/index.d.ts
  packages/material-ui/src/Alert/Alert.d.ts
  packages/material-ui/src/AppBar/AppBar.d.ts
  packages/material-ui/src/Avatar/Avatar.d.ts
  packages/material-ui/src/AvatarGroup/AvatarGroup.d.ts
  packages/material-ui/src/Badge/Badge.d.ts
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/ButtonGroup/ButtonGroup.d.ts
  packages/material-ui/src/Chip/Chip.d.ts
  packages/material-ui/src/CircularProgress/CircularProgress.d.ts
  packages/material-ui/src/Divider/Divider.d.ts
  packages/material-ui/src/Fab/Fab.d.ts
  packages/material-ui/src/FormControl/FormControl.d.ts
  packages/material-ui/src/ImageList/ImageList.d.ts
  packages/material-ui/src/InputBase/InputBase.d.ts
  packages/material-ui/src/LinearProgress/LinearProgress.d.ts
  packages/material-ui/src/Pagination/Pagination.d.ts
  packages/material-ui/src/PaginationItem/PaginationItem.d.ts
  packages/material-ui/src/Paper/Paper.d.ts
  packages/material-ui/src/Skeleton/Skeleton.d.ts
  packages/material-ui/src/TextField/TextField.d.ts
  packages/material-ui/src/Toolbar/Toolbar.d.ts
  packages/material-ui/src/Typography/Typography.d.ts
  packages/material-ui/src/styles/createBreakpoints.d.ts
Labels: breaking change, package: types, typescript

#25822 [Timeline] Migrate TimelineItem to emotion
  docs/pages/api-docs/timeline-item.json
  docs/translations/api-docs/timeline-item/timeline-item.json
  packages/material-ui-lab/src/TimelineContent/TimelineContent.js
  packages/material-ui-lab/src/TimelineItem/TimelineItem.d.ts
  packages/material-ui-lab/src/TimelineItem/TimelineItem.js
  packages/material-ui-lab/src/TimelineItem/TimelineItem.test.js
  packages/material-ui-lab/src/TimelineItem/TimelineItemContext.js
  packages/material-ui-lab/src/TimelineItem/index.d.ts
  packages/material-ui-lab/src/TimelineItem/index.js
  packages/material-ui-lab/src/TimelineItem/timelineItemClasses.d.ts
  packages/material-ui-lab/src/TimelineItem/timelineItemClasses.js
  packages/material-ui-lab/src/TimelineOppositeContent/TimelineOppositeContent.js
Labels: component: Timeline

#25784 [TrapFocus] Make isEnabled and getDoc optional
  docs/pages/api-docs/unstable-trap-focus.json
  docs/src/pages/components/trap-focus/BasicTrapFocus.js
  docs/src/pages/components/trap-focus/BasicTrapFocus.tsx
  docs/src/pages/components/trap-focus/DisableEnforceFocus.js
  docs/src/pages/components/trap-focus/DisableEnforceFocus.tsx
  docs/src/pages/components/trap-focus/LazyTrapFocus.js
  docs/src/pages/components/trap-focus/LazyTrapFocus.tsx
  docs/src/pages/components/trap-focus/PortalTrapFocus.js
  docs/src/pages/components/trap-focus/PortalTrapFocus.tsx
  docs/src/pages/components/trap-focus/trap-focus.md
  docs/translations/api-docs/unstable-trap-focus/unstable-trap-focus.json
  packages/material-ui-unstyled/src/Unstable_TrapFocus/Unstable_TrapFocus.d.ts
  packages/material-ui-unstyled/src/Unstable_TrapFocus/Unstable_TrapFocus.js
  packages/material-ui-unstyled/src/Unstable_TrapFocus/Unstable_TrapFocus.test.js
Labels: component: TrapFocus, enhancement

#25691 [Popover] Remove getContentAnchorEl prop
  docs/pages/api-docs/popover.json
  docs/src/modules/components/DemoToolbar.js
  docs/src/pages/components/menus/CustomizedMenus.js
  docs/src/pages/components/menus/CustomizedMenus.tsx
  docs/src/pages/components/menus/PositionedMenu.js
  docs/src/pages/components/menus/PositionedMenu.tsx
  docs/src/pages/components/menus/menus.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/menu/menu.json
  docs/translations/api-docs/popover/popover.json
  packages/material-ui/src/Menu/Menu.d.ts
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
Labels: breaking change, component: Menu, component: Popover, component: Select

#25801 [website] Add Matheus Wichman
  docs/pages/branding/about.tsx
  docs/public/static/branding/about/matheus.jpg
  docs/src/pages/discover-more/team/Team.js
Labels: website

#25839 [docs] Fix /production-error crash
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/PageContext.js
  docs/src/modules/components/PageContext.tsx
  docs/src/pages.ts
Labels: bug 🐛, docs

#25812 [docs] Add demos for public picker components
  docs/pages/api-docs/calendar-picker-skeleton.json
  docs/pages/api-docs/calendar-picker.json
  docs/pages/api-docs/clock-picker.json
  docs/pages/api-docs/date-range-picker-day.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/month-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/year-picker.json
  docs/src/pages/components/date-picker/SubComponentsPickers.js
  docs/src/pages/components/date-picker/SubComponentsPickers.tsx
  docs/src/pages/components/date-picker/date-picker.md
  docs/src/pages/components/date-range-picker/CustomDateRangePickerDay.js
  docs/src/pages/components/date-range-picker/CustomDateRangePickerDay.tsx
  docs/src/pages/components/date-range-picker/date-range-picker.md
  docs/src/pages/components/time-picker/SubComponentsTimePickers.js
  docs/src/pages/components/time-picker/SubComponentsTimePickers.tsx
  docs/src/pages/components/time-picker/time-picker.md
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.tsx
Labels: Pickers, docs

#25671 [docs] Remove inline-style
  docs/src/modules/components/AppNavDrawerItem.js
Labels: docs

#25843 [docs] Add unstyled section to all components coming with the package
  docs/src/pages/components/backdrop/backdrop.md
  docs/src/pages/components/badges/badges.md
  docs/src/pages/components/modal/modal.md
  docs/src/pages/components/portal/portal.md
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/trap-focus/trap-focus.md
Labels: docs

#25869 [Container] Fix maxWidth="false" resulting in incorrect css
  packages/material-ui/src/Container/Container.js
Labels: bug 🐛, component: Container

#25861 [docs] Expose heading links in a11y tree
  docs/src/modules/components/ApiPage.js
  docs/src/modules/utils/parseMarkdown.js
Labels: accessibility, docs

#25870 [Drawer] Fix classes forwarded to DOM node for docked drawer
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/DialogContentText/DialogContentText.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/FilledInput/FilledInput.js
  packages/material-ui/src/Input/Input.js
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/MenuItem/MenuItem.js
  packages/material-ui/src/OutlinedInput/OutlinedInput.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/styles/experimentalStyled.js
Labels: bug 🐛, component: Drawer

#25838 [Timeline] Migrate Timeline to emotion
  docs/pages/api-docs/timeline.json
  docs/translations/api-docs/timeline/timeline.json
  packages/material-ui-lab/src/Timeline/Timeline.test.tsx
  packages/material-ui-lab/src/Timeline/Timeline.tsx
  packages/material-ui-lab/src/Timeline/index.tsx
  packages/material-ui-lab/src/Timeline/timelineClasses.ts
  packages/material-ui-unstyled/src/composeClasses/composeClasses.ts
  packages/material-ui/src/styles/experimentalStyled.d.ts
Labels: component: Timeline

#25855 [docs] Fix global styles leaking on different pages
  docs/pages/_app.js
  docs/pages/_document.js
Labels: bug 🐛, docs

#25885 [system] Add missing `main` entry for styleFunctionSx
  scripts/build.js
  scripts/copy-files.js
Labels: bug 🐛, package: system

#25900 [docs] Explicitly list demos of unstyled components
  docs/scripts/buildApi.ts
  packages/material-ui-unstyled/src/BadgeUnstyled/BadgeUnstyled.d.ts
Labels: docs

#25811 [docs] Require documentation of demos
  docs/scripts/buildApi.ts
  docs/scripts/i18n.js
  docs/scripts/tsconfig.json
  docs/src/modules/utils/helpers.ts
Labels: docs

#25841 [l10n] Add Bengali (bnBD) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.ts
Labels: enhancement

#25907 [docs] Fix Slider's classes wrong description
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/slider/slider.json
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.d.ts
Labels: component: Slider, docs

#25854 [test] Add test validator to improve DX
  test/utils/describeConformanceV5.js
Labels: test

#25809 [Table] Migrate TablePagination to emotion
  docs/pages/api-docs/table-pagination.json
  docs/translations/api-docs/table-pagination/table-pagination.json
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TablePagination/TablePagination.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
  packages/material-ui/src/TablePagination/index.d.ts
  packages/material-ui/src/TablePagination/index.js
  packages/material-ui/src/TablePagination/tablePaginationClasses.d.ts
  packages/material-ui/src/TablePagination/tablePaginationClasses.js
Labels: component: Table

#25895 [theme] Remove fade color helper
  docs/src/modules/branding/ComparisonTable.tsx
  packages/material-ui/src/styles/colorManipulator.d.ts
  packages/material-ui/src/styles/colorManipulator.js
Labels: breaking change

#25891 [TextField] Make the `position` prop required in InputAdornment
  docs/pages/api-docs/input-adornment.json
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/InputAdornment/InputAdornment.d.ts
  packages/material-ui/src/InputAdornment/InputAdornment.js
Labels: component: TextField

#25896 [ButtonBase] Remove buttonRef prop
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.js
Labels: breaking change, component: ButtonBase

#25897 [ButtonBase] Add warning for buttonRef removal
  packages/material-ui/src/ButtonBase/ButtonBase.js
Labels: component: ButtonBase, deprecation

#25824 [Tabs] Migrate Tabs to emotion
  docs/pages/api-docs/tabs.json
  docs/translations/api-docs/tabs/tabs.json
  framer/scripts/framerConfig.js
  packages/material-ui-lab/src/TabList/TabList.test.js
  packages/material-ui/src/Tabs/TabIndicator.js
  packages/material-ui/src/Tabs/TabIndicator.test.js
  packages/material-ui/src/Tabs/Tabs.d.ts
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/Tabs/index.d.ts
  packages/material-ui/src/Tabs/index.js
  packages/material-ui/src/Tabs/tabsClasses.d.ts
  packages/material-ui/src/Tabs/tabsClasses.js
Labels: component: Tabs

#25903 [test] Add current behavior of inverleaving elements on mousedown
  packages/material-ui/src/ClickAwayListener/ClickAwayListener.test.js
  test/utils/fireDiscreteEvent.js
Labels: component: ClickAwayListener, test

#25908 [Autocomplete] Fix tagSize class typo
  packages/material-ui/src/Autocomplete/Autocomplete.js
Labels: bug 🐛, component: Autocomplete

#25874 [Button] Rename `pending` prop to `loading` in LoadingButton
  docs/pages/api-docs/loading-button.json
  docs/src/pages/components/buttons/LoadingButtons.js
  docs/src/pages/components/buttons/LoadingButtons.tsx
  docs/src/pages/components/buttons/LoadingButtonsTransition.js
  docs/src/pages/components/buttons/LoadingButtonsTransition.tsx
  docs/src/pages/components/buttons/buttons-de.md
  docs/src/pages/components/buttons/buttons-es.md
  docs/src/pages/components/buttons/buttons-fr.md
  docs/src/pages/components/buttons/buttons-ja.md
  docs/src/pages/components/buttons/buttons-pt.md
  docs/src/pages/components/buttons/buttons-ru.md
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/loading-button/loading-button.json
  packages/material-ui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/material-ui-lab/src/LoadingButton/LoadingButton.js
  packages/material-ui-lab/src/LoadingButton/LoadingButton.test.js
Labels: breaking change, component: Button

#25912 [TextField] Add `isRequired` to position prop in InputAdornment
  docs/pages/api-docs/input-adornment.md
  packages/material-ui/src/InputAdornment/InputAdornment.js
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
Labels: component: TextField, deprecation

#25894 [Select] Fix classes leaking on the DOM
  packages/material-ui/src/Select/SelectInput.js
Labels: bug 🐛, component: Select

#25929 [docs] Fix Typography api docs for `paragraph` prop
  docs/translations/api-docs/typography/typography.json
  packages/material-ui/src/Typography/Typography.d.ts
  packages/material-ui/src/Typography/Typography.js
Labels: component: Typography, docs

#25914 [theme] Remove theme.typography.round helper
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/styles/createTypography.js
Labels: breaking change, package: core

#25909 [core] Remove @typescript-to-proptypes-generate handlers
  docs/scripts/buildApi.ts
  docs/src/modules/utils/defaultPropsHandler.js
  docs/src/modules/utils/findAnnotatedComponentsResolver.js
  packages/typescript-to-proptypes/src/injector.ts
  packages/typescript-to-proptypes/test/remove-proptypes/input.tsx
  packages/typescript-to-proptypes/test/remove-proptypes/output.js
Labels: core

#25922 [Rating] Support custom sizes
  docs/pages/api-docs/rating.json
  packages/material-ui/src/Rating/Rating.d.ts
  packages/material-ui/src/Rating/Rating.js
Labels: component: Rating, enhancement

#25931 [core] Enable trailing comma in TypeScript files
  docs/types/react-docgen.d.ts
  packages/material-ui-lab/src/TreeItem/useTreeItem.d.ts
  packages/material-ui-styles/src/ThemeProvider/ThemeProvider.d.ts
  packages/material-ui-styles/src/createStyles/createStyles.d.ts
  packages/material-ui-styles/src/getStylesCreator/getStylesCreator.d.ts
  packages/material-ui-styles/src/makeStyles/makeStyles.d.ts
  packages/material-ui-styles/src/styled/styled.d.ts
  packages/material-ui-styles/src/withStyles/withStyles.d.ts
  packages/material-ui-styles/src/withTheme/withTheme.d.ts
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-types/index.d.ts
  packages/material-ui-unstyled/src/OverridableComponent.d.ts
  packages/material-ui-utils/src/debounce.d.ts
  packages/material-ui-utils/src/requirePropFactory.d.ts
  packages/material-ui-utils/src/unsupportedProp.d.ts
  packages/material-ui-utils/src/useControlled.d.ts
  packages/material-ui-utils/src/useEnhancedEffect.d.ts
  packages/material-ui/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/CardHeader/CardHeader.d.ts
  packages/material-ui/src/OverridableComponent.d.ts
  packages/material-ui/src/Pagination/Pagination.d.ts
  packages/material-ui/src/Select/SelectInput.d.ts
  packages/material-ui/src/styles/ThemeProvider.d.ts
  packages/material-ui/src/styles/createMixins.d.ts
  packages/material-ui/src/styles/createTypography.d.ts
  packages/material-ui/src/styles/experimentalStyled.d.ts
  packages/material-ui/src/styles/makeStyles.d.ts
  packages/material-ui/src/styles/responsiveFontSizes.d.ts
  packages/material-ui/src/styles/shadows.d.ts
  packages/material-ui/src/styles/styled.d.ts
  packages/material-ui/src/styles/transitions.d.ts
  packages/material-ui/src/styles/withStyles.d.ts
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui/src/useMediaQuery/useMediaQuery.d.ts
  packages/material-ui/src/withWidth/withWidth.d.ts
  prettier.config.js
Labels: core, typescript

#25930 [docs] Update minimum required TypeScript version
  docs/src/pages/guides/typescript/typescript.md
Labels: docs, typescript

#25910 [docs] Grammar correction in autocomplete API
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
Labels: component: Autocomplete, docs

#25807 [docs] Batch small fixes
  docs/src/pages/components/autocomplete/GitHubLabel.js
  docs/src/pages/components/autocomplete/GitHubLabel.tsx
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CustomizedBreadcrumbs.tsx
  docs/src/pages/components/dialogs/MaxWidthDialog.js
  docs/src/pages/components/dialogs/MaxWidthDialog.tsx
  docs/src/pages/components/drawers/SwipeableEdgeDrawer.js
  docs/src/pages/components/drawers/SwipeableEdgeDrawer.tsx
  docs/src/pages/components/speed-dial/PlaygroundSpeedDial.js
  docs/src/pages/components/speed-dial/PlaygroundSpeedDial.tsx
Labels: docs

#25936 [internal][Picker] Remove unused TView type argument
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
Labels: Pickers, typescript

#25915 [Timeline] Remove use of nth-child in favor of nth-of-type
  packages/material-ui-lab/src/TimelineItem/TimelineItem.js
Labels: bug 🐛, component: Timeline

#25871 [Checkbox][Switch] Remove checked argument from onChange
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/internal/SwitchBase.d.ts
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
Labels: breaking change, component: Checkbox, component: Switch

#25916 [theme] Add warning for theme.typography.round deprecation
  packages/material-ui/src/styles/createTypography.js
Labels: deprecation

#25918 [theme] Remove theme.breakpoints.width helper
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/styles/createBreakpoints.d.ts
  packages/material-ui/src/styles/createBreakpoints.js
  packages/material-ui/src/styles/createBreakpoints.test.js
Labels: breaking change

#25937 [Stack] Fix support of spacing falsy values
  packages/material-ui/src/Stack/Stack.js
  packages/material-ui/src/Stack/Stack.test.js
Labels: bug 🐛, component: Stack

#25938 [internal][pickers] Entangle what *Props vs All*Props means
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
Labels: Pickers, typescript

#25917 [core] Fix various too wide `classes` types
  packages/material-ui-lab/src/LoadingButton/LoadingButton.test.js
  packages/material-ui/src/AppBar/AppBar.d.ts
  packages/material-ui/src/AppBar/AppBar.test.js
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Card/Card.d.ts
  packages/material-ui/src/Card/Card.test.tsx
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/Link/Link.test.js
  packages/material-ui/src/MenuItem/MenuItem.d.ts
  packages/material-ui/src/MenuItem/MenuItem.test.js
Labels: bug 🐛, package: core, typescript

#25924 [Table] Rename padding="default" to padding="normal"
  docs/pages/api-docs/table-cell.json
  docs/pages/api-docs/table.json
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Table/Table.d.ts
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableCell/TableCell.test.js
Labels: breaking change, component: Table, enhancement

#25968 [core] Batch small changes
  docs/src/modules/components/AdobeXDIcon.js
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/InputAdornment/InputAdornment.test.js
  packages/material-ui/src/TableSortLabel/TableSortLabel.d.ts
  packages/material-ui/src/styles/adaptV4Theme.d.ts
  packages/material-ui/src/styles/adaptV4Theme.js
  test/e2e/template.html
  test/karma.conf.js
  test/regressions/template.html
Labels: core, umbrella

#25971 [internal][pickers] Inline some BasePickerProps usages
  packages/material-ui-lab/src/internal/pickers/hooks/useIsLandscape.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/useOpenState.ts
  packages/material-ui-lab/src/internal/pickers/hooks/usePickerState.ts
Labels: Pickers, typescript

#25969 [TextField] Reduce spam of class names
  packages/material-ui/src/FormControl/FormControl.js
Labels: component: TextField

#25980 [DataGrid] Update docs sections
  docs/src/pages.ts
  docs/translations/translations.json
Labels: component: DataGrid, docs

#25939 [core] Ensure props spreading works as expected
  docs/pages/api-docs/switch.json
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.test.tsx
  packages/material-ui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.test.tsx
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/material-ui-lab/src/LoadingButton/LoadingButton.test.js
  packages/material-ui-lab/src/MonthPicker/MonthPicker.test.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.test.tsx
  packages/material-ui-lab/src/TabList/TabList.test.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/YearPicker/YearPicker.test.tsx
  packages/material-ui-unstyled/src/BackdropUnstyled/BackdropUnstyled.test.js
  packages/material-ui-unstyled/src/BadgeUnstyled/BadgeUnstyled.test.js
  packages/material-ui-unstyled/src/ModalUnstyled/ModalUnstyled.test.js
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.test.js
  packages/material-ui/src/Menu/Menu.test.js
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/Switch/Switch.test.js
  test/utils/describeConformance.js
Labels: bug 🐛, component: Switch

#25990 [Table] Deprecate padding="default"
  docs/pages/api-docs/table-cell.md
  docs/pages/api-docs/table.md
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
  packages/material-ui/src/Table/Table.d.ts
  packages/material-ui/src/Table/Table.js
  packages/material-ui/src/Table/Table.test.js
  packages/material-ui/src/TableCell/TableCell.d.ts
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableCell/TableCell.test.js
  scripts/generateProptypes.ts
Labels: deprecation

#25981 [DateTimePicker] `date` is nullable in `onChange`
  packages/material-ui-lab/src/DateRangePicker/DateRangePickerView.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/material-ui-lab/src/internal/pickers/typings/BasePicker.tsx
Labels: Pickers, typescript

#25984 [core] Fix wrong imports to '@material-ui/styles'
  packages/material-ui/src/Modal/Modal.test.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/styles/ThemeProvider.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
Labels: core

#25835 [TreeView] Migrate TreeItem to emotion
  docs/pages/api-docs/tree-item.json
  docs/src/pages/components/tree-view/BarTreeView.js
  docs/src/pages/components/tree-view/BarTreeView.tsx
  docs/src/pages/components/tree-view/GmailTreeView.js
  docs/src/pages/components/tree-view/GmailTreeView.tsx
  docs/src/pages/components/tree-view/IconExpansionTreeView.js
  docs/src/pages/components/tree-view/IconExpansionTreeView.tsx
  docs/translations/api-docs/tree-item/tree-item.json
  packages/material-ui-lab/src/TreeItem/TreeItem.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeItem/TreeItem.test.js
  packages/material-ui-lab/src/TreeItem/TreeItemContent.d.ts
  packages/material-ui-lab/src/TreeItem/TreeItemContent.js
  packages/material-ui-lab/src/TreeItem/index.d.ts
  packages/material-ui-lab/src/TreeItem/index.js
  packages/material-ui-lab/src/TreeItem/treeItemClasses.d.ts
  packages/material-ui-lab/src/TreeItem/treeItemClasses.js
Labels: component: TreeView

#25982 [Table] Improve description of TablePagination.rowsPerPageOptions
  docs/translations/api-docs/table-pagination/table-pagination.json
  packages/material-ui/src/TablePagination/TablePagination.d.ts
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: component: Table, docs

#25978 [types] Ensure Omit type exists
  packages/material-ui-lab/package.json
  packages/material-ui-styles/package.json
  packages/material-ui/package.json
Labels: bug 🐛, package: core, package: lab, package: styles, typescript

#26001 [docs] Fix minor typo
  docs/src/pages/components/chips/BasicChips.js
  docs/src/pages/components/chips/BasicChips.tsx
Labels: docs

#25973 [docs] Avoid extracting classes twice
  docs/pages/api-docs/date-range-picker-day.json
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.tsx
Labels: docs

#25928 [DatePicker] Migrate YearPicker to emotion
  docs/pages/api-docs/year-picker.json
  docs/translations/api-docs/year-picker/year-picker.json
  packages/material-ui-lab/src/Timeline/Timeline.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.test.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.tsx
  packages/material-ui-lab/src/YearPicker/index.ts
  packages/material-ui-lab/src/YearPicker/yearPickerClasses.ts
  packages/material-ui/src/styles/experimentalStyled.d.ts
Labels: component: DatePicker
