Repository mui/material-ui, pull requests merged in 2021-10, with the labels that each got.

#28700 [docs] Update v5 status in release schedule
  docs/src/pages/versions/versions.md
Labels: docs

#28698 [docs] Only add JSS to demos
  docs/pages/_app.js
  docs/pages/_document.js
  docs/src/modules/components/DemoSandboxed.js
Labels: docs, performance

#28737 [docs] Add the last diamond sponsor
  README.md
  docs/public/static/sponsors/aptugo-dark.svg
  docs/public/static/sponsors/aptugo-light.svg
  docs/public/static/sponsors/aptugo.svg
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/modules/components/DiamondSponsors.js
  docs/src/pages/discover-more/backers/backers.md
Labels: docs

#28715 [transitions] Fix `addEndListener` not being called with the DOM node
  docs/pages/api-docs/collapse.json
  docs/pages/api-docs/fade.json
  docs/pages/api-docs/grow.json
  docs/pages/api-docs/slide.json
  docs/pages/api-docs/zoom.json
  docs/translations/api-docs/collapse/collapse.json
  docs/translations/api-docs/fade/fade.json
  docs/translations/api-docs/grow/grow.json
  docs/translations/api-docs/slide/slide.json
  docs/translations/api-docs/zoom/zoom.json
  packages/mui-material/src/Collapse/Collapse.js
  packages/mui-material/src/Collapse/Collapse.test.js
  packages/mui-material/src/Fade/Fade.js
  packages/mui-material/src/Grow/Grow.js
  packages/mui-material/src/Grow/Grow.test.js
  packages/mui-material/src/Slide/Slide.js
  packages/mui-material/src/Slide/Slide.test.js
  packages/mui-material/src/Zoom/Zoom.js
  packages/mui-material/src/Zoom/Zoom.test.js
Labels: bug 🐛, component: transitions

#28692 [Tooltip] Allow overriding internal components and their props
  docs/pages/api-docs/tooltip.json
  docs/translations/api-docs/tooltip/tooltip.json
  packages/mui-material/src/Tooltip/Tooltip.d.ts
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
  packages/mui-system/src/createStyled.d.ts
Labels: component: Tooltip, package: material

#28770 [docs] AdapterDayJS -> AdapterDayjs
  docs/src/pages/components/date-picker/date-picker.md
Labels: docs, pickers

#28488 [ButtonUnstyled] Don't set redundant role=button
  packages/mui-core/src/ButtonUnstyled/ButtonUnstyled.test.tsx
  packages/mui-core/src/ButtonUnstyled/useButton.ts
Labels: bug 🐛, accessibility, component: Button, package: core

#28748 [docs] Correct Select's menu placement description
  docs/src/pages/components/selects/selects.md
Labels: docs, component: Select

#28804 [test] Fix instances where type tests were only passing due to object being part of ReactNode
  packages/mui-material/src/Button/Button.spec.tsx
Labels: test, typescript

#28713 [docs] Improve styled-components integration
  docs/src/pages/guides/styled-engine/styled-engine.md
  examples/create-react-app-with-styled-components-typescript/config-overrides.js
  examples/create-react-app-with-styled-components-typescript/craco.config.js
  examples/create-react-app-with-styled-components-typescript/package.json
  examples/create-react-app-with-styled-components-typescript/tsconfig.json
  examples/create-react-app-with-styled-components-typescript/tsconfig.paths.json
  examples/create-react-app-with-styled-components/config-overrides.js
  examples/create-react-app-with-styled-components/craco.config.js
  examples/create-react-app-with-styled-components/package.json
Labels: docs

#28830 [website] Add "React" to the /x page hero description
  docs/pages/x.tsx
  docs/src/components/productX/XHero.tsx
Labels: website

#28313 [Button-next] Create Button in material-next
  docs/package.json
  packages/mui-material-next/src/Button/Button.d.ts
  packages/mui-material-next/src/Button/Button.js
  packages/mui-material-next/src/Button/Button.spec.tsx
  packages/mui-material-next/src/Button/Button.test.js
  packages/mui-material-next/src/Button/Ripple.js
  packages/mui-material-next/src/Button/Ripple.test.js
  packages/mui-material-next/src/Button/TouchRipple.d.ts
  packages/mui-material-next/src/Button/TouchRipple.js
  packages/mui-material-next/src/Button/TouchRipple.test.js
  packages/mui-material-next/src/Button/buttonClasses.ts
  packages/mui-material-next/src/Button/index.ts
  packages/mui-material-next/src/Button/touchRippleClasses.ts
  packages/mui-material-next/src/index.ts
  packages/mui-material-next/tsconfig.build.json
  packages/mui-material/src/styles/styled.d.ts
  test/regressions/fixtures/ButtonNext/IconLabelButtonsNext.js
  test/regressions/fixtures/ButtonNext/MultilineButtonNext.js
Labels: component: Button, package: material-next

#28822 [docs] Fix typo in system/box documentation
  docs/src/pages/system/box/box.md
Labels: docs

#28807 [@mui/styled-engine-sc] Do not allow styled-components' APIs on mui `styled` function
  packages/mui-styled-engine-sc/src/index.js
Labels: bug 🐛, package: styled-engine-sc

#28812 [codemod] Fix `optimal-imports` to support v4 and v5-alpha, beta
  packages/mui-codemod/src/v5.0.0/optimal-imports.js
Labels: package: codemod

#28762 [docs] Match example to codesandbox demo and update ID link
  README.md
Labels: docs

#28813 [system] Add padding/margin-block/inline to spacing
  docs/src/pages/system/properties/properties.md
  packages/mui-system/src/spacing.d.ts
  packages/mui-system/src/spacing.js
  packages/mui-system/src/spacing.test.js
Labels: enhancement, package: system

#28725 [docs] Fix typo in Mui CSS classname
  docs/src/pages/components/dialogs/CustomizedDialogs.js
  docs/src/pages/components/dialogs/CustomizedDialogs.tsx
Labels: docs

#28814 [website] Hide 'become a diamond sponsor' box on landing page
  docs/src/components/home/DiamondSponsors.tsx
Labels: website

#28862 [test] Add a test for not allowing styled-components' APIs on mui `styled` function
  packages/mui-styled-engine-sc/src/styled.test.js
Labels: test, package: styled-engine-sc

#29168 [website] Add customers section on Design Kits and Templates marketing pages
  docs/pages/design-kits.tsx
  docs/pages/templates.tsx
  docs/public/static/branding/companies/apple-dark.svg
  docs/public/static/branding/companies/apple-light.svg
  docs/public/static/branding/companies/atandt-dark.svg
  docs/public/static/branding/companies/atandt-light.svg
  docs/public/static/branding/companies/ebay-dark.svg
  docs/public/static/branding/companies/ebay-light.svg
  docs/public/static/branding/companies/patreon-dark.svg
  docs/public/static/branding/companies/patreon-light.svg
  docs/public/static/branding/companies/salesforce-dark.svg
  docs/public/static/branding/companies/salesforce-light.svg
  docs/public/static/branding/companies/samsung-dark.svg
  docs/public/static/branding/companies/samsung-light.svg
  docs/public/static/branding/companies/twitter-dark.svg
  docs/public/static/branding/companies/twitter-light.svg
  docs/public/static/branding/companies/verizon-dark.svg
  docs/public/static/branding/companies/verizon-light.svg
  docs/src/components/home/CompaniesGrid.tsx
  docs/src/components/home/References.tsx
  docs/src/components/icon/IconImage.tsx
Labels: website

#29370 [Tooltip] `open` prop in `componentsProps.popper` can be optional
  packages/mui-material/src/Tooltip/Tooltip.d.ts
Labels: bug 🐛, component: Tooltip

#29314 [docs] Fix about page flags
  docs/pages/about.tsx
Labels: docs
