Repository mui/material-ui, pull requests merged in 2021-06, with the labels that each got.

#26527 [Tabs] Fix arrow rotation in vertical & RTL
  packages/material-ui/src/TabScrollButton/TabScrollButton.js
  test/regressions/fixtures/Tabs/RTLVerticalTabs.js
Labels: bug 🐛, component: Tabs

#26460 [SwitchBase] replace IconButton with ButtonBase
  docs/pages/api-docs/checkbox.json
  docs/pages/api-docs/radio.json
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Checkbox/Checkbox.d.ts
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Checkbox/Checkbox.test.js
  packages/material-ui/src/Radio/Radio.d.ts
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Radio/Radio.test.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/internal/SwitchBase.d.ts
  packages/material-ui/src/internal/SwitchBase.js
  packages/material-ui/src/internal/SwitchBase.test.js
  packages/material-ui/src/internal/switchBaseClasses.ts
Labels: breaking change, component: Checkbox, component: Radio, component: Switch

#26535 [Tooltip] Finish exiting once started
  docs/pages/api-docs/tooltip.json
  docs/translations/api-docs/tooltip/tooltip.json
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/Tooltip/tooltipClasses.ts
Labels: bug 🐛, component: Tooltip

#23166 [test] Add bundle fixtures
  .circleci/config.yml
  .eslintignore
  .eslintrc.js
  .gitattributes
  .gitignore
  test/bundling/README.md
  test/bundling/fixtures/create-react-app/create-react-app.template
  test/bundling/fixtures/create-react-app/package.json
  test/bundling/fixtures/create-react-app/public/index.html
  test/bundling/fixtures/create-react-app/src/index.js
  test/bundling/fixtures/create-react-app/testCreateReactAppIntegration.js
  test/bundling/fixtures/esbuild/esbuild.template
  test/bundling/fixtures/esbuild/index.html
  test/bundling/fixtures/esbuild/package.json
  test/bundling/fixtures/esbuild/testEsbuildIntegration.js
  test/bundling/fixtures/gatsby/gatsby-config.js
  test/bundling/fixtures/gatsby/gatsby.template
  test/bundling/fixtures/gatsby/package.json
  test/bundling/fixtures/gatsby/src/pages/development.js
  test/bundling/fixtures/gatsby/testGatsbyIntegration.js
  test/bundling/fixtures/next-webpack4/next-webpack.template
  test/bundling/fixtures/next-webpack4/next.config.js
  test/bundling/fixtures/next-webpack4/package.json
  test/bundling/fixtures/next-webpack4/pages/development.js
  test/bundling/fixtures/next-webpack4/testNextWebpack4Integration.js
  test/bundling/fixtures/next-webpack5/next-webpack.template
  test/bundling/fixtures/next-webpack5/next.config.js
  test/bundling/fixtures/next-webpack5/package.json
  test/bundling/fixtures/next-webpack5/pages/development.js
  test/bundling/fixtures/next-webpack5/pages/next-webpack.fixture.js
  test/bundling/fixtures/next-webpack5/testNextWebpack5Integration.js
  test/bundling/fixtures/node-esm/development.js
  test/bundling/fixtures/node-esm/node-esm.template
  test/bundling/fixtures/node-esm/package.json
  test/bundling/fixtures/snowpack/package.json
  test/bundling/fixtures/snowpack/public/index.html
  test/bundling/fixtures/snowpack/snowpack.config.js
  test/bundling/fixtures/snowpack/snowpack.template
  test/bundling/fixtures/snowpack/testSnowpackIntegration.js
  test/bundling/fixtures/vite/index.html
  test/bundling/fixtures/vite/package.json
  test/bundling/fixtures/vite/testViteIntegration.js
  test/bundling/fixtures/vite/vite.config.js
  test/bundling/fixtures/vite/vite.template
  test/bundling/scripts/createFixture.js
  test/bundling/scripts/createTemplate.js
  test/bundling/scripts/fixtureTemplateValues.js
  test/bundling/scripts/package.json
  test/bundling/scripts/packages.js
  test/bundling/scripts/useBuildFromSource.js
Labels: test

#26461 [styled] Convert implicit styleProps to explicit
  docs/src/pages/components/steppers/CustomizedSteppers.js
  docs/src/pages/components/steppers/CustomizedSteppers.tsx
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.tsx
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumber.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPointer.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerToolbar.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.tsx
  packages/material-ui-lab/src/TimePicker/TimePickerToolbar.tsx
  packages/material-ui-lab/src/Timeline/Timeline.tsx
  packages/material-ui-lab/src/YearPicker/PickersYear.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.tsx
  packages/material-ui-lab/src/internal/pickers/PickersArrowSwitcher.tsx
  packages/material-ui-lab/src/internal/pickers/PickersModalDialog.tsx
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
  packages/material-ui-lab/src/internal/pickers/PickersToolbar.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/WrapperVariantContext.tsx
  packages/material-ui-system/src/createStyled.d.ts
Labels: typescript

#26548 [Box] Fix runtime error when using styled-components without ThemeProvider
  packages/material-ui-system/src/createBox.js
Labels: bug 🐛, package: system

#26470 [Tabs] Fix RTL indicator
  docs/src/pages/components/tabs/ScrollableTabsButtonAuto.js
  docs/src/pages/components/tabs/ScrollableTabsButtonAuto.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonForce.js
  docs/src/pages/components/tabs/ScrollableTabsButtonForce.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonPrevent.js
  docs/src/pages/components/tabs/ScrollableTabsButtonPrevent.tsx
  docs/src/pages/components/tabs/ScrollableTabsButtonVisible.js
  docs/src/pages/components/tabs/ScrollableTabsButtonVisible.tsx
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: bug 🐛, component: Tabs

#26557 [website] Add Michał to the About Us page
  docs/pages/branding/about.tsx
  docs/public/static/branding/about/michal.jpg
  docs/src/pages/discover-more/team/Team.js
Labels: website

#26545 [AppBar] Fix background color on dark mode
  docs/pages/api-docs/app-bar.json
  docs/src/modules/components/AppFrame.js
  docs/src/pages/components/app-bar/app-bar.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/app-bar/app-bar.json
  packages/material-ui/src/AppBar/AppBar.d.ts
  packages/material-ui/src/AppBar/AppBar.js
Labels: breaking change, bug 🐛, component: AppBar, material design

#26570 [Select] Fix custom font size centering arrow
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
Labels: bug 🐛, component: Select

#26542 [docs] `Rating` `value` is nullable in `onChange`
  docs/scripts/buildApi.ts
  docs/translations/api-docs/rating/rating.json
  packages/material-ui/src/Rating/Rating.d.ts
  packages/material-ui/src/Rating/Rating.js
Labels: component: Rating, docs

#26552 [docs] Improve migration guide for `@material-ui/styles`
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs, package: styles

#26539 [docs] Multiple select demos moving when selecting values
  docs/src/pages/components/selects/MultipleSelect.js
  docs/src/pages/components/selects/MultipleSelect.tsx
  docs/src/pages/components/selects/MultipleSelectCheckmarks.js
  docs/src/pages/components/selects/MultipleSelectCheckmarks.tsx
  docs/src/pages/components/selects/MultipleSelectChip.js
  docs/src/pages/components/selects/MultipleSelectChip.tsx
  docs/src/pages/components/selects/MultipleSelectPlaceholder.js
  docs/src/pages/components/selects/MultipleSelectPlaceholder.tsx
Labels: docs

#26553 [Box] Fix module 'clsx' not found in system
  packages/material-ui-system/package.json
Labels: bug 🐛, component: Box, package: system

#26584 [Rating] onChangeActive shouldn't be fired on blur/focus
  packages/material-ui/src/Rating/Rating.js
Labels: bug 🐛, component: Rating

#26596 [docs] Fix typo sx !== xs
  docs/src/pages/components/use-media-query/use-media-query.md
Labels: docs

#26560 [Popover] Fix PaperProps.ref breaking positioning
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popover/Popover.test.js
Labels: bug 🐛, component: Popover

#26579 [docs] Don't escape prop descriptions for markdown table context
  docs/scripts/buildApi.ts
  docs/translations/api-docs/autocomplete/autocomplete.json
  docs/translations/api-docs/rating/rating.json
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/slider/slider.json
  docs/translations/api-docs/tree-view/tree-view.json
  packages/material-ui-system/src/Box/Box.d.ts
Labels: bug 🐛, docs

#26555 [theme] Improve default `primary`, `secondary` and `error` theme palette
  docs/src/modules/components/MarkdownElement.js
  packages/material-ui/src/FormLabel/FormLabel.test.js
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
Labels: accessibility, breaking change

#26541 [docs] Remove custom primary & secondary color
  docs/pages/_document.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/ThemeContext.js
  docs/src/pages/landing/Steps.js
Labels: docs

#26625 [Radio][Checkbox] Don't forward `color` to DOM elements
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Radio/Radio.js
Labels: bug 🐛, component: Checkbox, component: Radio

#26604 [docs] Migrate templates to emotion
  docs/src/pages/getting-started/templates/checkout/Checkout.js
  docs/src/pages/getting-started/templates/checkout/Checkout.tsx
  docs/src/pages/getting-started/templates/checkout/Review.js
  docs/src/pages/getting-started/templates/checkout/Review.tsx
  docs/src/pages/getting-started/templates/dashboard/Dashboard.js
  docs/src/pages/getting-started/templates/dashboard/Dashboard.tsx
  docs/src/pages/getting-started/templates/pricing/Pricing.js
  docs/src/pages/getting-started/templates/pricing/Pricing.tsx
Labels: docs

#26223 [pickers] Remove `openPickerIcon` prop in favor of `components.OpenPickerIcon`
  docs/pages/api-docs/date-picker.json
  docs/pages/api-docs/date-range-picker.json
  docs/pages/api-docs/date-time-picker.json
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-range-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/api-docs/mobile-date-picker.json
  docs/pages/api-docs/mobile-date-range-picker.json
  docs/pages/api-docs/mobile-date-time-picker.json
  docs/pages/api-docs/mobile-time-picker.json
  docs/pages/api-docs/static-date-picker.json
  docs/pages/api-docs/static-date-range-picker.json
  docs/pages/api-docs/static-date-time-picker.json
  docs/pages/api-docs/static-time-picker.json
  docs/pages/api-docs/time-picker.json
  docs/src/pages/components/date-time-picker/CustomDateTimePicker.js
  docs/src/pages/components/date-time-picker/CustomDateTimePicker.tsx
  docs/translations/api-docs/date-picker/date-picker.json
  docs/translations/api-docs/date-range-picker/date-range-picker.json
  docs/translations/api-docs/date-time-picker/date-time-picker.json
  docs/translations/api-docs/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/desktop-time-picker/desktop-time-picker.json
  docs/translations/api-docs/mobile-date-picker/mobile-date-picker.json
  docs/translations/api-docs/mobile-date-range-picker/mobile-date-range-picker.json
  docs/translations/api-docs/mobile-date-time-picker/mobile-date-time-picker.json
  docs/translations/api-docs/mobile-time-picker/mobile-time-picker.json
  docs/translations/api-docs/static-date-picker/static-date-picker.json
  docs/translations/api-docs/static-date-range-picker/static-date-range-picker.json
  docs/translations/api-docs/static-date-time-picker/static-date-time-picker.json
  docs/translations/api-docs/static-time-picker/static-time-picker.json
  docs/translations/api-docs/time-picker/time-picker.json
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DatePicker/shared.ts
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/shared.ts
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/material-ui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/material-ui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/TimePicker/shared.tsx
  packages/material-ui-lab/src/internal/pickers/KeyboardDateInput.tsx
  packages/material-ui-lab/src/internal/pickers/PureDateInput.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/useMaskedInput.tsx
  packages/material-ui-lab/src/internal/pickers/wrappers/WrapperProps.ts
Labels: breaking change, enhancement, pickers

#26567 [example] Remove the dependency on @material-ui/styles
  docs/pages/_document.js
  docs/src/pages/guides/server-rendering/server-rendering.md
  examples/cdn/index.html
  examples/create-react-app-with-typescript/src/theme.tsx
  examples/create-react-app/src/theme.js
  examples/gatsby-theme/src/gatsby-theme-material-ui-top-layout/theme.js
  examples/gatsby/gatsby-config.js
  examples/gatsby/package.json
  examples/gatsby/src/theme.js
  examples/nextjs-with-typescript/pages/_app.tsx
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs-with-typescript/src/theme.tsx
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/_document.js
  examples/nextjs/src/theme.js
  examples/preact/src/theme.js
  examples/ssr/cache.js
  examples/ssr/client.js
  examples/ssr/getCache.js
  examples/ssr/server.js
  examples/ssr/theme.js
Labels: bug 🐛, docs

#26559 [Grid] Add rowSpacing and columnSpacing props
  docs/pages/api-docs/grid.json
  docs/public/static/images/system/grid-auto-column.png
  docs/src/pages/components/grid/CSSGrid.js
  docs/src/pages/components/grid/CSSGrid.tsx
  docs/src/pages/components/grid/RowAndColumnSpacing.js
  docs/src/pages/components/grid/RowAndColumnSpacing.tsx
  docs/src/pages/components/grid/grid.md
  docs/src/pages/system/grid/Gap.js
  docs/src/pages/system/grid/Gap.tsx
  docs/src/pages/system/grid/GridAutoColumns.js
  docs/src/pages/system/grid/GridAutoColumns.tsx
  docs/src/pages/system/grid/GridAutoFlow.js
  docs/src/pages/system/grid/GridAutoFlow.tsx
  docs/src/pages/system/grid/GridAutoRows.js
  docs/src/pages/system/grid/GridAutoRows.tsx
  docs/src/pages/system/grid/GridTemplateAreas.js
  docs/src/pages/system/grid/GridTemplateAreas.tsx
  docs/src/pages/system/grid/GridTemplateColumns.js
  docs/src/pages/system/grid/GridTemplateColumns.tsx
  docs/src/pages/system/grid/GridTemplateRows.js
  docs/src/pages/system/grid/GridTemplateRows.tsx
  docs/src/pages/system/grid/RowAndColumnGap.js
  docs/src/pages/system/grid/RowAndColumnGap.tsx
  docs/src/pages/system/grid/grid.md
  docs/translations/api-docs/grid/grid.json
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grid/Grid.js
Labels: component: Grid, enhancement

#26654 [test] Make tests oblivious to StrictMode
  packages/material-ui/src/Popper/Popper.test.js
  packages/material-ui/src/TextareaAutosize/TextareaAutosize.test.js
  test/utils/mochaHooks.test.js
Labels: test

#26657 [test] Bundling fixtures should not override source build with published build
  .circleci/config.yml
  test/bundling/README.md
Labels: test

#26642 [SliderUnstyled] Improve TS definition
  .circleci/config.yml
  packages/material-ui-unstyled/package.json
  packages/material-ui-unstyled/scripts/testModuleAugmentation.js
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/material-ui-unstyled/test/typescript/moduleAugmentation/sliderStyleProps.spec.tsx
  packages/material-ui-unstyled/test/typescript/moduleAugmentation/sliderStyleProps.tsconfig.json
Labels: package: unstyled, typescript

#26667 [List] Add ListItemButton export to index
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: bug 🐛, component: List

#26673 [system] Fix support of custom shape in createTheme
  packages/material-ui-system/src/createTheme/createTheme.js
Labels: bug 🐛, package: system

#26590 [Grid] Add responsive direction and spacing props
  docs/pages/api-docs/grid.json
  docs/src/pages/components/grid/ResponsiveGrid.js
  docs/src/pages/components/grid/ResponsiveGrid.tsx
  docs/src/pages/components/grid/RowAndColumnSpacing.js
  docs/src/pages/components/grid/RowAndColumnSpacing.tsx
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/stack/stack.md
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
  packages/material-ui/src/Stack/Stack.js
Labels: component: Grid, enhancement

#26593 [Button] Add missing color type
  docs/pages/api-docs/button.json
  packages/material-ui/src/Button/Button.d.ts
  packages/material-ui/src/Button/Button.js
Labels: bug 🐛, component: Button, design system, typescript

#26684 [theme] Fix missing exported Breakpoints types
  packages/material-ui-system/src/createTheme/createBreakpoints.d.ts
  packages/material-ui/src/styles/index.d.ts
Labels: bug 🐛, typescript

#26666 [Button] Remove label span
  docs/pages/api-docs/button.json
  docs/pages/api-docs/loading-button.json
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/premium-themes/paperbase/Paperbase.js
  docs/src/pages/premium-themes/paperbase/Paperbase.tsx
  docs/translations/api-docs/button/button.json
  docs/translations/api-docs/loading-button/loading-button.json
  packages/material-ui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/material-ui-lab/src/LoadingButton/LoadingButton.js
  packages/material-ui-lab/src/LoadingButton/loadingButtonClasses.ts
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/Button/buttonClasses.ts
Labels: breaking change, component: Button, enhancement

#26678 [test] Count profiler renders not passive effects
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/useScrollTrigger/useScrollTrigger.test.js
  test/utils/components.js
Labels: test

#26690 [test] Run e2e test with React 18 on a schedule
  .circleci/config.yml
Labels: test

#26683 [test] Ignore ReactDOM.render deprecation warning
  test/utils/createServerRender.js
  test/utils/initMatchers.ts
  test/utils/mochaHooks.js
Labels: test

#26658 [docs] Migrate paperbase premium template to emotion
  docs/src/pages/premium-themes/paperbase/Content.js
  docs/src/pages/premium-themes/paperbase/Content.tsx
  docs/src/pages/premium-themes/paperbase/Header.js
  docs/src/pages/premium-themes/paperbase/Header.tsx
  docs/src/pages/premium-themes/paperbase/Navigator.js
  docs/src/pages/premium-themes/paperbase/Navigator.tsx
  docs/src/pages/premium-themes/paperbase/Paperbase.js
  docs/src/pages/premium-themes/paperbase/Paperbase.tsx
Labels: docs

#26668 [system] Add color manipulators
  packages/material-ui-system/src/colorManipulator.d.ts
  packages/material-ui-system/src/colorManipulator.js
  packages/material-ui-system/src/colorManipulator.test.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui/src/Alert/Alert.js
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/Breadcrumbs/BreadcrumbCollapsed.js
  packages/material-ui/src/Button/Button.js
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Chip/Chip.js
  packages/material-ui/src/Divider/Divider.js
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/ListItem/ListItem.js
  packages/material-ui/src/ListItemButton/ListItemButton.js
  packages/material-ui/src/PaginationItem/PaginationItem.js
  packages/material-ui/src/Paper/Paper.js
  packages/material-ui/src/Radio/Radio.js
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/SpeedDialAction/SpeedDialAction.js
  packages/material-ui/src/Switch/Switch.js
  packages/material-ui/src/TableCell/TableCell.js
  packages/material-ui/src/TableRow/TableRow.js
  packages/material-ui/src/Tooltip/Tooltip.js
  packages/material-ui/src/styles/createPalette.js
  packages/material-ui/src/styles/createPalette.test.js
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
  scripts/sizeSnapshot/webpack.config.js
Labels: enhancement, package: system

#26649 [system] Add useThemeProps & useTheme hooks
  packages/material-ui-system/package.json
  packages/material-ui-system/src/colorManipulator.js
  packages/material-ui-system/src/createBox.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/useTheme.d.ts
  packages/material-ui-system/src/useTheme.js
  packages/material-ui-system/src/useThemeProps/getThemeProps.d.ts
  packages/material-ui-system/src/useThemeProps/getThemeProps.js
  packages/material-ui-system/src/useThemeProps/getThemeProps.test.js
  packages/material-ui-system/src/useThemeProps/index.d.ts
  packages/material-ui-system/src/useThemeProps/index.js
  packages/material-ui-system/src/useThemeProps/useThemeProps.d.ts
  packages/material-ui-system/src/useThemeProps/useThemeProps.js
  packages/material-ui-system/src/useThemeProps/useThemeProps.spec.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/styles/useTheme.js
  packages/material-ui/src/styles/useThemeProps.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
Labels: package: system

#26671 [docs] Migrate onepirate premium template to emotion part1
  docs/src/pages/premium-themes/onepirate/ForgotPassword.js
  docs/src/pages/premium-themes/onepirate/ForgotPassword.tsx
  docs/src/pages/premium-themes/onepirate/SignIn.js
  docs/src/pages/premium-themes/onepirate/SignIn.tsx
  docs/src/pages/premium-themes/onepirate/SignUp.js
  docs/src/pages/premium-themes/onepirate/SignUp.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/AppBar.js
  docs/src/pages/premium-themes/onepirate/modules/components/AppBar.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Button.js
  docs/src/pages/premium-themes/onepirate/modules/components/Button.tsx
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.js
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCTA.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHowItWorks.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHowItWorks.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductSmokingHero.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductSmokingHero.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductValues.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductValues.tsx
Labels: docs

#26628 [core] Batch small changes
  .github/ISSUE_TEMPLATE/2.feature.md
  CHANGELOG.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-q1-update.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/branding/about.tsx
  docs/src/pages/components/about-the-lab/about-the-lab.md
  docs/src/pages/components/app-bar/app-bar.md
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/icons/icons.md
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/css-in-js/basics/AdaptingHook.js
  docs/src/pages/css-in-js/basics/AdaptingHook.tsx
  docs/src/pages/css-in-js/basics/AdaptingStyledComponents.js
  docs/src/pages/css-in-js/basics/AdaptingStyledComponents.tsx
  docs/src/pages/customization/color/color.md
  docs/src/pages/customization/density/DensityTool.js
  docs/src/pages/discover-more/roadmap/roadmap.md
  docs/src/pages/discover-more/vision/vision.md
  docs/src/pages/guides/api/api.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/Paper/Paper.test.js
  packages/typescript-to-proptypes/test/propTypes-casting/input.tsx
  packages/typescript-to-proptypes/test/propTypes-casting/output.js
  test/bundling/README.md
Labels: core, umbrella

#26711 [docs] Improve Paperbase demo
  docs/src/pages/premium-themes/paperbase/Content.js
  docs/src/pages/premium-themes/paperbase/Content.tsx
  docs/src/pages/premium-themes/paperbase/Header.tsx
  docs/src/pages/premium-themes/paperbase/Navigator.js
  docs/src/pages/premium-themes/paperbase/Navigator.tsx
  docs/src/pages/premium-themes/paperbase/Paperbase.js
  docs/src/pages/premium-themes/paperbase/Paperbase.tsx
Labels: docs

#26700 [blog] Michał Dudak joins Material-UI
  docs/pages/blog/matheus-wichman-joining.md
  docs/pages/blog/michal-dudak-joining.js
  docs/pages/blog/michal-dudak-joining.md
  docs/pages/blog/siriwat-kunaporn-joining.md
  docs/public/static/blog/michal-dudak-joining/card.png
  docs/src/pages/company/careers/careers.md
Labels: website

#26736 Bump @babel/* to 7.14.5
  babel.config.js
  yarn.lock
Labels: dependencies

#26738 [core] Batch small changes
  benchmark/browser/webpack.config.js
  docs/notifications.json
  docs/pages/branding/mui-x.tsx
  docs/public/_redirects
  docs/public/static/ads-in-house/divjoy.png
  docs/src/modules/components/Ad.js
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/popper/ScrollPlayground.js
  packages/material-ui/src/DialogContent/DialogContent.js
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/ImageList/ImageList.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/Tabs/Tabs.js
Labels: core, umbrella

#26712 [core] Monitore size of key system modules
  scripts/sizeSnapshot/webpack.config.js
Labels: core, package: system, performance

#26710 [docs] Fix TextField demo layout
  docs/src/pages/components/text-fields/FullWidthTextField.js
  docs/src/pages/components/text-fields/FullWidthTextField.tsx
  docs/src/pages/components/text-fields/LayoutTextFields.js
  docs/src/pages/components/text-fields/LayoutTextFields.tsx
  docs/src/pages/components/text-fields/text-fields.md
Labels: docs

#26742 [List] fix demo to have correct semantic
  docs/src/pages/components/lists/BasicList.js
  docs/src/pages/components/lists/BasicList.tsx
  docs/src/pages/components/lists/SimpleList.js
  docs/src/pages/components/lists/SimpleList.tsx
  docs/src/pages/components/lists/lists.md
Labels: component: List, docs

#26707 [docs] Migrate onepirate premium template to emotion part2
  docs/src/pages/premium-themes/onepirate/modules/components/Paper.js
  docs/src/pages/premium-themes/onepirate/modules/components/Paper.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Toolbar.js
  docs/src/pages/premium-themes/onepirate/modules/components/Toolbar.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/AppAppBar.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppAppBar.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/AppForm.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppForm.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCategories.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductCategories.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHero.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHero.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHeroLayout.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHeroLayout.tsx
Labels: docs

#26624 [DateTimePicker] Fix not visible selected tab icon
  packages/material-ui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
Labels: bug 🐛, component: DateTimePicker

#26765 [core] Remove unused useKeyDown
  packages/material-ui-lab/src/internal/pickers/hooks/useKeyDown.ts
Labels: performance, pickers

#26145 [Link] Improve accessibility support
  docs/pages/api-docs/link.json
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages/components/breadcrumbs/ActiveLastBreadcrumb.js
  docs/src/pages/components/breadcrumbs/ActiveLastBreadcrumb.tsx
  docs/src/pages/components/breadcrumbs/BasicBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/BasicBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/CollapsedBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/CollapsedBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/CustomSeparator.js
  docs/src/pages/components/breadcrumbs/CustomSeparator.tsx
  docs/src/pages/components/breadcrumbs/IconBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/IconBreadcrumbs.tsx
  docs/src/pages/components/breadcrumbs/RouterBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/RouterBreadcrumbs.tsx
  docs/src/pages/components/links/links.md
  packages/material-ui-system/src/index.js
  packages/material-ui/src/Link/Link.d.ts
  packages/material-ui/src/Link/Link.js
Labels: accessibility, component: Link, material design

#26775 [docs] Fix small PT typo fix: inciar -> iniciar
  docs/src/pages/components/css-baseline/css-baseline-pt.md
Labels: docs

#26637 [I10n] Add Chinese (Hong Kong) (zh-HK) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.ts
Labels: enhancement

#26744 [docs] Move custom theme to frame
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/ThemeContext.js
Labels: docs, material design

#26591 [Menu] Use ButtonBase in MenuItem
  docs/pages/api-docs/list-item-button.json
  docs/pages/api-docs/menu-item.json
  docs/src/pages/components/menus/AccountMenu.js
  docs/src/pages/components/menus/AccountMenu.tsx
  docs/src/pages/components/menus/CustomizedMenus.js
  docs/src/pages/components/menus/CustomizedMenus.tsx
  docs/src/pages/components/menus/DenseMenu.js
  docs/src/pages/components/menus/DenseMenu.tsx
  docs/src/pages/components/menus/IconMenu.js
  docs/src/pages/components/menus/IconMenu.tsx
  docs/src/pages/components/menus/PositionedMenu.js
  docs/src/pages/components/menus/PositionedMenu.tsx
  docs/src/pages/components/menus/menus.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/menu-item/menu-item.json
  packages/material-ui/src/ListItemButton/ListItemButton.d.ts
  packages/material-ui/src/ListItemButton/ListItemButton.js
  packages/material-ui/src/ListItemButton/ListItemButton.test.js
  packages/material-ui/src/Menu/Menu.js
  packages/material-ui/src/MenuItem/MenuItem.d.ts
  packages/material-ui/src/MenuItem/MenuItem.js
  packages/material-ui/src/MenuItem/MenuItem.test.js
  packages/material-ui/src/MenuItem/menuItemClasses.ts
  packages/material-ui/test/typescript/components.spec.tsx
  test/regressions/fixtures/Menu/MenuContentAnchors.js
Labels: breaking change, component: Menu, material design

#26761 [test] Reduce flakiness
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePickerKeyboard.test.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  test/utils/mochaHooks.test.js
Labels: test

#26758 [useId] Reduce likelyhood of collisions
  packages/material-ui-utils/src/useId.ts
Labels: enhancement, package: utils

#26632 [Slider] Adjust css to match the specification
  docs/pages/api-docs/slider.json
  docs/public/static/images/sliders/chilling-sunday.jpg
  docs/src/pages/components/slider/ContinuousSlider.js
  docs/src/pages/components/slider/ContinuousSlider.tsx
  docs/src/pages/components/slider/CustomizedSlider.js
  docs/src/pages/components/slider/CustomizedSlider.tsx
  docs/src/pages/components/slider/MusicPlayerSlider.js
  docs/src/pages/components/slider/MusicPlayerSlider.tsx
  docs/src/pages/components/slider/SliderSizes.js
  docs/src/pages/components/slider/SliderSizes.tsx
  docs/src/pages/components/slider/VerticalSlider.js
  docs/src/pages/components/slider/VerticalSlider.tsx
  docs/src/pages/components/slider/slider.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/slider/slider.json
  framer/Material-UI.framerfx/code/Slider.tsx
  packages/material-ui/src/Slider/Slider.d.ts
  packages/material-ui/src/Slider/Slider.js
  packages/material-ui/src/Slider/Slider.test.js
Labels: breaking change, component: Slider, material design

#26746 [theme] Improve default breakpoints
  docs/src/modules/branding/BrandingRoot.tsx
  docs/src/pages/customization/breakpoints/breakpoints.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui-system/src/breakpoints.js
  packages/material-ui-system/src/createTheme/createBreakpoints.js
  packages/material-ui-system/src/createTheme/createBreakpoints.test.js
  packages/material-ui/src/Grid/Grid.test.js
  packages/material-ui/src/Stack/Stack.test.js
  packages/material-ui/src/styles/adaptV4Theme.test.js
  packages/material-ui/src/styles/cssUtils.js
  packages/material-ui/src/styles/responsiveFontSizes.test.js
Labels: breaking change, material design

#26748 [IconButton] Add size `large` and update styles
  docs/pages/api-docs/icon-button.json
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/Notifications.js
  docs/src/pages/components/app-bar/BottomAppBar.js
  docs/src/pages/components/app-bar/BottomAppBar.tsx
  docs/src/pages/components/app-bar/ButtonAppBar.js
  docs/src/pages/components/app-bar/ButtonAppBar.tsx
  docs/src/pages/components/app-bar/MenuAppBar.js
  docs/src/pages/components/app-bar/MenuAppBar.tsx
  docs/src/pages/components/app-bar/PrimarySearchAppBar.js
  docs/src/pages/components/app-bar/PrimarySearchAppBar.tsx
  docs/src/pages/components/app-bar/ProminentAppBar.js
  docs/src/pages/components/app-bar/ProminentAppBar.tsx
  docs/src/pages/components/app-bar/SearchAppBar.js
  docs/src/pages/components/app-bar/SearchAppBar.tsx
  docs/src/pages/components/buttons/ButtonSizes.js
  docs/src/pages/components/buttons/ButtonSizes.tsx
  docs/src/pages/components/buttons/IconButtonSizes.js
  docs/src/pages/components/buttons/IconButtonSizes.tsx
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/lists/CustomizedList.js
  docs/src/pages/components/lists/CustomizedList.tsx
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/icon-button/icon-button.json
  packages/material-ui/src/IconButton/IconButton.d.ts
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/IconButton/iconButtonClasses.ts
Labels: breaking change, component: IconButton

#26757 [docs] Fix various a11y issues with /customization/color
  docs/src/pages/customization/color/Color.js
  docs/src/pages/customization/color/ColorTool.js
Labels: accessibility, docs

#26801 [IconButton] Remove label span
  docs/pages/api-docs/icon-button.json
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/icon-button/icon-button.json
  packages/material-ui/src/IconButton/IconButton.js
  packages/material-ui/src/IconButton/IconButton.test.js
  packages/material-ui/src/IconButton/iconButtonClasses.ts
Labels: breaking change, component: IconButton

#26792 [core] Remove dependency on `@material-ui/styled-engine`
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui/package.json
  packages/material-ui/src/ButtonBase/TouchRipple.js
  packages/material-ui/src/CircularProgress/CircularProgress.js
  packages/material-ui/src/GlobalStyles/GlobalStyles.d.ts
  packages/material-ui/src/GlobalStyles/GlobalStyles.js
  packages/material-ui/src/LinearProgress/LinearProgress.js
  packages/material-ui/src/Skeleton/Skeleton.js
  packages/material-ui/src/StyledEngineProvider/index.d.ts
  packages/material-ui/src/StyledEngineProvider/index.js
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
Labels: core

#26812 [docs] Fix documentation for upgrading to v5
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#26762 [ButtonBase] Derive state on render instead of in layout effects
  packages/material-ui/src/ButtonBase/Ripple.js
Labels: component: ButtonBase, performance

#26778 [docs] Explain "inherited props" better in the props table
  docs/src/modules/components/ApiPage.js
  docs/translations/translations.json
Labels: docs

#26777 [core] Remove `unstable_` prefix on the `useThemeProps` hook
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
  packages/material-ui-lab/src/DatePicker/DatePicker.tsx
  packages/material-ui-lab/src/DatePicker/shared.ts
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/material-ui-lab/src/DateTimePicker/shared.ts
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/material-ui-lab/src/LoadingButton/LoadingButton.js
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.tsx
  packages/material-ui-lab/src/TabPanel/TabPanel.js
  packages/material-ui-lab/src/TimePicker/TimePicker.tsx
  packages/material-ui-lab/src/TimePicker/shared.tsx
  packages/material-ui-lab/src/Timeline/Timeline.tsx
  packages/material-ui-lab/src/TimelineConnector/TimelineConnector.js
  packages/material-ui-lab/src/TimelineContent/TimelineContent.js
  packages/material-ui-lab/src/TimelineDot/TimelineDot.js
  packages/material-ui-lab/src/TimelineItem/TimelineItem.js
  packages/material-ui-lab/src/TimelineOppositeContent/TimelineOppositeContent.js
  packages/material-ui-lab/src/TimelineSeparator/TimelineSeparator.js
  packages/material-ui-lab/src/TreeItem/TreeItem.js
  packages/material-ui-lab/src/TreeView/TreeView.js
  packages/material-ui-lab/src/YearPicker/YearPicker.tsx
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/useThemeProps/useThemeProps.spec.ts
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.js
  packages/material-ui/src/styles/index.d.ts
  packages/material-ui/src/styles/index.js
  packages/material-ui/src/styles/useThemeProps.js
  packages/material-ui/src/styles/useThemeProps.spec.ts
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
Labels: breaking change, package: system

#26793 [core] Remove dependency on `@material-ui/private-theming`
  docs/src/pages/system/box/BoxSx.js
  docs/src/pages/system/box/BoxSx.tsx
  packages/material-ui-system/src/createBox.test.js
  packages/material-ui-system/src/index.d.ts
  packages/material-ui-system/src/index.js
  packages/material-ui-system/src/styled.test.js
  packages/material-ui-system/src/useTheme.js
  packages/material-ui-system/src/useThemeProps/index.d.ts
  packages/material-ui-system/src/useThemeProps/index.js
  packages/material-ui-system/src/useThemeWithoutDefault.d.ts
  packages/material-ui-system/src/useThemeWithoutDefault.js
  packages/material-ui/package.json
  packages/material-ui/src/useMediaQuery/useMediaQuery.js
Labels: core

#26819 [core] Fix running Framer's prettier under pwsh
  framer/package.json
Labels: core

#26815 [test] Ignore ReactDOM.hydrate deprecation warnings
  test/utils/initMatchers.ts
  test/utils/mochaHooks.js
Labels: test

#26832 [test] Convert remaining enzyme tests to testing-library
  packages/material-ui-styles/src/styled/styled.test.js
  packages/material-ui-unstyled/src/Portal/Portal.test.js
  packages/material-ui/src/Button/Button.test.js
  packages/material-ui/src/Fab/Fab.test.js
  packages/material-ui/src/NoSsr/NoSsr.test.js
  packages/material-ui/src/Tabs/Tabs.test.js
  packages/material-ui/src/ToggleButton/ToggleButton.test.js
  packages/material-ui/src/useMediaQuery/useMediaQuery.test.js
  packages/material-ui/src/utils/index.test.js
  test/utils/createServerRender.js
  test/utils/createShallow.js
  test/utils/getClasses.js
  test/utils/index.js
  test/utils/until.js
  test/utils/until.test.js
Labels: test

#26821 [core] Assume no document.all at runtime
  babel.config.js
  docs/babel.config.js
Labels: performance

#26798 [docs] Improve grammar of autocomplete/autofill section
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: component: Autocomplete, docs

#26807 [Stepper] Add componentsProps.label to StepLabel
  docs/pages/api-docs/step-label.json
  docs/translations/api-docs/step-label/step-label.json
  packages/material-ui/src/StepLabel/StepLabel.d.ts
  packages/material-ui/src/StepLabel/StepLabel.js
  packages/material-ui/src/StepLabel/StepLabel.test.js
  packages/material-ui/src/StepLabel/stepLabelClasses.ts
Labels: component: Stepper, enhancement

#26835 [Drawer] Remove incorrect transition handler props
  packages/material-ui/src/Drawer/Drawer.d.ts
Labels: bug 🐛, component: Drawer, typescript

#26493 [Rating] Make input ids less predictable
  packages/material-ui/src/Rating/Rating.js
  packages/material-ui/src/Rating/Rating.test.js
  test/regressions/fixtures/Rating/PreciseFocusVisibleRating.js
  test/regressions/index.test.js
Labels: component: Rating, enhancement

#26837 [test] Convert Drawer tests to testing-library
  packages/material-ui/src/Drawer/Drawer.test.js
Labels: component: Drawer, test

#26857 [Button] Fix loading text invisible when disabled
  docs/src/pages/components/buttons/LoadingButtonsTransition.js
  docs/src/pages/components/buttons/LoadingButtonsTransition.tsx
  docs/src/pages/components/buttons/buttons.md
  packages/material-ui-lab/src/LoadingButton/LoadingButton.js
Labels: bug 🐛, component: Button

#26831 [Alert] Add support for custom colors
  docs/pages/api-docs/alert.json
  packages/material-ui/src/Alert/Alert.d.ts
  packages/material-ui/src/Alert/Alert.js
Labels: component: Alert, enhancement

#26858 [test] Adjust expected useAutocomplete error messages for React 18
  packages/material-ui/src/useAutocomplete/useAutocomplete.test.js
  test/utils/initMatchers.test.js
  test/utils/initMatchers.ts
Labels: test

#26820 [system] Normalize api for `createBox`
  packages/material-ui-system/src/createBox.d.ts
  packages/material-ui-system/src/createBox.js
  packages/material-ui-system/src/createBox.test.js
  packages/material-ui-system/src/createStyled.js
  packages/material-ui/src/Box/Box.js
Labels: breaking change, package: system

#26783 [Tabs] Show error when Tab has display: none
  packages/material-ui/src/Tabs/Tabs.js
  packages/material-ui/src/Tabs/Tabs.test.js
Labels: component: Tabs, docs

#26791 [Drawer] Fix incorrect z-index
  docs/pages/api-docs/modal.json
  packages/material-ui/src/Drawer/Drawer.js
  packages/material-ui/src/Drawer/Drawer.test.js
  packages/material-ui/src/Modal/Modal.d.ts
  packages/material-ui/src/Modal/Modal.js
Labels: bug 🐛, component: Drawer, component: Modal

#26862 [examples] Rename nextjs typescript theme from tsx to ts
  examples/create-react-app-with-typescript/src/theme.ts
  examples/nextjs-with-typescript/src/theme.ts
Labels: docs, typescript

#26861 [core] Update babel-plugin-optimize-clsx
  docs/package.json
  package.json
  yarn.lock
Labels: dependencies

#26816 [Modal] Fix calculating scrollbar size when using custom scrollbar
  packages/material-ui-utils/src/getScrollbarSize.test.ts
  packages/material-ui-utils/src/getScrollbarSize.ts
  test/karma.tests.js
Labels: bug 🐛, component: Modal

#26873 [docs] Instruct users to install @material-ui/icons with the next tag
  docs/src/pages/getting-started/installation/installation.md
Labels: docs

#26576 [ButtonBase] Consider as a link with a custom component and `to` prop
  docs/src/pages/guides/routing/ButtonDemo.js
  docs/src/pages/guides/routing/ButtonDemo.tsx
  docs/src/pages/guides/routing/ButtonRouter.js
  docs/src/pages/guides/routing/ButtonRouter.tsx
  docs/src/pages/guides/routing/LinkDemo.js
  docs/src/pages/guides/routing/LinkDemo.tsx
  docs/src/pages/guides/routing/ListRouter.js
  docs/src/pages/guides/routing/ListRouter.tsx
  docs/src/pages/guides/routing/routing.md
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: component: ButtonBase, enhancement

#26875 [l10n] Add sinhalese (siLK) locale
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.ts
Labels: enhancement

#26898 [docs] Fix misspelling of the word Typography
  docs/src/pages/customization/typography/typography-de.md
  docs/src/pages/customization/typography/typography-es.md
  docs/src/pages/customization/typography/typography-fr.md
  docs/src/pages/customization/typography/typography-ja.md
  docs/src/pages/customization/typography/typography-pt.md
  docs/src/pages/customization/typography/typography-ru.md
  docs/src/pages/customization/typography/typography-zh.md
  docs/src/pages/customization/typography/typography.md
  test/regressions/fixtures/Alert/MultilineAlertWithAction.js
Labels: docs

#26740 Bump @testing-library/*
  package.json
  yarn.lock
Labels: test

#26866 [DatePicker] Remove helper text default value
  docs/src/pages/components/date-picker/HelperText.js
  docs/src/pages/components/date-picker/HelperText.tsx
  docs/src/pages/components/date-picker/date-picker.md
  packages/material-ui-lab/src/DesktopDatePicker/DesktopDatePickerKeyboard.test.tsx
  packages/material-ui-lab/src/internal/pickers/hooks/useMaskedInput.tsx
Labels: breaking change, component: DatePicker, enhancement

#26836 [Modal] Type BackdropProps according to styled version
  docs/pages/api-docs/dialog.json
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Modal/Modal.d.ts
  packages/material-ui/src/Modal/Modal.spec.tsx
Labels: bug 🐛, component: Modal

#26814 [Dialog] Automatically label by its DialogTitle
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/src/pages/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/src/pages/components/dialogs/AlertDialogSlide.js
  docs/src/pages/components/dialogs/AlertDialogSlide.tsx
  docs/src/pages/components/dialogs/ConfirmationDialog.js
  docs/src/pages/components/dialogs/ConfirmationDialog.tsx
  docs/src/pages/components/dialogs/FormDialog.js
  docs/src/pages/components/dialogs/FormDialog.tsx
  docs/src/pages/components/dialogs/MaxWidthDialog.js
  docs/src/pages/components/dialogs/MaxWidthDialog.tsx
  docs/src/pages/components/dialogs/SimpleDialog.js
  docs/src/pages/components/dialogs/SimpleDialog.tsx
  docs/src/pages/components/material-icons/SearchIcons.js
  packages/material-ui/src/Dialog/Dialog.js
  packages/material-ui/src/Dialog/DialogContext.ts
  packages/material-ui/src/DialogTitle/DialogTitle.js
  packages/material-ui/test/integration/DialogIntegration.test.js
Labels: accessibility, component: Dialog

#26928 [core] Fix merge conflict
  docs/pages/api-docs/dialog.json
  packages/material-ui/src/Dialog/Dialog.js
Labels: core

#26927 [typescript] Disallow spreading TransitionHandlerProps
  packages/material-ui/src/Dialog/Dialog.d.ts
  packages/material-ui/src/Menu/Menu.d.ts
  packages/material-ui/src/Popover/Popover.d.ts
  packages/material-ui/src/Snackbar/Snackbar.d.ts
  packages/material-ui/src/SpeedDial/SpeedDial.d.ts
Labels: bug 🐛, package: core, typescript

#26924 [test] Make remaining testing-library tests StrictMode compatible
  packages/material-ui/src/Select/Select.test.js
  packages/material-ui/src/SpeedDial/SpeedDial.test.js
  packages/material-ui/test/integration/Select.test.js
Labels: test

#26912 [test] Convert Modal tests to testing-library
  packages/material-ui/src/Backdrop/Backdrop.test.js
  packages/material-ui/src/Modal/Modal.test.js
Labels: test

#26932 [codemod] Correct codemod path
  packages/material-ui-codemod/README.md
Labels: docs

#26913 [test] Convert Popover tests to testing-library
  packages/material-ui/src/Popover/Popover.test.js
Labels: test

#26942 [docs] Fix 301 links
  docs/src/pages/system/the-sx-prop/the-sx-prop.md
Labels: docs

#26937 [lab] Fix missing dependency on unstyled
  packages/material-ui-lab/package.json
Labels: bug 🐛, package: lab

#26915 [test] Convert Menu tests to testing-library
  packages/material-ui/src/Menu/Menu.test.js
Labels: test

#26916 [test] Convert SwipeableDrawer tests to testing-library
  packages/material-ui/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: test

#26951 [test] Use createPickerMount where appropriate
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.test.tsx
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.test.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.test.tsx
Labels: pickers, test

#26933 [TextField] Fix label disappearing when focusing a button
  packages/material-ui/src/FormLabel/FormLabel.js
Labels: bug 🐛, component: TextField, external dependency

#26859 [Box] Fix TypeScript error on maxWidth prop
  packages/material-ui-system/src/Box/Box.d.ts
  packages/material-ui-system/src/Box/Box.spec.tsx
  packages/material-ui-system/src/styleFunctionSx/AliasesCSSProperties.d.ts
  packages/material-ui-system/src/styleFunctionSx/styleFunctionSx.d.ts
  packages/material-ui/src/Box/Box.d.ts
  packages/material-ui/src/Grid/Grid.d.ts
  packages/material-ui/src/Stack/Stack.d.ts
  packages/material-ui/src/Typography/Typography.d.ts
Labels: bug 🐛, component: Box, typescript

#26864 [TextField] Prevent `hiddenLabel` from spreading to DOM
  packages/material-ui/src/FilledInput/FilledInput.js
Labels: bug 🐛, component: TextField

#26945 [Radio] Fix `defaultValue` to match the other value types
  docs/pages/api-docs/radio-group.json
  packages/material-ui/src/RadioGroup/RadioGroup.d.ts
  packages/material-ui/src/RadioGroup/RadioGroup.js
Labels: component: Radio, typescript

#26936 [codemod] Improve DX when using the package
  packages/material-ui-codemod/README.md
Labels: package: codemod

#26960 [docs] Remove link that points to v4 blog post
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#26874 [Stepper] Fix support for no connectors
  packages/material-ui/src/Stepper/Stepper.d.ts
  packages/material-ui/src/Stepper/Stepper.test.tsx
Labels: bug 🐛, component: Stepper

#26963 [docs] Fix 404 links
  docs/src/pages/components/stack/stack.md
  docs/src/pages/guides/interoperability/interoperability.md
  docs/src/pages/guides/routing/routing.md
Labels: docs

#26954 [test] Add types to describeConformanceV5
  packages/material-ui-lab/src/TabPanel/TabPanel.test.tsx
  test/utils/createClientRender.tsx
  test/utils/describeConformanceV5.js
Labels: test, typescript

#26967 [test] Update tests to pass react@next
  packages/material-ui/src/useAutocomplete/useAutocomplete.test.js
  test/utils/userEvent.ts
Labels: test

#26908 [Hidden] Bring back and mark as deprecated
  docs/pages/api-docs/hidden.js
  docs/pages/api-docs/hidden.json
  docs/pages/components/hidden.js
  docs/src/pages.ts
  docs/src/pages/components/hidden/hidden.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pagesApi.js
  docs/translations/api-docs/hidden/hidden-de.json
  docs/translations/api-docs/hidden/hidden-es.json
  docs/translations/api-docs/hidden/hidden-fr.json
  docs/translations/api-docs/hidden/hidden-ja.json
  docs/translations/api-docs/hidden/hidden-pt.json
  docs/translations/api-docs/hidden/hidden-ru.json
  docs/translations/api-docs/hidden/hidden-zh.json
  docs/translations/api-docs/hidden/hidden.json
  docs/translations/translations.json
  packages/material-ui/src/Hidden/Hidden.d.ts
  packages/material-ui/src/Hidden/Hidden.js
  packages/material-ui/src/Hidden/Hidden.test.js
  packages/material-ui/src/Hidden/HiddenCss.d.ts
  packages/material-ui/src/Hidden/HiddenCss.js
  packages/material-ui/src/Hidden/HiddenCss.test.js
  packages/material-ui/src/Hidden/HiddenJs.d.ts
  packages/material-ui/src/Hidden/HiddenJs.js
  packages/material-ui/src/Hidden/HiddenJs.test.js
  packages/material-ui/src/Hidden/hiddenCssClasses.js
  packages/material-ui/src/Hidden/index.d.ts
  packages/material-ui/src/Hidden/index.js
  packages/material-ui/src/Hidden/withWidth.d.ts
  packages/material-ui/src/Hidden/withWidth.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
Labels: component: Hidden, deprecation

#26923 [BottomNavigation] Remove `wrapper` from BottomNavigationAction
  docs/pages/api-docs/bottom-navigation-action.json
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/bottom-navigation-action/bottom-navigation-action.json
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/BottomNavigationAction/bottomNavigationActionClasses.ts
Labels: breaking change, component: BottomNavigation

#26926 [Tabs] Remove unnecessary `wrapper` from Tab
  docs/pages/api-docs/tab.json
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/translations/api-docs/tab/tab.json
  packages/material-ui/src/Tab/Tab.js
  packages/material-ui/src/Tab/Tab.test.js
  packages/material-ui/src/Tab/tabClasses.ts
Labels: breaking change, component: Tabs

#26997 [docs] Fix /components/hidden merge conflict
  docs/pages/components/hidden.js
Labels: bug 🐛, docs

#26931 [core] Fix tests on Windows
  packages/material-ui-codemod/src/util/readFile.js
  packages/material-ui-codemod/src/v0.15.0/import-path.test.js
  packages/material-ui-codemod/src/v1.0.0/color-imports.test.js
  packages/material-ui-codemod/src/v1.0.0/import-path.test.js
  packages/material-ui-codemod/src/v1.0.0/svg-icon-imports.test.js
  packages/material-ui-codemod/src/v4.0.0/optimal-imports.test.js
  packages/material-ui-codemod/src/v4.0.0/theme-spacing-api.test.js
  packages/material-ui-codemod/src/v4.0.0/top-level-imports.test.js
  packages/material-ui-codemod/src/v5.0.0/autocomplete-rename-closeicon.test.js
  packages/material-ui-codemod/src/v5.0.0/avatar-circle-circular.test.js
  packages/material-ui-codemod/src/v5.0.0/badge-overlap-value.test.js
  packages/material-ui-codemod/src/v5.0.0/box-borderradius-values.test.js
  packages/material-ui-codemod/src/v5.0.0/box-rename-gap.test.js
  packages/material-ui-codemod/src/v5.0.0/box-sx-prop.test.js
  packages/material-ui-codemod/src/v5.0.0/button-color-prop.test.js
  packages/material-ui-codemod/src/v5.0.0/chip-variant-prop.test.js
  packages/material-ui-codemod/src/v5.0.0/circularprogress-variant.test.js
  packages/material-ui-codemod/src/v5.0.0/collapse-rename-collapsedheight.test.js
  packages/material-ui-codemod/src/v5.0.0/component-rename-prop.test.js
  packages/material-ui-codemod/src/v5.0.0/fade-rename-alpha.test.js
  packages/material-ui-codemod/src/v5.0.0/grid-justify-justifycontent.test.js
  packages/material-ui-codemod/src/v5.0.0/moved-lab-modules.test.js
  packages/material-ui-codemod/src/v5.0.0/theme-breakpoints.test.js
  packages/material-ui-codemod/src/v5.0.0/theme-spacing.test.js
  packages/material-ui-codemod/src/v5.0.0/use-transitionprops.test.js
  packages/material-ui-codemod/src/v5.0.0/variant-prop.test.js
  packages/material-ui-envinfo/envinfo.test.js
  packages/material-ui-icons/builder.js
  packages/material-ui-utils/macros/MuiError.macro.js
Labels: core, test

#26941 [codemod] Add CLI
  .codesandbox/ci.json
  packages/material-ui-codemod/README.md
  packages/material-ui-codemod/codemod.js
  packages/material-ui-codemod/package.json
Labels: enhancement, package: codemod

#26925 [docs] Misc CONTRIBUTING.md changes
  CONTRIBUTING.md
Labels: docs

#27002 [docs] Export all locales
  docs/next.config.js
Labels: bug 🐛, docs

#27004 [docs] Fix demo paths in windows
  docs/packages/markdown/loader.js
  docs/packages/markdown/parseMarkdown.js
Labels: bug 🐛, docs

#26869 [docs] Update unstyled demos to not depend on `@material-ui/core`
  docs/src/pages/components/badges/UnstyledBadge.js
  docs/src/pages/components/badges/UnstyledBadge.tsx
  docs/src/pages/components/modal/ModalUnstyled.js
  docs/src/pages/components/modal/ModalUnstyled.tsx
  docs/src/pages/components/slider/UnstyledSlider.js
  docs/src/pages/components/slider/UnstyledSlider.tsx
Labels: docs, package: unstyled

#26992 [core] Remove unused props clone
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/material-ui-lab/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/material-ui-lab/src/ClockPicker/Clock.tsx
  packages/material-ui-lab/src/ClockPicker/ClockNumber.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.tsx
  packages/material-ui-lab/src/DatePicker/DatePickerToolbar.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.tsx
  packages/material-ui-lab/src/TimePicker/TimePickerToolbar.tsx
  packages/material-ui-lab/src/TimelineConnector/TimelineConnector.js
  packages/material-ui-lab/src/TimelineSeparator/TimelineSeparator.js
  packages/material-ui-lab/src/YearPicker/YearPicker.tsx
  packages/material-ui-lab/src/internal/pickers/PickersArrowSwitcher.tsx
  packages/material-ui-lab/src/internal/pickers/PickersModalDialog.tsx
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
  packages/material-ui-lab/src/internal/pickers/PickersToolbar.tsx
  packages/material-ui/src/AccordionDetails/AccordionDetails.js
  packages/material-ui/src/AlertTitle/AlertTitle.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/CardActionArea/CardActionArea.js
  packages/material-ui/src/SnackbarContent/SnackbarContent.js
  packages/material-ui/src/SpeedDialIcon/SpeedDialIcon.js
  packages/material-ui/src/TablePagination/TablePagination.js
Labels: core

#26952 [test] Convert NativeSelectInput tests to testing-library
  packages/material-ui/src/NativeSelect/NativeSelect.d.ts
  packages/material-ui/src/NativeSelect/NativeSelectInput.d.ts
  packages/material-ui/src/NativeSelect/NativeSelectInput.test.js
Labels: test

#27019 [test] Convert HiddenCSS tests to testing-library
  packages/material-ui/src/Hidden/HiddenCss.test.js
Labels: test

#26986 [core] Inline rollup-plugin-size-snapshot
  package.json
  packages/material-ui/scripts/rollup.config.js
  yarn.lock
Labels: core, performance

#26953 [Stepper] Add completed to global pseudo-classes
  docs/src/pages/customization/how-to-customize/how-to-customize.md
  packages/material-ui-unstyled/src/generateUtilityClass/generateUtilityClass.ts
  packages/material-ui/src/styles/createTheme.js
Labels: bug 🐛, component: Stepper

#27025 [docs] Add notes to Table demo about stableSort
  docs/src/pages/components/tables/EnhancedTable.js
  docs/src/pages/components/tables/EnhancedTable.tsx
Labels: component: Table, docs

#27035 [pickers] Consider TDate in ToolbarComponent types
  packages/material-ui-lab/src/DatePicker/shared.ts
  packages/material-ui-lab/src/DateTimePicker/shared.ts
  packages/material-ui-lab/src/TimePicker/shared.tsx
  packages/material-ui-lab/src/internal/pickers/typings/BasePicker.tsx
Labels: pickers, typescript

#27018 [test] Only allow wrapping enzyme mount not creating
  packages/material-ui-lab/src/CalendarPicker/CalendarPicker.test.tsx
  packages/material-ui-lab/src/ClockPicker/ClockPicker.test.tsx
  packages/material-ui-lab/src/DateRangePicker/DateRangePicker.test.tsx
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/material-ui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.test.tsx
  packages/material-ui-lab/src/DesktopTimePicker/DesktopTimePicker.test.tsx
  packages/material-ui-lab/src/MobileDateRangePicker/MobileDateRangePicker.test.tsx
  packages/material-ui-lab/src/MobileTimePicker/MobileTimePicker.test.tsx
  packages/material-ui-lab/src/MonthPicker/MonthPicker.test.tsx
  packages/material-ui-lab/src/PickersDay/PickersDay.test.tsx
  packages/material-ui-lab/src/StaticDateRangePicker/StaticDateRangePicker.test.tsx
  packages/material-ui-lab/src/StaticTimePicker/StaticTimePicker.test.tsx
  packages/material-ui-lab/src/TabList/TabList.test.js
  packages/material-ui-lab/src/TabPanel/TabPanel.test.tsx
  packages/material-ui-lab/src/TimePicker/TimePicker.test.tsx
  packages/material-ui-lab/src/YearPicker/YearPicker.test.tsx
  packages/material-ui-lab/src/internal/pickers/test-utils.tsx
  packages/material-ui/src/Popover/Popover.test.js
  packages/material-ui/src/StepContent/StepContent.test.js
  packages/material-ui/src/TableBody/TableBody.test.js
  packages/material-ui/src/TableCell/TableCell.test.js
  packages/material-ui/src/TableFooter/TableFooter.test.js
  packages/material-ui/src/TableHead/TableHead.test.js
  packages/material-ui/src/TablePagination/TablePagination.test.js
  packages/material-ui/src/TableRow/TableRow.test.js
  test/utils/describeConformance.js
  test/utils/describeConformanceV5.js
Labels: test
