Repository mui/material-ui, pull requests merged in 2021-12, with the labels that each got.

#29985 [examples] Fix lint issue for displayName missing in the Next.js examples
  examples/nextjs-with-styled-components-typescript/pages/_document.tsx
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs/pages/_document.js
Labels: docs, examples

#29621 [utils] Add typings for `@mui-material/styles/cssUtils`
  packages/mui-material/src/styles/cssUtils.d.ts
  packages/mui-material/src/styles/index.d.ts
Labels: typescript

#29945 [docs] Add missing global state classes to API docs generator
  docs/pages/api-docs/slider-unstyled.json
  docs/pages/api-docs/slider.json
  docs/pages/api-docs/step-connector.json
  docs/pages/api-docs/step-icon.json
  docs/pages/api-docs/step-label.json
  docs/pages/api-docs/step.json
  docs/pages/api-docs/table-sort-label.json
  docs/scripts/buildApi.ts
Labels: docs

#29972 [Accordion] Add a test for handling `square` prop
  packages/mui-material/src/Accordion/Accordion.test.js
Labels: test, component: accordion

#29952 [examples] Add Remix example
  docs/src/pages/getting-started/example-projects/example-projects.md
  examples/remix-with-typescript/.gitignore
  examples/remix-with-typescript/README.md
  examples/remix-with-typescript/app/entry.client.tsx
  examples/remix-with-typescript/app/entry.server.tsx
  examples/remix-with-typescript/app/root.tsx
  examples/remix-with-typescript/app/routes/about.tsx
  examples/remix-with-typescript/app/routes/index.tsx
  examples/remix-with-typescript/app/src/Copyright.tsx
  examples/remix-with-typescript/app/src/Layout.tsx
  examples/remix-with-typescript/app/src/ProTip.tsx
  examples/remix-with-typescript/app/src/StylesContext.tsx
  examples/remix-with-typescript/app/src/createEmotionCache.ts
  examples/remix-with-typescript/app/src/theme.ts
  examples/remix-with-typescript/package.json
  examples/remix-with-typescript/public/favicon.ico
  examples/remix-with-typescript/remix.config.js
  examples/remix-with-typescript/remix.env.d.ts
  examples/remix-with-typescript/tsconfig.json
Labels: docs, examples

#30003 [docs] Explain how Paper changes shade in dark mode
  docs/src/pages/components/paper/paper.md
Labels: docs, component: Paper

#29067 [DateRangePicker] Fix `DateRangePickerDayProps` interface
  packages/mui-lab/src/themeAugmentation/props.d.ts
Labels: typescript, package: lab, component: date range picker

#29898 [AvatarGroup] Allow specifying total number of avatars
  docs/pages/api-docs/avatar-group.json
  docs/src/pages/components/avatars/TotalAvatars.js
  docs/src/pages/components/avatars/TotalAvatars.tsx
  docs/src/pages/components/avatars/TotalAvatars.tsx.preview
  docs/src/pages/components/avatars/avatars.md
  docs/translations/api-docs/avatar-group/avatar-group.json
  packages/mui-material/src/AvatarGroup/AvatarGroup.d.ts
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
  packages/mui-material/src/AvatarGroup/AvatarGroup.test.js
Labels: enhancement, On hold, component: avatar

#30000 [base] Fix missing ClickAwayListener barrel index export
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
Labels: bug 🐛, package: base

#29950 [survey] Add a banner and card for promoting the 2021 survey
  docs/pages/about.tsx
  docs/pages/core.tsx
  docs/pages/design-kits.tsx
  docs/pages/index.tsx
  docs/pages/pricing.tsx
  docs/pages/templates.tsx
  docs/pages/x.tsx
  docs/public/static/images/survey/table-contents-banner.png
  docs/src/components/home/SurveyBanner.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Link.tsx
  docs/src/route.ts
Labels: docs, website

#29967 [core] Transition to a new StackOverflow tag
  README.md
  docs/pages/about.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/pages/getting-started/faq/faq-pt.md
  docs/src/pages/getting-started/faq/faq-zh.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/getting-started/support/support-pt.md
  docs/src/pages/getting-started/support/support-zh.md
  docs/src/pages/getting-started/support/support.md
Labels: core

#30044 [docs] Fix link in TypeScript doc page
  docs/src/pages/guides/typescript/typescript.md
Labels: docs

#30021 [Pickers] Remove propagation of custom props to the `MonthPicker` component's DOM element
  packages/mui-lab/src/CalendarPicker/CalendarPicker.tsx
Labels: bug 🐛, component: date picker

#30069 [Stack] Document system props in Stack API
  docs/pages/api-docs/stack.json
  docs/scripts/buildApi.ts
Labels: docs, component: Stack

#30071 [examples]: Fix typos in the Remix example
  examples/remix-with-typescript/app/routes/about.tsx
  examples/remix-with-typescript/app/routes/index.tsx
  examples/remix-with-typescript/remix.config.js
Labels: docs, examples

#30008 [docs] Add to migration v4 to v5 docs on CSS specificity
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30027 [Alert] Fix `square` Paper prop
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/Alert/Alert.test.js
Labels: bug 🐛, component: alert

#30073 [website] Correct the Careers page description
  docs/pages/careers.tsx
Labels: website

#30077 [docs] Remove the 'WIP' icon from the 'Group & Pivot' page title
  docs/src/pages.ts
  docs/translations/translations.json
Labels: docs

#30076 [docs] Clarify comment in migration doc
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#29957 [Select] Should not crash when an empty array is passed with `multiple` enabled
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: bug 🐛, component: select, package: material

#30042 [core] Batch small changes
  CHANGELOG.old.md
  README.md
  docs/pages/about.tsx
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/index.tsx
  docs/src/pages/components/transitions/transitions.md
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/getting-started/learn/learn.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/guides/interoperability/interoperability.md
  docs/src/pages/guides/migration-v3/migration-v3.md
  docs/src/pages/styles/advanced/advanced.md
  docs/src/pages/styles/basics/basics.md
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-codemod/src/v5.0.0/jss-to-styled.test/fifth.actual.js
  packages/mui-codemod/src/v5.0.0/jss-to-styled.test/fifth.expected.js
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: umbrella, core

#30079 v5.2.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#29976 [esm] Correct a styles imports
  packages/mui-material/src/Avatar/Avatar.d.ts
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.d.ts
  packages/mui-material/src/CssBaseline/CssBaseline.d.ts
  packages/mui-material/src/ListItem/ListItem.d.ts
  packages/mui-material/src/ListItem/ListItem.spec.tsx
  packages/mui-material/src/ListItemButton/ListItemButton.d.ts
  packages/mui-material/src/MenuItem/MenuItem.d.ts
Labels: package: material

#30072 [GlobalStyles] Fix `theme` type
  packages/mui-material/src/GlobalStyles/GlobalStyles.d.ts
  packages/mui-material/src/GlobalStyles/GlobalStyles.spec.tsx
  packages/mui-styled-engine/src/GlobalStyles/GlobalStyles.d.ts
Labels: typescript

#29311 [system] Add `not` operator to `breakpoints`
  docs/src/pages/customization/breakpoints/breakpoints.md
  packages/mui-system/src/createTheme/createBreakpoints.d.ts
  packages/mui-system/src/createTheme/createBreakpoints.js
  packages/mui-system/src/createTheme/createBreakpoints.test.js
Labels: enhancement, package: system

#30108 [system] Don't transition when re-appearing
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: bug 🐛, package: system

#29888 [Transition] Allow any valid HTML attribute to be passed
  packages/mui-material/src/transitions/transition.spec.tsx
  packages/mui-material/src/transitions/transition.ts
Labels: typescript, component: transitions

#30098 [docs] Fix import example inside Unstyled Backdrop section
  docs/src/pages/components/backdrop/backdrop.md
Labels: docs

#30101 [docs] Add tip to help access the docs of a previous version when finding answers in StackOverflow
  docs/src/pages/getting-started/support/support.md
Labels: docs

#30117 [docs] Fix justifyContent option in the Grid interactive demo
  docs/src/pages/components/grid/InteractiveGrid.js
  docs/src/pages/components/grid/InteractiveGrid.tsx
Labels: docs

#30100 [docs] Fix link on "Custom variables" section in the Theming page
  docs/src/pages/customization/theming/theming.md
Labels: docs

#30095 [system] Fix discrepancy between core and system `ThemeOptions`
  packages/mui-material/src/styles/createTheme.d.ts
Labels: bug 🐛, typescript

#29839 [icons] Correct location of icon download folder
  packages/mui-icons-material/builder.md
Labels: docs, package: icons

#30141 [BadgeUnstyled] Make it conformant with other base components
  docs/translations/api-docs/badge/badge.json
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.js
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.test.js
  packages/mui-material/src/Badge/Badge.js
Labels: component: badge, package: base

#30136 [website] Column pinning and Tree data are out
  docs/src/components/icon/IconImage.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productX/XRoadmap.tsx
Labels: website

#30078 [docs] Add Data Driven Forms to related projects
  docs/src/pages/discover-more/related-projects/related-projects.md
Labels: docs

#29213 [InputBase] Add prop for disabling global styles
  docs/pages/api-docs/input-base.json
  docs/translations/api-docs/input-base/input-base.json
  packages/mui-material/src/InputBase/InputBase.d.ts
  packages/mui-material/src/InputBase/InputBase.js
Labels: enhancement, component: text field

#30087 [docs] Don't run nprogress on shallow routing
  docs/src/modules/components/AppFrame.js
Labels: enhancement, docs

#30135 [core] Improve Select multiple logic
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: select, core

#29630 [TextField] Fix missing space before asterisk in `OutlinedInput`'s label
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.test.js
  packages/mui-material/src/TextField/TextField.js
Labels: bug 🐛, component: text field

#30189 [docs] Explain the use of Select's label in FormControl
  docs/src/pages/components/selects/selects.md
Labels: docs, component: select

#29715 [Grid] grid item doesn't respond to grid container's responsive columns correctly
  packages/mui-material/src/Grid/Grid.js
  packages/mui-material/src/Grid/Grid.test.js
Labels: bug 🐛, component: Grid, package: material

#30122 [survey] Remove survey promotion items
  docs/notifications.json
  docs/pages/about.tsx
  docs/pages/careers.tsx
  docs/pages/core.tsx
  docs/pages/design-kits.tsx
  docs/pages/index.tsx
  docs/pages/pricing.tsx
  docs/pages/templates.tsx
  docs/pages/x.tsx
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/featureToggle.ts
  docs/src/modules/components/AppTableOfContents.js
  docs/src/route.ts
Labels: docs, website

#30199 v5.2.4
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  packages/mui-base/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
Labels: release

#30128 [test] Add E2E website tests
  .circleci/config.yml
  docs/src/featureToggle.ts
  netlify/functions/deploy-succeeded.js
  package.json
  test/e2e-website/README.md
  test/e2e-website/material-docs.spec.ts
  test/e2e-website/playwright.config.ts
  yarn.lock
Labels: docs, test, core, website

#30147 [Badge] Add tests for `anchorOrigin` prop
  packages/mui-material/src/Badge/Badge.test.js
Labels: test, component: badge

#30075 [icons] Sync icon search UI state with the url
  docs/src/modules/utils/useQueryParameterState.ts
  docs/src/pages/components/material-icons/SearchIcons.js
Labels: enhancement, docs

#30217 [website] Remove broken showcase links
  docs/public/static/images/showcase/lightyearvpn.jpg
  docs/public/static/images/showcase/tcespal.jpg
  docs/src/pages/discover-more/showcase/appList.js
Labels: bug 🐛, website

#29732 [docs] Run JS compiler on markdown output
  docs/next.config.js
  docs/packages/markdown/loader.js
Labels: docs

#30222 [website] Remove expired gold sponsor
  README.md
  docs/public/static/sponsors/elevator-logo-2x.png
  docs/public/static/sponsors/elevator-logo.png
  docs/src/components/home/GoldSponsors.tsx
  docs/src/pages/discover-more/backers/backers.md
Labels: website

#30219 [docs] Correct colors in breakpoints documentation
  docs/src/pages/customization/breakpoints/MediaQuery.js
  docs/src/pages/customization/breakpoints/MediaQuery.tsx
  docs/src/pages/customization/breakpoints/MediaQuery.tsx.preview
Labels: bug 🐛, docs

#30107 [docs] Add script to clone pages
  docs/next.config.js
  docs/packages/markdown/parseMarkdown.js
  docs/pages/_app.js
  docs/scripts/restructure.ts
  docs/scripts/restructureUtils.test.ts
  docs/scripts/restructureUtils.ts
  docs/src/modules/components/AppSearch.js
  docs/src/modules/utils/i18n.js
  package.json
  test/e2e-website/material-docs.spec.ts
  test/e2e-website/playwright.config.ts
Labels: docs

#30114 [docs] Add to migration doc about ref type specificity
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30216 [system] Use `useEnhancedEffect` to prevent flicker
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: package: system

#30206 [docs] Rename remaining 'unstyled' references to 'base'
  docs/src/pages/components/backdrop/backdrop.md
  docs/src/pages/components/click-away-listener/click-away-listener.md
  docs/src/pages/components/no-ssr/no-ssr.md
  docs/src/pages/components/portal/portal.md
  docs/src/pages/components/textarea-autosize/textarea-autosize.md
  docs/src/pages/components/trap-focus/trap-focus.md
  docs/src/pages/customization/unstyled-components/unstyled-components.md
  packages/mui-base/README.md
Labels: docs

#30226 [pickers] Fix the wrong MuiClockPicker's ArrowSwitcher slot name
  docs/translations/api-docs/clock-picker/clock-picker.json
  packages/mui-lab/src/ClockPicker/ClockPicker.tsx
Labels: bug 🐛, docs, component: time picker, component: pickers

#29485 [l10n] Add Danish (da-DK) locale
  docs/src/pages/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: l10n

#30253 [docs] Improve the description of the Accordion
  docs/src/pages/components/accordion/accordion.md
Labels: docs, component: accordion

#30254 [Tabs] Remove `Partial<>` type around TabIndicatorProps type
  packages/mui-material-next/src/Tabs/Tabs.d.ts
  packages/mui-material/src/Tabs/Tabs.d.ts
  packages/mui-material/src/Tabs/Tabs.spec.tsx
Labels: component: tabs, typescript

#30281 [docs] Remove extra word in Select component code example comments
  docs/src/pages/components/selects/MultipleSelect.js
  docs/src/pages/components/selects/MultipleSelect.tsx
  docs/src/pages/components/selects/MultipleSelectCheckmarks.js
  docs/src/pages/components/selects/MultipleSelectCheckmarks.tsx
  docs/src/pages/components/selects/MultipleSelectChip.js
  docs/src/pages/components/selects/MultipleSelectChip.tsx
  docs/src/pages/components/selects/MultipleSelectPlaceholder.js
  docs/src/pages/components/selects/MultipleSelectPlaceholder.tsx
Labels: docs, component: select

#30213 [docs] Add cssmodule injection order comments to Nextjs example
  examples/nextjs-with-typescript/src/pages/_document.tsx
  examples/nextjs-with-typescript/src/utils/createEmotionCache.ts
  examples/nextjs/pages/_document.js
  examples/nextjs/src/createEmotionCache.js
Labels: docs

#30002 [LoadingButton] Label progressbar by the LoadingButton
  docs/translations/api-docs/loading-button/loading-button.json
  packages/mui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/mui-lab/src/LoadingButton/LoadingButton.js
  packages/mui-lab/src/LoadingButton/LoadingButton.test.js
Labels: accessibility, component: LoadingButton

#29994 [docs] General documentation polish
  docs/pages/careers.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/header/ThemeModeToggle.tsx
  docs/src/layouts/AppHeader.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/Notifications.js
  docs/src/pages/system/the-sx-prop/Example.js
  docs/src/pages/system/the-sx-prop/Example.tsx
Labels: docs

#30319 [docs] Fix Icon Search UI crash
  docs/src/modules/components/MarkdownElement.js
Labels: docs

#30286 [docs] Redirect old urls to `/material/*` when search
  docs/src/modules/components/AppSearch.js
  test/e2e-website/material-docs.spec.ts
Labels: docs

#30338 [core] Rename missed `Material-UI` text to `MUI` in warning logs
  packages/mui-base/src/InputUnstyled/InputUnstyled.tsx
  packages/mui-material-next/src/Button/Button.js
Labels: core

#30260 [docs] Update outdated links
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/public/static/images/showcase/arkoclub.jpg
  docs/public/static/images/showcase/bitcambio.jpg
  docs/public/static/images/showcase/cryptoverview.jpg
  docs/public/static/images/showcase/fizix.jpg
  docs/public/static/images/showcase/hkn.jpg
  docs/public/static/images/showcase/leroymerlin.jpg
  docs/public/static/images/showcase/magicmondayz.jpg
  docs/public/static/images/showcase/melbournemint.jpg
  docs/public/static/images/showcase/numerai.jpg
  docs/public/static/images/showcase/oneshotmove.jpg
  docs/public/static/images/showcase/pilcro.jpg
  docs/public/static/images/showcase/planalyze.jpg
  docs/public/static/images/showcase/rarebits.jpg
  docs/public/static/images/showcase/sfrpresse.jpg
  docs/public/static/images/showcase/swimmy.jpg
  docs/public/static/images/showcase/tudiscovery.jpg
  docs/public/static/images/showcase/venuemob.jpg
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/discover-more/showcase/appList.js
  docs/src/pages/getting-started/learn/learn.md
Labels: docs

#30259 [website] Sync sponsors
  README.md
  docs/next-env.d.ts
  docs/public/static/sponsors/hoodie-bees-2x.png
  docs/public/static/sponsors/hoodie-bees.png
  docs/src/components/home/GoldSponsors.tsx
  docs/src/pages/discover-more/backers/backers.md
Labels: website

#30246 [BadgeUnstyled] Add useBadge hook
  docs/pages/api-docs/badge-unstyled.json
  docs/pages/api-docs/badge.json
  docs/src/pages/components/badges/UnstyledBadge.js
  docs/src/pages/components/badges/UnstyledBadge.tsx
  docs/src/pages/components/badges/UnstyledBadge.tsx.preview
  docs/translations/api-docs/badge-unstyled/badge-unstyled.json
  docs/translations/api-docs/badge/badge.json
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.d.ts
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.js
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyledProps.ts
  packages/mui-base/src/BadgeUnstyled/badgeUnstyledClasses.ts
  packages/mui-base/src/BadgeUnstyled/index.d.ts
  packages/mui-base/src/BadgeUnstyled/index.js
  packages/mui-base/src/BadgeUnstyled/useBadge.ts
  packages/mui-material/src/Badge/Badge.d.ts
  packages/mui-material/src/Badge/Badge.js
  scripts/generateProptypes.ts
Labels: breaking change, component: badge, package: base

#30353 [docs] Fix incorrect number of breakpoint helpers
  docs/src/pages/customization/breakpoints/breakpoints.md
Labels: docs

#30354 [docs] Fix incorrect aria label in SpeedDial demo
  docs/src/pages/components/speed-dial/ControlledOpenSpeedDial.js
  docs/src/pages/components/speed-dial/ControlledOpenSpeedDial.tsx
Labels: docs

#30363 [docs] Fix link to /size-snapshot
  docs/public/_redirects
Labels: bug 🐛, docs, regression

#27520 [l10n] Add Norwegian Bokmål (nb-NO) locale
  docs/src/pages/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: enhancement, l10n

#30372 [website] Fix SEO issues
  docs/pages/careers.tsx
  docs/public/_redirects
  docs/src/modules/components/Link.tsx
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/guides/routing/routing.md
  framer/Material-UI.framerfx/README.md
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v1.0.0/svg-icon-imports.js
Labels: bug 🐛, website

#30373 [docs] Improve the translation experience
  docs/src/modules/components/EditPage.js
Labels: docs, regression, i18n

#30368 [core] Fix warning in dev mode
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/DemoToolbar.js
Labels: docs, core, regression

#30307 [docs] Fix Breadcrumb description
  docs/src/pages/components/breadcrumbs/breadcrumbs.md
Labels: docs, component: breadcrumbs

#30380 [docs] Fix 404 links
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: bug 🐛, docs

#30382 [docs] Document how to unmount transition child
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/pages/components/accordion/accordion.md
  docs/src/pages/components/transitions/transitions.md
Labels: docs, performance, component: transitions

#30378 [docs] Fix a11y in Menu demos
  docs/src/pages/components/menus/AccountMenu.js
  docs/src/pages/components/menus/AccountMenu.tsx
  docs/src/pages/components/menus/BasicMenu.js
  docs/src/pages/components/menus/BasicMenu.tsx
  docs/src/pages/components/menus/CustomizedMenus.js
  docs/src/pages/components/menus/CustomizedMenus.tsx
  docs/src/pages/components/menus/FadeMenu.js
  docs/src/pages/components/menus/FadeMenu.tsx
  docs/src/pages/components/menus/LongMenu.js
  docs/src/pages/components/menus/LongMenu.tsx
  docs/src/pages/components/menus/PositionedMenu.js
  docs/src/pages/components/menus/PositionedMenu.tsx
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
Labels: docs, accessibility, component: menu

#30376 [ButtonGroup] Fix typo in `ButtonGroupContext`'s interface
  packages/mui-material/src/ButtonGroup/ButtonGroupContext.ts
Labels: component: button, typescript

#30391 [blog] Fix file import conflict resolution
  README.md
  docs/packages/markdown/loader.js
  docs/src/components/home/GoldSponsors.tsx
  docs/src/modules/components/TopLayoutBlog.js
Labels: bug 🐛, regression, blog

#30393 [docs] Fix text from `material-ui` to `@mui` to reflect v5 name changes
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs

#30396 [docs] Update to new website domain
  README.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-introducing-sketch.md
  docs/pages/blog/2020-q2-update.md
  docs/pages/blog/august-2019-update.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/may-2019-update.md
  docs/pages/blog/mui-core-v5.md
  docs/src/components/pricing/EarlyBird.tsx
  docs/src/components/pricing/PricingList.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/productTemplate/TemplateDemo.tsx
  docs/src/modules/components/Ad.js
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/pages.ts
  docs/src/pages/components/date-range-picker/date-range-picker.md
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/templates/templates.md
  docs/src/route.ts
  docs/translations/translations.json
  packages/mui-material-next/src/Button/Button.d.ts
Labels: docs, website

#30345 [docs] Fix crash on Safari because of unsupported lookahead feature
  docs/src/modules/components/AppSearch.js
  docs/src/modules/utils/i18n.js
  docs/src/modules/utils/replaceMarkdownLinks.test.js
  docs/src/modules/utils/replaceMarkdownLinks.ts
  docs/src/modules/utils/replaceUrl.test.js
  docs/src/modules/utils/replaceUrl.ts
Labels: bug 🐛, docs, website, regression

#29962 [Joy] Button API
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/style-guide.tsx
  packages/mui-joy/src/Button/Button.spec.tsx
  packages/mui-joy/src/Button/Button.test.js
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Button/ButtonProps.ts
  packages/mui-joy/src/Button/buttonClasses.ts
  packages/mui-joy/src/colors/colors.ts
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/ThemeProvider.tsx
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/index.ts
  packages/mui-joy/src/styles/styled.spec.tsx
  packages/mui-joy/src/styles/styled.test.tsx
  packages/mui-joy/src/styles/types/colorSystem.ts
  packages/mui-joy/src/styles/types/index.ts
  packages/mui-joy/src/styles/types/radius.ts
  packages/mui-joy/src/styles/types/shadow.ts
  packages/mui-joy/src/styles/types/typography.ts
  packages/mui-joy/src/styles/useThemeProps.ts
  packages/mui-joy/src/styles/variantUtils.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/createGetThemeVar.test.ts
  packages/mui-system/src/cssVars/createGetThemeVar.ts
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  scripts/generateProptypes.ts
  test/regressions/README.md
  test/regressions/fixtures/ButtonJoy/VariantColorButtons.js
  test/regressions/index.js
Labels: component: button, joy design

#30415 v5.2.6
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
Labels: release

#30020 [website] Refactor page context with next router
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Link.tsx
Labels: docs

#30427 [Badge] Fix `classes` prop TypeScript type
  packages/mui-material/src/Badge/Badge.d.ts
  packages/mui-material/src/Badge/Badge.spec.tsx
Labels: bug 🐛, component: badge, typescript, regression

#30255 [Avatar] fix TS error on imgProps.sx
  packages/mui-material/src/Avatar/Avatar.d.ts
  packages/mui-material/src/Avatar/Avatar.spec.tsx
Labels: PR: needs test

#30426 [i18n]: improve viVN locale
  packages/mui-material/src/locale/index.ts
Labels: i18n

#30442 [l10n] Improve fiFI locale
  packages/mui-material/src/locale/index.ts
Labels: l10n

#30374 [Autocomplete] Fix calling onChange for duplicate values
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: component: autocomplete

#30446 [docs] Fix typo in grid.md
  docs/src/pages/components/grid/grid.md
Labels: docs

#30425 [blog] 2021
  docs/pages/blog/2019.md
  docs/pages/blog/2020.md
  docs/pages/blog/2021.js
  docs/pages/blog/2021.md
  docs/pages/blog/mui-core-v5.md
  docs/public/static/blog/2021/card.png
  docs/src/pages/company/careers/full-stack-engineer.md
  docs/src/pages/company/careers/product-manager.md
Labels: blog

#30454 [docs] Fix `useMediaQuery` SSR example to v5 theme API
  docs/src/pages/components/use-media-query/use-media-query.md
Labels: bug 🐛, docs
