Repository mui/material-ui, pull requests merged in 2021-08, with the labels that each got.

#27565 [core] rebaseWhen=auto does not seem to work
  .github/renovate.json
Labels: core

#27496 [docs] Improve SSR configuration with emotion
  docs/src/pages/guides/server-rendering/server-rendering.md
  examples/ssr/client.js
  examples/ssr/createEmotionCache.js
  examples/ssr/getCache.js
  examples/ssr/server.js
Labels: docs

#27485 [Autocomplete] Move useAutocomplete to the Unstyled package
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/UseAutocomplete.js
  docs/src/pages/components/autocomplete/UseAutocomplete.tsx
  packages/material-ui-lab/src/useAutocomplete/index.d.ts
  packages/material-ui-lab/src/useAutocomplete/index.js
  packages/material-ui-unstyled/src/AutocompleteUnstyled/index.d.ts
  packages/material-ui-unstyled/src/AutocompleteUnstyled/index.js
  packages/material-ui-unstyled/src/AutocompleteUnstyled/useAutocomplete.d.ts
  packages/material-ui-unstyled/src/AutocompleteUnstyled/useAutocomplete.js
  packages/material-ui-unstyled/src/AutocompleteUnstyled/useAutocomplete.spec.ts
  packages/material-ui-unstyled/src/AutocompleteUnstyled/useAutocomplete.test.js
  packages/material-ui-unstyled/src/index.d.ts
  packages/material-ui-unstyled/src/index.js
  packages/material-ui/src/Autocomplete/Autocomplete.d.ts
  packages/material-ui/src/Autocomplete/Autocomplete.js
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/useAutocomplete/index.d.ts
  packages/material-ui/src/useAutocomplete/index.js
  test/bundling/scripts/fixtureTemplateValues.js
Labels: component: Autocomplete, package: unstyled

#27569 [docs] Use the same h2 for the customization demos
  docs/src/pages/components/badges/badges.md
  docs/src/pages/components/breadcrumbs/breadcrumbs.md
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/dialogs/dialogs.md
  docs/src/pages/components/lists/lists.md
  docs/src/pages/components/menus/menus.md
  docs/src/pages/components/progress/progress.md
  docs/src/pages/components/radio-buttons/radio-buttons.md
  docs/src/pages/components/rating/rating.md
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/components/switches/switches.md
  docs/src/pages/components/tables/tables.md
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/components/timeline/timeline.md
  docs/src/pages/components/toggle-button/toggle-button.md
  docs/src/pages/components/tooltips/tooltips.md
  docs/src/pages/components/tree-view/tree-view.md
Labels: docs

#27566 [docs] Fix 404 links
  docs/src/pages/customization/unstyled-components/unstyled-components.md
Labels: docs

#27578 [codemod] Add support for `createStyles` usage in `jss-to-styled`
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles.actual.tsx
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles.expected.tsx
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles1.actual.tsx
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles1.expected.tsx
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles2.actual.tsx
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles2.expected.tsx
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles3.actual.tsx
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/withCreateStyles3.expected.tsx
Labels: package: codemod

#27591 [examples] Update create-react-app examples with styled-components to use package aliases
  examples/create-react-app-with-styled-components-typescript/README.md
  examples/create-react-app-with-styled-components-typescript/config-overrides.js
  examples/create-react-app-with-styled-components-typescript/package.json
  examples/create-react-app-with-styled-components-typescript/tsconfig.json
  examples/create-react-app-with-styled-components/README.md
  examples/create-react-app-with-styled-components/config-overrides.js
  examples/create-react-app-with-styled-components/package.json
Labels: docs

#27443 [docs] Bring back Select#onChange signature API
  docs/translations/api-docs/select/select.json
  packages/material-ui/src/Select/Select.d.ts
  packages/material-ui/src/Select/Select.js
Labels: component: Select, docs

#27446 [docs] Hardcode listed colors in /customization/color/#playground
  docs/src/pages/customization/color/ColorTool.js
Labels: docs

#27487 [Modal] Restore `overflowX` and `overflowY` styles
  packages/material-ui-unstyled/src/ModalUnstyled/ModalManager.test.js
  packages/material-ui-unstyled/src/ModalUnstyled/ModalManager.ts
Labels: bug 🐛, component: Modal

#27583 [examples] Fix nextjs with styled-components example
  examples/nextjs-with-styled-components-typescript/next.config.js
  examples/nextjs-with-styled-components-typescript/package.json
  examples/nextjs-with-styled-components-typescript/tsconfig.json
Labels: docs, package: styled-engine-sc

#27417 [docs] Add TypeScript guide for the `sx` prop
  docs/src/pages/guides/typescript/typescript.md
  docs/src/pages/styles/advanced/advanced.md
  docs/src/pages/system/the-sx-prop/the-sx-prop.md
Labels: docs, package: system, typescript

#27524 [Autocomplete] Move useAutocomplete to the Unstyled package - part 2
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
  packages/material-ui-unstyled/src/AutocompleteUnstyled/useAutocomplete.d.ts
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/index.js
  packages/material-ui/src/useAutocomplete/index.d.ts
  packages/material-ui/src/useAutocomplete/index.js
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
  packages/material-ui/src/useAutocomplete/useAutocomplete.js
  test/bundling/scripts/fixtureTemplateValues.js
Labels: component: Autocomplete, package: unstyled

#27495 [codemod] Fix `jss-to-styled` codemod to handle React.Fragment as root
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/eighth.actual.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/eighth.expected.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/eleventh.actual.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/eleventh.expected.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/nineth.actual.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/nineth.expected.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/tenth.actual.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/tenth.expected.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/twelfth.actual.js
Labels: package: codemod

#27619 [docs] Fix layout shift when opening hash anchor
  docs/src/modules/components/AppLayoutDocs.js
Labels: docs

#27335 [docs] Recommend the `direct-import` babel plugin over `transform-import`
  docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs, performance

#27634 [docs] Add badges to Transfer List
  docs/src/pages/components/transfer-list/transfer-list.md
Labels: docs, component: TransferList

#27632 [docs] img should have a src attribute
  docs/src/pages/components/image-list/CustomImageList.js
  docs/src/pages/components/image-list/CustomImageList.tsx
  docs/src/pages/components/image-list/MasonryImageList.js
  docs/src/pages/components/image-list/MasonryImageList.tsx
  docs/src/pages/components/image-list/QuiltedImageList.js
  docs/src/pages/components/image-list/QuiltedImageList.tsx
  docs/src/pages/components/image-list/StandardImageList.js
  docs/src/pages/components/image-list/StandardImageList.tsx
  docs/src/pages/components/image-list/TitlebarBelowImageList.js
  docs/src/pages/components/image-list/TitlebarBelowImageList.tsx
  docs/src/pages/components/image-list/TitlebarBelowMasonryImageList.js
  docs/src/pages/components/image-list/TitlebarBelowMasonryImageList.tsx
  docs/src/pages/components/image-list/TitlebarImageList.js
  docs/src/pages/components/image-list/TitlebarImageList.tsx
  docs/src/pages/components/image-list/WovenImageList.js
  docs/src/pages/components/image-list/WovenImageList.tsx
Labels: docs, component: ImageList

#27585 [TreeView] Fix TreeItem label overflow
  packages/material-ui-lab/src/TreeItem/TreeItem.js
Labels: bug 🐛, component: TreeView

#27652 [core] Change range strategy to bump
  .github/renovate.json
Labels: dependencies

#27514 [Grid] Fix "auto" behavior to match natural width of its content
  docs/src/pages/components/grid/VariableWidthGrid.js
  docs/src/pages/components/grid/VariableWidthGrid.tsx
  docs/src/pages/components/grid/grid.md
  packages/material-ui/src/Grid/Grid.js
  packages/material-ui/src/Grid/Grid.test.js
Labels: bug 🐛, breaking change, component: Grid

#27522 [test] Add coverage for jss-to-styled prefix from filename
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/Anonymous.actual.js
  packages/material-ui-codemod/src/v5.0.0/jss-to-styled.test/Anonymous.expected.js
Labels: test, package: codemod

#27568 [core] Reduce use CSS when Checkbox disableRipple is set
  packages/material-ui/src/Checkbox/Checkbox.js
Labels: component: Checkbox, core

#27507 [TextField] password visibility icons ( "visibility" ⇔ "visibility-off" ) should be reversed
  docs/src/pages/components/text-fields/InputAdornments.js
  docs/src/pages/components/text-fields/InputAdornments.tsx
Labels: bug 🐛, docs, component: TextField

#27618 [system] Fix missing filterProps in compose type
  packages/material-ui-system/src/Box/Box.d.ts
  packages/material-ui-system/src/index.spec.tsx
Labels: bug 🐛, typescript, package: system

#27597 [docs] Fix missing dependency in the DataGrid demo
  docs/src/modules/utils/helpers.ts
Labels: docs, component: DataGrid

#27526 [MenuList] Fix text navigation
  packages/material-ui/src/MenuList/MenuList.js
  packages/material-ui/test/integration/MenuList.test.js
Labels: bug 🐛, component: Menu

#27615 [test] Enable skipped test fixed by upstream React fix
  packages/material-ui/src/Select/Select.test.js
Labels: test

#27661 [test] Add current behavior for a11y name vs visible name for PickersDay
  packages/material-ui-lab/src/PickersDay/PickersDay.test.tsx
Labels: test, pickers

#27636 [core] Batch small changes
  docs/pages/branding/about.tsx
  docs/src/pages/discover-more/team/Team.js
  docs/src/pages/guides/migration-v4/migration-v4.md
  packages/material-ui/src/index.d.ts
  packages/material-ui/src/styles/createTransitions.d.ts
Labels: umbrella

#27653 [test] Dodge double logging in dev mode
  test/karma.conf.js
Labels: test

#27635 [ToggleButton] Fix handling of color prop
  docs/pages/api-docs/toggle-button-group.json
  packages/material-ui/src/ToggleButton/ToggleButton.d.ts
  packages/material-ui/src/ToggleButton/ToggleButton.js
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.d.ts
  packages/material-ui/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: bug 🐛, component: ToggleButton

#27453 [theme] Add missed variants in Components interface
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui/src/styles/components.d.ts
Labels: enhancement, typescript, package: core

#27656 [Radio] Fix size prop forwarding with custom icons
  docs/pages/api-docs/radio.json
  packages/material-ui/src/Checkbox/Checkbox.js
  packages/material-ui/src/Radio/Radio.d.ts
  packages/material-ui/src/Radio/Radio.js
  test/regressions/fixtures/Radio/RadioIconSizeSmall.js
Labels: bug 🐛, component: Radio

#27660 [core] Fix visual regression example images
  test/docs-regressions-before.png
  test/docs-regressions-diff.png
Labels: core

#27598 [website] Add pricing page
  docs/pages/branding/home.tsx
  docs/pages/branding/pricing.tsx
  docs/public/static/branding/pricing/block-blue.svg
  docs/public/static/branding/pricing/block-gold.svg
  docs/public/static/branding/pricing/block-green.svg
  docs/public/static/branding/pricing/early-bird.svg
  docs/public/static/branding/pricing/no-dark.svg
  docs/public/static/branding/pricing/no-light.svg
  docs/public/static/branding/pricing/perpetual.svg
  docs/public/static/branding/pricing/renewal.svg
  docs/public/static/branding/pricing/support-maintenance.svg
  docs/public/static/branding/pricing/time-dark.svg
  docs/public/static/branding/pricing/time-light.svg
  docs/public/static/branding/pricing/volume-discount.svg
  docs/public/static/branding/pricing/yes-dark.svg
  docs/public/static/branding/pricing/yes-light.svg
  docs/public/static/branding/product-advanced-dark.svg
  docs/public/static/branding/product-advanced-light.svg
  docs/public/static/branding/product-core-dark.svg
  docs/public/static/branding/product-core-light.svg
  docs/public/static/branding/product-designkits-dark.svg
  docs/public/static/branding/product-designkits-light.svg
  docs/public/static/branding/product-templates-dark.svg
  docs/public/static/branding/product-templates-light.svg
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/Hero.tsx
  docs/src/components/home/HeroEnd.tsx
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/components/home/Sponsors.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/icon/IconImage.tsx
  docs/src/components/pricing/EarlyBird.tsx
  docs/src/components/pricing/FAQ.tsx
  docs/src/components/pricing/HeroPricing.tsx
  docs/src/components/pricing/PricingList.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/pricing/WhatToExpect.tsx
  docs/src/icons/SvgProductAdvanced.tsx
  docs/src/icons/SvgProductCore.tsx
  docs/src/icons/SvgProductDesign.tsx
  docs/src/icons/SvgProductTemplates.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/layouts/AppHeader.tsx
  docs/src/modules/ThemeContext.tsx
  docs/src/modules/branding/ComparisonTable.tsx
  docs/src/modules/brandingTheme.ts
Labels: website

#27599 [website] Add about page
  docs/pages/branding/about-old.tsx
  docs/pages/branding/about.tsx
  docs/pages/branding/home.tsx
  docs/public/static/branding/about/damien.jpg
  docs/public/static/branding/about/danail.jpg
  docs/public/static/branding/about/danilo.jpg
  docs/public/static/branding/about/flavien.jpg
  docs/public/static/branding/about/give-feedback.svg
  docs/public/static/branding/about/join-community.svg
  docs/public/static/branding/about/marija.jpg
  docs/public/static/branding/about/matheus.jpg
  docs/public/static/branding/about/matt.jpg
  docs/public/static/branding/about/michal.jpg
  docs/public/static/branding/about/olivier.jpg
  docs/public/static/branding/about/sebastian.jpg
  docs/public/static/branding/about/siriwat.jpg
  docs/public/static/branding/about/support-us.svg
  docs/public/static/branding/pricing/no-dark.svg
  docs/public/static/branding/pricing/no-light.svg
  docs/public/static/branding/pricing/yes-light.svg
  docs/src/components/home/ReferencesCore.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/icon/IconImage.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/route.ts
Labels: website

#27603 [Calendarpicker] Improve contrast between enabled and disabled days
  packages/material-ui-lab/src/PickersDay/PickersDay.tsx
Labels: accessibility, component: DatePicker

#27680 [StyledEngineProvider] Remove unnecessary emotion cache export
  packages/material-ui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.js
Labels: enhancement, package: styled-engine

#27678 [docs] Reorder and rename "enforce value" ToggleButton demo
  docs/src/pages/components/toggle-button/ToggleButtonNotEmpty.js
  docs/src/pages/components/toggle-button/ToggleButtonNotEmpty.tsx
  docs/src/pages/components/toggle-button/toggle-button.md
Labels: docs, component: ToggleButton

#27684 [ButtonBase]: Fix tabIndex type
  packages/material-ui/src/ButtonBase/ButtonBase.d.ts
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/MenuItem/MenuItem.js
Labels: enhancement, typescript, component: ButtonBase

#27573 [Badge] Warn on default `overlap` value as well
  packages/material-ui/src/Badge/Badge.js
  packages/material-ui/src/Badge/Badge.test.js
Labels: bug 🐛, component: Badge, v5.x migration

#27627 [docs] Update CSP page
  docs/src/pages/guides/content-security-policy/content-security-policy.md
Labels: docs

#27639 [docs] Document that @material-ui/styles is not strict mode compatible
  docs/src/pages.ts
  docs/src/pages/styles/basics/basics.md
  docs/translations/translations.json
Labels: docs, package: styles

#27602 [docs] Update guides for @material-ui/styled-engine-sc installation
  docs/src/pages/guides/interoperability/interoperability.md
  docs/src/pages/guides/styled-engine/styled-engine.md
Labels: docs, package: styled-engine, package: styled-engine-sc

#27711 [docs] Remove unused code
  docs/src/modules/components/Demo.js
Labels: docs

#27720 [core] Remove diff when running yarn docs:dev
  docs/next-env.d.ts
Labels: core

#27340 [docs] Improve virtualization demo
  docs/src/pages/components/autocomplete/Virtualize.js
  docs/src/pages/components/autocomplete/Virtualize.tsx
Labels: docs, component: Autocomplete

#27694 [docs] Fix duplicate headers in List
  docs/src/pages/components/lists/lists.md
Labels: bug 🐛, docs

#27733 [docs] Fix sentence to be more grammatically correct
  docs/src/pages/components/box/box.md
Labels: docs

#26623 [transitions] Allow to run Slide into a custom container
  docs/pages/api-docs/slide.json
  docs/src/pages/components/transitions/SlideFromContainer.js
  docs/src/pages/components/transitions/SlideFromContainer.tsx
  docs/src/pages/components/transitions/transitions.md
  docs/translations/api-docs/slide/slide.json
  packages/material-ui/src/Popover/Popover.js
  packages/material-ui/src/Popper/Popper.js
  packages/material-ui/src/Slide/Slide.d.ts
  packages/material-ui/src/Slide/Slide.js
  packages/material-ui/src/Slide/Slide.test.js
Labels: enhancement, component: transitions

#27712 [docs] Don't dispatch ignored "reset code variant" actions
  docs/src/modules/components/DemoToolbar.js
Labels: docs

#27728 [docs] One line per sentence
  docs/src/pages/components/accordion/accordion.md
  docs/src/pages/components/badges/badges.md
  docs/src/pages/components/breadcrumbs/breadcrumbs.md
  docs/src/pages/components/buttons/buttons.md
  docs/src/pages/components/checkboxes/checkboxes.md
  docs/src/pages/components/dialogs/dialogs.md
  docs/src/pages/components/menus/menus.md
  docs/src/pages/components/progress/progress.md
  docs/src/pages/components/radio-buttons/radio-buttons.md
  docs/src/pages/components/rating/rating.md
  docs/src/pages/components/selects/selects.md
  docs/src/pages/components/slider/slider.md
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/components/steppers/steppers.md
  docs/src/pages/components/switches/switches.md
  docs/src/pages/components/tables/tables.md
  docs/src/pages/components/tabs/tabs.md
  docs/src/pages/components/text-fields/text-fields.md
  docs/src/pages/components/timeline/timeline.md
  docs/src/pages/components/toggle-button/toggle-button.md
  docs/src/pages/components/tooltips/tooltips.md
Labels: docs

#27735 [lab] Use the public API for module augmentation
  packages/material-ui-lab/src/themeAugmentation/components.d.ts
  packages/material-ui-lab/src/themeAugmentation/overrides.d.ts
  packages/material-ui-lab/src/themeAugmentation/props.d.ts
Labels: typescript, package: lab

#27713 [docs] Improve right to left guide
  docs/src/pages/guides/right-to-left/RtlOptOut.js
  docs/src/pages/guides/right-to-left/RtlOptOut.tsx
  docs/src/pages/guides/right-to-left/RtlOptOutStylis.js
  docs/src/pages/guides/right-to-left/RtlOptOutStylis.tsx
  docs/src/pages/guides/right-to-left/RtlOptOutStylist.js
  docs/src/pages/guides/right-to-left/right-to-left.md
Labels: docs

#27724 [core] Utilize `CSS.supports` in `SliderUnstyled` component
  packages/material-ui-unstyled/src/SliderUnstyled/SliderUnstyled.js
Labels: core

#27778 [docs] Fix outdated styled-engine docs
  packages/material-ui-icons/README.md
  packages/material-ui-lab/README.md
  packages/material-ui-styled-engine-sc/README.md
  packages/material-ui-styled-engine-sc/package.json
  packages/material-ui-styled-engine/README.md
  packages/material-ui-styled-engine/package.json
  packages/material-ui-system/README.md
  packages/material-ui-unstyled/README.md
Labels: docs

#27775 [docs] Improve the Modal onClose migration
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#27781 [docs] Prefer linking API source TypeScript
  docs/src/modules/components/ApiPage.js
Labels: docs

#27782 [docs] Move TypeScript docs in context
  docs/src/pages/guides/composition/composition.md
  docs/src/pages/guides/typescript/typescript.md
Labels: docs, typescript

#27783 [docs] Document the transfer-list limitations
  docs/src/pages/components/transfer-list/transfer-list.md
Labels: docs, component: TransferList

#27740 [icons] Improve GitHub size
  packages/material-ui-icons/custom/GitHub.js
  packages/material-ui-icons/lib/GitHub.js
  packages/material-ui-icons/lib/esm/GitHub.js
Labels: package: icons

#27780 [styled-engine] Drop withComponent support
  docs/src/modules/components/AppNavDrawerItem.js
  packages/material-ui-system/src/createStyled.d.ts
Labels: breaking change, package: styled-engine

#27682 [docs] Fix MobileTextStepper example to match description
  docs/src/pages/components/steppers/TextMobileStepper.js
  docs/src/pages/components/steppers/TextMobileStepper.tsx
Labels: bug 🐛, docs, component: Stepper

#27798 [examples] Add code sandbox config with node version
  examples/gatsby/sandbox.config.json
  examples/nextjs-with-styled-components-typescript/sandbox.config.json
  examples/nextjs-with-typescript/sandbox.config.json
  examples/nextjs/sandbox.config.json
  examples/ssr/sandbox.config.json
Labels: docs

#27706 [docs] Zero runtime themeAugmentation documentation
  docs/src/pages/components/about-the-lab/about-the-lab.md
  packages/material-ui-lab/src/themeAugmentation/index.js
Labels: docs, typescript, package: lab

#27738 [InputLabel] Apply `asterisk` class when `required`
  packages/material-ui/src/InputLabel/InputLabel.js
  packages/material-ui/src/InputLabel/InputLabel.test.js
Labels: bug 🐛, component: TextField, regression

#27785 [core] Fix typos in repository
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/DesignSystemComponents.tsx
  docs/src/modules/branding/BrandingDiscoverMore.tsx
  docs/src/pages/components/steppers/TextMobileStepper.js
  docs/src/pages/components/steppers/TextMobileStepper.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/TextField.js
  docs/src/pages/premium-themes/onepirate/modules/components/TextField.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Typography.js
  docs/src/pages/premium-themes/onepirate/modules/components/Typography.tsx
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
Labels: core

#27723 [docs] Use country image instead of emoji
  docs/pages/branding/about.tsx
  docs/src/pages/components/autocomplete/CountrySelect.js
  docs/src/pages/components/autocomplete/CountrySelect.tsx
Labels: docs, component: Autocomplete

#27691 [docs] Display TypeScript code of demo if requested
  docs/packages/markdown/loader.js
Labels: bug 🐛, docs

#27693 [docs] Run in StrictMode by default
  docs/next.config.js
Labels: docs

#27675 [docs] Improve accessible labels for Card demos
  docs/src/pages/components/cards/ActionAreaCard.js
  docs/src/pages/components/cards/ActionAreaCard.tsx
  docs/src/pages/components/cards/ImgMediaCard.js
  docs/src/pages/components/cards/ImgMediaCard.tsx
  docs/src/pages/components/cards/MediaCard.js
  docs/src/pages/components/cards/MediaCard.tsx
  docs/src/pages/components/cards/MediaControlCard.js
  docs/src/pages/components/cards/MediaControlCard.tsx
  docs/src/pages/components/cards/MultiActionAreaCard.js
  docs/src/pages/components/cards/MultiActionAreaCard.tsx
  docs/src/pages/components/cards/NotificationCard.js
  docs/src/pages/components/cards/NotificationCard.tsx
  docs/src/pages/components/cards/PlayerCard.js
  docs/src/pages/components/cards/PlayerCard.tsx
  docs/src/pages/components/cards/RecipeReviewCard.js
  docs/src/pages/components/cards/RecipeReviewCard.tsx
  docs/src/pages/components/cards/TaskCard.js
  docs/src/pages/components/cards/TaskCard.tsx
  docs/src/pages/components/skeleton/Facebook.js
  docs/src/pages/components/skeleton/Facebook.tsx
  docs/src/pages/getting-started/templates/album/Album.js
  docs/src/pages/getting-started/templates/album/Album.tsx
  docs/src/pages/getting-started/templates/blog/Blog.js
  docs/src/pages/getting-started/templates/blog/Blog.tsx
  docs/src/pages/getting-started/templates/blog/FeaturedPost.js
  docs/src/pages/getting-started/templates/blog/FeaturedPost.tsx
Labels: docs, accessibility, component: Card

#27741 [website] A few polish
  docs/pages/branding/about-old.tsx
  docs/pages/branding/about.tsx
  docs/pages/branding/pricing.tsx
  docs/src/components/pricing/FAQ.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/pricing/WhatToExpect.tsx
Labels: website

#27794 [Timeline] Fix color="inherit" on TimelineDot
  packages/material-ui-lab/src/TimelineDot/TimelineDot.js
  packages/material-ui-lab/src/TimelineDot/TimelineDot.test.js
Labels: bug 🐛, component: Timeline, regression

#27797 [Select] Fix NativeSelect propagating classes to the DOM element
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  packages/material-ui/src/NativeSelect/NativeSelectInput.js
Labels: bug 🐛, component: Select

#27779 [styled-engine] Remove unecessary aliases
  docs/next.config.js
  docs/src/modules/utils/helpers.ts
  packages/material-ui/scripts/rollup.config.js
Labels: package: styled-engine

#27777 [Stack] Match the customization standard
  packages/material-ui/src/Stack/Stack.js
Labels: enhancement, component: Stack

#27690 Revert "[BottomNavigation] onClick does not fire if tapped while scrolling (#22524)"
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.js
  packages/material-ui/src/BottomNavigationAction/BottomNavigationAction.test.js
Labels: bug 🐛, component: BottomNavigation

#27815 [test] Improve test for checking if classes is forwarded to any DOM element
  packages/material-ui-lab/src/DateRangePickerDay/DateRangePickerDay.test.tsx
  packages/material-ui/src/NativeSelect/NativeSelect.test.js
  test/utils/describeConformance.js
Labels: test

#27818 [core] Fix typo in code comment
  packages/material-ui/src/ButtonBase/TouchRipple.js
Labels: core

#27795 [system] Forward `classes` prop if no slot specified in the options
  packages/material-ui-system/src/createStyled.js
  packages/material-ui/src/styles/styled.test.js
Labels: bug 🐛, package: system, regression

#27814 [docs] Fix Autocomplete country layout shift
  docs/src/pages/components/autocomplete/CountrySelect.js
  docs/src/pages/components/autocomplete/CountrySelect.tsx
Labels: docs, component: Autocomplete

#27788 [core] Update `.browserslistrc` file
  .browserslistrc
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  test/karma.conf.js
  test/karma.conf.profile.js
  yarn.lock
Labels: breaking change, core

#27827 [docs] Fix typo on "Customized dialogs" section
  docs/src/pages/components/dialogs/dialogs.md
Labels: docs

#27787 [docs] Make API documentation tables horizontally scrollable
  docs/src/modules/components/MarkdownElement.js
Labels: docs

#27730 [docs] Improve grammar in 'Align list items' section
  docs/src/pages/components/lists/lists.md
Labels: docs

#27834 [ButtonGroup] Allow `size` customization via module augmentation
  packages/material-ui/src/ButtonGroup/ButtonGroup.d.ts
Labels: enhancement, typescript, component: ButtonGroup

#27281 [AppBar] Fix transparency issue on dark mode
  packages/material-ui/src/AppBar/AppBar.js
  test/regressions/fixtures/AppBar/AppBarColorTransparent.js
Labels: bug 🐛, component: AppBar

#27804 [Autocomplete] Rename Value type to AutocompleteValue
  packages/material-ui/src/useAutocomplete/useAutocomplete.d.ts
Labels: breaking change, component: Autocomplete

#27847 [theme] Fix pseudo class overridden in variants
  packages/material-ui-system/src/createStyled.js
  packages/material-ui-system/src/createStyled.test.js
Labels: bug 🐛, package: system

#27852 [docs] Improve README.md
  README.md
Labels: docs

#27874 [docs] A few examples is enough
  docs/src/pages/components/buttons/buttons.md
Labels: docs

#27826 [website] Honest a11y value proposition
  docs/src/components/home/ValueProposition.tsx
Labels: website

#27856 [docs] Fix circular integration demo
  docs/src/pages/components/progress/CircularIntegration.js
  docs/src/pages/components/progress/CircularIntegration.tsx
Labels: docs, component: CircularProgress

#27850 [docs] Add missing import
  docs/src/pages/guides/server-rendering/server-rendering.md
Labels: docs

#27868 [Tooltip] Fix broken arrow position in rtl
  packages/material-ui/src/Tooltip/Tooltip.js
  test/regressions/fixtures/Tooltip/PositionedTooltipsRtl.js
Labels: bug 🐛, component: Tooltip

#27842 [docs] Fix false-positive useToolbar warning when using the demo toolbar menu
  docs/src/modules/components/DemoToolbar.js
Labels: docs

#24877 [DatePicker] Fix click-away logic requiring second click in some cases
  packages/material-ui-lab/src/internal/pickers/PickersPopper.tsx
Labels: bug 🐛, component: DatePicker

#27843 [docs] Don't log if a request was aborted in ServerRequestDatePicker demo
  docs/src/pages/components/date-picker/ServerRequestDatePicker.js
  docs/src/pages/components/date-picker/ServerRequestDatePicker.tsx
Labels: docs

#27841 [docs] Fix Tooltip flicker when hovering between code icon and demo
  docs/src/modules/components/DemoToolbar.js
Labels: docs

#27805 [docs] Correct the useAutocomplete import path
  docs/src/pages/components/autocomplete/CustomizedHook.js
  docs/src/pages/components/autocomplete/CustomizedHook.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: docs, component: Autocomplete

#27828 [docs] Move from Redux to React Context
  benchmark/package.json
  docs/package.json
  docs/pages/_app.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/Notifications.js
  docs/src/modules/constants.js
  docs/src/modules/redux/initRedux.js
  docs/src/modules/redux/notificationsReducer.js
  docs/src/modules/redux/optionsReducer.js
  docs/src/modules/utils/codeVariant.js
  docs/src/modules/utils/i18n.js
  yarn.lock
Labels: docs, performance

#27838 [website] Improve rebranding homepage performance
  docs/package.json
  docs/pages/_app.js
  docs/pages/_document.js
  docs/pages/branding/home.tsx
  docs/public/static/fonts/PlusJakartaSans-Bold.ttf
  docs/public/static/fonts/PlusJakartaSans-Bold.woff
  docs/public/static/fonts/PlusJakartaSans-Bold.woff2
  docs/public/static/fonts/PlusJakartaSans-ExtraBold-subset.woff2
  docs/public/static/fonts/PlusJakartaSans-ExtraBold.ttf
  docs/public/static/fonts/PlusJakartaSans-ExtraBold.woff
  docs/public/static/fonts/PlusJakartaSans-ExtraBold.woff2
  docs/public/static/fonts/PlusJakartaSans-Medium.ttf
  docs/public/static/fonts/PlusJakartaSans-Medium.woff
  docs/public/static/fonts/PlusJakartaSans-Medium.woff2
  docs/public/static/fonts/PlusJakartaSans-Regular.ttf
  docs/public/static/fonts/PlusJakartaSans-Regular.woff
  docs/public/static/fonts/PlusJakartaSans-Regular.woff2
  docs/public/static/fonts/Plusjakartasans.css
  docs/public/static/images/avatar/1-sm.jpeg
  docs/public/static/images/avatar/3-sm.jpeg
  docs/public/static/images/cards/basement-beside-myself.jpeg
  docs/public/static/images/cards/basement-beside-myself.jpg
  docs/src/components/home/DesignSystemComponents.tsx
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
  docs/src/components/home/Hero.tsx
  docs/src/components/home/HeroEnd.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/components/home/ReferencesCore.tsx
  docs/src/components/home/SponsorCard.tsx
  docs/src/components/home/Sponsors.tsx
  docs/src/components/home/StartToday.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/home/UserFeedbacks.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/TaskCard.tsx
  docs/src/components/showcase/ThemeButton.tsx
  docs/src/modules/brandingTheme.ts
  yarn.lock
Labels: website

#27916 [Switch] Add optional `track` slot to SwitchUnstyled
  docs/pages/api-docs/switch-unstyled.json
  docs/src/pages/components/switches/UnstyledSwitches.js
  docs/src/pages/components/switches/UnstyledSwitches.tsx
  docs/src/pages/components/switches/UnstyledSwitchesMaterial.js
  packages/material-ui-unstyled/src/SwitchUnstyled/SwitchUnstyled.test.tsx
  packages/material-ui-unstyled/src/SwitchUnstyled/SwitchUnstyled.tsx
  packages/material-ui-unstyled/src/SwitchUnstyled/switchUnstyledClasses.ts
  test/utils/describeConformanceUnstyled.tsx
Labels: component: Switch, package: unstyled

#27915 [I10n] Add Khmer (kh-KH) locale support
  docs/src/pages/guides/localization/localization.md
  packages/material-ui/src/locale/index.ts
Labels: enhancement, package: core

#27683 [InputBase] Preserve host state when changing `rows` from undefined to defined
  packages/material-ui/src/InputBase/InputBase.js
  packages/material-ui/src/InputBase/InputBase.test.js
Labels: bug 🐛, component: TextField

#27923 [SvgIcon] Apply custom color if defined in the theme
  packages/material-ui/src/SvgIcon/SvgIcon.js
  test/regressions/fixtures/SvgIcon/CustomColorSvgIcon.js
Labels: bug 🐛, component: SvgIcon

#27924 [docs] Pass window of iframe to framed demos
  docs/src/modules/components/DemoSandboxed.js
Labels: bug 🐛, docs

#27936 [docs] Fix missing `href` for AppDrawerNavItems
  docs/src/components/productDesignKit/DesignKitDemo.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/productDesignKit/DesignKitHero.tsx
  docs/src/components/productTemplate/TemplateHero.tsx
  docs/src/modules/components/Link.tsx
Labels: bug 🐛, docs

#27930 [website] Polish homepage
  docs/src/components/home/HeroEnd.tsx
  docs/src/layouts/AppFooter.tsx
Labels: website

#27935 [docs] Migration, emphasize theme structure change
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#27376 [test] Current behavior when disabling components variants
  packages/material-ui/test/typescript/moduleAugmentation/buttonCustomProps.spec.tsx
Labels: test

#27942 [docs] Split changelog into current and old
  CHANGELOG.md
  CHANGELOG.old.md
  docs/src/pages/discover-more/changelog/changelog.md
Labels: docs

#27943 [Badge] Add missing classes to exported class object
  packages/material-ui/src/Badge/Badge.js
Labels: bug 🐛, component: Badge

#27414 [docs] Add GridExportCSVOptions page to documentation pages
  docs/src/pages.js
Labels: docs, component: DataGrid

#27944 [ButtonGroup] Update PropTypes to match augmentable interface
  docs/pages/api-docs/button-group.json
  packages/material-ui/src/ButtonGroup/ButtonGroup.js
Labels: component: ButtonGroup

#27951 [docs] Add GridExportCSVOptions page to documentation pages
  docs/src/pages.ts
Labels: docs

#27997 [docs] Fix typo '.MuiOutinedInput' -> '.MuiOutlinedInput'
  docs/src/pages/customization/how-to-customize/how-to-customize.md
Labels: docs

#27986 [docs] Don't use nested ternary
  docs/src/pages/components/breadcrumbs/RouterBreadcrumbs.js
  docs/src/pages/components/breadcrumbs/RouterBreadcrumbs.tsx
Labels: docs

#27999 [docs] Improve the support expectations for developers
  docs/src/components/pricing/FAQ.tsx
  docs/src/pages/getting-started/support/support.md
Labels: docs

#28028 [docs] Change sign-up template autocomplete to use "new-password"
  docs/src/pages/getting-started/templates/sign-up/SignUp.js
  docs/src/pages/getting-started/templates/sign-up/SignUp.tsx
  docs/src/pages/premium-themes/onepirate/SignUp.js
  docs/src/pages/premium-themes/onepirate/SignUp.tsx
Labels: docs

#27881 [docs] Add notistack example compatible with v5.x.x
  docs/package.json
  docs/src/pages/components/snackbars/IntegrationNotistack.js
  docs/src/pages/components/snackbars/IntegrationNotistack.tsx
  docs/src/pages/components/snackbars/snackbars.md
  yarn.lock
Labels: docs, component: Snackbar

#27985 [core] Use lintable pattern for debounced callbacks
  docs/src/components/home/ElementPointer.tsx
Labels: core

#28041 [test] Disable browserstack for PRs
  .circleci/config.yml
  test/README.md
  test/karma.conf.js
Labels: test

#28033 [docs] Fix Fab demo overflow on mobile
  docs/src/pages/components/floating-action-button/FloatingActionButtonExtendedSize.js
  docs/src/pages/components/floating-action-button/FloatingActionButtonExtendedSize.tsx
  docs/src/pages/components/floating-action-button/FloatingActionButtonSize.js
  docs/src/pages/components/floating-action-button/FloatingActionButtonSize.tsx
  docs/src/pages/components/floating-action-button/FloatingActionButtons.js
  docs/src/pages/components/floating-action-button/FloatingActionButtons.tsx
  docs/src/pages/components/text-fields/InputWithIcon.js
  docs/src/pages/components/text-fields/InputWithIcon.tsx
Labels: docs, component: Fab

#27600 [Button] Create ButtonUnstyled and useButton
  docs/pages/api-docs/button-unstyled.js
  docs/pages/api-docs/button-unstyled.json
  docs/src/pages/components/buttons/UnstyledButtonCustom.js
  docs/src/pages/components/buttons/UnstyledButtonCustom.tsx
  docs/src/pages/components/buttons/UnstyledButtonsSimple.js
  docs/src/pages/components/buttons/UnstyledButtonsSimple.tsx
  docs/src/pages/components/buttons/UnstyledButtonsSpan.js
  docs/src/pages/components/buttons/UnstyledButtonsSpan.tsx
  docs/src/pages/components/buttons/UseButton.js
  docs/src/pages/components/buttons/UseButton.tsx
  docs/src/pages/components/buttons/buttons.md
  docs/src/pagesApi.js
  docs/translations/api-docs/button-unstyled/button-unstyled-de.json
  docs/translations/api-docs/button-unstyled/button-unstyled-es.json
  docs/translations/api-docs/button-unstyled/button-unstyled-fr.json
  docs/translations/api-docs/button-unstyled/button-unstyled-ja.json
  docs/translations/api-docs/button-unstyled/button-unstyled-pt.json
  docs/translations/api-docs/button-unstyled/button-unstyled-ru.json
  docs/translations/api-docs/button-unstyled/button-unstyled-zh.json
  docs/translations/api-docs/button-unstyled/button-unstyled.json
  packages/material-ui-unstyled/src/ButtonUnstyled/ButtonUnstyled.test.tsx
  packages/material-ui-unstyled/src/ButtonUnstyled/ButtonUnstyled.tsx
  packages/material-ui-unstyled/src/ButtonUnstyled/ButtonUnstyledProps.ts
  packages/material-ui-unstyled/src/ButtonUnstyled/UseButtonProps.ts
  packages/material-ui-unstyled/src/ButtonUnstyled/buttonUnstyledClasses.ts
  packages/material-ui-unstyled/src/ButtonUnstyled/index.ts
  packages/material-ui-unstyled/src/ButtonUnstyled/useButton.test.tsx
  packages/material-ui-unstyled/src/ButtonUnstyled/useButton.ts
  packages/material-ui-unstyled/src/index.d.ts
  packages/material-ui-unstyled/src/index.js
  packages/material-ui-unstyled/src/utils/extractEventHandlers.test.ts
  packages/material-ui-unstyled/src/utils/extractEventHandlers.ts
  packages/material-ui-unstyled/src/utils/index.ts
  packages/material-ui/src/ButtonBase/ButtonBase.js
  packages/material-ui/src/ButtonBase/ButtonBase.test.js
  test/utils/describeConformanceUnstyled.tsx
Labels: component: Button, package: unstyled

#28043 [eslint-plugin-material-ui] Only require translation of word characters and not API
  packages/eslint-plugin-material-ui/src/rules/no-hardcoded-labels.js
  packages/eslint-plugin-material-ui/src/rules/no-hardcoded-labels.test.js
Labels: core

#28063 [docs] Fix matchSorter import path in Autocomplete
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: docs, component: Autocomplete

#28060 [codemod] Add `mui-replace` transform
  packages/material-ui-codemod/README.md
  packages/material-ui-codemod/src/v5.0.0/adapter-v4.js
  packages/material-ui-codemod/src/v5.0.0/mui-replace.js
  packages/material-ui-codemod/src/v5.0.0/mui-replace.test.js
  packages/material-ui-codemod/src/v5.0.0/mui-replace.test/actual.js
  packages/material-ui-codemod/src/v5.0.0/mui-replace.test/expected.js
  packages/material-ui-codemod/src/v5.0.0/preset-safe.js
  packages/material-ui-codemod/src/v5.0.0/preset-safe.test/expected.js
Labels: package: codemod

#28069 [website] Fix typos in the rebranding
  docs/pages/branding/about.tsx
  docs/pages/branding/home.tsx
  docs/public/static/branding/pricing/volume-discount.svg
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/Hero.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/pricing/WhatToExpect.tsx
  docs/src/pages/components/material-icons/synonyms.js
  docs/src/pages/discover-more/team/Team.js
Labels: website

#28044 [docs] Fully translated /api/* pages
  docs/src/modules/components/ApiPage.js
  docs/translations/translations.json
Labels: docs
