Repository mui/material-ui, pull requests merged in 2022-12, with the labels that each got.

#35222 [docs] Add Material You Button playground
  docs/data/material/components/buttons/ButtonMaterialYouPlayground.js
  docs/data/material/components/buttons/buttons.md
  docs/src/modules/components/MaterialYouUsageDemo.tsx
  test/regressions/index.js
Labels: docs, design: material

#34820 [docs] Disable translations
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/package.json
  docs/pages/_app.js
  docs/public/_redirects
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/constants.js
  yarn.lock
Labels: docs, on hold, i18n

#35310 Update tabs.md
  docs/data/base/components/tabs/tabs.md
Labels: component: tabs

#35304 [Fab] Increase disabled styles precedence
  packages/mui-material/src/Fab/Fab.js
Labels: component: Fab, package: material

#35247 [Joy][Textarea] Expose decorator classes
  packages/mui-joy/src/Textarea/textareaClasses.ts
Labels: package: joy

#35292 [docs] Revise and expand Joy UI "Breadcrumbs" page
  docs/data/joy/components/breadcrumbs/BasicBreadcrumbs.js
  docs/data/joy/components/breadcrumbs/BasicBreadcrumbs.tsx
  docs/data/joy/components/breadcrumbs/BasicBreadcrumbs.tsx.preview
  docs/data/joy/components/breadcrumbs/BreadcrumbsSizes.js
  docs/data/joy/components/breadcrumbs/BreadcrumbsSizes.tsx
  docs/data/joy/components/breadcrumbs/BreadcrumbsVariables.js
  docs/data/joy/components/breadcrumbs/BreadcrumbsVariables.tsx
  docs/data/joy/components/breadcrumbs/BreadcrumbsWithIcon.js
  docs/data/joy/components/breadcrumbs/BreadcrumbsWithIcon.tsx
  docs/data/joy/components/breadcrumbs/BreadcrumbsWithMenu.js
  docs/data/joy/components/breadcrumbs/BreadcrumbsWithMenu.tsx
  docs/data/joy/components/breadcrumbs/CondensedBreadcrumbs.js
  docs/data/joy/components/breadcrumbs/CondensedBreadcrumbs.tsx
  docs/data/joy/components/breadcrumbs/SeparatorBreadcrumbs.js
  docs/data/joy/components/breadcrumbs/SeparatorBreadcrumbs.tsx
  docs/data/joy/components/breadcrumbs/SeparatorBreadcrumbs.tsx.preview
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
Labels: component: breadcrumbs, package: joy

#35244 [core] Clean up the API docs generation scripts
  docs/config.d.ts
  docs/config.js
  docs/package.json
  docs/packages/markdown/index.d.ts
  docs/packages/markdown/package.json
  docs/packages/markdown/parseMarkdown.js
  docs/packages/markdown/prism.d.ts
  docs/scripts/formattedTSDemos.js
  docs/scripts/tsconfig.json
  docs/src/modules/constants.js
  docs/src/modules/utils/find.js
  docs/src/modules/utils/helpers.ts
  package.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/buildApiUtils.test.ts
  packages/api-docs-builder/buildApiUtils.ts
  packages/api-docs-builder/package.json
  packages/api-docs-builder/react-docgen.d.ts
  packages/api-docs-builder/tsconfig.json
  packages/api-docs-builder/utils/createDescribeableProp.ts
  packages/api-docs-builder/utils/defaultPropsHandler.ts
  packages/api-docs-builder/utils/escapeCell.ts
  packages/api-docs-builder/utils/findComponents.ts
  packages/api-docs-builder/utils/findPagesMarkdown.ts
  packages/api-docs-builder/utils/generatePropDescription.ts
  packages/api-docs-builder/utils/generatePropTypeDescription.ts
  packages/api-docs-builder/utils/parseStyles.ts
  packages/api-docs-builder/utils/parseTest.ts
  packages/api-docs-builder/utils/replaceUrl.test.js
  packages/api-docs-builder/utils/replaceUrl.ts
  packages/docs-utilities/README.md
  packages/docs-utilities/index.d.ts
  packages/docs-utilities/index.js
  packages/docs-utilities/package.json
  packages/mui-system/src/ThemeProvider/ThemeProvider.test.js
  packages/typescript-to-proptypes/package.json
  scripts/generateProptypes.ts
  yarn.lock
Labels: core

#35305 [core] Move the internal packages from docs/packages
  docs/config.d.ts
  docs/config.js
  docs/next.config.js
  docs/package.json
  docs/scripts/reportBrokenLinks.js
  docs/src/featureToggle.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/Head.tsx
  docs/src/modules/components/Link.tsx
  docs/src/modules/constants.js
  docs/src/modules/utils/helpers.ts
  docs/src/modules/utils/mapApiPageTranslations.js
  package.json
  packages/feedback/README.md
  packages/feedback/claudia.json
  packages/feedback/example.json
  packages/feedback/index.js
  packages/feedback/package.json
  packages/feedback/policies/access-dynamodb.json
  packages/markdown/extractImports.js
  packages/markdown/extractImports.test.js
  packages/markdown/index.d.ts
  packages/markdown/index.js
  packages/markdown/loader.js
  packages/markdown/package.json
  packages/markdown/parseMarkdown.js
  packages/markdown/parseMarkdown.test.js
  packages/markdown/prism.d.ts
  packages/markdown/prism.js
  packages/markdown/textToHash.js
  packages/markdown/textToHash.test.js
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/large-actual.js
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/large-expected.js
  tsconfig.json
Labels: core

#35297 [docs] Fix incorrect link in minimizing-bundle-size
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs

#35318 [website] Update MUI stats: GitHub stars, Twitter followers, etc.
  docs/src/components/home/MuiStatistics.tsx
Labels: website

#35313 [core] Fix warning leak in production
  packages/mui-material/src/utils/index.js
Labels: performance, core

#35328 [l10n] Improve Chinese (Taiwan) zh-TW locale
  packages/mui-material/src/locale/index.ts
Labels: l10n

#35303 [core] Use componentStyles.name over componentName
  docs/src/modules/components/ApiPage.js
Labels: core, docs-infra

#35202 [docs] Move the demo higher in the API TOC
  docs/src/modules/components/ApiPage.js
  docs/translations/translations.json
Labels: docs, dx, docs-infra

#35178 [Material UI] Add channel colors if possible
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-system/src/colorManipulator.d.ts
  packages/mui-system/src/colorManipulator.js
Labels: package: material, customization: theme

#35345 [Joy] Miscellaneous fixes
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/Input/Input.test.js
  packages/mui-joy/src/Input/useForwardedInput.ts
  packages/mui-joy/src/Link/Link.test.js
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Slider/sliderClasses.ts
Labels: package: joy

#35277 [system] Add flags for nested CssVarsProvider
  docs/data/joy/customization/approaches/ButtonThemes.js
  docs/data/joy/customization/dark-mode/DarkModeByDefault.js
  docs/data/joy/customization/dark-mode/DarkModeByDefault.tsx
  docs/data/joy/customization/dark-mode/IdentifySystemMode.js
  docs/data/joy/customization/dark-mode/IdentifySystemMode.tsx
  docs/data/joy/customization/dark-mode/IdentifySystemMode.tsx.preview
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  test/regressions/fixtures/CssVarsProvider/IndependentCssVarsProviders.js
  test/regressions/fixtures/CssVarsProvider/NestedCssVarsProviders.js
Labels: new feature, package: system, package: material, package: joy

#35315 [Rating] Apply `labelEmptyValueActive` style overrides from theme
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Rating/Rating.test.js
Labels: bug 🐛, component: rating

#34949 [docs] Correct grammatically incorrect sentences in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#35302 [docs] Improve spacing with ul
  docs/src/modules/components/MarkdownElement.js
Labels: docs, design, docs-infra

#35010 [Modal] Make the initial "exited" state to dependent on "open"
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.js
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.test.js
Labels: bug 🐛, component: SwipeableDrawer

#35067 [Slider] Fix `markActive` theme class not getting applied
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/Slider/Slider.test.js
Labels: bug 🐛, component: slider

#35293 [docs] Direct users from Material UI to MUI Base for duplicated components
  docs/data/base/components/portal/portal.md
  docs/data/material/components/click-away-listener/click-away-listener-pt.md
  docs/data/material/components/click-away-listener/click-away-listener-zh.md
  docs/data/material/components/click-away-listener/click-away-listener.md
  docs/data/material/components/no-ssr/no-ssr-pt.md
  docs/data/material/components/no-ssr/no-ssr-zh.md
  docs/data/material/components/no-ssr/no-ssr.md
  docs/data/material/components/portal/portal-pt.md
  docs/data/material/components/portal/portal-zh.md
  docs/data/material/components/portal/portal.md
  docs/data/material/components/textarea-autosize/textarea-autosize-pt.md
  docs/data/material/components/textarea-autosize/textarea-autosize-zh.md
  docs/data/material/components/textarea-autosize/textarea-autosize.md
Labels: docs, package: material

#35300 [core] Support `only` and `skip` on `describeConformance` (and other MUI describes)
  test/utils/createDescribe.ts
  test/utils/describeConformance.tsx
  test/utils/describeConformanceUnstyled.tsx
  test/utils/index.js
Labels: test, core

#35381 [docs] Format feedback to add a link to the commented section
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: docs

#35375 [docs] Refactor `ToggleButtonSizes` demo
  docs/data/material/components/toggle-button/ToggleButtonSizes.js
  docs/data/material/components/toggle-button/ToggleButtonSizes.tsx
Labels: docs, component: toggle button

#35299 [Material You] Add ripple on the button
  docs/pages/experiments/md3/index.tsx
  packages/mui-material-next/src/Button/Button.tsx
  packages/mui-material-next/src/Button/Button.types.ts
  packages/mui-material-next/src/Button/Ripple.test.js
  packages/mui-material-next/src/Button/Ripple.tsx
  packages/mui-material-next/src/Button/TouchRipple.test.js
  packages/mui-material-next/src/Button/TouchRipple.tsx
  packages/mui-material-next/src/Button/TouchRipple.types.ts
  packages/mui-material-next/src/Button/touchRippleClasses.ts
  packages/mui-material-next/src/Button/useTouchRipple.ts
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/elevation.ts
  packages/mui-material-next/src/styles/extendTheme.ts
Labels: component: button, design: material you

#35366 [website] Migrate `/core` page to use CSS variables
  docs/pages/core.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/animation/FlashCode.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/markdown/MarkdownElement.tsx
  docs/src/components/productCore/CoreComponents.tsx
  docs/src/components/productCore/CoreHero.tsx
  docs/src/components/productCore/CoreHeroEnd.tsx
  docs/src/components/productCore/CoreStyling.tsx
  docs/src/components/productCore/CoreTheming.tsx
  docs/src/components/showcase/FolderTreeView.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/RealEstateCard.tsx
  docs/src/modules/components/AppSearch.js
Labels: website

#35394 [Select] Fix `MenuProps.PopoverClasses` being overriden
  packages/mui-material/src/Menu/Menu.js
  packages/mui-material/src/Menu/Menu.test.js
Labels: bug 🐛, component: menu, component: select

#35405 [dependencies] Bump next to 13.0.6
  docs/package.json
  yarn.lock
Labels: dependencies

#35329 [docs] Improve a bit the Composition docs
  docs/data/material/guides/composition/composition.md
Labels: docs, typescript

#35387 [docs] Improve line-height readability
  docs/public/static/styles/prism-okaidia.css
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/TopLayoutBlog.js
Labels: docs, design

#35447 [Joy] Miscellaneous fixes
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-joy/src/Autocomplete/AutocompleteProps.ts
  packages/mui-joy/src/AutocompleteListbox/AutocompleteListbox.tsx
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/FormLabel/FormLabelProps.ts
  packages/mui-joy/src/LinearProgress/LinearProgress.test.tsx
  packages/mui-joy/src/LinearProgress/LinearProgress.tsx
  packages/mui-joy/src/LinearProgress/LinearProgressProps.ts
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/Menu/Menu.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
  packages/mui-joy/src/Slider/Slider.spec.tsx
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-joy/src/Slider/SliderProps.ts
  packages/mui-joy/src/SvgIcon/SvgIcon.tsx
  packages/mui-joy/src/Switch/SwitchProps.ts
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/Textarea/TextareaProps.ts
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-joy/src/Tooltip/TooltipProps.ts
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/colorSystem.ts
  packages/mui-joy/src/utils/types.ts
  packages/mui-joy/src/utils/useSlot.test.tsx
  packages/mui-joy/src/utils/useSlot.ts
Labels: package: joy

#35418 [docs] Improve `Responsive App bar with Drawer` demo
  docs/data/material/components/app-bar/DrawerAppBar.js
  docs/data/material/components/app-bar/DrawerAppBar.tsx
Labels: docs, component: app bar

#35414 [Alert] Update icon color in all variants
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/styles/experimental_extendTheme.js
Labels: design: material, component: alert

#35324 [core] Fix @mui/material package building
  packages/mui-material/src/types/OverridableComponentAugmentation.ts
  packages/mui-material/tsconfig.json
Labels: package: material, core

#35051 [docs] Simplify state management in Text Field demo page
  docs/data/material/components/text-fields/ComposedTextField.js
  docs/data/material/components/text-fields/ComposedTextField.tsx
  docs/data/material/components/text-fields/InputAdornments.js
  docs/data/material/components/text-fields/InputAdornments.tsx
  docs/data/material/components/text-fields/MultilineTextFields.js
  docs/data/material/components/text-fields/MultilineTextFields.tsx
  docs/data/material/components/text-fields/SelectTextFields.js
  docs/data/material/components/text-fields/SelectTextFields.tsx
Labels: docs, component: text field

#34922 [website] Migrate X page to use CSS theme variables
  docs/package.json
  docs/pages/x.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/XGridGlobalStyles.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XPlans.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/components/productX/XTheming.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/showcase/ThemeDatePicker.tsx
  yarn.lock
Labels: website

#34714 [PopperUnstyled] Update PopperTooltip to have correct width when closing with transition
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.js
Labels: component: Popper, package: base

#34710 [SwipeableDrawer] fixed typescript warning "prop open undefined"
  docs/pages/material-ui/api/swipeable-drawer.json
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
Labels: package: material, component: SwipeableDrawer

#35311 [typescript] Add null to return type of OverridableComponent
  packages/mui-material/src/OverridableComponent.d.ts
  packages/mui-types/index.d.ts
Labels: typescript

#35409 [icons] Restore the PhoneInTalk icons
  packages/mui-icons-material/legacy/PhoneInTalk.js
  packages/mui-icons-material/legacy/PhoneInTalkOutlined.js
  packages/mui-icons-material/legacy/PhoneInTalkRounded.js
  packages/mui-icons-material/legacy/PhoneInTalkSharp.js
  packages/mui-icons-material/legacy/PhoneInTalkTwoTone.js
  packages/mui-icons-material/lib/PhoneInTalk.js
  packages/mui-icons-material/lib/PhoneInTalkOutlined.js
  packages/mui-icons-material/lib/PhoneInTalkRounded.js
  packages/mui-icons-material/lib/PhoneInTalkSharp.js
  packages/mui-icons-material/lib/PhoneInTalkTwoTone.js
  packages/mui-icons-material/lib/esm/PhoneInTalk.js
  packages/mui-icons-material/lib/esm/PhoneInTalkOutlined.js
  packages/mui-icons-material/lib/esm/PhoneInTalkRounded.js
  packages/mui-icons-material/lib/esm/PhoneInTalkSharp.js
  packages/mui-icons-material/lib/esm/PhoneInTalkTwoTone.js
  packages/mui-icons-material/lib/esm/index.js
  packages/mui-icons-material/lib/index.js
Labels: package: icons

#35449 [docs] Fix typo in `FormControl` API docs
  docs/translations/api-docs/form-control/form-control.json
  packages/mui-material/src/FormControl/FormControl.d.ts
  packages/mui-material/src/FormControl/FormControl.js
Labels: docs

#35407 [website] Developer survey 2022
  docs/notifications.json
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/featureToggle.js
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppTableOfContents.js
Labels: docs, website

#35390 [docs] Update callouts design
  docs/src/modules/components/MarkdownElement.js
Labels: docs, design

#35453 5.11.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#35410 [Button][base] Set active class when a subcomponent is clicked
  packages/mui-base/src/ButtonUnstyled/useButton.test.tsx
  packages/mui-base/src/ButtonUnstyled/useButton.ts
  packages/mui-base/src/ButtonUnstyled/useButton.types.ts
Labels: component: button, package: base

#35384 [Material You] Add motion design tokens
  packages/mui-material-next/src/Button/Button.tsx
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/extendTheme.ts
  packages/mui-material-next/src/styles/motion.test.js
  packages/mui-material-next/src/styles/motion.ts
Labels: customization: theme, design: material you

#35413 [website] Update product icons
  docs/public/static/branding/product-advanced-dark.svg
  docs/public/static/branding/product-advanced-light.svg
  docs/public/static/branding/product-core-dark.svg
  docs/public/static/branding/product-core-light.svg
  docs/public/static/branding/product-designkits-dark.svg
  docs/public/static/branding/product-designkits-light.svg
  docs/public/static/branding/product-templates-dark.svg
  docs/public/static/branding/product-templates-light.svg
  docs/public/static/branding/product-toolpad-dark.svg
  docs/public/static/branding/product-toolpad-light.svg
Labels: design, website

#35446 [test] Fix broken master branch
  packages/mui-joy/src/Box/Box.test.js
  packages/mui-joy/src/styles/extendTheme.test.js
Labels: test, regression

#35492 [Joy][docs] List component introduction example default code is missing ListItemContent component
  docs/data/joy/components/list/ListUsage.js
Labels: docs

#35478 [docs] Fix `unstable_sxConfig` typo
  docs/data/system/experimental-api/configure-the-sx-prop/configure-the-sx-prop.md
Labels: docs

#35470 [docs] Add `CardMedia` example without `component="img"` prop
  docs/data/material/components/cards/MediaCard.js
  docs/data/material/components/cards/MediaCard.tsx
Labels: docs, component: card

#35460 [InputLabel] Enable `size` prop overrides via TypeScript module augmentation
  docs/pages/material-ui/api/input-label.json
  packages/mui-material/src/InputLabel/InputLabel.d.ts
  packages/mui-material/src/InputLabel/InputLabel.js
  packages/mui-material/test/typescript/moduleAugmentation/InputLabelCustomProps.spec.tsx
  packages/mui-material/test/typescript/moduleAugmentation/InputLabelCustomProps.tsconfig.json
Labels: component: text field, typescript

#35502 [Chip] Fix hover and focus style with CSS Variables
  packages/mui-material/src/Chip/Chip.js
Labels: bug 🐛, component: chip, package: material

#35507 [docs] Add missing comma to `Providing the colors directly` section
  docs/data/material/customization/palette/palette.md
Labels: bug 🐛, docs, customization: theme

#35412 [ChipDelete][joy] Add onDelete prop to ChipDelete
  docs/data/joy/components/chip/DeleteButtonChip.js
  docs/data/joy/components/chip/DeleteButtonChip.tsx
  docs/data/joy/components/chip/DeleteButtonChip.tsx.preview
  docs/data/joy/components/chip/chip.md
  packages/mui-joy/src/ChipDelete/ChipDelete.test.js
  packages/mui-joy/src/ChipDelete/ChipDelete.tsx
  packages/mui-joy/src/ChipDelete/ChipDeleteProps.ts
Labels: new feature, accessibility, component: chip, package: joy

#35056 [Input][Joy] Fix autofill styles
  packages/mui-joy/src/Input/Input.tsx
Labels: bug 🐛, component: text field, package: joy

#35454 [test] Terminate BrowserStack after 5 minutes
  test/karma.conf.js
Labels: test

#35509 [docs] migration-v4 `Select` component `onChange` event type
  docs/data/material/migration/migration-v4/v5-component-changes.md
Labels: docs

#35477 [Theme] Merge components and slots props
  packages/mui-utils/src/resolveProps.test.ts
  packages/mui-utils/src/resolveProps.ts
Labels: package: material, package: joy, customization: theme

#35528 [Fix] Bring `experimental_sx` back with error code
  docs/public/static/error-codes.json
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
Labels: package: system, package: material

#35167 [TextField] Fix error focus style
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/Input/Input.js
Labels: component: text field

#35469 [Popper][Base] Fix Tooltip Anchor Element Setter
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.js
Labels: bug 🐛, component: Popper, package: base

#35539 5.11.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#34793 [Modal] Convert code to typescript
  docs/data/base/components/modal/ServerModal.js
  docs/data/base/components/modal/ServerModal.tsx
  docs/pages/base/api/modal-unstyled.json
  docs/translations/api-docs/modal-unstyled/modal-unstyled.json
  packages/mui-base/src/ModalUnstyled/ModalManager.test.ts
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.d.ts
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.spec.tsx
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.test.tsx
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.tsx
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.types.ts
  packages/mui-base/src/ModalUnstyled/index.d.ts
  packages/mui-base/src/ModalUnstyled/index.ts
Labels: typescript, component: modal, package: base, enhancement

#35005 [FocusTrap] Convert focus trap to typescript
  docs/pages/base/api/focus-trap.json
  packages/mui-base/src/FocusTrap/FocusTrap.test.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.types.ts
  packages/mui-base/src/FocusTrap/index.d.ts
  packages/mui-base/src/FocusTrap/index.ts
Labels: component: FocusTrap

#35364 [Utils] mergedeep deeply clones source key if it's an object
  packages/mui-utils/src/deepmerge.test.ts
  packages/mui-utils/src/deepmerge.ts
Labels: package: system

#34771 [Popper] Convert code to typescript
  docs/pages/base/api/popper-unstyled.json
  docs/pages/material-ui/api/popper.json
  docs/translations/api-docs/popper/popper.json
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.test.tsx
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.tsx
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.types.ts
  packages/mui-base/src/PopperUnstyled/index.d.ts
  packages/mui-base/src/PopperUnstyled/index.js
  packages/mui-base/src/PopperUnstyled/index.ts
  packages/mui-material/src/Popper/Popper.tsx
Labels: typescript, component: Popper

#33127 [docs] Remove empty tags on the TransferList demos
  docs/data/material/components/transfer-list/SelectAllTransferList.js
  docs/data/material/components/transfer-list/SelectAllTransferList.tsx
  docs/data/material/components/transfer-list/TransferList.js
  docs/data/material/components/transfer-list/TransferList.tsx
Labels: bug 🐛, docs, component: transfer list

#35553 [docs] Fix typo in `Progress` docs
  docs/data/material/components/progress/progress.md
Labels: docs, component: progress

#35562 [core] Exclude documentation of Base props not used in styled libraries
  docs/pages/material-ui/api/popper.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/mui-material/src/Popper/Popper.tsx
Labels: docs-infra

#33970 [docs] Fix ListItem button deprecated use
  docs/data/material/components/dialogs/SimpleDialog.js
  docs/data/material/components/dialogs/SimpleDialog.tsx
Labels: docs, component: dialog, component: list

#35552 [Joy] Miscellaneous fixes
  docs/data/joy/components/aspect-ratio/CarouselRatio.js
  docs/data/joy/components/aspect-ratio/CarouselRatio.tsx
  docs/data/joy/components/css-baseline/css-baseline.md
  packages/mui-joy/src/AspectRatio/AspectRatio.tsx
  packages/mui-joy/src/styles/extendTheme.ts
  test/regressions/fixtures/AspectRatioJoy/AspectRatioRadius.js
Labels: package: joy

#34229 [SelectInput] Update menu to use select wrapper as anchor
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: select

#35573 [Joy] Improve cursor pointer and add fallback for outlined variant
  packages/mui-joy/src/Alert/Alert.tsx
  packages/mui-joy/src/Badge/Badge.tsx
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/CardOverflow/CardOverflow.tsx
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/ChipDelete/ChipDelete.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/LinearProgress/LinearProgress.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/variantUtils.test.js
  packages/mui-joy/src/styles/variantUtils.ts
Labels: package: joy

#35571 [core] Remove oudated pickers prop-type logic
  scripts/generateProptypes.ts
Labels: core, component: pickers

#35577 [core] Cleanup mention of test-utils
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size-pt.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size-zh.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  packages/eslint-plugin-material-ui/README.md
  packages/mui-lab/tsconfig.build.json
Labels: core

#35547 [core] Fix a few title case
  docs/data/base/pages.ts
  docs/data/joy/main-features/dark-mode-optimization/dark-mode-optimization.md
  docs/data/joy/main-features/dark-mode-optimization/perfect-dark-mode-pt.md
  docs/data/joy/main-features/dark-mode-optimization/perfect-dark-mode-zh.md
  docs/data/joy/pages.ts
  docs/data/material/components/tree-view/tree-view.md
  docs/data/material/pages.ts
  docs/pages/material-ui/api/tree-item.json
  docs/pages/material-ui/api/tree-view.json
  docs/src/pages.ts
  docs/translations/translations.json
  packages/mui-lab/src/TreeItem/TreeItem.d.ts
  packages/mui-lab/src/TreeView/TreeView.d.ts
Labels: docs, core

#35579 [core] Fix API demos callout spacing
  docs/src/modules/components/ApiPage.js
Labels: core

#35545 [docs][Autocomplete] Fix GoogleMaps demo
  docs/data/material/components/autocomplete/GoogleMaps.js
  docs/data/material/components/autocomplete/GoogleMaps.tsx
  docs/data/material/components/autocomplete/autocomplete-pt.md
  docs/data/material/components/autocomplete/autocomplete-zh.md
  docs/data/material/components/autocomplete/autocomplete.md
Labels: bug 🐛, docs, component: autocomplete

#35575 [docs] Force `light` theme mode when `activePage` is null
  docs/src/modules/components/ThemeContext.js
Labels: docs, core, enhancement

#35560 [docs] Improve the experimental API demos on the button page
  docs/data/material/components/buttons/buttons.md
Labels: docs

#35497 [Material You] Update Button test & add active class name
  packages/mui-material-next/src/Button/Button.test.js
  packages/mui-material-next/src/Button/Button.tsx
  packages/mui-material-next/src/Button/Button.types.ts
  packages/mui-material-next/src/Button/buttonClasses.ts
  test/utils/describeConformance.tsx
Labels: bug 🐛, test, design: material you

#35570 [docs] Clarify comment about `sortStability()` use case
  docs/data/material/components/tables/EnhancedTable.js
  docs/data/material/components/tables/EnhancedTable.tsx
  docs/src/components/showcase/FolderTable.tsx
Labels: docs, component: table

#35559 [TableCell] Fix `scope` prop to be not set when a data cell is rendered within a table head
  packages/mui-material/src/TableCell/TableCell.js
  packages/mui-material/src/TableCell/TableCell.test.js
Labels: bug 🐛, accessibility, component: table

#35564 [Slider] Exclude `isRtl` from Material UI's Slider props
  docs/pages/material-ui/api/slider.json
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/slider/slider.json
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.js
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.types.ts
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-material/src/Slider/Slider.js
Labels: docs, component: slider, package: material

#32508 [l10n] Add Kurdish (Kurmanji) locale
  packages/mui-material/src/locale/index.ts
Labels: l10n

#35548 [Radio][Joy] Use precise dimensions for radio icon
  packages/mui-joy/src/Radio/Radio.tsx
Labels: bug 🐛, component: radio, design: joy

#35377 [docs] Add a guide on using icon libraries with Joy UI
  docs/data/joy/guides/using-icon-libraries/IconFontSizes.js
  docs/data/joy/guides/using-icon-libraries/IconFontSizes.tsx
  docs/data/joy/guides/using-icon-libraries/IconFontSizes.tsx.preview
  docs/data/joy/guides/using-icon-libraries/JoyMaterialIcon.js
  docs/data/joy/guides/using-icon-libraries/JoyMaterialIcon.tsx
  docs/data/joy/guides/using-icon-libraries/using-icon-libraries.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/guides/using-icon-libraries.js
  packages/mui-joy/src/utils/index.ts
Labels: docs, package: joy

#35629 [Joy] Fix radius adjustment
  packages/mui-joy/src/Alert/Alert.tsx
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
Labels: package: joy

#35625 [core] Hide keyboard shortcut if no hover feature
  docs/src/modules/components/MarkdownElement.js
Labels: bug 🐛, docs, core

#35626 [core] Fix header link layout shift and clash
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/MarkdownElement.js
  packages/markdown/parseMarkdown.js
Labels: bug 🐛, docs, core

#35587 [l10n] Add displayed rows label to `faIR` locale
  packages/mui-material/src/locale/index.ts
Labels: l10n, component: TablePagination

#33530 [Select] Accept non-component children
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: select, package: material, enhancement

#35623 [core] Shorthand notation to remove outline
  docs/pages/blog.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/modules/components/DemoEditor.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/Select/Select.tsx
Labels: core

#35624 [docs] Remove flow, its legacy
  docs/data/material/guides/flow/flow-pt.md
  docs/data/material/guides/flow/flow-zh.md
  docs/data/material/guides/flow/flow.md
  docs/data/material/pages.ts
  docs/pages/material-ui/guides/flow.js
  docs/public/_redirects
  docs/src/pages.ts
  docs/translations/translations-pt.json
  docs/translations/translations-zh.json
  docs/translations/translations.json
Labels: docs

#35373 [docs][Joy] Add documentation for Joy `Stack` component
  docs/data/joy/components/stack/BasicStack.js
  docs/data/joy/components/stack/BasicStack.tsx
  docs/data/joy/components/stack/BasicStack.tsx.preview
  docs/data/joy/components/stack/DirectionStack.js
  docs/data/joy/components/stack/DirectionStack.tsx
  docs/data/joy/components/stack/DirectionStack.tsx.preview
  docs/data/joy/components/stack/DividerStack.js
  docs/data/joy/components/stack/DividerStack.tsx
  docs/data/joy/components/stack/DividerStack.tsx.preview
  docs/data/joy/components/stack/InteractiveStack.js
  docs/data/joy/components/stack/InteractiveStack.tsx
  docs/data/joy/components/stack/ResponsiveStack.js
  docs/data/joy/components/stack/ResponsiveStack.tsx
  docs/data/joy/components/stack/ResponsiveStack.tsx.preview
  docs/data/joy/components/stack/ZeroWidthStack.js
  docs/data/joy/components/stack/ZeroWidthStack.tsx
  docs/data/joy/components/stack/stack.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-stack.js
Labels: docs, component: Stack, package: joy

#35374 [docs][Joy] Add documentation for Joy `Grid` component
  docs/data/joy/components/grid/AutoGrid.js
  docs/data/joy/components/grid/AutoGrid.tsx
  docs/data/joy/components/grid/AutoGrid.tsx.preview
  docs/data/joy/components/grid/BasicGrid.js
  docs/data/joy/components/grid/BasicGrid.tsx
  docs/data/joy/components/grid/BasicGrid.tsx.preview
  docs/data/joy/components/grid/CSSGrid.js
  docs/data/joy/components/grid/CSSGrid.tsx
  docs/data/joy/components/grid/CSSGrid.tsx.preview
  docs/data/joy/components/grid/ChildrenCenteredGrid.js
  docs/data/joy/components/grid/ChildrenCenteredGrid.tsx
  docs/data/joy/components/grid/ColumnsGrid.js
  docs/data/joy/components/grid/ColumnsGrid.tsx
  docs/data/joy/components/grid/ColumnsGrid.tsx.preview
  docs/data/joy/components/grid/FullWidthGrid.js
  docs/data/joy/components/grid/FullWidthGrid.tsx
  docs/data/joy/components/grid/FullWidthGrid.tsx.preview
  docs/data/joy/components/grid/InteractiveGrid.js
  docs/data/joy/components/grid/InteractiveGrid.tsx
  docs/data/joy/components/grid/ResponsiveGrid.js
  docs/data/joy/components/grid/ResponsiveGrid.tsx
  docs/data/joy/components/grid/ResponsiveGrid.tsx.preview
  docs/data/joy/components/grid/RowAndColumnSpacing.js
  docs/data/joy/components/grid/RowAndColumnSpacing.tsx
  docs/data/joy/components/grid/SpacingGrid.js
  docs/data/joy/components/grid/SpacingGrid.tsx
  docs/data/joy/components/grid/VariableWidthGrid.js
  docs/data/joy/components/grid/VariableWidthGrid.tsx
  docs/data/joy/components/grid/VariableWidthGrid.tsx.preview
  docs/data/joy/components/grid/grid.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-grid.js
Labels: docs, component: Grid, package: joy

#35633 [release] v5.11.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#35591 [docs] Fix layout shift with modal
  docs/data/base/components/modal/modal.md
  docs/src/modules/components/BackToTop.tsx
Labels: bug 🐛, docs

#35634 [docs] Fix anchor link in the card's docs and fix a typo
  docs/data/joy/components/card/card.md
Labels: docs, component: card, package: joy

#35639 [docs][joy] Improved readability on theme tokens page
  docs/data/joy/customization/theme-tokens/theme-tokens.md
Labels: docs, package: joy, customization: theme

#35647 [Autocomplete][joy] Export component
  packages/mui-joy/src/index.ts
Labels: component: autocomplete, package: joy

#34177 [Select] Update `renderValue` prop's TypeScript type
  packages/mui-material/src/Select/Select.d.ts
  packages/mui-material/src/Select/Select.spec.tsx
Labels: component: select, typescript

#35482 [Joy][docs] Add documentation for `Input` component
  docs/data/joy/components/input/BasicInput.js
  docs/data/joy/components/input/BasicInput.tsx
  docs/data/joy/components/input/BasicInput.tsx.preview
  docs/data/joy/components/input/InputColors.js
  docs/data/joy/components/input/InputColors.tsx
  docs/data/joy/components/input/InputColors.tsx.preview
  docs/data/joy/components/input/InputDecorators.js
  docs/data/joy/components/input/InputDecorators.tsx
  docs/data/joy/components/input/InputField.js
  docs/data/joy/components/input/InputField.tsx
  docs/data/joy/components/input/InputField.tsx.preview
  docs/data/joy/components/input/InputFormProps.js
  docs/data/joy/components/input/InputFormProps.tsx
  docs/data/joy/components/input/InputFormProps.tsx.preview
  docs/data/joy/components/input/InputSizes.js
  docs/data/joy/components/input/InputSizes.tsx
  docs/data/joy/components/input/InputSizes.tsx.preview
  docs/data/joy/components/input/InputSlotProps.js
  docs/data/joy/components/input/InputSlotProps.tsx
  docs/data/joy/components/input/InputSlotProps.tsx.preview
  docs/data/joy/components/input/InputSubscription.js
  docs/data/joy/components/input/InputSubscription.preview
  docs/data/joy/components/input/InputSubscription.tsx
  docs/data/joy/components/input/InputUsage.js
  docs/data/joy/components/input/InputValidation.js
  docs/data/joy/components/input/InputValidation.tsx
  docs/data/joy/components/input/InputValidation.tsx.preview
  docs/data/joy/components/input/InputVariables.js
  docs/data/joy/components/input/InputVariants.js
  docs/data/joy/components/input/InputVariants.tsx
  docs/data/joy/components/input/InputVariants.tsx.preview
  docs/data/joy/components/input/input.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-input.js
  docs/public/_redirects
  docs/src/modules/components/JoyVariablesDemo.tsx
Labels: docs, package: joy

#35052 [docs] Fix switch name to reflect the color
  docs/data/material/components/switches/ColorSwitches.js
  docs/data/material/components/switches/ColorSwitches.tsx
  docs/data/material/components/switches/ColorSwitches.tsx.preview
Labels: docs, component: switch

#35584 [core] Remove need for scopePathnames
  docs/data/joy/pages.ts
  docs/data/material/pages.ts
  docs/data/system/pages.ts
  docs/pages/_app.js
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/utils/findActivePage.test.js
  docs/src/modules/utils/findActivePage.ts
  docs/src/pages.ts
Labels: core, docs-infra

#35627 [docs] Fix layout shift when streaming the page
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppTableOfContents.js
Labels: bug 🐛, docs, core

#35672 [core] A few SEO fixes
  docs/data/joy/guides/using-icon-libraries/using-icon-libraries.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  packages/markdown/parseMarkdown.js
Labels: core

#35628 [blog] Fix handling of markdown links
  docs/src/BrandingCssVarsProvider.tsx
  docs/src/BrandingProvider.tsx
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/MarkdownLinks.js
Labels: bug 🐛, blog

#35686 [test] Fix Algolia noisy lvl1 anchor
  test/e2e-website/material-docs.spec.ts
Labels: bug 🐛, test, regression
