Repository mui/material-ui, pull requests merged in 2022-02, with the labels that each got.

#30852 [docs] Add notifications for the blog posts
  docs/notifications.json
Labels: docs

#30855 v5.4.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#30803 [Joy] Use icon inside a Button
  docs/pages/experiments/joy/button.tsx
  docs/pages/experiments/joy/components.tsx
  packages/mui-joy/src/Button/Button.spec.tsx
  packages/mui-joy/src/Button/Button.test.js
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Button/ButtonProps.ts
  packages/mui-joy/src/Button/buttonClasses.ts
Labels: joy design

#30862 [docs] Hotfix notification <b>
  docs/notifications.json
  docs/src/modules/components/Notifications.js
Labels: docs

#30794 [AvatarGroup] Enable targeting of additional Avatar when max props is passed
  docs/pages/api-docs/avatar-group.json
  docs/translations/api-docs/avatar-group/avatar-group.json
  packages/mui-material/src/AvatarGroup/AvatarGroup.d.ts
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
  packages/mui-material/src/AvatarGroup/AvatarGroup.test.js
Labels: component: avatar

#30849 [docs] Update Instructions for Google Maps Autocomplete
  docs/src/pages/components/autocomplete/GoogleMaps.js
  docs/src/pages/components/autocomplete/GoogleMaps.tsx
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: bug 🐛, docs, component: autocomplete

#30841 [test] Fix typo
  test/utils/components.js
Labels: test

#30867 [website] Closing the Developer Advocate role
  docs/pages/careers.tsx
Labels: website

#30846 [Fab] supporting other colors
  docs/pages/api-docs/fab.json
  packages/mui-material/src/Fab/Fab.d.ts
  packages/mui-material/src/Fab/Fab.js
  packages/mui-material/src/Fab/Fab.test.js
  packages/mui-material/src/Fab/fabClasses.ts
Labels: enhancement, component: Fab

#30863 [docs] Remove migration from the versions page
  docs/pages/versions.js
Labels: docs

#30866 [docs] Clarify what the name of @mui/material is
  docs/pages/blog/2021.md
  docs/pages/blog/material-ui-is-now-mui.md
  docs/pages/material.tsx
Labels: docs

#30790 [docs] Clarify the minimum configuration for TypeScript
  docs/src/pages/guides/typescript/typescript.md
Labels: docs

#30828 [website] Polishing spacing and other small things
  docs/notifications.json
  docs/pages/_document.js
  docs/pages/about.tsx
  docs/pages/blog.tsx
  docs/pages/blog/introducing-the-row-grouping-feature.md
  docs/pages/blog/material-ui-is-now-mui.md
  docs/pages/careers.tsx
  docs/public/static/fonts/IBMPlexSans-SemiBold.ttf
  docs/public/static/fonts/IBMPlexSans-SemiBold.woff
  docs/public/static/fonts/IBMPlexSans-SemiBold.woff2
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/components/home/Hero.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/MuiStatistics.tsx
  docs/src/components/home/StartToday.tsx
  docs/src/components/home/UserFeedbacks.tsx
  docs/src/components/productCore/CoreComponents.tsx
  docs/src/components/productCore/CoreHeroEnd.tsx
  docs/src/components/productCore/CoreStyling.tsx
  docs/src/components/productCore/CoreTheming.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XPlans.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/Notifications.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/pages.ts
  docs/translations/translations.json
Labels: website

#29474 [website] Hide scrollbars of hero containers
  docs/src/components/home/Hero.tsx
  docs/src/components/productCore/CoreHero.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/layouts/HeroContainer.tsx
Labels: website

#30768 [Pickers] Fix `onDismiss` handler in `MobileDatePicker`
  packages/mui-lab/src/MobileDatePicker/MobileDatePicker.test.tsx
  packages/mui-lab/src/internal/pickers/hooks/usePickerState.ts
Labels: bug 🐛, component: pickers

#30654 [utils] Use built-in hook when available for useId
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-utils/src/useId.test.js
  packages/mui-utils/src/useId.ts
Labels: enhancement, package: utils

#30857 [test] Codify the difference between keyup and keydown in SelectUnstyled
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.test.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.test.tsx
Labels: test

#30872 [docs] Fix the link to the Vite.js example project
  docs/src/pages/getting-started/example-projects/example-projects.md
Labels: docs

#30923 [docs] Fix broken URL in "Edit this page" button
  docs/packages/markdown/loader.js
  docs/packages/markdown/parseMarkdown.js
Labels: docs

#30943 [docs] Fix broken roadmap table
  docs/data/material/discover-more/roadmap/roadmap.md
Labels: docs

#30942 [docs] Fix WithStyles import statement for @mui/styles
  docs/data/styles/advanced/advanced.md
Labels: docs, package: styles

#30891 [docs] Add missing import to RTL guide
  docs/data/material/guides/right-to-left/right-to-left.md
Labels: docs

#30947 [docs] Fix markdown table format
  docs/data/material/customization/breakpoints/breakpoints-pt.md
  docs/data/material/customization/how-to-customize/how-to-customize-pt.md
  docs/data/material/customization/how-to-customize/how-to-customize-zh.md
  docs/data/material/customization/theming/theming-pt.md
  docs/data/material/customization/theming/theming-zh.md
  docs/data/material/customization/theming/theming.md
  docs/data/material/getting-started/supported-platforms/supported-platforms-pt.md
  docs/data/material/getting-started/supported-platforms/supported-platforms-zh.md
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  docs/data/material/guides/localization/localization-pt.md
  docs/data/material/guides/localization/localization-zh.md
  docs/data/material/guides/localization/localization.md
Labels: docs

#30912 [docs] Improve description of the `disableRestoreFocus` prop of the `TrapFocus`
  docs/translations/api-docs/modal-unstyled/modal-unstyled.json
  docs/translations/api-docs/modal/modal.json
  docs/translations/api-docs/unstable-trap-focus/unstable-trap-focus.json
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.d.ts
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.js
  packages/mui-base/src/Unstable_TrapFocus/Unstable_TrapFocus.d.ts
  packages/mui-base/src/Unstable_TrapFocus/Unstable_TrapFocus.js
  packages/mui-material/src/Modal/Modal.js
Labels: docs

#30899 [Badge] fix showzero and invisible condition
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.js
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyledProps.ts
  packages/mui-base/src/BadgeUnstyled/useBadge.ts
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/Badge/Badge.test.js
Labels: bug 🐛, component: badge

#30897 [examples] Fix vitejs example and improve HMR
  examples/vitejs/package.json
  examples/vitejs/src/ProTip.jsx
  examples/vitejs/vite.config.js
Labels: examples

#30919 [website] Sample GA to avoid hit limit
  docs/pages/_document.js
Labels: website

#30904 [docs] Fix link-underline-hover chapter of migration guides v4
  docs/data/material/guides/migration-v4/migration-v4.md
Labels: docs

#30774 [Snackbar] Ensure messages are announced in NVDA+FF
  docs/data/material/components/click-away-listener/click-away-listener.md
  packages/mui-material/src/Snackbar/Snackbar.js
Labels: accessibility, component: snackbar

#30738 [ClockNumber] add font for outer numbers
  packages/mui-lab/src/ClockPicker/ClockNumber.tsx
Labels: material design, component: time picker

#30736 [docs] Include JSS in styling solution interoperability guide
  .markdownlint.jsonc
  docs/data/material/guides/interoperability/interoperability.md
Labels: docs

#30901 [ButtonBase] Expose ref to TouchRipple
  docs/pages/api-docs/button-base.json
  docs/pages/material/api/button-base.json
  docs/translations/api-docs/button-base/button-base.json
  packages/mui-material/src/ButtonBase/ButtonBase.d.ts
  packages/mui-material/src/ButtonBase/ButtonBase.js
  packages/mui-material/src/ButtonBase/ButtonBase.test.js
Labels: enhancement, component: ButtonBase

#30924 [docs] Add Saleor to showcase
  docs/data/material/discover-more/showcase/appList.js
  docs/public/static/images/showcase/saleor.jpg
Labels: docs

#30895 [SelectUnstyled] Improve exported types
  packages/mui-base/src/ListboxUnstyled/types.ts
  packages/mui-base/src/ListboxUnstyled/useListbox.test.tsx
  packages/mui-base/src/ListboxUnstyled/useListbox.ts
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.tsx
  packages/mui-base/src/OptionUnstyled/OptionUnstyledProps.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.spec.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyledProps.ts
  packages/mui-base/test/typescript/moduleAugmentation/selectUnstyledComponentsProps.spec.tsx
  packages/mui-base/test/typescript/moduleAugmentation/selectUnstyledComponentsProps.tsconfig.json
Labels: component: select, package: base

#30534 [docs] Remove ul with div children and replace with nav element
  docs/data/material/getting-started/templates/dashboard/Dashboard.js
  docs/data/material/getting-started/templates/dashboard/Dashboard.tsx
  docs/data/material/getting-started/templates/dashboard/listItems.js
  docs/data/material/getting-started/templates/dashboard/listItems.tsx
Labels: docs

#30239 [SelectInput] Only attach click handler to label if a labelId is passed
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: bug 🐛, component: select

#30959 v5.4.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#30966 [docs] Add live Tailwind CSS demo
  docs/data/material/getting-started/example-projects/example-projects.md
  docs/data/material/guides/interoperability/interoperability.md
  examples/create-react-app-with-typescript/tsconfig.json
  examples/joy-cra-typescript/package.json
  examples/joy-cra-typescript/tsconfig.json
  examples/nextjs-with-typescript/package.json
  examples/remix-with-typescript/package.json
  examples/tailwind-css/.gitignore
  examples/tailwind-css/README.md
  examples/tailwind-css/package.json
  examples/tailwind-css/postcss.config.js
  examples/tailwind-css/public/favicon.ico
  examples/tailwind-css/public/index.html
  examples/tailwind-css/public/logo192.png
  examples/tailwind-css/public/logo512.png
  examples/tailwind-css/public/manifest.json
  examples/tailwind-css/public/robots.txt
  examples/tailwind-css/src/App.tsx
  examples/tailwind-css/src/ProTip.tsx
  examples/tailwind-css/src/index.css
  examples/tailwind-css/src/index.tsx
  examples/tailwind-css/src/logo.svg
  examples/tailwind-css/src/react-app-env.d.ts
  examples/tailwind-css/src/reportWebVitals.ts
  examples/tailwind-css/src/setupTests.ts
  examples/tailwind-css/tailwind.config.js
  examples/tailwind-css/tsconfig.json
  examples/vitejs/package.json
Labels: docs

#30967 [docs] Fix force redirection to a different locale
  docs/pages/_app.js
  docs/src/modules/components/AppSettingsDrawer.js
Labels: bug 🐛, docs, regression

#30890 [Typescript] Added TypeText declaration to the exports file
  packages/mui-material/src/styles/index.d.ts
Labels: typescript

#30994 [benchmark] Add missing dependency
  benchmark/package.json
  yarn.lock
Labels: benchmark

#30993 [core] Remove unused draft-js types package
  framer/package.json
  yarn.lock
Labels: core, framer

#31003 [Portal] Re-export 'Portal' in material
  packages/mui-material/src/index.d.ts
  packages/mui-material/src/index.js
Labels: component: Portal, package: material

#30960 [docs] Use full product names (Material UI, MUI System)
  docs/src/modules/components/AppNavDrawer.js
Labels: docs

#30884 [docs] Improve Base component demos
  docs/data/material/components/selects/UnstyledSelectControlled.js
  docs/data/material/components/selects/UnstyledSelectControlled.tsx
  docs/data/material/components/selects/UnstyledSelectControlled.tsx.preview
  docs/data/material/components/selects/UnstyledSelectCustomRenderValue.js
  docs/data/material/components/selects/UnstyledSelectCustomRenderValue.tsx
  docs/data/material/components/selects/UnstyledSelectGrouping.js
  docs/data/material/components/selects/UnstyledSelectGrouping.tsx
  docs/data/material/components/selects/UnstyledSelectMultiple.js
  docs/data/material/components/selects/UnstyledSelectMultiple.tsx
  docs/data/material/components/selects/UnstyledSelectObjectValues.js
  docs/data/material/components/selects/UnstyledSelectObjectValues.tsx
  docs/data/material/components/selects/UnstyledSelectObjectValues.tsx.preview
  docs/data/material/components/selects/UnstyledSelectRichOptions.js
  docs/data/material/components/selects/UnstyledSelectRichOptions.tsx
  docs/data/material/components/selects/UnstyledSelectSimple.js
  docs/data/material/components/selects/UnstyledSelectSimple.tsx
  docs/data/material/components/selects/UseSelect.js
  docs/data/material/components/selects/UseSelect.tsx
  docs/data/material/components/switches/UnstyledSwitches.js
  docs/data/material/components/switches/UnstyledSwitches.tsx
  docs/data/material/components/switches/UseSwitchesBasic.js
  docs/data/material/components/switches/UseSwitchesBasic.tsx
  docs/data/material/components/text-fields/UnstyledInput.js
  docs/data/material/components/text-fields/UnstyledInput.tsx
  docs/data/material/components/text-fields/UseInput.js
  docs/data/material/components/text-fields/UseInput.tsx
Labels: docs

#31000 [website] Add Sycamore to About page
  docs/pages/about.tsx
  docs/public/static/branding/about/benny.png
  docs/public/static/branding/about/matheus.png
  docs/public/static/branding/about/sycamore.png
Labels: website

#30713 [docs] Increase scroll affordance in wide tables
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/MarkdownElement.js
Labels: docs

#30444 [website] Add BIMI avatar
  docs/public/static/BIMI.svg
Labels: website

#30978 [docs] Specify which props are added in the default `shouldForwardProp` option
  docs/data/system/styled/styled.md
  packages/mui-system/src/createStyled.js
Labels: docs, package: system

#30955 [Joy] Make `sx` prop work in Joy
  docs/pages/experiments/joy/style-guide.tsx
  packages/mui-joy/src/Box/Box.tsx
  packages/mui-joy/src/styles/index.ts
  packages/mui-joy/src/styles/styleFunctionSx.spec.tsx
  packages/mui-joy/src/styles/styleFunctionSx.test.js
  packages/mui-joy/src/styles/styleFunctionSx.ts
  packages/mui-joy/src/styles/styled.ts
  packages/mui-system/src/Box/Box.d.ts
  packages/mui-system/src/createBox.d.ts
  packages/mui-system/src/createBox.js
  packages/mui-system/src/createStyled.d.ts
  packages/mui-system/src/createStyled.js
  packages/mui-system/src/getThemeValue.js
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  packages/mui-system/src/style.d.ts
  packages/mui-system/src/style.test.js
  packages/mui-system/src/styleFunctionSx/index.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.d.ts
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.js
Labels: joy

#30878 [Joy] Improve variant customization experience
  docs/pages/experiments/joy/variant-overrides.tsx
  docs/pages/experiments/joy/variant.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/ThemeProvider.tsx
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/types/colorSystem.ts
  packages/mui-joy/src/styles/types/variants.ts
  packages/mui-joy/src/styles/variantUtils.test.js
  packages/mui-joy/src/styles/variantUtils.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createGetCssVar.test.ts
  packages/mui-system/src/cssVars/createGetCssVar.ts
  packages/mui-system/src/cssVars/cssVarsParser.test.ts
  packages/mui-system/src/cssVars/cssVarsParser.ts
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: joy

#30786 [DatePicker] Fix passing clearable prop
  docs/pages/api-docs/desktop-date-picker.json
  docs/pages/api-docs/desktop-date-range-picker.json
  docs/pages/api-docs/desktop-date-time-picker.json
  docs/pages/api-docs/desktop-time-picker.json
  docs/pages/material/api/desktop-date-picker.json
  docs/pages/material/api/desktop-date-range-picker.json
  docs/pages/material/api/desktop-date-time-picker.json
  docs/pages/material/api/desktop-time-picker.json
  docs/translations/api-docs/desktop-date-picker/desktop-date-picker.json
  docs/translations/api-docs/desktop-date-range-picker/desktop-date-range-picker.json
  docs/translations/api-docs/desktop-date-time-picker/desktop-date-time-picker.json
  docs/translations/api-docs/desktop-time-picker/desktop-time-picker.json
  packages/mui-lab/src/DatePicker/DatePicker.tsx
  packages/mui-lab/src/DesktopDatePicker/DesktopDatePicker.test.tsx
  packages/mui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/mui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.tsx
  packages/mui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/mui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/mui-lab/src/internal/pickers/PickersPopper.tsx
  packages/mui-lab/src/internal/pickers/wrappers/DesktopWrapper.tsx
Labels: component: date picker

#30883 [ToggleButton] Add prop types for `onClick` and `onChange`
  docs/pages/api-docs/toggle-button.json
  docs/pages/material/api/toggle-button.json
  docs/translations/api-docs/toggle-button/toggle-button.json
  packages/mui-material/src/ToggleButton/ToggleButton.d.ts
  packages/mui-material/src/ToggleButton/ToggleButton.js
  packages/mui-material/src/ToggleButton/ToggleButton.spec.tsx
Labels: enhancement, component: toggle button

#30995 [docs] Improve the indication for the legacy APIs
  docs/data/styles/advanced/advanced.md
  docs/data/styles/api/api.md
  docs/data/styles/basics/basics.md
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/pages.ts
  docs/translations/translations.json
Labels: docs

#31067 [test] Test if certain Base members are exported from Material UI
  packages/mui-material/src/index.test.js
Labels: test

#31016 [core] Bump date-io version
  docs/package.json
  packages/mui-lab/package.json
  yarn.lock
Labels: external dependency, core

#31026 [docs] Update installation guide of the icons package
  docs/data/material/components/icons/icons.md
Labels: docs

#31070 [design] Remove framer leftovers
  framer/package.json
Labels: framer

#31062 [website] Minor security improvements
  docs/public/_headers
Labels: security, website

#31038 [website] Open Full-stack Engineer role for studio
  docs/pages/careers.tsx
  docs/pages/careers/designer.js
  docs/pages/careers/developer-advocate.js
  docs/pages/careers/developer-experience-engineer.js
  docs/pages/careers/fullstack-engineer.js
  docs/pages/careers/people-operations-manager.js
  docs/pages/careers/product-engineer.js
  docs/pages/careers/react-engineer.js
  docs/pages/careers/react-support-engineer.js
  docs/pages/careers/support-agent.js
  docs/src/pages/careers/TEMPLATE.md
  docs/src/pages/careers/designer.md
  docs/src/pages/careers/developer-advocate.md
  docs/src/pages/careers/developer-experience-engineer.md
  docs/src/pages/careers/full-stack-engineer.md
  docs/src/pages/careers/people-operation-manager.md
  docs/src/pages/careers/product-engineer.md
  docs/src/pages/careers/product-manager.md
  docs/src/pages/careers/react-engineer.md
  docs/src/pages/careers/react-support-engineer.md
  docs/src/pages/careers/support-agent.md
  docs/src/pages/careers/technical-product-manager.md
  docs/src/pages/company/careers/full-stack-engineer.md
Labels: website

#31076 [website] Add banner for promoting priority open roles
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/featureToggle.js
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppFrame.js
Labels: website

#31092 [docs] Fix small typo in chips.md
  docs/data/material/components/chips/chips.md
Labels: docs, component: chip

#31029 [docs] Update on the support page to account for v4 LTS support
  docs/data/material/getting-started/support/support.md
  docs/src/modules/components/Demo.js
  docs/src/pages/versions/versions.md
Labels: docs

#31095 [core] Polish design tokens
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/MarkdownElement.js
Labels: core

#30894 [Transitions] Some components do not use transition duration/easing values from theme
  docs/pages/api-docs/dialog.json
  docs/pages/api-docs/drawer.json
  docs/pages/api-docs/fade.json
  docs/pages/api-docs/slide.json
  docs/pages/api-docs/snackbar.json
  docs/pages/api-docs/speed-dial.json
  docs/pages/api-docs/swipeable-drawer.json
  docs/pages/api-docs/zoom.json
  docs/pages/material/api/dialog.json
  docs/pages/material/api/drawer.json
  docs/pages/material/api/fade.json
  docs/pages/material/api/slide.json
  docs/pages/material/api/snackbar.json
  docs/pages/material/api/speed-dial.json
  docs/pages/material/api/swipeable-drawer.json
  docs/pages/material/api/zoom.json
  packages/mui-material/src/Dialog/Dialog.d.ts
  packages/mui-material/src/Dialog/Dialog.js
  packages/mui-material/src/Dialog/Dialog.test.js
  packages/mui-material/src/Drawer/Drawer.d.ts
  packages/mui-material/src/Drawer/Drawer.js
  packages/mui-material/src/Drawer/Drawer.test.js
  packages/mui-material/src/Fade/Fade.d.ts
  packages/mui-material/src/Fade/Fade.js
  packages/mui-material/src/Fade/Fade.test.js
  packages/mui-material/src/Slide/Slide.d.ts
  packages/mui-material/src/Slide/Slide.js
  packages/mui-material/src/Slide/Slide.test.js
  packages/mui-material/src/Snackbar/Snackbar.d.ts
  packages/mui-material/src/Snackbar/Snackbar.js
  packages/mui-material/src/Snackbar/Snackbar.test.js
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/SpeedDial/SpeedDial.js
  packages/mui-material/src/SpeedDial/SpeedDial.test.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/mui-material/src/Zoom/Zoom.d.ts
  packages/mui-material/src/Zoom/Zoom.js
  packages/mui-material/src/Zoom/Zoom.test.js
  packages/mui-material/src/styles/createTheme.test.js
Labels: bug 🐛, component: transitions

#31021 [Stepper] Export useStepContext
  packages/mui-material/src/Step/StepContext.js
  packages/mui-material/src/Step/StepContext.ts
  packages/mui-material/src/Step/index.d.ts
  packages/mui-material/src/Step/index.js
Labels: component: stepper

#31088 [l10n] Add pl-PL translation for labelDisplayedRows
  packages/mui-material/src/locale/index.ts
Labels: l10n

#30987 [Joy] Add initial `List` components
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/list.tsx
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/List/index.ts
  packages/mui-joy/src/List/listClasses.ts
  packages/mui-joy/src/ListDivider/ListDivider.test.js
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/ListDivider/ListDividerProps.ts
  packages/mui-joy/src/ListDivider/index.ts
  packages/mui-joy/src/ListDivider/listDividerClasses.ts
  packages/mui-joy/src/ListItem/ListItem.test.js
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/ListItem/index.ts
  packages/mui-joy/src/ListItem/listItemClasses.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.test.js
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButtonProps.ts
  packages/mui-joy/src/ListItemButton/index.ts
  packages/mui-joy/src/ListItemButton/listItemButtonClasses.ts
  packages/mui-joy/src/ListItemContent/ListItemContent.test.js
  packages/mui-joy/src/ListItemContent/ListItemContent.tsx
  packages/mui-joy/src/ListItemContent/ListItemContentProps.ts
  packages/mui-joy/src/ListItemContent/index.ts
  packages/mui-joy/src/ListItemContent/listItemContentClasses.ts
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.test.js
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.tsx
  packages/mui-joy/src/ListItemDecorator/ListItemDecoratorProps.ts
  packages/mui-joy/src/ListItemDecorator/index.ts
  packages/mui-joy/src/ListItemDecorator/listItemDecoratorClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/types/colorSystem.ts
Labels: joy

#31118 [icons] Add "circle" icon synonyms
  docs/data/material/components/material-icons/synonyms.js
Labels: component: Icon

#31131 [l10n] Add it-IT translation for labelDisplayedRows
  packages/mui-material/src/locale/index.ts
Labels: l10n

#31136 [docs] Fix typo of migration guides v4
  docs/data/material/guides/migration-v4/migration-v4.md
Labels: docs

#31120 [Joy] Fix typings
  docs/pages/experiments/joy/variant.tsx
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/styles/CssVarsProvider.spec.tsx
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/types/colorSystem.ts
  packages/mui-joy/src/styles/types/typography.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.spec.tsx
  packages/mui-system/src/cssVars/index.ts
Labels: joy

#31135 [Button Base] Fix typo
  docs/translations/api-docs/button-base/button-base.json
  packages/mui-material/src/ButtonBase/ButtonBase.d.ts
  packages/mui-material/src/ButtonBase/ButtonBase.js
Labels: component: ButtonBase

#30913 [website] Sync MUI X table feature
  docs/src/components/pricing/PricingTable.tsx
Labels: component: data grid, website

#31065 [core] Allow to run material-ui.com/store alongside mui.com/store
  docs/public/_headers
  docs/public/_redirects
  examples/vitejs/README.md
  examples/vitejs/src/Copyright.jsx
  examples/vitejs/src/ProTip.jsx
Labels: core

#31134 [Joy] `List` second iteration
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/list.tsx
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/List/listClasses.ts
  packages/mui-joy/src/ListItem/ListItem.test.js
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/ListItem/listItemClasses.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
Labels: joy

#31161 [core] Add jsx, html, css and prisma to prettier extensions
  docs/public/static/styles/prism-okaidia.css
  examples/cdn/index.html
  examples/create-react-app-with-styled-components-typescript/public/index.html
  examples/create-react-app-with-styled-components/public/index.html
  examples/create-react-app-with-typescript/public/index.html
  examples/create-react-app/public/index.html
  examples/joy-cra-typescript/public/index.html
  examples/preact/public/index.html
  examples/tailwind-css/public/index.html
  examples/tailwind-css/src/index.css
  examples/vitejs/src/App.jsx
  examples/vitejs/src/Copyright.jsx
  examples/vitejs/src/ProTip.jsx
  examples/vitejs/src/main.jsx
  scripts/prettier.js
  test/regressions/template.html
Labels: core

#31164 v5.4.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#31150 [website] Fix a few SEO issues
  README.md
  docs/data/material/components/click-away-listener/click-away-listener.md
  docs/data/material/discover-more/backers/backers.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/next.config.js
  docs/pages/_document.js
  docs/pages/blog.tsx
  docs/pages/blog/2021.md
  docs/pages/blog/mui-core-v5.md
  docs/src/components/home/GoldSponsors.tsx
  docs/src/modules/components/Head.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/pages/careers/designer.md
  docs/src/pages/careers/full-stack-engineer.md
  docs/src/pages/company/careers/full-stack-engineer.md
Labels: bug 🐛, website

#31148 [system] Fix `CssVarsProvider` theme mutation
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/cssVarsParser.test.ts
  packages/mui-system/src/cssVars/cssVarsParser.ts
  test/regressions/fixtures/CssVarsProvider/CssVarsProviderJoy.js
Labels: package: system

#31166 [Joy] Fix `Button` missing slot type
  packages/mui-joy/src/Button/ButtonProps.ts
Labels: joy

#31087 [Chip] Fix ellipsis when the children is too long
  packages/mui-material/src/Chip/Chip.js
Labels: bug 🐛, component: chip

#31162 [docs] Add missing import into tss-react migration guide
  docs/data/material/guides/migration-v4/migration-v4.md
Labels: docs, v5.x migration

#31163 [system] Fix sx prop types when CSS variables are used with nested selectors
  packages/mui-system/src/Box/Box.spec.tsx
  packages/mui-system/src/createBox.spec.tsx
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.d.ts
Labels: typescript, package: system

#31182 [docs] Update interoperability.md broken tailwind links
  docs/data/material/guides/interoperability/interoperability.md
Labels: docs

#31176 [docs] Fix typo in Stack documentation
  docs/data/material/components/stack/stack.md
Labels: docs

#31178 [docs] Use new Algolia app for new structure
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/utils/replaceUrl.ts
Labels: docs

#31086 [Joy] add `Input` component
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/input.tsx
  packages/mui-base/src/FormControlUnstyled/index.ts
  packages/mui-joy/src/Input/Input.test.js
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
  packages/mui-joy/src/Input/index.ts
  packages/mui-joy/src/Input/inputClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
Labels: joy

#30969 [docs] Add Base installation page
  docs/data/base/getting-started/installation/installation.md
  docs/data/base/pages.ts
  docs/pages/base/getting-started/installation.js
  docs/pages/blog/2021.md
  docs/src/featureToggle.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppTableOfContents.js
Labels: docs

#31187 [TextField] Fix horizontal scroll when label is too long
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
Labels: component: text field

#31141 [core] Fix propTypes generation for optional `any` props
  docs/pages/api-docs/popper-unstyled.json
  docs/pages/api-docs/popper.json
  docs/pages/base/api/popper-unstyled.json
  docs/pages/material/api/popper.json
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.js
  packages/mui-material/src/Popper/Popper.tsx
  packages/typescript-to-proptypes/src/parser.ts
  packages/typescript-to-proptypes/test/partial-any-props/input.d.ts
  packages/typescript-to-proptypes/test/partial-any-props/output.js
Labels: core

#31189 [core] Remove parallel on `buildTypes`
  .circleci/config.yml
Labels: core

#31167 [styles] Fix typo in import error
  docs/public/static/error-codes.json
  packages/mui-material/src/styles/makeStyles.js
  packages/mui-material/src/styles/withStyles.js
  packages/mui-material/src/styles/withTheme.js
Labels: package: styles

#31101 [website] Revise the row grouping blog post
  docs/pages/blog/introducing-the-row-grouping-feature.md
Labels: website, blog

#31124 [Joy] Add `Sheet` component
  docs/pages/experiments/joy/sheet.tsx
  packages/mui-joy/src/Sheet/Sheet.spec.tsx
  packages/mui-joy/src/Sheet/Sheet.test.js
  packages/mui-joy/src/Sheet/Sheet.tsx
  packages/mui-joy/src/Sheet/SheetProps.ts
  packages/mui-joy/src/Sheet/index.ts
  packages/mui-joy/src/Sheet/sheetClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
Labels: component: Paper, joy

#31186 [Input] Export InputBase's classes from the classes const
  packages/mui-material/src/FilledInput/FilledInput.test.js
  packages/mui-material/src/FilledInput/filledInputClasses.ts
  packages/mui-material/src/Input/Input.test.js
  packages/mui-material/src/Input/inputClasses.ts
  packages/mui-material/src/OutlinedInput/OutlinedInput.test.js
  packages/mui-material/src/OutlinedInput/outlinedInputClasses.ts
Labels: bug 🐛, component: text field

#31137 [Joy] Improve color customization on `Switch`
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/switch.tsx
  packages/mui-joy/src/Switch/Switch.spec.tsx
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/Switch/SwitchProps.ts
  packages/mui-joy/src/Switch/switchClasses.ts
  packages/mui-system/src/Box/Box.spec.tsx
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.d.ts
  test/regressions/fixtures/SwitchJoy/SwitchJoy.js
Labels: joy

#31159 [Joy] Add nested list components
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/list.tsx
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/List/NestedListContext.ts
  packages/mui-joy/src/List/listClasses.ts
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/ListDivider/ListDividerProps.ts
  packages/mui-joy/src/ListItem/ListItem.test.js
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/ListItem/listItemClasses.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.test.js
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButtonProps.ts
  packages/mui-joy/src/ListItemButton/listItemButtonClasses.ts
  packages/mui-joy/src/ListItemContent/ListItemContentProps.ts
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.tsx
  packages/mui-joy/src/ListItemDecorator/ListItemDecoratorProps.ts
  packages/mui-joy/src/styles/components.d.ts
Labels: joy

#31216 [website] The role is filled
  docs/pages/careers.tsx
  docs/pages/careers/developer-experience-engineer.js
Labels: website

#31195 [codemods] Add v5.0.0/top-level-imports codemod
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v5.0.0/top-level-imports.js
  packages/mui-codemod/src/v5.0.0/top-level-imports.test.js
  packages/mui-codemod/src/v5.0.0/top-level-imports.test/actual.js
  packages/mui-codemod/src/v5.0.0/top-level-imports.test/expected.js
Labels: PR: needs test, v5.x migration

#31236 [core] Update playwright docker to match the specified version
  .circleci/config.yml
Labels: core

#31024 [system] Fix executing server-side Emotion component as function interpolation 2
  packages/mui-system/src/createStyled.js
Labels: package: system

#31234 [docs] Fix 404 link to the blog
  docs/data/material/guides/migration-v4/migration-v4.md
  docs/data/material/guides/routing/routing.md
  docs/packages/markdown/parseMarkdown.js
  docs/pages/about.tsx
Labels: docs

#31239 [Typescript] Remove variants deprecation
  packages/mui-lab/src/themeAugmentation/components.d.ts
  packages/mui-material/src/styles/components.d.ts
Labels: typescript

#31243 v5.4.4
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release
