Repository mui/material-ui, pull requests merged in 2022-09, with the labels that each got.

#34140 [Joy] Make the description of `componentsProps` generic
  packages/mui-joy/src/AspectRatio/AspectRatio.tsx
  packages/mui-joy/src/AspectRatio/AspectRatioProps.ts
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Avatar/AvatarProps.ts
  packages/mui-joy/src/Badge/Badge.tsx
  packages/mui-joy/src/Badge/BadgeProps.ts
  packages/mui-joy/src/Breadcrumbs/Breadcrumbs.tsx
  packages/mui-joy/src/Breadcrumbs/BreadcrumbsProps.ts
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Button/ButtonProps.ts
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Checkbox/CheckboxProps.ts
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/Chip/ChipProps.ts
  packages/mui-joy/src/FormLabel/FormLabel.tsx
  packages/mui-joy/src/FormLabel/FormLabelProps.ts
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Link/LinkProps.ts
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Radio/RadioProps.ts
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/Switch/SwitchProps.ts
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/Textarea/TextareaProps.ts
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/Typography/TypographyProps.ts
Labels: docs, package: joy

#34087 [docs] Revise Joy UI "Overview" page copy
  docs/data/joy/getting-started/overview/overview.md
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppNavDrawer.js
Labels: docs, package: joy

#33986 [docs] Fix a few Base typos
  docs/data/base/components/button/button.md
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/slider/slider.md
Labels: docs, package: base

#34171 [docs] Fix crash due to using wrong variable
  docs/src/modules/components/AppNavDrawer.js
Labels: docs

#34127 [docs] Fix the color contrast on optional API methods
  docs/data/material/migration/migration-v4/v5-style-changes-zh.md
  docs/data/material/migration/migration-v4/v5-style-changes.md
  docs/src/modules/components/MarkdownElement.js
  packages/mui-codemod/README.md
Labels: bug 🐛, docs, accessibility, design

#34172 [Select][Joy] Fix forwarding listbox `component` prop
  docs/data/joy/components/select/SelectGroupedOptions.js
  docs/data/joy/components/select/select.md
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
  test/regressions/fixtures/SelectJoy/GroupedOptionSelect.js
Labels: docs, package: joy

#34125 [core] Reinstate react/no-unused-prop-types eslint rule
  .eslintrc.js
  packages/mui-base/src/Portal/Portal.js
  packages/mui-material/src/Hidden/HiddenJs.d.ts
  packages/mui-material/src/Hidden/HiddenJs.js
  packages/mui-material/src/NativeSelect/NativeSelect.js
  packages/mui-material/src/Select/Select.js
Labels: core

#34180 [core] Move renovate config to the repository root
  renovate.json
Labels: core

#34157 [docs] Update sponsors
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: docs, website

#34134 [website] Update job descriptions
  docs/src/pages/careers/ROLE_TEMPLATE.md
  docs/src/pages/careers/designer.md
  docs/src/pages/careers/developer-advocate.md
  docs/src/pages/careers/developer-experience-engineer.md
  docs/src/pages/careers/engineering-manager.md
  docs/src/pages/careers/full-stack-engineer.md
  docs/src/pages/careers/people-operation-manager.md
  docs/src/pages/careers/product-engineer.md
  docs/src/pages/careers/product-manager.md
  docs/src/pages/careers/react-engineer-core.md
  docs/src/pages/careers/react-engineer-x.md
  docs/src/pages/careers/react-support-engineer.md
  docs/src/pages/careers/support-agent.md
  docs/src/pages/careers/technical-product-manager.md
Labels: website

#34050 [docs] Add "extend component sizes and variants" section
  docs/data/joy/components/aspect-ratio/VariantsRatio.js
  docs/data/joy/components/aspect-ratio/VariantsRatio.tsx
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
  docs/data/joy/components/avatar/AvatarVariants.js
  docs/data/joy/components/avatar/AvatarVariants.tsx
  docs/data/joy/components/avatar/AvatarVariants.tsx.preview
  docs/data/joy/components/avatar/avatar.md
  docs/data/joy/components/badge/badge.md
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
  docs/data/joy/components/button/button.md
  docs/data/joy/components/checkbox/checkbox.md
  docs/data/joy/components/chip/chip.md
  docs/data/joy/components/list/list.md
  docs/data/joy/components/menu/menu.md
  docs/data/joy/components/radio/radio.md
  docs/data/joy/components/select/select.md
  docs/data/joy/components/slider/slider.md
  docs/data/joy/components/switch/switch.md
  docs/data/joy/components/tabs/tabs.md
  docs/data/joy/components/text-field/text-field.md
  docs/data/joy/customization/themed-components/themed-components.md
Labels: docs, package: joy

#34197 v5.10.4
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
Labels: release

#34193 [Joy] Miscellaneous fixes
  docs/data/joy/components/list/ExampleCollapsibleList.js
  docs/data/joy/components/list/ListUsage.js
  docs/data/joy/components/list/list.md
  docs/data/joy/components/menu/MenuListGroup.js
  docs/data/joy/components/tabs/TabsPageExample.js
  docs/data/joy/components/tabs/TabsPageExample.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/ListItem/ListItem.test.js
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/ListItem/listItemClasses.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/MenuList/MenuList.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  test/regressions/fixtures/ListJoy/Flexibility.js
Labels: docs, package: joy

#34178 [test] Replace argos-cli with @argos-ci/cli
  package.json
  scripts/pushArgos.js
  yarn.lock
Labels: test, dependencies

#33778 [blog] Introducing MUI Base
  docs/pages/blog/introducing-mui-base.js
  docs/pages/blog/introducing-mui-base.md
  docs/public/static/blog/introducing-mui-base/card.png
  docs/public/static/blog/introducing-mui-base/hero-image.png
  docs/public/static/blog/introducing-mui-base/switch-slots.png
Labels: package: base, blog

#34043 [Joy UI] Add `Modal` component
  docs/data/joy/components/modal/AlertDialogModal.js
  docs/data/joy/components/modal/BasicModal.js
  docs/data/joy/components/modal/BasicModalDialog.js
  docs/data/joy/components/modal/CloseModal.js
  docs/data/joy/components/modal/FadeModalDialog.js
  docs/data/joy/components/modal/KeepMountedModal.js
  docs/data/joy/components/modal/LayoutModalDialog.js
  docs/data/joy/components/modal/ModalUsage.js
  docs/data/joy/components/modal/NestedModals.js
  docs/data/joy/components/modal/ServerModal.js
  docs/data/joy/components/modal/SizeModalDialog.js
  docs/data/joy/components/modal/VariantModalDialog.js
  docs/data/joy/components/modal/modal.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-modal.js
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Modal/CloseModalContext.ts
  packages/mui-joy/src/Modal/Modal.test.tsx
  packages/mui-joy/src/Modal/Modal.tsx
  packages/mui-joy/src/Modal/ModalProps.ts
  packages/mui-joy/src/Modal/index.ts
  packages/mui-joy/src/Modal/modalClasses.ts
  packages/mui-joy/src/ModalClose/ModalClose.test.tsx
  packages/mui-joy/src/ModalClose/ModalClose.tsx
  packages/mui-joy/src/ModalClose/ModalCloseProps.ts
  packages/mui-joy/src/ModalClose/index.ts
  packages/mui-joy/src/ModalClose/modalCloseClasses.ts
  packages/mui-joy/src/ModalDialog/ModalDialog.test.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/ModalDialog/ModalDialogProps.ts
  packages/mui-joy/src/ModalDialog/ModalDialogSizeContext.ts
  packages/mui-joy/src/ModalDialog/ModalDialogVariantColorContext.ts
  packages/mui-joy/src/ModalDialog/index.ts
  packages/mui-joy/src/ModalDialog/modalDialogClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/colorSystem.ts
Labels: docs, component: modal, package: joy

#34200 [docs] Fix typo in Joy UI's `Usage` docs
  docs/data/joy/getting-started/usage/usage.md
Labels: docs, package: joy

#33880 [ListItemText] Fix variant mapping in `primaryTypography`
  packages/mui-material/src/ListItemText/ListItemText.js
  packages/mui-material/src/ListItemText/ListItemText.test.js
Labels: bug 🐛, component: list

#34191 [Joy UI] Add `ListSubheader` component
  docs/data/joy/components/list/ListUsage.js
  docs/data/joy/components/list/NestedList.js
  docs/data/joy/components/list/StickyList.js
  docs/data/joy/components/list/list.md
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/List/NestedListContext.ts
  packages/mui-joy/src/ListItem/ListItem.test.js
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListSubheader/ListSubheader.test.tsx
  packages/mui-joy/src/ListSubheader/ListSubheader.tsx
  packages/mui-joy/src/ListSubheader/ListSubheaderContext.ts
  packages/mui-joy/src/ListSubheader/ListSubheaderProps.ts
  packages/mui-joy/src/ListSubheader/index.ts
  packages/mui-joy/src/ListSubheader/listSubheaderClasses.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: package: joy

#34156 [Timeline] Add left and right aligned timeline demos in docs
  docs/data/material/components/timeline/LeftAlignedTimeline.js
  docs/data/material/components/timeline/LeftAlignedTimeline.tsx
  docs/data/material/components/timeline/NoOppositeContent.js
  docs/data/material/components/timeline/NoOppositeContent.tsx
  docs/data/material/components/timeline/RightAlignedTimeline.js
  docs/data/material/components/timeline/RightAlignedTimeline.tsx
  docs/data/material/components/timeline/timeline.md
Labels: docs, component: timeline

#34223 [Joy][Textarea] Pass `textarea` props from `componentsProps`
  packages/mui-joy/src/Textarea/Textarea.test.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
Labels: bug 🐛, package: joy

#33871 [core] Add RFC GH issue template
  .github/ISSUE_TEMPLATE/3.rfc.yml
Labels: core, RFC

#34187 [Joy UI] Add `FormControl` component
  docs/data/joy/components/checkbox/HelperTextCheckbox.js
  docs/data/joy/components/checkbox/checkbox.md
  docs/data/joy/components/radio/ControlledRadioButtonsGroup.js
  docs/data/joy/components/radio/ExamplePaymentChannels.js
  docs/data/joy/components/radio/OverlayRadio.js
  docs/data/joy/components/radio/RadioButtonsGroup.js
  docs/data/joy/components/radio/RadioFocus.js
  docs/data/joy/components/radio/RadioPositionEnd.js
  docs/data/joy/components/radio/RadioUsage.js
  docs/data/joy/components/radio/radio.md
  docs/data/joy/components/select/SelectFieldDemo.js
  docs/data/joy/components/select/select.md
  docs/data/joy/components/switch/SwitchControl.js
  docs/data/joy/components/switch/switch.md
  docs/data/joy/components/text-field/TextFieldComposition.js
  docs/data/joy/components/text-field/TextFieldComposition.tsx
  docs/data/joy/components/text-field/TextFieldComposition.tsx.preview
  docs/data/joy/components/text-field/text-field.md
  docs/data/joy/components/textarea/ExampleTextareaComment.js
  docs/data/joy/components/textarea/TextareaField.js
  docs/data/joy/components/textarea/textarea.md
  docs/src/modules/components/JoyUsageDemo.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/FormControl/FormControl.tsx
  packages/mui-joy/src/FormControl/FormControlContext.ts
  packages/mui-joy/src/FormControl/FormControlProps.ts
  packages/mui-joy/src/FormControl/formControlClasses.ts
  packages/mui-joy/src/FormControl/index.ts
  packages/mui-joy/src/FormHelperText/FormHelperText.tsx
  packages/mui-joy/src/FormLabel/FormLabel.tsx
  packages/mui-joy/src/Input/Input.test.js
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
  packages/mui-joy/src/Input/inputClasses.ts
  packages/mui-joy/src/Input/useForwardedInput.ts
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/RadioGroup/RadioGroup.tsx
  packages/mui-joy/src/RadioGroup/RadioGroupContext.ts
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/Textarea/TextareaProps.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: package: joy, component: FormControl

#34257 [Joy] Adjust typography decorator margin
  docs/data/joy/components/link/LinkAndTypography.js
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Typography/Typography.tsx
Labels: package: joy

#34256 [website] Update diamond sponsor URL
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/pricing/FAQ.tsx
  docs/src/modules/components/DiamondSponsors.js
Labels: website

#34277 [Radio][Joy] Integrate with form control
  docs/data/joy/components/radio/ExampleAlignmentButtons.js
  docs/data/joy/components/radio/ExampleSegmentedControls.js
  docs/data/joy/components/radio/ExampleTiers.js
  docs/data/joy/components/radio/RadioButtonControl.js
  docs/data/joy/components/radio/RadioButtonLabel.js
  docs/data/joy/components/radio/radio.md
  docs/src/modules/components/JoyUsageDemo.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/FormControl/FormControl.tsx
  packages/mui-joy/src/FormHelperText/FormHelperText.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/RadioGroup/RadioGroup.tsx
Labels: package: joy

#34284 [website] Add Lukas to the about page
  docs/pages/about.tsx
  docs/public/static/branding/about/lukas.png
Labels: website

#33869 [Joy UI] Add `CircularProgress` component
  docs/data/joy/components/circular-progress/CircularProgressButton.js
  docs/data/joy/components/circular-progress/CircularProgressButton.tsx
  docs/data/joy/components/circular-progress/CircularProgressButton.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressChildren.js
  docs/data/joy/components/circular-progress/CircularProgressChildren.tsx
  docs/data/joy/components/circular-progress/CircularProgressChildren.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressColors.js
  docs/data/joy/components/circular-progress/CircularProgressColors.tsx
  docs/data/joy/components/circular-progress/CircularProgressDeterminate.js
  docs/data/joy/components/circular-progress/CircularProgressDeterminate.tsx
  docs/data/joy/components/circular-progress/CircularProgressDeterminate.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressSizes.js
  docs/data/joy/components/circular-progress/CircularProgressSizes.tsx
  docs/data/joy/components/circular-progress/CircularProgressSizes.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressThickness.js
  docs/data/joy/components/circular-progress/CircularProgressUsage.js
  docs/data/joy/components/circular-progress/CircularProgressVariables.js
  docs/data/joy/components/circular-progress/CircularProgressVariants.js
  docs/data/joy/components/circular-progress/CircularProgressVariants.tsx
  docs/data/joy/components/circular-progress/CircularProgressVariants.tsx.preview
  docs/data/joy/components/circular-progress/circular-progress.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-circular-progress.js
  docs/src/modules/components/JoyUsageDemo.tsx
  docs/src/modules/components/JoyVariablesDemo.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.spec.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.test.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/CircularProgress/CircularProgressProps.ts
  packages/mui-joy/src/CircularProgress/circularProgressClasses.ts
  packages/mui-joy/src/CircularProgress/index.ts
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: new feature, component: CircularProgress, package: joy

#34255 [Joy] Fix list value of false or 0 (zero) text is incorrectly grey
  packages/mui-joy/src/Select/Select.tsx
Labels: bug 🐛, component: select, package: joy

#34175 [core] Create a script to generate codeowners
  .github/CODEOWNERS
  package.json
  scripts/generateCodeowners.mjs
Labels: core

#34209 [docs] Fix spelling error
  docs/translations/translations-pt.json
Labels: docs

#34287 v5.10.5
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
Labels: release

#34279 Issue template: move reproduction steps to the top
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: core

#34291 [blog] Correct 2021 survey data interpretation
  docs/pages/blog/2021-developer-survey-results.md
Labels: blog

#34295 [docs] Add notification for MUI Base announcement post
  docs/notifications.json
Labels: docs, blog

#34281 [Joy] Adjust the `Input` and `Textarea` styles
  docs/data/joy/components/text-field/TextFieldUsage.js
  docs/data/joy/components/textarea/TextareaUsage.js
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
Labels: package: joy, design: joy

#34283 [Joy][menu] Set disablePortal default to false
  packages/mui-joy/src/Menu/Menu.tsx
Labels: component: menu, package: joy

#34320 [docs] Fix broken links
  docs/data/joy/guides/apply-dark-mode/apply-dark-mode-pt.md
  docs/data/joy/guides/apply-dark-mode/apply-dark-mode-zh.md
  docs/data/joy/guides/applying-dark-mode/applying-dark-mode-pt.md
  docs/data/joy/guides/applying-dark-mode/applying-dark-mode-zh.md
  docs/data/joy/guides/applying-dark-mode/applying-dark-mode.md
  docs/data/material/components/css-baseline/css-baseline-pt.md
  docs/data/material/components/css-baseline/css-baseline-zh.md
  docs/data/material/components/css-baseline/css-baseline.md
  docs/data/material/components/dialogs/dialogs-pt.md
  docs/data/material/components/dialogs/dialogs-zh.md
  docs/data/material/components/dialogs/dialogs.md
  docs/data/material/components/icons/icons-pt.md
  docs/data/material/components/icons/icons-zh.md
  docs/data/material/components/icons/icons.md
  docs/data/material/components/use-media-query/use-media-query-pt.md
  docs/data/material/components/use-media-query/use-media-query-zh.md
  docs/data/material/components/use-media-query/use-media-query.md
  docs/data/material/customization/color/color-pt.md
  docs/data/material/customization/color/color-zh.md
  docs/data/material/customization/color/color.md
  docs/data/material/customization/theming/theming-pt.md
  docs/data/material/customization/theming/theming-zh.md
  docs/data/material/customization/theming/theming.md
  docs/data/material/getting-started/installation/installation-pt.md
  docs/data/material/getting-started/installation/installation-zh.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/material/guides/interoperability/interoperability-pt.md
  docs/data/material/guides/interoperability/interoperability-zh.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/data/material/migration/migration-v4/v5-component-changes-pt.md
  docs/data/material/migration/migration-v4/v5-component-changes-zh.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
  docs/data/system/getting-started/usage/basics-pt.md
  docs/data/system/getting-started/usage/basics-zh.md
  docs/data/system/styled/styled-pt.md
  docs/data/system/styled/styled-zh.md
  docs/data/system/styled/styled.md
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/2021-developer-survey-results.md
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/2021.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/callback-support-in-style-overrides.md
  docs/pages/blog/june-2019-update.md
  docs/pages/blog/marija-najdova-joining.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/blog/mui-x-v5.md
  docs/src/pages/careers/developer-advocate.md
  docs/src/pages/versions/versions-pt.md
  docs/src/pages/versions/versions-zh.md
  docs/src/pages/versions/versions.md
Labels: docs

#34188 [docs] Move 12 component names to Title Case
  docs/data/base/components/button/button.md
  docs/data/base/components/click-away-listener/click-away-listener.md
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/input/input.md
  docs/data/base/components/menu/menu.md
  docs/data/base/components/modal/modal.md
  docs/data/base/components/popper/popper.md
  docs/data/base/components/select/select.md
  docs/data/base/components/slider/slider.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/tabs/tabs.md
  docs/data/base/pages.ts
  docs/data/joy/components/radio/radio.md
  docs/data/material/pages.ts
  docs/pages/base/api/button-unstyled.json
  docs/pages/base/api/click-away-listener.json
  docs/pages/base/api/form-control-unstyled.json
  docs/pages/base/api/input-unstyled.json
  docs/pages/base/api/menu-item-unstyled.json
  docs/pages/base/api/menu-unstyled.json
  docs/pages/base/api/modal-unstyled.json
  docs/pages/base/api/multi-select-unstyled.json
  docs/pages/base/api/option-group-unstyled.json
  docs/pages/base/api/option-unstyled.json
  docs/pages/base/api/popper-unstyled.json
  docs/pages/base/api/select-unstyled.json
  docs/pages/base/api/slider-unstyled.json
  docs/pages/base/api/switch-unstyled.json
  docs/pages/base/api/tab-panel-unstyled.json
  docs/pages/base/api/tab-unstyled.json
  docs/pages/base/api/tabs-list-unstyled.json
  docs/pages/base/api/tabs-unstyled.json
  docs/pages/blog/2021.md
  docs/scripts/buildApiUtils.test.ts
  docs/translations/translations.json
  packages/mui-base/src/ButtonUnstyled/ButtonUnstyled.tsx
  packages/mui-base/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-base/src/FormControlUnstyled/FormControlUnstyled.tsx
  packages/mui-base/src/InputUnstyled/InputUnstyled.tsx
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.tsx
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.tsx
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.d.ts
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.tsx
  packages/mui-base/src/OptionGroupUnstyled/OptionGroupUnstyled.tsx
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.tsx
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.d.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/mui-base/src/SwitchUnstyled/SwitchUnstyled.tsx
  packages/mui-base/src/TabPanelUnstyled/TabPanelUnstyled.tsx
  packages/mui-base/src/TabUnstyled/TabUnstyled.tsx
  packages/mui-base/src/TabsListUnstyled/TabsListUnstyled.tsx
  packages/mui-base/src/TabsUnstyled/TabsUnstyled.tsx
Labels: docs

#34311 [core] In `typescript-to-proptypes`, respect the value pass to the generic
  docs/data/base/components/select/UnstyledSelectIntroduction.js
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-material/src/CardHeader/CardHeader.js
  packages/typescript-to-proptypes/src/parser.ts
  packages/typescript-to-proptypes/test/generic/input.d.ts
  packages/typescript-to-proptypes/test/generic/output.js
Labels: core

#34330 [website] Fix MUI X subscribe email border style
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
Labels: bug 🐛, website, regression

#34331 [docs] Link the OpenSSF Best Practices card
  README.md
Labels: docs

#34222 [blog] Improve image handling
  docs/pages/blog/2022-tenerife-retreat.md
  docs/pages/blog/first-look-at-joy.md
  docs/pages/blog/introducing-mui-base.md
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/mui-core-v5-migration-update.md
Labels: blog

#34259 [core] Create shared Next.js baseline config
  docs/next.config.js
  docs/nextConfigDocsInfra.js
  docs/pages/_document.js
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/config.ts
  docs/src/modules/components/DemoErrorBoundary.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/modules/sandbox/CodeSandbox.ts
  docs/src/modules/sandbox/Dependencies.ts
  docs/src/modules/sandbox/StackBlitz.ts
  test/e2e-website/material-docs.spec.ts
Labels: docs, core

#34158 [Select][base] Add event parameter to the onChange callback
  docs/data/base/components/select/UnstyledSelectControlled.js
  docs/data/base/components/select/UnstyledSelectControlled.tsx
  docs/data/base/components/select/UnstyledSelectControlled.tsx.preview
  docs/data/base/components/select/UnstyledSelectObjectValues.js
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx.preview
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.js
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.tsx
  docs/data/joy/components/select/SelectClearable.js
  docs/data/joy/components/select/SelectFieldDemo.js
  docs/data/joy/components/select/SelectUsage.js
  packages/mui-base/src/ListboxUnstyled/defaultListboxReducer.test.ts
  packages/mui-base/src/ListboxUnstyled/useControllableReducer.test.tsx
  packages/mui-base/src/ListboxUnstyled/useControllableReducer.ts
  packages/mui-base/src/ListboxUnstyled/useListbox.ts
  packages/mui-base/src/ListboxUnstyled/useListbox.types.ts
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.test.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.types.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.test.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.types.ts
  packages/mui-base/src/SelectUnstyled/useSelect.ts
  packages/mui-base/src/SelectUnstyled/useSelect.types.ts
  packages/mui-joy/src/Select/Select.spec.tsx
  packages/mui-joy/src/Select/Select.test.tsx
  packages/mui-joy/src/Select/SelectProps.ts
Labels: breaking change, component: select, package: base, package: joy

#34343 [TextField] Fix conflict with `Bootstrap` even when label is not defined
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
Labels: bug 🐛, component: text field, package: material

#34152 [blog] The Date Pickers gets a stable v5 release
  docs/pages/blog/date-pickers-stable-v5.js
  docs/pages/blog/date-pickers-stable-v5.md
  docs/public/static/blog/date-pickers-stable-v5/card.png
  docs/public/static/blog/date-pickers-stable-v5/date-picker-versions.png
  docs/public/static/blog/date-pickers-stable-v5/monkeyuser-237-fov.png
Labels: blog

#34381 v5.10.6
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#34345 [docs] Refine the use of MUI vs. Material UI
  docs/data/material/getting-started/usage/usage.md
Labels: docs

#34386 [blog] Fix typo in date-pickers v5 stable
  docs/public/static/blog/date-pickers-stable-v5/card.png
Labels: blog

#34346 [docs] Improve social sharing of docs pages
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/TopLayoutBlog.js
Labels: docs

#33960 [system] Replace `enableSystem` with `defaultMode`
  docs/data/material/experimental-api/css-variables/css-variables.md
  packages/mui-system/src/cssVars/getInitColorSchemeScript.test.js
  packages/mui-system/src/cssVars/getInitColorSchemeScript.tsx
Labels: new feature, breaking change, package: system

#33801 [Chip] Add chip classes
  docs/pages/material-ui/api/chip.json
  docs/translations/api-docs/chip/chip.json
  packages/mui-material/src/Chip/Chip.test.js
  packages/mui-material/src/Chip/chipClasses.ts
Labels: bug 🐛, component: chip, package: material

#34076 [system] Fix incorrect type of `shape.borderRadius` in theme
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-system/src/createTheme/shape.d.ts
Labels: bug 🐛, typescript, package: system

#34335 [Stepper] Fix optional label is not centered when `alternativeLabel` is used
  packages/mui-material/src/StepLabel/StepLabel.js
  test/regressions/fixtures/StepLabel/AlternativeLabelOptionalText.js
Labels: bug 🐛, component: stepper

#34399 [website] Add date range picker to pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, MUI X

#34409 [blog] MUI Base announcement typo fixed
  docs/pages/blog/introducing-mui-base.md
Labels: blog

#34406 [blog] Update date on date pickers v5 release blog post
  docs/pages/blog/date-pickers-stable-v5.md
Labels: blog

#34131 [CssVarsProvider][Material UI] Exclude dark mode variables from `:root` stylesheet
  packages/mui-material/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/styles/excludeVariablesFromRoot.test.ts
  packages/mui-material/src/styles/excludeVariablesFromRoot.ts
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/cssVarsParser.ts
  test/regressions/fixtures/CssVarsProvider/MaterialUIDefaultDark.js
  test/regressions/fixtures/CssVarsProvider/MaterialUIDefaultDarkToLight.js
Labels: package: material

#34400 [docs] Notification pickers v5 release blog
  docs/notifications.json
Labels: docs, blog

#34403 [Joy] Add `Divider` component
  docs/data/joy/components/card/MultipleInteractionCard.js
  docs/data/joy/components/card/MultipleInteractionCard.tsx
  docs/data/joy/components/card/OverflowCard.js
  docs/data/joy/components/card/OverflowCard.tsx
  docs/data/joy/components/card/RowCard.js
  docs/data/joy/components/card/RowCard.tsx
  docs/data/joy/components/divider/DividerChildPosition.js
  docs/data/joy/components/divider/DividerInCard.js
  docs/data/joy/components/divider/DividerInModalDialog.js
  docs/data/joy/components/divider/DividerText.js
  docs/data/joy/components/divider/DividerUsage.js
  docs/data/joy/components/divider/FullscreenOverflowDivider.js
  docs/data/joy/components/divider/VerticalDividerText.js
  docs/data/joy/components/divider/VerticalDividers.js
  docs/data/joy/components/divider/divider.md
  docs/data/joy/components/modal/AlertDialogModal.js
  docs/data/joy/components/switch/ExampleTailwindSwitch.js
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-divider.js
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/Divider/Divider.test.tsx
  packages/mui-joy/src/Divider/Divider.tsx
  packages/mui-joy/src/Divider/DividerProps.ts
  packages/mui-joy/src/Divider/dividerClasses.ts
  packages/mui-joy/src/Divider/index.ts
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/ListDivider/ListDividerProps.ts
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
  packages/mui-joy/src/styles/extendTheme.ts
  test/regressions/index.js
Labels: component: divider, package: joy

#34412 [website] Adds Bilal to about page
  docs/pages/about.tsx
  docs/public/static/branding/about/bilal.png
Labels: website

#34452 [Slider] Fix typo in the comments in the source
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.js
Labels: docs, component: slider, package: base

#34446 [docs] Fix webpack file name to the standard: `webpack.config.js`
  docs/data/material/guides/styled-engine/styled-engine.md
Labels: docs, package: styled-engine

#34455 [Joy][Chip] Fix unbinded `onClick` prop
  packages/mui-joy/src/Chip/Chip.test.js
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/Chip/ChipProps.ts
Labels: bug 🐛, component: chip, package: joy

#34437 [system] Fix parsing of hsla colors in getLuminance
  packages/mui-system/src/colorManipulator.js
  packages/mui-system/src/colorManipulator.test.js
Labels: bug 🐛, package: system

#34429 [SvgIcon] Fix passing an ownerState to SvgIcon changes the font size
  docs/pages/material-ui/api/svg-icon.json
  docs/translations/api-docs/svg-icon/svg-icon.json
  packages/mui-joy/src/SvgIcon/SvgIcon.test.js
  packages/mui-joy/src/SvgIcon/SvgIcon.tsx
  packages/mui-material/src/SvgIcon/SvgIcon.js
  packages/mui-material/src/SvgIcon/SvgIcon.test.js
  packages/mui-material/src/SvgIcon/svgIconClasses.ts
Labels: bug 🐛, component: SvgIcon, package: material, package: joy

#34413 [core] Document some types in @mui/styled-engine-sc
  packages/mui-styled-engine/src/index.d.ts
Labels: typescript, core, package: styled-engine

#34168 [docs] Standardize all MUI Core "Installation" pages
  docs/data/base/getting-started/installation/installation.md
  docs/data/joy/getting-started/installation/installation.md
  docs/data/material/getting-started/design-resources/design-resources.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/material/pages.ts
  docs/data/system/getting-started/installation/installation.md
  docs/pages/material-ui/getting-started/design-resources.js
  docs/translations/translations.json
Labels: docs

#34289 [Tooltip] Add undefined, null or false in `title`
  docs/pages/material-ui/api/tooltip.json
  docs/translations/api-docs/tooltip/tooltip-pt.json
  docs/translations/api-docs/tooltip/tooltip-zh.json
  docs/translations/api-docs/tooltip/tooltip.json
  packages/mui-material/src/Tooltip/Tooltip.d.ts
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
Labels: new feature, component: tooltip, package: material

#34166 [docs][base] Update `useMenu` and `useMenuItem` hooks demo
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/UseMenu.tsx.preview
Labels: docs, component: menu, package: base

#34479 [docs] Fix typo in `Back to top` section in AppBar docs
  docs/data/material/components/app-bar/app-bar.md
Labels: docs, component: app bar, package: material

#34475 [docs] Fix typo in `Grid` docs
  docs/data/material/components/grid/grid.md
Labels: docs, component: Grid, package: material

#34478 [Radio][Joy UI] spread `readOnly` and `required` to input
  packages/mui-joy/src/Radio/Radio.test.js
  packages/mui-joy/src/Radio/Radio.tsx
Labels: bug 🐛, component: radio, package: joy

#34477 [Checkbox][Joy UI] spread `value`, `required`, and `readOnly` to input
  packages/mui-joy/src/Checkbox/Checkbox.test.js
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Checkbox/CheckboxProps.ts
Labels: bug 🐛, component: checkbox, package: joy

#34476 [docs] Fix grammar in `Grid` docs
  docs/data/material/components/grid/grid.md
Labels: docs, component: Grid, package: material

#33932 [MultiSelect][base] Require a single tap to select an item on mobile Chrome
  packages/mui-base/src/ListboxUnstyled/useListbox.ts
  packages/mui-base/src/ListboxUnstyled/useListbox.types.ts
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.test.tsx
Labels: bug 🐛, component: select, package: base

#34449 [test] Set the URL to better match real environments
  test/utils/createDOM.js
Labels: test

#34196 [docs] Send feedback directly to a dedicated slack channel
  docs/next.config.js
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: docs

#34448 [Slider] Only call onChange if the value changed
  packages/mui-base/src/SliderUnstyled/useSlider.ts
  packages/mui-material/src/Slider/Slider.test.js
Labels: component: slider, package: base, dx, enhancement

#34384 [lab][deps] Move @mui/types to dependencies
  packages/mui-lab/package.json
Labels: typescript, package: lab

#34417 [docs] Update the guide for migrating to TSS
  docs/data/material/migration/migration-v4/migrating-from-jss-pt.md
  docs/data/material/migration/migration-v4/migrating-from-jss-zh.md
  docs/data/material/migration/migration-v4/migrating-from-jss.md
Labels: docs, v5.x migration

#34456 [TextareaAutosize] Test for error when used with React 18 & Suspense
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.js
  test/e2e/fixtures/TextareaAutosize/TextareaAutosizeSuspense.tsx
  test/e2e/index.js
  test/e2e/index.test.ts
Labels: test, component: TextareaAutosize

#34451 [material] Make @emotion/* fully supported in all Material UI components
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/Checkbox/Checkbox.js
  packages/mui-material/src/DialogContentText/DialogContentText.js
  packages/mui-material/src/InputLabel/InputLabel.js
  packages/mui-material/src/InputLabel/InputLabel.test.js
  packages/mui-material/src/ListItemButton/ListItemButton.js
  packages/mui-material/src/MenuItem/MenuItem.js
  packages/mui-material/src/Radio/Radio.js
Labels: package: material

#34482 5.10.7
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#34485 [docs] Use mouse pointer on esc button in the search modal
  docs/src/modules/components/AppSearch.js
Labels: docs

#34492 [Joy] Miscellaneous fixes
  docs/data/joy/components/chip/DeleteButtonChip.js
  docs/data/joy/components/chip/DeleteButtonChip.tsx
  docs/data/joy/components/chip/DeleteButtonChip.tsx.preview
  docs/data/joy/components/divider/DividerChildPosition.js
  docs/data/joy/components/radio/ExampleTiers.js
  docs/data/joy/components/select/SelectDecorators.js
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Button/ButtonProps.ts
  packages/mui-joy/src/Checkbox/CheckboxProps.ts
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/Chip/ChipProps.ts
  packages/mui-joy/src/ChipDelete/ChipDelete.tsx
  packages/mui-joy/src/ChipDelete/ChipDeleteProps.ts
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/FormControl/FormControl.tsx
  packages/mui-joy/src/FormLabel/FormLabel.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/IconButton/IconButtonProps.ts
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Link/LinkProps.ts
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButtonProps.ts
  packages/mui-joy/src/Menu/Menu.tsx
  packages/mui-joy/src/MenuItem/MenuItem.test.js
  packages/mui-joy/src/MenuItem/MenuItem.tsx
  packages/mui-joy/src/MenuItem/MenuItemProps.ts
  packages/mui-joy/src/MenuItem/menuItemClasses.ts
  packages/mui-joy/src/MenuList/MenuList.tsx
  packages/mui-joy/src/ModalClose/ModalClose.tsx
  packages/mui-joy/src/Option/Option.tsx
  packages/mui-joy/src/Radio/RadioProps.ts
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
  packages/mui-joy/src/Slider/Slider.test.js
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-joy/src/Switch/SwitchProps.ts
  packages/mui-joy/src/Tab/Tab.test.tsx
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/Tab/TabProps.ts
  packages/mui-joy/src/TabPanel/TabPanel.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/internal/svg-icons/Cancel.tsx
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/focus.ts
  packages/mui-joy/src/styles/types/theme.ts
Labels: package: joy

#34494 [website] Move the React Engineer role from open to next
  docs/pages/careers.tsx
  docs/src/pages/careers/react-engineer-core.md
Labels: website

#34445 [Popover] Add `ownerState` on the paper slot
  packages/mui-material/src/Popover/Popover.js
  packages/mui-material/src/Popover/Popover.test.js
Labels: bug 🐛, component: Popover, package: material

#34481 [docs] Capitalize Material Design on the Breakpoints page
  docs/data/material/customization/breakpoints/breakpoints.md
Labels: docs

#33958 [docs] Add CSS variables documentation for Material UI
  docs/data/material/experimental-api/css-theme-variables/customization.md
  docs/data/material/experimental-api/css-theme-variables/migration.md
  docs/data/material/experimental-api/css-theme-variables/overview.md
  docs/data/material/experimental-api/css-theme-variables/usage.md
  docs/data/material/pages.ts
  docs/pages/material-ui/experimental-api/css-theme-variables/customization.js
  docs/pages/material-ui/experimental-api/css-theme-variables/migration.js
  docs/pages/material-ui/experimental-api/css-theme-variables/overview.js
  docs/pages/material-ui/experimental-api/css-theme-variables/usage.js
  docs/public/_redirects
  docs/translations/translations.json
Labels: docs

#33278 [Autocomplete] Skip filtering when list of options is loading
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.test.js
Labels: component: autocomplete

#34245 [Fab] Add `disabled` class to FAB button
  packages/mui-material/src/Fab/Fab.js
  packages/mui-material/src/Fab/Fab.test.js
Labels: bug 🐛, component: Fab

#33526 [Slider] Fixed incorrect marks displayed due to duplicate keys in range
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.js
  packages/mui-material/src/Slider/Slider.test.js
Labels: component: slider, PR: needs test

#34535 [TextField] Fix typo in FormControlLabel declaration file
  packages/mui-material/src/FormControlLabel/FormControlLabel.d.ts
Labels: component: text field, package: material
