Repository mui/material-ui, pull requests merged in 2022-11, with the labels that each got.

#34917 [website] Migrate Pricing page to use CSS theme variables
  docs/pages/pricing.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/pricing/EarlyBird.tsx
  docs/src/components/pricing/FAQ.tsx
  docs/src/components/pricing/HeroPricing.tsx
  docs/src/components/pricing/PricingList.tsx
  docs/src/components/pricing/PricingTable.tsx
Labels: package: styles, website

#34920 [website] Migrate Design-kits page to use CSS theme variables
  docs/pages/design-kits.tsx
  docs/src/components/home/DesignKits.tsx
  docs/src/components/productDesignKit/DesignKitDemo.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/productDesignKit/DesignKitHero.tsx
Labels: package: styles, website

#34748 [website] Remove date-io from the docs dependencies
  docs/package.json
  renovate.json
  yarn.lock
Labels: website

#34916 [base] Avoid calling setstate during renders
  packages/mui-base/src/FormControlUnstyled/FormControlUnstyled.tsx
Labels: package: base

#34954 [core] Create the docs theme once
  docs/src/BrandingProvider.tsx
  docs/src/modules/brandingTheme.ts
Labels: docs, core

#34382 [docs] Add author and published_time meta tags
  docs/pages/index.tsx
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog

#34970 [examples] Next.js examples v13 - links
  examples/nextjs-with-typescript/src/Link.tsx
  examples/nextjs/src/Link.js
Labels: examples

#34984 [docs] Add a new gold sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: docs, website

#34992 Added a missing key attribute in getInitColorScheme to fix key issue
  packages/mui-system/src/cssVars/getInitColorSchemeScript.tsx
Labels: bug 🐛, package: system

#34971 [examples] Next.js examples v13 - fonts
  examples/nextjs-with-typescript/package.json
  examples/nextjs-with-typescript/pages/_document.tsx
  examples/nextjs-with-typescript/src/theme.ts
  examples/nextjs/package.json
  examples/nextjs/pages/_document.js
  examples/nextjs/src/theme.js
Labels: examples

#34755 [docs] Explain the usage of Select's onOpen/onClose in the uncontrolled mode
  docs/translations/api-docs/select/select.json
  packages/mui-material/src/Select/Select.d.ts
  packages/mui-material/src/Select/Select.js
Labels: docs, component: select

#34972 [docs] New API design rule disabled > disable
  docs/data/material/guides/api/api.md
Labels: docs

#34951 [docs] Fix code display in RTL
  docs/src/components/markdown/MarkdownElement.tsx
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/MarkdownElement.js
Labels: docs

#34870 [docs] Live demos v2
  docs/data/material/components/app-bar/app-bar-pt.md
  docs/data/material/components/app-bar/app-bar-zh.md
  docs/data/material/components/app-bar/app-bar.md
  docs/data/material/components/drawers/drawers-pt.md
  docs/data/material/components/drawers/drawers-zh.md
  docs/data/material/components/drawers/drawers.md
  docs/package.json
  docs/packages/markdown/extractImports.js
  docs/packages/markdown/loader.js
  docs/src/modules/components/CodeCopyButton.tsx
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DemoEditorError.tsx
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/HighlightedCode.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/ReactRunner.tsx
  docs/translations/translations.json
  yarn.lock
Labels: docs

#34838 [docs] Revise and expand Joy UI "Alert" page
  docs/data/joy/components/alert/AlertBasic.js
  docs/data/joy/components/alert/AlertBasic.tsx
  docs/data/joy/components/alert/AlertBasic.tsx.preview
  docs/data/joy/components/alert/AlertColors.js
  docs/data/joy/components/alert/AlertColors.tsx
  docs/data/joy/components/alert/AlertSizes.js
  docs/data/joy/components/alert/AlertSizes.tsx
  docs/data/joy/components/alert/AlertSizes.tsx.preview
  docs/data/joy/components/alert/AlertUsage.js
  docs/data/joy/components/alert/AlertVariants.js
  docs/data/joy/components/alert/AlertVariants.tsx
  docs/data/joy/components/alert/AlertVariants.tsx.preview
  docs/data/joy/components/alert/AlertVariousStates.js
  docs/data/joy/components/alert/AlertVariousStates.tsx
  docs/data/joy/components/alert/alert.md
Labels: docs, component: alert, package: joy

#34648 [Select] Fix custom options menu not opening on Avatar click
  docs/data/joy/components/select/select-pt.md
  docs/data/joy/components/select/select-zh.md
  docs/data/joy/components/select/select.md
  packages/mui-joy/src/Select/Select.test.tsx
  packages/mui-joy/src/Select/Select.tsx
Labels: component: select, package: joy

#35027 [docs] Improve code font family
  docs/src/modules/brandingTheme.ts
Labels: bug 🐛, docs, regression

#34839 [docs] Add a guide for setting dark mode by default
  docs/data/joy/customization/dark-mode/DarkModeByDefault.js
  docs/data/joy/customization/dark-mode/DarkModeByDefault.tsx
  docs/data/joy/customization/dark-mode/IdentifySystemMode.js
  docs/data/joy/customization/dark-mode/IdentifySystemMode.tsx
  docs/data/joy/customization/dark-mode/IdentifySystemMode.tsx.preview
  docs/data/joy/customization/dark-mode/ModeToggle.js
  docs/data/joy/customization/dark-mode/ModeToggle.tsx
  docs/data/joy/customization/dark-mode/dark-mode-pt.md
  docs/data/joy/customization/dark-mode/dark-mode-zh.md
  docs/data/joy/customization/dark-mode/dark-mode.md
  docs/data/joy/getting-started/tutorial/tutorial.md
  docs/data/joy/main-features/dark-mode-optimization/dark-mode-optimization.md
  docs/data/joy/main-features/dark-mode-optimization/perfect-dark-mode-pt.md
  docs/data/joy/main-features/dark-mode-optimization/perfect-dark-mode-zh.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/customization/dark-mode.js
  docs/public/_redirects
Labels: docs, package: joy

#35035 [core] Improve the changelog for v5.10.13 release
  CHANGELOG.md
Labels: core

#35030 [website] Update DoiT International logo and links with new brand
  CHANGELOG.md
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/public/static/sponsors/doit-dark.svg
  docs/public/static/sponsors/doit-light.svg
  docs/public/static/sponsors/doit-square.svg
  docs/public/static/sponsors/doit.svg
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/modules/components/DiamondSponsors.js
Labels: website

#35044 [Joy] Miscellaneous fixes
  docs/data/joy/components/link/DecoratorExamples.js
  docs/data/joy/components/select/SelectUsage.js
  docs/data/joy/components/typography/DecoratorExamples.js
  docs/data/joy/components/typography/NestedTypography.js
  docs/data/joy/components/typography/TypographyDecorators.js
  docs/data/joy/customization/dark-mode/IdentifySystemMode.js
  docs/data/joy/customization/dark-mode/IdentifySystemMode.tsx
  docs/src/modules/components/JoyUsageDemo.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/CssBaseline/CssBaseline.tsx
  packages/mui-joy/src/FormControl/FormControl.tsx
  packages/mui-joy/src/GlobalStyles/index.ts
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListSubheader/ListSubheader.tsx
  packages/mui-joy/src/ListSubheader/ListSubheaderProps.ts
  packages/mui-joy/src/Menu/Menu.tsx
  packages/mui-joy/src/MenuItem/MenuItem.tsx
  packages/mui-joy/src/MenuList/MenuList.tsx
  packages/mui-joy/src/ModalClose/ModalClose.tsx
  packages/mui-joy/src/Option/Option.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/TabList/TabList.tsx
  packages/mui-joy/src/TabList/TabListProps.ts
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
Labels: package: joy

#35028 [core] Ignore unrelated folders from github actions
  .github/workflows/ci-check.yml
  .github/workflows/ci.yml
Labels: core

#35061 [Material UI] Add `palette.background.defaultChannel` token
  packages/mui-material/src/styles/CssVarsProvider.test.js
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-material/src/themeCssVarsAugmentation/index.d.ts
Labels: package: material

#35053 [docs] Improve code font family v2
  docs/src/modules/brandingTheme.ts
Labels: docs

#34976 [website] Migrate blog pages to use CSS theme variables
  docs/pages/blog.tsx
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/TopLayoutBlog.js
Labels: website, blog

#35097 [core] Fix job name to match the CI
  .github/workflows/ci-check.yml
Labels: core

#35098 [core] Revert CI
  .github/workflows/ci-check.yml
  .github/workflows/ci.yml
Labels: core

#35064 [docs] Fix scroll issue on expanded live demos
  docs/src/modules/components/DemoEditor.tsx
Labels: bug 🐛, docs

#35089 [docs] Add a new gold sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: docs

#35046 [website] Link respective repositories in product pages
  docs/pages/core.tsx
  docs/pages/design-kits.tsx
  docs/pages/x.tsx
  docs/src/layouts/AppHeader.tsx
Labels: website, enhancement

#35096 [docs] Fix `MarkdownElement` regression from adding CSS variables
  docs/src/modules/components/MarkdownElement.js
Labels: bug 🐛, docs, regression

#35036 [core] Convert scripts to ES modules
  .circleci/config.yml
  .eslintrc.js
  .mocharc.js
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  scripts/build.mjs
  scripts/buildTypes.mjs
  scripts/copyFiles.mjs
  scripts/deduplicate.mjs
  scripts/jsonlint.mjs
  scripts/listChangedFiles.mjs
  scripts/listChangedFiles.test.mjs
  scripts/prettier.mjs
  scripts/pushArgos.mjs
  scripts/releaseChangelog.mjs
  scripts/releaseTag.mjs
  scripts/testBuiltTypes.mjs
  scripts/useReactVersion.mjs
  scripts/useTypescriptDistTag.mjs
  scripts/utils.mjs
  test/README.md
  test/karma.conf.js
Labels: core

#35106 [docs] Fix bugs with live edit demos
  docs/src/modules/components/Demo.js
Labels: bug 🐛, docs

#34521 [IconButton] custom color causes type error
  packages/mui-material/src/IconButton/IconButton.js
  packages/mui-material/src/IconButton/IconButton.test.js
Labels: bug 🐛, component: icon button

#34798 [docs] Allows to access the next MUI-X
  docs/src/modules/components/AppNavDrawer.js
Labels: docs

#34901 [core] Accessibility - increase default contrastThreshold for WCAG AA compliance
  docs/data/material/customization/color/color.md
  docs/data/material/customization/palette/palette.md
Labels: accessibility, core

#34987 [Unstable_Gridv2] sorted responsize keys based on breakpoint value
  packages/mui-system/src/Unstable_Grid/gridGenerator.test.js
  packages/mui-system/src/Unstable_Grid/gridGenerator.ts
Labels: bug 🐛, component: Grid, PR: needs test

#35003 [Joy] Export `FormControl`, `LinearProgress` and `ListSubheader` components from `@mui/joy`
  packages/mui-joy/src/index.ts
Labels: package: joy

#35108 [docs] Fix code editor styles mismatches
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/ad.styles.js
Labels: bug 🐛, docs

#35093 [website] Fix design kits showcase throwing an error
  docs/src/components/home/DesignKits.tsx
  docs/src/components/home/StoreTemplatesBanner.tsx
Labels: website

#35076 [docs] Correct the keepMounted section on the Drawer page
  docs/data/material/components/drawers/drawers.md
Labels: docs, component: SwipeableDrawer

#33822 [Autocomplete] Remove tags with the Delete key
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: component: autocomplete, enhancement

#34062 [core] Use pretty-quick instead of custom script
  .eslintignore
  package.json
  scripts/jsonlint.mjs
  scripts/listChangedFiles.mjs
  scripts/listChangedFiles.test.mjs
  scripts/prettier.mjs
  yarn.lock
Labels: core

#35148 [Joy] Saturate a bit the gray palette
  packages/mui-joy/src/colors/colors.ts
Labels: package: joy, design: joy

#35058 [docs] Update Joy UI templates to use latest components
  docs/data/joy/getting-started/templates/email/App.tsx
  docs/data/joy/getting-started/templates/email/components/EmailContent.tsx
  docs/data/joy/getting-started/templates/email/components/Layout.tsx
  docs/data/joy/getting-started/templates/email/components/Menu.tsx
  docs/data/joy/getting-started/templates/email/components/Navigation.tsx
  docs/data/joy/getting-started/templates/email/theme.tsx
  docs/data/joy/getting-started/templates/files/App.tsx
  docs/data/joy/getting-started/templates/files/components/Layout.tsx
  docs/data/joy/getting-started/templates/files/components/Menu.tsx
  docs/data/joy/getting-started/templates/files/components/Navigation.tsx
  docs/data/joy/getting-started/templates/files/theme.tsx
  docs/data/joy/getting-started/templates/team/App.tsx
  docs/data/joy/getting-started/templates/team/components/Layout.tsx
  docs/data/joy/getting-started/templates/team/components/Menu.tsx
  docs/data/joy/getting-started/templates/team/theme.tsx
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
Labels: docs

#35111 [website] Improve visual design app bar
  docs/src/layouts/AppHeader.tsx
  docs/src/modules/components/AppFrame.js
Labels: design, website

#35153 [Autocomplete][Joy] Fix types
  packages/mui-joy/src/Autocomplete/Autocomplete.spec.tsx
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-joy/src/Autocomplete/AutocompleteProps.ts
Labels: component: autocomplete, package: joy

#35157 [docs] Make navbar backdrop filter consistent with website
  docs/src/modules/components/AppFrame.js
Labels: docs, design

#35152 [docs] Revise the Joy UI "Avatar" component page
  docs/data/joy/components/avatar/FallbackAvatars.js
  docs/data/joy/components/avatar/FallbackAvatars.tsx
  docs/data/joy/components/avatar/FallbackAvatars.tsx.preview
  docs/data/joy/components/avatar/avatar.md
Labels: docs, component: avatar, package: joy

#35163 [docs] Fix undo/redo in live editor
  docs/src/modules/components/Demo.js
Labels: bug 🐛, docs, docs-infra

#34811 [docs] Add Joy UI theme typography page
  docs/data/joy/customization/theme-typography/CustomTypographyLevel.js
  docs/data/joy/customization/theme-typography/CustomTypographyLevel.tsx
  docs/data/joy/customization/theme-typography/CustomTypographyLevel.tsx.preview
  docs/data/joy/customization/theme-typography/DefaultTypographySystem.js
  docs/data/joy/customization/theme-typography/NewTypographyLevel.js
  docs/data/joy/customization/theme-typography/theme-typography.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/customization/theme-typography.js
Labels: docs, package: joy

#35179 [docs] Hotfix missing styles in dark mode
  docs/src/modules/components/MarkdownElement.js
Labels: docs, regression

#35174 [typescript] Add `background.defaultChannel` to `CssVarsPalette`
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
Labels: typescript

#35171 [docs] Explain how the `error` prop works in the Unstyled Input
  docs/translations/api-docs/input-unstyled/input-unstyled.json
  packages/mui-base/src/InputUnstyled/InputUnstyled.tsx
  packages/mui-base/src/InputUnstyled/InputUnstyled.types.ts
  packages/mui-base/src/InputUnstyled/useInput.types.ts
Labels: docs, component: text field, package: base

#35170 [core] Ensure that prettier CI step fails when code is badly formatted
  .circleci/config.yml
Labels: core

#34642 [core] Upgrade eslint-config-airbnb-typescript
  .eslintrc.js
  docs/data/joy/customization/dark-mode/IdentifySystemMode.js
  docs/data/joy/customization/dark-mode/IdentifySystemMode.tsx
  package.json
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-joy/src/styles/ColorInversion.test.js
  packages/mui-joy/src/styles/ColorInversion.tsx
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/utils/useSlot.test.tsx
  packages/mui-lab/src/TreeView/TreeView.js
  packages/mui-material/src/Accordion/Accordion.test.js
  packages/mui-material/src/Menu/Menu.test.js
  packages/mui-utils/src/elementAcceptingRef.test.tsx
  yarn.lock
Labels: core

#35189 [docs] Inform that pickers are in X repository
  docs/data/material/guides/pickers-migration/pickers-migration.md
Labels: docs

#35182 [Select][base] Add attributes to conform with ARIA 1.2
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.test.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.test.tsx
  packages/mui-base/src/SelectUnstyled/useSelect.ts
  packages/mui-base/test/integration/SelectUnstyled.test.tsx
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/Select/Select.test.tsx
Labels: accessibility, component: select, package: base

#35162 [docs] Iterating on recent Joy UI Component page updates
  docs/data/joy/components/alert/AlertColors.js
  docs/data/joy/components/alert/AlertColors.tsx
  docs/data/joy/components/alert/alert.md
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
  docs/data/joy/components/avatar/AvatarVariants.js
  docs/data/joy/components/avatar/AvatarVariants.tsx
  docs/data/joy/components/avatar/AvatarVariants.tsx.preview
  docs/data/joy/components/avatar/BasicAvatar.js
  docs/data/joy/components/avatar/BasicAvatar.tsx.preview
  docs/data/joy/components/avatar/BasicAvatars.js
  docs/data/joy/components/avatar/BasicAvatars.tsx
  docs/data/joy/components/avatar/BasicAvatars.tsx.preview
  docs/data/joy/components/avatar/avatar.md
Labels: docs, package: joy

#35173 [website] Disable SEO for performance pages
  docs/public/_headers
Labels: bug 🐛, website

#35025 [docs] Fix typos in section titles
  docs/data/material/customization/how-to-customize/how-to-customize-pt.md
  docs/data/material/customization/how-to-customize/how-to-customize-zh.md
  docs/data/material/customization/how-to-customize/how-to-customize.md
Labels: docs

#35180 [website] Exclude experiment pages in production
  docs/next.config.js
  docs/nextConfigDocsInfra.js
  docs/pages/experiments/index.js
Labels: bug 🐛, website, regression

#35216 [website] Fix theme mode toggle state
  docs/pages/_document.js
  docs/src/BrandingCssVarsProvider.tsx
  docs/src/components/header/ThemeModeToggle.tsx
Labels: bug 🐛, website

#35214 [docs] Fix confusion in TOCs when reaching scroll bottom
  docs/src/modules/components/AppTableOfContents.js
Labels: docs, design, docs-infra

#35154 [l10n] Add Urdu (ur-PK) locale
  docs/data/material/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: l10n

#34650 [Material You] Add theme structure & Button component
  docs/pages/experiments/md3/index.tsx
  packages/mui-material-next/src/Button/Button.d.ts
  packages/mui-material-next/src/Button/Button.js
  packages/mui-material-next/src/Button/Button.spec.tsx
  packages/mui-material-next/src/Button/Button.test.js
  packages/mui-material-next/src/Button/Button.tsx
  packages/mui-material-next/src/Button/Button.types.ts
  packages/mui-material-next/src/Button/Ripple.js
  packages/mui-material-next/src/Button/Ripple.test.js
  packages/mui-material-next/src/Button/TouchRipple.d.ts
  packages/mui-material-next/src/Button/TouchRipple.js
  packages/mui-material-next/src/Button/TouchRipple.test.js
  packages/mui-material-next/src/Button/buttonClasses.ts
  packages/mui-material-next/src/Button/index.ts
  packages/mui-material-next/src/Button/touchRippleClasses.ts
  packages/mui-material-next/src/styles/CssVarsProvider.tsx
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/createDarkColorScheme.ts
  packages/mui-material-next/src/styles/createLightColorScheme.ts
  packages/mui-material-next/src/styles/defaultTheme.ts
  packages/mui-material-next/src/styles/extendTheme.ts
  packages/mui-material-next/src/styles/index.ts
  packages/mui-material-next/src/styles/palette.ts
  packages/mui-material-next/src/styles/states.ts
  packages/mui-material-next/src/styles/styleFunctionSx.ts
  packages/mui-material-next/src/styles/styled.ts
  packages/mui-material-next/src/styles/typeface.ts
  packages/mui-material-next/src/styles/typescale.ts
  packages/mui-material/src/Paper/Paper.js
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/getOverlayAlpha.ts
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  packages/mui-system/src/responsivePropType.d.ts
  packages/mui-system/src/spacing.d.ts
  packages/mui-system/src/style.d.ts
  packages/mui-system/src/style.js
  test/regressions/fixtures/ButtonNext/IconLabelButtonsNext.js
  test/regressions/fixtures/ButtonNext/MultilineButtonNext.js
Labels: design: material, proof of concept

#35101 Convert icons scripts to ESM
  .eslintrc.js
  modules/waterfall/Queue.mjs
  modules/waterfall/retry.mjs
  modules/waterfall/sleep.mjs
  modules/waterfall/waitUntil.mjs
  package.json
  packages/mui-icons-material/builder.mjs
  packages/mui-icons-material/builder.test.mjs
  packages/mui-icons-material/lib/esm/index.js
  packages/mui-icons-material/lib/index.js
  packages/mui-icons-material/package.json
  packages/mui-icons-material/renameFilters/default.mjs
  packages/mui-icons-material/renameFilters/material-design-icons.mjs
  packages/mui-icons-material/scripts/download.mjs
Labels: core

#35160 [Autocomplete] Fix keyboard navigation when using custom popover
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: component: autocomplete

#35217 [Joy] Fix a couple documentation errors
  docs/data/joy/components/autocomplete/Playground.js
  docs/data/joy/components/divider/divider.md
Labels: docs, package: joy, design: joy

#35221 5.10.15
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#35193 [core] Migrate `describeConformance` to TypeScript
  package.json
  test/utils/describeConformance.tsx
  test/utils/describeConformanceUnstyled.tsx
  yarn.lock
Labels: test, core

#35231 [Chip] Remove unnecessary handleKeyDown event handler
  packages/mui-material/src/Chip/Chip.test.js
Labels: test, component: chip

#35192 [Base] Allow useSlotProps to receive undefined elementType
  packages/mui-base/src/utils/appendOwnerState.test.ts
  packages/mui-base/src/utils/appendOwnerState.ts
  packages/mui-base/src/utils/useSlotProps.ts
Labels: package: base

#33883 [docs] Improve the useSelect demo styling
  docs/data/base/components/select/UnstyledSelectIntroduction.js
  docs/data/base/components/select/UnstyledSelectIntroduction.tsx
  docs/data/base/components/select/UseSelect.js
  docs/data/base/components/select/UseSelect.tsx
  docs/data/base/components/select/select.md
Labels: docs, component: select, package: base

#35165 [core] Remove unused pattern
  package.json
Labels: test

#35082 [SwipeableDrawer] Make paper ref accessible
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: bug 🐛, component: drawer, component: SwipeableDrawer

#35232 [docs] Fix migration feedback
  docs/data/material/migration/migration-v4/migration-v4.md
Labels: docs

#35092 [examples] Updated Remix examples with the lates changes using React 18
  examples/remix-with-typescript/app/entry.client.tsx
  examples/remix-with-typescript/package.json
Labels: package: system

#35239 [system] Remove unnecessary parsed theme
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/cssVarsParser.test.ts
  packages/mui-system/src/cssVars/cssVarsParser.ts
Labels: package: system

#35246 [examples] Fix Next.js errors
  examples/nextjs-with-typescript-v4-migration/package.json
  examples/nextjs-with-typescript-v4-migration/src/Link.tsx
  examples/nextjs-with-typescript/src/Link.tsx
Labels: bug 🐛, regression, examples

#35057 [theme] Fix TypeScript type for custom variants in responsive font sizes
  packages/mui-material/src/styles/responsiveFontSizes.d.ts
  packages/mui-material/test/typescript/moduleAugmentation/reponsiveFontSizes.tsconfig.json
  packages/mui-material/test/typescript/moduleAugmentation/responsiveFontSizes.spec.ts
Labels: bug 🐛, typescript, customization: theme

#35065 [Chip] Add `skipFocusWhenDisabled` prop to not allow focussing deletable chip if disabled
  docs/pages/material-ui/api/chip.json
  docs/translations/api-docs/chip/chip.json
  packages/mui-material/src/Chip/Chip.d.ts
  packages/mui-material/src/Chip/Chip.js
  packages/mui-material/src/Chip/Chip.test.js
Labels: component: chip, enhancement

#35168 [FormControl] Add missing types in `useFormControl`
  packages/mui-material/src/FormControl/FormControlContext.js
  packages/mui-material/src/FormControl/FormControlContext.ts
  packages/mui-material/src/FormControl/index.d.ts
  packages/mui-material/src/FormControl/useFormControl.d.ts
  packages/mui-material/src/FormControl/useFormControl.js
  packages/mui-material/src/FormControl/useFormControl.ts
Labels: bug 🐛, typescript, component: FormControl

#33820 [IconButton] Add missing color classes
  docs/pages/material-ui/api/icon-button.json
  docs/translations/api-docs/icon-button/icon-button.json
  packages/mui-material/src/IconButton/IconButton.test.js
  packages/mui-material/src/IconButton/iconButtonClasses.ts
Labels: bug 🐛, component: icon button, typescript

#34641 [docs] Improve feedback precision
  .github/ISSUE_TEMPLATE/4.docs-feedback.yml
  docs/data/material/guides/pickers-migration/pickers-migration.md
  docs/next.config.js
  docs/packages/markdown/parseMarkdown.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/MarkdownElement.js
  docs/translations/translations.json
Labels: docs, docs-infra

#35275 [Autocomplete] Fix inferred value type when `multiple` prop is `true`
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.spec.tsx
Labels: bug 🐛, typescript, component: autocomplete

#35280 [release] v5.10.16
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#35034 [docs] Update MUI Base docs with latest style conventions
  docs/data/base/components/badge/badge.md
  docs/data/base/components/button/button.md
  docs/data/base/components/click-away-listener/click-away-listener.md
  docs/data/base/components/focus-trap/focus-trap.md
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/input/input.md
  docs/data/base/components/menu/menu.md
  docs/data/base/components/modal/modal.md
  docs/data/base/components/no-ssr/no-ssr.md
  docs/data/base/components/popper/popper.md
  docs/data/base/components/portal/portal.md
  docs/data/base/components/select/select.md
  docs/data/base/components/slider/slider.md
  docs/data/base/components/snackbar/snackbar.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/table-pagination/table-pagination.md
  docs/data/base/components/tabs/tabs.md
  docs/data/base/components/textarea-autosize/textarea-autosize.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/data/base/pages.ts
  docs/pages/base/api/snackbar-unstyled.json
  docs/pages/base/api/table-pagination-unstyled.json
  docs/translations/translations.json
  packages/mui-base/src/SnackbarUnstyled/SnackbarUnstyled.tsx
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.tsx
Labels: docs, package: base

#35199 [docs] Revise and expand the Joy UI "Badge" page
  docs/data/joy/components/alert/alert.md
  docs/data/joy/components/badge/BadgeColors.js
  docs/data/joy/components/badge/BadgeColors.tsx
  docs/data/joy/components/badge/BadgeSizes.js
  docs/data/joy/components/badge/BadgeSizes.tsx
  docs/data/joy/components/badge/BadgeSizes.tsx.preview
  docs/data/joy/components/badge/BadgeVariants.js
  docs/data/joy/components/badge/BadgeVariants.tsx
  docs/data/joy/components/badge/BadgeVariants.tsx.preview
  docs/data/joy/components/badge/badge.md
  docs/src/modules/components/JoyUsageDemo.tsx
Labels: docs, component: badge, package: joy

#35219 [test] Scope the tests to just Material UI components
  packages/mui-material/src/Alert/Alert.test.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/AvatarGroup/AvatarGroup.test.js
  packages/mui-material/src/Backdrop/Backdrop.test.js
  packages/mui-material/src/FilledInput/FilledInput.test.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.test.js
  packages/mui-material/src/Input/Input.test.js
  packages/mui-material/src/InputBase/InputBase.test.js
  packages/mui-material/src/ListItem/ListItem.test.js
  packages/mui-material/src/Modal/Modal.test.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.test.js
  packages/mui-material/src/PaginationItem/PaginationItem.test.js
  packages/mui-material/src/Popper/Popper.test.js
  packages/mui-material/src/Slider/Slider.test.js
  packages/mui-material/src/StepLabel/StepLabel.test.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
  test/utils/describeConformance.tsx
Labels: test

#35201 [docs] Fix ad margin on API pages
  docs/src/modules/components/Ad.js
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/MarkdownDocs.js
Labels: bug 🐛, docs, regression, docs-infra

#35185 [docs] Improve the autogenerated "Unstyled" and "API" text
  docs/packages/markdown/parseMarkdown.js
Labels: docs

#35213 [docs] Fix experimental API page duplication
  docs/data/material/experimental-api/css-theme-variables/customization.md
  docs/data/material/experimental-api/css-theme-variables/migration.md
  docs/data/material/experimental-api/css-theme-variables/overview.md
  docs/data/material/experimental-api/css-theme-variables/usage.md
  docs/data/material/experimental-api/css-variables/css-variables.md
  docs/data/material/pages.ts
  docs/pages/experimental-api/classname-generator.js
  docs/pages/experimental-api/css-variables.js
  docs/public/_redirects
  docs/src/pages.ts
  docs/translations/translations.json
Labels: bug 🐛, docs, docs-infra
