Repository mui/material-ui, pull requests merged in 2022-03, with the labels that each got.

#31165 [AvatarGroup] Fix misalignment with non-default spacing
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
Labels: bug 🐛, breaking change, component: avatar

#31209 [Select] Add extending `OutlinedInputProps` by SelectProps
  packages/mui-material/src/Select/Select.d.ts
  packages/mui-material/src/Select/Select.spec.tsx
Labels: component: select, typescript

#31242 [Joy] Improve `SvgIcon` tests
  packages/mui-joy/src/SvgIcon/SvgIcon.test.js
Labels: test, joy

#31241 [Joy] Improve `Sheet` tests
  packages/mui-joy/src/Sheet/Sheet.test.js
Labels: test, joy

#30906 [l10n] Add Croatian (hr-HR) and Serbian (sr-RS) translation
  docs/data/material/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: l10n

#30428 [docs] Fix icon linking implementation concurrent safe
  docs/data/material/components/material-icons/SearchIcons.js
  test/e2e-website/material-icons.spec.ts
Labels: docs

#31267 [Drawer] Adjustments to the mini variant to improve UI/UX
  docs/data/material/components/drawers/MiniDrawer.js
  docs/data/material/components/drawers/MiniDrawer.tsx
Labels: docs, component: drawer

#31175 [Joy] Add `Link` component
  docs/pages/experiments/joy/link.tsx
  packages/mui-joy/src/Link/Link.spec.tsx
  packages/mui-joy/src/Link/Link.test.js
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Link/LinkProps.ts
  packages/mui-joy/src/Link/index.ts
  packages/mui-joy/src/Link/linkClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
Labels: component: link, joy

#31285 [docs] Fix `maxWidth` of scrollable Tabs demos
  docs/data/material/components/tabs/ScrollableTabsButtonAuto.js
  docs/data/material/components/tabs/ScrollableTabsButtonAuto.tsx
  docs/data/material/components/tabs/ScrollableTabsButtonForce.js
  docs/data/material/components/tabs/ScrollableTabsButtonForce.tsx
  docs/data/material/components/tabs/ScrollableTabsButtonPrevent.js
  docs/data/material/components/tabs/ScrollableTabsButtonPrevent.tsx
  docs/data/material/components/tabs/ScrollableTabsButtonVisible.js
  docs/data/material/components/tabs/ScrollableTabsButtonVisible.tsx
Labels: docs, component: tabs

#31275 [docs] Add banner in solidarity of Ukraine
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/featureToggle.js
Labels: docs

#31270 [material-next] Mark `@mui/material` as a dependency
  packages/mui-material-next/package.json
Labels: package: material-next

#31284 [test] Remove legacyRoot option from test renderer
  test/utils/createRenderer.tsx
Labels: test

#30601 [Autocomplete] Have the screen reader announce when autocomplete is open and closed
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.test.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: accessibility, component: autocomplete

#31302 [Autocomplete] Fix failing unit tests
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: test, component: autocomplete

#31281 [core] Fix the stylelint script on Windows
  package.json
Labels: core

#31268 [Joy] Make Icon `fontSize` adaptable to its parent
  docs/pages/experiments/joy/button.tsx
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/input.tsx
  docs/pages/experiments/joy/list.tsx
  docs/pages/experiments/joy/sheet.tsx
  docs/pages/experiments/joy/switch.tsx
  docs/pages/experiments/joy/typography.tsx
  docs/pages/experiments/joy/variant-overrides.tsx
  docs/pages/experiments/joy/variant.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/SvgIcon/SvgIcon.js
Labels: joy

#31304 [test] Fix buildApiUtils tests on Windows
  docs/scripts/buildApiUtils.test.ts
Labels: test

#31237 [SelectUnstyled] Prevent window scrolling after opening
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.tsx
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.test.tsx
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyledContext.ts
  packages/mui-base/test/integration/SelectUnstyled.test.tsx
  test/karma.tests.js
Labels: component: select, package: base

#30921 [blog] Simplify the labels
  docs/lib/sourcing.ts
  docs/packages/markdown/parseMarkdown.js
  docs/pages/blog.tsx
  docs/pages/blog/2019.md
  docs/pages/blog/2020-q1-update.md
  docs/pages/blog/2020-q2-update.md
  docs/pages/blog/2020-q3-update.md
  docs/pages/blog/2020.md
  docs/pages/blog/2021-q1-update.md
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/2021-q3-update.md
  docs/pages/blog/2021.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/august-2019-update.md
  docs/pages/blog/benny-joo-joining.md
  docs/pages/blog/danail-hadjiatanasov-joining.md
  docs/pages/blog/danilo-leal-joining.md
  docs/pages/blog/december-2019-update.md
  docs/pages/blog/july-2019-update.md
  docs/pages/blog/june-2019-update.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/marija-najdova-joining.md
  docs/pages/blog/material-ui-is-now-mui.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/matheus-wichman-joining.md
  docs/pages/blog/may-2019-update.md
  docs/pages/blog/michal-dudak-joining.md
  docs/pages/blog/november-2019-update.md
  docs/pages/blog/october-2019-update.md
  docs/pages/blog/september-2019-update.md
  docs/pages/blog/siriwat-kunaporn-joining.md
  docs/pages/blog/spotlight-damien-tassone.md
  docs/scripts/buildApiUtils.ts
Labels: blog

#31113 [LoadingButton] Fix padding of loading icon in small button
  docs/data/material/components/buttons/LoadingButtonsTransition.js
  docs/data/material/components/buttons/LoadingButtonsTransition.tsx
  packages/mui-lab/src/LoadingButton/LoadingButton.js
Labels: bug 🐛, enhancement, component: button, component: LoadingButton

#31341 [docs] Fix JS files overloading
  docs/src/modules/components/AppNavDrawerItem.js
Labels: docs, performance

#31346 [docs] Remove career pages from translation
  crowdin.yml
Labels: docs, l10n

#31297 [ClassNameGenerator] Prevent all `base` imports
  docs/data/material/guides/classname-generator/classname-generator.md
  packages/mui-base/src/className/ClassNameGenerator.ts
  packages/mui-base/src/className/index.ts
  packages/mui-base/src/generateUtilityClass/generateUtilityClass.test.js
  packages/mui-base/src/generateUtilityClass/generateUtilityClass.ts
  packages/mui-base/src/generateUtilityClass/index.ts
  packages/mui-joy/src/Box/Box.test.js
  packages/mui-joy/src/Box/Box.tsx
  packages/mui-joy/src/className/index.ts
  packages/mui-joy/src/utils/index.ts
  packages/mui-material/src/Box/Box.js
  packages/mui-material/src/Box/Box.test.js
  packages/mui-material/src/className/index.ts
  packages/mui-material/src/index.test.js
  packages/mui-material/src/utils/index.d.ts
  packages/mui-material/src/utils/index.js
Labels: breaking change

#30961 [MenuUnstyled] Create MenuUnstyled and useMenu
  docs/data/base/components/menu/MenuSimple.js
  docs/data/base/components/menu/MenuSimple.tsx
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/UseMenu.tsx.preview
  docs/data/base/components/menu/WrappedMenuItems.js
  docs/data/base/components/menu/WrappedMenuItems.tsx
  docs/data/base/components/menu/menu.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/data/material/components/menus/menus.md
  docs/pages/api-docs/menu-item-unstyled.js
  docs/pages/api-docs/menu-item-unstyled.json
  docs/pages/api-docs/menu-unstyled.js
  docs/pages/api-docs/menu-unstyled.json
  docs/pages/base/api/menu-item-unstyled.js
  docs/pages/base/api/menu-item-unstyled.json
  docs/pages/base/api/menu-unstyled.js
  docs/pages/base/api/menu-unstyled.json
  docs/pages/base/react-menu.js
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/pagesApi.js
  docs/translations/api-docs/menu-item-unstyled/menu-item-unstyled-pt.json
  docs/translations/api-docs/menu-item-unstyled/menu-item-unstyled-zh.json
  docs/translations/api-docs/menu-item-unstyled/menu-item-unstyled.json
  docs/translations/api-docs/menu-unstyled/menu-unstyled-pt.json
  docs/translations/api-docs/menu-unstyled/menu-unstyled-zh.json
  docs/translations/api-docs/menu-unstyled/menu-unstyled.json
  packages/mui-base/src/ButtonUnstyled/useButton.ts
  packages/mui-base/src/ListboxUnstyled/defaultListboxReducer.test.ts
  packages/mui-base/src/ListboxUnstyled/defaultListboxReducer.ts
  packages/mui-base/src/ListboxUnstyled/useControllableReducer.ts
  packages/mui-base/src/ListboxUnstyled/useListbox.ts
  packages/mui-base/src/ListboxUnstyled/useListbox.types.ts
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.test.tsx
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.tsx
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.types.ts
  packages/mui-base/src/MenuItemUnstyled/index.tsx
  packages/mui-base/src/MenuItemUnstyled/menuItemUnstyledClasses.ts
  packages/mui-base/src/MenuItemUnstyled/useMenuItem.ts
  packages/mui-base/src/MenuItemUnstyled/useMenuItem.types.ts
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.test.tsx
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.tsx
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.types.ts
  packages/mui-base/src/MenuUnstyled/MenuUnstyledContext.ts
  packages/mui-base/src/MenuUnstyled/index.tsx
  packages/mui-base/src/MenuUnstyled/menuUnstyledClasses.ts
  packages/mui-base/src/MenuUnstyled/useMenu.ts
  packages/mui-base/src/MenuUnstyled/useMenu.types.ts
  packages/mui-base/src/SelectUnstyled/useSelect.ts
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
Labels: component: menu, package: base

#31352 Fix running markdownlint on Windows
  package.json
Labels: core

#31353 Release v5.5.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#31273 [Joy] Add `Checkbox` component
  docs/pages/experiments/joy/checkbox.tsx
  docs/pages/experiments/joy/components.tsx
  packages/mui-joy/src/Checkbox/Checkbox.spec.tsx
  packages/mui-joy/src/Checkbox/Checkbox.test.js
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Checkbox/CheckboxProps.ts
  packages/mui-joy/src/Checkbox/checkboxClasses.ts
  packages/mui-joy/src/Checkbox/index.ts
  packages/mui-joy/src/SvgIcon/SvgIcon.test.js
  packages/mui-joy/src/SvgIcon/SvgIcon.tsx
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/internal/svg-icons/Check.tsx
  packages/mui-joy/src/internal/svg-icons/HorizontalRule.tsx
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/types/typography.ts
  packages/mui-joy/src/utils/createSvgIcon.tsx
  test/utils/createDOM.js
Labels: component: checkbox, joy

#31240 [typescript] Simplify display of slot props types
  packages/mui-base/src/ButtonUnstyled/ButtonUnstyled.types.ts
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.types.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.types.ts
  packages/mui-types/index.d.ts
Labels: typescript, package: base

#31339 [docs] Fix GitHub source links in the demo toolbar
  docs/src/modules/components/MarkdownDocs.js
Labels: docs

#31351 [docs] Test products search
  docs/data/base/components/button/button.md
  docs/data/base/pages.ts
  docs/data/joy/components/button/button.md
  docs/data/joy/pages.ts
  docs/pages/_app.js
  docs/pages/base/react-button.js
  docs/pages/joy-ui/react-button.js
  docs/src/featureToggle.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/utils/getUrlProduct.test.js
  docs/src/modules/utils/getUrlProduct.ts
  docs/src/modules/utils/replaceHtmlLinks.ts
  docs/src/modules/utils/replaceUrl.ts
  docs/src/route.ts
Labels: docs

#30118 [Popper] Allow setting default props in a theme
  packages/mui-material/src/Popper/Popper.test.js
  packages/mui-material/src/Popper/Popper.tsx
  packages/mui-material/src/styles/components.d.ts
  packages/mui-material/src/styles/props.d.ts
Labels: enhancement, component: Popper

#31378 [website] Update Ukraine support link
  docs/src/components/banner/TableOfContentsBanner.tsx
Labels: website

#31354 [website] Add new gold sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#31291 [docs] Update TextField multiline description
  docs/data/material/components/text-fields/text-fields.md
  docs/translations/api-docs/filled-input/filled-input.json
  docs/translations/api-docs/input-base/input-base.json
  docs/translations/api-docs/input/input.json
  docs/translations/api-docs/outlined-input/outlined-input.json
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/Input/Input.js
  packages/mui-material/src/InputBase/InputBase.d.ts
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
Labels: docs, component: text field

#31360 [Joy] Add `--Icon-fontSize` to components
  docs/pages/experiments/joy/input.tsx
  docs/pages/experiments/joy/link.tsx
  docs/pages/experiments/joy/list.tsx
  docs/pages/experiments/joy/typography.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/index.ts
  packages/mui-joy/src/ListDivider/index.ts
  packages/mui-joy/src/ListItem/index.ts
  packages/mui-joy/src/ListItemButton/index.ts
  packages/mui-joy/src/ListItemContent/index.ts
  packages/mui-joy/src/ListItemDecorator/index.ts
  packages/mui-joy/src/Typography/Typography.tsx
Labels: joy

#31262 [docs] Refine the product identifier menu
  docs/src/modules/components/AppNavDrawer.js
Labels: docs

#31340 [Grid] Fix columns of nested container
  packages/mui-material/src/Grid/Grid.js
  packages/mui-material/src/Grid/Grid.test.js
Labels: component: Grid

#31257 [docs] Fix wrong documentation on the `styled`'s slot option
  docs/data/system/styled/styled.md
Labels: docs

#30842 [Fab] Add z-index
  docs/data/material/customization/z-index/z-index.md
  packages/mui-material/src/Fab/Fab.js
  packages/mui-material/src/styles/zIndex.d.ts
  packages/mui-material/src/styles/zIndex.js
Labels: component: Fab

#31412 [docs] Remove joy mockup pages
  docs/data/joy/components/button/button.md
  docs/data/joy/pages.ts
  docs/pages/_app.js
  docs/pages/joy-ui/react-button.js
Labels: docs

#31359 [Joy] Add icon & label `Switch` examples
  docs/pages/experiments/joy/switch.tsx
  packages/mui-joy/src/Switch/Switch.tsx
Labels: joy

#31419 [core] Simplify anchor link
  docs/src/modules/components/AppTableOfContents.js
Labels: docs, core

#31424 [docs] Fix y-axis unit used in the responsive font sizes chart
  docs/data/material/customization/typography/ResponsiveFontSizesChart.js
Labels: bug 🐛, docs, component: Typography

#31395 [docs] Migrate button demos to base
  .eslintrc.js
  docs/data/base/components/button/UnstyledButtonCustom.js
  docs/data/base/components/button/UnstyledButtonCustom.tsx
  docs/data/base/components/button/UnstyledButtonCustom.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSimple.js
  docs/data/base/components/button/UnstyledButtonsSimple.tsx
  docs/data/base/components/button/UnstyledButtonsSimple.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSpan.js
  docs/data/base/components/button/UnstyledButtonsSpan.tsx
  docs/data/base/components/button/UnstyledButtonsSpan.tsx.preview
  docs/data/base/components/button/UseButton.js
  docs/data/base/components/button/UseButton.tsx
  docs/data/base/components/button/UseButton.tsx.preview
  docs/data/base/components/button/button.md
  docs/data/base/components/menu/MenuSimple.js
  docs/data/base/components/menu/MenuSimple.tsx
  docs/data/base/components/menu/WrappedMenuItems.js
  docs/data/base/components/menu/WrappedMenuItems.tsx
  docs/data/base/components/menu/menu.md
  docs/data/material/components/buttons/buttons.md
  docs/data/material/components/menus/menus.md
  docs/data/material/getting-started/templates/sign-in-side/SignInSide.js
  docs/data/material/getting-started/templates/sign-in-side/SignInSide.tsx
  docs/data/material/getting-started/templates/sign-in/SignIn.js
  docs/data/material/getting-started/templates/sign-in/SignIn.tsx
  docs/data/material/getting-started/templates/sign-up/SignUp.js
  docs/data/material/getting-started/templates/sign-up/SignUp.tsx
  docs/packages/markdown/parseMarkdown.js
  docs/pages/api-docs/button-unstyled.js
  docs/pages/api-docs/button-unstyled.json
  docs/pages/api-docs/menu-item-unstyled.js
  docs/pages/api-docs/menu-item-unstyled.json
  docs/pages/api-docs/menu-unstyled.js
  docs/pages/api-docs/menu-unstyled.json
  docs/pages/base/api/button-unstyled.json
  docs/pages/base/api/menu-item-unstyled.json
  docs/pages/base/api/menu-unstyled.json
  docs/scripts/ApiBuilders/ComponentApiBuilder.ts
  docs/scripts/buildApi.ts
  docs/scripts/buildApiUtils.test.ts
  docs/scripts/buildApiUtils.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/utils/find.js
  docs/src/pagesApi.js
  packages/mui-base/src/ButtonUnstyled/ButtonUnstyled.tsx
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.tsx
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.tsx
Labels: docs

#31423 [docs] Adjust Stack's basic usage demo
  docs/data/material/components/stack/BasicStack.js
  docs/data/material/components/stack/BasicStack.tsx
Labels: docs, component: Stack

#31425 [docs] Fix source code links on the Templates page
  docs/data/material/getting-started/templates/Templates.js
Labels: docs

#31767 [docs] Remove unnecessary await in e2e-tests
  test/e2e-website/material-current.spec.ts
  test/e2e-website/material-new.spec.ts
Labels: docs

#31651 [docs] Fix search icons crash
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/HighlightedCode.test.js
  docs/src/modules/components/MarkdownElement.js
Labels: docs

#31458 [docs] Fix docs site crash on iOS Safari 12
  docs/src/modules/components/GoogleAnalytics.js
Labels: bug 🐛, docs

#31406 [TextField] fix disappearing border in Safari
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
Labels: component: text field

#31711 [docs] Add "Work in biotech" to showcase
  docs/data/material/discover-more/showcase/appList.js
  docs/public/static/images/showcase/workinbiotech.png
Labels: docs

#31418 [examples] Fix Link leak of Next.js props
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/Link.tsx
  examples/nextjs-with-typescript/src/Link.tsx
  examples/nextjs/src/Link.js
Labels: bug 🐛, core, examples

#31460 [examples] Ignore tsbuildinfo with Next.js
  examples/nextjs-with-typescript/.gitignore
Labels: examples

#31505 [docs] Fix SEO issues
  docs/data/base/getting-started/installation/installation.md
  docs/data/material/guides/migration-v3/migration-v3.md
  packages/mui-material/src/Snackbar/Snackbar.js
Labels: docs

#31394 [test] Upgrade CircleCI convenience image
  .circleci/config.yml
Labels: test

#31696 [docs] Fix API page table styles in Safari
  docs/src/modules/components/ApiPage.js
Labels: bug 🐛, docs

#31402 [docs] Add Macedonian translation
  docs/data/material/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: docs, l10n

#31620 [Joy] Support horizontal `List`
  docs/pages/experiments/joy/list.tsx
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/List/RowListContext.ts
  packages/mui-joy/src/List/listClasses.ts
  packages/mui-joy/src/ListDivider/ListDivider.test.js
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/ListDivider/ListDividerProps.ts
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
Labels: joy

#31790 [docs] Fix demo filename on zh markdown
  docs/data/material/components/checkboxes/checkboxes-zh.md
Labels: docs

#31303 [Joy] Add Avatar component
  docs/pages/experiments/joy/avatar.tsx
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Avatar/AvatarProps.ts
  packages/mui-joy/src/Avatar/avatarClasses.ts
  packages/mui-joy/src/Avatar/index.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/internal/svg-icons/Person.tsx
  packages/mui-joy/src/styles/components.d.ts
Labels: component: avatar, joy

#31807 [data-grid] Fix print export feature
  docs/public/_headers
Labels: bug 🐛, component: data grid, regression

#31826 [Joy] Add default color to `Input` and `ListItemButton`
  docs/pages/experiments/joy/list.tsx
  docs/pages/experiments/joy/sheet.tsx
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Avatar/AvatarProps.ts
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButtonProps.ts
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/TextField/TextField.tsx
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/Typography/TypographyProps.ts
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/styled.spec.tsx
Labels: joy

#31804 [docs] Make LTS searchable
  docs/src/pages/versions/versions.md
Labels: docs

#31811 [docs] New search experience for multiple products
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppSearch.js
  docs/src/modules/utils/getUrlProduct.test.js
Labels: docs

#31808 [docs] Use TypeScript demos by default
  docs/src/modules/utils/codeVariant.js
  docs/src/modules/utils/getDemoConfig.js
  docs/src/modules/utils/helpers.test.js
  docs/src/modules/utils/helpers.ts
Labels: docs, typescript

#31916 [docs] Fix side nav capitalization of API
  docs/src/modules/utils/helpers.ts
Labels: docs

#31917 [docs] Solve duplication of content
  docs/pages/_document.js
Labels: docs

#31889 [website] Date picker is in MUI X
  docs/src/components/pricing/PricingTable.tsx
Labels: website

#31882 [SliderUnstyled] Fix dragging on disabled sliders
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.test.js
  packages/mui-base/src/SliderUnstyled/useSlider.ts
Labels: component: slider, package: base

#31872 [docs] Move BadgeUnstyled docs to Base space
  docs/data/base/components/badge/AccessibleBadges.js
  docs/data/base/components/badge/AccessibleBadges.tsx
  docs/data/base/components/badge/AccessibleBadges.tsx.preview
  docs/data/base/components/badge/BadgeMax.js
  docs/data/base/components/badge/BadgeMax.tsx
  docs/data/base/components/badge/BadgeMax.tsx.preview
  docs/data/base/components/badge/BadgeVisibility.js
  docs/data/base/components/badge/BadgeVisibility.tsx
  docs/data/base/components/badge/ShowZeroBadge.js
  docs/data/base/components/badge/ShowZeroBadge.tsx
  docs/data/base/components/badge/ShowZeroBadge.tsx.preview
  docs/data/base/components/badge/UnstyledBadge.js
  docs/data/base/components/badge/UnstyledBadge.tsx
  docs/data/base/components/badge/UnstyledBadge.tsx.preview
  docs/data/base/components/badge/badge.md
  docs/data/material/components/badges/badges.md
  docs/pages/api-docs/badge-unstyled.js
  docs/pages/api-docs/badge-unstyled.json
  docs/pages/base/api/badge-unstyled.json
  docs/pages/base/react-badge.js
  docs/scripts/buildApiUtils.ts
  docs/src/pagesApi.js
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.d.ts
Labels: docs, component: badge

#31833 [Popper] Expose the `sx` prop
  docs/pages/api-docs/popper.json
  docs/pages/material-ui/api/popper.json
  docs/translations/api-docs/popper/popper.json
  packages/mui-material/src/Popper/Popper.tsx
Labels: component: Popper, package: system

#31925 v5.5.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
Labels: release

#31845 [utils] Improve type inference of useForkRef
  packages/mui-base/src/SelectUnstyled/useSelect.ts
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-utils/src/useForkRef.ts
Labels: typescript, package: utils

#31953 [docs] Fix TOC layout for large screen
  docs/src/modules/components/AppTableOfContents.js
Labels: docs

#31939 [docs] Refine the redirects
  docs/scripts/postMigration.ts
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppLayoutDocs.js
Labels: docs

#31873 [Joy] Miscellaneous fixes
  docs/pages/experiments/joy/button.tsx
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/input.tsx
  docs/pages/experiments/joy/link.tsx
  docs/pages/experiments/joy/list.tsx
  docs/pages/experiments/joy/text-field.tsx
  docs/pages/experiments/joy/typography.tsx
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Checkbox/Checkbox.spec.tsx
  packages/mui-joy/src/Checkbox/Checkbox.test.js
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Checkbox/CheckboxProps.ts
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Input/Input.test.js
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
  packages/mui-joy/src/Input/inputClasses.ts
  packages/mui-joy/src/Link/Link.test.js
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Link/LinkProps.ts
  packages/mui-joy/src/Link/linkClasses.ts
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.test.js
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/Sheet/Sheet.tsx
  packages/mui-joy/src/SvgIcon/SvgIcon.tsx
  packages/mui-joy/src/SvgIcon/SvgIconProps.ts
  packages/mui-joy/src/TextField/TextField.spec.tsx
  packages/mui-joy/src/TextField/TextField.test.js
  packages/mui-joy/src/TextField/TextField.tsx
  packages/mui-joy/src/TextField/TextFieldProps.ts
  packages/mui-joy/src/Typography/Typography.test.js
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/Typography/TypographyProps.ts
  packages/mui-joy/src/Typography/typographyClasses.ts
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/components.d.ts
Labels: joy

#31139 [FormControlLabel] Fix label prop type to be in-line with other label prop types
  docs/pages/api-docs/form-control-label.json
  docs/pages/material-ui/api/form-control-label.json
  packages/mui-material/src/FormControlLabel/FormControlLabel.d.ts
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.test.js
Labels: component: text field

#31806 [core] Replace deprecated String.prototype.substr()
  docs/data/material/components/avatars/BackgroundLetterAvatars.js
  docs/data/material/components/avatars/BackgroundLetterAvatars.tsx
  packages/mui-system/src/colorManipulator.js
Labels: core

#31951 [base] Add `@mui/types` to dependencies
  packages/mui-base/package.json
Labels: package: base

#31923 [base] Remove `BackdropUnstyled` component
  docs/data/base/pagesApi.js
  docs/data/material/components/backdrop/backdrop-pt.md
  docs/data/material/components/backdrop/backdrop-zh.md
  docs/data/material/components/backdrop/backdrop.md
  docs/data/material/components/modal/ModalUnstyled.js
  docs/data/material/components/modal/ModalUnstyled.tsx
  docs/pages/api-docs/backdrop-unstyled.js
  docs/pages/api-docs/backdrop-unstyled.json
  docs/pages/base/api/backdrop-unstyled.js
  docs/pages/base/api/backdrop-unstyled.json
  docs/src/pagesApi.js
  docs/translations/api-docs/backdrop-unstyled/backdrop-unstyled-pt.json
  docs/translations/api-docs/backdrop-unstyled/backdrop-unstyled-zh.json
  docs/translations/api-docs/backdrop-unstyled/backdrop-unstyled.json
  docs/translations/api-docs/backdrop/backdrop.json
  docs/translations/api-docs/modal-unstyled/modal-unstyled.json
  packages/mui-base/src/BackdropUnstyled/BackdropUnstyled.d.ts
  packages/mui-base/src/BackdropUnstyled/BackdropUnstyled.js
  packages/mui-base/src/BackdropUnstyled/BackdropUnstyled.test.js
  packages/mui-base/src/BackdropUnstyled/backdropUnstyledClasses.ts
  packages/mui-base/src/BackdropUnstyled/index.d.ts
  packages/mui-base/src/BackdropUnstyled/index.js
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.d.ts
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.js
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/Backdrop/backdropClasses.ts
  packages/mui-material/src/Backdrop/index.d.ts
  packages/mui-material/src/Backdrop/index.js
Labels: package: base

#31945 [test] Add tests for component using `StandardProps` and polymorphic components
  packages/mui-material/test/typescript/OverridableComponent.spec.tsx
  packages/mui-material/test/typescript/index.spec.tsx
Labels: test, typescript

#31950 [ButtonBase] Start ripple pulsation only after mount
  packages/mui-material/src/ButtonBase/ButtonBase.js
Labels: component: ButtonBase

#31810 [docs] Update mui-x on material-ui navigation
  docs/data/material/components/pickers/lab-date-and-time-pickers.md
  docs/data/material/pages.ts
  docs/pages/material-ui/lab-date-and-time-pickers.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/translations/translations.json
Labels: docs

#31967 [docs] Fix small typo in the `styled()` utility page
  docs/data/system/styled/styled-pt.md
  docs/data/system/styled/styled-zh.md
  docs/data/system/styled/styled.md
Labels: docs

#31935 [docs] Fix the CSS modules example in the Interoperability page
  docs/data/material/guides/interoperability/interoperability.md
Labels: docs

#31880 [docs] Update href for 'TypeScript guide on theme customization'
  packages/mui-private-theming/src/defaultTheme/index.d.ts
Labels: docs, theme

#31416 [docs] Fix the documention for `filterOptions` in Autocomplete API page
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: docs, component: autocomplete

#31965 [docs] Fix in-house ad for the design kits
  docs/next.config.js
  docs/public/static/ads-in-house/figma.png
  docs/public/static/ads-in-house/sketch.png
  docs/src/modules/components/Ad.js
Labels: docs

#31942 Revert "[docs] Add "Work in biotech" to showcase (#31711)"
  docs/data/material/discover-more/showcase/appList.js
  docs/public/static/images/showcase/workinbiotech.png
Labels: docs

#31881 [docs] Add InputUnstyled docs
  docs/data/base/components/input/InputAdornments.js
  docs/data/base/components/input/InputAdornments.tsx
  docs/data/base/components/input/InputMultiline.js
  docs/data/base/components/input/InputMultiline.tsx
  docs/data/base/components/input/InputMultiline.tsx.preview
  docs/data/base/components/input/InputMultilineAutosize.js
  docs/data/base/components/input/InputMultilineAutosize.tsx
  docs/data/base/components/input/InputMultilineAutosize.tsx.preview
  docs/data/base/components/input/UnstyledInputBasic.js
  docs/data/base/components/input/UnstyledInputBasic.tsx
  docs/data/base/components/input/UnstyledInputBasic.tsx.preview
  docs/data/base/components/input/UseInput.js
  docs/data/base/components/input/UseInput.tsx
  docs/data/base/components/input/UseInput.tsx.preview
  docs/data/base/components/input/input.md
  docs/data/base/pages.ts
  docs/data/material/components/text-fields/text-fields.md
  docs/pages/api-docs/input-unstyled.js
  docs/pages/api-docs/input-unstyled.json
  docs/pages/base/api/badge-unstyled.json
  docs/pages/base/api/input-unstyled.json
  docs/pages/base/react-input.js
  docs/scripts/buildApiUtils.ts
  docs/src/modules/utils/find.js
  docs/src/pagesApi.js
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.d.ts
  packages/mui-base/src/InputUnstyled/InputUnstyled.tsx
Labels: docs, component: text field, package: base

#31417 [docs] Add docs page for unstyled Modal
  docs/data/base/components/modal/KeepMountedModal.js
  docs/data/base/components/modal/KeepMountedModal.tsx
  docs/data/base/components/modal/KeepMountedModal.tsx.preview
  docs/data/base/components/modal/ModalUnstyled.js
  docs/data/base/components/modal/ModalUnstyled.tsx
  docs/data/base/components/modal/ModalUnstyled.tsx.preview
  docs/data/base/components/modal/NestedModal.js
  docs/data/base/components/modal/NestedModal.tsx
  docs/data/base/components/modal/NestedModal.tsx.preview
  docs/data/base/components/modal/ServerModal.js
  docs/data/base/components/modal/ServerModal.tsx
  docs/data/base/components/modal/ServerModal.tsx.preview
  docs/data/base/components/modal/SpringModal.js
  docs/data/base/components/modal/SpringModal.tsx
  docs/data/base/components/modal/TransitionsModal.js
  docs/data/base/components/modal/TransitionsModal.tsx
  docs/data/base/components/modal/modal.md
  docs/data/base/pages.ts
  docs/data/material/components/modal/modal.md
  docs/pages/api-docs/modal-unstyled.js
  docs/pages/api-docs/modal-unstyled.json
  docs/pages/base/api/modal-unstyled.json
  docs/pages/base/react-modal.js
  docs/scripts/buildApiUtils.ts
  docs/src/pagesApi.js
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.d.ts
Labels: docs, package: base

#31954 [TrapFocus] Move docs to Base and drop the Unstyled prefix
  docs/data/base/components/trap-focus/BasicTrapFocus.js
  docs/data/base/components/trap-focus/BasicTrapFocus.tsx
  docs/data/base/components/trap-focus/BasicTrapFocus.tsx.preview
  docs/data/base/components/trap-focus/DisableEnforceFocus.js
  docs/data/base/components/trap-focus/DisableEnforceFocus.tsx
  docs/data/base/components/trap-focus/DisableEnforceFocus.tsx.preview
  docs/data/base/components/trap-focus/LazyTrapFocus.js
  docs/data/base/components/trap-focus/LazyTrapFocus.tsx
  docs/data/base/components/trap-focus/LazyTrapFocus.tsx.preview
  docs/data/base/components/trap-focus/PortalTrapFocus.js
  docs/data/base/components/trap-focus/PortalTrapFocus.tsx
  docs/data/base/components/trap-focus/trap-focus-pt.md
  docs/data/base/components/trap-focus/trap-focus-zh.md
  docs/data/base/components/trap-focus/trap-focus.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base/api/trap-focus.js
  docs/pages/base/api/trap-focus.json
  docs/pages/base/api/unstable-trap-focus.js
  docs/pages/base/api/unstable-trap-focus.json
  docs/pages/base/react-trap-focus.js
  docs/pages/blog/2021-q3-update.md
  docs/pages/material-ui/react-trap-focus.js
  docs/scripts/buildApiUtils.ts
  docs/src/modules/utils/replaceMarkdownLinks.test.js
  docs/src/modules/utils/replaceMarkdownLinks.ts
  docs/src/pagesApi.js
  docs/translations/api-docs/trap-focus/trap-focus-pt.json
  docs/translations/api-docs/trap-focus/trap-focus-zh.json
  docs/translations/api-docs/trap-focus/trap-focus.json
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.js
  packages/mui-base/src/TrapFocus/TrapFocus.d.ts
  packages/mui-base/src/TrapFocus/TrapFocus.js
  packages/mui-base/src/TrapFocus/TrapFocus.test.js
  packages/mui-base/src/TrapFocus/index.d.ts
  packages/mui-base/src/TrapFocus/index.js
  packages/mui-base/src/Unstable_TrapFocus/index.d.ts
  packages/mui-base/src/Unstable_TrapFocus/index.js
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
  packages/mui-material/src/Unstable_TrapFocus/index.d.ts
  packages/mui-material/src/Unstable_TrapFocus/index.js
  test/e2e/README.md
  test/e2e/fixtures/TrapFocus/DefaultOpenLazyTrapFocus.tsx
  test/e2e/fixtures/TrapFocus/OpenTrapFocus.tsx
  test/e2e/index.test.ts
  test/regressions/README.md
Labels: docs, breaking change, component: TrapFocus

#31980 [Joy] Add `AvatarGroup` component
  docs/pages/experiments/joy/avatar.tsx
  docs/pages/experiments/joy/components.tsx
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/AvatarGroup/AvatarGroup.test.js
  packages/mui-joy/src/AvatarGroup/AvatarGroup.tsx
  packages/mui-joy/src/AvatarGroup/AvatarGroupProps.ts
  packages/mui-joy/src/AvatarGroup/avatarGroupClasses.ts
  packages/mui-joy/src/AvatarGroup/index.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
Labels: joy

#31969 [docs] Improve a11y on the split button demo
  docs/data/material/components/button-group/SplitButton.js
  docs/data/material/components/button-group/SplitButton.tsx
Labels: docs, accessibility, component: button

#31970 [docs] Improve the a11y on the hover rating demo
  docs/data/material/components/rating/HoverRating.js
  docs/data/material/components/rating/HoverRating.tsx
  docs/data/material/components/rating/HoverRating.tsx.preview
Labels: docs, accessibility, component: rating

#31990 [codemod] Fix variant prop placement
  packages/mui-codemod/src/v5.0.0/variant-prop.js
  packages/mui-codemod/src/v5.0.0/variant-prop.test/expected.js
Labels: package: codemod

#30088 [core] Fixes error in changelog generator for item sorting/padding
  scripts/releaseChangelog.js
Labels: core

#31975 [Grow] Add a workaround for Safari 15.4 CSS transition bug
  packages/mui-material/src/Grow/Grow.js
Labels: component: transitions

#31974 [Badge] Simplify unstyled API
  docs/data/base/components/badge/AccessibleBadges.js
  docs/data/base/components/badge/AccessibleBadges.tsx
  docs/data/base/components/badge/BadgeMax.js
  docs/data/base/components/badge/BadgeMax.tsx
  docs/data/base/components/badge/BadgeVisibility.js
  docs/data/base/components/badge/BadgeVisibility.tsx
  docs/data/base/components/badge/ShowZeroBadge.js
  docs/data/base/components/badge/ShowZeroBadge.tsx
  docs/data/base/components/badge/UnstyledBadge.js
  docs/data/base/components/badge/UnstyledBadge.tsx
  docs/data/base/components/badge/UnstyledBadge.tsx.preview
  docs/pages/base/api/badge-unstyled.json
  docs/translations/api-docs/badge-unstyled/badge-unstyled.json
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.js
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.test.js
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyledProps.ts
  packages/mui-base/src/BadgeUnstyled/badgeUnstyledClasses.ts
  packages/mui-base/src/BadgeUnstyled/useBadge.ts
  packages/mui-material/src/Badge/Badge.d.ts
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/Badge/badgeClasses.ts
  packages/mui-material/src/Badge/index.d.ts
  packages/mui-material/src/Badge/index.js
Labels: breaking change, component: badge, package: base

#31816 [docs] Move SelectUnstyled docs to the Base space
  docs/data/base/components/select/UnstyledSelectControlled.js
  docs/data/base/components/select/UnstyledSelectControlled.tsx
  docs/data/base/components/select/UnstyledSelectControlled.tsx.preview
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.js
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx.preview
  docs/data/base/components/select/UnstyledSelectGrouping.js
  docs/data/base/components/select/UnstyledSelectGrouping.tsx
  docs/data/base/components/select/UnstyledSelectGrouping.tsx.preview
  docs/data/base/components/select/UnstyledSelectMultiple.js
  docs/data/base/components/select/UnstyledSelectMultiple.tsx
  docs/data/base/components/select/UnstyledSelectMultiple.tsx.preview
  docs/data/base/components/select/UnstyledSelectObjectValues.js
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx.preview
  docs/data/base/components/select/UnstyledSelectRichOptions.js
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx.preview
  docs/data/base/components/select/UnstyledSelectSimple.js
  docs/data/base/components/select/UnstyledSelectSimple.tsx
  docs/data/base/components/select/UnstyledSelectSimple.tsx.preview
  docs/data/base/components/select/UseSelect.js
  docs/data/base/components/select/UseSelect.tsx
  docs/data/base/components/select/UseSelect.tsx.preview
  docs/data/base/components/select/select.md
  docs/data/base/pages.ts
  docs/data/material/components/selects/selects.md
  docs/pages/api-docs/multi-select-unstyled.js
  docs/pages/api-docs/multi-select-unstyled.json
  docs/pages/api-docs/option-group-unstyled.js
  docs/pages/api-docs/option-group-unstyled.json
  docs/pages/api-docs/option-unstyled.js
  docs/pages/api-docs/option-unstyled.json
  docs/pages/api-docs/select-unstyled.js
  docs/pages/api-docs/select-unstyled.json
  docs/pages/base/api/multi-select-unstyled.json
  docs/pages/base/api/option-group-unstyled.json
  docs/pages/base/api/option-unstyled.json
  docs/pages/base/api/select-unstyled.json
  docs/pages/base/react-select.js
  docs/scripts/buildApiUtils.ts
  docs/src/pagesApi.js
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.tsx
  packages/mui-base/src/OptionGroupUnstyled/OptionGroupUnstyled.tsx
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
Labels: docs

#32018 [docs] Create TablePaginationUnstyled docs
  docs/data/base/components/table-pagination/TableCustomized.js
  docs/data/base/components/table-pagination/TableCustomized.tsx
  docs/data/base/components/table-pagination/TableUnstyled.js
  docs/data/base/components/table-pagination/TableUnstyled.tsx
  docs/data/base/components/table-pagination/table-pagination.md
  docs/data/base/pages.ts
  docs/data/material/components/tables/tables.md
  docs/pages/api-docs/table-pagination-unstyled.js
  docs/pages/api-docs/table-pagination-unstyled.json
  docs/pages/base/api/table-pagination-unstyled.json
  docs/pages/base/react-table-pagination.js
  docs/scripts/buildApiUtils.ts
  docs/src/pagesApi.js
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.tsx
Labels: docs, component: TablePagination

#31850 [docs] Create SliderUnstyled docs
  docs/data/base/components/slider/DiscreteSlider.js
  docs/data/base/components/slider/DiscreteSlider.tsx
  docs/data/base/components/slider/DiscreteSlider.tsx.preview
  docs/data/base/components/slider/DiscreteSliderMarks.js
  docs/data/base/components/slider/DiscreteSliderMarks.tsx
  docs/data/base/components/slider/DiscreteSliderMarks.tsx.preview
  docs/data/base/components/slider/DiscreteSliderValues.js
  docs/data/base/components/slider/DiscreteSliderValues.tsx
  docs/data/base/components/slider/DiscreteSliderValues.tsx.preview
  docs/data/base/components/slider/RangeSlider.js
  docs/data/base/components/slider/RangeSlider.tsx
  docs/data/base/components/slider/UnstyledSlider.js
  docs/data/base/components/slider/UnstyledSlider.tsx
  docs/data/base/components/slider/UnstyledSlider.tsx.preview
  docs/data/base/components/slider/slider.md
  docs/data/base/pages.ts
  docs/data/material/components/slider/UnstyledSlider.tsx.preview
  docs/data/material/components/slider/slider.md
  docs/pages/api-docs/slider-unstyled.js
  docs/pages/api-docs/slider-unstyled.json
  docs/pages/base/api/slider-unstyled.json
  docs/pages/base/react-slider.js
  docs/scripts/buildApiUtils.ts
  docs/src/pagesApi.js
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.d.ts
Labels: docs, component: slider

#32029 [docs] Correct typos
  docs/data/material/components/paper/paper.md
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  docs/src/pages/production-error/ErrorDecoder.js
Labels: docs

#31138 [CssVarsProvider] Add CssVarsProvider in @mui/material
  docs/pages/experiments/material-ui/css-variables-custom-theme.tsx
  docs/pages/experiments/material-ui/css-variables.tsx
  docs/scripts/buildApi.ts
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/styles/CssVarsProvider.d.ts
  packages/mui-material/src/styles/CssVarsProvider.js
  packages/mui-material/src/styles/CssVarsProvider.test.js
  packages/mui-material/src/styles/createPalette.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-system/src/colorManipulator.d.ts
  packages/mui-system/src/colorManipulator.js
  packages/mui-system/src/colorManipulator.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/cssVarsParser.test.ts
  packages/mui-system/src/cssVars/cssVarsParser.ts
  packages/mui-system/src/cssVars/index.ts
  packages/mui-system/src/index.d.ts
Labels: package: material, proof of concept

#32041 [core] Fix TS 4.7 compat issues
  packages/material-ui/src/TableBody/TableBody.d.ts
  packages/material-ui/src/TableContainer/TableContainer.d.ts
  packages/material-ui/src/TableFooter/TableFooter.d.ts
  packages/material-ui/src/TableHead/TableHead.d.ts
Labels: typescript

#32060 [docs] Add small size Select demo
  docs/data/material/components/selects/SelectSmall.js
  docs/data/material/components/selects/SelectSmall.tsx
  docs/data/material/components/selects/selects.md
Labels: docs, component: select

#32015 [docs] Add react-hook-form-mui to Complementary projects
  docs/data/material/components/text-fields/text-fields.md
Labels: docs

#31813 [docs] Add docs page for unstyled popper
  docs/data/base/components/popper/PlacementPopper.js
  docs/data/base/components/popper/PlacementPopper.tsx
  docs/data/base/components/popper/SimplePopper.js
  docs/data/base/components/popper/SimplePopper.tsx
  docs/data/base/components/popper/SimplePopper.tsx.preview
  docs/data/base/components/popper/popper.md
  docs/data/base/pages.ts
  docs/data/material/components/popper/popper.md
  docs/pages/api-docs/popper-unstyled.js
  docs/pages/api-docs/popper-unstyled.json
  docs/pages/base/api/popper-unstyled.json
  docs/pages/base/react-popper.js
  docs/scripts/buildApiUtils.ts
  docs/src/pagesApi.js
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.d.ts
Labels: docs

#31831 [blog] New article for the date pickers migration to X
  docs/pages/blog/lab-pickers-to-mui-x.js
  docs/pages/blog/lab-pickers-to-mui-x.md
Labels: component: pickers, blog

#32045 [Link] Fix color transformation
  packages/mui-material/src/Link/Link.js
  test/regressions/fixtures/Link/LinkColor.js
Labels: component: link

#31964 [docs] Move SwitchUnstyled docs to the Base space
  docs/data/base/components/switch/UnstyledSwitches.js
  docs/data/base/components/switch/UnstyledSwitches.tsx
  docs/data/base/components/switch/UnstyledSwitches.tsx.preview
  docs/data/base/components/switch/UseSwitchesBasic.js
  docs/data/base/components/switch/UseSwitchesBasic.tsx
  docs/data/base/components/switch/UseSwitchesBasic.tsx.preview
  docs/data/base/components/switch/UseSwitchesCustom.js
  docs/data/base/components/switch/UseSwitchesCustom.tsx
  docs/data/base/components/switch/UseSwitchesCustom.tsx.preview
  docs/data/base/components/switch/switch.md
  docs/data/base/pages.ts
  docs/data/material/components/switches/switches.md
  docs/pages/api-docs/switch-unstyled.js
  docs/pages/api-docs/switch-unstyled.json
  docs/pages/base/api/switch-unstyled.json
  docs/pages/base/react-switch.js
  docs/scripts/buildApiUtils.ts
  docs/src/pagesApi.js
  packages/mui-base/src/SwitchUnstyled/SwitchUnstyled.tsx
Labels: docs, component: switch

#32076 [docs] Add date-pickers product identifier
  docs/data/material/components/pickers/lab-date-and-time-pickers.md
  docs/notifications.json
  docs/pages/blog/lab-date-pickers-to-mui-x.js
  docs/pages/blog/lab-date-pickers-to-mui-x.md
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
Labels: docs

#32052 [l10n] Fix etEE locale in the Pagination component
  packages/mui-material/src/locale/index.ts
Labels: component: pagination, l10n
