Repository mui/material-ui, pull requests merged in 2022-01, with the labels that each got.

#30455 [core] Remove contrib tweet
  .github/workflows/contributor-twitter.yml
  CONTRIBUTING.md
Labels: core

#30460 [docs] Make the reference to the select clearer
  docs/src/pages/components/radio-buttons/radio-buttons.md
Labels: docs, component: radio

#30470 [SvgIcon] Correct API docs and code style
  docs/src/pages/components/icons/icons.md
  docs/translations/api-docs/svg-icon/svg-icon.json
  packages/mui-material/src/SvgIcon/SvgIcon.d.ts
  packages/mui-material/src/SvgIcon/SvgIcon.js
  packages/mui-material/src/SvgIcon/SvgIcon.test.js
Labels: component: SvgIcon

#30459 [core] Automatically close issues that are incomplete and inactive
  .github/workflows/close-incomplete-inactive.yml
Labels: core

#30388 [docs] Improve the migration guide and add examples for transforming tss
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30492 [website] Add José on the /about page
  docs/pages/about.tsx
  docs/public/static/branding/about/jose.png
Labels: website

#30482 [docs] Fix typo and spelling in the-sx-prop.md
  docs/src/pages/system/the-sx-prop/the-sx-prop.md
Labels: docs

#30473 [docs] Move @eps1lon to community
  docs/pages/about.tsx
Labels: docs

#30387 [docs] Adjust RTL Guide demos to fully support RTL
  docs/src/pages/guides/right-to-left/Direction.js
  docs/src/pages/guides/right-to-left/Direction.tsx
  docs/src/pages/guides/right-to-left/Direction.tsx.preview
Labels: docs

#30499 [docs] Codemod doc for overriding styles using tss
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30395 [docs] Lint markdown in the CI
  .circleci/config.yml
  .markdownlint.jsonc
  .markdownlintignore
  CHANGELOG.md
  CHANGELOG.old.md
  CONTRIBUTING.md
  README.md
  benchmark/browser/README.md
  docs/packages/feedback/README.md
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/mui-x-v5.md
  docs/src/pages/components/grid/grid.md
  docs/src/pages/components/snackbars/snackbars.md
  docs/src/pages/components/tables/tables.md
  docs/src/pages/getting-started/templates/blog/blog-post.1.md
  docs/src/pages/getting-started/templates/blog/blog-post.2.md
  docs/src/pages/getting-started/templates/blog/blog-post.3.md
  docs/src/pages/guides/migration-v4/migration-v4.md
  docs/src/pages/guides/styled-engine/styled-engine.md
  docs/src/pages/premium-themes/onepirate/modules/views/privacy.md
  docs/src/pages/premium-themes/onepirate/modules/views/terms.md
  docs/src/pages/styles/basics/basics.md
  docs/src/pages/styles/typescript/typescript.md
  docs/src/pages/system/properties/properties.md
  examples/create-react-app-with-styled-components-typescript/README.md
  examples/joy-cra-typescript/README.md
  package.json
  packages/mui-codemod/README.md
  packages/mui-icons-material/fixtures/game-icons/README.md
  packages/typescript-to-proptypes/CHANGELOG.md
  scripts/README.md
  test/README.md
  yarn.lock
Labels: docs, test

#30362 [Slider] Add `input` slot to components and componentsProps
  docs/pages/api-docs/slider-unstyled.json
  docs/pages/api-docs/slider.json
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.js
  packages/mui-material/src/Slider/Slider.d.ts
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/Slider/Slider.test.js
Labels: enhancement, component: slider

#30563 [docs] Fix the crash when applying custom colors
  docs/src/modules/components/DemoSandboxed.js
  docs/src/modules/components/ThemeContext.js
  test/e2e-website/material-color-playground.spec.ts
Labels: docs, regression

#30495 [docs] Update markdown parser to remove backticks from description
  docs/packages/markdown/parseMarkdown.js
  docs/packages/markdown/parseMarkdown.test.js
  docs/src/pages/customization/theme-components/theme-components.md
Labels: docs

#30493 [TextField][InputLabel] Remove `pointer-events: none` property
  docs/src/pages/premium-themes/onepirate/modules/components/TextField.js
  docs/translations/api-docs/text-field/text-field.json
  packages/mui-material/src/InputLabel/InputLabel.js
  packages/mui-material/src/TextField/TextField.d.ts
  packages/mui-material/src/TextField/TextField.js
Labels: bug 🐛, component: text field, package: material

#30574 [Slider] Run scripts
  docs/pages/api-docs/slider-unstyled.json
  docs/pages/api-docs/slider.json
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.js
  packages/mui-material/src/Slider/Slider.js
Labels: component: slider, typescript

#30567 v5.2.8
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#30283 [docs] Add products identifier and drawer
  docs/src/featureToggle.js
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/route.ts
  docs/translations/translations.json
  test/e2e-website/material-color-playground.spec.ts
  test/e2e-website/products-drawer.spec.ts
Labels: docs

#30437 [system][Box, Grid, Typography] `textTransform` prop should work directly on component
  docs/src/pages/system/typography/TextTransform.js
  docs/src/pages/system/typography/TextTransform.tsx
  docs/src/pages/system/typography/TextTransform.tsx.preview
  docs/src/pages/system/typography/typography.md
  packages/mui-system/src/Box/Box.d.ts
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/typography.js
Labels: component: Grid, component: Typography, package: system, component: Box

#30094 [SliderUnstyled] Add useSlider hook and polish
  docs/pages/api-docs/slider.json
  docs/translations/api-docs/slider/slider.json
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.js
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.test.js
  packages/mui-base/src/SliderUnstyled/SliderUnstyledProps.ts
  packages/mui-base/src/SliderUnstyled/index.d.ts
  packages/mui-base/src/SliderUnstyled/index.js
  packages/mui-base/src/SliderUnstyled/useSlider.ts
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/utils/shouldSpreadAdditionalProps.js
  test/utils/describeConformanceUnstyled.tsx
Labels: component: slider, package: base

#30578 [codemod] Bump `jscodeshift` to remove `colors` dependency
  packages/mui-codemod/package.json
  yarn.lock
Labels: package: codemod

#30581 [website] Add Andrii to the About Us page
  docs/pages/about.tsx
  docs/public/static/branding/about/andrii.png
Labels: website

#30533 [core] Fix `docs:api` script for Windows OS
  docs/scripts/buildApiUtils.ts
Labels: core

#30515 [Autocomplete] Add ability to pass props to `Paper` component
  docs/pages/api-docs/autocomplete.json
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.spec.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: enhancement, component: autocomplete

#30587 [docs] Add missing quote in migration docs
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30212 [Select] Add defaultOpen prop
  docs/pages/api-docs/select.json
  docs/src/pages/components/selects/selects.md
  docs/translations/api-docs/select/select.json
  packages/mui-material/src/Select/Select.d.ts
  packages/mui-material/src/Select/Select.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.d.ts
  packages/mui-material/src/Select/SelectInput.js
Labels: enhancement, component: select

#30593 [docs] Fix integration with MUI X
  docs/src/modules/components/ComponentLinkHeader.js
Labels: bug 🐛, docs

#30596 [core] Fix outdated TypeScript template
  docs/public/_redirects
Labels: typescript, core

#30595 [docs] Fix anchor tag in table of contents of v4->v5 docs
  docs/src/pages/guides/migration-v0x/migration-v0x.md
  docs/src/pages/guides/migration-v3/migration-v3.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#29896 [Masonry] Observe every masonry child to trigger computation when needed
  docs/src/pages/components/masonry/MasonryWithVariableHeightItems.js
  docs/src/pages/components/masonry/MasonryWithVariableHeightItems.tsx
  docs/src/pages/components/masonry/MasonryWithVariableHeightItems.tsx.preview
  docs/src/pages/components/masonry/masonry.md
  packages/mui-lab/src/Masonry/Masonry.js
  packages/mui-lab/src/Masonry/Masonry.test.js
Labels: bug 🐛, package: lab, component: masonry

#30663 [core] Remove dead files
  docs/src/pages/premium-themes/onepirate/modules/views/privacy-pt.md
  docs/src/pages/premium-themes/onepirate/modules/views/privacy-zh.md
Labels: core

#30065 [docs] Remove redundant grouping in /components/radio-buttons/
  docs/src/pages/components/radio-buttons/ControlledRadioButtonsGroup.js
  docs/src/pages/components/radio-buttons/ControlledRadioButtonsGroup.tsx
  docs/src/pages/components/radio-buttons/ControlledRadioButtonsGroup.tsx.preview
  docs/src/pages/components/radio-buttons/CustomizedRadios.js
  docs/src/pages/components/radio-buttons/CustomizedRadios.tsx
  docs/src/pages/components/radio-buttons/CustomizedRadios.tsx.preview
  docs/src/pages/components/radio-buttons/ErrorRadios.js
  docs/src/pages/components/radio-buttons/ErrorRadios.tsx
  docs/src/pages/components/radio-buttons/FormControlLabelPlacement.js
  docs/src/pages/components/radio-buttons/FormControlLabelPlacement.tsx
  docs/src/pages/components/radio-buttons/RadioButtonsGroup.js
  docs/src/pages/components/radio-buttons/RadioButtonsGroup.tsx
  docs/src/pages/components/radio-buttons/RadioButtonsGroup.tsx.preview
  docs/src/pages/components/radio-buttons/RowRadioButtonsGroup.js
  docs/src/pages/components/radio-buttons/RowRadioButtonsGroup.tsx
  docs/src/pages/components/radio-buttons/RowRadioButtonsGroup.tsx.preview
Labels: docs, accessibility, component: radio

#30659 [core] Renovate should not try to update node
  .github/renovate.json
Labels: core

#30524 [system] Support callback value in `styleOverrides` slot
  docs/src/pages/customization/theme-components/GlobalThemeOverrideCallback.js
  docs/src/pages/customization/theme-components/GlobalThemeOverrideCallback.tsx
  docs/src/pages/customization/theme-components/GlobalThemeOverrideSx.js
  docs/src/pages/customization/theme-components/GlobalThemeOverrideSx.tsx
  docs/src/pages/customization/theme-components/GlobalThemeOverrideSx.tsx.preview
  docs/src/pages/customization/theme-components/theme-components.md
  packages/mui-joy/src/Button/Button.test.js
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Button/ButtonProps.ts
  packages/mui-joy/src/SvgIcon/SvgIcon.tsx
  packages/mui-joy/src/SvgIcon/SvgIconProps.ts
  packages/mui-joy/src/Switch/Switch.test.js
  packages/mui-joy/src/Switch/SwitchProps.ts
  packages/mui-joy/src/Typography/Typography.test.js
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/Typography/TypographyProps.ts
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/test/typescript/moduleAugmentation/CssVarsProvider.spec.tsx
  packages/mui-lab/src/themeAugmentation/components.d.ts
  packages/mui-material/src/styles/components.d.ts
  packages/mui-material/src/styles/createTheme.d.ts
  packages/mui-material/src/styles/overrides.d.ts
  packages/mui-material/src/styles/styled.spec.tsx
  packages/mui-material/src/styles/useThemeProps.d.ts
  packages/mui-material/test/typescript/moduleAugmentation/styleOverridesCallback.spec.tsx
  packages/mui-material/test/typescript/moduleAugmentation/styleOverridesCallback.tsconfig.json
  packages/mui-system/src/createStyled.js
  packages/mui-system/src/createStyled.test.js
Labels: package: system

#30662 [core] Revert changes to peer dependencies
  framer/Material-UI.framerfx/package.json
  packages/mui-base/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: core

#30121 [website] Add a Blog index page
  docs/lib/sourcing.ts
  docs/next.config.js
  docs/pages/blog.tsx
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/2020-introducing-sketch.md
  docs/pages/blog/2020-q1-update.md
  docs/pages/blog/2020-q2-update.md
  docs/pages/blog/2020-q3-update.md
  docs/pages/blog/2020.md
  docs/pages/blog/2021-q1-update.md
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/2021-q3-update.md
  docs/pages/blog/2021.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/august-2019-update.md
  docs/pages/blog/benny-joo-joining.md
  docs/pages/blog/danail-hadjiatanasov-joining.md
  docs/pages/blog/danilo-leal-joining.md
  docs/pages/blog/december-2019-update.md
  docs/pages/blog/july-2019-update.md
  docs/pages/blog/june-2019-update.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/marija-najdova-joining.md
  docs/pages/blog/material-ui-is-now-mui.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/matheus-wichman-joining.md
  docs/pages/blog/may-2019-update.md
  docs/pages/blog/michal-dudak-joining.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/blog/mui-x-v5.md
  docs/pages/blog/november-2019-update.md
  docs/pages/blog/october-2019-update.md
  docs/pages/blog/september-2019-update.md
  docs/pages/blog/siriwat-kunaporn-joining.md
  docs/pages/blog/spotlight-damien-tassone.md
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/featureToggle.js
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/route.ts
Labels: website, blog

#30622 [website] Fix code button with installation command
  docs/public/static/logo.svg
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/route.ts
Labels: website

#30608 [core] Add new structure to ignore list crowdin
  crowdin.yml
Labels: core

#30679 [docs] Make Autocomplete docs gender neutral
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: docs, component: autocomplete

#30664 [docs] Close user menu on click in ResponsiveAppBar demo
  docs/src/pages/components/app-bar/ResponsiveAppBar.js
  docs/src/pages/components/app-bar/ResponsiveAppBar.tsx
Labels: docs

#30691 [docs] Update UXPin link to new landing page
  docs/src/pages/discover-more/related-projects/related-projects.md
  docs/src/pages/getting-started/installation/installation.md
Labels: docs

#30690 [core] Batch small changes
  CHANGELOG.md
  CHANGELOG.old.md
  docs/pages/blog/2019.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/may-2019-update.md
  docs/pages/careers.tsx
  docs/pages/company/about.js
  docs/public/_redirects
  docs/src/components/home/XGridGlobalStyles.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/pages/company/about/about.md
  docs/src/pages/getting-started/learn/learn.md
  docs/src/pages/getting-started/support/support.md
  docs/src/pages/guides/migration-v3/migration-v3.md
Labels: core

#30697 [docs] Add Checkbox color prop change
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs, v5.x migration

#30616 [docs] Add a missing bracket in the migration-v4 guide
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30698 [test] Fix buildApiUtils tests on Windows
  docs/scripts/buildApiUtils.test.ts
Labels: test

#30592 [docs] Update remix example to restore from error pages
  examples/remix-with-typescript/app/entry.client.tsx
  examples/remix-with-typescript/app/root.tsx
  examples/remix-with-typescript/app/src/ClientStyleContext.tsx
Labels: docs

#30681 [icons] Makes material-icons work with Joy
  docs/pages/experiments/joy/components.tsx
  docs/pages/experiments/joy/switch.tsx
  docs/pages/experiments/joy/typography.tsx
  packages/mui-material/src/SvgIcon/SvgIcon.js
Labels: package: icons, joy design

#30512 [icons] Fix naming typos
  packages/mui-icons-material/legacy/EightteenMp.js
  packages/mui-icons-material/legacy/EightteenMpOutlined.js
  packages/mui-icons-material/legacy/EightteenMpRounded.js
  packages/mui-icons-material/legacy/EightteenMpSharp.js
  packages/mui-icons-material/legacy/EightteenMpTwoTone.js
  packages/mui-icons-material/legacy/FivteenMp.js
  packages/mui-icons-material/legacy/FivteenMpOutlined.js
  packages/mui-icons-material/legacy/FivteenMpRounded.js
  packages/mui-icons-material/legacy/FivteenMpSharp.js
  packages/mui-icons-material/legacy/FivteenMpTwoTone.js
  packages/mui-icons-material/lib/EighteenMp.js
  packages/mui-icons-material/lib/EighteenMpOutlined.js
  packages/mui-icons-material/lib/EighteenMpRounded.js
  packages/mui-icons-material/lib/EighteenMpSharp.js
  packages/mui-icons-material/lib/EighteenMpTwoTone.js
  packages/mui-icons-material/lib/FifteenMp.js
  packages/mui-icons-material/lib/FifteenMpOutlined.js
  packages/mui-icons-material/lib/FifteenMpRounded.js
  packages/mui-icons-material/lib/FifteenMpSharp.js
  packages/mui-icons-material/lib/FifteenMpTwoTone.js
  packages/mui-icons-material/lib/esm/EighteenMp.js
  packages/mui-icons-material/lib/esm/EighteenMpOutlined.js
  packages/mui-icons-material/lib/esm/EighteenMpRounded.js
  packages/mui-icons-material/lib/esm/EighteenMpSharp.js
  packages/mui-icons-material/lib/esm/EighteenMpTwoTone.js
  packages/mui-icons-material/lib/esm/FifteenMp.js
  packages/mui-icons-material/lib/esm/FifteenMpOutlined.js
  packages/mui-icons-material/lib/esm/FifteenMpRounded.js
  packages/mui-icons-material/lib/esm/FifteenMpSharp.js
  packages/mui-icons-material/lib/esm/FifteenMpTwoTone.js
  packages/mui-icons-material/lib/esm/index.js
  packages/mui-icons-material/lib/index.js
  packages/mui-icons-material/renameFilters/material-design-icons.js
Labels: package: icons

#30614 [SliderUnstyled] Improve typings on some internal utils
  packages/mui-base/src/SliderUnstyled/useSlider.ts
Labels: component: slider, typescript

#30598 [blog] Introducing the Row Grouping feature
  docs/pages/blog/introducing-the-row-grouping-feature.js
  docs/pages/blog/introducing-the-row-grouping-feature.md
  docs/public/static/blog/introducing-the-row-grouping-feature/blog1.gif
  docs/public/static/blog/introducing-the-row-grouping-feature/blog2.gif
  docs/public/static/blog/introducing-the-row-grouping-feature/defaultSettings.png
  docs/public/static/blog/introducing-the-row-grouping-feature/groupable1.png
Labels: blog

#30723 [docs] Fix typo in containedSizeMedium class
  docs/translations/api-docs/button/button.json
  docs/translations/api-docs/loading-button/loading-button.json
  packages/mui-material/src/Button/buttonClasses.ts
Labels: docs, component: button

#30700 [docs] Add interoprability guide for using Tailwind CSS
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/guides/interoperability/interoperability.md
  examples/tailwind/.gitignore
  examples/tailwind/README.md
  examples/tailwind/package.json
  examples/tailwind/postcss.config.js
  examples/tailwind/public/favicon.ico
  examples/tailwind/public/index.html
  examples/tailwind/public/logo192.png
  examples/tailwind/public/logo512.png
  examples/tailwind/public/manifest.json
  examples/tailwind/public/robots.txt
  examples/tailwind/src/App.tsx
  examples/tailwind/src/ProTip.tsx
  examples/tailwind/src/index.css
  examples/tailwind/src/index.tsx
  examples/tailwind/src/logo.svg
  examples/tailwind/src/react-app-env.d.ts
  examples/tailwind/src/reportWebVitals.ts
  examples/tailwind/src/setupTests.ts
  examples/tailwind/tailwind.config.js
  examples/tailwind/tsconfig.json
Labels: docs

#30721 [docs] Update migration-v4.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30733 [docs] Fix SEO crawl errors
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/2020-introducing-sketch.md
  docs/pages/blog/2020-q1-update.md
  docs/pages/blog/2020-q2-update.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/august-2019-update.md
  docs/pages/blog/benny-joo-joining.md
  docs/pages/blog/december-2019-update.md
  docs/pages/blog/july-2019-update.md
  docs/pages/blog/june-2019-update.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/may-2019-update.md
  docs/pages/blog/november-2019-update.md
  docs/pages/blog/october-2019-update.md
  docs/pages/blog/september-2019-update.md
  docs/src/pages/components/popper/popper.md
  docs/src/pages/customization/theme-components/theme-components.md
  docs/src/pages/discover-more/backers/backers.md
  docs/src/pages/discover-more/showcase/appList.js
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: docs

#30756 v5.3.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  framer/Material-UI.framerfx/package.json
  framer/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
Labels: release

#30747 [website] Polish /about page
  docs/pages/about.tsx
  docs/public/static/branding/about/andrii.png
  docs/public/static/branding/about/benny.png
  docs/public/static/branding/about/danilo.png
  docs/public/static/branding/about/jan.png
  docs/public/static/branding/about/jose.png
  docs/public/static/branding/about/marija.png
  docs/public/static/branding/about/matheus.png
  docs/public/static/branding/about/olivier.png
  docs/public/static/branding/about/sebastian.png
  docs/src/components/pricing/PricingTable.tsx
  docs/src/modules/brandingTheme.ts
Labels: website

#30737 [Autocomplete] Fix typos in the page
  docs/src/pages/components/autocomplete/autocomplete.md
Labels: docs, component: autocomplete

#30734 [docs] Small fixes on the jss-to-tss migration guide
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: bug 🐛, docs

#30657 [test] Support React.useId format in *DescriptionOf
  test/utils/createRenderer.test.js
  test/utils/createRenderer.tsx
Labels: test

#30773 [DateTimePicker] Fix month view highlight wrong tab
  packages/mui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
Labels: component: date time picker

#30776 [TextField] Remove usage of dangerouslySetInnerHTML
  packages/mui-material/src/FormHelperText/FormHelperText.js
  packages/mui-material/src/InputAdornment/InputAdornment.js
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: text field

#30710 [docs] Retain vendor prefixing in rtl example
  docs/src/modules/components/DemoSandboxed.js
  docs/src/modules/utils/StyledEngineProvider.js
  docs/src/pages/guides/right-to-left/Direction.js
  docs/src/pages/guides/right-to-left/Direction.tsx
  docs/src/pages/guides/right-to-left/RtlOptOutStylis.js
  docs/src/pages/guides/right-to-left/RtlOptOutStylis.tsx
  docs/src/pages/guides/right-to-left/right-to-left.md
  package.json
  test/regressions/fixtures/Tabs/RTLVerticalTabs.js
  test/regressions/fixtures/Tooltip/PositionedTooltipsRtl.js
  yarn.lock
Labels: docs, package: system

#30656 [FormControlLabel][FormGroup] add Mui-error class
  docs/pages/api-docs/form-control-label.json
  docs/pages/api-docs/form-group.json
  docs/translations/api-docs/form-control-label/form-control-label.json
  docs/translations/api-docs/form-group/form-group.json
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.test.js
  packages/mui-material/src/FormControlLabel/formControlLabelClasses.ts
  packages/mui-material/src/FormGroup/FormGroup.js
  packages/mui-material/src/FormGroup/FormGroup.test.js
  packages/mui-material/src/FormGroup/formGroupClasses.ts
Labels: component: text field, PR: needs test

#30655 [useMediaQuery] Ensure no tearing in React 18
  packages/mui-material/src/useMediaQuery/useMediaQuery.test.js
  packages/mui-material/src/useMediaQuery/useMediaQuery.ts
Labels: enhancement, hook: useMediaQuery

#30749 [pickers] Enable the sx props on all components
  TYPESCRIPT_CONVENTION.md
  packages/mui-lab/src/CalendarPicker/PickersCalendar.tsx
  packages/mui-lab/src/CalendarPicker/PickersCalendarHeader.tsx
  packages/mui-lab/src/CalendarPicker/PickersFadeTransitionGroup.tsx
  packages/mui-lab/src/CalendarPicker/PickersSlideTransition.tsx
  packages/mui-lab/src/ClockPicker/Clock.tsx
  packages/mui-lab/src/ClockPicker/ClockNumber.tsx
  packages/mui-lab/src/ClockPicker/ClockPointer.tsx
  packages/mui-lab/src/DatePicker/DatePickerToolbar.tsx
  packages/mui-lab/src/DateRangePicker/DateRangePickerInput.tsx
  packages/mui-lab/src/DateRangePicker/DateRangePickerToolbar.tsx
  packages/mui-lab/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  packages/mui-lab/src/DateTimePicker/DateTimePickerTabs.tsx
  packages/mui-lab/src/DateTimePicker/DateTimePickerToolbar.tsx
  packages/mui-lab/src/MonthPicker/PickersMonth.tsx
  packages/mui-lab/src/TimePicker/TimePickerToolbar.tsx
  packages/mui-lab/src/YearPicker/PickersYear.tsx
  packages/mui-lab/src/internal/pickers/Picker/Picker.tsx
  packages/mui-lab/src/internal/pickers/PickersArrowSwitcher.tsx
  packages/mui-lab/src/internal/pickers/PickersModalDialog.tsx
  packages/mui-lab/src/internal/pickers/PickersPopper.tsx
  packages/mui-lab/src/internal/pickers/PickersToolbar.tsx
  packages/mui-lab/src/internal/pickers/PickersToolbarButton.tsx
  packages/mui-lab/src/internal/pickers/PickersToolbarText.tsx
  packages/mui-lab/src/internal/pickers/wrappers/PickerStaticWrapper.tsx
  packages/mui-material-next/src/Button/TouchRipple.js
  packages/mui-material/src/Breadcrumbs/BreadcrumbCollapsed.js
  packages/mui-material/src/ButtonBase/TouchRipple.js
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/Radio/RadioButtonIcon.js
  packages/mui-material/src/SwipeableDrawer/SwipeArea.js
  packages/mui-material/src/internal/SwitchBase.js
Labels: component: pickers

#28241 [examples] Add Vite.js example
  docs/src/pages/getting-started/example-projects/example-projects.md
  examples/vitejs/.gitignore
  examples/vitejs/README.md
  examples/vitejs/index.html
  examples/vitejs/package.json
  examples/vitejs/src/App.jsx
  examples/vitejs/src/Copyright.jsx
  examples/vitejs/src/ProTIp.jsx
  examples/vitejs/src/main.jsx
  examples/vitejs/src/theme.js
  examples/vitejs/vite.config.js
Labels: examples

#30668 [blog] Introducing callback support in style overrides
  docs/pages/blog/callback-support-in-style-overrides.js
  docs/pages/blog/callback-support-in-style-overrides.md
  docs/src/pages/customization/theme-components/theme-components.md
  docs/src/pages/guides/migration-v4/migration-v4.md
Labels: blog

#30798 [test] Add explicit types to support `noImplicitAny=false`
  test/utils/initMatchers.ts
Labels: test

#30705 [docs] Change ThemeProvider API links
  packages/mui-material/src/styles/ThemeProvider.d.ts
  packages/mui-system/src/ThemeProvider/ThemeProvider.d.ts
Labels: docs

#30823 [docs] Fix typo in ad fallback
  docs/translations/translations.json
Labels: docs

#30708 [website] Add designer position page
  docs/pages/careers.tsx
  docs/pages/company/designer.js
  docs/pages/company/developer-advocate.js
  docs/pages/company/developer-experience-engineer.js
  docs/pages/company/hustler-engineer.js
  docs/pages/company/people-operations-manager.js
  docs/pages/company/react-engineer.js
  docs/pages/company/support-agent.js
  docs/pages/company/support-engineer.js
  docs/src/pages/company/careers/TEMPLATE.md
  docs/src/pages/company/careers/designer.md
  docs/src/pages/company/careers/developer-advocate.md
  docs/src/pages/company/careers/developer-experience-engineer.md
  docs/src/pages/company/careers/full-stack-engineer.md
  docs/src/pages/company/careers/hustler-engineer.md
  docs/src/pages/company/careers/people-operation-manager.md
  docs/src/pages/company/careers/product-designer.md
  docs/src/pages/company/careers/product-manager.md
  docs/src/pages/company/careers/react-engineer.md
  docs/src/pages/company/careers/support-agent.md
  docs/src/pages/company/careers/support-engineer.md
  docs/src/pages/company/careers/technical-product-manager.md
  docs/src/route.ts
Labels: website

#30809 [core] Fix typos in comments for scripts
  scripts/releaseChangelog.js
  scripts/testBuiltTypes.js
Labels: core

#30819 [test] Fix tests on Node 16
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.test.js
Labels: test, component: autocomplete

#30808 [docs] Improve the Getting Started documentation content
  docs/src/pages/customization/how-to-customize/DynamicThemeNesting.js
  docs/src/pages/customization/how-to-customize/DynamicThemeNesting.tsx
  docs/src/pages/customization/how-to-customize/DynamicThemeNesting.tsx.preview
  docs/src/pages/customization/how-to-customize/how-to-customize.md
  docs/src/pages/customization/theming/theming.md
  docs/src/pages/getting-started/example-projects/example-projects.md
  docs/src/pages/getting-started/faq/faq.md
  docs/src/pages/getting-started/installation/installation.md
  docs/src/pages/getting-started/learn/learn.md
  docs/src/pages/getting-started/supported-platforms/supported-platforms.md
Labels: docs

#30813 [Grid] Fix prop check for applying wrap-reverse
  packages/mui-material/src/Grid/Grid.js
  packages/mui-material/src/Grid/Grid.test.js
Labels: bug 🐛, component: Grid, package: material, regression

#30785 [docs] Improve the interoperability guide
  docs/src/pages/guides/interoperability/interoperability.md
Labels: docs

#30560 [TextField] remove notch when no label is added
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/OutlinedInput/NotchedOutline.test.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
  packages/mui-material/src/TextField/TextField.js
  packages/mui-material/src/TextField/TextField.test.js
Labels: component: text field

#30829 [website] Fix SEO issues
  docs/next.config.js
  docs/pages/blog/2019.md
  docs/pages/blog/2020-q2-update.md
  docs/pages/blog/2020-q3-update.md
  docs/pages/blog/2021-q3-update.md
  docs/pages/blog/mui-x-v5.md
  docs/pages/blog/november-2019-update.md
  docs/public/_redirects
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/featureToggle.js
  docs/src/pages/discover-more/showcase/appList.js
  docs/src/route.ts
Labels: website

#30795 [TreeView] Select node when key `Enter` is pressed
  packages/mui-lab/src/TreeView/TreeView.js
  packages/mui-lab/src/TreeView/TreeView.test.js
Labels: bug 🐛, accessibility, component: tree view

#30853 [core] Do not reexport Base from Material
  packages/mui-material/src/index.d.ts
  packages/mui-material/src/index.js
Labels: breaking change, package: material
