Repository mui/material-ui, pull requests merged in 2023-03, with the labels that each got.

#36378 [docs][joy] Build TS versions for Typography component demos
  docs/data/joy/components/typography/DecoratorExamples.tsx
  docs/data/joy/components/typography/NestedTypography.tsx
  docs/data/joy/components/typography/NestedTypography.tsx.preview
  docs/data/joy/components/typography/TypographyDecorators.tsx
  docs/data/joy/components/typography/TypographyDecorators.tsx.preview
  docs/data/joy/components/typography/TypographyScales.tsx
  docs/data/joy/components/typography/TypographyScales.tsx.preview
Labels: docs, component: Typography, package: joy

#36331 [docs] Fix @mui/styles example links
  docs/data/styles/advanced/advanced.md
Labels: docs, regression, examples

#36190 [docs] Improve visual look of loose lists
  docs/data/material/components/radio-buttons/radio-buttons.md
  docs/src/modules/components/MarkdownElement.js
Labels: docs, design

#36274 [Select][base] Add the multiselect functionality to SelectUnstyled
  docs/data/base/components/select/UnstyledSelectControlled.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx
  docs/data/base/components/select/UnstyledSelectForm.tsx
  docs/data/base/components/select/UnstyledSelectGrouping.tsx
  docs/data/base/components/select/UnstyledSelectIntroduction.js
  docs/data/base/components/select/UnstyledSelectIntroduction.tsx
  docs/data/base/components/select/UnstyledSelectMultiple.js
  docs/data/base/components/select/UnstyledSelectMultiple.tsx
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/base/components/select/UnstyledSelectSimple.tsx
  docs/data/base/components/select/select.md
  docs/data/base/pagesApi.js
  docs/pages/base/api/multi-select-unstyled.js
  docs/pages/base/api/multi-select-unstyled.json
  docs/pages/base/api/select-unstyled.json
  docs/pages/joy-ui/api/select.json
  docs/translations/api-docs-joy/select/select.json
  docs/translations/api-docs/multi-select-unstyled/multi-select-unstyled-pt.json
  docs/translations/api-docs/multi-select-unstyled/multi-select-unstyled-zh.json
  docs/translations/api-docs/multi-select-unstyled/multi-select-unstyled.json
  docs/translations/api-docs/select-unstyled/select-unstyled.json
  packages/api-docs-builder/buildApiUtils.ts
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.spec.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.test.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.types.ts
  packages/mui-base/src/MultiSelectUnstyled/index.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.spec.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.test.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.types.ts
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
  packages/mui-base/src/useListbox/defaultListboxReducer.test.ts
  packages/mui-base/src/useListbox/defaultListboxReducer.ts
  packages/mui-base/src/useListbox/useControllableReducer.test.tsx
  packages/mui-base/src/useListbox/useControllableReducer.ts
  packages/mui-base/src/useListbox/useListbox.ts
  packages/mui-base/src/useListbox/useListbox.types.ts
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
  packages/mui-base/test/integration/SelectUnstyled.test.tsx
  packages/mui-base/test/typescript/moduleAugmentation/selectUnstyledComponentsProps.spec.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
Labels: breaking change, component: select, package: base, enhancement

#35739 [core] Generate vars in `extendTheme`
  packages/mui-joy/src/Box/Box.test.js
  packages/mui-joy/src/CssBaseline/CssBaseline.tsx
  packages/mui-joy/src/styles/ColorInversion.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/ThemeProvider.test.tsx
  packages/mui-joy/src/styles/ThemeProvider.tsx
  packages/mui-joy/src/styles/defaultTheme.test.js
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/index.ts
  packages/mui-joy/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-joy/src/styles/variantUtils.test.js
  packages/mui-joy/src/styles/variantUtils.ts
  packages/mui-material-next/src/styles/CssVarsProvider.tsx
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/defaultTheme.ts
  packages/mui-material-next/src/styles/extendTheme.test.ts
  packages/mui-material-next/src/styles/extendTheme.ts
  packages/mui-material/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/createCssVarsTheme.ts
  packages/mui-system/src/cssVars/createGetCssVar.ts
  packages/mui-system/src/cssVars/cssVarsParser.test.ts
  packages/mui-system/src/cssVars/cssVarsParser.ts
  packages/mui-system/src/cssVars/index.ts
  packages/mui-system/src/cssVars/prepareCssVars.ts
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  test/regressions/fixtures/CssVarsProvider/DarkModeSpecificity.js
  test/regressions/fixtures/CssVarsProvider/ForceColorSchemes.js
  test/regressions/fixtures/CssVarsProvider/IndependentCssVarsProviders.js
  test/regressions/fixtures/CssVarsProvider/NestedCssVarsProviders.js
Labels: breaking change, package: system, package: material, package: joy

#36354 [docs] Update MUI X banner to reflect stable release
  docs/src/components/banner/AppFrameBanner.tsx
Labels: docs

#36406 [docs][joy] Build TS versions for Radio component demos
  docs/data/joy/components/radio/ControlledRadioButtonsGroup.tsx
  docs/data/joy/components/radio/ControlledRadioButtonsGroup.tsx.preview
  docs/data/joy/components/radio/ExampleAlignmentButtons.tsx
  docs/data/joy/components/radio/ExamplePaymentChannels.tsx
  docs/data/joy/components/radio/ExampleProductAttributes.tsx
  docs/data/joy/components/radio/ExampleSegmentedControls.tsx
  docs/data/joy/components/radio/ExampleTiers.tsx
  docs/data/joy/components/radio/IconlessRadio.tsx
  docs/data/joy/components/radio/IconsRadio.tsx
  docs/data/joy/components/radio/OverlayRadio.tsx
  docs/data/joy/components/radio/RadioButtonControl.tsx
  docs/data/joy/components/radio/RadioButtonControl.tsx.preview
  docs/data/joy/components/radio/RadioButtonLabel.tsx
  docs/data/joy/components/radio/RadioButtonLabel.tsx.preview
  docs/data/joy/components/radio/RadioButtons.tsx
  docs/data/joy/components/radio/RadioButtons.tsx.preview
  docs/data/joy/components/radio/RadioButtonsGroup.tsx
  docs/data/joy/components/radio/RadioButtonsGroup.tsx.preview
  docs/data/joy/components/radio/RadioFocus.tsx
  docs/data/joy/components/radio/RadioFocus.tsx.preview
  docs/data/joy/components/radio/RadioPositionEnd.tsx
Labels: docs, component: radio, package: joy

#36397 [Autocomplete][joy] Add disabled class to the popup indicator
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
Labels: component: autocomplete, design: joy, enhancement

#36316 [Menu] Fix Menu Paper styles overriding in the theme
  packages/mui-material/src/Menu/Menu.js
  packages/mui-material/src/Menu/Menu.test.js
Labels: bug 🐛, component: menu

#36411 [useMenu] Fix `import type` syntax
  packages/mui-base/src/useMenu/useMenu.ts
Labels: component: menu, typescript, package: base

#36420 Revert "Bump rimraf to ^4.1.3"
  docs/package.json
  package.json
  packages/typescript-to-proptypes/package.json
  yarn.lock
Labels: dependencies, regression

#36394 [test] Remove duplicate `combobox` role queries in Autocomplete tests
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: test, component: autocomplete

#36353 [Dialog] Use the id prop provided to the DialogTitle component
  packages/mui-material/src/DialogTitle/DialogTitle.js
  packages/mui-material/src/DialogTitle/DialogTitle.test.js
Labels: bug 🐛, component: dialog

#36398 MUI X v6 release announcement
  docs/pages/blog/mui-x-v6.js
  docs/pages/blog/mui-x-v6.md
  docs/public/static/blog/mui-x-v6/card.png
  docs/public/static/blog/mui-x-v6/cell-selection.mp4
  docs/public/static/blog/mui-x-v6/column-menu-custom-action.png
Labels: blog, MUI X

#36231 [Autocomplete] Fix list scrolls to the top when new data is added on touch devices
  docs/translations/api-docs-joy/autocomplete/autocomplete.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, component: autocomplete

#36301 [docs] Add instructions for deploying docs without a release
  scripts/README.md
Labels: core

#36050 [useSwitch] Add explicit return type
  docs/pages/base/api/use-switch.json
  docs/translations/api-docs/use-switch/use-switch.json
  packages/mui-base/src/useSwitch/useSwitch.ts
  packages/mui-base/src/useSwitch/useSwitch.types.ts
Labels: component: switch

#36225 [TreeView] Fix Tree View inside shadow root crashes
  packages/mui-lab/src/TreeItem/TreeItem.js
Labels: package: lab, component: tree view

#36410 [docs][joy] Clarify when `CssVarsProvider` is required
  docs/data/joy/getting-started/tutorial/tutorial.md
  docs/data/joy/getting-started/usage/usage.md
  docs/data/joy/guides/using-icon-libraries/using-icon-libraries.md
Labels: docs, package: joy

#36052 [useSnackBar] Add explicit return type
  docs/pages/base/api/use-snackbar.json
  docs/translations/api-docs/use-snackbar/use-snackbar.json
  packages/mui-base/src/useSnackbar/useSnackbar.ts
  packages/mui-base/src/useSnackbar/useSnackbar.types.ts
Labels: component: snackbar

#36443 v5.11.12
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  yarn.lock
Labels: release

#36376 [useMenu][base] Add return interface for useMenu hook
  docs/pages/base/api/use-menu.json
  docs/translations/api-docs/use-menu/use-menu.json
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.types.ts
  packages/mui-base/src/MenuUnstyled/MenuUnstyledContext.ts
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useMenu/useMenu.types.ts
Labels: component: menu, package: base

#36419 [docs] Fix 404 in the API page links
  docs/data/joy/components/button/button.md
  docs/data/joy/components/text-field/text-field.md
  docs/data/material/components/table/AccessibleTable.js
  docs/data/material/components/table/AccessibleTable.tsx
  docs/data/material/components/table/BasicTable.js
  docs/data/material/components/table/BasicTable.tsx
  docs/data/material/components/table/CollapsibleTable.js
  docs/data/material/components/table/CollapsibleTable.tsx
  docs/data/material/components/table/ColumnGroupingTable.js
  docs/data/material/components/table/ColumnGroupingTable.tsx
  docs/data/material/components/table/CustomPaginationActionsTable.js
  docs/data/material/components/table/CustomPaginationActionsTable.tsx
  docs/data/material/components/table/CustomizedTables.js
  docs/data/material/components/table/CustomizedTables.tsx
  docs/data/material/components/table/DataTable.js
  docs/data/material/components/table/DataTable.tsx
  docs/data/material/components/table/DataTable.tsx.preview
  docs/data/material/components/table/DenseTable.js
  docs/data/material/components/table/DenseTable.tsx
  docs/data/material/components/table/EnhancedTable.js
  docs/data/material/components/table/EnhancedTable.tsx
  docs/data/material/components/table/ReactVirtualizedTable.js
  docs/data/material/components/table/ReactVirtualizedTable.tsx
  docs/data/material/components/table/ReactVirtualizedTable.tsx.preview
  docs/data/material/components/table/SpanningTable.js
  docs/data/material/components/table/SpanningTable.tsx
  docs/data/material/components/table/StickyHeadTable.js
  docs/data/material/components/table/StickyHeadTable.tsx
  docs/data/material/components/table/table-pt.md
  docs/data/material/components/table/table-zh.md
  docs/data/material/components/table/table.md
  docs/pages/joy-ui/api/circular-progress.json
  docs/pages/joy-ui/api/linear-progress.json
  docs/pages/material-ui/react-table.js
  packages/api-docs-builder/buildApiUtils.ts
  packages/api-docs-builder/utils/findPagesMarkdown.ts
  packages/api-docs-builder/utils/replaceUrl.ts
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/LinearProgress/LinearProgress.tsx
Labels: bug 🐛, docs, package: joy

#36355 [examples] Refactor to have better types in the Next.js + TypeScript examples
  examples/material-next-ts-v4-v5-migration/pages/_app.tsx
  examples/material-next-ts-v4-v5-migration/pages/_document.tsx
  examples/material-next-ts/pages/_app.tsx
  examples/material-next-ts/pages/_document.tsx
Labels: examples

#36047 [useTabs] Add explicit return type
  docs/pages/base/api/use-tabs.json
  docs/translations/api-docs/use-tabs/use-tabs.json
  packages/mui-base/src/useTabs/index.ts
  packages/mui-base/src/useTabs/useTabs.ts
  packages/mui-base/src/useTabs/useTabs.types.ts
Labels: docs, component: tabs, typescript, package: base

#36042 [useBadge] Add interface for the return value
  docs/pages/base/api/use-badge.json
  docs/translations/api-docs/use-badge/use-badge.json
  packages/mui-base/src/useBadge/index.ts
  packages/mui-base/src/useBadge/useBadge.ts
  packages/mui-base/src/useBadge/useBadge.types.ts
Labels: docs, component: badge, typescript, package: base

#36446 [docs] Add blog post notification for v6 release
  docs/notifications.json
Labels: docs, MUI X

#36477 [website] Update stats
  docs/src/components/home/MuiStatistics.tsx
Labels: website

#36486 [docs] Fix a grammar error
  docs/data/system/properties/properties.md
Labels: docs

#36487 [docs] Info markdown not rendering in Contributing Guide README
  CONTRIBUTING.md
Labels: docs

#36489 Export `shouldSkipGeneratingVar` from Material UI
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/extendTheme.ts
  packages/mui-material-next/src/styles/index.ts
  packages/mui-material-next/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-material/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsTheme.ts
  packages/mui-system/src/cssVars/cssVarsParser.ts
  packages/mui-system/src/cssVars/prepareCssVars.ts
Labels: typescript, package: system, package: material, regression

#35963 [base] Disable classes generation via a context
  docs/data/base/getting-started/customization/DisabledDefaultClasses.js
  docs/data/base/getting-started/customization/DisabledDefaultClasses.tsx
  docs/data/base/getting-started/customization/DisabledDefaultClasses.tsx.preview
  docs/data/base/getting-started/customization/customization.md
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.tsx
  packages/mui-base/src/ButtonUnstyled/ButtonUnstyled.tsx
  packages/mui-base/src/FormControlUnstyled/FormControlUnstyled.tsx
  packages/mui-base/src/InputUnstyled/InputUnstyled.tsx
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.test.tsx
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.tsx
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.test.tsx
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.tsx
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.tsx
  packages/mui-base/src/OptionGroupUnstyled/OptionGroupUnstyled.test.tsx
  packages/mui-base/src/OptionGroupUnstyled/OptionGroupUnstyled.tsx
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.test.tsx
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.tsx
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.test.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.tsx
  packages/mui-base/src/SnackbarUnstyled/SnackbarUnstyled.tsx
  packages/mui-base/src/SwitchUnstyled/SwitchUnstyled.tsx
  packages/mui-base/src/TabPanelUnstyled/TabPanelUnstyled.tsx
  packages/mui-base/src/TabUnstyled/TabUnstyled.tsx
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.tsx
  packages/mui-base/src/TabsListUnstyled/TabsListUnstyled.tsx
  packages/mui-base/src/TabsUnstyled/TabsUnstyled.tsx
  packages/mui-base/src/utils/ClassNameConfigurator.test.tsx
  packages/mui-base/src/utils/ClassNameConfigurator.tsx
  packages/mui-base/src/utils/index.ts
  packages/mui-utils/src/composeClasses/composeClasses.ts
  test/utils/describeConformanceUnstyled.tsx
Labels: package: base, enhancement

#36480 [blog] Update fields behavior on date pickers blog post
  docs/pages/blog/v6-beta-pickers.md
  docs/public/static/blog/v6-beta-pickers/smart-field-stable.mp4
Labels: docs, MUI X

#36492 [core] Remove wrong code from yarn.lock
  packages/mui-material/package.json
  yarn.lock
Labels: core

#36462 [docs][joy] Error in the exemplary Codesandbox of using Material UI and Joy UI together
  docs/data/joy/guides/using-joy-ui-and-material-ui/using-joy-ui-and-material-ui.md
Labels: bug 🐛, docs, package: joy

#36507 [release] v5.11.13
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#36518 [docs] Add a new gold sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: docs

#33863 [TabScrollButton] Add ability to change left and right icons
  docs/pages/material-ui/api/tab-scroll-button.json
  docs/pages/material-ui/api/tabs.json
  docs/translations/api-docs/tab-scroll-button/tab-scroll-button.json
  docs/translations/api-docs/tabs/tabs.json
  packages/mui-material/src/TabScrollButton/TabScrollButton.d.ts
  packages/mui-material/src/TabScrollButton/TabScrollButton.js
  packages/mui-material/src/TabScrollButton/TabScrollButton.spec.tsx
  packages/mui-material/src/TabScrollButton/TabScrollButton.test.js
  packages/mui-material/src/Tabs/Tabs.d.ts
  packages/mui-material/src/Tabs/Tabs.js
  packages/mui-material/src/Tabs/Tabs.spec.tsx
  packages/mui-material/src/Tabs/Tabs.test.js
Labels: new feature, component: tabs

#36437 [docs] Add multiline Chip example
  docs/data/material/components/chips/MultilineChips.js
  docs/data/material/components/chips/MultilineChips.tsx
  docs/data/material/components/chips/MultilineChips.tsx.preview
  docs/data/material/components/chips/chips.md
Labels: docs, component: chip, package: material

#33812 [Breadcrumbs] Add ability to change icon used in `BreadcrumbCollapsed` through slots
  docs/pages/material-ui/api/breadcrumbs.json
  docs/translations/api-docs/breadcrumbs/breadcrumbs.json
  packages/mui-material/src/Breadcrumbs/BreadcrumbCollapsed.js
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.d.ts
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.js
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.spec.tsx
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.test.js
Labels: new feature, component: breadcrumbs

#36526 [Stepper] Add `aria-current` to the active StepButton
  packages/mui-material/src/StepButton/StepButton.js
  packages/mui-material/src/StepButton/StepButton.test.js
Labels: component: stepper

#36520 [Menu][joy] Classname listbox is missing
  packages/mui-joy/src/Menu/Menu.tsx
  packages/mui-joy/src/Menu/menuClasses.ts
Labels: component: menu, package: joy

#36512 [docs] Fix function name for Joy templates
  docs/pages/joy-ui/getting-started/templates/files.js
  docs/pages/joy-ui/getting-started/templates/order-dashboard.js
  docs/pages/joy-ui/getting-started/templates/sign-in-side.js
Labels: docs

#36533 [Masonry] Include Masonry in theme augmentation interface
  packages/mui-lab/src/themeAugmentation/components.d.ts
  packages/mui-lab/src/themeAugmentation/overrides.d.ts
  packages/mui-lab/src/themeAugmentation/props.d.ts
Labels: bug 🐛, typescript, package: lab, component: masonry

#36543 [system] Fix sx prop regression for fontWeight values
  packages/mui-system/src/styleFunctionSx/defaultSxConfig.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: package: system, regression

#36330 [docs][base] Improve the Slots Table in API docs
  docs/pages/base/api/badge-unstyled.json
  docs/pages/base/api/button-unstyled.json
  docs/pages/base/api/input-unstyled.json
  docs/pages/base/api/menu-item-unstyled.json
  docs/pages/base/api/menu-unstyled.json
  docs/pages/base/api/modal-unstyled.json
  docs/pages/base/api/option-group-unstyled.json
  docs/pages/base/api/option-unstyled.json
  docs/pages/base/api/select-unstyled.json
  docs/pages/base/api/slider-unstyled.json
  docs/pages/base/api/snackbar-unstyled.json
  docs/pages/base/api/switch-unstyled.json
  docs/pages/base/api/tab-panel-unstyled.json
  docs/pages/base/api/tab-unstyled.json
  docs/pages/base/api/table-pagination-unstyled.json
  docs/pages/base/api/tabs-list-unstyled.json
  docs/pages/base/api/tabs-unstyled.json
  docs/src/modules/components/ApiPage.js
  docs/translations/api-docs/badge-unstyled/badge-unstyled.json
  docs/translations/api-docs/button-unstyled/button-unstyled.json
  docs/translations/api-docs/input-unstyled/input-unstyled.json
  docs/translations/api-docs/menu-item-unstyled/menu-item-unstyled.json
  docs/translations/api-docs/menu-unstyled/menu-unstyled.json
  docs/translations/api-docs/modal-unstyled/modal-unstyled.json
  docs/translations/api-docs/option-group-unstyled/option-group-unstyled.json
  docs/translations/api-docs/option-unstyled/option-unstyled.json
  docs/translations/api-docs/select-unstyled/select-unstyled.json
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/snackbar-unstyled/snackbar-unstyled.json
  docs/translations/api-docs/switch-unstyled/switch-unstyled.json
  docs/translations/api-docs/tab-panel-unstyled/tab-panel-unstyled.json
  docs/translations/api-docs/tab-unstyled/tab-unstyled.json
  docs/translations/api-docs/table-pagination-unstyled/table-pagination-unstyled.json
  docs/translations/api-docs/tabs-list-unstyled/tabs-list-unstyled.json
  docs/translations/api-docs/tabs-unstyled/tabs-unstyled.json
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.types.ts
  packages/mui-base/src/ButtonUnstyled/ButtonUnstyled.types.ts
  packages/mui-base/src/FormControlUnstyled/FormControlUnstyled.types.ts
  packages/mui-base/src/InputUnstyled/InputUnstyled.types.ts
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.types.ts
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.types.ts
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.types.ts
  packages/mui-base/src/OptionGroupUnstyled/OptionGroupUnstyled.types.ts
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.types.ts
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.types.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.types.ts
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.types.ts
  packages/mui-base/src/SnackbarUnstyled/SnackbarUnstyled.types.ts
  packages/mui-base/src/SwitchUnstyled/SwitchUnstyled.types.ts
  packages/mui-base/src/TabPanelUnstyled/TabPanelUnstyled.types.ts
  packages/mui-base/src/TabUnstyled/TabUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationActionsUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.types.ts
  packages/mui-base/src/TabsListUnstyled/TabsListUnstyled.types.ts
  packages/mui-base/src/TabsUnstyled/TabsUnstyled.types.ts
Labels: docs, package: base

#36161 [docs] Use `theme.applyDarkStyles` for the rest of the docs
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/NewsletterToast.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/x-grid/EditProgress.tsx
  docs/src/components/x-grid/ProgressBar.tsx
  docs/src/components/x-grid/Status.tsx
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/BackToTop.tsx
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/MaterialYouUsageDemo.tsx
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/modules/components/Notifications.js
  docs/src/modules/components/PropertiesTable.js
Labels: docs, scope: docs-infra

#36517 [blog] Post blog about Chamonix retreat to the website
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css-pt.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css-zh.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/data/joy/main-features/dark-mode-optimization/dark-mode-optimization.md
  docs/data/material/customization/color/color.md
  docs/data/material/customization/how-to-customize/how-to-customize.md
  docs/data/material/customization/typography/typography.md
  docs/data/material/getting-started/design-resources/design-resources.md
  docs/data/material/getting-started/templates/templates.md
  docs/data/material/guides/understand-mui-packages/understand-mui-packages.md
  docs/data/system/styled/styled-pt.md
  docs/data/system/styled/styled-zh.md
  docs/data/system/styled/styled.md
  docs/pages/blog/2023-chamonix-retreat.js
  docs/pages/blog/2023-chamonix-retreat.md
  docs/public/static/blog/2023-chamonix-retreat/axe-throwing.jpeg
  docs/public/static/blog/2023-chamonix-retreat/biathlon-shooters.jpeg
  docs/public/static/blog/2023-chamonix-retreat/biathlon-skiers.jpeg
  docs/public/static/blog/2023-chamonix-retreat/card.png
  docs/public/static/blog/2023-chamonix-retreat/caterpillar-game.jpeg
  docs/public/static/blog/2023-chamonix-retreat/dessert.jpeg
  docs/public/static/blog/2023-chamonix-retreat/hotel-exterior.jpeg
  docs/public/static/blog/2023-chamonix-retreat/monthly-meeting.jpeg
  docs/public/static/blog/2023-chamonix-retreat/mountaineers.jpeg
  docs/public/static/blog/2023-chamonix-retreat/skiers.jpeg
  docs/public/static/blog/2023-chamonix-retreat/team-dinner.jpeg
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog

#36539 [docs] Ensure classname displayed under Slots section in API docs exists
  docs/pages/base/api/input-unstyled.json
  docs/pages/base/api/slider-unstyled.json
  docs/pages/joy-ui/api/chip.json
  docs/pages/joy-ui/api/slider.json
  packages/api-docs-builder/utils/parseSlots.ts
  packages/mui-base/src/ButtonUnstyled/buttonUnstyledClasses.ts
  packages/mui-base/src/ButtonUnstyled/index.ts
Labels: docs, package: base, package: joy

#36581 [docs] Remove `shouldSkipGeneratingVar` usage
  docs/data/joy/guides/using-joy-ui-and-material-ui/using-joy-ui-and-material-ui.md
Labels: docs

#36592 [l10n] Add Central Kurdish (ku-CKB) locale
  docs/data/material/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: l10n

#36595 [Joy] Fix `--List-decorator*` vars
  docs/data/joy/components/list/DecoratedList.js
  docs/data/joy/components/list/DecoratedList.tsx
  docs/data/joy/components/list/DividedList.js
  docs/data/joy/components/list/DividedList.tsx
  docs/data/joy/components/list/EllipsisList.js
  docs/data/joy/components/list/EllipsisList.tsx
  docs/data/joy/components/list/ExampleGmailList.js
  docs/data/joy/components/list/ExampleGmailList.tsx
  docs/data/joy/components/list/ExampleIOSList.js
  docs/data/joy/components/list/ExampleIOSList.tsx
  docs/data/joy/components/list/ExampleNavigationMenu.js
  docs/data/joy/components/list/ExampleNavigationMenu.tsx
  docs/data/joy/components/list/HorizontalDividedList.js
  docs/data/joy/components/list/HorizontalDividedList.tsx
  docs/data/joy/components/list/ListVariables.js
  docs/data/joy/components/menu/GroupMenu.js
  docs/data/joy/components/menu/GroupMenu.tsx
  docs/data/joy/components/radio-button/RadioPositionEnd.js
  docs/data/joy/components/radio-button/RadioPositionEnd.tsx
  docs/data/joy/components/select/SelectCustomOption.js
  docs/data/joy/components/select/SelectCustomOption.tsx
  docs/data/joy/components/select/SelectCustomValueAppearance.js
  docs/data/joy/components/select/SelectCustomValueAppearance.tsx
  docs/data/joy/components/select/SelectGroupedOptions.js
  docs/data/joy/components/select/SelectGroupedOptions.tsx
  docs/data/joy/components/tabs/TabsBottomNavExample.js
  docs/data/joy/components/tabs/TabsBottomNavExample.tsx
  docs/data/joy/components/textarea/ExampleTextareaComment.js
  docs/data/joy/components/textarea/ExampleTextareaComment.tsx
  docs/data/joy/getting-started/templates/email/components/Navigation.tsx
  docs/data/joy/getting-started/templates/files/components/Navigation.tsx
  docs/data/joy/getting-started/templates/team/App.tsx
  docs/data/joy/main-features/automatic-adjustment/ListThemes.js
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.js
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.js
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.tsx
  docs/src/modules/components/JoyUsageDemo.tsx
  packages/mui-codemod/src/v5.0.0/rename-css-variables.js
  packages/mui-codemod/src/v5.0.0/rename-css-variables.test.js
  packages/mui-codemod/src/v5.0.0/rename-css-variables.test/actual.js
  packages/mui-codemod/src/v5.0.0/rename-css-variables.test/expected.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.tsx
  test/regressions/fixtures/SelectJoy/GroupedOptionSelect.js
Labels: package: joy

#36388 [docs] Fix typo in API docs
  docs/pages/base/api/use-autocomplete.json
  docs/pages/base/api/use-button.json
  docs/pages/base/api/use-input.json
  docs/pages/base/api/use-menu-item.json
  docs/pages/base/api/use-menu.json
  docs/pages/base/api/use-option.json
  docs/pages/base/api/use-slider.json
  docs/pages/base/api/use-snackbar.json
  docs/pages/base/api/use-switch.json
  docs/pages/base/api/use-tab-panel.json
  docs/pages/base/api/use-tab.json
  docs/pages/base/api/use-tabs-list.json
  docs/pages/base/api/use-tabs.json
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
Labels: docs, scope: docs-infra

#36320 [Popper] Fix virtualElement demo for Popper
  docs/data/material/components/popper/VirtualElementPopper.js
  docs/data/material/components/popper/VirtualElementPopper.tsx
Labels: docs, component: Popper

#34159 [ListItemButton] Respect LinkComponent
  packages/mui-material/src/ListItemButton/ListItemButton.js
  packages/mui-material/src/ListItemButton/ListItemButton.test.js
Labels: component: list

#36528 [website] Designer role changes
  docs/pages/careers.tsx
  docs/pages/careers/senior-designer.js
  docs/src/pages/careers/senior-designer.md
Labels: website

#36585 [release] v5.11.14
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  docs/pages/base/api/use-menu-item.json
  docs/pages/base/api/use-menu.json
  docs/pages/base/api/use-snackbar.json
  docs/pages/base/api/use-switch.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#36602 Revert "[docs] Use `theme.applyDarkStyles` for the rest of the docs"
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/NewsletterToast.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/x-grid/EditProgress.tsx
  docs/src/components/x-grid/ProgressBar.tsx
  docs/src/components/x-grid/Status.tsx
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/BackToTop.tsx
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/MaterialYouUsageDemo.tsx
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/modules/components/Notifications.js
  docs/src/modules/components/PropertiesTable.js
Labels: docs, regression

#36401 [Grid2] Support dynamic nested columns
  docs/data/material/components/grid2/NestedGridColumns.js
  docs/data/material/components/grid2/NestedGridColumns.tsx
  docs/data/material/components/grid2/grid2.md
  packages/mui-system/src/Unstable_Grid/gridGenerator.test.js
  packages/mui-system/src/Unstable_Grid/gridGenerator.ts
Labels: bug 🐛, component: Grid, package: system

#35741 [Joy] Add palette customizer
  docs/data/joy/customization/theme-builder/theme-builder.md
  docs/data/joy/getting-started/templates/TemplateCollection.js
  docs/data/joy/pages.ts
  docs/pages/joy-ui/customization/theme-builder.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/JoyThemeBuilder.tsx
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/joy/generateThemeAugmentation.test.ts
  docs/src/modules/joy/generateThemeAugmentation.ts
  docs/src/modules/joy/getMinimalJoyTemplate.ts
  docs/src/modules/joy/literalToObject.test.ts
  docs/src/modules/joy/literalToObject.ts
  docs/src/modules/joy/sourceJoyTemplates.ts
  docs/src/modules/sandbox/CodeSandbox.ts
  docs/src/modules/sandbox/StackBlitz.test.js
  docs/src/modules/sandbox/StackBlitz.ts
  docs/src/modules/utils/addHiddenInput.ts
  docs/translations/translations.json
Labels: package: joy, customization: theme, design: joy

#36606 [docs] Use `theme.applyDarkStyles`
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/NewsletterToast.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/x-grid/EditProgress.tsx
  docs/src/components/x-grid/ProgressBar.tsx
  docs/src/components/x-grid/Status.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/BackToTop.tsx
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/MaterialYouUsageDemo.tsx
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/modules/components/Notifications.js
  docs/src/modules/components/PropertiesTable.js
Labels: docs

#36607 [docs] Fix broken example link
  docs/data/material/guides/interoperability/interoperability.md
Labels: docs

#33236 [docs][Table] Refactor `Sorting & Selecting` table demo
  docs/data/material/components/table/EnhancedTable.js
  docs/data/material/components/table/EnhancedTable.tsx
Labels: docs, component: table

#36628 [Joy] Miscellaneous fixes
  docs/data/joy/components/list/ListVariables.js
  packages/mui-joy/src/List/List.tsx
Labels: component: list, package: joy, enhancement

#36505 [blog] Improvements on v6 announcement blog
  docs/pages/blog/2021-developer-survey-results.md
  docs/pages/blog/mui-x-v6.md
  docs/public/static/blog/mui-x-v6/aggregation.png
  docs/public/static/blog/mui-x-v6/birthday.png
  docs/public/static/blog/mui-x-v6/card.png
  docs/public/static/blog/mui-x-v6/clock.png
  docs/public/static/blog/mui-x-v6/column-menu-custom-action.png
  docs/public/static/blog/mui-x-v6/mask.mp4
  docs/public/static/blog/mui-x-v6/row-pinning.png
  docs/public/static/blog/v6-beta-pickers/date-range-shortcuts.png
  docs/src/components/home/StartToday.tsx
Labels: component: data grid, component: pickers, blog, MUI X

#36576 [useSlider][base] Add API docs for the hook parameters and return type
  docs/pages/base/api/use-slider.json
  docs/translations/api-docs/use-slider/use-slider.json
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.types.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-base/src/useSlider/useSlider.types.ts
Labels: docs, component: slider, typescript, package: base

#36621 [docs] Remove duplicated slot descriptions
  docs/src/modules/components/ApiPage.js
Labels: docs

#36586 [Base] Add JSDoc comments for classes of Base components
  packages/mui-base/src/FormControlUnstyled/formControlUnstyledClasses.ts
  packages/mui-base/src/InputUnstyled/inputUnstyledClasses.ts
  packages/mui-base/src/MenuItemUnstyled/menuItemUnstyledClasses.ts
  packages/mui-base/src/MenuUnstyled/menuUnstyledClasses.ts
  packages/mui-base/src/OptionGroupUnstyled/optionGroupUnstyledClasses.ts
  packages/mui-base/src/OptionUnstyled/optionUnstyledClasses.tsx
  packages/mui-base/src/PopperUnstyled/popperUnstyledClasses.ts
  packages/mui-base/src/SelectUnstyled/selectUnstyledClasses.ts
  packages/mui-base/src/SwitchUnstyled/switchUnstyledClasses.ts
  packages/mui-base/src/TabPanelUnstyled/tabPanelUnstyledClasses.ts
  packages/mui-base/src/TabUnstyled/tabUnstyledClasses.ts
  packages/mui-base/src/TabsListUnstyled/tabsListUnstyledClasses.ts
  packages/mui-base/src/TabsUnstyled/tabsUnstyledClasses.ts
Labels: package: base

#36629 [docs] Fix palette customizer theme augmentation
  docs/src/modules/components/JoyThemeBuilder.tsx
Labels: docs

#36472 [core] Use Netlify function for feedback management
  docs/src/modules/components/AppLayoutDocsFooter.js
  netlify/functions/feedback-management.js
  package.json
  yarn.lock
Labels: docs, core, scope: docs-infra

#36654 [Chip] Fix error when theme value is a CSS variable
  packages/mui-material/src/Chip/Chip.js
  packages/mui-material/src/Chip/Chip.test.js
Labels: bug 🐛, component: chip, package: material

#36279 [docs] Add accordion coming soon page
  docs/data/joy/components/accordion/accordion.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-accordion.js
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/translations/translations.json
Labels: docs, package: joy

#36280 [Autocomplete] Update `autoSelect` prop description
  docs/translations/api-docs/autocomplete/autocomplete.json
  docs/translations/api-docs/use-autocomplete/use-autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: component: autocomplete

#36458 [TablePagination][base] Improve `actions` type in `slotProps`
  docs/data/base/components/table-pagination/TableCustomized.tsx
  docs/data/base/components/table-pagination/TableUnstyled.tsx
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction.tsx
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationActionsUnstyled.tsx
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.spec.tsx
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.tsx
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/common.types.ts
  packages/mui-base/src/TablePaginationUnstyled/index.ts
Labels: typescript, package: base, component: TablePagination

#36604 [docs] Add `Snackbar` coming soon page
  docs/data/joy/components/snackbar/snackbar.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-snackbar.js
  docs/translations/translations.json
Labels: docs, package: joy

#36669 Release v5.11.15
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#36123 [docs] Support Google Analytics 4
  docs/data/material/components/material-icons/SearchIcons.js
  docs/pages/_app.js
  docs/pages/_document.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/GoogleAnalytics.js
Labels: docs

#35893 [docs] Revise Joy UI "Radio" page
  docs/data/joy/components/radio-button/RadioButtonsGroup.js
  docs/data/joy/components/radio-button/RadioButtonsGroup.tsx
  docs/data/joy/components/radio-button/RadioButtonsGroup.tsx.preview
  docs/data/joy/components/radio-button/RadioColors.js
  docs/data/joy/components/radio-button/RadioColors.tsx
  docs/data/joy/components/radio-button/RadioColors.tsx.preview
  docs/data/joy/components/radio-button/RadioSizes.js
  docs/data/joy/components/radio-button/RadioSizes.tsx
  docs/data/joy/components/radio-button/RadioSizes.tsx.preview
  docs/data/joy/components/radio-button/RadioVariants.js
  docs/data/joy/components/radio-button/RadioVariants.tsx
  docs/data/joy/components/radio-button/RadioVariants.tsx.preview
  docs/data/joy/components/radio-button/radio-button.md
  docs/pages/joy-ui/api/radio-group.json
  docs/pages/joy-ui/api/radio.json
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/RadioGroup/RadioGroup.tsx
Labels: docs, component: radio, package: joy

#36126 [docs] Revise Joy UI "Circular Progress" page
  docs/data/joy/components/circular-progress/circular-progress.md
Labels: docs, component: progress

#34203 [docs] Update Material UI Related Projects page
  docs/data/material/discover-more/related-projects/related-projects.md
Labels: docs

#36691 [Joy] Fix `Checkbox` prop type custom color warning
  docs/pages/joy-ui/api/checkbox.json
  packages/mui-joy/src/Checkbox/Checkbox.tsx
Labels: bug 🐛, package: joy

#36590 [docs][base] Move styles code to bottom in the `Button` demos
  docs/data/base/components/button/UnstyledButtonCustom.js
  docs/data/base/components/button/UnstyledButtonCustom.tsx
  docs/data/base/components/button/UnstyledButtonIntroduction.js
  docs/data/base/components/button/UnstyledButtonIntroduction.tsx
  docs/data/base/components/button/UnstyledButtonsDisabledFocus.js
  docs/data/base/components/button/UnstyledButtonsDisabledFocus.tsx
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.js
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.tsx
  docs/data/base/components/button/UnstyledButtonsSimple.js
  docs/data/base/components/button/UnstyledButtonsSimple.tsx
  docs/data/base/components/button/UnstyledButtonsSpan.js
  docs/data/base/components/button/UnstyledButtonsSpan.tsx
  docs/data/base/components/button/UseButton.js
  docs/data/base/components/button/UseButton.tsx
Labels: docs, component: button, package: base

#36582 [docs][base] Move styles to the bottom of demos code for `Menu`
  docs/data/base/components/menu/MenuSimple.js
  docs/data/base/components/menu/MenuSimple.tsx
  docs/data/base/components/menu/UnstyledMenuIntroduction.js
  docs/data/base/components/menu/UnstyledMenuIntroduction.tsx
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/WrappedMenuItems.js
  docs/data/base/components/menu/WrappedMenuItems.tsx
Labels: docs, component: menu, package: base

#36715 [docs] Hide the default API column if it's empty
  docs/src/modules/components/PropertiesTable.js
Labels: docs, enhancement

#36631 [docs][material] Keep consistency in description of classes
  docs/translations/api-docs/badge/badge.json
  docs/translations/api-docs/slider/slider.json
  packages/mui-material/src/Badge/badgeClasses.ts
  packages/mui-material/src/Slider/sliderClasses.ts
Labels: docs, package: material

#36727 [docs] Fix small typo
  docs/data/joy/components/input/input.md
Labels: docs, component: text field, package: joy
