Repository mui/material-ui, pull requests merged in 2023-10, with the labels that each got.

#39059 [docs][joy-ui] Refine the Rental dashboard template
  docs/data/joy/getting-started/templates/rental-dashboard/App.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/ColorSchemeToggle.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/CountrySelector.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/Filters.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/FirstSidebar.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/Header.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/HeaderSection.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/Main.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/NavBar.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/OrderSelector.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/Pagination.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/Rating.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/RentalCard.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/Search.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/Toggles.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/useScript.ts
  docs/data/joy/getting-started/templates/rental-dashboard/utils.ts
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard.jpg
  docs/scripts/generateTemplateScreenshots.ts
Labels: docs, package: joy-ui, design: joy

#39155 [zero][system] Add support for keyframes
  apps/zero-runtime-next-app/next.config.js
  apps/zero-runtime-vite-app/src/App.tsx
  apps/zero-runtime-vite-app/vite.config.ts
  packages/zero-next-plugin/src/loaders/transformLoader.ts
  packages/zero-runtime/package.json
  packages/zero-runtime/src/index.ts
  packages/zero-runtime/src/keyframes.d.ts
  packages/zero-runtime/src/keyframes.js
  packages/zero-tag-processor/package.json
  packages/zero-tag-processor/src/base-processor.ts
  packages/zero-tag-processor/src/keyframes.ts
  packages/zero-tag-processor/src/preprocessor.ts
  packages/zero-tag-processor/src/styled.ts
  packages/zero-tag-processor/src/utils/emotion.ts
  packages/zero-tag-processor/src/utils/processCssObject.ts
  packages/zero-vite-plugin/src/index.ts
  yarn.lock
Labels: package: system

#39073 [system] Add support for `variants` in the styled() util
  packages/mui-material/src/styles/styled.spec.tsx
  packages/mui-styled-engine-sc/src/index.d.ts
  packages/mui-styled-engine/src/index.d.ts
  packages/mui-system/src/createStyled.js
  packages/mui-system/src/createStyled.test.js
Labels: new feature, package: system

#39224 [docs][material-ui] Add small polish to the Templates page
  docs/data/material/getting-started/templates/templates.md
  docs/public/static/images/themes-display.png
Labels: docs, package: material-ui

#38680 [website] Add Charts to the pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, component: charts

#39172 [website] Update `React Engineer - xCharts` Ashby link
  docs/pages/careers/react-engineer-x-charts.md
Labels: website

#39178 [core] Update eslint rules
  .eslintrc.js
  docs/src/modules/components/AppNavDrawer.js
  packages/typescript-to-proptypes/src/getPropTypesFromFile.ts
Labels: core

#39032 [FormControl][material-next] Add FormControl component
  packages/mui-base/src/FormControl/index.ts
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/FormControl/FormControl.d.ts
  packages/mui-material-next/src/FormControl/FormControl.test.js
  packages/mui-material-next/src/FormControl/FormControl.tsx
  packages/mui-material-next/src/FormControl/FormControl.types.ts
  packages/mui-material-next/src/FormControl/FormControlContext.ts
  packages/mui-material-next/src/FormControl/formControlState.js
  packages/mui-material-next/src/FormControl/index.d.ts
  packages/mui-material-next/src/FormControl/index.ts
  packages/mui-material-next/src/FormControl/useFormControl.ts
  packages/mui-material-next/src/InputBase/InputBase.test.js
  packages/mui-material-next/src/InputBase/InputBase.tsx
  packages/mui-material-next/src/InputBase/InputBase.types.ts
Labels: component: FormControl, design: material you

#39199 [Drawer][joy-ui] Apply content styles from theme to content slot
  packages/mui-joy/src/Drawer/Drawer.test.tsx
  packages/mui-joy/src/Drawer/Drawer.tsx
Labels: bug 🐛, component: drawer, package: joy-ui

#39269 [website] Add Heat map in pricing page
  docs/src/components/pricing/PricingTable.tsx
Labels: website

#39037 [base-ui][useTabs] Align external props handling for useTab/useTabPanel/useTabsList
  docs/pages/base-ui/api/use-tab-panel.json
  docs/pages/base-ui/api/use-tab.json
  docs/pages/base-ui/api/use-tabs-list.json
  packages/mui-base/src/useTab/useTab.test.tsx
  packages/mui-base/src/useTab/useTab.ts
  packages/mui-base/src/useTab/useTab.types.ts
  packages/mui-base/src/useTabPanel/useTabPanel.test.js
  packages/mui-base/src/useTabPanel/useTabPanel.ts
  packages/mui-base/src/useTabPanel/useTabPanel.types.ts
  packages/mui-base/src/useTabsList/useTabsList.test.tsx
  packages/mui-base/src/useTabsList/useTabsList.ts
  packages/mui-base/src/useTabsList/useTabsList.types.ts
Labels: package: base-ui

#39291 [test][base-ui] Fix import paths in useTab tests
  packages/mui-base/src/useTab/useTab.test.tsx
  packages/mui-base/src/useTabPanel/useTabPanel.test.js
  packages/mui-base/src/useTabsList/useTabsList.test.tsx
Labels: test, package: base-ui

#38989 [ButtonGroup] Fix rendering with conditional elements
  packages/mui-material/src/ButtonGroup/ButtonGroup.js
  packages/mui-utils/src/getValidReactChildren.ts
  packages/mui-utils/src/index.ts
  test/regressions/fixtures/ButtonGroup/DifferentChildren.js
Labels: component: button, package: material-ui, component: ButtonGroup, regression

#39278 [CssBaseline] use Joy `GlobalStyles`
  packages/mui-joy/src/CssBaseline/CssBaseline.tsx
Labels: bug 🐛, component: CssBaseline, package: joy-ui

#39276 [joy-ui][Switch] Slight adjustments to the design
  docs/data/joy/components/switch/ExampleMaterialSwitch.js
  docs/data/joy/components/switch/ExampleMaterialSwitch.tsx
  docs/data/joy/components/switch/ExampleThumbChild.js
  docs/data/joy/components/switch/ExampleThumbChild.tsx
  docs/data/joy/components/switch/ExampleThumbChild.tsx.preview
  docs/data/joy/components/switch/switch.md
  packages/mui-joy/src/Switch/Switch.tsx
Labels: docs, component: switch, design, package: joy-ui

#39260 [docs][joy-ui] Add scrollable tabs example
  docs/data/joy/components/tabs/TabsBottomNavExample.js
  docs/data/joy/components/tabs/TabsBottomNavExample.tsx
  docs/data/joy/components/tabs/TabsPageExample.js
  docs/data/joy/components/tabs/TabsPageExample.tsx
  docs/data/joy/components/tabs/TabsScrollable.js
  docs/data/joy/components/tabs/TabsScrollable.tsx
  docs/data/joy/components/tabs/TabsScrollable.tsx.preview
  docs/data/joy/components/tabs/tabs.md
Labels: docs, component: tabs, package: joy-ui

#39228 [docs][joy-ui] Match `Autocomplete` github label demo to actual github label dropdown
  docs/data/joy/components/autocomplete/GitHubLabel.js
  docs/data/joy/components/autocomplete/GitHubLabel.tsx
Labels: docs, component: autocomplete, package: joy-ui, enhancement

#39166 [material-next][TextField] Copy v5 TextField's inner components
  packages/mui-material-next/src/FormHelperText/FormHelperText.d.ts
  packages/mui-material-next/src/FormHelperText/FormHelperText.js
  packages/mui-material-next/src/FormHelperText/FormHelperText.spec.tsx
  packages/mui-material-next/src/FormHelperText/FormHelperText.test.js
  packages/mui-material-next/src/FormHelperText/formHelperTextClasses.ts
  packages/mui-material-next/src/FormHelperText/index.d.ts
  packages/mui-material-next/src/FormHelperText/index.js
  packages/mui-material-next/src/FormLabel/FormLabel.d.ts
  packages/mui-material-next/src/FormLabel/FormLabel.js
  packages/mui-material-next/src/FormLabel/FormLabel.test.js
  packages/mui-material-next/src/FormLabel/formLabelClasses.ts
  packages/mui-material-next/src/FormLabel/index.d.ts
  packages/mui-material-next/src/FormLabel/index.js
  packages/mui-material-next/src/InputAdornment/InputAdornment.d.ts
  packages/mui-material-next/src/InputAdornment/InputAdornment.js
  packages/mui-material-next/src/InputAdornment/InputAdornment.test.js
  packages/mui-material-next/src/InputAdornment/index.d.ts
  packages/mui-material-next/src/InputAdornment/index.js
  packages/mui-material-next/src/InputAdornment/inputAdornmentClasses.ts
  packages/mui-material-next/src/InputLabel/InputLabel.d.ts
  packages/mui-material-next/src/InputLabel/InputLabel.js
  packages/mui-material-next/src/InputLabel/InputLabel.spec.tsx
  packages/mui-material-next/src/InputLabel/InputLabel.test.js
  packages/mui-material-next/src/InputLabel/index.d.ts
  packages/mui-material-next/src/InputLabel/index.js
  packages/mui-material-next/src/InputLabel/inputLabelClasses.ts
  packages/mui-material-next/src/index.ts
Labels: component: text field, v6.x, design: material you

#38983 [docs][base-ui] Improve Select's country select demo
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.js
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx.preview
  docs/data/base/components/select/UnstyledSelectRichOptions.js
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx.preview
  docs/data/base/components/select/select.md
Labels: docs, component: select, package: base-ui

#39046 [docs][base] Add Tailwind CSS + plain CSS demo on the TextArea page
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.tsx.preview
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/system/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/system/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/system/index.tsx.preview
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/tailwind/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/tailwind/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/tailwind/index.tsx.preview
  docs/data/base/components/textarea-autosize/textarea-autosize.md
Labels: docs, package: base-ui

#39182 [docs][base-ui] Fix style for root div of multiline input
  docs/data/base/components/input/InputMultiline.js
  docs/data/base/components/input/InputMultiline.tsx
  docs/data/base/components/input/InputMultilineAutosize.js
  docs/data/base/components/input/InputMultilineAutosize.tsx
Labels: docs, package: base-ui, component: input

#39304 5.14.12
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/zero-jest/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#39310 [material-ui][Select] Add notice about select's a11y improvement on v5.14.12 changelog
  CHANGELOG.md
Labels: accessibility, component: select, package: material-ui

#39071 [material-ui][Typography] Color prop check for primitive type
  packages/mui-material/src/Typography/Typography.test.js
  packages/mui-system/src/palette.test.js
  packages/mui-system/src/style.js
  packages/mui-system/src/style.test.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: typescript, component: Typography, package: material-ui

#39297 [Menu][base-ui] Add the anchor prop
  docs/pages/base-ui/api/menu.json
  docs/translations/api-docs-base/menu/menu.json
  packages/mui-base/src/Menu/Menu.test.tsx
  packages/mui-base/src/Menu/Menu.tsx
  packages/mui-base/src/Menu/Menu.types.ts
Labels: component: menu, package: base-ui, enhancement

#39058 [Slider] Support all default palette colors in TypeScript
  docs/pages/material-ui/api/slider.json
  docs/translations/api-docs/slider/slider.json
  packages/mui-material/src/Slider/Slider.d.ts
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/Slider/Slider.spec.tsx
  packages/mui-material/src/Slider/sliderClasses.ts
Labels: bug 🐛, component: slider, typescript, package: material-ui

#39220 [Pagination] Fix background color on hover and keyboard focus when using CSS theme variables
  packages/mui-material/src/PaginationItem/PaginationItem.js
Labels: bug 🐛, package: material-ui, component: pagination

#39325 [docs][material-ui] Adjust the Material You Chip section
  docs/data/material/components/chips/chips.md
Labels: docs, component: chip, package: material-ui

#39280 [docs][joy-ui] Remove redundant `error` prop from input validation demo
  docs/data/joy/components/input/InputValidation.js
  docs/data/joy/components/input/InputValidation.tsx
  docs/data/joy/components/input/InputValidation.tsx.preview
Labels: docs, package: joy-ui, enhancement

#39301 [Menu][material-next] Copy v5 Menu components
  packages/mui-material-next/src/Menu/Menu.d.ts
  packages/mui-material-next/src/Menu/Menu.js
  packages/mui-material-next/src/Menu/Menu.test.js
  packages/mui-material-next/src/Menu/index.d.ts
  packages/mui-material-next/src/Menu/index.js
  packages/mui-material-next/src/Menu/menuClasses.ts
  packages/mui-material-next/src/MenuItem/MenuItem.d.ts
  packages/mui-material-next/src/MenuItem/MenuItem.js
  packages/mui-material-next/src/MenuItem/MenuItem.spec.tsx
  packages/mui-material-next/src/MenuItem/MenuItem.test.js
  packages/mui-material-next/src/MenuItem/index.d.ts
  packages/mui-material-next/src/MenuItem/index.js
  packages/mui-material-next/src/MenuItem/menuItemClasses.ts
Labels: component: menu, core

#39319 [material-ui][Checkbox] Fix checkbox hover bg with extendTheme
  packages/mui-material/src/Checkbox/Checkbox.js
Labels: bug 🐛, component: checkbox, package: material-ui

#39259 [docs][system] Add documentation on how to augment custom theme types for the `sx` prop callback
  docs/data/system/getting-started/the-sx-prop/the-sx-prop.md
Labels: bug 🐛, docs, typescript, package: system, customization: theme

#39263 [joy-ui][Autocomplete] Add `type=button` to clear button
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
Labels: bug 🐛, component: autocomplete, package: base-ui, package: joy-ui

#39323 [docs] Set up MD3 experiments pages
  docs/pages/experiments/index.js
  docs/pages/experiments/md3/buttons.tsx
  docs/pages/experiments/md3/index.tsx
  docs/pages/experiments/md3/inputs.tsx
Labels: docs

#39318 [docs][Drawer] Fix right anchored persistent drawer intercepts click when it is closed
  docs/data/material/components/drawers/PersistentDrawerRight.js
  docs/data/material/components/drawers/PersistentDrawerRight.tsx
Labels: bug 🐛, docs, component: drawer, package: material-ui

#39225 [docs-infra] Remove overflow: hidden for demo gradient bg
  docs/src/modules/components/Demo.js
Labels: bug 🐛, scope: docs-infra

#39327 [joy-ui][Switch] Fix missing class name
  packages/mui-joy/src/Switch/Switch.tsx
Labels: component: switch, package: joy-ui

#38696 [joy-ui][Button] Fix the text wrap issue
  packages/mui-joy/src/Button/Button.tsx
Labels: component: button, package: joy-ui, design: joy

#39355 [website] Fix footer responsiveness
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/layouts/AppFooter.tsx
Labels: design, website

#39342 [Chip][material-ui] Outlined Chip variant is wider than the Filled counterpart
  packages/mui-material/src/Chip/Chip.js
Labels: component: chip, package: material-ui

#39300 [joy-ui][Input] Add debounce input demo
  docs/data/joy/components/input/DebouncedInput.js
  docs/data/joy/components/input/DebouncedInput.tsx
  docs/data/joy/components/input/DebouncedInput.tsx.preview
  docs/data/joy/components/input/input.md
Labels: docs, package: joy-ui, component: input

#39317 [docs-infra] Fix Code Sandbox download issue
  docs/src/modules/sandbox/CodeSandbox.test.js
  docs/src/modules/sandbox/CodeSandbox.ts
Labels: bug 🐛, scope: docs-infra

#39154 [Popper] Add missing `styleOverrides` Popper type in theme
  packages/mui-material/src/styles/components.d.ts
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/overrides.d.ts
Labels: bug 🐛, typescript, component: Popper, package: material-ui

#39368 [docs][material-ui] Rename themed components doc, fix typos
  docs/data/joy/customization/creating-themed-components/creating-themed-components.md
  docs/data/material/guides/creating-themed-components/StatComponent.js
  docs/data/material/guides/creating-themed-components/StatFullTemplate.js
  docs/data/material/guides/creating-themed-components/StatFullTemplate.tsx
  docs/data/material/guides/creating-themed-components/StatFullTemplate.tsx.preview
  docs/data/material/guides/creating-themed-components/StatSlots.js
  docs/data/material/guides/creating-themed-components/creating-themed-components.md
  docs/data/material/pages.ts
  docs/pages/material-ui/guides/creating-themed-components.js
  docs/public/_redirects
  docs/translations/translations.json
Labels: docs, package: material-ui

#39312 [joy-ui][Drawer] Apply color inversion to content slot instead
  docs/data/joy/components/drawer/DrawerUsage.js
  packages/mui-joy/src/Drawer/Drawer.tsx
  test/regressions/fixtures/JoyColorInversion/DrawerColorInversion.js
Labels: component: drawer, regression, package: joy-ui

#37724 [docs] Rename the Data Grid "Quick filter" to "Search"
  docs/src/components/pricing/PricingTable.tsx
Labels: docs, component: data grid

#39333 [zero][tag] Fix styled transformation
  packages/zero-tag-processor/src/generateCss.ts
  packages/zero-tag-processor/src/styled.ts
  packages/zero-tag-processor/src/sx.ts
  packages/zero-tag-processor/src/utils/cssFunctionTransformerPlugin.ts
  packages/zero-tag-processor/src/utils/processCssObject.ts
Labels: package: system

#39369 [docs][joy-ui] Adjust the templates page card design
  docs/data/joy/getting-started/templates/TemplateCollection.js
  docs/data/joy/getting-started/templates/index.md
Labels: docs, package: joy-ui

#39384 [docs-infra] Fix strong style regression
  docs/data/joy/components/snackbar/snackbar.md
  docs/data/joy/getting-started/roadmap/roadmap.md
  docs/src/modules/components/MarkdownElement.js
Labels: docs, design, regression, scope: docs-infra

#39313 [joy-ui][List] Add the `marker` prop
  docs/data/joy/components/list/MarkerList.js
  docs/data/joy/components/list/MarkerList.tsx
  docs/data/joy/components/list/list.md
  docs/pages/joy-ui/api/list.json
  docs/translations/api-docs-joy/list/list.json
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/ListItem/ListItem.tsx
Labels: new feature, docs, component: list, package: joy-ui

#39391 [joy-ui][Textarea] Fix focus ring for error state
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/Textarea/TextareaProps.ts
Labels: component: TextareaAutosize, package: joy-ui

#39389 [material-ui][AppBar] Support all default palette colors in TypeScript
  docs/pages/material-ui/api/app-bar.json
  docs/translations/api-docs/app-bar/app-bar.json
  packages/mui-material/src/AppBar/AppBar.d.ts
  packages/mui-material/src/AppBar/AppBar.js
  packages/mui-material/src/AppBar/AppBar.spec.tsx
  packages/mui-material/src/AppBar/appBarClasses.ts
Labels: bug 🐛, component: app bar, typescript, package: material-ui

#39283 [material-ui][AvatarGroup] Add `renderSurplus` prop
  docs/data/material/components/avatars/CustomSurplusAvatars.js
  docs/data/material/components/avatars/CustomSurplusAvatars.tsx
  docs/data/material/components/avatars/CustomSurplusAvatars.tsx.preview
  docs/data/material/components/avatars/avatars.md
  docs/pages/material-ui/api/avatar-group.json
  docs/translations/api-docs/avatar-group/avatar-group.json
  packages/mui-material/src/AvatarGroup/AvatarGroup.d.ts
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
  packages/mui-material/src/AvatarGroup/AvatarGroup.spec.tsx
  packages/mui-material/src/AvatarGroup/AvatarGroup.test.js
Labels: component: avatar, package: material-ui, enhancement

#39400 [joy-ui][Skeleton] Fix semi-transparent scenario when with surface components and color inversion
  packages/mui-joy/src/Skeleton/Skeleton.tsx
Labels: component: skeleton, package: joy-ui

#39396 [docs][material-ui] Remove irrelevant TODO from Snackbar demo
  docs/data/material/components/snackbars/FabIntegrationSnackbar.js
  docs/data/material/components/snackbars/FabIntegrationSnackbar.tsx
Labels: docs, component: snackbar, package: material-ui

#39397 [docs-infra] Adjust the `kbd` tag styles
  docs/data/base/components/number-input/number-input.md
  docs/data/joy/components/drawer/drawer.md
  docs/pages/blog/v6-beta-pickers.md
  docs/pages/experiments/docs/markdown.md
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#39404 [material-ui][Box] Fix system properties has incorrect `Theme` interface when applied directly
  packages/mui-material/src/Box/Box.spec.tsx
  packages/mui-system/src/Box/Box.d.ts
Labels: bug 🐛, typescript, package: system, package: material-ui, component: Box

#38265 [docs-infra] Add a collapsible list & table views to the API content display
  docs/data/docs-infra/pages.ts
  docs/pages/experiments/docs/data-grid-premium-translation.json
  docs/pages/experiments/docs/data-grid-premium.js
  docs/pages/experiments/docs/data-grid-premium.json
  docs/src/components/productDesignKit/DesignKitHero.tsx
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/ApiItem.tsx
  docs/src/modules/components/ApiPage/CSSList.tsx
  docs/src/modules/components/ApiPage/ClassesList.tsx
  docs/src/modules/components/ApiPage/SlotsList.tsx
  docs/src/modules/components/ApiPage/list/CSSList.tsx
  docs/src/modules/components/ApiPage/list/ClassesList.tsx
  docs/src/modules/components/ApiPage/list/ExpendableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/list/SlotsList.tsx
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/CssSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
  docs/src/modules/components/ApiPage/table/CSSTable.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/HooksApiContent.js
  docs/src/modules/components/MarkdownDocsV2.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/PropertiesTable.js
  docs/translations/translations.json
  examples/base-ui-cra-ts/src/App.tsx
  examples/base-ui-cra/src/App.js
Labels: design, scope: docs-infra

#39366 [joy-ui][typography] Update docs after lineHeight changes
  docs/data/joy/components/typography/TypographyTitleBody.js
  docs/data/joy/components/typography/TypographyTitleBody.tsx
  docs/data/joy/components/typography/typography.md
Labels: docs, component: Typography, package: joy-ui

#39403 [docs][joy-ui] Fix color inversion demos
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParentStyled.js
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParentStyled.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.js
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.tsx
  docs/data/joy/main-features/color-inversion/color-inversion.md
  packages/mui-joy/src/colorInversion/colorInversionUtils.spec.tsx
  packages/mui-joy/src/colorInversion/colorInversionUtils.ts
Labels: docs, package: joy-ui

#39417 [docs-infra] Prevent horizontal scroll in the TOC
  docs/pages/experiments/docs/markdown.md
  docs/src/modules/components/AppTableOfContents.js
Labels: design, scope: docs-infra

#39416 [docs-infra] Add a min height to the layout component
  docs/data/docs-infra/pages.ts
  docs/src/modules/components/AppLayoutDocs.js
Labels: design, scope: docs-infra

#39367 [docs] Adjust design kits-related content
  docs/data/material/getting-started/design-resources/design-resources.md
  docs/pages/material-ui/getting-started/design-resources.js
  docs/src/components/action/InfoCard.tsx
  docs/src/modules/components/JoyStartingLinksCollection.js
  docs/src/modules/components/MaterialUIDesignResources.js
Labels: docs, package: material-ui, package: joy-ui

#39422 [core] Fix multiple typos across the repo
  docs/data/base/components/number-input/number-input.md
  docs/data/base/getting-started/quickstart/quickstart.md
  docs/data/joy/components/skeleton/skeleton.md
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
  docs/pages/blog/2021-developer-survey-results.md
  docs/pages/blog/2023-mui-values.md
  docs/pages/blog/first-look-at-joy.md
  docs/pages/blog/mui-core-v5-migration-update.md
  docs/pages/careers/senior-designer.md
Labels: docs, core

#39412 [docs] Improve Base UI table of contents for APIs
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/HooksApiContent.js
  docs/src/modules/components/MarkdownDocsV2.js
Labels: docs, package: base-ui, enhancement

#39431 [docs][joy-ui] Fix row hover prop name in the Table page
  docs/data/joy/components/table/table.md
Labels: docs, component: table, package: joy-ui

#39418 [icons] Fix VoiceChatOutlined showing the wrong icon
  packages/mui-icons-material/lib/VoiceChatOutlined.js
  packages/mui-icons-material/lib/esm/VoiceChatOutlined.js
  packages/mui-icons-material/material-icons/voice_chat_outlined_24px.svg
Labels: package: icons

#39425 [docs-infra] Add refinements to the API content design
  docs/src/modules/components/ApiPage/list/ExpendableApiItem.tsx
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/CssSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ApiPage/table/CSSTable.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
Labels: design, scope: docs-infra

#39179 [Divider][material-next] Add Divider component
  docs/data/material/components/dividers/DividerMaterialYouPlayground.js
  docs/data/material/components/dividers/dividers.md
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/Divider/Divider.d.ts
  packages/mui-material-next/src/Divider/Divider.test.js
  packages/mui-material-next/src/Divider/Divider.tsx
  packages/mui-material-next/src/Divider/Divider.types.ts
  packages/mui-material-next/src/Divider/dividerClasses.ts
  packages/mui-material-next/src/Divider/index.d.ts
  packages/mui-material-next/src/Divider/index.ts
  packages/mui-material-next/src/Slider/Slider.tsx
  packages/mui-material-next/src/Slider/sliderClasses.ts
  packages/mui-material-next/src/index.ts
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/createDarkColorScheme.ts
  packages/mui-material-next/src/styles/createLightColorScheme.ts
Labels: component: divider, design: material you

#39472 [website] Add stray design fine-tunning to the Pricing page
  docs/src/components/pricing/HeroPricing.tsx
  docs/src/components/pricing/LicensingModelSwitch.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/pricing/PricingWhatToExpect.tsx
Labels: design, website

#39264 [docs] Accessibility in Base UI
  docs/data/base/getting-started/accessibility/ColorContrast.js
  docs/data/base/getting-started/accessibility/ColorContrast.tsx
  docs/data/base/getting-started/accessibility/ColorContrast.tsx.preview
  docs/data/base/getting-started/accessibility/FocusRing.js
  docs/data/base/getting-started/accessibility/FocusRing.tsx
  docs/data/base/getting-started/accessibility/FocusRing.tsx.preview
  docs/data/base/getting-started/accessibility/KeyboardNavigation.js
  docs/data/base/getting-started/accessibility/KeyboardNavigation.tsx
  docs/data/base/getting-started/accessibility/accessibility.md
  docs/data/base/pages.ts
  docs/pages/base-ui/getting-started/accessibility.js
  docs/src/components/productBaseUI/BaseUISummary.tsx
  docs/translations/translations.json
Labels: docs, package: base-ui

#39426 [material-ui][Table] Bug in "Sorting & Selecting" demo
  docs/data/material/components/table/EnhancedTable.js
  docs/data/material/components/table/EnhancedTable.tsx
Labels: docs, component: table, package: material-ui

#39386 [website] Update new role template
  docs/pages/careers/ROLE_TEMPLATE.md
  docs/pages/careers/accessibility-engineer.md
  docs/pages/careers/design-engineer.md
  docs/pages/careers/designer.md
  docs/pages/careers/developer-advocate.md
  docs/pages/careers/developer-experience-engineer.md
  docs/pages/careers/engineering-manager.md
  docs/pages/careers/full-stack-engineer.md
  docs/pages/careers/head-of-operations.md
  docs/pages/careers/people-operation-manager.md
  docs/pages/careers/product-engineer.md
  docs/pages/careers/product-manager.md
  docs/pages/careers/product-marketing-manager.md
  docs/pages/careers/react-community-engineer.md
  docs/pages/careers/react-engineer-core.md
  docs/pages/careers/react-engineer-x-charts.md
  docs/pages/careers/react-engineer-x-grid.md
  docs/pages/careers/react-engineer-x.md
  docs/pages/careers/react-tech-lead-core.md
  docs/pages/careers/react-tech-lead-x-grid.md
  docs/pages/careers/senior-designer.md
  docs/pages/careers/support-agent.md
  docs/pages/careers/technical-product-manager.md
  docs/pages/careers/technical-recruiter.md
Labels: website

#39455 [website] Add the LinkedIn profile to the contributors section on the About page
  docs/src/components/about/Team.tsx
Labels: website

#39415 [material][tab] Show/hide scroll buttons for dynamically added children
  packages/mui-material/src/Tabs/Tabs.js
Labels: bug 🐛, component: tabs, package: material-ui, Port to v6.x

#39395 [styled-engine-sc] Fix TS issues because of missing types
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine-sc/src/index.d.ts
  packages/mui-styled-engine/src/index.d.ts
  packages/mui-system/src/Container/createContainer.tsx
  yarn.lock
Labels: typescript, package: styled-engine-sc

#39475 v5.14.14
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/zero-tag-processor/package.json
  test/package.json
  yarn.lock
Labels: release

#39470 [InputLabel][material-ui] InputLabel supports ownerState.focused for styleOverrides
  packages/mui-material/src/InputLabel/InputLabel.js
  packages/mui-material/src/InputLabel/InputLabel.test.js
Labels: component: text field, package: material-ui, Port to v6.x

#39496 [website] Add stray design adjustments
  docs/pages/blog.tsx
  docs/src/components/action/Item.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/Hero.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/home/UserFeedbacks.tsx
  docs/src/components/productBaseUI/BaseUIComponents.tsx
  docs/src/components/productBaseUI/BaseUIEnd.tsx
  docs/src/components/productBaseUI/BaseUIHero.tsx
  docs/src/components/productBaseUI/BaseUITestimonial.tsx
  docs/src/components/productDesignKit/DesignKitDemo.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialDesignKits.tsx
  docs/src/components/productTemplate/TemplateDemo.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XTheming.tsx
  docs/src/components/showcase/FolderTable.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/TaskCard.tsx
  docs/src/components/showcase/ThemeDatePicker.tsx
  docs/src/components/typography/SectionHeadline.tsx
Labels: website

#39486 [joy-ui][Link] Apply `userSelect: none` only when it's a button
  packages/mui-joy/src/Link/Link.tsx
Labels: component: link, package: joy-ui

#39232 [material-next][Snackbar] copy files to mui-material-next
  packages/mui-material-next/src/Snackbar/Snackbar.d.ts
  packages/mui-material-next/src/Snackbar/Snackbar.js
  packages/mui-material-next/src/Snackbar/Snackbar.test.js
  packages/mui-material-next/src/Snackbar/index.d.ts
  packages/mui-material-next/src/Snackbar/index.js
  packages/mui-material-next/src/Snackbar/snackbarClasses.ts
Labels: component: snackbar, package: material-ui

#39510 [material-next][InputAdornment] Fix unstable_capitalize import
  packages/mui-material-next/src/InputAdornment/InputAdornment.js
Labels: bug 🐛, package: material-ui

#39398 [lab] Update peer dep of @mui/material
  packages/mui-lab/package.json
Labels: package: lab

#38788 [base-ui][material-ui][joy-ui][useAutocomplete] Correct keyboard navigation with multiple disabled options
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, package: material-ui, component: autocomplete, package: base-ui, package: joy-ui

#39480 [I10n] Additions to Icelandic (is-IS) locale
  packages/mui-material/src/locale/index.ts
Labels: package: material-ui, l10n

#39481 [I10n] Add Norwegian (nynorsk) (nn-NO) locale
  docs/data/material/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: l10n

#39385 [docs-infra] Fix no-op autoprefixer warning
  docs/postcss.config.js
Labels: bug 🐛, regression, scope: docs-infra

#39522 [docs] Improve upgrade experience from Material UI v4
  docs/src/modules/components/AppFrame.js
  docs/translations/translations.json
Labels: docs

#39101 [CardOverflow][joy-ui] Remove conditional CSS to support Next.js App dir
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/CardOverflow/CardOverflow.tsx
Labels: bug 🐛, component: card, package: joy-ui

#39517 [zero][vite] Modify plugin to transform node_modules
  apps/local-library/index.d.ts
  apps/local-library/index.js
  apps/local-library/package.json
  apps/zero-runtime-vite-app/package.json
  apps/zero-runtime-vite-app/src/App.tsx
  apps/zero-runtime-vite-app/vite.config.ts
  packages/zero-runtime/package.json
  packages/zero-runtime/src/styled.js
  packages/zero-tag-processor/src/utils/cssFnValueToVariable.ts
  packages/zero-tag-processor/src/utils/cssFunctionTransformerPlugin.ts
  packages/zero-tag-processor/src/utils/index.ts
  packages/zero-vite-plugin/package.json
  packages/zero-vite-plugin/src/index.ts
  packages/zero-vite-plugin/src/zero-vite-plugin.ts
  yarn.lock
Labels: package: system

#39377 [material-ui][Checkbox][Radio] Fix theme style overrides not working for different sizes
  packages/mui-material/src/Checkbox/Checkbox.js
  packages/mui-material/src/Checkbox/Checkbox.test.js
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Radio/Radio.test.js
Labels: bug 🐛, component: checkbox, component: radio, package: material-ui

#39534 [joy-ui][docs] Adjust the responsiveness of the template card
  docs/data/joy/getting-started/templates/TemplateCollection.js
Labels: docs, package: joy-ui

#39526 [base-ui][Slider] Refine demos
  docs/data/base/components/slider/DiscreteSlider.js
  docs/data/base/components/slider/DiscreteSlider.tsx
  docs/data/base/components/slider/DiscreteSliderMarks.js
  docs/data/base/components/slider/DiscreteSliderMarks.tsx
  docs/data/base/components/slider/DiscreteSliderValues.js
  docs/data/base/components/slider/DiscreteSliderValues.tsx
  docs/data/base/components/slider/LabeledValuesSlider.js
  docs/data/base/components/slider/LabeledValuesSlider.tsx
  docs/data/base/components/slider/RangeSlider.js
  docs/data/base/components/slider/RangeSlider.tsx
  docs/data/base/components/slider/UnstyledSlider.js
  docs/data/base/components/slider/UnstyledSlider.tsx
  docs/data/base/components/slider/UnstyledSliderBasic/system/index.js
  docs/data/base/components/slider/UnstyledSliderBasic/system/index.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction/css/index.js
  docs/data/base/components/slider/UnstyledSliderIntroduction/css/index.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction/system/index.js
  docs/data/base/components/slider/UnstyledSliderIntroduction/system/index.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction/tailwind/index.js
  docs/data/base/components/slider/UnstyledSliderIntroduction/tailwind/index.tsx
  docs/data/base/components/slider/VerticalSlider.js
  docs/data/base/components/slider/VerticalSlider.tsx
Labels: component: slider, design, package: base-ui

#39540 [docs][material-ui] Typo fixes in overview page
  docs/data/material/getting-started/overview/overview.md
Labels: docs, package: material-ui

#39536 [material-ui][ToggleButton] Add `fullWidth` to `toggleButtonClasses` and `toggleButtonGroupClasses`
  docs/pages/material-ui/api/toggle-button-group.json
  docs/pages/material-ui/api/toggle-button.json
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  docs/translations/api-docs/toggle-button/toggle-button.json
  packages/mui-material/src/ButtonGroup/ButtonGroup.test.js
  packages/mui-material/src/ToggleButton/toggleButtonClasses.ts
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroup.test.js
  packages/mui-material/src/ToggleButtonGroup/toggleButtonGroupClasses.ts
Labels: bug 🐛, component: toggle button, package: material-ui

#39078 [core] Replace a `useCallback` by `useRef` in useEventCallback
  packages/mui-utils/src/useEventCallback/useEventCallback.ts
Labels: performance, package: utils

#39529 [joy-ui][Button] Fix button size being a decorator
  docs/data/joy/components/input/InputDecorators.js
  docs/data/joy/components/input/InputDecorators.tsx
  docs/data/joy/components/textarea/TextareaDecorators.js
  docs/data/joy/components/textarea/TextareaDecorators.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
Labels: component: button, regression, package: joy-ui

#39214 [docs-infra] Prevent docs crash
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: enhancement, scope: docs-infra

#39307 [FilledInput][material-next] Add FilledInput component
  docs/pages/experiments/md3/inputs.tsx
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/FilledInput/FilledInput.d.ts
  packages/mui-material-next/src/FilledInput/FilledInput.test.tsx
  packages/mui-material-next/src/FilledInput/FilledInput.tsx
  packages/mui-material-next/src/FilledInput/FilledInput.types.ts
  packages/mui-material-next/src/FilledInput/index.d.ts
  packages/mui-material-next/src/FilledInput/index.ts
  packages/mui-material-next/src/FormControl/FormControl.test.tsx
  packages/mui-material-next/src/FormControl/FormControl.tsx
  packages/mui-material-next/src/InputBase/InputBase.test.tsx
  packages/mui-material-next/src/InputBase/InputBase.tsx
  packages/mui-material-next/src/InputBase/InputBase.types.ts
  packages/mui-material/src/InputLabel/InputLabel.test.js
Labels: component: text field, design: material you

#39215 [zero][runtime] Implement typings for public runtime API
  apps/zero-runtime-next-app/next.config.js
  apps/zero-runtime-next-app/src/components/Grid.tsx
  apps/zero-runtime-next-app/src/components/Slider/ZeroSlider.tsx
  apps/zero-runtime-next-app/src/components/SliderWrapper.tsx
  apps/zero-runtime-next-app/src/extend-zero.d.ts
  apps/zero-runtime-vite-app/.eslintrc
  apps/zero-runtime-vite-app/package.json
  apps/zero-runtime-vite-app/src/App.tsx
  apps/zero-runtime-vite-app/src/Slider/ZeroSlider.tsx
  apps/zero-runtime-vite-app/src/extend-zero.d.ts
  apps/zero-runtime-vite-app/src/main.tsx
  apps/zero-runtime-vite-app/tsconfig.json
  apps/zero-runtime-vite-app/vite-env.d.ts
  apps/zero-runtime-vite-app/vite.config.ts
  packages/zero-runtime/package.json
  packages/zero-runtime/src/base.d.ts
  packages/zero-runtime/src/index.ts
  packages/zero-runtime/src/keyframes.d.ts
  packages/zero-runtime/src/styled.d.ts
  packages/zero-runtime/src/styled.spec.tsx
  packages/zero-runtime/src/sx.d.ts
  packages/zero-runtime/src/theme.d.ts
  packages/zero-tag-processor/src/pre-linaria-plugin.ts
  packages/zero-tag-processor/src/sx.ts
Labels: package: system

#39520 [docs-infra] Refine the API page design
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
Labels: design, scope: docs-infra

#38934 [Menu][material-next] Use useMenu hook
  docs/pages/base-ui/api/use-menu.json
  docs/pages/experiments/material-next/menu.tsx
  docs/translations/api-docs/use-menu/use-menu.json
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useMenu/useMenu.types.ts
  packages/mui-material-next/src/Menu/Menu.d.ts
  packages/mui-material-next/src/Menu/Menu.test.js
  packages/mui-material-next/src/Menu/Menu.test.tsx
  packages/mui-material-next/src/Menu/Menu.tsx
  packages/mui-material-next/src/Menu/Menu.types.ts
  packages/mui-material-next/src/Menu/index.d.ts
  packages/mui-material-next/src/Menu/index.ts
  packages/mui-material-next/src/MenuItem/MenuItem.test.tsx
  packages/mui-material-next/src/MenuItem/MenuItem.tsx
  packages/mui-material-next/src/MenuItem/MenuItem.types.ts
  packages/mui-material-next/src/MenuItem/index.js
  packages/mui-material-next/src/MenuItem/index.ts
  packages/mui-material-next/src/index.ts
  packages/mui-material-next/src/styles/index.ts
Labels: component: menu, proof of concept

#39584 [Input][base-ui] Update and port additional tests from material-ui
  packages/mui-base/src/Input/Input.test.tsx
  packages/mui-base/src/useInput/useInput.test.tsx
  packages/mui-material-next/src/InputBase/InputBase.test.tsx
Labels: test, package: base-ui, component: input

#39583 [docs][material-ui] Add stray design tweaks to the templates collection
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
  docs/translations/translations.json
Labels: docs, package: material-ui, design

#39572 [docs-infra] Fix cut-off sponsors
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DiamondSponsors.js
Labels: design, scope: docs-infra

#39582 v5.14.15
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#38801 [joy-ui] Add Snackbar component
  docs/data/joy/components/snackbar/CustomAnimatedSnackbar.js
  docs/data/joy/components/snackbar/CustomAnimatedSnackbar.tsx
  docs/data/joy/components/snackbar/PositionedSnackbar.js
  docs/data/joy/components/snackbar/PositionedSnackbar.tsx
  docs/data/joy/components/snackbar/PositionedSnackbar.tsx.preview
  docs/data/joy/components/snackbar/SnackbarCloseReason.js
  docs/data/joy/components/snackbar/SnackbarCloseReason.tsx
  docs/data/joy/components/snackbar/SnackbarColors.js
  docs/data/joy/components/snackbar/SnackbarColors.tsx
  docs/data/joy/components/snackbar/SnackbarHideDuration.js
  docs/data/joy/components/snackbar/SnackbarHideDuration.tsx
  docs/data/joy/components/snackbar/SnackbarInvertedColors.js
  docs/data/joy/components/snackbar/SnackbarInvertedColors.tsx
  docs/data/joy/components/snackbar/SnackbarSizes.js
  docs/data/joy/components/snackbar/SnackbarSizes.tsx
  docs/data/joy/components/snackbar/SnackbarUsage.js
  docs/data/joy/components/snackbar/SnackbarVariants.js
  docs/data/joy/components/snackbar/SnackbarVariants.tsx
  docs/data/joy/components/snackbar/SnackbarWithDecorators.js
  docs/data/joy/components/snackbar/SnackbarWithDecorators.tsx
  docs/data/joy/components/snackbar/snackbar.md
  docs/data/joy/pages.ts
  docs/data/joy/pagesApi.js
  docs/pages/base-ui/api/snackbar.json
  docs/pages/joy-ui/api/snackbar.js
  docs/pages/joy-ui/api/snackbar.json
  docs/src/modules/components/JoyUsageDemo.tsx
  docs/translations/api-docs-joy/snackbar/snackbar.json
  packages/mui-base/src/Snackbar/Snackbar.tsx
  packages/mui-joy/src/Snackbar/Snackbar.test.tsx
  packages/mui-joy/src/Snackbar/Snackbar.tsx
  packages/mui-joy/src/Snackbar/SnackbarProps.ts
  packages/mui-joy/src/Snackbar/index.ts
  packages/mui-joy/src/Snackbar/snackbarClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/zIndex.ts
Labels: new feature, component: snackbar, package: joy-ui

#39375 [website] Open the `Design Engineer - xGrid` role
  docs/pages/careers.tsx
  docs/pages/careers/design-engineer-x-grid.js
  docs/pages/careers/design-engineer-x-grid.md
Labels: website

#39581 [docs][material-ui] Add stray design fine-tuning to the example collection
  docs/data/material/getting-started/example-projects/example-projects.md
  docs/src/modules/components/MaterialUIExampleCollection.js
Labels: docs, package: material-ui, design

#39589 [docs-infra] Fix settings drawer accessibility issues
  docs/src/modules/components/AppSettingsDrawer.js
Labels: accessibility, scope: docs-infra

#39609 [core] Remove not used `@types/loader-utils` package from `zero-next-plugin`
  packages/zero-next-plugin/package.json
  yarn.lock
Labels: dependencies, core

#39514 [material-next] Update Material You typescale tokens
  packages/mui-material-next/src/styles/typescale.ts
Labels: design: material you

#39577 [examples][material-ui] Remove hardcoded `color="black"` from Next.js App Router layout
  examples/material-ui-nextjs-ts/src/app/layout.tsx
Labels: package: material-ui, examples, nextjs

#39532 [joy-ui][Accordion] Add type button to accordion summary
  docs/data/joy/components/accordion/AccordionTransition.js
  packages/mui-joy/src/AccordionSummary/AccordionSummary.tsx
Labels: component: accordion, package: joy-ui

#39615 [joy-ui][Textarea] Add ref usage instructions
  docs/data/joy/components/textarea/TextareaRef.js
  docs/data/joy/components/textarea/TextareaRef.tsx
  docs/data/joy/components/textarea/TextareaRef.tsx.preview
  docs/data/joy/components/textarea/textarea.md
Labels: docs, component: TextareaAutosize, package: joy-ui

#39519 [base-ui][Autocomplete] Standardize box shadow on demos
  docs/data/base/components/autocomplete/AutocompleteIntroduction/css/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/css/index.tsx
  docs/data/base/components/autocomplete/AutocompleteIntroduction/tailwind/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/tailwind/index.tsx
Labels: component: select, design, package: base-ui

#39595 [base-ui][useSelect] Support browser autofill
  docs/pages/base-ui/api/select.json
  docs/pages/base-ui/api/use-select.json
  docs/translations/api-docs-base/select/select.json
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Select/Select.tsx
  packages/mui-base/src/Select/Select.types.ts
  packages/mui-base/src/useList/listActions.types.ts
  packages/mui-base/src/useList/listReducer.test.ts
  packages/mui-base/src/useList/listReducer.ts
  packages/mui-base/src/useSelect/selectReducer.test.ts
  packages/mui-base/src/useSelect/selectReducer.ts
  packages/mui-base/src/useSelect/useSelect.test.tsx
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
Labels: new feature, component: select, package: base-ui

#39492 [joy-ui][Progress] Revamp Linear and Circular progress variants
  docs/data/joy/components/alert/AlertInvertedColors.js
  docs/data/joy/components/alert/AlertInvertedColors.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/LinearProgress/LinearProgress.tsx
Labels: component: CircularProgress, component: LinearProgress, package: joy-ui, design: joy

#39602 [joy-ui][docs] Fix wrong messages
  docs/translations/api-docs-joy/accordion-details/accordion-details.json
  docs/translations/api-docs-joy/accordion-group/accordion-group.json
  docs/translations/api-docs-joy/accordion-summary/accordion-summary.json
  docs/translations/api-docs-joy/accordion/accordion.json
  docs/translations/api-docs-joy/card-content/card-content.json
  docs/translations/api-docs-joy/dialog-content/dialog-content.json
  docs/translations/api-docs-joy/dialog-title/dialog-title.json
  packages/mui-joy/src/Accordion/Accordion.tsx
  packages/mui-joy/src/AccordionDetails/AccordionDetails.tsx
  packages/mui-joy/src/AccordionGroup/AccordionGroup.tsx
  packages/mui-joy/src/AccordionSummary/AccordionSummary.tsx
  packages/mui-joy/src/CardContent/CardContent.tsx
  packages/mui-joy/src/DialogContent/DialogContent.tsx
  packages/mui-joy/src/DialogTitle/DialogTitle.tsx
Labels: docs, package: joy-ui

#39586 [material][styled-engine-sc] Fix ownerstate being propagated to DOM node
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/Radio/RadioButtonIcon.js
  packages/mui-material/src/SwipeableDrawer/SwipeArea.js
  packages/mui-material/src/internal/SwitchBase.js
Labels: package: material-ui, package: styled-engine-sc

#39424 [docs-infra] Add meta charset in codesandbox examples
  benchmark/browser/index.html
  docs/data/material/guides/server-rendering/server-rendering.md
  docs/src/modules/sandbox/CodeSandbox.test.js
  docs/src/modules/sandbox/CreateReactApp.ts
  docs/src/modules/sandbox/StackBlitz.test.js
  examples/material-ui-express-ssr/server.js
  examples/material-ui-via-cdn/index.html
Labels: bug 🐛, scope: docs-infra

#39454 [joy-ui][Select] Support selection of `multiple` options
  docs/data/joy/components/select/SelectMultiple.js
  docs/data/joy/components/select/SelectMultiple.tsx
  docs/data/joy/components/select/SelectMultipleAppearance.js
  docs/data/joy/components/select/SelectMultipleAppearance.tsx
  docs/data/joy/components/select/SelectMultipleFormSubmission.js
  docs/data/joy/components/select/SelectMultipleFormSubmission.tsx
  docs/data/joy/components/select/select.md
  docs/pages/joy-ui/api/select.json
  docs/translations/api-docs-joy/select/select.json
  packages/mui-joy/src/Select/Select.spec.tsx
  packages/mui-joy/src/Select/Select.test.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
  packages/mui-joy/src/Select/selectClasses.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: new feature, component: select, package: joy-ui

#39642 [docs][material-ui] Improve Dialog demos
  docs/data/material/components/dialogs/AlertDialog.js
  docs/data/material/components/dialogs/AlertDialog.tsx
  docs/data/material/components/dialogs/AlertDialogSlide.js
  docs/data/material/components/dialogs/AlertDialogSlide.tsx
  docs/data/material/components/dialogs/ConfirmationDialog.js
  docs/data/material/components/dialogs/ConfirmationDialog.tsx
  docs/data/material/components/dialogs/CustomizedDialogs.js
  docs/data/material/components/dialogs/CustomizedDialogs.tsx
  docs/data/material/components/dialogs/DraggableDialog.js
  docs/data/material/components/dialogs/DraggableDialog.tsx
  docs/data/material/components/dialogs/FormDialog.js
  docs/data/material/components/dialogs/FormDialog.tsx
  docs/data/material/components/dialogs/FullScreenDialog.js
  docs/data/material/components/dialogs/FullScreenDialog.tsx
  docs/data/material/components/dialogs/ResponsiveDialog.js
  docs/data/material/components/dialogs/ResponsiveDialog.tsx
  docs/data/material/components/dialogs/ScrollDialog.js
  docs/data/material/components/dialogs/ScrollDialog.tsx
Labels: docs, component: dialog, package: material-ui

#39597 [joy-ui][docs] Add docs for changing styles based on states
  docs/data/joy/customization/themed-components/themed-components.md
Labels: docs, package: joy-ui, customization: theme

#39620 [docs][material-ui] Include link to bundler how-to for Styled Components users
  docs/data/material/getting-started/installation/installation.md
Labels: docs, package: material-ui

#39459 [Menu][joy-ui] Fix closing of listbox in `MenuList` demo
  docs/data/joy/components/menu/MenuListComposition.js
  docs/data/joy/components/menu/MenuListComposition.tsx
Labels: bug 🐛, docs, component: select, package: joy-ui

#39346 [core] Remove duplicate export
  packages/mui-material/src/index.js
Labels: core

#39229 [examples] Upgrade Remix to v2
  examples/material-ui-remix-ts/.gitignore
  examples/material-ui-remix-ts/app/root.tsx
  examples/material-ui-remix-ts/app/routes/_index.tsx
  examples/material-ui-remix-ts/package.json
  examples/material-ui-remix-ts/remix.config.js
  examples/material-ui-remix-ts/tsconfig.json
Labels: examples

#38967 [core] Remove unused use client
  packages/mui-base/src/ClickAwayListener/index.ts
  packages/mui-base/src/Dropdown/index.ts
  packages/mui-base/src/FocusTrap/index.ts
  packages/mui-base/src/FormControl/index.ts
  packages/mui-base/src/Modal/index.ts
  packages/mui-material/src/GlobalStyles/index.js
  packages/rsc-builder/buildRsc.ts
Labels: core, enhancement

#37467 [joy-ui][button] Fix sticky hover media query issue on mobile
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-joy/src/Switch/Switch.tsx
Labels: bug 🐛, package: joy-ui

#39335 [docs][joy-ui] Revise the CSS vars page
  docs/data/joy/customization/using-css-variables/using-css-variables.md
  docs/data/joy/getting-started/usage/usage.md
Labels: docs, package: joy-ui

#39644 [docs][system] Clean up `@mui/styles` docs and discourage users from installing it
  docs/data/styles/advanced/advanced.md
  docs/data/styles/api/api.md
  docs/data/styles/basics/basics.md
Labels: docs, package: styles

#39673 [website] Add stray adjustments and clean-ups
  docs/pages/careers.tsx
  docs/public/static/images/cards/basement-beside-myself.jpeg
  docs/public/static/images/cards/birds-of-tokyo.jpg
  docs/src/components/action/InfoCard.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/productBaseUI/BaseUIEnd.tsx
  docs/src/components/productBaseUI/BaseUITestimonial.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/TaskCard.tsx
  docs/src/layouts/AppFooter.tsx
Labels: website

#39633 [core] Setup vale for enforcing style guides
  .github/styles/Blog/ComposedWords.yml
  .github/styles/Blog/NamingConventions.yml
  .github/styles/Blog/Typos.yml
  .github/styles/Vocab/accept.txt
  .github/styles/Vocab/reject.txt
  .github/workflows/vale-action.yml
  .gitignore
  .vale.ini
  docs/data/base/components/focus-trap/focus-trap.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/data/material/components/selects/selects.md
  docs/data/material/guides/api/api.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
Labels: scope: docs-infra

#39635 [material-next][Snackbar] copy Snackbar Content files to material-next package
  packages/mui-material-next/src/SnackbarContent/SnackbarContent.d.ts
  packages/mui-material-next/src/SnackbarContent/SnackbarContent.js
  packages/mui-material-next/src/SnackbarContent/SnackbarContent.test.js
  packages/mui-material-next/src/SnackbarContent/index.d.ts
  packages/mui-material-next/src/SnackbarContent/index.js
  packages/mui-material-next/src/SnackbarContent/snackbarContentClasses.ts
  packages/mui-material-next/src/index.ts
Labels: component: snackbar

#39668 [Card] Fix CardOverflow in nested cards
  docs/data/joy/components/card/NestedCard.js
  docs/data/joy/components/card/NestedCard.tsx
  docs/data/joy/components/card/card.md
  packages/mui-joy/src/CardOverflow/CardOverflow.tsx
Labels: component: card, package: joy-ui

#39616 [base-ui] Fix mergeSlotProps className join order
  packages/mui-base/src/utils/mergeSlotProps.test.ts
  packages/mui-base/src/utils/mergeSlotProps.ts
  packages/mui-material-next/src/FilledInput/FilledInput.test.tsx
  packages/mui-material-next/src/FormControl/FormControl.test.tsx
Labels: bug 🐛, package: base-ui

#39676 [release] v5.14.16
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#39490 [docs-infra] Fix crawler on API pages
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
Labels: bug 🐛, scope: docs-infra

#39678 [docs][material-ui] Add comment about code to be removed from Drawer demo
  docs/data/material/components/drawers/ResponsiveDrawer.js
  docs/data/material/components/drawers/ResponsiveDrawer.tsx
Labels: docs, component: drawer, package: material-ui
