Repository mui/material-ui, pull requests merged in 2023-08, with the labels that each got.

#38193 [docs] fix links to standardized examples
  docs/data/base/guides/working-with-tailwind-css/PlayerFinal.js
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css-pt.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css-zh.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/data/material/getting-started/example-projects/example-projects-zh.md
  docs/data/material/getting-started/installation/installation-pt.md
  docs/data/material/getting-started/installation/installation-zh.md
  docs/data/material/guides/interoperability/interoperability-pt.md
  docs/data/material/guides/interoperability/interoperability-zh.md
  docs/data/material/guides/routing/routing-pt.md
  docs/data/material/guides/routing/routing-zh.md
  docs/data/material/guides/server-rendering/server-rendering-pt.md
  docs/data/material/guides/server-rendering/server-rendering-zh.md
  docs/data/material/guides/styled-engine/styled-engine-pt.md
  docs/data/material/guides/styled-engine/styled-engine-zh.md
  docs/data/material/guides/typescript/typescript-pt.md
  docs/data/material/guides/typescript/typescript-zh.md
  docs/data/material/migration/migration-v4/migrating-from-jss-pt.md
  docs/data/material/migration/migration-v4/migrating-from-jss-zh.md
  docs/data/material/migration/migration-v4/migration-v4-pt.md
  docs/data/material/migration/migration-v4/migration-v4-zh.md
  docs/data/styles/advanced/advanced-pt.md
  docs/data/styles/advanced/advanced-zh.md
  examples/material-next-ts-v4-v5-migration/README.md
Labels: docs

#38025 [docs][base-ui] Add new batch of coming soon pages
  docs/data/base/components/accordion/accordion.md
  docs/data/base/components/checkbox/checkbox.md
  docs/data/base/components/drawer/drawer.md
  docs/data/base/components/pagination/pagination.md
  docs/data/base/components/radio-button/radio-button.md
  docs/data/base/components/rating/rating.md
  docs/data/base/components/toggle-button-group/toggle-button-group.md
  docs/data/base/components/tooltip/tooltip.md
  docs/data/base/pages.ts
  docs/data/joy/pages.ts
  docs/pages/base-ui/react-drawer/index.js
  docs/pages/base-ui/react-pagination/index.js
  docs/pages/base-ui/react-rating/index.js
  docs/pages/base-ui/react-toggle-button-group/index.js
  docs/pages/base-ui/react-tooltip/index.js
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/translations/translations.json
Labels: docs, package: base-ui

#38205 [docs][material] Revise and update Examples doc
  docs/data/material/getting-started/example-projects/example-projects.md
  docs/src/modules/components/ExampleCollection.js
Labels: docs, package: material-ui, examples

#38173 [docs-infra] Show props in the table of content
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/CSSList.tsx
  docs/src/modules/components/MarkdownDocsV2.js
  docs/src/modules/components/PropertiesTable.js
Labels: enhancement, scope: docs-infra

#38254 [blog] Fix blog post slug Base UI
  CHANGELOG.md
  docs/notifications.json
  docs/pages/base-ui.tsx
  docs/pages/blog/introducing-base-ui.js
  docs/pages/blog/introducing-base-ui.md
  docs/public/_redirects
  docs/public/static/blog/introducing-base-ui/card.png
  docs/public/static/blog/introducing-base-ui/hero-image.png
  docs/public/static/blog/introducing-base-ui/switch-slots.png
Labels: blog

#38257 [docs-infra] Small design polish to the Diamond Sponsor container
  docs/src/modules/components/DiamondSponsors.js
Labels: docs, design, scope: docs-infra

#38251 v5.14.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#38182 [Checkbox][material] Add size classes
  docs/pages/material-ui/api/checkbox.json
  docs/translations/api-docs/checkbox/checkbox.json
  packages/mui-material/src/Checkbox/Checkbox.js
  packages/mui-material/src/Checkbox/Checkbox.test.js
  packages/mui-material/src/Checkbox/checkboxClasses.ts
Labels: bug 🐛, component: checkbox, package: material-ui

#38276 [core] Fix the link-check script on Windows
  docs/scripts/reportBrokenLinks.js
Labels: core

#38259 [docs-infra] Make the side nav collapse animation snappier
  docs/src/modules/components/AppNavDrawerItem.js
Labels: design, scope: docs-infra

#38282 [docs-infra] Add a general round of polish to the API content display
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/ApiItem.tsx
  docs/src/modules/components/ApiPage/SlotsList.tsx
  docs/src/modules/components/PropertiesTable.js
Labels: design, scope: docs-infra

#38301 [docs] Update API docs for Number Input component
  docs/pages/base-ui/api/number-input.json
Labels: docs, package: base-ui

#38170 [typescript][system] Rename one letter type parameters in type maps and props
  packages/mui-system/src/Box/Box.d.ts
  packages/mui-system/src/Container/ContainerProps.ts
  packages/mui-system/src/Stack/StackProps.ts
  packages/mui-system/src/Unstable_Grid/GridProps.ts
  packages/mui-system/src/createStyled.d.ts
Labels: typescript, package: system

#38123 [Typography] Improve inherit variant logic
  packages/mui-material/src/Typography/Typography.js
  packages/mui-material/src/styles/createTypography.js
  packages/mui-material/src/styles/createTypography.test.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.js
Labels: component: Typography, package: material-ui, enhancement

#38305 [docs][material] Add note to Autocomplete about ref forwarding
  docs/data/material/components/autocomplete/autocomplete.md
Labels: docs, package: material-ui, component: autocomplete

#38304 [docs-infra] Fix skip to content design
  docs/src/modules/components/SkipLink.tsx
Labels: accessibility, regression, scope: docs-infra

#38307 [docs] Fix Joy UI demo background color
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandbox.js
Labels: bug 🐛, design, package: joy-ui

#38270 [docs][Menu][base] Remove `Unstyled` prefix from demos' function names
  docs/data/base/components/menu/MenuIntroduction.js
  docs/data/base/components/menu/MenuIntroduction.tsx
  docs/data/base/components/menu/MenuIntroduction.tsx.preview
  docs/data/base/components/menu/MenuSimple/css/index.js
  docs/data/base/components/menu/MenuSimple/css/index.tsx
  docs/data/base/components/menu/MenuSimple/system/index.js
  docs/data/base/components/menu/MenuSimple/system/index.tsx
  docs/data/base/components/menu/MenuSimple/system/index.tsx.preview
  docs/data/base/components/menu/MenuSimple/tailwind/index.js
  docs/data/base/components/menu/MenuSimple/tailwind/index.tsx
  docs/data/base/components/menu/menu.md
Labels: docs, component: menu, package: base-ui

#38258 [blog] Discord announcement blog
  docs/pages/blog/discord-announcement.js
  docs/pages/blog/discord-announcement.md
  docs/public/static/blog/2023-discord-announcement/card.png
  docs/public/static/blog/2023-discord-announcement/discord.png
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog

#38285 [docs][joy-ui] Revise the theme typography page
  docs/data/joy/customization/theme-typography/CustomTypographyLevel.js
  docs/data/joy/customization/theme-typography/CustomTypographyLevel.tsx
  docs/data/joy/customization/theme-typography/CustomTypographyLevel.tsx.preview
  docs/data/joy/customization/theme-typography/TypographyThemeViewer.js
  docs/data/joy/customization/theme-typography/TypographyThemeViewer.tsx
  docs/data/joy/customization/theme-typography/theme-typography.md
Labels: docs, package: joy-ui

#38323 [examples][material-ui] Add Material UI + Next.js (App Router) example in JS
  .eslintignore
  examples/material-ui-nextjs/README.md
  examples/material-ui-nextjs/jsconfig.json
  examples/material-ui-nextjs/next.config.js
  examples/material-ui-nextjs/package.json
  examples/material-ui-nextjs/src/app/favicon.ico
  examples/material-ui-nextjs/src/app/layout.js
  examples/material-ui-nextjs/src/app/page.js
  examples/material-ui-nextjs/src/app/starred/page.js
  examples/material-ui-nextjs/src/app/tasks/page.js
  examples/material-ui-nextjs/src/components/MediaCard.js
  examples/material-ui-nextjs/src/components/ThemeRegistry/EmotionCache.js
  examples/material-ui-nextjs/src/components/ThemeRegistry/ThemeRegistry.js
  examples/material-ui-nextjs/src/components/ThemeRegistry/theme.js
Labels: docs, package: material-ui, examples

#38212 [Skeleton] Make the demos feel more realistic
  docs/data/joy/components/skeleton/AnimationSkeleton.js
  docs/data/joy/components/skeleton/AnimationSkeleton.tsx
  docs/data/joy/components/skeleton/AvatarSkeleton.js
  docs/data/joy/components/skeleton/AvatarSkeleton.tsx
  docs/data/joy/components/skeleton/AvatarSkeleton.tsx.preview
  docs/data/joy/components/skeleton/BasicSkeleton.js
  docs/data/joy/components/skeleton/BasicSkeleton.tsx
  docs/data/joy/components/skeleton/BasicSkeleton.tsx.preview
  docs/data/joy/components/skeleton/GeometrySkeleton.js
  docs/data/joy/components/skeleton/GeometrySkeleton.tsx
  docs/data/joy/components/skeleton/GeometrySkeleton.tsx.preview
  docs/data/joy/components/skeleton/ImageSkeleton.js
  docs/data/joy/components/skeleton/ImageSkeleton.tsx
  docs/data/joy/components/skeleton/InlineSkeleton.js
  docs/data/joy/components/skeleton/InlineSkeleton.tsx
  docs/data/joy/components/skeleton/LoadingSkeleton.js
  docs/data/joy/components/skeleton/LoadingSkeleton.tsx
Labels: docs, component: skeleton

#38326 [website] Fix image layout shift
  docs/src/components/productBaseUI/BaseUITestimonial.tsx
Labels: bug 🐛, website

#38191 [core] Fix docs demo export function consistency
  .eslintrc.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction.js
  docs/data/joy/components/autocomplete/AutocompleteVariables.js
  docs/data/joy/components/button-group/ButtonGroupUsage.js
  docs/data/joy/components/button/ButtonsSimple.js
  docs/data/joy/components/chip/ChipUsage.js
  docs/data/joy/components/table/TableUsage.js
  docs/data/joy/components/tabs/TabsVariables.js
  docs/data/joy/components/typography/TypographyUsage.js
  docs/data/joy/customization/theme-colors/RemoveActiveTokens.js
  docs/data/joy/getting-started/tutorial/LoginFinal.js
  docs/data/joy/main-features/automatic-adjustment/InputVariables.js
  docs/data/joy/main-features/automatic-adjustment/ListThemes.js
  docs/data/material/components/buttons/ButtonMaterialYouPlayground.js
  docs/data/material/components/slider/SliderMaterialYouPlayground.js
  docs/data/material/customization/typography/ResponsiveFontSizesChart.js
  docs/data/material/experimental-api/css-variables/CssVariablesCustomization.js
  docs/data/material/migration/migration-grid-v2/GridDisableEqualOverflow.js
Labels: core, package: joy-ui

#38346 [docs][AppBar] Fix `ResponsiveAppBar` demo logo href
  docs/data/material/components/app-bar/ResponsiveAppBar.js
  docs/data/material/components/app-bar/ResponsiveAppBar.tsx
Labels: docs, component: app bar

#38358 [website] Add Nora teamMember card to 'About'
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/nora-leonte.png
Labels: website

#38342 [joy-ui][MenuButton] Fix disable of `MenuButton`
  packages/mui-joy/src/MenuButton/MenuButton.test.tsx
  packages/mui-joy/src/MenuButton/MenuButton.tsx
Labels: bug 🐛, package: joy-ui

#38296 [Dropdown] Fix imports of types
  packages/mui-base/src/useDropdown/useDropdown.ts
  packages/mui-base/src/useDropdown/useDropdown.types.ts
Labels: bug 🐛, component: menu, typescript, regression

#37908 [docs] Add themeable component guide
  docs/data/joy/guides/themeable-component/StatComponent.js
  docs/data/joy/guides/themeable-component/StatFullTemplate.js
  docs/data/joy/guides/themeable-component/StatFullTemplate.tsx
  docs/data/joy/guides/themeable-component/StatFullTemplate.tsx.preview
  docs/data/joy/guides/themeable-component/StatSlots.js
  docs/data/joy/guides/themeable-component/themeable-component.md
  docs/data/joy/pages.ts
  docs/data/material/guides/themeable-component/StatComponent.js
  docs/data/material/guides/themeable-component/StatFullTemplate.js
  docs/data/material/guides/themeable-component/StatFullTemplate.tsx
  docs/data/material/guides/themeable-component/StatFullTemplate.tsx.preview
  docs/data/material/guides/themeable-component/StatSlots.js
  docs/data/material/guides/themeable-component/themeable-component.md
  docs/data/material/pages.ts
  docs/pages/joy-ui/guides/themeable-component.js
  docs/pages/material-ui/guides/themeable-component.js
  docs/translations/translations.json
  packages/mui-system/src/createStyled.js
  packages/mui-system/src/createStyled.test.js
Labels: docs, package: system, customization: theme

#37855 [Select][base] Fix flicker on click of controlled Select button
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
  packages/mui-joy/src/Select/Select.test.tsx
Labels: component: select, package: base-ui

#38366 [website] Adjust styles of the Product section on the homepage
  docs/public/static/branding/product-advanced-light.svg
  docs/public/static/branding/product-core-dark.svg
  docs/public/static/branding/product-core-light.svg
  docs/public/static/branding/product-designkits-light.svg
  docs/public/static/branding/product-templates-light.svg
  docs/public/static/branding/product-toolpad-light.svg
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/DesignKits.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/home/StoreTemplatesBanner.tsx
Labels: design, website

#38325 [core] Use @testing-library/user-event direct API
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.test.tsx
Labels: test

#38317 [website] Updating Charts demo with real charts usage for MUI X marketing page
  docs/next.config.js
  docs/package.json
  docs/src/components/productX/XChartsDemo.tsx
  yarn.lock
Labels: website, component: charts

#38312 [core] Port GitHub workflow for ensuring triage label is present
  .github/workflows/ensure-triage-label.yml
Labels: core

#38373 [test] Remove unnecessary `async` keyword from test
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
Labels: test

#38364 [release] v5.14.4
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#38256 [website] Clean up the `GetStartedButtons` component
  docs/src/components/action/NpmCopyButton.tsx
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/components/home/GetStartedButtons2.tsx
  docs/src/components/home/Hero.tsx
  docs/src/components/home/StartToday.tsx
  docs/src/components/productBaseUI/BaseUIHero.tsx
  docs/src/components/productMaterial/MaterialHero.tsx
  docs/src/components/productX/XHero.tsx
Labels: website

#38370 [docs-infra] Fix info callout border color
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#38365 [docs-infra] Adjust heading styles
  docs/data/docs-infra/pages.ts
  docs/pages/experiments/docs/headers.md
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#38363 [docs][base-ui] Update number input API docs
  docs/pages/base-ui/api/number-input.json
  docs/translations/api-docs-base/number-input/number-input.json
  packages/mui-base/src/Unstable_NumberInput/NumberInput.types.ts
Labels: docs, package: base-ui

#38387 [Input][joy-ui] Fix the `FormHelperText` icon color
  docs/data/joy/components/input/InputFormProps.js
  docs/data/joy/components/input/InputFormProps.tsx
  docs/data/joy/components/input/InputFormProps.tsx.preview
  docs/data/joy/components/input/InputValidation.js
  docs/data/joy/components/input/InputValidation.tsx
  docs/data/joy/components/input/InputValidation.tsx.preview
  docs/data/joy/components/input/input.md
  packages/mui-joy/src/FormHelperText/FormHelperText.tsx
  packages/mui-joy/src/FormLabel/FormLabel.tsx
Labels: package: joy-ui, component: input

#37406 [examples] Add Joy UI + Vite.js + TypeScript example app
  examples/joy-ui-vite-ts/.gitignore
  examples/joy-ui-vite-ts/README.md
  examples/joy-ui-vite-ts/index.html
  examples/joy-ui-vite-ts/package.json
  examples/joy-ui-vite-ts/public/vite.svg
  examples/joy-ui-vite-ts/src/App.tsx
  examples/joy-ui-vite-ts/src/main.tsx
  examples/joy-ui-vite-ts/src/vite-env.d.ts
  examples/joy-ui-vite-ts/tsconfig.json
  examples/joy-ui-vite-ts/tsconfig.node.json
  examples/joy-ui-vite-ts/vite.config.ts
Labels: examples

#38384 [Skeleton][joy-ui] Soften the pulse animation
  packages/mui-joy/src/Skeleton/Skeleton.tsx
Labels: component: skeleton, package: joy-ui, design: joy

#38385 [docs][material-ui][joy-ui] Simplify the Quickstart section on the Usage page
  docs/data/joy/getting-started/usage/ButtonUsage.js
  docs/data/joy/getting-started/usage/ButtonUsage.tsx
  docs/data/joy/getting-started/usage/ButtonUsage.tsx.preview
  docs/data/joy/getting-started/usage/usage.md
  docs/data/material/getting-started/usage/ButtonUsage.js
  docs/data/material/getting-started/usage/ButtonUsage.tsx
  docs/data/material/getting-started/usage/ButtonUsage.tsx.preview
  docs/data/material/getting-started/usage/usage.md
Labels: docs, package: material-ui, package: joy-ui

#38138 [base] Add `prepareForSlot` util
  docs/data/base/getting-started/customization/CreateSlot.tsx.preview
  docs/data/base/getting-started/customization/PrepareForSlot.js
  docs/data/base/getting-started/customization/PrepareForSlot.tsx
  docs/data/base/getting-started/customization/PrepareForSlot.tsx.preview
  docs/data/base/getting-started/customization/customization.md
  packages/mui-base/src/utils/index.ts
  packages/mui-base/src/utils/prepareForSlot.spec.tsx
  packages/mui-base/src/utils/prepareForSlot.test.tsx
  packages/mui-base/src/utils/prepareForSlot.tsx
Labels: package: base-ui

#37170 [docs][material-ui] Remove incorrect `aria-label`s in extended variant examples of Floating Action Button
  docs/data/material/components/floating-action-button/FloatingActionButtonExtendedSize.js
  docs/data/material/components/floating-action-button/FloatingActionButtonExtendedSize.tsx
  docs/data/material/components/floating-action-button/FloatingActionButtonExtendedSize.tsx.preview
Labels: bug 🐛, docs, accessibility, component: Fab, package: material-ui

#38395 [docs][joy-ui] Refine the Order Dashboard template design
  docs/data/joy/getting-started/templates/order-dashboard/App.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/ColorSchemeToggle.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/FirstSidebar.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/Header.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/MuiLogo.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/OrderList.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/OrderTable.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/SecondSidebar.tsx
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
Labels: docs, package: joy-ui, design: joy

#38399 [useButton][base] Fix onFocusVisible not being handled
  packages/mui-base/src/useButton/useButton.test.tsx
  packages/mui-base/src/useButton/useButton.ts
Labels: bug 🐛, package: base-ui

#38187 [base] Add `useModal` hook
  .eslintrc.js
  docs/data/base/components/modal/UseModal.js
  docs/data/base/components/modal/UseModal.tsx
  docs/data/base/components/modal/modal.md
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/use-modal.json
  docs/pages/base-ui/react-modal/[docsTab]/index.js
  docs/translations/api-docs/use-modal/use-modal.json
  docs/translations/translations.json
  packages/mui-base/src/Modal/Modal.tsx
  packages/mui-base/src/Modal/index.ts
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
  packages/mui-base/src/unstable_useModal/ModalManager.test.ts
  packages/mui-base/src/unstable_useModal/ModalManager.ts
  packages/mui-base/src/unstable_useModal/index.ts
  packages/mui-base/src/unstable_useModal/useModal.ts
  packages/mui-base/src/unstable_useModal/useModal.types.ts
  packages/mui-joy/src/Modal/Modal.tsx
  packages/mui-material/src/Modal/index.d.ts
  packages/mui-material/src/Modal/index.js
Labels: component: modal, package: base-ui

#38277 [Switch][docs] Fix the readOnly class name in docs
  docs/pages/base-ui/api/switch.json
  docs/pages/joy-ui/api/switch.json
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
  packages/mui-utils/src/generateUtilityClass/generateUtilityClass.ts
Labels: docs, component: switch, package: base-ui, package: joy-ui

#38184 [base] Remove the legacy Extend* types
  packages/mui-base/src/Badge/Badge.types.ts
  packages/mui-base/src/Modal/Modal.types.ts
  packages/mui-base/src/Slider/Slider.types.ts
  packages/mui-material/src/Badge/Badge.d.ts
Labels: component: badge, component: slider, typescript, component: modal, package: base-ui

#38355 [docs][Menu][joy] Explain how to control the open state
  docs/data/joy/components/menu/ControlledDropdown.js
  docs/data/joy/components/menu/ControlledDropdown.tsx
  docs/data/joy/components/menu/ControlledDropdown.tsx.preview
  docs/data/joy/components/menu/menu.md
Labels: docs, component: menu, package: joy-ui

#38420 [joy-ui][docs] Add `FileUpload` demo
  docs/data/joy/components/button/InputFileUpload.js
  docs/data/joy/components/button/InputFileUpload.tsx
  docs/data/joy/components/button/button.md
Labels: docs, component: button, package: joy-ui

#38417 [useButton][base] Fix tabIndex not being forwarded
  packages/mui-base/src/useButton/useButton.test.tsx
  packages/mui-base/src/useButton/useButton.ts
Labels: bug 🐛, component: button, package: base-ui

#38369 [website] Link Discord in footer
  docs/src/icons/DiscordIcon.tsx
  docs/src/icons/SvgStackOverflow.tsx
  docs/src/layouts/AppFooter.tsx
Labels: website

#38394 [docs] Improve page transition speed
  docs/pages/joy-ui/react-button-group.js
  docs/pages/joy-ui/react-button.js
Labels: performance, scope: docs-infra

#38429 [website] Fix EmailSubscribe look
  CHANGELOG.md
  docs/src/components/footer/EmailSubscribe.tsx
Labels: bug 🐛, design, website

#38072 [TextField] Fix to handle `onClick` on root element
  packages/mui-material/src/TextField/TextField.js
  packages/mui-material/src/TextField/TextField.test.js
  test/e2e/fixtures/TextField/TextFieldWithOnClick.tsx
  test/e2e/index.test.ts
Labels: component: text field

#38293 [TabPanel][joy] Add `keepMounted` prop
  docs/pages/joy-ui/api/tab-panel.json
  docs/translations/api-docs-joy/tab-panel/tab-panel.json
  packages/mui-joy/src/TabPanel/TabPanel.tsx
  packages/mui-joy/src/TabPanel/TabPanelProps.ts
Labels: component: tabs, package: base-ui

#38393 [docs-infra] Retain side nav animation speed
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
Labels: component: Collapse, design, scope: docs-infra

#38422 Update pickers.md
  docs/src/pages/components/pickers/pickers.md
Labels: v4.x

#38248 [codemod] Add v5.0.0/tree-view-moved-to-x codemod
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v5.0.0/tree-view-moved-to-x.js
  packages/mui-codemod/src/v5.0.0/tree-view-moved-to-x.test.js
  packages/mui-codemod/src/v5.0.0/tree-view-moved-to-x.test/actual-root.js
  packages/mui-codemod/src/v5.0.0/tree-view-moved-to-x.test/actual-sub-module.js
  packages/mui-codemod/src/v5.0.0/tree-view-moved-to-x.test/expected-root.js
  packages/mui-codemod/src/v5.0.0/tree-view-moved-to-x.test/expected-sub-module.js
Labels: package: codemod

#38255 [website] Improve Base UI hero section demo
  docs/src/components/productBaseUI/BaseUIThemesDemo.tsx
Labels: package: base-ui, website

#38410 [docs-infra] Move the Diamond Sponsors to the TOC
  docs/pages/material-ui/react-button-group.js
  docs/pages/material-ui/react-button.js
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DiamondSponsors.js
  docs/translations/translations.json
Labels: scope: docs-infra

#38456 [docs-infra] Fix nested list margin
  docs/data/docs-infra/pages.ts
  docs/pages/experiments/docs/headers.md
  docs/pages/experiments/docs/markdown.js
  docs/pages/experiments/docs/markdown.md
  docs/src/modules/components/MarkdownElement.js
Labels: bug 🐛, design, scope: docs-infra

#38465 5.14.5
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#38471 [website] Fix template link on the homepage
  docs/src/components/home/StoreTemplatesBanner.tsx
Labels: website

#38421 [docs-infra] Improve affordance on the code block expansion
  docs/src/modules/components/DemoToolbar.js
  docs/translations/translations.json
Labels: scope: docs-infra, design: ux

#38450 [docs][material-ui] Fix missing import in the styled engine guide
  docs/data/material/guides/styled-engine/styled-engine.md
Labels: bug 🐛, docs, package: styled-engine

#38315 [docs][material-ui] Improve nav link tab example
  docs/data/material/components/tabs/NavTabs.js
  docs/data/material/components/tabs/NavTabs.tsx
  docs/data/material/components/tabs/tabs.md
  docs/data/material/guides/routing/routing.md
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/MarkdownLinks.js
Labels: docs, component: tabs, package: material-ui

#38423 [docs] Fix SEO issues reported by ahrefs
  docs/data/joy/components/snackbar/snackbar.md
  docs/data/material/getting-started/support/support.md
  docs/data/material/guides/routing/routing.md
  docs/src/modules/components/Link.tsx
  packages/markdown/parseMarkdown.js
Labels: docs

#38273 [docs][material-ui] Fix the Drawer's `onClose` API docs
  docs/pages/material-ui/api/drawer.json
  docs/translations/api-docs/drawer/drawer.json
  packages/mui-material/src/Drawer/Drawer.d.ts
  packages/mui-material/src/Drawer/Drawer.js
Labels: docs, component: drawer, package: material-ui

#38464 [docs] Use IBM Plex Sans in Tailwind CSS demos
  docs/data/base/components/badge/UnstyledBadge/tailwind/index.js
  docs/data/base/components/badge/UnstyledBadge/tailwind/index.tsx
  docs/data/base/components/badge/UnstyledBadge/tailwind/index.tsx.preview
  docs/data/base/components/button/UnstyledButtonIntroduction.js
  docs/data/base/components/button/UnstyledButtonIntroduction.tsx
  docs/data/base/components/button/UnstyledButtonIntroduction.tsx.preview
  docs/data/base/components/button/UnstyledButtonIntroduction/tailwind/index.js
  docs/data/base/components/button/UnstyledButtonIntroduction/tailwind/index.tsx
  docs/data/base/components/button/UnstyledButtonsSimple/tailwind/index.js
  docs/data/base/components/button/UnstyledButtonsSimple/tailwind/index.tsx
  docs/data/base/components/button/UnstyledButtonsSpan/tailwind/index.js
  docs/data/base/components/button/UnstyledButtonsSpan/tailwind/index.tsx
  docs/data/base/components/form-control/BasicFormControl/tailwind/index.js
  docs/data/base/components/form-control/BasicFormControl/tailwind/index.tsx
  docs/data/base/components/form-control/BasicFormControl/tailwind/index.tsx.preview
  docs/data/base/components/input/UnstyledInputBasic/tailwind/index.js
  docs/data/base/components/input/UnstyledInputBasic/tailwind/index.tsx
  docs/data/base/components/input/UnstyledInputBasic/tailwind/index.tsx.preview
  docs/data/base/components/menu/MenuSimple/tailwind/index.js
  docs/data/base/components/menu/MenuSimple/tailwind/index.tsx
  docs/data/base/components/number-input/NumberInputBasic/tailwind/index.js
  docs/data/base/components/number-input/NumberInputBasic/tailwind/index.tsx
  docs/data/base/components/number-input/QuantityInput/tailwind/index.js
  docs/data/base/components/number-input/QuantityInput/tailwind/index.tsx
  docs/data/base/components/number-input/UseNumberInputCompact/tailwind/index.js
  docs/data/base/components/number-input/UseNumberInputCompact/tailwind/index.tsx
  docs/data/base/components/popper/UnstyledPopperBasic/tailwind/index.js
  docs/data/base/components/popper/UnstyledPopperBasic/tailwind/index.tsx
  docs/data/base/components/select/UnstyledSelectBasic/tailwind/index.js
  docs/data/base/components/select/UnstyledSelectBasic/tailwind/index.tsx
  docs/data/base/components/snackbar/UnstyledSnackbar/tailwind/index.js
  docs/data/base/components/snackbar/UnstyledSnackbar/tailwind/index.tsx
  docs/data/base/components/table-pagination/TableCustomized/tailwind/index.js
  docs/data/base/components/table-pagination/TableCustomized/tailwind/index.tsx
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/tailwind/index.js
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/tailwind/index.tsx
  docs/data/base/components/tabs/UnstyledTabsCustomized/tailwind/index.js
  docs/data/base/components/tabs/UnstyledTabsCustomized/tailwind/index.tsx
  docs/src/modules/sandbox/CreateReactApp.ts
  docs/tailwind.config.js
Labels: docs, package: base-ui

#38302 [docs][base] Add Tailwind CSS + plain CSS demo on the Input page
  docs/data/base/components/input/UnstyledInputIntroduction/css/index.js
  docs/data/base/components/input/UnstyledInputIntroduction/css/index.tsx
  docs/data/base/components/input/UnstyledInputIntroduction/css/index.tsx.preview
  docs/data/base/components/input/UnstyledInputIntroduction/system/index.js
  docs/data/base/components/input/UnstyledInputIntroduction/system/index.tsx
  docs/data/base/components/input/UnstyledInputIntroduction/system/index.tsx.preview
  docs/data/base/components/input/UnstyledInputIntroduction/tailwind/index.js
  docs/data/base/components/input/UnstyledInputIntroduction/tailwind/index.tsx
  docs/data/base/components/input/UnstyledInputIntroduction/tailwind/index.tsx.preview
  docs/data/base/components/input/input.md
Labels: component: text field, package: base-ui

#38469 [docs-infra] Fix GoogleAnalytics missing event for code copy
  docs/src/modules/components/CodeCopyButton.tsx
Labels: bug 🐛, scope: docs-infra

#38500 [docs-infra] Improve the alert before a negative feedback
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/translations/translations.json
Labels: scope: docs-infra, support: docs-feedback

#38501 [docs] Add stray design adjustments to the docs
  docs/pages/pricing.tsx
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/components/pricing/HeroPricing.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/ComponentPageTabs.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
Labels: docs, design

#38503 [docs-infra] Customize the blockquote design
  docs/data/material/guides/api/api.md
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#38505 [docs] Update the backers page
  CHANGELOG.md
  CHANGELOG.old.md
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/data/material/getting-started/faq/faq.md
  docs/pages/about.tsx
  docs/pages/blog/material-ui-v1-is-out.md
  docs/src/components/home/DiamondSponsors.tsx
Labels: docs

#38506 [Skeleton][material-ui] Soften the pulse animation
  packages/mui-material/src/Skeleton/Skeleton.js
Labels: package: material-ui, component: skeleton, design

#38428 [docs-infra] Improve the heading buttons positioning
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#38479 [docs][base-ui] Fix Menu Hooks demo
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/UseMenu.tsx.preview
Labels: docs, component: menu, package: base-ui

#38378 [zero][system] Implementation of styled tag processor for linaria
  apps/zero-runtime-vite-app/.gitignore
  apps/zero-runtime-vite-app/README.md
  apps/zero-runtime-vite-app/index.html
  apps/zero-runtime-vite-app/package.json
  apps/zero-runtime-vite-app/src/App.tsx
  apps/zero-runtime-vite-app/src/Slider/ZeroSlider.jsx
  apps/zero-runtime-vite-app/src/component.tsx
  apps/zero-runtime-vite-app/src/main.tsx
  apps/zero-runtime-vite-app/src/utils/colorManipulator.js
  apps/zero-runtime-vite-app/tsconfig.json
  apps/zero-runtime-vite-app/vite-env.d.ts
  apps/zero-runtime-vite-app/vite.config.ts
  apps/zero-runtime-vite-app/yarn.lock
  package.json
  packages/zero-runtime/.eslintrc.json
  packages/zero-runtime/README.md
  packages/zero-runtime/package.json
  packages/zero-runtime/src/index.ts
  packages/zero-runtime/src/styled.d.ts
  packages/zero-runtime/src/styled.js
  packages/zero-runtime/styles.css
  packages/zero-runtime/tsconfig.build.json
  packages/zero-runtime/tsconfig.json
  packages/zero-tag-processor/.eslintrc.json
  packages/zero-tag-processor/README.md
  packages/zero-tag-processor/package.json
  packages/zero-tag-processor/src/generateCss.ts
  packages/zero-tag-processor/src/styled.ts
  packages/zero-tag-processor/src/utils/cssFnValueToVariable.ts
  packages/zero-tag-processor/src/utils/cssFunctionTransformerPlugin.ts
  packages/zero-tag-processor/src/utils/isUnitLess.ts
  packages/zero-tag-processor/src/utils/processCssObject.ts
  packages/zero-tag-processor/src/utils/valueToLiteral.ts
  packages/zero-tag-processor/tsconfig.build.json
  packages/zero-tag-processor/tsconfig.json
  scripts/copyFiles.mjs
  yarn.lock
Labels: package: system

#38522 [docs-infra] Cleanup code on demo code block expansion
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoToolbar.js
Labels: scope: docs-infra

#38462 [Joy] Miscellaneous fixes
  docs/data/joy/components/aspect-ratio/FlexAspectRatio.js
  docs/data/joy/components/aspect-ratio/FlexAspectRatio.tsx
  docs/data/joy/components/aspect-ratio/FlexRowRatio.js
  docs/data/joy/components/aspect-ratio/FlexRowRatio.tsx
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
  docs/data/joy/components/button/ButtonDisabled.js
  docs/data/joy/components/button/ButtonDisabled.tsx
  docs/data/joy/components/button/ButtonDisabled.tsx.preview
  docs/data/joy/components/button/IconButtons.js
  docs/data/joy/components/button/IconButtons.tsx
  docs/data/joy/components/button/IconButtons.tsx.preview
  docs/data/joy/components/card/CardUsage.js
  docs/data/joy/components/card/CardVariables.js
  docs/data/joy/components/card/DribbbleShot.js
  docs/data/joy/components/card/DribbbleShot.tsx
  docs/data/joy/components/card/GradientCover.js
  docs/data/joy/components/card/GradientCover.tsx
  docs/data/joy/components/card/InstagramPost.js
  docs/data/joy/components/card/InstagramPost.tsx
  docs/data/joy/components/card/LicenseCard.js
  docs/data/joy/components/card/LicenseCard.tsx
  docs/data/joy/components/card/MultipleInteractionCard.js
  docs/data/joy/components/card/MultipleInteractionCard.tsx
  docs/data/joy/components/card/RowCard.js
  docs/data/joy/components/card/RowCard.tsx
  docs/data/joy/components/card/UserCard.js
  docs/data/joy/components/card/UserCard.tsx
  docs/data/joy/components/skeleton/AnimationSkeleton.js
  docs/data/joy/components/skeleton/AnimationSkeleton.tsx
  docs/data/joy/components/typography/DecoratorExamples.js
  docs/data/joy/components/typography/DecoratorExamples.tsx
  docs/data/joy/components/typography/TypographyUsage.js
  docs/pages/joy-ui/api/aspect-ratio.json
  docs/pages/joy-ui/api/tab.json
  docs/translations/api-docs-joy/aspect-ratio/aspect-ratio.json
  examples/joy-ui-cra-ts/public/index.html
  examples/joy-ui-nextjs/src/components/ThemeRegistry/theme.js
  examples/joy-ui-vite-ts/index.html
  packages/mui-joy/src/AspectRatio/AspectRatio.tsx
  packages/mui-joy/src/AspectRatio/AspectRatioProps.ts
  packages/mui-joy/src/Breadcrumbs/Breadcrumbs.tsx
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/CardContent/CardContent.tsx
  packages/mui-joy/src/CardOverflow/CardOverflow.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ModalClose/ModalClose.tsx
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/Tab/TabProps.ts
  packages/mui-joy/src/TabList/TabList.tsx
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/variantUtils.test.js
  packages/mui-joy/src/styles/variantUtils.ts
Labels: bug 🐛, package: joy-ui

#38499 [joy-ui][docs] Updated the List playground demo
  docs/data/joy/components/list/ListUsage.js
Labels: docs, component: list, design: joy

#38510 [joy-ui] Fix typo: Classname -> Class name for consistency
  docs/translations/api-docs-joy/autocomplete-listbox/autocomplete-listbox.json
  docs/translations/api-docs-joy/list/list.json
  docs/translations/api-docs-joy/menu-list/menu-list.json
  docs/translations/api-docs-joy/menu/menu.json
  docs/translations/api-docs-joy/tab-list/tab-list.json
  docs/translations/api-docs-joy/tab-panel/tab-panel.json
  docs/translations/api-docs-joy/tab/tab.json
  docs/translations/api-docs-joy/tabs/tabs.json
  packages/mui-joy/src/AutocompleteListbox/autocompleteListboxClasses.ts
  packages/mui-joy/src/List/listClasses.ts
  packages/mui-joy/src/Menu/menuClasses.ts
  packages/mui-joy/src/MenuList/menuListClasses.ts
  packages/mui-joy/src/Tab/tabClasses.ts
  packages/mui-joy/src/TabList/tabListClasses.ts
  packages/mui-joy/src/TabPanel/tabPanelClasses.ts
  packages/mui-joy/src/Tabs/tabsClasses.ts
Labels: docs, package: joy-ui

#38528 [docs-infra] Fix the anchor link on headings
  docs/src/modules/components/MarkdownElement.js
Labels: bug 🐛, scope: docs-infra

#38525 [docs-infra] Add icon to callouts
  docs/data/material/getting-started/faq/faq.md
  docs/data/material/guides/composition/composition.md
  docs/data/material/guides/next-js-app-router/next-js-app-router.md
  docs/data/material/migration/migration-v4/migration-v4.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
  docs/pages/experiments/docs/callouts.md
  docs/src/modules/components/MarkdownElement.js
  packages/markdown/parseMarkdown.js
Labels: design, scope: docs-infra

#38531 [examples] Fix Joy UI example CLI
  examples/joy-ui-nextjs-ts/.gitignore
  examples/joy-ui-nextjs-ts/README.md
  examples/joy-ui-nextjs-ts/next.config.js
  examples/joy-ui-nextjs-ts/package.json
  examples/joy-ui-nextjs-ts/public/.gitkeep
  examples/joy-ui-nextjs-ts/src/app/favicon.ico
  examples/joy-ui-nextjs-ts/src/app/layout.tsx
  examples/joy-ui-nextjs-ts/src/app/page.tsx
  examples/joy-ui-nextjs-ts/src/app/sign-up/page.tsx
  examples/joy-ui-nextjs-ts/src/components/ThemeRegistry/EmotionCache.tsx
  examples/joy-ui-nextjs-ts/src/components/ThemeRegistry/ThemeRegistry.tsx
  examples/joy-ui-nextjs-ts/src/components/ThemeRegistry/theme.js
  examples/joy-ui-nextjs-ts/tsconfig.json
Labels: docs, package: joy-ui, examples

#38545 [docs][joy-ui] Fix the `fullWidth` prop description for the Input
  docs/translations/api-docs-joy/input/input.json
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
Labels: bug 🐛, docs, package: joy-ui, component: input

#38508 [docs-infra] Follow import and CSS token standard
  docs/data/base/all-components/all-components.md
  docs/data/material/discover-more/showcase/showcase.md
  docs/data/material/getting-started/example-projects/example-projects.md
  docs/data/material/getting-started/templates/templates.md
  docs/src/modules/components/ExampleCollection.js
  packages/markdown/loader.js
Labels: enhancement, scope: docs-infra

#38532 [docs] More space for theme builder
  docs/pages/joy-ui/customization/theme-builder.js
Labels: docs, package: joy-ui, design: joy

#38574 [core] Remove redundant `@material-ui/` aliases from regression test webpack config
  test/regressions/webpack.config.js
Labels: core

#38568 [website] Fix mobile view Material UI page
  docs/src/components/action/NpmCopyButton.tsx
Labels: bug 🐛, design, website

#38470 [docs-infra] Retain velocity animation speed
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
Labels: component: accordion, design, scope: docs-infra

#38424 [Select][material-ui] Add `root` class to `SelectClasses`
  docs/pages/material-ui/api/select.json
  docs/translations/api-docs/select/select.json
  packages/mui-material/src/Select/Select.js
  packages/mui-material/src/Select/Select.spec.tsx
  packages/mui-material/src/Select/selectClasses.ts
Labels: bug 🐛, component: select, typescript, package: material-ui

#38490 [docs][joy-ui] Sort templates by popularity
  docs/data/joy/getting-started/templates/TemplateCollection.js
Labels: docs, package: joy-ui

#38580 [docs][material-ui] Fix key warning in SimpleDialog demo
  docs/data/material/components/dialogs/SimpleDialogDemo.js
  docs/data/material/components/dialogs/SimpleDialogDemo.tsx
Labels: bug 🐛, docs, component: dialog, package: material-ui

#38586 [docs-infra] Fix anchor scroll without tabs
  docs/src/modules/components/MarkdownDocsV2.js
Labels: bug 🐛, regression, scope: docs-infra

#38529 [docs][base-ui] Revise the structure of the Component docs
  docs/data/base/components/autocomplete/autocomplete.md
  docs/data/base/components/slider/slider.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/tabs/tabs.md
Labels: docs, package: base-ui

#38474 [TextField] Fix onClick regressions handling changes
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/InputBase/InputBase.test.js
  packages/mui-material/src/TextField/TextField.d.ts
  packages/mui-material/src/TextField/TextField.js
  packages/mui-material/src/TextField/TextField.test.js
  test/e2e/fixtures/TextField/OutlinedTextFieldOnClick.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: text field, regression

#38319 [ButtonBase][material-next] Add ButtonBase component
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/Button/Button.test.js
  packages/mui-material-next/src/Button/Button.tsx
  packages/mui-material-next/src/Button/Button.types.ts
  packages/mui-material-next/src/Button/buttonClasses.ts
  packages/mui-material-next/src/ButtonBase/ButtonBase.test.tsx
  packages/mui-material-next/src/ButtonBase/ButtonBase.tsx
  packages/mui-material-next/src/ButtonBase/ButtonBase.types.ts
  packages/mui-material-next/src/ButtonBase/Ripple.test.js
  packages/mui-material-next/src/ButtonBase/Ripple.tsx
  packages/mui-material-next/src/ButtonBase/TouchRipple.test.js
  packages/mui-material-next/src/ButtonBase/TouchRipple.tsx
  packages/mui-material-next/src/ButtonBase/TouchRipple.types.ts
  packages/mui-material-next/src/ButtonBase/buttonBaseClasses.ts
  packages/mui-material-next/src/ButtonBase/index.ts
  packages/mui-material-next/src/ButtonBase/touchRippleClasses.ts
  packages/mui-material-next/src/ButtonBase/useTouchRipple.ts
  packages/mui-material-next/src/index.ts
Labels: component: ButtonBase, v6.x

#38392 [Input][material-next] Add InputBase component
  docs/pages/base-ui/api/use-input.json
  packages/mui-base/src/useInput/useInput.test.tsx
  packages/mui-base/src/useInput/useInput.types.ts
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/InputBase/InputBase.spec.tsx
  packages/mui-material-next/src/InputBase/InputBase.test.js
  packages/mui-material-next/src/InputBase/InputBase.tsx
  packages/mui-material-next/src/InputBase/InputBase.types.ts
  packages/mui-material-next/src/InputBase/index.d.ts
  packages/mui-material-next/src/InputBase/index.js
  packages/mui-material-next/src/InputBase/inputBaseClasses.ts
  packages/mui-material-next/src/InputBase/utils.test.js
  packages/mui-material-next/src/InputBase/utils.ts
  packages/mui-material-next/src/index.ts
Labels: v6.x, component: input

#38590 [website] Add stray design improvements to the Material UI page
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialHero.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/RealEstateCard.tsx
Labels: design, website

#38585 [website] Improve the Base UI hero section demo
  docs/src/components/productBaseUI/BaseUIThemesDemo.tsx
  docs/src/components/productBaseUI/heroVariables.ts
Labels: design, website

#38592 [docs][material-ui][Dialog] Improve screen reader announcement of Customized Dialog
  docs/data/material/components/dialogs/CustomizedDialogs.js
  docs/data/material/components/dialogs/CustomizedDialogs.tsx
Labels: docs, accessibility, component: dialog, package: material-ui

#38504 [docs-infra] Add light tweaks to the ad container
  docs/src/modules/components/Ad.js
  docs/src/modules/components/ad.styles.js
Labels: design, scope: docs-infra

#38541 [docs] Add 3rd party libraries integration examples for Joy Input
  docs/data/joy/components/input/InputReactImask.js
  docs/data/joy/components/input/InputReactImask.tsx
  docs/data/joy/components/input/InputReactImask.tsx.preview
  docs/data/joy/components/input/InputReactNumberFormat.js
  docs/data/joy/components/input/InputReactNumberFormat.tsx
  docs/data/joy/components/input/InputReactNumberFormat.tsx.preview
  docs/data/joy/components/input/input.md
Labels: docs, package: joy-ui, component: input

#37960 [Popup] New component
  docs/data/base/components/popper/popper.md
  docs/data/base/components/popup/AnimatedPopup.js
  docs/data/base/components/popup/AnimatedPopup.tsx
  docs/data/base/components/popup/AnimatedPopup.tsx.preview
  docs/data/base/components/popup/DisabledPortalPopup.js
  docs/data/base/components/popup/DisabledPortalPopup.tsx
  docs/data/base/components/popup/DisabledPortalPopup.tsx.preview
  docs/data/base/components/popup/Placement.js
  docs/data/base/components/popup/Placement.tsx
  docs/data/base/components/popup/Placement.tsx.preview
  docs/data/base/components/popup/SimplePopup.js
  docs/data/base/components/popup/SimplePopup.tsx
  docs/data/base/components/popup/SimplePopup.tsx.preview
  docs/data/base/components/popup/UnstyledPopupIntroduction/css/index.js
  docs/data/base/components/popup/UnstyledPopupIntroduction/css/index.tsx
  docs/data/base/components/popup/UnstyledPopupIntroduction/css/index.tsx.preview
  docs/data/base/components/popup/UnstyledPopupIntroduction/system/index.js
  docs/data/base/components/popup/UnstyledPopupIntroduction/system/index.tsx
  docs/data/base/components/popup/UnstyledPopupIntroduction/system/index.tsx.preview
  docs/data/base/components/popup/UnstyledPopupIntroduction/tailwind/index.js
  docs/data/base/components/popup/UnstyledPopupIntroduction/tailwind/index.tsx
  docs/data/base/components/popup/popup.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/pages/base-ui/api/popup.json
  docs/pages/base-ui/react-popup/[docsTab]/index.js
  docs/pages/base-ui/react-popup/index.js
  docs/pages/experiments/base/popup.tsx
  docs/tailwind.config.js
  docs/translations/api-docs-base/popup/popup.json
  docs/translations/translations.json
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
  packages/mui-base/package.json
  packages/mui-base/src/Unstable_Popup/Popup.test.tsx
  packages/mui-base/src/Unstable_Popup/Popup.tsx
  packages/mui-base/src/Unstable_Popup/Popup.types.ts
  packages/mui-base/src/Unstable_Popup/index.ts
  packages/mui-base/src/Unstable_Popup/popupClasses.ts
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
  packages/mui-utils/src/generateUtilityClass/generateUtilityClass.ts
  test/utils/createRenderer.tsx
  test/utils/describeConformanceUnstyled.tsx
  yarn.lock
Labels: component: Popper, package: base-ui

#38588 [website] Fine-tune the branding theme buttons
  docs/src/components/action/NpmCopyButton.tsx
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/modules/brandingTheme.ts
Labels: design, website

#38619 [docs] Improve the "Understanding MUI packages" page images
  docs/data/material/guides/understand-mui-packages/understand-mui-packages.md
  docs/public/static/images/packages/mui-packages.png
  docs/public/static/images/packages/mui-system.png
Labels: docs

#38600 [docs-infra][joy-ui] Polish the usage and CSS vars playgrounds
  docs/data/joy/components/autocomplete/autocomplete.md
  docs/data/joy/components/avatar/avatar.md
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
  docs/data/joy/components/button/button.md
  docs/data/joy/components/card/CardVariables.js
  docs/data/joy/components/card/card.md
  docs/data/joy/components/chip/chip.md
  docs/data/joy/components/circular-progress/circular-progress.md
  docs/data/joy/components/input/input.md
  docs/data/joy/components/linear-progress/linear-progress.md
  docs/data/joy/components/list/list.md
  docs/data/joy/components/slider/slider.md
  docs/data/joy/components/switch/SwitchVariables.js
  docs/data/joy/components/switch/switch.md
  docs/data/joy/components/table/table.md
  docs/data/joy/components/tabs/tabs.md
  docs/src/modules/components/Demo.js
  docs/src/modules/components/JoyUsageDemo.tsx
  docs/src/modules/components/JoyVariablesDemo.tsx
Labels: design, package: joy-ui, scope: docs-infra

#38622 [docs-infra] Fix ad layout shift
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AppLayoutDocs.js
Labels: bug 🐛, scope: docs-infra

#38579 [docs-infra] Support link title
  docs/pages/blog/mui-x-mid-v6-features.md
  docs/pages/blog/mui-x-v6.md
  docs/pages/experiments/docs/headers.md
  docs/pages/experiments/docs/markdown.md
  packages/markdown/parseMarkdown.js
Labels: enhancement, scope: docs-infra

#38167 [Select][joy] Add `required` prop
  docs/data/joy/components/input/InputFormProps.js
  docs/data/joy/components/input/InputFormProps.tsx
  docs/data/joy/components/input/InputFormProps.tsx.preview
  docs/data/joy/components/input/input.md
  docs/data/joy/components/select/ControlledOpenSelect.js
  docs/data/joy/components/select/ControlledOpenSelect.tsx
  docs/data/joy/components/select/SelectFormSubmission.js
  docs/data/joy/components/select/SelectFormSubmission.tsx
  docs/data/joy/components/select/select.md
  docs/pages/base-ui/api/select.json
  docs/pages/base-ui/api/use-select.json
  docs/pages/joy-ui/api/select.json
  docs/translations/api-docs-base/select/select.json
  docs/translations/api-docs-joy/select/select.json
  docs/translations/api-docs/use-select/use-select.json
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Select/Select.tsx
  packages/mui-base/src/Select/Select.types.ts
  packages/mui-base/src/useSelect/useSelect.test.tsx
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
Labels: component: select, package: joy-ui, enhancement

#38602 v5.14.6
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  scripts/releaseChangelog.mjs
Labels: release

#38396 [docs][joy-ui] Change the customization and how-to guides docs tree
  docs/.link-check-errors.txt
  docs/data/joy/customization/creating-themed-components/StatComponent.js
  docs/data/joy/customization/creating-themed-components/StatFullTemplate.js
  docs/data/joy/customization/creating-themed-components/StatFullTemplate.tsx
  docs/data/joy/customization/creating-themed-components/StatFullTemplate.tsx.preview
  docs/data/joy/customization/creating-themed-components/StatSlots.js
  docs/data/joy/customization/creating-themed-components/creating-themed-components.md
  docs/data/joy/customization/overriding-component-structure/OverridingInternalSlot.js
  docs/data/joy/customization/overriding-component-structure/OverridingInternalSlot.tsx
  docs/data/joy/customization/overriding-component-structure/OverridingInternalSlot.tsx.preview
  docs/data/joy/customization/overriding-component-structure/OverridingRootSlot.js
  docs/data/joy/customization/overriding-component-structure/OverridingRootSlot.tsx
  docs/data/joy/customization/overriding-component-structure/OverridingRootSlot.tsx.preview
  docs/data/joy/customization/overriding-component-structure/overriding-component-structure.md
  docs/data/joy/getting-started/tutorial/tutorial.md
  docs/data/joy/integrations/icon-libraries/IconFontSizes.js
  docs/data/joy/integrations/icon-libraries/IconFontSizes.tsx
  docs/data/joy/integrations/icon-libraries/IconFontSizes.tsx.preview
  docs/data/joy/integrations/icon-libraries/JoyMaterialIcon.js
  docs/data/joy/integrations/icon-libraries/JoyMaterialIcon.tsx
  docs/data/joy/integrations/icon-libraries/icon-libraries.md
  docs/data/joy/integrations/material-ui/material-ui-pt.md
  docs/data/joy/integrations/material-ui/material-ui-zh.md
  docs/data/joy/integrations/material-ui/material-ui.md
  docs/data/joy/integrations/next-js-app-router/next-js-app-router.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/customization/creating-themed-components.js
  docs/pages/joy-ui/customization/overriding-component-structure.js
  docs/pages/joy-ui/integrations/icon-libraries.js
  docs/pages/joy-ui/integrations/material-ui.js
  docs/pages/joy-ui/integrations/next-js-app-router.js
  docs/translations/translations.json
Labels: docs, package: joy-ui

#38625 [docs][lab][LoadingButton] Improve `loading` prop documentation
  docs/translations/api-docs/loading-button/loading-button.json
  packages/mui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/mui-lab/src/LoadingButton/LoadingButton.js
Labels: docs, package: lab, component: LoadingButton

#38603 [docs][material-ui] Format `key` prop JSDoc description in `Snackbar` component code correctly
  docs/translations/api-docs/snackbar/snackbar.json
  packages/mui-material/src/Snackbar/Snackbar.d.ts
  packages/mui-material/src/Snackbar/Snackbar.js
Labels: bug 🐛, docs, component: snackbar, package: material-ui

#37773 [Select][material] Fix select menu moving on scroll when disableScrollLock is true
  docs/pages/material-ui/api/popover.json
  docs/translations/api-docs/popover/popover.json
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Popover/Popover.js
  packages/mui-material/src/Popover/Popover.test.js
Labels: component: select, package: material-ui

#38475 [useButton][base-ui] Accept arbitrary props in getRootProps and forward them
  docs/pages/base-ui/api/use-button.json
  packages/mui-base/src/useButton/useButton.test.tsx
  packages/mui-base/src/useButton/useButton.ts
  packages/mui-base/src/useButton/useButton.types.ts
Labels: component: button, package: base-ui, enhancement

#38632 [docs-infra] Hide the SkipLink button if user prefers reduced motion
  docs/src/modules/components/SkipLink.tsx
Labels: bug 🐛, scope: docs-infra

#38636 [docs-infra] Adjust the Material You playground demo design
  docs/data/material/components/badges/badges.md
  docs/data/material/components/buttons/buttons.md
  docs/data/material/components/slider/slider.md
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MaterialYouUsageDemo.tsx
Labels: design, scope: docs-infra

#38635 [website] Add tiny fixes the homepage Sponsors section
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
Labels: design, website

#38614 [core] Potential fix for intermittent ci crashes in e2e test
  packages/mui-material/test/umd/run.js
Labels: test

#37963 [core] Fix ESM issues with regression tests
  babel.config.js
  docs/package.json
  test/e2e/webpack.config.js
  test/regressions/webpack.config.js
  tsconfig.json
  webpackBaseConfig.js
  yarn.lock
Labels: core

#38649 [core] Improve sponsors GA labels
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/SponsorCard.tsx
  docs/src/modules/components/DiamondSponsors.js
Labels: core

#38535 [system][zero][tag] Add support for sx prop
  apps/zero-runtime-vite-app/package.json
  apps/zero-runtime-vite-app/src/App.tsx
  apps/zero-runtime-vite-app/vite.config.ts
  apps/zero-runtime-vite-app/yarn.lock
  packages/zero-runtime/package.json
  packages/zero-runtime/src/index.ts
  packages/zero-runtime/src/styled.js
  packages/zero-runtime/src/sx.d.ts
  packages/zero-runtime/src/sx.js
  packages/zero-tag-processor/package.json
  packages/zero-tag-processor/src/pre-linaria-plugin.ts
  packages/zero-tag-processor/src/styled.ts
  packages/zero-tag-processor/src/sx.ts
  packages/zero-tag-processor/src/utils/checkStaticObjectOrArray.ts
  packages/zero-tag-processor/src/utils/sxObjectExtractor.ts
  yarn.lock
Labels: package: system

#38691 [docs] Show all the code in the usage section
  docs/data/joy/getting-started/usage/usage.md
  docs/data/material/getting-started/usage/usage.md
Labels: docs

#38611 [Autocomplete] Fix listbox opened unexpectedly when component is `disabled`
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, package: material-ui, component: autocomplete

#38132 [core] Add use-client to custom icons
  .circleci/config.yml
  packages/mui-icons-material/custom/Apple.js
  packages/mui-icons-material/custom/Facebook.js
  packages/mui-icons-material/custom/GitHub.js
  packages/mui-icons-material/custom/Google.js
  packages/mui-icons-material/custom/Instagram.js
  packages/mui-icons-material/custom/LinkedIn.js
  packages/mui-icons-material/custom/Microsoft.js
  packages/mui-icons-material/custom/Pinterest.js
  packages/mui-icons-material/custom/Reddit.js
  packages/mui-icons-material/custom/Telegram.js
  packages/mui-icons-material/custom/Twitter.js
  packages/mui-icons-material/custom/WhatsApp.js
  packages/mui-icons-material/custom/YouTube.js
  packages/mui-icons-material/lib/Apple.js
  packages/mui-icons-material/lib/Facebook.js
  packages/mui-icons-material/lib/GitHub.js
  packages/mui-icons-material/lib/Google.js
  packages/mui-icons-material/lib/Instagram.js
  packages/mui-icons-material/lib/LinkedIn.js
  packages/mui-icons-material/lib/Microsoft.js
  packages/mui-icons-material/lib/Pinterest.js
  packages/mui-icons-material/lib/Reddit.js
  packages/mui-icons-material/lib/Telegram.js
  packages/mui-icons-material/lib/Twitter.js
  packages/mui-icons-material/lib/WhatsApp.js
  packages/mui-icons-material/lib/YouTube.js
  packages/mui-icons-material/lib/esm/Apple.js
  packages/mui-icons-material/lib/esm/Facebook.js
  packages/mui-icons-material/lib/esm/GitHub.js
  packages/mui-icons-material/lib/esm/Google.js
  packages/mui-icons-material/lib/esm/Instagram.js
  packages/mui-icons-material/lib/esm/LinkedIn.js
  packages/mui-icons-material/lib/esm/Microsoft.js
  packages/mui-icons-material/lib/esm/Pinterest.js
  packages/mui-icons-material/lib/esm/Reddit.js
  packages/mui-icons-material/lib/esm/Telegram.js
  packages/mui-icons-material/lib/esm/Twitter.js
  packages/mui-icons-material/lib/esm/WhatsApp.js
  packages/mui-icons-material/lib/esm/YouTube.js
  packages/mui-icons-material/lib/esm/index.js
  packages/mui-icons-material/lib/index.js
  packages/rsc-builder/buildRsc.ts
Labels: core

#38521 [docs] Number Input docs fixes
  docs/data/base/components/number-input/NumberInputIntroduction.js
  docs/data/base/components/number-input/NumberInputIntroduction.tsx
  docs/data/base/components/number-input/number-input.md
Labels: docs, package: base-ui, component: number input

#38573 [docs-infra] Mark unstable components with a chip in the nav drawer
  docs/data/base/pages.ts
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
Labels: scope: docs-infra

#38698 v5.14.7
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-runtime/package.json
  packages/zero-tag-processor/package.json
Labels: release

#38681 [website] Fix pricing table style
  docs/src/components/pricing/PricingTable.tsx
Labels: design, website

#38703 [Select][material-ui] Merge slotProps.paper with internal Paper props
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: bug 🐛, component: select, package: material-ui

#37135 [TextField] Fix unstable height of memoized multiline TextField component
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
Labels: component: text field

#38712 [docs-infra] Fix leaking callout content
  docs/src/modules/components/MarkdownElement.js
Labels: scope: docs-infra

#38690 [docs-infra] Fix emotion :first-child console log
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
Labels: bug 🐛, scope: docs-infra

#38720 [core] Remove unnecessary `@types/webpack` package
  package.json
  yarn.lock
Labels: dependencies, core

#38704 Update changelog
  CHANGELOG.md
Labels: docs

#38651 [docs] Improve SSR example reference
  docs/data/material/guides/server-rendering/server-rendering.md
  docs/data/material/guides/understand-mui-packages/understand-mui-packages.md
Labels: docs

#38721 [docs][base-ui] Fix the broken image in the Tailwind CSS guide
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/public/static/base-ui/with-tailwind-css/full-stack-radio.png
Labels: docs, package: base-ui

#38476 [joy-ui][design] Stray design tweaks to components
  docs/data/joy/components/alert/AlertUsage.js
  docs/data/joy/components/card/BasicCard.js
  docs/data/joy/components/card/BasicCard.tsx
  docs/data/joy/components/card/CardUsage.js
  docs/data/joy/components/card/CardVariants.js
  docs/data/joy/components/card/CardVariants.tsx
  docs/data/joy/components/card/DribbbleShot.js
  docs/data/joy/components/card/DribbbleShot.tsx
  docs/data/joy/components/card/card.md
  docs/pages/joy-ui/api/alert.json
  docs/pages/joy-ui/api/card.json
  packages/mui-joy/src/Alert/Alert.test.tsx
  packages/mui-joy/src/Alert/Alert.tsx
  packages/mui-joy/src/Alert/AlertProps.ts
  packages/mui-joy/src/Card/Card.test.tsx
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/Card/CardProps.ts
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
Labels: component: card, component: alert, package: joy-ui, design: joy, component: input

#38646 [docs][material-ui] Adjust simple Slide demo
  docs/data/material/components/transitions/SimpleSlide.js
  docs/data/material/components/transitions/SimpleSlide.tsx
  docs/data/material/components/transitions/SimpleSlide.tsx.preview
Labels: docs, PR: needs revision, component: slider, package: material-ui

#38719 [TabScrollButton] Extend ButtonBase types
  packages/mui-material/src/TabScrollButton/TabScrollButton.d.ts
  packages/mui-material/src/TabScrollButton/TabScrollButton.spec.tsx
Labels: bug 🐛, component: tabs, typescript, package: material-ui

#38623 [docs][joy-ui] Polish the Stack page
  docs/data/joy/components/stack/BasicStack.js
  docs/data/joy/components/stack/BasicStack.tsx
  docs/data/joy/components/stack/DirectionStack.js
  docs/data/joy/components/stack/DirectionStack.tsx
  docs/data/joy/components/stack/DirectionStack.tsx.preview
  docs/data/joy/components/stack/DividerStack.js
  docs/data/joy/components/stack/DividerStack.tsx
  docs/data/joy/components/stack/FlexboxGapStack.js
  docs/data/joy/components/stack/FlexboxGapStack.tsx
  docs/data/joy/components/stack/FlexboxGapStack.tsx.preview
  docs/data/joy/components/stack/InteractiveStack.js
  docs/data/joy/components/stack/InteractiveStack.tsx
  docs/data/joy/components/stack/ResponsiveStack.js
  docs/data/joy/components/stack/ResponsiveStack.tsx
  docs/data/joy/components/stack/ZeroWidthStack.js
  docs/data/joy/components/stack/ZeroWidthStack.tsx
  docs/data/joy/components/stack/stack.md
Labels: docs, component: Stack, package: joy-ui

#38584 [LoadingButton] Fix HTML rule button > div forbidden nesting
  packages/mui-lab/src/LoadingButton/LoadingButton.js
Labels: bug 🐛, package: material-ui, component: LoadingButton

#38731 [website] Fine-tune branding buttons box shadows
  docs/src/modules/brandingTheme.ts
Labels: design, website
