Repository mui/material-ui, pull requests merged in 2023-12, with the labels that each got.

#40037 [material-ui][tabs] Refine scrollable tabs description
  docs/data/material/components/tabs/tabs.md
Labels: docs, component: tabs, package: material-ui

#40016 [website] Add why Design Engineer for data grid
  docs/pages/careers/ROLE_TEMPLATE.md
  docs/pages/careers/accessibility-engineer.md
  docs/pages/careers/design-engineer-x-grid.md
  docs/pages/careers/design-engineer.md
  docs/pages/careers/designer.md
  docs/pages/careers/developer-experience-engineer.md
  docs/pages/careers/engineering-manager.md
  docs/pages/careers/full-stack-engineer.md
  docs/pages/careers/head-of-operations.md
  docs/pages/careers/people-operation-manager.md
  docs/pages/careers/product-engineer.md
  docs/pages/careers/product-manager.md
  docs/pages/careers/product-marketing-manager.md
  docs/pages/careers/react-community-engineer.md
  docs/pages/careers/react-engineer-core.md
  docs/pages/careers/react-engineer-x-charts.md
  docs/pages/careers/react-engineer-x-grid.md
  docs/pages/careers/react-engineer-x.md
  docs/pages/careers/react-tech-lead-core.md
  docs/pages/careers/react-tech-lead-x-grid.md
  docs/pages/careers/senior-designer.md
  docs/pages/careers/support-agent.md
  docs/pages/careers/technical-product-manager.md
  docs/pages/careers/technical-recruiter.md
Labels: design, website

#39960 [Menu][material-next] Enable again the usage of the autoFocus prop
  docs/pages/base-ui/api/use-menu.json
  docs/translations/api-docs/use-menu/use-menu.json
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useMenu/useMenu.types.ts
  packages/mui-material-next/src/Menu/Menu.test.tsx
  packages/mui-material-next/src/Menu/Menu.tsx
  packages/mui-material-next/src/MenuItem/MenuItem.test.tsx
  packages/mui-material-next/src/MenuItem/MenuItem.tsx
Labels: component: menu, package: material-ui, v6.x

#40052 [website] Polish dark mode colors
  docs/pages/blog.tsx
  docs/pages/careers.tsx
  docs/src/components/about/Team.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
  docs/src/components/home/HeroEnd.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/pricing/PricingFAQ.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productBaseUI/BaseUIEnd.tsx
  docs/src/components/productBaseUI/BaseUITestimonial.tsx
  docs/src/components/productCore/CoreHeroEnd.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/components/showcase/FolderTable.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/ThemeAccordion.tsx
  docs/src/components/showcase/ThemeDatePicker.tsx
  docs/src/components/showcase/ThemeSlider.tsx
  docs/src/components/showcase/ThemeTimeline.tsx
  docs/src/layouts/HeroContainer.tsx
  docs/src/layouts/Section.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/TopLayoutBlog.js
Labels: design, website

#40103 v5.14.20
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#40097 [material-ui][docs] Move the responsive font charts from recharts to MUI X
  docs/data/material/customization/typography/ResponsiveFontSizesChart.js
  docs/package.json
  yarn.lock
Labels: docs, package: material-ui, component: charts

#40046 [blog] Adjust the latest MUI X blog post
  docs/pages/blog/mui-x-end-v6-features.md
  docs/public/static/blog/mui-x-end-v6-features/card.png
  docs/public/static/blog/mui-x-end-v6-features/intro.png
  docs/public/static/blog/mui-x-end-v6-features/sparkline-datagrid.png
Labels: blog, MUI X

#40020 [core] Migrate from tslint to eslint
  docs/data/material/components/image-list/tslint.json
  docs/tslint.json
  package.json
  packages/mui-base/package.json
  packages/mui-icons-material/package.json
  packages/mui-icons-material/test/generated-types/tsconfig.json
  packages/mui-icons-material/test/generated-types/tslint.json
  packages/mui-icons-material/tsconfig.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-material/src/colors/amber.d.ts
  packages/mui-material/src/colors/blue.d.ts
  packages/mui-material/src/colors/blueGrey.d.ts
  packages/mui-material/src/colors/brown.d.ts
  packages/mui-material/src/colors/common.d.ts
  packages/mui-material/src/colors/cyan.d.ts
  packages/mui-material/src/colors/deepOrange.d.ts
  packages/mui-material/src/colors/deepPurple.d.ts
  packages/mui-material/src/colors/green.d.ts
  packages/mui-material/src/colors/grey.d.ts
  packages/mui-material/src/colors/indigo.d.ts
  packages/mui-material/src/colors/lightBlue.d.ts
  packages/mui-material/src/colors/lightGreen.d.ts
  packages/mui-material/src/colors/lime.d.ts
  packages/mui-material/src/colors/orange.d.ts
  packages/mui-material/src/colors/pink.d.ts
  packages/mui-material/src/colors/purple.d.ts
  packages/mui-material/src/colors/red.d.ts
  packages/mui-material/src/colors/teal.d.ts
  packages/mui-material/src/colors/yellow.d.ts
  packages/mui-private-theming/package.json
  packages/mui-private-theming/tsconfig.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine-sc/tsconfig.json
  packages/mui-styled-engine/package.json
  packages/mui-styled-engine/tsconfig.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-system/src/createTheme/createSpacing.ts
  packages/mui-types/index.d.ts
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/mui-utils/src/useEventCallback/useEventCallback.ts
  packages/typescript-to-proptypes/tslint.json
  packages/zero-next-plugin/package.json
  packages/zero-next-plugin/tsconfig.json
  packages/zero-runtime/package.json
  packages/zero-runtime/tsconfig.json
  packages/zero-tag-processor/package.json
  packages/zero-tag-processor/tsconfig.json
  packages/zero-vite-plugin/package.json
  packages/zero-vite-plugin/tsconfig.json
  renovate.json
  scripts/buildColorTypes.js
  scripts/jsonlint.mjs
  tslint.json
  yarn.lock
Labels: typescript, core, scope: code-infra

#40095 [joy-ui][templates] Remove outdated code
  docs/data/joy/getting-started/templates/order-dashboard/App.tsx
  docs/data/joy/getting-started/templates/order-dashboard/useScript.ts
Labels: docs, package: joy-ui

#39096 [base-ui] useControllableReducer warns when controlled props become uncontrolled (and vice versa)
  docs/pages/base-ui/api/use-dropdown.json
  docs/pages/base-ui/api/use-menu.json
  docs/pages/base-ui/api/use-select.json
  docs/translations/api-docs/use-dropdown/use-dropdown.json
  docs/translations/api-docs/use-menu/use-menu.json
  docs/translations/api-docs/use-select/use-select.json
  packages/mui-base/src/Menu/Menu.tsx
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Select/Select.tsx
  packages/mui-base/src/useDropdown/useDropdown.ts
  packages/mui-base/src/useDropdown/useDropdown.types.ts
  packages/mui-base/src/useList/useList.ts
  packages/mui-base/src/useList/useList.types.ts
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useMenu/useMenu.types.ts
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
  packages/mui-base/src/useTab/useTab.test.tsx
  packages/mui-base/src/utils/useControllableReducer.test.tsx
  packages/mui-base/src/utils/useControllableReducer.ts
  packages/mui-base/src/utils/useControllableReducer.types.ts
  packages/mui-material-next/src/Menu/Menu.test.tsx
  packages/mui-material-next/src/Menu/Menu.tsx
Labels: package: base-ui

#39794 [material-next][ButtonGroup] Change `ButtonGroup` files to ts
  packages/mui-material-next/src/Button/Button.tsx
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.test.tsx
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.tsx
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.types.ts
  packages/mui-material-next/src/ButtonGroup/ButtonGroupButtonContext.ts
  packages/mui-material-next/src/ButtonGroup/ButtonGroupContext.ts
  packages/mui-material-next/src/ButtonGroup/index.d.ts
  packages/mui-material-next/src/ButtonGroup/index.ts
Labels: package: material-ui, component: ButtonGroup, v6.x

#40055 [blog] Add a Phuket retreat blog post
  docs/pages/blog/2023-phuket-retreat.js
  docs/pages/blog/2023-phuket-retreat.md
  docs/public/static/blog/2023-phuket-retreat/andrii-lukas-jose.jpg
  docs/public/static/blog/2023-phuket-retreat/banana-beach.jpg
  docs/public/static/blog/2023-phuket-retreat/bharat-raffaella.jpg
  docs/public/static/blog/2023-phuket-retreat/big-buddha.jpg
  docs/public/static/blog/2023-phuket-retreat/card.png
  docs/public/static/blog/2023-phuket-retreat/hotel-entrance.jpg
  docs/public/static/blog/2023-phuket-retreat/lunch-service.jpg
  docs/public/static/blog/2023-phuket-retreat/rainbow-boat.jpg
  docs/public/static/blog/2023-phuket-retreat/tina-raffaella-mikaila.jpg
  docs/public/static/blog/2023-phuket-retreat/we-connect-cards.jpg
  docs/public/static/blog/2023-phuket-retreat/whole-team-photo.jpg
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog

#39884 [docs][base-ui] Add copy button & primary color picker to the component gallery page
  docs/pages/_app.js
  docs/pages/experiments/base/components-gallery.tsx
  docs/public/static/components-gallery/base-theme.css
Labels: docs, package: base-ui

#39947 [material-ui] Add new Next.js integration package
  .codesandbox/ci.json
  docs/babel.config.js
  docs/data/material/guides/next-js-app-router/next-js-app-router.md
  docs/data/material/guides/nextjs/nextjs.md
  docs/data/material/pages.ts
  docs/next.config.js
  docs/pages/_document.js
  docs/pages/material-ui/guides/nextjs.js
  docs/public/_redirects
  docs/src/modules/sandbox/Dependencies.ts
  docs/translations/translations.json
  package.json
  packages/mui-material-nextjs/README.md
  packages/mui-material-nextjs/package.json
  packages/mui-material-nextjs/src/v13-appRouter/appRouterV13.tsx
  packages/mui-material-nextjs/src/v13-appRouter/index.ts
  packages/mui-material-nextjs/src/v13-pagesRouter/index.ts
  packages/mui-material-nextjs/src/v13-pagesRouter/pagesRouterV13.tsx
  packages/mui-material-nextjs/src/v14-appRouter/index.ts
  packages/mui-material-nextjs/src/v14-pagesRouter/index.ts
  packages/mui-material-nextjs/tsconfig.build.json
  packages/mui-material-nextjs/tsconfig.json
  scripts/sizeSnapshot/webpack.config.js
  test/karma.conf.js
  tsconfig.json
  webpackBaseConfig.js
Labels: package: material-ui, nextjs

#40174 Revert "[Select][material-ui] Add name to hidden input element"
  packages/mui-material/src/InputLabel/InputLabel.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: select, package: material-ui

#39992 [docs-infra] Update CodeSandbox links
  CHANGELOG.md
  CHANGELOG.old.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
  docs/pages/blog/2020-q3-update.md
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/first-look-at-joy.md
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/blog/v6-beta-pickers.md
  docs/pages/experiments/blog/blog.md
  docs/public/_redirects
  examples/base-ui-cra-ts/README.md
  examples/base-ui-cra/README.md
  examples/base-ui-nextjs-tailwind-ts/README.md
  examples/base-ui-vite-tailwind-ts/README.md
  examples/base-ui-vite-tailwind/README.md
  examples/joy-ui-cra-ts/README.md
  examples/joy-ui-nextjs-ts/README.md
  examples/joy-ui-vite-ts/README.md
  examples/material-ui-cra-styled-components-ts/README.md
  examples/material-ui-cra-styled-components/README.md
  examples/material-ui-cra-ts/README.md
  examples/material-ui-cra/README.md
  examples/material-ui-express-ssr/README.md
  examples/material-ui-nextjs-pages-router-ts/README.md
  examples/material-ui-nextjs-pages-router/README.md
  examples/material-ui-nextjs-ts-v4-v5-migration/README.md
  examples/material-ui-nextjs-ts/README.md
  examples/material-ui-nextjs/README.md
  examples/material-ui-remix-ts/README.md
  examples/material-ui-vite-ts/README.md
  examples/material-ui-vite/README.md
  packages/mui-base/src/useButton/useButton.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-codemod/src/v5.0.0/jss-to-tss-react.test/actual-from-material-ui-core-styles.js
  packages/mui-codemod/src/v5.0.0/jss-to-tss-react.test/actual-typescript.tsx
  packages/mui-codemod/src/v5.0.0/jss-to-tss-react.test/expected-from-material-ui-core-styles.js
  packages/mui-codemod/src/v5.0.0/jss-to-tss-react.test/expected-typescript.tsx
  packages/mui-material/src/ButtonBase/ButtonBase.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/mui-material/src/useTouchRipple/useTouchRipple.ts
Labels: scope: docs-infra

#39934 [joy-ui][Radio][Input] Fix inheritance of disabled prop
  packages/mui-joy/src/Input/Input.test.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/useForwardedInput.ts
  packages/mui-joy/src/Radio/Radio.test.tsx
  packages/mui-joy/src/Radio/Radio.tsx
Labels: bug 🐛, component: radio, package: joy-ui, component: input

#39623 [material-ui] Refactor ComponentsVariants type into a generic
  packages/mui-material/src/styles/components.d.ts
  packages/mui-material/src/styles/variants.d.ts
Labels: typescript, package: material-ui

#40056 [docs] Fix reference to non-existent checkmark in supported-components.md
  docs/data/material/getting-started/supported-components/supported-components.md
Labels: bug 🐛, docs

#40170 [material-ui][docs][Popper] Update Positioned Popper demo styles
  docs/data/material/components/popper/PositionedPopper.js
  docs/data/material/components/popper/PositionedPopper.tsx
Labels: docs, component: Popper, package: material-ui, enhancement

#38811 [icons] Add X logo
  packages/mui-icons-material/custom/X.js
  packages/mui-icons-material/lib/X.js
  packages/mui-icons-material/lib/esm/X.js
Labels: package: icons

#39679 [lab][LoadingButton] LoadingButton now inherits props from ButtonGroup
  docs/data/material/components/button-group/LoadingButtonGroup.js
  docs/data/material/components/button-group/LoadingButtonGroup.tsx
  docs/data/material/components/button-group/LoadingButtonGroup.tsx.preview
  docs/data/material/components/button-group/button-group.md
  docs/pages/material-ui/api/loading-button.json
  packages/mui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/mui-lab/src/LoadingButton/LoadingButton.js
  packages/mui-lab/src/LoadingButton/LoadingButton.test.js
  packages/mui-material/src/ButtonGroup/index.d.ts
  packages/mui-material/src/ButtonGroup/index.js
Labels: new feature, package: lab, component: ButtonGroup, component: LoadingButton

#40181 [core] Update `no-response` workflow
  .github/workflows/no-response.yml
Labels: core

#40175 v5.15.0
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder-core/package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#40197 [core] Update workflows and issue templates to reflect the updated label
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/3.rfc.yml
  .github/ISSUE_TEMPLATE/4.docs-feedback.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  .github/workflows/ensure-triage-label.yml
  .github/workflows/mark-duplicate.yml
Labels: core

#39979 [joy-ui][docs] Document missing Autocomplete props
  docs/pages/joy-ui/api/autocomplete.json
  docs/translations/api-docs-joy/autocomplete/autocomplete.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  docs/translations/api-docs/use-autocomplete/use-autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: docs, component: autocomplete, package: joy-ui

#40168 [material-ui][CardActions][DialogActions] Apply margin for all children except for 1st child
  packages/mui-material/src/AccordionActions/AccordionActions.js
  packages/mui-material/src/AccordionActions/AccordionActions.test.js
  packages/mui-material/src/CardActions/CardActions.js
  packages/mui-material/src/CardActions/CardActions.test.js
Labels: bug 🐛, component: card, component: dialog

#40209 [material-ui][docs] Fix typo in the Next.js integration page
  docs/data/material/guides/nextjs/nextjs.md
Labels: docs, package: material-ui

#40200 [styled-engine-sc] Fix `theme` being of type any
  packages/mui-styled-engine-sc/src/index.d.ts
Labels: bug 🐛, typescript, package: styled-engine-sc

#40193 [docs] Replace Twitter with X
  .eslintrc.js
  README.md
  docs/data/joy/components/tabs/TabsBrowserExample.js
  docs/data/joy/components/tabs/TabsBrowserExample.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParent.js
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParent.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParentStyled.js
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParentStyled.tsx
  docs/data/material/components/material-icons/synonyms.js
  docs/data/material/getting-started/faq/faq.md
  docs/data/material/getting-started/support/support.md
  docs/data/material/getting-started/templates/blog/Blog.js
  docs/data/material/getting-started/templates/blog/Blog.tsx
  docs/pages/blog.tsx
  docs/pages/blog/2020-introducing-sketch.md
  docs/pages/blog/2023-toolpad-beta-announcement.md
  docs/pages/blog/danail-hadjiatanasov-joining.md
  docs/pages/blog/discord-announcement.md
  docs/pages/blog/marija-najdova-joining.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/matheus-wichman-joining.md
  docs/pages/blog/spotlight-damien-tassone.md
  docs/pages/careers/react-community-engineer.md
  docs/public/static/branding/companies/twitter.svg
  docs/public/static/branding/companies/x.svg
  docs/src/components/about/Team.tsx
  docs/src/components/home/CompaniesGrid.tsx
  docs/src/components/home/MuiStatistics.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/Head.tsx
  docs/src/modules/components/Notifications.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.js
  docs/src/pages/premium-themes/onepirate/modules/views/AppFooter.tsx
  packages/mui-icons-material/custom/X.js
  packages/mui-icons-material/lib/X.js
  packages/mui-icons-material/lib/esm/X.js
Labels: docs

#40180 [joy-ui][FormControl] Fix issue with the conditional setting of `htmlFor` and `id` attributes not functioning properly for form labels
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/FormLabel/FormLabel.tsx
Labels: bug 🐛, package: joy-ui, component: FormControl

#40133 [joy-ui] Address TypeScript issue with custom zIndex not functioning
  packages/mui-joy/src/styles/index.ts
  packages/mui-joy/src/styles/types/index.ts
  packages/mui-joy/test/typescript/moduleAugmentation/themeOverrides.spec.tsx
  packages/mui-joy/test/typescript/moduleAugmentation/themeOverrides.tsconfig.json
Labels: bug 🐛, typescript, package: joy-ui, customization: theme

#40222 [joy-ui][docs] Fix typo in the CSS baseline page
  docs/data/joy/components/css-baseline/css-baseline.md
Labels: docs, package: joy-ui

#40216 [material-ui][docs] Update the related projects page to list `mui-tiptap` for rich text
  docs/data/material/discover-more/related-projects/related-projects.md
Labels: docs, package: material-ui

#40186 [docs-infra] Uplift the Algolia search modal design
  docs/src/modules/components/AppSearch.js
  docs/translations/translations.json
Labels: design, scope: docs-infra

#39869 [system][CssVarsProvider] Fix HSL breaking button styles
  packages/mui-material/src/styles/experimental_extendTheme.js
Labels: package: system, customization: theme

#40232 [release] v5.15.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-next-plugin/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#40187 [core] Pin Node version on GitHub Actions to 18.18
  .github/workflows/ci.yml
  package.json
Labels: dependencies, core

#40094 [system] Support props callback in the variant's definition
  docs/data/material/customization/theme-components/theme-components.md
  packages/mui-styled-engine-sc/src/index.d.ts
  packages/mui-styled-engine/src/index.d.ts
  packages/mui-system/src/createStyled.js
  packages/mui-system/src/createStyled.test.js
  packages/mui-system/src/styled.test.js
Labels: new feature, package: system

#40262 [code-infra] Extract Babel macro from mui-utils
  .eslintrc.js
  packages/mui-babel-macros/MuiError.macro.d.ts
  packages/mui-babel-macros/MuiError.macro.js
  packages/mui-babel-macros/MuiError.macro.test.js
  packages/mui-babel-macros/__fixtures__/.eslintrc.js
  packages/mui-babel-macros/__fixtures__/error-code-extraction/error-codes.after.json
  packages/mui-babel-macros/__fixtures__/error-code-extraction/error-codes.before.json
  packages/mui-babel-macros/__fixtures__/error-code-extraction/input.js
  packages/mui-babel-macros/__fixtures__/error-code-extraction/output.js
  packages/mui-babel-macros/__fixtures__/factory-call/error-codes.json
  packages/mui-babel-macros/__fixtures__/factory-call/input.js
  packages/mui-babel-macros/__fixtures__/literal/error-codes.json
  packages/mui-babel-macros/__fixtures__/literal/input.js
  packages/mui-babel-macros/__fixtures__/literal/output.js
  packages/mui-babel-macros/__fixtures__/no-error-code-annotation/error-codes.json
  packages/mui-babel-macros/__fixtures__/no-error-code-annotation/input.js
  packages/mui-babel-macros/__fixtures__/no-error-code-annotation/output.js
  packages/mui-babel-macros/__fixtures__/no-error-code-throw/error-codes.json
  packages/mui-babel-macros/__fixtures__/no-error-code-throw/input.js
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.ts
  packages/mui-base/src/useInput/useInput.ts
  packages/mui-material-next/package.json
  packages/mui-material-next/src/Select/SelectInput.js
  packages/mui-material/package.json
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/styles/createPalette.js
  packages/mui-material/src/styles/createTheme.js
  packages/mui-material/src/styles/index.js
  packages/mui-material/src/styles/makeStyles.js
  packages/mui-material/src/styles/responsiveFontSizes.js
  packages/mui-material/src/styles/withStyles.js
  packages/mui-material/src/styles/withTheme.js
  packages/mui-system/package.json
  packages/mui-system/src/colorManipulator.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/index.js
  packages/mui-utils/macros/__fixtures__/no-error-code-throw/input.js
  packages/mui-utils/macros/__fixtures__/relative-import/error-codes.json
  packages/mui-utils/macros/__fixtures__/relative-import/input.js
  packages/mui-utils/macros/__fixtures__/relative-import/output.js
  packages/mui-utils/package.json
  packages/mui-utils/src/capitalize/capitalize.ts
  packages/mui-utils/src/formatMuiErrorMessage/formatMuiErrorMessage.ts
  packages/mui-utils/src/formatMuiErrorMessage/index.ts
Labels: scope: code-infra

#39675 [base-ui][useSelect] Refactor to use DOM focus management instead of active descendant
  docs/data/base/components/select/UnstyledSelectBasic/css/index.js
  docs/data/base/components/select/UnstyledSelectBasic/css/index.tsx
  docs/data/base/components/select/UnstyledSelectBasic/system/index.js
  docs/data/base/components/select/UnstyledSelectBasic/system/index.tsx
  docs/data/base/components/select/UnstyledSelectBasic/tailwind/index.js
  docs/data/base/components/select/UnstyledSelectBasic/tailwind/index.tsx
  docs/data/base/components/select/UnstyledSelectControlled.js
  docs/data/base/components/select/UnstyledSelectControlled.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.js
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx.preview
  docs/data/base/components/select/UnstyledSelectForm.js
  docs/data/base/components/select/UnstyledSelectForm.tsx
  docs/data/base/components/select/UnstyledSelectGrouping.js
  docs/data/base/components/select/UnstyledSelectGrouping.tsx
  docs/data/base/components/select/UnstyledSelectIntroduction/css/index.js
  docs/data/base/components/select/UnstyledSelectIntroduction/css/index.tsx
  docs/data/base/components/select/UnstyledSelectIntroduction/system/index.js
  docs/data/base/components/select/UnstyledSelectIntroduction/system/index.tsx
  docs/data/base/components/select/UnstyledSelectIntroduction/tailwind/index.js
  docs/data/base/components/select/UnstyledSelectIntroduction/tailwind/index.tsx
  docs/data/base/components/select/UnstyledSelectMultiple.js
  docs/data/base/components/select/UnstyledSelectMultiple.tsx
  docs/data/base/components/select/UnstyledSelectObjectValues.js
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.js
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.js
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/base/components/select/UseSelect.js
  docs/data/base/components/select/UseSelect.tsx
  docs/data/base/getting-started/accessibility/KeyboardNavigation.js
  docs/data/base/getting-started/accessibility/KeyboardNavigation.tsx
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/useOption/useOption.ts
  packages/mui-base/src/useOption/useOption.types.ts
  packages/mui-base/src/useSelect/selectReducer.ts
  packages/mui-base/src/useSelect/useSelect.test.tsx
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
  packages/mui-joy/src/Select/Select.test.tsx
  packages/mui-joy/src/Select/Select.tsx
Labels: component: select, package: base-ui, package: joy-ui, design: joy

#40260 [docs-infra] Add polish to the inline code block
  docs/pages/experiments/docs/markdown.md
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#39594 [material-ui][docs] Add aria-current for nav tabs demo
  docs/data/material/components/tabs/NavTabs.js
  docs/data/material/components/tabs/NavTabs.tsx
  docs/data/material/components/tabs/NavTabs.tsx.preview
Labels: docs, accessibility, component: tabs, package: material-ui

#40014 [docs][base-ui] Fix form submission Select demo
  docs/data/base/components/select/UnstyledSelectForm.js
  docs/data/base/components/select/UnstyledSelectForm.tsx
  docs/data/base/components/select/UnstyledSelectForm.tsx.preview
  docs/data/base/components/select/select.md
  docs/translations/api-docs-base/select/select.json
  docs/translations/api-docs-joy/select/select.json
  packages/mui-base/src/Select/Select.tsx
  packages/mui-base/src/Select/Select.types.ts
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
Labels: docs, component: select, package: base-ui

#40242 [blog] Add Material UI v6 and beyond blog post
  docs/pages/blog/2023-material-ui-v6-and-beyond.js
  docs/pages/blog/2023-material-ui-v6-and-beyond.md
  docs/public/static/blog/2023-material-ui-v6-and-beyond/card.png
  docs/public/static/blog/2023-material-ui-v6-and-beyond/connect.jpg
  docs/public/static/blog/2023-material-ui-v6-and-beyond/m2-m3.jpg
  docs/public/static/blog/2023-material-ui-v6-and-beyond/post-header.jpg
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog

#39827 [base-ui][Popup] Popup no longer opens outside viewport
  docs/data/base/components/popup/popup.md
  packages/mui-base/src/Unstable_Popup/Popup.test.tsx
  packages/mui-base/src/Unstable_Popup/Popup.tsx
Labels: bug 🐛, component: Popper, package: base-ui

#39326 [Popup][base-ui] Use context-based transition API
  docs/data/base/components/popup/AnimatedPopup.js
  docs/data/base/components/popup/AnimatedPopup.tsx
  docs/data/base/components/popup/AnimatedPopup.tsx.preview
  docs/data/base/components/popup/popup.md
  docs/data/base/components/transitions/CssAnimationComponent.js
  docs/data/base/components/transitions/CssAnimationComponent.tsx
  docs/data/base/components/transitions/CssAnimationComponent.tsx.preview
  docs/data/base/components/transitions/CssTransitionComponent.js
  docs/data/base/components/transitions/CssTransitionComponent.tsx
  docs/data/base/components/transitions/CssTransitionComponent.tsx.preview
  docs/data/base/components/transitions/ReactSpring.js
  docs/data/base/components/transitions/ReactSpring.tsx
  docs/data/base/components/transitions/ReactSpring.tsx.preview
  docs/data/base/components/transitions/ReactTransitionGroup.js
  docs/data/base/components/transitions/ReactTransitionGroup.tsx
  docs/data/base/components/transitions/ReactTransitionGroup.tsx.preview
  docs/data/base/components/transitions/TransitionHooks.js
  docs/data/base/components/transitions/TransitionHooks.tsx
  docs/data/base/components/transitions/TransitionHooks.tsx.preview
  docs/data/base/components/transitions/transitions.md
  docs/data/base/pages.ts
  docs/data/base/pagesApi.js
  docs/package.json
  docs/pages/base-ui/api/css-animation.json
  docs/pages/base-ui/api/css-transition.json
  docs/pages/base-ui/api/use-transition-state-manager.json
  docs/pages/base-ui/api/use-transition-trigger.json
  docs/pages/base-ui/react-transitions/[docsTab]/index.js
  docs/pages/base-ui/react-transitions/index.js
  docs/pages/experiments/base/popup.tsx
  docs/translations/api-docs-base/css-animation/css-animation.json
  docs/translations/api-docs-base/css-transition/css-transition.json
  docs/translations/api-docs/use-transition-state-manager/use-transition-state-manager.json
  docs/translations/api-docs/use-transition-trigger/use-transition-trigger.json
  docs/translations/translations.json
  packages/mui-base/src/Transitions/CssAnimation.test.tsx
  packages/mui-base/src/Transitions/CssAnimation.tsx
  packages/mui-base/src/Transitions/CssTransition.test.tsx
  packages/mui-base/src/Transitions/CssTransition.tsx
  packages/mui-base/src/Transitions/index.ts
  packages/mui-base/src/Unstable_Popup/Popup.test.tsx
  packages/mui-base/src/Unstable_Popup/Popup.tsx
  packages/mui-base/src/Unstable_Popup/Popup.types.ts
  packages/mui-base/src/Unstable_Popup/PopupContext.ts
  packages/mui-base/src/index.d.ts
  packages/mui-base/src/index.js
  packages/mui-base/src/useTransition/TransitionContext.ts
  packages/mui-base/src/useTransition/index.ts
  packages/mui-base/src/useTransition/useTransitionStateManager.ts
  packages/mui-base/src/useTransition/useTransitionTrigger.test.ts
  packages/mui-base/src/useTransition/useTransitionTrigger.ts
  yarn.lock
Labels: component: Popper, package: base-ui

#40279 [material-ui][docs] Fix broken links on the All components page
  docs/src/modules/components/MaterialUIComponents/MaterialLayoutComponents.js
  docs/src/modules/components/MaterialUIComponents/MaterialNavigationComponents.js
Labels: docs, package: material-ui

#40087 [material-ui][docs][Tooltip] Add demo to show how to change distance between tooltip and its anchor
  docs/data/material/components/tooltips/TooltipMargin.js
  docs/data/material/components/tooltips/TooltipMargin.tsx
  docs/data/material/components/tooltips/TooltipOffset.js
  docs/data/material/components/tooltips/TooltipOffset.tsx
  docs/data/material/components/tooltips/tooltips.md
Labels: docs, component: tooltip, package: material-ui

#40273 [website] Update Gold sponsors: add RxDB, standardize formatting
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#40213 [Badge] Use the variants API in the styled call
  packages/mui-material/src/Badge/Badge.js
Labels: component: badge, package: material-ui, proof of concept

#40307 [material-next][Divider]Divider ts support
  packages/mui-material-next/src/Divider/Divider.test.tsx
Labels: component: divider, typescript, design: material you

#40300 [material-ui][Paper] Add missing Paper classes descriptions
  docs/pages/material-ui/api/paper.json
  docs/translations/api-docs/paper/paper.json
  packages/mui-material/src/Paper/paperClasses.ts
Labels: docs, component: Paper, package: material-ui, enhancement

#40310 [release] v5.15.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#40283 [material-ui][docs] Update the "showing and hiding" section on the Tooltip page
  docs/data/material/components/tooltips/tooltips.md
Labels: docs, component: tooltip, package: material-ui

#40315 [docs][joy-ui] Fix image size on the Files template
  docs/data/joy/getting-started/templates/files/App.tsx
Labels: bug 🐛, docs, package: joy-ui

#40282 [website] Update some social preview images
  docs/public/static/social-previews/baseui-preview.jpg
  docs/public/static/social-previews/core-preview.jpg
  docs/public/static/social-previews/designkits-preview.jpg
  docs/public/static/social-previews/materialui-preview.jpg
  docs/public/static/social-previews/muix-preview.jpg
  docs/public/static/social-previews/templates-preview.jpg
  docs/public/static/social-previews/toolpad-preview.jpg
Labels: website

#40054 [material-ui][docs] Revise the Roadmap page
  docs/.link-check-errors.txt
  docs/data/material/discover-more/roadmap/roadmap.md
  docs/public/static/material-ui/roadmap/github-project.png
  docs/public/static/material-ui/roadmap/milestone.png
Labels: docs, package: material-ui

#40313 [docs] Reduce network use on the All Components pages
  docs/src/components/action/ComponentShowcaseCard.tsx
  docs/src/components/action/InfoCard.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/home/ValueProposition.tsx
  docs/src/modules/components/BaseUIComponents.js
  docs/src/modules/components/MaterialUIComponents/MaterialInputComponents.js
  docs/src/modules/components/MaterialUIComponents/MaterialUtilComponents.js
Labels: docs, performance, package: material-ui, package: base-ui

#39894 [material-next][Switch] Change files to TypeScript
  packages/mui-material-next/src/Switch/Switch.test.tsx
  packages/mui-material-next/src/Switch/Switch.tsx
  packages/mui-material-next/src/Switch/Switch.types.ts
  packages/mui-material-next/src/Switch/index.d.ts
  packages/mui-material-next/src/Switch/index.ts
Labels: component: switch, package: material-ui, v7.x

#40270 [material-next][Option] Add Option component
  packages/mui-material-next/src/Option/Option.spec.tsx
  packages/mui-material-next/src/Option/Option.test.tsx
  packages/mui-material-next/src/Option/Option.tsx
  packages/mui-material-next/src/Option/Option.types.ts
  packages/mui-material-next/src/Option/index.ts
  packages/mui-material-next/src/Option/optionClasses.ts
  packages/mui-material-next/src/index.ts
Labels: component: Option

#40318 [examples] Simplify Next.js example
  examples/base-ui-nextjs-tailwind-ts/next.config.js
  examples/base-ui-nextjs-tailwind-ts/src/app/layout.tsx
  examples/joy-ui-nextjs-ts/next.config.js
  examples/joy-ui-nextjs-ts/src/app/layout.tsx
  examples/material-ui-nextjs-ts/next.config.js
  examples/material-ui-nextjs/next.config.js
Labels: docs, examples, nextjs

#40261 [material-next][Slider] Replace lodash with internal utils
  packages/mui-material-next/src/Slider/useSliderElementsOverlap.ts
Labels: component: select, enhancement

#40235 [base-ui][useSlider] rearrange passive option in eventlisteners
  packages/mui-base/src/useSlider/useSlider.ts
Labels: component: slider, package: base-ui

#40335 [docs] Always mention the npm tag with npx
  CHANGELOG.md
  docs/data/joy/components/text-field/text-field.md
  docs/data/material/migration/migration-v4/migrating-from-jss.md
  docs/data/material/migration/migration-v4/migration-v4.md
  docs/data/material/migration/migration-v4/troubleshooting.md
  docs/pages/blog/lab-date-pickers-to-mui-x.md
  docs/pages/blog/lab-tree-view-to-mui-x.md
  packages/mui-codemod/README.md
  packages/mui-joy/src/TextField/TextField.tsx
Labels: docs, core

#40271 [material-next][MenuItem] Fix spec import
  packages/mui-material-next/src/MenuItem/MenuItem.spec.tsx
Labels: component: menu

#40281 [base-ui][docs] Polish the Table Pagination demos
  docs/data/base/components/table-pagination/TableCustomized.js
  docs/data/base/components/table-pagination/TableCustomized.tsx
  docs/data/base/components/table-pagination/TableCustomized/css/index.js
  docs/data/base/components/table-pagination/TableCustomized/css/index.tsx
  docs/data/base/components/table-pagination/TableCustomized/tailwind/index.js
  docs/data/base/components/table-pagination/TableCustomized/tailwind/index.tsx
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/css/index.js
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/css/index.tsx
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/system/index.js
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/system/index.tsx
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/tailwind/index.js
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction/tailwind/index.tsx
  docs/data/base/components/table-pagination/table-pagination.md
Labels: docs, design, package: base-ui

#39813 [material-ui][Slider] Fix customized iOS demo to use updated official colors
  docs/data/material/components/slider/CustomizedSlider.js
  docs/data/material/components/slider/CustomizedSlider.tsx
Labels: docs, component: slider, package: material-ui, design

#40347 [docs-infra] Add stray design adjustments
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ApiPage/table/StyledTableContainer.tsx
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#40239 [material-ui][docs] Adding autoFocus on Virtual Popover
  docs/data/material/components/popover/VirtualElementPopover.js
  docs/data/material/components/popover/VirtualElementPopover.tsx
Labels: docs, component: Popover, package: material-ui

#40316 [docs][joy-ui] Fix dashboard template console errors
  docs/data/joy/getting-started/templates/order-dashboard/components/OrderTable.tsx
Labels: bug 🐛, docs, package: joy-ui

#40317 [material-ui][docs] Polish the Next.js integration page
  docs/data/material/guides/nextjs/nextjs.md
  docs/data/material/pages.ts
  docs/translations/translations.json
  packages/mui-material-nextjs/README.md
  packages/mui-material-nextjs/package.json
Labels: docs, package: material-ui, nextjs

#40341 [material-next][theme] Move ref palette out of color schemes
  docs/pages/experiments/md3/buttons.tsx
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/extendTheme.ts
Labels: customization: theme

#40363 [material-next] Update CONTRIBUTING guide given v6/v7 rescheduling
  packages/mui-material-next/CONTRIBUTING.md
Labels: package: material-ui, core

#40345 [docs] Link new MUI X components in sidnav
  docs/data/material/pages.ts
Labels: docs, MUI X
