Repository mui/material-ui, pull requests merged in 2023-04, with the labels that each got.

#36734 [docs] Fix typo on the Joy UI theme builder
  docs/data/joy/customization/theme-builder/theme-builder.md
Labels: docs, package: joy

#36618 [docs] Add toggle-button coming soon page
  docs/data/joy/components/toggle-button/toggle-button.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-toggle-button.js
  docs/translations/translations.json
Labels: docs, component: toggle button, design: joy

#36742 [docs] Fix Joy UI URL to tokens
  docs/public/_redirects
Labels: docs

#36705 [docs] Update feedbacks management on slack
  netlify/functions/feedback-management.js
Labels: docs, scope: docs-infra

#36422 [Select] Make error part of the `ownerState` to enable overriding styles with it in theme
  docs/pages/material-ui/api/native-select.json
  docs/pages/material-ui/api/select.json
  docs/translations/api-docs/native-select/native-select.json
  docs/translations/api-docs/select/select.json
  packages/mui-material/src/NativeSelect/NativeSelectInput.d.ts
  packages/mui-material/src/NativeSelect/NativeSelectInput.js
  packages/mui-material/src/NativeSelect/NativeSelectInput.test.js
  packages/mui-material/src/NativeSelect/nativeSelectClasses.ts
  packages/mui-material/src/Select/Select.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.d.ts
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/Select/selectClasses.ts
Labels: bug 🐛, component: select, package: material, customization: theme

#36765 [Grid] Missing slot
  packages/mui-joy/src/Grid/Grid.tsx
  packages/mui-material/src/Unstable_Grid2/Grid2.tsx
Labels: bug 🐛, component: Grid, package: material, package: joy

#36722 [core] Remove unused token
  docs/next.config.js
Labels: core, scope: docs-infra

#36302 [docs][base] Add return type for `useFormControlUnstyledContext` hook
  docs/pages/base/api/form-control-unstyled.json
  docs/pages/base/api/use-form-control-unstyled-context.json
  docs/translations/api-docs/form-control-unstyled/form-control-unstyled.json
  docs/translations/api-docs/use-form-control-unstyled-context/use-form-control-unstyled-context.json
  packages/mui-base/src/FormControlUnstyled/FormControlUnstyled.tsx
  packages/mui-base/src/FormControlUnstyled/FormControlUnstyled.types.ts
  packages/mui-base/src/FormControlUnstyled/index.ts
  packages/mui-base/src/FormControlUnstyled/useFormControlUnstyledContext.ts
Labels: docs, typescript, component: FormControl

#36769 [docs] Tabs API add slots section
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/MarkdownDocsV2.js
Labels: docs, package: base

#36729 [docs] Introduce markdown permalink to source
  CHANGELOG.md
  CHANGELOG.old.md
  docs/data/joy/customization/themed-components/themed-components.md
  docs/data/material/customization/default-theme/default-theme.md
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/data/material/guides/routing/routing.md
  docs/data/material/migration/migration-v3/migration-v3.md
  docs/data/material/migration/migration-v4/migration-v4.md
  docs/data/material/migration/migration-v4/v5-style-changes.md
  docs/next.config.js
  docs/pages/blog/material-ui-v4-is-out.md
  docs/scripts/reportBrokenLinks.js
  docs/src/modules/utils/mapApiPageTranslations.js
  packages/markdown/loader.js
  packages/markdown/parseMarkdown.js
  packages/markdown/parseMarkdown.test.js
  packages/mui-joy/src/TextField/TextField.tsx
Labels: docs, scope: docs-infra

#36262 [Joy] Add `ModalOverflow` component
  docs/data/joy/components/modal/DialogVerticalScroll.js
  docs/data/joy/components/modal/DialogVerticalScroll.tsx
  docs/data/joy/components/modal/ModalDialogOverflow.js
  docs/data/joy/components/modal/ModalDialogOverflow.tsx
  docs/data/joy/components/modal/modal.md
  docs/data/joy/pagesApi.js
  docs/pages/joy-ui/api/modal-overflow.js
  docs/pages/joy-ui/api/modal-overflow.json
  docs/translations/api-docs-joy/modal-overflow/modal-overflow.json
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/ModalOverflow/ModalOverflow.test.tsx
  packages/mui-joy/src/ModalOverflow/ModalOverflow.tsx
  packages/mui-joy/src/ModalOverflow/ModalOverflowProps.ts
  packages/mui-joy/src/ModalOverflow/index.ts
  packages/mui-joy/src/ModalOverflow/modalOverflowClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: component: modal, package: joy

#36764 [docs] Remove hash property and leverage pathname
  docs/data/base/pagesApi.js
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/translations/translations.json
  packages/api-docs-builder/buildApi.ts
Labels: bug 🐛, docs

#36329 [Card] Fix Card focus effect overflowing parent card
  packages/mui-material/src/CardActionArea/CardActionArea.js
Labels: component: card, package: material, browser: Safari

#35196 [Autocomplete] Fix navigation issue on mouse hover
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  test/e2e/fixtures/Autocomplete/HoverJoyAutocomplete.tsx
  test/e2e/fixtures/Autocomplete/HoverMaterialAutocomplete.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: autocomplete

#36369 [Autocomplete] Listen for click on the root element
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: component: autocomplete

#36743 [docs] Fix double API page redirection
  docs/data/joy/components/modal/modal.md
  docs/pages/joy-ui/api/modal-overflow.json
  docs/public/_redirects
Labels: bug 🐛, docs

#36206 [docs] Describe slotProps in MUI Base customization doc
  docs/data/base/getting-started/customization/SlotPropsCallback.js
  docs/data/base/getting-started/customization/SlotPropsCallback.tsx
  docs/data/base/getting-started/customization/SlotPropsCallback.tsx.preview
  docs/data/base/getting-started/customization/StylingSlots.js
  docs/data/base/getting-started/customization/StylingSlots.tsx
  docs/data/base/getting-started/customization/StylingSlotsSingleComponent.js
  docs/data/base/getting-started/customization/StylingSlotsSingleComponent.tsx
  docs/data/base/getting-started/customization/StylingSlotsSingleComponent.tsx.preview
  docs/data/base/getting-started/customization/customization.md
Labels: docs, package: base

#36775 [docs] Remove redundant files and fix regression
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/HookApiPage.js
  docs/src/modules/components/HooksApiContent.js
  docs/src/modules/components/MarkdownDocsV2.js
  docs/src/modules/components/PropretiesTable.js
Labels: docs, core, regression, scope: docs-infra

#36774 v5.11.16
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#36725 [Tabs] Improve useTab() API page
  docs/pages/base/api/use-tab.json
  docs/translations/api-docs-joy/tab/tab.json
  docs/translations/api-docs/tab-unstyled/tab-unstyled.json
  docs/translations/api-docs/use-tab/use-tab.json
  packages/mui-base/src/TabUnstyled/TabUnstyled.tsx
  packages/mui-base/src/TabUnstyled/TabUnstyled.types.ts
  packages/mui-base/src/useTab/useTab.types.ts
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/Tab/TabProps.ts
Labels: docs, component: tabs, package: base

#36633 [docs][material] Highlight global state classes in CSS table in API docs
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/translations/translations.json
Labels: docs, package: material

#36786 [docs] Change "coming soon" chip color
  docs/src/modules/components/AppNavDrawerItem.js
Labels: docs

#36771 [website] Tweaks to the Designer position ad
  docs/src/pages/careers/senior-designer.md
Labels: website

#36801 [website] Fix backlinks to homepage
  docs/data/material/discover-more/related-projects/related-projects.md
  docs/public/_redirects
Labels: bug 🐛, website

#36732 [docs] Improve side nav scroll into view
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
Labels: design, scope: docs-infra

#36788 [docs] Add missing `readOnly` state class in the list
  docs/data/material/customization/how-to-customize/how-to-customize.md
Labels: docs, package: material

#36599 [PopperUnstyled] Do not merge internal `ownerState` with `ownerState` from props
  docs/data/material/getting-started/templates/blog/Sidebar.js
  docs/pages/joy-ui/api/menu.json
  docs/pages/joy-ui/api/tooltip.json
  docs/translations/api-docs-joy/menu/menu.json
  docs/translations/api-docs-joy/tooltip/tooltip.json
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.tsx
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.test.tsx
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.tsx
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.types.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.spec.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.types.ts
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.test.tsx
  packages/mui-joy/src/Menu/Menu.test.js
  packages/mui-joy/src/Menu/Menu.tsx
  packages/mui-joy/src/Menu/MenuProps.ts
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-joy/src/utils/types.ts
  packages/mui-material/src/Popper/Popper.tsx
  packages/typescript-to-proptypes/src/generator.ts
  test/utils/describeConformance.tsx
Labels: package: base, package: joy

#36826 [docs][Joy] Fix wrong prop descriptions
  docs/translations/api-docs-joy/divider/divider.json
  docs/translations/api-docs-joy/slider/slider.json
  packages/mui-joy/src/Divider/Divider.tsx
  packages/mui-joy/src/Divider/DividerProps.ts
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-joy/src/Slider/SliderProps.ts
Labels: docs, package: joy

#36828 [Joy] Add tests for slots/slotProps for all components
  packages/mui-joy/src/AutocompleteListbox/AutocompleteListbox.test.tsx
  packages/mui-joy/src/AutocompleteOption/AutocompleteOption.test.js
  packages/mui-joy/src/AvatarGroup/AvatarGroup.test.js
  packages/mui-joy/src/Card/Card.test.js
  packages/mui-joy/src/CardContent/CardContent.test.js
  packages/mui-joy/src/CardCover/CardCover.test.js
  packages/mui-joy/src/CardOverflow/CardOverflow.test.js
  packages/mui-joy/src/ChipDelete/ChipDelete.test.js
  packages/mui-joy/src/Divider/Divider.test.tsx
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/FormHelperText/FormHelperText.test.js
  packages/mui-joy/src/LinearProgress/LinearProgress.test.tsx
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/ListDivider/ListDivider.test.js
  packages/mui-joy/src/ListItemButton/ListItemButton.test.js
  packages/mui-joy/src/ListItemContent/ListItemContent.test.js
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.test.js
  packages/mui-joy/src/ListSubheader/ListSubheader.test.tsx
  packages/mui-joy/src/MenuItem/MenuItem.test.js
  packages/mui-joy/src/MenuList/MenuList.test.js
  packages/mui-joy/src/ModalClose/ModalClose.test.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.test.tsx
  packages/mui-joy/src/ModalOverflow/ModalOverflow.test.tsx
  packages/mui-joy/src/RadioGroup/RadioGroup.test.js
  packages/mui-joy/src/ScopedCssBaseline/ScopedCssBaseline.test.tsx
  packages/mui-joy/src/Sheet/Sheet.test.js
  packages/mui-joy/src/Tab/Tab.test.tsx
  packages/mui-joy/src/TabList/TabList.test.tsx
  packages/mui-joy/src/TabPanel/TabPanel.test.tsx
  packages/mui-joy/src/Table/Table.test.tsx
  packages/mui-joy/src/Tabs/Tabs.test.tsx
Labels: test, package: joy

#34244 [docs][Backdrop] Improvements to docs
  docs/data/material/components/backdrop/SimpleBackdrop.js
  docs/data/material/components/backdrop/SimpleBackdrop.tsx
  docs/data/material/components/backdrop/SimpleBackdrop.tsx.preview
  docs/data/material/components/backdrop/backdrop.md
Labels: docs, component: backdrop

#36837 [docs] Revert CircularProgress component text to be proper noun instead
  docs/data/material/components/backdrop/backdrop.md
Labels: docs, component: backdrop

#36664 [system] Introduce theme scope for using multiple design systems
  docs/data/joy/guides/using-joy-ui-and-material-ui/using-joy-ui-and-material-ui.md
  docs/data/material/guides/styled-engine/styled-engine.md
  docs/pages/material-ui/api/global-styles.json
  packages/api-docs-builder/buildApi.ts
  packages/mui-joy/src/Box/Box.tsx
  packages/mui-joy/src/GlobalStyles/index.ts
  packages/mui-joy/src/GlobalStyles/index.tsx
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-joy/src/styles/ThemeProvider.tsx
  packages/mui-joy/src/styles/identifier.ts
  packages/mui-joy/src/styles/index.ts
  packages/mui-joy/src/styles/styled.ts
  packages/mui-joy/src/styles/useThemeProps.ts
  packages/mui-material-next/src/index.ts
  packages/mui-material-next/src/styles/CssVarsProvider.tsx
  packages/mui-material-next/src/styles/styled.ts
  packages/mui-material/src/Box/Box.js
  packages/mui-material/src/GlobalStyles/GlobalStyles.js
  packages/mui-material/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/styles/ThemeProvider.js
  packages/mui-material/src/styles/identifier.ts
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-material/src/styles/styled.js
  packages/mui-material/src/styles/useTheme.js
  packages/mui-material/src/styles/useThemeProps.js
  packages/mui-styled-engine-sc/src/GlobalStyles/GlobalStyles.js
  packages/mui-styled-engine/src/GlobalStyles/GlobalStyles.js
  packages/mui-styles/src/useTheme/index.js
  packages/mui-styles/test/theme-scoping.test.tsx
  packages/mui-system/src/GlobalStyles/GlobalStyles.test.tsx
  packages/mui-system/src/GlobalStyles/GlobalStyles.tsx
  packages/mui-system/src/GlobalStyles/index.ts
  packages/mui-system/src/ThemeProvider/ThemeProvider.d.ts
  packages/mui-system/src/ThemeProvider/ThemeProvider.js
  packages/mui-system/src/ThemeProvider/ThemeProvider.test.js
  packages/mui-system/src/createBox.d.ts
  packages/mui-system/src/createBox.js
  packages/mui-system/src/createStyled.d.ts
  packages/mui-system/src/createStyled.js
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  packages/mui-system/src/useThemeProps/useThemeProps.d.ts
  packages/mui-system/src/useThemeProps/useThemeProps.js
  packages/mui-system/src/useThemeWithoutDefault.js
  packages/mui-system/test/integration/theme-scoping.test.tsx
  packages/mui-system/tsconfig.build.json
  packages/mui-system/tsconfig.json
Labels: package: styles, package: system, package: material, package: joy, proof of concept

#36832 [docs] Improve perf on tab APIs
  docs/src/modules/components/MarkdownDocsV2.js
Labels: docs, enhancement

#36833 [docs] Fix base API redirects
  docs/public/_redirects
Labels: bug 🐛, docs

#36834 [release] v5.11.17
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#36740 [TextField] Fix type error when using `inputTypeSearch` class for `outlined` and `filled` inputs
  docs/pages/material-ui/api/filled-input.json
  docs/pages/material-ui/api/outlined-input.json
  docs/translations/api-docs/filled-input/filled-input.json
  docs/translations/api-docs/outlined-input/outlined-input.json
  packages/mui-material/src/FilledInput/filledInputClasses.ts
  packages/mui-material/src/OutlinedInput/outlinedInputClasses.ts
  packages/mui-material/src/TextField/TextField.spec.tsx
Labels: bug 🐛, component: text field, typescript

#36792 [docs][Select] Fix duplicate ID in small size Select demo
  docs/data/material/components/selects/SelectSmall.js
  docs/data/material/components/selects/SelectSmall.tsx
Labels: bug 🐛, docs, component: select

#36593 [docs][base] Move styles to the bottom of demos code for `TablePagination`
  docs/data/base/components/table-pagination/TableCustomized.js
  docs/data/base/components/table-pagination/TableCustomized.tsx
  docs/data/base/components/table-pagination/TableUnstyled.js
  docs/data/base/components/table-pagination/TableUnstyled.tsx
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction.js
  docs/data/base/components/table-pagination/UnstyledPaginationIntroduction.tsx
Labels: docs, package: base

#36578 [docs][base] Move styles to the bottom of demos code for `Popper`
  docs/data/base/components/popper/SimplePopper.js
  docs/data/base/components/popper/SimplePopper.tsx
Labels: docs, component: Popper, package: base

#36485 [Tabs] Fix null reference in ScrollbarSize after unmounting
  packages/mui-material/src/Tabs/ScrollbarSize.js
Labels: bug 🐛, component: tabs, package: material

#36577 [docs][base] Move styles to the bottom of demos code for `Tabs`
  docs/data/base/components/tabs/KeyboardNavigation.js
  docs/data/base/components/tabs/KeyboardNavigation.tsx
  docs/data/base/components/tabs/UnstyledTabsCustomized.js
  docs/data/base/components/tabs/UnstyledTabsCustomized.tsx
  docs/data/base/components/tabs/UnstyledTabsIntroduction.js
  docs/data/base/components/tabs/UnstyledTabsIntroduction.tsx
Labels: docs, component: tabs, package: base

#36723 [docs][base] Move styles to the bottom of demos code for `BadgeUnstyled`
  docs/data/base/components/badge/AccessibleBadges.js
  docs/data/base/components/badge/AccessibleBadges.tsx
  docs/data/base/components/badge/BadgeMax.js
  docs/data/base/components/badge/BadgeMax.tsx
  docs/data/base/components/badge/BadgeVisibility.js
  docs/data/base/components/badge/BadgeVisibility.tsx
  docs/data/base/components/badge/ShowZeroBadge.js
  docs/data/base/components/badge/ShowZeroBadge.tsx
  docs/data/base/components/badge/UnstyledBadge.js
  docs/data/base/components/badge/UnstyledBadge.tsx
  docs/data/base/components/badge/UnstyledBadgeIntroduction.js
  docs/data/base/components/badge/UnstyledBadgeIntroduction.tsx
Labels: docs, component: badge, package: base

#34207 [FormControlLabel] Add `required` prop
  docs/data/material/components/checkboxes/CheckboxLabels.js
  docs/data/material/components/checkboxes/CheckboxLabels.tsx
  docs/data/material/components/checkboxes/CheckboxLabels.tsx.preview
  docs/data/material/components/switches/SwitchLabels.js
  docs/data/material/components/switches/SwitchLabels.tsx
  docs/data/material/components/switches/SwitchLabels.tsx.preview
  docs/pages/material-ui/api/form-control-label.json
  docs/translations/api-docs/form-control-label/form-control-label.json
  packages/mui-material/src/FormControlLabel/FormControlLabel.d.ts
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.test.js
  packages/mui-material/src/FormControlLabel/formControlLabelClasses.ts
Labels: new feature, component: FormControl

#36858 [docs] Content changed from 'row' to 'orientation=horizontal'
  docs/data/joy/components/card/card.md
Labels: bug 🐛, docs

#34990 [docs] Add guides to overriding component structure in Base UI and Joy UI docs
  docs/data/base/guides/overriding-component-structure/OverridingInternalSlot.js
  docs/data/base/guides/overriding-component-structure/OverridingInternalSlot.tsx
  docs/data/base/guides/overriding-component-structure/OverridingInternalSlot.tsx.preview
  docs/data/base/guides/overriding-component-structure/OverridingRootSlot.js
  docs/data/base/guides/overriding-component-structure/OverridingRootSlot.tsx
  docs/data/base/guides/overriding-component-structure/OverridingRootSlot.tsx.preview
  docs/data/base/guides/overriding-component-structure/overriding-component-structure.md
  docs/data/base/pages.ts
  docs/data/joy/guides/overriding-component-structure/OverridingInternalSlot.js
  docs/data/joy/guides/overriding-component-structure/OverridingInternalSlot.tsx
  docs/data/joy/guides/overriding-component-structure/OverridingInternalSlot.tsx.preview
  docs/data/joy/guides/overriding-component-structure/OverridingRootSlot.js
  docs/data/joy/guides/overriding-component-structure/OverridingRootSlot.tsx
  docs/data/joy/guides/overriding-component-structure/OverridingRootSlot.tsx.preview
  docs/data/joy/guides/overriding-component-structure/overriding-component-structure.md
  docs/data/joy/pages.ts
  docs/pages/base/guides/overriding-component-structure.js
  docs/pages/joy-ui/guides/overriding-component-structure.js
  docs/translations/translations.json
Labels: docs, package: base, package: joy

#36875 [website] Fix visual bug appbar
  docs/src/components/header/HeaderNavBar.tsx
Labels: design, website

#36649 [Autocomplete] Fix autocomplete left padding
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: package: material, component: autocomplete

#36305 [core] Use glob to find the test files in parseTest
  packages/api-docs-builder/utils/parseTest.ts
Labels: core, scope: docs-infra

#36852 [ThemeProvider] Fix theme proptypes
  packages/mui-material/src/styles/ThemeProvider.js
  packages/mui-material/src/styles/ThemeProvider.test.tsx
Labels: package: material, regression

#36773 [docs][base] Mention that the hook does not accept any parameters in the `Parameters` section of the API docs
  docs/pages/base/api/use-select.json
  docs/src/modules/components/HooksApiContent.js
  docs/translations/api-docs/use-select/use-select.json
  docs/translations/translations.json
  packages/mui-base/src/useSelect/useSelect.types.ts
Labels: docs, package: base, scope: docs-infra

#34508 [Button] Fix contained with inherit prop not adapting on dark mode
  packages/mui-material-next/src/styles/extendTheme.ts
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  test/regressions/fixtures/Button/MulticoloredButton.js
Labels: bug 🐛, design: material, component: button

#36883 [docs] Remove the incorrect info about useButton's ref parameter
  docs/data/base/components/button/button.md
Labels: docs, component: button, package: base

#36399 [Grid2] Replace context with `cloneElement`
  docs/data/material/components/grid2/grid2.md
  packages/mui-system/src/Unstable_Grid/GridProps.ts
  packages/mui-system/src/Unstable_Grid/createGrid.tsx
  packages/mui-system/src/Unstable_Grid/gridGenerator.test.js
  packages/mui-system/src/Unstable_Grid/gridGenerator.ts
  packages/mui-system/src/createStyled.js
  test/regressions/fixtures/Grid/StressNestedGrid2.js
  test/regressions/fixtures/Grid/StyledGrid2.js
Labels: bug 🐛, breaking change, component: Grid, package: system

#36915 [release] v5.12.1
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#36741 [FormControl] Fix `filled` when value is set through `inputProps`
  packages/mui-material/src/FormControl/FormControl.js
  packages/mui-material/src/FormControl/FormControl.test.js
Labels: bug 🐛, package: material, component: FormControl

#36913 [docs] Add info about passing ref to input element
  docs/data/joy/components/input/input.md
Labels: docs, package: joy

#36924 [typescript] Add the missing explicit component return types
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
  packages/mui-material-next/src/Button/TouchRipple.tsx
Labels: bug 🐛, component: button, typescript, component: TextareaAutosize, package: base

#36831 [codemod][base] Write a migration script for removal of `component` prop from components
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v5.0.0/base-remove-component-prop.js
  packages/mui-codemod/src/v5.0.0/base-remove-component-prop.test.js
  packages/mui-codemod/src/v5.0.0/base-remove-component-prop.test/actual.jsx
  packages/mui-codemod/src/v5.0.0/base-remove-component-prop.test/actual.tsx
  packages/mui-codemod/src/v5.0.0/base-remove-component-prop.test/expected.jsx
  packages/mui-codemod/src/v5.0.0/base-remove-component-prop.test/expected.tsx
Labels: package: codemod, package: base

#36942 [docs][material] Tabs API section cleanup
  docs/data/material/components/tabs/tabs.md
  test/e2e-website/material-docs.spec.ts
Labels: docs, package: material

#36408 [docs] Allows to customize menu with any icon
  docs/data/base/pages.ts
  docs/data/joy/pages.ts
  docs/data/material/pages.ts
  docs/data/system/pages.ts
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppNavIcons.ts
  docs/src/pages.ts
Labels: scope: docs-infra, component: charts

#36598 [website] X component section improvements
  docs/data/material/components/table/DataTable.js
  docs/data/material/components/table/DataTable.tsx
  docs/data/material/components/table/DataTable.tsx.preview
  docs/package.json
  docs/src/components/action/Frame.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/showcase/ThemeDatePicker.tsx
  yarn.lock
Labels: website

#36937 [docs] Adjust the Material Icons page design and formatting
  docs/data/material/components/material-icons/SearchIcons.js
  docs/data/material/components/material-icons/material-icons.md
  docs/src/modules/components/MarkdownElement.js
Labels: docs

#36898 [Table] Fix `Sorting & Selecting` tables
  docs/data/material/components/table/EnhancedTable.js
  docs/data/material/components/table/EnhancedTable.tsx
Labels: docs, component: table, regression

#36926 [docs] Add snackbar example using sonner
  docs/data/joy/components/snackbar/snackbar.md
Labels: docs, component: snackbar

#36950 [docs] Fix Chakra UI theme scoping typo
  docs/data/material/guides/styled-engine/styled-engine.md
Labels: docs, package: styled-engine

#36689 [joy][Select] Set focus visible on select options when navigating with arrow keys
  packages/mui-joy/src/styles/extendTheme.ts
Labels: component: select, package: joy

#36823 [docs] Clarify when bundle size optimization is needed
  docs/.link-check-errors.txt
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs, performance

#36975 [Joy] Add `invertedColors` to Menu and Alert
  docs/data/joy/components/alert/AlertInvertedColors.js
  docs/data/joy/components/alert/AlertInvertedColors.tsx
  docs/data/joy/components/alert/alert.md
  docs/data/joy/components/menu/AppsMenu.js
  docs/data/joy/components/menu/AppsMenu.tsx
  docs/data/joy/components/menu/MenuUsage.js
  docs/data/joy/components/menu/menu.md
  docs/pages/joy-ui/api/alert.json
  docs/pages/joy-ui/api/menu-item.json
  docs/pages/joy-ui/api/menu.json
  docs/src/modules/components/JoyUsageDemo.tsx
  docs/translations/api-docs-joy/alert/alert.json
  docs/translations/api-docs-joy/menu-item/menu-item.json
  docs/translations/api-docs-joy/menu/menu.json
  packages/mui-joy/src/Alert/Alert.tsx
  packages/mui-joy/src/Alert/AlertProps.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.tsx
  packages/mui-joy/src/Menu/Menu.tsx
  packages/mui-joy/src/Menu/MenuProps.ts
  packages/mui-joy/src/MenuItem/MenuItem.tsx
  packages/mui-joy/src/styles/ColorInversion.tsx
  packages/mui-joy/src/styles/variantUtils.ts
Labels: component: menu, component: alert, package: joy

#36931 [docs] Add Joy profile dashboard template
  docs/data/joy/getting-started/templates/TemplateCollection.js
  docs/data/joy/getting-started/templates/profile-dashboard/App.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/ColorSchemeToggle.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/CountrySelector.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/DropZone.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/EditorToolbar.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/FileUpload.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/Header.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/MuiLogo.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/MyProfile.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/Sidebar.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/theme.ts
  docs/data/joy/getting-started/templates/profile-dashboard/useScript.ts
  docs/data/joy/getting-started/templates/profile-dashboard/utils.ts
  docs/pages/joy-ui/getting-started/templates/profile-dashboard.js
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
Labels: docs, package: joy, design: joy

#36921 [docs] Add stray Joy UI documentation improvements
  docs/data/joy/components/accordion/accordion.md
  docs/data/joy/components/alert/alert.md
  docs/data/joy/components/autocomplete/autocomplete.md
  docs/data/joy/components/avatar/avatar.md
  docs/data/joy/components/badge/badge.md
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
  docs/data/joy/components/button/button.md
  docs/data/joy/components/checkbox/checkbox.md
  docs/data/joy/components/chip/chip.md
  docs/data/joy/components/circular-progress/circular-progress.md
  docs/data/joy/components/css-baseline/css-baseline.md
  docs/data/joy/components/divider/divider.md
  docs/data/joy/components/input/input.md
  docs/data/joy/components/linear-progress/linear-progress.md
  docs/data/joy/components/link/link.md
  docs/data/joy/components/modal/modal.md
  docs/data/joy/components/radio-button/radio-button.md
  docs/data/joy/components/select/select.md
  docs/data/joy/components/sheet/sheet.md
  docs/data/joy/components/slider/slider.md
  docs/data/joy/components/stack/stack.md
  docs/data/joy/components/switch/switch.md
  docs/data/joy/components/table/table.md
  docs/data/joy/components/tabs/tabs.md
  docs/data/joy/components/textarea/textarea.md
  docs/data/joy/components/tooltip/tooltip.md
  docs/data/joy/customization/theme-colors/PaletteThemeViewer.js
  docs/data/joy/customization/theme-colors/PaletteThemeViewer.tsx
  docs/data/joy/customization/theme-colors/theme-colors.md
  docs/data/joy/customization/theme-shadow/ShadowThemeViewer.js
  docs/data/joy/customization/theme-shadow/ShadowThemeViewer.tsx
  docs/data/joy/customization/theme-shadow/theme-shadow.md
  docs/data/joy/customization/theme-typography/TypographyThemeViewer.js
  docs/data/joy/customization/theme-typography/TypographyThemeViewer.tsx
  docs/data/joy/customization/theme-typography/theme-typography.md
  docs/data/joy/customization/themed-components/themed-components.md
  docs/data/joy/customization/using-css-variables/using-css-variables.md
  docs/data/joy/guides/using-icon-libraries/using-icon-libraries.md
  docs/data/joy/guides/using-joy-ui-and-material-ui/using-joy-ui-and-material-ui.md
  docs/data/joy/main-features/dark-mode-optimization/dark-mode-optimization.md
  docs/data/joy/pages.ts
  docs/translations/translations.json
Labels: docs, package: joy

#36997 [website] Design role updates
  docs/pages/careers.tsx
Labels: website

#36980 [docs] Fix console error introduced by #36408
  docs/src/modules/components/AppNavDrawerItem.js
Labels: scope: docs-infra

#36930 [Joy][Chip] Chip button not showing up in Firefox browser
  packages/mui-joy/src/Chip/Chip.tsx
Labels: component: chip, package: joy

#37001 [website] Update main data grid demo on X landing page
  docs/src/components/productX/XHero.tsx
Labels: website, MUI X

#37016 [core] Fix CI failure on `master`
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: core

#37014 Release v5.12.2
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
Labels: release

#36892 [TextField] fix running click event on disabled
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/TextField/TextField.d.ts
  packages/mui-material/src/TextField/TextField.js
  packages/mui-material/src/TextField/TextField.test.js
Labels: bug 🐛, component: text field

#35072 [Divider] Fix styles on dividers with text
  packages/mui-material/src/Divider/Divider.js
Labels: bug 🐛, component: divider

#36677 [Button][base] Drop `component` prop
  docs/data/base/components/button/UnstyledButtonCustom.js
  docs/data/base/components/button/UnstyledButtonCustom.tsx
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.js
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.tsx
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSpan.js
  docs/data/base/components/button/UnstyledButtonsSpan.tsx
  docs/data/base/components/button/UnstyledButtonsSpan.tsx.preview
  docs/data/base/components/button/button.md
  docs/data/base/guides/overriding-component-structure/OverridingRootSlot.js
  docs/data/base/guides/overriding-component-structure/OverridingRootSlot.tsx
  docs/data/base/guides/overriding-component-structure/OverridingRootSlot.tsx.preview
  docs/data/base/guides/overriding-component-structure/overriding-component-structure.md
  docs/pages/base/api/button.json
  docs/translations/api-docs-base/button/button.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/mui-base/src/Button/Button.spec.tsx
  packages/mui-base/src/Button/Button.test.tsx
  packages/mui-base/src/Button/Button.tsx
  packages/mui-base/src/Button/Button.types.ts
  packages/mui-base/src/utils/PolymorphicComponent.ts
  packages/mui-base/src/utils/index.ts
  test/utils/describeConformanceUnstyled.tsx
Labels: breaking change, component: button, package: base

#37011 [docs] smooth scrolling added for `back to top`
  docs/src/modules/components/BackToTop.tsx
Labels: docs

#36973 [docs] Add a note about minimal required version for theme merging to the guides
  docs/data/joy/guides/using-joy-ui-and-material-ui/using-joy-ui-and-material-ui.md
  docs/data/material/guides/styled-engine/styled-engine.md
Labels: package: system, package: material, package: joy

#37037 [FormControl][base] Do not use optional fields in useFormControlContext's return value
  docs/pages/base/api/use-form-control-context.json
  packages/mui-base/src/FormControl/FormControl.types.ts
Labels: docs, package: base, component: FormControl

#37004 [docs] Fix anchor link in customization
  docs/data/material/customization/how-to-customize/how-to-customize.md
Labels: docs, package: material

#36977 [docs] Handle a few docs-feedback
  docs/data/material/components/dialogs/dialogs.md
  docs/data/material/components/grid2/grid2.md
  docs/data/material/components/menus/menus.md
  docs/data/material/components/pagination/pagination.md
  docs/data/material/components/popover/popover.md
  docs/data/material/components/popper/popper.md
  docs/data/material/components/snackbars/snackbars.md
  docs/data/material/discover-more/related-projects/related-projects.md
  docs/data/material/discover-more/showcase/Showcase.js
  docs/data/material/discover-more/showcase/appList.js
  docs/data/material/getting-started/example-projects/example-projects.md
  docs/public/static/images/showcase/dropdesk.jpg
  docs/public/static/images/showcase/openclassrooms.jpg
  docs/public/static/images/showcase/openclassrooms.png
  docs/public/static/images/showcase/quintoandar.jpg
  docs/public/static/images/showcase/quintoandar.png
Labels: docs, enhancement

#36972 [docs] Fix small regressions API pages
  docs/data/joy/pages.ts
  docs/data/system/pages.ts
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppContainer.js
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppLayoutDocsWithoutAppFrame.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/ComponentPageTabs.js
  docs/src/modules/components/MarkdownDocsV2.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/pages.ts
Labels: docs, regression

#37034 [core] Allow type alias as well in hooks API docs generation
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
Labels: docs, core, package: base

#37031 [FormControl][base] Drop component prop
  docs/data/base/components/form-control/form-control.md
  docs/pages/base/api/form-control.json
  docs/translations/api-docs-base/form-control/form-control.json
  packages/mui-base/src/FormControl/FormControl.spec.tsx
  packages/mui-base/src/FormControl/FormControl.test.tsx
  packages/mui-base/src/FormControl/FormControl.tsx
  packages/mui-base/src/FormControl/FormControl.types.ts
Labels: breaking change, package: base, component: FormControl

#37032 [MenuItem][base] Drop component prop
  docs/pages/base/api/menu-item.json
  docs/translations/api-docs-base/menu-item/menu-item.json
  packages/mui-base/src/MenuItem/MenuItem.spec.tsx
  packages/mui-base/src/MenuItem/MenuItem.test.tsx
  packages/mui-base/src/MenuItem/MenuItem.tsx
  packages/mui-base/src/MenuItem/MenuItem.types.ts
Labels: breaking change, component: menu, package: base

#36719 [docs][base] Move styles to the bottom of demos code for `Snackbar`
  docs/data/base/components/snackbar/TransitionComponentSnackbar.js
  docs/data/base/components/snackbar/TransitionComponentSnackbar.tsx
  docs/data/base/components/snackbar/UnstyledSnackbar.js
  docs/data/base/components/snackbar/UnstyledSnackbar.tsx
  docs/data/base/components/snackbar/UseSnackbar.js
  docs/data/base/components/snackbar/UseSnackbar.tsx
Labels: docs, component: snackbar, package: base

#36721 [docs][base] Move styles to the bottom of demos code for `SliderUnstyled`
  docs/data/base/components/slider/DiscreteSlider.js
  docs/data/base/components/slider/DiscreteSlider.tsx
  docs/data/base/components/slider/DiscreteSliderMarks.js
  docs/data/base/components/slider/DiscreteSliderMarks.tsx
  docs/data/base/components/slider/DiscreteSliderValues.js
  docs/data/base/components/slider/DiscreteSliderValues.tsx
  docs/data/base/components/slider/LabeledValuesSlider.js
  docs/data/base/components/slider/LabeledValuesSlider.tsx
  docs/data/base/components/slider/RangeSlider.js
  docs/data/base/components/slider/RangeSlider.tsx
  docs/data/base/components/slider/UnstyledSlider.js
  docs/data/base/components/slider/UnstyledSlider.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction.js
  docs/data/base/components/slider/UnstyledSliderIntroduction.tsx
Labels: docs, component: slider, package: base

#36724 [docs][base] Move styles to the bottom of demos code for `InputUnstyled`
  docs/data/base/components/input/InputAdornments.js
  docs/data/base/components/input/InputAdornments.tsx
  docs/data/base/components/input/InputMultiline.js
  docs/data/base/components/input/InputMultiline.tsx
  docs/data/base/components/input/InputMultilineAutosize.js
  docs/data/base/components/input/InputMultilineAutosize.tsx
  docs/data/base/components/input/UnstyledInputBasic.js
  docs/data/base/components/input/UnstyledInputBasic.tsx
  docs/data/base/components/input/UnstyledInputIntroduction.js
  docs/data/base/components/input/UnstyledInputIntroduction.tsx
  docs/data/base/components/input/UseInput.js
  docs/data/base/components/input/UseInput.tsx
Labels: docs, package: base

#36967 [ButtonGroup] Should not retain divider color when it is disabled and variant is `text`
  packages/mui-material/src/ButtonGroup/ButtonGroup.js
  test/regressions/fixtures/ButtonGroup/DisabledButtonGroup.js
Labels: bug 🐛, component: ButtonGroup

#37054 [TabPanel] drop component prop
  docs/pages/base/api/tab-panel.json
  docs/translations/api-docs-base/tab-panel/tab-panel.json
  packages/mui-base/src/TabPanel/TabPanel.spec.tsx
  packages/mui-base/src/TabPanel/TabPanel.test.tsx
  packages/mui-base/src/TabPanel/TabPanel.tsx
  packages/mui-base/src/TabPanel/TabPanel.types.ts
Labels: breaking change, package: base

#37042 [TabsList] Drop component prop
  docs/pages/base/api/tabs-list.json
  docs/translations/api-docs-base/tabs-list/tabs-list.json
  packages/mui-base/src/TabsList/TabsList.spec.tsx
  packages/mui-base/src/TabsList/TabsList.test.tsx
  packages/mui-base/src/TabsList/TabsList.tsx
  packages/mui-base/src/TabsList/TabsList.types.ts
Labels: breaking change, package: base

#36718 [docs][base] Move styles to the bottom of demos code for `SelectUnstyled`
  docs/data/base/components/select/UnstyledSelectControlled.js
  docs/data/base/components/select/UnstyledSelectControlled.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.js
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx
  docs/data/base/components/select/UnstyledSelectForm.js
  docs/data/base/components/select/UnstyledSelectForm.tsx
  docs/data/base/components/select/UnstyledSelectGrouping.js
  docs/data/base/components/select/UnstyledSelectGrouping.tsx
  docs/data/base/components/select/UnstyledSelectIntroduction.js
  docs/data/base/components/select/UnstyledSelectIntroduction.tsx
  docs/data/base/components/select/UnstyledSelectMultiple.js
  docs/data/base/components/select/UnstyledSelectMultiple.tsx
  docs/data/base/components/select/UnstyledSelectObjectValues.js
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx
  docs/data/base/components/select/UnstyledSelectObjectValues.tsx.preview
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.js
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.js
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/base/components/select/UnstyledSelectSimple.js
  docs/data/base/components/select/UnstyledSelectSimple.tsx
  docs/data/base/components/select/UseSelect.js
  docs/data/base/components/select/UseSelect.tsx
Labels: docs, component: select, package: base

#37059 [TablePagination] Drop component prop
  docs/data/base/components/table-pagination/table-pagination.md
  docs/pages/base/api/table-pagination.json
  docs/translations/api-docs-base/table-pagination/table-pagination.json
  packages/mui-base/src/TablePagination/TablePagination.spec.tsx
  packages/mui-base/src/TablePagination/TablePagination.test.tsx
  packages/mui-base/src/TablePagination/TablePagination.tsx
  packages/mui-base/src/TablePagination/TablePagination.types.ts
  packages/mui-base/src/TablePagination/TablePaginationActions.spec.tsx
  packages/mui-base/src/TablePagination/TablePaginationActions.tsx
  packages/mui-base/src/TablePagination/TablePaginationActions.types.ts
Labels: breaking change, package: base, component: TablePagination

#36770 [Tabs][base] Drop component prop
  docs/data/base/components/tabs/tabs.md
  docs/pages/base/api/tabs.json
  docs/translations/api-docs-base/tabs/tabs.json
  packages/mui-base/src/Tabs/Tabs.spec.tsx
  packages/mui-base/src/Tabs/Tabs.test.tsx
  packages/mui-base/src/Tabs/Tabs.tsx
  packages/mui-base/src/Tabs/Tabs.types.ts
Labels: breaking change, component: tabs, package: base

#36768 [Tab][base] Drop component prop
  docs/pages/base/api/tab.json
  docs/translations/api-docs-base/tab/tab.json
  packages/mui-base/src/Tab/Tab.spec.tsx
  packages/mui-base/src/Tab/Tab.test.tsx
  packages/mui-base/src/Tab/Tab.tsx
  packages/mui-base/src/Tab/Tab.types.ts
Labels: breaking change, component: tabs, package: base

#36720 [docs][base] Move styles to the bottom of demos code for `SwitchUnstyled`
  docs/data/base/components/switch/UnstyledSwitchIntroduction.js
  docs/data/base/components/switch/UnstyledSwitchIntroduction.tsx
  docs/data/base/components/switch/UnstyledSwitches.js
  docs/data/base/components/switch/UnstyledSwitches.tsx
  docs/data/base/components/switch/UseSwitchesBasic.js
  docs/data/base/components/switch/UseSwitchesBasic.tsx
  docs/data/base/components/switch/UseSwitchesCustom.js
  docs/data/base/components/switch/UseSwitchesCustom.tsx
Labels: docs, component: switch, package: base

#37028 [Badge][base] Drop `component` prop
  docs/data/base/components/badge/badge.md
  docs/data/base/components/button/button.md
  docs/pages/base/api/badge.json
  docs/translations/api-docs-base/badge/badge.json
  packages/mui-base/src/Badge/Badge.spec.tsx
  packages/mui-base/src/Badge/Badge.test.tsx
  packages/mui-base/src/Badge/Badge.tsx
Labels: breaking change, component: badge, package: base

#37055 [OptionGroup][base] Drop component prop
  docs/pages/base/api/option-group.json
  docs/translations/api-docs-base/option-group/option-group.json
  packages/mui-base/src/OptionGroup/OptionGroup.spec.tsx
  packages/mui-base/src/OptionGroup/OptionGroup.test.tsx
  packages/mui-base/src/OptionGroup/OptionGroup.tsx
  packages/mui-base/src/OptionGroup/OptionGroup.types.ts
Labels: breaking change, package: base

#37056 [Slider][base] Drop component prop
  docs/data/base/components/slider/slider.md
  docs/data/base/components/switch/switch.md
  docs/pages/base/api/slider.json
  docs/translations/api-docs-base/slider/slider.json
  packages/mui-base/src/Slider/Slider.spec.tsx
  packages/mui-base/src/Slider/Slider.test.tsx
  packages/mui-base/src/Slider/Slider.tsx
  packages/mui-base/src/Slider/Slider.types.ts
Labels: breaking change, component: slider, package: base

#37041 [Snackbar][base] Drop component prop
  docs/data/base/components/snackbar/snackbar.md
  docs/pages/base/api/snackbar.json
  docs/translations/api-docs-base/snackbar/snackbar.json
  packages/mui-base/src/Snackbar/Snackbar.test.tsx
  packages/mui-base/src/Snackbar/Snackbar.tsx
  packages/mui-base/src/Snackbar/Snackbar.types.ts
Labels: component: snackbar, package: base

#37057 [Input][base] Drop component prop
  docs/data/base/components/input/input.md
  docs/pages/base/api/input.json
  docs/translations/api-docs-base/input/input.json
  packages/mui-base/src/Input/Input.spec.tsx
  packages/mui-base/src/Input/Input.test.tsx
  packages/mui-base/src/Input/Input.tsx
  packages/mui-base/src/Input/Input.types.ts
Labels: breaking change, package: base

#37053 [Switch][base] Drop component prop
  docs/data/base/components/switch/UnstyledSwitchIntroduction.js
  docs/data/base/components/switch/UnstyledSwitchIntroduction.tsx
  docs/data/base/components/switch/UnstyledSwitchIntroduction.tsx.preview
  docs/data/base/components/switch/UnstyledSwitches.js
  docs/data/base/components/switch/UnstyledSwitches.tsx
  docs/data/base/components/switch/UnstyledSwitches.tsx.preview
  docs/data/base/components/switch/switch.md
  docs/pages/base/api/switch.json
  docs/translations/api-docs-base/switch/switch.json
  packages/mui-base/src/Switch/Switch.spec.tsx
  packages/mui-base/src/Switch/Switch.test.tsx
  packages/mui-base/src/Switch/Switch.tsx
  packages/mui-base/src/Switch/Switch.types.ts
Labels: breaking change, component: switch, package: base

#36847 [docs] Use focus-visible instead of focus for Menu demos
  docs/data/base/components/menu/MenuSimple.js
  docs/data/base/components/menu/MenuSimple.tsx
  docs/data/base/components/menu/UnstyledMenuIntroduction.js
  docs/data/base/components/menu/UnstyledMenuIntroduction.tsx
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/WrappedMenuItems.js
  docs/data/base/components/menu/WrappedMenuItems.tsx
Labels: docs, component: menu

#37066 [docs] Specify "Material UI" (not "MUI") where appropriate throughout the docs
  docs/.link-check-errors.txt
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
  docs/data/joy/components/css-baseline/css-baseline.md
  docs/data/material/components/box/box.md
  docs/data/material/components/css-baseline/css-baseline.md
  docs/data/material/components/icons/icons.md
  docs/data/material/components/text-fields/text-fields.md
  docs/data/material/components/tooltips/tooltips.md
  docs/data/material/components/transitions/transitions.md
  docs/data/material/components/typography/typography.md
  docs/data/material/components/use-media-query/use-media-query.md
  docs/data/material/customization/breakpoints/breakpoints.md
  docs/data/material/customization/color/color.md
  docs/data/material/customization/density/density.md
  docs/data/material/customization/spacing/spacing.md
  docs/data/material/customization/theming/theming.md
  docs/data/material/customization/transitions/transitions.md
  docs/data/material/customization/typography/typography.md
  docs/data/material/customization/z-index/z-index.md
  docs/data/material/discover-more/backers/backers.md
  docs/data/material/discover-more/related-projects/related-projects.md
  docs/data/material/discover-more/roadmap/roadmap.md
  docs/data/material/discover-more/vision/vision.md
  docs/data/material/getting-started/design-resources/design-resources.md
  docs/data/material/getting-started/example-projects/example-projects.md
  docs/data/material/getting-started/faq/faq.md
  docs/data/material/getting-started/support/support.md
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  docs/data/material/guides/api/api.md
  docs/data/material/guides/composition/composition.md
  docs/data/material/guides/content-security-policy/content-security-policy.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/data/material/guides/localization/localization.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/data/material/guides/pickers-migration/pickers-migration.md
  docs/data/material/guides/right-to-left/right-to-left.md
  docs/data/material/guides/routing/routing.md
  docs/data/material/guides/server-rendering/server-rendering.md
  docs/data/material/guides/shadow-dom/shadow-dom.md
  docs/data/material/guides/styled-engine/styled-engine.md
  docs/data/material/guides/testing/testing.md
  docs/data/material/guides/understand-mui-packages/understand-mui-packages.md
  docs/data/material/migration/migration-v4/v5-style-changes.md
  docs/data/styles/advanced/advanced.md
  docs/data/styles/api/api.md
  docs/data/styles/basics/basics.md
  docs/data/system/components/box/box.md
  docs/pages/blog/2019.md
Labels: docs

#37052 [Option][base] Drop component prop
  docs/pages/base/api/option.json
  docs/translations/api-docs-base/option/option.json
  packages/mui-base/src/Option/Option.spec.tsx
  packages/mui-base/src/Option/Option.test.tsx
  packages/mui-base/src/Option/Option.tsx
  packages/mui-base/src/Option/Option.types.ts
Labels: breaking change, package: base

#37035 [Select][base] Drop component prop
  docs/data/base/components/select/select.md
  docs/pages/base/api/select.json
  docs/translations/api-docs-base/select/select.json
  packages/mui-base/src/Select/Select.spec.tsx
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Select/Select.tsx
  packages/mui-base/src/Select/Select.types.ts
Labels: breaking change, component: select, package: base

#36991 [templates] Image not displayed in blog layout of React template.
  docs/data/material/getting-started/templates/blog/Blog.js
  docs/data/material/getting-started/templates/blog/Blog.tsx
Labels: docs

#37058 [Modal][base] Drop component prop
  docs/pages/base/api/modal.json
  docs/translations/api-docs-base/modal/modal.json
  packages/mui-base/src/Modal/Modal.spec.tsx
  packages/mui-base/src/Modal/Modal.test.tsx
  packages/mui-base/src/Modal/Modal.tsx
  packages/mui-base/src/Modal/Modal.types.ts
Labels: breaking change, package: base
