Repository mui/material-ui, pull requests merged in 2023-09, with the labels that each got.

#38734 [docs][Autocomplete] Require referentially stable value
  docs/data/material/components/autocomplete/autocomplete.md
Labels: docs, component: autocomplete

#38633 [system] Fix maxWidth incorrectly resolving breakpoints with non-pixel units
  packages/mui-system/src/Box/Box.test.js
  packages/mui-system/src/sizing.js
  packages/mui-system/src/sizing.test.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: bug 🐛, package: system

#38750 [docs] Fix Next.js pages router example redirect link
  docs/data/material/guides/routing/routing.md
Labels: docs

#38744 [website] Fix out-of-date label on Toolpad
  docs/src/components/header/HeaderNavDropdown.tsx
Labels: website, MUI Toolpad

#38702 [docs][joy-ui] Fix Link's `overlay` prop demo
  docs/data/joy/components/link/LinkCard.js
  docs/data/joy/components/link/LinkCard.tsx
  docs/data/joy/components/link/LinkCard.tsx.preview
Labels: docs, component: link, package: joy-ui

#37579 [docs-infra] Remove legacy GA
  docs/data/material/components/material-icons/SearchIcons.js
  docs/pages/_app.js
  docs/pages/_document.js
  docs/src/modules/components/Ad.js
  docs/src/modules/components/GoogleAnalytics.js
Labels: performance, scope: docs-infra

#38452 ImageItemList fix incorrect (below) rendering
  packages/mui-material/src/ImageListItem/ImageListItem.js
Labels: component: image list

#38748 [docs] Fix e.g. typo
  CHANGELOG.md
  CHANGELOG.old.md
  docs/data/joy/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/data/joy/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/data/material/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/data/material/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size-pt.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size-zh.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/pages/blog/callback-support-in-style-overrides.md
  docs/src/modules/sandbox/Dependencies.ts
  docs/translations/api-docs/circular-progress/circular-progress-pt.json
  docs/translations/api-docs/circular-progress/circular-progress-zh.json
  docs/translations/api-docs/circular-progress/circular-progress.json
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/styles/styleUtils.ts
  packages/mui-material/src/CircularProgress/CircularProgress.d.ts
  packages/mui-material/src/CircularProgress/CircularProgress.js
  packages/typescript-to-proptypes/src/injector.ts
  packages/zero-tag-processor/src/utils/sxObjectExtractor.ts
  scripts/generateProptypes.ts
  test/README.md
  test/utils/initMatchers.ts
Labels: docs

#38761 [docs] Fix Joy UI docs link regression
  docs/public/_redirects
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ComponentsApiContent.js
Labels: bug 🐛, docs, regression, package: joy-ui

#38759 [docs] Polish Slider demos
  docs/data/material/components/transitions/SimpleCollapse.js
  docs/data/material/components/transitions/SimpleCollapse.tsx
  docs/data/material/components/transitions/SimpleFade.js
  docs/data/material/components/transitions/SimpleFade.tsx
  docs/data/material/components/transitions/SimpleGrow.js
  docs/data/material/components/transitions/SimpleGrow.tsx
  docs/data/material/components/transitions/SimpleSlide.js
  docs/data/material/components/transitions/SimpleSlide.tsx
  docs/data/material/components/transitions/SimpleSlide.tsx.preview
  docs/data/material/components/transitions/SimpleZoom.js
  docs/data/material/components/transitions/SimpleZoom.tsx
  docs/data/material/components/transitions/SlideFromContainer.js
  docs/data/material/components/transitions/SlideFromContainer.tsx
  docs/data/material/components/transitions/SlideFromContainer.tsx.preview
  docs/data/material/components/transitions/TransitionGroupExample.js
  docs/data/material/components/transitions/TransitionGroupExample.tsx
  docs/data/material/components/transitions/TransitionGroupExample.tsx.preview
  docs/data/material/components/transitions/transitions.md
Labels: docs, component: transitions

#38767 [docs-infra] Fix mobile display in CodeSandbox
  docs/src/modules/sandbox/CodeSandbox.test.js
  docs/src/modules/sandbox/CreateReactApp.ts
  docs/src/modules/sandbox/StackBlitz.test.js
Labels: bug 🐛, scope: docs-infra

#38253 [Autocomplete] Type multiple values with readonly arrays.
  docs/data/joy/components/autocomplete/GitHubLabel.tsx
  docs/data/material/components/autocomplete/GitHubLabel.tsx
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-base/src/useAutocomplete/useAutocomplete.spec.ts
  packages/mui-material/src/Autocomplete/Autocomplete.spec.tsx
Labels: component: autocomplete

#38709 [joy-ui][theme] Improve theme builder exceptions
  docs/src/modules/components/JoyThemeBuilder.tsx
Labels: docs, package: joy-ui

#38407 [blog] Add a post for the Tree View migration
  docs/pages/blog/lab-date-pickers-to-mui-x.md
  docs/pages/blog/lab-tree-view-to-mui-x.js
  docs/pages/blog/lab-tree-view-to-mui-x.md
  docs/public/static/blog/lab-tree-view-to-mui-x/treeview.mov
Labels: on hold, blog

#38517 [core] Rework `typescript-to-proptypes` to share the AST parsing with `parseStyles`
  docs/data/joy/components/autocomplete/Virtualize.js
  docs/pages/material-ui/api/swipeable-drawer.json
  docs/scripts/formattedTSDemos.js
  docs/translations/api-docs/swipeable-drawer/swipeable-drawer.json
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/utils/coreTypeScriptProjects.ts
  packages/api-docs-builder/utils/createTypeScriptProject.ts
  packages/api-docs-builder/utils/getPropsFromComponentNode.ts
  packages/api-docs-builder/utils/getPropsFromComponentSymbol.ts
  packages/api-docs-builder/utils/parseStyles.ts
  packages/mui-material/src/Hidden/Hidden.d.ts
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/typescript-to-proptypes/src/createType.ts
  packages/typescript-to-proptypes/src/generatePropTypes.ts
  packages/typescript-to-proptypes/src/getPropTypesFromFile.ts
  packages/typescript-to-proptypes/src/index.ts
  packages/typescript-to-proptypes/src/injectPropTypesInFile.ts
  packages/typescript-to-proptypes/src/loadConfig.ts
  packages/typescript-to-proptypes/src/models.ts
  packages/typescript-to-proptypes/src/parser.ts
  packages/typescript-to-proptypes/src/types/component.ts
  packages/typescript-to-proptypes/src/types/index.ts
  packages/typescript-to-proptypes/src/types/program.ts
  packages/typescript-to-proptypes/src/types/propTypeDefinition.ts
  packages/typescript-to-proptypes/test/types.d.ts
  packages/typescript-to-proptypes/test/typescript-to-proptypes.test.ts
  scripts/generateProptypes.ts
Labels: core

#38715 [docs] Clean up not used Usage files
  docs/data/joy/getting-started/usage/Usage.js
  docs/data/material/getting-started/learn/learn.md
  docs/data/material/getting-started/usage/Usage.js
Labels: docs

#38738 [docs][joy-ui] Integrate a count-up feature to the Linear Progress
  docs/data/joy/components/linear-progress/LinearProgressCountUp.js
  docs/data/joy/components/linear-progress/LinearProgressCountUp.tsx
  docs/data/joy/components/linear-progress/linear-progress.md
  docs/package.json
  packages/mui-joy/src/LinearProgress/LinearProgress.tsx
  yarn.lock
Labels: docs, package: joy-ui

#38640 [docs][base-ui] Add type parameter to the button in prepareForSlot demo
  docs/data/base/getting-started/customization/PrepareForSlot.js
  docs/data/base/getting-started/customization/PrepareForSlot.tsx
  docs/data/base/getting-started/customization/PrepareForSlot.tsx.preview
Labels: docs, package: base-ui

#38786 [material-ui][Button] Add demo for file upload
  docs/data/material/components/buttons/InputFileUpload.js
  docs/data/material/components/buttons/InputFileUpload.tsx
  docs/data/material/components/buttons/InputFileUpload.tsx.preview
  docs/data/material/components/buttons/buttons.md
Labels: docs, component: button, package: material-ui, component: upload

#38762 [core] Use immutable refs
  docs/src/modules/components/DemoEditor.tsx
  packages/mui-base/src/Popper/Popper.tsx
  packages/mui-base/src/Select/Select.tsx
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/ChipDelete/ChipDelete.tsx
  packages/mui-joy/src/FormHelperText/FormHelperText.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/Select/Select.tsx
Labels: typescript, core, package: base-ui, package: joy-ui

#38764 [docs] Fix broken links to Next.js docs
  docs/data/base/guides/next-js-app-router/next-js-app-router.md
  docs/data/joy/integrations/next-js-app-router/next-js-app-router.md
  docs/data/material/guides/next-js-app-router/next-js-app-router.md
  examples/base-ui-nextjs-tailwind-ts/src/app/components.tsx
Labels: bug 🐛, docs

#38695 [joy-ui][Accordion] Fix incorrect display of classname
  docs/pages/joy-ui/api/accordion-group.json
  docs/translations/api-docs-joy/accordion-group/accordion-group.json
  packages/mui-joy/src/AccordionGroup/AccordionGroup.test.tsx
  packages/mui-joy/src/AccordionGroup/AccordionGroup.tsx
  packages/mui-joy/src/AccordionGroup/accordionGroupClasses.ts
Labels: bug 🐛, component: accordion, package: joy-ui

#38673 [joy-ui][Button] Fix disablity of button
  packages/mui-joy/src/Button/Button.test.tsx
  packages/mui-joy/src/Button/Button.tsx
Labels: bug 🐛, component: button, package: joy-ui

#38749 [system] Fix the inconsistent types of the `mergeBreakpointsInOrder` function
  packages/mui-system/src/index.d.ts
Labels: bug 🐛, typescript, package: system

#38799 [Typography] Added position only when Skeleton is a direct child
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/Typography/TypographyProps.ts
  test/regressions/fixtures/LinkJoy/LinkCard.js
Labels: component: Typography, regression, package: joy-ui

#38809 v5.14.8
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
Labels: release

#38818 [website] add Michel Engelen to the about us page
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/michel-engelen.png
Labels: website

#38416 [joy-ui] Refine the default theme color palette
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
  packages/mui-joy/src/colors/colors.ts
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/extendTheme.ts
Labels: package: joy-ui, design: joy

#38599 [docs][joy-ui] Refine the Profile Dashboard template
  docs/data/joy/getting-started/templates/order-dashboard/App.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/App.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/ColorSchemeToggle.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/CountrySelector.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/DropZone.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/EditorToolbar.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/FileUpload.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/Header.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/MyProfile.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/Sidebar.tsx
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard.jpg
Labels: docs, package: joy-ui, design: joy

#37774 [docs][material-ui] Revise and split up "Styled engine" doc
  CHANGELOG.md
  README.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/material/guides/interoperability/interoperability-pt.md
  docs/data/material/guides/interoperability/interoperability-zh.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/data/material/guides/right-to-left/right-to-left-pt.md
  docs/data/material/guides/right-to-left/right-to-left-zh.md
  docs/data/material/guides/right-to-left/right-to-left.md
  docs/data/material/guides/styled-components/styled-components-pt.md
  docs/data/material/guides/styled-components/styled-components-zh.md
  docs/data/material/guides/styled-components/styled-components.md
  docs/data/material/guides/styled-engine/styled-engine.md
  docs/data/material/guides/theme-scoping/theme-scoping.md
  docs/data/material/guides/understand-mui-packages/understand-mui-packages-pt.md
  docs/data/material/guides/understand-mui-packages/understand-mui-packages-zh.md
  docs/data/material/guides/understand-mui-packages/understand-mui-packages.md
  docs/data/material/pages.ts
  docs/data/system/getting-started/installation/installation-pt.md
  docs/data/system/getting-started/installation/installation-zh.md
  docs/data/system/getting-started/installation/installation.md
  docs/data/system/getting-started/usage/basics-pt.md
  docs/data/system/getting-started/usage/basics-zh.md
  docs/data/system/styled/styled-pt.md
  docs/data/system/styled/styled-zh.md
  docs/data/system/styled/styled.md
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/material-ui/guides/styled-components.js
  docs/pages/material-ui/guides/theme-scoping.js
  docs/public/_redirects
  docs/translations/translations-pt.json
  docs/translations/translations-zh.json
  docs/translations/translations.json
  packages/mui-styled-engine-sc/README.md
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/README.md
  packages/mui-styled-engine/package.json
Labels: docs, package: material-ui

#36324 [joy-ui][docs] Revise the Lists page
  docs/data/joy/components/autocomplete/autocomplete.md
  docs/data/joy/components/list/list.md
  docs/data/joy/components/menu/menu-pt.md
  docs/data/joy/components/menu/menu-zh.md
  docs/data/joy/components/menu/menu.md
Labels: docs, component: list, package: joy-ui

#38543 [docs][material-ui] Revise the Typography page
  docs/data/material/components/typography/typography.md
Labels: docs, component: Typography, package: material-ui

#38822 [lab] Fix `@mui/x-tree-view` dependency
  packages/mui-lab/package.json
  yarn.lock
Labels: package: lab, component: tree view, regression

#38823 [material-ui][Button] Update the file upload demo
  docs/data/material/components/buttons/InputFileUpload.js
  docs/data/material/components/buttons/InputFileUpload.tsx
  docs/data/material/components/buttons/InputFileUpload.tsx.preview
Labels: docs, component: button, package: material-ui

#38829 [docs] Fix a11y issues in tables demos
  docs/data/base/components/table-pagination/TableCustomized/css/index.js
  docs/data/base/components/table-pagination/TableCustomized/css/index.tsx
  docs/data/base/components/table-pagination/TableCustomized/system/index.js
  docs/data/base/components/table-pagination/TableCustomized/system/index.tsx
  docs/data/base/components/table-pagination/TableCustomized/tailwind/index.js
  docs/data/base/components/table-pagination/TableCustomized/tailwind/index.tsx
  docs/data/base/components/table-pagination/TableUnstyled.js
  docs/data/base/components/table-pagination/TableUnstyled.tsx
  docs/data/joy/components/table/TableSortAndSelection.js
  docs/data/joy/components/table/TableSortAndSelection.tsx
Labels: docs, accessibility

#38795 [docs] enableColorScheme prop was removed
  docs/data/material/experimental-api/css-theme-variables/usage.md
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
Labels: docs, package: system

#38833 [lab] Add TypeScript deprecations
  docs/pages/blog/lab-tree-view-to-mui-x.md
  packages/mui-lab/src/AdapterDateFns/AdapterDateFns.ts
  packages/mui-lab/src/AdapterDayjs/AdapterDayjs.ts
  packages/mui-lab/src/AdapterLuxon/AdapterLuxon.ts
  packages/mui-lab/src/AdapterMoment/AdapterMoment.ts
  packages/mui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/mui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.tsx
  packages/mui-lab/src/ClockPicker/ClockPicker.tsx
  packages/mui-lab/src/DateRangePicker/DateRangePicker.ts
  packages/mui-lab/src/DateRangePickerDay/DateRangePickerDay.ts
  packages/mui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/mui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/mui-lab/src/DesktopDateRangePicker/DesktopDateRangePicker.ts
  packages/mui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/mui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/mui-lab/src/LocalizationProvider/LocalizationProvider.tsx
  packages/mui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/mui-lab/src/MobileDateRangePicker/MobileDateRangePicker.ts
  packages/mui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/mui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/mui-lab/src/MonthPicker/MonthPicker.tsx
  packages/mui-lab/src/PickersDay/PickersDay.tsx
  packages/mui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/mui-lab/src/StaticDateRangePicker/StaticDateRangePicker.ts
  packages/mui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/mui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/mui-lab/src/TimePicker/TimePicker.tsx
  packages/mui-lab/src/TreeItem/TreeItem.tsx
  packages/mui-lab/src/TreeView/TreeView.tsx
  packages/mui-lab/src/YearPicker/YearPicker.tsx
Labels: package: lab, component: tree view, component: pickers

#38834 [blog] Fix missing card
  docs/pages/blog/discord-announcement.md
  docs/pages/blog/lab-tree-view-to-mui-x.md
  docs/pages/experiments/blog/blog.md
  docs/public/static/blog/2023-discord-announcement/card.png
  docs/public/static/blog/discord-announcement/card.png
  docs/public/static/blog/discord-announcement/discord.png
  docs/src/modules/components/TopLayoutBlog.js
  packages/markdown/loader.js
  packages/markdown/parseMarkdown.js
  packages/markdown/parseMarkdown.test.js
  packages/markdown/prepareMarkdown.js
  packages/markdown/prepareMarkdown.test.js
Labels: bug 🐛, blog

#38679 [base-ui] Create hooks contribution guide
  packages/mui-base/CONTRIBUTING.md
  packages/mui-base/README.md
Labels: docs, package: base-ui

#38859 [core] Explicitly define package dependencies
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/rsc-builder/package.json
  packages/typescript-to-proptypes/package.json
  packages/zero-runtime/package.json
  packages/zero-tag-processor/package.json
  packages/zero-vite-plugin/package.json
  test/package.json
  yarn.lock
Labels: core

#38527 [joy-ui] Reduce height of some variants
  docs/data/joy/components/button/ButtonUsage.js
  docs/data/joy/components/button/IconButtonVariables.js
  docs/data/joy/main-features/automatic-adjustment/InputVariables.js
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/ChipDelete/ChipDelete.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/styles/variantColorInheritance.tsx
Labels: package: joy-ui, design: joy

#38851 [docs][base-ui] Mark Popup with the Preview tag
  docs/data/base/pages.ts
Labels: docs, package: base-ui

#38850 [docs][joy-ui] Fix grammar and update Usage section in color inversion page
  docs/data/joy/main-features/color-inversion/color-inversion.md
Labels: docs, package: joy-ui

#38816 [FocusTrap] Fix `disableEnforceFocus` behavior
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  test/e2e/fixtures/FocusTrap/DisableEnforceFocusFocusTrap.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: FocusTrap

#38857 [core] Bump aws-cli orb to 4.1
  .circleci/config.yml
Labels: core

#38839 [docs][base-ui] Add Number Input to the all components page
  docs/data/base/all-components/all-components.md
  docs/public/static/base-ui/react-components/number-input-dark.png
  docs/public/static/base-ui/react-components/number-input-light.png
  docs/src/modules/components/BaseUIComponents.js
Labels: docs, package: base-ui

#38169 [joy-ui][Drawer] Add Drawer component
  docs/data/joy/components/drawer/DrawerAnchor.js
  docs/data/joy/components/drawer/DrawerAnchor.tsx
  docs/data/joy/components/drawer/DrawerBasic.js
  docs/data/joy/components/drawer/DrawerBasic.tsx
  docs/data/joy/components/drawer/DrawerCloseButton.js
  docs/data/joy/components/drawer/DrawerCloseButton.tsx
  docs/data/joy/components/drawer/DrawerCloseButton.tsx.preview
  docs/data/joy/components/drawer/DrawerFilters.js
  docs/data/joy/components/drawer/DrawerFilters.tsx
  docs/data/joy/components/drawer/DrawerMobileNavigation.js
  docs/data/joy/components/drawer/DrawerMobileNavigation.tsx
  docs/data/joy/components/drawer/DrawerScrollable.js
  docs/data/joy/components/drawer/DrawerScrollable.tsx
  docs/data/joy/components/drawer/DrawerSize.js
  docs/data/joy/components/drawer/DrawerSize.tsx
  docs/data/joy/components/drawer/DrawerTransition.js
  docs/data/joy/components/drawer/DrawerTransition.tsx
  docs/data/joy/components/drawer/DrawerUsage.js
  docs/data/joy/components/drawer/drawer.md
  docs/data/joy/pages.ts
  docs/data/joy/pagesApi.js
  docs/pages/base-ui/api/use-modal.json
  docs/pages/joy-ui/api/drawer.js
  docs/pages/joy-ui/api/drawer.json
  docs/pages/joy-ui/api/modal.json
  docs/src/modules/components/DemoSandbox.js
  docs/translations/api-docs-joy/drawer-content/drawer-content.json
  docs/translations/api-docs-joy/drawer/drawer.json
  docs/translations/api-docs-joy/modal/modal.json
  packages/mui-base/src/unstable_useModal/useModal.ts
  packages/mui-base/src/unstable_useModal/useModal.types.ts
  packages/mui-joy/src/Drawer/Drawer.test.tsx
  packages/mui-joy/src/Drawer/Drawer.tsx
  packages/mui-joy/src/Drawer/DrawerProps.ts
  packages/mui-joy/src/Drawer/drawerClasses.ts
  packages/mui-joy/src/Drawer/index.ts
  packages/mui-joy/src/Modal/Modal.tsx
  packages/mui-joy/src/Modal/ModalProps.ts
  packages/mui-joy/src/Modal/modalClasses.ts
  packages/mui-joy/src/index.ts
Labels: component: drawer, package: joy-ui

#38868 [Modal][material] Fix console warning when onTransitionEnter , onTransitionExit provided
  packages/mui-material/src/Modal/Modal.js
  packages/mui-material/src/Modal/Modal.test.js
Labels: bug 🐛, component: modal, package: material-ui

#38520 [ButtonGroup] Determine first, last and middle buttons to support different elements with correct styling
  docs/pages/material-ui/api/button-group.json
  docs/translations/api-docs/button-group/button-group.json
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/ButtonGroup/ButtonGroup.js
  packages/mui-material/src/ButtonGroup/ButtonGroup.test.js
  packages/mui-material/src/ButtonGroup/ButtonGroupButtonContext.ts
  packages/mui-material/src/ButtonGroup/buttonGroupClasses.ts
  test/regressions/fixtures/ButtonGroup/DifferentChildren.js
Labels: bug 🐛, component: button, package: material-ui, component: ButtonGroup

#38826 [docs][base-ui] Structure and style revisions for Component docs
  docs/data/base/components/autocomplete/autocomplete.md
  docs/data/base/components/badge/badge.md
  docs/data/base/components/button/button.md
  docs/data/base/components/click-away-listener/click-away-listener.md
  docs/data/base/components/focus-trap/focus-trap.md
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/input/input.md
  docs/data/base/components/menu/menu.md
  docs/data/base/components/modal/modal.md
  docs/data/base/components/no-ssr/no-ssr.md
  docs/data/base/components/number-input/number-input.md
  docs/data/base/components/popper/popper.md
  docs/data/base/components/popup/popup.md
  docs/data/base/components/portal/portal.md
  docs/data/base/components/select/select.md
  docs/data/base/components/slider/slider.md
  docs/data/base/components/snackbar/snackbar.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/table-pagination/table-pagination.md
  docs/data/base/components/tabs/tabs.md
  docs/data/base/components/textarea-autosize/textarea-autosize.md
Labels: docs, package: base-ui

#38864 [docs] Clearer npm package homepages
  packages/mui-base/package.json
  packages/mui-joy/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-utils/package.json
Labels: docs

#38827 Revert "[Autocomplete] Type multiple values with readonly arrays."
  docs/data/joy/components/autocomplete/GitHubLabel.tsx
  docs/data/material/components/autocomplete/GitHubLabel.tsx
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-base/src/useAutocomplete/useAutocomplete.spec.ts
  packages/mui-material/src/Autocomplete/Autocomplete.spec.tsx
Labels: component: autocomplete, regression

#38794 [system] Remove getInitColorSchemeScript leading spaces
  packages/mui-system/src/cssVars/getInitColorSchemeScript.tsx
Labels: package: system, enhancement

#38884 [system] Remove dead code
  packages/mui-system/src/cssVars/getInitColorSchemeScript.tsx
Labels: performance, package: system

#38747 [docs] Fix use of callouts
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs, core

#38758 [docs-infra] Catch duplicated trailing splashes in links
  docs/.link-check-errors.txt
  docs/pages/blog/first-look-at-joy.md
  docs/scripts/reportBrokenLinks.js
  packages/markdown/parseMarkdown.js
  packages/markdown/prepareMarkdown.test.js
Labels: bug 🐛, scope: docs-infra

#38570 [base-ui] Improve recommended usage guide
  docs/data/base/getting-started/customization/DisabledDefaultClasses.js
  docs/data/base/getting-started/customization/DisabledDefaultClasses.tsx
  docs/data/base/getting-started/customization/DisabledDefaultClasses.tsx.preview
  docs/data/base/getting-started/customization/SlotPropsCallback.js
  docs/data/base/getting-started/customization/SlotPropsCallback.tsx
  docs/data/base/getting-started/customization/SlotPropsCallback.tsx.preview
  docs/data/base/getting-started/customization/StylingCustomCss.js
  docs/data/base/getting-started/customization/StylingCustomCss.tsx
  docs/data/base/getting-started/customization/StylingCustomCss.tsx.preview
  docs/data/base/getting-started/customization/StylingHooks.js
  docs/data/base/getting-started/customization/StylingHooks.tsx
  docs/data/base/getting-started/customization/StylingHooks.tsx.preview
  docs/data/base/getting-started/customization/StylingSlots.js
  docs/data/base/getting-started/customization/StylingSlots.tsx
  docs/data/base/getting-started/customization/StylingSlots.tsx.preview
  docs/data/base/getting-started/customization/StylingSlotsSingleComponent.js
  docs/data/base/getting-started/customization/StylingSlotsSingleComponent.tsx
  docs/data/base/getting-started/customization/StylingSlotsSingleComponent.tsx.preview
  docs/data/base/getting-started/customization/customization.md
Labels: docs, package: base-ui

#38907 [docs][joy-ui] Fix copy on the Tutorial page
  docs/data/joy/getting-started/tutorial/tutorial.md
Labels: docs, package: joy-ui

#38878 [FocusTrap] Refactor & cleanup
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
Labels: component: FocusTrap, enhancement

#38849 [base-ui][useInput] Align ExternalProps naming
  docs/pages/base-ui/api/use-input.json
  packages/mui-base/src/useInput/useInput.test.tsx
  packages/mui-base/src/useInput/useInput.ts
  packages/mui-base/src/useInput/useInput.types.ts
Labels: package: base-ui

#38914 [core] Move types packages to docs' devDependencies
  docs/package.json
Labels: core, website

#38831 [core] Fix prop-types generation
  packages/api-docs-builder/utils/getPropsFromComponentNode.ts
  packages/mui-lab/src/Timeline/Timeline.types.ts
  packages/mui-material-next/src/Slider/Slider.tsx
  packages/mui-material/src/Slider/Slider.js
  packages/typescript-to-proptypes/src/injectPropTypesInFile.ts
  scripts/generateProptypes.ts
Labels: core

#38906 [docs] Improve npm experience
  README.md
  packages/mui-base/README.md
  packages/mui-icons-material/README.md
  packages/mui-joy/README.md
  packages/mui-lab/README.md
  packages/mui-material/README.md
  packages/mui-styled-engine-sc/README.md
  packages/mui-styled-engine/README.md
  packages/mui-styles/README.md
  packages/mui-system/README.md
  scripts/copyFiles.mjs
Labels: docs

#38880 [docs–infra] Fix callout container width
  docs/data/joy/integrations/next-js-app-router/next-js-app-router.md
  docs/data/material/guides/next-js-app-router/next-js-app-router.md
  docs/pages/experiments/docs/callouts.md
  docs/src/modules/components/MarkdownElement.js
Labels: bug 🐛, design, scope: docs-infra

#38824 [docs-infra] Improve show code button affordance
  docs/src/modules/components/DemoToolbar.js
Labels: design, scope: docs-infra

#38544 [Tabs] Scrollable tabs shouldn't crash when customizing their styles in the theme with slot callbacks
  packages/mui-material-next/src/Tabs/Tabs.js
  packages/mui-material/src/Tabs/Tabs.js
  packages/mui-material/src/Tabs/Tabs.test.js
Labels: bug 🐛, component: tabs, package: material-ui

#38876 [AlertTitle][BreadCrumbs] Fix inheritance message in docs
  docs/pages/material-ui/api/alert-title.json
  docs/pages/material-ui/api/breadcrumbs.json
  packages/mui-material/src/AlertTitle/AlertTitle.d.ts
  packages/mui-material/src/AlertTitle/AlertTitle.test.js
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.d.ts
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.test.js
Labels: docs, component: breadcrumbs, package: material-ui, component: alert

#38814 [joy-ui][AccordionGroup] Add missing `variant` and `color` classes
  docs/pages/joy-ui/api/accordion-group.json
  docs/translations/api-docs-joy/accordion-group/accordion-group.json
  packages/mui-joy/src/AccordionGroup/AccordionGroup.test.tsx
  packages/mui-joy/src/AccordionGroup/AccordionGroup.tsx
  packages/mui-joy/src/AccordionGroup/accordionGroupClasses.ts
Labels: component: accordion, package: joy-ui

#38807 [docs][joy-ui] Refine the Messages template
  docs/data/joy/getting-started/templates/messages/App.tsx
  docs/data/joy/getting-started/templates/messages/components/AvatarWithStatus.tsx
  docs/data/joy/getting-started/templates/messages/components/ChatBubble.tsx
  docs/data/joy/getting-started/templates/messages/components/ChatListItem.tsx
  docs/data/joy/getting-started/templates/messages/components/ChatsPane.tsx
  docs/data/joy/getting-started/templates/messages/components/ColorSchemeToggle.tsx
  docs/data/joy/getting-started/templates/messages/components/FileIcon.tsx
  docs/data/joy/getting-started/templates/messages/components/Header.tsx
  docs/data/joy/getting-started/templates/messages/components/MessageInput.tsx
  docs/data/joy/getting-started/templates/messages/components/MessagesPane.tsx
  docs/data/joy/getting-started/templates/messages/components/MessagesPaneHeader.tsx
  docs/data/joy/getting-started/templates/messages/components/MyMessages.tsx
  docs/data/joy/getting-started/templates/messages/components/Sidebar.tsx
  docs/data/joy/getting-started/templates/messages/data.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/Sidebar.tsx
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
Labels: docs, package: joy-ui, design: joy

#38935 [base-ui][useSnackbar] Align externalProps handling
  docs/pages/base-ui/api/use-snackbar.json
  packages/mui-base/src/useSnackbar/useSnackbar.test.tsx
  packages/mui-base/src/useSnackbar/useSnackbar.ts
  packages/mui-base/src/useSnackbar/useSnackbar.types.ts
Labels: component: snackbar, package: base-ui

#38940 [core] Remove workspace dependencies from root package.json
  package.json
Labels: core

#38951 [core] Remove package declaration from same package dependencies
  packages/mui-base/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
Labels: core

#38920 [release] v5.14.9
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-runtime/package.json
  packages/zero-tag-processor/package.json
  packages/zero-vite-plugin/package.json
  test/package.json
Labels: release

#38956 [core] Fix bundle size upload to S3 job
  .circleci/config.yml
Labels: core

#38919 [Autocomplete][base-ui] Added ref to getInputProps return value
  docs/data/base/components/autocomplete/AutocompleteIntroduction/system/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/system/index.tsx
  docs/data/base/components/autocomplete/AutocompleteIntroduction/tailwind/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/tailwind/index.tsx
  docs/pages/base-ui/api/use-autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
Labels: typescript, component: autocomplete

#38971 [core] Remove react from styled-engine dependencies
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
Labels: core, package: styled-engine, package: styled-engine-sc

#38974 [core] Remove react-dom from @mui/utils peerDependencies
  packages/mui-utils/package.json
Labels: bug 🐛, package: utils, core

#38757 [NumberInput][base-ui] Warn when changing control mode with `useControlled`
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.test.tsx
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.ts
Labels: package: base-ui, enhancement, component: number input

#38973 [docs-infra] Display markdown lists correctly in docs for props description
  docs/src/modules/components/PropertiesTable.js
  docs/src/pages/production-error/ErrorDecoder.js
  docs/translations/api-docs-base/slider/slider.json
  docs/translations/api-docs-joy/chip-delete/chip-delete.json
  docs/translations/api-docs-joy/slider/slider.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  docs/translations/api-docs/slider/slider.json
  docs/translations/api-docs/tabs/tabs.json
  docs/translations/api-docs/use-autocomplete/use-autocomplete.json
  docs/translations/api-docs/use-dropdown/use-dropdown.json
  docs/translations/api-docs/use-input/use-input.json
  docs/translations/api-docs/use-menu/use-menu.json
  docs/translations/api-docs/use-modal/use-modal.json
  docs/translations/api-docs/use-number-input/use-number-input.json
  docs/translations/api-docs/use-select/use-select.json
  docs/translations/api-docs/use-slider/use-slider.json
  docs/translations/api-docs/use-snackbar/use-snackbar.json
  docs/translations/api-docs/use-tab/use-tab.json
  docs/translations/api-docs/use-tabs-list/use-tabs-list.json
  docs/translations/api-docs/use-tabs/use-tabs.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/utils/generatePropDescription.ts
  packages/markdown/index.d.ts
  packages/markdown/index.js
  packages/markdown/parseMarkdown.js
  packages/markdown/parseMarkdown.test.js
  packages/mui-material/src/Tabs/Tabs.d.ts
  packages/mui-material/src/Tabs/Tabs.js
Labels: bug 🐛, docs, scope: docs-infra

#38796 [base-ui][Select] Fix Select button layout shift, add placeholder prop
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.js
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx
  docs/data/base/components/select/UnstyledSelectCustomRenderValue.tsx.preview
  docs/data/base/components/select/UnstyledSelectGrouping.js
  docs/data/base/components/select/UnstyledSelectGrouping.tsx
  docs/data/base/components/select/UnstyledSelectGrouping.tsx.preview
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.js
  docs/data/base/components/select/UnstyledSelectObjectValuesForm.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.js
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx.preview
  docs/pages/base-ui/api/select.json
  docs/translations/api-docs-base/select/select.json
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Select/Select.tsx
  packages/mui-base/src/Select/Select.types.ts
Labels: component: select, package: base-ui

#38848 [base-ui][useList] Accept arbitrary external props and forward to root
  packages/mui-base/src/useList/useList.test.tsx
  packages/mui-base/src/useList/useList.ts
  packages/mui-base/src/useList/useList.types.ts
  packages/mui-base/src/useList/useListItem.ts
  packages/mui-base/src/useList/useListItem.types.ts
Labels: package: base-ui

#38969 [docs] Exclude joy-ui LinearProgressCountup from visual regression
  test/regressions/index.js
Labels: bug 🐛, docs, package: joy-ui

#38955 [joy-ui][GlobalStyles] Ensure compatibility with RSC
  packages/api-docs-builder/buildApi.ts
  packages/mui-joy/src/GlobalStyles/GlobalStyles.tsx
  packages/mui-joy/src/GlobalStyles/index.tsx
Labels: bug 🐛, component: GlobalStyles, package: joy-ui

#38984 [Chip][material] Add cursor CSS property reset
  packages/mui-material/src/Chip/Chip.js
Labels: component: chip, package: material-ui

#38987 [website] Create the `InfoCard` component
  docs/src/components/action/InfoCard.tsx
  docs/src/components/home/ValueProposition.tsx
  docs/src/components/productBaseUI/BaseUISummary.tsx
  docs/src/components/productDesignKit/DesignKitValues.tsx
  docs/src/modules/brandingTheme.ts
Labels: website

#38842 [docs][joy-ui] Revise the Overview page
  docs/data/joy/getting-started/overview/overview.md
  docs/public/static/joy-ui/overview/order-dashboard.png
  docs/src/modules/components/JoyStartingLinksCollection.js
Labels: docs, package: joy-ui

#38806 [core] Allow deeper import of @mui/utils
  .eslintrc.js
  docs/data/base/components/autocomplete/UseAutocompletePopper.js
  docs/data/base/components/autocomplete/UseAutocompletePopper.tsx
  packages/mui-base/src/FormControl/FormControl.tsx
  packages/mui-base/tsconfig.build.json
  packages/mui-material/scripts/rollup.config.mjs
  packages/mui-material/src/ListSubheader/listSubheaderClasses.ts
  packages/mui-system/tsconfig.build.json
  packages/mui-utils/src/capitalize/capitalize.test.js
  packages/mui-utils/src/integerPropType.d.ts
  packages/mui-utils/tsconfig.build.json
  tsconfig.json
Labels: performance, core

#39011 [website] Improve lighthouse score
  docs/data/base/getting-started/quickstart/BaseButtonPlainCss.js
  docs/data/base/getting-started/quickstart/BaseButtonPlainCss.tsx
  docs/data/base/getting-started/quickstart/BaseButtonPlainCss.tsx.preview
  docs/data/joy/customization/dark-mode/dark-mode-pt.md
  docs/data/joy/customization/dark-mode/dark-mode-zh.md
  docs/data/joy/customization/dark-mode/dark-mode.md
  docs/data/joy/main-features/dark-mode-optimization/dark-mode-optimization.md
  docs/data/material/experimental-api/css-theme-variables/migration.md
  docs/data/material/experimental-api/css-theme-variables/usage.md
  docs/pages/_document.js
  docs/pages/about.tsx
  docs/pages/blog/first-look-at-joy.md
  docs/pages/careers.tsx
  docs/public/static/branding/companies/nasa-light.svg
  docs/public/static/branding/companies/nasa.svg
  docs/public/static/branding/companies/netflix-light.svg
  docs/public/static/branding/companies/netflix.svg
  docs/public/static/branding/companies/salesforce-light.svg
  docs/public/static/branding/companies/salesforce.svg
  docs/public/static/branding/companies/samsung-light.svg
  docs/public/static/branding/companies/samsung.svg
  docs/public/static/branding/companies/siemens-light.svg
  docs/public/static/branding/companies/siemens.svg
  docs/public/static/branding/companies/twitter-light.svg
  docs/public/static/branding/companies/twitter.svg
  docs/src/components/home/CompaniesGrid.tsx
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/components/home/References.tsx
  docs/src/components/icon/IconImage.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productMaterial/MaterialTemplates.tsx
  docs/src/components/productTemplate/TemplateDemo.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/showcase/RealEstateCard.tsx
Labels: website

#38950 [joy-ui][AccordionGroup] Fix console warning when using custom color
  docs/pages/joy-ui/api/accordion-group.json
  packages/mui-joy/src/AccordionGroup/AccordionGroup.test.tsx
  packages/mui-joy/src/AccordionGroup/AccordionGroup.tsx
Labels: bug 🐛, component: accordion, package: joy-ui

#38684 [docs][Dialog] Add non-modal dialog docs & demo
  docs/data/material/components/dialogs/CookiesBanner.js
  docs/data/material/components/dialogs/CookiesBanner.tsx
  docs/data/material/components/dialogs/dialogs.md
Labels: docs, component: dialog, package: material-ui

#38486 [docs][material-ui][Pagination] Add `TablePagination` to the API components list
  docs/data/material/components/pagination/pagination.md
  docs/pages/material-ui/api/table-pagination.json
  packages/mui-material/src/TablePagination/TablePagination.d.ts
Labels: docs, package: material-ui, component: pagination, component: TablePagination

#39030 [utils] Move @types/prop-types back to dependencies
  packages/mui-utils/package.json
Labels: bug 🐛, typescript, package: utils, regression

#39033 [core] Move eslint to peer dependencies of eslint-plugin-material-ui
  packages/eslint-plugin-material-ui/package.json
Labels: core

#39006 [docs-infra] Open demo crash in the right repository
  docs/src/modules/components/DemoErrorBoundary.js
Labels: bug 🐛, scope: docs-infra

#39035 [core] Add a comment to explain `useEnhancedEffect`
  packages/mui-utils/src/useEnhancedEffect/useEnhancedEffect.ts
Labels: docs

#38728 [TextareaAutosize] Simplify logic and add test
  docs/data/joy/components/autocomplete/Asynchronous.js
  docs/data/joy/components/autocomplete/Asynchronous.tsx
  docs/data/material/components/autocomplete/Asynchronous.js
  docs/data/material/components/autocomplete/Asynchronous.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.test.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
  packages/mui-lab/src/Masonry/Masonry.js
  packages/waterfall/sleep.mjs
  test/bundling/fixtures/create-react-app/testCreateReactAppIntegration.js
  test/bundling/fixtures/esbuild/testEsbuildIntegration.js
  test/bundling/fixtures/gatsby/testGatsbyIntegration.js
  test/bundling/fixtures/next-webpack4/testNextWebpack4Integration.js
  test/bundling/fixtures/next-webpack5/testNextWebpack5Integration.js
  test/bundling/fixtures/snowpack/testSnowpackIntegration.js
  test/bundling/fixtures/vite/testViteIntegration.js
  test/e2e/index.test.ts
Labels: test, component: TextareaAutosize

#38792 [docs] Add live demo with CssVarsProvider
  docs/data/material/experimental-api/css-theme-variables/overview.md
  docs/data/material/experimental-api/css-theme-variables/usage/CssVarsBasic.js
  docs/data/material/experimental-api/css-theme-variables/usage/CssVarsBasic.tsx
  docs/data/material/experimental-api/css-theme-variables/usage/CssVarsBasic.tsx.preview
  docs/data/material/experimental-api/css-theme-variables/usage/usage.md
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
  docs/pages/material-ui/experimental-api/css-theme-variables/usage.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: docs, package: material-ui

#38942 [docs][joy-ui] Refine the Sign in template
  docs/data/joy/getting-started/templates/sign-in-side/App.tsx
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side.jpg
Labels: docs, package: joy-ui, design: joy

#38855 [Select][material-ui] Missing aria-multiselectable attribute on multiple Select component
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: accessibility, component: select, package: material-ui

#38954 [docs-infra] Fix key warning in Base UI Slider slots section
  docs/src/modules/components/ApiPage/ApiItem.tsx
  docs/src/modules/components/ApiPage/SlotsList.tsx
Labels: bug 🐛, component: slider, package: base-ui, scope: docs-infra

#38900 [base-ui][NumberInput] Support adornments
  docs/data/base/components/number-input/NumberInputAdornments.js
  docs/data/base/components/number-input/NumberInputAdornments.tsx
  docs/data/base/components/number-input/number-input.md
  docs/pages/base-ui/api/number-input.json
  docs/translations/api-docs-base/number-input/number-input.json
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
  packages/mui-base/src/Unstable_NumberInput/NumberInput.tsx
  packages/mui-base/src/Unstable_NumberInput/NumberInput.types.ts
  packages/mui-base/src/Unstable_NumberInput/numberInputClasses.ts
Labels: new feature, package: base-ui, component: number input

#39038 [base-ui][useSelect][useOption] Align external props handling
  docs/pages/base-ui/api/use-option.json
  docs/pages/base-ui/api/use-select.json
  docs/translations/api-docs/use-option/use-option.json
  packages/mui-base/src/useOption/useOption.ts
  packages/mui-base/src/useOption/useOption.types.ts
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
Labels: component: select, package: base-ui

#38975 [website] Small fixes on the X marketing page
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/route.ts
Labels: website

#39000 [docs][base] Add Tailwind CSS + plain CSS demo on the Tabs page
  docs/data/base/components/tabs/UnstyledTabsIntroduction/css/index.js
  docs/data/base/components/tabs/UnstyledTabsIntroduction/css/index.tsx
  docs/data/base/components/tabs/UnstyledTabsIntroduction/system/UnstyledTabsIntroduction.tsx.preview
  docs/data/base/components/tabs/UnstyledTabsIntroduction/system/index.js
  docs/data/base/components/tabs/UnstyledTabsIntroduction/system/index.tsx
  docs/data/base/components/tabs/UnstyledTabsIntroduction/system/index.tsx.preview
  docs/data/base/components/tabs/UnstyledTabsIntroduction/tailwind/index.js
  docs/data/base/components/tabs/UnstyledTabsIntroduction/tailwind/index.tsx
  docs/data/base/components/tabs/UnstyledTabsIntroduction/tailwind/index.tsx.preview
  docs/data/base/components/tabs/tabs.md
Labels: docs, component: tabs

#38946 [base-ui][useMenu] Align external props handling for useMenu/MenuButton/MenuItem
  docs/pages/base-ui/api/use-menu-button.json
  docs/pages/base-ui/api/use-menu-item.json
  docs/pages/base-ui/api/use-menu.json
  packages/mui-base/src/useMenu/useMenu.test.js
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useMenu/useMenu.types.ts
  packages/mui-base/src/useMenuButton/useMenuButton.test.tsx
  packages/mui-base/src/useMenuButton/useMenuButton.ts
  packages/mui-base/src/useMenuButton/useMenuButton.types.ts
  packages/mui-base/src/useMenuItem/useMenuItem.test.tsx
  packages/mui-base/src/useMenuItem/useMenuItem.ts
  packages/mui-base/src/useMenuItem/useMenuItem.types.ts
Labels: component: menu, package: base-ui

#39070 [core] Update Babel types along with source packages
  renovate.json
Labels: core

#39039 [FormControl][material-next] Copy v5 FormControl
  packages/mui-material-next/src/FormControl/FormControl.d.ts
  packages/mui-material-next/src/FormControl/FormControl.js
  packages/mui-material-next/src/FormControl/FormControl.test.js
  packages/mui-material-next/src/FormControl/FormControlContext.ts
  packages/mui-material-next/src/FormControl/formControlClasses.ts
  packages/mui-material-next/src/FormControl/formControlState.js
  packages/mui-material-next/src/FormControl/index.d.ts
  packages/mui-material-next/src/FormControl/index.js
  packages/mui-material-next/src/FormControl/useFormControl.ts
  packages/mui-material-next/src/index.ts
Labels: component: FormControl, design: material you

#39086 [docs][joy-ui] Fix the Templates link on the Overview page
  docs/src/modules/components/JoyStartingLinksCollection.js
Labels: docs, package: joy-ui

#39082 [docs][joy-ui] Simplify the button's loading indicator demo
  docs/data/joy/components/button/ButtonIcons.js
  docs/data/joy/components/button/ButtonIcons.tsx
  docs/data/joy/components/button/ButtonIcons.tsx.preview
  docs/data/joy/components/button/ButtonLoadingIndicator.js
  docs/data/joy/components/button/ButtonLoadingIndicator.tsx
  docs/data/joy/components/button/ButtonLoadingIndicator.tsx.preview
  docs/data/joy/components/button/ButtonLoadingPosition.js
  docs/data/joy/components/button/ButtonLoadingPosition.tsx
  docs/data/joy/components/button/ButtonLoadingPosition.tsx.preview
Labels: docs, component: button, package: joy-ui

#38733 [website] Update the about page
  docs/pages/about.tsx
  docs/pages/careers.tsx
  docs/public/static/branding/about/group-photo/group-photo.jpg
  docs/public/static/branding/about/group-photo/group-photo.png
  docs/public/static/branding/about/group-photo/outdoor-focus-group.png
  docs/public/static/branding/about/group-photo/portugal-sight-seeing.png
  docs/public/static/branding/about/group-photo/scuba-gear.png
  docs/public/static/branding/about/group-photo/skiers.jpg
  docs/public/static/branding/about/group-photo/skiers.png
  docs/public/static/branding/about/group-photo/snow-tea.png
  docs/public/static/branding/about/group-photo/team-dinner.png
  docs/public/static/branding/about/group-photo/teide-group.jpg
  docs/public/static/branding/about/group-photo/teide-group.png
  docs/public/static/branding/about/group-photo/working-table-portugal.png
  docs/public/static/branding/about/group-photo/working-table-tenerife.png
  docs/public/static/branding/about/illustrations/better-dark.svg
  docs/public/static/branding/about/illustrations/better-light.svg
  docs/public/static/branding/about/illustrations/bureaucracy-dark.svg
  docs/public/static/branding/about/illustrations/bureaucracy-light.svg
  docs/public/static/branding/about/illustrations/community-dark.svg
  docs/public/static/branding/about/illustrations/community-light.svg
  docs/public/static/branding/about/illustrations/team-globe-distribution-dark.png
  docs/public/static/branding/about/illustrations/team-globe-distribution-light.png
  docs/public/static/branding/about/illustrations/trust-dark.svg
  docs/public/static/branding/about/illustrations/trust-light.svg
  docs/src/components/about/AboutEnd.tsx
  docs/src/components/about/AboutHero.tsx
  docs/src/components/about/HowToSupport.tsx
  docs/src/components/about/OurValues.tsx
  docs/src/components/about/Team.tsx
  docs/src/components/about/TeamStatistics.tsx
  docs/src/components/action/InfoCard.tsx
  docs/src/components/typography/SectionHeadline.tsx
  docs/src/modules/brandingTheme.ts
Labels: website

#39049 [docs] Improve the default theme viewer design
  docs/data/joy/customization/default-theme-viewer/default-theme-viewer.md
  docs/data/material/customization/default-theme/DefaultTheme.js
  docs/data/material/customization/default-theme/default-theme.md
  docs/pages/joy-ui/customization/default-theme-viewer.js
  docs/pages/material-ui/customization/default-theme.js
  docs/src/modules/components/ThemeViewer.tsx
Labels: docs, design

#38802 [blog] Add a company values blog post
  docs/pages/blog/2023-mui-values.js
  docs/pages/blog/2023-mui-values.md
  docs/public/static/blog/2023-mui-values/card.png
  docs/public/static/blog/2023-mui-values/email.png
  docs/public/static/blog/2023-mui-values/figjam-board.png
  docs/public/static/blog/2023-mui-values/good-values.png
  docs/public/static/blog/2023-mui-values/notion-values-page.png
  docs/public/static/blog/2023-mui-values/thanks-and-praise.png
  docs/public/static/blog/2023-mui-values/themes-video.png
  docs/public/static/blog/2023-mui-values/values-illustrations.png
  docs/public/static/blog/2023-mui-values/values-survey.png
Labels: blog

#38483 [Skeleton][material-ui] Add new props to the Skeleton component
  docs/data/material/components/skeleton/Facebook.js
  docs/data/material/components/skeleton/Facebook.tsx
  docs/data/material/components/skeleton/Shapes.js
  docs/data/material/components/skeleton/Shapes.tsx
  docs/data/material/components/skeleton/Shapes.tsx.preview
  docs/data/material/components/skeleton/Sizes.js
  docs/data/material/components/skeleton/Sizes.tsx
  docs/data/material/components/skeleton/Sizes.tsx.preview
  docs/data/material/components/skeleton/SkeletonChildren.js
  docs/data/material/components/skeleton/SkeletonChildren.tsx
  docs/data/material/components/skeleton/SkeletonColor.js
  docs/data/material/components/skeleton/SkeletonColor.tsx
  docs/data/material/components/skeleton/SkeletonColor.tsx.preview
  docs/data/material/components/skeleton/Variants.js
  docs/data/material/components/skeleton/Variants.tsx
  docs/data/material/components/skeleton/Variants.tsx.preview
  docs/data/material/components/skeleton/YouTube.js
  docs/data/material/components/skeleton/YouTube.tsx
  docs/data/material/components/skeleton/skeleton-pt.md
  docs/data/material/components/skeleton/skeleton-zh.md
  docs/data/material/components/skeleton/skeleton.md
  docs/pages/material-ui/api/skeleton.json
  docs/translations/api-docs/skeleton/skeleton.json
  packages/mui-material/src/Skeleton/Skeleton.d.ts
  packages/mui-material/src/Skeleton/Skeleton.js
  packages/mui-material/src/Skeleton/Skeleton.test.js
  packages/mui-material/src/Skeleton/skeletonClasses.ts
Labels: package: material-ui, component: skeleton

#39112 [core] Simplify career
  .eslintrc.js
  crowdin.yml
  docs/data/joy/components/card/CardUsage.js
  docs/data/joy/getting-started/templates/messages/data.tsx
  docs/nextConfigDocsInfra.js
  docs/pages/careers/ROLE_TEMPLATE.md
  docs/pages/careers/accessibility-engineer.js
  docs/pages/careers/accessibility-engineer.md
  docs/pages/careers/design-engineer.js
  docs/pages/careers/design-engineer.md
  docs/pages/careers/designer.md
  docs/pages/careers/developer-advocate.md
  docs/pages/careers/developer-experience-engineer.md
  docs/pages/careers/engineering-manager.md
  docs/pages/careers/full-stack-engineer.md
  docs/pages/careers/fullstack-engineer.js
  docs/pages/careers/head-of-operations.md
  docs/pages/careers/people-operation-manager.md
  docs/pages/careers/product-engineer.js
  docs/pages/careers/product-engineer.md
  docs/pages/careers/product-manager.md
  docs/pages/careers/product-marketing-manager.js
  docs/pages/careers/product-marketing-manager.md
  docs/pages/careers/react-community-engineer.js
  docs/pages/careers/react-community-engineer.md
  docs/pages/careers/react-engineer-core.js
  docs/pages/careers/react-engineer-core.md
  docs/pages/careers/react-engineer-x-grid.md
  docs/pages/careers/react-engineer-x.js
  docs/pages/careers/react-engineer-x.md
  docs/pages/careers/react-tech-lead-core.js
  docs/pages/careers/react-tech-lead-core.md
  docs/pages/careers/react-tech-lead-x-grid.js
  docs/pages/careers/react-tech-lead-x-grid.md
  docs/pages/careers/senior-designer.md
  docs/pages/careers/support-agent.md
  docs/pages/careers/technical-product-manager.md
  docs/pages/careers/technical-recruiter.js
  docs/pages/careers/technical-recruiter.md
  docs/src/components/about/OurValues.tsx
  docs/src/components/icon/IconImage.tsx
  docs/src/components/productBaseUI/BaseUIComponents.tsx
  docs/src/components/productBaseUI/BaseUITestimonial.tsx
  packages/eslint-plugin-material-ui/src/index.js
  packages/eslint-plugin-material-ui/src/rules/straight-quotes.js
  packages/eslint-plugin-material-ui/src/rules/straight-quotes.test.js
  packages/markdownlint-rule-mui/straight-quotes.js
Labels: core

#38903 [core] Improve ref type definition
  docs/data/joy/components/menu/MenuListComposition.js
  docs/data/joy/components/menu/MenuListComposition.tsx
  docs/src/components/action/Highlighter.tsx
  docs/src/components/action/More.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/ElementPointer.tsx
  docs/src/layouts/HeroContainer.tsx
  examples/joy-ui-vite-ts/src/main.tsx
  examples/material-ui-vite-ts/src/main.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/unstable_useModal/useModal.ts
  packages/mui-base/src/useSelect/useSelect.ts
  packages/mui-joy/src/Modal/Modal.test.tsx
Labels: typescript, core

#38985 [docs][base-ui] Improve focus trap demo
  docs/data/base/components/focus-trap/BasicFocusTrap.js
  docs/data/base/components/focus-trap/BasicFocusTrap.tsx
  docs/data/base/components/focus-trap/DisableEnforceFocus.js
  docs/data/base/components/focus-trap/DisableEnforceFocus.tsx
  docs/data/base/components/focus-trap/LazyFocusTrap.js
  docs/data/base/components/focus-trap/LazyFocusTrap.tsx
  docs/data/base/components/focus-trap/PortalFocusTrap.js
  docs/data/base/components/focus-trap/PortalFocusTrap.tsx
Labels: docs, component: FocusTrap

#38638 [Autocomplete] Re-export `AutocompleteValue` to make it available from path import
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
Labels: typescript, package: material-ui, component: autocomplete

#39075 [core] Simplify docs feedback interaction
  .gitignore
  docs/src/modules/components/AppLayoutDocsFooter.js
  netlify/functions/feedback-management.js
Labels: enhancement, scope: docs-infra

#39097 [website] Fix Pricing page row hover
  docs/src/components/pricing/PricingTable.tsx
Labels: design, website

#38988 [docs][joy-ui] Revise the Drawer page
  docs/data/joy/components/drawer/DrawerAnchor.js
  docs/data/joy/components/drawer/DrawerAnchor.tsx
  docs/data/joy/components/drawer/DrawerFilters.js
  docs/data/joy/components/drawer/DrawerFilters.tsx
  docs/data/joy/components/drawer/DrawerMobileNavigation.js
  docs/data/joy/components/drawer/DrawerMobileNavigation.tsx
  docs/data/joy/components/drawer/DrawerUsage.js
  docs/data/joy/components/drawer/drawer.md
  docs/pages/joy-ui/api/dialog-content.json
  docs/pages/joy-ui/api/modal-close.json
  packages/mui-joy/src/DialogContent/DialogContent.tsx
  packages/mui-joy/src/ModalClose/ModalClose.tsx
Labels: docs, component: drawer, package: joy-ui

#39149 [core] Downgrade lerna to 7.2.0
  package.json
  yarn.lock
Labels: dependencies

#39156 [material-ui][Skeleton] Revert "Add new props to the Skeleton component"
  docs/data/material/components/skeleton/Facebook.js
  docs/data/material/components/skeleton/Facebook.tsx
  docs/data/material/components/skeleton/Shapes.js
  docs/data/material/components/skeleton/Shapes.tsx
  docs/data/material/components/skeleton/Shapes.tsx.preview
  docs/data/material/components/skeleton/Sizes.js
  docs/data/material/components/skeleton/Sizes.tsx
  docs/data/material/components/skeleton/Sizes.tsx.preview
  docs/data/material/components/skeleton/SkeletonChildren.js
  docs/data/material/components/skeleton/SkeletonChildren.tsx
  docs/data/material/components/skeleton/SkeletonColor.js
  docs/data/material/components/skeleton/SkeletonColor.tsx
  docs/data/material/components/skeleton/SkeletonColor.tsx.preview
  docs/data/material/components/skeleton/Variants.js
  docs/data/material/components/skeleton/Variants.tsx
  docs/data/material/components/skeleton/Variants.tsx.preview
  docs/data/material/components/skeleton/YouTube.js
  docs/data/material/components/skeleton/YouTube.tsx
  docs/data/material/components/skeleton/skeleton-pt.md
  docs/data/material/components/skeleton/skeleton-zh.md
  docs/data/material/components/skeleton/skeleton.md
  docs/pages/material-ui/api/skeleton.json
  docs/translations/api-docs/skeleton/skeleton.json
  packages/mui-material/src/Skeleton/Skeleton.d.ts
  packages/mui-material/src/Skeleton/Skeleton.js
  packages/mui-material/src/Skeleton/Skeleton.test.js
  packages/mui-material/src/Skeleton/skeletonClasses.ts
Labels: package: material-ui, component: skeleton

#39087 [website] Improve the highlighter component colors
  docs/src/components/action/Highlighter.tsx
  docs/src/components/action/More.tsx
Labels: design, website

#39084 [docs-infra] Improve callouts design
  docs/pages/experiments/docs/callouts.md
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/ApiItem.tsx
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#39056 [l10n] labelDisplayedRows is added for trTR localization
  packages/mui-material/src/locale/index.ts
Labels: l10n

#39074 [Drawer] Add missing `JoyDrawer` in theme components
  packages/mui-joy/src/Drawer/DrawerProps.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: bug 🐛, component: drawer, package: joy-ui

#39151 [docs][joy-ui] Fix wrong hash on Card's page
  docs/data/joy/components/card/card.md
Labels: docs, component: card, package: joy-ui

#39165 [docs-infra] Fix code removal in table of content
  packages/markdown/parseMarkdown.js
  packages/markdown/parseMarkdown.test.js
Labels: scope: docs-infra

#38996 [joy-ui][Button] fix disabled button styling when `component` prop is provided
  packages/mui-joy/src/Button/Button.test.tsx
  packages/mui-joy/src/Button/Button.tsx
Labels: bug 🐛, component: button, package: joy-ui

#39153 v5.14.11
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-next-plugin/package.json
  packages/zero-runtime/package.json
  packages/zero-tag-processor/package.json
  packages/zero-vite-plugin/package.json
  test/package.json
Labels: release

#39162 [docs] Update Autocomplete demo for React 18
  docs/data/material/components/autocomplete/Virtualize.js
  docs/data/material/components/autocomplete/Virtualize.tsx
  docs/data/material/components/autocomplete/Virtualize.tsx.preview
Labels: docs, typescript, component: autocomplete

#38927 [Chip][material-next] Add Material You Chip component
  docs/data/material/components/chips/ChipMaterialYouPlayground.js
  docs/data/material/components/chips/chips.md
  docs/pages/experiments/md3/index.tsx
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/Chip/Chip.js
  packages/mui-material-next/src/Chip/Chip.test.tsx
  packages/mui-material-next/src/Chip/Chip.tsx
  packages/mui-material-next/src/Chip/Chip.types.ts
  packages/mui-material-next/src/Chip/chipClasses.ts
  packages/mui-material-next/src/Chip/index.d.ts
  packages/mui-material-next/src/Chip/index.ts
  packages/mui-material-next/src/internal/svg-icons/Cancel.js
  packages/mui-material-next/src/internal/svg-icons/CheckBox.tsx
  packages/mui-material-next/src/internal/svg-icons/Clear.tsx
  packages/mui-material-next/src/styles/Theme.types.ts
  packages/mui-material-next/src/styles/createDarkColorScheme.ts
  packages/mui-material-next/src/styles/createLightColorScheme.ts
  packages/mui-material-next/src/styles/palette.ts
Labels: component: chip, v6.x, design: material you

#39140 [TextField][material-ui] Polish types in Textfield demo
  docs/data/material/components/text-fields/FormattedInputs.tsx
Labels: docs, component: text field, typescript, enhancement

#38854 [base-ui][useSlider] Align externalProps handling
  docs/pages/base-ui/api/use-slider.json
  packages/mui-base/src/useSlider/useSlider.test.js
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-base/src/useSlider/useSlider.types.ts
Labels: component: slider, package: base-ui

#39147 [joy-ui] Replace margin with `gap` property
  docs/data/joy/components/badge/BadgeVisibility.js
  docs/data/joy/components/badge/BadgeVisibility.tsx
  docs/data/joy/components/badge/BadgeVisibility.tsx.preview
  docs/data/joy/components/checkbox/ExampleFilterMemberCheckbox.js
  docs/data/joy/components/checkbox/ExampleFilterMemberCheckbox.tsx
  packages/mui-joy/src/Breadcrumbs/Breadcrumbs.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Switch/Switch.tsx
Labels: package: joy-ui, enhancement

#39169 [Box] Add missing logical spacing property types
  packages/mui-system/src/Box/Box.d.ts
  packages/mui-system/src/Box/Box.spec.tsx
Labels: bug 🐛, typescript, package: system, component: Box

#39177 [material-ui][Select] Fix MenuProps slotProps forwarding
  packages/mui-material/src/Menu/Menu.d.ts
  packages/mui-material/src/Select/Select.spec.tsx
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: menu, component: select, typescript, package: material-ui, regression

#38785 [material-ui][Select] Improve a11y by adding combobox role and aria-controls attribute
  packages/mui-material-next/src/TablePagination/TablePagination.test.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/TablePagination/TablePagination.test.js
  packages/mui-material/src/TextField/TextField.test.js
  packages/mui-material/test/integration/Select.test.js
Labels: accessibility, component: select, package: material-ui

#39174 [docs][material] Replace `Box` with `Stack` in applicable demos
  docs/data/material/components/icons/CreateSvgIcon.js
  docs/data/material/components/icons/CreateSvgIcon.tsx
  docs/data/material/components/icons/FontAwesomeIcon.js
  docs/data/material/components/icons/FontAwesomeIcon.tsx
  docs/data/material/components/icons/FontAwesomeIconSize.js
  docs/data/material/components/icons/FontAwesomeIconSize.tsx
  docs/data/material/components/icons/FontAwesomeSvgIconDemo.js
  docs/data/material/components/icons/FontAwesomeSvgIconDemo.tsx
  docs/data/material/components/icons/Icons.js
  docs/data/material/components/icons/Icons.tsx
  docs/data/material/components/icons/SvgIconsColor.js
  docs/data/material/components/icons/SvgIconsColor.tsx
  docs/data/material/components/icons/SvgIconsSize.js
  docs/data/material/components/icons/SvgIconsSize.tsx
  docs/data/material/components/text-fields/FormattedInputs.js
  docs/data/material/components/text-fields/FormattedInputs.tsx
Labels: docs, component: Icon, component: text field, package: material-ui, enhancement

#38840 [docs][material-ui] Small revision to the Icons page
  docs/data/material/components/icons/icons.md
Labels: docs, package: material-ui

#39146 [List][joy-ui] Add gap and missing active styles
  docs/data/joy/components/checkbox/ExampleChoiceChipCheckbox.js
  docs/data/joy/components/checkbox/ExampleChoiceChipCheckbox.tsx
  docs/data/joy/components/checkbox/ExampleFilterMemberCheckbox.js
  docs/data/joy/components/checkbox/ExampleFilterMemberCheckbox.tsx
  docs/data/joy/components/list/ExampleCollapsibleList.js
  docs/data/joy/components/list/ExampleCollapsibleList.tsx
  docs/data/joy/components/list/ExampleIOSList.js
  docs/data/joy/components/list/ExampleIOSList.tsx
  docs/data/joy/components/list/ExampleNavigationMenu.js
  docs/data/joy/components/list/ExampleNavigationMenu.tsx
  docs/data/joy/components/tabs/TabsPageExample.js
  docs/data/joy/components/tabs/TabsPageExample.tsx
  docs/data/joy/components/tabs/TabsUsage.js
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.js
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.tsx
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.tsx
  packages/mui-joy/src/TabList/TabList.tsx
Labels: component: list, component: tabs, package: joy-ui, enhancement

#39183 Add next lint config to eslint
  .eslintrc.js
  docs/pages/base-ui.tsx
  docs/pages/joy-ui/getting-started/templates/messages.js
  docs/pages/joy-ui/getting-started/templates/order-dashboard.js
  docs/pages/joy-ui/getting-started/templates/profile-dashboard.js
  docs/pages/joy-ui/getting-started/templates/rental-dashboard.js
  docs/pages/joy-ui/getting-started/templates/sign-in-side.js
  package.json
  yarn.lock
Labels: docs

#39197 [Divider][material-next] Copy v5 Divider
  packages/mui-material-next/src/Divider/Divider.d.ts
  packages/mui-material-next/src/Divider/Divider.js
  packages/mui-material-next/src/Divider/Divider.test.js
  packages/mui-material-next/src/Divider/dividerClasses.ts
  packages/mui-material-next/src/Divider/index.d.ts
  packages/mui-material-next/src/Divider/index.js
Labels: test

#39188 [material-next][Select] Copy Select files from v5
  packages/mui-material-next/src/Select/Select.d.ts
  packages/mui-material-next/src/Select/Select.js
  packages/mui-material-next/src/Select/Select.spec.tsx
  packages/mui-material-next/src/Select/Select.test.js
  packages/mui-material-next/src/Select/SelectInput.d.ts
  packages/mui-material-next/src/Select/SelectInput.js
  packages/mui-material-next/src/Select/index.d.ts
  packages/mui-material-next/src/Select/index.js
  packages/mui-material-next/src/Select/selectClasses.ts
  packages/mui-material-next/src/index.ts
  packages/mui-material-next/src/internal/svg-icons/ArrowDropDown.tsx
Labels: component: select, v6.x

#39194 [website] Simplify the Core products file
  docs/src/components/action/InfoCard.tsx
  docs/src/components/productCore/CoreProducts.tsx
Labels: website

#39163 [docs][joy-ui] Add a roadmap page
  docs/data/joy/getting-started/roadmap/roadmap.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/getting-started/roadmap.js
  docs/public/static/joy-ui/roadmap/github-projects.png
  docs/public/static/joy-ui/roadmap/milestone.png
  docs/src/modules/components/MarkdownElement.js
  docs/translations/translations.json
Labels: docs, package: joy-ui

#39189 [DialogActions][material] Apply margin-left when children is not of `button` type
  packages/mui-material/src/DialogActions/DialogActions.js
  packages/mui-material/src/DialogActions/DialogActions.test.js
Labels: bug 🐛, component: dialog, package: material-ui

#39226 [docs][joy-ui] Fix typo in the Accordion page
  docs/data/joy/components/accordion/accordion.md
Labels: docs, component: accordion, package: joy-ui

#39227 [docs][joy-ui] Removed incomplete sentence in the Aspect Ratio page
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
Labels: docs, package: joy-ui
