Repository mui/material-ui, pull requests merged in 2023-02, with the labels that each got.

#36014 [core] Fix a typo in the comment in setup test files
  test/utils/setup.js
  test/utils/setupJSDOM.js
Labels: test, core

#36016 [docs] Update grammar
  docs/data/material/getting-started/overview/overview.md
Labels: docs, package: material

#36025 [docs] Fix autocomplete render group key warning in the demo
  docs/data/material/components/autocomplete/RenderGroup.js
  docs/data/material/components/autocomplete/RenderGroup.tsx
  docs/data/material/components/autocomplete/RenderGroup.tsx.preview
Labels: docs, component: autocomplete

#36022 [docs] Fix wrong v5 migration instructions
  CHANGELOG.md
  docs/data/material/migration/migration-v4/v5-component-changes-pt.md
  docs/data/material/migration/migration-v4/v5-component-changes-zh.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
Labels: bug 🐛, docs, v5.x migration

#36019 [Joy] Add sign-in side template
  docs/data/joy/getting-started/templates/TemplateCollection.js
  docs/data/joy/getting-started/templates/sign-in-side/App.tsx
  docs/data/joy/getting-started/templates/sign-in-side/GoogleIcon.tsx
  docs/data/joy/getting-started/templates/sign-in-side/theme.ts
  docs/pages/_document.js
  docs/pages/joy-ui/getting-started/templates/sign-in-side.js
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in-side.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/sign-in.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
  docs/scripts/generateTemplateScreenshots.ts
Labels: docs, design: joy

#35994 [System] Fix nested grid v2
  docs/data/material/components/grid2/SpacingGrid.js
  docs/data/material/components/grid2/SpacingGrid.tsx
  packages/mui-system/src/Unstable_Grid/GridProps.ts
  packages/mui-system/src/Unstable_Grid/createGrid.tsx
  packages/mui-system/src/Unstable_Grid/gridGenerator.test.js
  packages/mui-system/src/Unstable_Grid/gridGenerator.ts
Labels: bug 🐛, component: Grid, package: system, package: material, package: joy

#36013 [typescript] Explicitly define the component return types
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/NoSsr/NoSsr.tsx
  packages/mui-base/src/Portal/Portal.tsx
  packages/mui-lab/src/Timeline/Timeline.tsx
  packages/mui-material/src/Popper/Popper.tsx
Labels: bug 🐛, typescript, component: Popper

#35954 [website] Add Albert to the about page
  docs/pages/about.tsx
  docs/public/static/branding/about/albert.png
Labels: website

#35974 [docs] Improve inline preview's information
  docs/data/material/components/text-fields/StateTextFields.js
  docs/data/material/components/text-fields/StateTextFields.tsx
  docs/data/material/components/text-fields/StateTextFields.tsx.preview
Labels: docs, component: text field, dx

#35896 [core] Make it easier to find who is importing specific files
  docs/data/base/pages.ts
  docs/data/material/pages.ts
  docs/data/system/pages.ts
  docs/src/pages.ts
Labels: core

#35969 [blog] Fix dark mode support
  docs/src/modules/components/SkipLink.tsx
  docs/src/modules/components/ThemeContext.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: bug 🐛, regression, blog

#36067 [docs] [Joy] Fixed a typo in `customizing theme tokens`
  docs/data/joy/customization/approaches/approaches-pt.md
  docs/data/joy/customization/approaches/approaches-zh.md
  docs/data/joy/customization/approaches/approaches.md
Labels: bug 🐛, docs, package: joy

#36057 [FormLabel] Export `FormLabelOwnProps` from `FormLabel` to fix type error
  packages/mui-material/src/FormLabel/FormLabel.d.ts
Labels: bug 🐛, typescript, component: FormControl

#36073 [Joy] Miscellaneous fixes
  docs/data/joy/components/checkbox/ExampleSignUpCheckbox.js
  docs/data/joy/components/checkbox/checkbox.md
  docs/data/joy/components/radio/ExampleTiers.js
  docs/data/joy/components/radio/RadioButtonsGroup.js
  docs/data/joy/components/radio/RadioUsage.js
  docs/data/joy/components/table/TableTextEllipsis.js
  docs/data/joy/components/table/TableTextEllipsis.tsx
  docs/data/joy/components/typography/DecoratorExamples.js
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/FormHelperText/FormHelperText.test.js
  packages/mui-joy/src/FormHelperText/FormHelperText.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Link/LinkProps.ts
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Table/Table.tsx
  packages/mui-joy/src/Typography/Typography.tsx
Labels: package: joy

#36070 [website] Fix layout shift
  docs/src/components/icon/IconImage.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productCore/CoreHero.tsx
  docs/src/components/productDesignKit/DesignKitHero.tsx
  docs/src/components/productTemplate/TemplateHero.tsx
  docs/src/components/productX/XHero.tsx
Labels: bug 🐛, website, design: ux

#36074 [docs] Add banner pointing to "Whats new" in MUI X page
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/featureToggle.js
Labels: docs

#36039 [docs][joy] Add JSDoc for the `AutocompleteProps` type
  packages/mui-joy/src/Autocomplete/AutocompleteProps.ts
Labels: docs, typescript, component: autocomplete, package: joy

#36079 v5.11.8
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
Labels: release

#35995 [POC] Add deploy preview to PR body
  dangerfile.ts
Labels: docs, core

#35868 [docs] Revise Joy UI "Typography" page
  docs/data/joy/components/typography/TypographyBasics.js
  docs/data/joy/components/typography/TypographyBasics.tsx
  docs/data/joy/components/typography/TypographyBasics.tsx.preview
  docs/data/joy/components/typography/typography.md
  examples/gatsby/gatsby-config.js
  examples/gatsby/plugins/gatsby-plugin-mui-emotion/gatsby-browser.js
  examples/gatsby/plugins/gatsby-plugin-mui-emotion/gatsby-ssr.js
  examples/gatsby/plugins/gatsby-plugin-mui-emotion/getEmotionCache.js
  examples/gatsby/plugins/gatsby-plugin-mui-emotion/package.json
  examples/gatsby/plugins/gatsby-plugin-top-layout/TopLayout.js
  examples/gatsby/plugins/gatsby-plugin-top-layout/gatsby-browser.js
  examples/gatsby/plugins/gatsby-plugin-top-layout/gatsby-ssr.js
  examples/gatsby/plugins/gatsby-plugin-top-layout/package.json
Labels: docs, component: Typography, package: joy

#36036 [useInput] Add return value interface
  docs/pages/base/api/use-input.json
  docs/translations/api-docs/use-input/use-input.json
  packages/mui-base/src/InputUnstyled/useInput.ts
  packages/mui-base/src/InputUnstyled/useInput.types.ts
Labels: typescript, package: base

#35640 [Autocomplete] Correct padding of filled Autocomplete
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: component: autocomplete

#35323 [core] Convert the waterfall module to an internal package
  .eslintrc.js
  packages/mui-icons-material/builder.mjs
  packages/mui-icons-material/scripts/download.mjs
  packages/waterfall/Queue.mjs
  packages/waterfall/README.md
  packages/waterfall/index.mjs
  packages/waterfall/package.json
  packages/waterfall/retry.mjs
  packages/waterfall/sleep.mjs
  packages/waterfall/waitUntil.mjs
Labels: core

#35970 [docs] Revise Joy UI "Input" page
  docs/data/joy/components/input/InputColors.js
  docs/data/joy/components/input/InputColors.tsx
  docs/data/joy/components/input/InputColors.tsx.preview
  docs/data/joy/components/input/input.md
Labels: docs, component: text field, package: joy

#36102 [docs] Rename `v6-alpha` to `v6-next` in navigation
  docs/src/modules/components/AppNavDrawer.js
Labels: docs

#36113 [docs] Update release instructions
  scripts/README.md
Labels: docs

#35850 [docs] Fix demos showing TypeScript instead of JavaScript
  docs/data/base/components/badge/badge.md
  docs/data/base/components/button/button.md
  docs/data/base/components/input/input.md
  docs/data/base/components/menu/menu.md
  docs/data/base/components/select/select.md
  docs/data/base/components/slider/slider.md
  docs/data/base/components/switch/switch.md
  docs/data/base/components/table-pagination/table-pagination.md
  docs/data/base/components/tabs/tabs.md
  docs/src/modules/components/Demo.js
Labels: bug 🐛, docs, docs-infra

#35912 [website] Revise the Lead Designer role job ad
  docs/src/pages/careers/lead-designer.md
Labels: design, website

#36121 [docs] Fix typo in the released version of @mui/styled-engine
  CHANGELOG.md
Labels: docs

#36127 [docs] Fix classname mismatch on Joy docs
  docs/src/modules/components/Demo.js
Labels: docs

#36069 [blog] Fix the look and feel of the media description
  CHANGELOG.old.md
  CONTRIBUTING.md
  docs/data/material/getting-started/learn/learn.md
  docs/data/material/guides/routing/routing-zh.md
  docs/data/material/guides/routing/routing.md
  docs/pages/blog/2020.md
  docs/pages/blog/2021.md
  docs/pages/blog/build-layouts-faster-with-grid-v2.md
  docs/pages/blog/date-pickers-stable-v5.md
  docs/pages/blog/december-2019-update.md
  docs/pages/blog/first-look-at-joy.md
  docs/pages/blog/lab-date-pickers-to-mui-x.md
  docs/pages/blog/material-ui-is-now-mui.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/blog/premium-plan-release.md
  docs/pages/experiments/docs/blog.js
  docs/pages/experiments/docs/blog.md
  docs/src/modules/components/TopLayoutBlog.js
Labels: bug 🐛, design, blog

#36027 [website] Fix homepage MD theme demo
  docs/src/components/home/MaterialDesignComponents.tsx
Labels: bug 🐛, website, regression

#36053 [UseTabPanel] Add explicit return type
  docs/pages/base/api/use-tab-panel.json
  docs/translations/api-docs/use-tab-panel/use-tab-panel.json
  packages/mui-base/src/TabPanelUnstyled/index.ts
  packages/mui-base/src/TabPanelUnstyled/useTabPanel.ts
  packages/mui-base/src/TabPanelUnstyled/useTabPanel.types.ts
Labels: component: tabs

#36048 [useTabsList] Add explicit return type
  docs/pages/base/api/use-tabs-list.json
  docs/translations/api-docs/use-tabs-list/use-tabs-list.json
  packages/mui-base/src/TabsListUnstyled/useTabsList.ts
  packages/mui-base/src/TabsListUnstyled/useTabsList.types.ts
Labels: component: tabs

#36046 [Tab] Add explicit return type to useTab
  docs/pages/base/api/use-tab.json
  docs/translations/api-docs/use-tab/use-tab.json
  packages/mui-base/src/TabUnstyled/useTab.ts
  packages/mui-base/src/TabUnstyled/useTab.types.ts
Labels: component: tabs

#36023 [docs] Fix react-spring demos
  docs/data/base/components/modal/SpringModal.js
  docs/data/base/components/modal/SpringModal.tsx
  docs/data/material/components/modal/SpringModal.js
  docs/data/material/components/modal/SpringModal.tsx
  docs/data/material/components/popper/SpringPopper.js
  docs/data/material/components/popper/SpringPopper.tsx
  docs/data/material/components/tree-view/CustomizedTreeView.js
  docs/data/material/components/tree-view/CustomizedTreeView.tsx
  docs/package.json
  renovate.json
  yarn.lock
Labels: bug 🐛, docs, dependencies

#36163 [Joy] Miscellaneous fixes
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Table/Table.tsx
  packages/mui-joy/src/styles/extendTheme.ts
Labels: package: joy

#36128 [AppBar] Fix joinVars() not handling undefined
  packages/mui-material/src/AppBar/AppBar.js
Labels: component: app bar

#36076 [useAutocomplete] Fix `useAutocomplete` disabled prop not disabling the input
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.test.js
Labels: bug 🐛, component: autocomplete, package: base

#35382 [core] Migrate all the internals exported by `tests/utils/index.js` to TypeScript
  test/utils/components.tsx
  test/utils/createMount.tsx
  test/utils/createShallow.js
  test/utils/describeConformance.tsx
  test/utils/findOutermostIntrinsic.ts
  test/utils/fireDiscreteEvent.ts
  test/utils/getClasses.js
  test/utils/index.ts
  test/utils/userEvent.ts
Labels: core

#36118 [core] Add default preview url
  dangerfile.ts
  docs/src/modules/utils/useRouterExtra.ts
Labels: core, regression

#36066 [docs] Fix virtualized table column resizing
  docs/data/material/components/tables/ReactVirtualizedTable.js
  docs/data/material/components/tables/ReactVirtualizedTable.tsx
Labels: docs, component: table, design: ux

#35678 [examples][vitejs] Load Roboto font
  examples/vitejs/index.html
Labels: examples

#35964 [base] Override the types of `slotProps` per slot
  packages/mui-base/src/BadgeUnstyled/BadgeUnstyled.types.ts
  packages/mui-base/src/ButtonUnstyled/ButtonUnstyled.types.ts
  packages/mui-base/src/FormControlUnstyled/FormControlUnstyled.types.ts
  packages/mui-base/src/FormControlUnstyled/index.ts
  packages/mui-base/src/InputUnstyled/InputUnstyled.types.ts
  packages/mui-base/src/MenuItemUnstyled/MenuItemUnstyled.types.ts
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.types.ts
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.types.ts
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.spec.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.types.ts
  packages/mui-base/src/OptionGroupUnstyled/OptionGroupUnstyled.types.ts
  packages/mui-base/src/OptionUnstyled/OptionUnstyled.types.ts
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.types.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.spec.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.types.ts
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.types.ts
  packages/mui-base/src/SnackbarUnstyled/SnackbarUnstyled.types.ts
  packages/mui-base/src/SwitchUnstyled/SwitchUnstyled.types.ts
  packages/mui-base/src/TabPanelUnstyled/TabPanelUnstyled.types.ts
  packages/mui-base/src/TabUnstyled/TabUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationActionsUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.types.ts
  packages/mui-base/src/TabsListUnstyled/TabsListUnstyled.types.ts
  packages/mui-base/src/TabsUnstyled/TabsUnstyled.types.ts
  packages/mui-base/test/typescript/moduleAugmentation/selectUnstyledComponentsProps.spec.tsx
  packages/mui-base/test/typescript/moduleAugmentation/sliderComponentsProps.spec.tsx
Labels: breaking change, typescript, package: base

#36159 [Joy] Remove classes prop from the components that have it
  packages/mui-joy/src/Divider/Divider.tsx
  packages/mui-joy/src/Divider/DividerProps.ts
  packages/mui-joy/src/FormHelperText/FormHelperText.tsx
  packages/mui-joy/src/FormHelperText/FormHelperTextProps.ts
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/ListDivider/ListDividerProps.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButtonProps.ts
  packages/mui-joy/src/ListItemContent/ListItemContent.tsx
  packages/mui-joy/src/ListItemContent/ListItemContentProps.ts
  packages/mui-joy/src/ListItemDecorator/ListItemDecorator.tsx
  packages/mui-joy/src/ListItemDecorator/ListItemDecoratorProps.ts
Labels: package: joy, enhancement

#36116 [Autocomplete] Fix tag removal regression
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, component: autocomplete, regression

#36081 [Joy] Add order dashboard template
  docs/data/joy/getting-started/templates/TemplateCollection.js
  docs/data/joy/getting-started/templates/index.md
  docs/data/joy/getting-started/templates/order-dashboard/App.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/ColorSchemeToggle.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/FirstSidebar.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/Header.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/MuiLogo.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/OrderTable.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/SecondSidebar.tsx
  docs/data/joy/getting-started/templates/order-dashboard/theme.ts
  docs/data/joy/getting-started/templates/order-dashboard/useScript.ts
  docs/data/joy/getting-started/templates/order-dashboard/utils.ts
  docs/pages/joy-ui/getting-started/templates/order-dashboard.js
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard.jpg
  docs/src/modules/sandbox/Dependencies.test.js
  docs/src/modules/sandbox/Dependencies.ts
Labels: design: joy

#36177 [Material You] Use `md` as a CSS var prefix
  docs/src/modules/components/MaterialYouUsageDemo.tsx
  packages/mui-material-next/src/styles/extendTheme.test.ts
  packages/mui-material-next/src/styles/extendTheme.ts
Labels: customization: theme, design: material you

#36168 [docs] Fix the prop type regression on the API pages
  docs/pages/base/api/use-autocomplete.json
  docs/pages/base/api/use-badge.json
  docs/pages/base/api/use-button.json
  docs/pages/base/api/use-input.json
  docs/pages/base/api/use-menu-item.json
  docs/pages/base/api/use-menu.json
  docs/pages/base/api/use-slider.json
  docs/pages/base/api/use-snackbar.json
  docs/pages/base/api/use-switch.json
  docs/pages/base/api/use-tab-panel.json
  docs/pages/base/api/use-tab.json
  docs/pages/base/api/use-tabs-list.json
  docs/pages/base/api/use-tabs.json
  docs/src/modules/components/PropertiesTable.js
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
Labels: docs, regression

#36167 [Grid][Stack] classNames prefixed with Mui
  packages/mui-joy/src/Box/Box.test.js
  packages/mui-joy/src/Box/Box.tsx
  packages/mui-joy/src/Grid/Grid.test.js
  packages/mui-joy/src/Grid/Grid.tsx
  packages/mui-joy/src/Stack/Stack.test.js
  packages/mui-joy/src/Stack/Stack.tsx
Labels: component: Grid, component: Stack

#36088 [useAutocomplete] Pass only valid values for the getOptionLabel prop
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, component: autocomplete, regression

#36162 [StyledEngineProvider] Fix issue with cache not being defined
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.js
Labels: bug 🐛, package: styled-engine

#36183 [Select][base] Update the generated docs
  docs/pages/base/api/use-option.json
Labels: component: select, package: base

#36182 5.11.9
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#36160 [docs] Small color tweaks to the docs search bar
  docs/src/modules/components/AppSearch.js
Labels: docs, design

#36203 [core] Fix deploy preview links
  dangerfile.ts
  packages/api-docs-builder/utils/replaceUrl.test.js
  packages/api-docs-builder/utils/replaceUrl.ts
Labels: core

#36136 [docs] Fix markdown table alignments
  .markdownlint-cli2.cjs
  SECURITY.md
  docs/data/base/components/form-control/form-control.md
  docs/data/material/discover-more/roadmap/roadmap.md
  docs/data/material/experimental-api/css-theme-variables/overview.md
  docs/data/system/getting-started/usage/usage.md
  docs/pages/blog/2019-developer-survey-results.md
  packages/markdownlint-rule-mui/straight-quotes.js
  packages/markdownlint-rule-mui/table-alignment.js
  packages/typescript-to-proptypes/README.md
  test/e2e/README.md
  test/regressions/README.md
Labels: bug 🐛, docs

#36210 [docs][joy] Update class name prefixes in the `Anatomy` section
  docs/data/joy/components/alert/alert.md
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
  docs/data/joy/components/avatar/avatar.md
  docs/data/joy/components/badge/badge.md
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
  docs/data/joy/components/button/button.md
  docs/data/joy/components/card/card.md
  docs/data/joy/components/checkbox/checkbox.md
  docs/data/joy/components/grid/grid.md
  docs/data/joy/components/input/input.md
  docs/data/joy/components/stack/stack.md
  docs/data/joy/components/typography/typography.md
Labels: docs, package: joy

#36217 [docs] Fix padding in `Disabled tree items` section in Tree View docs
  docs/data/material/components/tree-view/DisabledTreeItems.js
  docs/data/material/components/tree-view/DisabledTreeItems.tsx
Labels: docs, component: tree view

#35952 [Joy] Remove transition from all components
  packages/mui-joy/src/AutocompleteOption/AutocompleteOption.tsx
  packages/mui-joy/src/Badge/Badge.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/LinearProgress/LinearProgress.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Sheet/Sheet.tsx
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-joy/src/SvgIcon/SvgIcon.tsx
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
Labels: breaking change, package: joy, design: joy

#36187 [docs] Change markdown numbering syntax
  scripts/README.md
Labels: docs

#36170 [Switch] Fix DOM warning when `type` isn't `checkbox` or `radio`
  packages/mui-material/src/Switch/Switch.test.js
  packages/mui-material/src/internal/SwitchBase.js
Labels: bug 🐛, component: switch, package: material

#36158 [Badge][material] Replace `BadgeUnstyled` with `useBadge` hook
  docs/pages/material-ui/api/badge.json
  packages/mui-material/src/Badge/Badge.d.ts
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/Badge/Badge.test.js
Labels: component: badge, package: material, enhancement

#35862 [TextareaAutosize] Convert code to TypeScript
  docs/pages/base/api/textarea-autosize.json
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.test.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.types.ts
  packages/mui-base/src/TextareaAutosize/index.d.ts
  packages/mui-base/src/TextareaAutosize/index.ts
Labels: typescript, component: TextareaAutosize

#36208 [core] Enforce namespace import for ReactDOM
  .eslintrc.js
  benchmark/browser/index.js
  benchmark/server/scenarios/core.js
  benchmark/server/scenarios/docs.js
  benchmark/server/scenarios/server.js
  benchmark/server/scenarios/styles.js
  docs/data/joy/getting-started/templates/order-dashboard/useScript.ts
  docs/data/material/components/use-media-query/use-media-query-pt.md
  docs/data/material/components/use-media-query/use-media-query-zh.md
  docs/data/material/components/use-media-query/use-media-query.md
  docs/data/material/experimental-api/classname-generator/classname-generator-pt.md
  docs/data/material/experimental-api/classname-generator/classname-generator-zh.md
  docs/data/material/experimental-api/classname-generator/classname-generator.md
  docs/data/material/guides/server-rendering/server-rendering-pt.md
  docs/data/material/guides/server-rendering/server-rendering-zh.md
  docs/data/material/guides/server-rendering/server-rendering.md
  docs/data/styles/advanced/advanced-pt.md
  docs/data/styles/advanced/advanced-zh.md
  docs/data/styles/advanced/advanced.md
  docs/data/styles/api/api-pt.md
  docs/data/styles/api/api-zh.md
  docs/data/styles/api/api.md
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/sandbox/CodeSandbox.test.js
  docs/src/modules/sandbox/CodeSandbox.ts
  docs/src/modules/sandbox/CreateReactApp.ts
  docs/src/modules/sandbox/StackBlitz.test.js
  examples/base-cra-tailwind-ts/src/index.tsx
  examples/base-cra-ts/src/index.tsx
  examples/joy-cra-ts/src/index.tsx
  examples/material-cra-styled-components-ts/src/index.tsx
  examples/material-cra-styled-components/src/index.js
  examples/material-cra-tailwind-ts/src/index.tsx
  examples/material-cra-ts/src/index.tsx
  examples/material-cra/src/index.js
  examples/material-express-ssr/client.js
  examples/material-express-ssr/server.js
  examples/material-preact/src/index.js
  examples/material-remix-ts/app/entry.client.tsx
  examples/material-remix-ts/app/entry.server.tsx
  examples/material-remix-ts/app/src/ClientStyleContext.tsx
  examples/material-vite-ts/src/main.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/large-actual.js
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/large-expected.js
  packages/mui-lab/src/Masonry/Masonry.js
  packages/mui-lab/src/TabContext/TabContext.test.js
  packages/mui-material/src/Dialog/DialogContext.ts
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-styles/src/StylesProvider/StylesProvider.test.js
  test/e2e/index.js
  test/regressions/index.js
Labels: core

#36181 [core] Migrate nprogress to emotion
  docs/src/modules/components/ThemeContext.js
  packages/mui-docs/src/NProgressBar/NProgressBar.js
Labels: v5.x migration, component: nprogress, docs-infra

#36185 [docs] Update custom Typography variants example
  docs/data/material/components/typography/typography.md
  docs/data/material/customization/typography/TypographyCustomVariant.js
  docs/data/material/customization/typography/TypographyCustomVariant.tsx
  docs/data/material/customization/typography/typography.md
Labels: docs, component: Typography

#36213 [docs][base] Fix base Input demos for Safari
  docs/data/base/components/input/InputAdornments.js
  docs/data/base/components/input/InputAdornments.tsx
  docs/data/base/components/input/InputMultiline.js
  docs/data/base/components/input/InputMultiline.tsx
  docs/data/base/components/input/InputMultilineAutosize.js
  docs/data/base/components/input/InputMultilineAutosize.tsx
  docs/data/base/components/input/UnstyledInputBasic.js
  docs/data/base/components/input/UnstyledInputBasic.tsx
  docs/data/base/components/input/UnstyledInputIntroduction.js
  docs/data/base/components/input/UnstyledInputIntroduction.tsx
  docs/data/base/components/input/UseInput.js
  docs/data/base/components/input/UseInput.tsx
Labels: docs

#36228 [Avatar] Fix ownerState usage with styleOverrides when fallback is used
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Avatar/Avatar.test.js
Labels: bug 🐛, component: avatar

#36056 [useMediaQuery] Fix behavior of noSsr with React 18
  docs/data/material/components/use-media-query/use-media-query.md
  packages/mui-material/src/styles/props.d.ts
  packages/mui-material/src/useMediaQuery/useMediaQuery.test.js
  packages/mui-material/src/useMediaQuery/useMediaQuery.ts
Labels: bug 🐛, hook: useMediaQuery, regression

#36237 [docs] Update links to pt examples
  docs/data/material/getting-started/example-projects/example-projects-pt.md
Labels: docs

#36137 [docs] Fix modal transition demos
  docs/data/base/components/modal/NestedModal.js
  docs/data/base/components/modal/NestedModal.tsx
  docs/data/base/components/modal/SpringModal.js
  docs/data/base/components/modal/SpringModal.tsx
  docs/data/base/components/modal/TransitionsModal.js
  docs/data/base/components/modal/TransitionsModal.tsx
  docs/data/material/components/modal/NestedModal.js
  docs/data/material/components/modal/NestedModal.tsx
  docs/data/material/components/modal/SpringModal.js
  docs/data/material/components/modal/SpringModal.tsx
  docs/data/material/components/modal/TransitionsModal.js
  docs/data/material/components/modal/TransitionsModal.tsx
  docs/pages/material-ui/api/backdrop.json
  docs/translations/api-docs/backdrop/backdrop.json
  packages/mui-base/src/utils/isHostComponent.ts
  packages/mui-base/src/utils/mergeSlotProps.ts
  packages/mui-base/src/utils/types.ts
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Backdrop/Backdrop.js
Labels: bug 🐛, docs, component: modal

#36236 [Joy] Add `zIndex` to theme
  packages/mui-joy/src/AutocompleteListbox/AutocompleteListbox.tsx
  packages/mui-joy/src/Badge/Badge.tsx
  packages/mui-joy/src/Menu/Menu.tsx
  packages/mui-joy/src/Modal/Modal.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Table/Table.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/defaultTheme.test.js
  packages/mui-joy/src/styles/defaultTheme.ts
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-joy/src/styles/types/zIndex.ts
  test/e2e-website/joy-docs.spec.ts
Labels: package: joy

#36268 Prepare release 5.11.10
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-joy/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
Labels: release

#36266 [Joy] Fix `ListDivider` to change semantic based on `List`
  packages/mui-joy/src/Divider/Divider.tsx
  packages/mui-joy/src/ListDivider/ListDivider.test.js
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/ListDivider/ListDividerProps.ts
Labels: bug 🐛, component: list, package: joy

#36272 [Snackbar] Replace component logic with `useSnackbar` hook
  packages/mui-material/src/Snackbar/Snackbar.js
Labels: component: snackbar, package: material, enhancement

#36091 [Slider] Remove unnecessary `data-focusvisible` attribute
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.spec.tsx
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.tsx
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.types.ts
  packages/mui-material/src/Slider/Slider.js
Labels: component: slider, package: material, package: base, enhancement

#35941 [Slider] Miscellaneous improvements
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-material/src/Slider/Slider.js
Labels: component: slider, enhancement

#36157 [base] Remove `classes` prop from the Base components that have it
  docs/pages/base/api/modal-unstyled.json
  docs/pages/base/api/slider-unstyled.json
  docs/pages/base/api/table-pagination-unstyled.json
  docs/pages/material-ui/api/modal.json
  docs/translations/api-docs/modal-unstyled/modal-unstyled.json
  docs/translations/api-docs/modal/modal-zh.json
  docs/translations/api-docs/modal/modal.json
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/table-pagination-unstyled/table-pagination-unstyled.json
  packages/mui-base/src/InputUnstyled/inputUnstyledClasses.ts
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.tsx
  packages/mui-base/src/ModalUnstyled/ModalUnstyled.types.ts
  packages/mui-base/src/ModalUnstyled/index.ts
  packages/mui-base/src/ModalUnstyled/modalUnstyledClasses.ts
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.tsx
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationActionsUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/TablePaginationUnstyled.types.ts
  packages/mui-base/src/TablePaginationUnstyled/tablePaginationUnstyledClasses.ts
  packages/mui-joy/src/Slider/SliderProps.ts
  packages/mui-material/src/Modal/Modal.d.ts
  packages/mui-material/src/Modal/Modal.js
  packages/mui-material/src/Modal/Modal.test.js
  packages/mui-material/src/Slider/Slider.d.ts
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/Slider/Slider.test.js
Labels: package: base, enhancement

#36284 [docs] Remove See Slots Section text from Material UI slots description
  docs/translations/api-docs/alert/alert.json
  docs/translations/api-docs/backdrop/backdrop.json
  docs/translations/api-docs/badge/badge.json
  docs/translations/api-docs/filled-input/filled-input.json
  docs/translations/api-docs/input-base/input-base.json
  docs/translations/api-docs/input/input.json
  docs/translations/api-docs/list-item/list-item.json
  docs/translations/api-docs/modal/modal.json
  docs/translations/api-docs/outlined-input/outlined-input.json
  docs/translations/api-docs/pagination-item/pagination-item.json
  docs/translations/api-docs/popper/popper.json
  docs/translations/api-docs/slider/slider.json
  docs/translations/api-docs/tooltip/tooltip.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
Labels: docs

#36090 [docs] Fix code on the Working with Tailwind CSS guide
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
Labels: docs

#36156 [Joy] Select popup should have max-height
  docs/data/joy/components/select/SelectMinWidth.js
  docs/data/joy/components/select/select.md
  packages/mui-joy/src/Select/Select.tsx
Labels: bug 🐛, component: select, package: joy

#36024 [Select] Fix incorrect selecting of first element
  docs/data/material/components/selects/selects.md
  packages/mui-material/src/ListSubheader/ListSubheader.js
  packages/mui-material/src/MenuList/MenuList.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: bug 🐛, component: select, package: material, regression

#36299 [docs] Allow to pass navigation bar banner from outside
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppLayoutDocs.js
Labels: docs-infra

#32822 [material] Add global CSS class for `readOnly` prop
  docs/data/material/customization/how-to-customize/how-to-customize.md
  docs/pages/material-ui/api/input-base.json
  docs/pages/material-ui/api/rating.json
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Rating/Rating.test.js
  packages/mui-utils/src/generateUtilityClass/generateUtilityClass.test.ts
  packages/mui-utils/src/generateUtilityClass/generateUtilityClass.ts
Labels: package: material

#36243 [Autocomplete] Adds `sx` prop to `ListboxProps` type
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.spec.tsx
Labels: bug 🐛, typescript, component: autocomplete

#36265 [MenuUnstyled] Remove extra useMemo
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.tsx
  packages/mui-base/src/useMenu/useMenu.ts
Labels: component: menu, package: base

#33795 [Stack][material] Use createStack from the system
  docs/pages/material-ui/api/stack.json
  docs/pages/system/api/stack.json
  docs/translations/api-docs/stack/stack.json
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.js
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.test.js
  packages/mui-joy/src/Stack/Stack.tsx
  packages/mui-material/src/Container/Container.js
  packages/mui-material/src/Stack/Stack.d.ts
  packages/mui-material/src/Stack/Stack.js
  packages/mui-material/src/Stack/Stack.test.js
  packages/mui-material/src/Stack/index.d.ts
  packages/mui-material/src/Stack/index.js
  packages/mui-material/src/Stack/stackClasses.ts
  packages/mui-material/src/Unstable_Grid2/Grid2.tsx
  packages/mui-system/src/Stack/Stack.tsx
  scripts/generateProptypes.ts
Labels: package: material, component: Stack

#36312 [website] Sync gold sponsors
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#36109 [examples] Convert Next.js _document class components to function components
  examples/material-next-ts-v4-v5-migration/pages/_document.tsx
  examples/material-next-ts/pages/_document.tsx
  examples/material-next/pages/_document.js
Labels: examples

#36321 [examples] Update curl link in `material-next-ts-v4-v5-migration` example README
  examples/material-next-ts-v4-v5-migration/README.md
Labels: docs, examples

#36333 [website] Fix broken links to role levels
  docs/src/pages/careers/ROLE_TEMPLATE.md
  docs/src/pages/careers/accessibility-engineer.md
  docs/src/pages/careers/design-engineer.md
  docs/src/pages/careers/designer.md
  docs/src/pages/careers/developer-experience-engineer.md
  docs/src/pages/careers/engineering-manager.md
  docs/src/pages/careers/full-stack-engineer.md
  docs/src/pages/careers/lead-designer.md
  docs/src/pages/careers/product-engineer.md
  docs/src/pages/careers/react-engineer-core.md
  docs/src/pages/careers/react-engineer-x-grid.md
  docs/src/pages/careers/react-engineer-x.md
  docs/src/pages/careers/react-support-engineer.md
  docs/src/pages/careers/react-tech-lead-core.md
  docs/src/pages/careers/react-tech-lead-x-grid.md
Labels: website, regression

#36103 [Joy] Fix modal dialog overflow viewport
  docs/data/joy/components/divider/divider.md
  docs/data/joy/components/modal/DialogVerticalScroll.js
  docs/data/joy/components/modal/modal.md
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
Labels: bug 🐛, component: dialog, package: joy

#36006 [Joy] Able to remove default tokens from theme types
  packages/mui-joy/src/styles/CssVarsProvider.spec.tsx
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/index.ts
  packages/mui-joy/src/styles/types/colorSystem.ts
  packages/mui-joy/src/styles/types/radius.ts
  packages/mui-joy/src/styles/types/shadow.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-joy/src/styles/types/typography.ts
  packages/mui-joy/src/styles/types/utils.ts
  packages/mui-joy/src/styles/types/zIndex.ts
  packages/mui-joy/src/styles/variantUtils.ts
Labels: typescript, package: joy

#36315 [examples] Update Next.js examples to use built-in font
  examples/material-next-ts/package.json
  examples/material-next-ts/src/theme.ts
  examples/material-next/package.json
  examples/material-next/src/theme.js
Labels: examples

#36357 [Rating] Add TODO comment in Rating component to use `readOnly` state class
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/styles/createTheme.js
Labels: bug 🐛, package: material, component: rating

#36246 [TextField] Fix floating label position
  packages/mui-material/src/InputLabel/InputLabel.js
Labels: bug 🐛, component: text field, package: material, design

#36242 [Autocomplete] Add docs interface for the hook
  CHANGELOG.old.md
  docs/data/material/migration/migration-v4/v5-component-changes-pt.md
  docs/data/material/migration/migration-v4/v5-component-changes-zh.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
  docs/pages/base/api/use-autocomplete.json
  docs/pages/blog/material-ui-v4-is-out.md
  docs/translations/api-docs/use-autocomplete/use-autocomplete.json
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-codemod/src/v5.0.0/mui-replace.test/actual.js
  packages/mui-codemod/src/v5.0.0/mui-replace.test/expected.js
Labels: docs, typescript, component: autocomplete, package: base

#36288 [TextField] Fix floating label position
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.test.js
  packages/mui-material/src/TextField/TextField.test.js
Labels: bug 🐛, component: text field, package: material, design

#36323 [base] Export all slot prop overrides interfaces
  packages/mui-base/src/PopperUnstyled/PopperUnstyled.types.ts
  packages/mui-base/src/PopperUnstyled/index.ts
  packages/mui-base/src/TabPanelUnstyled/TabPanelUnstyled.types.ts
  packages/mui-base/src/TabUnstyled/TabUnstyled.types.ts
  packages/mui-base/src/TabsListUnstyled/TabsListUnstyled.types.ts
  packages/mui-base/src/TabsUnstyled/TabsUnstyled.types.ts
Labels: bug 🐛, typescript, package: base

#36295 [base] Codemod for hook directory migration
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v5.0.0/base-hook-imports.js
  packages/mui-codemod/src/v5.0.0/base-hook-imports.test.js
  packages/mui-codemod/src/v5.0.0/base-hook-imports.test/actual.js
  packages/mui-codemod/src/v5.0.0/base-hook-imports.test/expected.js
Labels: package: codemod, package: base

#36360 [release] v5.11.11
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#36334 [website] Sync /about page
  docs/pages/about.tsx
  docs/public/static/branding/about/mikaila.png
  docs/public/static/branding/about/tina.png
  docs/public/static/branding/about/vytautas.png
Labels: website

#33312 [Autocomplete] Add `Mui-expanded` class
  docs/pages/base/api/use-autocomplete.json
  docs/pages/material-ui/api/autocomplete.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  docs/translations/api-docs/use-autocomplete/use-autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/Autocomplete/autocompleteClasses.ts
Labels: new feature, package: material, component: autocomplete

#36374 [docs][joy] Add typescript demos for `Divider`
  docs/data/joy/components/divider/DividerChildPosition.tsx
  docs/data/joy/components/divider/DividerChildPosition.tsx.preview
  docs/data/joy/components/divider/DividerInCard.tsx
  docs/data/joy/components/divider/DividerInModalDialog.tsx
  docs/data/joy/components/divider/DividerText.tsx
  docs/data/joy/components/divider/DividerText.tsx.preview
  docs/data/joy/components/divider/DividerUsage.tsx
  docs/data/joy/components/divider/FullscreenOverflowDivider.tsx
  docs/data/joy/components/divider/VerticalDividerText.tsx
  docs/data/joy/components/divider/VerticalDividerText.tsx.preview
  docs/data/joy/components/divider/VerticalDividers.tsx
Labels: docs, component: divider, package: joy
