Repository mui/material-ui, pull requests merged in 2023-01, with the labels that each got.

#35670 [docs] Fix demo code selection through copy shortcut key on Firefox browser
  docs/src/modules/utils/CodeCopy.tsx
Labels: bug 🐛, docs, regression, browser: Firefox, docs-infra

#35708 v5.11.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
Labels: release

#35702 [test] Always use & for nesting styles
  packages/mui-system/src/Box/Box.spec.tsx
  packages/mui-system/src/createBox.spec.tsx
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: test

#35684 [website] Improve Lead Designer role description
  docs/pages/careers.tsx
  docs/src/pages/careers/lead-designer.md
Labels: website

#35685 [docs] Fix ad exception in Joy UI
  docs/src/BrandingCssVarsProvider.tsx
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/ThemeContext.js
  docs/src/modules/components/TopLayoutCareers.js
Labels: bug 🐛, docs, regression, package: joy

#35687 [TextField] Improve WCAG 2.4.7 with error={true}
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/Input/Input.js
Labels: bug 🐛, design: material, component: text field, package: material, regression

#35561 [docs] Fix API page for `MenuItem` to list all valid props
  docs/pages/material-ui/api/menu-item.json
  docs/translations/api-docs/menu-item/menu-item.json
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListItemButton/ListItemButtonProps.ts
  packages/mui-joy/src/MenuItem/MenuItem.tsx
  packages/mui-material/src/MenuItem/MenuItem.d.ts
  packages/mui-material/src/MenuItem/MenuItem.js
  scripts/generateProptypes.ts
Labels: docs, component: menu, regression

#35648 [Autocomplete][joy] Specify `type` attribute for popup indicator
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
Labels: bug 🐛, component: autocomplete, package: joy

#35642 [Joy] Improve `onKeyDown` event handler for demo
  docs/src/modules/components/JoyVariablesDemo.tsx
Labels: docs, package: joy

#35140 [Modal] Fix can't override Backdrop Props using new Slots API
  packages/mui-material/src/Modal/Modal.d.ts
  packages/mui-material/src/Modal/Modal.spec.tsx
Labels: bug 🐛, typescript, component: modal

#35723 [Autocomplete] Fix grammar in console.error in `useAutocomplete`
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
Labels: component: autocomplete, enhancement

#35657 [Portal][base] Convert code to TypeScript
  docs/pages/base/api/portal.json
  packages/mui-base/src/Portal/Portal.test.tsx
  packages/mui-base/src/Portal/Portal.tsx
  packages/mui-base/src/Portal/Portal.types.ts
  packages/mui-base/src/Portal/index.js
  packages/mui-base/src/Portal/index.ts
  packages/mui-joy/src/Modal/Modal.tsx
Labels: typescript, component: Portal, package: base

#35720 [docs] Document the workaround for crashing a translated page
  docs/data/material/components/buttons/LoadingButtonsTransition.js
  docs/data/material/components/buttons/LoadingButtonsTransition.tsx
  docs/data/material/components/buttons/buttons.md
Labels: docs, component: LoadingButton

#35379 [core] Use TypeScript AST instead of TTP for component doc building
  docs/pages/base/api/table-pagination-unstyled.json
  docs/pages/material-ui/api/menu-list.json
  docs/pages/material-ui/api/radio-group.json
  docs/pages/material-ui/api/tab-list.json
  docs/translations/api-docs/menu-list/menu-list.json
  docs/translations/api-docs/radio-group/radio-group.json
  docs/translations/api-docs/tab-list/tab-list.json
  docs/translations/api-docs/table-pagination-unstyled/table-pagination-unstyled.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/tsconfig.json
  packages/api-docs-builder/utils/createTypeScriptProject.ts
  packages/api-docs-builder/utils/getPropsFromComponentSymbol.ts
  packages/api-docs-builder/utils/parseStyles.ts
  packages/api-docs-builder/utils/resolveExportSpecifier.ts
Labels: core

#35769 [Joy] Miscellaneous improvements
  docs/data/joy/components/aspect-ratio/BasicRatio.js
  docs/data/joy/components/aspect-ratio/BasicRatio.tsx
  docs/data/joy/components/aspect-ratio/BasicRatio.tsx.preview
  docs/data/joy/components/aspect-ratio/CustomRatio.js
  docs/data/joy/components/aspect-ratio/CustomRatio.tsx
  docs/data/joy/components/aspect-ratio/CustomRatio.tsx.preview
  docs/data/joy/components/checkbox/CheckboxUsage.js
  docs/data/joy/components/checkbox/ExampleButtonCheckbox.js
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Link/Link.spec.tsx
  packages/mui-joy/src/Link/LinkProps.ts
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Typography/Typography.spec.tsx
  packages/mui-joy/src/Typography/TypographyProps.ts
  packages/mui-joy/src/styles/types/theme.ts
Labels: package: joy

#35683 [examples] Add `Vite.js with TypeScript` example
  docs/data/material/getting-started/example-projects/example-projects.md
  examples/vitejs-with-typescript/.gitignore
  examples/vitejs-with-typescript/README.md
  examples/vitejs-with-typescript/index.html
  examples/vitejs-with-typescript/package.json
  examples/vitejs-with-typescript/public/vite.svg
  examples/vitejs-with-typescript/src/App.tsx
  examples/vitejs-with-typescript/src/ProTip.tsx
  examples/vitejs-with-typescript/src/main.tsx
  examples/vitejs-with-typescript/src/theme.tsx
  examples/vitejs-with-typescript/src/vite-env.d.ts
  examples/vitejs-with-typescript/tsconfig.json
  examples/vitejs-with-typescript/tsconfig.node.json
  examples/vitejs-with-typescript/vite.config.ts
Labels: examples

#35733 [Select] Revert "Update `renderValue` prop's TypeScript type (#34177)"
  packages/mui-material/src/Select/Select.d.ts
  packages/mui-material/src/Select/Select.spec.tsx
Labels: component: select, package: material

#35736 [Tooltip] Remove `data-foo` attribute
  packages/mui-material/src/Tooltip/Tooltip.js
Labels: component: tooltip

#35737 [docs] Revise and expand Joy UI Button doc
  docs/data/base/components/button/button.md
  docs/data/joy/components/button/BasicButtons.js
  docs/data/joy/components/button/BasicButtons.tsx
  docs/data/joy/components/button/BasicButtons.tsx.preview
  docs/data/joy/components/button/ButtonDisabled.js
  docs/data/joy/components/button/ButtonDisabled.tsx
  docs/data/joy/components/button/ButtonLoading.js
  docs/data/joy/components/button/ButtonLoading.tsx
  docs/data/joy/components/button/ButtonLoading.tsx.preview
  docs/data/joy/components/button/ButtonLoadingIndicator.js
  docs/data/joy/components/button/ButtonLoadingIndicator.tsx
  docs/data/joy/components/button/ButtonLoadingIndicator.tsx.preview
  docs/data/joy/components/button/ButtonsSimple.js
  docs/data/joy/components/button/ButtonsSimple.tsx.preview
  docs/data/joy/components/button/button.md
Labels: docs, component: button, package: joy

#34026 [Tabs] Throw error only if individual `Tab` is hidden, not the whole `Tabs`
  packages/mui-material/src/Tabs/Tabs.js
  packages/mui-material/src/Tabs/Tabs.test.js
Labels: bug 🐛, component: tabs

#35578 [Autocomplete] Add index to renderOption's AutocompleteRenderOptionState
  docs/data/material/components/autocomplete/Virtualize.js
  docs/data/material/components/autocomplete/Virtualize.tsx
  docs/data/material/components/autocomplete/Virtualize.tsx.preview
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: component: autocomplete, enhancement

#35703 [core] Fix the product license reference name
  scripts/copyFiles.mjs
Labels: core

#35771 5.11.4
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#35774 [docs] Fix typo in the Composition page
  docs/data/material/guides/composition/composition.md
Labels: docs, package: material

#35751 [website] Update the Accessibility Engineer role
  docs/src/pages/careers/accessibility-engineer.md
Labels: accessibility, website

#35770 [Slider] Replace `SliderUnstyled` with `useSlider` hook
  docs/pages/material-ui/api/slider.json
  packages/mui-material/src/Slider/Slider.d.ts
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/Slider/Slider.test.js
  packages/mui-material/src/Slider/SliderValueLabel.tsx
  packages/mui-material/src/Slider/SliderValueLabel.types.ts
  packages/mui-material/src/Slider/index.d.ts
  packages/mui-material/src/Slider/index.js
  packages/mui-material/src/Slider/sliderClasses.ts
Labels: component: slider, package: material, enhancement

#35802 [base] Fix typos
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-base/src/ClickAwayListener/ClickAwayListener.test.js
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/ListboxUnstyled/useControllableReducer.ts
Labels: package: base

#35796 [docs][joy] Fix grammar in `Typography` docs
  docs/data/joy/components/typography/typography.md
Labels: docs, package: joy

#35532 [system] Improve the `createBox` types
  packages/mui-joy/src/Box/Box.tsx
  packages/mui-joy/src/Box/BoxProps.ts
  packages/mui-material/src/Box/Box.d.ts
  packages/mui-material/src/Box/Box.spec.tsx
  packages/mui-system/src/Box/Box.d.ts
  packages/mui-system/src/createBox.d.ts
  scripts/generateProptypes.ts
Labels: typescript, package: system

#35679 [docs] Fix navigation layout shift
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/DiamondSponsors.js
Labels: bug 🐛, docs, regression, docs-infra

#35745 [docs] Revise and expand the Joy UI Card page
  docs/data/joy/components/card/CardCovers.js
  docs/data/joy/components/card/CardCovers.tsx
  docs/data/joy/components/card/CardLayers3d.js
  docs/data/joy/components/card/CardLayers3d.tsx
  docs/data/joy/components/card/card.md
  packages/mui-joy/src/CardCover/CardCover.tsx
Labels: docs, component: card, package: joy

#35814 [docs] Fix typos
  docs/data/material/customization/typography/typography-zh.md
  docs/data/material/customization/typography/typography.md
Labels: docs

#35804 [Material UI] Custom channel token should suppress the warning
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
Labels: package: material, customization: theme

#35816 [website] Add Greg in about page
  docs/pages/about.tsx
  docs/public/static/branding/about/bilal.png
  docs/public/static/branding/about/danail.png
  docs/public/static/branding/about/gerda.png
  docs/public/static/branding/about/greg.png
  docs/public/static/branding/about/jose.png
  docs/public/static/branding/about/lukas.png
  docs/public/static/branding/about/sycamore.png
  docs/public/static/branding/about/vytautas.png
Labels: website

#35767 [website] Improve pricing page
  docs/src/components/pricing/HeroPricing.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/pricing/WhatToExpect.tsx
Labels: bug 🐛, website

#35462 [Joy] Remove `TextField` component and replace its usage in docs with `FormControl`/`FormLabel`/`Input`
  docs/data/joy/components/aspect-ratio/FlexRowRatio.js
  docs/data/joy/components/aspect-ratio/FlexRowRatio.tsx
  docs/data/joy/components/autocomplete/FreeSoloCreateOptionDialog.js
  docs/data/joy/components/autocomplete/FreeSoloCreateOptionDialog.tsx
  docs/data/joy/components/card/CardVariables.js
  docs/data/joy/components/modal/BasicModalDialog.js
  docs/data/joy/components/text-field/TextFieldColors.js
  docs/data/joy/components/text-field/TextFieldColors.tsx
  docs/data/joy/components/text-field/TextFieldComposition.js
  docs/data/joy/components/text-field/TextFieldComposition.tsx
  docs/data/joy/components/text-field/TextFieldComposition.tsx.preview
  docs/data/joy/components/text-field/TextFieldDecorators.js
  docs/data/joy/components/text-field/TextFieldDecorators.tsx
  docs/data/joy/components/text-field/TextFieldFormProps.js
  docs/data/joy/components/text-field/TextFieldFormProps.tsx
  docs/data/joy/components/text-field/TextFieldFormProps.tsx.preview
  docs/data/joy/components/text-field/TextFieldFullwidth.js
  docs/data/joy/components/text-field/TextFieldFullwidth.tsx
  docs/data/joy/components/text-field/TextFieldFullwidth.tsx.preview
  docs/data/joy/components/text-field/TextFieldSizes.js
  docs/data/joy/components/text-field/TextFieldSizes.tsx
  docs/data/joy/components/text-field/TextFieldSizes.tsx.preview
  docs/data/joy/components/text-field/TextFieldUsage.js
  docs/data/joy/components/text-field/TextFieldValidation.js
  docs/data/joy/components/text-field/TextFieldValidation.tsx
  docs/data/joy/components/text-field/TextFieldValidation.tsx.preview
  docs/data/joy/components/text-field/TextFieldVariants.js
  docs/data/joy/components/text-field/TextFieldVariants.tsx
  docs/data/joy/components/text-field/TextFieldVariants.tsx.preview
  docs/data/joy/components/text-field/text-field-pt.md
  docs/data/joy/components/text-field/text-field-zh.md
  docs/data/joy/components/text-field/text-field.md
  docs/data/joy/getting-started/tutorial/LoginFinal.js
  docs/data/joy/getting-started/tutorial/tutorial-pt.md
  docs/data/joy/getting-started/tutorial/tutorial-zh.md
  docs/data/joy/getting-started/tutorial/tutorial.md
  docs/data/joy/main-features/automatic-adjustment/InputVariables.js
  docs/src/modules/components/JoyUsageDemo.tsx
  docs/src/modules/components/JoyVariablesDemo.tsx
  docs/src/modules/sandbox/Dependencies.test.js
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v5.0.0/joy-text-field-to-input.js
  packages/mui-codemod/src/v5.0.0/joy-text-field-to-input.test.js
  packages/mui-codemod/src/v5.0.0/joy-text-field-to-input.test/actual.js
  packages/mui-codemod/src/v5.0.0/joy-text-field-to-input.test/expected.js
  packages/mui-joy/src/TextField/TextField.spec.tsx
  packages/mui-joy/src/TextField/TextField.test.js
  packages/mui-joy/src/TextField/TextField.tsx
  packages/mui-joy/src/TextField/TextFieldProps.ts
  packages/mui-joy/src/TextField/index.ts
  packages/mui-joy/src/TextField/textFieldClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
Labels: docs, breaking change, component: text field, package: joy

#35799 [docs] Clarify where to find docs for MUI Base components in Material UI
  docs/data/material/components/click-away-listener/click-away-listener.md
  docs/data/material/components/no-ssr/no-ssr.md
  docs/data/material/components/portal/portal.md
  docs/data/material/components/textarea-autosize/textarea-autosize.md
Labels: docs, package: material, package: base

#35772 [examples] Remove `next-env.d.ts` from Next.js examples
  examples/nextjs-with-typescript-v4-migration/.gitignore
  examples/nextjs-with-typescript-v4-migration/next-env.d.ts
  examples/nextjs-with-typescript/.gitignore
  examples/nextjs-with-typescript/next-env.d.ts
Labels: examples

#35765 [docs][joy] Update Customization section code example to use the correct API
  docs/data/joy/customization/approaches/approaches.md
Labels: docs, package: joy

#35367 [Autocomplete] Fix value type when `strictNullChecks` is `false`
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.spec.tsx
Labels: bug 🐛, component: autocomplete

#35742 [l10n] Add Belarusian translation
  packages/mui-material/src/locale/index.ts
Labels: l10n

#35445 [Slider][base] Convert code to TypeScript
  docs/pages/base/api/slider-unstyled.json
  docs/pages/material-ui/api/slider.json
  docs/translations/api-docs/slider-unstyled/slider-unstyled.json
  docs/translations/api-docs/slider/slider.json
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.d.ts
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.test.tsx
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.tsx
  packages/mui-base/src/SliderUnstyled/SliderUnstyled.types.ts
  packages/mui-base/src/SliderUnstyled/SliderValueLabelUnstyled.tsx
  packages/mui-base/src/SliderUnstyled/SliderValueLabelUnstyled.types.ts
  packages/mui-base/src/SliderUnstyled/index.d.ts
  packages/mui-base/src/SliderUnstyled/index.ts
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-material/src/Slider/Slider.js
Labels: component: slider, typescript, package: base

#35832 [docs] Fix incorrectly named AccessibleTable demo component
  docs/data/material/components/tables/AccessibleTable.js
  docs/data/material/components/tables/AccessibleTable.tsx
  docs/data/material/components/tables/tables-pt.md
  docs/data/material/components/tables/tables-zh.md
  docs/data/material/components/tables/tables.md
Labels: docs

#35740 [docs] Improve pickers lab migration stressing `mui-x` usage
  docs/data/material/guides/pickers-migration/pickers-migration.md
Labels: docs

#35750 [Tabs][Joy] Don't apply `:hover, :active` styles when `selected`
  docs/data/joy/components/list/list.md
  docs/data/joy/components/tabs/TabsUnderlineExample.js
  docs/data/joy/components/tabs/TabsUnderlineExample.tsx
  docs/data/joy/components/tabs/tabs.md
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/Tab/Tab.tsx
Labels: package: joy

#35845 [Joy][TextField] Throw error with migration message
  packages/mui-joy/src/TextField/TextField.tsx
  packages/mui-joy/src/TextField/index.ts
  packages/mui-joy/src/index.ts
Labels: component: text field, package: joy

#35847 [Joy] Miscellaneous fixes
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Typography/Typography.tsx
  test/regressions/fixtures/CircularProgressJoy/CircularProgressFlexItem.js
  test/regressions/fixtures/SelectJoy/ListboxMinWidth.js
  test/regressions/fixtures/TypographyJoy/DecoratorAlignItemsStart.js
Labels: package: joy

#35848 5.11.5
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-system/package.json
Labels: release

#35846 [core] Migrate internal `docs-utilities` package to TypeScript
  packages/docs-utilities/index.d.ts
  packages/docs-utilities/index.ts
  packages/docs-utilities/package.json
Labels: typescript, core, docs-infra

#35881 [core] Revert `docs-utilities` migration to TypeScript and fix type
  packages/docs-utilities/index.d.ts
  packages/docs-utilities/index.js
  packages/docs-utilities/package.json
Labels: bug 🐛, core, docs-infra

#35807 [InputUnstyled] Fix externally provided `inputRef` is ignored
  packages/mui-base/src/InputUnstyled/InputUnstyled.test.tsx
  packages/mui-base/src/InputUnstyled/InputUnstyled.tsx
  packages/mui-base/src/InputUnstyled/useInput.test.tsx
  packages/mui-base/src/InputUnstyled/useInput.ts
Labels: bug 🐛, component: text field, package: base

#35877 [Box] Fix usage of not supported features in TypeScript 3.5
  packages/mui-material/src/Box/Box.d.ts
Labels: typescript, component: Box, regression

#35873 [docs] Fix wording in `Color` page
  docs/data/material/customization/color/color.md
Labels: docs, customization: theme

#35876 [docs] Fix typos in the docs of Joy UI
  docs/data/joy/components/aspect-ratio/aspect-ratio-zh.md
  docs/data/joy/components/autocomplete/AutocompleteError.js
  docs/data/joy/components/autocomplete/AutocompleteError.tsx
  docs/data/joy/components/autocomplete/AutocompleteError.tsx.preview
  docs/data/joy/components/avatar/avatar-pt.md
  docs/data/joy/components/avatar/avatar-zh.md
  docs/data/joy/components/chip/chip-pt.md
  docs/data/joy/customization/approaches/approaches-pt.md
  docs/data/joy/customization/approaches/approaches-zh.md
  docs/data/joy/customization/approaches/approaches.md
  docs/data/joy/getting-started/templates/team/App.tsx
  docs/data/joy/main-features/automatic-adjustment/automatic-adjustment-pt.md
  docs/data/joy/main-features/automatic-adjustment/automatic-adjustment-zh.md
Labels: docs, package: joy

#35866 [Button] Fix border color for secondary disabled button
  packages/mui-material/src/Button/Button.js
Labels: component: button

#35859 [Avatar][joy] Remove `imgProps` prop and add Codemod script for migration
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v5.0.0/joy-avatar-remove-imgProps.js
  packages/mui-codemod/src/v5.0.0/joy-avatar-remove-imgProps.test.js
  packages/mui-codemod/src/v5.0.0/joy-avatar-remove-imgProps.test/actual.js
  packages/mui-codemod/src/v5.0.0/joy-avatar-remove-imgProps.test/expected.js
  packages/mui-codemod/src/v5.0.0/joy-text-field-to-input.js
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Avatar/AvatarProps.ts
Labels: breaking change, component: avatar, package: codemod, package: joy

#35486 [blog] Date and time pickers revamped
  docs/pages/blog/v6-beta-pickers.js
  docs/pages/blog/v6-beta-pickers.md
  docs/public/static/blog/v6-beta-pickers/basic-date-field.mp4
  docs/public/static/blog/v6-beta-pickers/date-field-navigation.mp4
  docs/public/static/blog/v6-beta-pickers/date-range-shortcuts.png
  docs/public/static/blog/v6-beta-pickers/edit-drag-nocrop.mp4
  docs/public/static/blog/v6-beta-pickers/edit-drag.mp4
  docs/public/static/blog/v6-beta-pickers/masked-input-bad-ux.mp4
  docs/public/static/blog/v6-beta-pickers/masked-input.mp4
  docs/public/static/blog/v6-beta-pickers/quick-comparison-fields.mp4
  docs/public/static/blog/v6-beta-pickers/smart-field.mp4
Labels: component: pickers, blog, MUI X

#35870 [docs] Fix account menu demo not closing with keyboard.
  docs/data/material/components/menus/AccountMenu.js
  docs/data/material/components/menus/AccountMenu.tsx
Labels: docs, component: menu

#35700 [docs] Replace react-virtualized with react-virtuoso in Table
  docs/data/material/components/lists/lists.md
  docs/data/material/components/tables/ReactVirtualizedTable.js
  docs/data/material/components/tables/ReactVirtualizedTable.tsx
  docs/data/material/components/tables/ReactVirtualizedTable.tsx.preview
  docs/data/material/components/tables/tables.md
  docs/package.json
  yarn.lock
Labels: docs, component: table

#34948 [docs] Fix incorrect breakpoint use
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHero.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHero.tsx
Labels: docs

#30759 [SwipeableDrawer] Add callback to customise touchstart ignore for swipeable drawer
  docs/pages/material-ui/api/swipeable-drawer.json
  docs/translations/api-docs/swipeable-drawer/swipeable-drawer-pt.json
  docs/translations/api-docs/swipeable-drawer/swipeable-drawer-zh.json
  docs/translations/api-docs/swipeable-drawer/swipeable-drawer.json
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: new feature, component: SwipeableDrawer, PR: needs test

#35921 [core] Fix release changelog to handle commits with empty author field
  scripts/releaseChangelog.mjs
Labels: core

#35925 [release] v5.11.6
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
Labels: release

#35554 [docs] Add Joy default theme viewer
  docs/data/joy/customization/approaches/approaches.md
  docs/data/joy/customization/default-theme-viewer/JoyDefaultTheme.js
  docs/data/joy/customization/default-theme-viewer/default-theme-viewer.md
  docs/data/joy/customization/default-theme/default-theme-pt.md
  docs/data/joy/customization/default-theme/default-theme-zh.md
  docs/data/joy/customization/default-theme/default-theme.md
  docs/data/joy/customization/theme-colors/BootstrapVariantTokens.js
  docs/data/joy/customization/theme-colors/PaletteThemeViewer.js
  docs/data/joy/customization/theme-colors/PaletteThemeViewer.tsx
  docs/data/joy/customization/theme-colors/RemoveActiveTokens.js
  docs/data/joy/customization/theme-colors/theme-colors.md
  docs/data/joy/customization/theme-shadow/CustomShadowOnElement.js
  docs/data/joy/customization/theme-shadow/CustomShadowOnElement.tsx
  docs/data/joy/customization/theme-shadow/ShadowThemeViewer.js
  docs/data/joy/customization/theme-shadow/ShadowThemeViewer.tsx
  docs/data/joy/customization/theme-shadow/theme-shadow.md
  docs/data/joy/customization/theme-tokens/CustomVariantStyle.js
  docs/data/joy/customization/theme-tokens/theme-tokens-pt.md
  docs/data/joy/customization/theme-tokens/theme-tokens-zh.md
  docs/data/joy/customization/theme-tokens/theme-tokens.md
  docs/data/joy/customization/theme-typography/DefaultTypographySystem.js
  docs/data/joy/customization/theme-typography/TypographyThemeViewer.js
  docs/data/joy/customization/theme-typography/TypographyThemeViewer.tsx
  docs/data/joy/customization/theme-typography/theme-typography.md
  docs/data/joy/pages.ts
  docs/data/material/customization/default-theme/DefaultTheme.js
  docs/data/material/customization/default-theme/default-theme.md
  docs/data/material/pages.ts
  docs/pages/joy-ui/customization/default-theme-viewer.js
  docs/pages/joy-ui/customization/theme-colors.js
  docs/pages/joy-ui/customization/theme-shadow.js
  docs/public/_redirects
  docs/src/modules/components/CodeCopyButton.tsx
  docs/src/modules/components/ThemeViewer.tsx
  docs/src/modules/utils/useClipboardCopy.ts
  docs/translations/translations.json
  test/regressions/index.js
Labels: docs, package: joy

#35928 [docs] Update community theme builder to forked updated one
  docs/data/material/customization/color/color.md
  docs/data/material/customization/theming/theming.md
Labels: docs

#35935 [docs] Add docs notification to Date and Time Pickers revamped
  docs/notifications.json
Labels: docs, MUI X

#35817 [docs] Revise and expand Joy UI Checkbox doc
  docs/data/joy/components/checkbox/CheckboxColors.js
  docs/data/joy/components/checkbox/CheckboxSizes.js
  docs/data/joy/components/checkbox/CheckboxVariants.js
  docs/data/joy/components/checkbox/FocusCheckbox.js
  docs/data/joy/components/checkbox/GroupCheckboxes.js
  docs/data/joy/components/checkbox/HelperTextCheckbox.js
  docs/data/joy/components/checkbox/HoverCheckbox.js
  docs/data/joy/components/checkbox/IconlessCheckbox.js
  docs/data/joy/components/checkbox/IconsCheckbox.js
  docs/data/joy/components/checkbox/OverlayCheckbox.js
  docs/data/joy/components/checkbox/checkbox.md
Labels: docs, component: checkbox, package: joy

#35932 [CssVarsProvider] Skip `unstable_sxConfig` variables
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/styles/CssVarsProvider.tsx
Labels: package: material, package: joy

#35957 [docs] Standardize "no longer" / "not documented" callouts in Material UI docs
  docs/data/material/components/accordion/accordion.md
  docs/data/material/components/alert/alert.md
  docs/data/material/components/steppers/steppers.md
  docs/data/material/components/text-fields/text-fields.md
  docs/data/material/components/timeline/timeline.md
Labels: docs, package: material

#35955 [docs][joy] Removed Badge info from Chip docs
  docs/data/joy/components/chip/chip-pt.md
  docs/data/joy/components/chip/chip-zh.md
  docs/data/joy/components/chip/chip.md
Labels: docs, component: chip, package: joy

#35953 [Joy] Miscellaneous fixes
  docs/data/joy/components/divider/DividerInModalDialog.js
  docs/data/joy/components/modal/AlertDialogModal.js
  docs/data/joy/components/modal/BasicModalDialog.js
  docs/data/joy/components/modal/FadeModalDialog.js
  docs/data/joy/components/modal/KeepMountedModal.js
  docs/data/joy/components/modal/LayoutModalDialog.js
  docs/data/joy/components/modal/ModalUsage.js
  docs/data/joy/components/modal/NestedModals.js
  docs/data/joy/components/modal/ServerModal.js
  docs/data/joy/components/modal/SizeModalDialog.js
  docs/data/joy/components/modal/VariantModalDialog.js
  docs/data/joy/components/modal/modal.md
  docs/data/joy/components/tabs/TabsVertical.js
  docs/data/joy/components/tabs/TabsVertical.tsx
  packages/mui-joy/src/FormControl/FormControl.tsx
  packages/mui-joy/src/Input/Input.test.js
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/TabList/TabList.tsx
  packages/mui-joy/src/TabPanel/TabPanel.tsx
  packages/mui-joy/src/TabPanel/TabPanelProps.ts
  packages/mui-joy/src/Tabs/Tabs.tsx
  packages/mui-joy/src/Textarea/Textarea.test.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/test/integration/TabsIntegration.test.tsx
  packages/mui-joy/tsconfig.json
Labels: package: joy

#35961 [docs][system] Fix border color of Box in `Configure the sx prop` page in dark mode
  docs/data/system/experimental-api/configure-the-sx-prop/ChangeTheBehaviorSxProp.js
  docs/data/system/experimental-api/configure-the-sx-prop/ChangeTheBehaviorSxProp.tsx
  docs/data/system/experimental-api/configure-the-sx-prop/ChangeTheBehaviorSxProp.tsx.preview
  docs/data/system/experimental-api/configure-the-sx-prop/ExtendTheSxProp.js
  docs/data/system/experimental-api/configure-the-sx-prop/ExtendTheSxProp.tsx
  docs/data/system/experimental-api/configure-the-sx-prop/ExtendTheSxProp.tsx.preview
Labels: docs, package: system

#35930 [docs] Fix event's label reported to GA
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownDocs.js
Labels: bug 🐛, regression, docs-infra

#35948 [blog] Prevent horizontal scroll on blog posts
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/v6-beta-pickers.md
  docs/src/modules/components/MarkdownElement.js
Labels: bug 🐛, blog

#35973 [website] Fix 404 link to store
  docs/public/static/branding/store-templates/template-1dark.jpg
  docs/public/static/branding/store-templates/template-1light.jpg
  docs/public/static/branding/store-templates/template-2dark.jpg
  docs/public/static/branding/store-templates/template-2light.jpg
  docs/public/static/branding/store-templates/template-3dark.jpg
  docs/public/static/branding/store-templates/template-3light.jpg
  docs/public/static/branding/store-templates/template-4dark.jpg
  docs/public/static/branding/store-templates/template-4light.jpg
  docs/public/static/branding/store-templates/template-5dark.jpg
  docs/public/static/branding/store-templates/template-5light.jpg
  docs/public/static/branding/store-templates/template-6dark.jpg
  docs/public/static/branding/store-templates/template-6light.jpg
  docs/public/static/branding/store-templates/template-bazar-dark.jpg
  docs/public/static/branding/store-templates/template-bazar-light.jpg
  docs/public/static/branding/store-templates/template-dark4.jpeg
  docs/public/static/branding/store-templates/template-light4.jpeg
  docs/src/components/home/StoreTemplatesBanner.tsx
  docs/src/components/productTemplate/TemplateDemo.tsx
Labels: bug 🐛, website

#35985 [docs] Fix typos in base components docs
  docs/data/base/components/button/button.md
  docs/data/base/components/form-control/form-control-pt.md
  docs/data/base/components/form-control/form-control-zh.md
  docs/data/base/components/modal/modal-pt.md
  docs/data/base/components/modal/modal-zh.md
  docs/data/base/components/modal/modal.md
  docs/data/base/components/popper/popper-pt.md
  docs/data/base/components/popper/popper-zh.md
  docs/data/base/components/popper/popper.md
  docs/data/base/components/snackbar/snackbar-pt.md
  docs/data/base/components/snackbar/snackbar-zh.md
  docs/data/base/components/snackbar/snackbar.md
  docs/data/base/components/tabs/tabs-pt.md
  docs/data/base/components/tabs/tabs-zh.md
Labels: docs

#35950 [docs] Fix Joy UI variables playground
  docs/src/modules/components/JoyVariablesDemo.tsx
Labels: docs

#35943 [Joy][Checkbox] Display correct icon in checkbox
  packages/mui-joy/src/Checkbox/Checkbox.test.js
  packages/mui-joy/src/Checkbox/Checkbox.tsx
Labels: component: checkbox, package: joy

#35937 [docs] Add a warning about to clear the local storage when `defaultMode` changes
  docs/data/joy/customization/dark-mode/dark-mode.md
Labels: docs

#35777 [blog] Add RSS feed
  .gitignore
  docs/package.json
  docs/pages/blog.tsx
  docs/scripts/generateRSSFeed.ts
  docs/src/layouts/AppFooter.tsx
  docs/src/route.ts
  yarn.lock
Labels: blog

#35989 [docs][joy] Fixed a typo in `Using icon libraries` page
  docs/data/joy/guides/using-icon-libraries/using-icon-libraries.md
Labels: docs, package: joy

#35972 Bump JSDOM to 21.x
  package.json
  yarn.lock
Labels: test, dependencies, core-infra

#35909 [Tooltip] Fix tooltip position
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/Tooltip/Tooltip.js
Labels: bug 🐛, component: tooltip, package: joy

#35852 [InputLabel] Add missing `component` type
  packages/mui-material/src/FormLabel/FormLabel.d.ts
  packages/mui-material/src/InputLabel/InputLabel.d.ts
  packages/mui-material/src/InputLabel/InputLabel.spec.tsx
Labels: bug 🐛, typescript, component: FormControl

#35833 [usePreviousProps] Improve types for usePreviousProps
  packages/mui-base/src/BadgeUnstyled/useBadge.ts
  packages/mui-joy/src/Badge/Badge.tsx
  packages/mui-utils/src/usePreviousProps.ts
Labels: typescript, package: utils, core

#35872 [Joy] Add `Table` component
  docs/data/joy/components/table/BasicTable.js
  docs/data/joy/components/table/BasicTable.tsx
  docs/data/joy/components/table/TableAlignment.js
  docs/data/joy/components/table/TableAlignment.tsx
  docs/data/joy/components/table/TableBorder.js
  docs/data/joy/components/table/TableBorder.tsx
  docs/data/joy/components/table/TableCaption.js
  docs/data/joy/components/table/TableCaption.tsx
  docs/data/joy/components/table/TableCollapsibleRow.js
  docs/data/joy/components/table/TableCollapsibleRow.tsx
  docs/data/joy/components/table/TableColumnPinning.js
  docs/data/joy/components/table/TableColumnPinning.tsx
  docs/data/joy/components/table/TableColumnWidth.js
  docs/data/joy/components/table/TableColumnWidth.tsx
  docs/data/joy/components/table/TableFooter.js
  docs/data/joy/components/table/TableFooter.tsx
  docs/data/joy/components/table/TableGlobalVariant.js
  docs/data/joy/components/table/TableGlobalVariant.tsx
  docs/data/joy/components/table/TableHover.js
  docs/data/joy/components/table/TableHover.tsx
  docs/data/joy/components/table/TableRowColumnSpan.js
  docs/data/joy/components/table/TableRowColumnSpan.tsx
  docs/data/joy/components/table/TableRowHead.js
  docs/data/joy/components/table/TableRowHead.tsx
  docs/data/joy/components/table/TableScrollingShadows.js
  docs/data/joy/components/table/TableScrollingShadows.tsx
  docs/data/joy/components/table/TableSheet.js
  docs/data/joy/components/table/TableSheet.tsx
  docs/data/joy/components/table/TableSheetColorInversion.js
  docs/data/joy/components/table/TableSheetColorInversion.tsx
  docs/data/joy/components/table/TableSizes.js
  docs/data/joy/components/table/TableSizes.tsx
  docs/data/joy/components/table/TableSortAndSelection.js
  docs/data/joy/components/table/TableSortAndSelection.tsx
  docs/data/joy/components/table/TableStickyHeader.js
  docs/data/joy/components/table/TableStickyHeader.tsx
  docs/data/joy/components/table/TableStripe.js
  docs/data/joy/components/table/TableStripe.tsx
  docs/data/joy/components/table/TableTextEllipsis.js
  docs/data/joy/components/table/TableTextEllipsis.tsx
  docs/data/joy/components/table/TableUsage.js
  docs/data/joy/components/table/TableVariables.js
  docs/data/joy/components/table/TableVariants.js
  docs/data/joy/components/table/TableVariants.tsx
  docs/data/joy/components/table/table.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-table.js
  packages/mui-joy/src/Sheet/Sheet.tsx
  packages/mui-joy/src/Table/Table.test.tsx
  packages/mui-joy/src/Table/Table.tsx
  packages/mui-joy/src/Table/TableProps.ts
  packages/mui-joy/src/Table/index.ts
  packages/mui-joy/src/Table/tableClasses.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
  packages/mui-joy/src/styles/styleUtils.ts
  test/utils/createRenderer.tsx
  test/utils/describeJoyColorInversion.tsx
Labels: component: table, package: joy

#35735 [Autocomplete] Prevent reset scroll position when new options are added
  packages/mui-base/src/AutocompleteUnstyled/useAutocomplete.js
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, component: autocomplete

#35838 [ListboxUnstyled] Fix option state highlighted to prevent unnecessary focus
  packages/mui-base/src/ListboxUnstyled/useListbox.ts
  packages/mui-base/src/MenuUnstyled/MenuUnstyled.test.tsx
Labels: component: list, package: base

#36000 v5.11.7
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#36010 [Joy] Add missing `Table` export from root
  packages/mui-joy/src/index.ts
Labels: bug 🐛, component: table, package: joy
