Repository mui/material-ui, pull requests merged in 2023-11, with the labels that each got.

#39684 [core] Speed up the CI by removing the second build
  .github/workflows/ci.yml
Labels: core

#39638 [docs-infra] Add appropriate aria-label to docs buttons
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/Notifications.js
  docs/translations/translations.json
Labels: accessibility, scope: docs-infra

#39690 [docs-infra] Improve access to the component demos via the API page
  docs/src/modules/components/ApiPage.js
  docs/translations/translations.json
Labels: design, scope: docs-infra

#39689 [docs-infra] Bring back scroll gradient in API page with table
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/ApiPage/list/ExpendableApiItem.tsx
  docs/src/modules/components/ApiPage/table/CSSTable.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
  docs/src/modules/components/ApiPage/table/StyledTableContainer.tsx
Labels: scope: docs-infra

#39629 [docs][material-ui] Remove numeric input workaround from TextField docs
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, component: text field, package: material-ui

#39569 [material-ui][InputBase] Add `sx` type to `input` , `root` slot
  packages/mui-material/src/InputBase/InputBase.d.ts
  packages/mui-material/src/InputBase/InputBase.spec.tsx
Labels: bug 🐛, typescript, package: material-ui, component: input, Port to v6.x

#39704 [docs–infra] Small polish on API toggle
  docs/src/modules/components/Ad.js
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/CssSection.tsx
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
Labels: enhancement, scope: docs-infra

#39701 [website] Add Vadym teamMember card to 'About'
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/vadym-raksha.png
Labels: website

#39611 [zero][system] Support props from "as" component
  packages/zero-runtime/src/styled.d.ts
  packages/zero-runtime/src/styled.js
  packages/zero-runtime/src/styled.spec.tsx
  packages/zero-runtime/src/styled.test.js
Labels: package: system

#39691 [docs-infra] Remove the design feedback alert
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/AppLayoutDocsFooter.js
  netlify/functions/feedback-management.js
Labels: scope: docs-infra

#39720 [docs-infra] Fix dark theme color
  docs/src/modules/components/ApiPage/list/ExpendableApiItem.tsx
Labels: bug 🐛, scope: docs-infra

#39714 [InputBase][material-next] InputBase slotProps accepts sx type
  packages/mui-material-next/src/InputBase/InputBase.spec.tsx
  packages/mui-material-next/src/InputBase/InputBase.types.ts
Labels: package: material-ui, v6.x, component: input

#39709 [docs-infra] Simplify footer
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: scope: docs-infra

#39710 [docs-infra] Render footer in SSR
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: bug 🐛, scope: docs-infra

#39708 [docs-infra] Fix path bloat client-side
  docs/src/modules/components/RichMarkdownElement.js
Labels: performance, scope: docs-infra

#39571 [joy-ui][ToggleButtonGroup] Fix toggling button state when `Button` is not immediate children
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/ToggleButtonGroup/ToggleButtonGroup.test.tsx
  packages/mui-joy/src/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/mui-joy/src/ToggleButtonGroup/ToggleButtonGroupContext.tsx
Labels: bug 🐛, component: toggle button, package: joy-ui

#39698 [material-next][OutlinedInput] Copy v5 OutlinedInput
  packages/mui-material-next/src/OutlinedInput/NotchedOutline.d.ts
  packages/mui-material-next/src/OutlinedInput/NotchedOutline.js
  packages/mui-material-next/src/OutlinedInput/NotchedOutline.test.js
  packages/mui-material-next/src/OutlinedInput/OutlinedInput.d.ts
  packages/mui-material-next/src/OutlinedInput/OutlinedInput.js
  packages/mui-material-next/src/OutlinedInput/OutlinedInput.test.js
  packages/mui-material-next/src/OutlinedInput/index.d.ts
  packages/mui-material-next/src/OutlinedInput/index.js
  packages/mui-material-next/src/OutlinedInput/outlinedInputClasses.ts
  packages/mui-material-next/src/index.ts
Labels: component: text field, v6.x, design: material you

#39669 [docs][joy-ui] Make code readable to set next color in color inversion demos
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.js
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.js
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionMarketing.js
  docs/data/joy/main-features/color-inversion/ColorInversionMarketing.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionNavigation.js
  docs/data/joy/main-features/color-inversion/ColorInversionNavigation.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionPopup.js
  docs/data/joy/main-features/color-inversion/ColorInversionPopup.tsx
Labels: docs, package: joy-ui

#39719 [joy-ui][ModalDialog] Remove redundant code
  packages/mui-joy/src/CardOverflow/CardOverflow.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
Labels: component: modal, package: joy-ui, enhancement

#39734 [core][docs] Fix broken MUI System link in README.md
  README.md
Labels: docs

#39640 [website] List benefits for sponsors
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/data/material/pages.ts
  docs/src/modules/components/DiamondSponsors.js
  docs/src/route.ts
  docs/translations/translations.json
Labels: website

#39713 [material-ui][Dialog] Should not close until the IME is cancelled
  packages/mui-base/src/unstable_useModal/useModal.ts
  packages/mui-material/src/Dialog/Dialog.test.js
Labels: component: dialog, package: material-ui

#39711 [test] Fix flaky screenshot
  test/regressions/index.js
Labels: bug 🐛, test

#39729 [docs] Update Taiwan country name in demos
  docs/data/base/components/select/UnstyledSelectRichOptions.js
  docs/data/base/components/select/UnstyledSelectRichOptions.tsx
  docs/data/joy/components/autocomplete/CountrySelect.js
  docs/data/joy/components/autocomplete/CountrySelect.tsx
  docs/data/joy/getting-started/templates/profile-dashboard/components/CountrySelector.tsx
  docs/data/joy/getting-started/templates/rental-dashboard/components/CountrySelector.tsx
  docs/data/material/components/autocomplete/CountrySelect.js
  docs/data/material/components/autocomplete/CountrySelect.tsx
  docs/data/material/components/autocomplete/GloballyCustomizedOptions.js
  docs/data/material/components/autocomplete/GloballyCustomizedOptions.tsx
Labels: docs

#39685 [lab] Remove tree view import from `@mui/lab`
  packages/mui-lab/package.json
  packages/mui-lab/src/TreeItem/TreeItem.tsx
  packages/mui-lab/src/TreeItem/index.ts
  packages/mui-lab/src/TreeView/TreeView.tsx
  packages/mui-lab/src/TreeView/index.ts
  packages/mui-lab/src/themeAugmentation/components.d.ts
  packages/mui-lab/src/themeAugmentation/overrides.d.ts
  packages/mui-lab/src/themeAugmentation/props.d.ts
  packages/test-utils/src/setupBabel.js
  yarn.lock
Labels: package: lab, component: tree view

#39773 5.14.17
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#39707 [docs-infra] Fix bug on API prop copy experience
  docs/src/modules/components/ApiPage/list/ExpendableApiItem.tsx
Labels: bug 🐛, scope: docs-infra

#39769 [TextField][material-ui] Fix padding on small filled multiline TextField
  packages/mui-material/src/FilledInput/FilledInput.js
  test/regressions/fixtures/TextField/FilledMultilineHiddenLabelTextField.js
Labels: bug 🐛, component: text field, package: material-ui

#39782 [docs] Fix the default theme viewer font family
  docs/src/modules/components/ThemeViewer.tsx
Labels: docs

#39772 [core] Make the API docs builder configurable per project
  docs/scripts/formattedTSDemos.js
  package.json
  packages/api-docs-builder-core/.eslintrc.js
  packages/api-docs-builder-core/baseUi/generateApiLinks.ts
  packages/api-docs-builder-core/baseUi/generateBaseUiApiPages.ts
  packages/api-docs-builder-core/baseUi/getBaseUiComponentInfo.test.ts
  packages/api-docs-builder-core/baseUi/getBaseUiComponentInfo.ts
  packages/api-docs-builder-core/baseUi/getBaseUiHookInfo.test.ts
  packages/api-docs-builder-core/baseUi/getBaseUiHookInfo.ts
  packages/api-docs-builder-core/baseUi/migratedBaseComponents.ts
  packages/api-docs-builder-core/baseUi/projectSettings.ts
  packages/api-docs-builder-core/index.ts
  packages/api-docs-builder-core/joyUi/getJoyUiComponentInfo.ts
  packages/api-docs-builder-core/joyUi/projectSettings.ts
  packages/api-docs-builder-core/materialUi/getMaterialUiComponentInfo.test.ts
  packages/api-docs-builder-core/materialUi/getMaterialUiComponentInfo.ts
  packages/api-docs-builder-core/materialUi/projectSettings.ts
  packages/api-docs-builder-core/muiSystem/getSystemComponentInfo.ts
  packages/api-docs-builder-core/muiSystem/projectSettings.ts
  packages/api-docs-builder-core/package.json
  packages/api-docs-builder-core/tsconfig.json
  packages/api-docs-builder/.eslintrc.js
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/ProjectSettings.ts
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/buildApiUtils.test.ts
  packages/api-docs-builder/buildApiUtils.ts
  packages/api-docs-builder/index.ts
  packages/api-docs-builder/package.json
  packages/api-docs-builder/utils/createTypeScriptProject.ts
  packages/api-docs-builder/utils/defaultParamsHandler.ts
  packages/api-docs-builder/utils/findApiPages.test.ts
  packages/api-docs-builder/utils/findApiPages.ts
  scripts/buidApiDocs/index.ts
  scripts/buidApiDocs/tsconfig.json
  scripts/coreTypeScriptProjects.js
  scripts/generateProptypes.ts
Labels: core

#39353 [material-ui][TablePagination] implement `slotProps` pattern for first, last, next, previous, select props
  docs/pages/material-ui/api/table-pagination.json
  docs/translations/api-docs/table-pagination/table-pagination.json
  packages/mui-material/src/TablePagination/TablePagination.d.ts
  packages/mui-material/src/TablePagination/TablePagination.js
  packages/mui-material/src/TablePagination/TablePagination.test.js
  packages/mui-material/src/TablePagination/TablePaginationActions.d.ts
  packages/mui-material/src/TablePagination/TablePaginationActions.js
Labels: package: material-ui, component: TablePagination

#39739 [material-next][ButtonGroup] Copy `ButtonGroup` to material next
  packages/mui-material-next/src/Button/Button.tsx
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.d.ts
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.js
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.test.js
  packages/mui-material-next/src/ButtonGroup/ButtonGroupButtonContext.ts
  packages/mui-material-next/src/ButtonGroup/ButtonGroupContext.ts
  packages/mui-material-next/src/ButtonGroup/buttonGroupClasses.ts
  packages/mui-material-next/src/ButtonGroup/index.d.ts
  packages/mui-material-next/src/ButtonGroup/index.js
Labels: component: ButtonGroup, v6.x

#39483 [TextField][material-next] Add FormLabel and InputLabel components
  docs/pages/experiments/md3/inputs.tsx
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/FormControl/FormControl.types.ts
  packages/mui-material-next/src/FormLabel/FormLabel.js
  packages/mui-material-next/src/FormLabel/FormLabel.test.tsx
  packages/mui-material-next/src/FormLabel/FormLabel.tsx
  packages/mui-material-next/src/FormLabel/FormLabel.types.ts
  packages/mui-material-next/src/FormLabel/index.d.ts
  packages/mui-material-next/src/FormLabel/index.ts
  packages/mui-material-next/src/InputBase/InputBase.tsx
  packages/mui-material-next/src/InputLabel/InputLabel.test.tsx
  packages/mui-material-next/src/InputLabel/InputLabel.tsx
  packages/mui-material-next/src/InputLabel/InputLabel.types.ts
  packages/mui-material-next/src/InputLabel/index.d.ts
  packages/mui-material-next/src/InputLabel/index.ts
Labels: component: text field, design: material you

#39721 [material-ui][Checkbox] Asterisk placement aligned correctly
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
Labels: component: checkbox, package: material-ui, design

#39788 [CHANGELOG] Correct the Joy UI version in the changelog
  CHANGELOG.md
Labels: core

#39793 [material-next][ProgressIndicator] Change `LinearProgress` files to ts
  packages/mui-material-next/src/LinearProgress/LinearProgress.test.tsx
  packages/mui-material-next/src/LinearProgress/LinearProgress.tsx
  packages/mui-material-next/src/LinearProgress/LinearProgress.types.ts
  packages/mui-material-next/src/LinearProgress/index.d.ts
  packages/mui-material-next/src/LinearProgress/index.ts
Labels: component: LinearProgress, package: material-ui, v6.x

#39795 [Autocomplete][material-ui] Fix React key warning in Next.js
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: typescript, package: material-ui, component: autocomplete, nextjs

#39790 [joy-ui][docs] Add `CssBaseline` to integration with Material UI page
  docs/data/joy/integrations/material-ui/material-ui.md
Labels: docs, package: joy-ui

#39791 [material-next][ProgressIndicator] Change `CircularProgress` files to ts
  packages/mui-material-next/src/CircularProgress/CircularProgress.test.tsx
  packages/mui-material-next/src/CircularProgress/CircularProgress.tsx
  packages/mui-material-next/src/CircularProgress/CircularProgress.types.ts
  packages/mui-material-next/src/CircularProgress/index.d.ts
  packages/mui-material-next/src/CircularProgress/index.ts
Labels: component: CircularProgress, package: material-ui, component: progress, v6.x

#39775 [material-ui][Rating] Fix the hover highlighting for spaced icons
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Rating/Rating.test.js
Labels: bug 🐛, package: material-ui, component: rating

#39639 [website] Change roadmap link destination
  docs/src/layouts/AppFooter.tsx
  docs/src/route.ts
Labels: website

#39810 [docs-infra] Adjust the website & docs footer
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/icons/SvgMuiLogotype.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: website, scope: docs-infra

#39725 [joy-ui][docs] Change the design kit link on the Overview page
  docs/src/modules/components/JoyStartingLinksCollection.js
Labels: docs, package: joy-ui

#39786 [docs][base-ui][number-input] Fix inconsistent demo component names
  docs/data/base/components/number-input/NumberInputIntroduction/css/index.js
  docs/data/base/components/number-input/NumberInputIntroduction/css/index.tsx
  docs/data/base/components/number-input/NumberInputIntroduction/tailwind/index.js
  docs/data/base/components/number-input/NumberInputIntroduction/tailwind/index.tsx
Labels: docs, package: base-ui, component: number input

#39785 [joy-ui][docs] Fix menu in color inversion header demo
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.js
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.tsx
Labels: docs, package: joy-ui

#39820 [material-ui][Autocomplete] Add `defaultMuiPrevented` to onKeyDown type
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.spec.tsx
Labels: bug 🐛, typescript, package: material-ui, component: autocomplete

#39821 [Tabs][joy-ui] Add wordBreak style to demo
  docs/data/joy/components/tabs/TabsFlex.js
  docs/data/joy/components/tabs/TabsFlex.tsx
  docs/data/joy/components/tabs/TabsFlex.tsx.preview
Labels: docs, component: tabs, package: joy-ui, enhancement

#39823 [base-ui][Menu] Refine demos
  docs/data/base/components/menu/MenuSimple/tailwind/index.js
  docs/data/base/components/menu/MenuSimple/tailwind/index.tsx
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/WrappedMenuItems.js
  docs/data/base/components/menu/WrappedMenuItems.tsx
Labels: component: menu, design, package: base-ui

#39822 [base-ui][Switch] Refine demos
  docs/data/base/components/switch/UnstyledSwitchIntroduction/css/index.js
  docs/data/base/components/switch/UnstyledSwitchIntroduction/css/index.tsx
  docs/data/base/components/switch/UnstyledSwitchIntroduction/system/index.js
  docs/data/base/components/switch/UnstyledSwitchIntroduction/system/index.tsx
  docs/data/base/components/switch/UnstyledSwitchIntroduction/tailwind/index.js
  docs/data/base/components/switch/UnstyledSwitchIntroduction/tailwind/index.tsx
  docs/data/base/components/switch/UseSwitchesBasic.js
  docs/data/base/components/switch/UseSwitchesBasic.tsx
  docs/src/modules/sandbox/CreateReactApp.ts
  docs/tailwind.config.js
Labels: component: switch, design, package: base-ui

#39706 [docs-infra] Fix hydration api
  docs/src/modules/components/ApiPage.js
Labels: bug 🐛, scope: docs-infra

#39700 [Blog] MUI X late v6 blog post
  docs/pages/blog/mui-x-end-v6-features.js
  docs/pages/blog/mui-x-end-v6-features.md
  docs/public/static/blog/mui-x-end-v6-features/bar-chart-animations.mp4
  docs/public/static/blog/mui-x-end-v6-features/clearable-fields.mp4
  docs/public/static/blog/mui-x-end-v6-features/column-auto-sizing.mp4
  docs/public/static/blog/mui-x-end-v6-features/intro.png
  docs/public/static/blog/mui-x-end-v6-features/sparkline-datagrid.png
  docs/public/static/blog/mui-x-end-v6-features/tree-view-gmail.mp4
Labels: blog, MUI X

#39861 [joy-ui][docs] Fix API generation for Grid
  docs/data/joy/components/grid/grid.md
  docs/data/joy/pagesApi.js
  docs/data/system/components/box/BoxBasic.js
  docs/data/system/components/box/BoxBasic.tsx
  docs/data/system/components/box/box.md
  docs/pages/joy-ui/api/box.js
  docs/pages/joy-ui/api/box.json
  docs/pages/joy-ui/api/grid.js
  docs/pages/joy-ui/api/grid.json
  docs/pages/system/api/grid.json
  docs/translations/api-docs-joy/box/box.json
  docs/translations/api-docs-joy/grid/grid.json
  packages/api-docs-builder-core/joyUi/projectSettings.ts
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/buildApiUtils.ts
  packages/mui-joy/src/Box/Box.tsx
  packages/mui-joy/src/Grid/Grid.tsx
  packages/mui-system/src/Unstable_Grid/Grid.tsx
Labels: docs, package: joy-ui

#39860 [core] Remove legacy docs files
  docs/translations/api-docs/click-away-listener/click-away-listener.json
  docs/translations/api-docs/focus-trap/focus-trap.json
  docs/translations/api-docs/no-ssr/no-ssr.json
  docs/translations/api-docs/portal/portal.json
  docs/translations/api-docs/textarea-autosize/textarea-autosize.json
Labels: core

#39806 [Select][joy-ui] Fix displaying placeholder when multiple is true
  packages/mui-joy/src/Select/Select.test.tsx
  packages/mui-joy/src/Select/Select.tsx
Labels: bug 🐛, component: select, package: joy-ui

#39873 [release] v5.14.18
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#39876 [docs][joy-ui][ButtonGroup] Fix orientation prop description
  docs/data/joy/components/button-group/button-group.md
Labels: docs, component: ButtonGroup, package: joy-ui

#38922 [material-ui][FilledInput] Fix slot props deepmerge order
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/FilledInput/FilledInput.test.js
Labels: package: material-ui, component: autocomplete, Port to v6.x

#39694 [base][docs] Export Base UI theme in stylesheet
  docs/pages/_app.js
  docs/pages/base-theme.css
  docs/pages/experiments/base/components-gallery.tsx
Labels: docs, package: base-ui

#39891 [material-ui][Select] Remove unnecessary picking of `onChange` type from SelectInputProps
  packages/mui-material-next/src/Select/Select.d.ts
  packages/mui-material/src/Select/Select.d.ts
Labels: component: select, typescript, package: material-ui

#39887 [material-next][Switch] Copy `Switch` to material next
  packages/mui-material-next/src/Switch/Switch.d.ts
  packages/mui-material-next/src/Switch/Switch.js
  packages/mui-material-next/src/Switch/Switch.test.js
  packages/mui-material-next/src/Switch/index.d.ts
  packages/mui-material-next/src/Switch/index.js
  packages/mui-material-next/src/Switch/switchClasses.ts
Labels: component: switch

#39895 [joy-ui][Box] Added boxClasses
  docs/pages/joy-ui/api/box.json
  docs/translations/api-docs-joy/box/box.json
  packages/mui-joy/src/Box/Box.tsx
  packages/mui-joy/src/Box/boxClasses.ts
  packages/mui-joy/src/Box/index.ts
Labels: component: Box, package: joy-ui

#39579 [docs][joy-ui] Refine the Email, Teams and Files templates
  docs/data/joy/getting-started/templates/email/App.tsx
  docs/data/joy/getting-started/templates/email/components/EmailContent.tsx
  docs/data/joy/getting-started/templates/email/components/Header.tsx
  docs/data/joy/getting-started/templates/email/components/Mails.tsx
  docs/data/joy/getting-started/templates/email/components/Menu.tsx
  docs/data/joy/getting-started/templates/email/components/Navigation.tsx
  docs/data/joy/getting-started/templates/email/components/WriteEmail.tsx
  docs/data/joy/getting-started/templates/files/App.tsx
  docs/data/joy/getting-started/templates/files/components/Header.tsx
  docs/data/joy/getting-started/templates/files/components/Navigation.tsx
  docs/data/joy/getting-started/templates/files/components/TableFiles.tsx
  docs/data/joy/getting-started/templates/team/App.tsx
  docs/data/joy/getting-started/templates/team/components/Header.tsx
  docs/data/joy/getting-started/templates/team/components/Menu.tsx
  docs/data/joy/getting-started/templates/team/components/Navigation.tsx
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
Labels: docs, package: joy-ui, design: joy

#39896 [system][Box] Added boxClasses
  docs/pages/system/api/box.json
  docs/translations/api-docs/box/box.json
  packages/mui-system/src/Box/Box.js
  packages/mui-system/src/Box/Box.test.js
  packages/mui-system/src/Box/boxClasses.ts
  packages/mui-system/src/Box/index.d.ts
  packages/mui-system/src/Box/index.js
Labels: package: system, component: Box

#39899 [docs][joy-ui] Fixes in theme scoping documentation
  docs/data/joy/integrations/material-ui/material-ui.md
Labels: docs, package: joy-ui, customization: theme

#39838 [base-ui][docs] Improve Next.js Link docs
  docs/data/base/components/button/UnstyledButtonIntroduction/css/index.js
  docs/data/base/components/button/UnstyledButtonIntroduction/css/index.tsx
  docs/data/base/components/button/UnstyledButtonIntroduction/css/index.tsx.preview
  docs/data/base/components/button/UnstyledButtonIntroduction/system/index.js
  docs/data/base/components/button/UnstyledButtonIntroduction/system/index.tsx
  docs/data/base/components/button/UnstyledButtonIntroduction/tailwind/index.js
  docs/data/base/components/button/UnstyledButtonIntroduction/tailwind/index.tsx
  docs/data/base/components/button/UnstyledButtonsDisabledFocus.js
  docs/data/base/components/button/UnstyledButtonsDisabledFocus.tsx
  docs/data/base/components/button/UnstyledButtonsDisabledFocus.tsx.preview
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.js
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.tsx
  docs/data/base/components/button/UnstyledButtonsDisabledFocusCustom.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSimple.js
  docs/data/base/components/button/UnstyledButtonsSimple.tsx
  docs/data/base/components/button/UnstyledButtonsSimple.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSimple/css/index.js
  docs/data/base/components/button/UnstyledButtonsSimple/css/index.tsx
  docs/data/base/components/button/UnstyledButtonsSimple/css/index.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSimple/tailwind/index.js
  docs/data/base/components/button/UnstyledButtonsSimple/tailwind/index.tsx
  docs/data/base/components/button/UnstyledButtonsSimple/tailwind/index.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSpan.js
  docs/data/base/components/button/UnstyledButtonsSpan.tsx
  docs/data/base/components/button/UnstyledButtonsSpan/css/index.js
  docs/data/base/components/button/UnstyledButtonsSpan/css/index.tsx
  docs/data/base/components/button/UnstyledButtonsSpan/css/index.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSpan/system/index.js
  docs/data/base/components/button/UnstyledButtonsSpan/system/index.tsx
  docs/data/base/components/button/UnstyledButtonsSpan/system/index.tsx.preview
  docs/data/base/components/button/UnstyledButtonsSpan/tailwind/index.js
  docs/data/base/components/button/UnstyledButtonsSpan/tailwind/index.tsx
  docs/data/base/components/button/UnstyledButtonsSpan/tailwind/index.tsx.preview
  docs/data/base/components/button/UnstyledLinkButton.js
  docs/data/base/components/button/UnstyledLinkButton.tsx
  docs/data/base/components/button/UnstyledLinkButton.tsx.preview
  docs/data/base/components/button/UseButton.js
  docs/data/base/components/button/UseButton.tsx
  docs/data/base/components/button/button.md
  packages/mui-material-next/src/Button/Button.tsx
Labels: docs, component: button, package: base-ui

#39414 [Select][material-ui] Add id to hidden input element
  packages/mui-material/src/InputLabel/InputLabel.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: select, package: material-ui, Port to v6.x

#39824 [base-ui][Modal] Refine demos
  docs/data/base/components/modal/KeepMountedModal.js
  docs/data/base/components/modal/KeepMountedModal.tsx
  docs/data/base/components/modal/KeepMountedModal.tsx.preview
  docs/data/base/components/modal/ModalUnstyled.js
  docs/data/base/components/modal/ModalUnstyled.tsx
  docs/data/base/components/modal/NestedModal.js
  docs/data/base/components/modal/NestedModal.tsx
  docs/data/base/components/modal/ServerModal.js
  docs/data/base/components/modal/ServerModal.tsx
  docs/data/base/components/modal/SpringModal.js
  docs/data/base/components/modal/SpringModal.tsx
  docs/data/base/components/modal/TransitionsModal.js
  docs/data/base/components/modal/TransitionsModal.tsx
  docs/data/base/components/modal/UseModal.js
  docs/data/base/components/modal/UseModal.tsx
Labels: component: modal, design, package: base-ui

#39880 [website] Fix modal not being closed with the escape key on the Base UI page
  docs/src/components/productBaseUI/BaseUIThemesDemo.tsx
Labels: bug 🐛, package: base-ui, website

#39939 [types] Add `PartiallyRequired` type to `@mui/types`
  packages/mui-types/index.d.ts
Labels: package: types

#39956 [docs] Restore Algolia results when searching for "Figma"
  docs/src/components/action/InfoCard.tsx
  docs/src/modules/components/ApiPage/list/ExpendableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/JoyStartingLinksCollection.js
  docs/src/modules/components/MaterialUIDesignResources.js
Labels: docs, design, regression

#39944 [docs][material-next] Add contributing guide
  packages/mui-material-next/CONTRIBUTING.md
  packages/mui-material-next/README.md
Labels: docs, v6.x

#39955 [docs] Show design links on Joy UI
  docs/data/joy/components/alert/alert.md
  docs/data/joy/components/autocomplete/autocomplete.md
  docs/data/joy/components/avatar/avatar.md
  docs/data/joy/components/badge/badge.md
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
  docs/data/joy/components/button/button.md
  docs/data/joy/components/checkbox/checkbox.md
  docs/data/joy/components/chip/chip.md
  docs/data/joy/components/circular-progress/circular-progress.md
  docs/data/joy/components/divider/divider.md
  docs/data/joy/components/input/input.md
  docs/data/joy/components/linear-progress/linear-progress.md
  docs/data/joy/components/link/link.md
  docs/data/joy/components/modal/modal.md
  docs/data/joy/components/radio-button/radio-button.md
  docs/data/joy/components/select/select.md
  docs/data/joy/components/sheet/sheet.md
  docs/data/joy/components/slider/slider.md
  docs/data/joy/components/snackbar/snackbar.md
  docs/data/joy/components/stack/stack.md
  docs/data/joy/components/switch/switch.md
  docs/data/joy/components/table/table.md
  docs/data/joy/components/tabs/tabs.md
  docs/data/joy/components/tooltip/tooltip.md
  docs/data/material/components/stack/stack.md
  docs/data/material/components/transfer-list/transfer-list.md
  docs/src/modules/components/ComponentLinkHeader.js
Labels: docs, design: joy

#39953 [docs] Fix use of quote in markdown
  docs/src/pages/versions/versions.md
Labels: docs

#39967 [docs] Make integration searchable
  docs/src/modules/components/MaterialUIExampleCollection.js
Labels: docs, examples

#39945 [IconButton][material-next] Copy IconButton to material-next
  packages/mui-material-next/src/IconButton/IconButton.d.ts
  packages/mui-material-next/src/IconButton/IconButton.js
  packages/mui-material-next/src/IconButton/IconButton.test.js
  packages/mui-material-next/src/IconButton/iconButtonClasses.ts
  packages/mui-material-next/src/IconButton/index.d.ts
  packages/mui-material-next/src/IconButton/index.js
Labels: component: icon button, v6.x

#39407 [useNumberInput][base-ui] Fix change handlers passed through slotProps
  docs/data/base/components/number-input/number-input.md
  docs/pages/base-ui/api/use-number-input.json
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
  packages/mui-base/src/Unstable_NumberInput/NumberInput.tsx
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.ts
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.types.ts
Labels: package: base-ui, component: number input

#38723 [base-ui][NumberInput] Implement `numberInputReducer`
  docs/pages/base-ui/api/number-input.json
  docs/pages/base-ui/api/use-number-input.json
  packages/mui-base/src/Unstable_NumberInput/NumberInput.tsx
  packages/mui-base/src/unstable_useNumberInput/numberInputAction.types.ts
  packages/mui-base/src/unstable_useNumberInput/numberInputReducer.test.ts
  packages/mui-base/src/unstable_useNumberInput/numberInputReducer.ts
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.ts
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.types.ts
Labels: package: base-ui, component: number input

#39503 [FormHelperText][material-next] Add FormHelperText component
  docs/pages/experiments/md3/inputs.tsx
  packages/mui-material-next/src/FilledInput/FilledInput.tsx
  packages/mui-material-next/src/FormHelperText/FormHelperText.js
  packages/mui-material-next/src/FormHelperText/FormHelperText.spec.tsx
  packages/mui-material-next/src/FormHelperText/FormHelperText.test.tsx
  packages/mui-material-next/src/FormHelperText/FormHelperText.tsx
  packages/mui-material-next/src/FormHelperText/FormHelperText.types.ts
  packages/mui-material-next/src/FormHelperText/index.d.ts
  packages/mui-material-next/src/FormHelperText/index.ts
  packages/mui-material-next/src/FormLabel/FormLabel.tsx
  packages/mui-material-next/src/InputLabel/InputLabel.tsx
Labels: component: text field, v6.x, design: material you

#39932 [docs] Fix nested CSS warning
  docs/package.json
  docs/postcss.config.js
Labels: docs, regression

#39938 [joy-ui][Templates] Update thumbnails
  docs/data/joy/getting-started/templates/email/components/EmailContent.tsx
  docs/data/joy/getting-started/templates/files/App.tsx
  docs/public/static/screenshots/joy-ui/getting-started/templates/email-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/email.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/files.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/framesx-web-blocks.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/messages.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/order-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/profile-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/rental-dashboard.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team-dark.jpg
  docs/public/static/screenshots/joy-ui/getting-started/templates/team.jpg
Labels: docs, package: joy-ui, design: joy

#39976 [docs][material-ui] Fix theme prop in v5 migration guide
  docs/data/material/migration/migration-v4/v5-style-changes.md
Labels: docs, package: material-ui, v5.x migration

#36426 [material-ui][Autocomplete] Fix behavior when there are duplicate labels
  docs/pages/base-ui/api/use-autocomplete.json
  docs/pages/material-ui/api/autocomplete.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  docs/translations/api-docs/use-autocomplete/use-autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-base/src/useAutocomplete/useAutocomplete.spec.ts
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, package: material-ui, component: autocomplete

#40015 [website] Update career page
  docs/data/joy/integrations/icon-libraries/icon-libraries.md
  docs/data/material/components/icons/icons.md
  docs/data/material/getting-started/faq/faq.md
  docs/data/material/guides/interoperability/interoperability.md
  docs/data/material/migration/migration-v4/troubleshooting.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/2021-developer-survey-results.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/careers/ROLE_TEMPLATE.md
  docs/pages/careers/accessibility-engineer.md
  docs/pages/careers/design-engineer-x-grid.md
  docs/pages/careers/design-engineer.md
  docs/pages/careers/designer.md
  docs/pages/careers/developer-advocate.md
  docs/pages/careers/developer-experience-engineer.md
  docs/pages/careers/engineering-manager.md
  docs/pages/careers/full-stack-engineer.md
  docs/pages/careers/head-of-operations.md
  docs/pages/careers/people-operation-manager.md
  docs/pages/careers/product-engineer.md
  docs/pages/careers/product-manager.md
  docs/pages/careers/product-marketing-manager.md
  docs/pages/careers/react-community-engineer.md
  docs/pages/careers/react-engineer-core.md
  docs/pages/careers/react-engineer-x-charts.md
  docs/pages/careers/react-engineer-x-grid.md
  docs/pages/careers/react-engineer-x.md
  docs/pages/careers/react-tech-lead-core.md
  docs/pages/careers/react-tech-lead-x-grid.md
  docs/pages/careers/senior-designer.md
  docs/pages/careers/support-agent.md
  docs/pages/careers/technical-product-manager.md
  docs/pages/careers/technical-recruiter.md
  test/e2e/README.md
  test/regressions/README.md
Labels: website

#39975 [website] Mark TreeView and Charts as stable
  docs/data/material/discover-more/roadmap/roadmap.md
  docs/src/components/productX/XChartsDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
Labels: docs, component: tree view, website

#40022 [joy-ui][templates] Fix layout shift on Profile template
  docs/data/joy/getting-started/templates/profile-dashboard/components/MyProfile.tsx
Labels: docs, design: joy

#39726 [joy-ui][docs] Update gif from the Dark Mode Optimization page
  docs/data/joy/main-features/dark-mode-optimization/dark-mode-optimization.md
  docs/public/static/joy-ui/dark-mode/dark-mode-flicker.gif
Labels: docs, package: joy-ui

#39962 [system] Add outlineColor to defaultSxConfig
  packages/mui-system/src/borders.js
  packages/mui-system/src/borders.test.js
  packages/mui-system/src/styleFunctionSx/defaultSxConfig.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: new feature, package: system

#40026 [core] Downgrade lerna to 7.2.0
  package.json
  renovate.json
  yarn.lock
Labels: core

#40029 [core] Improve lerna's renovate package rules
  renovate.json
Labels: core

#39828 [base-ui][Menu] Fix navigation of items when 1st item is disabled
  packages/mui-base/src/Dropdown/Dropdown.test.tsx
  packages/mui-base/src/useMenu/useMenu.ts
Labels: bug 🐛, component: menu, package: base-ui

#39807 [material-next][ProgressIndicator] Apply MD3 style to `LinearProgress`
  docs/data/material/components/progress/ProgressMaterialYouPlayground.js
  docs/data/material/components/progress/progress.md
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/LinearProgress/LinearProgress.test.tsx
  packages/mui-material-next/src/LinearProgress/LinearProgress.tsx
  packages/mui-material-next/src/LinearProgress/LinearProgress.types.ts
  packages/mui-material-next/src/LinearProgress/linearProgressClasses.ts
  packages/mui-material-next/src/index.ts
Labels: component: progress, v6.x, design: material you

#39991 [docs-infra] Env variables should be string
  docs/next.config.js
  docs/nextConfigDocsInfra.js
Labels: bug 🐛, scope: docs-infra

#39832 [website][docs] Update the product identifier menu and X page
  docs/pages/x.tsx
  docs/src/components/action/InfoCard.tsx
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/References.tsx
  docs/src/components/productMaterial/MaterialTemplates.tsx
  docs/src/components/productX/XChartsDemo.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XComponentsSwitcher.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XPlans.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/components/productX/XTheming.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/showcase/FolderTreeView.tsx
  docs/src/components/typography/SectionHeadline.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/layouts/HeroContainer.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/route.ts
  test/e2e-website/products-drawer.spec.ts
Labels: docs, website, MUI X

#40023 [website] Update pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, MUI X

#39879 [docs] End v6 blogpost notification
  docs/notifications.json
Labels: docs, MUI X

#40040 [system][docs] Fix typo on the CSS theme variables page
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
Labels: docs, package: system

#39692 [material-ui][docs][TextField] Add a performance section
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, performance, component: text field, package: material-ui

#39825 [material-next][ProgressIndicator] Apply MD3 style to `CircularProgress`
  docs/data/material/components/progress/ProgressMaterialYouPlayground.js
  docs/data/material/components/progress/progress.md
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/CircularProgress/CircularProgress.test.tsx
  packages/mui-material-next/src/CircularProgress/CircularProgress.tsx
  packages/mui-material-next/src/CircularProgress/CircularProgress.types.ts
  packages/mui-material-next/src/CircularProgress/circularProgressClasses.ts
Labels: component: CircularProgress, package: material-ui, v6.x, design: material you
