Repository mui/material-ui, pull requests merged in 2024-01, with the labels that each got.

#40305 [code-infra] Sync bug issue template
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/workflows/issue-cleanup.yml
Labels: enhancement, scope: code-infra

#40373 [docs-infra] Fix footer links to link to the main domain
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: bug 🐛, scope: docs-infra

#40358 [lab] Add use client directive
  packages/mui-lab/src/Alert/Alert.js
  packages/mui-lab/src/AlertTitle/AlertTitle.js
  packages/mui-lab/src/Autocomplete/Autocomplete.js
  packages/mui-lab/src/AvatarGroup/AvatarGroup.js
  packages/mui-lab/src/CalendarPicker/CalendarPicker.tsx
  packages/mui-lab/src/CalendarPickerSkeleton/CalendarPickerSkeleton.tsx
  packages/mui-lab/src/ClockPicker/ClockPicker.tsx
  packages/mui-lab/src/DatePicker/DatePicker.tsx
  packages/mui-lab/src/DateTimePicker/DateTimePicker.tsx
  packages/mui-lab/src/DesktopDatePicker/DesktopDatePicker.tsx
  packages/mui-lab/src/DesktopDateTimePicker/DesktopDateTimePicker.tsx
  packages/mui-lab/src/DesktopTimePicker/DesktopTimePicker.tsx
  packages/mui-lab/src/LoadingButton/LoadingButton.js
  packages/mui-lab/src/LocalizationProvider/LocalizationProvider.tsx
  packages/mui-lab/src/Masonry/Masonry.js
  packages/mui-lab/src/MobileDatePicker/MobileDatePicker.tsx
  packages/mui-lab/src/MobileDateTimePicker/MobileDateTimePicker.tsx
  packages/mui-lab/src/MobileTimePicker/MobileTimePicker.tsx
  packages/mui-lab/src/MonthPicker/MonthPicker.tsx
  packages/mui-lab/src/Pagination/Pagination.js
  packages/mui-lab/src/Pagination/usePagination.js
  packages/mui-lab/src/PaginationItem/PaginationItem.js
  packages/mui-lab/src/PickersDay/PickersDay.tsx
  packages/mui-lab/src/Rating/Rating.js
  packages/mui-lab/src/Skeleton/Skeleton.js
  packages/mui-lab/src/SpeedDial/SpeedDial.js
  packages/mui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/mui-lab/src/SpeedDialIcon/SpeedDialIcon.js
  packages/mui-lab/src/StaticDatePicker/StaticDatePicker.tsx
  packages/mui-lab/src/StaticDateTimePicker/StaticDateTimePicker.tsx
  packages/mui-lab/src/StaticTimePicker/StaticTimePicker.tsx
  packages/mui-lab/src/TabContext/TabContext.js
  packages/mui-lab/src/TabList/TabList.js
  packages/mui-lab/src/TabPanel/TabPanel.js
  packages/mui-lab/src/TimePicker/TimePicker.tsx
  packages/mui-lab/src/Timeline/Timeline.tsx
  packages/mui-lab/src/TimelineConnector/TimelineConnector.js
  packages/mui-lab/src/TimelineContent/TimelineContent.js
  packages/mui-lab/src/TimelineDot/TimelineDot.js
  packages/mui-lab/src/TimelineItem/TimelineItem.js
  packages/mui-lab/src/TimelineOppositeContent/TimelineOppositeContent.js
  packages/mui-lab/src/TimelineSeparator/TimelineSeparator.js
  packages/mui-lab/src/ToggleButton/ToggleButton.js
  packages/mui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/mui-lab/src/TreeItem/TreeItem.tsx
  packages/mui-lab/src/TreeView/TreeView.tsx
  packages/mui-lab/src/YearPicker/YearPicker.tsx
  packages/mui-lab/src/internal/svg-icons/ArrowDropDown.js
  packages/mui-lab/src/internal/svg-icons/ArrowDropDown.tsx
  packages/mui-lab/src/internal/svg-icons/ArrowLeft.tsx
  packages/mui-lab/src/internal/svg-icons/ArrowRight.tsx
  packages/mui-lab/src/internal/svg-icons/Calendar.tsx
  packages/mui-lab/src/internal/svg-icons/Clock.tsx
  packages/mui-lab/src/internal/svg-icons/DateRange.tsx
  packages/mui-lab/src/internal/svg-icons/Pen.tsx
  packages/mui-lab/src/internal/svg-icons/Time.tsx
  packages/rsc-builder/buildRsc.ts
Labels: package: lab, core, nextjs

#40400 [code-infra] Break package dependency cycle between @mui/material and @mui/icons-material
  packages/mui-material/package.json
  packages/mui-material/src/TabScrollButton/TabScrollButton.test.js
  packages/mui-material/src/TablePagination/TablePagination.test.js
  packages/mui-material/src/TableSortLabel/TableSortLabel.test.js
  packages/mui-material/src/Tabs/Tabs.test.js
Labels: scope: code-infra

#40399 [code-infra] Update lerna and unpin its version
  .circleci/config.yml
  .gitignore
  nx.json
  package.json
  renovate.json
  yarn.lock
Labels: scope: code-infra

#40314 [docs-infra] Prefetch pages on hover
  docs/src/modules/components/MarkdownLinks.js
Labels: performance, enhancement, scope: docs-infra

#40393 [docs-infra] Fix a11y violation rule
  docs/src/modules/components/ComponentLinkHeader.js
Labels: bug 🐛, accessibility, scope: docs-infra

#40394 [docs-infra] Fix missing button aria-label
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/list/ClassesList.tsx
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/list/SlotsList.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ComponentsApiContent.js
Labels: bug 🐛, accessibility, scope: docs-infra

#40367 [material-next][List] Copy all List* components to material-next package
  packages/mui-material-next/src/List/List.d.ts
  packages/mui-material-next/src/List/List.js
  packages/mui-material-next/src/List/List.spec.tsx
  packages/mui-material-next/src/List/List.test.js
  packages/mui-material-next/src/List/ListContext.d.ts
  packages/mui-material-next/src/List/ListContext.js
  packages/mui-material-next/src/List/index.d.ts
  packages/mui-material-next/src/List/index.js
  packages/mui-material-next/src/List/listClasses.ts
  packages/mui-material-next/src/ListItem/ListItem.d.ts
  packages/mui-material-next/src/ListItem/ListItem.js
  packages/mui-material-next/src/ListItem/ListItem.spec.tsx
  packages/mui-material-next/src/ListItem/ListItem.test.js
  packages/mui-material-next/src/ListItem/index.d.ts
  packages/mui-material-next/src/ListItem/index.js
  packages/mui-material-next/src/ListItem/listItemClasses.ts
  packages/mui-material-next/src/ListItemAvatar/ListItemAvatar.d.ts
  packages/mui-material-next/src/ListItemAvatar/ListItemAvatar.js
  packages/mui-material-next/src/ListItemAvatar/ListItemAvatar.test.js
  packages/mui-material-next/src/ListItemAvatar/index.d.ts
  packages/mui-material-next/src/ListItemAvatar/index.js
  packages/mui-material-next/src/ListItemAvatar/listItemAvatarClasses.ts
  packages/mui-material-next/src/ListItemButton/ListItemButton.d.ts
  packages/mui-material-next/src/ListItemButton/ListItemButton.js
  packages/mui-material-next/src/ListItemButton/ListItemButton.test.js
  packages/mui-material-next/src/ListItemButton/index.d.ts
  packages/mui-material-next/src/ListItemButton/index.js
  packages/mui-material-next/src/ListItemButton/listItemButtonClasses.ts
  packages/mui-material-next/src/ListItemIcon/ListItemIcon.d.ts
  packages/mui-material-next/src/ListItemIcon/ListItemIcon.js
  packages/mui-material-next/src/ListItemIcon/ListItemIcon.test.js
  packages/mui-material-next/src/ListItemIcon/index.d.ts
  packages/mui-material-next/src/ListItemIcon/index.js
  packages/mui-material-next/src/ListItemIcon/listItemIconClasses.ts
  packages/mui-material-next/src/ListItemSecondaryAction/ListItemSecondaryAction.d.ts
  packages/mui-material-next/src/ListItemSecondaryAction/ListItemSecondaryAction.js
  packages/mui-material-next/src/ListItemSecondaryAction/ListItemSecondaryAction.test.js
  packages/mui-material-next/src/ListItemSecondaryAction/index.d.ts
  packages/mui-material-next/src/ListItemSecondaryAction/index.js
  packages/mui-material-next/src/ListItemSecondaryAction/listItemSecondaryActionClasses.ts
  packages/mui-material-next/src/ListItemText/ListItemText.d.ts
  packages/mui-material-next/src/ListItemText/ListItemText.js
  packages/mui-material-next/src/ListItemText/ListItemText.spec.tsx
  packages/mui-material-next/src/ListItemText/ListItemText.test.js
  packages/mui-material-next/src/ListItemText/index.d.ts
  packages/mui-material-next/src/ListItemText/index.js
  packages/mui-material-next/src/ListItemText/listItemTextClasses.ts
  packages/mui-material-next/src/ListSubheader/ListSubheader.d.ts
  packages/mui-material-next/src/ListSubheader/ListSubheader.js
  packages/mui-material-next/src/ListSubheader/ListSubheader.test.js
  packages/mui-material-next/src/ListSubheader/index.d.ts
  packages/mui-material-next/src/ListSubheader/index.js
  packages/mui-material-next/src/ListSubheader/listSubheaderClasses.ts
  packages/mui-material-next/src/index.ts
Labels: component: list, design: material you

#40396 [docs] Fix 301 link to Base UI
  docs/pages/joy-ui/api/menu.json
  packages/api-docs-builder-core/baseUi/generateApiLinks.ts
  packages/api-docs-builder-core/baseUi/getBaseUiComponentInfo.test.ts
  packages/api-docs-builder-core/baseUi/getBaseUiComponentInfo.ts
  packages/api-docs-builder-core/baseUi/getBaseUiHookInfo.ts
  packages/api-docs-builder-core/joyUi/getJoyUiComponentInfo.ts
  packages/api-docs-builder-core/materialUi/getMaterialUiComponentInfo.test.ts
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/buildApiUtils.ts
  packages/mui-joy/src/Menu/Menu.tsx
Labels: bug 🐛, docs, package: base-ui

#40231 [website] Fix Base UI page's component section imports & styles
  docs/src/components/productBaseUI/components/BaseInputDemo.tsx
  docs/src/components/productBaseUI/components/BaseMenuDemo.tsx
  docs/src/components/productBaseUI/components/BaseTabsDemo.tsx
  docs/tailwind.config.js
Labels: package: base-ui, website

#40409 [material-nextjs] Fix order of emotion server
  packages/mui-material-nextjs/src/v13-pagesRouter/pagesRouterV13.tsx
Labels: bug 🐛, nextjs

#40415 [release] v5.15.3
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/api-docs-builder/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/zero-tag-processor/package.json
  test/package.json
Labels: release

#39986 [joy-ui][Badge] Shouldn't crash when using custom size
  packages/mui-joy/src/Badge/Badge.tsx
Labels: bug 🐛, component: badge, package: joy-ui

#40428 [code-infra] Use tsx instead of ts-node
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#40412 [base-ui][docs] Update the overview page
  docs/data/base/getting-started/overview/overview.md
Labels: docs, package: base-ui

#40350 [material-ui][docs] Add Material 3 components page
  docs/data/material/components/badges/badges.md
  docs/data/material/components/buttons/buttons.md
  docs/data/material/components/chips/ChipMaterialYouPlayground.js
  docs/data/material/components/chips/chips.md
  docs/data/material/components/dividers/dividers.md
  docs/data/material/components/progress/progress.md
  docs/data/material/components/slider/slider.md
  docs/data/material/guides/material-3-components/MD3AndV5Usage.js
  docs/data/material/guides/material-3-components/MD3AndV5Usage.tsx
  docs/data/material/guides/material-3-components/MD3AndV5Usage.tsx.preview
  docs/data/material/guides/material-3-components/MD3ButtonUsage.js
  docs/data/material/guides/material-3-components/MD3ButtonUsage.tsx
  docs/data/material/guides/material-3-components/MD3ButtonUsage.tsx.preview
  docs/data/material/guides/material-3-components/MD3Theming.js
  docs/data/material/guides/material-3-components/MD3Theming.tsx
  docs/data/material/guides/material-3-components/MD3Theming.tsx.preview
  docs/data/material/guides/material-3-components/material-3-components.md
  docs/data/material/pages.ts
  docs/pages/material-ui/guides/material-3-components.js
  docs/translations/translations.json
  packages/mui-material-next/CONTRIBUTING.md
  packages/mui-material-next/README.md
  packages/mui-material-next/migration.md
Labels: docs, package: material-ui

#40113 [docs][base-ui] Add tokens to plain CSS theme stylesheet
  docs/pages/experiments/base/components-gallery.tsx
  docs/public/static/components-gallery/base-theme.css
Labels: docs, design, package: base-ui

#40407 [joy-ui][ToggleButtonGroup] Add `JoyToggleButtonGroup` to extendTheme's components type export
  packages/mui-joy/src/ToggleButtonGroup/ToggleButtonGroupProps.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: bug 🐛, typescript, component: toggle button, package: joy-ui

#40430 [test] Restore the `t` command
  package.json
  scripts/test.mjs
Labels: test, scope: code-infra

#40284 [material-ui][docs] Revise the Accordion page
  docs/data/material/components/accordion/AccordionExpandDefault.js
  docs/data/material/components/accordion/AccordionExpandDefault.tsx
  docs/data/material/components/accordion/AccordionExpandIcon.js
  docs/data/material/components/accordion/AccordionExpandIcon.tsx
  docs/data/material/components/accordion/AccordionTransition.js
  docs/data/material/components/accordion/AccordionTransition.tsx
  docs/data/material/components/accordion/AccordionUsage.js
  docs/data/material/components/accordion/AccordionUsage.tsx
  docs/data/material/components/accordion/DisabledAccordion.js
  docs/data/material/components/accordion/DisabledAccordion.tsx
  docs/data/material/components/accordion/accordion.md
Labels: docs, component: accordion, package: material-ui

#40337 [website] Evolve the Developer Advocate role
  docs/pages/careers.tsx
  docs/pages/careers/developer-advocate.md
Labels: website

#40301 [docs-infra] Add types for withDocsInfra
  docs/next.config.js
  docs/nextConfigDocsInfra.js
  docs/tsconfig.json
Labels: typescript, scope: docs-infra

#40220 [material-ui][ToggleButtonGroup] Support different elements under it
  docs/data/material/components/toggle-button/CustomizedDividers.js
  docs/data/material/components/toggle-button/CustomizedDividers.tsx
  docs/pages/material-ui/api/toggle-button-group.json
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  packages/mui-material/src/ButtonGroup/ButtonGroupContext.ts
  packages/mui-material/src/ToggleButton/ToggleButton.js
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroup.test.js
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroupButtonContext.ts
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroupContext.ts
  packages/mui-material/src/ToggleButtonGroup/toggleButtonGroupClasses.ts
  test/regressions/fixtures/ToggleButtonGroup/DifferentChildren.js
Labels: component: toggle button, package: material-ui, enhancement

#40436 [material-ui-nextjs] Fix build size
  packages/mui-material-nextjs/src/v13-pagesRouter/createCache.ts
  packages/mui-material-nextjs/src/v13-pagesRouter/index.ts
  packages/mui-material-nextjs/src/v13-pagesRouter/pagesRouterV13App.tsx
  packages/mui-material-nextjs/src/v13-pagesRouter/pagesRouterV13Document.tsx
Labels: bug 🐛, package: material-ui, nextjs

#40447 [code-infra] Don't require noreferrer on target link
  .eslintrc.js
  apps/zero-runtime-next-app/src/app/page.tsx
  docs/data/joy/customization/overriding-component-structure/OverridingRootSlot.js
  docs/data/joy/customization/overriding-component-structure/OverridingRootSlot.tsx
  docs/data/joy/customization/overriding-component-structure/OverridingRootSlot.tsx.preview
  docs/data/joy/getting-started/templates/TemplateCollection.js
  docs/data/system/flexbox/flexbox.md
  docs/src/components/about/Team.tsx
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/components/AdDisplay.js
  docs/src/modules/components/AdInHouse.js
  docs/src/modules/components/DemoErrorBoundary.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/MaterialShowcase.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/modules/joy/getMinimalJoyTemplate.ts
Labels: bug 🐛, scope: code-infra

#39981 [utils] Fix isPlainObject to work across realm
  packages/mui-utils/src/deepmerge.test.ts
  packages/mui-utils/src/deepmerge.ts
  test/karma.conf.js
Labels: bug 🐛, package: utils

#40482 [code-infra] Configure build dependencies in nx
  nx.json
Labels: scope: code-infra

#40405 [docs-infra] Fix the copy button overlapping with the scrollbar
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/CodeCopyButton.tsx
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/HighlightedCode.js
  docs/src/modules/components/MarkdownElement.js
  packages/markdown/prepareMarkdown.js
Labels: design, scope: docs-infra

#40476 [docs-infra] Fix API table full-width
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
  docs/src/modules/components/ApiPage/table/StyledTableContainer.tsx
Labels: design, enhancement, scope: docs-infra

#40257 [docs-infra] Remove explicit `mui-x` dependency resolving
  docs/src/modules/sandbox/Dependencies.test.js
  docs/src/modules/sandbox/Dependencies.ts
Labels: MUI X, enhancement, scope: docs-infra

#40438 [core] Remove duplicate devDependencies
  package.json
  pnpm-lock.yaml
Labels: core

#40449 [system] Fix all use of styled(Box)
  .eslintrc.js
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParentStyled.js
  docs/data/joy/main-features/color-inversion/ColorInversionAnyParentStyled.tsx
  docs/data/material/components/drawers/SwipeableEdgeDrawer.js
  docs/data/material/components/drawers/SwipeableEdgeDrawer.tsx
  docs/data/material/components/material-icons/SearchIcons.js
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.js
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.tsx
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHeroLayout.js
  docs/src/pages/premium-themes/onepirate/modules/views/ProductHeroLayout.tsx
  packages/eslint-plugin-material-ui/src/index.js
  packages/eslint-plugin-material-ui/src/rules/no-styled-box.js
  packages/eslint-plugin-material-ui/src/rules/no-styled-box.test.js
  packages/mui-joy/src/colorInversion/colorInversionUtils.spec.tsx
  packages/mui-joy/src/colorInversion/colorInversionUtils.test.tsx
  packages/mui-system/src/Box/Box.spec.tsx
Labels: performance, package: system, component: Box

#40199 [examples] Use material-nextjs integration package
  examples/material-ui-nextjs-pages-router-ts/package.json
  examples/material-ui-nextjs-pages-router-ts/pages/_app.tsx
  examples/material-ui-nextjs-pages-router-ts/pages/_document.tsx
  examples/material-ui-nextjs-pages-router-ts/src/createEmotionCache.ts
  examples/material-ui-nextjs-pages-router/package.json
  examples/material-ui-nextjs-pages-router/pages/_app.js
  examples/material-ui-nextjs-pages-router/pages/_document.js
  examples/material-ui-nextjs-pages-router/src/createEmotionCache.js
  examples/material-ui-nextjs-ts-v4-v5-migration/package.json
  examples/material-ui-nextjs-ts-v4-v5-migration/pages/_app.tsx
  examples/material-ui-nextjs-ts-v4-v5-migration/pages/_document.tsx
  examples/material-ui-nextjs-ts-v4-v5-migration/src/Link.tsx
  examples/material-ui-nextjs-ts-v4-v5-migration/src/createEmotionCache.ts
  examples/material-ui-nextjs-ts/package.json
  examples/material-ui-nextjs-ts/src/app/layout.tsx
  examples/material-ui-nextjs-ts/src/components/ThemeRegistry/EmotionCache.tsx
  examples/material-ui-nextjs-ts/src/components/ThemeRegistry/ThemeRegistry.tsx
  examples/material-ui-nextjs-ts/src/theme.ts
  examples/material-ui-nextjs/package.json
  examples/material-ui-nextjs/src/app/layout.js
  examples/material-ui-nextjs/src/components/ThemeRegistry/EmotionCache.js
  examples/material-ui-nextjs/src/components/ThemeRegistry/ThemeRegistry.js
  examples/material-ui-nextjs/src/theme.js
Labels: examples, nextjs

#40487 [docs][base-ui] Visual tweaks to the plain CSS theme stylesheet
  docs/public/static/components-gallery/base-theme.css
Labels: docs, design, package: base-ui

#40470 [material-ui][Dialog] Refactor form submission in FormDialog component
  docs/data/material/components/dialogs/FormDialog.js
  docs/data/material/components/dialogs/FormDialog.tsx
Labels: docs, component: dialog, package: material-ui

#40176 [Select][material-ui] Add form submission regression test
  packages/mui-material/src/Select/Select.test.js
Labels: test, component: select, package: material-ui

#34892 [material-ui][docs] Revise the Alert demo page
  docs/data/material/components/alert/ActionAlerts.js
  docs/data/material/components/alert/ActionAlerts.tsx
  docs/data/material/components/alert/ActionAlerts.tsx.preview
  docs/data/material/components/alert/BasicAlerts.js
  docs/data/material/components/alert/BasicAlerts.tsx
  docs/data/material/components/alert/BasicAlerts.tsx.preview
  docs/data/material/components/alert/ColorAlerts.js
  docs/data/material/components/alert/ColorAlerts.tsx
  docs/data/material/components/alert/ColorAlerts.tsx.preview
  docs/data/material/components/alert/DescriptionAlerts.js
  docs/data/material/components/alert/DescriptionAlerts.tsx
  docs/data/material/components/alert/DescriptionAlerts.tsx.preview
  docs/data/material/components/alert/FilledAlerts.js
  docs/data/material/components/alert/FilledAlerts.tsx
  docs/data/material/components/alert/FilledAlerts.tsx.preview
  docs/data/material/components/alert/IconAlerts.js
  docs/data/material/components/alert/IconAlerts.tsx
  docs/data/material/components/alert/IconAlerts.tsx.preview
  docs/data/material/components/alert/OutlinedAlerts.js
  docs/data/material/components/alert/OutlinedAlerts.tsx
  docs/data/material/components/alert/OutlinedAlerts.tsx.preview
  docs/data/material/components/alert/SimpleAlert.js
  docs/data/material/components/alert/SimpleAlert.tsx
  docs/data/material/components/alert/SimpleAlert.tsx.preview
  docs/data/material/components/alert/TransitionAlerts.js
  docs/data/material/components/alert/TransitionAlerts.tsx
  docs/data/material/components/alert/alert.md
Labels: docs, package: material-ui, component: alert

#40107 [material-ui][docs] Replace recharts with MUI X charts on the Dashboard template
  docs/data/material/getting-started/templates/dashboard/Chart.js
  docs/data/material/getting-started/templates/dashboard/Chart.tsx
  docs/package.json
  pnpm-lock.yaml
Labels: docs, package: material-ui, MUI X, component: charts

#40343 [docs][material-ui][Drawer] Resolve flickering when double-clicking on the backdrop to close it
  docs/data/material/components/drawers/ResponsiveDrawer.js
  docs/data/material/components/drawers/ResponsiveDrawer.tsx
Labels: bug 🐛, docs, component: drawer, package: material-ui

#40485 [material-ui][ClickAwayListener] Fix export of types
  packages/mui-material/src/ClickAwayListener/index.ts
Labels: bug 🐛, typescript, component: ClickAwayListener, package: material-ui

#40488 [docs-infra] Update the outlined Demo container dark mode color
  docs/src/modules/components/Demo.js
Labels: design, scope: docs-infra

#40425 [base-ui][NumberInput] Remove `inputId` and `inputRef` types from `NumberInput` component
  packages/mui-base/src/Unstable_NumberInput/NumberInput.spec.tsx
  packages/mui-base/src/Unstable_NumberInput/NumberInput.types.ts
Labels: bug 🐛, typescript, package: base-ui, component: number input

#40505 [material-ui][Dialog] Remove deprecated onBackdropClick from Dialog tests
  packages/mui-material/src/Dialog/Dialog.test.js
Labels: test, component: dialog, package: material-ui

#40124 [material-next][ButtonGroup] Apply MD3 style to `ButtonGroup`
  docs/data/material/components/button-group/ButtonGroupMaterialYouPlayground.js
  docs/data/material/components/button-group/button-group.md
  packages/mui-material-next/migration.md
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.test.tsx
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.tsx
  packages/mui-material-next/src/ButtonGroup/ButtonGroup.types.ts
  packages/mui-material-next/src/ButtonGroup/buttonGroupClasses.ts
Labels: component: ButtonGroup

#40475 [core] Sync playwright cache between MUI X and Material UI
  .circleci/config.yml
Labels: core

#40526 [docs-infra] Remove dead code aria-label sponsors
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/Notifications.js
Labels: bug 🐛, scope: docs-infra

#40513 [code-infra] Add `run` command to deploy docs
  package.json
Labels: core, scope: code-infra

#40512 [joy-ui][ModalDialog] Fix ModalDialog layout prop override
  packages/mui-joy/src/ModalDialog/ModalDialogProps.ts
Labels: bug 🐛, component: dialog, typescript, component: modal, package: joy-ui

#40344 [joy-ui][RadioGroup] Allow zero number as a value
  packages/mui-joy/src/Radio/Radio.test.tsx
  packages/mui-joy/src/Radio/Radio.tsx
Labels: bug 🐛, component: radio, package: joy-ui

#40528 [lab] Update `@mui/material` peer dependency version
  packages/mui-lab/package.json
  pnpm-lock.yaml
Labels: package: lab, dependencies

#40537 [docs-infra] Remove old tocs banners
  docs/src/modules/components/AppTableOfContents.js
Labels: core, scope: docs-infra

#40538 [docs][material-ui] Fix typo on Next.js integration guide
  docs/data/material/guides/nextjs/nextjs.md
Labels: docs, package: material-ui

#40410 [docs][material-ui][Snackbar] Remove unused `State` interface from Consecutive Snackbars demo
  docs/data/material/components/snackbars/ConsecutiveSnackbars.tsx
Labels: docs, component: snackbar, typescript, package: material-ui

#40440 [docs-infra] Improve API page deprecation info
  docs/src/modules/components/ApiPage/ApiWarning.tsx
  docs/src/modules/components/ApiPage/list/ClassesList.tsx
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/translations/translations.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
  packages/docs-utilities/ComponentClassDefinition.ts
Labels: scope: docs-infra

#40519 [material-nextjs] Fix release script
  packages/mui-material-nextjs/package.json
  pnpm-lock.yaml
Labels: bug 🐛, nextjs

#40562 [docs][joy-ui][Card] Fix text alignment in horizontal aligned card demo
  docs/data/joy/components/card/RowCard.js
  docs/data/joy/components/card/RowCard.tsx
Labels: bug 🐛, docs, component: card, package: joy-ui

#40561 [docs] Fix MUI Treasury links
  docs/data/material/components/buttons/buttons.md
  docs/data/material/components/cards/cards.md
  docs/data/material/components/checkboxes/checkboxes.md
  docs/data/material/components/lists/lists.md
  docs/data/material/components/menus/menus.md
  docs/data/material/components/selects/selects.md
  docs/data/material/components/switches/switches.md
  docs/data/material/components/tabs/tabs.md
  docs/data/material/components/text-fields/text-fields.md
Labels: docs

#40471 [core] Simplify server detection
  docs/data/joy/getting-started/templates/messages/utils.ts
  docs/data/joy/getting-started/templates/order-dashboard/utils.ts
  docs/data/joy/getting-started/templates/profile-dashboard/utils.ts
Labels: core

#40582 [docs-infra] Minimize ad layout shift on mobile
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/ad.styles.js
  docs/translations/translations.json
Labels: bug 🐛, scope: docs-infra

#40536 [codemod] Allow `json` files to be transformed
  packages/mui-codemod/codemod.js
Labels: bug 🐛, package: codemod

#40555 [zero] Identify zero runtime styled path
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/zero-styled/index.d.ts
  packages/mui-material/src/zero-styled/index.js
  packages/zero-runtime/package.json
  packages/zero-runtime/src/processors/styled.ts
  packages/zero-unplugin/src/index.ts
  packages/zero-vite-plugin/src/zero-vite-plugin.ts
  packages/zero-vite-plugin/tsup.config.ts
Labels: package: zero-runtime

#40269 [material-ui-nextjs] Support Nonces in the App Router Provider
  packages/mui-material-nextjs/src/v13-appRouter/appRouterV13.tsx
Labels: new feature, package: material-ui, nextjs

#40473 [system] Polish @mui/material-nextjs
  packages/mui-material-nextjs/src/v13-appRouter/appRouterV13.tsx
  packages/mui-material-nextjs/src/v13-appRouter/index.ts
  packages/mui-material-nextjs/src/v14-appRouter/index.ts
Labels: package: system

#40525 [docs-infra] Enforce brand name rules
  .github/styles/Blog/BrandName.yml
  .github/styles/Blog/ComposedWords.yml
  .github/styles/Blog/NamingConventions.yml
  .github/styles/Blog/NoCompanyName.yml
  .github/styles/Blog/Typos.yml
  .vale.ini
  docs/pages/blog/mui-x-v6.md
Labels: enhancement, scope: docs-infra

#40599 [base-ui][select] Fix screen-reader CSS to avoid body scrollbar
  packages/mui-base/src/useSelect/useSelect.test.tsx
  packages/mui-base/src/useSelect/useSelect.ts
Labels: bug 🐛, component: select, package: base-ui, regression

#40490 [zero][system] Fix import path for @mui/system in vite apps
  apps/zero-runtime-vite-app/.eslintrc
  apps/zero-runtime-vite-app/.gitignore
  apps/zero-runtime-vite-app/README.md
  apps/zero-runtime-vite-app/index.html
  apps/zero-runtime-vite-app/package.json
  apps/zero-runtime-vite-app/postcss.config.cjs
  apps/zero-runtime-vite-app/src/App.tsx
  apps/zero-runtime-vite-app/src/Slider/ZeroSlider.test.jsx
  apps/zero-runtime-vite-app/src/Slider/ZeroSlider.tsx
  apps/zero-runtime-vite-app/src/augment.ts
  apps/zero-runtime-vite-app/src/component.tsx
  apps/zero-runtime-vite-app/src/extend-zero.ts
  apps/zero-runtime-vite-app/src/main.tsx
  apps/zero-runtime-vite-app/tsconfig.json
  apps/zero-runtime-vite-app/vite-env.d.ts
  apps/zero-runtime-vite-app/vite.config.ts
  packages/zero-vite-plugin/src/zero-vite-plugin.ts
  pnpm-lock.yaml
Labels: package: system

#40437 [dependencies] Bump tough-cookie
  pnpm-lock.yaml
Labels: dependencies, security

#40621 [docs] Improve instructions about peer dependencies
  docs/data/base/getting-started/quickstart/quickstart.md
  docs/data/joy/getting-started/installation/installation.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/system/getting-started/installation/installation.md
Labels: docs

#40564 [material-ui][docs] Update <ListItem button/> to ListItemButton in demos
  docs/data/material/components/app-bar/BottomAppBar.js
  docs/data/material/components/app-bar/BottomAppBar.tsx
  docs/data/material/components/bottom-navigation/FixedBottomNavigation.js
  docs/data/material/components/bottom-navigation/FixedBottomNavigation.tsx
  docs/data/material/components/breadcrumbs/RouterBreadcrumbs.js
  docs/data/material/components/breadcrumbs/RouterBreadcrumbs.tsx
  docs/data/material/components/dialogs/FullScreenDialog.js
  docs/data/material/components/dialogs/FullScreenDialog.tsx
  docs/data/material/components/menus/SimpleListMenu.js
  docs/data/material/components/menus/SimpleListMenu.tsx
  docs/data/material/components/transfer-list/SelectAllTransferList.js
  docs/data/material/components/transfer-list/SelectAllTransferList.tsx
  docs/data/material/components/transfer-list/TransferList.js
  docs/data/material/components/transfer-list/TransferList.tsx
Labels: docs, package: material-ui

#40504 [website] Polish the Base UI page demos
  docs/src/components/productBaseUI/BaseUIComponents.tsx
  docs/src/components/productBaseUI/BaseUICustomization.tsx
  docs/src/components/productBaseUI/BaseUIThemesDemo.tsx
  docs/src/components/productBaseUI/components/BaseButtonDemo.tsx
  docs/src/components/productBaseUI/components/BaseInputDemo.tsx
  docs/src/components/productBaseUI/components/BaseMenuDemo.tsx
  docs/src/components/productBaseUI/components/BaseSliderDemo.tsx
  docs/src/components/productBaseUI/components/BaseTabsDemo.tsx
  docs/src/components/productBaseUI/heroVariables.ts
Labels: design, website

#40638 [base-ui][switch] Add border-box to demos
  docs/data/base/components/switch/UnstyledSwitchIntroduction/css/index.js
  docs/data/base/components/switch/UnstyledSwitchIntroduction/css/index.tsx
  docs/data/base/components/switch/UnstyledSwitchIntroduction/system/index.js
  docs/data/base/components/switch/UnstyledSwitchIntroduction/system/index.tsx
  docs/data/base/components/switch/UseSwitchesBasic.js
  docs/data/base/components/switch/UseSwitchesBasic.tsx
Labels: docs, component: switch, design, package: base-ui

#40563 [material-ui][Divider] Deprecate props and classes for v6
  docs/pages/material-ui/api/divider.json
  docs/translations/api-docs/divider/divider.json
  packages/mui-material/src/Divider/Divider.d.ts
  packages/mui-material/src/Divider/Divider.js
  packages/mui-material/src/Divider/dividerClasses.ts
Labels: component: divider, deprecation, package: material-ui

#40418 [material-ui][Accordion] Deprecate *Props props and classes for v6
  docs/data/material/components/accordion/AccordionTransition.js
  docs/data/material/components/accordion/AccordionTransition.tsx
  docs/data/material/components/accordion/accordion.md
  docs/pages/material-ui/api/accordion-summary.json
  docs/pages/material-ui/api/accordion.json
  docs/translations/api-docs/accordion-summary/accordion-summary.json
  docs/translations/api-docs/accordion/accordion.json
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/Accordion/Accordion.test.js
  packages/mui-material/src/AccordionSummary/accordionSummaryClasses.ts
  packages/mui-material/src/utils/types.ts
  packages/mui-material/src/utils/useSlot.test.tsx
  packages/mui-material/src/utils/useSlot.ts
Labels: component: accordion, package: material-ui, v6.x

#40530 [zero] Fix css vars generation and simplify the code
  apps/zero-runtime-next-app/next.config.js
  packages/zero-runtime/package.json
  packages/zero-runtime/src/processors/styled.ts
  packages/zero-runtime/src/utils/cssFunctionTransformerPlugin.ts
  packages/zero-runtime/src/utils/generateCss.ts
  packages/zero-runtime/src/utils/index.ts
  packages/zero-unplugin/src/index.ts
  packages/zero-vite-plugin/src/index.ts
  pnpm-lock.yaml
Labels: package: system, package: zero-runtime

#40267 [utils] Centralize clamp implementation in utils
  packages/mui-base/src/unstable_useNumberInput/numberInputReducer.ts
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.ts
  packages/mui-base/src/unstable_useNumberInput/utils.test.ts
  packages/mui-base/src/unstable_useNumberInput/utils.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/SpeedDial/SpeedDial.js
  packages/mui-system/src/colorManipulator.js
  packages/mui-utils/src/clamp/clamp.test.ts
  packages/mui-utils/src/clamp/clamp.ts
  packages/mui-utils/src/clamp/index.ts
  packages/mui-utils/src/index.ts
Labels: package: utils, enhancement

#40551 [material-ui][Alert] Update TypeScript types to allow color override types to be added to `iconMapping` and `severity` props
  docs/pages/material-ui/api/alert.json
  packages/mui-material/src/Alert/Alert.d.ts
  packages/mui-material/src/Alert/Alert.js
Labels: bug 🐛, typescript, package: material-ui, component: alert

#40644 v5.15.5
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/test/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#40632 [code-infra] Remove unnecessary @mui/utils dependency from api-docs-builder
  packages/api-docs-builder/package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#40587 [material-ui][docs] Improve TabContext, TabList, and TabPanel documentation
  docs/data/material/components/tabs/tabs.md
Labels: docs, package: material-ui

#40655 [icons-material] Fix icons package.json version
  packages/mui-icons-material/package.json
Labels: package: icons

#40647 [material-ui][docs][Slider] Added custom mark labels demo
  docs/data/material/components/slider/CustomMarks.js
  docs/data/material/components/slider/CustomMarks.tsx
  docs/data/material/components/slider/CustomMarks.tsx.preview
  docs/data/material/components/slider/slider.md
Labels: docs, component: slider, package: material-ui

#40332 [base-ui][docs] Polish the Slider demos
  docs/data/base/components/slider/DiscreteSlider.js
  docs/data/base/components/slider/DiscreteSlider.tsx
  docs/data/base/components/slider/DiscreteSliderMarks.js
  docs/data/base/components/slider/DiscreteSliderMarks.tsx
  docs/data/base/components/slider/DiscreteSliderValues.js
  docs/data/base/components/slider/DiscreteSliderValues.tsx
  docs/data/base/components/slider/LabeledValuesSlider.js
  docs/data/base/components/slider/LabeledValuesSlider.tsx
  docs/data/base/components/slider/RangeSlider.js
  docs/data/base/components/slider/RangeSlider.tsx
  docs/data/base/components/slider/UnstyledSlider.js
  docs/data/base/components/slider/UnstyledSlider.tsx
  docs/data/base/components/slider/UnstyledSlider.tsx.preview
  docs/data/base/components/slider/UnstyledSliderBasic/css/index.js
  docs/data/base/components/slider/UnstyledSliderBasic/css/index.tsx
  docs/data/base/components/slider/UnstyledSliderBasic/system/index.js
  docs/data/base/components/slider/UnstyledSliderBasic/system/index.tsx
  docs/data/base/components/slider/UnstyledSliderBasic/system/index.tsx.preview
  docs/data/base/components/slider/UnstyledSliderBasic/tailwind/index.js
  docs/data/base/components/slider/UnstyledSliderBasic/tailwind/index.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction/css/index.js
  docs/data/base/components/slider/UnstyledSliderIntroduction/css/index.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction/system/index.js
  docs/data/base/components/slider/UnstyledSliderIntroduction/system/index.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction/system/index.tsx.preview
  docs/data/base/components/slider/UnstyledSliderIntroduction/tailwind/index.js
  docs/data/base/components/slider/UnstyledSliderIntroduction/tailwind/index.tsx
  docs/data/base/components/slider/UnstyledSliderIntroduction/tailwind/index.tsx.preview
  docs/data/base/components/slider/UnstyledSliderValueLabel.tsx.preview
  docs/data/base/components/slider/VerticalSlider.js
  docs/data/base/components/slider/VerticalSlider.tsx
Labels: docs, design, package: base-ui

#40657 [code-infra] Add missing package to CodeSandbox CI config
  .codesandbox/ci.json
Labels: bug 🐛, scope: docs-infra, scope: code-infra

#40670 [code-infra] Disable pnpm package cache on CircleCI
  .circleci/config.yml
Labels: scope: code-infra

#40673 [material-ui][PaginationItem] Deprecate classes for v6
  docs/pages/material-ui/api/pagination-item.json
  docs/translations/api-docs/pagination-item/pagination-item.json
  packages/mui-material/src/PaginationItem/PaginationItem.js
  packages/mui-material/src/PaginationItem/PaginationItem.test.js
  packages/mui-material/src/PaginationItem/paginationItemClasses.ts
Labels: deprecation, package: material-ui, component: pagination, v6.x

#40652 [base-ui][Slider] Fix plain CSS demo's wrong keyboard behavior
  docs/data/base/components/slider/UnstyledSliderIntroduction/css/index.js
  docs/data/base/components/slider/UnstyledSliderIntroduction/css/index.tsx
Labels: docs, component: slider, package: base-ui

#40552 [docs] Add notification to publish the survey
  docs/notifications.json
Labels: docs

#40679 [docs-infra] Support markdown link in slots descriptions
  docs/translations/api-docs/accordion/accordion.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
Labels: scope: docs-infra

#40674 [docs][material-ui][Slider] Remove custom divs from new demo
  docs/data/material/components/slider/CustomMarks.js
  docs/data/material/components/slider/CustomMarks.tsx
  docs/data/material/components/slider/CustomMarks.tsx.preview
Labels: docs, component: slider, package: material-ui, design

#40683 [website] Fix broken styles on Base UI page
  docs/src/components/productBaseUI/BaseUIThemesDemo.tsx
  docs/src/components/productBaseUI/components/BaseButtonDemo.tsx
  docs/src/components/productBaseUI/components/BaseInputDemo.tsx
  docs/src/components/productBaseUI/components/BaseMenuDemo.tsx
  docs/src/components/productBaseUI/components/BaseSliderDemo.tsx
  docs/src/components/productBaseUI/components/BaseTabsDemo.tsx
  docs/tailwind.config.js
Labels: website

#40646 [base-ui][TextareaAutosize] Add border-box to demo
  docs/data/base/components/textarea-autosize/EmptyTextarea.js
  docs/data/base/components/textarea-autosize/EmptyTextarea.tsx
  docs/data/base/components/textarea-autosize/MaxHeightTextarea.js
  docs/data/base/components/textarea-autosize/MaxHeightTextarea.tsx
  docs/data/base/components/textarea-autosize/MinHeightTextarea.js
  docs/data/base/components/textarea-autosize/MinHeightTextarea.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextarea/css/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextarea/css/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextarea/system/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextarea/system/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextarea/tailwind/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextarea/tailwind/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextarea/tailwind/index.tsx.preview
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/system/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/system/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/tailwind/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/tailwind/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/tailwind/index.tsx.preview
Labels: docs, component: TextareaAutosize, package: base-ui

#40689 [base-ui][Select] Fix display of selected Options with rich content
  packages/mui-base/src/Option/Option.tsx
  packages/mui-base/src/Select/Select.test.tsx
Labels: bug 🐛, component: select, package: base-ui

#40503 [material-ui][Rating] Fix rating width via min-content
  packages/mui-material/src/Rating/Rating.js
Labels: bug 🐛, package: material-ui, component: rating

#40481 [material-ui][base-ui][TablePagination] Accept readonly array for `rowsPerPageOptions` prop
  packages/mui-base/src/TablePagination/TablePagination.types.ts
  packages/mui-material-next/src/TablePagination/TablePagination.d.ts
  packages/mui-material/src/TablePagination/TablePagination.d.ts
Labels: bug 🐛, component: table, typescript, package: material-ui, package: base-ui

#40567 [docs][joy-ui] Move tutorial to iframe
  docs/data/joy/getting-started/tutorial/LoginFinal.js
  docs/data/joy/getting-started/tutorial/tutorial.md
  docs/src/modules/components/Demo.js
Labels: docs, scope: docs-infra

#40691 [zero] Fix theme token import in source file
  packages/zero-runtime/src/utils/generateCss.ts
  packages/zero-unplugin/src/index.ts
  packages/zero-vite-plugin/src/index.ts
Labels: package: system, customization: theme

#40643 [base-ui][useSelect] Fix non-native button triggers
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/useSelect/useSelect.ts
Labels: component: select, package: base-ui, regression

#40645 [base-ui][useMenuButton] Fix non native button triggers
  packages/mui-base/src/MenuButton/MenuButton.test.tsx
  packages/mui-base/src/useMenuButton/useMenuButton.ts
Labels: bug 🐛, component: menu, package: base-ui

#40623 [docs-infra] Add stray design adjustments
  docs/data/material/guides/material-3-components/material-3-components.md
  docs/src/components/action/Highlighter.tsx
  docs/src/components/action/InfoCard.tsx
  docs/src/components/action/Item.tsx
  docs/src/components/action/NpmCopyButton.tsx
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/components/productBaseUI/components/BaseMenuDemo.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/layouts/HeroContainer.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
Labels: design, scope: docs-infra

#40617 [code-infra] Improve proptypes-generation
  packages/typescript-to-proptypes/src/createType.ts
  packages/typescript-to-proptypes/src/getPropTypesFromFile.ts
  packages/typescript-to-proptypes/src/getTypeHash.ts
  packages/typescript-to-proptypes/src/models.ts
  packages/typescript-to-proptypes/test/genericUnion/input.tsx
  packages/typescript-to-proptypes/test/genericUnion/output.js
  packages/typescript-to-proptypes/test/interfaceUnion/input.tsx
  packages/typescript-to-proptypes/test/interfaceUnion/output.js
Labels: scope: code-infra

#40665 [examples] Fix build on Next.js Pages Router examples
  examples/joy-ui-nextjs-ts/src/components/ThemeRegistry/EmotionCache.tsx
  examples/material-ui-nextjs-pages-router-ts/pages/_document.tsx
  examples/material-ui-nextjs-ts-v4-v5-migration/pages/_document.tsx
  packages/mui-material-nextjs/src/v13-appRouter/appRouterV13.tsx
  packages/mui-material-nextjs/src/v13-pagesRouter/pagesRouterV13Document.tsx
Labels: bug 🐛, typescript, regression, examples, nextjs

#40474 [code-infra] Explain how to install the browsers
  test/README.md
Labels: test, scope: code-infra

#40663 [core] Remove unneeded use-clients
  packages/mui-base/src/index.js
  packages/mui-base/src/useAutocomplete/index.js
  packages/mui-material/src/Accordion/index.js
  packages/mui-material/src/AccordionActions/index.js
  packages/mui-material/src/AccordionDetails/index.js
  packages/mui-material/src/AccordionSummary/index.js
  packages/mui-material/src/Rating/index.js
  packages/mui-material/src/Toolbar/index.js
  packages/mui-material/src/index.js
  packages/mui-system/src/index.js
  packages/mui-utils/src/index.ts
Labels: core, nextjs

#40682 [material-ui][Alert] Add action, icon, and iconMapping tests
  packages/mui-material/src/Alert/Alert.test.js
Labels: test, package: material-ui, component: alert

#40603 [code-infra] Refined docs generation
  docs/translations/api-docs-base/badge/badge.json
  docs/translations/api-docs-base/input/input.json
  docs/translations/api-docs-base/menu/menu.json
  docs/translations/api-docs-base/modal/modal.json
  docs/translations/api-docs-base/number-input/number-input.json
  docs/translations/api-docs-base/option-group/option-group.json
  docs/translations/api-docs-base/select/select.json
  docs/translations/api-docs-base/slider/slider.json
  docs/translations/api-docs-base/switch/switch.json
  docs/translations/api-docs-base/table-pagination/table-pagination.json
  docs/translations/api-docs-joy/accordion-details/accordion-details.json
  docs/translations/api-docs-joy/accordion-summary/accordion-summary.json
  docs/translations/api-docs-joy/alert/alert.json
  docs/translations/api-docs-joy/aspect-ratio/aspect-ratio.json
  docs/translations/api-docs-joy/autocomplete/autocomplete.json
  docs/translations/api-docs-joy/avatar/avatar.json
  docs/translations/api-docs-joy/badge/badge.json
  docs/translations/api-docs-joy/breadcrumbs/breadcrumbs.json
  docs/translations/api-docs-joy/button/button.json
  docs/translations/api-docs-joy/checkbox/checkbox.json
  docs/translations/api-docs-joy/chip/chip.json
  docs/translations/api-docs-joy/circular-progress/circular-progress.json
  docs/translations/api-docs-joy/drawer/drawer.json
  docs/translations/api-docs-joy/form-label/form-label.json
  docs/translations/api-docs-joy/input/input.json
  docs/translations/api-docs-joy/link/link.json
  docs/translations/api-docs-joy/list-item/list-item.json
  docs/translations/api-docs-joy/menu-button/menu-button.json
  docs/translations/api-docs-joy/modal/modal.json
  docs/translations/api-docs-joy/radio/radio.json
  docs/translations/api-docs-joy/select/select.json
  docs/translations/api-docs-joy/slider/slider.json
  docs/translations/api-docs-joy/snackbar/snackbar.json
  docs/translations/api-docs-joy/step/step.json
  docs/translations/api-docs-joy/switch/switch.json
  docs/translations/api-docs-joy/textarea/textarea.json
  docs/translations/api-docs-joy/tooltip/tooltip.json
  docs/translations/api-docs-joy/typography/typography.json
  docs/translations/api-docs/modal/modal.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ProjectSettings.ts
  packages/api-docs-builder/buildApiUtils.ts
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
  packages/api-docs-builder/utils/sortObjects.ts
Labels: scope: code-infra

#40686 [material-ui][AvatarGroup] Refactor component thereby fixing custom spacing logic
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
Labels: bug 🐛, component: avatar, package: material-ui, enhancement

#40758 [Menu][docs] Fix hydration mismatch error on Base UI's Menu docs
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
Labels: bug 🐛, docs, component: menu, package: base-ui

#40762 [docs][base-ui] Fix CSS vars from the plain CSS theme stylesheet
  docs/public/static/components-gallery/base-theme.css
Labels: docs, design, package: base-ui

#40769 [website] Update stats on the testimonials section
  docs/src/components/home/MuiStatistics.tsx
Labels: website

#40744 [website] Fix Toggle Button styles in the homepage demos
  docs/src/components/showcase/ThemeToggleButton.tsx
Labels: website

#40751 [website] Fine-tune colors and styles on the branding theme
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/components/productDesignKit/DesignKitHero.tsx
  docs/src/components/productTemplate/TemplateHero.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/modules/brandingTheme.ts
Labels: design, website

#40747 [website] Fix pricing license model toggle style
  docs/src/components/pricing/LicensingModelSwitch.tsx
Labels: bug 🐛, website, regression

#40553 [docs] Add survey banner to docs and website
  CHANGELOG.md
  CHANGELOG.old.md
  docs/data/joy/getting-started/roadmap/roadmap.md
  docs/data/material/discover-more/roadmap/roadmap.md
  docs/lib/sourcing.ts
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/2021-developer-survey-results.md
  docs/pages/blog/first-look-at-joy.md
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/september-2019-update.md
  docs/pages/careers/designer.md
  docs/pages/careers/product-manager.md
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/featureToggle.js
  docs/src/modules/components/AppSearch.js
Labels: docs, website

#40749 [docs-infra] Avoid layout shift on docs-pages
  docs/src/modules/brandingTheme.ts
Labels: bug 🐛, design, scope: docs-infra

#40668 [code-infra] Migrate to prettier async APIs
  docs/scripts/formattedTSDemos.js
  packages/api-docs-builder-core/baseUi/generateBaseUiApiPages.ts
  packages/api-docs-builder-core/baseUi/projectSettings.ts
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/ProjectSettings.ts
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/buildApiUtils.ts
  packages/api-docs-builder/utils/generateApiTranslation.ts
  packages/typescript-to-proptypes/test/typescript-to-proptypes.test.ts
  prettier.config.js
  scripts/generateProptypes.ts
Labels: core

#40775 [code-infra] Correct API Docs Builder dependencies
  packages/api-docs-builder-core/package.json
  packages/api-docs-builder/package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#40667 [system] Add `applyStyles()` to theme
  docs/src/modules/brandingTheme.ts
  packages/mui-joy/src/styles/defaultTheme.test.js
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/styles/createTheme.d.ts
  packages/mui-material/src/styles/createTheme.js
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-system/src/createTheme/applyStyles.ts
  packages/mui-system/src/createTheme/createTheme.d.ts
  packages/mui-system/src/createTheme/createTheme.js
  packages/mui-system/src/createTheme/createTheme.test.js
  packages/mui-system/src/createTheme/index.d.ts
  packages/mui-system/src/createTheme/index.js
Labels: package: system, customization: theme

#40636 [code-infra] Remove custom TS installation script
  .circleci/config.yml
  scripts/useTypescriptDistTag.mjs
Labels: scope: code-infra

#39060 [perf] Prevent unneeded `clearTimeout` calls
  packages/mui-base/src/useSnackbar/useSnackbar.ts
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material-next/src/ButtonBase/TouchRipple.tsx
  packages/mui-material/src/ButtonBase/TouchRipple.js
  packages/mui-material/src/Collapse/Collapse.js
  packages/mui-material/src/Grow/Grow.js
  packages/mui-material/src/SpeedDial/SpeedDial.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-utils/src/index.ts
  packages/mui-utils/src/useIsFocusVisible.ts
  packages/mui-utils/src/useLazyRef.ts
  packages/mui-utils/src/useOnMount.ts
  packages/mui-utils/src/useTimeout.ts
Labels: performance, package: utils

#40752 [website] Revamp the testimonial section in the homepage
  docs/public/static/branding/companies/particl-dark.svg
  docs/src/components/home/DesignSystemComponents.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/MuiStatistics.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/home/UserFeedbacks.tsx
Labels: design, website

#40782 [material-ui][Divider] Remove light prop references from docs
  docs/data/material/components/dividers/IntroDivider.js
  docs/data/material/components/dividers/IntroDivider.tsx
  docs/data/material/components/dividers/ListDividers.js
  docs/data/material/components/dividers/ListDividers.tsx
  docs/data/material/components/dividers/dividers.md
Labels: docs, component: divider, package: material-ui

#40786 [website] Fix Footer layout shift
  docs/src/components/home/DesignSystemComponents.tsx
  docs/src/components/home/HeroEnd.tsx
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/home/StartToday.tsx
Labels: bug 🐛, design, website

#40626 [docs][material-nextjs] Add theming and configuration content to the page
  docs/data/material/guides/nextjs/nextjs.md
Labels: docs, nextjs

#40776 [joy-ui] Change the color scheme type to `SupportedColorScheme`
  packages/mui-joy/src/styles/CssVarsProvider.tsx
Labels: package: joy-ui, customization: theme

#40774 [typescript-to-proptypes] Allow to represent dates as `PropTypes.object`
  packages/typescript-to-proptypes/src/getPropTypesFromFile.ts
Labels: scope: code-infra

#40787 [zero] Use `theme.applyStyles` in the demo app
  apps/zero-runtime-next-app/src/augment.d.ts
  apps/zero-runtime-next-app/src/components/Slider/ZeroSlider.tsx
Labels: package: zero-runtime

#40791 [website] Fix missing key on the Testimonials section
  docs/src/components/home/UserFeedbacks.tsx
Labels: website

#40788 [utils] Remove unnecessary default export
  packages/mui-utils/src/scrollLeft/index.ts
Labels: package: utils, enhancement

#40766 [material-ui][Avatar] Improve fallback when `children` is empty string or boolean
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Avatar/Avatar.test.js
Labels: bug 🐛, component: avatar, package: material-ui

#40793 [website] Refine the careers page slightly
  docs/pages/careers.tsx
  docs/src/components/about/OurValues.tsx
  docs/src/components/home/StartToday.tsx
  docs/src/components/typography/SectionHeadline.tsx
  docs/src/layouts/Section.tsx
  docs/src/modules/brandingTheme.ts
Labels: design, website

#40784 [blog] MUI X v7 beta announcement blogpost
  docs/pages/blog/mui-x-v7-beta.js
  docs/pages/blog/mui-x-v7-beta.md
  docs/public/static/blog/mui-x-v7-beta/card.png
  docs/public/static/blog/mui-x-v7-beta/charts-reference-line.png
  docs/public/static/blog/mui-x-v7-beta/column-management-panel.png
  docs/public/static/blog/mui-x-v7-beta/date-time-range-picker.mp4
  docs/public/static/blog/mui-x-v7-beta/intro.png
  docs/public/static/blog/mui-x-v7-beta/new-bundle-size.png
  docs/public/static/blog/mui-x-v7-beta/sticky-headers.mp4
Labels: blog, MUI X

#40840 [core] Remove unneeded `@slack/web-api` package
  package.json
  pnpm-lock.yaml
Labels: dependencies, core

#40828 [core] Remove deprecated `@types/markdown-to-jsx` package from docs
  docs/package.json
  pnpm-lock.yaml
Labels: dependencies, core

#40539 [base-ui][Input] Add OTP input demo
  docs/data/base/components/input/OTPInput.js
  docs/data/base/components/input/OTPInput.tsx
  docs/data/base/components/input/OTPInput.tsx.preview
  docs/data/base/components/input/input.md
Labels: docs, package: base-ui, component: input

#40829 [lab][TabContext] Support number type in `value`
  docs/pages/material-ui/api/tab-context.json
  packages/mui-lab/src/TabContext/TabContext.d.ts
  packages/mui-lab/src/TabContext/TabContext.js
Labels: bug 🐛, component: tabs, typescript, package: lab

#40836 [docs-infra] Fix anchor link hook
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/HooksApiContent.js
Labels: bug 🐛, regression, scope: docs-infra

#40835 [blog] Lint duplicate h1 on the page
  .markdownlint-cli2.cjs
  packages/markdownlint-rule-mui/duplicate-h1.js
Labels: bug 🐛, core, blog

#40755 [Menu][base-ui] Focus Menu Items on hover
  docs/data/base/components/menu/MenuIntroduction/css/index.js
  docs/data/base/components/menu/MenuIntroduction/css/index.tsx
  docs/data/base/components/menu/MenuIntroduction/system/index.js
  docs/data/base/components/menu/MenuIntroduction/system/index.tsx
  docs/data/base/components/menu/MenuIntroduction/tailwind/index.js
  docs/data/base/components/menu/MenuIntroduction/tailwind/index.tsx
  docs/data/base/components/menu/MenuSimple/css/index.js
  docs/data/base/components/menu/MenuSimple/css/index.tsx
  docs/data/base/components/menu/MenuSimple/system/index.js
  docs/data/base/components/menu/MenuSimple/system/index.tsx
  docs/data/base/components/menu/MenuSimple/tailwind/index.js
  docs/data/base/components/menu/MenuSimple/tailwind/index.tsx
  docs/data/base/components/menu/UseMenu.js
  docs/data/base/components/menu/UseMenu.tsx
  docs/data/base/components/menu/WrappedMenuItems.js
  docs/data/base/components/menu/WrappedMenuItems.tsx
  docs/pages/base-ui/api/menu-item.json
  docs/pages/base-ui/api/use-menu-item.json
  docs/public/static/components-gallery/base-theme.css
  docs/translations/api-docs-base/menu-item/menu-item.json
  docs/translations/api-docs/use-menu-item/use-menu-item.json
  packages/mui-base/src/MenuItem/MenuItem.tsx
  packages/mui-base/src/MenuItem/MenuItem.types.ts
  packages/mui-base/src/useMenu/menuReducer.ts
  packages/mui-base/src/useMenuItem/useMenuItem.ts
  packages/mui-base/src/useMenuItem/useMenuItem.types.ts
Labels: component: menu, package: base-ui

#40831 [core] Rely on immutable ref when possible
  packages/mui-base/src/unstable_useModal/useModal.ts
  packages/mui-material-next/src/Menu/Menu.tsx
  packages/mui-material-next/src/MenuItem/MenuItem.tsx
  packages/mui-material-next/src/Option/Option.tsx
Labels: typescript, core

#40797 [website] Polish some pages and stray components
  docs/data/material/getting-started/faq/faq.md
  docs/pages/core.tsx
  docs/pages/material-ui.tsx
  docs/src/components/action/Frame.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/animation/FlashCode.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/DesignSystemComponents.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/home/References.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/home/StartToday.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/home/XGridGlobalStyles.tsx
  docs/src/components/productCore/CoreHero.tsx
  docs/src/components/productCore/CoreHeroEnd.tsx
  docs/src/components/productMaterial/MaterialEnd.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XTheming.tsx
  docs/src/components/typography/SectionHeadline.tsx
  docs/src/layouts/Section.tsx
  docs/src/modules/brandingTheme.ts
Labels: design, website

#40669 [test] Speed up the envinfo test
  packages/mui-envinfo/envinfo.test.js
  packages/mui-envinfo/test/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: test

#40846 [website] Small polishing after latest changes to the theme
  docs/src/components/action/Highlighter.tsx
  docs/src/components/footer/EmailSubscribe.tsx
Labels: design, website

#40849 [website] Fix a couple of rough edges
  docs/src/components/action/Item.tsx
  docs/src/components/home/GetStartedButtons.tsx
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/home/StartToday.tsx
  docs/src/components/productBaseUI/BaseUICustomization.tsx
  docs/src/components/productBaseUI/BaseUISummary.tsx
Labels: design, website

#40830 [core] `missingKeyGenerator` do no longer exist
  packages/mui-base/src/useCompound/useCompoundItem.ts
  packages/mui-base/src/useCompound/useCompoundParent.ts
Labels: core, package: base-ui

#40771 [codemod] Add accordion props deprecation
  .eslintignore
  packages/mui-codemod/CONTRIBUTING.md
  packages/mui-codemod/README.md
  packages/mui-codemod/codemod.js
  packages/mui-codemod/src/deprecations/accordion-props/accordion-props.js
  packages/mui-codemod/src/deprecations/accordion-props/accordion-props.test.js
  packages/mui-codemod/src/deprecations/accordion-props/index.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/index.js
  packages/mui-codemod/src/util/appendAttribute.js
  packages/mui-codemod/src/util/assignObject.js
  packages/mui-codemod/src/util/findComponentJSX.js
  packages/mui-codemod/testUtils/index.js
Labels: component: accordion, package: codemod

#40764 [base-ui][Menu] Focus last item after opening a menu using up arrow
  packages/mui-base/src/Menu/Menu.test.tsx
  packages/mui-base/src/MenuButton/MenuButton.test.tsx
  packages/mui-base/src/useDropdown/dropdownReducer.ts
  packages/mui-base/src/useDropdown/useDropdown.ts
  packages/mui-base/src/useDropdown/useDropdown.types.ts
  packages/mui-base/src/useList/listActions.types.ts
  packages/mui-base/src/useList/listReducer.test.ts
  packages/mui-base/src/useList/listReducer.ts
  packages/mui-base/src/useMenu/useMenu.ts
  packages/mui-base/src/useMenuButton/useMenuButton.test.tsx
  packages/mui-base/src/useMenuItem/useMenuItem.ts
  packages/mui-joy/src/Menu/Menu.test.tsx
  packages/mui-joy/src/MenuButton/MenuButton.test.tsx
Labels: component: menu, package: base-ui

#40773 [website] Add new Base UI role
  docs/pages/careers.tsx
  docs/pages/careers/staff-ui-engineer-base-ui.js
  docs/pages/careers/staff-ui-engineer-base-ui.md
Labels: package: base-ui, website

#40858 [material-ui][docs] Fix typo on styled-components guide
  docs/data/material/guides/styled-components/styled-components.md
Labels: docs, package: material-ui

#40867 [website] Move `React Engineer - X` into the future roles section
  docs/pages/careers.tsx
Labels: website
