Repository mui/material-ui, pull requests merged in 2024-04, with the labels that each got.

#41700 [pigment-css][example] Add example project with Remix
  examples/.eslintrc.js
  examples/pigment-css-remix-ts/.gitignore
  examples/pigment-css-remix-ts/.stackblitzrc
  examples/pigment-css-remix-ts/README.md
  examples/pigment-css-remix-ts/app/augment.d.ts
  examples/pigment-css-remix-ts/app/entry.client.tsx
  examples/pigment-css-remix-ts/app/entry.server.tsx
  examples/pigment-css-remix-ts/app/root.tsx
  examples/pigment-css-remix-ts/app/routes/_index.tsx
  examples/pigment-css-remix-ts/package.json
  examples/pigment-css-remix-ts/public/favicon.ico
  examples/pigment-css-remix-ts/tsconfig.json
  examples/pigment-css-remix-ts/vite.config.ts
Labels: examples, package: pigment-css

#41247 [AppBar] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-app-bar/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-app-bar.tsx
  docs/data/material/components/app-bar/BackToTop.js
  docs/data/material/components/app-bar/BackToTop.tsx
  docs/data/material/components/app-bar/ElevateAppBar.js
  docs/data/material/components/app-bar/ElevateAppBar.tsx
  docs/data/material/components/app-bar/HideAppBar.js
  docs/data/material/components/app-bar/HideAppBar.tsx
  packages/mui-material/src/AppBar/AppBar.js
  scripts/pigmentcss-render-mui-demos.mjs
Labels: component: app bar

#41639 [pigment-css][docs] Edit the example app's README files
  apps/pigment-css-next-app/README.md
  apps/pigment-css-vite-app/README.md
Labels: docs, package: pigment-css

#41736 [website] Add Aarón to About Us
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/aarón-garcía.png
Labels: website

#41737 [docs-infra] Vale rule for M3
  CHANGELOG.md
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/CorrectReferenceAllCases.yml
Labels: scope: docs-infra

#41635 [docs] Add "Building design system components" guide with Pigment CSS
  packages/pigment-css-react/README.md
  packages/pigment-css-react/tests/theme/fixtures/themed-component.input.js
  packages/pigment-css-react/tests/theme/fixtures/themed-component.output.css
  packages/pigment-css-react/tests/theme/fixtures/themed-component.output.js
  packages/pigment-css-react/tests/theme/theme.test.ts
Labels: docs, package: pigment-css

#41741 [core] Automate cherry-pick of PRs from `next` -> `master`
  .github/workflows/cherry-pick-next-to-master.yml
Labels: needs cherry-pick

#41705 [pigment-css][react] Fix sx prop transformation on Box
  apps/pigment-css-next-app/src/app/material-ui/page.tsx
  apps/pigment-css-vite-app/package.json
  apps/pigment-css-vite-app/src/main.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/index.tsx
  packages/pigment-css-react/src/Box.d.ts
  packages/pigment-css-react/src/Box.jsx
  packages/pigment-css-react/src/processors/sx.ts
  packages/pigment-css-react/tests/Box/box.test.tsx
  packages/pigment-css-react/tests/Box/fixtures/box.input.js
  packages/pigment-css-react/tests/Box/fixtures/box.output.css
  packages/pigment-css-react/tests/Box/fixtures/box.output.js
Labels: package: pigment-css

#41676 [material-ui][slider] Move palette styles to the bottom
  packages/mui-material/src/Slider/Slider.js
Labels: component: slider, package: material-ui

#41747 [website] Add Aarón to About Us
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/aarón-garcía.png
Labels: website

#41651 [lab][TabPanel] Add keepMounted prop to match joy-ui
  docs/pages/material-ui/api/tab-panel.json
  docs/translations/api-docs/tab-panel/tab-panel.json
  packages/mui-lab/src/TabPanel/TabPanel.d.ts
  packages/mui-lab/src/TabPanel/TabPanel.js
  packages/mui-lab/src/TabPanel/TabPanel.test.tsx
  packages/mui-lab/src/TabPanel/tabPanelClasses.ts
Labels: component: tabs, package: lab, package: base-ui

#41646 [pigment-css][docs] Add small edits on the README
  packages/pigment-css-react/README.md
Labels: docs, package: pigment-css

#41588 [docs-infra] Skip loading source for non-editable modules
  packages/markdown/loader.js
Labels: scope: docs-infra

#41551 [docs-infra] Add Toolpad product/category IDs to types
  docs/src/modules/utils/getProductInfoFromUrl.ts
Labels: docs, scope: docs-infra, Toolpad

#41708 [docs-infra] Skip non React components in visual regressions
  test/regressions/index.js
Labels: bug 🐛, test, scope: docs-infra

#41759 [website] Add Jose to About Us
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/jose-quintas.png
Labels: website

#41738 [docs-infra] Update branding theme colors to the HSL notation
  docs/src/components/banner/TableOfContentsBanner.tsx
  docs/src/components/markdown/MarkdownElement.tsx
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/ThemeViewer.tsx
  packages/mui-docs/src/InfoCard/InfoCard.tsx
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, scope: docs-infra

#41697 [blog] Refresh the design slightly
  docs/pages/blog.tsx
  docs/pages/blog/mui-x-v7.md
  docs/src/modules/components/TopLayoutBlog.js
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, blog

#41677 [material-ui][Autocomplete] Display options provided to the `options` prop even if loading is true.
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, package: material-ui, component: autocomplete, regression

#41679 [docs][material-ui][Slider] Remove valueLabelFormat from restricted values demo so that the tooltip thumb label displays the same as the value text
  docs/data/material/components/slider/DiscreteSliderValues.js
  docs/data/material/components/slider/DiscreteSliderValues.tsx
  docs/data/material/components/slider/DiscreteSliderValues.tsx.preview
Labels: docs, component: slider, package: material-ui

#41751 [pigment-css][nextjs-plugin] Add missing RTL implementation
  packages/pigment-css-unplugin/src/index.ts
  packages/pigment-css-vite-plugin/src/index.ts
Labels: package: pigment-css

#41768 [material-ui][docs] Add subtitle to icons search UI
  docs/data/material/components/material-icons/material-icons.md
Labels: docs, package: material-ui

#41773 [blog] Fix typo in MUI X v7 announcement post
  docs/pages/blog/mui-x-v7.md
Labels: blog

#41733 [core] Remove Base UI mentions from issues templates
  .github/ISSUE_TEMPLATE/1.bug.yml
  .github/ISSUE_TEMPLATE/2.feature.yml
  .github/ISSUE_TEMPLATE/4.docs-feedback.yml
  .github/ISSUE_TEMPLATE/5.priority-support.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: core

#41611 [docs] Drop IE 11 official support
  docs/data/material/components/app-bar/app-bar.md
  docs/data/material/components/cards/cards.md
  docs/data/material/components/lists/lists.md
  docs/data/material/components/progress/progress.md
  docs/data/material/components/slider/slider.md
  docs/data/material/components/table/table.md
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/data/material/migration/migration-v4/migration-v4.md
  docs/translations/api-docs-joy/table/table.json
  docs/translations/api-docs/table/table.json
  packages/mui-joy/src/Table/Table.tsx
  packages/mui-joy/src/Table/TableProps.ts
  packages/mui-material/src/Table/Table.d.ts
  packages/mui-material/src/Table/Table.js
Labels: docs, breaking change, core, v6.x

#41474 [docs-infra] Fix analytics about inline ads
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdDisplay.js
  docs/src/modules/constants.js
Labels: scope: docs-infra

#41749 6.0.0-alpha.1
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages/markdown/package.json
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
  pnpm-lock.yaml
Labels: release

#41805 [pigment-css][docs] Fix output on dynamic styles example
  packages/pigment-css-react/README.md
Labels: package: pigment-css

#41807 [docs-infra] Fix drawer performances
  docs/src/modules/components/AppFrame.js
Labels: scope: docs-infra

#41758 [pigment-css][nextjs] Allow usage of url() CSS function
  apps/pigment-css-next-app/src/app/layout.tsx
  apps/pigment-css-next-app/src/assets/mui.svg
  packages/pigment-css-nextjs-plugin/src/index.ts
  packages/pigment-css-unplugin/.eslintrc
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-unplugin/src/index.ts
  packages/pigment-css-unplugin/src/utils.ts
  packages/pigment-css-unplugin/tests/utils.test.ts
  packages/pigment-css-unplugin/tsconfig.json
  pnpm-lock.yaml
Labels: nextjs, package: pigment-css

#41811 [pigment-css][core] Remove during eval phase
  packages/pigment-css-react/src/utils/remove-prop-types-plugin.ts
  packages/pigment-css-react/tests/styled/fixtures/styled-theme.input.js
  packages/pigment-css-react/tests/styled/fixtures/styled-theme.output.js
  packages/pigment-css-react/tests/styled/fixtures/styled.input.js
  packages/pigment-css-react/tests/styled/fixtures/styled.output.js
Labels: package: pigment-css

#41810 [l10n] Fix typo in is-IS locale
  packages/mui-material/src/locale/index.ts
Labels: bug 🐛, l10n, needs cherry-pick

#41817 [pigment-css][nextjs] Handle file references passed through imports
  packages/pigment-css-unplugin/src/utils.ts
  packages/pigment-css-unplugin/tests/utils.test.ts
Labels: nextjs, package: pigment-css

#41818 [core] Remove unused files
  apps/pnpm-lock.yaml
  packages/zero-runtime/src/RtlProvider/index.ts
Labels: core

#41821 [material-ui][docs] Fix Material 3 message typo
  docs/data/material/getting-started/overview/overview.md
Labels: docs, package: material-ui, needs cherry-pick

#41820 [docs-infra] Fix drawer performances (#41807)
  docs/src/modules/components/AppFrame.js
Labels: scope: docs-infra, cherry-pick

#41819 [docs-infra] Fix analytics about inline ads (#41474)
  docs/src/modules/components/Ad.js
  docs/src/modules/components/AdCarbon.js
  docs/src/modules/components/AdDisplay.js
  docs/src/modules/constants.js
Labels: scope: docs-infra, cherry-pick

#41814 v6.0.0-alpha.2
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
Labels: release

#41288 [material-ui][ToggleButtonGroup] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/toggle-button-group.json
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/index.js
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/test-cases/expected.js
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/toggle-button-group-classes.js
  packages/mui-codemod/src/deprecations/toggle-button-group-classes/toggle-button-group-classes.test.js
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroup.js
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroup.test.js
  packages/mui-material/src/ToggleButtonGroup/toggleButtonGroupClasses.ts
Labels: docs, component: toggle button, deprecation, package: material-ui

#41782 [material-ui][ToggleButton] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/layout.tsx
  apps/pigment-css-next-app/src/app/material-ui/react-toggle-button/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-toggle-button.tsx
  packages/mui-material/src/ToggleButton/ToggleButton.js
  packages/mui-material/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: component: toggle button, package: material-ui, v6.x

#41685 [codemod] Add utils for `*Component` and `*Props` props deprecations
  packages/mui-codemod/src/deprecations/accordion-props/accordion-props.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/avatar-props/avatar-props.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/backdrop-props/backdrop-props.js
  packages/mui-codemod/src/deprecations/backdrop-props/backdrop-props.test.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/utils/movePropIntoSlotProps.js
  packages/mui-codemod/src/deprecations/utils/movePropIntoSlots.js
Labels: package: codemod

#41308 [material-ui][Typography] Fix Typography inherit variant styles
  packages/mui-material/src/Typography/Typography.js
Labels: component: Typography, package: material-ui

#41839 [material-ui][docs] Remove Data Grid v7 beta callout
  docs/data/material/components/table/table.md
Labels: docs, MUI X, needs cherry-pick

#41740 [material-ui][StepConnector] deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/step-connector.json
  docs/translations/api-docs/step-connector/step-connector.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/step-connector-classes/index.js
  packages/mui-codemod/src/deprecations/step-connector-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/step-connector-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/step-connector-classes/step-connector-classes.js
  packages/mui-codemod/src/deprecations/step-connector-classes/step-connector-classes.test.js
  packages/mui-codemod/src/deprecations/step-connector-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/step-connector-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/step-connector-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/step-connector-classes/test-cases/expected.js
  packages/mui-material/src/StepConnector/stepConnectorClasses.ts
Labels: docs, component: stepper, deprecation, package: material-ui

#41776 [material-ui] Convert `CircularProgress` to support Pigment CSS
  apps/pigment-css-next-app/src/app/material-ui/react-progress/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-progress.tsx
  packages/mui-material/src/CircularProgress/CircularProgress.js
  packages/mui-material/src/zero-styled/index.ts
  packages/pigment-css-react/package.json
Labels: component: CircularProgress, package: material-ui, v6.x

#41828 [code-infra] Allow customizing hooks imports in API docs generator
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/ProjectSettings.ts
Labels: scope: code-infra

#41742 [core] Automate cherry-pick of PRs from `next` -> `master`
  .github/workflows/cherry-pick-next-to-master.yml
Labels: cherry-pick

#41835 [material-ui][StepLabel] Deprecate `StepIconComponent`, `StepIconProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/step-label.json
  docs/translations/api-docs/step-label/step-label.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/step-label-props/step-label-props.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/theme.expected.js
  packages/mui-material/src/StepLabel/StepLabel.d.ts
  packages/mui-material/src/StepLabel/StepLabel.js
Labels: docs, component: stepper, deprecation, package: material-ui

#41852 [material-ui] Fix import statement in migration guide
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
Labels: docs, deprecation, package: material-ui, needs cherry-pick

#41848 [material-ui][PaginationItem] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-pagination/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-pagination.tsx
  packages/mui-material/src/PaginationItem/PaginationItem.js
Labels: package: material-ui, component: pagination, package: pigment-css

#38979 [core] Replace bundle size reporter filter
  dangerfile.ts
Labels: performance, test, core

#41682 [code-infra] Fix require.context with aliases
  docs/pages/_app.js
Labels: scope: code-infra

#41851 [material-ui][FloatingActionButton] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-floating-action-button/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-floating-action-button.tsx
  packages/mui-material/src/Fab/Fab.js
Labels: component: Fab, package: material-ui, package: pigment-css

#39603 [docs-infra] Make the whole header clickable
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/HooksApiContent.js
  docs/src/modules/components/MarkdownElement.js
  packages/markdown/parseMarkdown.js
  packages/markdown/parseMarkdown.test.js
Labels: enhancement, scope: docs-infra

#41861 [pigment-css][react] Implement sx transform for system components
  packages/pigment-css-react/.gitignore
  packages/pigment-css-react/exports/sx-plugin.js
  packages/pigment-css-react/package.json
  packages/pigment-css-react/src/private-runtime/ForwardSx.js
  packages/pigment-css-react/src/private-runtime/index.ts
  packages/pigment-css-react/src/utils/pre-linaria-plugin.ts
  packages/pigment-css-react/src/utils/sx-plugin.ts
  packages/pigment-css-react/tests/Box/fixtures/box.output.css
  packages/pigment-css-react/tests/Box/fixtures/box.output.js
  packages/pigment-css-react/tests/sx/fixtures/sxProps.output.css
  packages/pigment-css-react/tests/sx/fixtures/sxProps.output.js
  packages/pigment-css-react/tests/sx/fixtures/sxProps2.input.js
  packages/pigment-css-react/tests/sx/fixtures/sxProps2.output.css
  packages/pigment-css-react/tests/sx/fixtures/sxProps2.output.js
  packages/pigment-css-react/tsup.config.ts
Labels: package: pigment-css

#41872 [material-ui][docs] Fix credit comment typo
  docs/data/material/components/icons/CreateSvgIcon.js
  docs/data/material/components/icons/CreateSvgIcon.tsx
  docs/data/material/components/icons/SvgIconChildren.js
  docs/data/material/components/icons/SvgIconChildren.tsx
  docs/data/material/components/icons/SvgIconChildren.tsx.preview
Labels: docs, package: material-ui

#40848 [material-ui][docs] Add Connect-related content
  docs/data/material/design-resources/connect/connect.md
  docs/data/material/design-resources/material-ui-for-figma/material-ui-for-figma.md
  docs/data/material/getting-started/design-resources/design-resources.md
  docs/data/material/pages.ts
  docs/pages/material-ui/design-resources/connect.js
  docs/pages/material-ui/design-resources/material-ui-for-figma.js
  docs/pages/material-ui/getting-started/design-resources.js
  docs/public/static/material-ui/design-resources/connect-access.png
  docs/public/static/material-ui/design-resources/connect-code-editor.png
  docs/public/static/material-ui/design-resources/connect-component-variant.png
  docs/public/static/material-ui/design-resources/connect-generate.png
  docs/public/static/material-ui/design-resources/connect-regenerate.png
  docs/public/static/material-ui/design-resources/connect-storybook.png
  docs/public/static/material-ui/design-resources/connect-switch-component-customized-storybook.png
  docs/public/static/material-ui/design-resources/connect-switch-component-customized.png
  docs/public/static/material-ui/design-resources/connect-switch.png
  docs/public/static/material-ui/design-resources/connect-variables.png
  docs/public/static/material-ui/design-resources/connect.png
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/MaterialUIDesignResources.js
  docs/translations/translations.json
Labels: docs, package: material-ui

#41870 [docs][pigment-css] Fix README typos
  packages/pigment-css-react/README.md
Labels: docs, package: pigment-css

#41863 [material-ui][Button] Add `onChange` event handler to file upload example
  docs/data/material/components/buttons/InputFileUpload.js
  docs/data/material/components/buttons/InputFileUpload.tsx
  docs/data/material/components/buttons/InputFileUpload.tsx.preview
Labels: docs, component: button, package: material-ui

#41882 [docs] Fix format git diff regression
  docs/data/material/integrations/nextjs/nextjs.md
Labels: bug 🐛, docs, regression

#41902 [joy-ui][Button] Disable text highlighting
  packages/mui-joy/src/Button/Button.tsx
Labels: bug 🐛, component: button, package: joy-ui, needs cherry-pick

#41909 [pigment] Patch WyW's WeakRef usage
  package.json
  patches/@wyw-in-js__transform@0.5.0.patch
  pnpm-lock.yaml
Labels: core, package: pigment-css

#41881 [material-ui][Dialog] Prevent onClick on the root element from being overwritten
  packages/mui-material/src/Dialog/Dialog.js
  packages/mui-material/src/Dialog/Dialog.test.js
Labels: bug 🐛, component: dialog, package: material-ui, needs cherry-pick

#41709 [core] Begin removing IE 11-related code
  .browserslistrc
  .eslintrc.js
  babel.config.js
  docs/babel.config.js
  docs/data/joy/components/table/TableSortAndSelection.js
  docs/data/joy/components/table/TableSortAndSelection.tsx
  docs/data/joy/getting-started/templates/order-dashboard/components/OrderTable.tsx
  docs/data/material/components/table/EnhancedTable.js
  docs/data/material/components/table/EnhancedTable.tsx
  docs/package.json
  docs/src/components/showcase/FolderTable.tsx
  docs/src/modules/components/MaterialShowcase.js
  package.json
  packages/mui-base/package.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-base/src/useSnackbar/useSnackbar.ts
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-material/src/AppBar/AppBar.js
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/CardMedia/CardMedia.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/styles/createTransitions.js
  packages/mui-material/src/styles/createTransitions.test.js
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/mui-utils/src/getDisplayName/getDisplayName.test.tsx
  packages/mui-utils/src/getDisplayName/getDisplayName.ts
  packages/mui-utils/src/getDisplayName/index.ts
  packages/mui-utils/src/integerPropType/integerPropType.js
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/sizeSnapshot/webpack.config.js
Labels: breaking change, core, v6.x

#41917 [docs-infra] Fix code block layout shift
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
Labels: bug 🐛, regression, scope: docs-infra

#41924 [material-ui][docs] Add Connect-related content (@danilo-leal)
  docs/data/material/design-resources/connect/connect.md
  docs/data/material/design-resources/material-ui-for-figma/material-ui-for-figma.md
  docs/data/material/getting-started/design-resources/design-resources.md
  docs/data/material/pages.ts
  docs/pages/material-ui/design-resources/connect.js
  docs/pages/material-ui/design-resources/material-ui-for-figma.js
  docs/pages/material-ui/getting-started/design-resources.js
  docs/public/static/material-ui/design-resources/connect-access.png
  docs/public/static/material-ui/design-resources/connect-code-editor.png
  docs/public/static/material-ui/design-resources/connect-component-variant.png
  docs/public/static/material-ui/design-resources/connect-generate.png
  docs/public/static/material-ui/design-resources/connect-regenerate.png
  docs/public/static/material-ui/design-resources/connect-storybook.png
  docs/public/static/material-ui/design-resources/connect-switch-component-customized-storybook.png
  docs/public/static/material-ui/design-resources/connect-switch-component-customized.png
  docs/public/static/material-ui/design-resources/connect-switch.png
  docs/public/static/material-ui/design-resources/connect-variables.png
  docs/public/static/material-ui/design-resources/connect.png
  docs/src/MuiPage.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/MaterialUIDesignResources.js
  docs/translations/translations.json
Labels: docs, package: material-ui, cherry-pick

#41845 [material-ui][docs] Simplify components styling on templates
  docs/data/material/getting-started/templates/checkout/PaymentForm.js
  docs/data/material/getting-started/templates/checkout/PaymentForm.tsx
  docs/data/material/getting-started/templates/landing-page/components/Features.js
  docs/data/material/getting-started/templates/landing-page/components/Features.tsx
  docs/data/material/getting-started/templates/landing-page/components/Hero.js
  docs/data/material/getting-started/templates/landing-page/components/Hero.tsx
  docs/data/material/getting-started/templates/sign-in-side/SignInCard.js
  docs/data/material/getting-started/templates/sign-in-side/SignInCard.tsx
  docs/data/material/getting-started/templates/sign-in/SignIn.js
  docs/data/material/getting-started/templates/sign-in/SignIn.tsx
  docs/data/material/getting-started/templates/sign-up/SignUp.js
  docs/data/material/getting-started/templates/sign-up/SignUp.tsx
Labels: docs, package: material-ui, design

#41862 [docs-infra] Fine-tune the OG card image design
  netlify/edge-functions/og-image.tsx
Labels: design, scope: docs-infra

#41674 [system] Add container queries utility
  docs/data/system/getting-started/the-sx-prop/the-sx-prop.md
  docs/data/system/getting-started/usage/ContainerQueries.js
  docs/data/system/getting-started/usage/ContainerQueries.tsx
  docs/data/system/getting-started/usage/usage.md
  docs/public/static/error-codes.json
  packages/mui-babel-macros/MuiError.macro.d.ts
  packages/mui-joy/src/styles/defaultTheme.test.js
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-system/src/breakpoints/breakpoints.js
  packages/mui-system/src/createTheme/createTheme.d.ts
  packages/mui-system/src/createTheme/createTheme.js
  packages/mui-system/src/cssContainerQueries/cssContainerQueries.test.ts
  packages/mui-system/src/cssContainerQueries/cssContainerQueries.ts
  packages/mui-system/src/cssContainerQueries/index.ts
  packages/mui-system/src/cssGrid/cssGrid.test.js
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  packages/mui-system/src/spacing/spacing.test.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: new feature, package: system

#41816 [material-ui] Convert `LinearProgress` to support Pigment CSS
  packages/mui-material/src/CircularProgress/CircularProgress.js
  packages/mui-material/src/LinearProgress/LinearProgress.js
Labels: component: LinearProgress, package: material-ui, v6.x

#41743 [codemod] Add styled v6 transformation
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v6.0.0/styled/index.js
  packages/mui-codemod/src/v6.0.0/styled/styled-v6.js
  packages/mui-codemod/src/v6.0.0/styled/styled-v6.test.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/BasicStyled.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/BasicStyled.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ConditionalStyled.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ConditionalStyled.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/LogicalStyled.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/LogicalStyled.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/NestedSpread.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/NestedSpread.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ObjectMap.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ObjectMap.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ThemePaletteMode.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ThemePaletteMode.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/VariantAndModeStyled.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/VariantAndModeStyled.expected.js
Labels: package: codemod

#40901 [docs-infra] Support multiple tabs in demos
  docs/data/material/components/autocomplete/ComboBox.js
  docs/data/material/components/autocomplete/ComboBox.tsx
  docs/data/material/components/autocomplete/top100Films.js
  docs/pages/experiments/docs/DemoMultiTabs.js
  docs/pages/experiments/docs/dataset.json
  docs/pages/experiments/docs/demos.md
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/RichMarkdownElement.js
  packages/markdown/loader.js
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: new feature, scope: docs-infra

#41916 [release] v6.0.0-alpha.3
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages/markdown/package.json
  packages/mui-babel-macros/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
Labels: release

#41941 [material-ui][docs] Remove links and interdependencies from free templates
  docs/data/material/getting-started/templates/checkout/Checkout.js
  docs/data/material/getting-started/templates/checkout/Checkout.tsx
  docs/data/material/getting-started/templates/landing-page/components/AppAppBar.js
  docs/data/material/getting-started/templates/landing-page/components/AppAppBar.tsx
  docs/data/material/getting-started/templates/landing-page/components/Pricing.js
  docs/data/material/getting-started/templates/landing-page/components/Pricing.tsx
Labels: docs, package: material-ui, design

#41930 [website] Fix grid usage and add stray improvements
  docs/src/components/about/HowToSupport.tsx
  docs/src/components/action/NpmCopyButton.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/pricing/PricingFAQ.tsx
  docs/src/components/pricing/PricingList.tsx
  docs/src/components/pricing/PricingWhatToExpect.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productMaterial/MaterialTemplates.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
  docs/src/components/productTemplate/TemplateDemo.tsx
  docs/src/components/productTemplate/TemplateHero.tsx
  docs/src/components/productX/XComponents.tsx
  docs/src/components/productX/XComponentsSwitcher.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XPlans.tsx
  docs/src/components/productX/XRoadmap.tsx
  docs/src/components/productX/XTheming.tsx
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, website

#41947 [material-ui][docs] Add dark theme thumbnails for templates
  docs/data/material/getting-started/templates/templates.md
  docs/public/static/images/templates/blog-dark.png
  docs/public/static/images/templates/blog-light.png
  docs/public/static/images/templates/blog.png
  docs/public/static/images/templates/checkout-dark.png
  docs/public/static/images/templates/checkout-light.png
  docs/public/static/images/templates/checkout.png
  docs/public/static/images/templates/dashboard-dark.png
  docs/public/static/images/templates/dashboard-light.png
  docs/public/static/images/templates/dashboard.png
  docs/public/static/images/templates/landing-page-dark.png
  docs/public/static/images/templates/landing-page-light.png
  docs/public/static/images/templates/landing-page.png
  docs/public/static/images/templates/pricing.png
  docs/public/static/images/templates/sign-in-dark.png
  docs/public/static/images/templates/sign-in-light.png
  docs/public/static/images/templates/sign-in-side-dark.png
  docs/public/static/images/templates/sign-in-side-light.png
  docs/public/static/images/templates/sign-in-side.png
  docs/public/static/images/templates/sign-in.png
  docs/public/static/images/templates/sign-up-dark.png
  docs/public/static/images/templates/sign-up-light.png
  docs/public/static/images/templates/sign-up.png
  docs/public/static/images/templates/sticky-footer-dark.png
  docs/public/static/images/templates/sticky-footer-light.png
  docs/public/static/images/templates/sticky-footer.png
  docs/public/static/images/themes-display-dark.png
  docs/public/static/images/themes-display-light.png
  docs/public/static/images/themes-display.png
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
Labels: docs, package: material-ui, design

#41703 [material-ui][joy-ui] Generate typography tokens
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-material/src/styles/CssVarsProvider.test.js
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-material/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-system/src/cssVars/index.ts
  packages/mui-system/src/cssVars/prepareTypographyVars.test.ts
  packages/mui-system/src/cssVars/prepareTypographyVars.ts
Labels: package: material-ui, package: joy-ui

#41850 [material-ui][IconButton] Convert to support CSS extraction
  packages/mui-material/src/IconButton/IconButton.js
Labels: component: icon button, package: material-ui, package: pigment-css

#41840 [material-ui][Radio] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-radio-button/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-radio-button.tsx
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Radio/RadioButtonIcon.js
Labels: component: radio, package: material-ui

#41912 [material-ui][docs] Remove react-swipeable-views from demos as it's no longer maintained
  apps/pigment-css-next-app/src/app/material-ui/react-stepper/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-stepper.tsx
  docs/data/material/components/floating-action-button/FloatingActionButtonZoom.js
  docs/data/material/components/floating-action-button/FloatingActionButtonZoom.tsx
  docs/data/material/components/steppers/SwipeableTextMobileStepper.js
  docs/data/material/components/steppers/SwipeableTextMobileStepper.tsx
  docs/data/material/components/steppers/steppers.md
  docs/data/material/components/tabs/FullWidthTabs.js
  docs/data/material/components/tabs/FullWidthTabs.tsx
  docs/data/material/components/tabs/tabs.md
Labels: docs, package: material-ui

#41936 [docs-infra] Use the `getLayout` on the material demo pages
  docs/pages/material-ui/about-the-lab.js
  docs/pages/material-ui/icons.js
  docs/pages/material-ui/material-icons.js
  docs/pages/material-ui/react-accordion.js
  docs/pages/material-ui/react-alert.js
  docs/pages/material-ui/react-app-bar.js
  docs/pages/material-ui/react-autocomplete.js
  docs/pages/material-ui/react-avatar.js
  docs/pages/material-ui/react-backdrop.js
  docs/pages/material-ui/react-badge.js
  docs/pages/material-ui/react-bottom-navigation.js
  docs/pages/material-ui/react-box.js
  docs/pages/material-ui/react-breadcrumbs.js
  docs/pages/material-ui/react-card.js
  docs/pages/material-ui/react-checkbox.js
  docs/pages/material-ui/react-chip.js
  docs/pages/material-ui/react-click-away-listener.js
  docs/pages/material-ui/react-container.js
  docs/pages/material-ui/react-css-baseline.js
  docs/pages/material-ui/react-dialog.js
  docs/pages/material-ui/react-divider.js
  docs/pages/material-ui/react-drawer.js
  docs/pages/material-ui/react-floating-action-button.js
  docs/pages/material-ui/react-grid.js
  docs/pages/material-ui/react-grid2.js
  docs/pages/material-ui/react-hidden.js
  docs/pages/material-ui/react-image-list.js
  docs/pages/material-ui/react-link.js
  docs/pages/material-ui/react-list.js
  docs/pages/material-ui/react-masonry.js
  docs/pages/material-ui/react-menu.js
  docs/pages/material-ui/react-modal.js
  docs/pages/material-ui/react-no-ssr.js
  docs/pages/material-ui/react-pagination.js
  docs/pages/material-ui/react-paper.js
  docs/pages/material-ui/react-popover.js
  docs/pages/material-ui/react-popper.js
  docs/pages/material-ui/react-portal.js
  docs/pages/material-ui/react-progress.js
  docs/pages/material-ui/react-radio-button.js
  docs/pages/material-ui/react-rating.js
  docs/pages/material-ui/react-select.js
  docs/pages/material-ui/react-skeleton.js
  docs/pages/material-ui/react-slider.js
  docs/pages/material-ui/react-snackbar.js
  docs/pages/material-ui/react-speed-dial.js
  docs/pages/material-ui/react-stack.js
  docs/pages/material-ui/react-stepper.js
  docs/pages/material-ui/react-switch.js
  docs/pages/material-ui/react-table.js
  docs/pages/material-ui/react-tabs.js
  docs/pages/material-ui/react-text-field.js
  docs/pages/material-ui/react-textarea-autosize.js
  docs/pages/material-ui/react-timeline.js
  docs/pages/material-ui/react-toggle-button.js
  docs/pages/material-ui/react-tooltip.js
  docs/pages/material-ui/react-transfer-list.js
  docs/pages/material-ui/react-typography.js
  docs/pages/material-ui/react-use-media-query.js
  docs/pages/material-ui/transitions.js
Labels: scope: docs-infra

#41948 [docs-infra] Add demo container design refinements
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/DemoToolbarRoot.ts
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
Labels: design, scope: docs-infra

#41860 [docs-infra] Improve Twitter OG:image
  docs/src/modules/components/AppLayoutDocs.js
Labels: enhancement, scope: docs-infra, cherry-pick

#41901 [docs-infra] Move CPU to shared config
  docs/next.config.mjs
  docs/nextConfigDocsInfra.js
Labels: scope: docs-infra

#41706 [docs-infra] Allow more value uses of MUI
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/NoCompanyName.yml
  docs/pages/careers.tsx
  docs/public/_redirects
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppSearch.js
Labels: enhancement, scope: docs-infra

#41935 [material-ui] Support CSS Extraction using codemod
  packages/mui-codemod/src/v6.0.0/styled/styled-v6.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/BasicStyled.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/BasicStyled.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ConditionalStyled.expected.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/NestedSpread.expected.js
  packages/mui-material/src/FormHelperText/FormHelperText.js
  packages/mui-material/src/ImageList/ImageList.js
  packages/mui-material/src/ImageListItem/ImageListItem.js
  packages/mui-material/src/ImageListItemBar/ImageListItemBar.js
  packages/mui-material/src/ListItem/ListItem.js
  packages/mui-material/src/ListItemAvatar/ListItemAvatar.js
  packages/mui-material/src/ListItemButton/ListItemButton.js
  packages/mui-material/src/ListItemSecondaryAction/ListItemSecondaryAction.js
  packages/mui-material/src/ListItemText/ListItemText.js
  packages/mui-material/src/ListSubheader/ListSubheader.js
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Table/Table.js
  packages/mui-material/src/TableCell/TableCell.js
  packages/mui-material/src/TableSortLabel/TableSortLabel.js
  packages/mui-material/src/Toolbar/Toolbar.js
Labels: component: image list, component: list, component: table, package: material-ui, component: rating, v6.x

#41969 [website] Remove customer support agent role from website
  docs/pages/careers.tsx
  docs/pages/careers/support-agent.js
  docs/pages/careers/support-agent.md
Labels: website, needs cherry-pick

#41957 [material-ui][Checkbox] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-checkbox/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-checkbox.tsx
  packages/mui-material/src/Checkbox/Checkbox.js
Labels: component: checkbox, package: material-ui, package: pigment-css

#41903 [material-ui][Typography] Fix ownerState prop placement
  packages/mui-material/src/Typography/Typography.js
Labels: component: Typography, package: material-ui

#41990 [docs-infra] Fix flex-shrink pro-plan
  docs/data/docs-infra/pages.ts
  docs/pages/_document.js
  docs/pages/experiments/docs/og-card.md
Labels: bug 🐛, design, scope: docs-infra

#41995 [material-ui] Fix getOverlayAlpha type
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-material/src/styles/getOverlayAlpha.ts
Labels: bug 🐛, typescript

#41972 [docs][material-ui] Add missing backticks to HTML tag in the installation page
  docs/data/material/getting-started/installation/installation.md
Labels: docs, package: material-ui, needs cherry-pick

#42008 [test] Update browser versions in karma config
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  test/karma.conf.js
  test/karma.conf.profile.js
Labels: test

#41999 [code-infra] Make Babel config path configurable in API docs builder
  packages/api-docs-builder/utils/parseTest.ts
Labels: scope: code-infra

#42003 [material-ui][joy-ui] Move typography CSS variables to `font`
  packages/mui-joy/src/styles/defaultTheme.test.js
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-material/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-system/src/cssVars/prepareTypographyVars.test.ts
  packages/mui-system/src/cssVars/prepareTypographyVars.ts
  packages/mui-system/src/styleFunctionSx/defaultSxConfig.js
Labels: package: material-ui, regression, package: joy-ui, customization: theme

#42005 [release] v6.0.0-alpha.4
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#42014 [website] Close the `Design Engineer - X` role
  docs/pages/careers.tsx
Labels: website

#41779 [material-ui][SvgIcon] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/icons/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/icons.tsx
  packages/mui-material/src/SvgIcon/SvgIcon.js
Labels: on hold, component: SvgIcon, package: material-ui, v6.x, package: pigment-css

#42023 [docs-infra] Clean up branding theme file and improve font-face readibility
  docs/pages/_document.js
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: scope: docs-infra

#42022 [website] Fix code block design by changing the `MarkdownElement` import
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/productBaseUI/BaseUIComponents.tsx
  docs/src/components/productBaseUI/BaseUICustomization.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
  docs/src/components/productX/XChartsDemo.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
Labels: bug 🐛, design, website

#41638 [base-ui][TextareaAutosize] Fix resizing instability
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
  test/e2e/fixtures/TextareaAutosize/BasicTextareaAutosize.tsx
  test/e2e/index.test.ts
Labels: bug 🐛, component: TextareaAutosize, package: base-ui, regression, needs cherry-pick

#41767 [material-ui][FormControlLabel] deprecate `componentsProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/form-control-label.json
  docs/translations/api-docs/form-control-label/form-control-label.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/form-control-label-props/form-control-label-props.js
  packages/mui-codemod/src/deprecations/form-control-label-props/form-control-label-props.test.js
  packages/mui-codemod/src/deprecations/form-control-label-props/index.js
  packages/mui-codemod/src/deprecations/form-control-label-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/form-control-label-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/form-control-label-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/form-control-label-props/test-cases/theme.expected.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.d.ts
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.test.js
Labels: docs, deprecation, package: material-ui, component: FormControl

#42013 [docs][material-ui][templates] Fix input props attributes in Landing Page template
  docs/data/material/getting-started/templates/landing-page/components/Footer.js
  docs/data/material/getting-started/templates/landing-page/components/Footer.tsx
  docs/data/material/getting-started/templates/landing-page/components/Hero.js
  docs/data/material/getting-started/templates/landing-page/components/Hero.tsx
Labels: docs, package: material-ui, needs cherry-pick

#42021 [website] Add Nadja on the about page
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/nadja-kovacev.png
Labels: website

#42028 [wesbite] Remove duplicate MarkdownElement component
  docs/src/components/action/Frame.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/markdown/MarkdownElement.tsx
  docs/src/components/productBaseUI/BaseUIComponents.tsx
  docs/src/components/productBaseUI/BaseUICustomization.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
  docs/src/components/productX/XChartsDemo.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  packages/mui-docs/src/HighlightedCode/HighlightedCode.tsx
Labels: website

#42058 [website] Sync career roles
  docs/pages/careers.tsx
  docs/pages/careers/design-engineer-x-grid.js
  docs/pages/careers/design-engineer.js
  docs/pages/careers/product-marketing-manager.js
  docs/pages/careers/react-engineer-core.js
  docs/pages/careers/react-engineer-x.md
  docs/pages/careers/support-agent.md
Labels: website, needs cherry-pick

#41777 [material-ui][PaginationItem] Deprecate components prop
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/pagination-item.json
  docs/translations/api-docs/pagination-item/pagination-item.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/pagination-item-props/index.js
  packages/mui-codemod/src/deprecations/pagination-item-props/pagination-item-props.js
  packages/mui-codemod/src/deprecations/pagination-item-props/pagination-item-props.test.js
  packages/mui-codemod/src/deprecations/pagination-item-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/pagination-item-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/pagination-item-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/pagination-item-props/test-cases/theme.expected.js
  packages/mui-material/src/PaginationItem/PaginationItem.d.ts
  packages/mui-material/src/PaginationItem/PaginationItem.js
  packages/mui-material/src/PaginationItem/PaginationItem.test.js
Labels: docs, deprecation, package: material-ui, component: pagination

#40515 [website] Add content about the Sync plugin in the Material UI page
  docs/pages/design-kits.tsx
  docs/public/static/branding/design-kits/material-sync-dark.png
  docs/public/static/branding/design-kits/material-sync-light.png
  docs/public/static/branding/design-kits/sync-base1-dark.png
  docs/public/static/branding/design-kits/sync-base1-light.png
  docs/public/static/branding/design-kits/sync-base2-dark.png
  docs/public/static/branding/design-kits/sync-base2-light.png
  docs/public/static/branding/design-kits/sync-shot1-dark.png
  docs/public/static/branding/design-kits/sync-shot1-light.png
  docs/public/static/branding/design-kits/sync-shot3-dark.png
  docs/public/static/branding/design-kits/sync-shot3-light.png
  docs/src/components/action/Item.tsx
  docs/src/components/action/NpmCopyButton.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/CompaniesGrid.tsx
  docs/src/components/home/DesignKits.tsx
  docs/src/components/productDesignKit/DesignKitDemo.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/productDesignKit/DesignKitHero.tsx
  docs/src/components/productDesignKit/DesignKitValues.tsx
  docs/src/components/productDesignKit/SyncFeatures.tsx
  docs/src/components/productMaterial/MaterialDesignKits.tsx
  docs/src/components/productMaterial/MaterialEnd.tsx
  docs/src/icons/SvgStorybook.tsx
  docs/src/layouts/AppFooter.tsx
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: website, needs cherry-pick

#42073 [material-ui][docs] Fix minor spelling error in the "About the lab" page
  docs/data/material/components/about-the-lab/about-the-lab.md
Labels: docs, package: material-ui, needs cherry-pick
