Repository mui/material-ui, pull requests merged in 2024-02, with the labels that each got.

#40837 [utils] Use consistent build approach
  packages/mui-utils/package.json
  scripts/build.mjs
  scripts/sizeSnapshot/webpack.config.js
Labels: package: utils

#40761 [zero] Add README with installation and basic usage
  packages/zero-runtime/README.md
Labels: package: zero-runtime

#40885 [zero] Always replace the `createUseThemeProps` call
  packages/zero-runtime/src/processors/createUseThemeProps.ts
Labels: bug 🐛, package: zero-runtime

#40878 [docs-infra] Allow developers to build their CodeSandbox export
  docs/src/modules/sandbox/CodeSandbox.test.js
  docs/src/modules/sandbox/CodeSandbox.ts
Labels: enhancement, scope: docs-infra

#40879 [codemod][Accordion] Update props actual.js test case
  packages/mui-codemod/src/deprecations/accordion-props/test-cases/actual.js
Labels: component: accordion, package: codemod

#40888 [base-ui][docs] Change Radio component terminology from Button to Group
  docs/data/base/components/radio-button/radio-button.md
  docs/data/base/components/radio-group/radio-group.md
  docs/data/base/pages.ts
  docs/pages/base-ui/react-radio-group/index.js
  docs/translations/translations.json
Labels: docs, component: radio, package: base-ui

#40881 [website] Refine the Material UI homepage demo
  docs/src/components/action/Highlighter.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/Hero.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
Labels: design, website

#40896 [Menu][base-ui] Fix improperly merged tests
  packages/mui-base/src/Menu/Menu.test.tsx
Labels: component: menu, package: base-ui

#40899 [docs] Fix URL and typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#40890 [website] Add Customer Support Agent role to careers page
  docs/pages/careers.tsx
  docs/pages/careers/support-agent.js
  docs/pages/careers/support-agent.md
Labels: website

#40875 [base-ui][docs] Improve Base UI traffic from Material UI
  packages/markdown/prepareMarkdown.js
Labels: docs, package: base-ui

#40852 [material-ui][docs] Correct Google font CDN URL as Roboto 600 weight is not used
  docs/data/material/components/typography/typography.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/material/guides/material-3-components/material-3-components.md
  docs/data/material/guides/server-rendering/server-rendering.md
  docs/src/modules/sandbox/CodeSandbox.test.js
  docs/src/modules/sandbox/CreateReactApp.ts
  docs/src/modules/sandbox/StackBlitz.test.js
  examples/joy-ui-cra-ts/public/index.html
  examples/material-ui-cra-styled-components-ts/public/index.html
  examples/material-ui-cra-styled-components/public/index.html
  examples/material-ui-cra-tailwind-ts/public/index.html
  examples/material-ui-cra-ts/public/index.html
  examples/material-ui-cra/public/index.html
  examples/material-ui-express-ssr/server.js
  examples/material-ui-preact/public/index.html
  examples/material-ui-remix-ts/app/root.tsx
  examples/material-ui-via-cdn/index.html
  examples/material-ui-vite-ts/index.html
  examples/material-ui-vite/index.html
Labels: docs, package: material-ui, regression, examples

#40895 [material-ui][docs] Fix createTheme import and markdown format in the Next.js guide
  docs/data/material/guides/nextjs/nextjs.md
Labels: bug 🐛, docs, package: material-ui, nextjs

#40912 [website] Fix heading structure
  docs/src/components/action/InfoCard.tsx
  docs/src/components/home/MuiStatistics.tsx
  docs/src/components/home/Testimonials.tsx
  docs/src/components/productCore/CoreProducts.tsx
Labels: bug 🐛, accessibility, website, regression

#40911 [docs-infra] Fix arbitrary gap between paragraphs in callouts
  docs/pages/experiments/docs/callouts.md
  docs/src/modules/components/MarkdownElement.js
Labels: bug 🐛, regression, scope: docs-infra

#40916 [base-ui][docs] Update usage.md
  docs/data/base/getting-started/usage/usage.md
Labels: docs, package: base-ui

#40834 [material-ui][Avatar] Simplify valid children assertion
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Tooltip/Tooltip.js
Labels: performance, component: avatar, package: material-ui, enhancement

#40206 [base-ui][useNumberInput] Integrate useNumberInput with useControllableReducer
  docs/data/base/components/number-input/NumberInputBasic/system/index.js
  docs/data/base/components/number-input/NumberInputBasic/system/index.tsx
  docs/data/base/components/number-input/NumberInputBasic/tailwind/index.js
  docs/data/base/components/number-input/NumberInputBasic/tailwind/index.tsx
  docs/data/base/components/number-input/NumberInputIntroduction/tailwind/index.js
  docs/data/base/components/number-input/NumberInputIntroduction/tailwind/index.tsx
  docs/data/base/components/number-input/UseNumberInputCompact.js
  docs/data/base/components/number-input/UseNumberInputCompact.tsx
  docs/data/base/components/number-input/number-input.md
  docs/pages/base-ui/api/number-input.json
  docs/pages/base-ui/api/use-number-input.json
  docs/translations/api-docs/use-number-input/use-number-input.json
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
  packages/mui-base/src/Unstable_NumberInput/NumberInput.tsx
  packages/mui-base/src/unstable_useNumberInput/numberInputAction.types.ts
  packages/mui-base/src/unstable_useNumberInput/numberInputReducer.test.ts
  packages/mui-base/src/unstable_useNumberInput/numberInputReducer.ts
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.test.tsx
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.ts
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.types.ts
Labels: package: base-ui, component: number input

#40507 [base-ui][Button] Add support for `hostElementName` prop to improve SSR
  docs/pages/base-ui/api/button.json
  docs/pages/base-ui/api/use-button.json
  docs/pages/experiments/base/use-host-element-name.tsx
  docs/translations/api-docs-base/button/button.json
  docs/translations/api-docs/use-button/use-button.json
  packages/mui-base/src/Button/Button.test.tsx
  packages/mui-base/src/Button/Button.tsx
  packages/mui-base/src/Button/Button.types.ts
  packages/mui-base/src/useButton/useButton.ts
  packages/mui-base/src/useButton/useButton.types.ts
  packages/mui-base/src/utils/index.ts
  packages/mui-base/src/utils/useRootElementName.ts
  packages/mui-material-next/src/ListItemButton/ListItemButton.test.js
  packages/test-utils/src/describeConformanceUnstyled.tsx
Labels: component: button, package: base-ui

#40676 [Slider] Add support for Arrow Down/Up + Shift and Page Up/Down keys
  docs/data/base/components/slider/DiscreteSlider.js
  docs/data/base/components/slider/DiscreteSlider.tsx
  docs/data/base/components/slider/DiscreteSlider.tsx.preview
  docs/data/base/components/slider/slider.md
  docs/data/joy/components/slider/slider.md
  docs/data/material/components/slider/DiscreteSlider.js
  docs/data/material/components/slider/DiscreteSlider.tsx
  docs/data/material/components/slider/DiscreteSlider.tsx.preview
  docs/data/material/components/slider/slider.md
  docs/pages/base-ui/api/slider.json
  docs/pages/base-ui/api/use-slider.json
  docs/pages/joy-ui/api/slider.json
  docs/pages/material-ui/api/slider.json
  docs/translations/api-docs-base/slider/slider.json
  docs/translations/api-docs-joy/slider/slider.json
  docs/translations/api-docs/slider/slider.json
  docs/translations/api-docs/use-slider/use-slider.json
  packages/mui-base/src/Slider/Slider.test.tsx
  packages/mui-base/src/Slider/Slider.tsx
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-base/src/useSlider/useSlider.types.ts
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-material/src/Slider/Slider.d.ts
  packages/mui-material/src/Slider/Slider.js
Labels: new feature, component: slider

#40258 [core] add colorManipulator.blend
  packages/mui-system/src/colorManipulator.d.ts
  packages/mui-system/src/colorManipulator.js
  packages/mui-system/src/colorManipulator.test.js
Labels: core

#40950 [dependencies] Do not update envinfo test dependencies
  renovate.json
Labels: dependencies, core

#37557 [material-ui] Replace the Album template with a landing page
  docs/data/material/getting-started/templates/album/Album.js
  docs/data/material/getting-started/templates/album/Album.tsx
  docs/data/material/getting-started/templates/landing-page/LandingPage.js
  docs/data/material/getting-started/templates/landing-page/LandingPage.tsx
  docs/data/material/getting-started/templates/landing-page/README.md
  docs/data/material/getting-started/templates/landing-page/components/AppAppBar.js
  docs/data/material/getting-started/templates/landing-page/components/AppAppBar.tsx
  docs/data/material/getting-started/templates/landing-page/components/FAQ.js
  docs/data/material/getting-started/templates/landing-page/components/FAQ.tsx
  docs/data/material/getting-started/templates/landing-page/components/Features.js
  docs/data/material/getting-started/templates/landing-page/components/Features.tsx
  docs/data/material/getting-started/templates/landing-page/components/Footer.js
  docs/data/material/getting-started/templates/landing-page/components/Footer.tsx
  docs/data/material/getting-started/templates/landing-page/components/Hero.js
  docs/data/material/getting-started/templates/landing-page/components/Hero.tsx
  docs/data/material/getting-started/templates/landing-page/components/Highlights.js
  docs/data/material/getting-started/templates/landing-page/components/Highlights.tsx
  docs/data/material/getting-started/templates/landing-page/components/LogoCollection.js
  docs/data/material/getting-started/templates/landing-page/components/LogoCollection.tsx
  docs/data/material/getting-started/templates/landing-page/components/Pricing.js
  docs/data/material/getting-started/templates/landing-page/components/Pricing.tsx
  docs/data/material/getting-started/templates/landing-page/components/Testimonials.js
  docs/data/material/getting-started/templates/landing-page/components/Testimonials.tsx
  docs/data/material/getting-started/templates/landing-page/components/ToggleColorMode.js
  docs/data/material/getting-started/templates/landing-page/components/ToggleColorMode.tsx
  docs/data/material/getting-started/templates/landing-page/getLPTheme.js
  docs/data/material/getting-started/templates/landing-page/getLPTheme.tsx
  docs/pages/material-ui/getting-started/templates/landing-page.js
  docs/public/static/images/templates/album.png
  docs/public/static/images/templates/dashboard.png
  docs/public/static/images/templates/landing-page.png
  docs/public/static/images/templates/templates-images/dash-dark.png
  docs/public/static/images/templates/templates-images/dash-light.png
  docs/public/static/images/templates/templates-images/devices-dark.png
  docs/public/static/images/templates/templates-images/devices-light.png
  docs/public/static/images/templates/templates-images/hero-dark.png
  docs/public/static/images/templates/templates-images/hero-light.png
  docs/public/static/images/templates/templates-images/mobile-dark.png
  docs/public/static/images/templates/templates-images/mobile-light.png
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
  docs/translations/translations.json
  test/regressions/index.js
Labels: docs, package: material-ui, design

#40940 [docs-infra] Improve support for absolute locale URL
  docs/pages/blog.tsx
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/Link.tsx
  docs/src/modules/components/MarkdownLinks.js
  examples/material-ui-nextjs-pages-router-ts/src/Link.tsx
  examples/material-ui-nextjs-pages-router/src/Link.js
Labels: bug 🐛, scope: docs-infra

#40478 [base-ui][docs] Remove redundant "Styled" prefix
  docs/data/base/components/autocomplete/ControlledStates.js
  docs/data/base/components/autocomplete/ControlledStates.tsx
  docs/data/base/components/autocomplete/UseAutocomplete.js
  docs/data/base/components/autocomplete/UseAutocomplete.tsx
  docs/data/base/components/autocomplete/UseAutocomplete.tsx.preview
  docs/data/base/components/autocomplete/UseAutocompletePopper.js
  docs/data/base/components/autocomplete/UseAutocompletePopper.tsx
  docs/data/base/components/autocomplete/autocomplete.md
Labels: docs, component: autocomplete, package: base-ui

#40854 [zero] Fix build for demo next.js app
  packages/mui-material/package.json
  packages/zero-unplugin/src/index.ts
  pnpm-lock.yaml
Labels: package: zero-runtime

#40690 [system] Support variants in `theme.styleOverrides`
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/overrides.d.ts
  packages/mui-styled-engine-sc/src/index.d.ts
  packages/mui-styled-engine/src/index.d.ts
  packages/mui-system/src/createStyled.js
  packages/mui-system/src/styled.test.js
Labels: package: system, enhancement

#40953 [website] Refine the custom components demo in the homepage
  docs/src/components/home/MaterialDesignComponents.tsx
Labels: design, website

#40952 [base-ui][docs] Update listbox slot style in demo
  docs/data/base/guides/overriding-component-structure/OverridingInternalSlot.js
  docs/data/base/guides/overriding-component-structure/OverridingInternalSlot.tsx
  docs/data/base/guides/overriding-component-structure/OverridingInternalSlot.tsx.preview
Labels: docs, design, package: base-ui

#40767 [material-ui][docs] Add deprecations migration guide
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/data/material/pages.ts
  docs/pages/material-ui/api/accordion.json
  docs/pages/material-ui/migration/migrating-from-deprecated-APIs.js
  docs/translations/translations.json
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.js
Labels: docs, package: material-ui

#40892 [material-ui][docs] Improve aria-label throughout the Button Group demos
  docs/data/material/components/button-group/BasicButtonGroup.js
  docs/data/material/components/button-group/BasicButtonGroup.tsx
  docs/data/material/components/button-group/BasicButtonGroup.tsx.preview
  docs/data/material/components/button-group/ButtonGroupMaterialYouPlayground.js
  docs/data/material/components/button-group/DisableElevation.js
  docs/data/material/components/button-group/DisableElevation.tsx
  docs/data/material/components/button-group/DisableElevation.tsx.preview
  docs/data/material/components/button-group/GroupOrientation.js
  docs/data/material/components/button-group/GroupOrientation.tsx
  docs/data/material/components/button-group/GroupSizesColors.js
  docs/data/material/components/button-group/GroupSizesColors.tsx
  docs/data/material/components/button-group/GroupSizesColors.tsx.preview
  docs/data/material/components/button-group/LoadingButtonGroup.js
  docs/data/material/components/button-group/LoadingButtonGroup.tsx
  docs/data/material/components/button-group/LoadingButtonGroup.tsx.preview
  docs/data/material/components/button-group/SplitButton.js
  docs/data/material/components/button-group/SplitButton.tsx
  docs/data/material/components/button-group/VariantButtonGroup.js
  docs/data/material/components/button-group/VariantButtonGroup.tsx
  docs/data/material/components/button-group/VariantButtonGroup.tsx.preview
Labels: docs, accessibility, package: material-ui, component: ButtonGroup

#40792 [code-infra] Remove babel alias from the docs
  docs/babel.config.js
  docs/next.config.js
  tsconfig.json
Labels: docs, scope: code-infra

#40951 [release] v5.15.8
  CHANGELOG.md
  package.json
  packages/docs-utils/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/typescript-to-proptypes/package.json
Labels: release

#40754 [base-ui] Update props using Array to ReadonlyArray type
  docs/pages/base-ui/api/use-select.json
  docs/pages/base-ui/api/use-slider.json
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.types.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-base/src/useSlider/useSlider.types.ts
  packages/mui-base/src/utils/areArraysEqual.ts
Labels: typescript, package: base-ui, enhancement

#40971 [material] Make zero-runtime optional peer dep
  packages/mui-material/package.json
Labels: package: material-ui

#40972 [system] use `ReadonlyArray` for CSS related types
  packages/mui-styled-engine/src/index.d.ts
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.d.ts
Labels: typescript, package: system

#40981 [material-ui][docs] Migrating from deprecated apis follow up
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/migration/migrating-from-deprecated-apis.js
  packages/mui-codemod/README.md
Labels: docs, package: material-ui

#40947 [material-ui][Divider] Add codemod for `light` prop removal
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/divider.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/divider-props/divider-props.js
  packages/mui-codemod/src/deprecations/divider-props/divider-props.test.js
  packages/mui-codemod/src/deprecations/divider-props/index.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.expected.js
  packages/mui-material/src/Divider/Divider.d.ts
  packages/mui-material/src/Divider/Divider.js
Labels: component: divider, package: material-ui, package: codemod

#40869 [code-infra] Move next config to ESM
  .eslintrc.js
  docs/next.config.mjs
  docs/src/modules/utils/find.mjs
  docs/tsconfig.json
Labels: scope: code-infra

#40968 [autocomplete] Avoid spread operator
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: component: autocomplete

#40999 [material] Fix: remove zero-runtime peer dep
  apps/zero-runtime-next-app/README.md
  apps/zero-runtime-vite-app/README.md
  packages/mui-material/package.json
Labels: package: material-ui

#41003 [material]: Remove zero-runtime from peer dep
  packages/mui-material/package.json
  pnpm-lock.yaml
Labels: package: material-ui

#41004 5.15.9
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#40988 [material-ui][docs] Fix the "Intro to the MUI ecosystem" link placement
  docs/data/material/pages.ts
  docs/src/modules/components/AppNavIcons.ts
  docs/translations/translations.json
Labels: docs, package: material-ui, regression

#41009 [docs-infra] Ignore classes tagged with `@ignore`
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
Labels: scope: docs-infra

#40970 [core] Export functions from `copyFiles` script to reuse in MUI X repo
  scripts/copyFiles.mjs
  scripts/copyFilesUtils.mjs
Labels: core

#41032 [system][Stack] Update import statement for Stack component
  docs/data/system/components/stack/stack.md
Labels: docs, package: system, component: Stack

#40884 [docs] Add a 404 page
  docs/pages/404.tsx
  docs/pages/base-ui.tsx
  docs/pages/material-ui.tsx
  docs/src/components/NotFoundHero.tsx
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
Labels: docs, design, website

#40302 [docs] Fix Next.js v13.5.1 <title> SEO regression
  CONTRIBUTING.md
  docs/next.config.mjs
  docs/package.json
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: bug 🐛, docs, regression, scope: docs-infra

#41001 [docs] Add notification for mui x v7 beta
  docs/notifications.json
Labels: docs, MUI X

#40957 [docs-infra] Fix search icon issue
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppSearch.js
Labels: bug 🐛, package: system, scope: docs-infra

#40943 [button][material-ui] Fix 'File upload' demo a11y
  docs/data/material/components/buttons/InputFileUpload.js
  docs/data/material/components/buttons/InputFileUpload.tsx
  docs/data/material/components/buttons/InputFileUpload.tsx.preview
Labels: bug 🐛, accessibility, component: button, package: material-ui, component: upload

#40913 [material-ui][docs] Remove outdated example projects link (it uses Joy UI now)
  docs/data/material/getting-started/example-projects/example-projects.md
  packages/markdown/parseMarkdown.js
Labels: docs, package: material-ui

#40992 [material-ui][docs][TableRow] Escape markup in `children` prop so docgen tools don't parse it as HTML
  docs/translations/api-docs/table-row/table-row.json
  packages/mui-material/src/TableRow/TableRow.d.ts
  packages/mui-material/src/TableRow/TableRow.js
Labels: docs, component: table, package: material-ui

#41000 [joy-ui][Button] Fix `disabled` prop priority when inside button group
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/ButtonGroup/ButtonGroup.test.tsx
Labels: bug 🐛, component: button, regression, package: joy-ui

#40853 [material-ui][avatar] Add props deprecation with a codemod
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/avatar.json
  docs/translations/api-docs/avatar/avatar.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/avatar-props/avatar-props.js
  packages/mui-codemod/src/deprecations/avatar-props/avatar-props.test.js
  packages/mui-codemod/src/deprecations/avatar-props/index.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/avatar-props/test-cases/theme.expected.js
  packages/mui-material/src/Avatar/Avatar.d.ts
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Avatar/Avatar.spec.tsx
  packages/mui-material/src/Avatar/Avatar.test.js
Labels: component: avatar, package: material-ui, package: codemod, v6.x

#40949 [joy-ui][IconButton] Support `loading` prop
  docs/data/joy/components/button/ButtonUsage.js
  docs/pages/joy-ui/api/icon-button.json
  docs/translations/api-docs-joy/icon-button/icon-button.json
  packages/mui-joy/src/IconButton/IconButton.test.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/IconButton/IconButtonProps.ts
  packages/mui-joy/src/IconButton/iconButtonClasses.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Labels: new feature, component: icon button, package: joy-ui

#40882 [blog] Add post about upcoming plans for Base UI
  docs/data/base/components/transitions/AllTransitionsDemo.js
  docs/data/base/components/transitions/AllTransitionsDemo.tsx
  docs/lib/sourcing.ts
  docs/pages/blog.tsx
  docs/pages/blog/base-ui-2024-plans.js
  docs/pages/blog/base-ui-2024-plans.md
  docs/pages/blog/introducing-base-ui.md
  docs/public/static/blog/base-ui-2024-plans/base-ui-milestone.png
  docs/public/static/blog/base-ui-2024-plans/card.png
  docs/public/static/blog/base-ui-2024-plans/material-vs-base.png
  docs/public/static/blog/introducing-base-ui/card.png
  docs/public/static/blog/introducing-base-ui/hero-image.png
  docs/public/static/blog/introducing-base-ui/switch-slots.png
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/TopLayoutBlog.js
Labels: package: base-ui, blog

#41036 [docs-infra] Fix selected tab on codeblocks
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
Labels: bug 🐛, regression, scope: docs-infra

#41065 v5.15.10
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#40789 [TextareaAutosize] Improve implementation
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.test.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
Labels: bug 🐛, performance, component: TextareaAutosize, package: base-ui

#39904 [lab][Masonry] Ability to sort elements from left to right
  docs/data/material/components/masonry/Sequential.js
  docs/data/material/components/masonry/Sequential.tsx
  docs/data/material/components/masonry/Sequential.tsx.preview
  docs/data/material/components/masonry/masonry.md
  docs/pages/material-ui/api/masonry.json
  docs/translations/api-docs/masonry/masonry.json
  packages/mui-lab/src/Masonry/Masonry.d.ts
  packages/mui-lab/src/Masonry/Masonry.js
  packages/mui-lab/src/Masonry/Masonry.test.js
Labels: package: lab, component: masonry

#40897 [zero] Export `extendTheme` for creating a zero-runtime theme
  apps/zero-runtime-next-app/next.config.js
  apps/zero-runtime-next-app/src/app/globals.css
  apps/zero-runtime-next-app/src/app/page.tsx
  apps/zero-runtime-next-app/src/augment.d.ts
  packages/mui-system/src/cssVars/prepareCssVars.ts
  packages/zero-runtime/README.md
  packages/zero-runtime/src/extendTheme.ts
  packages/zero-runtime/src/index.ts
  packages/zero-runtime/src/processors/styled.ts
  packages/zero-runtime/src/utils/cssFnValueToVariable.ts
  packages/zero-runtime/src/utils/cssFunctionTransformerPlugin.ts
  packages/zero-runtime/src/utils/generateCss.ts
  packages/zero-runtime/tsconfig.json
  packages/zero-unplugin/src/index.ts
  packages/zero-unplugin/tsconfig.build.json
  packages/zero-unplugin/tsconfig.json
  packages/zero-vite-plugin/src/index.ts
  packages/zero-vite-plugin/tsconfig.build.json
  packages/zero-vite-plugin/tsconfig.json
Labels: package: system, package: zero-runtime

#41002 [zero] Fix wrong CSS order by moving import to last
  packages/zero-unplugin/src/index.ts
Labels: bug 🐛, package: system, nextjs, package: zero-runtime

#40986 [zero] Setup basic testing framework
  .eslintignore
  package.json
  packages/zero-runtime/package.json
  packages/zero-runtime/tests/README.md
  packages/zero-runtime/tests/fixtures/styled.input.js
  packages/zero-runtime/tests/fixtures/styled.output.css
  packages/zero-runtime/tests/fixtures/styled.output.js
  packages/zero-runtime/tests/zero-runtime.test.js
  pnpm-lock.yaml
Labels: package: system, package: zero-runtime

#40862 [docs-infra] Remove random layout assignment
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/HooksApiContent.js
Labels: scope: docs-infra

#40907 [base-ui][Switch] Add missing role attribute
  packages/mui-base/src/useSwitch/useSwitch.test.tsx
  packages/mui-base/src/useSwitch/useSwitch.ts
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Switch/Switch.test.tsx
Labels: accessibility, component: switch, package: base-ui

#41033 [typescript-to-proptypes] Support using `Omit` on types with conditional properties
  packages/typescript-to-proptypes/src/getPropTypesFromFile.ts
  packages/typescript-to-proptypes/test/omit-conditional/input.d.ts
  packages/typescript-to-proptypes/test/omit-conditional/output.js
Labels: typescript, core

#41093 [changelog] Remove @mui/system@5.15.10
  CHANGELOG.md
Labels: docs

#40995 [base-ui][docs] Update the Accessibility page demos design
  docs/data/base/components/select/UnstyledSelectIntroduction/tailwind/index.js
  docs/data/base/components/select/UnstyledSelectIntroduction/tailwind/index.tsx
  docs/data/base/getting-started/accessibility/FocusRing.js
  docs/data/base/getting-started/accessibility/FocusRing.tsx
  docs/data/base/getting-started/accessibility/KeyboardNavigation.js
  docs/data/base/getting-started/accessibility/KeyboardNavigation.tsx
Labels: docs, design, package: base-ui

#41066 [material-ui][Autocomplete] Caret transformation issue with font size change
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: package: material-ui, component: autocomplete, customization: css

#41089 [blog] Add link to Base UI API changes RFC
  docs/pages/blog/base-ui-2024-plans.md
Labels: blog

#41108 [code-infra] Load commonjs files in next.config.mjs with require
  docs/next.config.mjs
Labels: scope: code-infra

#41111 [core] Increase node memory limit on Netlify build
  docs/package.json
Labels: core

#41006 [mui-codemod][AccordionSummary] Add contentGutters deprecation codemods
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/translations/api-docs/accordion-summary/accordion-summary.json
  packages/mui-codemod/CONTRIBUTING.md
  packages/mui-codemod/README.md
  packages/mui-codemod/codemod.js
  packages/mui-codemod/package.json
  packages/mui-codemod/src/deprecations/accordion-summary-classes/accordion-summary-classes.js
  packages/mui-codemod/src/deprecations/accordion-summary-classes/accordion-summary-classes.test.js
  packages/mui-codemod/src/deprecations/accordion-summary-classes/index.js
  packages/mui-codemod/src/deprecations/accordion-summary-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/accordion-summary-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/accordion-summary-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/accordion-summary-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/accordion-summary-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/accordion-summary-classes/test-cases/expected.js
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-material/src/AccordionSummary/accordionSummaryClasses.ts
  pnpm-lock.yaml
Labels: component: accordion, package: codemod

#41075 [website] Add overall improvements to the Material UI page
  docs/src/components/action/Highlighter.tsx
  docs/src/components/action/Item.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialHero.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productMaterial/MaterialTemplates.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/RealEstateCard.tsx
Labels: design, website

#41080 [material-ui][docs] Remove Masonry component and Material Design icon from the landing page template
  docs/data/material/getting-started/templates/landing-page/LandingPage.js
  docs/data/material/getting-started/templates/landing-page/LandingPage.tsx
  docs/data/material/getting-started/templates/landing-page/components/Testimonials.js
  docs/data/material/getting-started/templates/landing-page/components/Testimonials.tsx
Labels: docs, package: material-ui

#41132 [code-infra] Use `experimental.cpus` to control amount of export workers in Next.js
  docs/next.config.mjs
Labels: scope: code-infra

#40681 [material-ui][Alert] Deprecate components and componentsProps props
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/alert.json
  docs/translations/api-docs/alert/alert.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/alert-props/alert-props.js
  packages/mui-codemod/src/deprecations/alert-props/alert-props.test.js
  packages/mui-codemod/src/deprecations/alert-props/index.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/utils/replaceComponentsWithSlots.js
  packages/mui-codemod/src/util/findComponentDefaultProps.js
  packages/mui-material/src/Alert/Alert.d.ts
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/Alert/Alert.test.js
  packages/mui-material/src/IconButton/IconButton.js
Labels: deprecation, package: material-ui, component: alert

#41114 [docs-infra] Fix display when the default props is undefined
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
Labels: enhancement, scope: docs-infra

#41129 [docs-infra] Add external link arrow
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#41077 [material-ui] Fix missing babel/runtime dependency in material-ui-nextjs
  packages/mui-material-nextjs/package.json
  pnpm-lock.yaml
Labels: bug 🐛, package: material-ui, nextjs

#40973 [core] Improve the release instructions
  scripts/README.md
Labels: core

#41170 [material-ui][docs] Update the Testing page's Argos link
  docs/data/material/guides/testing/testing.md
Labels: docs, package: material-ui

#41148 [docs-infra] Reduce scrollbar width on ROC
  docs/src/modules/components/AppTableOfContents.js
Labels: design, scope: docs-infra

#41171 [blog] Simplify `/base-ui-2024-plans/` page
  docs/data/base/components/transitions/AllTransitionsDemo.js
  docs/data/base/components/transitions/AllTransitionsDemo.tsx
  docs/pages/blog/base-ui-2024-plans.md
  docs/public/static/blog/base-ui-2024-plans/base-ui-milestone.png
  docs/public/static/blog/base-ui-2024-plans/card.png
  docs/public/static/blog/base-ui-2024-plans/material-vs-base.png
Labels: blog, enhancement

#41097 [website] Add Marblism diamond sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/pages/playground/.gitkeep
  docs/public/static/sponsors/doit-square.svg
  docs/public/static/sponsors/marblism-dark.png
  docs/public/static/sponsors/marblism-dark.svg
  docs/public/static/sponsors/marblism-light.svg
  docs/public/static/sponsors/marblism-rectangular.svg
  docs/public/static/sponsors/marblism-square.png
  docs/public/static/sponsors/marblism-square.svg
  docs/public/static/sponsors/octopus-square.svg
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
  docs/src/components/home/SponsorCard.tsx
  docs/src/components/home/UserFeedbacks.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/TaskCard.tsx
  docs/src/modules/components/DiamondSponsors.js
  test/bundling/fixtures/next-webpack5/pages/next-webpack.fixture.js
Labels: website

#41106 [docs-infra] New way of providing API layout config
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/buildApiUtils.ts
Labels: scope: docs-infra

#41185 [docs] Update broken URL hashes
  docs/data/material/components/text-fields/text-fields.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
Labels: docs, package: material-ui

#41186 [material-ui][docs] Inform about deprecated TablePagination SelectProps usage
  docs/data/material/components/table/CustomPaginationActionsTable.js
  docs/data/material/components/table/CustomPaginationActionsTable.tsx
Labels: docs, component: table, package: material-ui

#41182 [zero] Update to latest version of wyw-in-js
  packages/zero-runtime/package.json
  packages/zero-runtime/src/processors/keyframes.ts
  packages/zero-runtime/tests/fixtures/styled.input.js
  packages/zero-runtime/tests/fixtures/styled.output.css
  packages/zero-runtime/tests/fixtures/styled.output.js
  packages/zero-runtime/tests/zero-runtime.test.js
  packages/zero-unplugin/package.json
  packages/zero-vite-plugin/package.json
  pnpm-lock.yaml
Labels: package: zero-runtime

#41179 [material-ui][Tooltip] Remove incorrect code comment
  packages/mui-material/src/Tooltip/Tooltip.js
Labels: component: tooltip, package: material-ui

#41137 [material-ui][docs] Add a "start now" section on the Overview page
  docs/data/material/getting-started/overview/overview.md
  docs/src/modules/components/MaterialStartingLinksCollection.js
Labels: docs, package: material-ui

#39137 [material-ui][TablePagination] Fix type error in Select props
  docs/data/material/components/selects/MultipleSelectNative.tsx
  packages/mui-material/src/Select/Select.d.ts
  packages/mui-material/src/TablePagination/TablePagination.spec.tsx
Labels: bug 🐛, typescript, package: material-ui, component: TablePagination

#41193 [blog] Add new product tags and stray adjustments
  docs/lib/sourcing.ts
  docs/pages/blog.tsx
  docs/pages/blog/2020-introducing-sketch.md
  docs/pages/blog/2023-material-ui-v6-and-beyond.md
  docs/pages/blog/build-layouts-faster-with-grid-v2.md
  docs/pages/blog/callback-support-in-style-overrides.md
  docs/pages/blog/first-look-at-joy.md
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/material-ui-is-now-mui.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/mui-core-v5-migration-update.md
  docs/src/modules/brandingTheme.ts
Labels: design, blog

#41187 [material-ui][Transitions] External ownerState is incorrectly forwarded to inner components
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/Collapse/Collapse.js
Labels: component: transitions, package: material-ui

#41145 [material-ui][PaginationItem] Add codemod for deprecated classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/translations/api-docs/pagination-item/pagination-item.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/pagination-item-classes/index.js
  packages/mui-codemod/src/deprecations/pagination-item-classes/pagination-item-classes.js
  packages/mui-codemod/src/deprecations/pagination-item-classes/pagination-item-classes.test.js
  packages/mui-codemod/src/deprecations/pagination-item-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/pagination-item-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/pagination-item-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/pagination-item-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/pagination-item-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/pagination-item-classes/test-cases/expected.js
  packages/mui-material/src/PaginationItem/paginationItemClasses.ts
Labels: docs, package: material-ui, package: codemod, component: pagination

#41167 [docs-infra] Simplify copy logic
  docs/src/modules/utils/CodeCopy.tsx
Labels: enhancement, scope: docs-infra

#41104 [autocomplete][docs] Fix focus state demo in Base UI
  docs/data/base/components/autocomplete/AutocompleteIntroduction/css/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/css/index.tsx
  docs/data/base/components/autocomplete/AutocompleteIntroduction/system/index.js
  docs/data/base/components/autocomplete/AutocompleteIntroduction/system/index.tsx
  docs/data/base/components/autocomplete/ControlledStates.js
  docs/data/base/components/autocomplete/ControlledStates.tsx
  docs/data/base/components/autocomplete/UseAutocomplete.js
  docs/data/base/components/autocomplete/UseAutocomplete.tsx
  docs/data/base/components/autocomplete/UseAutocompletePopper.js
  docs/data/base/components/autocomplete/UseAutocompletePopper.tsx
Labels: bug 🐛, docs, component: autocomplete, package: base-ui, regression

#41194 [joy-ui][docs] Fix LinearProgressWithLabel example
  docs/data/joy/components/linear-progress/LinearProgressWithLabel.js
  docs/data/joy/components/linear-progress/LinearProgressWithLabel.tsx
Labels: docs, component: LinearProgress, package: joy-ui

#40909 [system] Explain why AppRouterCacheProvider
  docs/data/material/integrations/nextjs/nextjs.md
Labels: package: system, enhancement

#39463 [system][material-ui] Move useMediaQuery to system
  packages/mui-material/src/useMediaQuery/index.d.ts
  packages/mui-material/src/useMediaQuery/index.js
  packages/mui-material/src/useMediaQuery/useMediaQueryTheme.d.ts
  packages/mui-material/src/useMediaQuery/useMediaQueryTheme.js
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  packages/mui-system/src/useMediaQuery/index.ts
  packages/mui-system/src/useMediaQuery/useMediaQuery.ts
Labels: package: system, package: joy-ui

#41202 [material-ui][joy-ui][Tooltip] Rename mouse event handlers
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/Tooltip/Tooltip.js
Labels: component: tooltip, package: material-ui, package: joy-ui, enhancement

#41216 [core][base-ui] Remove `@mui/base` dev dependency from Base UI workspace
  packages/mui-base/package.json
  pnpm-lock.yaml
Labels: package: base-ui, scope: code-infra

#41210 [code-infra] Build internal packages before publishing
  package.json
  packages-internal/scripts/package.json
  packages/docs-utils/CHANGELOG.md
  packages/docs-utils/package.json
Labels: scope: code-infra

#41176 [docs-infra] Share vale-config
  .github/styles/Vocab/accept.txt
  .github/styles/Vocab/reject.txt
  .gitignore
  .vale.ini
  docs/writing-rules.zip
  docs/writing-rules/BrandName.yml
  docs/writing-rules/ComponentNameConventions.yml
  docs/writing-rules/ComposedWords.yml
  docs/writing-rules/NamingConventions.yml
  docs/writing-rules/NoCompanyName.yml
  docs/writing-rules/Typos.yml
  package.json
  packages/mui-material/src/Select/Select.d.ts
Labels: scope: docs-infra

#41168 [core] Fix missing context display names
  packages/mui-base/src/Unstable_Popup/PopupContext.ts
  packages/mui-base/src/useCompound/useCompoundParent.ts
  packages/mui-base/src/useDropdown/DropdownContext.ts
  packages/mui-base/src/useList/ListContext.ts
  packages/mui-base/src/useTransition/TransitionContext.ts
  packages/mui-base/src/utils/ClassNameConfigurator.tsx
  packages/mui-joy/src/AvatarGroup/AvatarGroup.tsx
  packages/mui-joy/src/Chip/ChipContext.ts
  packages/mui-joy/src/FormControl/FormControlContext.ts
  packages/mui-joy/src/List/ComponentListContext.ts
  packages/mui-joy/src/List/GroupListContext.ts
  packages/mui-joy/src/List/NestedListContext.ts
  packages/mui-joy/src/List/RowListContext.ts
  packages/mui-joy/src/List/WrapListContext.ts
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItemButton/ListItemButtonOrientationContext.ts
  packages/mui-joy/src/ListSubheader/ListSubheader.test.tsx
  packages/mui-joy/src/ListSubheader/ListSubheader.tsx
  packages/mui-joy/src/ListSubheader/ListSubheaderContext.ts
  packages/mui-joy/src/Modal/CloseModalContext.ts
  packages/mui-joy/src/ModalDialog/ModalDialogSizeContext.ts
  packages/mui-joy/src/ModalDialog/ModalDialogVariantColorContext.ts
  packages/mui-joy/src/Tabs/SizeTabsContext.ts
  packages/mui-joy/src/ToggleButtonGroup/ToggleButtonGroupContext.tsx
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/styles/variantColorInheritance.tsx
  packages/mui-material-next/src/Tabs/TabsListContext.js
  packages/mui-system/src/Unstable_Grid/createGrid.tsx
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: core, dx

#40908 [docs-infra] Fix broken anchor links
  docs/translations/translations.json
  packages/mui-material-next/src/ButtonBase/Ripple.tsx
  packages/mui-material-next/src/ButtonBase/TouchRipple.tsx
  packages/mui-material-next/src/OutlinedInput/NotchedOutline.js
  packages/mui-material-next/src/Select/SelectInput.js
  packages/mui-material/src/ButtonBase/Ripple.js
  packages/mui-material/src/ButtonBase/TouchRipple.js
  packages/mui-material/src/NativeSelect/NativeSelectInput.js
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/Radio/RadioButtonIcon.js
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/internal/SwitchBase.js
Labels: bug 🐛, regression, scope: docs-infra

#41219 [system] Merge props and ownerState in the variants props callback
  test/integration/mui-system/createStyled.test.js
Labels: package: system

#41222 [system][zero] Consolidate the variants props callback arguments
  packages/mui-system/src/createStyled.js
Labels: package: system

#41208 [blog] Remove the "News" tag
  docs/lib/sourcing.ts
  docs/pages/blog.tsx
  docs/pages/blog/2023-toolpad-beta-announcement.md
  docs/pages/blog/aggregation-functions.md
  docs/pages/blog/date-pickers-stable-v5.md
  docs/pages/blog/discord-announcement.md
  docs/pages/blog/docs-restructure-2022.md
  docs/pages/blog/introducing-the-row-grouping-feature.md
  docs/pages/blog/lab-date-pickers-to-mui-x.md
  docs/pages/blog/lab-tree-view-to-mui-x.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/blog/mui-next-js-app-router.md
  docs/pages/blog/mui-x-end-v6-features.md
  docs/pages/blog/mui-x-mid-v6-features.md
  docs/pages/blog/mui-x-v5.md
  docs/pages/blog/mui-x-v6-alpha-zero.md
  docs/pages/blog/mui-x-v6.md
  docs/pages/blog/mui-x-v7-beta.md
  docs/pages/blog/premium-plan-release.md
  docs/pages/blog/v6-beta-pickers.md
Labels: blog

#41204 [zero] Move extendTheme to its own subpath
  packages/zero-next-plugin/src/index.ts
  packages/zero-runtime/.gitignore
  packages/zero-runtime/README.md
  packages/zero-runtime/package.json
  packages/zero-runtime/src/extendTheme.ts
  packages/zero-runtime/src/index.ts
  packages/zero-runtime/tsup.config.ts
  packages/zero-unplugin/src/index.ts
  packages/zero-vite-plugin/src/index.ts
Labels: package: zero-runtime

#41209 [website] Improve the footer's chip contrast
  docs/pages/blog.tsx
  docs/pages/experiments/website/branding-theme-test.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/brandingTheme.ts
Labels: design, website

#41178 [code-infra] Prepare babel macros package for publishing to npm
  .codesandbox/ci.json
  packages/mui-babel-macros/CHANGELOG.md
  packages/mui-babel-macros/MuiError.macro.js
  packages/mui-babel-macros/README.md
  packages/mui-babel-macros/__fixtures__/error-code-extraction/input.js
  packages/mui-babel-macros/__fixtures__/factory-call/input.js
  packages/mui-babel-macros/__fixtures__/literal/input.js
  packages/mui-babel-macros/__fixtures__/no-error-code-annotation/input.js
  packages/mui-babel-macros/__fixtures__/no-error-code-throw/input.js
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-base/src/unstable_useNumberInput/useNumberInput.ts
  packages/mui-base/src/useInput/useInput.ts
  packages/mui-material-next/package.json
  packages/mui-material-next/src/Select/SelectInput.js
  packages/mui-material/package.json
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/styles/createPalette.js
  packages/mui-material/src/styles/createTheme.js
  packages/mui-material/src/styles/index.js
  packages/mui-material/src/styles/makeStyles.js
  packages/mui-material/src/styles/responsiveFontSizes.js
  packages/mui-material/src/styles/withStyles.js
  packages/mui-material/src/styles/withTheme.js
  packages/mui-system/package.json
  packages/mui-system/src/colorManipulator.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/index.js
  packages/mui-utils/package.json
  packages/mui-utils/src/capitalize/capitalize.ts
  packages/mui-utils/src/formatMuiErrorMessage/formatMuiErrorMessage.ts
  pnpm-lock.yaml
Labels: scope: code-infra

#41147 [examples] Update dependency in the dashboard template
  docs/data/material/getting-started/templates/dashboard/README.md
Labels: docs, package: material-ui, examples, component: charts

#41213 v5.15.11
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#41231 [material-ui][Chip] Correct `deleteIconColorPrimary` and `deleteIconColorSecondary` class descriptions
  docs/pages/material-ui/api/chip.json
  docs/translations/api-docs/chip/chip.json
  packages/mui-material/src/Chip/chipClasses.ts
Labels: bug 🐛, docs, component: chip, package: material-ui

#41069 [docs-infra] Support interfaces for X docs
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/translations/translations.json
Labels: component: data grid, scope: docs-infra

#40631 [core] Add a script to build all packages
  .github/workflows/ci.yml
  package.json
Labels: core

#41081 [website] Remove Heatmap chart from community plan on pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, component: charts

#41211 [joy-ui][docs] Add stray adjustments throughout the docs
  docs/data/joy/components/accordion/accordion.md
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
  docs/data/joy/components/card/CardUsage.js
  docs/data/joy/components/grid/grid.md
  docs/data/joy/components/link/link.md
  docs/data/joy/components/menu/menu.md
  docs/data/joy/components/modal/modal.md
  docs/data/joy/components/radio-button/radio-button.md
  docs/data/joy/components/tabs/tabs.md
  docs/data/joy/components/tooltip/tooltip.md
  docs/data/joy/customization/approaches/approaches.md
  docs/data/joy/customization/theme-colors/theme-colors.md
  docs/data/joy/getting-started/support/support.md
  docs/data/joy/integrations/material-ui/material-ui.md
  docs/data/joy/pages.ts
  docs/public/static/docs-infra/forking-an-example-dark.png
  docs/public/static/docs-infra/forking-an-example.png
  packages/markdown/prepareMarkdown.js
Labels: docs, package: joy-ui

#40777 [material-ui][Slider] Deprecate components and componentProps props for v6
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/slider.json
  docs/translations/api-docs/slider/slider.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/slider-props/index.js
  packages/mui-codemod/src/deprecations/slider-props/slider-props.js
  packages/mui-codemod/src/deprecations/slider-props/slider-props.test.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/theme.expected.js
  packages/mui-material/src/Slider/Slider.d.ts
  packages/mui-material/src/Slider/Slider.js
Labels: component: slider, package: material-ui

#41166 [docs-infra] Fix product selector popup not closing on route change
  docs/src/modules/components/AppNavDrawer.js
Labels: bug 🐛, scope: docs-infra

#41226 [zero] Prepare zero-runtime packages for public release
  .codesandbox/ci.json
  nx.json
  packages/zero-next-plugin/.gitignore
  packages/zero-next-plugin/package.json
  packages/zero-runtime/.gitignore
  packages/zero-runtime/package.json
  packages/zero-unplugin/.gitignore
  packages/zero-unplugin/package.json
  packages/zero-unplugin/src/index.ts
  packages/zero-vite-plugin/.gitignore
  packages/zero-vite-plugin/package.json
  pnpm-lock.yaml
  scripts/zero-runtime-license.mjs
  tsup.config.ts
Labels: package: zero-runtime

#41198 [material] Remove unused dev dependency on @mui/lab
  packages/mui-lab/src/TimelineDot/color-palette-prop.spec.tsx
  packages/mui-material/package.json
  packages/mui-material/test/typescript/color-palette-prop.spec.tsx
  pnpm-lock.yaml
Labels: package: material-ui

#40675 [material-ui][Button] Deprecate classes for v6
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/button.json
  docs/pages/material-ui/api/loading-button.json
  docs/translations/api-docs/button/button.json
  docs/translations/api-docs/loading-button/loading-button.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/button-classes/button-classes.js
  packages/mui-codemod/src/deprecations/button-classes/button-classes.test.js
  packages/mui-codemod/src/deprecations/button-classes/index.js
  packages/mui-codemod/src/deprecations/button-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/button-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/button-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/button-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/button-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/button-classes/test-cases/expected.js
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/Button/Button.test.js
  packages/mui-material/src/Button/buttonClasses.ts
Labels: component: button, deprecation, package: material-ui, v6.x

#41235 [material-ui][Chip] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/chip.json
  docs/translations/api-docs/chip/chip.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/chip-classes/chip-classes.js
  packages/mui-codemod/src/deprecations/chip-classes/chip-classes.test.js
  packages/mui-codemod/src/deprecations/chip-classes/index.js
  packages/mui-codemod/src/deprecations/chip-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/chip-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/chip-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/chip-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/chip-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/chip-classes/test-cases/expected.js
  packages/mui-material/src/Chip/chipClasses.ts
Labels: docs, component: chip, deprecation, package: material-ui

#40688 [material-ui][Alert] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/alert.json
  docs/translations/api-docs/alert/alert.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/alert-classes/alert-classes.js
  packages/mui-codemod/src/deprecations/alert-classes/alert-classes.test.js
  packages/mui-codemod/src/deprecations/alert-classes/index.js
  packages/mui-codemod/src/deprecations/alert-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/alert-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/alert-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/alert-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/alert-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/alert-classes/test-cases/expected.js
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/Alert/Alert.test.js
  packages/mui-material/src/Alert/alertClasses.ts
Labels: deprecation, package: material-ui, component: alert

#41271 [zero] Remove `object` intersection from CSS Fallback
  packages/zero-runtime/src/base.d.ts
  packages/zero-runtime/src/css.d.ts
  packages/zero-runtime/src/keyframes.d.ts
Labels: typescript, package: zero-runtime

#41254 [zero] Move extendTheme to already existing @mui/zero-runtime/utils
  packages/zero-runtime/.gitignore
  packages/zero-runtime/package.json
  packages/zero-runtime/src/theme.ts
  packages/zero-runtime/src/utils/cssFnValueToVariable.ts
  packages/zero-runtime/src/utils/extendTheme.ts
  packages/zero-runtime/src/utils/generateCss.ts
  packages/zero-runtime/src/utils/index.ts
  packages/zero-runtime/tsup.config.ts
  packages/zero-unplugin/src/index.ts
  packages/zero-vite-plugin/src/index.ts
Labels: package: zero-runtime

#41267 [zero] Set up Material UI migration demos
  apps/local-ui-lib/package.json
  apps/pnpm-lock.yaml
  apps/pnpm-workspace.yaml
  apps/zero-runtime-next-app/next.config.js
  apps/zero-runtime-next-app/package.json
  apps/zero-runtime-next-app/src/app/avatar/page.tsx
  apps/zero-runtime-next-app/src/app/layout.tsx
  apps/zero-runtime-next-app/src/app/material-ui/layout.tsx
  apps/zero-runtime-next-app/src/app/material-ui/react-avatar/page.tsx
  apps/zero-runtime-next-app/src/app/theme.ts
  apps/zero-runtime-next-app/src/components/Avatar/Avatar.js
  apps/zero-runtime-vite-app/package.json
  apps/zero-runtime-vite-app/src/Layout.tsx
  apps/zero-runtime-vite-app/src/Slider/ZeroSlider.tsx
  apps/zero-runtime-vite-app/src/main.tsx
  apps/zero-runtime-vite-app/src/pages/index.tsx
  apps/zero-runtime-vite-app/src/pages/material-ui/react-avatar.tsx
  apps/zero-runtime-vite-app/tsconfig.json
  apps/zero-runtime-vite-app/vite-env.d.ts
  apps/zero-runtime-vite-app/vite.config.ts
  packages/mui-material/src/Avatar/Avatar.js
  packages/zero-vite-plugin/src/index.ts
  packages/zero-vite-plugin/src/zero-vite-plugin.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/zero-render-mui-demos.mjs
Labels: package: zero-runtime

#41292 [docs-infra] Adjust headings dark mode color
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#41285 [docs-infra] Add design customizations to the disclosure element
  docs/pages/experiments/docs/markdown.md
  docs/src/modules/components/MarkdownElement.js
Labels: design, scope: docs-infra

#41293 [material-ui][docs] Fix color mode toggle of the landing page template
  docs/data/material/getting-started/templates/landing-page/LandingPage.js
  docs/data/material/getting-started/templates/landing-page/LandingPage.tsx
  docs/data/material/getting-started/templates/landing-page/components/Features.js
  docs/data/material/getting-started/templates/landing-page/components/Features.tsx
  docs/data/material/getting-started/templates/landing-page/components/Hero.js
  docs/data/material/getting-started/templates/landing-page/components/Hero.tsx
  docs/data/material/getting-started/templates/landing-page/components/Pricing.js
  docs/data/material/getting-started/templates/landing-page/components/Pricing.tsx
Labels: docs, package: material-ui, design

#41246 [code-infra] Embed translations in the @mui/docs package
  docs/pages/_app.js
  docs/scripts/i18n.ts
  docs/scripts/tsconfig.json
  docs/translations/translations.json
  package.json
  packages/mui-docs/src/DocsProvider/DocsProvider.tsx
  packages/mui-docs/src/i18n/i18n.tsx
  packages/mui-docs/src/translations/index.ts
  packages/mui-docs/src/translations/translations.json
  packages/mui-docs/tsconfig.build.json
  packages/mui-docs/tsconfig.json
Labels: scope: code-infra

#41268 [zero] Add support for styled tagged-template literals
  packages/zero-runtime/src/keyframes.d.ts
  packages/zero-runtime/src/processors/styled.ts
  packages/zero-runtime/src/styled.d.ts
  packages/zero-runtime/tests/fixtures/styled.input.js
  packages/zero-runtime/tests/fixtures/styled.output.css
  packages/zero-runtime/tests/fixtures/styled.output.js
  packages/zero-runtime/tests/zero-runtime.test.js
Labels: new feature, package: zero-runtime
