Repository mui/material-ui, pull requests merged in 2024-12, with the labels that each got.

#44591 [core] Extract useRippleHandler outside of ButtonBase
  packages/mui-material/src/ButtonBase/ButtonBase.js
Labels: core

#44403 [core] Remove `getSlotOwnerState` from `useSlot` util
  packages/mui-material/src/utils/useSlot.test.tsx
  packages/mui-material/src/utils/useSlot.ts
Labels: core

#44634 [material-ui][TextField][docs] Update usage of `InputLableProps` in docs
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, component: text field, package: material-ui

#44636 [material-ui][docs] Replace testid with id in migration guide
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
Labels: docs, deprecation, package: material-ui, v6.x migration

#44587 [docs-infra] Change CSS vars generation to be extracted from Enum
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/utils/extractInfoFromEnum.ts
Labels: scope: docs-infra

#44599 [Grid2] Fix theme scoping error
  packages/mui-material/src/Grid2/Grid2.test.js
  packages/mui-material/src/Grid2/Grid2.tsx
  packages/mui-system/src/Grid/createGrid.tsx
Labels: bug 🐛, component: Grid

#44632 [docs-infra] Fix Banner CLS
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/modules/components/AppFrame.js
Labels: bug 🐛, scope: docs-infra

#44638 [material-ui][ListItem] Add missing diffs in migration guide
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
Labels: component: list, deprecation, package: material-ui, v6.x migration

#44581 [docs] Update links and sidebar nav for Base UI components in Material UI
  docs/data/material/components/click-away-listener/click-away-listener.md
  docs/data/material/components/no-ssr/no-ssr.md
  docs/data/material/components/popper/popper.md
  docs/data/material/components/portal/portal.md
  docs/data/material/components/text-fields/text-fields.md
  docs/data/material/components/textarea-autosize/textarea-autosize.md
  docs/data/material/customization/shadow-dom/shadow-dom.md
  docs/data/material/integrations/interoperability/interoperability.md
  docs/data/material/pages.ts
Labels: docs

#44639 [test-utils] Remove leftover React.ReactElement<any> from describeConformance.tsx
  packages-internal/test-utils/src/describeConformance.tsx
Labels: typescript, core

#44631 [Select][TextField] Fix screen reader from saying `&ZeroWidthSpace`
  packages/mui-base/src/Select/Select.tsx
  packages/mui-material/src/FormHelperText/FormHelperText.js
  packages/mui-material/src/InputAdornment/InputAdornment.js
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/Select/SelectInput.js
Labels: bug 🐛, accessibility, component: select, component: text field

#44644 [release] v5.16.9
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#44645 [release] v6.1.10
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#44650 [core] Fix number of contributors
  CHANGELOG.md
Labels: core

#41803 [docs-infra] Fix RTL dark mode
  docs/src/createEmotionCache.ts
  docs/src/modules/utils/StyledEngineProvider.js
  docs/src/modules/utils/globalSelector.ts
Labels: scope: docs-infra

#44643 [material-ui][Box] Add missing `component` to `BoxProps` type
  packages/mui-material/src/Box/Box.d.ts
  packages/mui-material/src/Box/Box.spec.tsx
Labels: typescript, package: material-ui, component: Box

#44651 [material-ui][Box] Fix `component` prop test
  packages/mui-material/src/Box/Box.spec.tsx
Labels: test, typescript, package: material-ui, component: Box

#44627 [core] Fix Regular Expression Denial of Service (ReDoS) vulnerabilities
  docs/src/modules/components/Demo.js
  packages/markdown/parseMarkdown.js
  packages/mui-codemod/src/v5.0.0/root-ref.js
Labels: docs, performance

#44654 [website] Sync mui.com/about/ page
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/jun-kunaporn.png
  docs/public/static/branding/about/mikaila-read.png
Labels: website

#43605 [Grid] Remove deeply nested imports
  packages/mui-material/src/PigmentGrid/PigmentGrid.tsx
  packages/mui-system/src/Grid/index.ts
Labels: component: Grid, package: system

#44571 [material-ui][ListItemText] Add `slots` and `slotProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/list-item-text.json
  docs/translations/api-docs/list-item-text/list-item-text.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/list-item-text-props/index.js
  packages/mui-codemod/src/deprecations/list-item-text-props/list-item-text-props.js
  packages/mui-codemod/src/deprecations/list-item-text-props/list-item-text-props.test.js
  packages/mui-codemod/src/deprecations/list-item-text-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/list-item-text-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/list-item-text-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/list-item-text-props/test-cases/theme.expected.js
  packages/mui-material/src/ListItemText/ListItemText.d.ts
  packages/mui-material/src/ListItemText/ListItemText.js
  packages/mui-material/src/ListItemText/ListItemText.test.js
  pnpm-lock.yaml
Labels: docs, component: list, deprecation, package: material-ui, package: codemod

#44660 [website] Remove three gold sponsors and one backlink sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#44676 [core] Remove obselete lerna options
  package.json
Labels: core

#44415 [docs] Add Toolpad Core template link
  docs/data/material/getting-started/templates/templates.md
  docs/public/_redirects
  docs/public/static/images/toolpad-core-template-dark.png
  docs/public/static/images/toolpad-core-template-light.png
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
Labels: docs, Toolpad

#44672 [core] Bump React to 19 (2.0)
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  benchmark/package.json
  docs/data/base/getting-started/quickstart/quickstart.md
  docs/data/joy/getting-started/installation/installation.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/system/getting-started/installation/installation.md
  docs/nextConfigDocsInfra.js
  docs/package.json
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/mui-base/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/test/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-material/src/ButtonBase/ButtonBase.test.js
  packages/mui-material/src/Modal/Modal.test.js
  packages/mui-material/src/useLazyRipple/useLazyRipple.ts
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine-sc/tsconfig.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-system/src/cssVars/useCurrentColorScheme.test.js
  packages/mui-system/tsconfig.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
  test/package.json
  tsconfig.json
Labels: core, React 19 support

#44704 [core] React 19 useRef cleanup
  docs/data/joy/components/button-group/SplitButton.tsx
  docs/data/joy/components/input/DebouncedInput.tsx
  docs/data/joy/components/input/InputSlotProps.tsx
  docs/data/joy/components/snackbar/SnackbarHideDuration.tsx
  docs/data/joy/components/textarea/TextareaRef.tsx
  docs/data/material/components/popper/VirtualElementPopper.tsx
  docs/data/material/components/progress/CircularIntegration.tsx
  docs/data/material/components/progress/DelayingAppearance.tsx
  docs/pages/blog.tsx
  docs/pages/experiments/joy/style-guide.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productBaseUI/BaseUICustomization.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/modules/components/JoyThemeBuilder.tsx
  packages/mui-base/CONTRIBUTING.md
  packages/mui-base/src/Button/Button.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/Tab/Tab.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
  packages/mui-base/src/unstable_useModal/useModal.ts
  packages/mui-base/src/useButton/useButton.ts
  packages/mui-base/src/useDropdown/useDropdown.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-base/src/useSwitch/useSwitch.ts
  packages/mui-base/src/utils/useControllableReducer.ts
  packages/mui-base/src/utils/useMessageBus.ts
  packages/mui-docs/src/Ad/Ad.tsx
  packages/mui-docs/src/CodeCopy/CodeCopy.tsx
  packages/mui-docs/src/CodeCopy/useClipboardCopy.ts
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/Modal/useModal.ts
  packages/mui-material/src/Popper/BasePopper.tsx
  packages/mui-material/src/Popper/Popper.spec.tsx
  packages/mui-material/src/Slider/useSlider.ts
  packages/mui-material/src/TextareaAutosize/TextareaAutosize.tsx
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
  packages/mui-material/test/typescript/index.spec.tsx
  packages/mui-utils/src/setRef/setRef.spec.tsx
  test/integration/material-ui/components.spec.tsx
Labels: typescript, core, React 19 support

#44706 [core] Fix UMD examples
  examples/material-ui-via-cdn/index.html
  pnpm-lock.yaml
Labels: core, v5.x

#44705 Bump pnpm to 9.14.4 in v5
  package.json
Labels: dependencies

#44537 [material-ui][Slider] Set CSS `writing-mode` and update vertical slider docs
  apps/pigment-css-next-app/src/app/material-ui/react-slider/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-slider.tsx
  docs/data/material/components/slider/VerticalAccessibleSlider.js
  docs/data/material/components/slider/VerticalAccessibleSlider.tsx
  docs/data/material/components/slider/VerticalAccessibleSlider.tsx.preview
  docs/data/material/components/slider/VerticalSlider.js
  docs/data/material/components/slider/VerticalSlider.tsx
  docs/data/material/components/slider/slider.md
  packages/mui-material/src/Slider/Slider.test.js
  packages/mui-material/src/Slider/useSlider.ts
  test/regressions/index.js
Labels: accessibility, component: slider, package: material-ui

#44707 [api-docs-builder] Allow custom annotations
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/types/ApiBuilder.types.ts
  packages/api-docs-builder/types/utils.types.ts
Labels: scope: docs-infra

#44712 [typescript] Rescue missing backports v5
  docs/src/components/markdown/MarkdownElement.tsx
  packages/mui-material/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-material/src/NoSsr/NoSsr.tsx
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
  packages/mui-material/src/utils/PolymorphicComponent.ts
Labels: typescript, v5.x

#44709 [docs-infra] Add support for data attributes in the API generation
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/types/ApiBuilder.types.ts
  packages/api-docs-builder/types/utils.types.ts
  packages/api-docs-builder/utils/extractInfoFromEnum.ts
Labels: scope: docs-infra

#44711 v5.16.10
  CHANGELOG.md
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#44710 v6.2.0
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#44714 [material-ui][TextField] Add size default prop to api docs
  docs/pages/material-ui/api/text-field.json
  packages/mui-material/src/TextField/TextField.d.ts
  packages/mui-material/src/TextField/TextField.js
Labels: docs, component: text field, package: material-ui

#43576 [examples] Add Theme Mode Switch to Next.js TS example
  examples/material-ui-nextjs-ts/src/app/layout.tsx
  examples/material-ui-nextjs-ts/src/components/ModeSwitch.tsx
  examples/material-ui-nextjs-ts/src/theme.ts
Labels: examples

#44723 [release] v5.16.11
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
  pnpm-lock.yaml
Labels: release

#44703 [core] Add documentation to `useThemeProps`, `deepmerge` and `composeClasses` functions
  packages/mui-material/src/styles/useThemeProps.d.ts
  packages/mui-utils/src/composeClasses/composeClasses.ts
  packages/mui-utils/src/deepmerge/deepmerge.test.ts
  packages/mui-utils/src/deepmerge/deepmerge.ts
Labels: package: utils, package: material-ui, core

#44735 [release] MUI Joy `5.0.0-beta.50`
  packages/mui-joy/package.json
Labels: release

#44737 [api-docs-builder] Preserve multiline prop descriptions with `rawDescriptions` option
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/utils/generatePropDescription.ts
Labels: scope: docs-infra

#44538 [system] Warns if the hex color contains trailing space
  packages/mui-system/src/colorManipulator/colorManipulator.js
  packages/mui-system/src/colorManipulator/colorManipulator.test.js
  pnpm-lock.yaml
Labels: package: system, dx

#44747 [material-ui][Dialog] Fix crashing of DraggableDialog demo
  docs/data/material/components/dialogs/DraggableDialog.js
  docs/data/material/components/dialogs/DraggableDialog.tsx
Labels: docs, component: dialog, package: material-ui, regression

#44743 [docs] Update `react-number-format` demo to use the recommended prop
  docs/data/material/components/text-fields/FormattedInputs.js
  docs/data/material/components/text-fields/FormattedInputs.tsx
Labels: docs, component: text field

#44752 [Material UI] Update `overridesResolver` return from object to array of styles
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
  packages/mui-material/src/CardHeader/CardHeader.js
  packages/mui-material/src/FormControl/FormControl.js
  packages/mui-material/src/FormLabel/FormLabel.js
  packages/mui-material/src/styles/styled.test.js
Labels: component: avatar, component: card, component: autocomplete, component: FormControl

#44757 [core] Add `latest-v5` tag to v5 releases
  package.json
Labels: core, v5.x

#44753 [material-ui][Pagination] Use correct `aria-current` value
  packages/mui-material/src/Pagination/Pagination.test.js
  packages/mui-material/src/usePagination/usePagination.js
Labels: accessibility, package: material-ui, component: pagination

#44701 [core] Update `eslint-plugin-jsx-a11y`
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Labels: core

#44664 [core] Fix running mocha related scripts on Windows locally
  package.json
Labels: test, core

#44784 [website] Close the xCharts React Engineer role
  docs/pages/careers.tsx
Labels: website

#44785 [release] v5.16.12
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#44744 [docs][TextField] Add suffix shrink demo
  docs/data/material/components/text-fields/InputSuffixShrink.js
  docs/data/material/components/text-fields/InputSuffixShrink.tsx
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, component: text field

#44722 [blog] Material UI: 2024 EOY updates blog post
  docs/pages/blog/material-ui-2024-updates.js
  docs/pages/blog/material-ui-2024-updates.md
Labels: core, blog

#43958 [docs][material-ui] Update MD callout
  docs/data/material/getting-started/overview/overview.md
Labels: docs, package: material-ui

#44742 [material-ui][StepContent] Add slots and slotProps
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/step-content.json
  docs/translations/api-docs/step-content/step-content.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/step-content-props/index.js
  packages/mui-codemod/src/deprecations/step-content-props/step-content-props.js
  packages/mui-codemod/src/deprecations/step-content-props/step-content-props.test.js
  packages/mui-codemod/src/deprecations/step-content-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/step-content-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/step-content-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/step-content-props/test-cases/theme.expected.js
  packages/mui-material/src/StepContent/StepContent.d.ts
  packages/mui-material/src/StepContent/StepContent.js
  packages/mui-material/src/StepContent/StepContent.test.js
Labels: component: stepper, package: material-ui

#44657 [useAutocomplete] Improve TS typing of `groupedOptions` prop
  docs/data/material/components/autocomplete/CustomizedHook.js
  docs/data/material/components/autocomplete/CustomizedHook.tsx
  docs/data/material/components/autocomplete/UseAutocomplete.js
  docs/data/material/components/autocomplete/UseAutocomplete.tsx
  docs/data/material/components/autocomplete/UseAutocomplete.tsx.preview
  docs/pages/material-ui/api/autocomplete.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-material/src/useAutocomplete/useAutocomplete.spec.ts
Labels: typescript, component: autocomplete

#44802 [docs-infra] Remove no longer support `optimizeFonts` Next.js option
  docs/next-env.d.ts
  docs/nextConfigDocsInfra.js
Labels: scope: docs-infra

#44401 [material-ui] Prevent `ownerState` propagation for transition slots
  packages/mui-material/src/Accordion/Accordion.test.js
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/Collapse/Collapse.js
  packages/mui-material/src/Collapse/Collapse.test.js
  packages/mui-material/src/Fade/Fade.js
  packages/mui-material/src/Grow/Grow.js
  packages/mui-material/src/Slide/Slide.js
  packages/mui-material/src/Zoom/Zoom.js
Labels: bug 🐛, package: material-ui, regression

#44570 [TablePagination] Add the rest of `slots` and `slotProps`.
  docs/pages/material-ui/api/table-pagination.json
  docs/translations/api-docs/table-pagination/table-pagination.json
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/table-pagination-props/index.js
  packages/mui-codemod/src/deprecations/table-pagination-props/table-pagination-props.js
  packages/mui-codemod/src/deprecations/table-pagination-props/table-pagination-props.test.js
  packages/mui-codemod/src/deprecations/table-pagination-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/table-pagination-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/table-pagination-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/table-pagination-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/utils/movePropIntoSlots.js
  packages/mui-material/src/TablePagination/TablePagination.d.ts
  packages/mui-material/src/TablePagination/TablePagination.js
  packages/mui-material/src/TablePagination/TablePagination.spec.tsx
  packages/mui-material/src/TablePagination/TablePagination.test.js
  pnpm-lock.yaml
Labels: component: TablePagination

#44071 [core] Remove unnecessary conditional around `.muiName = `
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/Icon/Icon.js
  packages/mui-material/src/Input/Input.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
  packages/mui-material/src/StepLabel/StepLabel.js
  packages/mui-material/src/SvgIcon/SvgIcon.js
Labels: core

#44658 [docs][material-ui] Improve `theme.applyStyles()` docs
  docs/data/material/customization/css-theme-variables/configuration.md
  docs/data/material/customization/css-theme-variables/usage.md
  docs/data/material/customization/dark-mode/dark-mode.md
  packages/mui-system/src/createTheme/applyStyles.ts
Labels: docs, package: material-ui, customization: theme

#44823 [docs-infra] Remove Next.js production profiler
  docs/package.json
Labels: docs, performance, scope: docs-infra

#44408 [Accordion] Fix invalid HTML inside heading
  docs/data/material/components/accordion/AccordionExpandDefault.js
  docs/data/material/components/accordion/AccordionExpandDefault.tsx
  docs/data/material/components/accordion/AccordionExpandIcon.js
  docs/data/material/components/accordion/AccordionExpandIcon.tsx
  docs/data/material/components/accordion/AccordionTransition.js
  docs/data/material/components/accordion/AccordionTransition.tsx
  docs/data/material/components/accordion/AccordionUsage.js
  docs/data/material/components/accordion/AccordionUsage.tsx
  docs/data/material/components/accordion/ControlledAccordions.js
  docs/data/material/components/accordion/ControlledAccordions.tsx
  docs/data/material/components/accordion/CustomizedAccordions.js
  docs/data/material/components/accordion/CustomizedAccordions.tsx
  docs/data/material/components/accordion/DisabledAccordion.js
  docs/data/material/components/accordion/DisabledAccordion.tsx
  docs/data/material/components/masonry/MasonryWithVariableHeightItems.js
  docs/data/material/components/masonry/MasonryWithVariableHeightItems.tsx
  docs/data/material/components/masonry/MasonryWithVariableHeightItems.tsx.preview
  docs/data/material/getting-started/templates/marketing-page/components/FAQ.js
  docs/data/material/getting-started/templates/marketing-page/components/FAQ.tsx
  docs/data/material/migration/upgrade-to-v6/upgrade-to-v6.md
  docs/pages/material-ui/api/accordion-summary.json
  packages/mui-material/src/AccordionSummary/AccordionSummary.js
  packages/mui-material/src/AccordionSummary/AccordionSummary.test.js
Labels: component: accordion, package: material-ui, regression

#44648 [system] set `before` directly without using prepend for global styles
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.js
  test/regressions/fixtures/GlobalStyles/InjectFirst.js
Labels: package: system, package: styled-engine

#44847 [release] v6.3.0
  CHANGELOG.md
  package.json
  packages-internal/babel-plugin-resolve-imports/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#44678 [website] Sync career FAQ with Notion
  docs/data/about/teamMembers.json
  docs/scripts/reportBrokenLinks.js
  docs/src/components/about/OurValues.tsx
  docs/src/components/careers/CareersFaq.tsx
  docs/src/components/productDesignKit/DesignKitFAQ.tsx
  docs/src/components/typography/SectionHeadline.tsx
  packages/markdown/index.d.ts
  packages/markdown/parseMarkdown.js
Labels: website

#44789 [docs][CardActionArea] Added demo in docs of cards for adding props to CardActionArea
  docs/data/material/components/cards/SelectActionCard.js
  docs/data/material/components/cards/SelectActionCard.tsx
  docs/data/material/components/cards/cards.md
Labels: docs, component: card

#44849 [docs][Accordion] Update `Anatomy` section in Accordion docs
  docs/data/material/components/accordion/accordion.md
Labels: bug 🐛, docs, component: accordion

#44846 [material-ui][Tooltip] Warn instead of error when trigger is disabled
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
Labels: component: tooltip, package: material-ui

#44848 [website] Fix career equipment description
  docs/src/components/careers/PerksBenefits.tsx
Labels: bug 🐛, website

#44815 [core] Use React 18's JSX runtime for v5.x UMD builds
  examples/material-ui-via-cdn/index.html
  packages/mui-material/package.json
  packages/mui-material/scripts/rollup.config.mjs
  packages/mui-material/test/umd/run.js
  pnpm-lock.yaml
Labels: core

#44811 [docs][material-ui] Fix crashing of DraggableDialog demo
  docs/data/material/components/dialogs/DraggableDialog.js
  docs/data/material/components/dialogs/DraggableDialog.tsx
Labels: docs, PR: out-of-date, component: dialog, package: material-ui, regression

#44852 [examples] Update Next.js examples Next.js and React versions
  .eslintrc.js
  examples/material-ui-nextjs-pages-router-ts/README.md
  examples/material-ui-nextjs-pages-router-ts/package.json
  examples/material-ui-nextjs-pages-router-ts/pages/_app.tsx
  examples/material-ui-nextjs-pages-router-ts/pages/_document.tsx
  examples/material-ui-nextjs-pages-router/README.md
  examples/material-ui-nextjs-pages-router/package.json
  examples/material-ui-nextjs-pages-router/pages/_app.js
  examples/material-ui-nextjs-pages-router/pages/_document.js
  examples/material-ui-nextjs-pages-router/src/Link.js
  examples/material-ui-nextjs-ts/README.md
  examples/material-ui-nextjs-ts/next-env.d.ts
  examples/material-ui-nextjs-ts/package.json
  examples/material-ui-nextjs-ts/src/app/layout.tsx
  examples/material-ui-nextjs/README.md
  examples/material-ui-nextjs/package.json
  examples/material-ui-nextjs/src/app/layout.js
Labels: examples, nextjs

#44853 [material-nextjs] Support Next 15.0.0 in v5
  docs/data/material/integrations/nextjs/nextjs.md
  packages/mui-material-nextjs/package.json
  packages/mui-material-nextjs/src/v15-appRouter/index.ts
  packages/mui-material-nextjs/src/v15-pagesRouter/index.ts
Labels: nextjs

#44820 [docs] Add interactive demo for Grid v2
  docs/data/material/components/grid2/InteractiveGrid.js
  docs/data/material/components/grid2/InteractiveGrid.tsx
  docs/data/material/components/grid2/grid2.md
Labels: docs

#44855 [release] v5.16.13
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#44857 [Autocomplete] Revert: Fix options list rendering in freeSolo mode
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: package: material-ui, component: autocomplete

#44858 [Autocomplete] Revert: Fix options list rendering in freeSolo mode
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: package: material-ui, component: autocomplete

#44856 [docs][Select] Update docs to reflect the omission of placeholder prop
  docs/data/material/components/selects/selects.md
Labels: docs, component: select, package: material-ui

#44864 [joy-ui][docs] Fix Color mode button on Theme builder
  docs/src/modules/components/JoyThemeBuilder.tsx
Labels: docs, package: joy-ui

#44426 [code-infra] Prevent wrong nested imports in Base UI
  .eslintrc.js
Labels: scope: code-infra
