Repository mui/material-ui, pull requests merged in 2024-09, with the labels that each got.

#43547 [core] Fix CodeQL scan
  packages/mui-codemod/src/v5.0.0/joy-text-field-to-input.test/actual.js
  packages/mui-codemod/src/v5.0.0/joy-text-field-to-input.test/expected.js
Labels: core, security

#43518 [material-ui] Fix `createTheme` with just color schemes
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-material/src/styles/createTheme.ts
Labels: bug 🐛, package: material-ui, customization: theme

#43546 [docs-infra] Crash on invalid callout type
  docs/pages/experiments/docs/callouts.md
  packages/markdown/parseMarkdown.js
Labels: dx, enhancement, scope: docs-infra

#43565 [docs] Update version support range
  SECURITY.md
  docs/data/material/getting-started/support/support.md
Labels: bug 🐛, docs, regression

#43562 [docs-infra] Reduce description max-length
  docs/pages/blog/material-ui-v6-is-out.md
  packages/markdown/prepareMarkdown.js
Labels: bug 🐛, scope: docs-infra

#43523 [typescript] Fix missing `Theme` generic
  packages/mui-material/src/Popover/Popover.spec.tsx
  packages/mui-material/src/utils/types.ts
Labels: bug 🐛, typescript, v6.x

#43532 [codemod] Skip `ListItemButton` import for unrelated files
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/list-item-button-prop.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/list-item-button-prop.test.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/test-cases/not-related.actual.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/test-cases/not-related.expected.js
Labels: package: codemod, v6.x

#43543 [docs][figma] Clarity state or Figma Plugin component export
  docs/data/material/design-resources/material-ui-sync/material-ui-sync.md
Labels: docs, design: material

#43473 [code-infra] Add missing @babel/runtime dependency to @mui/material-pigment-css
  babel.config.js
  packages/mui-material-pigment-css/package.json
  pnpm-lock.yaml
  scripts/build.mjs
Labels: scope: code-infra

#43537 [system] Fix composeClasses v6 behavior change
  packages/mui-utils/src/composeClasses/composeClasses.test.ts
  packages/mui-utils/src/composeClasses/composeClasses.ts
Labels: bug 🐛, package: system, regression, dx

#43564 [core] Fix CI on v5.x branch
  .circleci/config.yml
  package.json
Labels: bug 🐛, core, v5.x, regression

#43577 [website] Add disabled button styles to branding theme
  docs/pages/experiments/website/branding-theme-test.tsx
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, website

#43591 [code-infra] Update runners from node 18 to 20
  .circleci/config.yml
  .codesandbox/ci.json
  apps/pigment-css-next-app/package.json
  docs/package.json
  netlify.toml
  package.json
  packages-internal/scripts/package.json
  packages/api-docs-builder-core/package.json
  packages/api-docs-builder/package.json
  packages/mui-docs/package.json
  packages/mui-utils/package.json
  packages/rsc-builder/package.json
  pnpm-lock.yaml
  renovate.json
Labels: scope: code-infra

#43593 [code-infra] Update runners from node 18 to 20 for GHA
  .github/workflows/ci.yml
  .github/workflows/publish-canaries.yml
Labels: scope: code-infra

#43584 [material] Fix wrong import to type
  packages/mui-material/src/utils/memoTheme.ts
Labels: bug 🐛, typescript

#43574 [code-infra] Make the API docs builder more configurable
  docs/pages/base-ui/react-autocomplete/[docsTab]/index.js
  docs/pages/base-ui/react-badge/[docsTab]/index.js
  docs/pages/base-ui/react-button/[docsTab]/index.js
  docs/pages/base-ui/react-form-control/[docsTab]/index.js
  docs/pages/base-ui/react-input/[docsTab]/index.js
  docs/pages/base-ui/react-menu/[docsTab]/index.js
  docs/pages/base-ui/react-modal/[docsTab]/index.js
  docs/pages/base-ui/react-number-input/[docsTab]/index.js
  docs/pages/base-ui/react-select/[docsTab]/index.js
  docs/pages/base-ui/react-slider/[docsTab]/index.js
  docs/pages/base-ui/react-snackbar/[docsTab]/index.js
  docs/pages/base-ui/react-switch/[docsTab]/index.js
  docs/pages/base-ui/react-tabs/[docsTab]/index.js
  docs/pages/base-ui/react-transitions/[docsTab]/index.js
  docs/translations/api-docs-base/use-autocomplete/use-autocomplete.json
  docs/translations/api-docs-base/use-badge/use-badge.json
  docs/translations/api-docs-base/use-button/use-button.json
  docs/translations/api-docs-base/use-dropdown/use-dropdown.json
  docs/translations/api-docs-base/use-form-control-context/use-form-control-context.json
  docs/translations/api-docs-base/use-input/use-input.json
  docs/translations/api-docs-base/use-menu-button/use-menu-button.json
  docs/translations/api-docs-base/use-menu-item-context-stabilizer/use-menu-item-context-stabilizer.json
  docs/translations/api-docs-base/use-menu-item/use-menu-item.json
  docs/translations/api-docs-base/use-menu/use-menu.json
  docs/translations/api-docs-base/use-modal/use-modal.json
  docs/translations/api-docs-base/use-number-input/use-number-input.json
  docs/translations/api-docs-base/use-option-context-stabilizer/use-option-context-stabilizer.json
  docs/translations/api-docs-base/use-option/use-option.json
  docs/translations/api-docs-base/use-select/use-select.json
  docs/translations/api-docs-base/use-slider/use-slider.json
  docs/translations/api-docs-base/use-snackbar/use-snackbar.json
  docs/translations/api-docs-base/use-switch/use-switch.json
  docs/translations/api-docs-base/use-tab-panel/use-tab-panel.json
  docs/translations/api-docs-base/use-tab/use-tab.json
  docs/translations/api-docs-base/use-tabs-list/use-tabs-list.json
  docs/translations/api-docs-base/use-tabs/use-tabs.json
  docs/translations/api-docs-base/use-transition-state-manager/use-transition-state-manager.json
  docs/translations/api-docs-base/use-transition-trigger/use-transition-trigger.json
  packages/api-docs-builder-core/baseUi/generateBaseUiApiPages.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/ProjectSettings.ts
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/utils/findPagesMarkdown.ts
Labels: scope: infra

#43599 [docs][material-ui][Autocomplete] Fix GitHubLabel demo input background color
  docs/data/material/components/autocomplete/GitHubLabel.js
  docs/data/material/components/autocomplete/GitHubLabel.tsx
Labels: bug 🐛, docs, component: autocomplete

#43567 [docs] Fix use of absolute URLs
  docs/data/base/components/transitions/transitions.md
  docs/data/joy/components/alert/alert.md
  docs/data/joy/components/css-baseline/css-baseline.md
  docs/data/joy/components/radio-button/radio-button.md
  docs/data/material/components/alert/alert.md
  docs/data/material/components/dialogs/dialogs.md
  docs/data/material/components/rating/rating.md
  docs/data/material/design-resources/material-ui-for-figma/material-ui-for-figma.md
  docs/data/material/migration/migration-v3/migration-v3.md
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
Labels: bug 🐛, docs, cherry-pick to v5

#43460 [docs] Bring back v5 release changelogs
  CHANGELOG.md
  CHANGELOG.old.md
Labels: docs, v6.x

#43595 [website] Add CopyCopter as gold sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#43598 [docs-infra] Fix broken anchor button when header has a link
  packages/markdown/parseMarkdown.js
Labels: bug 🐛, scope: docs-infra

#43618 [docs-infra] Use embed as the default for opening CodeSandbox
  docs/src/modules/sandbox/CodeSandbox.ts
Labels: regression, scope: docs-infra

#43623 [code-infra] Recreate lockfile
  pnpm-lock.yaml
Labels: dependencies, scope: code-infra

#43280 [wip][poc] Add Pigment CSS screenshot test
  .circleci/config.yml
  apps/pigment-css-next-app/src/app/material-ui/react-select/page.tsx
  apps/pigment-css-vite-app/.mocharc.cjs
  apps/pigment-css-vite-app/package.json
  apps/pigment-css-vite-app/src/pages/fixtures/PigmentCssSelectOpen.js
  apps/pigment-css-vite-app/src/pages/fixtures/index.test.js
  apps/pigment-css-vite-app/src/pages/fixtures/index.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-select.tsx
  apps/pigment-css-vite-app/vite.config.ts
  package.json
  pnpm-lock.yaml
  scripts/pushArgos.mjs
  test/README.md
Labels: test, scope: code-infra

#43459 [material-ui][Grid] Revert wrap deprecation (#42363)
  docs/data/material/components/grid/AutoGridNoWrap.js
  docs/data/material/components/grid/AutoGridNoWrap.tsx
  docs/data/material/components/skeleton/YouTube.js
  docs/data/material/components/skeleton/YouTube.tsx
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/grid.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/grid-props/grid-props.js
  packages/mui-codemod/src/deprecations/grid-props/grid-props.test.js
  packages/mui-codemod/src/deprecations/grid-props/index.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/theme.expected.js
  packages/mui-material/src/Grid/Grid.d.ts
  packages/mui-material/src/Grid/Grid.js
Labels: component: Grid, package: material-ui

#43630 [docs][material-ui][Autocomplete] Refactor asynchronous loading demo
  docs/data/material/components/autocomplete/Asynchronous.js
  docs/data/material/components/autocomplete/Asynchronous.tsx
Labels: docs, package: material-ui, enhancement

#43626 [material-ui][Dialog] Fix broken scrolling in full screen mode
  packages/mui-material/src/Dialog/Dialog.js
  packages/mui-material/src/Dialog/Dialog.test.js
Labels: bug 🐛, component: dialog, package: material-ui, regression

#43631 [docs] Add Next.js font optimization section to Pigment CSS migration
  docs/data/material/migration/upgrade-to-v6/migrating-to-pigment-css.md
Labels: docs, v6.x migration

#43566 [docs] Restore search on v5
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/Head.tsx
Labels: bug 🐛, docs, v5.x, regression

#43613 [material-ui][Autocomplete] Add custom props support via `slotProps`
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/test/typescript/moduleAugmentation/autocompleteCustomSlotProps.spec.tsx
  packages/mui-material/test/typescript/moduleAugmentation/autocompleteCustomSlotProps.tsconfig.json
Labels: typescript, package: material-ui, component: autocomplete, enhancement

#43658 [docs][material-ui] Fix getting started with CSS variables in theme example
  docs/data/material/customization/css-theme-variables/usage.md
Labels: bug 🐛, docs

#43592 [Radio] Fix disabled state styling regression
  packages/mui-material/src/Radio/Radio.js
  test/regressions/fixtures/Radio/RadioDisabledState.js
Labels: bug 🐛, component: radio, regression

#43641 [examples] Fix CDN live preview demo
  examples/material-ui-via-cdn/README.md
Labels: bug 🐛, regression, examples, v6.x

#43661 [system][docs] Fix link to createCssVarsProvider
  CHANGELOG.old.md
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
  packages/mui-material/src/styles/ThemeProviderWithVars.tsx
Labels: bug 🐛, docs, package: system, regression

#43612 [docs] Add Integrations section to design resources page
  docs/data/material/design-resources/material-ui-for-figma/material-ui-for-figma.md
Labels: docs, package: material-ui, design

#43663 [docs-infra] Fix axe issue scroll-to-top without landmark
  docs/src/modules/components/AppLayoutDocs.js
Labels: bug 🐛, accessibility, scope: docs-infra

#43377 [docs][material-ui][system] Edit "How to use components selector API" section to add about direct import
  docs/data/system/styled/styled.md
Labels: docs, package: material-ui

#43196 [docs][material-ui] Update Next.js font optimization guide
  docs/data/material/integrations/nextjs/nextjs.md
Labels: docs, nextjs

#43624 [icons] Add exports field to package.json
  apps/pigment-css-vite-app/vite.config.ts
  packages/mui-icons-material/package.json
Labels: bug 🐛, package: icons

#43579 [material-ui] Improve color map filter on styles
  packages-internal/test-utils/src/describeConformance.tsx
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/AppBar/AppBar.js
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/ButtonGroup/ButtonGroup.js
  packages/mui-material/src/Checkbox/Checkbox.js
  packages/mui-material/src/Chip/Chip.js
  packages/mui-material/src/CircularProgress/CircularProgress.js
  packages/mui-material/src/Fab/Fab.js
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/FormLabel/FormLabel.js
  packages/mui-material/src/Icon/Icon.js
  packages/mui-material/src/IconButton/IconButton.js
  packages/mui-material/src/Input/Input.js
  packages/mui-material/src/LinearProgress/LinearProgress.js
  packages/mui-material/src/Link/Link.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
  packages/mui-material/src/PaginationItem/PaginationItem.js
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/Switch/Switch.js
  packages/mui-material/src/ToggleButton/ToggleButton.js
  packages/mui-material/src/Typography/Typography.js
  packages/mui-material/src/utils/createSimplePaletteValueFilter.ts
Labels: v6.x migration, cherry-pick to v5

#43632 [system] Use a custom sheet to set `prepend` for `GlobalStyles`
  packages/mui-styled-engine/package.json
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.js
  pnpm-lock.yaml
Labels: package: system, customization: theme

#43699 [material-ui][mui-system] Simplify version prerelease export
  babel.config.js
  packages/mui-material/src/index.test.js
  packages/mui-material/src/version/index.ts
  packages/mui-system/src/version/index.ts
  scripts/utils.mjs
Labels: package: system, package: material-ui

#43698 [material-ui][docs] Update @mui/material-nextjs import examples to v14
  docs/data/material/integrations/nextjs/nextjs.md
Labels: docs, package: material-ui, nextjs

#43696 [release] v6.1.0
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#43664 [blog] Fix broken link to purchase MUI X Pro
  docs/pages/blog/mui-x-sep-2024-price-update.md
Labels: bug 🐛, blog

#43662 [docs-infra] Fix API search link regression
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
Labels: bug 🐛, regression, scope: docs-infra

#43713 [docs-infra] Fix missing dependencies in multi-tab demos
  docs/pages/experiments/docs/DemoMultiTabs.js
  docs/src/modules/sandbox/Dependencies.ts
Labels: scope: docs-infra

#43712 [core] Remove /.yarn
  .eslintignore
Labels: core

#43725 [pigment-css][docs] Call out Pigment being in alpha
  docs/data/material/experimental-api/pigment-css/pigment-css.md
  docs/data/material/migration/upgrade-to-v6/migrating-to-pigment-css.md
Labels: docs, package: pigment-css

#43117 [core] Fix some issues reported by eslint-plugin-react-compiler
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/FormControl/FormControl.js
  packages/mui-material/src/Hidden/withWidth.js
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/InputBase/InputBase.test.js
  packages/mui-material/src/Popover/Popover.js
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/Snackbar/Snackbar.test.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/styles/useTheme.js
  packages/mui-material/src/useScrollTrigger/useScrollTrigger.js
Labels: core

#43729 [code-infra] Allow overriding all `options` of `useFakeTimers` function
  packages-internal/test-utils/src/createRenderer.tsx
Labels: test, scope: code-infra

#43627 [docs-infra] Fix toolbar arrow order
  docs/src/modules/components/DemoToolbar.js
Labels: bug 🐛, regression, scope: docs-infra

#43734 [docs][material-ui][CircularProgress] Add Circular size demo
  docs/data/material/components/progress/CircularSize.js
  docs/data/material/components/progress/CircularSize.tsx
  docs/data/material/components/progress/CircularSize.tsx.preview
  docs/data/material/components/progress/progress.md
Labels: docs, component: CircularProgress, package: material-ui

#43723 [material-ui][Paper] Fix wrong background-image on Paper when elevation is 0
  packages/mui-material/src/Paper/Paper.test.js
  packages/mui-material/src/styles/createColorScheme.ts
  packages/mui-material/src/styles/excludeVariablesFromRoot.test.ts
  packages/mui-material/src/styles/excludeVariablesFromRoot.ts
  packages/mui-material/src/styles/extendTheme.test.js
  pnpm-lock.yaml
Labels: bug 🐛, component: Paper, package: material-ui

#43656 [test] Remove top-level inline-block from the regression tests
  test/regressions/TestViewer.js
Labels: test, scope: code-infra

#42973 [docs][material-ui][Breadcrumbs] Document CondensedWithMenu option for Material UI Breadcrumbs
  docs/data/material/components/breadcrumbs/CondensedWithMenu.js
  docs/data/material/components/breadcrumbs/CondensedWithMenu.tsx
  docs/data/material/components/breadcrumbs/breadcrumbs.md
Labels: docs, component: breadcrumbs, package: material-ui

#43740 [Skeleton] Fix wave animation for styled-components
  packages/mui-material/src/Skeleton/Skeleton.js
Labels: package: material-ui, component: skeleton, regression, package: styled-engine-sc, v6.x

#43717 [material-ui] Bring back `GridProps` and `GridTypeMap`
  packages/mui-material/src/Grid/Grid.d.ts
  packages/mui-material/src/index.d.ts
Labels: typescript, package: material-ui

#43743 [test] Remove position:relative from regression container
  docs/data/material/components/slider/MusicPlayerSlider.js
  docs/data/material/components/slider/MusicPlayerSlider.tsx
  test/regressions/TestViewer.js
Labels: test

#43742 [test][docs] Improve demos for better regression screenshots
  docs/data/joy/components/radio-button/ExampleAlignmentButtons.js
  docs/data/joy/components/radio-button/ExampleAlignmentButtons.tsx
  docs/data/joy/components/toggle-button-group/ToggleGroupToolbar.js
  docs/data/joy/components/toggle-button-group/ToggleGroupToolbar.tsx
  docs/data/material/components/dividers/FlexDivider.js
  docs/data/material/components/dividers/FlexDivider.tsx
Labels: docs, test

#43671 [docs][material-ui] Fix slider in color customization playground twitches when sliding
  docs/data/material/customization/color/ColorTool.js
Labels: bug 🐛, docs, package: material-ui

#43747 [bugfix] Enable synthetic default imports in TypeScript config
  docs/data/material/guides/typescript/typescript.md
Labels: docs

#43735 [material-ui][docs] Document Typography color prop breaking change
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/data/material/migration/upgrade-to-v6/upgrade-to-v6.md
Labels: docs, component: Typography, package: material-ui

#43748 [slider][docs] Polish Music player demo
  docs/data/material/components/slider/slider.md
Labels: docs, component: slider

#43752 [docs] Fix MUI Treasury Layout broken links
  docs/data/material/discover-more/related-projects/related-projects.md
Labels: bug 🐛, docs, regression

#43756 [docs][material-ui] Add docs for complementary Table components
  docs/data/material/components/table/table.md
Labels: docs, component: table, package: material-ui

#43753 [docs] Fix MUI Treasury Layout broken links
  docs/data/material/discover-more/related-projects/related-projects.md
Labels: bug 🐛, docs, v5.x, regression

#43745 [test] Update font-awesome CSS file in regression tests fixture
  test/regressions/index.js
Labels: test

#43751 [docs-infra] Fix Vale config for TypeScript references
  docs/data/material/migration/upgrade-to-v6/migrating-to-pigment-css.md
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/CorrectReferenceAllCases.yml
Labels: docs, regression, scope: docs-infra

#43739 [system] Pass the stylesheet directly to `GlobalStyles`
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  test/regressions/fixtures/CssVarsProvider/InjectFirstWithThemeVars.js
Labels: package: system, regression

#43360 [utils] Fix "useId" & "useSyncExternalStore" imports to not be statically analysable
  packages/mui-system/src/useMediaQuery/useMediaQuery.ts
  packages/mui-utils/src/useId/useId.test.js
  packages/mui-utils/src/useId/useId.ts
Labels: bug 🐛, package: utils

#42899 [docs] Fix minor typo
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.js
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.tsx
  docs/data/base/components/textarea-autosize/UnstyledTextareaIntroduction/css/index.tsx.preview
Labels: docs

#43781 [docs][material-ui] Improve minimizing bundle docs
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
Labels: docs, package: material-ui

#43789 [test] Add font loader for pigment visual regression tests
  .gitignore
  apps/pigment-css-vite-app/package.json
  apps/pigment-css-vite-app/src/pages/fixtures/index.tsx
  apps/pigment-css-vite-app/src/pages/index.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/index.tsx
  pnpm-lock.yaml
Labels: test

#43754 [docs][pigment-css] Fix typo globalCSS -> globalCss
  docs/data/material/experimental-api/pigment-css/pigment-css.md
Labels: docs, package: pigment-css

#43682 [docs] Rename mui/mui-toolpad to mui/toolpad
  docs/pages/blog/2023-toolpad-beta-announcement.md
  docs/pages/blog/toolpad-use-cases.md
  docs/pages/careers/engineering-manager.md
  docs/src/modules/components/AppLayoutDocsFooter.js
  test/bundling/README.md
Labels: scope: code-infra

#43757 [material-ui][Modal] Fix event handlers overriding behaviour
  packages/mui-material/src/Modal/Modal.js
  packages/mui-material/src/Modal/Modal.test.js
Labels: bug 🐛, component: modal, package: material-ui, regression

#43794 [Grid2] Add removal of item prop to grid-v2-props codemod
  packages/mui-codemod/src/v6.0.0/grid-v2-props/grid-v2-props.js
  packages/mui-codemod/src/v6.0.0/grid-v2-props/test-cases/actual.js
  packages/mui-codemod/src/v6.0.0/grid-v2-props/test-cases/expected.js
Labels: bug 🐛, component: Grid, package: material-ui, package: codemod

#43778 [core] useAutocomplete should have 'use client'
  packages/rsc-builder/buildRsc.ts
Labels: bug 🐛, core

#43785 [website] Update DataGrid demo separator color
  docs/src/components/home/XGridGlobalStyles.tsx
Labels: website

#43799 [website] Add Route4Me as Gold sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#43793 [dependencies] Bump Pigment CSS to 0.0.23
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  package.json
  packages/mui-material-pigment-css/package.json
  pnpm-lock.yaml
Labels: dependencies

#43246 [joy-ui][Accordion] Fix AccordionDetails tabindex when expanding
  packages/mui-joy/src/AccordionDetails/AccordionDetails.test.tsx
  packages/mui-joy/src/AccordionDetails/AccordionDetails.tsx
Labels: bug 🐛, component: accordion, package: joy-ui

#43788 [release] v6.1.1
  CHANGELOG.md
  package.json
  packages-internal/babel-plugin-resolve-imports/package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-babel-macros/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
  scripts/sizeSnapshot/package.json
Labels: release

#43814 [code-infra] Add new instanceof proptypes for toolpad
  packages-internal/scripts/typescript-to-proptypes/src/getPropTypesFromFile.ts
Labels: scope: code-infra

#43809 [docs] Fix 301 to chromium
  docs/data/joy/components/autocomplete/autocomplete.md
  docs/data/material/components/autocomplete/autocomplete.md
  docs/data/material/components/menus/menus.md
  docs/data/material/components/slider/slider.md
  packages-internal/test-utils/src/focusVisible.ts
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/Slider/Slider.test.tsx
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ObjectMap.actual.js
  packages/mui-codemod/src/v6.0.0/styled/test-cases/ObjectMap.expected.js
  packages/mui-material/src/Icon/Icon.js
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
Labels: docs

#43744 [docs][table] Stabilize random series in virtualized table demo
  docs/data/material/components/table/ReactVirtualizedTable.js
  docs/data/material/components/table/ReactVirtualizedTable.tsx
  docs/package.json
  pnpm-lock.yaml
Labels: docs, test, component: table, regression

#43022 [material-ui] Improve getReactElementRef() utils
  packages/mui-base/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/Portal/Portal.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-material/src/Fade/Fade.js
  packages/mui-material/src/Grow/Grow.js
  packages/mui-material/src/Portal/Portal.tsx
  packages/mui-material/src/Select/Select.js
  packages/mui-material/src/Slide/Slide.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
  packages/mui-material/src/Zoom/Zoom.js
  packages/mui-utils/src/getReactElementRef/getReactElementRef.spec.tsx
  packages/mui-utils/src/getReactElementRef/getReactElementRef.test.tsx
  packages/mui-utils/src/getReactElementRef/getReactElementRef.ts
  packages/mui-utils/src/getReactElementRef/index.ts
  packages/mui-utils/src/getReactNodeRef/getReactNodeRef.ts
  packages/mui-utils/src/getReactNodeRef/index.ts
  packages/mui-utils/src/index.ts
  packages/mui-utils/src/useForkRef/useForkRef.test.js
Labels: package: utils, enhancement, React 19 support

#43825 [docs][Modal] Remove unnecessary type assertion
  docs/data/base/components/modal/NestedModal.tsx
  docs/data/base/components/modal/SpringModal.tsx
  docs/data/base/components/modal/TransitionsModal.tsx
  docs/data/base/components/modal/UseModal.tsx
  docs/data/material/components/modal/BasicModal.tsx
  docs/data/material/components/modal/KeepMountedModal.tsx
  docs/data/material/components/modal/NestedModal.tsx
  docs/data/material/components/modal/SpringModal.tsx
  docs/data/material/components/modal/TransitionsModal.tsx
Labels: docs, component: modal

#42494 [material-ui][Autocomplete] Fix listbox opens and closes on click when used with `limitTags`
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.js
Labels: bug 🐛, package: material-ui, component: autocomplete, regression

#43820 [test] Sync React.version parse logic with codebase
  packages-internal/test-utils/src/reactMajor.ts
Labels: test, core

#43818 [material-ui][Drawer] Fix issue with main window being used instead of iframe's window
  packages/mui-utils/src/getScrollbarSize/getScrollbarSize.ts
Labels: bug 🐛, component: drawer

#43831 [website] Add 'Row spanning'
  docs/src/components/pricing/PricingTable.tsx
Labels: website

#43862 [Button] Fix regression for color `inherit`
  packages/mui-material/src/Button/Button.js
Labels: component: button, regression, v6.x

#43890 [code-infra] Fix flaky dashboard screenshot
  test/regressions/template.html
Labels: test, scope: code-infra

#43792 Make ref optional in @mui/base
  packages/mui-base/src/Badge/Badge.types.ts
  packages/mui-base/src/Input/Input.types.ts
  packages/mui-base/src/MenuItem/MenuItem.types.ts
  packages/mui-base/src/Option/Option.types.ts
  packages/mui-base/src/OptionGroup/OptionGroup.types.ts
  packages/mui-base/src/Snackbar/Snackbar.types.ts
  packages/mui-base/src/Tab/Tab.types.ts
  packages/mui-base/src/useButton/useButton.types.ts
  packages/mui-base/src/useList/useList.types.ts
  packages/mui-base/src/useMenu/useMenu.types.ts
  packages/mui-base/src/useMenuItem/useMenuItem.types.ts
  packages/mui-base/src/useSelect/useSelect.types.ts
  packages/mui-base/src/useSlider/useSlider.types.ts
  packages/mui-base/src/useSwitch/useSwitch.types.ts
  packages/mui-base/src/useTab/useTab.types.ts
  packages/mui-base/src/useTabsList/useTabsList.types.ts
  packages/mui-lab/src/Timeline/Timeline.tsx
  packages/mui-utils/src/elementAcceptingRef/elementAcceptingRef.test.tsx
  packages/mui-utils/src/elementTypeAcceptingRef/elementTypeAcceptingRef.test.tsx
Labels: PR: out-of-date, typescript, scope: code-infra

#43861 [Button] ignore `dark` and `contrastText` if not provided in the theme
  packages/mui-material/src/Button/Button.js
Labels: component: button, regression, v6.x

#43868 [material-ui][Modal] Replace `show` parameter name with `hide` in modal manager
  packages/mui-material/src/Modal/ModalManager.ts
Labels: component: modal, package: material-ui

#43860 [docs-infra] Open Codesandbox demo with fontsize=12
  docs/src/modules/sandbox/CodeSandbox.ts
Labels: scope: docs-infra

#43836 [docs] Fix visual bug on dashboard template
  docs/data/material/getting-started/templates/dashboard/Dashboard.js
  docs/data/material/getting-started/templates/dashboard/Dashboard.tsx
Labels: docs, design

#43881 [code-infra] Remove custom playwright installation steps
  .circleci/config.yml
Labels: scope: code-infra

#43829 [material-ui][Rating] Use Rating `name` as prefix of input element ids
  docs/translations/api-docs/rating/rating.json
  packages/mui-material/src/Rating/Rating.d.ts
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Rating/Rating.test.js
Labels: bug 🐛, package: material-ui, component: rating

#43822 [website] Improve Next roles section
  docs/pages/careers.tsx
  docs/pages/careers/technical-recruiter.js
Labels: website

#43935 [test] Point Istanbul to correct URL
  test/README.md
Labels: bug 🐛, test

#43889 [code-infra] Optimize regression tests
  test/regressions/TestViewer.js
  test/regressions/index.js
  test/regressions/index.test.js
Labels: scope: code-infra

#43895 [code-infra] Update transitive dependencies with vulnerabilties
  package.json
  pnpm-lock.yaml
Labels: priority: important, dependencies, security

#43711 [docs-infra] Strengthen CSP
  docs/public/_headers
Labels: security, scope: docs-infra

#43911 [icons] Reduce Material Icon page size
  docs/data/material/components/material-icons/SearchIcons.js
Labels: performance, package: icons
