Repository mui/material-ui, pull requests merged in 2024-05, with the labels that each got.

#42035 [system][docs] Update typo on the sx prop page
  docs/data/system/getting-started/the-sx-prop/the-sx-prop.md
Labels: docs, package: system, needs cherry-pick

#42081 v6.0.0-alpha.5
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42084 v5.15.16
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#41970 [core] Restrict import path with ESLint
  .eslintrc.js
  apps/pigment-css-vite-app/src/Slider/ZeroSlider.tsx
  docs/src/pages/premium-themes/onepirate/modules/components/Snackbar.tsx
Labels: core

#42088 [material-ui][docs] Fix link on the Sync page
  docs/data/material/design-resources/material-ui-sync/material-ui-sync.md
Labels: docs, package: material-ui, needs cherry-pick

#42079 [code-infra] Bump node image used by CI in docker
  .circleci/config.yml
Labels: scope: code-infra

#42092 [blog] A few tweaks in introducing-sync-plugin
  docs/pages/blog/introducing-sync-plugin.md
  docs/public/static/blog/introducing-sync-plugin/card.png
Labels: blog, needs cherry-pick

#42104 [website] Remove Survey banner from website and Core docs
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/featureToggle.js
Labels: docs, website

#42086 [docs][autocomplete] Fix duplicate autocomplete id
  docs/data/joy/components/autocomplete/CountrySelect.js
  docs/data/joy/components/autocomplete/CountrySelect.tsx
  docs/data/joy/components/autocomplete/CustomTags.js
  docs/data/joy/components/autocomplete/CustomTags.tsx
  docs/data/material/components/autocomplete/Asynchronous.js
  docs/data/material/components/autocomplete/Asynchronous.tsx
  docs/data/material/components/autocomplete/ComboBox.js
  docs/data/material/components/autocomplete/ComboBox.tsx
  docs/data/material/components/autocomplete/ComboBox.tsx.preview
  docs/data/material/components/autocomplete/DisabledOptions.js
  docs/data/material/components/autocomplete/DisabledOptions.tsx
  docs/data/material/components/autocomplete/DisabledOptions.tsx.preview
  docs/data/material/components/autocomplete/Filter.js
  docs/data/material/components/autocomplete/Filter.tsx
  docs/data/material/components/autocomplete/Filter.tsx.preview
  docs/data/material/components/autocomplete/GloballyCustomizedOptions.js
  docs/data/material/components/autocomplete/GloballyCustomizedOptions.tsx
  docs/data/material/components/autocomplete/GoogleMaps.js
  docs/data/material/components/autocomplete/GoogleMaps.tsx
  docs/data/material/components/autocomplete/Grouped.js
  docs/data/material/components/autocomplete/Grouped.tsx
  docs/data/material/components/autocomplete/Grouped.tsx.preview
  docs/data/material/components/autocomplete/Highlights.js
  docs/data/material/components/autocomplete/Highlights.tsx
  docs/data/material/components/autocomplete/RenderGroup.js
  docs/data/material/components/autocomplete/RenderGroup.tsx
  docs/data/material/components/autocomplete/RenderGroup.tsx.preview
  docs/data/material/components/autocomplete/Virtualize.js
  docs/data/material/components/autocomplete/Virtualize.tsx
  docs/data/material/components/autocomplete/Virtualize.tsx.preview
Labels: bug 🐛, docs, component: autocomplete, regression

#40698 [material-ui][SpeedDial] Deprecate TransitionComponent
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/speed-dial.json
  docs/translations/api-docs/speed-dial/speed-dial.json
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/speed-dial-props/index.js
  packages/mui-codemod/src/deprecations/speed-dial-props/speed-dial-props.js
  packages/mui-codemod/src/deprecations/speed-dial-props/speed-dial-props.test.js
  packages/mui-codemod/src/deprecations/speed-dial-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/speed-dial-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/speed-dial-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/speed-dial-props/test-cases/theme.expected.js
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/SpeedDial/SpeedDial.js
  packages/mui-material/src/SpeedDial/SpeedDial.test.js
  pnpm-lock.yaml
Labels: component: speed dial, deprecation, package: material-ui

#42114 [blog] Update Sync post OG image
  docs/public/static/blog/introducing-sync-plugin/card.png
Labels: blog, needs cherry-pick

#42142 [docs][material-ui] Fix broken link
  docs/data/material/design-resources/material-ui-for-figma/material-ui-for-figma.md
Labels: docs, package: material-ui, needs cherry-pick

#42141 [website] Fix home page slider's track position
  docs/src/components/showcase/ThemeSlider.tsx
Labels: website, needs cherry-pick

#42116 [website] Refine the InfoCard design
  docs/src/components/home/ValueProposition.tsx
  docs/src/components/productX/XPlans.tsx
  docs/src/modules/components/MaterialStartingLinksCollection.js
  docs/src/modules/components/MaterialUIComponents/MaterialUtilComponents.js
  docs/src/modules/components/MaterialUIDesignResources.js
  packages/mui-docs/src/InfoCard/InfoCard.tsx
Labels: design, website

#42102 [website] Componentize a few Careers page sections
  docs/pages/careers.tsx
  docs/src/components/careers/CareersFaq.tsx
  docs/src/components/careers/PerksBenefits.tsx
  docs/src/components/careers/RoleEntry.tsx
  docs/src/modules/components/TopLayoutCareers.js
  packages/mui-docs/src/translations/translations.json
Labels: website

#42063 [docs-infra] Add design and formatting improvements
  docs/pages/material-ui/api/accordion.json
  docs/pages/material-ui/api/alert.json
  docs/pages/material-ui/api/avatar.json
  docs/pages/material-ui/api/backdrop.json
  docs/pages/material-ui/api/badge.json
  docs/pages/material-ui/api/divider.json
  docs/pages/material-ui/api/form-control-label.json
  docs/pages/material-ui/api/pagination-item.json
  docs/pages/material-ui/api/slider.json
  docs/pages/material-ui/api/step-label.json
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/list/ClassesList.tsx
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/DemoToolbar.js
  docs/translations/api-docs/accordion-summary/accordion-summary.json
  docs/translations/api-docs/alert/alert.json
  docs/translations/api-docs/button-group/button-group.json
  docs/translations/api-docs/button/button.json
  docs/translations/api-docs/chip/chip.json
  docs/translations/api-docs/loading-button/loading-button.json
  docs/translations/api-docs/pagination-item/pagination-item.json
  docs/translations/api-docs/step-connector/step-connector.json
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  packages/mui-docs/src/branding/brandingTheme.ts
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/AccordionSummary/accordionSummaryClasses.ts
  packages/mui-material/src/Alert/Alert.d.ts
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/Alert/alertClasses.ts
  packages/mui-material/src/Avatar/Avatar.d.ts
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/Badge/Badge.d.ts
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/Button/buttonClasses.ts
  packages/mui-material/src/ButtonGroup/buttonGroupClasses.ts
  packages/mui-material/src/Chip/chipClasses.ts
  packages/mui-material/src/Divider/Divider.d.ts
  packages/mui-material/src/Divider/Divider.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.d.ts
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
  packages/mui-material/src/PaginationItem/PaginationItem.d.ts
  packages/mui-material/src/PaginationItem/PaginationItem.js
  packages/mui-material/src/PaginationItem/paginationItemClasses.ts
  packages/mui-material/src/Slider/Slider.d.ts
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/StepConnector/stepConnectorClasses.ts
  packages/mui-material/src/StepLabel/StepLabel.d.ts
  packages/mui-material/src/StepLabel/StepLabel.js
  packages/mui-material/src/ToggleButtonGroup/toggleButtonGroupClasses.ts
Labels: design, scope: docs-infra

#41949 [code-infra] Add canary release scripts
  package.json
  scripts/canaryRelease.mts
Labels: scope: code-infra

#42162 v5.15.17
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#42163 v6.0.0-alpha.6
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#42098 [codemod][Divider] Only apply codemod if light prop is present
  packages/mui-codemod/src/deprecations/divider-props/divider-props.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.expected.js
Labels: component: divider, package: codemod

#42076 [material-ui][CircularProgress] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/circular-progress.json
  docs/translations/api-docs/circular-progress/circular-progress.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/circular-progress-classes/circular-progress-classes.js
  packages/mui-codemod/src/deprecations/circular-progress-classes/circular-progress-classes.test.js
  packages/mui-codemod/src/deprecations/circular-progress-classes/index.js
  packages/mui-codemod/src/deprecations/circular-progress-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/circular-progress-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/circular-progress-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/circular-progress-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/circular-progress-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/circular-progress-classes/test-cases/expected.js
  packages/mui-material/src/CircularProgress/circularProgressClasses.ts
Labels: docs, component: CircularProgress, deprecation, package: material-ui

#41875 [material-ui][Autocomplete] deprecate `*Component` and `*Props` for v6
  docs/data/material/components/autocomplete/GitHubLabel.js
  docs/data/material/components/autocomplete/GitHubLabel.tsx
  docs/data/material/components/autocomplete/Virtualize.js
  docs/data/material/components/autocomplete/Virtualize.tsx
  docs/data/material/components/autocomplete/Virtualize.tsx.preview
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/autocomplete.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/autocomplete-props/autocomplete-props.js
  packages/mui-codemod/src/deprecations/autocomplete-props/autocomplete-props.test.js
  packages/mui-codemod/src/deprecations/autocomplete-props/index.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.expected.js
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: component: autocomplete

#42099 [core] Fix React 18.3 warnings about spreading keys in the Material UI `Autocomplete` component
  packages/mui-base/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: package: material-ui, core, component: autocomplete, port-to-base-ui

#41781 [material-ui][Autocomplete] Improve design when there's a start adornment for small autocomplete
  packages/mui-material/src/Autocomplete/Autocomplete.js
  test/regressions/fixtures/Autocomplete/SmallAutocompleteWithStartAdornment.js
Labels: package: material-ui, component: autocomplete, design, needs cherry-pick

#42178 [website] Fix pricing casing
  docs/src/components/pricing/PricingTable.tsx
Labels: website

#42149 [website] Update MUI X deps and migrate TreeView demos to v7 API
  docs/data/joy/customization/default-theme-viewer/JoyDefaultTheme.js
  docs/data/material/customization/default-theme/DefaultTheme.js
  docs/package.json
  docs/pages/_app.js
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/showcase/FolderTreeView.tsx
  docs/src/modules/components/ThemeViewer.tsx
  pnpm-lock.yaml
Labels: website

#42191 [docs] Remove the Base notification
  docs/notifications.json
Labels: docs

#42195 [docs][material-ui] Fix typo in composition docs
  docs/data/material/guides/composition/composition.md
Labels: docs, package: material-ui

#42004 [docs-infra] Make select components with two capital letters
  packages/api-docs-builder/utils/findComponents.ts
Labels: scope: docs-infra

#42193 [website] Adds Arthur Balduini team info
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/arthur-balduini.png
Labels: website, needs cherry-pick

#42221 [material-ui][docs] Improve descriptions for deprecated props
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
Labels: docs, package: material-ui

#42115 [docs-infra] Limit the copy button to the visible code block
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoToolbar.js
  packages/markdown/parseMarkdown.js
  packages/mui-docs/src/CodeCopy/CodeCopyButton.tsx
  packages/mui-docs/src/MarkdownElement/MarkdownElement.tsx
Labels: design, scope: docs-infra

#42179 [material-ui][Autocomplete] Deprecate `componentsProps` props
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/autocomplete.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/autocomplete-props/autocomplete-props.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.expected.js
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: component: autocomplete

#42236 [docs-infra] Share code for section title
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/HooksApiContent.js
  packages/mui-docs/src/SectionTitle/SectionTitle.tsx
  packages/mui-docs/src/SectionTitle/index.tsx
Labels: scope: docs-infra

#42243 [material-ui][ToggleButtonGroup] Add missing `selected` class in ToggleButtonGroupClasses type
  docs/pages/material-ui/api/toggle-button-group.json
  docs/translations/api-docs/toggle-button-group/toggle-button-group.json
  packages/mui-material/src/ToggleButtonGroup/toggleButtonGroupClasses.ts
Labels: bug 🐛, typescript, component: toggle button, package: material-ui, needs cherry-pick

#42198 [blog] Introducing Pigment CSS blog post
  docs/lib/sourcing.ts
  docs/pages/blog/introducing-pigment-css.js
  docs/pages/blog/introducing-pigment-css.md
  docs/public/static/blog/introducing-pigment-css/card.png
Labels: blog, package: pigment-css

#41919 [docs-infra][toolpad] Fix Page title and SERP title mismatch
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppSearch.js
Labels: bug 🐛, scope: docs-infra

#42232 v6.0.0-alpha.7
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages/markdown/package.json
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42255 [blog] Introducing Pigment CSS blog post (#42198)
  docs/lib/sourcing.ts
  docs/pages/blog/introducing-pigment-css.js
  docs/pages/blog/introducing-pigment-css.md
  docs/public/static/blog/introducing-pigment-css/card.png
Labels: blog, cherry-pick

#42233 v5.15.18
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#42220 [docs][material-ui][Pagination] Clarify pagination `page` prop API
  docs/translations/api-docs/pagination/pagination.json
  packages/mui-material/src/Pagination/Pagination.js
  packages/mui-material/src/usePagination/usePagination.d.ts
Labels: docs, package: material-ui, component: pagination, needs cherry-pick

#42266 [blog] Update Pigment CSS post
  docs/pages/blog/introducing-pigment-css.md
  docs/public/static/blog/introducing-pigment-css/card.png
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog, package: pigment-css, needs cherry-pick

#42172 [material-ui] Remove UMD bundle
  .circleci/config.yml
  babel.config.js
  docs/data/material/getting-started/installation/installation.md
  docs/data/material/migration/migration-v5/migration-v5.md
  examples/material-ui-via-cdn/README.md
  examples/material-ui-via-cdn/index.html
  package.json
  packages/mui-material/package.json
  packages/mui-material/scripts/rollup.config.mjs
  packages/mui-material/test/umd/run.js
  pnpm-lock.yaml
  scripts/copyFiles.mjs
  scripts/sizeSnapshot/create.js
Labels: package: material-ui, core, v6.x

#42140 [core] Remove outdated Babel plugins
  babel.config.js
  package.json
  pnpm-lock.yaml
Labels: performance, core, v6.x

#42147 [material-ui] Filter only valid theme palette for generating styles
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/AppBar/AppBar.js
  packages/mui-material/src/Badge/Badge.js
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/ButtonGroup/ButtonGroup.js
  packages/mui-material/src/Checkbox/Checkbox.js
  packages/mui-material/src/Chip/Chip.js
  packages/mui-material/src/CircularProgress/CircularProgress.js
  packages/mui-material/src/Fab/Fab.js
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/FormLabel/FormLabel.js
  packages/mui-material/src/Icon/Icon.js
  packages/mui-material/src/IconButton/IconButton.js
  packages/mui-material/src/Input/Input.js
  packages/mui-material/src/LinearProgress/LinearProgress.js
  packages/mui-material/src/Link/Link.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
  packages/mui-material/src/PaginationItem/PaginationItem.js
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/SvgIcon/SvgIcon.js
  packages/mui-material/src/Switch/Switch.js
  packages/mui-material/src/ToggleButton/ToggleButton.js
  packages/mui-material/src/Typography/Typography.js
  packages/test-utils/src/describeConformance.tsx
Labels: enhancement

#42194 [docs][material-ui] Add supported browsers section to migration guide
  docs/data/material/migration/migration-v5/migration-v5.md
Labels: docs, package: material-ui, v6.x migration

#42275 [code-infra] Remove raw-loader
  package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#42062 [material-ui][TextField] Deprecate `*Props` props
  docs/data/material/components/autocomplete/Asynchronous.js
  docs/data/material/components/autocomplete/Asynchronous.tsx
  docs/data/material/components/autocomplete/CountrySelect.js
  docs/data/material/components/autocomplete/CountrySelect.tsx
  docs/data/material/components/autocomplete/FreeSolo.js
  docs/data/material/components/autocomplete/FreeSolo.tsx
  docs/data/material/components/popper/ScrollPlayground.js
  docs/data/material/components/text-fields/CustomizedInputsStyled.js
  docs/data/material/components/text-fields/CustomizedInputsStyled.tsx
  docs/data/material/components/text-fields/FormPropsTextFields.js
  docs/data/material/components/text-fields/FormPropsTextFields.tsx
  docs/data/material/components/text-fields/FormattedInputs.js
  docs/data/material/components/text-fields/FormattedInputs.tsx
  docs/data/material/components/text-fields/InputAdornments.js
  docs/data/material/components/text-fields/InputAdornments.tsx
  docs/data/material/components/text-fields/InputWithIcon.js
  docs/data/material/components/text-fields/InputWithIcon.tsx
  docs/data/material/components/text-fields/SelectTextFields.js
  docs/data/material/components/text-fields/SelectTextFields.tsx
  docs/data/material/getting-started/templates/landing-page/components/Footer.js
  docs/data/material/getting-started/templates/landing-page/components/Footer.tsx
  docs/data/material/getting-started/templates/landing-page/components/Hero.js
  docs/data/material/getting-started/templates/landing-page/components/Hero.tsx
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/text-field.json
  docs/src/pages/premium-themes/onepirate/modules/components/TextField.js
  docs/src/pages/premium-themes/onepirate/modules/form/RFTextField.js
  docs/translations/api-docs/text-field/text-field.json
  packages/mui-codemod/CONTRIBUTING.md
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/text-field-props/index.js
  packages/mui-codemod/src/deprecations/text-field-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/text-field-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/text-field-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/text-field-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/text-field-props/text-field-props.js
  packages/mui-codemod/src/deprecations/text-field-props/text-field-props.test.js
  packages/mui-codemod/testUtils/index.js
  packages/mui-material/src/FormHelperText/FormHelperText.js
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/InputLabel/InputLabel.js
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/TextField/TextField.d.ts
  packages/mui-material/src/TextField/TextField.js
  packages/mui-material/src/TextField/TextField.test.js
Labels: component: text field, deprecation, package: material-ui

#42270 [blog] Update blog post OG image
  docs/public/static/blog/introducing-pigment-css/card.png
Labels: blog, package: pigment-css, needs cherry-pick

#42100 [website] Avoid duplicate simple vs. rich
  docs/src/components/pricing/PricingTable.tsx
Labels: website

#42307 [docs] Remove Base UI from the README
  README.md
Labels: docs

#42279 [docs][material-ui] Fix typo in style interoperability with Tailwind CSS docs
  docs/data/material/integrations/interoperability/interoperability.md
Labels: docs, package: material-ui, needs cherry-pick

#42152 [docs-infra] Fix keyboard navigation on page tabs
  docs/src/modules/components/ComponentPageTabs.js
Labels: bug 🐛, accessibility, scope: docs-infra

#42224 [docs] Remove LocalMonero
  docs/data/material/discover-more/showcase/appList.js
  docs/public/static/images/showcase/localmonero.jpg
  docs/src/modules/components/MaterialShowcase.js
Labels: docs, needs cherry-pick

#42168 [core] Fix a few more key spread issues
  docs/data/material/components/autocomplete/CustomizedHook.js
  docs/data/material/components/autocomplete/CustomizedHook.tsx
  docs/data/material/components/autocomplete/Tags.js
  docs/data/material/components/autocomplete/Tags.tsx
  docs/pages/base-ui/api/use-autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: bug 🐛, external dependency, core, needs cherry-pick

#42313 [release] v6.0.0-alpha.8
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42170 [code-infra] Create examples eslint rule
  .eslintrc.js
  examples/.eslintrc.js
  examples/material-ui-express-ssr/server.js
  examples/material-ui-remix-ts/app/root.tsx
Labels: scope: code-infra

#42317 [website] Adds Kenan Yusuf to about page
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/kenan-yusuf.png
Labels: website, needs cherry-pick

#42331 [code-infra] Run corepack enable on all CI jobs
  .circleci/config.yml
  package.json
Labels: scope: code-infra

#42269 [material-ui][AlertTitle] Enable extending Typography props
  packages/mui-material/src/AlertTitle/AlertTitle.d.ts
  packages/mui-material/src/AlertTitle/AlertTitle.spec.tsx
Labels: bug 🐛, typescript, package: material-ui, component: alert, needs cherry-pick

#42327 [docs-infra] Allow JSDoc tags
  docs/translations/api-docs/use-menu-item-context-stabilizer/use-menu-item-context-stabilizer.json
  docs/translations/api-docs/use-option-context-stabilizer/use-option-context-stabilizer.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/mui-base/src/useMenuItem/useMenuItemContextStabilizer.ts
  packages/mui-base/src/useOption/useOptionContextStabilizer.ts
  packages/mui-material/src/Hidden/Hidden.d.ts
  packages/mui-material/src/Hidden/Hidden.js
Labels: scope: docs-infra

#42316 [docs-infra] Add Toolpad to muiNpmOrgs for codesandbox demos
  docs/src/modules/sandbox/Dependencies.ts
Labels: scope: docs-infra

#42342 [material-ui][docs] Add minor modifications to the Vertical stepper demo
  docs/data/material/components/steppers/VerticalLinearStepper.js
  docs/data/material/components/steppers/VerticalLinearStepper.tsx
Labels: docs, component: stepper, package: material-ui

#42335 [core] Remove `WyW-in-JS` from Renovate config
  renovate.json
Labels: dependencies, core

#42339 [core] Remove `@types/prettier` package
  package.json
  packages-internal/scripts/package.json
  pnpm-lock.yaml
Labels: dependencies, core

#42349 [core] Update `@testing-library/react` and `@testing-library/dom` packages
  packages/mui-base/package.json
  packages/mui-material/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
  renovate.json
Labels: dependencies, core

#42341 [website] Fix hero spacing changes applying at the wrong breakpoint
  docs/src/layouts/HeroContainer.tsx
Labels: website, needs cherry-pick

#42251 [material-ui][ListItemSecondaryAction] Deprecate component
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  packages/mui-material/src/ListItem/ListItem.js
  packages/mui-material/src/ListItemSecondaryAction/ListItemSecondaryAction.d.ts
  packages/mui-material/src/ListItemSecondaryAction/ListItemSecondaryAction.js
Labels: docs, component: list, deprecation, package: material-ui

#42365 [blog] Add the "Product" tag to the Pigment CSS post
  docs/pages/blog/introducing-pigment-css.md
Labels: blog, package: pigment-css, needs cherry-pick

#42241 [core] Fix React 18.3 warnings about spreading keys in the Material UI `Autocomplete` component (#42099)
  packages/mui-base/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: package: material-ui, component: autocomplete, cherry-pick

#42311 [blog] Add fixes and clean ups to the Blog page
  docs/lib/sourcing.ts
  docs/pages/blog.tsx
Labels: design, blog

#42219 [material-ui][ListItem] Deprecate ListItem's components and componentsProps
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/list-item.json
  docs/translations/api-docs/list-item/list-item.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/list-item-props/index.js
  packages/mui-codemod/src/deprecations/list-item-props/list-item-props.js
  packages/mui-codemod/src/deprecations/list-item-props/list-item-props.test.js
  packages/mui-codemod/src/deprecations/list-item-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/list-item-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/list-item-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/list-item-props/test-cases/theme.expected.js
  packages/mui-material/src/ListItem/ListItem.d.ts
  packages/mui-material/src/ListItem/ListItem.js
Labels: component: list, deprecation, package: material-ui

#42263 [material-ui][ListItem] Document `*Component` and `*Props` props deprecations
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/list-item.json
  packages/mui-material/src/ListItem/ListItem.d.ts
  packages/mui-material/src/ListItem/ListItem.js
Labels: docs, on hold, component: list, deprecation, package: material-ui

#42370 [material-ui][Slider] Fix wrong CSS value
  packages/mui-material/src/Slider/Slider.js
Labels: bug 🐛, component: slider, package: material-ui, needs cherry-pick

#42180 [docs-infra] Tigthen up the header design
  docs/pages/_app.js
  docs/pages/experiments/website/branding-theme-test.tsx
  docs/src/components/header/ThemeModeToggle.tsx
  docs/src/icons/SvgHamburgerMenu.tsx
  docs/src/layouts/AppHeader.tsx
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/ComponentPageTabs.js
  docs/src/modules/components/Notifications.js
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, scope: docs-infra

#42362 [docs-infra] Fix Toolpad Core API links
  packages/markdown/prepareMarkdown.js
Labels: scope: docs-infra

#42378 [core] Remove `react-swipeable-views-utils` package from docs
  docs/package.json
  pnpm-lock.yaml
Labels: core

#42363 [material-ui][Grid] Deprecate `wrap` prop
  docs/data/material/components/grid/AutoGridNoWrap.js
  docs/data/material/components/grid/AutoGridNoWrap.tsx
  docs/data/material/components/skeleton/YouTube.js
  docs/data/material/components/skeleton/YouTube.tsx
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/grid.json
  docs/src/layouts/HeroContainer.tsx
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/grid-props/grid-props.js
  packages/mui-codemod/src/deprecations/grid-props/grid-props.test.js
  packages/mui-codemod/src/deprecations/grid-props/index.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/grid-props/test-cases/theme.expected.js
  packages/mui-material/src/Grid/Grid.d.ts
  packages/mui-material/src/Grid/Grid.js
Labels: component: Grid

#41652 [utils] Fix GitHub-reported prototype pollution vulnerability in `deepmerge`
  packages/mui-utils/src/deepmerge/deepmerge.test.ts
  packages/mui-utils/src/deepmerge/deepmerge.ts
Labels: package: utils (private)

#42410 [pigment-css][docs] Fix duplication of content
  packages/pigment-css-react/README.md
Labels: docs, package: pigment-css

#42411 [code-infra] Fix stylelint locally
  .stylelintrc.js
Labels: bug 🐛, scope: code-infra

#42412 [material-ui][responsiveFontSizes] Handled undefined variants
  packages/mui-material/src/styles/responsiveFontSizes.js
  packages/mui-material/src/styles/responsiveFontSizes.test.js
Labels: bug 🐛, component: Typography, package: material-ui, needs cherry-pick

#42387 [docs-infra] Make menu styles consistent
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
  docs/src/modules/components/AppNavDrawer.js
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, scope: docs-infra

#42420 [docs] Link to pnpm installation docs
  CONTRIBUTING.md
Labels: docs

#42356 [docs-infra] Avoid cryptic errors when tests don't exist
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
Labels: scope: docs-infra

#42282 [codemod] Add codemod for removing system props
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v6.0.0/system-props/index.js
  packages/mui-codemod/src/v6.0.0/system-props/removeSystemProps.js
  packages/mui-codemod/src/v6.0.0/system-props/removeSystemProps.test.js
  packages/mui-codemod/src/v6.0.0/system-props/test-cases/system-props.actual.js
  packages/mui-codemod/src/v6.0.0/system-props/test-cases/system-props.expected.js
Labels: package: codemod, v6.x

#42418 [website] Add Nikita to the about page
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/nikita-ossei.png
Labels: website, needs cherry-pick

#42153 [codemod] Add `sx` prop for v6 migration
  packages/mui-codemod/README.md
  packages/mui-codemod/src/util/migrateToVariants.js
  packages/mui-codemod/src/v6.0.0/sx-prop/index.js
  packages/mui-codemod/src/v6.0.0/sx-prop/sx-v6.js
  packages/mui-codemod/src/v6.0.0/sx-prop/sx-v6.test.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/basic-sx.actual.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/basic-sx.expected.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-css-vars.actual.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-css-vars.expected.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-dynamic.actual.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-dynamic.expected.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-dynamic2.actual.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-dynamic2.expected.js
  packages/mui-codemod/src/v6.0.0/theme-v6/theme-v6.js
Labels: package: codemod

#42246 [material-ui] Stabilize `CssVarsProvider` and `extendTheme`
  apps/pigment-css-next-app/next.config.js
  apps/pigment-css-vite-app/src/augment.ts
  apps/pigment-css-vite-app/src/extend-zero.ts
  apps/pigment-css-vite-app/vite.config.ts
  docs/data/joy/integrations/material-ui/material-ui.md
  docs/data/material/customization/css-theme-variables/configuration.md
  docs/data/material/customization/css-theme-variables/overview.md
  docs/data/material/customization/css-theme-variables/usage/CssVarsBasic.js
  docs/data/material/customization/css-theme-variables/usage/CssVarsBasic.tsx
  docs/data/material/customization/css-theme-variables/usage/CssVarsBasic.tsx.preview
  docs/data/material/customization/css-theme-variables/usage/usage.md
  docs/data/material/customization/theming/theming.md
  docs/data/material/design-resources/material-ui-sync/material-ui-sync.md
  docs/data/material/experimental-api/css-variables/CssVariablesCustomization.js
  docs/data/material/experimental-api/css-variables/CssVarsCustomTheme.js
  docs/data/material/experimental-api/css-variables/CssVarsCustomTheme.tsx
  docs/data/material/experimental-api/css-variables/CssVarsProviderBasic.tsx.preview
  docs/data/material/integrations/nextjs/nextjs.md
  docs/data/material/migration/migration-v5/migration-css-theme-variables.md
  docs/data/material/pages.ts
  docs/data/system/experimental-api/css-theme-variables/css-theme-variables.md
  docs/pages/material-ui/customization/css-theme-variables/configuration.js
  docs/pages/material-ui/customization/css-theme-variables/overview.js
  docs/pages/material-ui/customization/css-theme-variables/usage.js
  docs/pages/material-ui/migration/migration-css-theme-variables.js
  docs/public/_redirects
  docs/src/BrandingCssVarsProvider.tsx
  docs/src/components/home/MaterialDesignComponents.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialHero.tsx
  docs/src/components/productMaterial/MaterialTheming.tsx
  docs/src/components/productX/XTheming.tsx
  docs/translations/translations.json
  packages/mui-material/src/Chip/Chip.test.js
  packages/mui-material/src/Link/getTextDecoration.test.js
  packages/mui-material/src/styles/CssVarsProvider.spec.tsx
  packages/mui-material/src/styles/CssVarsProvider.test.js
  packages/mui-material/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/extendTheme.d.ts
  packages/mui-material/src/styles/extendTheme.js
  packages/mui-material/src/styles/extendTheme.spec.ts
  packages/mui-material/src/styles/extendTheme.test.js
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-material/src/themeCssVarsAugmentation/index.d.ts
  packages/mui-material/test/typescript/moduleAugmentation/themeCssVariables.spec.tsx
  packages/mui-material/test/typescript/moduleAugmentation/themeGetCssVar.spec.tsx
  packages/mui-system/src/createTheme/applyStyles.ts
  test/regressions/fixtures/CssBaseline/MaterialCssBaseline.js
  test/regressions/fixtures/CssBaseline/MaterialScopedCssBaseline.js
  test/regressions/fixtures/CssVarsProvider/MaterialUIDefaultDark.js
  test/regressions/fixtures/CssVarsProvider/MaterialUIDefaultDarkToLight.js
Labels: docs

#42422 [joy-ui][docs] Fix template responsiveness
  docs/data/joy/getting-started/templates/messages/components/ChatsPane.tsx
  docs/data/joy/getting-started/templates/messages/components/Header.tsx
  docs/data/joy/getting-started/templates/messages/components/MessagesPane.tsx
  docs/data/joy/getting-started/templates/messages/components/MyMessages.tsx
Labels: docs, package: joy-ui

#42374 [docs][material-ui][Tabs] Improve the Basic Tabs demo
  docs/data/material/components/tabs/BasicTabs.js
  docs/data/material/components/tabs/BasicTabs.tsx
Labels: docs, component: tabs, package: material-ui, needs cherry-pick

#42413 [docs-infra] Split feedback channels per product
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/utils/getProductInfoFromUrl.ts
  netlify/functions/feedback-management.mts
Labels: scope: docs-infra

#42358 [system][createStyled] Intercept `ownerState` coming from `props` and `ownerState`
  packages/mui-system/src/createStyled/createStyled.js
  test/integration/mui-system/createStyled.test.js
Labels: package: system

#42244 [material-ui][docs] Add the Pashto locale
  docs/data/material/guides/localization/localization.md
  packages/mui-material/src/locale/index.ts
Labels: docs, package: material-ui, l10n

#42324 [docs] Remove unused images
  docs/public/static/branding/mui-x/Mocktable-dark.png
  docs/public/static/branding/mui-x/Mocktable-light.png
  docs/public/static/branding/mui-x/card.png
  docs/public/static/branding/mui-x/chart-dark1.png
  docs/public/static/branding/mui-x/chart-dark2.png
  docs/public/static/branding/mui-x/chart-dark3.png
  docs/public/static/branding/mui-x/chart-dark4.png
  docs/public/static/branding/mui-x/chart-light1.png
  docs/public/static/branding/mui-x/chart-light2.png
  docs/public/static/branding/mui-x/chart-light3.png
  docs/public/static/branding/mui-x/chart-light4.png
  docs/public/static/branding/mui-x/sparkline-dark1.png
  docs/public/static/branding/mui-x/sparkline-dark2.png
  docs/public/static/branding/mui-x/sparkline-light1.png
  docs/public/static/branding/mui-x/sparkline-light2.png
  docs/public/static/images/avatar/1-sm.jpeg
  docs/public/static/images/avatar/3-sm.jpeg
  docs/public/static/images/packages/mui-packages.png
  docs/public/static/images/packages/mui-system.png
  docs/public/static/images/survey/table-contents-banner.png
  docs/public/static/images/themes-dark.jpg
  docs/public/static/images/themes-light.jpg
  docs/public/static/themes/onepirate.jpg
  docs/public/static/themes/paperbase.png
  docs/src/components/productX/XSparklineDemo.tsx
  docs/src/components/showcase/NotificationCard.tsx
Labels: docs

#42284 [docs][examples] Improvements to Material UI UMD build removal
  docs/data/material/migration/migration-v5/migration-v5.md
  docs/src/modules/components/MaterialUIExampleCollection.js
  examples/material-ui-via-cdn/index.html
Labels: docs, examples

#42442 [docs-infra] Try to parse author login from commit
  scripts/releaseChangelog.mjs
Labels: scope: docs-infra

#42440 [release] v6.0.0-alpha.9
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42441 [release] v5.15.19
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#42443 [docs-infra] Try to parse author login from commit
  scripts/releaseChangelog.mjs
Labels: scope: docs-infra

#42093 [material-ui][InputBase] Deprecate components and componentProps props for v6
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/filled-input.json
  docs/pages/material-ui/api/input-base.json
  docs/pages/material-ui/api/input.json
  docs/pages/material-ui/api/outlined-input.json
  docs/translations/api-docs/filled-input/filled-input.json
  docs/translations/api-docs/input-base/input-base.json
  docs/translations/api-docs/input/input.json
  docs/translations/api-docs/outlined-input/outlined-input.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/filled-input-props/filled-input-props.js
  packages/mui-codemod/src/deprecations/filled-input-props/filled-input-props.test.js
  packages/mui-codemod/src/deprecations/filled-input-props/index.js
  packages/mui-codemod/src/deprecations/filled-input-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/filled-input-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/filled-input-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/filled-input-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/input-base-props/index.js
  packages/mui-codemod/src/deprecations/input-base-props/input-base-props.js
  packages/mui-codemod/src/deprecations/input-base-props/input-base-props.test.js
  packages/mui-codemod/src/deprecations/input-base-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/input-base-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/input-base-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/input-base-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/input-props/index.js
  packages/mui-codemod/src/deprecations/input-props/input-props.js
  packages/mui-codemod/src/deprecations/input-props/input-props.test.js
  packages/mui-codemod/src/deprecations/input-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/input-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/input-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/input-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/outlined-input-props/index.js
  packages/mui-codemod/src/deprecations/outlined-input-props/outlined-input-props.js
  packages/mui-codemod/src/deprecations/outlined-input-props/outlined-input-props.test.js
  packages/mui-codemod/src/deprecations/outlined-input-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/outlined-input-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/outlined-input-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/outlined-input-props/test-cases/theme.expected.js
  packages/mui-codemod/testUtils/index.js
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/Input/Input.js
  packages/mui-material/src/InputBase/InputBase.d.ts
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.js
Labels: component: input

#42435 [docs-infra] Update the Material logo + add copy functionality
  docs/src/components/action/MuiLogoMenu.tsx
  docs/src/icons/SvgMuiLogomark.tsx
  docs/src/layouts/AppHeader.tsx
  docs/src/modules/components/AppFrame.js
  docs/src/modules/components/AppNavDrawer.js
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, scope: docs-infra

#42436 [mui-system] Remove IE11 code
  packages/mui-system/src/Container/createContainer.tsx
Labels: breaking change, package: system

#42239 [system][docs] Add "dynamic values" section to sx prop page
  docs/data/system/getting-started/the-sx-prop/DynamicValues.js
  docs/data/system/getting-started/the-sx-prop/DynamicValues.tsx
  docs/data/system/getting-started/the-sx-prop/the-sx-prop.md
Labels: docs, package: system, needs cherry-pick

#42448 [material-ui][docs] Update Figma design kit doc redirect link
  docs/public/_redirects
Labels: docs, package: material-ui, needs cherry-pick

#42369 [material-ui][Popover] migrate useSlotProps to useSlot
  docs/pages/material-ui/api/popover.json
  docs/translations/api-docs/menu/menu.json
  docs/translations/api-docs/popover/popover.json
  packages/mui-material/src/Menu/Menu.js
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Popover/Popover.js
  packages/mui-material/src/Popover/Popover.test.js
Labels: bug 🐛, component: Popover, package: material-ui

#42082 [material-ui][FilledInput] Remove unapplied classes from filledInputClasses interface and add missing classes to root
  docs/pages/material-ui/api/filled-input.json
  docs/translations/api-docs/filled-input/filled-input.json
  packages/mui-material/src/FilledInput/FilledInput.js
  packages/mui-material/src/FilledInput/FilledInput.test.js
  packages/mui-material/src/FilledInput/filledInputClasses.ts
Labels: bug 🐛, package: material-ui, component: input

#42336 [material-ui][docs] Fix sentence in the All components page
  docs/data/material/all-components/all-components.md
Labels: docs, package: material-ui, needs cherry-pick

#42449 [material-ui][docs] Add changelog section to the design kits page
  docs/data/material/design-resources/material-ui-for-figma/material-ui-for-figma.md
Labels: docs, package: material-ui, needs cherry-pick

#42455 [docs-infra] Add small design polish
  docs/pages/experiments/website/branding-theme-test.tsx
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/EditPage.js
  packages/mui-docs/src/MarkdownElement/MarkdownElement.tsx
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, scope: docs-infra
