Repository mui/material-ui, pull requests merged in 2024-07, with the labels that each got.

#42749 [docs] Fix wrong description for `UseTabParameters.onChange`
  docs/translations/api-docs/use-tab/use-tab.json
  packages/mui-base/src/useTab/useTab.types.ts
Labels: docs, component: tabs

#42467 [core] Remove useIsFocusVisible util
  packages/mui-base/src/Menu/Menu.test.tsx
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Slider/Slider.test.tsx
  packages/mui-base/src/useButton/useButton.test.tsx
  packages/mui-base/src/useButton/useButton.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-base/src/useSwitch/useSwitch.test.tsx
  packages/mui-base/src/useSwitch/useSwitch.ts
  packages/mui-joy/src/Link/Link.test.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/ListItemButton/ListItemButton.test.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/AccordionSummary/AccordionSummary.test.js
  packages/mui-material/src/Button/Button.test.js
  packages/mui-material/src/ButtonBase/ButtonBase.js
  packages/mui-material/src/ButtonBase/ButtonBase.test.js
  packages/mui-material/src/Chip/Chip.test.js
  packages/mui-material/src/Fab/Fab.test.js
  packages/mui-material/src/Link/Link.js
  packages/mui-material/src/Link/Link.test.js
  packages/mui-material/src/ListItem/ListItem.test.js
  packages/mui-material/src/ListItemButton/ListItemButton.test.js
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/SpeedDial/SpeedDial.test.js
  packages/mui-material/src/Tab/Tab.test.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
  packages/mui-material/src/utils/index.d.ts
  packages/mui-material/src/utils/index.js
  packages/mui-material/src/utils/useIsFocusVisible.d.ts
  packages/mui-material/src/utils/useIsFocusVisible.js
  packages/mui-utils/src/index.ts
  packages/mui-utils/src/isFocusVisible/index.ts
  packages/mui-utils/src/isFocusVisible/isFocusVisible.ts
  packages/mui-utils/src/useIsFocusVisible/index.ts
  packages/mui-utils/src/useIsFocusVisible/useIsFocusVisible.test.js
  packages/mui-utils/src/useIsFocusVisible/useIsFocusVisible.ts
Labels: core, port-to-base-ui

#42823 [docs-infra] Add batch of design polish
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/ComponentPageTabs.js
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
  packages/mui-docs/src/MarkdownElement/MarkdownElement.tsx
Labels: design, scope: docs-infra

#42829 [material-ui][joy-ui] Add `InitColorSchemeScript` for Next.js App Router
  docs/data/joy/customization/dark-mode/dark-mode.md
  docs/data/joy/main-features/dark-mode-optimization/dark-mode-optimization.md
  docs/data/material/experimental-api/css-theme-variables/customization.md
  docs/data/material/experimental-api/css-theme-variables/migration.md
  docs/data/material/experimental-api/css-theme-variables/usage/usage.md
  docs/pages/_document.js
  docs/pages/blog/first-look-at-joy.md
  packages/api-docs-builder-core/joyUi/projectSettings.ts
  packages/api-docs-builder-core/materialUi/projectSettings.ts
  packages/api-docs-builder-core/muiSystem/projectSettings.ts
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/mui-joy/src/InitColorSchemeScript/InitColorSchemeScript.spec.tsx
  packages/mui-joy/src/InitColorSchemeScript/InitColorSchemeScript.test.tsx
  packages/mui-joy/src/InitColorSchemeScript/InitColorSchemeScript.tsx
  packages/mui-joy/src/InitColorSchemeScript/index.ts
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/InitColorSchemeScript/InitColorSchemeScript.spec.tsx
  packages/mui-material/src/InitColorSchemeScript/InitColorSchemeScript.test.tsx
  packages/mui-material/src/InitColorSchemeScript/InitColorSchemeScript.tsx
  packages/mui-material/src/InitColorSchemeScript/index.ts
  packages/mui-material/src/styles/CssVarsProvider.tsx
  packages/mui-system/src/InitColorSchemeScript/InitColorSchemeScript.test.js
  packages/mui-system/src/InitColorSchemeScript/InitColorSchemeScript.tsx
  packages/mui-system/src/InitColorSchemeScript/index.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/getInitColorSchemeScript.tsx
  packages/mui-system/src/cssVars/index.ts
  packages/mui-system/src/cssVars/useCurrentColorScheme.test.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.ts
  packages/rsc-builder/buildRsc.ts
Labels: package: material-ui, v5.x, package: joy-ui

#42817 [core] Revert lint for `useThemeProps`
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.js
  packages/eslint-plugin-material-ui/src/rules/mui-name-matches-component-name.test.js
Labels: core

#42833 [code-infra] Cleanup `@mui/docs` usage and legacy re-exports
  benchmark/server/scenarios/docs.js
  docs/data/joy/customization/theme-colors/PaletteThemeViewer.js
  docs/data/joy/customization/theme-colors/PaletteThemeViewer.tsx
  docs/data/joy/customization/theme-shadow/ShadowThemeViewer.js
  docs/data/joy/customization/theme-shadow/ShadowThemeViewer.tsx
  docs/src/BrandingProvider.tsx
  docs/src/components/action/InfoCard.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/CodeCopyButton.tsx
  docs/src/modules/components/ComponentLinkHeader.js
  docs/src/modules/components/ComponentPageTabs.js
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DiamondSponsors.js
  docs/src/modules/components/HighlightedCode.js
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
  docs/src/modules/components/HooksApiContent.js
  docs/src/modules/components/Link.tsx
  docs/src/modules/components/MarkdownElement.js
  docs/src/modules/components/RichMarkdownElement.js
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/modules/components/TopLayoutCareers.js
  docs/src/modules/utils/CodeCopy.tsx
  docs/src/modules/utils/i18n.js
  docs/src/modules/utils/useClipboardCopy.ts
  docs/src/pages/production-error/ErrorDecoder.js
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/large-actual.js
  packages/mui-codemod/src/v5.0.0/theme-spacing.test/large-expected.js
  packages/mui-docs/src/branding/BrandingProvider.tsx
Labels: core, scope: docs-infra, scope: code-infra

#42835 [code-infra] Move `HighlightedCode` test into `@mui/docs` package
  docs/tsconfig.json
  packages/mui-docs/src/HighlightedCode/HighlightedCode.test.tsx
Labels: scope: code-infra

#42566 [docs-infra] Fix React Compiler ESLint issues in website components
  .eslintrc.js
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XPlans.tsx
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/ReactRunner.tsx
  docs/src/modules/components/ThemeContext.js
Labels: website, scope: docs-infra

#42830 [material-ui][docs] Fix issues reported by react-compiler in docs folder
  docs/data/material/components/use-media-query/UseWidth.js
  docs/data/material/components/use-media-query/UseWidth.tsx
Labels: docs, package: material-ui

#42060 [code-infra] Move HighlightedCodeWithTabs to @mui/docs
  docs/src/modules/components/Demo.js
  docs/src/modules/components/HighlightedCodeWithTabs.js
  docs/src/modules/components/RichMarkdownElement.js
  packages/mui-docs/package.json
  packages/mui-docs/src/HighlightedCode/HighlightedCode.test.tsx
  packages/mui-docs/src/HighlightedCode/HighlightedCodeWithTabs.tsx
  packages/mui-docs/src/HighlightedCode/index.tsx
  pnpm-lock.yaml
Labels: scope: code-infra

#42831 v6.0.0-alpha.14
  .codesandbox/ci.json
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#38604 [website] Adjust site to add Toolpad on the homepage
  docs/src/components/action/Frame.tsx
  docs/src/components/action/Item.tsx
  docs/src/components/action/MaterialVsCustomToggle.tsx
  docs/src/components/action/MoreInfoBox.tsx
  docs/src/components/action/StylingInfo.tsx
  docs/src/components/home/AdvancedShowcase.tsx
  docs/src/components/home/CoreShowcase.tsx
  docs/src/components/home/MaterialDesignDemo.tsx
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/components/home/ShowcaseContainer.tsx
  docs/src/components/productMaterial/MaterialComponents.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/showcase/RealEstateCard.tsx
  docs/src/layouts/AppHeader.tsx
  docs/src/route.ts
  packages/mui-docs/src/HighlightedCode/HighlightedCode.tsx
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: website

#42841 [code-infra] Use @mui/docs/HighlightedCodeWithTabs in markdown
  docs/pages/experiments/docs/codeblock.md
  docs/src/modules/components/RichMarkdownElement.js
  packages/mui-docs/src/HighlightedCode/index.tsx
  packages/mui-docs/src/HighlightedCodeWithTabs/HighlightedCodeWithTabs.tsx
  packages/mui-docs/src/HighlightedCodeWithTabs/index.ts
Labels: scope: code-infra

#42838 [material-ui][joy-ui] Remove warning from `getInitColorSchemeScript`
  .github/workflows/ci.yml
  packages/mui-joy/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/styles/CssVarsProvider.tsx
Labels: package: material-ui, v5.x, package: joy-ui

#42834 v5.16.0
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42847 [core] Replace enzyme in describeConformance
  docs/pages/joy-ui/api/tooltip.json
  docs/pages/material-ui/api/switch.json
  packages/mui-base/test/describeConformanceUnstyled.tsx
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-joy/src/Menu/Menu.test.tsx
  packages/mui-joy/src/MenuButton/MenuButton.test.tsx
  packages/mui-joy/src/MenuItem/MenuItem.test.tsx
  packages/mui-joy/src/Tab/Tab.test.tsx
  packages/mui-joy/src/TabList/TabList.test.tsx
  packages/mui-joy/src/TabPanel/TabPanel.test.tsx
  packages/mui-joy/src/Tooltip/Tooltip.test.tsx
  packages/mui-lab/src/TabList/TabList.test.js
  packages/mui-lab/src/TabPanel/TabPanel.test.tsx
  packages/mui-material/src/Fade/Fade.test.js
  packages/mui-material/src/Grow/Grow.test.js
  packages/mui-material/src/MenuList/MenuList.test.js
  packages/mui-material/src/NativeSelect/NativeSelectInput.test.js
  packages/mui-material/src/RadioGroup/RadioGroup.test.js
  packages/mui-material/src/Slide/Slide.test.js
  packages/mui-material/src/StepContent/StepContent.test.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/mui-material/src/Switch/Switch.test.js
  packages/mui-material/src/TableBody/TableBody.test.js
  packages/mui-material/src/TableCell/TableCell.test.js
  packages/mui-material/src/TableFooter/TableFooter.test.js
  packages/mui-material/src/TableHead/TableHead.test.js
  packages/mui-material/src/TablePagination/TablePagination.test.js
  packages/mui-material/src/TableRow/TableRow.test.js
  packages/mui-material/src/Zoom/Zoom.test.js
  packages/test-utils/src/describeConformance.tsx
Labels: test, core, cherry-pick, React 19 support

#42851 [styles][withStyles] Expect React defaultProps warning in test (#42752)
  packages/mui-styles/src/withStyles/withStyles.test.js
Labels: test, package: styles, cherry-pick, React 19 support

#42852 [material-ui][docs] Fix type error in virtualized table demo
  docs/data/material/components/table/ReactVirtualizedTable.js
  docs/data/material/components/table/ReactVirtualizedTable.tsx
Labels: docs, typescript, package: material-ui, React 19 support

#42855 [base-ui] Fix React spread key warning in test
  packages/mui-base/src/useAutocomplete/useAutocomplete.test.js
Labels: component: autocomplete, package: base-ui, cherry-pick, React 19 support

#42854 [material-ui][docs] Fix React 18.3 key spread warnings in Autocomplete demos
  docs/data/material/components/autocomplete/FixedTags.js
  docs/data/material/components/autocomplete/FixedTags.tsx
  docs/data/material/components/autocomplete/Sizes.js
  docs/data/material/components/autocomplete/Sizes.tsx
Labels: docs, package: material-ui, component: autocomplete, cherry-pick, React 19 support

#42856 [joy-ui][Autocomplete] Fix React spread key warning
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
Labels: component: autocomplete, package: joy-ui, cherry-pick, React 19 support

#42849 [test] Remove createMount test util
  packages/mui-base/src/Badge/Badge.test.tsx
  packages/mui-base/src/Button/Button.test.tsx
  packages/mui-base/src/FormControl/FormControl.test.tsx
  packages/mui-base/src/Input/Input.test.tsx
  packages/mui-base/src/Menu/Menu.test.tsx
  packages/mui-base/src/MenuButton/MenuButton.test.tsx
  packages/mui-base/src/MenuItem/MenuItem.test.tsx
  packages/mui-base/src/Modal/Modal.test.tsx
  packages/mui-base/src/Option/Option.test.tsx
  packages/mui-base/src/OptionGroup/OptionGroup.test.tsx
  packages/mui-base/src/Popper/Popper.test.tsx
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Slider/Slider.test.tsx
  packages/mui-base/src/Snackbar/Snackbar.test.tsx
  packages/mui-base/src/Switch/Switch.test.tsx
  packages/mui-base/src/Tab/Tab.test.tsx
  packages/mui-base/src/TabPanel/TabPanel.test.tsx
  packages/mui-base/src/TablePagination/TablePagination.test.tsx
  packages/mui-base/src/Tabs/Tabs.test.tsx
  packages/mui-base/src/TabsList/TabsList.test.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.test.tsx
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
  packages/mui-base/src/Unstable_Popup/Popup.test.tsx
  packages/mui-joy/src/Table/Table.test.tsx
  packages/mui-material/src/Menu/Menu.test.js
  packages/mui-material/src/Popover/Popover.test.js
  packages/mui-styles/src/StylesProvider/StylesProvider.test.js
  packages/mui-styles/src/makeStyles/makeStyles.test.js
  packages/test-utils/src/createMount.tsx
  packages/test-utils/src/findOutermostIntrinsic.test.js
  packages/test-utils/src/findOutermostIntrinsic.ts
  packages/test-utils/src/index.ts
Labels: test, core, cherry-pick, React 19 support

#42850 [test] Remove enzyme
  package.json
  packages/test-utils/package.json
  packages/test-utils/src/init.js
  packages/test-utils/src/until.js
  packages/test-utils/src/until.test.js
  pnpm-lock.yaml
  scripts/useReactVersion.mjs
  test/README.md
  test/karma.conf.js
  test/karma.conf.profile.js
  test/regressions/webpack.config.js
Labels: test, dependencies, core, cherry-pick, React 19 support

#42857 [code-infra] Fix imports in `Demo` component
  docs/src/modules/components/Demo.js
Labels: regression, scope: code-infra

#42881 [docs] Fix issues reported by react compiler in docs folder
  packages/mui-docs/src/i18n/i18n.tsx
Labels: docs

#42880 [mui-lab] Fix issues reported by react-compiler in mui-lab
  packages/mui-lab/src/Alert/Alert.js
  packages/mui-lab/src/AlertTitle/AlertTitle.js
  packages/mui-lab/src/Autocomplete/Autocomplete.js
  packages/mui-lab/src/AvatarGroup/AvatarGroup.js
  packages/mui-lab/src/Pagination/Pagination.js
  packages/mui-lab/src/PaginationItem/PaginationItem.js
  packages/mui-lab/src/Rating/Rating.js
  packages/mui-lab/src/Skeleton/Skeleton.js
  packages/mui-lab/src/SpeedDial/SpeedDial.js
  packages/mui-lab/src/SpeedDialAction/SpeedDialAction.js
  packages/mui-lab/src/SpeedDialIcon/SpeedDialIcon.js
  packages/mui-lab/src/TabContext/TabContext.test.js
  packages/mui-lab/src/ToggleButton/ToggleButton.js
  packages/mui-lab/src/ToggleButtonGroup/ToggleButtonGroup.js
Labels: package: lab

#42862 [docs] Fix typos
  docs/data/material/customization/right-to-left/right-to-left.md
  docs/pages/blog/mui-x-mid-v6-features.md
Labels: docs, needs cherry-pick

#42853 [core] Remove react-test-renderer
  packages/mui-base/src/Menu/Menu.test.tsx
  packages/mui-base/src/MenuButton/MenuButton.test.tsx
  packages/mui-base/src/MenuItem/MenuItem.test.tsx
  packages/mui-base/src/Modal/Modal.test.tsx
  packages/mui-base/src/Option/Option.test.tsx
  packages/mui-base/src/Popper/Popper.test.tsx
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/src/Tab/Tab.test.tsx
  packages/mui-base/src/TabPanel/TabPanel.test.tsx
  packages/mui-base/src/TabsList/TabsList.test.tsx
  packages/mui-base/src/Unstable_Popup/Popup.test.tsx
  packages/mui-base/test/describeConformanceUnstyled.tsx
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-joy/src/Drawer/Drawer.test.tsx
  packages/mui-joy/src/Menu/Menu.test.tsx
  packages/mui-joy/src/MenuButton/MenuButton.test.tsx
  packages/mui-joy/src/MenuItem/MenuItem.test.tsx
  packages/mui-joy/src/Modal/Modal.test.tsx
  packages/mui-joy/src/Select/Select.test.tsx
  packages/mui-joy/src/Tab/Tab.test.tsx
  packages/mui-joy/src/TabList/TabList.test.tsx
  packages/mui-joy/src/TabPanel/TabPanel.test.tsx
  packages/mui-joy/src/Table/Table.test.tsx
  packages/mui-joy/src/Tabs/Tabs.test.tsx
  packages/mui-joy/src/Tooltip/Tooltip.test.tsx
  packages/mui-lab/src/TabList/TabList.test.js
  packages/mui-lab/src/TabPanel/TabPanel.test.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/Backdrop/Backdrop.test.js
  packages/mui-material/src/Dialog/Dialog.test.js
  packages/mui-material/src/Drawer/Drawer.test.js
  packages/mui-material/src/Fade/Fade.test.js
  packages/mui-material/src/Grow/Grow.test.js
  packages/mui-material/src/Menu/Menu.test.js
  packages/mui-material/src/Modal/Modal.test.js
  packages/mui-material/src/Popover/Popover.test.js
  packages/mui-material/src/Popper/Popper.test.js
  packages/mui-material/src/Slide/Slide.test.js
  packages/mui-material/src/Snackbar/Snackbar.test.js
  packages/mui-material/src/SpeedDial/SpeedDial.test.js
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.test.js
  packages/mui-material/src/StepContent/StepContent.test.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
  packages/mui-material/src/Zoom/Zoom.test.js
  packages/test-utils/package.json
  packages/test-utils/src/describeConformance.tsx
  pnpm-lock.yaml
  renovate.json
  scripts/useReactVersion.mjs
Labels: test, dependencies, core, cherry-pick, React 19 support

#42846 [core] Bump React to 18.3.1
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  benchmark/package.json
  docs/package.json
  package.json
  packages-internal/scripts/package.json
  packages/mui-base/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/test/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/pigment-css-react/package.json
  packages/test-utils/package.json
  pnpm-lock.yaml
  test/package.json
Labels: dependencies, core, cherry-pick, React 19 support

#41061 [material-ui] Performance: lazy Ripple
  packages-internal/test-utils/package.json
  packages-internal/test-utils/src/createRenderer.tsx
  packages-internal/test-utils/src/focusVisible.ts
  packages-internal/test-utils/src/index.ts
  packages/mui-joy/src/MenuItem/MenuItem.test.tsx
  packages/mui-material/src/Button/Button.test.js
  packages/mui-material/src/ButtonBase/ButtonBase.js
  packages/mui-material/src/ButtonBase/ButtonBase.test.js
  packages/mui-material/src/ButtonGroup/ButtonGroup.test.js
  packages/mui-material/src/Chip/Chip.test.js
  packages/mui-material/src/Fab/Fab.test.js
  packages/mui-material/src/IconButton/IconButton.test.js
  packages/mui-material/src/MenuItem/MenuItem.test.js
  packages/mui-material/src/RadioGroup/RadioGroup.test.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/SpeedDial/SpeedDial.test.js
  packages/mui-material/src/Tab/Tab.test.js
  packages/mui-material/src/Tabs/Tabs.test.js
  packages/mui-material/src/internal/SwitchBase.test.js
  packages/mui-material/src/useLazyRipple/index.ts
  packages/mui-material/src/useLazyRipple/useLazyRipple.ts
  packages/mui-material/src/useTouchRipple/index.ts
  packages/mui-material/src/useTouchRipple/useTouchRipple.ts
  packages/mui-material/test/integration/Menu.test.js
  packages/mui-material/test/integration/MenuList.test.js
  packages/mui-material/test/ripple.ts
  pnpm-lock.yaml
Labels: performance, breaking change, component: button, package: material-ui

#42895 [docs] Replace v6 "alpha" mentions with "beta"
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  docs/data/system/migration/migrating-to-v6/migrating-to-v6.md
Labels: docs

#42466 [material-ui] Revert deprecation warnings for `*Components` and `*Props` for v6
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/accordion.json
  docs/pages/material-ui/api/autocomplete.json
  docs/pages/material-ui/api/avatar.json
  docs/pages/material-ui/api/backdrop.json
  docs/pages/material-ui/api/speed-dial.json
  docs/pages/material-ui/api/step-label.json
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/autocomplete-props/autocomplete-props.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/backdrop-props/backdrop-props.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/step-label-props/step-label-props.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/theme.expected.js
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Avatar/Avatar.d.ts
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/SpeedDial/SpeedDial.js
  packages/mui-material/src/StepLabel/StepLabel.d.ts
  packages/mui-material/src/StepLabel/StepLabel.js
Labels: package: material-ui

#42714 [material-ui][AppBar] Fix inherit color is inconsistent between ThemeProvider and CssVarsProvider
  packages/mui-material/src/AppBar/AppBar.js
  packages/mui-material/src/AppBar/AppBar.test.js
Labels: bug 🐛, component: app bar, package: material-ui, regression, customization: theme

#42713 [material-ui][AppBar] Fix inherit color is inconsistent between ThemeProvider and CssVarsProvider
  packages/mui-material/src/AppBar/AppBar.js
  packages/mui-material/src/AppBar/AppBar.test.js
Labels: bug 🐛, component: app bar, package: material-ui, regression, customization: theme

#37301 [Autocomplete] Add new AutocompleteInputChangeReason
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  docs/translations/api-docs-joy/autocomplete/autocomplete.json
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: breaking change, package: material-ui, component: autocomplete, package: base-ui, package: joy-ui, v6.x, port-to-base-ui

#42897 [release] v5.16.1
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
Labels: release

#42898 [release] v6.0.0-beta.0
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#42894 [codemod] Support sx conditional inside spread element
  packages/mui-codemod/src/v6.0.0/sx-prop/sx-v6.js
  packages/mui-codemod/src/v6.0.0/sx-prop/sx-v6.test.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-applyStyles.actual.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-applyStyles.expected.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-condition.actual.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-condition.expected.js
Labels: package: codemod, enhancement, v6.x migration

#42913 [docs-infra] Support code tabs overflow
  docs/data/experiments/renderers/renderAvatar.js
  docs/data/experiments/renderers/renderCountry.js
  docs/data/experiments/renderers/renderEmail.js
  docs/data/experiments/renderers/renderIncoterm.js
  docs/data/experiments/renderers/renderProgress.js
  docs/data/experiments/renderers/renderRating.js
  docs/data/experiments/renderers/renderSparkline.js
  docs/data/experiments/renderers/renderStatus.js
  docs/pages/experiments/docs/DemoMultiTabs.js
  docs/pages/experiments/docs/dataset.json
  docs/pages/experiments/docs/demos.md
  packages/mui-docs/src/HighlightedCodeWithTabs/HighlightedCodeWithTabs.tsx
Labels: scope: docs-infra

#42912 [material-ui] Set material-pigment-css to public
  packages/mui-material-pigment-css/package.json
  pnpm-lock.yaml
Labels: core

#42773 [core] Remove custom hooks from the `mui-name-matches-component-name` linting rule
  .eslintrc.js
  packages/eslint-plugin-material-ui/README.md
Labels: core

#42842 [docs-infra] Move Ads component to TS
  docs/nextConfigDocsInfra.js
  docs/package.json
  docs/src/modules/components/Ad.tsx
  docs/src/modules/components/AdCarbon.tsx
  docs/src/modules/components/AdDisplay.tsx
  docs/src/modules/components/AdGuest.tsx
  docs/src/modules/components/AdInHouse.tsx
  docs/src/modules/components/AdManager.js
  docs/src/modules/components/AdManager.tsx
  docs/src/modules/components/ad.styles.ts
  docs/src/modules/constants.js
  docs/types/ga.d.ts
  packages/mui-docs/src/translations/translations.json
  pnpm-lock.yaml
Labels: scope: docs-infra

#42947 v5.16.2
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42837 [docs][material-ui][Autocomplete] Add instructions about `autosuggest-highlight` dependency
  docs/data/material/components/autocomplete/autocomplete.md
Labels: docs, package: material-ui, component: autocomplete, needs cherry-pick

#42948 v6.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42959 [material] Add missing dependency
  packages/mui-material/package.json
  pnpm-lock.yaml
Labels: regression

#42963 [release] v5.16.3
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#42956 [material-ui][docs] Fix broken image links in blog template
  docs/data/material/getting-started/templates/blog/Blog.js
  docs/data/material/getting-started/templates/blog/Blog.tsx
  docs/data/material/getting-started/templates/blog/MainFeaturedPost.js
  docs/data/material/getting-started/templates/blog/MainFeaturedPost.tsx
Labels: docs, package: material-ui, design

#42967 [material] Fix wrong import in Popover types
  packages/mui-material/src/Popover/Popover.d.ts
Labels: typescript, regression

#42885 [material-ui] Add @emotion/react peer dependency to @mui/material-nextjs
  packages/mui-material-nextjs/package.json
Labels: package: material-ui, dependencies, nextjs

#42971 [release] v5.16.4
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42968 [core] Expose missing screen methods from Testing Library
  packages-internal/test-utils/src/createRenderer.tsx
Labels: test, core

#42919 [codemod] Fix Divider props codemod
  packages/mui-codemod/src/deprecations/divider-props/divider-props.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.expected.js
Labels: component: divider, package: codemod

#42976 [docs] Fix migration typo
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  docs/data/system/migration/migrating-to-v6/migrating-to-v6.md
Labels: docs

#42979 [docs-infra] Remove `display: flex` from `SectionTitle`
  packages/mui-docs/src/MarkdownElement/MarkdownElement.tsx
Labels: scope: docs-infra

#42969 [material-ui][docs] Fix broken image links in blog template on master branch
  docs/data/material/getting-started/templates/blog/Blog.js
  docs/data/material/getting-started/templates/blog/Blog.tsx
Labels: docs, package: material-ui, design

#42942 [test][material-ui] Remove unnecessary async act calls
  packages/mui-joy/src/MenuItem/MenuItem.test.tsx
  packages/mui-material/src/ButtonBase/ButtonBase.test.js
  packages/mui-material/src/ListItemButton/ListItemButton.test.js
  packages/mui-material/src/MenuItem/MenuItem.test.js
  packages/mui-material/src/Popper/Popper.test.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/SpeedDial/SpeedDial.test.js
  packages/mui-material/src/Tabs/Tabs.test.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
  packages/mui-material/test/integration/Menu.test.js
Labels: test, package: material-ui

#42920 [core] Update minimum version of Node.js to 14.0.0
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/netlify-plugin-cache-docs/package.json
Labels: docs, dependencies, v6.x migration

#42818 [material-ui] Fix Accessing element.ref
  packages/mui-material/src/Fade/Fade.js
  packages/mui-material/src/Grow/Grow.js
  packages/mui-material/src/Slide/Slide.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Zoom/Zoom.js
  packages/mui-material/src/utils/getChildRef.d.ts
  packages/mui-material/src/utils/getChildRef.js
Labels: bug 🐛, component: tooltip, package: material-ui, React 19 support

#42924 [website] Fix strange focus-visible on hover
  docs/src/components/header/HeaderNavBar.tsx
Labels: bug 🐛, website, regression

#43002 [core] Add pigment and base ui scopes to envinfo
  packages/mui-envinfo/envinfo.js
Labels: core, scope: infra

#42690 [code-infra] Run `react-17` and `react-next` workflows on the next branch
  .circleci/config.yml
  scripts/useReactVersion.mjs
  test/README.md
Labels: scope: code-infra

#43030 [code-infra] Fix pnpm lock file
  packages/mui-material-nextjs/src/v13-appRouter/appRouterV13.tsx
  pnpm-lock.yaml
Labels: scope: code-infra

#43032 [docs] Remove stringify theme import
  docs/data/material/migration/migrating-to-v6/migrating-to-pigment-css.md
Labels: docs

#42810 [material-ui][Rating] fix defaultLabelText a11y issue with undefine value input and hint
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  docs/pages/material-ui/api/rating.json
  packages/mui-material/src/Rating/Rating.d.ts
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Rating/Rating.test.js
Labels: bug 🐛, accessibility, breaking change, package: material-ui, component: rating

#42990 [docs][material-ui][joy-ui][Autocomplete] Fix `Hint` demo
  docs/data/joy/components/autocomplete/AutocompleteHint.js
  docs/data/joy/components/autocomplete/AutocompleteHint.tsx
  docs/data/material/components/autocomplete/AutocompleteHint.js
  docs/data/material/components/autocomplete/AutocompleteHint.tsx
  docs/data/material/components/autocomplete/autocomplete.md
Labels: bug 🐛, docs, package: material-ui, component: autocomplete, regression, package: joy-ui, needs cherry-pick

#43041 [nextjs] Remove @mui/material as peer dependency
  packages/mui-material-nextjs/package.json
  pnpm-lock.yaml
Labels: dependencies

#42383 [material-ui][Typography] Deprecate `paragraph` prop
  docs/data/material/components/cards/RecipeReviewCard.js
  docs/data/material/components/cards/RecipeReviewCard.tsx
  docs/data/material/components/dialogs/CookiesBanner.js
  docs/data/material/components/dialogs/CookiesBanner.tsx
  docs/data/material/components/drawers/ClippedDrawer.js
  docs/data/material/components/drawers/ClippedDrawer.tsx
  docs/data/material/components/drawers/MiniDrawer.js
  docs/data/material/components/drawers/MiniDrawer.tsx
  docs/data/material/components/drawers/PermanentDrawerLeft.js
  docs/data/material/components/drawers/PermanentDrawerLeft.tsx
  docs/data/material/components/drawers/PermanentDrawerRight.js
  docs/data/material/components/drawers/PermanentDrawerRight.tsx
  docs/data/material/components/drawers/PersistentDrawerLeft.js
  docs/data/material/components/drawers/PersistentDrawerLeft.tsx
  docs/data/material/components/drawers/PersistentDrawerRight.js
  docs/data/material/components/drawers/PersistentDrawerRight.tsx
  docs/data/material/components/drawers/ResponsiveDrawer.js
  docs/data/material/components/drawers/ResponsiveDrawer.tsx
  docs/data/material/getting-started/templates/blog/FeaturedPost.js
  docs/data/material/getting-started/templates/blog/FeaturedPost.tsx
  docs/data/material/getting-started/templates/blog/MainFeaturedPost.js
  docs/data/material/getting-started/templates/blog/MainFeaturedPost.tsx
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/typography.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/typography-props/index.js
  packages/mui-codemod/src/deprecations/typography-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/typography-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/typography-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/typography-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/typography-props/typography-props.js
  packages/mui-codemod/src/deprecations/typography-props/typography-props.test.js
  packages/mui-material/src/Typography/Typography.d.ts
  packages/mui-material/src/Typography/Typography.js
  packages/mui-material/src/Typography/typographyClasses.ts
  test/integration/material-ui/components.spec.tsx
Labels: component: Typography, deprecation, package: material-ui, v6.x

#42614 [docs] Use slot variants over `theme.variants`
  docs/data/material/customization/theme-components/GlobalThemeOverrideCallback.js
  docs/data/material/customization/theme-components/GlobalThemeOverrideCallback.tsx
  docs/data/material/customization/theme-components/GlobalThemeVariants.js
  docs/data/material/customization/theme-components/GlobalThemeVariants.tsx
  docs/data/material/customization/theme-components/GlobalThemeVariants.tsx.preview
  docs/data/material/customization/theme-components/theme-components.md
  packages/mui-styled-engine-sc/src/index.d.ts
  packages/mui-styled-engine/src/index.d.ts
Labels: package: material-ui, v6.x, customization: theme

#43029 [utils] Add dependency to @mui/types
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: regression, needs cherry-pick

#42939 [website] Add Toolpad to main landing page
  docs/public/static/branding/toolpad/ex-1.png
  docs/public/static/branding/toolpad/ex-2.png
  docs/public/static/branding/toolpad/ex-3.png
  docs/public/static/branding/toolpad/toolpad-homepage-1-ex.png
  docs/src/components/home/ProductSuite.tsx
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/components/home/ToolpadShowcase.tsx
  pnpm-lock.yaml
Labels: website

#43042 [docs] Make `DemoSandbox` agnostic of `productId`
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandbox.js
Labels: docs

#43043 v6.0.0-beta.3
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#42715 [material-ui][Divider] Enable borderStyle enhancement in divider with children
  packages/mui-material/src/Divider/Divider.js
  packages/mui-material/src/Divider/Divider.test.js
Labels: component: divider, package: material-ui, enhancement, needs cherry-pick

#42905 [material-ui][ImageListItemBar] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/image-list-item-bar.json
  docs/translations/api-docs/image-list-item-bar/image-list-item-bar.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/image-list-item-bar-classes.js
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/image-list-item-bar-classes.test.js
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/index.js
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/image-list-item-bar-classes/test-cases/expected.js
  packages/mui-material/src/ImageListItemBar/ImageListItemBar.js
  packages/mui-material/src/ImageListItemBar/ImageListItemBar.test.js
  packages/mui-material/src/ImageListItemBar/imageListItemBarClasses.ts
Labels: component: image list, deprecation

#43048 [system] Make `createBreakpoints` independent for stringify theme
  .codesandbox/ci.json
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-material/src/styles/stringifyTheme.test.ts
  packages/mui-material/src/styles/stringifyTheme.ts
  packages/mui-system/src/Stack/createStack.tsx
  packages/mui-system/src/Unstable_Grid/gridGenerator.test.js
  packages/mui-system/src/Unstable_Grid/gridGenerator.ts
  packages/mui-system/src/Unstable_Grid/traverseBreakpoints.test.ts
  packages/mui-system/src/Unstable_Grid/traverseBreakpoints.ts
  packages/mui-system/src/breakpoints/breakpoints.d.ts
  packages/mui-system/src/createBreakpoints/createBreakpoints.d.ts
  packages/mui-system/src/createBreakpoints/createBreakpoints.js
  packages/mui-system/src/createBreakpoints/createBreakpoints.test.js
  packages/mui-system/src/createBreakpoints/index.d.ts
  packages/mui-system/src/createBreakpoints/index.js
  packages/mui-system/src/createTheme/createTheme.d.ts
  packages/mui-system/src/createTheme/createTheme.js
  packages/mui-system/src/createTheme/index.js
  packages/mui-system/src/cssContainerQueries/cssContainerQueries.ts
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
Labels: package: system, package: material-ui, nextjs, package: pigment-css

#43057 v5.16.5
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#43051 [utils] Fix issues reported by the React Compiler
  packages/mui-utils/src/useControlled/useControlled.js
  packages/mui-utils/src/useForkRef/useForkRef.ts
  packages/mui-utils/src/useId/useId.ts
  packages/mui-utils/src/useOnMount/useOnMount.ts
Labels: package: utils

#43069 Bump Pigment CSS to 0.0.18
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  package.json
  packages/mui-material-pigment-css/package.json
  pnpm-lock.yaml
Labels: dependencies

#43072 [material-ui][docs] Polish out data table demo
  docs/data/material/components/table/DataTable.js
  docs/data/material/components/table/DataTable.tsx
  docs/data/material/components/table/DataTable.tsx.preview
  docs/data/material/components/table/table.md
Labels: docs, package: material-ui, component: data grid, design

#42944 [docs-infra] Move ads to the `@mui/docs` package
  docs/nextConfigDocsInfra.js
  docs/package.json
  docs/pages/_app.js
  docs/src/modules/components/Ad.tsx
  docs/src/modules/components/AdInHouse.tsx
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/Demo.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/MarkdownDocsV2.js
  docs/src/modules/utils/loadScript.js
  docs/types/ga.d.ts
  packages/mui-docs/package.json
  packages/mui-docs/src/Ad/Ad.tsx
  packages/mui-docs/src/Ad/AdCarbon.tsx
  packages/mui-docs/src/Ad/AdDisplay.tsx
  packages/mui-docs/src/Ad/AdGuest.tsx
  packages/mui-docs/src/Ad/AdInHouse.tsx
  packages/mui-docs/src/Ad/AdManager.tsx
  packages/mui-docs/src/Ad/AdProvider.tsx
  packages/mui-docs/src/Ad/ad.styles.ts
  packages/mui-docs/src/Ad/index.ts
  packages/mui-docs/src/DocsProvider/DocsProvider.tsx
  packages/mui-docs/src/utils/loadScript.ts
  packages/mui-docs/tsconfig.json
  pnpm-lock.yaml
Labels: scope: docs-infra

#43082 [website] Fine-tune button styles on the branding theme
  docs/pages/experiments/website/branding-theme-test.tsx
  docs/src/components/footer/EmailSubscribe.tsx
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: design, website

#42914 [material-ui][Accordion] Render a heading wrapping `AccordionSummary` button per W3C Accordion Pattern standards
  docs/data/material/components/accordion/accordion.md
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  docs/pages/material-ui/api/accordion.json
  docs/translations/api-docs/accordion/accordion.json
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/Accordion/Accordion.spec.tsx
  packages/mui-material/src/Accordion/Accordion.test.js
  packages/mui-material/src/Accordion/accordionClasses.ts
Labels: bug 🐛, accessibility, breaking change, component: accordion, package: material-ui

#43077 [docs][material-ui][Snackbar] Improve reason type in demos
  docs/data/material/components/snackbars/AutohideSnackbar.tsx
  docs/data/material/components/snackbars/ConsecutiveSnackbars.tsx
  docs/data/material/components/snackbars/CustomizedSnackbars.tsx
  docs/data/material/components/snackbars/SimpleSnackbar.tsx
Labels: docs, component: snackbar, package: material-ui, enhancement, needs cherry-pick

#43035 [material-ui] Attach selector for default color scheme
  packages/mui-material/src/styles/createGetSelector.ts
  packages/mui-material/src/styles/extendTheme.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/prepareCssVars.test.ts
  packages/mui-system/src/cssVars/prepareCssVars.ts
Labels: bug 🐛, package: material-ui, v6.x

#43110 [docs][material-ui] Replace deprecated `<ListItem button/>` with `ListItemButton` component in routing libraries list example
  docs/data/material/integrations/routing/ListRouter.js
  docs/data/material/integrations/routing/ListRouter.tsx
Labels: docs, component: list, package: material-ui, needs cherry-pick

#43107 [docs][pigment-css] Fix syntax in migrating-to-pigment-css guide
  docs/data/material/migration/migrating-to-v6/migrating-to-pigment-css.md
Labels: docs, package: pigment-css

#43067 [docs][material-ui][Card] Update CardMedia description
  docs/data/material/components/cards/cards.md
Labels: bug 🐛, docs, component: card, package: material-ui, needs cherry-pick

#43111 [release] v6.0.0-beta.4
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#43112 [release] v5.16.6
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#43116 [typescript] Update the minimum supported version
  docs/data/material/components/about-the-lab/about-the-lab.md
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  docs/data/material/guides/typescript/typescript.md
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
Labels: typescript

#43108 Fix resolution of @mui/material-ui in docs
  docs/data/material/components/autocomplete/AutocompleteHint.js
  docs/data/material/components/autocomplete/AutocompleteHint.tsx
  docs/data/material/components/box/BoxSx.js
  docs/data/material/components/box/BoxSx.tsx
  docs/data/material/components/cards/ActionAreaCard.js
  docs/data/material/components/cards/ActionAreaCard.tsx
  docs/data/material/components/cards/MultiActionAreaCard.js
  docs/data/material/components/cards/MultiActionAreaCard.tsx
  docs/data/material/components/masonry/MasonryWithVariableHeightItems.js
  docs/data/material/components/masonry/MasonryWithVariableHeightItems.tsx
  docs/data/material/customization/palette/AddingColorTokens.js
  docs/data/material/customization/palette/AddingColorTokens.tsx
  docs/data/material/customization/palette/ManuallyProvideCustomColor.js
  docs/data/material/customization/palette/ManuallyProvideCustomColor.tsx
  docs/data/material/customization/palette/ManuallyProvidePaletteColor.js
  docs/data/material/customization/palette/ManuallyProvidePaletteColor.tsx
  docs/data/material/customization/palette/TonalOffset.js
  docs/data/material/customization/palette/TonalOffset.tsx
  docs/data/material/customization/palette/UsingAugmentColor.js
  docs/data/material/customization/palette/UsingAugmentColor.tsx
  docs/data/material/customization/palette/UsingStylesUtils.js
  docs/data/material/customization/palette/UsingStylesUtils.tsx
  docs/data/system/experimental-api/configure-the-sx-prop/ChangeTheBehaviorSxProp.js
  docs/data/system/experimental-api/configure-the-sx-prop/ChangeTheBehaviorSxProp.tsx
  docs/next.config.mjs
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/pages/premium-themes/onepirate/modules/form/FormButton.tsx
Labels: core

#43066 [code-infra] Automate canary releases
  .github/workflows/publish-canaries.yml
  scripts/canaryRelease.mts
Labels: scope: code-infra

#43129 [code-infra] Do not look for changes with previous commit when releasing a canary version
  .github/workflows/publish-canaries.yml
Labels: scope: code-infra
