Repository mui/material-ui, pull requests merged in 2024-08, with the labels that each got.

#42879 [docs] Support inject dynamic theme
  docs/src/modules/components/DemoSandbox.js
Labels: docs

#43061 [blog] Announcing pricing changes Sep 2024
  docs/notifications.json
  docs/pages/blog/mui-x-sep-2024-price-update.js
  docs/pages/blog/mui-x-sep-2024-price-update.md
Labels: blog, MUI X

#43123 [website] Add blog link to pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, needs cherry-pick

#43141 [website] Fix wrong link in pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, needs cherry-pick

#43132 [material-ui] Element ref access React 19 compatibility
  packages/mui-base/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/Portal/Portal.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-material/src/Fade/Fade.js
  packages/mui-material/src/Grow/Grow.js
  packages/mui-material/src/Portal/Portal.tsx
  packages/mui-material/src/Select/Select.js
  packages/mui-material/src/Slide/Slide.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
  packages/mui-material/src/Zoom/Zoom.js
  packages/mui-material/src/utils/getChildRef.d.ts
  packages/mui-material/src/utils/getChildRef.js
  packages/mui-utils/src/getReactNodeRef/getReactNodeRef.ts
  packages/mui-utils/src/getReactNodeRef/index.ts
  packages/mui-utils/src/index.ts
  packages/mui-utils/src/useForkRef/useForkRef.test.js
Labels: package: material-ui, React 19 support

#43125 [codemod] Fix codemod crash on MuiDivider property
  packages/mui-codemod/src/deprecations/divider-props/divider-props.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/divider-props/test-cases/theme.expected.js
Labels: package: codemod, core

#43021 [docs] Polish migration guide
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/data/material/migration/migrating-to-v6/migrating-to-pigment-css.md
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  docs/data/system/migration/migrating-to-v6/migrating-to-v6.md
Labels: docs

#43150 [code-infra] Fix `@mui/internal-test-utils` `screen` export type
  packages-internal/test-utils/src/createRenderer.tsx
Labels: test, scope: code-infra

#43149 [docs-infra] Move `ApiPage` to TS
  docs/package.json
  docs/src/modules/components/ApiPage.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/list/SlotsList.tsx
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.js
  docs/src/modules/components/ApiPage/sections/PropertiesSection.tsx
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
  docs/src/modules/utils/helpers.ts
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/index.ts
  packages/api-docs-builder/types/ApiBuilder.types.ts
  packages/api-docs-builder/utils/generateApiTranslation.ts
  packages/mui-docs/src/MarkdownElement/MarkdownElement.tsx
  packages/mui-docs/src/SectionTitle/SectionTitle.tsx
  packages/mui-docs/src/i18n/i18n.tsx
  pnpm-lock.yaml
Labels: typescript, scope: docs-infra

#43156 [test] Make conformance tests work with async render function
  packages-internal/test-utils/src/describeConformance.tsx
  packages-internal/test-utils/src/flushMicrotasks.ts
  packages/mui-base/src/Menu/Menu.test.tsx
  packages/mui-base/src/Select/Select.test.tsx
  packages/mui-base/test/describeConformanceUnstyled.tsx
Labels: test, scope: code-infra

#43151 [website] Add icons to core page products
  docs/src/components/productCore/CoreProducts.tsx
Labels: design, website

#42952 [docs] Link Toolpad core docs to the docs menu
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/icons/SvgToolpadCoreLogo.tsx
  docs/src/icons/SvgToolpadStudioLogo.tsx
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/route.ts
Labels: docs

#43155 [material-ui] Make tests compatible with React 19
  packages-internal/test-utils/src/createRenderer.tsx
  packages-internal/test-utils/src/fireDiscreteEvent.ts
  packages-internal/test-utils/src/index.ts
  packages-internal/test-utils/src/reactMajor.ts
  packages-internal/test-utils/src/userEvent.ts
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
  packages/mui-base/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-lab/src/Masonry/Masonry.test.js
  packages/mui-material/src/Accordion/Accordion.test.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/Grid/Grid.test.js
  packages/mui-material/src/IconButton/IconButton.test.js
  packages/mui-material/src/InputBase/InputBase.test.js
  packages/mui-material/src/ListItem/ListItem.test.js
  packages/mui-material/src/Menu/Menu.test.js
  packages/mui-material/src/Popover/Popover.test.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Tabs/Tabs.test.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
  packages/mui-material/src/internal/SwitchBase.test.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-styles/src/makeStyles/makeStyles.test.js
  packages/mui-utils/src/elementAcceptingRef/elementAcceptingRef.test.tsx
Labels: package: material-ui, React 19 support

#43115 [material-ui] Merge `CssVarsProvider` into `ThemeProvider`
  docs/public/static/error-codes.json
  packages/mui-material/src/Chip/Chip.test.js
  packages/mui-material/src/CssBaseline/CssBaseline.js
  packages/mui-material/src/styles/ThemeProvider.d.ts
  packages/mui-material/src/styles/ThemeProvider.js
  packages/mui-material/src/styles/ThemeProvider.test.tsx
  packages/mui-material/src/styles/ThemeProvider.tsx
  packages/mui-material/src/styles/ThemeProviderNoVars.tsx
  packages/mui-material/src/styles/ThemeProviderWithVars.spec.tsx
  packages/mui-material/src/styles/ThemeProviderWithVars.test.js
  packages/mui-material/src/styles/ThemeProviderWithVars.tsx
  packages/mui-material/src/styles/createColorScheme.ts
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-material/src/styles/createTheme.ts
  packages/mui-material/src/styles/createThemeNoVars.d.ts
  packages/mui-material/src/styles/createThemeNoVars.js
  packages/mui-material/src/styles/createThemeWithVars.d.ts
  packages/mui-material/src/styles/createThemeWithVars.js
  packages/mui-material/src/styles/createTransitions.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/extendTheme.test.js
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
  packages/mui-material/src/styles/stringifyTheme.test.ts
  packages/mui-material/src/themeCssVarsAugmentation/index.d.ts
  packages/mui-system/src/InitColorSchemeScript/InitColorSchemeScript.test.js
  packages/mui-system/src/InitColorSchemeScript/InitColorSchemeScript.tsx
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.test.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.ts
Labels: package: material-ui, v6.x, customization: theme

#43193 [core] Remove unnecessary types packages from `@mui/internal-babel-macros`
  packages/mui-babel-macros/MuiError.macro.js
  packages/mui-babel-macros/package.json
  pnpm-lock.yaml
Labels: core

#43194 [docs] Fix alpha usage
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DiamondSponsors.js
Labels: docs

#43195 [docs] Fix the link test script
  docs/.link-check-errors.txt
  docs/scripts/reportBrokenLinks.js
Labels: scope: docs-infra

#43189 [material-ui][Autocomplete] Fix default value for multiple mode getting redefined with React 19
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-base/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.test.js
Labels: package: material-ui, component: autocomplete, React 19 support

#43201 [core] Remove `react-router` package from `pigment-css-vite-app`
  apps/pigment-css-vite-app/package.json
  pnpm-lock.yaml
Labels: core

#43204 [core] Replace JSX namespace usages with React.JSX
  docs/data/base/components/select/select.md
  docs/src/components/animation/FlashCode.tsx
Labels: typescript, core, React 19 support

#43205 [core] Patch styled-components to use React.JSX namespace
  package.json
  patches/styled-components@6.1.12.patch
  pnpm-lock.yaml
Labels: typescript, dependencies, core, React 19 support

#43190 [material-ui][mui-system] Add support for version runtime checks
  babel.config.js
  package.json
  packages/mui-material/src/index.d.ts
  packages/mui-material/src/index.js
  packages/mui-material/src/index.test.js
  packages/mui-material/src/version/index.ts
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  packages/mui-system/src/version/index.ts
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/utils.mjs
Labels: package: system, package: material-ui

#43211 [test] Remove unnecessary prop type check in test
  packages/mui-lab/src/Masonry/Masonry.test.js
Labels: test, React 19 support

#43218 [material-pigment-css] Reexport Pigment CSS from index file
  docs/data/material/migration/migrating-to-v6/migrating-to-pigment-css.md
  packages/mui-material-pigment-css/src/index.ts
  packages/mui-material-pigment-css/src/theme.ts
Labels: typescript, package: material-ui

#43219 Bump Pigment CSS to 0.0.20
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  package.json
  packages/mui-material-pigment-css/package.json
  pnpm-lock.yaml
Labels: dependencies

#41566 [material-ui][ListItem] Removing deprecated props
  docs/data/material/getting-started/templates/blog/theme/customizations/menus.js
  docs/data/material/getting-started/templates/blog/theme/customizations/menus.tsx
  docs/data/material/getting-started/templates/dashboard/theme/customizations/menus.js
  docs/data/material/getting-started/templates/dashboard/theme/customizations/menus.tsx
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  docs/pages/material-ui/api/list-item.json
  docs/translations/api-docs/list-item/list-item.json
  packages/mui-codemod/src/v6.0.0/all/v6-all.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/index.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/list-item-button-prop.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/list-item-button-prop.test.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/test-cases/actual.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/test-cases/expected.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/test-cases/theme.actual.js
  packages/mui-codemod/src/v6.0.0/list-item-button-prop/test-cases/theme.expected.js
  packages/mui-material/src/ListItem/ListItem.d.ts
  packages/mui-material/src/ListItem/ListItem.js
  packages/mui-material/src/ListItem/ListItem.spec.tsx
  packages/mui-material/src/ListItem/ListItem.test.js
  packages/mui-material/src/ListItem/listItemClasses.ts
  test/integration/material-ui/components.spec.tsx
Labels: component: list, package: material-ui

#43224 [release] v6.0.0-beta.5
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#43128 [docs-infra] Simplify API sections typing
  docs/src/modules/components/ApiPage.tsx
  docs/src/modules/components/ApiPage/definitions/classes.ts
  docs/src/modules/components/ApiPage/definitions/properties.ts
  docs/src/modules/components/ApiPage/definitions/slots.ts
  docs/src/modules/components/ApiPage/list/ClassesList.tsx
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/list/SlotsList.tsx
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.tsx
  docs/src/modules/components/ApiPage/sections/SlotsSection.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/HooksApiContent.js
  docs/src/modules/components/MarkdownDocsV2.js
  packages/api-docs-builder/types/ApiBuilder.types.ts
  packages/markdown/index.d.ts
Labels: typescript, scope: docs-infra

#43209 fix(docs): missing and incorrect scripts
  docs/README.md
Labels: docs

#42767 [docs-infra] Fix broken sandboxes with relative module imports
  docs/src/modules/sandbox/CodeSandbox.ts
  docs/src/modules/sandbox/FlattenRelativeImports.ts
  docs/src/modules/sandbox/StackBlitz.ts
  docs/src/modules/sandbox/types.ts
  pnpm-lock.yaml
Labels: bug 🐛, regression, scope: docs-infra

#43120 [core] Refactor system theme props
  packages/mui-system/src/useThemeProps/useThemeProps.js
  packages/mui-utils/src/resolveProps/resolveProps.ts
Labels: core

#43233 [material-ui][mui-system] Cherry-pick: Add support for version runtime checks (#43190)
  babel.config.js
  package.json
  packages/mui-material/src/index.d.ts
  packages/mui-material/src/index.js
  packages/mui-material/src/index.test.js
  packages/mui-material/src/version/index.ts
  packages/mui-system/src/index.d.ts
  packages/mui-system/src/index.js
  packages/mui-system/src/version/index.ts
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/utils.mjs
Labels: package: system, package: material-ui, cherry-pick

#43239 [release] v5.16.7
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#41330 [docs][material-ui] Fix Material Icon search lag and other improvements
  docs/data/material/components/material-icons/SearchIcons.js
Labels: docs, performance, package: material-ui

#43236 [examples] Replace wrong import with `@mui/material/styles`
  examples/material-ui-vite-ts/src/main.tsx
Labels: examples

#43234 [core] Use fs instead of fs-extra in script utils
  scripts/utils.mjs
Labels: core

#43217 [docs] Fix Pigment CSS migration content
  docs/data/material/migration/migrating-to-v6/migrating-to-pigment-css.md
Labels: docs

#43247 [docs][joy-ui] Fix data grid redirection
  docs/data/joy/components/grid/grid.md
Labels: docs, package: joy-ui

#43223 [mui-system] Add import statement in docs
  docs/data/system/styled/styled.md
Labels: docs, package: system

#43272 [blog] Announcing pricing changes Sep 2024
  docs/notifications.json
  docs/pages/blog/mui-x-sep-2024-price-update.js
  docs/pages/blog/mui-x-sep-2024-price-update.md
Labels: blog, MUI X, cherry-pick

#43237 [material-ui][pigment-css] Fix `getSelector` prefers-color-scheme to be object
  packages/mui-material/src/styles/createGetSelector.ts
  packages/mui-material/src/styles/extendTheme.test.js
  packages/mui-system/src/cssVars/prepareCssVars.ts
Labels: package: material-ui, v6.x

#43269 [material-ui][useMediaQuery] Adapt test implementation for React 19
  packages/mui-material/src/useMediaQuery/useMediaQuery.test.js
Labels: package: material-ui, hook: useMediaQuery, React 19 support

#43271 [IconButton] Fix hover background color behavior
  packages/mui-material/src/IconButton/IconButton.js
  packages/mui-material/src/IconButton/IconButton.test.js
Labels: bug 🐛, component: icon button

#43065 [examples] Add material-ui-pigment-css for Next.js and Vite
  .eslintrc.js
  examples/material-ui-pigment-css-nextjs-ts/.gitignore
  examples/material-ui-pigment-css-nextjs-ts/README.md
  examples/material-ui-pigment-css-nextjs-ts/next-env.d.ts
  examples/material-ui-pigment-css-nextjs-ts/next.config.mjs
  examples/material-ui-pigment-css-nextjs-ts/package.json
  examples/material-ui-pigment-css-nextjs-ts/public/.gitkeep
  examples/material-ui-pigment-css-nextjs-ts/src/app/favicon.ico
  examples/material-ui-pigment-css-nextjs-ts/src/app/layout.tsx
  examples/material-ui-pigment-css-nextjs-ts/src/app/page.tsx
  examples/material-ui-pigment-css-nextjs-ts/src/material-ui-pigment-css.d.ts
  examples/material-ui-pigment-css-nextjs-ts/tsconfig.json
  examples/material-ui-pigment-css-vite-ts/.gitignore
  examples/material-ui-pigment-css-vite-ts/README.md
  examples/material-ui-pigment-css-vite-ts/index.html
  examples/material-ui-pigment-css-vite-ts/package.json
  examples/material-ui-pigment-css-vite-ts/public/vite.svg
  examples/material-ui-pigment-css-vite-ts/src/App.tsx
  examples/material-ui-pigment-css-vite-ts/src/main.tsx
  examples/material-ui-pigment-css-vite-ts/src/material-ui-pigment-css.d.ts
  examples/material-ui-pigment-css-vite-ts/src/vite-env.d.ts
  examples/material-ui-pigment-css-vite-ts/tsconfig.app.json
  examples/material-ui-pigment-css-vite-ts/tsconfig.json
  examples/material-ui-pigment-css-vite-ts/tsconfig.node.json
  examples/material-ui-pigment-css-vite-ts/vite.config.ts
Labels: package: material-ui, examples, package: pigment-css

#43240 [test] Update `matchMedia` mocks
  docs/data/material/components/use-media-query/use-media-query.md
  packages-internal/test-utils/src/describeConformance.tsx
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-material/src/styles/ThemeProvider.test.tsx
  packages/mui-material/src/styles/ThemeProviderWithVars.test.js
  packages/mui-material/src/styles/extendTheme.test.js
  packages/mui-system/src/InitColorSchemeScript/InitColorSchemeScript.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.test.js
  test/integration/mui-system/theme-scoping.test.tsx
Labels: test, scope: code-infra

#43276 [material-ui][mui-system] Refactor types so they're compatible with upcoming React 19
  docs/data/joy/components/input/DebouncedInput.js
  docs/data/joy/components/input/DebouncedInput.tsx
  docs/data/joy/components/snackbar/SnackbarHideDuration.js
  docs/data/joy/components/snackbar/SnackbarHideDuration.tsx
  docs/data/material/components/progress/CircularIntegration.js
  docs/data/material/components/progress/CircularIntegration.tsx
  docs/data/material/components/progress/DelayingAppearance.js
  docs/data/material/components/progress/DelayingAppearance.tsx
  docs/pages/base-ui/api/use-autocomplete.json
  docs/src/components/animation/FlashCode.tsx
  docs/src/modules/components/JoyThemeBuilder.tsx
  packages/mui-base/src/Button/Button.tsx
  packages/mui-base/src/Tab/Tab.tsx
  packages/mui-base/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-base/src/useButton/useButton.ts
  packages/mui-base/src/useCompound/useCompound.test.tsx
  packages/mui-base/src/useCompound/useCompoundParent.ts
  packages/mui-base/src/useMenu/menuReducer.ts
  packages/mui-base/src/useMenuItem/useMenuItem.types.ts
  packages/mui-base/src/useOption/useOption.types.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-base/src/useTabs/TabsProvider.tsx
  packages/mui-base/src/useTabs/useTabs.ts
  packages/mui-base/src/utils/useMessageBus.ts
  packages/mui-base/test/describeConformanceUnstyled.tsx
  packages/mui-docs/src/Ad/Ad.tsx
  packages/mui-docs/src/CodeCopy/useClipboardCopy.ts
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
  packages/mui-joy/src/ButtonGroup/ButtonGroup.tsx
  packages/mui-joy/src/Card/Card.tsx
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/Tab/Tab.tsx
  packages/mui-joy/src/ToggleButtonGroup/ToggleButtonGroup.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/Slider/useSlider.ts
  packages/mui-material/src/styles/styled.spec.tsx
  packages/mui-material/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-system/src/Grid/createGrid.tsx
  packages/mui-utils/src/setRef/setRef.spec.tsx
Labels: package: system, package: material-ui, React 19 support

#43282 [utils][test] Remove unnecessary ref param
  packages/mui-utils/src/getDisplayName/getDisplayName.test.tsx
Labels: test, package: utils, React 19 support

#43199 [docs-infra] Move API pages to TS
  docs/src/modules/components/ApiPage.tsx
  docs/src/modules/components/ApiPage/definitions/properties.ts
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/sections/PropertiesSection.tsx
  docs/src/modules/components/ComponentsApiContent.tsx
  docs/src/modules/components/HooksApiContent.tsx
  packages-internal/docs-utils/src/ComponentClassDefinition.ts
  packages/api-docs-builder/ProjectSettings.ts
  packages/api-docs-builder/index.ts
  packages/api-docs-builder/types/ApiBuilder.types.ts
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
Labels: scope: docs-infra

#43284 [website] Replace React.MutableRefObject with React.RefObject
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productMaterial/MaterialStyling.tsx
Labels: typescript, website

#43285 [docs-infra] Fix some TS issues for X docs
  docs/src/modules/components/ApiPage.tsx
  docs/src/modules/components/AppLayoutDocs.d.ts
Labels: scope: docs-infra

#43118 [styles] Fix issues reported by eslint-plugin-react-compiler
  packages/mui-styles/src/StylesProvider/StylesProvider.js
  packages/mui-styles/src/makeStyles/makeStyles.js
  packages/mui-styles/src/makeStyles/makeStyles.spec.tsx
  packages/mui-styles/src/withStyles/withStyles.js
Labels: core

#43291 [codemod] Skip sx spread transformation
  packages/mui-codemod/src/v6.0.0/sx-prop/sx-v6.js
  packages/mui-codemod/src/v6.0.0/sx-prop/sx-v6.test.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-inheritance.actual.js
  packages/mui-codemod/src/v6.0.0/sx-prop/test-cases/sx-inheritance.expected.js
Labels: package: codemod, v6.x

#43286 [docs/perf] Update babel config
  docs/babel.config.js
Labels: docs, performance, core

#43288 [Typography] Replace dot notation color value to work with Pigment CSS
  docs/pages/material-ui/api/link.json
  docs/pages/material-ui/api/typography.json
  docs/translations/api-docs/typography/typography.json
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.js
  packages/mui-material/src/CardHeader/CardHeader.js
  packages/mui-material/src/DialogContentText/DialogContentText.js
  packages/mui-material/src/DialogContentText/DialogContentText.spec.tsx
  packages/mui-material/src/InputAdornment/InputAdornment.js
  packages/mui-material/src/Link/Link.js
  packages/mui-material/src/Link/getTextDecoration.test.js
  packages/mui-material/src/Link/getTextDecoration.ts
  packages/mui-material/src/ListItemText/ListItemText.js
  packages/mui-material/src/Typography/Typography.d.ts
  packages/mui-material/src/Typography/Typography.js
  packages/mui-material/src/Typography/typography.spec.tsx
Labels: component: Typography, package: material-ui, v6.x

#43290 [docs][material-ui][Popover] Fix description and title of hover interaction section
  docs/data/material/components/popover/MouseHoverPopover.js
  docs/data/material/components/popover/MouseHoverPopover.tsx
  docs/data/material/components/popover/popover.md
Labels: docs, component: Popover, package: material-ui

#43241 [material-ui][Divider] Add aria-orientation
  docs/data/material/components/dividers/VerticalDividerMiddle.js
  docs/data/material/components/dividers/VerticalDividerMiddle.tsx
  docs/data/material/components/dividers/VerticalDividers.js
  docs/data/material/components/dividers/VerticalDividers.tsx
  docs/data/material/components/dividers/dividers.md
  docs/data/material/migration/migrating-to-v6/migrating-to-v6.md
  packages/mui-material/src/Divider/Divider.js
  packages/mui-material/src/Divider/Divider.test.js
Labels: accessibility, breaking change, component: divider, package: material-ui

#43316 [examples] Fix import
  apps/pigment-css-next-app/src/app/material-ui/react-popover/page.tsx
Labels: bug 🐛, examples

#43315 [core] Update supported Node.js version to 14
  .github/workflows/ci.yml
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  packages/mui-material/package.json
  packages/mui-utils/package.json
Labels: docs, breaking change, dependencies, v6.x migration

#43304 [code-infra] Fix utils bundle size entrypoint
  scripts/sizeSnapshot/webpack.config.js
Labels: scope: code-infra

#43212 [docs] Update LTS to match format
  SECURITY.md
  docs/data/material/getting-started/support/support.md
Labels: docs

#43292 [core] Pin `eslint-plugin-jsx-a11y` version to 6.7.1
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/MaterialShowcase.js
  package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#43320 [code-infra] Remove unnecessary alias
  scripts/sizeSnapshot/webpack.config.js
Labels: scope: code-infra

#43216 [core] Add React 19 as peer dependency
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: dependencies, core

#43226 [website] Update showcase to include Toolpad Core
  docs/src/components/home/ProductsSwitcher.tsx
  docs/src/components/home/ToolpadCoreShowcaseDemo.tsx
  docs/src/components/home/ToolpadShowcase.tsx
  docs/src/route.ts
Labels: website

#43326 [core] Set Node 14 as minimum version in all browserslist envs
  .browserslistrc
Labels: core

#43321 [docs] Fix outdated references to Materal UI version
  docs/data/material/customization/theme-components/theme-components.md
  docs/data/material/getting-started/overview/overview.md
  examples/material-ui-cra-tailwind-ts/README.md
  examples/material-ui-cra-ts/README.md
  examples/material-ui-cra/README.md
  examples/material-ui-express-ssr/README.md
  examples/material-ui-gatsby/README.md
  examples/material-ui-nextjs-pages-router-ts/README.md
  examples/material-ui-nextjs-pages-router/README.md
  examples/material-ui-nextjs-ts-v4-v5-migration/README.md
  examples/material-ui-preact/README.md
  examples/material-ui-remix-ts/README.md
  examples/material-ui-vite-ts/README.md
  examples/material-ui-vite/README.md
Labels: bug 🐛, docs, v6.x

#43307 [material-ui] Remove `display="block"` usage to work with Pigment CSS
  packages/mui-material/src/CardHeader/CardHeader.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
  packages/mui-material/src/ListItemText/ListItemText.js
Labels: package: pigment-css

#43281 [core] Fix Netlify build cache issue
  netlify.toml
Labels: core, scope: code-infra

#43314 [material-ui][Autocomplete] Remove autocomplete warning regarding value not equal to option
  docs/data/material/components/autocomplete/autocomplete.md
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.js
Labels: bug 🐛, package: material-ui, component: autocomplete

#43313 [code-infra] Remove `userEvent` export from `@mui/internal-test-utils`
  packages-internal/test-utils/src/index.ts
  packages-internal/test-utils/src/userEvent.ts
Labels: test, breaking change, scope: code-infra

#43329 6.0.0-beta.6
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#43359 [material-ui][ListItem] Remove unnecessary TypeScript test
  packages/mui-material/src/ListItem/ListItem.spec.tsx
Labels: component: list, typescript, package: material-ui

#43139 [docs] Add cache to avoid unnecessary jsx dynamic import and theme getting
  docs/src/modules/components/DemoSandbox.js
Labels: scope: docs-infra

#42883 [core] Replace `indexOf` with `includes`
  docs/data/material/customization/color/Color.js
  docs/data/material/getting-started/supported-components/MaterialUIComponents.js
  docs/pages/_app.js
  docs/pages/versions.js
  docs/scripts/updateIconSynonyms.js
  docs/src/components/icon/IconImage.tsx
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/sandbox/Dependencies.ts
  docs/src/modules/utils/find.mjs
  docs/src/modules/utils/helpers.ts
  docs/src/pages/versions/ReleasedVersions.js
  packages/markdown/parseMarkdown.js
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-base/src/useList/listReducer.ts
  packages/mui-base/src/useSlider/useSlider.ts
  packages/mui-codemod/src/v0.15.0/import-path.js
  packages/mui-docs/src/Link/Link.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Slider/Slider.tsx
  packages/mui-joy/src/styles/styleUtils.ts
  packages/mui-material/src/CardMedia/CardMedia.js
  packages/mui-material/src/Drawer/Drawer.js
  packages/mui-material/src/Grid/Grid.js
  packages/mui-material/src/MenuList/MenuList.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-material/src/styles/createThemeNoVars.js
  packages/mui-material/src/usePagination/usePagination.js
  packages/mui-styles/src/createGenerateClassName/createGenerateClassName.js
  packages/mui-system/src/Grid/traverseBreakpoints.ts
  packages/mui-system/src/breakpoints/breakpoints.js
  packages/mui-system/src/colorManipulator/colorManipulator.js
  packages/mui-system/src/spacing/spacing.js
Labels: core

#43306 [perf] Remove system allocations
  packages/mui-system/src/createStyled/createStyled.js
Labels: performance, package: system

#43363 [perf] Improve `composeClasses`
  packages/mui-utils/src/composeClasses/composeClasses.test.ts
  packages/mui-utils/src/composeClasses/composeClasses.ts
Labels: performance

#43361 [docs-infra] Fix copy shortcut
  packages/mui-docs/src/CodeCopy/CodeCopy.tsx
Labels: bug 🐛, scope: docs-infra

#43302 [codemod] Add Grid2 to removeSystemProps codemod
  packages/mui-codemod/src/v6.0.0/system-props/removeSystemProps.js
  packages/mui-codemod/src/v6.0.0/system-props/test-cases/system-props.actual.js
  packages/mui-codemod/src/v6.0.0/system-props/test-cases/system-props.expected.js
Labels: package: codemod

#43266 [docs][material-ui] Revamp `Composition` guide
  docs/data/material/components/tooltips/tooltips.md
  docs/data/material/guides/composition/composition.md
  docs/data/material/integrations/routing/ListRouter.js
  docs/data/material/integrations/routing/ListRouter.tsx
Labels: docs, package: material-ui

#43366 [core] Enable manage-package-manager-versions pnpm flag
  .npmrc
Labels: core

#43130 [docs] Update CSS theme variables related content
  docs/.link-check-errors.txt
  docs/data/material/customization/css-theme-variables/DisableTransitionOnChange.js
  docs/data/material/customization/css-theme-variables/DisableTransitionOnChange.tsx
  docs/data/material/customization/css-theme-variables/configuration.md
  docs/data/material/customization/css-theme-variables/overview.md
  docs/data/material/customization/css-theme-variables/usage.md
  docs/data/material/customization/dark-mode/DarkTheme.js
  docs/data/material/customization/dark-mode/ToggleColorMode.js
  docs/data/material/customization/dark-mode/ToggleColorMode.tsx
  docs/data/material/customization/dark-mode/ToggleColorMode.tsx.preview
  docs/data/material/customization/dark-mode/dark-mode.md
  docs/data/material/customization/palette/palette.md
  docs/data/material/customization/theming/theming.md
  docs/data/material/design-resources/material-ui-sync/material-ui-sync.md
  docs/data/material/migration/upgrade-to-v6/migration-css-theme-variables.md
  docs/data/material/pages.ts
  docs/pages/material-ui/migration/migration-css-theme-variables.js
  docs/public/_redirects
  docs/translations/translations.json
  packages/mui-material/src/styles/ThemeProviderWithVars.tsx
Labels: docs, v6.x

#43228 [docs-infra] Add GitHub source link to components
  docs/data/material/components/accordion/accordion.md
  docs/data/material/components/alert/alert.md
  docs/data/material/components/app-bar/app-bar.md
  docs/data/material/components/autocomplete/autocomplete.md
  docs/data/material/components/avatars/avatars.md
  docs/data/material/components/backdrop/backdrop.md
  docs/data/material/components/badges/badges.md
  docs/data/material/components/bottom-navigation/bottom-navigation.md
  docs/data/material/components/box/box.md
  docs/data/material/components/breadcrumbs/breadcrumbs.md
  docs/data/material/components/button-group/button-group.md
  docs/data/material/components/buttons/buttons.md
  docs/data/material/components/cards/cards.md
  docs/data/material/components/checkboxes/checkboxes.md
  docs/data/material/components/chips/chips.md
  docs/data/material/components/container/container.md
  docs/data/material/components/css-baseline/css-baseline.md
  docs/data/material/components/dialogs/dialogs.md
  docs/data/material/components/dividers/dividers.md
  docs/data/material/components/drawers/drawers.md
  docs/data/material/components/floating-action-button/floating-action-button.md
  docs/data/material/components/grid/grid.md
  docs/data/material/components/grid2/grid2.md
  docs/data/material/components/hidden/hidden.md
  docs/data/material/components/image-list/image-list.md
  docs/data/material/components/links/links.md
  docs/data/material/components/lists/lists.md
  docs/data/material/components/menus/menus.md
  docs/data/material/components/modal/modal.md
  docs/data/material/components/pagination/pagination.md
  docs/data/material/components/paper/paper.md
  docs/data/material/components/popover/popover.md
  docs/data/material/components/popper/popper.md
  docs/data/material/components/progress/progress.md
  docs/data/material/components/radio-buttons/radio-buttons.md
  docs/data/material/components/rating/rating.md
  docs/data/material/components/selects/selects.md
  docs/data/material/components/skeleton/skeleton.md
  docs/data/material/components/slider/slider.md
  docs/data/material/components/snackbars/snackbars.md
  docs/data/material/components/speed-dial/speed-dial.md
  docs/data/material/components/stack/stack.md
  docs/data/material/components/steppers/steppers.md
  docs/data/material/components/switches/switches.md
  docs/data/material/components/table/table.md
  docs/data/material/components/tabs/tabs.md
  docs/data/material/components/text-fields/text-fields.md
  docs/data/material/components/toggle-button/toggle-button.md
  docs/data/material/components/tooltips/tooltips.md
  docs/data/material/components/transitions/transitions.md
  docs/data/material/components/typography/typography.md
  docs/data/material/components/use-media-query/use-media-query.md
  packages/markdown/index.d.ts
  packages/mui-docs/src/ComponentLinkHeader/ComponentLinkHeader.tsx
Labels: docs, scope: docs-infra

#43364 [material-ui] Revert visual regressions from #42283
  packages/mui-material/src/InputBase/InputBase.js
  packages/mui-material/src/StepLabel/StepLabel.js
  test/regressions/fixtures/StepLabel/NoShrinkIcon.js
  test/regressions/fixtures/TextField/ConstrainedTextField.js
Labels: bug 🐛, component: stepper, component: text field, package: material-ui, regression

#43384 [material-ui][Box] Remove `component` from `BoxOwnProps`
  docs/data/material/migration/upgrade-to-v6/upgrade-to-v6.md
  docs/src/components/showcase/FolderTreeView.tsx
  packages/mui-system/src/Box/Box.d.ts
  packages/mui-system/src/Box/Box.spec.tsx
  packages/mui-system/test/typescript/moduleAugmentation/boxSx.spec.tsx
  packages/mui-system/test/typescript/moduleAugmentation/boxSx.tsconfig.json
Labels: breaking change, package: material-ui, component: Box

#43379 [docs] Fix broken link to milestones
  docs/data/material/discover-more/roadmap/roadmap.md
Labels: bug 🐛, docs

#43354 [docs][material-ui][Menu] Replace `PaperProps` with `slotProps.paper` in demos
  docs/data/material/components/menus/AccountMenu.js
  docs/data/material/components/menus/AccountMenu.tsx
  docs/data/material/components/menus/LongMenu.js
  docs/data/material/components/menus/LongMenu.tsx
Labels: docs, component: menu, package: material-ui

#43375 [code-infra] Change docs:start script to serve the exports folder
  docs/package.json
Labels: scope: code-infra

#43386 [core] Run `@mui/system` TypeScript module augmentation tests in CI
  .circleci/config.yml
Labels: typescript, core

#43394 [core] Fix typescript-next CI workflow
  .circleci/config.yml
Labels: core

#43368 [website] Add buzzoid and twicsy as gold sponsors
  docs/data/material/discover-more/backers/backers.md
  docs/public/static/sponsors/twicsy-square.svg
  docs/src/components/home/BacklinkSponsor.tsx
  docs/src/components/home/GoldSponsors.tsx
Labels: website, needs cherry-pick

#42500 [blog] Add video to the Pigment CSS blog post
  docs/pages/blog/introducing-pigment-css.md
  docs/pages/blog/material-ui-v4-is-out.md
Labels: blog, package: pigment-css

#43389 [material-ui] Do not generate CSS variables for a custom spacing function
  packages/mui-material/src/styles/createThemeWithVars.js
  packages/mui-material/src/styles/extendTheme.test.js
Labels: regression, v6.x

#43388 6.0.0-rc.0
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#43294 [code-infra] Babel plugin to fully resolve imported paths
  .codesandbox/ci.json
  babel.config.js
  package.json
  packages-internal/babel-plugin-resolve-imports/README.md
  packages-internal/babel-plugin-resolve-imports/index.js
  packages-internal/babel-plugin-resolve-imports/package.json
  packages-internal/babel-plugin-resolve-imports/resolve.d.ts
  pnpm-lock.yaml
Labels: scope: code-infra

#41932 [blog] Add Material UI v6 stable release
  docs/pages/blog/material-ui-v6-is-out.js
  docs/pages/blog/material-ui-v6-is-out.md
  docs/public/static/blog/material-ui-v6-is-out/dark-templates.png
  docs/public/static/blog/material-ui-v6-is-out/light-templates.png
  docs/src/components/action/Frame.tsx
  docs/src/components/blog/material-ui-v6-is-out/CustomThemeComparison.js
  docs/src/components/blog/material-ui-v6-is-out/FreeTemplatesBento.js
  docs/src/components/blog/material-ui-v6-is-out/ThemeTokens.js
  docs/src/components/productMaterial/MaterialStyling.tsx
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/modules/utils/useResizeHandle.ts
Labels: blog

#42237 [material-ui][Unstable_TrapFocus] Fix `getTabbable` function return type
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.types.ts
Labels: bug 🐛, typescript, package: material-ui, component: FocusTrap

#43399 [material-ui][Pagination] Update `getItemAriaLabel` page param type
  docs/pages/material-ui/api/pagination.json
  packages/mui-material/src/Pagination/Pagination.d.ts
  packages/mui-material/src/Pagination/Pagination.js
Labels: typescript, package: material-ui, component: pagination

#41784 [docs][material-ui] Clarify RTL language support in localization guide
  docs/data/material/guides/localization/localization.md
Labels: docs, package: material-ui

#43392 [website] Make beta chip consistent for Toolpad
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
Labels: website

#43391 [docs] Add two Toolpad Core components to Material UI sidebar
  docs/data/material/pages.ts
  docs/scripts/i18n.ts
Labels: docs

#43436 [button] Add missing customize points for span
  docs/pages/material-ui/api/loading-button.json
  docs/translations/api-docs/loading-button/loading-button.json
  packages/mui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/mui-lab/src/LoadingButton/LoadingButton.js
  packages/mui-lab/src/LoadingButton/loadingButtonClasses.ts
  packages/mui-material/src/utils/index.d.ts
  packages/mui-material/src/utils/index.js
Labels: bug 🐛, component: button, regression, customization: slot

#43439 [docs] Fix CSS theme variables section
  docs/data/material/integrations/nextjs/nextjs.md
Labels: docs, v6.x

#42712 [docs] Update pnpm order, move to second
  docs/data/base/getting-started/quickstart/quickstart.md
  docs/data/joy/customization/right-to-left/right-to-left.md
  docs/data/joy/getting-started/installation/installation.md
  docs/data/material/components/about-the-lab/about-the-lab.md
  docs/data/material/components/icons/icons.md
  docs/data/material/components/material-icons/material-icons.md
  docs/data/material/components/typography/typography.md
  docs/data/material/customization/right-to-left/right-to-left.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/material/integrations/nextjs/nextjs.md
  docs/data/material/migration/upgrade-to-v6/migrating-to-pigment-css.md
  docs/data/material/migration/upgrade-to-v6/upgrade-to-v6.md
  docs/data/system/getting-started/installation/installation.md
  docs/pages/blog/introducing-base-ui.md
  docs/pages/experiments/docs/codeblock.md
Labels: docs

#43287 [docs] Add `Material UI v6 is out!` to the notifications
  docs/notifications.json
Labels: docs, on hold

#43445 [core] Allow `^6.0.0` for `@mui/` dependencies in `@mui/docs`
  packages/mui-docs/package.json
  pnpm-lock.yaml
Labels: core, scope: docs-infra

#43444 [docs] Updated mui-x roadmap links with the new project URL
  docs/pages/blog/2020-q3-update.md
  docs/pages/blog/2021-developer-survey-results.md
  docs/pages/blog/2021-q1-update.md
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/2021-q3-update.md
  docs/pages/blog/danail-hadjiatanasov-joining.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/blog/mui-x-v5.md
  docs/pages/blog/mui-x-v6-alpha-zero.md
  docs/pages/blog/mui-x-v6.md
  docs/pages/blog/mui-x-v7.md
  docs/pages/blog/premium-plan-release.md
  docs/pages/blog/spotlight-damien-tassone.md
  docs/src/route.ts
Labels: docs, needs cherry-pick

#43447 Prepare for moving to v5.x branch
  docs/package.json
  docs/public/_redirects
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/featureToggle.js
Labels: core

#43451 [ci] Fix the release:changelog cmd
  scripts/releaseChangelog.mjs
Labels: core

#43144 [docs] Fix broken links
  docs/.link-check-errors.txt
  docs/data/material/customization/creating-themed-components/creating-themed-components.md
  docs/data/material/migration/migration-grid-v2/migration-grid-v2.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
  docs/data/system/styled/styled.md
  docs/pages/blog/mui-core-v5.md
Labels: bug 🐛, docs

#43358 [material-ui] Change React.ReactElement<any,any> type from any to unknown
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Dialog/Dialog.d.ts
  packages/mui-material/src/Fade/Fade.d.ts
  packages/mui-material/src/FormControlLabel/FormControlLabel.d.ts
  packages/mui-material/src/Grow/Grow.d.ts
  packages/mui-material/src/NativeSelect/NativeSelect.d.ts
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Select/Select.d.ts
  packages/mui-material/src/Slide/Slide.d.ts
  packages/mui-material/src/Snackbar/Snackbar.d.ts
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/StepContent/StepContent.d.ts
  packages/mui-material/src/Stepper/Stepper.d.ts
  packages/mui-material/src/Tooltip/Tooltip.d.ts
  packages/mui-material/src/Zoom/Zoom.d.ts
Labels: typescript, React 19 support

#43450 [infra] Add closing message workflow
  .github/workflows/closed-issue-message.yml
  .github/workflows/support-stackoverflow.yml
Labels: enhancement, scope: infra

#43438 [blog] Polish Upcoming changes to MUI X pricing in 2024
  docs/pages/blog/mui-x-sep-2024-price-update.md
Labels: blog, MUI X

#43463 v6.0.0
  CHANGELOG.md
  package.json
  packages-internal/babel-plugin-resolve-imports/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#43448 [docs] Add Material UI v6 is out! to the notifications
  docs/notifications.json
Labels: docs, v6.x

#43465 [blog] Add missing social card to the blog post
  docs/public/static/blog/material-ui-v6-is-out/card.png
Labels: blog

#43407 [blog] Update Toolpad Studio marketing page links in the blogs
  docs/pages/blog/2023-toolpad-beta-announcement.md
  docs/pages/blog/toolpad-use-cases.md
Labels: blog

#43467 [code-infra] Fix nextjs build cache
  packages/netlify-plugin-cache-docs/index.js
  packages/netlify-plugin-cache-docs/package.json
Labels: scope: code-infra

#43243 [core] Upgrade babel runtime
  babel.config.js
Labels: core

#43469 [docs-infra] Add comment about removing optimizeFonts Next.js config
  docs/nextConfigDocsInfra.js
Labels: scope: docs-infra

#43406 [material-ui][docs] Add TemplateFrame to templates
  docs/data/material/getting-started/templates/blog/Blog.js
  docs/data/material/getting-started/templates/blog/Blog.tsx
  docs/data/material/getting-started/templates/blog/TemplateFrame.js
  docs/data/material/getting-started/templates/blog/TemplateFrame.tsx
  docs/data/material/getting-started/templates/blog/components/Footer.js
  docs/data/material/getting-started/templates/blog/components/Footer.tsx
  docs/data/material/getting-started/templates/checkout/Checkout.js
  docs/data/material/getting-started/templates/checkout/Checkout.tsx
  docs/data/material/getting-started/templates/checkout/TemplateFrame.js
  docs/data/material/getting-started/templates/checkout/TemplateFrame.tsx
  docs/data/material/getting-started/templates/dashboard/Dashboard.js
  docs/data/material/getting-started/templates/dashboard/Dashboard.tsx
  docs/data/material/getting-started/templates/dashboard/TemplateFrame.js
  docs/data/material/getting-started/templates/dashboard/TemplateFrame.tsx
  docs/data/material/getting-started/templates/marketing-page/MarketingPage.js
  docs/data/material/getting-started/templates/marketing-page/MarketingPage.tsx
  docs/data/material/getting-started/templates/marketing-page/TemplateFrame.js
  docs/data/material/getting-started/templates/marketing-page/TemplateFrame.tsx
  docs/data/material/getting-started/templates/marketing-page/components/Footer.js
  docs/data/material/getting-started/templates/marketing-page/components/Footer.tsx
  docs/data/material/getting-started/templates/marketing-page/components/Hero.js
  docs/data/material/getting-started/templates/marketing-page/components/Hero.tsx
  docs/data/material/getting-started/templates/sign-in-side/SignInSide.js
  docs/data/material/getting-started/templates/sign-in-side/SignInSide.tsx
  docs/data/material/getting-started/templates/sign-in-side/TemplateFrame.js
  docs/data/material/getting-started/templates/sign-in-side/TemplateFrame.tsx
  docs/data/material/getting-started/templates/sign-in/SignIn.js
  docs/data/material/getting-started/templates/sign-in/SignIn.tsx
  docs/data/material/getting-started/templates/sign-in/TemplateFrame.js
  docs/data/material/getting-started/templates/sign-in/TemplateFrame.tsx
  docs/data/material/getting-started/templates/sign-up/SignUp.js
  docs/data/material/getting-started/templates/sign-up/SignUp.tsx
  docs/data/material/getting-started/templates/sign-up/TemplateFrame.js
  docs/data/material/getting-started/templates/sign-up/TemplateFrame.tsx
  test/regressions/index.js
Labels: docs, package: material-ui, design

#43488 [docs][material-ui][Dialog] Update confirmation dialog description
  docs/data/material/components/dialogs/dialogs.md
Labels: docs, component: dialog, package: material-ui

#43494 [examples] Use `latest` on all Material UI dependencies
  examples/material-ui-cra-styled-components-ts/package.json
  examples/material-ui-cra-styled-components/package.json
  examples/material-ui-cra-tailwind-ts/package.json
  examples/material-ui-cra-ts/package.json
  examples/material-ui-cra/package.json
  examples/material-ui-express-ssr/package.json
  examples/material-ui-gatsby/package.json
  examples/material-ui-nextjs-pages-router-ts/package.json
  examples/material-ui-nextjs-pages-router/package.json
  examples/material-ui-nextjs-ts-v4-v5-migration/package.json
  examples/material-ui-nextjs-ts/package.json
  examples/material-ui-nextjs/package.json
  examples/material-ui-pigment-css-nextjs-ts/package.json
  examples/material-ui-pigment-css-vite-ts/package.json
  examples/material-ui-preact/package.json
  examples/material-ui-remix-ts/package.json
  examples/material-ui-vite-ts/package.json
  examples/material-ui-vite/package.json
Labels: examples

#43490 [docs-infra] Fix use of process.env.DEPLOY_ENV
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: bug 🐛, scope: docs-infra

#43498 [code-infra] Fix typing issues with `@mui-internal/api-docs-builder`
  packages-internal/docs-utils/package.json
  packages-internal/test-utils/package.json
  packages/api-docs-builder/tsconfig.json
Labels: scope: code-infra

#43489 [docs][table] Make the data grid blend in
  docs/data/material/components/table/DataTable.js
  docs/data/material/components/table/DataTable.tsx
  docs/data/material/components/table/DataTable.tsx.preview
  docs/data/material/components/table/table.md
Labels: docs, component: table

#43500 [docs-infra] Skip shadow DOM regression test
  docs/data/material/customization/shadow-dom/ShadowDOMDemoNoSnap.js
  docs/data/material/customization/shadow-dom/shadow-dom.md
  test/regressions/index.js
Labels: test, scope: docs-infra

#43493 [material-ui] Attach default light color scheme when enabling CSS theme variables
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-material/src/styles/createTheme.ts
Labels: bug 🐛, package: material-ui, customization: theme

#43510 [dependencies] Update Pigment CSS to 0.0.21
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  package.json
  packages/mui-material-pigment-css/package.json
  pnpm-lock.yaml
Labels: dependencies

#43515 [release] v6.0.1
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/test-utils/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#43516 [core] Fix CHANGELOG `@mui/material@6.0.1` version
  CHANGELOG.md
Labels: package: material-ui, core

#43468 [system][InitColorSchemeScript] Use `let/const` instead of `var`
  packages/mui-system/src/InitColorSchemeScript/InitColorSchemeScript.tsx
Labels: package: system, core

#43502 [blog] Fix typo in Material UI v6 blog post
  docs/pages/blog/material-ui-v6-is-out.md
Labels: blog

#43528 [infra] Fixed workflow file path
  .github/workflows/closed-issue-message.yml
Labels: bug 🐛, scope: infra

#43514 [docs][material-ui] Fix template shadow tokens
  docs/data/material/getting-started/templates/blog/TemplateFrame.js
  docs/data/material/getting-started/templates/blog/TemplateFrame.tsx
  docs/data/material/getting-started/templates/blog/theme/themePrimitives.js
  docs/data/material/getting-started/templates/blog/theme/themePrimitives.ts
  docs/data/material/getting-started/templates/checkout/TemplateFrame.js
  docs/data/material/getting-started/templates/checkout/TemplateFrame.tsx
  docs/data/material/getting-started/templates/checkout/theme/themePrimitives.js
  docs/data/material/getting-started/templates/checkout/theme/themePrimitives.ts
  docs/data/material/getting-started/templates/dashboard/TemplateFrame.js
  docs/data/material/getting-started/templates/dashboard/TemplateFrame.tsx
  docs/data/material/getting-started/templates/dashboard/theme/themePrimitives.js
  docs/data/material/getting-started/templates/dashboard/theme/themePrimitives.ts
  docs/data/material/getting-started/templates/marketing-page/TemplateFrame.js
  docs/data/material/getting-started/templates/marketing-page/TemplateFrame.tsx
  docs/data/material/getting-started/templates/marketing-page/theme/themePrimitives.js
  docs/data/material/getting-started/templates/marketing-page/theme/themePrimitives.ts
  docs/data/material/getting-started/templates/shared-theme/themePrimitives.js
  docs/data/material/getting-started/templates/shared-theme/themePrimitives.ts
  docs/data/material/getting-started/templates/sign-in-side/TemplateFrame.js
  docs/data/material/getting-started/templates/sign-in-side/TemplateFrame.tsx
  docs/data/material/getting-started/templates/sign-in-side/theme/themePrimitives.js
  docs/data/material/getting-started/templates/sign-in-side/theme/themePrimitives.ts
  docs/data/material/getting-started/templates/sign-in/TemplateFrame.js
  docs/data/material/getting-started/templates/sign-in/TemplateFrame.tsx
  docs/data/material/getting-started/templates/sign-in/theme/themePrimitives.js
  docs/data/material/getting-started/templates/sign-in/theme/themePrimitives.ts
  docs/data/material/getting-started/templates/sign-up/TemplateFrame.js
  docs/data/material/getting-started/templates/sign-up/TemplateFrame.tsx
  docs/data/material/getting-started/templates/sign-up/theme/themePrimitives.js
  docs/data/material/getting-started/templates/sign-up/theme/themePrimitives.ts
Labels: bug 🐛, docs, package: material-ui, design

#43503 [material-ui][Menu,Popover] Fix Backdrop props descriptions
  docs/pages/material-ui/api/popover.json
  docs/translations/api-docs/popover/popover.json
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Popover/Popover.js
Labels: bug 🐛, component: menu, component: Popover, package: material-ui, customization: slot

#43505 [material-ui][MenuList] Do not react to an event with modifier key pressed
  packages/mui-material/src/MenuList/MenuList.js
  packages/mui-material/test/integration/MenuList.test.js
Labels: bug 🐛, component: menu, package: material-ui

#43491 [code-infra] Remove permissions in publish-canaries.yml
  .github/workflows/publish-canaries.yml
Labels: security, scope: code-infra

#43535 [blog] Update Material UI v6 blog post link to reflect correct section title
  docs/pages/blog/material-ui-v6-is-out.md
Labels: bug 🐛, blog

#43534 [docs-infra] Fix GitHub source link redirection
  packages/mui-docs/src/ComponentLinkHeader/ComponentLinkHeader.tsx
Labels: bug 🐛, scope: docs-infra
