Repository mui/material-ui, pull requests merged in 2024-03, with the labels that each got.

#41318 [system] Fix createSpacing return type
  packages/mui-system/src/createTheme/createSpacing.ts
Labels: package: system

#41326 [material-ui][docs] Remove duplicated text at FAQ page
  docs/data/material/getting-started/faq/faq.md
Labels: docs, package: material-ui

#40946 [material-ui] Support props callback type in theme variants
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/variants.d.ts
Labels: bug 🐛, typescript, package: material-ui, customization: theme

#40229 [joy-ui][Autocomplete] Fix text overflow in Chip
  docs/data/joy/components/autocomplete/CustomTags.js
  docs/data/joy/components/autocomplete/CustomTags.tsx
  docs/data/joy/components/autocomplete/FixedTags.js
  docs/data/joy/components/autocomplete/FixedTags.tsx
  packages/mui-joy/src/Autocomplete/Autocomplete.tsx
Labels: component: autocomplete, design, package: joy-ui

#41230 [material-ui][Alert] Convert to support zero runtime
  apps/pigment-next-app/src/app/globals.css
  apps/pigment-next-app/src/app/material-ui/page.tsx
  apps/pigment-next-app/src/app/material-ui/react-alert/page.tsx
  apps/pigment-vite-app/package.json
  apps/pigment-vite-app/src/pages/material-ui/react-alert.tsx
  apps/pnpm-lock.yaml
  package.json
  packages/mui-material/src/Alert/Alert.js
  packages/mui-material/src/AlertTitle/AlertTitle.js
  packages/test-utils/src/describeConformance.tsx
  pnpm-lock.yaml
  scripts/zero-render-mui-demos.mjs
Labels: on hold, package: material-ui, component: alert

#41354 [pigment] Rename scope to @pigment-css
  .codesandbox/ci.json
  CHANGELOG.md
  apps/local-ui-lib/index.js
  apps/local-ui-lib/package.json
  apps/pigment-next-app/README.md
  apps/pigment-next-app/next.config.js
  apps/pigment-next-app/package.json
  apps/pigment-next-app/src/app/box/page.tsx
  apps/pigment-next-app/src/app/layout.tsx
  apps/pigment-next-app/src/app/material-ui/layout.tsx
  apps/pigment-next-app/src/app/material-ui/page.tsx
  apps/pigment-next-app/src/app/page.tsx
  apps/pigment-next-app/src/app/slider/page.tsx
  apps/pigment-next-app/src/augment.d.ts
  apps/pigment-next-app/src/components/Box.jsx
  apps/pigment-next-app/src/components/Slider/ZeroSlider.tsx
  apps/pigment-vite-app/README.md
  apps/pigment-vite-app/package.json
  apps/pigment-vite-app/src/App.tsx
  apps/pigment-vite-app/src/Box.jsx
  apps/pigment-vite-app/src/Layout.tsx
  apps/pigment-vite-app/src/Slider/ZeroSlider.tsx
  apps/pigment-vite-app/src/augment.ts
  apps/pigment-vite-app/src/component.tsx
  apps/pigment-vite-app/src/extend-zero.ts
  apps/pigment-vite-app/src/main.tsx
  apps/pigment-vite-app/vite.config.ts
  apps/pnpm-lock.yaml
  babel.config.js
  package.json
  packages/mui-icons-material/test/generated-types/tsconfig.json
  packages/pigment-nextjs-plugin/package.json
  packages/pigment-nextjs-plugin/src/index.ts
  packages/pigment-react/README.md
  packages/pigment-react/package.json
  packages/pigment-react/src/css.js
  packages/pigment-react/src/generateAtomics.js
  packages/pigment-react/src/keyframes.js
  packages/pigment-react/src/processors/css.ts
  packages/pigment-react/tests/fixtures/styled.input.js
  packages/pigment-react/tests/fixtures/styled.output.js
  packages/pigment-react/tests/pigment.test.ts
  packages/pigment-unplugin/package.json
  packages/pigment-unplugin/src/index.ts
  packages/pigment-unplugin/tsconfig.json
  packages/pigment-vite-plugin/package.json
  packages/pigment-vite-plugin/src/index.ts
  packages/pigment-vite-plugin/src/vite-plugin.ts
  packages/pigment-vite-plugin/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  webpackBaseConfig.js
Labels: package: pigment-css

#34909 [material-ui][Checkbox] `large` size added in type
  packages/mui-material/src/Checkbox/Checkbox.d.ts
Labels: component: checkbox, typescript, package: material-ui

#41297 [docs] Update links to GitHub projects
  CHANGELOG.md
  docs/data/base/getting-started/roadmap/roadmap.md
  docs/data/base/pages.ts
  docs/data/material/discover-more/roadmap/roadmap.md
  docs/pages/base-ui/getting-started/roadmap.js
  docs/pages/blog/2020-q3-update.md
  docs/pages/blog/2021-q1-update.md
  docs/pages/blog/2021-q2-update.md
  docs/pages/blog/2021-q3-update.md
  docs/pages/blog/benny-joo-joining.md
  docs/pages/blog/marija-najdova-joining.md
  docs/public/static/base-ui/roadmap/github-roadmap.png
  docs/public/static/material-ui/roadmap/github-project.png
  docs/translations/translations.json
Labels: docs

#41284 [zero][docs] Add a Why section on the README
  packages/pigment-react/README.md
Labels: docs, package: pigment-css

#41362 [website] Add James to About Us
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/james-nelson.png
Labels: website

#41363 [pigment] Update to latest wyw version
  packages/pigment-react/package.json
  packages/pigment-react/tests/pigment.test.ts
  packages/pigment-unplugin/package.json
  packages/pigment-vite-plugin/package.json
  pnpm-lock.yaml
  renovate.json
Labels: package: pigment-css

#41371 Revert "v5.15.12"
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/pigment-react/package.json
Labels: release

#41373 v5.15.12
  .codesandbox/ci.json
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/pigment-nextjs-plugin/package.json
  packages/pigment-react/package.json
  packages/pigment-unplugin/package.json
  packages/pigment-vite-plugin/package.json
Labels: release

#41358 [blog] Update the Base UI post with links to dedicated repo
  docs/pages/blog/base-ui-2024-plans.md
  docs/public/static/blog/base-ui-2024-plans/base-ui-milestone.png
Labels: package: base-ui, blog

#41287 [base-ui][FormControl] Export `FormControlOwnerState` type from index
  docs/pages/base-ui/api/form-control.json
  docs/translations/api-docs-base/form-control/form-control.json
  packages/mui-base/src/FormControl/index.ts
Labels: bug 🐛, package: base-ui, component: FormControl

#41324 [material-ui][Alert] Add `slots` and `slotProps` type to theme
  packages/mui-material/src/Alert/Alert.d.ts
  packages/mui-material/src/Alert/Alert.spec.tsx
Labels: bug 🐛, package: material-ui, component: alert

#41367 [material-ui][Switch] Convert to support CSS extraction
  apps/pigment-next-app/src/app/material-ui/react-switch/page.tsx
  apps/pigment-vite-app/src/pages/material-ui/react-switch.tsx
  apps/pnpm-lock.yaml
  packages/mui-material/src/Switch/Switch.js
Labels: component: switch, package: material-ui, package: pigment-css

#41084 [docs-infra] Adjust the tabs and layout selection design
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/ApiPage.js
  docs/src/modules/components/ApiPage/list/ExpandableApiItem.tsx
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
  docs/src/modules/components/ComponentPageTabs.js
  docs/src/modules/components/ComponentsApiContent.js
  docs/src/modules/components/HooksApiContent.js
  packages/mui-docs/src/translations/translations.json
Labels: design, scope: docs-infra

#41385 [code-infra] Reduce concurrency for test_types ci job
  package.json
Labels: scope: code-infra

#41384 [website] Update the Careers page role
  docs/pages/blog/base-ui-2024-plans.md
  docs/pages/careers.tsx
Labels: website

#41392 [code-infra] Reduce concurrency of typescript:ci further
  package.json
Labels: scope: code-infra

#41390 [docs] Fix v4 docs <b> appearing in notifications
  docs/notifications.json
  docs/src/modules/components/Notifications.js
Labels: docs, v4.x

#41300 [material-ui][Autocomplete] Fix the options list being added to the DOM in `freeSolo` mode even when there are no options, causing style problems
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: bug 🐛, package: material-ui, component: autocomplete

#41248 [code-infra] Add alias for icon types
  .codesandbox/ci.json
  docs/data/base/components/snackbar/TransitionComponentSnackbar.tsx
  docs/data/base/components/snackbar/UnstyledSnackbarIntroduction/css/index.tsx
  docs/data/base/components/snackbar/UnstyledSnackbarIntroduction/system/index.tsx
  docs/data/base/components/snackbar/UnstyledSnackbarIntroduction/tailwind/index.tsx
  docs/data/joy/integrations/icon-libraries/IconFontSizes.js
  docs/data/joy/integrations/icon-libraries/IconFontSizes.tsx
  docs/data/joy/integrations/icon-libraries/IconFontSizes.tsx.preview
  docs/pages/experiments/base/components-gallery.tsx
  docs/src/components/productBaseUI/BaseUIThemesDemo.tsx
  docs/src/components/showcase/TaskCard.tsx
  docs/src/modules/brandingTheme.ts
  packages/mui-icons-material/src/icon.d.ts
  packages/mui-icons-material/tsconfig.json
  packages/mui-material/src/Alert/Alert.spec.tsx
  tsconfig.json
Labels: typescript, scope: code-infra

#41323 [mui-codemod] Fix merging of slotProps and componentProps
  packages/mui-codemod/src/deprecations/alert-props/alert-props.test.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/alert-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/slider-props/slider-props.test.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/slider-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/utils/replaceComponentsWithSlots.js
Labels: bug 🐛, package: codemod

#41312 [docs-infra] Simplify Algolia crawler config
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
Labels: enhancement, scope: docs-infra

#41249 [docs][pigment] Add example and guide section
  packages/pigment-react/README.md
Labels: docs, package: pigment-css

#41404 [pigment] Make all Pigment CSS packages public
  CHANGELOG.md
  packages/pigment-nextjs-plugin/package.json
  packages/pigment-react/package.json
  packages/pigment-unplugin/package.json
  packages/pigment-vite-plugin/package.json
Labels: release, package: pigment-css

#41105 [examples] Add pigment-css-nextjs-ts starter project
  examples/pigment-css-nextjs-ts/.gitignore
  examples/pigment-css-nextjs-ts/README.md
  examples/pigment-css-nextjs-ts/next-env.d.ts
  examples/pigment-css-nextjs-ts/next.config.js
  examples/pigment-css-nextjs-ts/package.json
  examples/pigment-css-nextjs-ts/public/.gitkeep
  examples/pigment-css-nextjs-ts/src/app/favicon.ico
  examples/pigment-css-nextjs-ts/src/app/globals.css
  examples/pigment-css-nextjs-ts/src/app/layout.tsx
  examples/pigment-css-nextjs-ts/src/app/page.tsx
  examples/pigment-css-nextjs-ts/src/augment.d.ts
  examples/pigment-css-nextjs-ts/tsconfig.json
  packages/pigment-react/README.md
Labels: examples

#41196 [examples] Add pigment-css-vite-ts starter example
  examples/pigment-css-vite-ts/.gitignore
  examples/pigment-css-vite-ts/README.md
  examples/pigment-css-vite-ts/index.html
  examples/pigment-css-vite-ts/package.json
  examples/pigment-css-vite-ts/public/vite.svg
  examples/pigment-css-vite-ts/src/App.tsx
  examples/pigment-css-vite-ts/src/augment.d.ts
  examples/pigment-css-vite-ts/src/globals.css
  examples/pigment-css-vite-ts/src/main.tsx
  examples/pigment-css-vite-ts/src/vite-env.d.ts
  examples/pigment-css-vite-ts/tsconfig.json
  examples/pigment-css-vite-ts/tsconfig.node.json
  examples/pigment-css-vite-ts/vite.config.ts
  packages/pigment-react/README.md
Labels: examples, package: pigment-css

#41389 [pigment] Improve testing of fixtures
  .eslintignore
  packages/pigment-react/package.json
  packages/pigment-react/tests/README.md
  packages/pigment-react/tests/css/css.test.ts
  packages/pigment-react/tests/css/fixtures/css.input.js
  packages/pigment-react/tests/css/fixtures/css.output.css
  packages/pigment-react/tests/css/fixtures/css.output.js
  packages/pigment-react/tests/fixtures/styled.output.css
  packages/pigment-react/tests/fixtures/styled.output.js
  packages/pigment-react/tests/keyframes/fixtures/keyframes.input.js
  packages/pigment-react/tests/keyframes/fixtures/keyframes.output.css
  packages/pigment-react/tests/keyframes/fixtures/keyframes.output.js
  packages/pigment-react/tests/keyframes/keyframes.test.ts
  packages/pigment-react/tests/pigment.test.ts
  packages/pigment-react/tests/styled/fixtures/styled.input.js
  packages/pigment-react/tests/styled/fixtures/styled.output.css
  packages/pigment-react/tests/styled/fixtures/styled.output.js
  packages/pigment-react/tests/styled/styled.test.ts
  packages/pigment-react/tests/testUtils.ts
  packages/pigment-react/tsconfig.json
  pnpm-lock.yaml
Labels: package: pigment-css

#41355 [code-infra] Add short note about e2e-website workflow schedule
  .circleci/config.yml
Labels: docs, scope: code-infra

#41241 [RtlProvider] Add component & hook
  packages/mui-material/src/Drawer/Drawer.js
  packages/mui-material/src/LinearProgress/LinearProgress.js
  packages/mui-material/src/Menu/Menu.js
  packages/mui-material/src/MenuList/MenuList.js
  packages/mui-material/src/PaginationItem/PaginationItem.js
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/TabScrollButton/TabScrollButton.js
  packages/mui-material/src/TablePagination/TablePaginationActions.js
  packages/mui-material/src/Tabs/Tabs.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-system/src/RtlProvider/index.d.ts
  packages/mui-system/src/RtlProvider/index.js
  packages/mui-system/src/ThemeProvider/ThemeProvider.js
  packages/mui-system/src/ThemeProvider/ThemeProvider.test.js
  packages/mui-system/src/index.js
  packages/zero-runtime/src/RtlProvider/index.ts
Labels: package: system, package: pigment-css

#41408 [pigment-css] Tweak the examples and edit READMEs
  examples/pigment-css-nextjs-ts/README.md
  examples/pigment-css-nextjs-ts/src/app/page.tsx
  examples/pigment-css-vite-ts/index.html
  examples/pigment-css-vite-ts/src/App.tsx
  packages/pigment-react/README.md
Labels: examples, package: pigment-css

#41407 [joy-ui][docs] Fix broken link on the Color Inversion page
  docs/data/joy/main-features/color-inversion/color-inversion.md
Labels: docs, package: joy-ui

#41372 [pigment] Handle more scenarios while transforming sx prop
  packages/pigment-react/package.json
  packages/pigment-react/src/utils/pre-linaria-plugin.ts
  packages/pigment-react/src/utils/sxObjectExtractor.ts
  packages/pigment-react/src/utils/sxPropConverter.ts
  packages/pigment-react/tests/styled/fixtures/styled.input.js
  packages/pigment-react/tests/styled/fixtures/styled.output.css
  packages/pigment-react/tests/styled/fixtures/styled.output.js
  packages/pigment-react/tests/sx/fixtures/sxProps.input.js
  packages/pigment-react/tests/sx/fixtures/sxProps.output.css
  packages/pigment-react/tests/sx/fixtures/sxProps.output.js
  packages/pigment-react/tests/sx/fixtures/sxProps2.input.js
  packages/pigment-react/tests/sx/fixtures/sxProps2.output.css
  packages/pigment-react/tests/sx/fixtures/sxProps2.output.js
  packages/pigment-react/tests/sx/sx.test.ts
  packages/pigment-react/tests/testUtils.ts
  pnpm-lock.yaml
Labels: package: pigment-css

#41387 [docs-infra] Improve color contrast throughout
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/showcase/ThemeChip.tsx
  docs/src/components/showcase/ThemeToggleButton.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppLayoutDocsFooter.js
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/AppNavDrawerItem.js
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/AppTableOfContents.js
  docs/src/modules/components/DemoToolbar.js
  docs/src/modules/components/MarkdownElement.js
  packages/mui-docs/src/translations/translations.json
Labels: accessibility, design, scope: docs-infra

#41383 [joy-ui][docs] Remove wrong CSS prop from the Sign-in-side template
  docs/data/joy/getting-started/templates/sign-in-side/App.tsx
Labels: docs, package: joy-ui

#40967 [material-ui] Refine checkout template
  docs/data/material/getting-started/templates/checkout/AddressForm.js
  docs/data/material/getting-started/templates/checkout/AddressForm.tsx
  docs/data/material/getting-started/templates/checkout/Checkout.js
  docs/data/material/getting-started/templates/checkout/Checkout.tsx
  docs/data/material/getting-started/templates/checkout/Info.js
  docs/data/material/getting-started/templates/checkout/Info.tsx
  docs/data/material/getting-started/templates/checkout/InfoMobile.js
  docs/data/material/getting-started/templates/checkout/InfoMobile.tsx
  docs/data/material/getting-started/templates/checkout/InfoMobile.tsx.preview
  docs/data/material/getting-started/templates/checkout/PaymentForm.js
  docs/data/material/getting-started/templates/checkout/PaymentForm.tsx
  docs/data/material/getting-started/templates/checkout/Review.js
  docs/data/material/getting-started/templates/checkout/Review.tsx
  docs/data/material/getting-started/templates/checkout/ToggleColorMode.js
  docs/data/material/getting-started/templates/checkout/ToggleColorMode.tsx
  docs/data/material/getting-started/templates/checkout/getCheckoutTheme.js
  docs/data/material/getting-started/templates/checkout/getCheckoutTheme.tsx
  docs/public/static/images/templates/checkout.png
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
  test/regressions/index.js
Labels: docs, package: material-ui, design

#41369 [base-ui][material-ui][TextareaAutosize] Fix inline style not getting applied
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.test.tsx
  packages/mui-base/src/TextareaAutosize/TextareaAutosize.tsx
Labels: bug 🐛, package: material-ui, component: TextareaAutosize, package: base-ui, regression

#41411 [pigment-css][docs] Fix import on the README
  packages/pigment-react/README.md
Labels: docs, package: pigment-css

#41413 [joy-ui][docs] Update Case Studies Chip Background Color
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.js
  docs/data/joy/main-features/color-inversion/ColorInversionHeader.tsx
Labels: docs, design, package: joy-ui

#41419 [docs][joy-ui] Remove unnecessary styles in color inversion footer demo
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.js
  docs/data/joy/main-features/color-inversion/ColorInversionFooter.tsx
Labels: bug 🐛, docs, package: joy-ui

#41438 [pigment-css][docs] Brand name nonbreaking space
  CHANGELOG.md
  docs/writing-rules/BrandName.yml
  examples/pigment-css-nextjs-ts/README.md
  examples/pigment-css-nextjs-ts/src/app/page.tsx
  examples/pigment-css-vite-ts/README.md
  examples/pigment-css-vite-ts/index.html
  examples/pigment-css-vite-ts/src/App.tsx
  packages/pigment-nextjs-plugin/package.json
  packages/pigment-react/README.md
  packages/pigment-react/tests/README.md
Labels: docs, package: pigment-css

#41439 [pigment-css] Example fix leading spaces
  examples/pigment-css-nextjs-ts/src/app/page.tsx
  examples/pigment-css-vite-ts/src/App.tsx
Labels: examples, package: pigment-css

#41442 [pigment-css][react] Use class selector instead of class value
  packages/pigment-react/src/processors/styled.ts
  packages/pigment-react/src/processors/sx.ts
  packages/pigment-react/tests/styled/fixtures/styled.input.js
  packages/pigment-react/tests/styled/fixtures/styled.output.css
Labels: package: pigment-css

#41381 [docs-infra] move feedback to ESM
  netlify/functions/feedback-management.mts
  package.json
  pnpm-lock.yaml
Labels: scope: docs-infra

#41447 [material-ui] Add `paperChannel` token
  packages/mui-material/src/styles/CssVarsProvider.test.js
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
Labels: package: material-ui, enhancement

#41450 [material-ui][docs] Adjust the Templates card design
  docs/data/material/getting-started/templates/templates.md
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
  packages/mui-docs/src/translations/translations.json
Labels: docs, package: material-ui, design

#41465 [website] Improve color contrast on the homepage
  docs/src/components/showcase/FolderTable.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/ThemeDatePicker.tsx
Labels: accessibility, design, website

#41370 [docs] Update GitHub project links
  docs/pages/blog/2023-material-ui-v6-and-beyond.md
  docs/pages/blog/mui-core-v5.md
Labels: docs

#41468 [material-ui][docs] Polish out the templates page
  docs/data/material/getting-started/templates/landing-page/LandingPage.js
  docs/data/material/getting-started/templates/landing-page/LandingPage.tsx
  docs/public/static/images/templates/checkout.png
  docs/public/static/images/templates/landing-page.png
Labels: docs, package: material-ui, design

#41320 [material-ui][Tooltip] Support event handlers with extra parameters
  packages/mui-joy/src/Tooltip/Tooltip.test.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
Labels: component: tooltip, package: material-ui, package: joy-ui, enhancement

#41445 [pigment][next] Warn about unsupported turbo mode in Next.js
  packages/pigment-css-nextjs-plugin/src/index.ts
  packages/pigment-css-react/README.md
  packages/pigment-css-react/tsup.config.ts
  tsup.config.ts
Labels: package: pigment-css

#41379 [docs-infra] Don't generate preview files for the templates
  docs/data/material/getting-started/templates/checkout/InfoMobile.tsx.preview
  docs/scripts/formattedTSDemos.js
Labels: scope: docs-infra

#41476 [docs-infra] Fix pigment css apps path in the render mui demos script
  scripts/pigmentcss-render-mui-demos.mjs
Labels: scope: docs-infra

#41477 [utils] Fix visually hidden styles' margin unit
  packages/mui-base/src/useSelect/useSelect.test.tsx
  packages/mui-utils/src/visuallyHidden/visuallyHidden.ts
Labels: package: utils (private)

#41475 [code-infra] Adapt API code generator to Base UI repo needs
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ProjectSettings.ts
Labels: scope: code-infra

#41462 [release] v5.15.13
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages/mui-babel-macros/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
Labels: release

#41201 [Slider][material-ui] Make it zero-runtime compatible
  apps/pigment-css-next-app/src/app/material-ui/react-slider/page.tsx
  apps/pigment-css-next-app/src/app/slider/page.tsx
  apps/pigment-css-next-app/src/components/Slider/ZeroSlider.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-slider.tsx
  packages/mui-material/src/Slider/Slider.js
  packages/mui-material/src/styles/rootShouldForwardProp.ts
  packages/mui-material/src/styles/slotShouldForwardProp.ts
  packages/mui-material/src/styles/styled.d.ts
  packages/mui-material/src/styles/styled.js
Labels: component: slider, package: material-ui

#41472 [code-infra] Copy translations.json to @mui/docs build folder
  packages/mui-docs/package.json
  scripts/copyFiles.mjs
  scripts/copyFilesUtils.mjs
Labels: scope: code-infra

#41461 [joy-ui][docs] Add UI improvements to the side navigation demo
  docs/data/joy/main-features/color-inversion/ColorInversionNavigation.js
  docs/data/joy/main-features/color-inversion/ColorInversionNavigation.tsx
Labels: docs, design, package: joy-ui

#40330 [Autocomplete] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-autocomplete/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-autocomplete.tsx
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: package: material-ui, component: autocomplete

#41221 [Accordion] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-accordion/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-accordion.tsx
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/AccordionActions/AccordionActions.js
  packages/mui-material/src/AccordionDetails/AccordionDetails.js
  packages/mui-material/src/AccordionSummary/AccordionSummary.js
Labels: component: accordion, package: material-ui

#41276 [website] Use MUI X Data Grid v7-beta
  docs/data/material/components/table/DataTable.js
  docs/data/material/components/table/DataTable.tsx
  docs/data/material/components/table/table.md
  docs/package.json
  docs/src/components/home/XGridGlobalStyles.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XTheming.tsx
  pnpm-lock.yaml
Labels: component: data grid, website, MUI X

#40559 [material-ui][Progress] Add Circular progress gradient demo from Github comment
  docs/data/material/components/progress/CustomizedProgressBars.js
  docs/data/material/components/progress/CustomizedProgressBars.tsx
  docs/data/material/components/progress/CustomizedProgressBars.tsx.preview
Labels: docs, package: material-ui, component: progress

#41494 [pigment-css][nextjs-plugin] Fix alias resolver
  packages/pigment-css-unplugin/src/index.ts
Labels: nextjs, package: pigment-css

#41316 [website] Split Toolpad documentation
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/components/AppSearch.js
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/modules/utils/getProductInfoFromUrl.test.js
  docs/src/modules/utils/getProductInfoFromUrl.ts
  docs/src/route.ts
  docs/writing-rules/BrandName.yml
Labels: website, Toolpad

#41451 [pigment-css] Add Box component
  packages/pigment-css-react/package.json
  packages/pigment-css-react/src/Box.d.ts
  packages/pigment-css-react/src/Box.jsx
  packages/pigment-css-react/src/base.d.ts
  packages/pigment-css-react/src/processors/sx.ts
  packages/pigment-css-react/src/styled.d.ts
  packages/pigment-css-react/tests/Box.spec.tsx
  packages/pigment-css-react/tsup.config.ts
Labels: component: Box, package: pigment-css

#41499 [docs][pigment-css] Fixing location of the ExtendTheme type in the docs
  packages/pigment-css-react/README.md
Labels: docs, package: pigment-css

#41498 [code-infra] Rename @mui-internal/docs-utils to @mui/internal-docs-utils
  .codesandbox/ci.json
  apps/pnpm-workspace.yaml
  babel.config.js
  docs/package.json
  docs/scripts/formattedTSDemos.js
  docs/src/modules/components/ApiPage/list/ClassesList.tsx
  docs/src/modules/components/ApiPage/sections/ClassesSection.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  package.json
  packages-internal/docs-utils/.npmignore
  packages-internal/docs-utils/CHANGELOG.md
  packages-internal/docs-utils/README.md
  packages-internal/docs-utils/package.json
  packages-internal/docs-utils/src/ComponentClassDefinition.ts
  packages-internal/docs-utils/src/createTypeScriptProject.ts
  packages-internal/docs-utils/src/getPropsFromComponentNode.ts
  packages-internal/docs-utils/src/index.ts
  packages-internal/docs-utils/tsconfig.build.json
  packages-internal/docs-utils/tsconfig.json
  packages-internal/scripts/CHANGELOG.md
  packages-internal/scripts/package.json
  packages-internal/scripts/tsconfig.typecheck.json
  packages-internal/scripts/typescript-to-proptypes/src/getPropTypesFromFile.ts
  packages-internal/scripts/typescript-to-proptypes/test/typescript-to-proptypes.test.ts
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ProjectSettings.ts
  packages/api-docs-builder/buildApiUtils.ts
  packages/api-docs-builder/package.json
  packages/api-docs-builder/tsconfig.json
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
  packages/markdown/package.json
  pnpm-lock.yaml
  scripts/generateProptypes.ts
  tsconfig.json
  webpackBaseConfig.js
Labels: scope: code-infra

#41502 [pigment-css][nextjs-plugin] Follow-up to #41494
  packages/pigment-css-nextjs-plugin/src/index.ts
  packages/pigment-css-unplugin/src/index.ts
Labels: nextjs, package: pigment-css

#41487 [docs-infra] Add code block header classes
  docs/pages/experiments/docs/codeblock.md
  docs/src/modules/components/MarkdownElement.js
  packages/markdown/parseMarkdown.js
Labels: design, scope: docs-infra

#41484 [docs-infra] Add a feature list "component"
  docs/data/docs-infra/pages.ts
  docs/pages/experiments/docs/custom-components.js
  docs/pages/experiments/docs/custom-components.md
  docs/src/modules/components/MarkdownElement.js
  packages/markdown/parseMarkdown.js
  packages/markdown/prepareMarkdown.js
Labels: design, scope: docs-infra

#41040 [blog] Bringing consistency to Material UI customization APIs
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/blog/bringing-consistency-to-material-ui-customization-apis.js
  docs/pages/blog/bringing-consistency-to-material-ui-customization-apis.md
  docs/public/static/blog/bringing-consistency-to-material-ui-customization-apis/card.png
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog

#41532 [core] Use Circle CI context
  .circleci/config.yml
Labels: core, scope: code-infra

#40944 [docs-infra] Fail CI on Vale error
  .circleci/config.yml
  .github/workflows/vale-action.yml
  .vale.ini
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/CorrectReferenceAllCases.yml
  docs/pages/blog/2019-developer-survey-results.md
  docs/pages/blog/2019.md
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/toolpad-use-cases.md
  docs/src/pages/premium-themes/onepirate/modules/views/privacy.md
  package.json
  packages-internal/scripts/typescript-to-proptypes/CHANGELOG.old.md
  packages/mui-codemod/CONTRIBUTING.md
  packages/mui-codemod/README.md
  packages/pigment-css-react/README.md
Labels: new feature, docs, test, scope: docs-infra

#41500 [material-ui] Use interface instead of type for props
  packages/mui-base/src/Unstable_Popup/Popup.tsx
  packages/mui-material/src/Popper/Popper.tsx
Labels: typescript, package: material-ui, package: base-ui

#41473 [pigment-css][docs] Add media query guide
  packages/pigment-css-react/README.md
Labels: docs, package: pigment-css

#41223 [docs] Fix useStorageState regressions
  docs/src/components/header/ThemeModeToggle.tsx
  docs/src/layouts/AppHeader.tsx
  docs/src/modules/components/AppSettingsDrawer.js
  docs/src/modules/components/HighlightedCodeWithTabs.tsx
  docs/src/modules/components/MaterialYouUsageDemo.tsx
  docs/src/modules/components/ThemeContext.js
  packages/mui-material-next/src/index.ts
  packages/mui-material/src/styles/CssVarsProvider.tsx
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.ts
  packages/mui-utils/src/useLocalStorageState/index.ts
  packages/mui-utils/src/useLocalStorageState/useLocalStorageState.ts
Labels: bug 🐛, docs, regression

#41535 [website] Improve navbar's items hover state
  docs/src/components/header/HeaderNavBar.tsx
Labels: design, website

#41508 [material-ui][docs] Apply new code header docs feature
  docs/data/material/customization/typography/typography.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/data/material/guides/server-rendering/server-rendering.md
  docs/data/material/guides/typescript/typescript.md
  docs/data/material/integrations/interoperability/interoperability.md
  docs/data/material/integrations/nextjs/nextjs.md
  docs/data/material/integrations/styled-components/styled-components.md
  docs/data/material/integrations/theme-scoping/theme-scoping.md
  docs/src/modules/components/MarkdownElement.js
Labels: docs, package: material-ui

#41543 [material-ui][docs] Fix landing page template's h1 size
  docs/data/material/getting-started/templates/landing-page/components/Hero.js
  docs/data/material/getting-started/templates/landing-page/components/Hero.tsx
Labels: docs, package: material-ui, design

#41542 [docs-infra] Make the Algolia search input label invisible
  docs/src/modules/components/AppSearch.js
Labels: accessibility, design, scope: docs-infra

#41540 [release] v5.15.14
  CHANGELOG.md
  package.json
  packages-internal/docs-utils/package.json
  packages-internal/scripts/package.json
  packages/markdown/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  packages/pigment-css-nextjs-plugin/package.json
  packages/pigment-css-react/package.json
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-vite-plugin/package.json
Labels: release

#41553 [core] Lower the frequency of no-response action runs
  .github/workflows/no-response.yml
Labels: core

#41555 [core] Add comment explaining the frequency of no-response action runs
  .github/workflows/no-response.yml
Labels: scope: code-infra

#41483 [material-ui][Modal] Support CSS extraction
  apps/pigment-next-app/src/app/material-ui/react-modal/page.tsx
  apps/pigment-vite-app/src/pages/material-ui/react-modal.tsx
  packages/mui-material/src/Modal/Modal.js
Labels: on hold, component: modal, v6.x, package: pigment-css

#41496 [material-ui][Breadcrumbs] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-breadcrumbs/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-breadcrumbs.tsx
  packages/mui-material/src/Breadcrumbs/Breadcrumbs.js
Labels: on hold, component: breadcrumbs, package: material-ui, v6.x, package: pigment-css

#41497 [joy-ui][docs] Refresh the marketing example on the Color Inversion page
  docs/data/joy/main-features/color-inversion/ColorInversionMarketing.js
  docs/data/joy/main-features/color-inversion/ColorInversionMarketing.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionMotivation.js
  docs/data/joy/main-features/color-inversion/ColorInversionMotivation.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionPopup.js
  docs/data/joy/main-features/color-inversion/ColorInversionPopup.tsx
  docs/data/joy/main-features/color-inversion/ColorInversionSurface.js
  docs/data/joy/main-features/color-inversion/ColorInversionSurface.tsx
Labels: docs, design, package: joy-ui

#41259 [material-ui][ButtonGroup] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/button-group.json
  docs/translations/api-docs/button-group/button-group.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/button-group-classes/button-group-classes.js
  packages/mui-codemod/src/deprecations/button-group-classes/button-group-classes.test.js
  packages/mui-codemod/src/deprecations/button-group-classes/index.js
  packages/mui-codemod/src/deprecations/button-group-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/button-group-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/button-group-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/button-group-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/button-group-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/button-group-classes/test-cases/expected.js
  packages/mui-material/src/ButtonGroup/ButtonGroup.js
  packages/mui-material/src/ButtonGroup/ButtonGroup.test.js
  packages/mui-material/src/ButtonGroup/buttonGroupClasses.ts
Labels: docs, deprecation, package: material-ui, component: ButtonGroup

#41547 [website] Add stray design adjustments throughout the site
  docs/src/components/about/Team.tsx
  docs/src/components/pricing/LicensingModelSwitch.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/showcase/FolderTable.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/RealEstateCard.tsx
  docs/src/components/showcase/TaskCard.tsx
  docs/src/components/showcase/ThemeAccordion.tsx
  docs/src/components/showcase/ThemeDatePicker.tsx
  docs/src/components/showcase/ThemeSlider.tsx
  docs/src/components/showcase/ThemeTabs.tsx
  docs/src/components/showcase/ThemeTimeline.tsx
  docs/src/components/showcase/ThemeToggleButton.tsx
  docs/src/modules/brandingTheme.ts
Labels: accessibility, design, website

#41560 [pigment-css] Fix react-modal demos location
  apps/pigment-css-next-app/src/app/material-ui/react-modal/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-modal.tsx
Labels: component: modal, package: pigment-css

#41558 [docs] Update the installation guides to use the next tag
  docs/data/base/getting-started/quickstart/quickstart.md
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/data/joy/getting-started/installation/installation.md
  docs/data/joy/integrations/icon-libraries/icon-libraries.md
  docs/data/material/components/about-the-lab/about-the-lab.md
  docs/data/material/components/icons/icons.md
  docs/data/material/components/material-icons/material-icons.md
  docs/data/material/getting-started/installation/installation.md
  docs/data/material/integrations/nextjs/nextjs.md
  docs/data/styles/basics/basics.md
  docs/data/system/getting-started/installation/installation.md
  packages/mui-base/README.md
  packages/mui-docs/README.md
  packages/mui-joy/README.md
  packages/mui-material/README.md
  packages/mui-styles/README.md
Labels: docs, core

#41485 [material-ui][AvatarGroup] Convert to support CSS extraction
  apps/pnpm-lock.yaml
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
Labels: component: avatar, package: material-ui, package: pigment-css

#41569 [pigment-css] Fix evaluation of undefined variables
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-unplugin/src/index.ts
  packages/pigment-css-vite-plugin/package.json
  packages/pigment-css-vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
Labels: package: pigment-css

#41366 [material-ui][Divider] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-divider/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-divider.tsx
  packages/mui-material/src/Divider/Divider.js
Labels: component: divider, package: material-ui, v6.x, package: pigment-css

#41446 [system] Move stylesheet generator to `extendTheme`
  apps/pigment-css-next-app/next.config.js
  apps/pigment-css-vite-app/vite.config.ts
  docs/data/system/experimental-api/css-theme-variables/CreateCssVarsProvider.js
  docs/data/system/experimental-api/css-theme-variables/CreateCssVarsProvider.tsx
  packages/mui-joy/src/styles/defaultTheme.test.js
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-material/src/styles/CssVarsProvider.test.js
  packages/mui-material/src/styles/CssVarsProvider.tsx
  packages/mui-material/src/styles/createGetSelector.ts
  packages/mui-material/src/styles/excludeVariablesFromRoot.ts
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/createCssVarsTheme.ts
  packages/mui-system/src/cssVars/prepareCssVars.test.ts
  packages/mui-system/src/cssVars/prepareCssVars.ts
  packages/pigment-css-react/src/utils/extendTheme.ts
  packages/pigment-css-react/src/utils/generateCss.ts
  packages/pigment-css-react/tests/utils/theme-tokens.test.ts
Labels: package: system, package: material-ui, package: joy-ui, v6.x, enhancement

#41546 [material-ui][Stepper] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-stepper/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-stepper.tsx
  packages/mui-material/src/Step/Step.js
  packages/mui-material/src/StepButton/StepButton.js
  packages/mui-material/src/StepConnector/StepConnector.js
  packages/mui-material/src/StepContent/StepContent.js
  packages/mui-material/src/StepIcon/StepIcon.js
  packages/mui-material/src/StepLabel/StepLabel.js
  packages/mui-material/src/Stepper/Stepper.js
Labels: component: stepper, package: material-ui

#41564 [material-ui][Popover] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-popover/page.tsx
  packages/mui-material/src/Popover/Popover.js
Labels: package: material-ui, v6.x

#41557 [docs] Update the versions dropdown to show v6
  docs/pages/_app.js
Labels: docs, package: material-ui

#41533 [material-ui][MobileStepper] Convert to support CSS extraction
  packages/mui-material/src/MobileStepper/MobileStepper.js
Labels: component: stepper, package: material-ui, v6.x

#41567 [docs][material-ui][Slider] Remove `valueLabelFormat` from restricted values demo so that the tooltip thumb label displays the same as the value text
  docs/data/material/components/slider/DiscreteSliderValues.js
  docs/data/material/components/slider/DiscreteSliderValues.tsx
  docs/data/material/components/slider/DiscreteSliderValues.tsx.preview
Labels: docs, component: slider, package: material-ui

#41570 [pigment-css][react] RTL Support
  packages/pigment-css-react/README.md
  packages/pigment-css-react/package.json
  packages/pigment-css-react/src/RtlProvider.tsx
  packages/pigment-css-react/src/utils/cssFnValueToVariable.ts
  packages/pigment-css-react/src/utils/preprocessor.ts
  packages/pigment-css-react/tests/styled/fixtures/styled-rtl.input.js
  packages/pigment-css-react/tests/styled/fixtures/styled-rtl.output.css
  packages/pigment-css-react/tests/styled/fixtures/styled-rtl.output.js
  packages/pigment-css-react/tests/styled/styled.test.ts
  packages/pigment-css-react/tests/testUtils.ts
  packages/pigment-css-react/tsconfig.json
  packages/pigment-css-react/tsup.config.ts
  packages/pigment-css-vite-plugin/src/index.ts
  packages/pigment-css-vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
Labels: package: pigment-css

#41561 [material-ui][docs] Add v5 to v6 migration guide
  docs/data/material/migration/migration-v5/migration-v5.md
  docs/data/material/pages.ts
  docs/pages/material-ui/migration/migration-v5.js
  docs/translations/translations.json
Labels: docs, package: material-ui

#41393 [pigment-css][demo] Remove app specific pnpm workspace
  apps/README.md
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  apps/pigment-css-vite-app/vite-env.d.ts
  apps/pigment-css-vite-app/vite.config.ts
  apps/pnpm-workspace.yaml
  nx.json
  packages-internal/scripts/package.json
  packages/pigment-css-nextjs-plugin/src/index.ts
  packages/pigment-css-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package: pigment-css

#40677 [material-ui][Backdrop] Deprecate TransitionComponent
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/backdrop.json
  docs/translations/api-docs/backdrop/backdrop.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/backdrop-props/backdrop-props.js
  packages/mui-codemod/src/deprecations/backdrop-props/backdrop-props.test.js
  packages/mui-codemod/src/deprecations/backdrop-props/index.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.expected.js
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/Backdrop/Backdrop.test.js
Labels: deprecation, package: material-ui, component: backdrop

#41565 [blog] Add post about remote
  docs/pages/blog.tsx
  docs/pages/blog/remote-award-win-2024.js
  docs/pages/blog/remote-award-win-2024.md
  docs/pages/careers.tsx
  docs/public/static/blog/remote-award-win-2024/award-image.png
  docs/public/static/blog/remote-award-win-2024/card.png
  docs/public/static/branding/careers/remote-award-dark.png
  docs/public/static/branding/careers/remote-award-light.png
Labels: website, blog

#41581 [material-ui][Backdrop] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-backdrop/page.tsx
  packages/mui-material/src/Backdrop/Backdrop.js
Labels: package: material-ui, component: backdrop

#41580 [material-ui][Card] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-card/page.tsx
  packages/mui-material/src/Card/Card.js
  packages/mui-material/src/CardActionArea/CardActionArea.js
  packages/mui-material/src/CardActions/CardActions.js
  packages/mui-material/src/CardContent/CardContent.js
  packages/mui-material/src/CardHeader/CardHeader.js
  packages/mui-material/src/CardMedia/CardMedia.js
Labels: component: card, package: material-ui

#41577 [pigment-css][demo] Add index page for material-ui
  apps/pigment-css-vite-app/package.json
  apps/pigment-css-vite-app/src/pages/material-ui/index.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-breadcrumbs.tsx
  packages/pigment-css-nextjs-plugin/src/index.ts
  pnpm-lock.yaml
Labels: package: pigment-css

#41582 [core] Add instructions to deploying docs guide
  scripts/README.md
Labels: core

#41576 [pigment-css][docs] Update the RTL section on the readme
  packages/pigment-css-react/README.md
Labels: docs, package: pigment-css

#41568 [core] Update browser support versions
  .browserslistrc
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  pnpm-lock.yaml
Labels: breaking change, core, v6.x

#41601 [docs] MUI X v7 blog post annoucement followup
  docs/pages/blog/mui-x-v7.md
  docs/public/static/blog/mui-x-v7/intro.jpg
Labels: blog, MUI X

#41587 [docs] Add notification for MUI X v7 blog post
  docs/notifications.json
Labels: docs, MUI X

#41605 [docs] Add notification for MUI X v7 blog post (#41587)
  docs/notifications.json
Labels: docs, MUI X

#41595 [website] Update pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, MUI X

#41606 [website] Update pricing table
  docs/src/components/pricing/PricingTable.tsx
Labels: website, MUI X

#41594 [material-ui][docs] Remove deleted page from the sidenav
  docs/data/material/pages.ts
  docs/translations/translations.json
Labels: docs, package: material-ui

#41616 [system] Fix typo to avoid infinite recursion in function call.
  packages/mui-system/src/colorManipulator/colorManipulator.js
Labels: bug 🐛, package: system

#41612 [material-ui][BottomNavigation] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-bottom-navigation/page.tsx
  packages/mui-material/src/BottomNavigation/BottomNavigation.js
  packages/mui-material/src/BottomNavigationAction/BottomNavigationAction.js
  scripts/pigmentcss-render-mui-demos.mjs
Labels: package: material-ui, v6.x

#41613 [material-ui][FormControl] Convert to support CSS extraction
  packages/mui-material/src/FormControl/FormControl.js
  packages/mui-material/src/FormControlLabel/FormControlLabel.js
Labels: package: material-ui, v6.x

#41614 [material-ui][FormGroup] Convert to support CSS extraction
  packages/mui-material/src/FormGroup/FormGroup.js
Labels: package: material-ui, v6.x

#41632 [docs][material-ui] Fix typo in CSS theme variables customization
  docs/data/material/experimental-api/css-theme-variables/customization.md
Labels: docs, package: material-ui

#41634 [material-ui][Autocomplete] Display options provided to the `options` prop even if loading is true.
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: bug 🐛, package: material-ui, component: autocomplete, regression

#41636 [core] Fix failing CI steps
  docs/mui-vale/styles/MUI/MuiBrandName.yml
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-system/src/borders/index.ts
  packages/mui-system/src/breakpoints/index.ts
  packages/mui-system/src/colorManipulator/index.ts
  packages/mui-system/src/compose/index.ts
  packages/mui-system/src/createBox/index.ts
  packages/mui-system/src/createStyled/index.ts
  packages/mui-system/src/cssGrid/index.ts
  packages/mui-system/src/display/index.ts
  packages/mui-system/src/flexbox/index.ts
  packages/mui-system/src/getThemeValue/index.ts
  packages/mui-system/src/memoize/index.ts
  packages/mui-system/src/merge/index.ts
  packages/mui-system/src/palette/index.ts
  packages/mui-system/src/positions/index.ts
  packages/mui-system/src/propsToClassKey/index.ts
  packages/mui-system/src/responsivePropType/index.ts
  packages/mui-system/src/shadows/index.ts
  packages/mui-system/src/sizing/index.ts
  packages/mui-system/src/spacing/index.ts
  packages/mui-system/src/style/index.ts
  packages/mui-system/src/styled/index.ts
  packages/mui-system/src/typography/index.ts
  packages/mui-system/src/useTheme/index.ts
  packages/mui-system/src/useThemeWithoutDefault/index.ts
  pnpm-lock.yaml
Labels: core

#41640 [blog] Link to Romain's blog post in MUI X v7 announcement post
  docs/pages/blog/mui-x-v7.md
Labels: blog, MUI X

#41642 [website] Add stray design adjustments throughout the site
  docs/src/components/about/Team.tsx
  docs/src/components/pricing/LicensingModelSwitch.tsx
  docs/src/components/pricing/PricingTable.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/showcase/FolderTable.tsx
  docs/src/components/showcase/NotificationCard.tsx
  docs/src/components/showcase/PlayerCard.tsx
  docs/src/components/showcase/RealEstateCard.tsx
  docs/src/components/showcase/TaskCard.tsx
  docs/src/components/showcase/ThemeAccordion.tsx
  docs/src/components/showcase/ThemeDatePicker.tsx
  docs/src/components/showcase/ThemeSlider.tsx
  docs/src/components/showcase/ThemeTabs.tsx
  docs/src/components/showcase/ThemeTimeline.tsx
  docs/src/components/showcase/ThemeToggleButton.tsx
  docs/src/modules/brandingTheme.ts
Labels: docs, website

#41641 [blog] Link to Romain's blog post in MUI X v7 announcement post
  docs/pages/blog/mui-x-v7.md
Labels: blog, MUI X

#41645 [blog] Update the callout
  docs/pages/blog/mui-x-v7.md
Labels: blog, MUI X

#41643 [core] Restore the pnpm-lock.yaml
  pnpm-lock.yaml
Labels: core

#41658 [core] Run pnpm dedupe
  package.json
  packages/pigment-css-react/tests/styled/fixtures/styled-rtl.output.js
  packages/pigment-css-react/tests/styled/fixtures/styled-theme.output.js
  packages/pigment-css-react/tests/styled/fixtures/styled.output.js
  pnpm-lock.yaml
Labels: core

#41592 [material-ui][Chip] Convert to support CSS extraction
  apps/pigment-css-next-app/src/app/material-ui/react-chip/page.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-chip.tsx
  packages/mui-material/src/Chip/Chip.js
Labels: component: chip, package: material-ui

#41662 [core] Update peerDependencies ranges to include v6 packages
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  pnpm-lock.yaml
Labels: core

#41665 [release] v6.0.0-alpha.0 updates on changelog & versions
  CHANGELOG.md
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
Labels: release

#41649 [pigment-css] Update README.md installation to use the next tag
  packages/pigment-css-react/README.md
Labels: docs, package: pigment-css

#41655 [material-ui][Badge] Deprecate components and componentsProps
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/badge.json
  docs/translations/api-docs/badge/badge.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/badge-props/badge-props.js
  packages/mui-codemod/src/deprecations/badge-props/badge-props.test.js
  packages/mui-codemod/src/deprecations/badge-props/index.js
  packages/mui-codemod/src/deprecations/badge-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/badge-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/badge-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/badge-props/test-cases/theme.expected.js
  packages/mui-material/src/Badge/Badge.d.ts
  packages/mui-material/src/Badge/Badge.js
Labels: component: badge, package: material-ui

#41670 [docs] Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#41672 [website] Improve job og image
  docs/src/modules/components/TopLayoutCareers.js
Labels: design, website

#41610 [material-ui][RadioGroup] Apply classnames
  packages/mui-material/src/RadioGroup/RadioGroup.d.ts
  packages/mui-material/src/RadioGroup/RadioGroup.js
  packages/mui-material/src/RadioGroup/RadioGroup.test.js
  packages/mui-material/src/RadioGroup/index.d.ts
  packages/mui-material/src/RadioGroup/index.js
  packages/mui-material/src/RadioGroup/radioGroupClasses.ts
  packages/mui-material/src/styles/components.d.ts
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/overrides.d.ts
Labels: bug 🐛, component: radio, package: material-ui

#41675 [test] Add test to display options provided to the options prop even if loading is true.
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: test

#41667 [pigment-css][vite-plugin] Use constant filename for pigment styles
  packages/pigment-css-vite-plugin/src/vite-plugin.ts
Labels: package: pigment-css

#41589 [pigment-css][demo] Improve sx prop support
  apps/pigment-css-next-app/next.config.js
  apps/pigment-css-next-app/src/app/globals.css
  apps/pigment-css-vite-app/package.json
  apps/pigment-css-vite-app/src/App.tsx
  apps/pigment-css-vite-app/src/Layout.tsx
  apps/pigment-css-vite-app/src/components/ErrorBoundaryFallback.tsx
  apps/pigment-css-vite-app/src/main.tsx
  apps/pigment-css-vite-app/src/pages/index.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-avatar.tsx
  apps/pigment-css-vite-app/src/pages/material-ui/react-breadcrumbs.tsx
  apps/pigment-css-vite-app/vite.config.ts
  nx.json
  package.json
  packages/pigment-css-react/README.md
  packages/pigment-css-react/exports/remove-prop-types-plugin.js
  packages/pigment-css-react/package.json
  packages/pigment-css-react/src/Box.jsx
  packages/pigment-css-react/src/processors/styled.ts
  packages/pigment-css-react/src/styled.jsx
  packages/pigment-css-react/src/utils/pre-linaria-plugin.ts
  packages/pigment-css-react/src/utils/remove-prop-types-plugin.ts
  packages/pigment-css-react/src/utils/sxObjectExtractor.ts
  packages/pigment-css-react/tests/sx/fixtures/sxProps2.input.js
  packages/pigment-css-react/tests/sx/fixtures/sxProps2.output.css
  packages/pigment-css-react/tests/sx/fixtures/sxProps2.output.js
  packages/pigment-css-react/tests/sx/sx.test.ts
  packages/pigment-css-react/tsup.config.ts
  packages/pigment-css-unplugin/package.json
  packages/pigment-css-unplugin/src/index.ts
  packages/pigment-css-vite-plugin/package.json
  packages/pigment-css-vite-plugin/src/vite-plugin.ts
  pnpm-lock.yaml
Labels: package: pigment-css

#41681 [material-ui][RadioGroup] Apply classnames
  packages/mui-material/src/RadioGroup/RadioGroup.d.ts
  packages/mui-material/src/RadioGroup/RadioGroup.js
  packages/mui-material/src/RadioGroup/RadioGroup.test.js
  packages/mui-material/src/RadioGroup/index.d.ts
  packages/mui-material/src/RadioGroup/index.js
  packages/mui-material/src/RadioGroup/radioGroupClasses.ts
  packages/mui-material/src/styles/components.d.ts
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/overrides.d.ts
Labels: bug 🐛, component: radio, package: material-ui

#41680 [docs][material-ui] Fix typo in CSS theme variables customization
  docs/data/material/experimental-api/css-theme-variables/customization.md
Labels: docs, package: material-ui

#41678 [system] Fix typo to avoid infinite recursion in function call.
  packages/mui-system/src/colorManipulator.js
Labels: bug 🐛, package: system

#40224 [system] Add `spacing` theme token to be used in `theme.spacing()`
  packages/mui-joy/src/Typography/Typography.test.tsx
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/defaultTheme.test.js
  packages/mui-joy/src/styles/extendTheme.test.js
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/styleUtils.test.js
  packages/mui-joy/src/styles/types/theme.ts
  packages/mui-material/src/Grid/Grid.js
  packages/mui-material/src/styles/CssVarsProvider.test.js
  packages/mui-material/src/styles/experimental_extendTheme.d.ts
  packages/mui-material/src/styles/experimental_extendTheme.js
  packages/mui-material/src/styles/experimental_extendTheme.test.js
  packages/mui-system/src/createTheme/createSpacing.test.ts
  packages/mui-system/src/createTheme/createSpacing.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/cssVarsParser.test.ts
  packages/mui-system/src/cssVars/cssVarsParser.ts
  packages/mui-system/src/spacing/spacing.js
  packages/mui-system/src/spacing/spacing.test.js
Labels: new feature, package: system, customization: theme

#41668 [codemod] Setup v6 codemod structure
  packages/mui-codemod/README.md
  packages/mui-codemod/src/v6.0.0/all/index.js
  packages/mui-codemod/src/v6.0.0/all/postcss.config.js
  packages/mui-codemod/src/v6.0.0/all/v6-all.js
Labels: package: codemod

#41192 [material-ui] Refine the Sign-in and Sign-up templates
  docs/data/material/getting-started/templates/sign-in-side/Content.js
  docs/data/material/getting-started/templates/sign-in-side/Content.tsx
  docs/data/material/getting-started/templates/sign-in-side/CustomIcons.js
  docs/data/material/getting-started/templates/sign-in-side/CustomIcons.tsx
  docs/data/material/getting-started/templates/sign-in-side/ForgotPassword.js
  docs/data/material/getting-started/templates/sign-in-side/ForgotPassword.tsx
  docs/data/material/getting-started/templates/sign-in-side/SignInCard.js
  docs/data/material/getting-started/templates/sign-in-side/SignInCard.tsx
  docs/data/material/getting-started/templates/sign-in-side/SignInSide.js
  docs/data/material/getting-started/templates/sign-in-side/SignInSide.tsx
  docs/data/material/getting-started/templates/sign-in-side/SitemarkIcon.js
  docs/data/material/getting-started/templates/sign-in-side/SitemarkIcon.tsx
  docs/data/material/getting-started/templates/sign-in-side/ToggleColorMode.js
  docs/data/material/getting-started/templates/sign-in-side/ToggleColorMode.tsx
  docs/data/material/getting-started/templates/sign-in-side/getSignInSideTheme.js
  docs/data/material/getting-started/templates/sign-in-side/getSignInSideTheme.tsx
  docs/data/material/getting-started/templates/sign-in/CustomIcons.js
  docs/data/material/getting-started/templates/sign-in/CustomIcons.tsx
  docs/data/material/getting-started/templates/sign-in/ForgotPassword.js
  docs/data/material/getting-started/templates/sign-in/ForgotPassword.tsx
  docs/data/material/getting-started/templates/sign-in/SignIn.js
  docs/data/material/getting-started/templates/sign-in/SignIn.tsx
  docs/data/material/getting-started/templates/sign-in/ToggleColorMode.js
  docs/data/material/getting-started/templates/sign-in/ToggleColorMode.tsx
  docs/data/material/getting-started/templates/sign-in/getSignInTheme.js
  docs/data/material/getting-started/templates/sign-in/getSignInTheme.tsx
  docs/data/material/getting-started/templates/sign-up/CustomIcons.js
  docs/data/material/getting-started/templates/sign-up/CustomIcons.tsx
  docs/data/material/getting-started/templates/sign-up/SignUp.js
  docs/data/material/getting-started/templates/sign-up/SignUp.tsx
  docs/data/material/getting-started/templates/sign-up/ToggleColorMode.js
  docs/data/material/getting-started/templates/sign-up/ToggleColorMode.tsx
  docs/data/material/getting-started/templates/sign-up/getSignUpTheme.js
  docs/data/material/getting-started/templates/sign-up/getSignUpTheme.tsx
  docs/public/static/images/templates/dashboard.png
  docs/public/static/images/templates/sign-in-side.png
  docs/public/static/images/templates/sign-in.png
  docs/public/static/images/templates/sign-up.png
  docs/public/static/images/templates/templates-images/dark-background.png
  docs/public/static/images/templates/templates-images/light-background.png
  test/regressions/index.js
Labels: docs, package: material-ui, design
