Repository mui/material-ui, pull requests merged in 2024-11, with the labels that each got.

#44288 [material-ui][TextField][docs] Replace InputProps with slotProps.input in demo
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, package: material-ui

#44191 [docs] Revise Example Projects and Related Projects pages
  docs/data/material/discover-more/related-projects/related-projects.md
  docs/data/material/getting-started/example-projects/example-projects.md
  docs/pages/blog/mui-core-v5.md
  docs/src/modules/components/MaterialUIExampleCollection.js
Labels: docs

#44277 [docs-infra] Fix correct spelling of VS Code
  CHANGELOG.old.md
  docs/data/material/design-resources/material-ui-for-figma/material-ui-for-figma.md
  docs/data/material/migration/migration-v4/troubleshooting.md
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/CorrectReferenceAllCases.yml
  docs/mui-vale/styles/MUI/CorrectRererenceCased.yml
  docs/mui-vale/styles/MUI/MuiBrandName.yml
  docs/pages/blog/2023-toolpad-beta-announcement.md
  test/README.md
Labels: bug 🐛, scope: docs-infra

#44289 [docs] Add index to `key` to remove noise from console
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
Labels: docs, scope: docs-infra

#44330 [website] Update the stats
  docs/src/components/home/MuiStatistics.tsx
Labels: website

#43625 [code-infra] Changes for test util to work in `vitest`
  .eslintrc.js
  babel.config.js
  package.json
  packages-internal/test-utils/package.json
  packages-internal/test-utils/src/chai.types.ts
  packages-internal/test-utils/src/chaiPlugin.ts
  packages-internal/test-utils/src/createDOM.js
  packages-internal/test-utils/src/createRenderer.tsx
  packages-internal/test-utils/src/describeConformance.tsx
  packages-internal/test-utils/src/describeSkipIf.tsx
  packages-internal/test-utils/src/index.ts
  packages-internal/test-utils/src/initMatchers.test.js
  packages-internal/test-utils/src/initMatchers.ts
  packages-internal/test-utils/src/mochaHooks.test.js
  packages-internal/test-utils/src/setupJSDOM.js
  packages-internal/test-utils/src/setupVitest.ts
  packages-internal/test-utils/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: test, scope: code-infra

#44339 [material-ui] Support theme scoping in `useMediaQuery`
  packages/mui-material/src/useMediaQuery/index.d.ts
  packages/mui-material/src/useMediaQuery/index.js
  packages/mui-material/src/useMediaQuery/useMediaQuery.test.js
  packages/mui-system/src/useMediaQuery/useMediaQuery.ts
Labels: package: system, package: material-ui

#44292 [docs-infra] Enforce punctuation on descriptions
  docs/data/material/integrations/nextjs/nextjs.md
  packages/markdown/prepareMarkdown.js
  packages/markdown/prepareMarkdown.test.js
Labels: enhancement, scope: docs-infra

#44316 [core] Update Gold sponsoring backlinks
  docs/data/material/discover-more/backers/backers.md
Labels: bug 🐛, core

#44352 [core] Fix webpack capitalization
  CHANGELOG.old.md
  docs/data/joy/integrations/icon-libraries/icon-libraries.md
  docs/data/material/components/icons/icons.md
  docs/data/material/getting-started/faq/faq.md
  docs/data/material/getting-started/supported-platforms/supported-platforms.md
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/data/material/integrations/interoperability/interoperability.md
  docs/data/material/integrations/styled-components/styled-components.md
  docs/data/material/migration/migration-v4/troubleshooting.md
  docs/data/material/migration/upgrade-to-v6/migrating-to-pigment-css.md
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/CorrectReferenceAllCases.yml
  docs/pages/blog/2020-developer-survey-results.md
  docs/pages/blog/2021-developer-survey-results.md
  docs/pages/blog/material-ui-v1-is-out.md
  docs/pages/blog/mui-x-v7-beta.md
  docs/pages/blog/mui-x-v7.md
  docs/pages/careers/developer-experience-engineer.md
  docs/pages/careers/full-stack-engineer.md
  docs/pages/careers/react-community-engineer.md
  docs/pages/careers/react-engineer-core.md
  docs/pages/careers/react-engineer-docs-infra.md
  docs/pages/careers/react-engineer-explore.md
  docs/pages/careers/react-engineer-x-charts.md
  docs/pages/careers/react-engineer-x-grid.md
  docs/pages/careers/react-engineer-x.md
  docs/pages/careers/react-tech-lead-core.md
  docs/pages/careers/react-tech-lead-x-grid.md
  docs/pages/careers/staff-ui-engineer-base-ui.md
  examples/material-ui-preact/README.md
  test/e2e/README.md
  test/regressions/README.md
Labels: bug 🐛, core, scope: docs-infra

#44340 [material-ui] Fix default props theme scoping
  packages/mui-system/src/ThemeProvider/ThemeProvider.js
  packages/mui-system/src/ThemeProvider/ThemeProvider.test.js
Labels: package: material-ui, regression, v6.x

#44338 [docs][material-ui] Fix typo in typography theme set up for templates
  docs/data/material/getting-started/templates/shared-theme/themePrimitives.js
  docs/data/material/getting-started/templates/shared-theme/themePrimitives.ts
Labels: bug 🐛, docs, package: material-ui, design

#44317 [docs] Fix dashboard menu warning
  docs/data/material/getting-started/templates/shared-theme/ColorModeIconDropdown.js
  docs/data/material/getting-started/templates/shared-theme/ColorModeIconDropdown.tsx
Labels: docs

#43526 [examples] Add missing `clsx` dependency
  examples/material-ui-nextjs-pages-router-ts/package.json
  examples/material-ui-nextjs-pages-router/package.json
  examples/material-ui-nextjs-ts-v4-v5-migration/package.json
Labels: bug 🐛, examples

#44386 [docs][material-ui][Rating] Add uncontrolled example to Rating demo
  docs/data/material/components/rating/BasicRating.js
  docs/data/material/components/rating/BasicRating.tsx
  docs/data/material/components/rating/BasicRating.tsx.preview
Labels: docs, package: material-ui, component: rating

#44353 [docs] Fix Pigment CSS install
  docs/data/material/experimental-api/pigment-css/pigment-css.md
Labels: bug 🐛, docs, package: pigment-css

#44388 [docs] Replace 'Experimental APIs - Toolpad' with 'Toolpad (Beta)'
  docs/data/material/components/snackbars/snackbars.md
Labels: docs

#44345 [docs-infra] Fix ad in RTL
  packages/mui-docs/src/Ad/ad.styles.ts
Labels: bug 🐛, regression, scope: docs-infra

#44198 [infra] Improve bug template for reproductions
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: dx, scope: infra

#44376 [material-ui][Grid v1] Fix regression spacing prop with string value
  packages/mui-material/src/Grid/Grid.js
  packages/mui-material/src/Grid/Grid.test.js
  packages/mui-system/src/createTheme/createSpacing.test.ts
Labels: component: Grid, regression

#44390 [docs-infra] Add a `rawDescriptions` option
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/buildApi.ts
  packages/api-docs-builder/utils/escapeEntities.ts
  packages/api-docs-builder/utils/generatePropDescription.ts
  packages/api-docs-builder/utils/generatePropTypeDescription.ts
  packages/api-docs-builder/utils/parseSlotsAndClasses.ts
  scripts/buidApiDocs/index.ts
Labels: scope: docs-infra

#44393 [release] v6.1.7
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#42987 [material-ui][Button] Add loading feature to Button
  docs/data/material/components/button-group/LoadingButtonGroup.js
  docs/data/material/components/button-group/LoadingButtonGroup.tsx
  docs/data/material/components/button-group/LoadingButtonGroup.tsx.preview
  docs/data/material/components/button-group/button-group.md
  docs/data/material/components/buttons/IconButtonWithBadge.js
  docs/data/material/components/buttons/IconButtonWithBadge.tsx
  docs/data/material/components/buttons/IconButtonWithBadge.tsx.preview
  docs/data/material/components/buttons/LoadingButtons.js
  docs/data/material/components/buttons/LoadingButtons.tsx
  docs/data/material/components/buttons/LoadingButtons.tsx.preview
  docs/data/material/components/buttons/LoadingButtonsTransition.js
  docs/data/material/components/buttons/LoadingButtonsTransition.tsx
  docs/data/material/components/buttons/LoadingIconButton.js
  docs/data/material/components/buttons/LoadingIconButton.tsx
  docs/data/material/components/buttons/LoadingIconButton.tsx.preview
  docs/data/material/components/buttons/buttons.md
  docs/data/material/components/dialogs/ToolpadDialogsNoSnap.js
  docs/data/material/components/dialogs/ToolpadDialogsNoSnap.tsx
  docs/data/material/migration/upgrade-to-v6/upgrade-to-v6.md
  docs/data/material/pagesApi.js
  docs/pages/blog/2020-q2-update.md
  docs/pages/blog/mui-core-v5.md
  docs/pages/material-ui/api/button.json
  docs/pages/material-ui/api/icon-button.json
  docs/pages/material-ui/api/loading-button.js
  docs/pages/material-ui/api/loading-button.json
  docs/src/pagesApi.js
  docs/translations/api-docs/button/button.json
  docs/translations/api-docs/icon-button/icon-button.json
  docs/translations/api-docs/loading-button/loading-button.json
  packages/mui-lab/src/LoadingButton/LoadingButton.d.ts
  packages/mui-lab/src/LoadingButton/LoadingButton.js
  packages/mui-lab/src/LoadingButton/LoadingButton.spec.tsx
  packages/mui-lab/src/LoadingButton/LoadingButton.test.js
  packages/mui-lab/src/LoadingButton/index.d.ts
  packages/mui-lab/src/LoadingButton/index.js
  packages/mui-lab/src/LoadingButton/loadingButtonClasses.ts
  packages/mui-material/src/Button/Button.d.ts
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/Button/Button.spec.tsx
  packages/mui-material/src/Button/Button.test.js
  packages/mui-material/src/Button/buttonClasses.ts
  packages/mui-material/src/IconButton/IconButton.d.ts
  packages/mui-material/src/IconButton/IconButton.js
  packages/mui-material/src/IconButton/IconButton.test.js
  packages/mui-material/src/IconButton/iconButtonClasses.ts
  test/regressions/fixtures/Button/FullWidthLoadingButtons.js
Labels: new feature, component: button, package: material-ui

#44377 [blog] MUI X v8 alpha zero blog post
  docs/pages/blog/mui-x-v8-alpha-zero.js
  docs/pages/blog/mui-x-v8-alpha-zero.md
Labels: blog, MUI X

#44337 [materia-ui][StepIcon] Add SvgIconOwnProps type to StepIcon props
  docs/pages/material-ui/api/step-icon.json
  packages/mui-material/src/StepIcon/StepIcon.d.ts
  packages/mui-material/src/StepIcon/StepIcon.spec.tsx
  packages/mui-material/src/StepIcon/StepIcon.test.js
Labels: bug 🐛, component: stepper, typescript, package: material-ui

#44412 [code-infra] Use vitest-compatible skip in `describeConformance`
  packages-internal/test-utils/src/describeConformance.tsx
Labels: bug 🐛, scope: code-infra

#44416 [blog] Fix reference to subdomain on MUI X v8 alpha zero post
  docs/pages/blog/mui-x-v8-alpha-zero.md
Labels: blog, MUI X

#44410 [utils] Add documentation to `useForkRef`
  packages/mui-utils/src/useForkRef/useForkRef.ts
Labels: docs, package: utils

#44422 [material-ui][Autocomplete] Use `ul` element for the listbox
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
Labels: package: material-ui, component: autocomplete

#44424 [core] Polish useForkRef docs
  packages/mui-utils/src/useForkRef/useForkRef.ts
Labels: core

#44383 [docs] Bring back `*Component` and `*Props` codemods and deprecation messages
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/accordion.json
  docs/pages/material-ui/api/autocomplete.json
  docs/pages/material-ui/api/avatar.json
  docs/pages/material-ui/api/backdrop.json
  docs/pages/material-ui/api/speed-dial.json
  docs/pages/material-ui/api/step-label.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/autocomplete-props/autocomplete-props.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/autocomplete-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/backdrop-props/backdrop-props.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/backdrop-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/step-label-props/step-label-props.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/step-label-props/test-cases/theme.expected.js
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Avatar/Avatar.d.ts
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/SpeedDial/SpeedDial.js
  packages/mui-material/src/StepLabel/StepLabel.d.ts
  packages/mui-material/src/StepLabel/StepLabel.js
Labels: docs, package: material-ui

#44315 [docs] Add App starters in related-projects.md
  docs/data/material/components/dialogs/dialogs.md
  docs/data/material/components/menus/menus.md
  docs/data/material/components/popover/popover.md
  docs/data/material/components/popper/popper.md
  docs/data/material/components/snackbars/snackbars.md
  docs/data/material/components/text-fields/text-fields.md
  docs/data/material/discover-more/related-projects/related-projects.md
Labels: docs

#44400 [utils] skip deep clone React element
  packages/mui-utils/src/deepmerge/deepmerge.test.ts
  packages/mui-utils/src/deepmerge/deepmerge.ts
Labels: enhancement, nextjs

#44350 [Tooltip] Deprecate *Component and *Props for v6
  docs/data/material/components/material-icons/SearchIcons.js
  docs/data/material/components/tooltips/AnchorElTooltips.js
  docs/data/material/components/tooltips/AnchorElTooltips.tsx
  docs/data/material/components/tooltips/TransitionsTooltips.js
  docs/data/material/components/tooltips/TransitionsTooltips.tsx
  docs/data/material/components/tooltips/TransitionsTooltips.tsx.preview
  docs/data/material/components/tooltips/TriggersTooltips.js
  docs/data/material/components/tooltips/TriggersTooltips.tsx
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/tooltip.json
  docs/translations/api-docs/tooltip/tooltip.json
  packages-internal/test-utils/src/describeConformance.tsx
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/tooltip-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/tooltip-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/tooltip-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/tooltip-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/tooltip-props/tooltip-props.js
  packages/mui-material/src/Tooltip/Tooltip.d.ts
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Tooltip/Tooltip.spec.tsx
  packages/mui-material/src/Tooltip/Tooltip.test.js
Labels: component: tooltip, package: material-ui, v6.x

#44453 [docs][Accordion] Replace hardcoded classes with constants in demos
  docs/data/material/components/accordion/AccordionTransition.js
  docs/data/material/components/accordion/AccordionTransition.tsx
  docs/data/material/components/accordion/CustomizedAccordions.js
  docs/data/material/components/accordion/CustomizedAccordions.tsx
Labels: docs, component: accordion, package: material-ui

#44425 [test][Autocomplete] Make virtualize regression screenshots deterministic
  test/regressions/fixtures/Autocomplete/Virtualize.js
Labels: test, component: autocomplete

#44454 [docs] Revert #44388
  docs/data/material/components/snackbars/snackbars.md
Labels: docs, Toolpad

#44419 [Grid2] Remove item and zeroMinWidth classes from grid2Classes
  packages/mui-material/src/Grid2/grid2Classes.ts
Labels: bug 🐛, component: Grid

#44421 [styled-engine] Add back removed internal function
  packages/mui-styled-engine-sc/src/index.d.ts
  packages/mui-styled-engine-sc/src/index.js
Labels: bug 🐛, package: styled-engine

#44448 [infra] Upgrade Cherry-pick workflow to latest
  .github/workflows/cherry-pick-next-to-master.yml
  .github/workflows/create-cherry-pick-pr.yml
Labels: enhancement, scope: infra

#44455 [material-ui] Add generic back to `useMediaQuery` to prevent a breaking change
  packages/mui-material/src/useMediaQuery/index.d.ts
Labels: typescript, package: material-ui, hook: useMediaQuery

#44473 [Button] Fix `CircularProgress` import
  docs/data/material/components/buttons/buttons.md
  docs/translations/api-docs/button/button.json
  docs/translations/api-docs/icon-button/icon-button.json
  packages/mui-lab/src/LoadingButton/LoadingButton.js
  packages/mui-material/src/Button/Button.d.ts
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/IconButton/IconButton.d.ts
  packages/mui-material/src/IconButton/IconButton.js
Labels: component: icon button, component: button, package: material-ui

#44474 [website] Add Poprey as backlink sponsor and remove Marblism as diamond sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/public/static/sponsors/marblism-dark.png
  docs/public/static/sponsors/marblism-dark.svg
  docs/public/static/sponsors/marblism-light.svg
  docs/public/static/sponsors/marblism-rectangular.svg
  docs/public/static/sponsors/marblism-square.png
  docs/public/static/sponsors/marblism-square.svg
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/home/GoldSponsors.tsx
  docs/src/modules/components/DiamondSponsors.js
Labels: website

#44461 [docs] Copyedit Templates page
  docs/data/material/getting-started/templates/templates.md
  packages/mui-docs/src/translations/translations.json
Labels: docs

#44484 [core] Remove TODO line in the changelog
  CHANGELOG.md
Labels: core

#44498 [pigment-css] Make @pigment-css/react as peer dependency
  docs/data/material/migration/upgrade-to-v6/migrating-to-pigment-css.md
  examples/material-ui-pigment-css-nextjs-ts/package.json
  examples/material-ui-pigment-css-vite-ts/package.json
  packages/mui-material-pigment-css/package.json
Labels: breaking change, package: material-pigment-css

#44479 [test] Do not enforce the presence of `ownerState.className` in `describeConformance`
  packages-internal/test-utils/src/describeConformance.tsx
  packages/mui-material/src/FilledInput/FilledInput.test.js
  packages/mui-material/src/Input/Input.test.js
  packages/mui-material/src/InputBase/InputBase.test.js
  packages/mui-material/src/ListItem/ListItem.test.js
  packages/mui-material/src/OutlinedInput/OutlinedInput.test.js
  packages/mui-material/src/PaginationItem/PaginationItem.test.js
  packages/mui-material/src/Popper/Popper.test.js
  packages/mui-material/src/Slider/Slider.test.js
  packages/mui-material/src/TextField/TextField.test.js
Labels: test

#44466 [docs] Fix template page issues
  .eslintrc.js
  docs/data/material/getting-started/templates/.eslintrc.js
  docs/data/material/getting-started/templates/marketing-page/components/FAQ.js
  docs/data/material/getting-started/templates/marketing-page/components/FAQ.tsx
  docs/data/material/getting-started/templates/sign-in-side/SignInCard.js
  docs/data/material/getting-started/templates/sign-in-side/SignInCard.tsx
  docs/public/static/screenshots/material-ui/getting-started/templates/blog-dark.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/blog.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/checkout-dark.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/checkout.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/dashboard-dark.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/dashboard.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/marketing-page-dark.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/marketing-page.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/sign-in-dark.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/sign-in-side-dark.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/sign-in-side.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/sign-in.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/sign-up-dark.jpg
  docs/public/static/screenshots/material-ui/getting-started/templates/sign-up.jpg
  docs/scripts/generateTemplateScreenshots.ts
  docs/src/modules/components/MaterialFreeTemplatesCollection.js
  docs/src/modules/components/MaterialShowcase.js
  packages/markdown/prepareMarkdown.js
Labels: bug 🐛, docs

#44462 [docs][material-ui] Add missing Roboto import to Next.js integration docs
  docs/data/material/integrations/nextjs/nextjs.md
Labels: docs

#44490 [website] Improve pricing page tree view animation
  docs/src/components/pricing/PricingTable.tsx
Labels: design, website

#44515 [docs-infra] Fix Sponsor design regression
  docs/src/modules/components/DiamondSponsors.js
Labels: bug 🐛, regression, scope: docs-infra

#44513 [docs-infra] Correctly ban the use of e.g.
  docs/data/material/components/selects/selects.md
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/CorrectRererenceCased.yml
  packages-internal/docs-utils/src/getPropsFromComponentNode.ts
  packages/api-docs-builder/utils/getPropsFromComponentNode.ts
Labels: bug 🐛, scope: docs-infra

#44514 [docs-infra] Correctly flatten the pages tree
  docs/src/modules/components/AppLayoutDocsFooter.js
Labels: bug 🐛, scope: docs-infra

#44502 [mui-material][Select] Omit `placeholder` from props
  packages/mui-material/src/Select/Select.d.ts
Labels: component: select, typescript, package: material-ui

#44489 [core-infra] Add no-relative-packages
  .eslintrc.js
  dangerFileContent.ts
  docs/scripts/updateIconSynonyms.js
  docs/src/modules/components/ApiPage/list/ClassesList.tsx
  docs/src/modules/components/ApiPage/list/PropertiesList.tsx
  docs/src/modules/components/ApiPage/sections/ToggleDisplayOption.tsx
  docs/src/modules/components/ApiPage/table/ClassesTable.tsx
  docs/src/modules/components/ApiPage/table/PropertiesTable.tsx
  docs/src/modules/components/ApiPage/table/SlotsTable.tsx
  docs/src/modules/components/JoyThemeBuilder.tsx
  docs/src/modules/components/JoyUsageDemo.tsx
  docs/src/modules/components/JoyVariablesDemo.tsx
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/modules/components/ThemeViewer.tsx
  packages/rsc-builder/buildRsc.ts
Labels: enhancement, scope: code-infra

#44541 [docs-infra] Improve locator finding using visible option
  docs/data/material/getting-started/templates/dashboard/components/AppNavbar.js
  docs/data/material/getting-started/templates/dashboard/components/AppNavbar.tsx
  docs/scripts/generateTemplateScreenshots.ts
Labels: scope: docs-infra

#44467 [docs][dialog] Fix padding in SimpleDialog demo
  docs/data/material/components/dialogs/SimpleDialogDemo.js
  docs/data/material/components/dialogs/SimpleDialogDemo.tsx
Labels: bug 🐛, docs, component: list, regression

#44543 [material-ui] Cherry pick ref accessing PRs
  packages/mui-base/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-base/src/FocusTrap/FocusTrap.tsx
  packages/mui-base/src/Portal/Portal.tsx
  packages/mui-joy/src/Tooltip/Tooltip.tsx
  packages/mui-material/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-material/src/Fade/Fade.js
  packages/mui-material/src/Grow/Grow.js
  packages/mui-material/src/Portal/Portal.tsx
  packages/mui-material/src/Select/Select.js
  packages/mui-material/src/Slide/Slide.js
  packages/mui-material/src/Tooltip/Tooltip.js
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
  packages/mui-material/src/Zoom/Zoom.js
  packages/mui-utils/src/getReactElementRef/getReactElementRef.spec.tsx
  packages/mui-utils/src/getReactElementRef/getReactElementRef.test.tsx
  packages/mui-utils/src/getReactElementRef/getReactElementRef.ts
  packages/mui-utils/src/getReactElementRef/index.ts
  packages/mui-utils/src/index.ts
  packages/mui-utils/src/useForkRef/useForkRef.test.js
Labels: bug 🐛, package: material-ui, cherry-pick

#44494 [utils] skip deep clone React element (v5.x)
  packages/mui-utils/src/deepmerge/deepmerge.test.ts
  packages/mui-utils/src/deepmerge/deepmerge.ts
Labels: package: utils, nextjs

#44451 [system] Add ThemeProvider `noSsr` to prevent double rendering
  docs/data/material/customization/dark-mode/dark-mode.md
  packages/mui-material/src/styles/ThemeProvider.tsx
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.test.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.ts
Labels: package: system, v6.x, enhancement

#44195 [codemod] Fix handling of computed `paragraph` props
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/typography-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/typography-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/typography-props/typography-props.js
Labels: bug 🐛, package: codemod, v6.x migration

#44420 [Grid2] Export `Grid2Classes` interface
  docs/pages/material-ui/api/grid-2.json
  docs/translations/api-docs/grid-2/grid-2.json
  packages/mui-material/src/Grid2/Grid2.tsx
  packages/mui-material/src/Grid2/grid2Classes.ts
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/overrides.d.ts
Labels: bug 🐛, component: Grid, typescript

#44557 [test] Cherry-pick React 19-related test PRs
  packages/mui-base/src/Unstable_NumberInput/NumberInput.test.tsx
  packages/mui-base/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-joy/src/Autocomplete/Autocomplete.test.tsx
  packages/mui-lab/src/Masonry/Masonry.test.js
  packages/mui-material/src/Accordion/Accordion.test.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/Grid/Grid.test.js
  packages/mui-material/src/IconButton/IconButton.test.js
  packages/mui-material/src/InputBase/InputBase.test.js
  packages/mui-material/src/ListItem/ListItem.test.js
  packages/mui-material/src/Menu/Menu.test.js
  packages/mui-material/src/Popover/Popover.test.js
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Tabs/Tabs.test.js
  packages/mui-material/src/Tooltip/Tooltip.test.js
  packages/mui-material/src/internal/SwitchBase.test.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-material/src/useMediaQuery/useMediaQuery.test.js
  packages/mui-styles/src/makeStyles/makeStyles.test.js
  packages/mui-utils/src/elementAcceptingRef/elementAcceptingRef.test.tsx
  packages/mui-utils/src/getDisplayName/getDisplayName.test.tsx
  packages/test-utils/src/createRenderer.tsx
  packages/test-utils/src/fireDiscreteEvent.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/reactMajor.ts
  packages/test-utils/src/userEvent.ts
Labels: test, cherry-pick

#44560 [Grid2] Revert Export `Grid2Classes` interface (#44420)
  docs/pages/material-ui/api/grid-2.json
  docs/translations/api-docs/grid-2/grid-2.json
  packages/mui-material/src/Grid2/Grid2.tsx
  packages/mui-material/src/Grid2/grid2Classes.ts
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/overrides.d.ts
Labels: component: Grid

#44561 [material-ui][Autocomplete] Cherry-pick #43189
  packages/mui-base/src/useAutocomplete/useAutocomplete.js
  packages/mui-base/src/useAutocomplete/useAutocomplete.test.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.test.js
Labels: package: material-ui, component: autocomplete, cherry-pick

#44318 [core] Remove React.ReactElement<any> from describeConformance.tsx
  packages-internal/test-utils/src/describeConformance.tsx
Labels: typescript, core

#44567 [docs-infra] Fix display when ad-block triggers
  packages/mui-docs/src/Ad/Ad.tsx
  packages/mui-docs/src/ComponentLinkHeader/ComponentLinkHeader.tsx
  packages/mui-docs/src/MarkdownElement/MarkdownElement.tsx
Labels: bug 🐛, regression, scope: docs-infra

#44559 [docs-infra] Support CSS variables API info
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/ApiBuilders/HookApiBuilder.ts
  packages/api-docs-builder/types/ApiBuilder.types.ts
  packages/api-docs-builder/types/utils.types.ts
  packages/api-docs-builder/utils/extractInfoFromType.ts
Labels: scope: docs-infra

#44574 [core] Bump pnpm to 9.14.2 in v5.x branch
  package.json
  pnpm-lock.yaml
Labels: dependencies, core, cherry-pick

#44578 [core] Cherry pick React 19 added to peer dependencies to v5.x
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: core, cherry-pick

#44486 [examples] Use Next.js 14 on examples
  examples/material-ui-nextjs-pages-router-ts/README.md
  examples/material-ui-nextjs-pages-router-ts/package.json
  examples/material-ui-nextjs-pages-router/README.md
  examples/material-ui-nextjs-pages-router/package.json
  examples/material-ui-nextjs-ts/README.md
  examples/material-ui-nextjs-ts/package.json
  examples/material-ui-nextjs/README.md
  examples/material-ui-nextjs/package.json
  pnpm-lock.yaml
Labels: examples, nextjs

#44550 v5.16.8
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#44552 [FilledInput] Use `slotProps` instead of `componentsProps`
  packages/mui-material/src/FilledInput/FilledInput.js
Labels: package: material-ui, v6.x, enhancement

#44589 [core] Ignore browserslist and remove tag latest
  package.json
Labels: core

#44593 [material-ui][Tabs] Fix `ScrollbarSize` ref being overriden
  packages/mui-material/src/Tabs/ScrollbarSize.js
Labels: component: tabs, package: material-ui, React 19 support

#44595 [material-ui][Tabs] Cherry pick `ScrollbarSize` ref being overriden fix
  packages/mui-material/src/Tabs/ScrollbarSize.js
Labels: component: tabs, package: material-ui, cherry-pick

#44536 [material-ui][Avatar] Fix `slotProps.img` not spread to hook
  packages/mui-material/src/Avatar/Avatar.js
  packages/mui-material/src/Avatar/Avatar.test.js
Labels: bug 🐛

#44586 [core] Update eslint config
  .eslintrc.js
Labels: core

#44290 [material-ui] Remove few more React.ReactElement<any> types
  docs/src/modules/components/JoyThemeBuilder.tsx
  packages/mui-material/src/Modal/useModal.ts
  packages/mui-material/src/Modal/useModal.types.ts
  packages/mui-material/src/Slider/SliderValueLabel.types.ts
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.tsx
  packages/mui-material/src/Unstable_TrapFocus/FocusTrap.types.ts
  packages/mui-styles/test/styles.spec.tsx
Labels: typescript, package: material-ui

#44516 [core-infra] Remove useless fragments
  docs/data/material/getting-started/templates/shared-theme/AppTheme.js
  docs/data/material/getting-started/templates/shared-theme/AppTheme.tsx
  docs/pages/joy-ui/api/stack.json
  docs/pages/material-ui/api/container.json
  docs/pages/material-ui/api/grid-2.json
  docs/pages/material-ui/api/stack.json
  docs/pages/system/api/container.json
  docs/pages/system/api/grid.json
  docs/pages/system/api/stack.json
  packages/api-docs-builder/ApiBuilders/ComponentApiBuilder.ts
  packages/api-docs-builder/utils/defaultPropsHandler.ts
  packages/api-docs-builder/utils/getPropsFromComponentNode.ts
  packages/mui-base/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-base/src/NoSsr/NoSsr.tsx
  packages/mui-base/src/Portal/Portal.tsx
  packages/mui-material/src/ClickAwayListener/ClickAwayListener.tsx
  packages/mui-material/src/Hidden/HiddenJs.js
  packages/mui-material/src/NoSsr/NoSsr.tsx
  packages/mui-material/src/Portal/Portal.tsx
Labels: performance, scope: code-infra

#44585 [material-ui] Skip `tonalOffset` from setting color channel
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-material/src/styles/createThemeWithVars.js
Labels: package: material-ui, customization: theme

#44588 [ThemeProvider] Optimize `theme` changes when enabling CSS theme variables
  packages/mui-material/src/styles/ThemeProviderWithVars.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: performance, package: material-ui, customization: theme

#44598 [Grid2] Add container styles from styleOverrides
  packages/mui-material/src/Grid2/Grid2.test.js
  packages/mui-material/src/Grid2/Grid2.tsx
Labels: bug 🐛, component: Grid, package: material-ui, regression

#44535 [docs-infra] Fix TOC RTL padding regression
  docs/src/modules/components/AppTableOfContents.js
Labels: bug 🐛, regression, scope: docs-infra
