Repository mui/material-ui, pull requests merged in 2025-05, with the labels that each got.

#46053 [core] Avoid the need for `@mui/material/themeCssVarsAugmentation`
  packages/mui-material/src/styles/createThemeNoVars.d.ts
Labels: core

#46054 [code-infra] Correct some manually curated .d.ts files
  docs/src/modules/components/AppLayoutDocs.d.ts
  docs/src/modules/components/AppSearch.d.ts
  docs/src/modules/components/AppSettingsDrawer.d.ts
Labels: scope: code-infra

#46055 [website] Adds Rita Iglesias to the team members (About page)
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/rita-iglesias.png
Labels: website

#46084 [material-ui] Remove unnecessary clsx usages
  packages/mui-material/src/Chip/Chip.js
  packages/mui-material/src/Dialog/Dialog.js
  packages/mui-material/src/Slider/SliderValueLabel.tsx
Labels: package: material-ui, enhancement

#46083 [styled-engine] Infer `ownerState` from props in `styled`
  packages/mui-styled-engine/src/index.d.ts
  packages/mui-system/src/styled/styled.spec.ts
Labels: typescript, package: styled-engine

#46064 [docs-infra] Update feedback Node.js to v22
  docs/src/modules/components/AppLayoutDocsFooter.js
  packages/feedback/package.json
Labels: enhancement, scope: docs-infra

#46051 [core] Fix internal version duplication
  docs/next.config.ts
Labels: core, regression 🐛, MUI X

#46085 [website] Add Follower24 as backlink sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/public/static/sponsors/follower24-square.svg
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#46007 [core] Remove `benchmark` package
  .browserslistrc
  .circleci/config.yml
  babel.config.js
  benchmark/browser/README.md
  benchmark/browser/index.html
  benchmark/browser/index.js
  benchmark/browser/scenarios/box-baseline/index.js
  benchmark/browser/scenarios/box-chakra-ui/index.js
  benchmark/browser/scenarios/box-material-ui/index.js
  benchmark/browser/scenarios/box-theme-ui/index.js
  benchmark/browser/scenarios/components/index.js
  benchmark/browser/scenarios/grid-material-ui/index.js
  benchmark/browser/scenarios/grid-simple/index.js
  benchmark/browser/scenarios/grid-system/index.js
  benchmark/browser/scenarios/make-styles/index.js
  benchmark/browser/scenarios/noop/index.js
  benchmark/browser/scenarios/primitives/index.js
  benchmark/browser/scenarios/styled-components-box-material-ui-system/index.js
  benchmark/browser/scenarios/styled-components-box-styled-system/index.js
  benchmark/browser/scenarios/styled-emotion/index.js
  benchmark/browser/scenarios/styled-material-ui/index.js
  benchmark/browser/scenarios/styled-sc/index.js
  benchmark/browser/scenarios/table-cell/index.js
  benchmark/browser/scripts/benchmark.js
  benchmark/browser/utils/index.js
  benchmark/browser/webpack.config.js
  benchmark/package.json
  benchmark/server/README.md
  benchmark/server/scenarios/core.js
  benchmark/server/scenarios/docs.js
  benchmark/server/scenarios/server.js
  benchmark/server/scenarios/styles.js
  benchmark/server/scenarios/system.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core

#46087 v7.1.0
  CHANGELOG.md
  package.json
  packages-internal/babel-plugin-minify-errors/package.json
  packages-internal/babel-plugin-resolve-imports/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#45992 [docs] Show how to target global state classes with CSS Modules
  docs/data/material/integrations/interoperability/interoperability.md
Labels: docs, customization: css

#46061 [website] Update values
  docs/src/components/about/OurValues.tsx
Labels: website, regression 🐛

#46099 [code-infra] Remove required checkout workflows in circleci
  .circleci/config.yml
Labels: scope: code-infra

#46100 [code-infra] Remove checkout job altogether
  .circleci/config.yml
Labels: scope: code-infra

#46065 [website] Fix CSS alignment
  docs/src/components/home/DesignKits.tsx
Labels: website, regression 🐛

#46090 [docs] Remove oudated scaffoldhub ad
  docs/data/material/discover-more/related-projects/related-projects.md
  docs/public/static/ads-in-house/scaffoldhub.png
  packages/mui-docs/src/Ad/Ad.tsx
Labels: docs, enhancement, scope: docs-infra

#45999 [core] Add comment that lab should be in alpha
  packages/mui-lab/package.json
Labels: package: lab, core

#45265 [website] Clarify grandfathering policy
  docs/pages/blog/mui-x-sep-2024-price-update.md
Labels: website, enhancement

#46108 [code-infra] Import mocha type instead of global
  packages-internal/test-utils/package.json
  packages-internal/test-utils/src/describeSkipIf.tsx
  packages-internal/test-utils/src/index.ts
Labels: core, scope: code-infra

#45839 [core] Update security.md
  SECURITY.md
Labels: core, security

#46002 [docs] Update upgrade guide for resolution of `react-is`
  docs/data/material/migration/upgrade-to-v6/upgrade-to-v6.md
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
Labels: docs, v7.x, v6.x migration

#46144 [material-ui][Menu] Remove depreacted `MenuListProps` from demos
  docs/data/material/components/menus/BasicMenu.js
  docs/data/material/components/menus/BasicMenu.tsx
  docs/data/material/components/menus/CustomizedMenus.js
  docs/data/material/components/menus/CustomizedMenus.tsx
  docs/data/material/components/menus/FadeMenu.js
  docs/data/material/components/menus/FadeMenu.tsx
  docs/data/material/components/menus/GroupedMenu.js
  docs/data/material/components/menus/GroupedMenu.tsx
  docs/data/material/components/menus/LongMenu.js
  docs/data/material/components/menus/LongMenu.tsx
  docs/data/material/components/menus/SimpleListMenu.js
  docs/data/material/components/menus/SimpleListMenu.tsx
Labels: docs, component: menu, package: material-ui, support: docs-feedback

#46141 [Autocomplete] Add note in JSDoc for non-TextField components in `renderInput`
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-material/src/Autocomplete/Autocomplete.d.ts
  packages/mui-material/src/Autocomplete/Autocomplete.js
Labels: component: autocomplete, enhancement

#45990 [core] Upgrade MUI X packages to v8
  docs/data/material/getting-started/templates/dashboard/components/ChartUserByCountry.js
  docs/data/material/getting-started/templates/dashboard/components/ChartUserByCountry.tsx
  docs/data/material/getting-started/templates/dashboard/components/CustomDatePicker.js
  docs/data/material/getting-started/templates/dashboard/components/CustomDatePicker.tsx
  docs/data/material/getting-started/templates/dashboard/components/CustomizedTreeView.js
  docs/data/material/getting-started/templates/dashboard/components/CustomizedTreeView.tsx
  docs/data/material/getting-started/templates/dashboard/components/PageViewsBarChart.js
  docs/data/material/getting-started/templates/dashboard/components/PageViewsBarChart.tsx
  docs/data/material/getting-started/templates/dashboard/components/SessionsChart.js
  docs/data/material/getting-started/templates/dashboard/components/SessionsChart.tsx
  docs/data/material/getting-started/templates/dashboard/components/StatCard.js
  docs/data/material/getting-started/templates/dashboard/components/StatCard.tsx
  docs/data/material/getting-started/templates/dashboard/internals/data/gridData.js
  docs/data/material/getting-started/templates/dashboard/internals/data/gridData.tsx
  docs/data/material/getting-started/templates/dashboard/theme/customizations/datePickers.js
  docs/data/material/getting-started/templates/dashboard/theme/customizations/datePickers.ts
  docs/data/material/getting-started/templates/dashboard/theme/customizations/treeView.js
  docs/data/material/getting-started/templates/dashboard/theme/customizations/treeView.ts
  docs/next.config.ts
  docs/package.json
  docs/src/components/home/XGridGlobalStyles.tsx
  docs/src/components/productX/XChartsDemo.tsx
  docs/src/components/productX/XDataGrid.tsx
  docs/src/components/productX/XDateRangeDemo.tsx
  docs/src/components/productX/XGridFullDemo.tsx
  docs/src/components/productX/XHero.tsx
  docs/src/components/productX/XTreeViewDemo.tsx
  docs/src/components/showcase/FolderTreeView.tsx
  pnpm-lock.yaml
Labels: core

#46127 [docs][Grid] Remove direction `column` and `column-reverse` from the demo
  docs/data/material/components/grid/InteractiveGrid.js
  docs/data/material/components/grid/InteractiveGrid.tsx
Labels: docs, component: Grid, package: material-ui

#46135 [docs] Fix GridLegacy docs order
  docs/data/material/pages.ts
  docs/translations/translations.json
Labels: docs

#46057 [docs][material-ui][Grid] Update grid migration guide
  docs/data/material/migration/upgrade-to-v6/upgrade-to-v6.md
Labels: docs, component: Grid, package: system, package: material-ui, v6.x, needs cherry-pick

#46151 [code-infra] Remove unnecessary ref from `HighlightedCode` component
  packages/mui-docs/src/HighlightedCode/HighlightedCode.tsx
Labels: core, scope: docs-infra, scope: code-infra

#46149 [material-ui][TablePaginationActions] export TablePaginationActions as new component
  docs/data/material/components/pagination/pagination.md
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/data/material/pagesApi.js
  docs/pages/material-ui/api/table-pagination-actions.js
  docs/pages/material-ui/api/table-pagination-actions.json
  docs/translations/api-docs/table-pagination-actions/table-pagination-actions.json
  packages/mui-material/src/TablePagination/TablePagination.d.ts
  packages/mui-material/src/TablePagination/TablePagination.js
  packages/mui-material/src/TablePaginationActions/TablePaginationActions.d.ts
  packages/mui-material/src/TablePaginationActions/TablePaginationActions.js
  packages/mui-material/src/TablePaginationActions/TablePaginationActions.test.js
  packages/mui-material/src/TablePaginationActions/index.d.ts
  packages/mui-material/src/TablePaginationActions/index.js
  packages/mui-material/src/TablePaginationActions/tablePaginationActionsClasses.ts
  packages/mui-material/src/index.d.ts
  packages/mui-material/src/index.js
  packages/mui-material/src/styles/components.ts
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-material/src/styles/overrides.ts
  packages/mui-material/src/styles/props.ts
  test/bundling/scripts/packages.js
Labels: new feature, docs, package: material-ui, component: TablePagination

#46154 [system] Update the type for borderRadius
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-system/src/borders/borders.test.js
  packages/mui-system/src/createTheme/shape.d.ts
Labels: typescript, package: system, customization: theme

#46129 [system] Skip styled component from being transformed
  packages/mui-system/src/createStyled/createStyled.js
  test/regressions/fixtures/componentSelector/ComponentSelector.js
Labels: package: system, v6.x, needs cherry-pick

#46058 [docs][ToggleButtonGroup] Add spacing demo
  docs/data/material/components/toggle-button/HorizontalSpacingToggleButton.js
  docs/data/material/components/toggle-button/HorizontalSpacingToggleButton.tsx
  docs/data/material/components/toggle-button/VerticalSpacingToggleButton.js
  docs/data/material/components/toggle-button/VerticalSpacingToggleButton.tsx
  docs/data/material/components/toggle-button/toggle-button.md
Labels: docs, component: toggle button

#46176 [docs] Clarify Next.js + Tailwind CSS v3 integration requirements
  docs/data/material/integrations/interoperability/interoperability.md
Labels: docs

#46185 [docs][material-ui][Dialog] Remove deprecated TransitionComponent from demo
  docs/data/material/components/dialogs/FullScreenDialog.js
  docs/data/material/components/dialogs/FullScreenDialog.tsx
Labels: docs, component: dialog, support: docs-feedback

#46198 [SnackbarContent] Fix error when theme value is CSS variable
  packages/mui-material/src/SnackbarContent/SnackbarContent.js
  packages/mui-material/src/SnackbarContent/SnackbarContent.test.js
Labels: bug 🐛, component: snackbar

#45909 [website] Remove banner for the ongoing Dev survey 2025
  docs/notifications.json
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/featureToggle.ts
Labels: docs, website

#46227 [code-infra] Move `chai` to peerDep
  packages-internal/test-utils/package.json
  packages-internal/test-utils/src/chaiPlugin.ts
  pnpm-lock.yaml
Labels: enhancement, scope: code-infra

#46222 [code-infra] Bump eslint to v9
  .eslintrc.js
  package.json
  packages/mui-material/src/useAutocomplete/useAutocomplete.js
  pnpm-lock.yaml
Labels: scope: code-infra

#46187 [types] Fix variant props callback type to spread `ownerState`
  packages/mui-material/src/styles/styled.spec.tsx
  packages/mui-styled-engine/src/index.d.ts
  packages/mui-system/src/styled/styled.spec.ts
Labels: bug 🐛, typescript, v7.x
