Repository mui/material-ui, pull requests merged in 2025-02, with the labels that each got.

#45185 [core] Fix corepack and pnpm installation in CircleCI
  .circleci/config.yml
Labels: core

#45184 [material-ui][Radio] Remove empty line
  packages/mui-material/src/Radio/Radio.js
Labels: component: radio, package: material-ui

#45146 [core] Fix double redirection to Base UI
  docs/src/components/productBaseUI/BaseUIThemesDemo.tsx
  docs/src/components/productBaseUI/MuiBaseDeprecation.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/route.ts
Labels: docs

#45194 [core] Fix corepack and pnpm installation in CircleCI (#45185)
  .circleci/config.yml
Labels: core

#45191 [material-ui][LinearProgress][CircularProgress] Add variant overrides for module augmentation
  packages/mui-material/src/CircularProgress/CircularProgress.d.ts
  packages/mui-material/src/LinearProgress/LinearProgress.d.ts
  packages/mui-material/test/typescript/moduleAugmentation/progressProps.spec.tsx
Labels: bug 🐛, typescript, component: progress, cherry-pick

#45199 [material-ui][TextField] Remove deprecated props from documentation
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, component: text field, package: material-ui, v6.x, needs cherry-pick

#45156 [material-ui][Snackbar] Fix generated proptypes
  docs/pages/material-ui/api/snackbar.json
  packages/mui-material/src/Snackbar/Snackbar.d.ts
  packages/mui-material/src/Snackbar/Snackbar.js
Labels: bug 🐛, component: snackbar, package: material-ui, regression

#45012 [material-ui][Tabs] Deprecate *Props and complete `slots`, `slotProps`
  docs/data/material/guides/composition/composition.md
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/tab-list.json
  docs/pages/material-ui/api/tabs.json
  docs/translations/api-docs/tab-list/tab-list.json
  docs/translations/api-docs/tabs/tabs.json
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/tabs-classes/index.js
  packages/mui-codemod/src/deprecations/tabs-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/tabs-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/tabs-classes/tabs-classes.js
  packages/mui-codemod/src/deprecations/tabs-classes/tabs-classes.test.js
  packages/mui-codemod/src/deprecations/tabs-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/tabs-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/tabs-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/tabs-classes/test-cases/expected.js
  packages/mui-codemod/src/deprecations/tabs-props/index.js
  packages/mui-codemod/src/deprecations/tabs-props/tabs-props.js
  packages/mui-codemod/src/deprecations/tabs-props/tabs-props.test.js
  packages/mui-codemod/src/deprecations/tabs-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/tabs-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/tabs-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/tabs-props/test-cases/theme.expected.js
  packages/mui-material/src/Tabs/Tabs.d.ts
  packages/mui-material/src/Tabs/Tabs.js
  packages/mui-material/src/Tabs/Tabs.spec.tsx
  packages/mui-material/src/Tabs/Tabs.test.js
  packages/mui-material/src/Tabs/tabsClasses.ts
Labels: component: tabs

#45190 [website] Add Bernardo to the team members
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/bernardo-belchior.png
Labels: website, needs cherry-pick

#45155 [docs] Fix `element.ref` accessing warning on docs
  examples/material-ui-nextjs-pages-router-ts/src/Link.tsx
  examples/material-ui-nextjs-pages-router/src/Link.js
  packages/mui-docs/src/Link/Link.tsx
Labels: docs, core

#45207 [docs-infra] Point to MUI X next docs
  docs/public/_redirects
Labels: docs, scope: docs-infra

#45202 [docs] Fix links in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#45197 [material-ui][SwitchBase] Fix spreading of `handlers` in getSlotProps
  packages/mui-material/src/internal/SwitchBase.js
  packages/mui-material/src/internal/SwitchBase.test.js
Labels: bug 🐛, component: switch, package: material-ui

#45209 [release] v6.4.3
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#44708 [autocomplete][docs] Improve Google Maps search example
  docs/data/material/components/autocomplete/GitHubLabel.js
  docs/data/material/components/autocomplete/GitHubLabel.tsx
  docs/data/material/components/autocomplete/GoogleMaps.js
  docs/data/material/components/autocomplete/GoogleMaps.tsx
  docs/data/material/components/autocomplete/autocomplete.md
  packages/mui-docs/src/Ad/AdCarbon.tsx
  packages/mui-docs/src/utils/loadScript.ts
Labels: bug 🐛, docs, component: autocomplete, regression

#45215 [material-ui] Fix wrong `slotProps` of `DetailsHTMLAttributes` types
  packages/mui-material/src/Alert/Alert.d.ts
  packages/mui-material/src/CardHeader/CardHeader.d.ts
Labels: typescript, package: material-ui

#45195 [docs][Dialog] Removes deprecated PaperProps from docs
  docs/data/material/components/dialogs/FormDialog.js
  docs/data/material/components/dialogs/FormDialog.tsx
  docs/data/material/getting-started/templates/sign-in-side/components/ForgotPassword.js
  docs/data/material/getting-started/templates/sign-in-side/components/ForgotPassword.tsx
  docs/data/material/getting-started/templates/sign-in/components/ForgotPassword.js
  docs/data/material/getting-started/templates/sign-in/components/ForgotPassword.tsx
Labels: docs, component: dialog, package: material-ui, enhancement, needs cherry-pick

#44974 [material-ui][Checkbox] Add slots and slotProps
  docs/pages/material-ui/api/checkbox.json
  docs/pages/material-ui/api/radio.json
  docs/pages/material-ui/api/switch.json
  docs/translations/api-docs/checkbox/checkbox.json
  packages/mui-material/src/Checkbox/Checkbox.d.ts
  packages/mui-material/src/Checkbox/Checkbox.js
  packages/mui-material/src/Checkbox/Checkbox.spec.tsx
  packages/mui-material/src/Checkbox/Checkbox.test.js
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Switch/Switch.js
  packages/mui-material/src/internal/SwitchBase.d.ts
Labels: component: checkbox, package: material-ui

#45129 [material-ui][utils] Merge `sx` instead of override when using `mergeSlotProps`
  docs/data/material/guides/composition/composition.md
  packages/mui-material/src/utils/mergeSlotProps.test.ts
  packages/mui-material/src/utils/mergeSlotProps.ts
  pnpm-lock.yaml
Labels: v6.x, cherry-pick

#44972 [material-ui][Radio] Add slots and slotProps
  docs/pages/material-ui/api/radio.json
  docs/translations/api-docs/radio/radio.json
  packages/mui-material/src/Radio/Radio.d.ts
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Radio/Radio.spec.tsx
  packages/mui-material/src/Radio/Radio.test.js
Labels: component: radio, package: material-ui

#45217 [docs][Dialog] Removes deprecated PaperProps from docs
  docs/data/material/components/dialogs/FormDialog.js
  docs/data/material/components/dialogs/FormDialog.tsx
  docs/data/material/getting-started/templates/sign-in-side/components/ForgotPassword.js
  docs/data/material/getting-started/templates/sign-in-side/components/ForgotPassword.tsx
  docs/data/material/getting-started/templates/sign-in/components/ForgotPassword.js
  docs/data/material/getting-started/templates/sign-in/components/ForgotPassword.tsx
Labels: docs, component: dialog, package: material-ui, enhancement

#45219 [website] Add Bernardo to the team members (#45190) @bernardobelchior
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/bernardo-belchior.png
Labels: cherry-pick

#45147 [docs] A quick first step to update docs for Tailwind v4
  docs/data/base/guides/working-with-tailwind-css/working-with-tailwind-css.md
  docs/data/material/guides/localization/localization.md
  docs/data/material/integrations/interoperability/interoperability.md
  docs/src/modules/sandbox/CreateReactApp.ts
Labels: docs, v6.x, needs cherry-pick

#45201 [material-ui][Slider] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/slider.json
  docs/translations/api-docs/slider/slider.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/slider-classes/index.js
  packages/mui-codemod/src/deprecations/slider-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/slider-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/slider-classes/slider-classes.js
  packages/mui-codemod/src/deprecations/slider-classes/slider-classes.test.js
  packages/mui-codemod/src/deprecations/slider-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/slider-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/slider-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/slider-classes/test-cases/expected.js
  packages/mui-material/src/Slider/sliderClasses.ts
Labels: component: slider, v6.x, needs cherry-pick

#45204 [docs] Sync active sponsors
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: docs

#45165 [website] Sync team page with HiBob
  docs/data/about/teamMembers.json
  docs/public/static/branding/about/andrew-cherniavskyi.png
  docs/public/static/branding/about/armin-mehinović.png
  docs/public/static/branding/about/arthur-balduini.png
  docs/public/static/branding/about/colm-tuite.png
  docs/public/static/branding/about/romain-gregoire.png
  docs/public/static/branding/about/victor-zanivan.png
  docs/scripts/syncTeamMembers.ts
  docs/src/components/about/Team.tsx
  package.json
Labels: website, v6.x, needs cherry-pick

#44960 [material-ui][Drawer] Deprecate *Props and complete `slots`, `slotProps`
  docs/data/material/components/drawers/ResponsiveDrawer.js
  docs/data/material/components/drawers/ResponsiveDrawer.tsx
  docs/data/material/components/drawers/SwipeableEdgeDrawer.js
  docs/data/material/components/drawers/SwipeableEdgeDrawer.tsx
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/drawer.json
  docs/pages/material-ui/api/swipeable-drawer.json
  docs/translations/api-docs/drawer/drawer.json
  docs/translations/api-docs/swipeable-drawer/swipeable-drawer.json
  packages-internal/test-utils/src/describeConformance.tsx
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/drawer-props/drawer-props.js
  packages/mui-codemod/src/deprecations/drawer-props/drawer-props.test.js
  packages/mui-codemod/src/deprecations/drawer-props/index.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/theme.expected.js
  packages/mui-material/src/Drawer/Drawer.d.ts
  packages/mui-material/src/Drawer/Drawer.js
  packages/mui-material/src/Drawer/Drawer.spec.tsx
  packages/mui-material/src/Drawer/Drawer.test.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: component: drawer, package: material-ui, component: SwipeableDrawer

#45065 [material-ui][SpeedDialAction] Add slots and slotProps
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/speed-dial-action.json
  docs/translations/api-docs/speed-dial-action/speed-dial-action.json
  packages/mui-codemod/src/deprecations/speed-dial-action-props/index.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/speed-dial-action-props.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/speed-dial-action-props.test.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/utils/movePropIntoSlotProps.js
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.js
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.test.js
Labels: component: speed dial, package: material-ui

#45213 [docs] Restore utility component docs from MUI Base to Material UI
  docs/data/material/components/click-away-listener/click-away-listener.md
  docs/data/material/components/no-ssr/no-ssr.md
  docs/data/material/components/portal/SimplePortal.js
  docs/data/material/components/portal/SimplePortal.tsx
  docs/data/material/components/portal/SimplePortal.tsx.preview
  docs/data/material/components/portal/portal.md
  docs/data/material/components/textarea-autosize/textarea-autosize.md
  docs/data/material/pages.ts
Labels: docs, package: material-ui, package: base-ui, v6.x, needs cherry-pick

#45033 [material-ui][MobileStepper] deprecate `LinearProgressProps` and complete `slots`, `slotProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/mobile-stepper.json
  docs/translations/api-docs/mobile-stepper/mobile-stepper.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/mobile-stepper-props/index.js
  packages/mui-codemod/src/deprecations/mobile-stepper-props/mobile-stepper-props.js
  packages/mui-codemod/src/deprecations/mobile-stepper-props/mobile-stepper-props.test.js
  packages/mui-codemod/src/deprecations/mobile-stepper-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/mobile-stepper-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/mobile-stepper-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/mobile-stepper-props/test-cases/theme.expected.js
  packages/mui-material/src/MobileStepper/MobileStepper.d.ts
  packages/mui-material/src/MobileStepper/MobileStepper.js
  packages/mui-material/src/MobileStepper/MobileStepper.test.js
Labels: component: stepper, package: material-ui, v6.x, needs cherry-pick

#37800 [docs][material] Add disableInteractive on colorTool grid Tooltips
  docs/data/material/customization/color/ColorTool.js
Labels: docs, component: tooltip, package: material-ui, enhancement

#45280 [website] Add banners and notification for 2025 Developer Survey
  docs/notifications.json
  docs/src/components/banner/AppFrameBanner.tsx
  docs/src/components/banner/AppHeaderBanner.tsx
  docs/src/featureToggle.js
Labels: website, v6.x, needs cherry-pick

#44061 [code-infra] Fix testing library resolution with custom react
  scripts/useReactVersion.mjs
Labels: scope: code-infra

#45264 [blog] Consistent Base UI terminology
  docs/pages/blog/introducing-base-ui.md
  docs/public/static/blog/introducing-base-ui/card.png
  docs/public/static/blog/introducing-base-ui/hero-image.png
Labels: blog, v6.x, needs cherry-pick

#45278 [core] Fix typo on Netlify script
  netlify/functions/feedback-management.mts
Labels: core

#45273 [docs] Mention Toolpad as experimental
  docs/data/material/components/app-bar/app-bar.md
  docs/data/material/components/breadcrumbs/breadcrumbs.md
  docs/data/material/components/container/container.md
  docs/data/material/components/dialogs/dialogs.md
  docs/data/material/components/drawers/drawers.md
  docs/data/material/getting-started/templates/templates.md
Labels: docs, Toolpad

#45245 [core] Update `@typescript-eslint/*` packages and remove deprecated `eslint-config-airbnb-typescript` package
  .eslintrc.js
  eslint/config-airbnb-typescript.js
  package.json
  packages/eslint-plugin-material-ui/package.json
  packages/mui-styles/src/ServerStyleSheets/ServerStyleSheets.d.ts
  pnpm-lock.yaml
Labels: dependencies, core

#45286 [release] v6.4.4
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
  pnpm-lock.yaml
Labels: release

#45285 [release] v7.0.0-alpha.1
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#45283 [material-ui][Hidden] Remove deprecated Hidden component
  apps/pigment-css-next-app/src/app/page.tsx
  docs/data/material/components/hidden/hidden.md
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/data/material/pages.ts
  docs/data/material/pagesApi.js
  docs/pages/material-ui/api/hidden.js
  docs/pages/material-ui/api/hidden.json
  docs/pages/material-ui/api/pigment-hidden.js
  docs/pages/material-ui/api/pigment-hidden.json
  docs/pages/material-ui/react-hidden.js
  docs/src/pagesApi.js
  docs/translations/api-docs/hidden/hidden.json
  docs/translations/api-docs/pigment-hidden/pigment-hidden.json
  docs/translations/translations.json
  packages/api-docs-builder-core/materialUi/projectSettings.ts
  packages/mui-material-pigment-css/src/Hidden/Hidden.ts
  packages/mui-material-pigment-css/src/Hidden/index.ts
  packages/mui-material/src/Hidden/Hidden.d.ts
  packages/mui-material/src/Hidden/Hidden.js
  packages/mui-material/src/Hidden/Hidden.test.js
  packages/mui-material/src/Hidden/HiddenCss.d.ts
  packages/mui-material/src/Hidden/HiddenCss.js
  packages/mui-material/src/Hidden/HiddenCss.test.js
  packages/mui-material/src/Hidden/HiddenJs.d.ts
  packages/mui-material/src/Hidden/HiddenJs.js
  packages/mui-material/src/Hidden/HiddenJs.test.js
  packages/mui-material/src/Hidden/hiddenCssClasses.ts
  packages/mui-material/src/Hidden/index.d.ts
  packages/mui-material/src/Hidden/index.js
  packages/mui-material/src/Hidden/withWidth.d.ts
  packages/mui-material/src/Hidden/withWidth.js
  packages/mui-material/src/PigmentHidden/PigmentHidden.tsx
  packages/mui-material/src/PigmentHidden/index.ts
  packages/mui-material/src/index.d.ts
  packages/mui-material/src/index.js
  scripts/generateProptypes.ts
Labels: breaking change, component: Hidden, package: material-ui, package: material-pigment-css

#45294 [core] Update release guide to specify package bumping rules
  scripts/README.md
Labels: core

#45234 [material-ui][InputBase] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/input-base.json
  docs/translations/api-docs/input-base/input-base.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/input-base-classes/index.js
  packages/mui-codemod/src/deprecations/input-base-classes/input-base-classes.js
  packages/mui-codemod/src/deprecations/input-base-classes/input-base-classes.test.js
  packages/mui-codemod/src/deprecations/input-base-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/input-base-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/expected.js
  packages/mui-material/src/InputBase/inputBaseClasses.ts
Labels: deprecation, package: material-ui

#45311 [code-infra] Update `elliptic`
  pnpm-lock.yaml
Labels: scope: code-infra

#45222 [docs] Add migration guide for package layout changes
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/data/system/migration/upgrade-to-v7/upgrade-to-v7.md
Labels: docs

#45214 [material-ui] Fix `slotProps.transition` types
  docs/pages/material-ui/api/speed-dial.json
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.spec.tsx
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Dialog/Dialog.d.ts
  packages/mui-material/src/Dialog/Dialog.spec.tsx
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Popover/Popover.spec.tsx
  packages/mui-material/src/Snackbar/Snackbar.d.ts
  packages/mui-material/src/Snackbar/Snackbar.spec.tsx
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/StepContent/StepContent.d.ts
  packages/mui-material/src/StepContent/StepContent.spec.tsx
  packages/mui-material/src/Tooltip/Tooltip.d.ts
  packages/mui-material/src/Tooltip/Tooltip.spec.tsx
Labels: typescript, package: material-ui, v6.x, needs cherry-pick

#45334 [docs][icons] Fix typo in material-icons.md
  docs/data/material/components/material-icons/material-icons.md
Labels: docs, package: icons, v6.x, needs cherry-pick

#45296 [material-ui][Button] Apply id only if loading indicator is present
  packages/mui-material/src/Button/Button.js
  packages/mui-material/src/Button/Button.test.js
  packages/mui-material/src/IconButton/IconButton.js
  packages/mui-material/src/IconButton/IconButton.test.js
Labels: component: icon button, component: button, package: material-ui, v6.x, needs cherry-pick

#45332 Disallow access to esm/modern barrel files
  packages/mui-icons-material/package.json
  scripts/copyFilesUtils.mjs
Labels: scope: code-infra

#45342 [blog] Consistent Base UI terminology
  docs/pages/blog/introducing-base-ui.md
  docs/public/static/blog/introducing-base-ui/card.png
  docs/public/static/blog/introducing-base-ui/hero-image.png
Labels: blog, cherry-pick

#45145 [docs] Fix broken links to MUI X docs
  docs/data/material/getting-started/supported-components/MaterialUIComponents.js
  docs/data/material/migration/pickers-migration/pickers-migration.md
  docs/pages/blog/2020.md
  docs/pages/blog/2021.md
  docs/pages/blog/date-pickers-stable-v5.md
  docs/pages/blog/docs-restructure-2022.md
  docs/pages/blog/lab-date-pickers-to-mui-x.md
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/mui-x-end-v6-features.md
  docs/pages/blog/mui-x-v6.md
  docs/pages/blog/mui-x-v7.md
  docs/pages/blog/v6-beta-pickers.md
  docs/public/_redirects
  docs/src/route.ts
Labels: docs, blog, MUI X

#45350 [release] v7.0.0-alpha.2
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release

#45335 [material-ui] Allow nested theme creation with `vars`
  docs/public/static/error-codes.json
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-material/src/styles/createThemeNoVars.js
Labels: bug 🐛, needs cherry-pick

#44913 [Menu] Deprecate *Props and complete `slots`, `slotProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/menu.json
  docs/translations/api-docs/menu/menu.json
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/menu-props/index.js
  packages/mui-codemod/src/deprecations/menu-props/menu-props.js
  packages/mui-codemod/src/deprecations/menu-props/menu-props.test.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/theme.expected.js
  packages/mui-material/src/Menu/Menu.d.ts
  packages/mui-material/src/Menu/Menu.js
  packages/mui-material/src/Menu/Menu.spec.tsx
  packages/mui-material/src/Menu/Menu.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: menu, needs cherry-pick

#45337 [material-ui][Popover] Deprecate *Props and complete `slots`, `slotProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/menu.json
  docs/pages/material-ui/api/popover.json
  docs/translations/api-docs/popover/popover.json
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/popover-props/index.js
  packages/mui-codemod/src/deprecations/popover-props/popover-props.js
  packages/mui-codemod/src/deprecations/popover-props/popover-props.test.js
  packages/mui-codemod/src/deprecations/popover-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/popover-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/popover-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/popover-props/test-cases/theme.expected.js
  packages/mui-material/src/Menu/Menu.js
  packages/mui-material/src/Modal/Modal.js
  packages/mui-material/src/Modal/Modal.test.js
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Popover/Popover.js
  packages/mui-material/src/Popover/Popover.test.js
Labels: package: material-ui, cherry-pick

#45338 [material-ui][SwitchBase] Deprecate `inputProps` and complete slots, slotProps
  packages/mui-material/src/internal/SwitchBase.d.ts
  packages/mui-material/src/internal/SwitchBase.js
  packages/mui-material/src/internal/SwitchBase.test.js
Labels: cherry-pick

#45352 [material-ui][Snackbar] Add Slots and SlotProps (#45103)
  docs/data/material/components/snackbars/ConsecutiveSnackbars.js
  docs/data/material/components/snackbars/ConsecutiveSnackbars.tsx
  docs/data/material/components/snackbars/DirectionSnackbar.js
  docs/data/material/components/snackbars/DirectionSnackbar.tsx
  docs/data/material/components/snackbars/TransitionsSnackbar.js
  docs/data/material/components/snackbars/TransitionsSnackbar.tsx
  docs/data/material/components/snackbars/TransitionsSnackbar.tsx.preview
  docs/pages/material-ui/api/snackbar.json
  docs/translations/api-docs/snackbar/snackbar.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/snackbar-props/index.js
  packages/mui-codemod/src/deprecations/snackbar-props/snackbar-props.js
  packages/mui-codemod/src/deprecations/snackbar-props/snackbar-props.test.js
  packages/mui-codemod/src/deprecations/snackbar-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/snackbar-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/snackbar-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/snackbar-props/test-cases/theme.expected.js
  packages/mui-material/src/Snackbar/Snackbar.d.ts
  packages/mui-material/src/Snackbar/Snackbar.js
  packages/mui-material/src/Snackbar/Snackbar.spec.tsx
  packages/mui-material/src/Snackbar/Snackbar.test.js
Labels: component: snackbar, cherry-pick

#45359 [v5.x][core] Remove Suspense and clock mocking from regressions and e2e tests (#44935)
  test/e2e/TestViewer.js
  test/regressions/TestViewer.js
Labels: test, core, v5.x

#45356 [material-ui] Fix wrong slotProps of DetailsHTMLAttributes types
  packages/mui-material/src/Alert/Alert.d.ts
  packages/mui-material/src/CardHeader/CardHeader.d.ts
Labels: typescript, package: material-ui, cherry-pick

#45361 [material-ui][Checkbox] Add slots and slotProps
  docs/pages/material-ui/api/checkbox.json
  docs/pages/material-ui/api/radio.json
  docs/pages/material-ui/api/switch.json
  docs/translations/api-docs/checkbox/checkbox.json
  packages/mui-material/src/Checkbox/Checkbox.d.ts
  packages/mui-material/src/Checkbox/Checkbox.js
  packages/mui-material/src/Checkbox/Checkbox.spec.tsx
  packages/mui-material/src/Checkbox/Checkbox.test.js
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Switch/Switch.js
  packages/mui-material/src/internal/SwitchBase.d.ts
Labels: component: checkbox, cherry-pick

#45364 [material-ui][Radio] Add slots and slotProps
  docs/pages/material-ui/api/radio.json
  docs/translations/api-docs/radio/radio.json
  packages/mui-material/src/Radio/Radio.d.ts
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Radio/Radio.spec.tsx
  packages/mui-material/src/Radio/Radio.test.js
Labels: component: radio, cherry-pick

#45365 [material-ui][SpeedDialAction] Add slots and slotProps
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/speed-dial-action.json
  docs/translations/api-docs/speed-dial-action/speed-dial-action.json
  packages/mui-codemod/src/deprecations/speed-dial-action-props/index.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/speed-dial-action-props.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/speed-dial-action-props.test.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/speed-dial-action-props/test-cases/theme.expected.js
  packages/mui-codemod/src/deprecations/utils/movePropIntoSlotProps.js
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.d.ts
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.js
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.test.js
Labels: component: speed dial, cherry-pick

#45370 [examples] Remove unnecessary comma in Material UI Vite JS example
  examples/material-ui-vite/src/main.jsx
Labels: examples

#45304 [Grid] Improve Grid2 upgrade experience
  docs/data/material/components/grid/grid.md
  docs/data/material/components/grid2/ColumnLayoutInsideGrid.js
  docs/data/material/components/grid2/ColumnLayoutInsideGrid.tsx
  docs/data/material/components/grid2/ColumnLayoutInsideGrid.tsx.preview
  docs/data/material/components/grid2/grid2.md
  docs/data/material/migration/migration-grid-v2/GridsDiff.js
  docs/data/material/migration/migration-grid-v2/migration-grid-v2.md
  docs/data/material/migration/migration-v4/v5-component-changes.md
  docs/data/material/migration/upgrade-to-grid-v2/upgrade-to-grid-v2.md
  docs/data/material/pages.ts
  docs/pages/blog/build-layouts-faster-with-grid-v2.md
  docs/pages/material-ui/migration/upgrade-to-grid-v2.js
  docs/translations/translations.json
  packages/api-docs-builder/utils/replaceUrl.test.js
  packages/mui-system/src/Grid/Grid.test.js
  packages/mui-system/src/Grid/createGrid.tsx
  packages/mui-system/src/Grid/deleteLegacyGridProps.ts
Labels: component: Grid, v6.x, needs cherry-pick

#45368 [material-ui] Allow nested theme creation with `vars`
  docs/public/static/error-codes.json
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-material/src/styles/createThemeNoVars.js
Labels: cherry-pick

#45367 [material-ui] Fix `slotProps.transition` types
  docs/pages/material-ui/api/speed-dial.json
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.spec.tsx
  packages/mui-material/src/Backdrop/Backdrop.d.ts
  packages/mui-material/src/Dialog/Dialog.d.ts
  packages/mui-material/src/Dialog/Dialog.spec.tsx
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Popover/Popover.spec.tsx
  packages/mui-material/src/Snackbar/Snackbar.d.ts
  packages/mui-material/src/Snackbar/Snackbar.spec.tsx
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/StepContent/StepContent.d.ts
  packages/mui-material/src/StepContent/StepContent.spec.tsx
  packages/mui-material/src/Tooltip/Tooltip.d.ts
  packages/mui-material/src/Tooltip/Tooltip.spec.tsx
Labels: typescript, cherry-pick

#45377 [material-ui][Drawer] Deprecate *Props and complete `slots`, `slotProps`
  docs/data/material/components/drawers/ResponsiveDrawer.js
  docs/data/material/components/drawers/ResponsiveDrawer.tsx
  docs/data/material/components/drawers/SwipeableEdgeDrawer.js
  docs/data/material/components/drawers/SwipeableEdgeDrawer.tsx
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/drawer.json
  docs/pages/material-ui/api/swipeable-drawer.json
  docs/translations/api-docs/drawer/drawer.json
  docs/translations/api-docs/swipeable-drawer/swipeable-drawer.json
  packages-internal/test-utils/src/describeConformance.tsx
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/drawer-props/drawer-props.js
  packages/mui-codemod/src/deprecations/drawer-props/drawer-props.test.js
  packages/mui-codemod/src/deprecations/drawer-props/index.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/drawer-props/test-cases/theme.expected.js
  packages/mui-material/src/Drawer/Drawer.d.ts
  packages/mui-material/src/Drawer/Drawer.js
  packages/mui-material/src/Drawer/Drawer.spec.tsx
  packages/mui-material/src/Drawer/Drawer.test.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.d.ts
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.js
  packages/mui-material/src/SwipeableDrawer/SwipeableDrawer.test.js
Labels: component: drawer, cherry-pick

#45369 [Menu] Deprecate *Props and complete `slots`, `slotProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/menu.json
  docs/translations/api-docs/menu/menu.json
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/menu-props/index.js
  packages/mui-codemod/src/deprecations/menu-props/menu-props.js
  packages/mui-codemod/src/deprecations/menu-props/menu-props.test.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/menu-props/test-cases/theme.expected.js
  packages/mui-material/src/Menu/Menu.d.ts
  packages/mui-material/src/Menu/Menu.js
  packages/mui-material/src/Menu/Menu.spec.tsx
  packages/mui-material/src/Menu/Menu.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: component: menu, cherry-pick

#45390 [docs] Fix typo in slider docs
  docs/data/material/components/slider/slider.md
Labels: docs, component: slider, package: material-ui, v6.x, needs cherry-pick

#45388 [material-ui][Slider] Fix spacings in .md files
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  packages/mui-codemod/README.md
Labels: component: slider, deprecation, package: material-ui, v6.x, needs cherry-pick

#45394 [website] Add SocialWick as backlink sponsor
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#45295 [material-ui][Rating] Deprecate *Props and complete `slots`, `slotProps`
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/pages/material-ui/api/rating.json
  docs/translations/api-docs/rating/rating.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/rating-props/index.js
  packages/mui-codemod/src/deprecations/rating-props/rating-props.js
  packages/mui-codemod/src/deprecations/rating-props/rating-props.test.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/theme.expected.js
  packages/mui-material/src/Rating/Rating.d.ts
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Rating/Rating.test.js
Labels: component: rating, needs cherry-pick

#45395 [material-ui][Modal][Dialog] Remove deprecated `onBackdropClick`
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/pages/material-ui/api/dialog.json
  docs/pages/material-ui/api/modal.json
  docs/translations/api-docs/dialog/dialog.json
  docs/translations/api-docs/modal/modal.json
  packages/mui-material/src/Dialog/Dialog.d.ts
  packages/mui-material/src/Dialog/Dialog.js
  packages/mui-material/src/Dialog/Dialog.test.js
  packages/mui-material/src/Modal/Modal.d.ts
  packages/mui-material/src/Modal/Modal.js
  packages/mui-material/src/Modal/Modal.test.js
Labels: breaking change, component: dialog, component: modal, package: material-ui

#45366 [material-ui][InputBase] Deprecate composed classes
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/input-base.json
  docs/translations/api-docs/input-base/input-base.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/all/postcss.config.js
  packages/mui-codemod/src/deprecations/input-base-classes/index.js
  packages/mui-codemod/src/deprecations/input-base-classes/input-base-classes.js
  packages/mui-codemod/src/deprecations/input-base-classes/input-base-classes.test.js
  packages/mui-codemod/src/deprecations/input-base-classes/postcss-plugin.js
  packages/mui-codemod/src/deprecations/input-base-classes/postcss.config.js
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/actual.css
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/actual.js
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/expected.css
  packages/mui-codemod/src/deprecations/input-base-classes/test-cases/expected.js
  packages/mui-material/src/InputBase/inputBaseClasses.ts
Labels: cherry-pick

#45401 [docs][Autocomplete] Remove unnecessary renderTags prop from Sizes demo
  docs/data/material/components/autocomplete/Sizes.js
  docs/data/material/components/autocomplete/Sizes.tsx
Labels: docs, component: autocomplete, v6.x, needs cherry-pick

#45402 [material-ui][Slider] Fix css class selector in migration guide
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  packages/mui-codemod/README.md
Labels: component: slider, deprecation, package: material-ui, v6.x, needs cherry-pick

#45396 [StepButton] Remove StepIconButton type
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  packages/mui-material/src/StepButton/StepButton.d.ts
Labels: breaking change, component: stepper, package: material-ui

#45397 [material-ui][styles] Remove deprecated exports
  docs/data/material/components/grid-legacy/ResponsiveGrid.js
  docs/data/material/components/grid-legacy/ResponsiveGrid.tsx
  docs/data/material/components/grid/ResponsiveGrid.js
  docs/data/material/components/grid/ResponsiveGrid.tsx
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/src/pages/premium-themes/onepirate/modules/components/Button.js
  docs/src/pages/premium-themes/onepirate/modules/components/Button.tsx
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.js
  docs/src/pages/premium-themes/onepirate/modules/form/FormFeedback.tsx
  packages/mui-material/src/StyledEngineProvider/index.d.ts
  packages/mui-material/src/StyledEngineProvider/index.js
  packages/mui-material/src/index.d.ts
  packages/mui-material/src/styles/createTheme.ts
  packages/mui-material/src/styles/createThemeNoVars.d.ts
  packages/mui-material/src/styles/createThemeNoVars.js
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/index.js
Labels: breaking change, package: material-ui

#44903 [fix] Fix Context Menu selection lost on Safari
  docs/data/material/components/menus/ContextMenu.js
  docs/data/material/components/menus/ContextMenu.tsx
Labels: component: menu

#45406 [docs-infra] Add `color-scheme` to document in iframe demos
  docs/src/modules/components/DemoSandbox.js
Labels: bug 🐛, scope: docs-infra

#45400 [docs-infra] Fix theme toggle call
  docs/src/modules/components/AppSettingsDrawer.js
Labels: scope: docs-infra

#45186 [docs] Add `overriding-component-structure` doc to Material UI
  docs/data/material/customization/overriding-component-structure/OverridingInternalSlot.js
  docs/data/material/customization/overriding-component-structure/OverridingInternalSlot.tsx
  docs/data/material/customization/overriding-component-structure/OverridingInternalSlot.tsx.preview
  docs/data/material/customization/overriding-component-structure/OverridingRootSlot.js
  docs/data/material/customization/overriding-component-structure/OverridingRootSlot.tsx
  docs/data/material/customization/overriding-component-structure/OverridingRootSlot.tsx.preview
  docs/data/material/customization/overriding-component-structure/overriding-component-structure.md
  docs/data/material/pages.ts
  docs/pages/material-ui/customization/overriding-component-structure.js
  docs/translations/translations.json
Labels: docs, package: material-ui, needs cherry-pick

#45413 [code-infra] Fix types for @mui/styled-engine
  packages/mui-private-theming/package.json
  packages/mui-private-theming/src/defaultTheme/index.js
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-styles/src/defaultTheme/index.js
  scripts/buildTypes.mts
Labels: scope: code-infra

#45415 [release] v7.0.0-beta.0
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#45420 [release] Fix versions
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
Labels: release

#45422 [code-infra] Fix build:types script omitting folders with a dot in their name
  scripts/buildTypes.mts
Labels: scope: code-infra

#45423 [release] v7.0.0 beta.1
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#45348 [blog] React 19 migration for MUI X
  docs/pages/blog/react-19-update.js
  docs/pages/blog/react-19-update.md
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog, MUI X

#45430 [website] Add SocialWick as backlink sponsor (#45394)
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Labels: website

#45398 [material-ui][Rating] Deprecate *Props and complete slots, slotProps (#45295)
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  docs/pages/material-ui/api/rating.json
  docs/translations/api-docs/rating/rating.json
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/rating-props/index.js
  packages/mui-codemod/src/deprecations/rating-props/rating-props.js
  packages/mui-codemod/src/deprecations/rating-props/rating-props.test.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/rating-props/test-cases/theme.expected.js
  packages/mui-material/src/Rating/Rating.d.ts
  packages/mui-material/src/Rating/Rating.js
  packages/mui-material/src/Rating/Rating.test.js
Labels: package: material-ui, component: rating, cherry-pick

#45435 [release] 7.0.0-beta.2
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#45136 [material-ui] Add `storageManager` prop to `ThemeProvider`
  docs/data/material/customization/dark-mode/dark-mode.md
  packages/mui-material/src/styles/ThemeProvider.test.tsx
  packages/mui-material/src/styles/ThemeProvider.tsx
  packages/mui-material/src/styles/ThemeProviderWithVars.spec.tsx
  packages/mui-material/src/styles/index.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
  packages/mui-system/src/cssVars/createCssVarsProvider.test.js
  packages/mui-system/src/cssVars/index.ts
  packages/mui-system/src/cssVars/localStorageManager.ts
  packages/mui-system/src/cssVars/useCurrentColorScheme.test.js
  packages/mui-system/src/cssVars/useCurrentColorScheme.ts
Labels: package: system, package: material-ui, v6.x, needs cherry-pick
