Repository mui/material-ui, pull requests merged in 2025-03, with the labels that each got.

#45473 [codemod] Fix codemods not found
  packages/mui-codemod/codemod.js
Labels: package: codemod, regression

#45444 Fix moduleResolution:node for icons
  .circleci/config.yml
  package.json
  packages/mui-icons-material/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  pnpm-lock.yaml
Labels: regression, scope: code-infra

#45471 [Radio] Fix `inputProps` not forwarded
  packages/mui-material/src/Radio/Radio.js
  packages/mui-material/src/Radio/Radio.test.js
Labels: component: radio, package: material-ui, regression, v6.x, needs cherry-pick

#45481 [docs] Fix broken links to MUI X docs (cherry-pick of #45145)
  docs/data/material/getting-started/supported-components/MaterialUIComponents.js
  docs/data/material/migration/pickers-migration/pickers-migration.md
  docs/pages/blog/2020.md
  docs/pages/blog/2021.md
  docs/pages/blog/date-pickers-stable-v5.md
  docs/pages/blog/docs-restructure-2022.md
  docs/pages/blog/lab-date-pickers-to-mui-x.md
  docs/pages/blog/making-customizable-components.md
  docs/pages/blog/mui-x-end-v6-features.md
  docs/pages/blog/mui-x-v6.md
  docs/pages/blog/mui-x-v7.md
  docs/pages/blog/v6-beta-pickers.md
  docs/public/_redirects
  docs/src/route.ts
Labels: docs, website, blog, v6.x

#45493 [examples] Fix the invalid argument to extract examples
  examples/material-ui-cra-styled-components-ts/README.md
  examples/material-ui-cra-styled-components/README.md
  examples/material-ui-cra-tailwind-ts/README.md
  examples/material-ui-cra-ts/README.md
  examples/material-ui-cra/README.md
  examples/material-ui-express-ssr/README.md
  examples/material-ui-gatsby/README.md
  examples/material-ui-nextjs-pages-router-ts/README.md
  examples/material-ui-nextjs-pages-router/README.md
  examples/material-ui-nextjs-ts/README.md
  examples/material-ui-nextjs/README.md
  examples/material-ui-pigment-css-nextjs-ts/README.md
  examples/material-ui-pigment-css-vite-ts/README.md
  examples/material-ui-preact/README.md
  examples/material-ui-remix-ts/README.md
  examples/material-ui-via-cdn/README.md
  examples/material-ui-vite-ts/README.md
  examples/material-ui-vite/README.md
Labels: bug 🐛, examples, v6.x

#45496 [test] Fix React 18 tests (#45161)
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/Popover/Popover.test.js
  packages/mui-material/src/Snackbar/Snackbar.js
  packages/mui-material/src/Snackbar/Snackbar.test.js
Labels: test, component: snackbar

#45506 [docs][Backdrop] Fix component name in migration guide
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
Labels: docs, component: backdrop, v6.x, needs cherry-pick

#45505 [material-ui] Add missing deprecations in deprecations-all file
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
Labels: deprecation, package: material-ui, package: codemod, v6.x, needs cherry-pick

#45472 [material-ui][utils] use correct iri-reference homepage format [NOTICKET]
  packages/mui-utils/package.json
Labels: package: utils, v6.x, needs cherry-pick

#45439 [docs] Add HTML input section to TextField page
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, component: text field

#45532 [material-ui][Accordion] Add missing `root` slot
  docs/pages/material-ui/api/accordion.json
  docs/translations/api-docs/accordion/accordion.json
  packages/mui-material/src/Accordion/Accordion.d.ts
  packages/mui-material/src/Accordion/Accordion.js
  packages/mui-material/src/Accordion/Accordion.test.js
Labels: component: accordion, package: material-ui, v6.x, enhancement, needs cherry-pick

#45399 [material-ui][Tooltip] Allow auto placement on tooltip
  docs/data/material/components/popper/popper.md
  docs/pages/material-ui/api/speed-dial-action.json
  docs/pages/material-ui/api/tooltip.json
  packages/mui-material/src/SpeedDialAction/SpeedDialAction.js
  packages/mui-material/src/Tooltip/Tooltip.d.ts
  packages/mui-material/src/Tooltip/Tooltip.js
Labels: component: tooltip, package: material-ui, v6.x, enhancement, needs cherry-pick

#45238 [material-ui][TextareaAutosize] Temporarily disconnect ResizeObserver to avoid loop error (#44540)
  packages/mui-material/src/TextareaAutosize/TextareaAutosize.test.tsx
  packages/mui-material/src/TextareaAutosize/TextareaAutosize.tsx
Labels: package: material-ui, component: TextareaAutosize, v5.x

#45405 [system] Disable theme recalculation as default behavior
  docs/data/material/customization/css-theme-variables/configuration.md
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/src/BrandingCssVarsProvider.tsx
  packages/mui-material/src/styles/ThemeProvider.tsx
  packages/mui-material/src/styles/ThemeProviderWithVars.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.d.ts
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: breaking change, package: system, package: material-ui

#45542 [website] Update pricing FAQ
  docs/src/components/pricing/PricingFAQ.tsx
Labels: website

#45514 [code-infra] Remove nested imports from theme augmentation
  docs/data/joy/components/input/InputReactImask.tsx
  docs/data/material/getting-started/templates/shared-theme/themePrimitives.ts
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/types/docs.d.ts
  packages/mui-docs/src/branding/brandingTheme.ts
Labels: scope: code-infra

#45541 [material-ui][SpeedDial] Add missing `root` slot
  docs/pages/material-ui/api/speed-dial.json
  docs/translations/api-docs/speed-dial/speed-dial.json
  packages/mui-material/src/SpeedDial/SpeedDial.d.ts
  packages/mui-material/src/SpeedDial/SpeedDial.js
  packages/mui-material/src/SpeedDial/SpeedDial.test.js
Labels: component: speed dial, package: material-ui, v6.x, needs cherry-pick

#45540 [material-ui][ListItemText] Add missing `root` slot
  docs/pages/material-ui/api/list-item-text.json
  docs/translations/api-docs/list-item-text/list-item-text.json
  packages/mui-material/src/ListItemText/ListItemText.d.ts
  packages/mui-material/src/ListItemText/ListItemText.js
  packages/mui-material/src/ListItemText/ListItemText.test.js
Labels: component: list, package: material-ui, v6.x, needs cherry-pick

#45441 [material-ui][useScrollTrigger] Do nothing if target is null
  packages/mui-material/src/useScrollTrigger/useScrollTrigger.d.ts
  packages/mui-material/src/useScrollTrigger/useScrollTrigger.js
  packages/mui-material/src/useScrollTrigger/useScrollTrigger.test.js
Labels: package: material-ui, hook: useScrollTrigger, v6.x, enhancement, needs cherry-pick

#45550 [material-ui] Fix negative input for CSS variables spacing array
  packages/mui-material/src/styles/createTheme.test.js
  packages/mui-system/src/spacing/spacing.js
  packages/mui-system/src/spacing/spacing.test.js
Labels: package: system, package: material-ui, customization: theme

#45545 [system] Prevent nested non-vars theme inheritance
  packages/mui-material/src/styles/ThemeProvider.test.tsx
  packages/mui-material/src/styles/ThemeProvider.tsx
Labels: package: system, needs cherry-pick

#45557 [code-infra] Remove more CJS modules from the docs
  docs/data/joy/pagesApi.js
  docs/data/material/pagesApi.js
  docs/data/system/pagesApi.js
  docs/src/modules/constants.js
  packages/api-docs-builder/buildApi.ts
Labels: scope: code-infra

#45558 [core] Rename some `@mui/material/styles/createTypography` exports
  packages/mui-material/src/Typography/Typography.d.ts
  packages/mui-material/src/styles/adaptV4Theme.d.ts
  packages/mui-material/src/styles/createThemeNoVars.d.ts
  packages/mui-material/src/styles/createTypography.d.ts
  packages/mui-material/src/styles/index.d.ts
  packages/mui-material/src/styles/responsiveFontSizes.d.ts
Labels: core

#45533 [blog] Fix author end-of-year updates
  docs/pages/blog/material-ui-2024-updates.md
  docs/src/modules/components/TopLayoutBlog.js
Labels: bug 🐛, blog

#45428 [styled-engine] Add `enableCssLayer` prop to StyledEngineProvider
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.d.ts
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.js
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.test.js
Labels: package: styled-engine, v6.x, needs cherry-pick

#45548 [code-infra] Convert a few docs modules to ts
  docs/package.json
  docs/src/MuiPage.ts
  docs/src/featureToggle.ts
  docs/src/modules/components/AppFrame.tsx
  docs/src/modules/components/AppNavDrawer.tsx
  docs/src/modules/components/AppNavDrawerItem.tsx
  docs/src/modules/components/AppSearch.d.ts
  docs/src/modules/components/AppSettingsDrawer.d.ts
  docs/src/modules/components/MarkdownLinks.ts
  docs/src/modules/components/Notifications.tsx
  docs/src/modules/components/PageContext.tsx
  pnpm-lock.yaml
Labels: scope: code-infra

#45564 [system] Prevent nested non-vars theme inheritance (@siriwatknp)
  packages/mui-material/src/styles/ThemeProvider.test.tsx
  packages/mui-material/src/styles/ThemeProvider.tsx
Labels: package: system, cherry-pick

#45565 [release] v7.0.0-beta.4
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#45419 [website] Add code infra role
  docs/pages/careers.tsx
  docs/pages/careers/code-infra-engineer.js
  docs/pages/careers/code-infra-engineer.md
Labels: website, v6.x, needs cherry-pick

#45266 [blog] Clarify the difference between the two Pro plans
  docs/pages/blog/mui-x-sep-2024-price-update.md
  docs/public/static/blog/mui-x-sep-2024-price-update/compare.png
Labels: blog, enhancement

#45561 [code-infra] Update peer dependency of `@mui/utils` in `@mui/docs`
  packages/mui-docs/package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#45562 [code-infra] Make `getVersionEnvVariables` reusable for other repos
  scripts/build.mjs
  scripts/utils.mjs
Labels: scope: code-infra

#45504 Add StackBlitz template to issue template
  .github/ISSUE_TEMPLATE/1.bug.yml
Labels: core

#45573 [v6.x] Bump @types/react to ^19.0.10
  apps/pigment-css-next-app/package.json
  apps/pigment-css-vite-app/package.json
  docs/package.json
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/mui-base/package.json
  packages/mui-docs/package.json
  packages/mui-envinfo/test/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
  test/package.json
Labels: dependencies

#45574 [release] v6.4.8
  CHANGELOG.md
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: release

#45543 [material-ui] Add merging function to `mergeSlotProps` utility
  docs/data/material/guides/composition/composition.md
  packages/mui-material/src/utils/mergeSlotProps.spec.tsx
  packages/mui-material/src/utils/mergeSlotProps.test.ts
  packages/mui-material/src/utils/mergeSlotProps.ts
  pnpm-lock.yaml
Labels: package: material-ui

#45604 [material-ui] Support nested theme when upper theme is CSS vars theme
  packages/mui-material/src/styles/ThemeProvider.js
  packages/mui-material/src/styles/ThemeProvider.test.tsx
  packages/mui-material/src/styles/createTheme.js
  packages/mui-material/src/styles/createTheme.test.js
  pnpm-lock.yaml
Labels: package: material-ui, v5.x, customization: theme

#45605 v5.17.0
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  packages/mui-styles/package.json
Labels: release

#45595 [material-ui][Switch] Add slots and slotProps
  docs/pages/material-ui/api/switch.json
  docs/translations/api-docs/switch/switch.json
  packages/mui-material/src/Switch/Switch.d.ts
  packages/mui-material/src/Switch/Switch.js
  packages/mui-material/src/Switch/Switch.test.js
Labels: component: switch, package: material-ui

#45612 [v5.x][core] Fix types version
  docs/package.json
  packages/mui-base/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  pnpm-lock.yaml
Labels: core

#45614 [release] v5.17.1
  CHANGELOG.md
  package.json
  packages/mui-base/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
  scripts/releaseChangelog.mjs
Labels: release

#45598 [material-ui][TextField] Add `root` slot
  docs/pages/material-ui/api/text-field.json
  docs/translations/api-docs/text-field/text-field.json
  packages/mui-material/src/TextField/TextField.d.ts
  packages/mui-material/src/TextField/TextField.js
  packages/mui-material/src/TextField/TextField.test.js
Labels: component: text field, package: material-ui, v6.x, needs cherry-pick

#45608 v7.0.0-rc.0
  CHANGELOG.md
  package.json
  packages-internal/babel-plugin-minify-errors/package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#45606 [core] Deprecate `ponyfillGlobal`
  packages/mui-styles/src/index.js
  packages/mui-utils/src/ponyfillGlobal/ponyfillGlobal.ts
Labels: scope: code-infra

#45613 [docs] Deprecate Toolpad Studio
  docs/src/components/home/ToolpadCoreShowcaseDemo.tsx
  docs/src/components/home/ToolpadShowcase.tsx
  docs/src/modules/components/MuiProductSelector.tsx
Labels: docs

#45628 [material-ui][Switch] Add slots and slotProps (#45595)
  docs/pages/material-ui/api/switch.json
  docs/translations/api-docs/switch/switch.json
  packages/mui-material/src/Switch/Switch.d.ts
  packages/mui-material/src/Switch/Switch.js
  packages/mui-material/src/Switch/Switch.test.js
Labels: component: switch, cherry-pick

#45602 [lab] Remove @mui/base dependency
  packages/mui-lab/package.json
  packages/mui-lab/src/Masonry/Masonry.js
  packages/mui-lab/src/TabPanel/TabPanel.js
  packages/mui-lab/src/Timeline/Timeline.tsx
  packages/mui-lab/src/TimelineConnector/TimelineConnector.js
  packages/mui-lab/src/TimelineContent/TimelineContent.js
  packages/mui-lab/src/TimelineDot/TimelineDot.js
  packages/mui-lab/src/TimelineItem/TimelineItem.js
  packages/mui-lab/src/TimelineOppositeContent/TimelineOppositeContent.js
  packages/mui-lab/src/TimelineSeparator/TimelineSeparator.js
  packages/mui-lab/src/useAutocomplete/index.d.ts
  packages/mui-lab/src/useAutocomplete/index.js
  pnpm-lock.yaml
Labels: package: lab

#45600 [docs] Update nextjs font optimization guide
  docs/data/material/integrations/nextjs/nextjs.md
Labels: docs, package: system, nextjs

#45535 [material-ui] Update minimum TypeScript support to 4.9
  docs/data/material/guides/typescript/typescript.md
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
Labels: breaking change, package: material-ui, v7.x

#45438 [Autocomplete] Fix when `onHighlightChange` is called
  docs/translations/api-docs/autocomplete/autocomplete.json
  packages/mui-material/src/Autocomplete/Autocomplete.js
  packages/mui-material/src/Autocomplete/Autocomplete.test.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.d.ts
  packages/mui-material/src/useAutocomplete/useAutocomplete.js
Labels: bug 🐛, package: material-ui, component: autocomplete, v6.x, needs cherry-pick

#45386 [docs-infra] Restructure docs theme context to CSS variables
  docs/data/joy/customization/creating-themed-components/StatSlots.js
  docs/data/material/components/icons/FontAwesomeIcon.tsx
  docs/data/material/components/icons/FontAwesomeIconSize.tsx
  docs/data/material/customization/color/ColorTool.js
  docs/data/material/customization/density/DensityTool.js
  docs/package.json
  docs/pages/_app.js
  docs/pages/experiments/index.js
  docs/src/BrandingCssVarsProvider.tsx
  docs/src/components/blog/material-ui-v6-is-out/ThemeTokens.js
  docs/src/components/icon/IconImage.tsx
  docs/src/modules/components/AppFrame.tsx
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/MarkdownDocsV2.js
  docs/src/modules/components/RichMarkdownElement.js
  docs/src/modules/components/ThemeContext.tsx
  docs/src/modules/components/TopLayoutBlog.js
  docs/src/modules/utils/StyledEngineProvider.js
  docs/src/modules/utils/useLazyCSS.ts
  docs/src/theming.tsx
  docs/types/fg-loadcss.d.ts
  packages/mui-docs/src/Ad/ad.styles.ts
  packages/mui-docs/src/branding/brandingTheme.ts
  pnpm-lock.yaml
Labels: scope: docs-infra

#45626 [code-infra] Ensure `translations.json` is present in all `@mui/docs` package builds
  packages/mui-docs/package.json
Labels: bug 🐛, scope: code-infra

#45637 [core] Improve instructions on changing domain
  docs/public/_redirects
Labels: core

#45660 [system] Fix palette mode does not change when not use CSS vars
  packages/mui-material/src/styles/ThemeProviderWithVars.test.js
  packages/mui-system/src/cssVars/createCssVarsProvider.js
Labels: package: system, regression

#45664 [code-infra] Support `React.ComponentType` in proptypes generation
  packages-internal/scripts/typescript-to-proptypes/src/getPropTypesFromFile.ts
  packages-internal/scripts/typescript-to-proptypes/test/component-type/input.d.ts
  packages-internal/scripts/typescript-to-proptypes/test/component-type/input.js
  packages-internal/scripts/typescript-to-proptypes/test/component-type/output.js
Labels: bug 🐛

#45624 [docs] Prepare the v7 upgrade guide for stable release
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/data/system/migration/upgrade-to-v7/upgrade-to-v7.md
Labels: docs

#45623 [blog] v7 stable release
  docs/pages/blog/material-ui-v7-is-here.js
  docs/pages/blog/material-ui-v7-is-here.md
  docs/public/static/blog/material-ui-v7-is-here/card.png
  docs/src/modules/components/TopLayoutBlog.js
Labels: blog

#45362 [docs] Fix new React project link, CRA deprecated
  docs/data/material/getting-started/example-projects/example-projects.md
Labels: bug 🐛, docs, v6.x, needs cherry-pick

#44964 [code-infra] Migrate regression tests to vite
  docs/data/base/components/textarea-autosize/MaxHeightTextarea.js
  docs/data/base/components/textarea-autosize/MaxHeightTextarea.tsx
  docs/data/base/components/textarea-autosize/MaxHeightTextarea.tsx.preview
  package.json
  packages/markdown/package.json
  packages/markdown/prism.cjs
  packages/markdown/prism.mjs
  pnpm-lock.yaml
  test/regressions/.mocharc.js
  test/regressions/README.md
  test/regressions/TestViewer.jsx
  test/regressions/index.html
  test/regressions/index.js
  test/regressions/index.jsx
  test/regressions/serve.json
  test/regressions/tsconfig.app.json
  test/regressions/tsconfig.json
  test/regressions/tsconfig.node.json
  test/regressions/vite.config.mts
  test/regressions/webpack.config.js
  test/tsconfig.json
Labels: test, scope: code-infra

#45676 v6.4.9
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#45677 [docs] Fix unnecessary redirects for v7
  docs/data/material/customization/how-to-customize/how-to-customize.md
  docs/data/material/customization/theming/theming.md
  docs/data/material/experimental-api/classname-generator/classname-generator.md
  docs/data/material/getting-started/faq/faq.md
  docs/data/material/guides/server-rendering/server-rendering.md
  docs/data/material/integrations/interoperability/interoperability.md
  docs/pages/blog/april-2019-update.md
  docs/pages/blog/march-2019-update.md
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/mui-core-v5.md
  docs/scripts/reportBrokenLinks.js
  docs/scripts/reportBrokenLinksLib.js
Labels: docs

#45685 [docs] export `sxChip` again from `AppNavDrawerItem`
  docs/src/modules/components/AppNavDrawerItem.tsx
Labels: docs

#45661 [docs] Sync the mode from page to demos
  docs/data/joy/getting-started/tutorial/LoginFinal.js
  docs/data/joy/getting-started/tutorial/tutorial.md
  docs/data/material/components/app-bar/DashboardLayoutBasic.js
  docs/data/material/components/app-bar/DashboardLayoutBasic.tsx
  docs/data/material/components/drawers/SwipeableEdgeDrawer.js
  docs/data/material/components/drawers/SwipeableEdgeDrawer.tsx
  docs/data/material/components/drawers/drawers.md
  docs/pages/experiments/docs/DemoModeToggle.js
  docs/pages/experiments/docs/DemoModeToggleCustomTheme.js
  docs/pages/experiments/docs/DemoModeToggleIframe.js
  docs/pages/experiments/docs/demos.md
  docs/pages/joy-ui/customization/theme-builder.js
  docs/src/components/home/ToolpadCoreShowcaseDemo.tsx
  docs/src/modules/components/AppFrame.tsx
  docs/src/modules/components/Demo.js
  docs/src/modules/components/DemoEditor.tsx
  docs/src/modules/components/DemoSandbox.js
  docs/src/modules/components/JoyThemeBuilder.tsx
  docs/src/modules/components/MarkdownDocs.js
  docs/src/modules/components/MarkdownDocsV2.js
  docs/src/theming.test.tsx
  docs/src/theming.tsx
  test/e2e-website/demo-docs.spec.ts
Labels: docs

#45687 [blog] Update v7 stable blog date
  docs/pages/blog/material-ui-v7-is-here.md
Labels: blog

#45683 v7.0.0
  CHANGELOG.md
  package.json
  packages-internal/scripts/package.json
  packages-internal/test-utils/package.json
  packages/markdown/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Labels: release

#45691 [docs] Fix Material Icons page in dark mode
  docs/data/material/components/material-icons/SearchIcons.js
Labels: bug 🐛, docs

#45692 [docs] Fix `Breadcrumbs`, `List`, `Divider`, and `Typography` dark mode demos
  docs/data/material/components/breadcrumbs/CustomizedBreadcrumbs.js
  docs/data/material/components/breadcrumbs/CustomizedBreadcrumbs.tsx
  docs/data/material/components/breadcrumbs/PageContainerBasic.js
  docs/data/material/components/breadcrumbs/PageContainerBasic.tsx
  docs/data/material/components/dividers/DividerText.js
  docs/data/material/components/dividers/DividerText.tsx
  docs/data/material/components/lists/InteractiveList.js
  docs/data/material/components/lists/InteractiveList.tsx
  docs/data/material/components/typography/TypographyTheme.js
  docs/data/material/components/typography/TypographyTheme.tsx
Labels: docs

#45694 [docs] Add "Material UI v7 is here" to the notifications
  docs/notifications.json
Labels: docs

#45688 [core] Improve the release instructions
  scripts/README.md
Labels: core

#45696 [docs] Fix Safari issue in dark mode
  docs/src/modules/components/Demo.js
Labels: bug 🐛, docs, browser: Safari

#45709 [docs] Rename GitHub icon import
  docs/data/material/getting-started/templates/blog/components/Footer.js
  docs/data/material/getting-started/templates/blog/components/Footer.tsx
  docs/data/material/getting-started/templates/marketing-page/components/Footer.js
  docs/data/material/getting-started/templates/marketing-page/components/Footer.tsx
Labels: docs

#45714 [material-ui][Fab] Fix default variant text color when using CSS vars
  packages/mui-material/src/Fab/Fab.js
Labels: component: Fab, package: material-ui

#45715 [docs] Fix joy templates error
  packages/mui-docs/src/NProgressBar/NProgressBar.js
Labels: docs, regression

#45718 [docs] Avoid unwanted undefined in page title
  docs/src/modules/components/AppLayoutDocs.js
Labels: docs

#45716 [docs] Update v7 related copy
  docs/data/material/getting-started/overview/overview.md
  docs/data/material/migration/upgrade-to-v6/migrating-to-pigment-css.md
  docs/src/pages/versions/versions.md
  examples/material-ui-cra-tailwind-ts/README.md
  examples/material-ui-cra-ts/README.md
  examples/material-ui-cra/README.md
  examples/material-ui-express-ssr/README.md
  examples/material-ui-gatsby/README.md
  examples/material-ui-nextjs-pages-router-ts/README.md
  examples/material-ui-nextjs-pages-router/README.md
  examples/material-ui-nextjs-ts-v4-v5-migration/README.md
  examples/material-ui-preact/README.md
  examples/material-ui-remix-ts/README.md
  examples/material-ui-vite-ts/README.md
  examples/material-ui-vite/README.md
Labels: docs

#45711 [core] Bring back individual icon dts
  packages/mui-icons-material/lib/esm/icon.d.ts
  packages/mui-icons-material/lib/esm/index.d.ts
  packages/mui-icons-material/lib/icon.d.ts
  packages/mui-icons-material/lib/index.d.ts
  packages/mui-icons-material/package.json
  packages/mui-icons-material/scripts/create-typings.mjs
  packages/mui-icons-material/src/icon.d.ts
  tsconfig.json
Labels: package: icons

#45721 [docs] Fix Masonry and Toolpad dark mode demos
  docs/data/material/components/breadcrumbs/PageContainerBasic.js
  docs/data/material/components/breadcrumbs/PageContainerBasic.tsx
  docs/data/material/components/masonry/BasicMasonry.js
  docs/data/material/components/masonry/BasicMasonry.tsx
  docs/data/material/components/masonry/FixedColumns.js
  docs/data/material/components/masonry/FixedColumns.tsx
  docs/data/material/components/masonry/FixedSpacing.js
  docs/data/material/components/masonry/FixedSpacing.tsx
  docs/data/material/components/masonry/ImageMasonry.js
  docs/data/material/components/masonry/ImageMasonry.tsx
  docs/data/material/components/masonry/MasonryWithVariableHeightItems.js
  docs/data/material/components/masonry/MasonryWithVariableHeightItems.tsx
  docs/data/material/components/masonry/ResponsiveColumns.js
  docs/data/material/components/masonry/ResponsiveColumns.tsx
  docs/data/material/components/masonry/ResponsiveSpacing.js
  docs/data/material/components/masonry/ResponsiveSpacing.tsx
  docs/data/material/components/masonry/SSRMasonry.js
  docs/data/material/components/masonry/SSRMasonry.tsx
  docs/data/material/components/masonry/Sequential.js
  docs/data/material/components/masonry/Sequential.tsx
Labels: docs, regression

#45045 [material-ui][Popover] Allow `null` in `anchorEl` function return type
  packages/mui-material/src/Popover/Popover.d.ts
  packages/mui-material/src/Popover/Popover.js
  packages/mui-material/src/Popover/Popover.spec.tsx
Labels: component: Popover, typescript, package: material-ui, v6.x, needs cherry-pick

#45621 [utils] Support cleanup callbacks in useForkRef
  packages/mui-utils/src/useForkRef/useForkRef.test.js
  packages/mui-utils/src/useForkRef/useForkRef.ts
Labels: package: utils, v6.x, needs cherry-pick, React 19 support

#45734 [material-ui][Autocomplete] Prevent shrink animation in controlled Autocomplete when initial `value` is provided
  packages/mui-material/src/useAutocomplete/useAutocomplete.js
  packages/mui-material/src/useAutocomplete/useAutocomplete.test.js
Labels: bug 🐛, component: autocomplete, v6.x, needs cherry-pick

#45736 [support-infra] Remove dead 'workflow_call:'
  .github/workflows/closed-issue-message.yml
Labels: core, scope: support-infra

#45763 [docs] Fix link to mui-joy/src/styles/components.d.ts
  docs/data/joy/customization/themed-components/themed-components.md
Labels: bug 🐛, docs, regression, package: joy-ui

#45758 [docs-infra] Non breaking space for ESM
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/mui-vale.zip
  docs/mui-vale/styles/MUI/CorrectReferenceAllCases.yml
  docs/pages/blog/material-ui-v4-is-out.md
  docs/pages/blog/material-ui-v7-is-here.md
Labels: blog, scope: docs-infra

#45760 [docs-infra] Fix layout shift between MIT and commercial pages
  docs/data/docs-infra/pages.ts
  docs/pages/_document.js
  docs/pages/experiments/docs/pro-feature.js
  docs/pages/experiments/docs/pro-feature.md
Labels: bug 🐛, docs, design, scope: docs-infra

#45762 [docs] Fix migration instructions
  docs/data/material/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/data/system/migration/migrating-to-v6/migrating-to-v6.md
  docs/data/system/migration/upgrade-to-v7/upgrade-to-v7.md
  docs/data/system/pages.ts
  docs/translations/translations.json
Labels: docs

#45768 [code-infra] Stabilize theme viewer screenshot tests
  test/regressions/vite.config.mts
Labels: scope: code-infra

#45769 [release] v6.4.10
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-utils/package.json
Labels: release
