Repository mui/material-ui, pull requests merged in 2025-07, with the labels that each got.

#46414 [docs] Change API docs to stay inside Material UI
  docs/public/_redirects
  packages/markdown/prepareMarkdown.mjs
  test/e2e-website/material-docs.spec.ts
Labels: docs

#46382 [infra] Add instructions for patch release
  scripts/README.md
Labels: scope: docs-infra, scope: code-infra

#46438 [core] Fix unpinned version regression
  .github/workflows/ci.yml
Labels: security, regression 🐛, scope: code-infra

#46466 [website] Add Sai chand to About us page under Community contributors
  docs/src/components/about/Team.tsx
Labels: website

#46482 [Switch] Add role="switch"
  docs/data/material/components/switches/switches.md
  packages/mui-material/src/Switch/Switch.js
  packages/mui-material/src/Switch/Switch.test.js
Labels: accessibility, component: switch

#46485 [docs][SpeedDial] Remove deprecated props from demos
  docs/data/material/components/speed-dial/BasicSpeedDial.js
  docs/data/material/components/speed-dial/BasicSpeedDial.tsx
  docs/data/material/components/speed-dial/BasicSpeedDial.tsx.preview
  docs/data/material/components/speed-dial/ControlledOpenSpeedDial.js
  docs/data/material/components/speed-dial/ControlledOpenSpeedDial.tsx
  docs/data/material/components/speed-dial/OpenIconSpeedDial.js
  docs/data/material/components/speed-dial/OpenIconSpeedDial.tsx
  docs/data/material/components/speed-dial/OpenIconSpeedDial.tsx.preview
  docs/data/material/components/speed-dial/PlaygroundSpeedDial.js
  docs/data/material/components/speed-dial/PlaygroundSpeedDial.tsx
  docs/data/material/components/speed-dial/SpeedDialTooltipOpen.js
  docs/data/material/components/speed-dial/SpeedDialTooltipOpen.tsx
  docs/data/material/components/speed-dial/speed-dial.md
Labels: docs, component: speed dial

#46431 6.5.0
  CHANGELOG.md
  package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material-nextjs/package.json
  packages/mui-material-pigment-css/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
Labels: release

#46494 [docs-infra] Handle white spaces and generate either TS or JS demo for llms files
  packages-internal/scripts/generate-llms-txt/src/processComponent.ts
  packages-internal/scripts/generate-llms-txt/test/processComponent.test.ts
Labels: scope: docs-infra

#46476 [docs] Clarify `createTheme` warning for future compatibility
  docs/data/material/customization/theming/theming.md
Labels: docs, customization: theme

#46475 [infra] Replace Argos script with code-infra CLI and update deps
  package.json
  pnpm-lock.yaml
  scripts/pushArgos.mjs
Labels: scope: code-infra

#46534 [core] Remove dead property from routes
  docs/src/route.ts
Labels: docs, core

#46538 [infra] Revert nx update
  package.json
  pnpm-lock.yaml
  renovate.json
Labels: scope: code-infra

#46546 [docs] Use fixed dates for stable CRUD dashboard screenshots
  docs/data/material/getting-started/templates/crud-dashboard/data/employees.js
  docs/data/material/getting-started/templates/crud-dashboard/data/employees.ts
Labels: docs

#46551 [code-infra] Accomodate build requirements from mui-x
  scripts/build.mjs
  scripts/copyFiles.mjs
Labels: scope: code-infra

#46539 [core] Add `@base-ui-components/*` to env info
  .codesandbox/ci.json
  packages/mui-envinfo/envinfo.js
  packages/mui-envinfo/package.json
  pnpm-lock.yaml
Labels: core

#46557 [docs] Improve MCP docs
  docs/data/material/getting-started/mcp/mcp.md
Labels: docs

#46563 [infra] Update scripts to delete publishConfig.directory
  packages/mui-codemod/package.json
  packages/mui-envinfo/package.json
  pnpm-lock.yaml
  scripts/copyFilesUtils.mjs
Labels: scope: code-infra

#46588 [infra] Use cpu option only in CI
  docs/nextConfigDocsInfra.js
  pnpm-lock.yaml
Labels: scope: code-infra

#45789 [Select] Implement pointer cancellation
  packages/mui-material/src/Select/Select.test.js
  packages/mui-material/src/Select/SelectInput.js
Labels: accessibility, component: select, package: material-ui

#46405 [codemod] Fix `v5.0.0/top-level-imports` codemod changing color imports
  packages/mui-codemod/src/v5.0.0/top-level-imports.js
  packages/mui-codemod/src/v5.0.0/top-level-imports.test/actual.js
  packages/mui-codemod/src/v5.0.0/top-level-imports.test/expected.js
Labels: bug 🐛, package: codemod, v5.x

#46620 [infra] Remove package.json `module` field
  docs/data/material/guides/minimizing-bundle-size/minimizing-bundle-size.md
  scripts/copyFilesUtils.mjs
Labels: scope: code-infra

#46619 [website] Open the Technical Recruiter role
  docs/pages/careers.tsx
  docs/pages/careers/technical-recruiter.js
  docs/pages/careers/technical-recruiter.md
Labels: website

#46625 [docs][Switch] Use `slotProps.input` instead of deprecated `inputProps` for accessible controlled switch
  docs/data/material/components/switches/ControlledSwitches.js
  docs/data/material/components/switches/ControlledSwitches.tsx
  docs/data/material/components/switches/ControlledSwitches.tsx.preview
Labels: docs, component: switch

#46558 [docs] Fix incorrect Typography override example for responsive styles
  docs/data/material/customization/typography/typography.md
Labels: docs, component: Typography
