Repository mui/material-ui, pull requests merged in 2025-10, with the labels that each got.

#47007 [material-ui] Fix `ThemeOptions` and `createTheme*` cyclic dependency
  packages/mui-material/src/styles/createTheme.ts
  packages/mui-material/src/styles/createThemeFoundation.ts
  packages/mui-material/src/styles/createThemeNoVars.d.ts
  packages/mui-material/src/styles/createThemeWithVars.d.ts
Labels: performance, typescript, type: enhancement, package: material-ui

#46897 [docs-infra] Sort package manager automatically
  packages/mui-docs/src/HighlightedCodeWithTabs/HighlightedCodeWithTabs.tsx
Labels: scope: docs-infra

#47014 Revert "[Tabs] Fix not scrolling to correct tab after refresh when auto scrollable (#46869)"
  packages/mui-material/src/Tabs/Tabs.js
  test/regressions/fixtures/Tabs/LTRHorizontalTabsAutoScrollable.js
  test/regressions/fixtures/Tabs/LTRVerticalTabsAutoScrollable.js
  test/regressions/fixtures/Tabs/RTLHorizontalTabsAutoScrollable.js
  test/regressions/fixtures/Tabs/RTLVerticalTabsAutoScrollable.js
Labels: scope: tabs

#47017 Release 7.3.4
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-material/package.json
  scripts/README.md
Labels: release

#47038 [docs][Snackbar] Fix typo in docs
  docs/data/material/components/snackbars/snackbars.md
Labels: docs, support: docs-feedback

#46955 [code-infra] Centralize stylelint
  docs/public/static/components-gallery/base-theme.css
  package.json
  pnpm-lock.yaml
  stylelint.config.mjs
Labels: scope: code-infra

#47043 [website] Fix website crashing on keyboard navigation
  docs/src/components/header/HeaderNavBar.tsx
Labels: website, type: regression
