Repository mui/material-ui, pull requests merged in 2025-06, with the labels that each got.

#46260 [Chip] Explicitly define line-height
  packages/mui-material/src/Chip/Chip.js
Labels: bug 🐛, component: chip

#46269 [material-ui][Backdrop] Fix handling of `component` prop
  packages/mui-material/src/Backdrop/Backdrop.js
  packages/mui-material/src/Backdrop/Backdrop.test.js
Labels: component: backdrop, regression 🐛

#46271 [docs] fix fade modal demo
  docs/data/joy/components/modal/FadeModalDialog.js
  docs/data/joy/components/modal/FadeModalDialog.tsx
Labels: docs

#46268 [docs] Add Testing section to Rating component doc
  docs/data/material/components/rating/rating.md
Labels: docs, component: rating

#46307 [docs][Dialog] Fix form dialog uses ARIA roles on incompatible elements
  docs/data/material/components/dialogs/FormDialog.js
  docs/data/material/components/dialogs/FormDialog.tsx
Labels: bug 🐛, docs, accessibility

#45975 [core] Support merging of className and style from theme
  docs/data/material/customization/theming/theming.md
  packages/mui-material/src/CardHeader/CardHeader.test.js
  packages/mui-material/src/styles/components.ts
  packages/mui-material/src/styles/createTheme.spec.ts
  packages/mui-system/src/DefaultPropsProvider/DefaultPropsProvider.tsx
  packages/mui-utils/src/resolveProps/resolveProps.test.ts
  packages/mui-utils/src/resolveProps/resolveProps.ts
Labels: new feature, on hold, package: material-ui, customization: theme

#46314 [docs][TextField] Removed type="number" demos
  docs/data/material/components/text-fields/FormPropsTextFields.js
  docs/data/material/components/text-fields/FormPropsTextFields.tsx
  docs/data/material/components/text-fields/text-fields.md
Labels: docs, component: text field

#46001 [system] Add `modularCssLayers` theme flag to split styles into multiple CSS layers
  docs/data/material/customization/css-layers/CssLayersCaveat.js
  docs/data/material/customization/css-layers/CssLayersCaveat.tsx
  docs/data/material/customization/css-layers/CssLayersInput.js
  docs/data/material/customization/css-layers/CssLayersInput.tsx
  docs/data/material/customization/css-layers/css-layers.md
  docs/data/material/pages.ts
  docs/pages/material-ui/customization/css-layers.js
  docs/translations/translations.json
  packages/mui-material-nextjs/src/v13-appRouter/appRouterV13.tsx
  packages/mui-material-nextjs/src/v13-pagesRouter/createCache.ts
  packages/mui-material/src/Breadcrumbs/BreadcrumbCollapsed.js
  packages/mui-material/src/NativeSelect/NativeSelectInput.js
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/Radio/RadioButtonIcon.js
  packages/mui-material/src/SwipeableDrawer/SwipeArea.js
  packages/mui-material/src/internal/SwitchBase.js
  packages/mui-material/src/styles/createThemeNoVars.d.ts
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.js
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.test.js
  packages/mui-system/src/GlobalStyles/GlobalStyles.tsx
  packages/mui-system/src/ThemeProvider/ThemeProvider.js
  packages/mui-system/src/ThemeProvider/useLayerOrder.test.tsx
  packages/mui-system/src/ThemeProvider/useLayerOrder.tsx
  packages/mui-system/src/createStyled/createStyled.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: new feature, package: system

#46329 [material-ui] Skip generating `modularCssLayers` CSS var
  packages/mui-material/src/styles/extendTheme.test.js
  packages/mui-material/src/styles/shouldSkipGeneratingVar.ts
Labels: package: material-ui

#46328 [material-ui][Dialog] Add codemod for deprecated props
  docs/data/material/migration/migrating-from-deprecated-apis/migrating-from-deprecated-apis.md
  packages/mui-codemod/README.md
  packages/mui-codemod/src/deprecations/all/deprecations-all.js
  packages/mui-codemod/src/deprecations/dialog-props/dialog-props.js
  packages/mui-codemod/src/deprecations/dialog-props/dialog-props.test.js
  packages/mui-codemod/src/deprecations/dialog-props/index.js
  packages/mui-codemod/src/deprecations/dialog-props/test-cases/actual.js
  packages/mui-codemod/src/deprecations/dialog-props/test-cases/expected.js
  packages/mui-codemod/src/deprecations/dialog-props/test-cases/package.actual.js
  packages/mui-codemod/src/deprecations/dialog-props/test-cases/package.expected.js
  packages/mui-codemod/src/deprecations/dialog-props/test-cases/theme.actual.js
  packages/mui-codemod/src/deprecations/dialog-props/test-cases/theme.expected.js
Labels: docs, component: dialog, deprecation, package: codemod, v6.x, needs cherry-pick

#46302 [docs] Update InitColorSchemeScript options to match colorSchemeSelector
  docs/data/material/components/init-color-scheme-script/init-color-scheme-script.md
Labels: docs

#46367 [infra] Create update PR on every canary publish for internal packages
  renovate.json
Labels: scope: infra

#46311 [toolpad][docs][website] Remove references to Toolpad
  docs/data/material/components/app-bar/DashboardLayoutBasic.js
  docs/data/material/components/app-bar/DashboardLayoutBasic.tsx
  docs/data/material/components/app-bar/app-bar.md
  docs/data/material/components/breadcrumbs/PageContainerBasic.js
  docs/data/material/components/breadcrumbs/PageContainerBasic.tsx
  docs/data/material/components/breadcrumbs/breadcrumbs.md
  docs/data/material/components/container/container.md
  docs/data/material/components/dialogs/ToolpadDialogsNoSnap.js
  docs/data/material/components/dialogs/ToolpadDialogsNoSnap.tsx
  docs/data/material/components/dialogs/ToolpadDialogsNoSnap.tsx.preview
  docs/data/material/components/dialogs/dialogs.md
  docs/data/material/components/drawers/drawers.md
  docs/data/material/components/snackbars/ToolpadNotificationsNoSnap.js
  docs/data/material/components/snackbars/ToolpadNotificationsNoSnap.tsx
  docs/data/material/components/snackbars/ToolpadNotificationsNoSnap.tsx.preview
  docs/data/material/components/snackbars/snackbars.md
  docs/data/material/pages.ts
Labels: docs, website, Toolpad

#46377 [l10] Enable `labelDisplayedRows` translation for Romanian
  packages/mui-material/src/locale/index.ts
Labels: l10n

#46380 Fix root package.json version
  package.json
  pnpm-lock.yaml
Labels: release

#46283 [material-nextjs][system] Backport CSS layers to v6
  docs/data/material/customization/css-layers/CssLayersCaveat.js
  docs/data/material/customization/css-layers/CssLayersCaveat.tsx
  docs/data/material/customization/css-layers/CssLayersInput.js
  docs/data/material/customization/css-layers/CssLayersInput.tsx
  docs/data/material/customization/css-layers/css-layers.md
  docs/data/material/integrations/nextjs/nextjs.md
  docs/data/material/pages.ts
  docs/pages/material-ui/customization/css-layers.js
  docs/translations/translations.json
  packages/mui-material-nextjs/src/v13-appRouter/appRouterV13.tsx
  packages/mui-material-nextjs/src/v13-pagesRouter/createCache.ts
  packages/mui-material-nextjs/src/v13-pagesRouter/index.ts
  packages/mui-material-nextjs/src/v13-pagesRouter/pagesRouterV13Document.tsx
  packages/mui-material/src/Breadcrumbs/BreadcrumbCollapsed.js
  packages/mui-material/src/NativeSelect/NativeSelectInput.js
  packages/mui-material/src/OutlinedInput/NotchedOutline.js
  packages/mui-material/src/Radio/RadioButtonIcon.js
  packages/mui-material/src/SwipeableDrawer/SwipeArea.js
  packages/mui-material/src/internal/SwitchBase.js
  packages/mui-material/src/styles/createThemeNoVars.d.ts
  packages/mui-material/src/styles/extendTheme.test.js
  packages/mui-material/src/styles/shouldSkipGeneratingVar.ts
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.js
  packages/mui-styled-engine/src/StyledEngineProvider/StyledEngineProvider.test.js
  packages/mui-system/src/GlobalStyles/GlobalStyles.tsx
  packages/mui-system/src/ThemeProvider/ThemeProvider.js
  packages/mui-system/src/ThemeProvider/useLayerOrder.test.tsx
  packages/mui-system/src/ThemeProvider/useLayerOrder.tsx
  packages/mui-system/src/createStyled/createStyled.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.js
  packages/mui-system/src/styleFunctionSx/styleFunctionSx.test.js
Labels: new feature, package: system, v6.x, nextjs, cherry-pick

#46231 [website] Fix pricing page content
  docs/src/components/pricing/PricingTable.tsx
Labels: website, enhancement

#46425 [infra] Support project-specific changelog in build scripts
  scripts/copyFiles.mjs
Labels: scope: code-infra

#46435 Merge `v7.1.2`
  CHANGELOG.md
  package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-lab/package.json
  packages/mui-material/package.json
Labels: core
